#-suggestion-wrapper {
	position:absolute;
	padding:0px;
	z-index:90;
}

#-suggestion-wrapper.hide {
	display:none;
}

#-suggestion-wrapper.show {
}


#-suggestion-triangle {
        height:18px;
	z-index:10;
	position:relative;
	top:1px;
}

#-suggestion-title {
	color:#fff;
}

#-suggestion-title p {
	text-align:center;
	color:white;
	margin:0px;	
        padding:10px;
	font-size:14px;
        font-weight:bold;
}


#-suggestion-panel-wrapper2 {
	z-index:200;
   	padding:0px;
}

#-suggestion-table {
	width:100%;
	font-size:14px;
	font-weight:normal;
	padding:0px;
    	background-color:white;
	color:black;
	border:2px solid #ccc;
        -webkit-border-radius:5px;
	-webkit-box-shadow: 5px 5px 10px #888;
        list-style-type: none;
        padding-left: 1px;
         margin-left: 0px;
         height:90%;
}

#-suggestion-table ul {
  list-style-type: none;
  padding-left: 1px;
  width:100%;
}

#-suggestion-table li:hover {
  background-color:#efefef;
  width:100%; 
  padding:0px;
  font-weight:normal;
        color:black;
}

#-suggestion-table li {
        background-color:white;
	font-weight:normal;
        color:black;
        border-top:1px solid #cccccc;
	padding:0px;
        width:100%;
}

#-suggestion-table li:first-child {
        border-top: 0;
}

.subText {
  display: block;
  font-size: 10px;
  padding:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: hidden;
  width:100%;
  white-space: nowrap;
}
