# RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(*,)/(\w*)\.(gif|jpg|jpeg|png|bmp)$ $1/00missing.png
# RewriteRule PatientFolder(.*)\.(gif|png)$ PatientFolderUnknown.gif  [END]
# RewriteRule \.(gif|jpg|jpeg|png|bmp)$ OutpatientStatus5.gif 
