<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="svha">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
%START.OF.PAGE
var SuprChkChkAnaes=false;
function ChkAnaes(){
   if((!isWhitespace(UpdateForm.opdea022.value)) &&
      (isWhitespace(UpdateForm.opdea021.value))) {
      return;
   }
   if(SuprChkChkAnaes==true) {
     return;
   }
   if(!isWhitespace(UpdateForm.opdea022.value)) {
   AnaesP= UpdateForm.opdea021.value.replace(/:/g,"");
   AnaesC= UpdateForm.opdea022.value.replace(/:/g,"");
   if(AnaesC < AnaesP) {
     if(document.UpdateForm.suprlevl.value != "S") {
        alert("Anaesthesia Start Time should be greater than Anaesthetic" +
              " Prep.");
        UpdateForm.opdea022.value="";
        FocusDelay(UpdateForm.opdea022);
        return;
     }
     if(confirm("Anaesthesia Start Time should be greater than Anaesthetic Prep"+
       "\nDo you want to override?")) {
       SuprChkChkAnaes=true;
      return;
      }
      UpdateForm.opdea022.value="";
      FocusDelay(UpdateForm.opdea022);
     }
   }
}
var SuprChkChkAnaSrgStart=false;
function ChkAnaSrgStart() {
  if(!isWhitespace(UpdateForm.opdea022.value) &&
   !isWhitespace(UpdateForm.opard061.value)) {
   if(SuprChkChkAnaSrgStart==true) {
     return;
   }
   AnaesTo= UpdateForm.opard061.value.replace(/:/g,"");
   AnaesST= UpdateForm.opdea022.value.replace(/:/g,"");
   if( AnaesTo > AnaesST) {
     if(document.UpdateForm.suprlevl.value != "S") {
       alert("Anaesthesia Start should be greater than Anaesthetic Time Out.");
       UpdateForm.opdea022.value="";
       FocusDelay(UpdateForm.opdea022);
       return;
     }
     if(confirm("Anaesthesia Start should be greater than Anaesthetic Time Out."
       + "\nDo you want to override?")) {
       SuprChkChkAnaSrgStart=true;
       return;
     }
     UpdateForm.opdea022.value="";
     FocusDelay(UpdateForm.opard061);
     return;
    }
   }
   if((isWhitespace(UpdateForm.opdea022.value)) ||
    (isWhitespace(UpdateForm.d_opsrg005.value))) {
      return;
   }
   AnaesC= UpdateForm.opdea022.value.replace(/:/g,"");
   SurgStrt= UpdateForm.d_opsrg005.value.replace(/:/g,"");
   if(SurgStrt < AnaesC) {
      if(document.UpdateForm.suprlevl.value != "S") {
        alert("Anaesthesia Start Time should be less than Surgery Start Time " +
               UpdateForm.d_opsrg005.value);
      UpdateForm.opdea022.value="";
        FocusDelay(UpdateForm.opdea022);
        return;
      }
      if(confirm("Anaesthesia Start Time should be less than Surgery Start " +
       "Time " + UpdateForm.d_opsrg005.value + "\nDo you want to override?")) {
        SuprChkChkAnaSrgStart=true;
        return;
      }
      UpdateForm.opdea022.value="";
      FocusDelay(UpdateForm.opdea022);
      return;
   }
}
var SuprChkChkTimeOut=false;
function ChkTimeOut() {
  if(!isWhitespace(UpdateForm.opdea021.value) &&
   !isWhitespace(UpdateForm.opard061.value)) {
   if(SuprChkChkTimeOut==true) {
     return;
   }
   AnaesTo= UpdateForm.opard061.value.replace(/:/g,"");
   AnaesP= UpdateForm.opdea021.value.replace(/:/g,"");
   if( AnaesTo < AnaesP) {
      if(document.UpdateForm.suprlevl.value != "S") {
         alert("Anaesthetic Time Out should be greater than Anaesthetic Prep.");
         UpdateForm.opard061.value="";
         FocusDelay(UpdateForm.opard061);
         return;
      }
      if(confirm("Anaesthetic Time Out should be greater than Anaesthetic Prep."
        + "\nDo you want to override?")) {
        SuprChkChkTimeOut=true;
        return;
      }
      UpdateForm.opard061.value="";
      FocusDelay(UpdateForm.opard061);
      return;
     }
  }
  if(!isWhitespace(UpdateForm.opdea022.value) &&
   !isWhitespace(UpdateForm.opard061.value)) {
   AnaesTo= UpdateForm.opard061.value.replace(/:/g,"");
   AnaesST= UpdateForm.opdea022.value.replace(/:/g,"");
   if( AnaesTo > AnaesST) {
      if(document.UpdateForm.suprlevl.value != "S") {
         alert("Anaesthetic Time Out should be less than Anaesthesia Start.");
         UpdateForm.opard061.value="";
         FocusDelay(UpdateForm.opard061);
         return;
      }
      if(confirm("Anaesthetic Time Out should be less than Anaesthesia Start."
        + "\nDo you want to override?")) {
        SuprChkChkTimeOut=true;
        return;
      }
      UpdateForm.opard061.value="";
      FocusDelay(UpdateForm.opard061);
      return;
     }
  }
}
var SuprChkPrep=false;
function ChkPrep() {
  if(isWhitespace(UpdateForm.opdea021.value)) {
    return;
  }
  if(SuprChkPrep==true) {
    return;
  }
  ArrivT= UpdateForm.opard002.value.replace(/:/g,"");
  AnaesP= UpdateForm.opdea021.value.replace(/:/g,"");
  if(AnaesP < ArrivT) {
    if(document.UpdateForm.suprlevl.value != "S") {
       alert("Anaesthetic Prep should be greater than Arrival Time.");
       UpdateForm.opdea021.value="";
       FocusDelay(UpdateForm.opdea021);
       return;
    }
    if(confirm("Anaesthetic Prep should be greater than Arrival Time "
     + "\nDo you want to override?")) {
      SuprChkPrep=true;
      return;
    }
    UpdateForm.opdea021.value="";
    FocusDelay(UpdateForm.opdea021);
    return;
  }
  if(!isWhitespace(UpdateForm.opard061.value)) {
    AnaesTO= UpdateForm.opard061.value.replace(/:/g,"");
    if(AnaesP > AnaesTO) {
      if(document.UpdateForm.suprlevl.value != "S") {
         alert("Anaesthetic Prep can't be greater than Anaesthetic Time Out.");
         UpdateForm.opdea021.value="";
         FocusDelay(UpdateForm.opdea021);
         return;
      }
      if(confirm("Anaesthetic Prep can't be greate than Anaesthetic Time Out."
       + "\nDo you want to override?")) {
        SuprChkPrep=true;
        return;
      }
      UpdateForm.opdea021.value="";
      FocusDelay(UpdateForm.opdea021);
      return;
    }
  }
}
function ChkArrv() {
if(isWhitespace(UpdateForm.opard002.value)) {
   alert("Arrival Details Missing");
   DFrameExit();
  }
if(!isWhitespace(UpdateForm.opdea022.value)) {
 //   Bug no SV47
 //   UpdateForm.opard045.className="Mandatory";
  }
}
function SetValue(){
UpdateForm.opard041.value=UpdateForm.opdea021.value;     
UpdateForm.opard042.value=UpdateForm.opdea022.value;
UpdateForm.opard044.value=UpdateForm.opdea009.value;

if(validateMandatory(UpdateForm)){
   UpdateForm.submit();
}
}
function ManASA() {
if(!isWhitespace(UpdateForm.opdea022.value)) {
 //   Bug no SV47
//UpdateForm.opard045.className="Mandatory";
}}
</script>
<script>
function TimeCheck(){

  var fieldElement;
  var theatreDate = "%OPRWEB01.04.301".slice(3,8);
  var fieldName = "timecheck%STANDARD.01.044.113.064.002".replace(" ", "0");

  try{
    if(!this.event.srcElement.value){
      return;
    }
    if(this.event.srcElement.id!=fieldName){
      return;
    }
    if(!Get("discdate").value){
      return;
    }
    fieldElement = Get(fieldName);
    var dateArray = Get("discdate").value.split(" ");
    var monthNumber = new Date(Date.parse(dateArray[1] +" 1, 2012")).getMonth()+1;
    var monthString = monthNumber<10? "0" + monthNumber : "" + monthNumber
    var dDate = dateArray[2] + monthString + dateArray[0];
    if(theatreDate + fieldElement.value > dDate+Get("disctime").value){
       alert(fieldElement.title + " cannot be after the discharge date."+
             "\nDo you want to override?");
       fieldElement.value = "";
       fieldElement.focus();
    }
  }catch(e){}
}
function Get(el) { 
  return document.getElementById(el);
}
function ValidateStartTime(Field) {
  if (!isWhitespace(Field.value)) {
    document.UpdateForm.opard061.className = "Mandatory";
  }
  else {
    document.UpdateForm.opard061.className = "";
  }
}
</script>
</head>
<body onload="PageLoad(event);ChkArrv();ValidateStartTime(UpdateForm.opard061);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Theatre Case Anaesthetic Details
</span>

<form name=UpdateForm method=post action=oprweb01.pbl style="margin:0"
 onsubmit='return validateMandatory(this);'>
<input type=hidden name=reportno id=reportno value=5>
<input type=hidden name=template id=template value=1>
<input type=hidden name=updatedb id=updatedb value="1">
<input type=hidden name=urnumber id=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno id=admissno value="%OPRWEB01.04.081">
<input type=hidden name=casekeys id=casekeys value="%OPRWEB01.04.101">
<input type=hidden name=opsedate id=opsedate value="%OPRWEB01.04.302">
<input type=hidden name=currdate id=currdate value="%STANDARD.01.013">
<input type=hidden name=currtime id=currtime>
<input type=hidden name=opard041 id=opard041>
<input type=hidden name=opard042 id=opard042> 
<input type=hidden name=opard044 id=opard044>
<input type=hidden name=prepasec id=prepasec value=0>
<input type=hidden name=commesec id=commesec value=0>
<input type=hidden name=opard002 id=opard002 value="%OPRWEB01.04.402">
<input type=hidden name=discdate id=discdate value="%OPRWEB01.04.629">
<input type=hidden name=disctime id=disctime value="%OPRWEB01.04.630">
<input type=hidden name="suprlevl" id="suprlevl" value="%OPRWEB01.04.654">
<input type=hidden name="d_opsrg005" id="d_opsrg005" value="%OPRWEB01.04.705">

<table border="0" cellpadding="2" cellspacing="0" width="95%" align=center>
<tr><td class=DataLabel nowrap>Anaesthetic Prep Commenced</td>
    <td class=DataField>
      <input type=text name=opdea021 id=opdea021 value="%OPRWEB01.04.441"
       size=8 title="Anaesthetic Prep Commenced"
       onblur="checkTime(this,this.title);ChkPrep();
       CheckFutureTime(UpdateForm,document.UpdateForm.opsedate.value,opdea021);TimeCheck()">
      <img src="../images/DateTimeStamp.gif" class=Icon
       onclick="SetCurrentDateTime(null,opdea021);">
      <img src="../images/TimeLookup.gif" class=Icon
       onclick="TimeLookupFrame(opdea021);"></td>
    </tr>

<tr><td class=DataLabel nowrap>Anaesthetic Time Out</td>
    <td class=DataField><input type=text name=opard061 id=opard061
       size=8 maxlength=8 title="Anaesthetic Time Out" value="%OPRWEB01.04.461" 
       onblur="checkTime(this,this.title);ChkTimeOut();">
      <img src="../images/DateTimeStamp.gif" class=Icon
       onclick="SetCurrentDateTime(null,opard061);">
      <img src="../images/TimeLookup.gif" class=Icon
       onclick="TimeLookupFrame(opard061);"></td></tr>

<tr><td class=DataLabel>Anaesthesia Start Time</td>
    <td class=DataField>
      <input type=text name=opdea022 id=opdea022 value="%OPRWEB01.04.442"
       size=8 title="Anaesthesia Start Time"
       onblur="checkTime(this,this.title);ChkAnaes();ManASA();
       CheckFutureTime(UpdateForm,document.UpdateForm.opsedate.value,opdea022);
       TimeCheck();ValidateStartTime(this);ChkAnaSrgStart(this);">
      <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(null,opdea022);">
      <img src="../images/TimeLookup.gif" class=Icon
      onclick="TimeLookupFrame(opdea022);"></td></tr>

<tr><td class=DataLabel>Anaesthetic Type</td>
    <td class=DataField>
    <select name=opdea003 id=opdea003 title="Anaesthetic Type" >
    <option></option>
      %OPRWEB01.04.113.2
    </select></td>

    <td class=DataLabel>Intubated</td>
    <td class=DataField>
    <select name=opdea009 id=opdea009 title="Intubated">
    <option></option>
    %OPRWEB01.04.119.2
    </select>
    </td></tr>

<tr><td class=DataLabel>ASA Score</td>
    <td class=DataField>
    <select name=opard045 id=opard045 title="ASA Score">
    <option></option>
      %OPRWEB01.04.445.2
    </select></td></tr>

<tr valign=top><td class=DataLabel>Preadmission and<br> Operation Notes
    <td colspan=3>
      <textarea wrap=hard cols=50 rows=5 name=opcom002 
       id=opcom002>%OPRWEB01.04.143.002</textarea>
<a href='javascript:LookupPage(null,UpdateForm.opcom002,"Lookup_00100000_000")'>
<img src="../images/LookupIcon.gif" border=0></a>
    </td></tr>

<tr><td colspan=4 align=center>
    <input class="button" type=button id="opr01sub" value="Update" 
     onclick="tempDisable(this);SetValue();">
    <input class="button" type=button value="Cancel" onclick="DFrameClose();">
    </td></tr>
</table>
</form>

<form name=PatientLinks id=PatientLinks method=get>
<input type=hidden name=reportno id=reportno value=1>
<input type=hidden name=template id=template value=004>
<input type=hidden name=urnumber id=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno id=admissno value="%OPRWEB01.04.081">
<input type=hidden name=casekeys id=casekeys value="%OPRWEB01.04.101">
<input type=hidden name=MenuType id=MenuType value="%OPRWEB01.04.088">
<input type=hidden name=opdeb001 id=opdeb001>
</form>
