<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="svha">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/oprweb06.js"> </script>
<script type="text/javascript">
  function init() {
  if(!isWhitespace(UpdateForm.tournote.value)) {
  UpdateForm.optqt001.value=UpdateForm.tournote.value }
  }
  function valCode(field){
   if(isWhitespace(field.value))
     return;
   serverURL="patweb80.pbl?reportno=23&valdcode="+field.value;
  ReturnValue=RSExecute(serverURL);
  if (ReturnValue.status!=0){
     field.select();  
   }
  }
  function checkChar(field) {
    field.value = field.value.replace(/ /g,"");
    field.value = field.value.toUpperCase();
    if(field.value != 'A' && field.value != 'B' && field.value != 'C' && +
       field.value != "") {
      alert(field.title+" must be 'A' or 'B' or 'C'");
      field.focus();
    }
  }
  function UpdateData() {
    UpdateForm.updatety.value = "U";
    UpdateForm.submit();
  }
  function CloseScreen() {
    UpdateForm.updatety.value = "C";
    UpdateForm.submit();
  }
  function chkErr(fieldCode) {
    errCode = UpdateForm.errcode.value;
    if (errCode == "1") {
      UpdateForm.errcode.value = "0";
      fieldCode.select();
    }
  }
  function CheckTourniquetApplied(field) {
    if(field.value.replace(/ /g,"") != "") {
      alert("Can't add Tourniquet before removing Last Tourniquet");
      UpdateForm.tosubmit.value="0"
      field.focus()
    } 
    else UpdateForm.tosubmit.value="1";
  }
  function CheckTourniquetRemoved(field,field1) {
    if(isEmpty(field.value)){
      alert("Applied time must be entered first");
      UpdateForm.tosubmit.value="0"
      field.focus()
    } else {
      UpdateForm.tosubmit.value="1"
    }
  }
function SubmitFormOnLookup(field,field1,ttype,tcounter) {
 if (field==UpdateForm.othrappl) {
     if(isWhitespace(UpdateForm.optqt001.value)) {
        alert("Tourniquet Text to be entered first")
        field.value=""
        return;
        }
     }
 if (UpdateForm.tosubmit.value=="1") {
   var tourtime=trim(field.value.replace(/:/g,""));
   if (ChkAnaes(tourtime)) {
      if (field1.value!="" && !CheckAfter(field1,field)) {
        return;
      }
      UpdateForm.recordty.value=ttype;
      UpdateForm.rcounter.value=tcounter.value
      ClearSubmit(field);
      }
   else field.value="";
   }
}
function SubmitForm(tcounter) {
   UpdateForm.recordty.value="5";
   UpdateForm.rcounter.value=tcounter.value
   ClearSubmit(UpdateForm.optqt001);
}
function ClearSubmit(field) {  
   ClearTourniquet(field,UpdateForm.rlegappl);
   ClearTourniquet(field,UpdateForm.rlegremv);
   ClearTourniquet(field,UpdateForm.llegappl);
   ClearTourniquet(field,UpdateForm.llegremv);
   ClearTourniquet(field,UpdateForm.rarmappl);
   ClearTourniquet(field,UpdateForm.rarmremv);
   ClearTourniquet(field,UpdateForm.larmappl);
   ClearTourniquet(field,UpdateForm.larmremv);
   ClearTourniquet(field,UpdateForm.othrappl);
   ClearTourniquet(field,UpdateForm.othrremv);
   UpdateForm.updatety.value="T";
   UpdateForm.nextpage.value="0";
   UpdateForm.target="PopUpFrame";
   UpdateForm.submit(); 
  }
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 Other Theatre Details
</span>
<form name=UpdateForm method=post action=oprweb06.pbl style="margin:0">
<input type=hidden name=reportno value=8>
<input type=hidden name=template value=001>
<input type=hidden name=updatety value=" ">
<input type=hidden name=casekeys value="%OPRWEB06.08.101">
<input type=hidden name=uniqueky value='%OPRWEB06.08.110'>
<input type=hidden name=teamnumb value="%OPRWEB06.08.202">
<input type=hidden name=recordty value="">
<input type=hidden name=rcounter value="">
<input type=hidden name=nextpage value="0">
<input type=hidden name=errcode  value="0">
<input type=hidden name=tosubmit value="0">
<input type=hidden name=anaestim value="%OPRWEB06.08.318">
<input type=hidden name=tournote value="%OPRWEB06.08.319">
<input type="hidden" name="suprlevl" value='%OPRWEB06.08.323'>
    
<table border="0" cellpadding="1" cellspacing="0" width="100%" align=center>
<tr valign=top><td width=40%>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td colspan=2>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
    <td class=HeadingCell>Tourniquet</td>
    <td class=HeadingCell>Cnt</td>
    <td class=HeadingCell>Applied</td>
    <td class=HeadingCell>Removed</td></tr>

<tr><td class=DataLabel>Right Leg</td>
    <td><input type=text size=3 name=rcounter1 id=rcounter1 Readonly tabindex=-1
         style=border:0;background:paper.gif; value="%OPRWEB06.08.306"></td>
    <td><input type=text size=8 name=rlegappl id=rlegappl 
         value="%OPRWEB06.08.310" readonly class=ReadOnly tabindex=-1
         onblur="SubmitFormOnLookup(this,rlegremv,'1',rcounter1)">
    <img src="../images/DateTimeStamp.gif" onclick="SubForm11()" class=Icon>
    <a href='javascript:TimeLookupFrame2(UpdateForm.rlegappl)'
     onFocus="CheckTourniquetApplied(rlegappl)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td>
    <td><input type=text size=8 name=rlegremv id=rlegremv value="" 
        readonly class=ReadOnly tabindex=-1
        onblur="SubmitFormOnLookup(this,rlegappl,'1',rcounter1)"> 
    <img src="../images/DateTimeStamp.gif"  onclick="SubForm12();" class=Icon>
    <a href='javascript:TimeLookupFrame2(UpdateForm.rlegremv)'
     onFocus="CheckTourniquetRemoved(rlegappl,rlegremv)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td></tr>
<tr><td class=DataLabel>Left Leg</td>
    <td><input type=text size=3 name=rcounter2 id=rcounter2 Readonly 
         class=Readonly tabindex=-1 style=border:0;background:paper.gif; 
         value="%OPRWEB06.08.307"></td>
    <td><input type=text size=8 Readonly class=Readonly tabindex=-1
         name=llegappl id=llegappl value="%OPRWEB06.08.312"
         onblur="SubmitFormOnLookup(this,llegremv,'2',rcounter2)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm21();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.llegappl)'                  
     onFocus="CheckTourniquetApplied(llegappl)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td>
    <td><input type=text size=8 name=llegremv id=llegremv value="" 
        Readonly class=Readonly tabindex=-1
        onblur="SubmitFormOnLookup(this,llegappl,'2',rcounter2)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm22();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.llegremv)'                  
     onFocus="CheckTourniquetRemoved(llegappl,llegremv)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td></tr>
<tr><td class=DataLabel >Right Arm</td>
    <td><input type=text size=3 name=rcounter3 id=rcounter3 Readonly 
         class=readonly tabindex=-1 style=border:0;background:paper.gif; 
         value="%OPRWEB06.08.308"></td>
    <td><input type=text size=8 name=rarmappl id=rarmappl 
         value="%OPRWEB06.08.314" Readonly class=readonly tabindex=-1
         onblur="SubmitFormOnLookup(this,rarmremv,'3',rcounter3)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm31();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.rarmappl)'                  
     onFocus="CheckTourniquetApplied(rarmappl)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td>
<td><input type=text size=8 name=rarmremv id=rarmremv value="" 
         Readonly class=Readonly tabindex=-1
         onblur="SubmitFormOnLookup(this,rarmappl,'3',rcounter3)">
      <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm32();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.rarmremv)'                  
     onFocus="CheckTourniquetRemoved(rarmappl,rarmremv)" tabindex=-1>
      <img src=../images/TimeLookup.gif class=Icon>
    </a></td></tr>

<tr><td class=DataLabel >Left Arm</td>
    <td><input type=text size=3 name=rcounter4 id=rcounter4 Readonly 
         class=Readonly tabindex=-1 style=border:0;background:paper.gif; 
         value="%OPRWEB06.08.309"></td>
    <td><input type=text size=8 name=larmappl id=larmappl 
         value="%OPRWEB06.08.316" Readonly class=Readonly tabindex=-1
          onblur="SubmitFormOnLookup(this,larmremv,'4',rcounter4)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm41();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.larmappl)'
     onFocus="CheckTourniquetApplied(larmappl)" tabindex=-1>
      <img src=../images/TimeLookup.gif class=Icon>
     </a>
    </td><td><input type=text size=8 name=larmremv id=larmremv value="" 
          Readonly class=Readonly tabindex=-1
          onblur="SubmitFormOnLookup(this,larmappl,'4',rcounter4)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm42();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.larmremv)'
     onFocus="CheckTourniquetRemoved(larmappl,larmremv)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a>
    </td></tr>
<tr><td><input type=text name=optqt001 id=optqt001 maxlength=10 
         title="Tourniquet Description" onchange="SubmitForm(rcounter5);"</td>
    <td><input type=text size=3 name=rcounter5 id=rcounter5 Readonly 
         class=Readonly tabindex=-1 style=border:0;background:paper.gif; 
         value="%OPRWEB06.08.320"></td>
    <td><input type=text size=8 name=othrappl id=othrappl 
         value="%OPRWEB06.08.321" Readonly class=Readonly tabindex=-1
          onblur="SubmitFormOnLookup(this,othrremv,'5',rcounter5)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm51();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.othrappl)'
     onFocus="CheckTourniquetApplied(othrappl)" tabindex=-1>
      <img src=../images/TimeLookup.gif class=Icon>
     </a></td>
    <td><input type=text size=8 name=othrremv id=othrremv value=""
          Readonly class=Readonly tabindex=-1
          onblur="SubmitFormOnLookup(this,othrappl,'5',rcounter5)">
    <img src="../images/DateTimeStamp.gif" class=Icon onclick="SubForm52();">
    <a href='javascript:TimeLookupFrame2(UpdateForm.othrremv)'
     onFocus="CheckTourniquetRemoved(othrappl,othrremv)" tabindex=-1>
    <img src=../images/TimeLookup.gif class=Icon>
    </a></td></tr>
</table>
</td></tr>

<tr><td colspan=2><hr></td></tr>

<tr><td colspan=2>
   <table border="0" cellpadding="0" cellspacing="0" width="100%" align=center>

<tr><td class="DataLabel">Diathermy</td>
    <td><select name=opsrg053 id=opsrg053 class=SelectMed>
            <option></option>
            %OPRWEB06.08.253.2
            </select> </td>
    <td class="DataLabel" align="right">Number&nbsp;</td>
    <td ><input type=text name=opsrg020 id=opsrg020 size=16
        maxlength=15 title="Number" value="%OPRWEB06.08.220.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);"   >
        <input type=text readonly name=name_opsrg020 id=name_opsrg020 
         class="Readonly" title="Number" size=25 value="%OPRWEB06.08.220.0" 
         tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg020,name_opsrg020,1);"></td>
    <td class="DataLabel" align="right">Plate Site&nbsp;</td>
    <td><input type=text name=opsrg021 id=opsrg021 maxlength=20
        title="Plate Site" value="%OPRWEB06.08.221"></td>

<tr><td class="DataLabel">Diathermy</td>
    <td><select name=opsrg054 id=opsrg054 class=SelectMed >
            <option></option>
            %OPRWEB06.08.254.2
            </select></td>
    <td class="DataLabel" align="right">Number&nbsp;</td>
    <td><input type=text name=opsrg026 id=opsrg026 size=16 title="Number"
           maxlength=15 value="%OPRWEB06.08.226.1" 
           onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);"   >
        <input type=text readonly name=name_opsrg026 id=name_opsrg026 
         class="Readonly" title="Number" size=25 value="%OPRWEB06.08.226.0" 
         tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg026,name_opsrg026,1);"></td>
    <td class="DataLabel" align="right">Plate Site&nbsp;</td>
    <td><input type=text name=opsrg027 id=opsrg027 class="DataField" maxlength=20
           title="Plate Site" value="%OPRWEB06.08.227">

<tr><td class="DataLabel">Specimens Micro.</td>
    <td><input type=text name=opsrg047 id=opsrg047 class="DataField" size=2
        maxlength=2 title="Specimens Microbiology"
        value="%OPRWEB06.08.247"></td>
    <td class="DataLabel" align="right" >Anatom. Path&nbsp;</td>
    <td><input type=text name=opsrg048 id=opsrg048 class="DataField" size=2
        maxlength=2 title="Specimens Anatomical Pathology"
        value="%OPRWEB06.08.248"></td>
    <td class="DataLabel" align="right">Other&nbsp;</td>
    <td><input type=text name=opsrg049 id=opsrg049 class="DataField" maxlength=37
        title="Other" value="%OPRWEB06.08.249"></td></tr>
<tr><td class="DataLabel">Calf Stimulator </td>
    <td><input type=text name=opsrg045 id=opsrg045 class="DataField" size=2
        maxlength=2 title="Specimens Microbiology"
        value="%OPRWEB06.08.245"></td></tr>
    </table>
    </td></tr>

<tr><td colspan=2><hr></td></tr>

<tr><td colspan=2>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align=center>
<tr><td class="DataLabel" width=15%>Drain Tube 1</td>
    <td width=45%><input type=text name=opsrg032 id=opsrg032 class="DataField" 
        size=16 title="Drain Tube Code1" maxlength=15 value="%OPRWEB06.08.232.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);">
        <input type=text readonly name=name_opsrg032 id=name_opsrg032 
         class="Readonly" title="Drain Tube 1" size=25 
         value="%OPRWEB06.08.232.0" tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg032,name_opsrg032,0);"></td>
    <td class="DataLabel" width=15%>No. Drain Tube 1</td>
    <td><input type=text name=opsrg090 id=opsrg090 size=6 maxlength=6 
         title="No. Drain Tube 1" value="%OPRWEB06.08.290" ></td></tr>

<tr><td class="DataLabel" width=15%>Drain Tube 2</td>
    <td><input type=text name=opsrg033 id=opsrg033 class="DataField" size=16
        title="Drain Tube Code2" maxlength=15 value="%OPRWEB06.08.233.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);">
        <input type=text readonly name=name_opsrg033 id=name_opsrg033 
         class="Readonly" title="Drain Tube 2" size=25 
         value="%OPRWEB06.08.233.0" tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg033,name_opsrg033,0);"></td>
    <td class="DataLabel" width=15%>No. Drain Tube 2</td>
    <td><input type=text name=opsrg091 id=opsrg091 size=6
      maxlength=6 title="No. Drain Tube 1" value="%OPRWEB06.08.291" ></td></tr>

<tr><td class="DataLabel">Packing</td>
    <td><input type=text name=opsrg034 id=opsrg034 class="DataField" size=16
        title="Packing Code" maxlength=15 value="%OPRWEB06.08.234.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);">
        <input type=text readonly name=name_opsrg034 id=name_opsrg034 
         class="Readonly" title="Packing" size=25 value="%OPRWEB06.08.234.0" 
         tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg034,name_opsrg034,0);"></td>
    <td class="DataLabel">No. Packing</td>
    <td><input type=text name=opsrg092 id=opsrg092 size=6
        maxlength=6 title="No. Packing" value="%OPRWEB06.08.292" ></td></tr>

<tr><td class="DataLabel">Urinary Catheter 1</td>
    <td><input type=text name=opsrg030 id=opsrg030 class="DataField" size=16
        title="Catheter Code" maxlength=15 value="%OPRWEB06.08.230.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);">
        <input type=text readonly name=name_opsrg030 id=name_opsrg030 
         class="Readonly" title="Catheter" size=25 value="%OPRWEB06.08.230.0" 
         tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg030,name_opsrg030);"></td>
    <td class="DataLabel">No. Catheter 1</td>
    <td><input type=text name=opsrg096 id=opsrg096 size=6 maxlength=6 
         title="No. Catheter 1" value="%OPRWEB06.08.296" ></td></tr>

<tr><td class="DataLabel">Urinary Catheter 2</td>
    <td><input type=text name=opsrg031 id=opsrg031 class="DataField" size=16
        title="Catheter Code" maxlength=15 value="%OPRWEB06.08.231.1"
        onchange="GetItemDesc(this,errcode);" onblur="chkErr(this);">
        <input type=text readonly name=name_opsrg031 id=name_opsrg031 
         class="Readonly" title="Catheter" size=25 value="%OPRWEB06.08.231.0" 
         tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle class=Icon
        onclick="ItemSearchFrame(opsrg031,name_opsrg031);"></td>
    <td class="DataLabel">No. Catheter 2</td>
    <td><input type=text name=opsrg097 id=opsrg097 size=6
        maxlength=6 title="No. Catheter 2" value="%OPRWEB06.08.297" ></td></tr>
<tr><td align=left class="DataLabel">Implant Desc</td>
    <td><input type=text name=opsrg101 id=opsrg101 class="DataField" size=50 
        maxlength=60 title="Implant Description" value="%OPRWEB06.08.201.2"></td></tr>
<tr valign=top><td class="DataLabel">Comments</td>
    <td colspan=5><textarea wrap=hard name=opcom001 id=opcom001 cols=60 
        class="DataField" rows=3>%OPRWEB06.08.143.001</textarea></td></tr>
     </table></td></tr>
<tr><td colspan=3 align=center><br>
      <input type=button id="opr06sub" value="Update" class="button" 
       onclick="tempDisable(this);UpdateData();">
      <input type=button value="Close" class="button" 
       onclick="DFrameClose();"></td></tr>
</table>
</form>

<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="8">
<input type="hidden" name="template" value="001">
<input type="hidden" name="urnumber" value="%OPRWEB06.08.003">
<input type="hidden" name="admissno" value="%OPRWEB06.08.081">
<input type="hidden" name="MenuType" value="%OPRWEB06.08.088">
<input type="hidden" name="casekeys" value="%OPRWEB06.08.101">
<input type="hidden" name="sesskeys" value="%OPRWEB06.08.102.oprweb01.03.003">
<input type="hidden" name="teamnumb" value="%OPRWEB06.08.202">
</form>
