<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="cab">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function changeValueForm() {
  if(document.labels.check_multlt02.checked==false) {
    document.labels.nolabelf.disabled=true;
    document.labels.statncod.disabled=true;
    document.labels.frmprint.disabled=true;
  } else {
    document.labels.nolabelf.disabled=false;
    document.labels.statncod.disabled=false;
    document.labels.frmprint.disabled=false;
  }
}
function changeValueForm2() {
  if(document.labels.check_multlt03.checked==false) {
    document.labels.nolablf2.disabled=true;
    document.labels.statncd2.disabled=true;
    document.labels.frmprnt2.disabled=true;
  } else {
    document.labels.nolablf2.disabled=false;
    document.labels.statncd2.disabled=false;
    document.labels.frmprnt2.disabled=false;
  }
}
function changeValueForm3() {
  if(document.labels.check_multlt04.checked==false) {
    document.labels.nolablf3.disabled=true;
    document.labels.statncd3.disabled=true;
    document.labels.frmprnt3.disabled=true;
  } else {
    document.labels.nolablf3.disabled=false;
    document.labels.statncd3.disabled=false;
    document.labels.frmprnt3.disabled=false;
  }
}
function changeValueForm6() {
  if(document.labels.check_multlt06.checked==false) {
    document.labels.nolablf6.disabled=true;
    document.labels.statncd6.disabled=true;
    document.labels.frmprnt6.disabled=true;
  } else {
    document.labels.nolablf6.disabled=false;
    document.labels.statncd6.disabled=false;
    document.labels.frmprnt6.disabled=false;
  }
}
</script>
</head>
%START.OF.PAGE
<body  onload="PageLoad(event);self.focus();">
<script type="text/javascript">
PatientURN="%EMRWEB02.01.003";
PatientVIS="%EMRWEB02.01.081";
PatientNAM="%EMRWEB02.01.002";
PatientSTA="%EMRWEB02.01.086.078";
PatientALT="%EMRWEB02.01.084";
PatientSEX="%EMRWEB02.01.019";
PatientDOB="%EMRWEB02.01.020";
PatientAGE="%EMRWEB02.01.021";
PatientLOC="%EMRWEB02.01.083";
PatientPRI="%EMRWEB02.01.086.066.1";
PatientUNT="%EMRWEB02.01.066.0";
GpCOD="%EMRWEB02.01.086.084.001";
GpNAM="%EMRWEB02.01.086.084.081";
PatientARR="%EMRWEB02.01.101.0 %EMRWEB02.01.102";
PatientSEE="%EMRWEB02.01.130.0 %EMRWEB02.01.131";
</script>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Print Labels & Forms
</span>

<form name=labels action="emrweb02.pbl" method=post>
<input type=hidden name=reportno value=8>
<input type=hidden name=template value=001>
<input type=hidden name=nextpage value=0>
<input type=hidden name=admissno value="%EMRWEB02.01.081">
<input type=hidden name=urnumber value="%EMRWEB02.01.003">

<table cellspacing=0 cellpadding=1 border=0 width=95% align=center >
<tr><td class=DataLabel>Number of Labels</td>
    <td><input type=checkbox checked value="1" name=check_multlt06
         onclick="changeValueForm6();"></td>
    <td><select name=nolablf6>
        <option></option>
        <option value="  1" selected>  1</option>
        <option value="  2">  2</option>
        <option value="  3">  3</option>
        <option value="  4">  4</option>
        <option value="  5">  5</option>
        <option value="  6">  6</option>
        <option value="  7">  7</option>
        <option value="  8">  8</option>
        <option value="  9">  9</option>
        <option value=" 10"> 10</option>
        </select>
        <select name=statncd6>
        <option></option>
        %STANDARD.01.020.  7
        </select></td>
  <td class=DataLabel> Printer </td>
  <td><select name=frmprnt6>
      %EMRWEB02.01.145.EMRFORM2.06
      </select></td></tr>

<tr><td class=DataLabel>Number of Copies</td>
    <td><input type=checkbox checked value="1" name=check_multlt02
         onclick="changeValueForm();"></td>
    <td><select name=nolabelf>
        <option></option>
        <option value="  1" selected>  1</option>
        <option value="  2">  2</option>
        <option value="  3">  3</option>
        <option value="  4">  4</option>
        <option value="  5">  5</option>
        <option value="  6">  6</option>
        <option value="  7">  7</option>
        <option value="  8">  8</option>
        <option value="  9">  9</option>
        <option value=" 10"> 10</option>
        </select>
        <select name=statncod>
        <option></option>
        %STANDARD.01.020.  7
        </select></td>
  <td class=DataLabel> Printer </td>
  <td><select name=frmprint>
      %EMRWEB02.01.145.EMRFORMS.02
      </select></td></tr>

<tr><td class=DataLabel>Number of Copies</td>
    <td><input type=checkbox checked value="1" name=check_multlt03
         onclick="changeValueForm2();"></td>
    <td><select name=nolablf2>
        <option></option>
        <option value="  1" selected>  1</option>
        <option value="  2">  2</option>
        <option value="  3">  3</option>
        <option value="  4">  4</option>
        <option value="  5">  5</option>
        <option value="  6">  6</option>
        <option value="  7">  7</option>
        <option value="  8">  8</option>
        <option value="  9">  9</option>
        <option value=" 10"> 10</option>
        </select>
        <select name=statncd2>
        <option></option>
        %STANDARD.01.020.  2
        %STANDARD.01.020.  7
        </select></td>
  <td class=DataLabel> Printer </td>
  <td><select name=frmprnt2>
      %EMRWEB02.01.145.EMRFORM2.02
      </select></td></tr>

<tr><td class=DataLabel>Number of Copies</td>
    <td><input type=checkbox checked value="1" name=check_multlt04
         onclick="changeValueForm3();"></td>
    <td><select name=nolablf3>
        <option></option>
        <option value="  1" selected>  1</option>
        <option value="  2">  2</option>
        <option value="  3">  3</option>
        <option value="  4">  4</option>
        <option value="  5">  5</option>
        <option value="  6">  6</option>
        <option value="  7">  7</option>
        <option value="  8">  8</option>
        <option value="  9">  9</option>
        <option value=" 10"> 10</option>
        </select>
        <select name=statncd3>
        <option></option>
        %STANDARD.01.020.  2
        %STANDARD.01.020.  7
        </select></td>
  <td class=DataLabel> Printer </td>
  <td><select name=frmprnt3>
      %EMRWEB02.01.145.EMRFORM2.03
      </select></td></tr>

<tr><td colspan=5 align=center><br>
    <input type=submit name=formactn value="Print" class="button">
    <input type=button Value="Cancel" class="button" onclick="DFrameClose();">
    </td></tr>
</table>
</form>

<script type="text/javascript">
 FormCop="%STANDARD.01.034.EMRFORMS.02"
 for (var i=0;i<document.labels.nolabelf.length;i++){
  if (document.labels.nolabelf.options[i].value.replace(/ /g,"")==
      FormCop.replace(/ /g,"")){
      document.labels.nolabelf.selectedIndex=i}};

 FormNam="%STANDARD.01.033.EMRFORMS.02"
 for (var i=0;i<document.labels.statncod.length;i++){
  if (document.labels.statncod.options[i].value.replace(/ /g,"")==
      FormNam.replace(/ /g,"")){
      document.labels.statncod.selectedIndex=i}};

//
 Form2Cop="%STANDARD.01.034.EMRFORM2.02"
 for (var i=0;i<document.labels.nolablf2.length;i++){
  if (document.labels.nolablf2.options[i].value.replace(/ /g,"")==
      Form2Cop.replace(/ /g,"")){
      document.labels.nolablf2.selectedIndex=i}};

 Form2Nam="%STANDARD.01.033.EMRFORM2.02"
 for (var i=0;i<document.labels.statncd2.length;i++){
  if (document.labels.statncd2.options[i].value.replace(/ /g,"")==
      Form2Nam.replace(/ /g,"")){
      document.labels.statncd2.selectedIndex=i}};
//
 Form3Cop="%STANDARD.01.034.EMRFORM2.03"
 for (var i=0;i<document.labels.nolablf3.length;i++){
  if (document.labels.nolablf3.options[i].value.replace(/ /g,"")==
      Form3Cop.replace(/ /g,"")){
      document.labels.nolablf3.selectedIndex=i}};

 Form3Nam="%STANDARD.01.033.EMRFORM2.03"
 for (var i=0;i<document.labels.statncd3.length;i++){
  if (document.labels.statncd3.options[i].value.replace(/ /g,"")==
      Form3Nam.replace(/ /g,"")){
      document.labels.statncd3.selectedIndex=i}};
//
 Form6Cop="%STANDARD.01.034.EMRFORM2.06"
 for (var i=0;i<document.labels.nolablf6.length;i++){
  if (document.labels.nolablf6.options[i].value.replace(/ /g,"")==
      Form6Cop.replace(/ /g,"")){
      document.labels.nolablf6.selectedIndex=i}};

 Form6Nam="%STANDARD.01.033.EMRFORM2.06"
 for (var i=0;i<document.labels.statncd6.length;i++){
  if (document.labels.statncd6.options[i].value.replace(/ /g,"")==
      Form6Nam.replace(/ /g,"")){
      document.labels.statncd6.selectedIndex=i}};
</script>
