<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="cab">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript">
//------------------------------------------------------------
// patweb9801170 - Medication Summary View
// Modifications :
//----------------------------------------------------------------------
function setReceiver() {
  if (window.addEventListener){
    addEventListener("message", receiveMessage, false);
  } else {
    attachEvent("onmessage", receiveMessage);
  }
};
function receiveMessage(e) {
  if (window.removeEventListener) {
    removeEventListener("message", receiveMessage, false);
  } else {
    detachEvent("onmessage", receiveMessage);
  }
  location.reload();
}
var clientOffsetTime;
var filterColumns = new Array();
var filterValues = new Array();
var filterIds = new Array();
var filterBlock;
var SortSequence;
var jsonMedications;
var OS;
function LaunchMedchart(fn) {
// Function Name	 Launch to
// patient	         Patient Summary screen for requested patient
// prescribe	         Patient Medication screen for requested patient
// administration	 Medication administration chart for the requested patient
// review        	 Pharmacy review chart for the requested patient
// desktop	         MedChart Desktop
// user                	 Update user details without display anything in MedChart
// wardsummary        	 Administration ward overview screen
// managepatient	 Edit details for the requested patient
// pharmacyreviewmonitor Pharmacy review monitor
// clinicalreviewmonitor Clinical review monitor

  wurl="MedchartServices.php?reportno=10"+
       "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"") +
       "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"") +
       "&function=" + fn +
       "&httprand=" + Math.random();
  var xmlHttp = createHttpObject();
  xmlHttp.open("GET", wurl, false);
  xmlHttp.send();
  if (xmlHttp.responseText.substr(0,5)=="ERROR"&&xmlHttp.status == 200) {
    alert(xmlHttp.responseText);
  } else {
    var el=document.getElementById("PatientHeading");
    var w=el.offsetWidth-40
    var l=(document.body.clientWidth-w)/2;
    setReceiver();
    DFrameLink(xmlHttp.responseText,0,l,w,800)
  }  
}
function init() {
  ShowWaitScreen();

  window.setTimeout(function () {
    wurl="MedchartServices.php?reportno=1"+
         "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"") +
         "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"") +
         "&httprand=" + Math.random();

    if (IEBrowser) {
      var xmlHttp = createHttpObject();
      xmlHttp.open("GET", wurl, false);
      xmlHttp.send();

      if (xmlHttp.responseText.substr(0,5)=="ERROR" && xmlHttp.status == 200) {
        alert(xmlHttp.responseText);
      } else {
        if (xmlHttp.responseText != "" && xmlHttp.status == 200) {
          //convert text to javascript object
          jsonMedications = eval("("+xmlHttp.responseText+")");

          ShowMedications();
        } else {
          alert("Medication Web Service Not available MedchartServices.php");
        }
      }
      HideWaitScreen();
    }
    else {
      var returnValue = RSExecuteFetch(wurl);

      returnValue.then(
        function (returnValue) {
          returnValue = ParseFetchData(returnValue);  // parse fetch() result

          if (returnValue.status == 0) {
            if (returnValue.responseText.substr(0,5)=="ERROR") {
              alert(returnValue.responseText);
            } else {
              if (returnValue.responseText != "") {
                //convert text to javascript object
                jsonMedications = eval("("+returnValue.responseText+")");

                ShowMedications();
              } else {
                alert("Medication Web Service Not available MedchartServices.php");
              }
            }
          }
          HideWaitScreen();
        }
      );
    }
  }, 100);
}
//called with every property and it's value
function process(key,value) {
    OS+=key + " : "+value+"<br>";
}

function traverse(o,func) {
    for (var i in o) {
        if (o[i] !== null && typeof(o[i])=="object") {
            //going on step down in the object tree!!
            func.apply(this,[i,'']);  
            traverse(o[i],func);
        } else {
          func.apply(this,[i,o[i]]);  
        }
    }
}
function ShowMedicationsXX() {
 OS='';
 traverse(jsonMedications,process);
   ListLocation = document.getElementById("TableLocation");
   ListLocation.innerHTML = OS;
}
function ShowMedications() {
 var rowCount=0;
 var Meds = new Table();
 for (var ErrorMessage in jsonMedications) {
   var ErrorCode=jsonMedications[ErrorMessage]['ErrorCode'];
   var ErrorMessage=jsonMedications[ErrorMessage]['Message'];
   if (!isWhitespace(ErrorCode)) {
     alert("MEDCHART RETURNED ERROR\n "+ErrorCode+"  =   "+ErrorMessage);
   }
 }
 for (var Medication in jsonMedications['SimpleMedications']) {
   var MedName=jsonMedications['SimpleMedications'][Medication]['Description'];
   var Form=jsonMedications['SimpleMedications'][Medication]['Form'];
   var LineStatus=jsonMedications['SimpleMedications'][Medication]['Status'].split(",");
   var PrescribedBy=jsonMedications['SimpleMedications'][Medication]['PrescribedBy']['DisplayName'];
   var Scheduled=jsonMedications['SimpleMedications'][Medication]['Schedule']['Description'];
   var FreqType=jsonMedications['SimpleMedications'][Medication]['Schedule']['FrequencyType'];
   var StartOn=jsonMedications['SimpleMedications'][Medication]['Schedule']['StartsOn'];
   StartDate=netDate(StartOn,"datetime");
   MedStat=LineStatus[0];
   RevStat=LineStatus[1];
   BlockStat=LineStatus[2];
   MedTypeCD='0';
   if (FreqType.match(/PRN/)) { MedTypeCD='1'; }
   if (Form.match(/Infusion/)) { MedTypeCD='2'; }
   Meds.addRow(MedTypeCD+MedName,MedName,MedStat,RevStat,
               BlockStat,PrescribedBy,Scheduled,StartDate,FreqType,Form);
 }
 SortOrderBy=0;
 SortSequence=0;
 Meds.rows.sort(StringSort);
 OS="<ul class=ListNote>" 
 OS += "<li class='ItemHead'><span class=MedType>Scheduled Medications</span></li>" 
 MedType="2";
 for (var i=0;i<Meds.rows.length;i++) {
   if (Meds.rows[i][2].match(/current/)) {
     if (MedType!=Meds.rows[i][0].substr(0,1)) {
        MedType=Meds.rows[i][0].substr(0,1);
        if (MedType=="1") {
          OS += "<li class='ItemHead'><span class=MedType>PRN Medications</span></li>" 
        }
        if (MedType=="2") {
          OS += "<li class='ItemHead'><span class=MedType>Infusion Medications</span></li>" 
        }
     }
     rowCount++;
     iconType='Pill';
     if (Meds.rows[i][9].match(/mouth wash/i)) iconType='Flask';
     if (Meds.rows[i][9].match(/oral liq/i))   iconType='Flask';
     if (Meds.rows[i][9].match(/inject/i))     iconType='Needle';
     if (Meds.rows[i][9].match(/infusion/i))   iconType='Drip';
     if (Meds.rows[i][9].match(/eye drop/i))   iconType='Dropper';
//           "<span class=ntTimeframe>"+Meds.rows[i][8]+"</span>"+
//           "<span class=ntWhen>"+Meds.rows[i][9]+"</span><br>"+
     OS += "<li class='ItemNote'>" +
           "<div style='width:100%;height:22px;'>" +
           "<span class=ntWho><span class=show"+iconType+"Icon></span>"+Meds.rows[i][1]+"</span>" +
           "<span class=ntType>"+Meds.rows[i][5]+"</span></div><br>" +
           "<span class=ntTimeframe>"+Meds.rows[i][6]+"</span>"+
           "<span class=ntWhen>"+Meds.rows[i][3]+"</span><br>"+
           "<span class=ntTimeframe>"+FormatCommentAge(Meds.rows[i][7])+"</span>"  +
           "<span class=ntWhen>"+FormatDate(Meds.rows[i][7])+"</span>"  +
           "</li>"
   }
 }
 if (rowCount==0) {
   ListLocation = document.getElementById("TableLocation");
   ListLocation.innerHTML += "<ul class=ListNote>" +
       "<li class=ItemNote style='text-align:center;'>" + 
       "No Medications Found for this Patient Visit</li></ul>";
 } else {
   OS+="</ul>";
   ListLocation = document.getElementById("TableLocation");
   ListLocation.innerHTML = OS;
 }
}
function listFilter(el) {
  for(var f = 0; f < filterValues.length; f++) {
    if (filterValues[f]!='') {
      if (filterValues[f]!=el[filterColumns[f]]) {
        return false;
      }
    }
  }
  return true;
}
function sortList() {
  if (SortSequence==0) {
    SortSequence=1
    t.rows.sort(StringSort);
  } else {
    SortSequence=0
    t.rows.sort(RevStringSort);
  }
  NoteShowTable();
  setFilters();
}
function filterList(el,filterId,filterNo) {
  saveIndex=el.selectedIndex
  filterValues[filterNo]=el.options[el.selectedIndex].value;
  NoteShowTable();
  setFilters();
}
function setFilters() {
  for(var f = 0; f < filterValues.length; f++) {
    if (filterValues[f]!='') {
      el=document.getElementById(filterIds[f]);
      for (g = 1; g < el.length ; g++) {
        if (el.options[g].value==filterValues[f]) el.selectedIndex=g;
      }
    }
  }
}
function makeFilter(t,filterId,titleFilter,ColumnNo) {
 var FilterList = new Array();
 filterColumns[filterColumns.length]=ColumnNo;
 filterValues[filterValues.length]='';
 filterIds[filterIds.length]=filterId;
 for(var i = 0; i < t.rows.length; i++) {
   if (!isWhitespace(t.rows[i][ColumnNo])) {
     addItem=true;
     for(var j = 0; j < FilterList.length; j++) {
       if (t.rows[i][ColumnNo]==FilterList[j]) addItem=false;
     }
     if (addItem) FilterList[FilterList.length]=t.rows[i][ColumnNo];
   }
 }
 FilterList.sort();
 RS='<select title=Filter id='+filterId+
    ' onchange=filterList(this,"'+filterId+'","'+
    (filterValues.length-1)+'") class=listFilter>';
 RS+="<option value=''>"+titleFilter+"</option>";
 for(var j = 0; j < FilterList.length; j++) {
   RS+="<option value=\""+FilterList[j]+"\">"+FilterList[j]+"</option>";
 }
 RS+="</select>"
 return RS;
}
function setServerDateTime() {
   clientOffsetTime=GetCookieData("clientOffsetTime");
   if (isWhitespace(clientOffsetTime)||clientOffsetTime=='unknown')
   {
     var serverURL   = "../cgi-bin/patweb80.pbl?reportno=1";
     var returnValue = RSExecute(serverURL);
     if (returnValue.status==0) {
       ReturnValue=returnValue.return_value.split("|");
       serverDate=trim(ReturnValue[0]);
       serverTime=trim(ReturnValue[1]);
       serverDateTime=new Date(serverDate+' '+serverTime);
       clientDateTime=new Date();
       clientOffsetTime = serverDateTime.getTime() - clientDateTime.getTime();
       SetCookie("clientOffsetTime",clientOffsetTime,"10")
     }
   }
   serverDateTime=new Date();
   serverDateTime.setTime(serverDateTime.getTime() + parseInt(trim(clientOffsetTime),10));
}
function FormatCommentAge(datetime) {
 if (isWhitespace(datetime)) { return "" }
 yyyy = datetime.substr(0,4);
 mm = datetime.substr(4,2);
 dd = datetime.substr(6,2);
 hh = datetime.substr(8,2);
 mi = datetime.substr(11,2);
 if (isWhitespace(hh)) hh="00"
 if (isWhitespace(mi)) hh="01"
 var thisDate= new Date(yyyy,parseInt(mm,10)-1,dd,hh,mi);
 var today= new Date();
 if (isWhitespace(clientOffsetTime)) { setServerDateTime(); }
 today.setTime(today.getTime() + parseInt(trim(clientOffsetTime),10));
 var one_min=1000*60
 var one_hour=1000*60*60
 var one_day=1000*60*60*24
 var one_week=1000*60*60*24*7
 var one_month=1000*60*60*24*30
 var one_year=1000*60*60*24*365
 mid=Math.ceil((today.getTime()-thisDate.getTime())/(one_min))
 hrd=Math.ceil((today.getTime()-thisDate.getTime())/(one_hour))
 dyd=Math.ceil((today.getTime()-thisDate.getTime())/(one_day))
 wkd=Math.ceil((today.getTime()-thisDate.getTime())/(one_week))
 mtd=Math.ceil((today.getTime()-thisDate.getTime())/(one_month))
 ytd=Math.ceil((today.getTime()-thisDate.getTime())/(one_year))
 if (ytd>2) return 'Scheduled '+ytd+' years ago';
 if (mtd>2) return 'Scheduled '+mtd+' months ago';
 if (wkd>2) return 'Scheduled '+wkd+' weeks ago';
 if (dyd>2) return 'Scheduled '+dyd+' days ago';
 if (hrd>2) return 'Scheduled '+hrd+' hours ago';
 if (-ytd>2) return "Start in "+ (-ytd)+' years';
 if (-mtd>2) return "Start in "+ (-mtd)+' months';
 if (-wkd>2) return "Start in "+ (-wkd)+' weeks';
 if (-dyd>2) return "Start in "+ (-dyd)+' days';
 if (-hrd>2) return "Start in "+ (-hrd)+' hours';
 if (mid<0) return  (-mid)+' minutes';
 return mid+' minutes ago';
}
//
// Format .NET Date Return in JSON from MedChart
//
function netDate(el,format) {
  if (isWhitespace(el)) return "";
  var d = new Date(parseInt(el.replace(/\/+Date\(([\d+-]+)\)\/+/, '$1')));
  var ThisHrs=d.getHours();
  var ThisMin=d.getMinutes();
  var ThisDay=d.getDate();
  var ThisMth=parseInt(d.getMonth(),10) +1;
  var ThisYrs=d.getFullYear();
  if (ThisHrs < 10) ThisHrs="0" + ThisHrs
  if (ThisMin < 10) ThisMin="0" + ThisMin
  if (ThisDay < 10) ThisDay="0" + ThisDay
  if (ThisMth < 10) ThisMth="0" + ThisMth
  ThisHrs = ThisHrs.toString();
  ThisMin = ThisMin.toString();
  ThisMth = ThisMth.toString();
  ThisDay = ThisDay.toString();
  var monthname = new Array('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec');
  var MonthName=monthname[d.getMonth()];
  if (format=="displaydate") return ThisDay+" "+MonthName+" "+ThisYrs
  if (format=="date") return ThisYrs+ThisMth+ThisDay
  if (format=="datetime") return ThisYrs+ThisMth+ThisDay+ThisHrs+ThisMin
}

function FormatDateTime(datetime) {
   yyyy = datetime.substr(0,4);
   mm = datetime.substr(4,2);
   dd = datetime.substr(6,2);
   time = datetime.substr(8,5);
   mth3=mth3Name(mm);
   if (isWhitespace(time)) {
      return(dd + " " + mth3 + " " + yyyy); 
   } else {
     return(dd + " " + mth3 + " " + yyyy + " at " + time); }
}

function FormatDate(date) {
   yyyy = date.substr(0,4)
   mm = date.substr(4,2)
   dd = date.substr(6,2)
   mth3=mth3Name(mm);
   return(dd + " " + mth3 + " " + yyyy  );
}

function mth3Name(mm) {
   switch(mm) {
     case "01": mth3="Jan"; break;
     case "02": mth3="Feb"; break;
     case "03": mth3="Mar"; break;
     case "04": mth3="Apr"; break;
     case "05": mth3="May"; break;
     case "06": mth3="Jun"; break;
     case "07": mth3="Jul"; break;
     case "08": mth3="Aug"; break;
     case "09": mth3="Sep"; break;
     case "10": mth3="Oct"; break;
     case "11": mth3="Nov"; break;
     case "12": mth3="Dec"; break;
   }
  return mth3;
}
function Table() {
   this.rows      = new Array();
   this.addRow    = _addTableRow;
}
function _addTableRow() {
  this.rows[this.rows.length] = new Array();
  var row = this.rows[this.rows.length-1];
  for(var i = 0; i < arguments.length; i++)
     row[row.length] = arguments[i];
}
function NumericSort(a,b) {
  return a[SortOrderBy] - b[SortOrderBy];
}

function StringSort(a,b) {
  if (a[SortOrderBy] < b[SortOrderBy] ) { x = -1 }
  if (a[SortOrderBy] == b[SortOrderBy] ) { x = 0  }
  if (a[SortOrderBy] > b[SortOrderBy] ) { x = 1  }
  return x ;
}

function RevNumericSort(a,b) {
  return b[SortOrderBy] - a[SortOrderBy];
}

function RevStringSort(a,b) {
  if (a[SortOrderBy] < b[SortOrderBy] ) { x = 1 }
  if (a[SortOrderBy] == b[SortOrderBy] ) { x = 0  }
  if (a[SortOrderBy] > b[SortOrderBy] ) { x = -1  }
  return x ;
}
//------------------------------------------------------------
// Clinical Notes
//------------------------------------------------------------
function SubmitNote(el) {
  if (isWhitespace(el.notetext.value)) {
    return;
  }
  if (isWhitespace(el.admissno.value)) {
    alert('Patient Visit Must be Selected First');
    return;
  }
  var theURL = el.action;
  var postStr = AJAXPostString(el);
  var xmlHttp = createHttpObject();
  xmlHttp.open("POST", theURL, false);
  xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xmlHttp.send( encodeURI(postStr) );
  if (xmlHttp.status == "200") {
    if (xmlHttp.responseText.match(/location.href/i) ){
      location.reload()
    } else {
      alert( xmlHttp.responseText.replace(/.*alert../i,"").replace(/.\).*/i,"") );
    }
  } else {
    alert("Web Service Not Available. Check your Connection and Try Again.");
  }
}
</script>
<link rel="stylesheet"          href="../html/patweb9801005.css" type="text/css">
<style type=text/css>
.showNeedleIcon {
 background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
}
.showFlaskIcon {
 background: url("../images/AlertSprite.png")  -140px -160px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
}
.showDropperIcon {
 background: url("../images/AlertSprite.png")  -100px -80px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
}
.showDripIcon {
 background: url("../images/AlertSprite.png")  -120px -80px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
}
.showPillIcon {
 background: url("../images/AlertSprite.png")  -160px 0px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
}
.ItemHead {
 list-style-type: none;
 border-top-width: 0px;    /* Create lines between cells. Each line is placed above each item */
 padding-left:5px;
 padding-right:5px;
 padding-bottom:10px;	 
 padding-top:0px;		  
}
.ntTimeframe {
margin-left:30px;
}
.ntWho {
 font-weight:normal;
}
.MedType {
 color:#324F85;
 font-weight:bold;
 margin-left:5px;
}
.xHeadingCell {
  font-weight:bold;
  font-size:17px;
  color:#324f85;
  padding:10px;
  background-color:#DBE1EC;
}
.LaunchButton {
  float:right;
  -moz-box-shadow:inset 0px 1px 0px 0px #92C6CB;
  -webkit-box-shadow:inset 0px 1px 0px 0px #92C6CB;
  box-shadow:inset 0px 1px 0px 0px #92C6CB;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0E7072), color-stop(1, #183538));
  background:-moz-linear-gradient(top, #0E7072 5%, #183538 100%);
  background:-webkit-linear-gradient(top, #0E7072 5%, #183538 100%);
  background:-o-linear-gradient(top, #0E7072 5%, #183538 100%);
  background:-ms-linear-gradient(top, #0E7072 5%, #183538 100%);
  background:linear-gradient(to bottom, #0E7072 5%, #183538 100%);
  background-color:#0E7072;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #124d77;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:normal;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-top:4px;
}
.LaunchButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #183538), color-stop(1, #0E7072));
  background:-moz-linear-gradient(top, #183538 5%, #0E7072 100%);
  background:-webkit-linear-gradient(top, #183538 5%, #0E7072 100%);
  background:-o-linear-gradient(top, #183538 5%, #0E7072 100%);
  background:-ms-linear-gradient(top, #183538 5%, #0E7072 100%);
  background:linear-gradient(to bottom, #183538 5%, #0E7072 100%);
  background-color:#183538;
}
.LaunchButton:active {
 position:relative;
 top:1px;
}
</style>
%START.OF.PAGE
<script type="text/javascript" src=../js/patweb98.js></script>
<script type="text/javascript" src=../js/PatientHeader.js></script>
<script type="text/javascript" src="%PATWEB98.01.001.patweb98.01.103"></script>
</head>
<body onload="LoadHead();PageLoad();">
<div id=PatientHeading></div>
<div id=PatientBannerEx1 class=PatientBannerEx></div>
<div id=PatientMenu>
<input type=button class=button value='Patient' onclick='LaunchMedchart("patient");'>
<input type=button class=button value='Prescribe' onclick='LaunchMedchart("prescribe");'>
<input type=button class=button value='Administer' onclick='LaunchMedchart("administration");'>
</div>

<div id=PageBodySection>
<div style='margin-top:8px' id=TableLocation></div>
</div>

<form name=SelectView action=patweb98.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=170>
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
</form>

<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Loading MedChart Medications ...</p>
</span>

<div id=PageLayer class=DimmedLayer style="display:none"></div>

<form name=PatientLinks method=get action="cliweb01.pbl">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<input type=hidden name=MenuType value="%PATWEB98.01.088">
<input type=hidden name=alert001 value="">
<input type=hidden name=alert002 value="">
</form>
