<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="cab">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function CheckLimits(TxtFld) {
  if (!TxtFld || isWhitespace(TxtFld.value))
    return;

  if (!LimitText(TxtFld,5,201)) {  // max 5 rows, 200 chars
    SetCaretPosition(TxtFld.id, "-1");  // set cursor at end of text
  }
}
//========================================================================
// Limit Size of textarea by Rows and Characters
//  eg <textarea onkeydown="LimitText(this,9,450);" ></textarea>
//========================================================================
function LimitText(fieldObj,maxRows,maxChars) {
  var result = true;
  if (fieldObj.value.split(/\r?\n/).length > maxRows) {
    alert("Maximum " + maxRows + " rows reached for " + fieldObj.title + " !" +
          "\nPlease remove the extra rows to continue.");
    result = false;
  }

  if (result != false) {
    // get char count without the carriage return characters; i.e. "\r\n"
    var charcount = fieldObj.value.replace(/\r?\n/g,"").length;
    if (charcount >= maxChars) {
      maxChars = maxChars - 1; 
      alert("Maximum " + maxChars + " characters reached for " +
            fieldObj.title + " !" +
            "\nPlease remove the extra characters to continue.")
      result = false;
    }
  }

  if (window.event) {
    window.event.returnValue = result;
  }

  return result;
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Update Diet - %PATWEB98.04.002
</span>
<form name=NutritianPopUp method=post action=patweb93.pbl style="margin:0">
<input type=hidden name=reportno value="8">
<input type=hidden name=template value="1">
<input type=hidden name=urnumber value="%PATWEB98.04.003">
<input type=hidden name=admissno value="%PATWEB98.04.081">
<input type=hidden name=pmnut001 value="%PATWEB98.04.081">
<input type=hidden name=pmnut002 value="%PATWEB98.04.305">
<input type=hidden name=viewtype value="%PATWEB98.04.304">
<input type=hidden name=pwdvtype value="%PATWEB98.04.310">
<input type=hidden name=nextpatn value="patweb98.pbl?reportno=04&template=004">
<input type=hidden name=nonxtpat value="%PATWEB98.04.306">
<input type=hidden name=d_pdiet value="%PATWEB98.04.065.1">
<input type=hidden name=d_emviadmn value="%PATWEB98.04.309">

<table border=0 align=center width=30% cellspacing=0>
<tr>
  <td colspan=2 align=left nowrap>
      <input type=button value="<<" class=SmallButton
             onclick='location.href="%PATWEB98.04.302"'>
      %PATWEB98.04.303
      <input type=button value=">>" class=SmallButton 
             onclick='location.href="%PATWEB98.04.301"'>
  </td>
</tr>
</table>

<table border=0 align=center width=95% cellspacing=0>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel>Fasting</td>
    <td align=left>
     <input type=checkbox name=pmnut041 value="1" title="Fasting">
    </td>
    <td class=DataLabel>Last Update</td>
    <td>
     <input type=text class=readonly readonly size=20 name=pmnut004
      value="%PATWEB98.04.203"></td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel>Diet Type 1</td>
    <td><select name=pmnut007 class=SelectBig title="Diet Type 1"> 
         <option value=" "></option>
          %PATWEB98.04.226.9.1.01.1.D
        </select></td>
    <td class=DataLabel>Menu Assistance 1</td>
    <td><select name=pmnut012 class=SelectBig title="Menu Assistance 1"> 
         <option value=" "></option>
          %PATWEB98.04.209.2
        </select></td></tr>
<tr><td class=DataLabel>Diet Type 2</td>
    <td><select name=pmnut017 class=SelectBig title="Diet Type 2">
         <option value=" "></option>
          %PATWEB98.04.228.9.1.01.1.D
        </select></td>
    <td class=DataLabel>Menu Assistance 2</td>
    <td><select name=pmnut036 class=SelectBig title="Menu Assistance 2">
         <option value=" "></option>
          %PATWEB98.04.239.2
        </select></td></tr>
<tr><td class=DataLabel>Diet Type 3</td>
    <td><select name=pmnut019 class=SelectBig title="Diet Type 3">
         <option value=" "></option>
          %PATWEB98.04.229.9.1.01.1.D
        </select></td>
    <td class=DataLabel>Menu Assistance 3</td>
    <td><select name=pmnut037 class=SelectBig title="Menu Assistance 3">
         <option value=" "></option>
          %PATWEB98.04.240.2
        </select></td></tr>
<tr><td class=DataLabel>Diet Type 4</td>
    <td><select name=pmnut021 class=SelectBig title="Diet Type 4">
         <option value=" "></option>
          %PATWEB98.04.230.9.1.01.1.D
        </select></td>
    <td class=DataLabel>Menu Assistance 4</td>
    <td><select name=pmnut038 class=SelectBig title="Menu Assistance 4">
         <option value=" "></option>
          %PATWEB98.04.241.2
        </select></td></tr>
<tr><td class=DataLabel>Diet Type 5</td>
    <td><select name=pmnut023 class=SelectBig title="Diet Type 5">
         <option value=" "></option>
          %PATWEB98.04.231.9.1.01.1.D
        </select></td>
    <td class=DataLabel>Menu Assistance 5</td>
    <td><select name=pmnut039 class=SelectBig title="Menu Assistance 5">
         <option value=" "></option>
          %PATWEB98.04.242.2
        </select></td></tr>
<tr><td>&nbsp;</td></tr>
</table>

<table border=0 align=center width=95% cellspacing=0>
<tr><td class=DataLabel valign=top>Comments</td>
    <td><textarea name=dtcommnt tabindex=3 rows=5 cols=40 wrap=hard
         title="Comments"
        onkeydown="CheckTextAreaLimits(event,this);">%PATWEB98.04.243
        </textarea>
    </td></tr>
<tr><td>&nbsp;</td></tr>
</table>
<table border=0 align=center width=90% cellspacing=0>
<tr valign=bottom><td align=center colspan=2>
    <input type=button class=button value="Update" id=btnUpdate 
     onclick="tempDisable(this);document.NutritianPopUp.submit();">
    <input type=button class=button value="Cancel" 
     onclick="DFrameCloseRefresh();"></td></tr>
</table>
</form>

<script type="text/javascript">
 if ("%PATWEB98.04.227"=="1") {
   document.NutritianPopUp.pmnut041.checked=1;
 }
 if(document.NutritianPopUp.nonxtpat.value=="1") {
   document.NutritianPopUp.nextpatn.value=" ";  // No redirect
 }
</script>
