<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="hea">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/EmrRegistration.js"></script>
<script type="text/javascript" src="../js/emrweb0202020.js"></script>
<script type="text/javascript" src="../js/patweb69.js"></script>
<script type="text/javascript">
function genderName(){
  if (document.UpdateForm.ptcnhdps.value=="3") {
    intersexoption = document.createElement("option");
    intersexoption.text = "Other";
    intersexoption.value = "R";
    document.UpdateForm.emexp004.add(intersexoption);
  } else {
    intersexoption = document.createElement("option");
    intersexoption.text = "Intersex";
    intersexoption.value = "R";
    document.UpdateForm.emexp004.add(intersexoption);
  }
}
function disablefields() {
    document.getElementById("emexp002").disabled = true;
    document.getElementById("emexp003").disabled = true;
    document.getElementById("emexp004").disabled = true;
    document.getElementById("emexp005").disabled = true;
}
function SearchRedirect() {
  var p = document.UpdateForm;

  var aGNames = p.emexp003.value.split(' ');
  var sURL = "patweb69.pbl?reportno=01&template=060" +
             "&srchsnam=" + p.emexp002.value +
             "&srchgnam=" + aGNames[0];

  if (aGNames.length > 1) {
    sURL += "&srchmnam=" + aGNames[1];
  }
  
  sURL += "&srchpsex=" + p.emexp004.value +
          "&srchpdob=" + p.emexp005.value + "&srchtype=1";
  
  var sRedirectURL = "patweb90.pbl?reportno=01&template=060";

  sURL += "&redirect=" + encodeURIComponent(sRedirectURL);

  if (top.menu.EmergencyFrameLink) {
    if (parent.menu.document.readyState=="complete") {
      top.menu.EmergencyFrameLink(sURL,0,0,1008,521)
    }
  } else {
    DFrameLink(sURL,0,0,1008,521);
  }
}

function AddPatient() {
  if(document.UpdateForm.emvis008.value.substr(1,1)=="D"){
     document.UpdateForm.redirect.value = "patweb89.pbl?reportno=1&template=82";
  }
  if (document.UpdateForm.ptcnhdps.value=="3") {
    if(!isWhitespace(document.UpdateForm.emvis154.value) &&
        isWhitespace(document.UpdateForm.emvis155.value)){
      alert("Amb Arrival Date/Time must both be completed");
      return;
    }
    if(!isWhitespace(document.UpdateForm.emvis155.value) &&
        isWhitespace(document.UpdateForm.emvis154.value)){
      alert("Amb Arrival Date/Time must both be completed");
      return;
    }
  }

  UpdateVisit();
}
function displayAmbulanceFields() {
 if (document.UpdateForm.emvis013.value.substr(3,1) != "A" ||
     document.UpdateForm.emvis013.value.substr(5,1) != "C") {

  AmbCaseNoTimeDateTitleDIV.innerHTML = ""; 
  AmbCaseNoTimeDateFieldDIV.innerHTML = "";

 } else {
  AmbCaseNoTimeDateTitleDIV.innerHTML = AmbCaseNoTimeDateTitleSPAN.innerHTML;
  AmbCaseNoTimeDateFieldDIV.innerHTML = AmbCaseNoTimeDateFieldSPAN.innerHTML;
 }
}
function displayDisasterID() {
  p=document.UpdateForm
  if (!isWhitespace(document.UpdateForm.dispt001.value)) {
    disasteridnumbertitleDIV.innerHTML=disasteridnumbertitleSPAN.innerHTML;
    disasteridnumberDIV.innerHTML=disasteridnumberSPAN.innerHTML;
  } else {
    disasteridnumbertitleDIV.innerHTML="";
    disasteridnumberDIV.innerHTML="";
  }

  if (!isWhitespace(disasteridnumberDIV.innerHTML)) {
    var serverURL   = "../cgi-bin/patweb80.pbl?reportno=98" +
                    "&valdcode=" + UpdateForm.urnumber.value.replace(/ /g,"+") +
                    UpdateForm.dispt001.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
    if (returnValue.status==0) {
      ReturnValue=returnValue.return_value.split("|");
      if (!isWhitespace(ReturnValue[0])) {
        p.dispt002.value=ReturnValue;
        p.dispt002.className="Readonly";
        p.dispt002.readOnly=true;
      }
    }
  }
}
function defaultDisasterCode() {
  if (!isWhitespace(document.UpdateForm.disacode.value)) {
  for (var i =0 ; i < document.UpdateForm.dispt001.length; i++) {
     if (document.UpdateForm.dispt001.options[i].value==
         document.UpdateForm.disacode.value) {
         document.UpdateForm.dispt001.selectedIndex=i
     }
    }
  }

  displayDisasterID();

  if (!isWhitespace(document.UpdateForm.dispt001.value)) {
    document.UpdateForm.dispt001.className = "Readonly";
    document.UpdateForm.dispt001.onfocus =
    function () {this.defaultIndex=this.selectedIndex};
    document.UpdateForm.dispt001.onchange =
    function () {this.selectedIndex=this.defaultIndex};
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetFields();checkReferred();genderName();
              disablefields();defaultDisasterCode();
       if (document.UpdateForm.ptcnhdps.value=='3') {CheckAmbTypeArrival();}
              checkBasicCoverRate(document.UpdateForm.emvis008);
              FilterClaimType(document.UpdateForm.emvis008);">
<span class=DFrameTitleBar>
Register Emergency Patient
</span>
<form name=UpdateForm action="emrweb02.pbl" method=post style="margin:0">
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="20">
<input type=hidden name=updatety value="4">
<input type=hidden name=formactn>
<input type=hidden name=updttype>
<input type=hidden name=urnumber value="%EMRWEB02.02.003">
<input type=hidden name=admissno value="%EMRWEB02.02.081">
<input type=hidden name=updateky value="%EMRWEB02.02.700">
<input type=hidden name=nextpage value="14">
<input type=hidden name=redirect value="emrweb02.pbl?reportno=1&template=4">
<input type=hidden name=deceased>
<input type=hidden name=selsex>
<input type=hidden name=gname>
<input type=hidden name=sname>
<input type=hidden name=dummy>
<input type=hidden name=dummyadm> 
<input type=hidden name=pcomdeft value="0">
<input type=hidden name=emexp001 value="">
<input type=hidden name=emexp007 value="">
<input type=hidden name=emexp008 value="">
<input type=hidden name=emexp009 value="">
<input type=hidden name=emexp010 value="">
<input type=hidden name=emexp011 value="">
<input type=hidden name=emexp012 value="">
<input type=hidden name=emexp013 value="">
<input type=hidden name=pfgname>
<input type=hidden name=pfsname>
<input type=hidden name=ptcnhdps value="%STANDARD.01.025.080.250.1.1">
<input type=hidden name=ptcnuepm value="%STANDARD.01.025.125.155.0.1">
<input type=hidden name="disacode" value="">
<input type=hidden name=emvis006 value="">
<input type=hidden name=ptcndigp id=ptcndigp
 value="%STANDARD.01.025.124.122.0.1">
<input type=hidden name=ptcndumh id=ptcndumh
 value="%STANDARD.01.025.124.240.0.1">
<input type=hidden name=ptcnnmpr value="%STANDARD.01.025.128.226.1.1">
  
<table align=center width=95% border=0 cellspacing=0 cellpadding=2>
<tr><td class=DataLabel>U/R</td> 
   <td><input type=text size=10 maxlength=8 name=emexp018 tabindex=2
       title="U/R number" class=Mandatory 
       onblur="justifyRight(this);PatientReturnAU();disablefields();">
       <img class=Icon src=../images/SearchIcon.gif
       onclick="PatientSearch();">
</td>
    <td class=DataLabel>Surname </td>
    <td><input type=text size=25 max=25 name=emexp002 tabindex=3
         id="emexp002"
         onblur="UpCase(this);"></td>
    <td class=DataLabel>Given Name </td>
    <td><input type=text size=25 max=25 name=emexp003 tabindex=4
         id="emexp003"
         onblur="UpCase(this);"></td></tr>

<tr id=PrefNamesBoth style="display:none">
    <td>&nbsp;</td><td>&nbsp;</td>
    <td class=DataLabel>Preferred Surname</td>
    <td><input disabled type=text size=20 maxlength=20 name=pmpxi82b id=pmpxi82b
         title="Preferred Surname" tabindex=3 class=Readonly></td>
    <td class=DataLabel>Preferred Given Name</td>
    <td><input disabled type=text size=25 maxlength=25 name=pmpxi83b id=pmpxi83b
         title="Preferred Given Name" tabindex=3 class=Readonly></td>
</tr>

<tr id=PrefNamesGiven style="display:none">
    <td>&nbsp;</td><td>&nbsp;</td>
    <td>&nbsp;</td><td>&nbsp;</td>
    <td class=DataLabel>Preferred Given Name</td>
    <td><input disabled type=text size=25 maxlength=25 name=pmpxi83g id=pmpxi83g
         title="Preferred Given Name" tabindex=3 class=Readonly></td>
</tr>

<tr id=PrefNamesSurname style="display:none">
    <td>&nbsp;</td><td>&nbsp;</td>
    <td class=DataLabel>Preferred Surname</td>
    <td><input disabled type=text size=20 maxlength=20 name=pmpxi82s id=pmpxi82s
         title="Preferred Surname" tabindex=3 class=Readonly></td>
    <td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr><td></td>
    <td></td>
    <td class=DataLabel>Sex</td>
    <td><select name=emexp004 class=SelectSml tabindex=5 id="emexp004">
         <option> </option>
         <option value="U">Unknown</option>
         <option value="I">Indeterminate</option>
         <option value="M">Male</option>
         <option value="F">Female</option>
       </select></td>
    <td class=DataLabel>Date of Birth </td>
    <td><input type=text size=12 max=11 name=emexp005 id="emexp005"
         title="Date of Birth" class="Past Date" tabindex=6>
        <img class=Icon src=../images/DateTimeStamp.gif
         date=document.UpdateForm.emexp005>
        <img class=Icon src=../images/DateLookup.gif
         date=document.UpdateForm.emexp005>
        </td></tr>
<tr><td colspan=6><hr></td>
</tr>
</table>

<table align=center width=95% border=0 cellspacing=0 cellpadding=0>
    <tr><td class=DataLabel>Arrival Date/Time </td>
    <td>
    <input type=text size=11 max=11 name="emvis001" value="%EMRWEB02.02.101.0"
     title="Arrival Date" class="Mandatory PastDate" tabindex=10>
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Show Calendar" date="UpdateForm.emvis001">
    <input type=text size=8 max=8 name="emvis002" value="%EMRWEB02.02.102"
     title="Arrival Time" class=Mandatory tabindex=11>
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="UpdateForm.emvis001" time="UpdateForm.emvis002">
    <img notab src="../images/TimeLookup.gif" class="Icon"
     alt="Time Select" time="UpdateForm.emvis002">
    </td>

    <td class=DataLabel>Attendance Type</td>
    <td><select class="Mandatory SelectMed" name=emvis053 tabindex=20
         title="Attendance Type">
     <option></option>
     %EMRWEB02.02.213.2
     </select></td>
    <td class=DataLabel>Usual Accommodation</td>
    <td><select class="Mandatory SelectMed" name=pmsvx091 tabindex=30
         title="Usual Accommodation">
     <option></option>
     %EMRWEB02.02.507.2
     </select></td>
    </tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
     <td><select class="Mandatory SelectMed" name=emvis008 tabindex=11 
          title="%STANDARD.01.017.CL">
     <option></option>
     %EMRWEB02.02.108.2
     </select></td>
     <td class=DataLabel>Attendance Source</td>
     <td><select class="Mandatory SelectMed" name=emvis061 tabindex=21 
         title="Attendance Source" 
         onchange="checkReferred();">
         <option></option>
         %EMRWEB02.02.221.2
         </select></td>
     <td><div id=TranSrcHeading></div></td>
     <td><div id=TranSrc></div></td>
     </tr>

<tr><td class=DataLabel>Arrival Transport</td>
    <td><select name=emvis013 tabindex=12 class="Mandatory SelectMed" 
         title="Arrival Transport"
         onchange="document.UpdateForm.emvis034.disabled=0;CheckAmbType();
                   displayAmbulanceFields();
         if (document.UpdateForm.ptcnhdps.value=='3') {CheckAmbTypeArrival();}">
     <option></option>
     %EMRWEB02.02.113.2
     </select></td>
     <td class=DataLabel>Amb Case No</td>
     <td><input type=text size=10 maxlength=15 name=emvis034 tabindex=22
         onfocus="CheckAmbType();" value="%EMRWEB02.02.134" title="Amb Case No"
         onblur="ValidateAmbCase();"></td>
     <td>
     <div id="AmbCaseNoTimeDateTitleDIV">
     </div>
     </td>
     <td>
     <div id="AmbCaseNoTimeDateFieldDIV">
     </div>
     </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.et</td>
     <td><select class="SelectMed Mandatory " name=emvis068 tabindex=13
          title="%STANDARD.01.017.et">
     <option></option>
     %EMRWEB02.02.228.2
     </select></td>
    <td class=DataLabel>Referring GP</td>
    <td>
    <input type=text name=emvis019 class=DataField title="Referring GP"
     size=10 maxlength=10 value="%EMRWEB02.02.119.001" tabindex=23
     onblur="ValidateHCP(18,0,UpdateForm.emvis019,
             UpdateForm.name_emvis019);">
    <input type=text name=name_emvis019 readonly class=ReadOnly
     tabindex=-1
     title="Referring GP" size=24 maxlength=24 value="%EMRWEB02.02.119.081">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="HCPSearchFrame(UpdateForm.emvis019,
              UpdateForm.name_emvis019,0);"> </td>
    <td class=DataLabel>%STANDARD.01.035.ae</td>
    <td class=DataField>
    <select name=pmsvx128 tabindex=34 title="%STANDARD.01.035.ae"
         class="SelectBig">
          <option value=" "></option>
          %EMRWEB02.02.599.002.2
    </select>
    </td>
     </tr>

<tr><td class=DataLabel>%STANDARD.01.017.en</td>
    <td><input type=text size=3 maxlength=3 name=emvis062 tabindex=14
        class=Mandatory title="%STANDARD.01.017.en"
     value="%EMRWEB02.02.222.1" 
     onchange="CheckCode(UpdateForm.emvis062,UpdateForm.v062name)">
     <select name=v062name class="Mandatory SelectMed" tabindex=14
      onchange="UpdateCode(UpdateForm.emvis062,UpdateForm.v062name);">
     <option></option>
     %EMRWEB02.02.222.2
     </select></td>
     <td class=DataLabel>Inform GP</td>
     <td><select name=pmsvx010 title="Inform GP" tabindex=24>
         <option value="2">Unknown</option>
         <option value="0">No</option>
         <option value="1">Yes</option>
         </select></td>
    <td class=DataLabel>%STANDARD.01.035.af</td>
    <td class=DataField>
    <select name=pmsvx129 tabindex=35 title="%STANDARD.01.035.af"
         class="SelectBig">
          <option value=" "></option>
          %EMRWEB02.02.599.003.2
    </select>
    </td>
    </tr>

<tr><td class=DataLabel></td>
    <td></td>
     <td><div id=PCEHRTitleDIV></div></td>
    <td id="PCEHRFieldDIV">
         <select name=pmsvx125 tabindex=25 title="Upload to PCEHR">
         <option value=" "></option>
         <option value="0">No</option>
         <option value="1">Yes</option>
         </select>
     </td>

    <td class=DataLabel>Disaster Code</td>
    <td><select name=dispt001 title="Disaster Code"
         onchange="displayDisasterID();" tabindex=36>
        <option></option>
        %EMRWEB02.02.497
        </select>
    </td>
    </tr>

<tr><td class=DataLabel></td>
    <td></td>
    <td class=DataLabel></td>
    <td></td>
    <td class=DataLabel><div id=disasteridnumbertitleDIV></div></td>
    <td><div id=disasteridnumberDIV></div></td>
    </tr>

<tr><td class=DataLabel></td>
    <td class=DataField></td>
    <td class=DataLabel><div id="AmbArrivalLabel"></div></td>
    <td class=DataField colspan=2><div id="AmbArrivalField"></div></td>
    <td class=DataField></td>
    </tr>

<tr><td colspan=6 align=center><br>
    <input type=button value="Add" class="button" tabindex=100 name="AddButton"
     id="AddButton" onclick="tempDisable(this);AddPatient();">
   <input type=reset value="Cancel" class="button" tabindex=101>
    </td></tr>
</table>
</form>

<span id="PCEHRTitleSPAN" style="display:none">
Upload to PCEHR
</span>

<span id=transferhd style="display:none">
<td class=DataLabel>Transfer Source</td>
</span>

<span id=transferblank style="display:none">
   <input type=hidden name=emvis032 id=emvis032 value="" notab>
</span>

<span id=transfersrc style="display:none">
<td><input type="text" size=8 maxlength=6 name="emvis032" id=emvis032 
     tabindex=31 title="Transfer Source" class=Mandatory
     value="%EMRWEB02.02.132.1" 
     onchange='validateCode(9,UpdateForm.emvis032,UpdateForm.trnsfsrc);'>
     <input type=text  size=25 name=trnsfsrc value="%EMRWEB02.02.132.0"
      class="Readonly" readonly notab>
     <img class=Icon src="../images/SearchIcon.gif" notab
     onclick="TransferSourceFrame(UpdateForm.emvis032,
              UpdateForm.trnsfsrc)"></td>
</span>

</body>


<span id="AmbCaseNoTimeDateTitleSPAN" style="display: none">
Date/Time Amb Case Created
</span>

<span id="AmbCaseNoTimeDateFieldSPAN" style="display: none">
<input type="text" size="12" name="emvis079"
       title="Date Amb Case Created" class="Mandatory Date" tabindex=32
       value="%EMRWEB02.02.239.0" >
  <img notab src="../images/DateLookup.gif" id="Dategif" class=Icon
       onclick="DateLookupFrame(UpdateForm.emvis079);" />
       Time
  <input type="text" name="emvis089" size="8" tabindex=33
   value="%EMRWEB02.02.249" title="Time Amb Case Created" class=Mandatory>
  <img notab src="../images/DateTimeStamp.gif" class=Icon id="CurrentTimegif"
   onclick="SetCurrentDateTime(UpdateForm.emvis079,UpdateForm.emvis089);" />
  <img notab src="../images/TimeLookup.gif" class=Icon
   onclick="TimeLookupFrame(UpdateForm.emvis089);" id="Calendargif"/>
</span>

<span id=disasteridnumbertitleSPAN style="display:none">
Disaster Identification #
</span>

<span id=disasteridnumberSPAN style="display:none">
<input type="text" name=dispt002 size=20 maxlength=19 tabindex=37
   title="Disaster Identification Number">
</span>

<script type="text/javascript">

  InformGP="%EMRWEB02.02.510";
  for (var i=0;i<document.UpdateForm.pmsvx010.length;i++){
  if (document.UpdateForm.pmsvx010.options[i].value==InformGP){
      document.UpdateForm.pmsvx010.selectedIndex=i}};

  if ((VariableNameExists('ScreenLabelMyHRConsent'))&&
       (ScreenLabelMyHRConsent!="")){
     document.getElementById("PCEHRTitleSPAN").innerHTML =
     ScreenLabelMyHRConsent;
     document.UpdateForm.pmsvx125.title = ScreenLabelMyHRConsent;
   }
   PCEHRTitleDIV.innerHTML=PCEHRTitleSPAN.innerHTML;
   PCEHR=trim("%EMRWEB02.02.599.001");
   for (var i=0;i<document.UpdateForm.pmsvx125.length;i++){
   if (document.UpdateForm.pmsvx125.options[i].value==PCEHR){
       document.UpdateForm.pmsvx125.selectedIndex=i}};

 var classDIGP = (UpdateForm.ptcndigp.value >= 3) ? "Mandatory" : "";
 UpdateForm.pmsvx010.className = classDIGP;            //Inform GP
 var classMYHR = (UpdateForm.ptcndumh.value >= 3) ? "Mandatory" : "";
 UpdateForm.pmsvx125.className = classMYHR;            //Upload MyHR
 var p = document.UpdateForm;
 if((p.pmsvx010.value!="0")&&(p.pmsvx010.value!="1")){
   DefaultInformGP(p.pmsvx010,p.ptcndigp.value);}      // inform gp default
 if((p.pmsvx125.value!="0")&&(p.pmsvx125.value!="1")){
   DefaultInformGP(p.pmsvx125,p.ptcndumh.value);}      // upload myhr default

</script>

<span id="ShowAmbArrivalLabel" style="display:none">
<td class=DataLabel>Ambulance at Destination Date/Time</td>
</span>

<span id="BlankAmbArrival" style="display:none">
   <input type=hidden name=emvis154 value=" " notab>
   <input type=hidden name=emvis155 value=" " notab>
</span>

<span id="ShowAmbArrivalField" style="display:none">
<td class=DataField>
   <input type=text size=11 max=11 name="emvis154" value="%EMRWEB02.02.275"
    onblur="checkDate(this,this.title);"
    tabindex=44 title="Ambulance at Destination Date" class="PastDate">
   <img notab src="../images/DateLookup.gif" class="Icon"
    alt="Show Calendar" date="UpdateForm.emvis154">
   <input type=text size=8 max=8 name="emvis155" value="%EMRWEB02.02.276"
    onblur="checkTime(this,this.title);"
    tabindex=44 title="Ambulance at Destination Time">
   <img notab src="../images/DateTimeStamp.gif" class="Icon"
    alt="Current" date="UpdateForm.emvis154" time="UpdateForm.emvis155">
   <img notab src="../images/TimeLookup.gif" class="Icon"
    alt="Time Select" time="UpdateForm.emvis155">
</td>
</span>
