<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="hea">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/emrweb0602019hea.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);validateFFB();">
<!--          ValdMiscItem(document.AddForm.tkbox038,'EF1',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038);">-->
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB06.02.003";
PatientVIS="%EMRWEB06.02.081";
PatientNAM="%EMRWEB06.02.002";
PatientSTA="%EMRWEB06.02.086.078";
PatientALT="%EMRWEB06.02.084";
PatientSEX="%EMRWEB06.02.019";
PatientDOB="%EMRWEB06.02.020";
PatientAGE="%EMRWEB06.02.021";
PatientLOC="%EMRWEB06.02.083";
PatientPRI="%EMRWEB06.02.086.066.1";
PatientUNT="%EMRWEB06.02.066.0";
DoctorCOD="%EMRWEB06.02.082.003";
DoctorNAM="%EMRWEB06.02.082.002";
PatientAID="%EMRWEB06.02.086.090";
PatientIND="%EMRWEB06.02.086.091";
PatientCUR="%EMRWEB06.02.086.092";
PatientCLC="%EMRWEB06.02.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%EMRWEB06.02.086.094";
PatientCDM="%EMRWEB06.02.086.095";
PatientVDH="%EMRWEB06.02.086.099.015";

GpCOD="%EMRWEB06.02.086.084.001";
GpNAM="%EMRWEB06.02.086.084.081";
GpPRAC="%EMRWEB06.02.086.085.001";
GpPRACCNT="%EMRWEB06.02.086.085.002";
GpPRACNAM="%EMRWEB06.02.086.085.005";
PatientARR="%EMRWEB06.02.201.0 %EMRWEB06.02.202";
PatientSEE="%EMRWEB06.02.230.0 %EMRWEB06.02.231";
PatientTRI="%EMRWEB06.02.203.3";
PatientECLC="%EMRWEB06.02.141.1";
PatientEHFT="%EMRWEB06.02.142";
ProcedureDoc="%EMRWEB06.02.286.001";

InsertEmergencyHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<form name=AddForm action=patweb75.pbl method=post style="margin:0">
<input type=hidden name=reportno value="15">
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.101">
<input type=hidden name=emerdoct value="%EMRWEB06.02.286.001">
<input type=hidden name=emerstat value="%EMRWEB06.02.247">
<input type=hidden name=updatety value="S">
<input type=hidden name=patportn value="0">
<input type=hidden name=hfnportn value="0">
<input type=hidden name=nextpage value="7">
<input type=hidden name=redirect value="%EMRWEB06.02.001.emrweb02.01.004">
<input type=hidden name=template>
<input type=hidden name=arrvdate value="%EMRWEB06.02.201.0">
<input type=hidden name=hx13indc value="1">
<input type=hidden name=claimcod value="%EMRWEB06.02.141.3">
<input type=hidden name=procdate value="%EMRWEB06.02.150.0">
<input type=hidden name=proctime value="%EMRWEB06.02.150.1">
<input type=hidden name=procdat1 value="%STANDARD.01.015">
<input type=hidden name=proctim1 value="%STANDARD.01.016">
<input type=hidden name=valdclmt value="%EMRWEB06.02.208.1">
<input type=hidden name=valdfund value="%EMRWEB06.02.217.1">
<input type=hidden name=valdtabl value="%EMRWEB06.02.144">
<input type=hidden name=convalue value="1">

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr>
    <td class=DataLabel width=10%>%STANDARD.01.035.CL      </td>
    <td class=DataField >%EMRWEB06.02.141.0</td>
</tr>
</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr><td class="DataField" style="background-color:lightgrey" colspan=9 align=center><b>
Facility Fee Billing &nbsp;</b></td></tr>

<tr>
   <td>
<input type=hidden name=tkbox038 id=tkbox038 value="1">
<input type=hidden name=pamnt038 id=pamnt038 class=Number min=0 max=99999.99>
<input type=hidden name=pquan038 id=pquan038 class=Number min=1 max=999>
     
       <input type=radio name=proci038 id=proci038 value="EF1" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF1',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb001 id=fafeb001 value="%EMRWEB06.02.147.EF1      ">
   <input type=hidden name=alinv001 id=alinv001 value="%EMRWEB06.02.148.EF1      ">
        <b>Full Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF2" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF2',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);"> 
   <input type=hidden name=fafeb002 id=fafeb002 value="%EMRWEB06.02.147.EF2      ">
   <input type=hidden name=alinv002 id=alinv002 value="%EMRWEB06.02.148.EF2      ">
        <b>Re-Presentation Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF7" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF7',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb008 id=fafeb008 value="%EMRWEB06.02.147.EF7      ">
   <input type=hidden name=alinv008 id=alinv008 value="%EMRWEB06.02.148.EF7      ">
        <b>Concession Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF3" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF3',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb003 id=fafeb003 value="%EMRWEB06.02.147.EF3      ">
   <input type=hidden name=alinv003 id=alinv003 value="%EMRWEB06.02.148.EF3      ">
        <b>Workcover Facility Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF4" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF4',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb004 id=fafeb004 value="%EMRWEB06.02.147.EF4      ">
   <input type=hidden name=alinv004 id=alinv004 value="%EMRWEB06.02.148.EF4      ">
        <b>TAC / MVA Facility Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="HX013" 
        onclick="">
   <input type=hidden name=fafeb005 id=fafeb005 value="%EMRWEB06.02.147.HX013    ">
   <input type=hidden name=alinv005 id=alinv005 value="%EMRWEB06.02.149.HX013    ">
        <b>DVA Discharged Home (HX013)</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF5" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF5',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb006 id=fafeb006 value="%EMRWEB06.02.147.EF5      ">
   <input type=hidden name=alinv006 id=alinv006 value="%EMRWEB06.02.148.EF5      ">
        <b>Overseas Fee</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF19"
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF19',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb009 id=fafeb009 value="%EMRWEB06.02.147.EF19     ">
   <input type=hidden name=alinv009 id=alinv009 value="%EMRWEB06.02.148.EF19     ">
        <b>Non-Medicare</b></td>
   <td><input type=radio name=proci038 id=proci038 value="EF6" 
        onclick="ValdMiscItem(document.AddForm.tkbox038,'EF6',
                           document.AddForm.procdat1,
                           document.AddForm.pamnt038,
                           document.AddForm.pquan038,this);">
   <input type=hidden name=fafeb007 id=fafeb007 value="%EMRWEB06.02.147.EF6      ">
   <input type=hidden name=alinv007 id=alinv007 value="%EMRWEB06.02.148.EF6      ">
        <b>No Charge</b></td>
</tr>

</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr><td valign=top>&nbsp;</tr>

<tr><td class="DataField" style="background-color:lightgrey" colspan=8 align=center><b>
Sundry Item Billing &nbsp;</b></td></tr>
<tr><td valign=top>&nbsp;</tr>

<tr><td valign=top>
<table width=100% align=center border=0 cellpadding=0 cellspacing=0>

<tr>
    <td class=DataField><b>Description</b></td>
    <td class=DataField><b>Charge</b></td>
    <td class=DataField><b>Qty</b></td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td><input type=checkbox name=tkbox001 id=tkbox001 value="0"
    onclick="ValdMiscItem(tkbox001,'SC01',procdat1,pamnt001,pquan001);">
    <input type=hidden name=proci001 id=proci001 value="SC01">
    <input type=hidden name=mschi001 id=mschi001 
     value="%EMRWEB06.02.147.SC01     ">
    Acetylcysteine or Parvolex</td>
    <td><input type=text name=pamnt001 id=pamnt001 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan001 id=pquan001 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    </td></tr>

<tr><td><input type=checkbox name=tkbox002 id=tkbox002 value="0"
    onclick="ValdMiscItem(tkbox002,'SC02',procdat1,pamnt002,pquan002);">
    <input type=hidden name=proci002 id=proci002 value="SC02">
    <input type=hidden name=mschi002 id=mschi002 
     value="%EMRWEB06.02.147.SC02     ">
    Acticoat Large 20x40cm (Sheet)</td>
    <td><input type=text name=pamnt002 id=pamnt002 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan002 id=pquan002 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    </td></tr>

<tr><td><input type=checkbox name=tkbox003 id=tkbox003 value="0"
    onclick="ValdMiscItem(tkbox003,'SC03',procdat1,pamnt003,pquan003);">
    <input type=hidden name=proci003 id=proci003 value="SC03">
    <input type=hidden name=mschi003 id=mschi003 
     value="%EMRWEB06.02.147.SC03     ">
    Acticoat Medium 10x10cm (Sheet)</td>
    <td><input type=text name=pamnt003 id=pamnt003 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan003 id=pquan003 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    </td></tr>

<tr><td><input type=checkbox name=tkbox004 id=tkbox004 value="0"
    onclick="ValdMiscItem(tkbox004,'SC04',procdat1,pamnt004,pquan004);">
    <input type=hidden name=proci004 id=proci004 value="SC04">
    <input type=hidden name=mschi004 id=mschi004
     value="%EMRWEB06.02.147.SC04     ">
    Acticoat Small 5x5cm (Sheet)</td>
    <td><input type=text name=pamnt004 id=pamnt004 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan004 id=pquan004 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    </td></tr>

<tr><td><input type=checkbox name=tkbox005 id=tkbox005 value="0"
    onclick="ValdMiscItem(tkbox005,'SC05',procdat1,pamnt005,pquan005);">
    <input type=hidden name=proci005 id=proci005 value="SC05">
    <input type=hidden name=mschi005 id=mschi005
     value="%EMRWEB06.02.147.SC05     ">
    Adenosine (Single)</td>
    <td><input type=text name=pamnt005 id=pamnt005 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan005 id=pquan005 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox006 id=tkbox006 value="0"
    onclick="ValdMiscItem(tkbox006,'SC06',procdat1,pamnt006,pquan006);">
    <input type=hidden name=proci006 id=proci006 value="SC06">
    <input type=hidden name=mschi006 id=mschi006 
     value="%EMRWEB06.02.147.SC06     ">
    Antibiotic Eye Drops</td>
    <td><input type=text name=pamnt006 id=pamnt006 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan006 id=pquan006 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox007 id=tkbox007 value="0"
    onclick="ValdMiscItem(tkbox007,'SC07',procdat1,pamnt007,pquan007);">
    <input type=hidden name=proci007 id=proci007 value="SC07">
    <input type=hidden name=mschi007 id=mschi007 
     value="%EMRWEB06.02.147.SC07     ">
    Back Slab - Arm</td>
    <td><input type=text name=pamnt007 id=pamnt007 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan007 id=pquan007 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox008 id=tkbox008 value="0"
    onclick="ValdMiscItem(tkbox008,'SC08',procdat1,pamnt008,pquan008);">
    <input type=hidden name=proci008 id=proci008 value="SC08">
    <input type=hidden name=mschi008 id=mschi008
     value="%EMRWEB06.02.147.SC08     ">
    Back Slab - Leg</td>
    <td><input type=text name=pamnt008 id=pamnt008 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan008 id=pquan008 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox009 id=tkbox009 value="0"
    onclick="ValdMiscItem(tkbox009,'SC09',procdat1,pamnt009,pquan009);">
    <input type=hidden name=proci009 id=proci009 value="SC09">
    <input type=hidden name=mschi009 id=mschi009
     value="%EMRWEB06.02.147.SC09     ">
    Blood Alcohol Test</td>
    <td><input type=text name=pamnt009 id=pamnt009 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan009 id=pquan009 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox010 id=tkbox010 value="0"
    onclick="ValdMiscItem(tkbox010,'SC10',procdat1,pamnt010,pquan010);">
    <input type=hidden name=proci010 id=proci010 value="SC10">
    <input type=hidden name=mschi010 id=mschi010 
     value="%EMRWEB06.02.147.SC10     ">
    Cast Cover</td>
    <td><input type=text name=pamnt010 id=pamnt010 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan010 id=pquan010 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox011 id=tkbox011 value="0"
    onclick="ValdMiscItem(tkbox011,'SC11',procdat1,pamnt011,pquan011);">
    <input type=hidden name=proci011 id=proci011 value="SC11">
    <input type=hidden name=mschi011 id=mschi011 
     value="%EMRWEB06.02.147.SC11     ">
    Charcoal</td>
    <td><input type=text name=pamnt011 id=pamnt011 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan011 id=pquan011 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox012 id=tkbox012 value="0"
    onclick="ValdMiscItem(tkbox012,'SC12',procdat1,pamnt012,pquan012);">
    <input type=hidden name=proci012 id=proci012 value="SC12">
    <input type=hidden name=mschi012 id=mschi012
     value="%EMRWEB06.02.147.SC12     ">
    Clavicle Immobiliser</td>
    <td><input type=text name=pamnt012 id=pamnt012 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan012 id=pquan012 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox013 id=tkbox013 value="0"
    onclick="ValdMiscItem(tkbox013,'SC13',procdat1,pamnt013,pquan013);">
    <input type=hidden name=proci013 id=proci013 value="SC13">
    <input type=hidden name=mschi013 id=mschi013
     value="%EMRWEB06.02.147.SC13     ">
    Collar Cervical</td>
    <td><input type=text name=pamnt013 id=pamnt013 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan013 id=pquan013 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox014 id=tkbox014 value="0"
    onclick="ValdMiscItem(tkbox014,'SC14',procdat1,pamnt014,pquan014);">
    <input type=hidden name=proci014 id=proci014 value="SC14">
    <input type=hidden name=mschi014 id=mschi014 
     value="%EMRWEB06.02.147.SC14     ">
    Crutches</td>
    <td><input type=text name=pamnt014 id=pamnt014 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan014 id=pquan014 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox015 id=tkbox015 value="0"
    onclick="ValdMiscItem(tkbox015,'SC15',procdat1,pamnt015,pquan015);">
    <input type=hidden name=proci015 id=proci015 value="SC15">
    <input type=hidden name=mschi015 id=mschi015 
     value="%EMRWEB06.02.147.SC15     ">
    Dressing in Large Quantities</td>
    <td><input type=text name=pamnt015 id=pamnt015 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan015 id=pquan015 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox016 id=tkbox016 value="0"
    onclick="ValdMiscItem(tkbox016,'SC16',procdat1,pamnt016,pquan016);">
    <input type=hidden name=proci016 id=proci016 value="SC16">
    <input type=hidden name=mschi016 id=mschi016
     value="%EMRWEB06.02.147.SC16     ">
    Fibre with Gortex - Arm</td>
    <td><input type=text name=pamnt016 id=pamnt016 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan016 id=pquan016 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox017 id=tkbox017 value="0"
    onclick="ValdMiscItem(tkbox017,'SC17',procdat1,pamnt017,pquan017);">
    <input type=hidden name=proci017 id=proci017 value="SC17">
    <input type=hidden name=mschi017 id=mschi017 
     value="%EMRWEB06.02.147.SC17     ">
    Fibre with Gortex - Leg</td>
    <td><input type=text name=pamnt017 id=pamnt017 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan017 id=pquan017 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox018 id=tkbox018 value="0"
    onclick="ValdMiscItem(tkbox018,'SC18',procdat1,pamnt018,pquan018);">
    <input type=hidden name=proci018 id=proci018 value="SC18">
    <input type=hidden name=mschi018 id=mschi018
     value="%EMRWEB06.02.147.SC18     ">
    Fibre without Gortex - Arm</td>
    <td><input type=text name=pamnt018 id=pamnt018 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan018 id=pquan018 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox019 id=tkbox019 value="0"
    onclick="ValdMiscItem(tkbox019,'SC19',procdat1,pamnt019,pquan019);">
    <input type=hidden name=proci019 id=proci019 value="SC19">
    <input type=hidden name=mschi019 id=mschi019 
     value="%EMRWEB06.02.147.SC19     ">
    Fibre without Gortex - Leg</td>
    <td><input type=text name=pamnt019 id=pamnt019 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan019 id=pquan019 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox020 id=tkbox020 value="0"
    onclick="ValdMiscItem(tkbox020,'SC20',procdat1,pamnt020,pquan020);">
    <input type=hidden name=proci020 id=proci020 value="SC20">
    <input type=hidden name=mschi020 id=mschi020 
     value="%EMRWEB06.02.147.SC20     ">
    Joint Aspiration</td>
    <td><input type=text name=pamnt020 id=pamnt020 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan020 id=pquan020 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox021 id=tkbox021 value="0"
    onclick="ValdMiscItem(tkbox021,'SC21',procdat1,pamnt021,pquan021);">
    <input type=hidden name=proci021 id=proci021 value="SC21">
    <input type=hidden name=mschi021 id=mschi021 
     value="%EMRWEB06.02.147.SC21     ">
    Knee Immobiliser</td>
    <td><input type=text name=pamnt021 id=pamnt021 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan021 id=pquan021 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

</table>
</td>

<td valign=top>
<table width=95% align=center border=0 cellpadding=0 cellspacing=0>

<tr>
    <td class=DataField><b>Description</b></td>
    <td class=DataField><b>Charge</b></td>
    <td class=DataField><b>Qty</b></td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td><input type=checkbox name=tkbox022 id=tkbox022 value="0"
    onclick="ValdMiscItem(tkbox022,'SC22',procdat1,pamnt022,pquan022);">
    <input type=hidden name=proci022 id=proci022 value="SC22">
    <input type=hidden name=mschi022 id=mschi022
     value="%EMRWEB06.02.147.SC22     ">
    Lite-Aire Asthma Spacer</td>
    <td><input type=text name=pamnt022 id=pamnt022 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan022 id=pquan022 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox023 id=tkbox023 value="0"
    onclick="ValdMiscItem(tkbox023,'SC23',procdat1,pamnt023,pquan023);">
    <input type=hidden name=proci023 id=tkbox023 value="SC23">
    <input type=hidden name=mschi023 id=mschi023 
     value="%EMRWEB06.02.147.SC23     ">
    Nasal - Brighton</td>
    <td><input type=text name=pamnt023 id=pamnt023 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan023 id=pquan023 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox024 id=tkbox024 value="0"
    onclick="ValdMiscItem(tkbox024,'SC24',procdat1,pamnt024,pquan024);">
    <input type=hidden name=proci024 id=proci024 value="SC24">
    <input type=hidden name=mschi024 id=mschi024
     value="%EMRWEB06.02.147.SC24     ">
    Nasal - Mero (Mersol Pack)</td>
    <td><input type=text name=pamnt024 id=pamnt024 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan024 id=pquan024 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox025 id=tkbox025 value="0"
    onclick="ValdMiscItem(tkbox025,'SC25',procdat1,pamnt025,pquan025);">
    <input type=hidden name=proci025 id=proci025 value="SC25">
    <input type=hidden name=mschi025 id=mschi025
     value="%EMRWEB06.02.147.SC25     ">
    Nasal Rapid Rhino 12cm</td>
    <td><input type=text name=pamnt025 id=pamnt025 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan025 id=pquan025 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox026 id=tkbox026 value="0"
    onclick="ValdMiscItem(tkbox026,'SC26',procdat1,pamnt026,pquan026);">
    <input type=hidden name=proci026 id=proci026 value="SC26">
    <input type=hidden name=mschi026 id=mschi026
     value="%EMRWEB06.02.147.SC26     ">
    Nasal Rapid Rhino 7.5cm</td>
    <td><input type=text name=pamnt026 id=pamnt026 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan026 id=pquan026 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox027 id=tkbox027 value="0"
    onclick="ValdMiscItem(tkbox027,'SC27',procdat1,pamnt027,pquan027);">
    <input type=hidden name=proci027 id=proci027 value="SC27">
    <input type=hidden name=mschi027 id=mschi027
     value="%EMRWEB06.02.147.SC27     ">
    Pro-Rom/Cam Walker Boot (Moon Boot)</td>
    <td><input type=text name=pamnt027 id=pamnt027 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan027 id=pquan027 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox028 id=tkbox028 value="0"
    onclick="ValdMiscItem(tkbox028,'SC28',procdat1,pamnt028,pquan028);">
    <input type=hidden name=proci028 id=proci028 value="SC28">
    <input type=hidden name=mschi028 id=mschi028
     value="%EMRWEB06.02.147.SC28     ">
    Redback Spiderbite Antivenom</td>
    <td><input type=text name=pamnt028 id=pamnt028 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan028 id=pquan028 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox029 id=tkbox029 value="0"
    onclick="ValdMiscItem(tkbox029,'SC29',procdat1,pamnt029,pquan029);">
    <input type=hidden name=proci029 id=proci029 value="SC29">
    <input type=hidden name=mschi029 id=mschi029
     value="%EMRWEB06.02.147.SC29     ">
    Shoulder Sling</td>
    <td><input type=text name=pamnt029 id=pamnt029 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan029 id=pquan029 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox030 id=tkbox030 value="0"
    onclick="ValdMiscItem(tkbox030,'SC30',procdat1,pamnt030,pquan030);">
    <input type=hidden name=proci030 id=proci030 value="SC30">
    <input type=hidden name=mschi030 id=mschi030 
     value="%EMRWEB06.02.147.SC30     ">
    Snake Kit</td>
    <td><input type=text name=pamnt030 id=pamnt030 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan030 id=pquan030 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox031 id=tkbox031 value="0"
    onclick="ValdMiscItem(tkbox031,'SC31',procdat1,pamnt031,pquan031);">
    <input type=hidden name=proci031 id=proci031 value="SC31">
    <input type=hidden name=mschi031 id=mschi031
     value="%EMRWEB06.02.147.SC31     ">
    Soft Collar</td>
    <td><input type=text name=pamnt031 id=pamnt031 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan031 id=pquan031 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox032 id=tkbox032 value="0"
    onclick="ValdMiscItem(tkbox032,'SC32',procdat1,pamnt032,pquan032);">
    <input type=hidden name=proci032 id=proci032 value="SC32">
    <input type=hidden name=mschi032 id=mschi032 
     value="%EMRWEB06.02.147.SC32     ">
    Special Sling</td>
    <td><input type=text name=pamnt032 id=pamnt032 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan032 id=pquan032 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox033 id=tkbox033 value="0"
    onclick="ValdMiscItem(tkbox033,'SC33',procdat1,pamnt033,pquan033);">
    <input type=hidden name=proci033 id=proci033 value="SC33">
    <input type=hidden name=mschi033 id=mschi033
     value="%EMRWEB06.02.147.SC33     ">
    Splint - Finger</td>
    <td><input type=text name=pamnt033 id=pamnt033 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan033 id=pquan033 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox034 id=tkbox034 value="0"
    onclick="ValdMiscItem(tkbox034,'SC34',procdat1,pamnt034,pquan034);">
    <input type=hidden name=proci034 id=proci034 value="SC34">
    <input type=hidden name=mschi034 id=mschi034
     value="%EMRWEB06.02.147.SC34     ">
    Ted Stockings Knee</td>
    <td><input type=text name=pamnt034 id=pamnt034 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan034 id=pquan034 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox035 id=tkbox035 value="0"
    onclick="ValdMiscItem(tkbox035,'SC35',procdat1,pamnt035,pquan035);">
    <input type=hidden name=proci035 id=proci035 value="SC35">
    <input type=hidden name=mschi035 id=mschi035
     value="%EMRWEB06.02.147.SC35     ">
    Ted Stockings Thigh</td>
    <td><input type=text name=pamnt035 id=pamnt035 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan035 id=pquan035 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox036 id=tkbox036 value="0"
    onclick="ValdMiscItem(tkbox036,'SC36',procdat1,pamnt036,pquan036);">
    <input type=hidden name=proci036 id=proci036 value="SC36">
    <input type=hidden name=mschi036 id=mschi036
     value="%EMRWEB06.02.147.SC36     ">
    Topical Anaesthetic Paint</td>
    <td><input type=text name=pamnt036 id=pamnt036 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan036 id=pquan036 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox037 id=tkbox037 value="0"
    onclick="ValdMiscItem(tkbox037,'SC37',procdat1,pamnt037,pquan037);">
    <input type=hidden name=proci037 id=proci037 value="SC37">
    <input type=hidden name=mschi037 id=mschi037
     value="%EMRWEB06.02.147.SC37     ">
    Walker</td>
    <td><input type=text name=pamnt037 id=pamnt037 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan037 id=pquan037 size=8 maxlength=3
         title="Quantity" class=Number min=1 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox039 id=tkbox039 value="0"
    onclick="ValdMiscItem(tkbox039,'SC38',procdat1,pamnt039,pquan039);">
    <input type=hidden name=proci039 id=proci039 value="SC38">
    <input type=hidden name=mschi039 id=mschi039
     value="%EMRWEB06.02.147.SC38     ">
    Wrist Brace</td>
    <td><input type=text name=pamnt039 id=pamnt039 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan039 id=pquan039 size=8 maxlength=3
         title="Quantity" class=Number min=0 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox040 id=tkbox040 value="0"
    onclick="ValdMiscItem(tkbox040,'SC39',procdat1,pamnt040,pquan040);">
    <input type=hidden name=proci040 id=proci040 value="SC39">
    <input type=hidden name=mschi040 id=mschi040 
     value="%EMRWEB06.02.147.SC39     ">
    Wrist/Thumb Brace</td>
    <td><input type=text name=pamnt040 id=pamnt040 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan040 id=pquan040 size=8 maxlength=3
         title="Quantity" class=Number min=0 max=999>
    <td></tr>

<tr><td><input type=checkbox name=tkbox041 id=tkbox041 value="0"
    onclick="ValdMiscItem(tkbox041,'SC40',procdat1,pamnt041,pquan041);">
    <input type=hidden name=proci041 id=proci041 value="SC40">
    <input type=hidden name=mschi041 id=mschi041 
     value="%EMRWEB06.02.147.SC40     ">
    Zimmer Splints</td>
    <td><input type=text name=pamnt041 id=pamnt041 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan041 id=pquan041 size=8 maxlength=3
         title="Quantity" class=Number min=0 max=999>
    <td></tr>

<tr><td>&nbsp;<!--<input type=checkbox name=tkbox042 value="0"
    onclick="ValdMiscItem(tkbox042,'SC41',procdat1,pamnt042,pquan042);">
    <input type=hidden name=proci042 value="SC41">-->
    </td>
    <td>&nbsp;<!--<input type=text name=pamnt042 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99>--></td>
    <td>&nbsp;<!--<input type=text name=pquan042 size=8 maxlength=3
         title="Quantity" class=Number min=0 max=999>-->
    <td/></tr>

<tr><td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td></tr>

<tr><td><input type=checkbox name=tkbox042 id=tkbox042 value="0"
    onclick="ValdMiscItem(tkbox042,'SC41',procdat1,pamnt042,pquan042);">
    <input type=hidden name=proci042 id=proci042 value="SC41">
    <input type=hidden name=mschi042 id=mschi042
     value="%EMRWEB06.02.147.SC41     ">
    Pharmacy</td>
    <td><input type=text name=pamnt042 id=pamnt042 size=8 maxlength=8
         title="Amount" class=Number min=0 max=99999.99></td>
    <td><input type=text name=pquan042 id=pquan042 size=8 maxlength=3
         title="Quantity" class=Number min=0 max=999>
    <td></tr>

</table>
</td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr><td align=center>
<input type=button value="Other Charges" class="button" onclick="AddItem();">
</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr><td align=center colspan=4>
  <input type=button class="button" value="Update" id="emr06u"
   onclick="tempDisable(this);SubmitHidden(AddForm);">
  <input type=button class="button" value="Cancel" 
   onclick="ClosePg();">
  </td></tr>
</table>
</form>
</div>
<form name=PatientLinks method=get action="emrweb02.pbl" style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=100>
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.081">
<input type=hidden name=MenuType value="%EMRWEB06.02.088">
</form>
