<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="hea">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/eAdmissionReg.js"></script>
<script type="text/javascript">
function setBokURCookie() {
  document.cookie="ReturnPathURNO="+escape(document.UpdateForm.urnumber.value)+";"
}
function RemoveQuote(Field) {
    Field.value=Field.value.replace(/\"/g,"");
}
function changeOperation(theForm) {   
for (var i = 0; i < theForm.operpref.length; i++) {
 if (theForm.operpref.options[i].selected == true) {
  theForm.elements["operdes1"].value=theForm.operpref.options[i].text }
 }
}
function changeAdmitDate(theForm) {   
for (var i = 0; i < theForm.patadmdt.length; i++) {
 if (theForm.patadmdt.options[i].selected == true) {
  theForm.elements["operdes3"].value="Admit:"+theForm.patadmdt.options[i].text }
  }
}
function Check(){
 if(!validateMandatory(UpdateForm)) 
   return; 
 UpdateForm.bkrec006.disabled=false
 UpdateForm.bkrec007.disabled=false
 UpdateForm.patadmdt.disabled=false
 UpdateForm.bkrec005.disabled=false
//
 if(!CheckBookDate()) {
   return;
 }
//
 if(document.UpdateForm.d_bokrx051.checked==true) {
   document.UpdateForm.bokrx051.value="1";
 } else {
   document.UpdateForm.bokrx051.value="0";
 }
//
 if(document.UpdateForm.d_opdea038.checked==true) {
   document.UpdateForm.opdea038.value="Y";
 } else {
   document.UpdateForm.opdea038.value="N";
 }
//
 if(document.UpdateForm.d_opdea041.checked==true) {
   document.UpdateForm.opdea041.value="1";
 } else {
   document.UpdateForm.opdea041.value="0";
 }
//
 if(document.UpdateForm.d_opdea042.checked==true) {
   document.UpdateForm.opdea042.value="1";
 } else {
   document.UpdateForm.opdea042.value="0";
 }
 document.UpdateForm.bokrx009.disabled=false;
//
var timecalc = parseInt(UpdateForm.operexpd.value) + 
               parseInt(UpdateForm.sesendtm.value) +
               parseInt(UpdateForm.sesprptm.value)
if (timecalc > UpdateForm.sesdurtm.value) {
   if(confirm("Session will be Overbooked, Ok to Continue")) {
       formSubmit();
       }
   else document.CancelBook.submit();
    }
else formSubmit();
}
function chkDOL() {
if(!isWhitespace(UpdateForm.listdate.value)){
  if(!ChkDateTime(UpdateForm.listdate,null,UpdateForm.patadmdt,null)){
      alert("Confirmed admission date cannot be before Date on List");}
  }
}
function AuditChangeReason() {
  if(UpdateForm.d_patadmdt.value != UpdateForm.patadmdt.value) {
      document.getElementById('ReasonHeading').innerHTML=
      document.getElementById('ShowReasonHeading').innerHTML
      document.getElementById('ReasonField').innerHTML=
      document.getElementById('ShowReasonField').innerHTML
  } else {
    document.getElementById('ReasonHeading').innerHTML="";
    document.getElementById('ReasonField').innerHTML="";
  }
}

function formSubmit() {
  p=document.UpdateForm
  if(isWhitespace(p.urnumber.value)){
    alert("UR number invalid");
    return;
  }
  validateSuspension(p.urnumber,p.opdadate,p.datefrom,p.dateto);
  if(p.datefrom.value!='0'){
         ans=confirm("Warning : Patient has a Suspension record for period \n" +
               "\t" + p.datefrom.value  + " - " + p.dateto.value);
         if (ans!=true) {
            return;
            }
         } 
 validateWLKeySuspension(p.wattrkey,p.patadmdt,p.datefromwl,p.datetowl);
 if(p.datefromwl.value!='0'){
   alert("Error: Patient has a Suspension record for period \n" +
            "\t" + p.datefromwl.value  + " - " + p.datetowl.value);
   return;
 }
if(!isWhitespace(UpdateForm.listdate.value)){
  if(!ChkDateTime(UpdateForm.listdate,null,UpdateForm.patadmdt,null)){
      alert("Confirmed admission date cannot be before Date on List");
      return;}
 }
if(!isWhitespace(UpdateForm.listdate.value)){
 if(UpdateForm.ptcnhdps.value=="3"){
 if(ChkDateTime(UpdateForm.bookdate,UpdateForm.booktime,UpdateForm.bkrec034,null)){
    alert("Date booking keyed cannot be after Theatre date.")
      return;}
 if(days_between(document.UpdateForm.bkrec034.value,document.UpdateForm.bookdate.value)>365){
   alert("Error: Over one year difference between data entry and Theatre date");
   return;}}
 }

 if(isWhitespace(UpdateForm.patadmdt.value)) {
    if (document.UpdateForm.admisnid != undefined ) {
       if (!isWhitespace(UpdateForm.admisnid.value)) {
          document.UpdateForm.nextlink.value=eAdmCookie;
       }
    } else {
        CaseList=GetContentCookie("CasePath");
        if (CaseList!="unknown") {
          UpdateForm.nextlink.value=CaseList;
        }
    }
    UpdateForm.submit();
    return;
 }
  
 if(ChkDateTime(UpdateForm.patadmdt,null,UpdateForm.bookdate,null)){
     if (document.UpdateForm.admisnid != undefined ) {
       if (!isWhitespace(UpdateForm.admisnid.value)) {
          document.UpdateForm.nextlink.value=eAdmCookie;
       }
    } else {
        CaseList=GetContentCookie("CasePath");
        if (CaseList!="unknown") {
          UpdateForm.nextlink.value=CaseList;
        }
    }
    UpdateForm.submit(); }
else {
       alert("Theatre Booking cannot be before Admission Date");
  }
}
function checkWatEntry(){
   if (UpdateForm.bkrec006.value != "") {
     UpdateForm.bkrec006.disabled=true
     UpdateForm.bokrx002.focus()
   }else {
     UpdateForm.bkrec006.focus()
   }
   if (UpdateForm.bkrec007.value != "") {
     UpdateForm.bkrec007.disabled=true
   }
}
function DisableIcon(field) {
  if (field.disabled == true) {
    alert(field.title+" is for display only")
    UpdateForm.bokrx002.focus()
  }
}
// Check if booking date is in the past (warning)
function CheckBookDate(){
      var strtDay  = document.UpdateForm.bookdate.value.substring(0,2);
      var strtMon  = document.UpdateForm.bookdate.value.substring(3,6);
      var strtYear = document.UpdateForm.bookdate.value.substring(7,11);
      strtMon = GetMonthNumber(strtMon);

      var strtDate = strtYear + strtMon + strtDay
      if(!CheckFuture(strtDate)){
        if(!confirm("Warning: Booking date is prior to current date.")){
          return false;
        }
      }
      return true;
}
var eAdmCookie;
function eAdmPreList() {
  eAdmCookie=GetContentCookie("eAdmission");
  if (eAdmCookie!="unknown") {
      ExpireCookiePath("eAdmission");
      return;
  }
}
function clrCookieReturn() {
   if (document.UpdateForm.admisnid != undefined ) {
      if (document.UpdateForm.admisnid.value == "                    " ) {
          window.history.go(-1);
      } else {
          if (eAdmCookie!="unknown") {
             document.UpdateForm.showflag.value = "1";
             getTop().content.location.href=eAdmCookie; }
      }
   } else { window.history.go(-1);}
}
//------------------------------------------------------------
// Validate Operation Duration Average
//------------------------------------------------------------
function validateOprDurAve(ReturnCode,ReturnCod2,ReturnCod3,
                           ReturnDoct,ReturnName,ReturnRadio) {

    var serverURL   = "../cgi-bin/comweb80.pbl?reportno=67" +
                    "&valdcode=" + ReturnCode.value.replace(/ /g,"+") +
                    "&valdcod2=" + ReturnDoct.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
    if (returnValue.status==0) {
      ReturnValue=returnValue.return_value.split("|")
      if (!isWhitespace(ReturnValue[0])) {
        x=trim(ReturnValue[0])
      }
    } else {
        x=0;
    }

    var serverURL   = "../cgi-bin/comweb80.pbl?reportno=67" +
                    "&valdcode=" + ReturnCod2.value.replace(/ /g,"+") +
                    "&valdcod2=" + ReturnDoct.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
    if (returnValue.status==0) {
      ReturnValue=returnValue.return_value.split("|")
      if (!isWhitespace(ReturnValue[0])) {
        y=trim(ReturnValue[0])
      }
    } else {
        y=0;
    }

    var serverURL   = "../cgi-bin/comweb80.pbl?reportno=67" +
                    "&valdcode=" + ReturnCod3.value.replace(/ /g,"+") +
                    "&valdcod2=" + ReturnDoct.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
    if (returnValue.status==0) {
      ReturnValue=returnValue.return_value.split("|")
      if (!isWhitespace(ReturnValue[0])) {
        z=trim(ReturnValue[0])
      }
    } else {
        z=0;
    }

    rcarray=[x,y,z];

    rcarray.sort(function(a,b){return a-b});

    if (ReturnRadio[0].checked==true) {
      ReturnName.value=parseInt(rcarray[0])*0.25 +
                       parseInt(rcarray[1])*0.50 +
                       parseInt(rcarray[2]);
      ReturnName.value=parseInt(ReturnName.value,10);
    }

    if (ReturnRadio[1].checked==true) {
      ReturnName.value=parseInt(rcarray[2]);
      ReturnName.value=parseInt(ReturnName.value,10);
    }

    return;
}
function ShowMBSFields1() {
  if(document.UpdateForm.mbsbox1.checked == true) {
    ExtraMBS1.innerHTML=extrambs1.innerHTML;
  } else {
    ExtraMBS1.innerHTML=blanklabel.innerHTML;
  }
}
function ShowMBSFields2() {
  if(document.UpdateForm.mbsbox2.checked == true) {
    ExtraMBS2.innerHTML=extrambs2.innerHTML;
    document.UpdateForm.mbsbox1.disabled = true;
  } else {
    ExtraMBS2.innerHTML=blanklabel.innerHTML;
    document.UpdateForm.mbsbox1.disabled = false;
  }
}
function ShowMBSFields3() {
  if(document.UpdateForm.mbsbox3.checked == true) {
    ExtraMBS3.innerHTML=extrambs3.innerHTML;
    document.UpdateForm.mbsbox2.disabled = true;
  } else {
    ExtraMBS3.innerHTML=blanklabel.innerHTML;
    document.UpdateForm.mbsbox2.disabled = false;
  }
}
function ShowMBSFields4() {
  if(document.UpdateForm.mbsbox4.checked == true) {
    ExtraMBS4.innerHTML=extrambs4.innerHTML;
    document.UpdateForm.mbsbox3.disabled = true;
  } else {
    ExtraMBS4.innerHTML=blanklabel.innerHTML;
    document.UpdateForm.mbsbox3.disabled = false;
  }
}
function ShowMBSFields5() {
  if(document.UpdateForm.mbsbox5.checked == true) {
    ExtraMBS5.innerHTML=extrambs5.innerHTML;
    document.UpdateForm.mbsbox4.disabled = true;
  } else {
    ExtraMBS5.innerHTML=blanklabel.innerHTML;
    document.UpdateForm.mbsbox4.disabled = false;
  }
}

function defaultBed(){
  UpdateForm.bkrec018.selectedIndex=0;
  for (var i =0 ; i < UpdateForm.bkrec018.length; i++) {
    if (UpdateForm.bkrec018.options[i].value==UpdateForm.wardbed.value) {
      UpdateForm.bkrec018.selectedIndex=i;
    }
  }
  UpdateForm.bokrx038.selectedIndex=0;
  for (var i =0 ; i < UpdateForm.bokrx038.length; i++) {
    if (UpdateForm.bokrx038.options[i].value==UpdateForm.expbed.value) {
      UpdateForm.bokrx038.selectedIndex=i;
    }
  }
  if(document.UpdateForm.mbscod06.value == "") {
    document.getElementById('mbsbox1').checked = 0;
  }
  else {
    document.getElementById('mbsbox1').checked = 1;
    ShowMBSFields1();
  }
  if(document.UpdateForm.mbscod11.value == "") {
    document.getElementById('mbsbox2').checked = 0;
  }
  else {
    document.getElementById('mbsbox2').checked = 1;
    ShowMBSFields2();
  }
  if(document.UpdateForm.mbscod16.value == "") {
    document.getElementById('mbsbox3').checked = 0;
  }
  else {
    document.getElementById('mbsbox3').checked = 1;
    ShowMBSFields3();
  }
  if(document.UpdateForm.mbscod21.value == "") {
    document.getElementById('mbsbox4').checked = 0;
  }
  else {
    document.getElementById('mbsbox4').checked = 1;
    ShowMBSFields4();
  }
  if(document.UpdateForm.mbscod26.value == "") {
    document.getElementById('mbsbox5').checked = 0;
  }
  else {
    document.getElementById('mbsbox5').checked = 1;
    ShowMBSFields5();
  }
}
function SetPAC() {
  if (!isWhitespace(document.UpdateForm.wttxpast.value.substr(0,3)) &&
       document.UpdateForm.d_wtopstat.value=="0") {
    for (var i=document.UpdateForm.bokrx009.length -1; i > 0; i--) {
     if (document.UpdateForm.wttxpast.value.substr(4,1)==
         document.UpdateForm.bokrx009.options[i].value.substr(4,1)) {
          document.UpdateForm.bokrx009.selectedIndex=i };
    }
    document.UpdateForm.bokrx009.disabled=true;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);checkWatEntry();
 setBokURCookie();OnlinePreadmission();eAdmPreList();
 validateOprDurAve(document.UpdateForm.operprv1,document.UpdateForm.operprv2,document.UpdateForm.operprv3,
 document.UpdateForm.surgcalc,document.UpdateForm.operexpd,document.UpdateForm.duracalc);
 selectOptions2('31',UpdateForm.bkrec015,UpdateForm.bkrec018);
 selectOptions2('31',UpdateForm.bokrx002,UpdateForm.bokrx038);
 defaultAdmission();defaultBed();SetPAC();
 checkBasicCoverRate(document.UpdateForm.patclaim);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Update Theatre Booking
</span>

<div id=PageBodySection style="overflow: auto;">

<form name=UpdateForm  method=post action=oprweb01.pbl style="margin:0">

<input type=hidden name=reportno value=12>
<input type=hidden name=template value=1>
<input type=hidden name=urnumber value="%OPRWEB01.11.203">
<input type=hidden name=admissno value="%OPRWEB01.11.281">
<input type=hidden name=nextlink value="%OPRWEB01.11.302.oprweb01.03.003">
<input type=hidden name=bkrec008 value="THE">
<input type=hidden name=sesskeys value="%OPRWEB01.11.301">
<input type=hidden name=wattrkey value="%OPRWEB01.11.501">
<input type=hidden name=casekeys value="%OPRWEB01.11.001">
<input type=hidden name=bookdate value="%OPRWEB01.11.102">
<input type=hidden name=booktime value="%OPRWEB01.11.103">
<input type=hidden name=admisnum >
<input type=hidden name=admndate value="%OPRWEB01.11.902">
<input type=hidden name=admntime value="%OPRWEB01.11.903">
<input type=hidden name=bkrec002 value="%OPRWEB01.11.104.003">
<input type=hidden name=sesdurtm value="%OPRWEB01.11.109">
<input type=hidden name=sesprptm value="%OPRWEB01.11.111">
<input type=hidden name=sesendtm value="%OPRWEB01.11.118">
<input type=hidden name=ptmis027 value="%OPRWEB01.11.926.1"> 
<input type=hidden name=ptmis068 value="%OPRWEB01.11.905.1">
<input type=hidden name=ptvis043 value="%OPRWEB01.11.929">
<input type=hidden name=ptmis009 value="%OPRWEB01.11.910.1">
<input type=hidden name=ptmas024 value="%OPRWEB01.11.912.1">
<input type=hidden name=admpoint value="%OPRWEB01.11.603.1">
<input type=hidden name=listdate value="%OPRWEB01.11.509">
<input type=hidden name=caretype value="%OPRWEB01.11.913.3">
<input type=hidden name=ptcnhdps value="%OPRWEB01.11.072.001">
<input type=hidden name=admstats value="%OPRWEB01.11.904">
<input type=hidden name=currflag value="%OPRWEB01.11.072.002">
<input type=hidden name=opdadate value="%OPRWEB01.11.102">
<input type=hidden name=datefrom>
<input type=hidden name=dateto>
<input type=hidden name=datefromwl>
<input type=hidden name=datetowl>
<input type=hidden name=claimc>
<input type=hidden name=operusr1 value="%OPRWEB01.11.716.1">
<input type=hidden name=uvthindi value=1>
<input type=hidden name=pthvflag value="%OPRWEB01.11.072.007">
<input type=hidden name=opcnfdur value="%STANDARD.01.025.113.002.0.1">
<input type=hidden name=nextpage value="0">
<input type=hidden name=redirect >
<input type=hidden name=admisnid id=admisnid value="%OPRWEB01.11.072.020">
<input type=hidden name=showflag value="0">
<input type=hidden name=opdea038 value="">
<input type=hidden name=opdea041 value="">
<input type=hidden name=opdea042 value="">
<input type=hidden name=bokrx051 value="">
<input type=hidden name=surgcalc value="%OPRWEB01.11.178.003">
<input type=hidden name=ptcndwaw value="">
<input type=hidden name=wardbed value="%OPRWEB01.11.822">
<input type=hidden name=expbed value="%OPRWEB01.11.638.0">
<input type=hidden name=mbscod06 value="%OPRWEB01.11.771.003.1">
<input type=hidden name=mbscod11 value="%OPRWEB01.11.771.008.1">
<input type=hidden name=mbscod16 value="%OPRWEB01.11.771.013.1">
<input type=hidden name=mbscod21 value="%OPRWEB01.11.771.018.1">
<input type=hidden name=mbscod26 value="%OPRWEB01.11.771.023.1">
<input type=hidden name=bkrec034 value="%STANDARD.01.015">
<input type=hidden name=d_patadmdt  value="%OPRWEB01.11.806">
<input type=hidden name=d_wtopstat value="%OPRWEB01.11.316">
<input type=hidden name=wttxpast value="%OPRWEB01.11.412.3">

<table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
<tr><td width=15% class=DataLabel>Surgeon   </td>
    <td ><a href='javascript:DoctorViewFrame("%OPRWEB01.11.104.003")'>
         <b>%OPRWEB01.11.104.002 &nbsp;</b></a></td>
    <td width=15%>Anaesthetist   </td>
    <td><a href='javascript:DoctorViewFrame("%OPRWEB01.11.116.003")'>
         %OPRWEB01.11.116.002</a></td></tr>
<tr><td class=DataLabel>Unit</td>
    <td class=DataField>%OPRWEB01.11.113  </td></tr>

<tr><td width=15% class=DataLabel>Theatre  </td>
    <td class=DataField> %OPRWEB01.11.114.0 </td>
    <td class=DataLabel>Session Type</td>
    <td class=DataField>%OPRWEB01.11.169.0  </td></tr>

<tr><td class=DataLabel>Date  </td>
    <td class=DataField>%OPRWEB01.11.106 %OPRWEB01.11.102</td>
    <td class=DataLabel>Time  </td>
    <td class=DataField> %OPRWEB01.11.103 to %OPRWEB01.11.108</td></tr>

<tr><td colspan=4 align=center><hr width=100%></td></tr>
<tr><td class=DataLabel>Pre-Assesment</td>
    <td class=DataLabel>
    <input type=text name=bkrec006 id=bkrec006 
           size=12 maxlength=11 class="" tabindex=1
     onblur="checkDate(this,'Date')"
     title="Pre-Assesment Date" value="%OPRWEB01.11.808">
    <img src=../images/DateLookup.gif border=0 hspace=4 align=absmiddle
    onclick='javascript:DateLookupFrame(UpdateForm.bkrec006)'
     onFocus='javascript:DisableIcon(bkrec006)' tabindex=-1>
    Time
    <input type=text name=bkrec007 id=bkrec007 size=7 class="" tabindex=2
     title="Pre-Assesment Time" value="%OPRWEB01.11.809">
    <img src=../images/DateTimeStamp.gif  border=0 hspace=4 align=absmiddle
    onclick='javascript:SetCurrentDateTime(UpdateForm.bkrec006,UpdateForm.bkrec007)'
     onFocus='javascript:DisableIcon(bkrec007)' tabindex=-1> 
    <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
    onclick='javascript:TimeLookupFrame(UpdateForm.bkrec007)'
    onFocus='javascript:DisableIcon(bkrec007)' tabindex=-1> 
    </td>
    <td class=DataLabel>Confirmed Admission</td>
    <td class=DataLabel>
     <input type=text name=patadmdt id=patadmdt 
            size=12 maxlength=11 tabindex=25
     onblur="checkDate(this,'Date');chkDOL();AuditChangeReason();" 
            class=Mandatory
     title="Admission Date" value="%OPRWEB01.11.806">
    <img src=../images/DateLookup.gif border=0 hspace=4 align=absmiddle
     onclick='javascript:DateLookupFrame(UpdateForm.patadmdt)'
     onFocus='javascript:DisableIcon(patadmdt)' tabindex=-1>
    Time
    <input type=text name=bkrec005 id=bkrec005 size=6 class=Mandatory
            title="Admission Time" tabindex=26 value="%OPRWEB01.11.807">
    <img src=../images/DateTimeStamp.gif  border=0 hspace=4 align=absmiddle
     onclick='javascript:SetCurrentDateTime(UpdateForm.patadmdt,UpdateForm.bkrec005)'
     onFocus='javascript:DisableIcon(bkrec005)'>
    <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
    onclick='javascript:TimeLookupFrame(UpdateForm.bkrec005)'
     onFocus='javascript:DisableIcon(bkrec005)'>
    </td>
    <td class=DataLabel width=5%><div id=ReasonHeading></div></td>
    <td class=DataField width=5%><div id=ReasonField></div></td>
</tr>

<tr><td class=DataLabel>PAC Attended</td>
    <td class=DataField>
    <input type=checkbox name=d_bokrx051 id=d_bokrx051 tabindex=3></td>
    <td class=DataLabel>Fasting Time</td>
    <td class=DataField>
    <input type=text name=opdea040 size=7 tabindex=27 id=opdea040
     value="%OPRWEB01.11.767" title="Fasting Time">
    <img src=../images/DateTimeStamp.gif  border=0 hspace=4 align=absmiddle
     onclick="SetCurrentDateTime(null,UpdateForm.opdea040);"
     onFocus='javascript:DisableIcon(opdea040)' tabindex=-1>
    <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
     onclick="TimeLookupFrame(UpdateForm.opdea040);"
     onFocus='javascript:DisableIcon(opdea040)' tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.BG</td>
    <td><select name=bokrx009 title="%STANDARD.01.017.BG">
              <option> </option>
                %OPRWEB01.11.609.9.1.01.1.T
              </select></td>
    <td class=DataLabel>Fluid Time</td>
    <td class=DataLabel>
    <input type=text name=opdea024 id=opdea024  size=7 tabindex=28
     value="%OPRWEB01.11.735" title="Fluid Time">
    <img src=../images/DateTimeStamp.gif  border=0 hspace=4 align=absmiddle
     onClick="SetCurrentDateTimeMin(null,opdea024);"
     onFocus='javascript:DisableIcon(opdea024)' tabindex=-1>
    <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
     onclick="TimeLookupFrameMin(opdea024);"
     onFocus='javascript:DisableIcon(opdea024)' tabindex=-1>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td class=DataField>
    <select name="patclaim" title="%STANDARD.01.017.CL" class=Mandatory 
     tabindex=4>
     <option></option>
     %OPRWEB01.11.827.2
     </select></td>
    <td class=DataLabel>Planned Length of Stay </td>
    <td class=DataLabel>
    <input type=text name=bkrec033 size=4 maxlength=3 class=Integer
    value=%OPRWEB01.11.830 title="Planned Length of Stay"
    tabindex=29>(days)</td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.S </td>
     <td class=DataField>
     <select name="opdea037" title="%STANDARD.01.017.S " class=Mandatory 
      tabindex=5>
     <option></option>
     %OPRWEB01.11.755.2
     </select></td>
    <td class=DataLabel> Duration </td>
    <td><div id=divDuration></div></td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.ap</td>
    <td class=DataField>
    <select name=bokrx003 title="%STANDARD.01.017.ap"
     class=Mandatory tabindex=6>
    <option></option>
    %OPRWEB01.11.603.2
    </select></td>
    <td class=DataLabel>%STANDARD.01.017.OK</td>
    <td><select name="operknow" tabindex=31
             title="%STANDARD.01.017.OK">
    <option></option>
    %OPRWEB01.11.740.2
    </select>
    </td>
</tr>

<tr><td class=DataLabel>Ward/Bed on Admission</td>
    <td class=DataLabel><select name=bkrec015 title="Exp. Admitting Ward"
     onchange="selectOptions2('31',UpdateForm.bkrec015,UpdateForm.bkrec018);"
     tabindex=7>
    <option></option>
    %OPRWEB01.11.841.2
    </select>
    Bed
    <select name=bkrec018 title="Expected Bed" tabindex=8>
    <option></option>
    %OPRWEB01.11.822
    </select>
    </td>
    <td class=DataLabel>%STANDARD.01.017.XE</td>
    <td><select name="opdea032" tabindex=32
             title="%STANDARD.01.017.XE">
    <option></option>
    %OPRWEB01.11.745.2
    </select>
    </td>
</tr>
    
<tr><td class=DataLabel>Exp.Post Op Ward</td>
    <td class=DataLabel>
    <select name=bokrx002 title="Exp.Post Op Ward" tabindex=9
     onchange="selectOptions2('31',UpdateForm.bokrx002,UpdateForm.bokrx038);">
    <option></option>
    %OPRWEB01.11.602.2
    </select>
    Bed
    <select name=bokrx038 title="Expected Post-Op Bed" tabindex=10>
    <option></option>
    %OPRWEB01.11.638.0
    </select>
    </td>
    <td class=DataLabel>%STANDARD.01.017.XE</td>
    <td><select name="opdea033" tabindex=33
             title="%STANDARD.01.017.XE">
    <option></option>
    %OPRWEB01.11.746.2
    </select>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.P </td>
    <td class=DataField>
    <select name=bkrec019 title="%STANDARD.01.017.P " tabindex=11
     class="Mandatory">
    <option></option>
    %OPRWEB01.11.823.2     
    </select></td>
    <td class=DataLabel>%STANDARD.01.017.XE</td>
    <td><select name="opdea035" tabindex=34
             title="%STANDARD.01.017.XE">
    <option></option>
    %OPRWEB01.11.749.2
    </select>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.VI</td>
    <td class=DataField><select name=bokrx011 tabindex=12
        title="%STANDARD.01.017.VI">
    <option></option>
    %OPRWEB01.11.611.2
    </select></td>
    <td class=DataLabel>%STANDARD.01.017.XO</td>
    <td><select name="opdea034" tabindex=35
             title="%STANDARD.01.017.XO">
    <option></option>
    %OPRWEB01.11.747.2
    </select>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.ST</td>
    <td class=DataField>
    <select name=opdea036 title="%STANDARD.01.017.ST"
     class="Mandatory" tabindex=13>
    <option></option>
     %OPRWEB01.11.750.2
    </select></td>
    <td class=DataLabel>Admission Paperwork Received</td>
    <td class=DataField>
    <input type=checkbox name=d_opdea041 tabindex=36></td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.OA</td>
    <td><select name="operanae" tabindex=14
             title="%STANDARD.01.017.OA"
             class=Mandatory>
    <option></option>
    %OPRWEB01.11.713.2
    </select></td>
    <td class=DataLabel>Consent Form Received</td>
    <td class=DataField>
    <input type=checkbox name=d_opdea038 tabindex=37></td>
</tr>

<tr><td class=DataLabel>Full Description</td>
    <td><input type="text" size="45" maxlength=80 name="operdes1" 
           value="%OPRWEB01.11.724" tabindex=15
           title="Operation Description 1" onblur="RemoveQuote(this);"></td>
    <td class=DataLabel>Medical History Received</td>
    <td class=DataField><input type=checkbox name=d_opdea042 tabindex=38></td>
</tr>

<tr><td></td><td><input type="text" size="45" maxlength=80 name="operdes2" 
           title="Operation Description 2" onblur="RemoveQuote(this);"
           value="%OPRWEB01.11.725" tabindex=16></td>
</tr>

<tr><td></td><td><input type="text" size="45" maxlength=80 name="operdes3" 
           title="Operation Description 3" onblur="RemoveQuote(this);"
           value="%OPRWEB01.11.726" tabindex=17></td>
</tr>

<tr><td class=DataLabel>Prosthesis Required</td>
    <td colspan=3>
    <input type="text" size="45" maxlength=40 name="opercomm" 
           value="%OPRWEB01.11.728"
           title="Prosthesis Required" tabindex=18></td>
</tr>

<tr><td class=DataLabel>Comments</td>
    <td colspan=3>
  <textarea wrap=hard cols=60 rows=3 name=opcom009 tabindex=39>
%OPRWEB01.11.743.009</textarea></td>
</tr>

<tr>
<td class=DataLabel>MBS Codes</td>
  <td colspan=3>
        <input type=text name=operprv1 size=9 value="%OPRWEB01.11.721.1"
           onblur='validateCode(4,
                                UpdateForm.operprv1,
                                UpdateForm.mbsdesc1,
                                UpdateForm.bookdate);
                   validateOprDurAve(UpdateForm.operprv1,
                                     UpdateForm.operprv2,
                                     UpdateForm.operprv3,
                                     UpdateForm.surgcalc,
                                     UpdateForm.operexpd,
                                     UpdateForm.duracalc);'
           title="Expected MBS Item 1" tabindex=19>
        <input type=text readonly name=mbsdesc1 size=30
           title="Expected MBS Item 1 Name" tabindex=-1
           value="%OPRWEB01.11.721.0" >
         <img src="../images/SearchIcon.gif" class=Icon
           onClick="MbsSearchFrame(UpdateForm.operprv1,
                                   UpdateForm.mbsdesc1,
                                   UpdateForm.bookdate)"></td>
</tr>

<tr><td></td>
  <td colspan=3>
        <input type=text name=operprv2 size=9 tabindex=20
           value="%OPRWEB01.11.722.1"
           onblur='validateCode(4,
                                UpdateForm.operprv2,
                                UpdateForm.mbsdesc2,
                                UpdateForm.bookdate);
                   validateOprDurAve(UpdateForm.operprv1,
                                     UpdateForm.operprv2,
                                     UpdateForm.operprv3,
                                     UpdateForm.surgcalc,
                                     UpdateForm.operexpd,
                                     UpdateForm.duracalc);'
           title="Expected MBS Item 2" >
        <input type=text readonly name=mbsdesc2 size=30
           value="%OPRWEB01.11.722.0"
           title="Expected MBS Item 2 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
           onClick="MbsSearchFrame(UpdateForm.operprv2,
                                   UpdateForm.mbsdesc2,
                                   UpdateForm.bookdate)"></td>
</tr>

<tr><td></td>
  <td colspan=3>
       <input type=text name=operprv3 size=9 tabindex=21
           value="%OPRWEB01.11.723.1"
           onblur='validateCode(4,
                                UpdateForm.operprv3,
                                UpdateForm.mbsdesc3,
                                UpdateForm.bookdate);
                   validateOprDurAve(UpdateForm.operprv1,
                                     UpdateForm.operprv2,
                                     UpdateForm.operprv3,
                                     UpdateForm.surgcalc,
                                     UpdateForm.operexpd,
                                     UpdateForm.duracalc);'
           title="Expected MBS Item 3" >
        <input type=text readonly name=mbsdesc3 size=30
           value="%OPRWEB01.11.723.0"
           title="Expected MBS Item 3 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
           onClick="MbsSearchFrame(UpdateForm.operprv3,
                                   UpdateForm.mbsdesc3,
                                   UpdateForm.bookdate)"></td>
</tr>

<tr><td></td>
  <td colspan=3>
        <input type=text name=operprv4 size=9 tabindex=22
           value="%OPRWEB01.11.771.001.1"
           onblur='validateCode(4,
                                UpdateForm.operprv4,
                                UpdateForm.mbsdesc4,
                                UpdateForm.bookdate)'
           title="Expected MBS Item 4" >
        <input type=text readonly name=mbsdesc4 size=30
           value="%OPRWEB01.11.771.001.0"
           title="Expected MBS Item 4 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
           onClick="MbsSearchFrame(UpdateForm.operprv4,
                                   UpdateForm.mbsdesc4,
                                   UpdateForm.bookdate)"></td>
</tr>

<tr><td></td>
  <td colspan=3>
        <input type=text name=operprv5 size=9 tabindex=23
           value="%OPRWEB01.11.771.002.1"
           onblur='validateCode(4,
                                UpdateForm.operprv5,
                                UpdateForm.mbsdesc5,
                                UpdateForm.bookdate)'
           title="Expected MBS Item 5" >
        <input type=text readonly name=mbsdesc5 size=30
           value="%OPRWEB01.11.771.002  "
           title="Expected MBS Item 5 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
           onClick="MbsSearchFrame(UpdateForm.operprv5,
                                   UpdateForm.mbsdesc5,
                                   UpdateForm.bookdate)"></td>
    </tr>

   <tr><td>Show Extra MBS Codes</td>
       <td><input type="checkbox" name="mbsbox1" value="0" tabindex=24 id=mbsbox1
                  onclick='ShowMBSFields1();'></td>
</tr>
</table>

   <div id=ExtraMBS1></div>
   <div id=ExtraMBS2></div>
   <div id=ExtraMBS3></div>
   <div id=ExtraMBS4></div>
   <div id=ExtraMBS5></div>

<table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
<tr><td colspan=4>&nbsp;</td></tr>

<tr><td colspan=4 align="center">
  <input type=button id="opr01sub" class="button" value="Ok"
   onclick="tempDisable(this);Check();" tabindex=81>
  <input type=button class="button" value="Cancel" onclick='DFrameClose()'
         tabindex="82"/>
    </td></tr>
</table>
</form>
</div>

<form name=PatientLinks method=get  style="margin:0">
<input type=hidden name=reportno value=9>
<input type=hidden name=template value=002>
<input type=hidden name=urnumber value="%OPRWEB01.11.203">
<input type=hidden name=admissno value="%OPRWEB01.11.281">
<input type=hidden name=MenuType value="%OPRWEB01.11.288">
<input type=hidden name=casekeys value="%OPRWEB01.11.301">
<input type=hidden name=sesskeys value="%OPRWEB01.11.301">
</form>

<form name=CancelBook method=get style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=003>
<input type=hidden name=sesskeys value="%OPRWEB01.11.301">
</form>

<form name=LinkForm method=get action=oprweb02.pbl style="margin:0">
<input type=hidden name=reportno value=03>
<input type=hidden name=template value=001>
<input type=hidden name=urnumber value="%OPRWEB01.11.203">
<input type=hidden name=admissno value="%OPRWEB01.11.281">
</form>

<span id=SDuration style="display:none">
<td><select name="operexpd" tabindex=30 class=Mandatory
     title="Operation Expected Duration">
    <option value=""></option>
    <option value="  10">10 min</option>
    <option value="  15">15 Min</option>
    <option value="  20">20 Min</option>
    <option value="  30">30 min</option>
    <option value="  40">40 min</option>
    <option value="  50">50 min</option>
    <option value="  60">60 min</option>
    <option value="  70">70 min</option>
    <option value="  80">80 min</option>
    <option value="  90">90 min</option>
    <option value=" 100">100 min</option>
    <option value=" 110">110 min</option>
    <option value=" 120">120 Min</option>
    <option value=" 130">130 min</option>
    <option value=" 140">140 min</option>
    <option value=" 150">150 min</option>
    <option value=" 160">160 min</option>
    <option value=" 170">170 min</option>
    <option value=" 180">180 min</option>
    <option value=" 190">190 min</option>
    <option value=" 200">200 min</option>
    <option value=" 210">210 min</option>
    <option value=" 220">220 min</option>
    <option value=" 230">230 min</option>
    <option value=" 240">240 min</option>
    <option value=" 250">250 min</option>
    <option value=" 260">260 min</option>
    <option value=" 270">270 min</option>
    <option value=" 280">280 min</option>
    <option value=" 290">290 min</option>
    <option value=" 300">300 min</option>
    <option value=" 310">310 min</option>
    <option value=" 320">320 Min</option>
    <option value=" 330">330 min</option>
    <option value=" 340">340 min</option>
    <option value=" 350">350 min</option>
    <option value=" 360">360 min</option>
    <option value=" 370">370 min</option>
    <option value=" 380">380 min</option>
    <option value=" 390">390 min</option>
    <option value=" 400">400 min</option>
    <option value=" 410">410 min</option>
    <option value=" 420">420 min</option>
    <option value=" 430">430 min</option>
    <option value=" 440">440 min</option>
    <option value=" 450">450 min</option>
    </select>
    </td>
</span>
<span id=FDuration style="display:none">
  <td><input type=text name="operexpd" size=6 maxlength=4 min=0
       title="Operation Expected Duration" class="Mandatory Integer"
       value="%OPRWEB01.11.712" tabindex=30> (minutes) &nbsp;&nbsp;
       Calculate Minutes <input type=radio name=duracalc
                        onclick='validateOprDurAve(operprv1,operprv2,operprv3,
                                                  surgcalc,operexpd,duracalc);'>
       Single Procedure Only <input type=radio name=duracalc
                        onclick='validateOprDurAve(operprv1,operprv2,operprv3,
                                                  surgcalc,operexpd,duracalc);'>
   </td>
</span>

<script type="text/javascript">
if(document.UpdateForm.opcnfdur.value=="1") {
  divDuration.style.display="";
  divDuration.innerHTML=FDuration.innerHTML;
} else {
  divDuration.style.display="";
  divDuration.innerHTML=SDuration.innerHTML;
  for (var i =0 ; i < document.UpdateForm.operexpd.length; i++) {
  x=trim(document.UpdateForm.operexpd.options[i].value)
     if (x==trim(%OPRWEB01.11.712)){
         document.UpdateForm.operexpd.options[i].selected=true;
         break;} };
}

function AdmissionLinkSearchFrame(urnumb,session,RETadmis,RETdate,RETtime,
                                  RETacare,RETaclaim){
 DFrameStart();
  window.urnumber=urnumb;
  window.sesskeys=session; 
  document.getElementById('PopUpFrame').src="../lookups/AdmissionLinkSearchFrame.html";
  SearchFrameShow();
}

function defaultAdmission(){
  if (document.UpdateForm.opcnfdur.value=="1") {
    divDuration.style.display="";
    divDuration.innerHTML=FDuration.innerHTML;
  } else {
    divDuration.style.display="";
    divDuration.innerHTML=SDuration.innerHTML;
    for (var i =0 ; i < document.UpdateForm.operexpd.length; i++) {
      if (document.UpdateForm.operexpd.options[i].value=="%OPRWEB01.11.712") {
        document.UpdateForm.operexpd.selectedIndex=i;
      }
    }
  }
}
ibcnmhos="%OPRWEB01.11.999.008"
if(ibcnmhos=="1"){
  UpdateForm.bkrec015.className="Mandatory"
  UpdateForm.bokrx002.className="Mandatory"
}
bookflag="%OPRWEB01.11.072.015"
if(bookflag=="1"){
  alert("Warning : Patient has a booking");
}
checkFlag="%OPRWEB01.11.651"
if (checkFlag=="Yes") {
  document.UpdateForm.d_bokrx051.checked=1;
}
else {
  document.UpdateForm.d_bokrx051.checked=0;
}
checkFlag="%OPRWEB01.11.768"
if (checkFlag=="Yes") {
  document.UpdateForm.d_opdea041.checked=1;
}
else {
  document.UpdateForm.d_opdea041.checked=0;
}
checkFlag="%OPRWEB01.11.756"
if (checkFlag=="Yes") {
  document.UpdateForm.d_opdea038.checked=1;
}
else {
  document.UpdateForm.d_opdea038.checked=0;
}
checkFlag="%OPRWEB01.11.773"
if (checkFlag=="Yes") {
  document.UpdateForm.d_opdea042.checked=1;
}
else {
  document.UpdateForm.d_opdea042.checked=0;
}
</script>

<span id=extrambs1 style="display:none">
 <table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
   <tr><td width=15% class=DataLabel>MBS Codes</td>
       <td><input type=text name=operprv6 size=9
              value="%OPRWEB01.11.771.003.1"
              onblur='validateCode(4,
                                   UpdateForm.operprv6,
                                   UpdateForm.mbsdesc6,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 6" >
           <input type=text readonly name=mbsdesc6 size=30
              value="%OPRWEB01.11.771.003  "
              title="Expected MBS Item 6 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operprv6,
                                      UpdateForm.mbsdesc6,
                                      UpdateForm.bookdate)">
   </td></tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operprv7 size=9
              value="%OPRWEB01.11.771.004.1"
              onblur='validateCode(4,
                                   UpdateForm.operprv7,
                                   UpdateForm.mbsdesc7,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 7" >
       <input type=text readonly name=mbsdesc7 size=30
              value="%OPRWEB01.11.771.004  "
              title="Expected MBS Item 7 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operprv7,
                                      UpdateForm.mbsdesc7,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operprv8 size=9
              value="%OPRWEB01.11.771.005.1"
              onblur='validateCode(4,
                                   UpdateForm.operprv8,
                                   UpdateForm.mbsdesc8,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 8" >
       <input type=text readonly name=mbsdesc8 size=30
              value="%OPRWEB01.11.771.005  "
              title="Expected MBS Item 8 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operprv8,
                                      UpdateForm.mbsdesc8,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operprv9 size=9
              value="%OPRWEB01.11.771.006.1"
              onblur='validateCode(4,
                                   UpdateForm.operprv9,
                                   UpdateForm.mbsdesc9,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 9" >
       <input type=text readonly name=mbsdesc9 size=30
              value="%OPRWEB01.11.771.006  "
              title="Expected MBS Item 9 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operprv9,
                                      UpdateForm.mbsdesc9,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr10 size=9
              value="%OPRWEB01.11.771.007.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr10,
                                   UpdateForm.mbsdes10,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 10" >
       <input type=text readonly name=mbsdes10 size=30
              value="%OPRWEB01.11.771.007  "
              title="Expected MBS Item 10 Name" tabindex=-1>
         <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr10,
                                      UpdateForm.mbsdes10,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>Show Extra MBS Codes</td>
       <td><input type="checkbox" name="mbsbox2" value="0" id=mbsbox2
                  onclick='ShowMBSFields2();'></td>
       <td colspan=2>&nbsp;</td></tr>

 </table>
</span>

<span id=extrambs2 style="display:none">
 <table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>

   <tr><td width=15% class=DataLabel>MBS Codes</td>
       <td><input type=text name=operpr11 size=9
              value="%OPRWEB01.11.771.008.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr11,
                                   UpdateForm.mbsdes11,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 11" >
           <input type=text readonly name=mbsdes11 size=30
              value="%OPRWEB01.11.771.008  "
              title="Expected MBS Item 11 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr11,
                                      UpdateForm.mbsdes11,
                                      UpdateForm.bookdate)">
    </td></tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr12 size=9
              value="%OPRWEB01.11.771.009.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr12,
                                   UpdateForm.mbsdes12,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 12" >
           <input type=text readonly name=mbsdes12 size=30
              value="%OPRWEB01.11.771.009  "
              title="Expected MBS Item 12 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr12,
                                      UpdateForm.mbsdes12,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr13 size=9
              value="%OPRWEB01.11.771.010.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr13,
                                   UpdateForm.mbsdes13,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 13" >
           <input type=text readonly name=mbsdes13 size=30
              value="%OPRWEB01.11.771.010  "
              title="Expected MBS Item 13 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr13,
                                      UpdateForm.mbsdes13,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr14 size=9
              value="%OPRWEB01.11.771.011.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr14,
                                   UpdateForm.mbsdes14,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 14" >
           <input type=text readonly name=mbsdes14 size=30
              value="%OPRWEB01.11.771.011  "
              title="Expected MBS Item 14 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr14,
                                      UpdateForm.mbsdes14,
                                      UpdateForm.bookdate)"></td>
   </tr>

   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr15 size=9
              value="%OPRWEB01.11.771.012.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr15,
                                   UpdateForm.mbsdes15,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 15" >
           <input type=text readonly name=mbsdes15 size=30
              value="%OPRWEB01.11.771.012  "
              title="Expected MBS Item 15 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr15,
                                      UpdateForm.mbsdes15,
                                      UpdateForm.bookdate)"></td>
    </tr>
   <tr><td>Show Extra MBS Codes</td>
       <td><input type="checkbox" name="mbsbox3" value="0" id=mbsbox3
                  onclick='ShowMBSFields3();'></td>
       <td colspan=2>&nbsp;</td></tr>
 </table>
</span>
 
<span id=extrambs3 style="display:none">
 <table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
   <tr><td width=15% class=DataLabel>MBS Codes</td>
       <td><input type=text name=operpr16 size=9
              value="%OPRWEB01.11.771.013.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr16,
                                   UpdateForm.mbsdes16,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 16" >
           <input type=text readonly name=mbsdes16 size=30
                  value="%OPRWEB01.11.771.013  "
                  title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr16,
                                      UpdateForm.mbsdes16,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr17 size=9
              value="%OPRWEB01.11.771.014.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr17,
                                   UpdateForm.mbsdes17,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 17" >
           <input type=text readonly name=mbsdes17 size=30
                  value="%OPRWEB01.11.771.014  "
                  title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr17,
                                      UpdateForm.mbsdes17,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr18 size=9
              value="%OPRWEB01.11.771.015.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr18,
                                   UpdateForm.mbsdes18,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 18" >
           <input type=text readonly name=mbsdes18 size=30
              value="%OPRWEB01.11.771.015  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr18,
                                      UpdateForm.mbsdes18,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr19 size=9
              value="%OPRWEB01.11.771.016.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr19,
                                   UpdateForm.mbsdes19,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 19" >
           <input type=text readonly name=mbsdes19 size=30
              value="%OPRWEB01.11.771.016  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr19,
                                      UpdateForm.mbsdes19,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr20 size=9
              value="%OPRWEB01.11.771.017.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr20,
                                   UpdateForm.mbsdes20,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 20" >
           <input type=text readonly name=mbsdes20 size=30
              value="%OPRWEB01.11.771.017  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr20,
                                      UpdateForm.mbsdes20,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>Show Extra MBS Codes</td>
       <td><input type="checkbox" name="mbsbox4" value="0" id=mbsbox4
                  onclick='ShowMBSFields4();'></td>
       <td colspan=2>&nbsp;</td></tr>
 </table>
</span>

<span id=extrambs4 style="display:none">
 <table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
   <tr><td width=15% class=DataLabel>MBS Codes</td>
       <td><input type=text name=operpr21 size=9
              value="%OPRWEB01.11.771.018.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr21,
                                   UpdateForm.mbsdes21,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 21" >
           <input type=text readonly name=mbsdes21 size=30
              value="%OPRWEB01.11.771.018  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr21,
                                      UpdateForm.mbsdes21,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr22 size=9
              value="%OPRWEB01.11.771.019.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr22,
                                   UpdateForm.mbsdes22,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 22" >
           <input type=text readonly name=mbsdes22 size=30
              value="%OPRWEB01.11.771.019  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr22,
                                      UpdateForm.mbsdes22,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr23 size=9
              value="%OPRWEB01.11.771.020.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr23,
                                   UpdateForm.mbsdes23,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 23" >
           <input type=text readonly name=mbsdes23 size=30
              value="%OPRWEB01.11.771.020  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr23,
                                      UpdateForm.mbsdes23,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr24 size=9
              value="%OPRWEB01.11.771.021.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr24,
                                   UpdateForm.mbsdes24,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 24" >
           <input type=text readonly name=mbsdes24 size=30
              value="%OPRWEB01.11.771.021  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr24,
                                      UpdateForm.mbsdes24,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr25 size=9
              value="%OPRWEB01.11.771.022.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr25,
                                   UpdateForm.mbsdes25,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 25" >
           <input type=text readonly name=mbsdes25 size=30
              value="%OPRWEB01.11.771.022  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr25,
                                      UpdateForm.mbsdes25,
                                      UpdateForm.bookdate)">
    </td></tr>
 <tr><td>Show Extra MBS Codes</td>
       <td><input type="checkbox" name="mbsbox5" value="0" id=mbsbox5
                  onclick='ShowMBSFields5();'></td>
       <td colspan=2>&nbsp;</td></tr>
 </table>
</span>

<span id=extrambs5 style="display:none">
 <table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
   <tr><td width=15% class=DataLabel>MBS Codes</td>
       <td><input type=text name=operpr26 size=9
              value="%OPRWEB01.11.771.023.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr26,
                                   UpdateForm.mbsdes26,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 26" >
           <input type=text readonly name=mbsdes26 size=30
              value="%OPRWEB01.11.771.023  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr26,
                                      UpdateForm.mbsdes26,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr27 size=9
              value="%OPRWEB01.11.771.024.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr27,
                                   UpdateForm.mbsdes27,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 27" >
           <input type=text readonly name=mbsdes27 size=30
              value="%OPRWEB01.11.771.024  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr27,
                                      UpdateForm.mbsdes27,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr28 size=9
              value="%OPRWEB01.11.771.025.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr28,
                                   UpdateForm.mbsdes28,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 28" >
           <input type=text readonly name=mbsdes28 size=30
              value="%OPRWEB01.11.771.025  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr28,
                                      UpdateForm.mbsdes28,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr29 size=9
              value="%OPRWEB01.11.771.026.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr29,
                                   UpdateForm.mbsdes29,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 29" >
           <input type=text readonly name=mbsdes29 size=30
              value="%OPRWEB01.11.771.026  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr29,
                                      UpdateForm.mbsdes29,
                                      UpdateForm.bookdate)">
    </td></tr>
   <tr><td>&nbsp;</td>
       <td><input type=text name=operpr30 size=9
              value="%OPRWEB01.11.771.027.1"
              onblur='validateCode(4,
                                   UpdateForm.operpr30,
                                   UpdateForm.mbsdes30,
                                   UpdateForm.bookdate)'
              title="Expected MBS Item 30" >
           <input type=text readonly name=mbsdes30 size=30
              value="%OPRWEB01.11.771.027  "
              title="Expected MBS Item 1 Name" tabindex=-1>
            <img src="../images/SearchIcon.gif" class=Icon
              onClick="MbsSearchFrame(UpdateForm.operpr30,
                                      UpdateForm.mbsdes30,
                                      UpdateForm.bookdate)">
    </td></tr>
 </table>
</span>

<span id=ShowReasonHeading style="display:none">
<tr> <td class=DataLabel>Reason</td> </tr>
</span>

<span id=ShowReasonField style="display:none">
<tr>
    <td class=DataField><input type=hidden name=updfld08 value="08"></td>
    <td>
      <select name=reasfc08 class="Mandatory" title="Reason">
      <option></option>i
      %STANDARD.01.007.FX
      </select>
    </td>
</tr>
</span>


<span id=blanklabel style="display:none">&nbsp;</span>

