/*-----------------------------------------------------------
   cssVersion : V11.01.00
-----------------------------------------------------------*/
div[id$="-suggestion-wrapper"] {
	position:absolute;
	padding:0px;
	z-index:90;
}

div[id$="-suggestion-wrapper"].hide {
	display:none;
}

div[id$="-suggestion-wrapper"].show {
}


div[id$="-suggestion-triangle"] {
        height:18px;
	z-index:10;
	position:relative;
	top:1px;
}

div[id$="-suggestion-title"] {
	color:white;
}

div[id$="-suggestion-title"] p {
	text-align:center;
	color:white;
	margin:0px;	
        padding:10px;
	font-size:14px;
        font-weight:bold;
}


div[id$="-suggestion-panel-wrapper2"] {
	/*height:300px;*/
	z-index:200;
   	padding:0px;
    	background-color:white;
	border:2px solid #ccc;
        -webkit-border-radius:5px;
	-webkit-box-shadow: 5px 5px 10px #888;
}

ul[id$="-suggestion-table"] {
	width:100%;
	font-size:14px;
	font-weight:normal;
	padding:0px;
    	background-color:white;
	color:black;
}
ul[id$="-suggestion-table"] li:hover {
	background-color:#efefef;
}
ul[id$="-suggestion-table"] li {
        background-color:white;
	font-weight:normal;
        color:black;
        border-bottom:1px solid #efefef;
	padding:10px;
	list-style:none;
}
.subText {
  display: block;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
