;
; this is the WebPAS setup file for php functions
;
dbtype = "CISAM";
ipharmacy_host     = "";
ipharmacy_database = "";
ipharmacy_user     = "";
ipharmacy_password = "";
;
medchart_host     = "http://vmapqa-beta01.ibahealth.local/";
medchart_database = "";
medchart_user_map = "";
medchart_user     = "user";
medchart_password = "password";
medchart_psk      = "XS8BpIr0tcndOI8a9V2oTQ==";
;
servicesHttp      = "http://";
servicesHost      = "130.78.235.58";
servicesPath      = "/v10.13/cgi-bin/"
sharedHtmlPath    = "/opt/iba/web/html/cor1/"
patientImagePath  = "/opt/iba/web/v10.13/images/patients/";
doctorImagePath   = "/opt/iba/web/v10.13/images/doctors/";
imageCachePath    = "/tmp/phpcache/";
order_pdf_path    = "/opt/iba/web/cab/PathOrdersPDF/";
;
; Use these for dbtype = oracle to get values from the specified Apache environment variables
[Oracle]
oracle_uid = "demo";
oracle_pwd = "demopw";
oracle_sid = "DEV";
;
; Use these for dbtype = oracle_env to get values from the specified Apache environment variables
[Oracle Environment]
oracle_uid_env = "ORACLE_UID";
oracle_pwd_env = "ORACLE_PWD";
oracle_sid_env = "ORACLE_SID";
;
[DiarySubscription]
diary_session_past_mth   = "1"
diary_session_future_mth = "9"
diary_calendar_name      = "Doncaster Hospital Diary"
diary_summary_name       = "Doncaster Hospital Hospital Diary"
diary_refresh_time       = "PT02H00M00S"
diary_organiser_name     = "Booking Office"
diary_organiser_email    = "booking@elthamhospital.com.au"
diary_description_line   = "Please email or call the theatre booking office for any changes or updates."
diary_description_link   = "Follow Link to View Details."
diary_url_href           = "http://webpasdemo.healthhost.net/v10.13/cgi-bin/icalview.php?linkstr=";
diary_hostname           = "appsvr045.cabrini.com.au";
;
[TheatreSubscription]
theatre_session_past_mth   = "4"
theatre_session_future_mth = "9"
theatre_cases_past_mth     = "4"
theatre_cases_future_mth   = "9"
theatre_calendar_name      = "Eltham Hospital Sessions"
theatre_case_calendar_name = "Eltham Hospital Operations"
theatre_summary_name       = "Eltham Hospital Theatre"
theatre_refresh_time       = "PT02H00M00S"
theatre_organiser_name     = "Theatre Booking Office"
theatre_organiser_email    = "theatre@elthamhospital.com.au"
theatre_description_line   = "Please email or call the theatre booking office for any changes or updates."
theatre_description_link   = "Follow Link to View Details."
theatre_url_href           = "http://webpasdemo.healthhost.net/v10.13/cgi-bin/icalview.php?linkstr=";
theatre_hostname           = "appsvr045.cabrini.com.au";
;
[ClinicSubscription]
clinic_session_past_mth    = "1"
clinic_session_future_mth  = "9"
clinic_cases_past_mth      = "1"
clinic_cases_future_mth    = "9"
clinic_calendar_name       = "Melbourne Clinic"
clinic_appt_calendar_name  = "Melbourne Clinic Appointments"
clinic_summary_name        = "Melbourne Clinic"
clinic_refresh_time        = "PT02H00M00S"
clinic_organiser_name      = "Clinic Booking Office"
clinic_organiser_email     = "clinics@melbourne.com.au"
clinic_description_line    = "Please email or call the clinic booking office for any changes or updates."
clinic_description_link    = "Follow Link to View Details."
clinic_url_href            = "http://webpasdemo.healthhost.net/v10.13/cgi-bin/icalview.php?linkstr=";
clinic_hostname            = "appsvr045.cabrini.com.au";
;
