
;
; This is the WebPAS setup file for php SMS functions
;
; This file should be copied to /opt/iba/web/<MyHospital>/etc/smsphp.ini
; and configured as required.

; Account credentials 
smsuid         = "MyAccountName"
smspwd         = "MyPassword"

; Working directories 
webpas_tmp_dir = "/opt/iba/dev/myhospital/tmp/"
sms_target_dir = "/opt/iba/web/myhospital/schedule/sms/"
sms_processed_dir = "/opt/iba/web/myhospital/schedule/sms/processed/"


; list of eligible numbers, only used on test implenmentations 
; this is just a comma delimitedlist of permiited phone numbers 
; remove the leading ';' to enable the list 

;eligible_numbers = "0417 888 990,0417 888 991,0417 888 992";

