<meta name="TemplateVersion" content="V10.15.00">
<meta name="TemplateHome" content="hdh">
<meta name="HelpFileName"    content="NoContextSet.html">
<style type=text/css>
#TableLocation { position:absolute; }
</style>
<script type="text/javascript" src=../js/EmergencyCodingTable.js> </script>
<script type="text/javascript">
function addDetail(linkurl) {
    Left=(document.body.clientWidth-590)/2
    DFrameLink(linkurl,0,Left,590,320)
}
function addMult(linkurl) {
   location.href=linkurl;
}
function ShowDetail(urnumber,recordky,type) {
    if (type == "001") {
      document.ShowPageForm.template.value="003";
    }
    else if (type == "002" ) {
      document.ShowPageForm.template.value="005";
    } else if (type == "003") {
      document.ShowPageForm.template.value="007";
    } else if (type == "004") {
      document.ShowPageForm.template.value="009";
    } else if (type == "005") {
      document.ShowPageForm.template.value="011";
    } else {
      alert("Incorrect Type to determine template number");
      return
    }

    linkURL="emrweb06.pbl?reportno=2&template=" + 
            document.ShowPageForm.template.value +
            "&urnumber=" + urnumber +
            "&recordky=" + recordky;
    Left=(document.body.clientWidth-590)/2
    DFrameLink(linkURL,0,Left,590,200)
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);initTables();self.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Summary Procedure Listing
</span>
<div id=PageBodySection>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td class=HeadingCell width=95% align=center>
     Emergency Procedures</td>
    </tr>
</table>

<div id="TableLocation4" >
</div>

<script type="text/javascript">
function initTables() {
  initTable4();
}
//
// Table 4
//
function initTable4() {
 TB4 = new Table("TB4",1,0,1,"100%","center",TableLocation4);    // Create New Table Object
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
 TB4.addColumn("Procedure Date/Time","DateTime",12,12,"left","","")
 TB4.addColumn("Type","String",0,0,"center width=80","","")
 TB4.addColumn("Code","String",2,2,"left width=100","MaintenanceIcon.gif","10")
 TB4.addColumn("Description","String",3,3,"left width=340","","")
// TB4.addColumn("Send in Extract","String",6,6,"center width=90","","")
 TB4.addColumn("User","String",7,7,"left","","")
 TB4.addColumn("Update Date/Time","DateTime",13,13,"left","","")
//
// Add Rows to Table (Output from Web Server)
//
%EMRWEB06.02.134.TB4.004  
 OrderColumn=0;
 AscDsc=2;
 lastOrderColumn=OrderColumn;
 TableOutput(TB4,OrderColumn,AscDsc);
}
</script>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.081">
<input type=hidden name=MenuType value="%EMRWEB06.02.088">
</form>
<form name=ShowPageForm action=emrweb06.pbl method=get>
<input type=hidden name=reportno value=02>
<input type=hidden name=template value="">
<input type=hidden name=urnumber value="">
<input type=hidden name=recordky value="">
</form>
</div>
