<meta name="TemplateVersion" content="V11.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">
function DispInv() {
  if (validateMandatory(ItemForm)) {
     document.ItemForm.chngdate.value=document.ItemForm.invtodat.value;
     document.ItemForm.updttype.value="X"
     ItemForm.submit();
  }
}
function initSP() {
    setTimeout('document.ItemForm.invtodat.focus();',400);
 }
</script>
</head>
<body onload="PageLoad(event);setTimeout('initSP();',350);">
%START.OF.PAGE
<table cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td>
<div id=PatientHeading></div>
</td></tr>
</table>
<script type="text/javascript">
PatientURN="%PATWEB71.01.003";
PatientVIS="%PATWEB71.01.081";
PatientNAM="%PATWEB71.01.002";
PatientSTA="%PATWEB71.01.086.078";
PatientALT="%PATWEB71.01.084";
PatientSEX="%PATWEB71.01.019";
PatientDOB="%PATWEB71.01.020";
PatientAGE="%PATWEB71.01.021";
PatientLOC="%PATWEB71.01.083";
PatientPRI="%PATWEB71.01.086.066.1";
PatientUNT="%PATWEB71.01.066.0";
DoctorCOD="%PATWEB71.01.082.003";
DoctorNAM="%PATWEB71.01.082.002";
PatientAID="%PATWEB71.01.086.090";
PatientIND="%PATWEB71.01.086.091";
PatientCUR="%PATWEB71.01.086.092";
PatientCLC="%PATWEB71.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB71.01.086.094";
PatientCDM="%PATWEB71.01.086.095";
PatientVDH="%PATWEB71.01.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div>
<div id="PageBodySection">

<table cellspacing=0 cellpadding=1 border=0 width=100%>
<form name=ItemForm action="patweb71.pbl" method=get>
  <input type=hidden name=reportno value="1">
  <input type=hidden name=template value="033">
  <input type=hidden name=updttype value=" ">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=backdate value="1">
  <input type=hidden name=chngdate value="">
  <input type=hidden name=urnumber value="%PATWEB71.01.003">
  <input type=hidden name=admissno value="%PATWEB71.01.081">
  <input type=hidden name=transnum value="%PATWEB71.01.323">
  <input type=hidden name=redirect value="%PATWEB71.01.001.patweb71.01.034">

<table cellspacing=0 cellpadding=1 border=0 width=100%>
  <tr><td align=center class=HeadingCell bgcolor=#CCCCCC>
    Invoice Estimate</td>
   </tr>
</table>

<table cellspacing=0 cellpadding=1 border=0 width=100%>

<tr>&nbsp;</tr>
<tr><td width=10% class=DataLabel>New Billing Date</td>
    <td width=20%><input type=text name=invtodat size=12
     title='Invoice Estimate Date' class='Mandatory Date'
     value="%PATWEB71.01.347" 
     onblur="checkDate(this,'Invoice Estimate Date');">
     <img src=../images/DateLookup.gif border=0 hspace=4
     align=absmiddle onclick="DateLookupFrame(invtodat);"></td>
    <td><input type=button value="Ok" class="button"
     onclick="DispInv()";>
     <input type=button value="Cancel" class="button"
     onclick="PatientLinkTo('patweb98.pbl',1,1,0);"></td>
</tr>
</table>

</form>

<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="004">
<input type="hidden" name="urnumber" value="%PATWEB71.01.003">
<input type="hidden" name="admissno" value="%PATWEB71.01.081">
<input type="hidden" name="MenuType" value="%PATWEB71.01.088">
</form>


