<Meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>

<body onload="PageLoad(event);">
%START.OF.PAGE
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB03.01.125.0 Contact
</span>

<script name="text/javascript">
function userConfirm() {
  setCheckedValue();
  document.UpdateForm.submit();
}

function setCheckedValue() {
  if(UpdateForm.d_alenrsta.checked == true) {
    UpdateForm.alenrsta.value ="1" ;
  }
  else {
    UpdateForm.alenrsta.value = "0";
  }
}
function DispNotes() {
  linkurl = "../cgi-bin/cliweb06.pbl?reportno=08&template=001" +
            "&encoutky=" + UpdateForm.encoutky.value.replace(/ /g,"+")
  Left=(document.body.clientWidth-735)/2
  DFrameLink(linkurl,0,Left,735,300)
}
</script>

<div id=PageBodySection>
<form action=allweb03.pbl method=post name=UpdateForm>
<input type=hidden name=reportno value="01">
<input type=hidden name=nextpage value="0">
<input type=hidden name=encoutky value="%ALLWEB03.01.304">
<input type=hidden name=updatety value="C">
<input type=hidden name=alenrsta value="">

<table cellspacing=0 cellpadding=1 border=0 width=90% align=center>

<tr><td class=DataLabel>Arrival Date</td>
    <td><input type=text size=11 readonly 
         value="%ALLWEB03.01.217" class = Readonly>
        Time
        <input type=text size =10 readonly 
         value="%ALLWEB03.01.218" class = Readonly>
    </td>
    <td class=DataLabel>Entered By</td>
    <td><input type=text size = 20 readonly 
         value="%ALLWEB03.01.272" class = Readonly>
    </td>
    </tr> 

<tr><td class=DataLabel>Seen Date</td>
    <td><input type=text size=11 readonly 
         value="%ALLWEB03.01.205" class = Readonly>
        Time
        <input type=text size =10 readonly 
         value="%ALLWEB03.01.206" class = Readonly>
    </td>
    <td class=DataLabel></td>
    <td></td>
    </tr> 

<tr><td class=DataLabel>Examining Clinician</td>
    <td colspan=3>
    <input type=text size=30 readonly 
     value="%ALLWEB03.01.204.081" class=Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Presenting Complaint</td>
    <td colspan=3>
    <input type=text size=52 readonly 
    value="%ALLWEB03.01.244" class = Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Diagnosis 1</td>
    <td colspan=3>
    <input type=text size=42 readonly 
    value="%ALLWEB03.01.229.0" class = Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Diagnosis 2</td>
    <td colspan=3>
    <input type=text size=42 readonly 
    value="%ALLWEB03.01.230.0" class = Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Diagnosis 3</td>
    <td colspan=3>
    <input type=text size=42 readonly 
    value="%ALLWEB03.01.231.0" class = Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Location</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.207.0" class=Readonly>
    </td>
    <td class=DataLabel>%STANDARD.01.017.CL</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.276.0" class=Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>%STANDARD.01.017.za</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.247.01.0" class=Readonly>
    </td>
    <td class=DataLabel>Care Type</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.287.0" class=Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Outcome Date</td>
    <td><input type=text size=11 readonly
         value="%ALLWEB03.01.219" class=Readonly>
        Time
        <input type=text size=10 readonly
         value="%ALLWEB03.01.220" class = Readonly>
    </td>
    <td class=DataLabel>Outcome</td>
    <td><input type=text size = 20 readonly
         value="%ALLWEB03.01.289.0" class = Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Service Provided</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.210.0" class=Readonly>
    </td>
    <td class=DataLabel>Service Delivery Mode</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.290.0" class=Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Referred to Facility</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.286.0" class=Readonly>
    </td>
    <td class=DataLabel>Transport Source of Referral</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.288.0" class=Readonly>
    </td>
    </tr>

<tr><td class=DataLabel>Cancel</td>
    <td colspan=3>
    <input type =checkbox  name=d_alenrsta onclick="setCheckedValue();" 
    id=d_alenrsta>
    </td>
</tr>
</table>

<table cellspacing=0 cellpadding=1 align=center border=0 width=90%>
<tr><td align=center>
    <input type=button class="button" value="OK" onclick ="userConfirm();
    tempDisable(this)" id=btnAdd>
    <input type=button class="button" value="Notes" name=notesbut
     id=notesbut onclick="DispNotes();">
    <input type=button class="button" value="Close" 
     onclick="DFrameCloseRefresh();">
    </td></tr>

</table>
</form></div>

<script type="text/javascript">
 Laser="%ALLWEB03.01.602";
 if ( Laser == "1") {
   document.UpdateForm.alerc002.checked=1;
 }
 Possum="%ALLWEB03.01.603";
 if ( Possum == "1") {
   document.UpdateForm.alerc003.checked=1;
 }
 Child="%ALLWEB03.01.604";
 if ( Child == "1") {
   document.UpdateForm.alerc004.checked=1;
 }
 Car="%ALLWEB03.01.605";
 if ( Car == "1") {
   document.UpdateForm.alerc005.checked=1;
 }
 Cancel="%ALLWEB03.01.216";
 if ( Cancel == "1") {
   document.UpdateForm.d_alenrsta.checked=1;
 }
 Buttcol="%ALLWEB03.01.284";
 if ( Buttcol == "1") {
   document.UpdateForm.notesbut.className="RedButton";
 }
</script>
