<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/EmergencyTableFull.js"> </script>
<script type="text/javascript" src="../js/emrweb0101032.js"> </script>
<style type=text/css>
body {
 overflow:auto;
 overflow-y:auto;
}
.ProgressBar {
 color:black;
 background-image:url("../images/ProgressBar.gif");
 height:10px;
 width:150px;
 text-align:left;
}
.emArrival0, .emArrival1, .emArrival2, .emArrival3, .emArrival4 {
 padding-right:5px;
 height:40px;
 width:100%;
 background-color:white;
 display:inline-block;
}
.emArrival1 {
 color:white;
 background-color:green;
}
.emArrival2 {
 color:white;
 background-color:orange;
}
.emArrival3 {
 color:white;
 background-color:red;
}
.emArrival4 {
 color:white;
 background-color:purple;
}
.AdmitIcon {
}
.HomeIcon {
}
.triage1, .triage2, .triage3, .triage4, .triage5, .triage0, 
.triage1f, .triage2f, .triage3f, .triage4f, .triage5f, .triage0f {
 color:black;
 font-size:16px;
 line-height:25px;
 height:40px;
 width:100%;
 background-color:purple;
 display:inline-block;
 padding-top:8px;
}
.triage1f, .triage2f, .triage3f, .triage4f, .triage5f, .triage0f {
 font-weight:bold;
}
.triage1 { background: url("../images/new-triage1.gif"); }
.triage2 { background: url("../images/new-triage2.gif"); }
.triage3 { background: url("../images/new-triage3.gif"); }
.triage4 { background: url("../images/new-triage4.gif"); }
.triage5 { background: url("../images/new-triage5.gif");color:black; }
.triage1f { background: url("../images/new-triage1f.gif"); }
.triage2f { background: url("../images/new-triage2f.gif"); }
.triage3f { background: url("../images/new-triage3f.gif"); }
.triage4f { background: url("../images/new-triage4f.gif"); }
.triage5f { background: url("../images/new-triage5f.gif");color:black; }
</style>
<script type="text/javascript">
function ShowExpectedPatient() {
  SetCookiePath("CurrentdPatientListURL");
  Path=GetContentCookie("ExpectedPatientListURL");
  if (isWhitespace(Path) || Path=="unknown") {
    linkurl = "emrweb01.pbl?reportno=1&template=049";
  }
  else {
    linkurl = Path;
  }
  location.href = linkurl;
}
function ShowAttendanceList() {
  SetCookiePath("CurrentdPatientListURL");
  Path=GetContentCookie("AttendanceListURL");
  if (isWhitespace(Path) || Path=="unknown") {
    linkurl = "emrweb01.pbl?reportno=2&template=004";
  }
  else {
    linkurl = Path;
  }
  location.href = linkurl;
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitPage();SetReturnPathCookie();">
<div id=HeadingSection>
<form name=SelectFilter action=emrweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=8>
<table cellpadding=3 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
<tr><td><span id=ProgressBar class=ProgressBar>Loading Page... </span></td>
    <td>Refresh Time</td><td>
     <select name=RefreshTime class=SelectBig title="Select Refresh" 
      onchange="SelectRefreshTime(this);">
     <option value=60>1 Minute</option>
     <option value=120>2 Minutes</option>
     <option value=180>3 Minutes</option>
     <option value=240>4 Minutes</option>
     <option value=300>5 Minutes</option>
     <option value=600>10 Minutes</option>
     <option value=999999>Turn Off</option>
    </select></td>
    <td>View Type </td><td>
     <select name=TableView class=SelectBig title="Select View Type" 
      onchange="SelectViewType(this);">
     <option value=0>Next Patient</option>
     <option value=1>Triage View</option>
     <option value=2>Clinician View</option>
     <option value=3>Nurse View</option>
    </select>
  </td>
    <td align="right">%STANDARD.01.017.eh</td><td>
    <select name="filtstrm" id=filtstrm class=SelectBig
     onchange="FilterChange(this);">
    <option value="">&nbsp;</option>
    %EMRWEB01.01.058.2
    </select>
  </td>
  <td>
    <input type=button value="Expected Pts" class=button
      name=btnAttLst id=btnAttLst
      onclick="tempDisable(this);ShowExpectedPatient();">
    <input type=button value="Attendance List" class=Bigbutton
      name=btnAttLst id=btnAttLst
      onclick="tempDisable(this);ShowAttendanceList();">
  </td>
</tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Please Wait ...</p>
</span>

<div id=PageLayer class=DimmedLayer style="display:none"></div>

<form name="HiddenFields" style="margin:0">
<input type="hidden" name="venquiry" value="%EMRWEB01.01.056">
<input type="hidden" name="emvistrm" value="%STANDARD.01.017.eh">
<input type="hidden" name="tscookie" value="emrweb0101032TS">
<input type="hidden" name="alrturno" value="">
<input type="hidden" name="alrtadmn" value="">
<input type="hidden" name="acnestat" value="">
<input type="hidden" id="dswahlth">
<input type="hidden" name="d_emviuc28" value="%STANDARD.01.017.et">
<input type=hidden name=disedssu id=disedssu value="%EMRWEB01.01.082">
</form>
