<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function SelectPSC(urnumber,admissno) {
  if (urnumber==0) {
    var url = "../cgi-bin/emrweb02.pbl?" +
              "reportno=1&template=4" +
              "&admissno=" + admissno.replace(/ /g,"+") + 
              "&urnumber=" + urnumber.replace(/ /g,"+") +
              "&popregsc=1";
    location.href=url;
  }
  else {
    var url = "../cgi-bin/emrweb02.pbl?" +
              "reportno=1&template=1" +
              "&urnumber=" + urnumber.replace(/ /g,"+") +
              "&admissno=" + admissno.replace(/ /g,"+");
    if (parent.menu.EmergencyMenu) {
      parent.menu.EmergencyMenu.innerHTML="";
      parent.menu.EmergencyFrameLink(url,0,0,1008,521);
    } else {
      location.href=url;
    }
  }
}
function displaySelectPeriodDIV() {
  if (isWhitespace(document.SelectPeriod.viewtydf.value)) {
    SelectPeriodDIV.innerHTML="";
  }
}
function gotoEmrVis(urnumber,admissno) {
  var url = "../cgi-bin/emrweb02.pbl?" +
              "reportno=1&template=4" +
              "&admissno=" + admissno.replace(/ /g,"+") +
              "&urnumber=" + urnumber.replace(/ /g,"+"); 
    location.href=url;
}
function OpenLocation(urnumber,admissno) {
  linkURL="emrweb02.pbl?reportno=1&template=107&urnumber=" +
          urnumber + "&admissno=" + admissno;
  DFrameLink(linkURL,57,465,410,270);
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable();displaySelectPeriodDIV();>
<div id=HeadingSection style="display:none"></div>
<form name=SelectPeriod action=emrweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=15>
<input type=hidden name=viewtype value="%EMRWEB01.01.070">
<input type=hidden name=viewtydf value="%EMRWEB01.01.071">
<table cellpadding=2 bgcolor=#CCCCCC border=0 width=100%>
<tr><td align=left>
    <div id=SelectPeriodDIV> 
    <input type=button value="<<" 
    onclick='location.href="%EMRWEB01.01.068&viewtydf=1";'
    class=SmallButton >
     %EMRWEB01.01.069
    <input type=button value=">>"
    onclick='location.href="%EMRWEB01.01.067&viewtydf=1";'
    class=SmallButton >
    <input type=button value="Default View"
    onclick="location.href='emrweb01.pbl?reportno=01&template=015'"
    class=Button >
    </div>
    </td>
    <td align=right>
    <a href='javascript:SelectPeriodDIV.innerHTML=SelectPeriodSPAN.innerHTML;
                        SelectPeriodDIV.style.visibility="hidden";
                        document.SelectPeriod.viewtydf.value="1";
                        SelectDateFrame();'>
    <img src="../images/DateLookup.gif" class="Icon"
     alt="Select Date"></a>
    <a href='javascript:document.SelectPeriod.viewtydf.value="1";
                        SelectView("0");'>
    <img src=../images/DayIcon.gif class="Icon"
    alt="View Today"></a>
    <a href='javascript:document.SelectPeriod.viewtydf.value="1";
                        SelectView("1");'>
    <img src=../images/WeekIcon.gif class="Icon"
    alt="View This Week"></a>
    <a href='javascript:document.SelectPeriod.viewtydf.value="1";
                        SelectView("2");'>
    <img src=../images/MonthIcon.gif class="Icon"
    alt="View This Month"></a>
    </td></tr>
</table>
</form>
<div id=TableLocation ></div>
<script type="text/javascript">
function InitTable() {
 document.title="Clerical Incomplete List"
 t = new Table(1,0,0,"100%","center");    // Create New Table Object
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
 t.addColumn("Triage","Image",7,7,"center","TriageIcon","",40)
 t.addColumn("Patient","ImageText",3,3,"left","PatientFolder","0",200,23)
 t.addColumn("Location","String",26,26,"left","","27",130)
 t.addColumn("Arrival","DateTime",22,22,"left","","",130)
 t.addColumn("Discharge","DateTime",24,24,"left","","",130)
 t.addColumn("Discharge Destination","String",25,25,"left","","",100)
 t.addColumn("Mandatory Fields","String",21,21,"left","","","100")
//
// Add Rows to Table (Output from Web Server)
//
%EMRWEB01.01.028
 TableOutput(1,0);
}
</script>

<span id=SelectPeriodSPAN style="display:none">
    <input type=button value="<<" onclick='location.href="%EMRWEB01.01.068";'
    class=SmallButton>
     %EMRWEB01.01.069
    <input type=button value=">>" onclick='location.href="%EMRWEB01.01.067";'
    class=SmallButton>
</span>
