<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function ReferralLink(ReferralKey) {
  var uno=PatientLinks.urnumber.value.replace(/ /g,"+");
  var adm=PatientLinks.admissno.value.replace(/ /g,"+");
  var lev=PatientLinks.superlev.value.replace(/ /g,"+");
  var rno=ReferralKey.replace(/ /g,"+");
  Location="../cgi-bin/mehweb01.pbl?reportno=09&template=003&urnumber="+uno+"&uniqnumb="+rno+"&admissno="+adm+"&superlev="+lev;
  location.href=Location
}

function RefHistory() {
  linkurl="mehweb01.pbl?reportno=09&template=010" +
           "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
           "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+");
  Left=(document.body.clientWidth-900)/2
  DFrameLink(linkurl,100,Left,900,400);
//  Left=(document.body.clientWidth-1000)/2
//  DFrameLink(linkurl,100,Left,1000,400);
}

function SectHistory() {
  linkurl="mehweb01.pbl?reportno=09&template=011" +
           "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
           "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+");
  Left=(document.body.clientWidth-1000)/2
  DFrameLink(linkurl,100,Left,1000,400);
}

function AdmitMH() {
  var uno=PatientLinks.urnumber.value.replace(/ /g,"+");
  var adm=PatientLinks.admissno.value.replace(/ /g,"+");
  location.href="../cgi-bin/patweb89.pbl?reportno=07&template=002&urnumber="+
  uno+"&admissno="+adm
}

function AddRef() {
  linkurl="mehweb01.pbl?reportno=09&template=002" +
           "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
           "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+");
   Left=(document.body.clientWidth-800)/2
   DFrameLink(linkurl,100,5,1024,350);
}

function RefCmnts() {
  linkurl="mehweb01.pbl?reportno=09&template=008" +
           "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
           "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+");
  Left=(document.body.clientWidth-900)/2
  DFrameLink(linkurl,100,Left,900,400);
}

//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
// 0. Referral Link
// 1. Referral Date/Time Opened
// 2. Referral Date/Time Closed
// 3. Referral Name
// 4. Lawyer 
// 5. Prisoner
// 6. Current 
// 7. Responsible HCP
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
document.title="Legal Status Referral Management";
 t = new Table(1,0,2,"100%","center",30,30);
 t.addColumn("Date/Time Referral Opened","DateTime",1,1,"left","EditIcon.gif","0",150)
 t.addColumn("Date/Time Referral Closed","DateTime",2,2,"left","","",150)
 t.addColumn("Responsible Clinician","String",7,7,"left","","",150)
 t.addColumn("Team","String",11,11,"left","","",100)
 t.addColumn("Origin of Referral","String",9,9,"left","","",100)
 t.addColumn("User ID","String",10,10,"left","","",100)
 AddTableRows()
 TableOutput(0,2);    // Order Column,Asc Dsc
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);SetCookiePath('RefList');">
<div id="HeadingSection"> 
<div id="PageHeadingSection">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%MEHWEB01.09.003";
PatientVIS="%MEHWEB01.09.081";
PatientNAM="%MEHWEB01.09.002";
PatientSTA="%MEHWEB01.09.086.078";
PatientALT="%MEHWEB01.09.084";
PatientSEX="%MEHWEB01.09.019";
PatientDOB="%MEHWEB01.09.020";
PatientAGE="%MEHWEB01.09.021";
PatientLOC="%MEHWEB01.09.083";
PatientPRI="%MEHWEB01.09.086.066.1";
PatientUNT="%MEHWEB01.09.066.0";
DoctorCOD="%MEHWEB01.09.082.003";
DoctorNAM="%MEHWEB01.09.082.002";
PatientAID="%MEHWEB01.09.086.090";
PatientIND="%MEHWEB01.09.086.091";
PatientCUR="%MEHWEB01.09.086.092";
PatientCLC="%MEHWEB01.09.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%MEHWEB01.09.086.094";
PatientCDM="%MEHWEB01.09.086.095";
PatientVDH="%MEHWEB01.09.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div> 
</div>
<form name=AddReferral method=get action=mehweb01.pbl style="margin:0">
<input type=hidden name=reportno value=9>
<input type=hidden name=template value=1>
<input type=hidden name=urnumber value="%MEHWEB01.09.003">
<input type=hidden name=admissno value="%MEHWEB01.09.081">

<table cellspacing=0 cellpadding=0 border=1 width=100% class=HeadingCell>
<tr><td>
    <table cellspacing=0 cellpadding=0 border=0 width=100% >
    <tr align=right bgcolor=#CCCCCC>
    <td><input type=button class="Bigbutton" value="Admit MH Act"
         onclick="AdmitMH();">
        <input type=button class="Bigbutton" value="Add LS Referral Management"
         onclick="AddRef();">
<!--    <input type=button class="button" value="Comments"
         onclick="RefCmnts();">                                 -->
        <input type=button class="Bigbutton" value="Referral Management History"
         onclick="RefHistory();">
        <input type=button class="button" value="Status History"
         onclick="SectHistory();">
    </td></tr>
    </table>
</td></tr>
</table>
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%MEHWEB01.09.301
}
</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="009">
<input type=hidden name=urnumber value="%MEHWEB01.09.003">
<input type=hidden name=admissno value="%MEHWEB01.09.081">
<input type=hidden name=MenuType value="%MEHWEB01.09.088">
<input type=hidden name=uniqnumb value="%MEHWEB01.09.101">
<input type=hidden name=superlev value="%MEHWEB01.09.417">
</form>
