<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="wahealth">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/PatientHeader.js"></script>
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/patweb15.js"></script>
<script type="text/javascript">
var std_SetMandatoryFields = SetMandatoryFields; // Save the standard function

// Now redefine the SetMandatoryFields function
SetMandatoryFields = function(theForm) {
  std_SetMandatoryFields.apply(this, arguments); // Run the standard function first

  // WA override functionality here
  var view_type=theForm.clinical.value;    // 0-Clerical, 1-Clinician
  var req_type="";                         // 1-WL, 2-Non WL Surgical, 3-Non WL Medical
  for(var i = 0; i < theForm.pmarq006.length; i++)
  if (theForm.pmarq006[i].checked==true) {
   req_type=theForm.pmarq006[i].value;
  }

  theForm.pmarq041.className="Mandatory";          //Source of Referral
  if(req_type != "3"){  //  WL or Non WL Surgical
    theForm.pmarq016.className="Mandatory";        //Side of Surgery
  }
  if(req_type == "3"){  //  Non WL Medical
    theForm.pmarq016.className="";                 //Side of Surgery
  }
}

</script>
</head>
%START.OF.PAGE
<script type="text/javascript"
 src="%PATWEB15.01.001.patweb98.01.103"></script>
<body onload="PageLoad(event);LoadHead01();valUnit01(UpdateForm);
 ShowLanguage01(UpdateForm.pmarq039);
 showPreferredHospital01(UpdateForm);ClinicalView(UpdateForm);
 DisplayTrnSrc01(UpdateForm);StatusEdits(UpdateForm);ShowButtons(UpdateForm);">
<div id="PatientHeading"></div>
<div id=PatientBannerEx1 class=PatientBannerEx></div>
<div id="PatientMenu"></div>
<div id="PageBodySection">

<form name=UpdateForm method="post" action="patweb15.pbl"
      style="margin:0">
<input type=hidden name=urnumber value="%PATWEB15.01.003">
<input type=hidden name=admissno value="%PATWEB15.01.081">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="">
<input type=hidden name=pmarq001 value="%PATWEB15.01.101">
<input type=hidden name=pmarq002 value="%PATWEB15.01.102">
<input type=hidden name=pmarq057 value="%PATWEB15.01.157.0">
<input type=hidden name=nextpage value="">
<input type=hidden name=redirect value="%PATWEB15.01.001.patweb15.01.001">
<input type=hidden name=unit value="%PATWEB15.01.108.1">
<input type=hidden name=team value="%PATWEB15.01.109.1">
<input type=hidden name=dummy value="">
<input type=hidden name=d_pmarq020 value="%PATWEB15.01.120.1">
<input type=hidden name=d_pmarq022 value="%PATWEB15.01.122.1">
<input type=hidden name=clinical value="%PATWEB15.01.204.1">
<input type=hidden name=adultflg value="%PATWEB15.01.205">
<input type=hidden name=wbseuid value="%STANDARD.01.008">
<input type=hidden name=createdby value="%PATWEB15.01.172.1">
<input type=hidden name=d_pmarq006 value="%PATWEB15.01.106">
<input type=hidden name=d_pstat value="%PATWEB15.01.085.064">
<input type=hidden name=pmarq030 value="%PATWEB15.01.130.1">
<input type=hidden name=pmarq031 value="%PATWEB15.01.131.1">
<input type=hidden name=d_patage value="%PATWEB15.01.233">
<input type=hidden name=d_pmaraprr value="%PATWEB15.01.176.1">

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="HeadingCell" align="center" colspan=4>
    Update Booking Request - %PATWEB15.01.157.1</td>
    </tr>

<tr><td valign=top><br><!-- Start left column -->
    <table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">

<tr><td class="DataLabel" width=30%>Request Date</td>
    <td class="DataLabel">
    <input type=text size=12 name=pmarq004 id=pmarq004
     class="Mandatory PastDate"
     title="Request Date" value="%PATWEB15.01.104">
    <img notab src="../images/DateLookup.gif" class=Icon
     onclick="DateLookupFrame(UpdateForm.pmarq004);">
    Time
    <input class=Mandatory type=text name=pmarq005 id=pmarq005 size=8
     value="%PATWEB15.01.105" title="Request Time">
    <img notab src="../images/DateTimeStamp.gif" class=Icon
     onclick="SetCurrentDateTime(UpdateForm.pmarq004,UpdateForm.pmarq005);">
    <img notab src="../images/TimeLookup.gif" class=Icon
     onclick="TimeLookupFrame(UpdateForm.pmarq005);">
    </td></tr>

<tr><td class="DataLabel">Request For</td>
    <td class="DataLabel">
    <table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
    <tr><td width=20%>Elective Waitlist</td>
        <td align=left><input type=radio name=pmarq006 value=1
         onclick="ClinicalView(UpdateForm);
                  ValidateAgeLimitsWah(UpdateForm.d_patage.value,
                                       'pmarq006',
                                       UpdateForm.pmarq058,
                                       UpdateForm.pmarq064);">
        </td>
    </tr>
    <tr><td width=20%>Elective - Non Waitlist (Surgical)</td>
        <td align=left><input type=radio name=pmarq006 value=2
         onclick="ClinicalView(UpdateForm);
                  ValidateAgeLimitsWah(UpdateForm.d_patage.value,
                                       'pmarq006',
                                       UpdateForm.pmarq058,
                                       UpdateForm.pmarq064);">
        </td>
    </tr>
    <tr><td width=20%>Elective - Non Waitlist (Medical)</td>
        <td align=left><input type=radio name=pmarq006 value=3
         onclick="ClinicalView(UpdateForm);
                  ValidateAgeLimitsWah(UpdateForm.d_patage.value,
                                       'pmarq006',
                                       UpdateForm.pmarq058,
                                       UpdateForm.pmarq064);">
        </td>
    </tr>
    </table>
    </td></tr>

<tr><td class="DataLabel">Responsible Clinician</td>
    <td class="DataLabel">
    <input type=text name=pmarq007 id=pmarq007 size=8 maxlength=8
     title="Responsible Clinician" class=Mandatory
     onblur="UpCase(this);valUnit01(UpdateForm);"
     value="%PATWEB15.01.107.003" >
    <input type=text name=n_pmarq007 id=n_pmarq007 size=40 readonly
     title="Responsible Clinician" value="%PATWEB15.01.107.002">
     <img src="../images/SearchIcon.gif" class=Icon
      onclick="SearchResp01();">
     <img src="../images/erase.gif" class=Icon
      onclick="ClearResp01(UpdateForm);">
     </td></tr>

<tr><td class="DataLabel">Unit</td>
    <td class="DataField">
    <select name=pmarq008 title="Unit" class="Mandatory"
     onchange="valUnitTeam01(UpdateForm);">
    <option></option>
    </select>
    </td></tr>

<tr><td class="DataLabel">Team</td>
    <td class="DataField">
    <select name=pmarq009 title="Team" class="">
    <option></option>
    </select>
    </td></tr>

<tr><td class="DataLabel">Priority</td>
    <td class="DataField">
    <select name=pmarq010 title="Priority" class="Mandatory"
     onchange="MandatoryPrefAdmDate(UpdateForm);">
    <option></option>
    %PATWEB15.01.110.2
    </select>
    </td></tr>

<tr><td class="DataLabel">Diagnosis</td>
    <td class="DataField">
    <input type=text name=pmarq011 value="%PATWEB15.01.111"
     class="Mandatory" title="Diagnosis" size=45 maxlength=40>
    </td></tr>
</table>

<span id="PrincipalProcedure">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Principal Procedure</td>
    <td class="DataField">
    <input type=text id=pmarq012 name=pmarq012
     title="Additional Procedures"
     onblur="validateCode(27,UpdateForm.pmarq012,UpdateForm.d_pmarq012);
             MandatoryProcFields(UpdateForm);"
     size=6 value="%PATWEB15.01.112.0">
    <input type=text id=d_pmarq012 name=d_pmarq012 size=50
     maxlength=50 tabindex=-1 readonly class=readonly
     onblur="RemoveQuote(this);" value="%PATWEB15.01.112.1">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="SearchPrincipalProc01();">
    <img src="../images/erase.gif" class=Icon
     onclick="ClearPrincipalProc01();">
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0" >
<tr><td class="DataLabel" width=30%>Procedure Description Comments</td>
    <td class="DataField">
    <input type=text name=pmarq013 value="%PATWEB15.01.113" class="Mandatory"
     title="Procedure Description Comments" size=60 maxlength=80>
    </td></tr>

</table>

<span id="AdditionalProcedures">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Additional Procedures</td>
    <td class="DataField">
    <input type=text id=pmarq014 name=pmarq014
     title="Additional Procedures"
     onblur="validateCode(27,UpdateForm.pmarq014,UpdateForm.d_pmarq014);"
     size=6 value="%PATWEB15.01.114.0">
    <input type=text id=d_pmarq014 name=d_pmarq014 size=50
     maxlength=50 tabindex=-1 readonly class=readonly
     onblur="RemoveQuote(this);" value="%PATWEB15.01.114.1">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="SearchAddProc1();">
    <img src="../images/erase.gif" class=Icon
     onclick="ClearAddProc1();">
    </td></tr>
<tr><td class="DataLabel">&nbsp;</td>
    <td class="DataField">
    <input type=text id=pmarq015 name=pmarq015 
     title="Additional Procedures"
     onblur="validateCode(27,UpdateForm.pmarq015,UpdateForm.d_pmarq015);"
     size=6 value="%PATWEB15.01.115.0">
    <input type=text id=d_pmarq015 name=d_pmarq015 size=50
     maxlength=50 tabindex=-1 readonly class=readonly
     onblur="RemoveQuote(this);" value="%PATWEB15.01.115.1">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="SearchAddProc2();">
    <img src="../images/erase.gif" class=Icon
     onclick="ClearAddProc2();">
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Consent Obtained?</td>
    <td class="DataLabel">
    <select name=pmarq017 title="Consent Obtained?" class=""
     onchange="MandatoryConsent(UpdateForm);">
    <option></option>
    %PATWEB15.01.117.2
    </select>
    &nbsp;
    Reason for No Consent
    <select name=pmarq018 title="Reason for No Consent" class="">
    <option></option>
    %PATWEB15.01.118.2
    </select>
    </td></tr>

<tr><td class="DataLabel">Side of Surgery</td>
    <td class="DataField">
    <select name=pmarq016 title="Side of Surgery" class="">
    <option></option>
    %PATWEB15.01.116.2
    </select>
    </td></tr>

<tr><td class="DataLabel">Procedure Can Be Performed By</td>
    <td class="DataField">
    <select name=pmarq019 title="Procedure Can Be Performed By"
     class="">
    <option></option>
    %PATWEB15.01.119.2
    </select>
    </td></tr>

<tr><td class="DataLabel">Intended Hospital</td>
    <td class="DataField">
    <select name=pmarq020 title="Intended Hospital" class="Mandatory"
     disabled>
    <option></option>
    %PATWEB15.01.120.2
    </select>
    </td></tr>

<tr><td class="DataLabel">Patient Suitable For Another Hospital?</td>
    <td class="DataField">
    <table border=0 width=100% cellspacing=0 cellpadding=1>
    <tr><td>
        <select name=pmarq021 
         title="Patient Suitable For Another Hospital?"
         onchange="showPreferredHospital01(UpdateForm);">
        <option value=" "></option>
         %PATWEB15.01.121.1
        </select>
        </td>
        <td>
        <div id="PreferredHospitalField"></div>
        </td></tr>
    </table>
    </td></tr>

<tr><td class="DataLabel">Preferred Admission Date</td>
    <td class="DataField">
    <input type=text size=12 name=pmarq023 id=pmarq023 class="Date"
     title="Preferred Admission Date" value="%PATWEB15.01.123">
    <img notab src="../images/DateLookup.gif" class=Icon
     onclick="DateLookupFrame(UpdateForm.pmarq023);">
    </td></tr>

<tr><td class="DataLabel">Medical Authorisation Status?</td>
    <td class="DataLabel">
      <select name=pmarq058 id=pmarq058 title="Medical Authorisation Status?"
       onchange="ValidateAuthStat(this,UpdateForm.pmarq064);">
       <option></option>
       %PATWEB15.01.158.1
      </select>
    </td></tr>

<tr><td class="DataLabel">Approval Required Reason</td>
    <td class="DataLabel">
    <select name=pmarq064 id=pmarq064 title="Approval Required Reason">
    <option></option>
    %PATWEB15.01.176.9.4
    </select>
    </td></tr>

<tr><td class="DataLabel">Type of Bed Required</td>
    <td class="DataLabel">
    <select name=pmarq024 title="Type of Bed Required" class="Mandatory">
    <option></option>
    %PATWEB15.01.124.2
    </select>
    &nbsp;
    Adm. Night Prior?
    <select name=pmarq025 title="Adm. Night Prior" class="">
    <option></option>
    %PATWEB15.01.125.1
    </select>
    </td></tr>

<tr><td class="DataLabel">Critical Care Bed Required</td>
    <td class="DataField">
    <select name=pmarq026 title="Critical Care Bed Required"
     class="Mandatory" 
     onchange="MandatoryClinicalDetails(UpdateForm);">
    <option></option>
    %PATWEB15.01.126.1
    </select>
    </td></tr>

<tr><td class="DataLabel" valign=top>Clinical Details/Other Conditions</td>
    <td class="DataField">
    <textarea name=pmatc003 wrap=hard title="Clinical Details/Other Conditions"
     cols=50 rows=3>%PATWEB15.01.202.003</textarea>
    </td></tr>

<tr><td class="DataLabel">Weight (Kg)</td>
    <td class="DataLabel">
    <input type=text name=pmarq033 size=8 maxlength=6
     value="%PATWEB15.01.133" min=0 title="Weight (Kg)"
     onblur="CalculateBMI(UpdateForm.pmarq033,
                          UpdateForm.pmarq032,
                          UpdateForm.pmarq034,
                          UpdateForm.adultflg);">
    &nbsp;Height (cm)&nbsp;
    <input type=text name=pmarq032 size=8 maxlength=6
     value="%PATWEB15.01.132" min=0 title="Height (cm)"
     onblur="CalculateBMI(UpdateForm.pmarq033,
                          UpdateForm.pmarq032,
                          UpdateForm.pmarq034,
                          UpdateForm.adultflg);">
    &nbsp;Calculated BMI&nbsp;
     <input type=text class="Readonly" readonly size=6 name=pmarq034
      title="Calculated BMI" notab value="%PATWEB15.01.134">
    </td></tr>

<tr><td class="DataLabel" valign=top>Co-Morbidity Conditions</td>
    <td>
    <div class='CheckBoxCombo' style='height:95;width:250px;'
    id="CoMorbidityConditions">
    %PATWEB15.01.203.yk.2
    </div>
    </td></tr>

</table>

<span id="AnaestheticType">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Anaesthetic Type</td>
    <td class="DataField">
    <select name=pmarq028 title="Anaesthetic Type" class="">
    <option></option>
    %PATWEB15.01.128.2
    </select>
    </td></tr>
</table>
</span>

<span id="EstimatedOpDuration">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Estimated Operation Duration</td>
    <td class="DataField">
    <input type=text name=pmarq029 size=6 maxlength=5
     value="%PATWEB15.01.129" min=0 title="Estimated Operation Duration"
     class="Number">
    </td></tr>
</table>
</span>

<span id="ClinicalTriage">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Clinical Review</td>
    <td class="DataField">
    <input type=text name=d_pmarq031 value="%PATWEB15.01.131.0"
     class=Readonly readonly>
    </td></tr>
</table>
</span>

<span id="PreAnaestheticReview">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Pre-Anaesthetic Review</td>
    <td class="DataField">
    <input type=text name=d_pmarq030 value="%PATWEB15.01.130.0"
     class=Readonly readonly>
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class=DataLabel width=30%>Created By</td>
    <td class=DataField>%PATWEB15.01.172.0 - %PATWEB15.01.170 %PATWEB15.01.171
    </td></tr>
<tr><td class=DataLabel>Updated By</td>
    <td class=DataField>%PATWEB15.01.175.0 - %PATWEB15.01.173 %PATWEB15.01.174
    </td></tr>
</table>
</td><!-- End Left column -->

<td valign=top><br><!-- Start Right column -->
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0" >

<tr><td class="DataLabel" width=30%>Anti-Coagulants</td>
    <td class="DataField">
    <select name=pmarq035 title="Anti-Coagulants" class=""
     onchange="MandatoryMedicationAdvice(UpdateForm);">
    <option></option>
    %PATWEB15.01.135.1
    </select>
    </td></tr>
<tr><td class="DataLabel">Referred To Anti-Coagulant Clinic</td>
    <td class="DataField">
    <select name=pmarq036 title="Referred To Anti-Coagulants"
     class="">
    <option></option>
    %PATWEB15.01.136.1
    </select>
    </td></tr>
<tr><td class="DataLabel" valign=top>Medication Advice</td>
    <td>
    <div class='CheckBoxCombo' style='height:95;width:250px;'
     id="MedicationAdvice">
    %PATWEB15.01.203.yn.2
    </div>
    </td></tr>
<tr><td class="DataLabel" valign=top>Anti-Platelet
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name=pmarq037 title="Anti-Platelet" 
     onchange="MandatoryAntiPlatelet(UpdateForm);">
    <option></option>
    %PATWEB15.01.137.1
    </select>
    </td>
    <td>
    <div class='CheckBoxCombo' style='height:95;width:250px;'
     id="AntiPlatelet">
    %PATWEB15.01.203.yo.2
    </div>
    </td></tr>
<tr><td class="DataLabel" valign=top>Tertiary Care Reason</td>
    <td>
    <div class='CheckBoxCombo' style='height:95;width:250px;'>
    %PATWEB15.01.203.WH.2
    </div>
    </td></tr>
<tr><td class="DataLabel">Interpreter Required</td>
    <td class="DataField">
    <table border=0 width=100% cellspacing=0 cellpadding=1>
    <tr><td>
    <select name=pmarq039 title="Interpreter Required" class=""
     onchange="ShowLanguage01(this);">
    <option></option>
    %PATWEB15.01.139.1
    </select>
    </td>
    <td>
    <div id="PreferredLanguageField"></div>
    </td></tr>
    </table>
    </td></tr>

<tr><td class="DataLabel">Claim Type</td>
    <td class="DataField">
    <select name=pmarq040 title="Claim Type" class="">
    <option></option>
    %PATWEB15.01.140.2
    </select>
    </td></tr>
<tr><td class="DataLabel">Source of Referral</td>
    <td class="DataField">
    <select name=pmarq041 title="Source of Referral" 
     onchange="DisplayTrnSrc01(UpdateForm);">
    <option></option>
    %PATWEB15.01.141.2
    </select>
    </td></tr>
</table>

<span id="ShowTransferSource" style="display:none">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Transfer Source</td>
    <td class="DataField">
    <input type=text size=7 maxlength=5 name=pmarq063 id=pmarq063 class=""
      title="Transfer Source" value="%PATWEB15.01.163.0"
      onchange="validateCode(9,UpdateForm.pmarq063,UpdateForm.d_pmarq063);">
     <input type=text size=27 name=d_pmarq063 id=d_pmarq063
      notab value="%PATWEB15.01.163.1" class="Readonly" readonly>
     <img src="../images/SearchIcon.gif" class=Icon
      onclick="TransferSourceFrame(UpdateForm.pmarq063,UpdateForm.d_pmarq063)">
     <img src="../images/erase.gif" class=Icon
      onclick="ClearTransferSource01()">
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0" >
<tr><td class="DataLabel" width=30%>Referring Clinician</td>
    <td class="DataField">
    <input type=text size=10 maxlength=10 name=pmarq042 id=pmarq042
     value="%PATWEB15.01.142.001" title="Referring Clinician"
     onchange="ReadDoc(18,0,
                       UpdateForm.pmarq042,
                       UpdateForm.genpname,
                       UpdateForm.pmarq043,
                       UpdateForm.genpprac,
                       UpdateForm.pmarq044,
                       UpdateForm.genpprov);">
    <input type=text size=25 notab readonly name=genpname id=genpname
     class=Readonly
     value="%PATWEB15.01.142.081">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="SearchRefClinician01();">
    <img src="../images/erase.gif" class=Icon
     onclick="ClearRefClinician01()">
    </td></tr>
<tr><td class="DataLabel">Practice</td>
    <td class="DataField">
    <input type=text name=genpprac id=genpprac size=35 readonly class=Readonly
     value="%PATWEB15.01.143.005" notab>
    <input type=hidden name=pmarq043 id=pmarq043 value="%PATWEB15.01.143.001">
    <input type=hidden name=pmarq044 id=pmarq044 value="%PATWEB15.01.144">
    <input type=hidden name=genpprov id=genpprov value="">
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="SearchRefClinicianPrac1();">
    <img src="../images/erase.gif" class=Icon
     onclick="ClearRefClinicianPrac1();">
    </td></tr>
</table>

<span id="ListingStatus">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Listing Status</td>
    <td class="DataField">
    <select name=pmarq045 title="Listing Status" class="">
    <option></option>
    %PATWEB15.01.145.2
    </select>
    </td></tr>
</table>
</span>

<span id="IntendedStay">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Intended Stay</td>
    <td class="DataField">
    <select name=pmarq046 title="Intended Stay" class="">
    <option></option>
    %PATWEB15.01.146.2
    </select>
    </td></tr>
</table>
</span>

<span id="ShortNotice">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Short Notice</td>
    <td class="DataField">
    <select name=pmarq047 title="Short Notice" class="">
    <option></option>
    %PATWEB15.01.147.2
    </select>
    </td></tr>
</table>
</span>

<span id="PlannedLOS">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Planned LOS</td>
    <td class="DataLabel">
    <input type=text name=pmarq048 size=5 maxlength=4 class="Integer"
     min=0 value="%PATWEB15.01.148" title="Planned LOS"> (days)
    </td></tr>
</table>
</span>

<span id="NonWAHospContact">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Non WA Hospital Contact</td>
    <td class="DataField">
    <select name=pmarq049 title="Non WA Hospital Contact" class="">
    <option></option>
    %PATWEB15.01.149.2
    </select>
    </td></tr>
</table>
</span>

<span id="TheatreLocation">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Theatre Location</td>
    <td class="DataField">
    <select name=pmarq051 title="Theatre Location" class="">
    <option></option>
    %PATWEB15.01.151.2
    </select>
    </td></tr>
</table>
</span>

<span id="ProcedureDate">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Procedure Date</td>
    <td class="DataField">
    <input type=text size=12 name=pmarq050 id=pmarq050
     title="Procedure Date" value="%PATWEB15.01.150">
    <img notab src="../images/DateLookup.gif" class=Icon
     onclick="DateLookupFrame(UpdateForm.pmarq050);">
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" valign=top width=30%>Patient Needs</td>
    <td>
    <div class='CheckBoxCombo' style='height:95;width:250px;'>
    %PATWEB15.01.203.yq.2
    </div>
    </td></tr>
</table>

<span id="ImplantsRequired">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Implants Required</td>
    <td class="DataField">
    <select name=pmarq052 title="Implants Required" class=""
     onchange="MandatoryImplantDesc(UpdateForm);">
    <option></option>
    %PATWEB15.01.152.1
    </select>
    </td></tr>
</table>
</span>

<span id="ImplantDescription">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Implant Description</td>
    <td class="DataField">
    <input type=text name=pmarq053 value="%PATWEB15.01.153"
     title="Implant Description" size=60 maxlength=80>
    </td></tr>
</table>
</span>

<span id="ImplantsOrdered">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Implants Ordered</td>
    <td class="DataField">
    <select name=pmarq054 title="Implants Ordered" class="">
    <option></option>
    %PATWEB15.01.154.1
    </select>
    </td></tr>
</table>
</span>

<span id="BoneGraft">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Bone Graft</td>
    <td class="DataField">
    <select name=pmarq055 title="Bone Graft" class="">
    <option></option>
    %PATWEB15.01.155.1
    </select>
    </td></tr>
</table>
</span>

<span id="ExFixRemoval">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Ex Fix Removal</td>
    <td class="DataField">
    <select name=pmarq056 title="Ex Fix Removal" class="">
    <option></option>
    %PATWEB15.01.156.1
    </select>
    </td></tr>
</table>
</span>

<span id="TheatreRequest">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Theatre Request</td>
    <td class="DataField">
    <select name=pmarq059 title="Theatre Request" class="">
    <option></option>
    %PATWEB15.01.159.1
    </select>
    </td></tr>
</table>
</span>

<span id="RecurringCare">
<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
<tr><td class="DataLabel" width=30%>Recurring Care</td>
    <td class="DataField">
    <select name=pmarq060 title="Recurring Care" class="">
    <option></option>
    %PATWEB15.01.160.1
    </select>
    </td></tr>
</table>
</span>

<table border="0" colspan=0 width="100%" cellspacing="0" cellpadding="0">
</table>
</td><!-- End right column -->
</tr>

<tr align="center">
    <td colspan="4" align="center"><br />

    <span id=DisplayDraftButton style="display: none">
    <input type="button" value="Save Draft" class="button" id="pat15draft"
     onclick="tempDisable(this);SaveDraft01();">
    </span>

    <span id=DisplaySubmitButton style="display: none">
    <input type="button" value="Submit" class="button" id="pat15sub"
     onclick="tempDisable(this);SaveSubmit01Wah();">
    </span>

    <span id=DisplayAllocateUR style="display: none">
    <input type="button" value="Allocate UR" class="button" id="pat15allur"
     onclick="AllocateUR01();">
    </span>

    <span id=DisplayProcessButton style="display: none">
    <input type="button" value="Process" class="button" id="pat15proc"
     onclick="ProcessRequest01();">
    </span>

    <input type="button" value="Comments" class="button" id="pat15com"
     onclick="RequestComments01();">

    <span id=DisplayReviewButtons style="display: none">
    <input type="button" value="Review" class="button" id="pat15rev"
     onclick="LinkReview01Wah();">

    <input type="button" value="Pre Anaesthetic" class="button" id="pat15ana"
     onclick="LinkPreAnaesthetic01();">

    <input type="button" value="Clinical Review" class="button" id="pat15trg"
     onclick="LinkClinicalTriage01();">
    </span>

    <input type="button" value="Cancel" class="button"
    onclick="PatientLinkTo('patweb15.pbl',1,1,0);">

    <span id=DisplayDeleteButton style="display: none">
    <input type="button" value="Delete" class="button" id="pat15del"
     onclick="tempDisable(this);SubmitDelRequest01();">
    </span>

    <span id=DisplayRemoveButton style="display: none">
    <input type="button" value="Remove" class="button" id="pat15rem"
     onclick="LinkRemove01();">
    </span>

    <span id=DisplayReturnButton style="display: none">
    <input type="button" value="Return to Clinician" 
     id="pat15ret" onclick="LinkReturn01();">
    </span>

    <input type="button" value="Other WL Entries" 
     id="pat15oth" onclick="LinkOtherWL01();">

    <span id=spAuthApprovBtn style="display: none">
    <input type="button" value="Authorisation Approval" class="button"
     style="width:130px" id="authApprovBtn" onclick="LinkAuthApprov01();">
    </span>

    </td></tr>
</table>
</form>

<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="003">
<input type="hidden" name="urnumber" value="%PATWEB15.01.003">
<input type="hidden" name="admissno" value="%PATWEB15.01.081">
<input type="hidden" name="MenuType" value="%PATWEB15.01.088">
<input type="hidden" name="pmarq001" value="%PATWEB15.01.101">
<input type="hidden" name="pmarv001" value="%PATWEB15.01.101">
<input type="hidden" name="admreqno" value="%PATWEB15.01.101">
<input type="hidden" name="clinical" value="%PATWEB15.01.204.1">
</form>
</div>

<span id="ShowPreferredHospitalField" style="display:none">
  Preferred Hospital
  <select name=pmarq022 title="Preferred Hospital"
   class="SelectBig Mandatory">
  <option></option>
   %PATWEB15.01.122.2
  </select>
</span>

<span id="BlankPreferredHospitalField" style="display:none">
  <input type=hidden name=pmarq022 value=" ">
</span>

<span id="ShowPreferredLanguageField" style="display:none">
  Pref Language
  <select name=pmarq027 title="Pref Language" class="Mandatory">
  <option></option>
   %PATWEB15.01.127.2
  </select>
</span>

<span id="BlankPreferredLanguageField" style="display:none">
  <input type=hidden name=pmarq027 value=" ">
</span>

<script type="text/javascript">
 var RequestType=%PATWEB15.01.106 - 1;
 if(RequestType!=-1) {
 document.UpdateForm.pmarq006[RequestType].checked=1;
 }
 var CommentExist="%PATWEB15.01.206.004"
 if  (CommentExist == "1") {
   document.getElementById('pat15com').className="RedButton";
 }
 var OtherWL="%PATWEB15.01.222"
 if  (OtherWL == "1") {
   document.getElementById('pat15oth').className="RedButton";
 }
 var PreAna="%PATWEB15.01.229.001"
 if  (PreAna == "1") {
   document.getElementById('pat15ana').className="RedButton";
 }
 var ClTrg="%PATWEB15.01.229.002"
 if  (ClTrg == "1") {
   document.getElementById('pat15trg').className="RedButton";
 }
 var RevBut="%PATWEB15.01.157.0"
 if  (RevBut == "6") {
   document.getElementById('pat15rev').className="RedButton";
 }

 var authStatus = document.UpdateForm.pmarq058.value;
 if (authStatus == "1") {
   RemoveListOptions("pmarq058","3");  // remove Authorisation Status - Denied
 } else if (authStatus == "3") {
   RemoveListOptions("pmarq058","1");  // remove Authorisation Status - Approved
 }
 else {
   RemoveListOptions("pmarq058","1");  // remove Authorisation Status - Approved
   RemoveListOptions("pmarq058","3");  // remove Authorisation Status - Denied
 }

 var AuthApprovInfoExists = "%PATWEB15.01.234";
 if (AuthApprovInfoExists == "1") {
  document.getElementById('authApprovBtn').className="RedButton";
 }

 GetHospAgeLimits(UpdateForm.pmarq020);
 ValidateAgeLimitsWahLoad(UpdateForm.d_patage.value,
                          'pmarq006',
                          UpdateForm.pmarq058,
                          UpdateForm.pmarq064,
                          UpdateForm.pmarq057.value,
                          UpdateForm.d_pmaraprr.value);
</script>

<script type="text/javascript">
filterCatCodeList(document.UpdateForm.pmarq040,"1","M","1");
function SaveSubmit01Wah() {
  if (document.UpdateForm.pmarq057.value == "7") {
    alert('Admission Request cannot be submitted ' +
          'because approval is required');
    return;
  }
  if (document.UpdateForm.pmarq057.value == "8") {
    alert('Admission Request cannot be submitted ' +
          'because approval is denied');
    return;
  }
 
  if(!CheckMandatoryComboOnPost(UpdateForm)) {
     return;
  }
  if(!CheckEditsOnPost(UpdateForm)) {
     return;
  }

  if (document.UpdateForm.pmarq058.value == "2") {  // Approval Required
    document.UpdateForm.pmarq058.disabled = false;  // to allow submit of value
  }

  document.UpdateForm.updttype.value="U";
  document.UpdateForm.nextpage.value="2";
  document.UpdateForm.pmarq057.value="2";
  ClearHiddenFieldOnPost(UpdateForm);
  document.UpdateForm.pmarq064.disabled = false;
  SubmitHidden(UpdateForm);
}

function LinkReview01Wah() {
  if (document.UpdateForm.pmarq057.value == "7") {
    alert('Admission Request cannot be progressed to Review ' +
          'because approval is required');
    return;
  }
  if (document.UpdateForm.pmarq057.value == "8") {
    alert('Admission Request cannot be progressed to Review ' +
          'because approval is denied');
    return;
  }

  document.PatientLinks.pmarq001.value=document.UpdateForm.pmarq001.value;
  PatientLinkTo("patweb15.pbl",1,7,1,400,150);
}
</script>

