<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<link rel="stylesheet" media="print" href="../html/printWithHeader.css"
 type="text/css">
<script type="text/javascript">
function AppointLink(CaseKeys) {
 CASEKEYS=CaseKeys.replace(/ /g,"+");
 location.href="outweb02.pbl?reportno=3&template=1&casekeys="+CASEKEYS;
}
function ViewBookNotes(Urnumber,VisitNo) {
  linkurl="patweb89.pbl?reportno=01&template=049" +
          "&urnumber=" + Urnumber.replace(/ /g,"+") +
          "&admissno=" + VisitNo.replace(/ /g,"+");
  Left=(document.body.clientWidth-700)/2;
  DFrameLink(linkurl,100,Left,860,420);
}
function ViewURNotes(Urnumber,VisitNo) {
  linkurl="patweb89.pbl?reportno=01&template=052" +
          "&urnumber=" + Urnumber.replace(/ /g,"+") +
          "&admissno=" + VisitNo.replace(/ /g,"+");
  Left=(document.body.clientWidth-700)/2;
  DFrameLink(linkurl,100,Left,860,420);
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link                   
//  1 - Day
//  2 - Date & Time
//  3 - Clinic Type
//  4 - Clinic
//  5 - Outcome
//  6 - Visit Type
//  7 - Status
//  8 - Status
//---------------------------------------------------------------------------
function InitTable(TableView) {
 t = new Table(1,0,2,"100%","center",35,40);
 t.addColumn("Date","DateTime",2,2,"left","","",150)
 t.addColumn("Hospital","String",12,12,"left","","",35)
 t.addColumn("Clinical Risk","String",13,13,"left","","",35)
 t.addColumn("Day","String",1,1,"left","","",25)
 t.addColumn("Clinic","String",4,4,"left","","",90)
 t.addColumn("Visit Type","String",6,6,"left","","",85)
 t.addColumn("Appointment Comments","Image",5,5,"center","CommentIcon","9",75)
 t.addColumn("Clinic Type","String",3,3,"left","","",90)
 t.addColumn("Status","String",7,7,"left","","",65)
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0)>
<div id=HeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB98.01.003";
PatientVIS="%PATWEB98.01.081";
PatientNAM="%PATWEB98.01.002";
PatientSTA="%PATWEB98.01.086.078";
PatientALT="%PATWEB98.01.084";
PatientSEX="%PATWEB98.01.019";
PatientDOB="%PATWEB98.01.020";
PatientAGE="%PATWEB98.01.021";
PatientLOC="%PATWEB98.01.083";
PatientPRI="%PATWEB98.01.086.066.1";
PatientUNT="%PATWEB98.01.066.0";
DoctorCOD="%PATWEB98.01.082.003";
DoctorNAM="%PATWEB98.01.082.002";
PatientAID="%PATWEB98.01.086.090";
PatientIND="%PATWEB98.01.086.091";
PatientCUR="%PATWEB98.01.086.092";
PatientCLC="%PATWEB98.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB98.01.086.094";
PatientCDM="%PATWEB98.01.086.095";
PatientVDH="%PATWEB98.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>

<form name=SelectApp method=get action=patweb98.pbl style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=076>
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">

<table width=100% cellspacing=0 cellpadding=0 bgcolor=#cccccc>
<tr><td align=right class=DataLabel>Date Range  -  From
    <input type=text size=12 maxlength=12 name=filtfdat value="%PATWEB98.01.348"
     class="Date" title="From Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="SelectApp.filtfdat">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="SelectApp.filtfdat">
    To
    <input type=text size=12 maxlength=12 name=filttdat value="%PATWEB98.01.349"
     class="Date" title="To Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="SelectApp.filttdat">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="SelectApp.filttdat"></td>
    <td align=center><input type=button class=Smlbutton value="Submit"
      onclick="PostSelectApp();">
    <td align=right><input type=button class=button value="Print"
      onclick="PrintTherapy();">
</td></tr>
</table>
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%PATWEB98.01.347
}
</script>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<input type=hidden name=MenuType value="%PATWEB98.01.088">
<input type=hidden name=superlev value="%PATWEB98.01.350">
</form>

<script type="text/javascript">
function PostSelectApp() {
 DatesOK=true;
 if(!isWhitespace(SelectApp.filtfdat.value) && 
    !isWhitespace(SelectApp.filttdat.value)) {
      DatesOK=CheckDateRange(SelectApp.filtfdat,SelectApp.filttdat);
 }
 if (DatesOK) {
    SelectApp.submit(); 
 } else {
    SelectApp.filtfdat.focus();
 }
}

function PrintTherapy() {
  linkurl="rshweb02.pbl?reportno=1&template=2&reportid=ibaout28" +
          "&superlev=" +document.PatientLinks.superlev.value.replace(/ /g,"+");
  Left=(document.body.clientWidth-460)/2;
  DFrameLink(linkurl,0,Left,560,370);
}
</script>
