<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/patweb9504003.js"></script>
<script type="text/javascript"> 

function deleteWard(){
    document.UpdateForm.ptwrd001.value = document.SearchForm.ptwrd001.value;
    document.UpdateForm.redirect.value = "patweb95.pbl?reportno=4&template=1"
    setFormactn('D');
}

function setAlert() {
  UpdateForm.updtbeds.value="1";
}

function ListExtraSpec(ward) {
  LinkUrl="patweb12.pbl?reportno=2&template=1&wardcode="+ward.replace(/ /g,"+");
  Left=(document.body.clientWidth-600)/2;
  DFrameLink(LinkUrl,0,Left,600,500);
}

function ListAttributes(ward){
  LinkUrl="patweb95.pbl?reportno=07&template=001&ptwba001="+ward;
  Left=(document.body.clientWidth-500)/2;
  DFrameLink(LinkUrl,0,Left,500,300);
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link
//  1 - Ward Code
//  2 - Bed Code
//  3 - Bed Name
//  4 - Extension
//  5 - Room Type
//  6 - Bed Type
//  7 - Active
//  8 - Nursing Station Number
//  9 - Infection Status
// 10 - Link to Bed Closure History
// 11 - Intended sex
// 12 - Comments
// 13 - Visitors Allowed
// 14 - Phone Calls Allowed
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",0,0);
 t.addColumn("Bed Code","String",2,2,"left","MaintenanceIcon.gif","0",35)
 t.addColumn("Description","String",3,3,"left","","",120)
 t.addColumn("Ext #","String",4,4,"left","","",25)
 t.addColumn("Room Type","String",5,5,"left","","",90)
 t.addColumn("Bed Type","String",6,6,"left","","",90)
 t.addColumn("Sex","String",11,11,"center","","",25)
 t.addColumn("Nursing Station","String",8,8,"left","","",50)
 t.addColumn("Active","String",7,7,"left","","",40)
 t.addColumn("Infection Status","String",9,9,"left","","",50)
 t.addColumn("Comments","String",12,12,"left","","",70)
 t.addColumn("Visitors","String",13,13,"left","","",20)
 t.addColumn("Phone Calls","String",14,14,"left","","",20)
 t.addColumn("Bed Closures","String",2,2,"left","ListIcon.gif","10",50)
 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc Dsc
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload='PageLoad(event);DisplayTable("%PATWEB95.04.015.1");'>

<div id=HeadingSection>
<form name=SearchForm action=patweb95.pbl method=get>
<input type=hidden name=reportno value=4>
<input type=hidden name=template value=3>
<input type=hidden name=superflg value="%PATWEB95.04.112">
<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>

<tr><td class=HeadingCell align=center colspan=3>
     Ward/Bed Maintenance
    </td></tr>

<tr><td class=DataLabel>&nbsp; Ward</td>
    <td class=DataField>
      <select name=ptwrd001 class="Mandatory" title="Ward" 
       onchange="displayWard();">
       %PATWEB95.04.113 
      </select></td>
    <td align=right>
      <input type=button value="Ward List" class="button" 
       onclick="showWardList();"></td></tr>

</table>
</form>

<table align=center width=95% border=0 cellpadding=1 cellspacing=0>
<form name=UpdateForm method=post action=patweb95.pbl>
   <input type=hidden  name=reportno value="4">
   <input type=hidden  name=template value="003">
   <input type=hidden  name=nextpage value=1>
   <input type=hidden  name=updttype value="">
   <input type=hidden  name=redirect value="">
   <input type=hidden  name=savpt015 value="%PATWEB95.04.017.1">
   <input type=hidden  name=savpt014 value="%PATWEB95.04.016">
   <input type=hidden  name=ptwrd001 value="">
   <input type=hidden  name=ptwrd027 value="%PATWEB95.04.032">
   <input type=hidden  name=dosaward value="%PATWEB95.04.031">
   <input type=hidden  name=activflg value="%PATWEB95.04.019.1">
   <input type=hidden  name=wardtype value="%PATWEB95.04.015.1">
   <input type=hidden  id=ibcnmhos name=ibcnmhos value="%PATWEB95.04.111">
   <input type=hidden  name=intensex value="%PATWEB95.04.036">
   <input type=hidden  name=updtbeds value="">
   <input type=hidden  id=ptcnuwpn name=ptcnuwpn value="%STANDARD.01.025.118.082.1.1">
   <input type=hidden  id=provider name=provider value="%PATWEB95.04.040">
   <input type=hidden  name=ptwrd018 value="%PATWEB95.04.035">
   <input type=hidden  name=wardcode value="%PATWEB95.04.003">

<tr><td class=DataLabel>Description,Short Description</td>
    <td><input type=text name=ptwrd003 class=Mandatory title="Description"
         size=25 maxlength=20 tabindex=1
         value="%PATWEB95.04.005">
        <input type=text name=ptwrd042 class=Mandatory title="Short Description"
         size=10 maxlength=10 tabindex=2 
         value='%PATWEB95.04.041'/>
           </td>
    <td class=DataLabel>Telephone </td>
    <td><input type=text name=ptwrd005 title="Telephone "
         size=20 maxlength=20 tabindex=15
         value="%PATWEB95.04.007"></td></tr>

<tr><td><div id=HospNumbHead></div></td>
    <td><div id=HospNumb></div></td>
    <td class=DataLabel>Nursing Station No.</td>
    <td><select name=ptwrd025 title="Nursing Station" tabindex=16>
        <option></option>
        %PATWEB95.04.030.2
        </select></td></tr>  

<tr><td class=DataLabel>Ward Classification</td>
    <td><select name=ptwrd015 title="Ward Classification" tabindex=3
         onchange="chkEffectiveDate();">
        <option></option>
        %PATWEB95.04.017.9.1.06.2.O
        </select></td>  
    <td class=DataLabel>MRT Location</td>
    <td><select name=ptwrd023 title="Movement Location" tabindex=17>
        <option></option>
        %PATWEB95.04.108
        </select></td></tr>

<tr><td class=DataLabel>Type of Ward</td>
    <td><select name=ptwrd013 title="Type of Ward" class=Mandatory
         tabindex=4>
        <option value="0">Ward/Bed</option>
        <option value="1">Ward Only</option>
        <option value="2">Ward/Bed + Ward Only</option>
        </select></td>
    <td class=DataLabel>DOSA Ward</td>   
    <td><input type=checkbox name=ptwrd026 title="DOSA Ward" tabindex=18
         value=1></td></tr>

<tr><td class=DataLabel>Type of Room</td>
    <td><select name=ptwrd007 title="Type of Room" tabindex=5>
        <option></option>
        %PATWEB95.04.009.2
        </select></td>
    <td class=DataLabel>Active</td>
    <td><input type=checkbox name=ptwrd017 title="Active" value="2"
         onclick="chkEffectiveDate();" tabindex=19></td></tr>

<tr><td class=DataLabel>Type of Bed (for Charging)</td>
    <td><select name=ptwrd008 title="Type of Bed" tabindex=6>
        <option></option>
        %PATWEB95.04.010.2
        </select></td>
    <td class=DataLabel>Effective Date </td>
   <td><input type=text size=12 name=efctdate id=efctdate title="Effective Date"
         tabindex=20 onblur="checkDate(this,'Efective Date');">
        <img src=../images/DateLookup.gif class=Icon
         onclick="DateLookupFrame(efctdate);">
        <img src=../images/DateTimeStamp.gif class=Icon
         onclick="SetCurrentDateTime(efctdate,null);"</td></tr>  

<tr><td class=DataLabel>No. of Lines Between Beds</td>
    <td><input type=text name=ptwrd006 title="No. of Lines Between Beds"
         size=2 maxlength=2 tabindex=7
         value="%PATWEB95.04.008" class=Integer
         onblur="checkInteger(this,this.value);"></td>
    <td class=DataLabel>No. of Beds for Statistics</td>
    <td><input type=text name=ptwrd014 title="No. of Beds for Statistics"
        size=3 maxlength=3 tabindex=21 value="%PATWEB95.04.016" class=Integer
        onblur="checkInteger(this,this.value);"
        onchange="chkEffectiveDate();"></td></tr>

<tr><td class=DataLabel>5 Day Ward</td>
    <td><input type=checkbox name=fvdaywrd title="5 Day Ward" value=1
         tabindex=8></td>
    <td class=DataLabel>Intended Sex of Patient</td>
    <td><select name=ptwrd022 title="Intended Sex of Patient" tabindex=22>
        <option value=" "></option>
        <option value="E">Either</option>
        <option value="F">Female</option>
        <option value="M">Male</option>
        </select></td>
    </tr>

<tr><td class=DataLabel>Comments</td>
    <td><input type=text name=ptwrd038  title="Comments"
         size=32 maxlength=30 tabindex=9
         value="%PATWEB95.04.037"></td>

    <td class=DataLabel>Default Phone Calls Allowed</td>
    <td><select name=ptwrd040 title="Default Phone Calls Allowed"
         onchange="setAlert();" tabindex=23>
        %PATWEB95.04.039.2
        </select></td>
    </tr>
<tr><td class=DataLabel>Default Visitors Allowed</td>
    <td><select name=ptwrd039 title="Default Visitors Allowed"
         onchange="setAlert();" tabindex=10>
        %PATWEB95.04.038.2
        </select></td>
    <td><div id=ProvNumbHead></div></td>
    <td><div id=ProvNumb></div></td>
    </tr>

<tr>
  <td colspan=4 align=center>
    <input type=button value="Ok" class="button" tabindex=25 
     onclick="updateWard();">
    <input type=button value="Cancel" class="button" tabindex=26
     onclick="showWardList();">
    <input type=button value="View History" class="button" tabindex=27
     onclick="viewHistory()">
    <input type=button value="Add Bed" class="button" id=AddBedButton name="AddBedButton"
     tabindex=28 onclick="AddBed('%PATWEB95.04.003')">
    <input type=button value="Extra Speciality" class="button" 
     name="AddSpecButton"
     tabindex=29 onclick="ListExtraSpec('%PATWEB95.04.003')">
    <input type=button value="Attributes" class="button" name="attribut"
     tabindex=30 onclick="ListAttributes('%PATWEB95.04.003');">
  </td>
</tr>

<tr><td colspan=4><hr></td></tr>
</table>

<div id=BedTable></div>
<table align=center width=95% border=0 cellpadding=1 cellspacing=0>
</form>
</table>

</div>
<div id=TableLocation></div>

<script type="text/javascript">
function AddTableRows() {
%PATWEB95.04.104
}
</script>

<span id=WardOnlyWard style="display:none">
<table align=center cellspacing=1 cellpadding=0 border=0 width=95%>
  <tr><td class=DataField align=center>
        *** Ward-Only Ward - No Beds Available ***
  </td></tr>
</table>  
</span>

<span id=provnumbhd style="display:none;">
<td class=DataLabel>Provider Number</td>
</span>
<span id=provnumber style="display:none;">
   <td><input type=text id=ptwrd041 name=ptwrd041 title="Provider Number"
         size=14 maxlength=14 tabindex=24></td>
</span>
<span id=provnumblank style="display:none;">
   <td><input type=hidden id=ptwrd041 name=ptwrd041></td>
</span>

<span id=hospnumbhd style="display:none;">
<td class=DataLabel>Hospital Indicator</td>
</span>
<span id=hospnumber style="display:none;">
   <td><select name=d_ptwrd018 title="Hospital Indicator" tabindex=2 disabled>
       <option></option>
       %PATWEB95.04.023.3
       </select></td>
</span>
<span id=hospnumblank style="display:none;">
   <td><input type=hidden name=d_ptwrd018></td>
</span>

<script type="text/javascript">
var WardType=document.UpdateForm.wardtype.value;
for (var i =0 ; i < document.UpdateForm.ptwrd013.length; i++) {
  if (document.UpdateForm.ptwrd013.options[i].value==WardType.substr(0,1)) {
       document.UpdateForm.ptwrd013.selectedIndex=i } };

if  (UpdateForm.activflg.value == "0")
 {
    document.UpdateForm.ptwrd017.checked=1
 }
if  (UpdateForm.dosaward.value == 1) {
     UpdateForm.ptwrd026.checked=1; 
}
if  (document.UpdateForm.ptwrd027.value == 1) {
     UpdateForm.fvdaywrd.checked=true; 
}

if (document.UpdateForm.wardtype.value == "1") { 
    document.getElementById('BedTable').innerHTML =
    document.getElementById('WardOnlyWard').innerHTML; 
    UpdateForm.AddBedButton.disabled = true;
}

var IntendedSex=document.UpdateForm.intensex.value;
for (var i =0 ; i < document.UpdateForm.ptwrd022.length; i++) {
  if (document.UpdateForm.ptwrd022.options[i].value==IntendedSex.substr(0,1)) {
       document.UpdateForm.ptwrd022.selectedIndex=i } };

var ProvNumbHead = document.getElementById('ProvNumbHead');
var ProvNumb     = document.getElementById('ProvNumb');
if (document.getElementById('ptcnuwpn').value == "1") {
    ProvNumbHead.innerHTML = document.getElementById('provnumbhd').innerHTML;
    ProvNumb.innerHTML     = document.getElementById('provnumber').innerHTML;
    document.getElementById('ptwrd041').value=
    document.getElementById('provider').value;
   }
else {
    ProvNumbHead.innerHTML = "";
    ProvNumb.innerHTML     = document.getElementById('provnumblank').innerHTML;
    document.getElementById('ptwrd041').value="";
   }

var HospNumbHead = document.getElementById('HospNumbHead');
var HospNumb     = document.getElementById('HospNumb');
if (document.getElementById('ibcnmhos').value == "1") {
    HospNumbHead.innerHTML = document.getElementById('hospnumbhd').innerHTML;
    HospNumb.innerHTML     = document.getElementById('hospnumber').innerHTML;
   }
else {
    HospNumbHead.innerHTML = "";
    HospNumb.innerHTML     = document.getElementById('hospnumblank').innerHTML;
    document.UpdateForm.ptwrd018.value="";
   }

  attributeButtonRed = "%PATWEB95.04.211"
  if (attributeButtonRed=="1"){
      document.UpdateForm.attribut.className="RedButton";
  }
</script>
