<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth" />
<meta name="HelpFileName" content="NoContextSet.html" />
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript">
 function SelectSubmit() {
   document.SelectPeriod.submit();
 }
 function InitTable(TableView) {
   switch (TableView) {
    case 0: {
     t = new Table(1,0,1,"100%","center",35);
     t.addColumn("Name","ImageText",1,1,"left","PatientFolder","0",100,8)
     t.addColumn("Visit Number","String",2,2,"left nowrap","","",80)
     t.addColumn("Admission Date","String",3,9,"left nowrap","","",60)
     t.addColumn("Discharge Date","String",4,10,"left nowrap","","",60)
     t.addColumn("Doctor","String",5,5,"left","","",80)
     t.addColumn("Care Type","String",6,6,"left","","",80)
     t.addColumn("Ward","String",7,7,"left","","",80)
     AddTableRows()
     TableOutput(0,1);    // Order Column,Asc Dsc
     break; }
  }
 }
 function assessmentList(furno,fvisno,fsup) {
   var linkUrl="allweb02.pbl?reportno=10&template=010" +
       "&urnumber=" + furno.replace(/ /g,"+") +
       "&admissno=" + fvisno.replace(/ /g,"+") +
       "&superlev=" + fsup.replace(/ /g,"+");
       location.href=linkUrl;
 }
 function ToggleDateFields() {
   var spDateFlds = document.getElementById('spPeriodDateFlds');
   if (spDateFlds == undefined)
     return;

   if (document.SelectPeriod.optncode.selectedIndex == 1) {
     SetChildNodesDisable(spDateFlds, true);
   }
   else {
     SetChildNodesDisable(spDateFlds, false);
   }
 }
 function SetChildNodesDisable(Node, Disabled) {
   if (Node) {
     if (Node.childNodes) {
       for (var i=0; i < Node.childNodes.length; i++) {
         el = Node.childNodes[i];

         if (el.nodeType == 1) {
           el.disabled = Disabled;
           if (el.childNodes) {
             SetChildNodesDisable(el, Disabled);
           }
         }
       }
     }
   }
 }
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);ToggleDateFields();">
<div id="HeadingSection">
 <form name="SelectPeriod" action="patweb03.pbl" method="post" style="margin:0">
  <input type="hidden" name="reportno" value="12" />
  <input type="hidden" name="template" value="01" />
  <input type="hidden" name="viewtype" value="%PATWEB03.12.010" />

  <table cellpadding="3" bgcolor="#CCCCCC" border="0" width="100%">
   <tr><td>
         <span id=spPeriodDateFlds>
           <input type="button" value="<<" class=SmallButton
                  onclick='location.href="%PATWEB03.12.002"' />
           %PATWEB03.12.005
           <input type="button" value=">>" class=SmallButton
                  onclick='location.href="%PATWEB03.12.001"' />
           <a href='javascript:SelectDateFrame();'>
             <img src="../images/DateLookup.gif" class=Icon
                  alt="Select Date"></a>
           <a href='javascript:SelectView("0");'>
             <img src="../images/DayIcon.gif" class=Icon
                  alt="View Today"></a>
           <a href='javascript:SelectView("1");'>
             <img src="../images/WeekIcon.gif" class=Icon
                  alt="View This Week"></a>
           <a href='javascript:SelectView("2");'>
             <img src="../images/MonthIcon.gif" class=Icon
                  alt="View This Month"></a>
         </span>
       </td>
       <td class="DataLabel" align="left">Care Type&nbsp;&nbsp;
           <select name="carecode" class="SelectMed" onchange="SelectSubmit();">
             <option value="  ">All</option>
               %PATWEB03.12.008
           </select></td>
       <td class="DataLabel" align="left">Ward&nbsp;&nbsp;
           <select name="wardcode" class="SelectMed" onchange="SelectSubmit();">
             <option value="  ">All</option>
               %PATWEB03.12.007
           </select></td>
       <td class="DataLabel" align="left">Option&nbsp;&nbsp;
           <select name="optncode" class="SelectMed" onchange="SelectSubmit();">
             <option value=" ">Discharged</option>
             <option value="1">Current</option>
           </select></td></tr>
  </table>
 </form>
</div>

<div id="TableLocation"></div>

<script type="text/javascript">
 function AddTableRows() {
  document.title="Patient Admissions for %PATWEB03.12.003 to %PATWEB03.12.004 with Missing Assessments";
  %PATWEB03.12.006
 }
 for (var i =0 ; i < SelectPeriod.optncode.length; i++) {
   if (document.SelectPeriod.optncode.options[i].value=="%PATWEB03.12.009"){
       document.SelectPeriod.optncode.selectedIndex=i } };
</script>
