<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="wahealth">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/watweb0102.js"></script>
<script type="text/javascript">
function validateAttribute() {
  var serverURL   = "../cgi-bin/patweb07.pbl?reportno=17" +
           "&ptatr006=" + document.UpdateForm.ptatr006.value.replace(/ /g,"+") +
           "&ptatr007=" + document.UpdateForm.ptatr007.value.replace(/ /g,"+") +
                    "&updttype=R" +
                    "&remoteno=3"
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    document.UpdateForm.BMIscore.value=returnValue.return_value;
  }
}

  function PasBooking() {
    Left=(document.body.clientWidth-750)/2;
    DFrameSubmit(PasForm,0,Left,750,450);
  }

  function defaultDisasterCode() {
    if (!isWhitespace(document.UpdateForm.disacode.value)) {
      document.getElementById('disastercodeDIV').innerHTML=
        document.getElementById('disastercodeSPAN2').innerHTML;
    } 
    else {
      document.getElementById('disastercodeDIV').innerHTML=
        document.getElementById('disastercodeSPAN1').innerHTML;
    }
    displayDisasterID();
  }

  function displayDisasterID() {
    p = document.UpdateForm;
    if (!isWhitespace(p.dispt001.value)) {
      document.getElementById('disasteridnumbertitleDIV').innerHTML=
        document.getElementById('disasteridnumbertitleSPAN').innerHTML;
      document.getElementById('disasteridnumberDIV').innerHTML=
        document.getElementById('disasteridnumberSPAN').innerHTML;
    }
    else {
      document.getElementById('disasteridnumbertitleDIV').innerHTML="";
      document.getElementById('disasteridnumberDIV').innerHTML="";
    }

    if (!isWhitespace(document.getElementById('disasteridnumberDIV').innerHTML)) {
      var serverURL = "../cgi-bin/patweb80.pbl?reportno=98" + "&valdcode=" 
                    + UpdateForm.urnumber.value.replace(/ /g,"+") 
                    + UpdateForm.dispt001.value.replace(/ /g,"+");
      var returnValue = RSExecute(serverURL);
      if (returnValue.status==0) {
        ReturnValue=returnValue.return_value.split("|");
        if (!isWhitespace(ReturnValue[0])) {
          p.dispt002.value=ReturnValue;
          p.dispt002.className="Readonly";
          p.dispt002.readOnly=true;
        }
      }
    }
  }

  function showFundingSource() {
    i = document.UpdateForm.wattx026.selectedIndex;
    ind = document.UpdateForm.wattx026.options[i].value.substring(3,4)
    if (ind=="P") {
      document.getElementById('FundingHeading').innerHTML=
        document.getElementById('fundinghd').innerHTML;
      document.getElementById('FundingId').innerHTML=
        document.getElementById('funding_id').innerHTML;
      document.getElementById('wattx036').className="Mandatory";
    }
    else {
      document.getElementById('FundingHeading').innerHTML=
        document.getElementById('blanklabel').innerHTML;
      document.getElementById('FundingId').innerHTML=
        document.getElementById('blanklabel').innerHTML;
    }
  }

  function setPlanned() {
    if(document.UpdateForm.wattx040.value.substr(3,1)=="2"){
      document.UpdateForm.wattr013.value="0"
    }
  }

  function init() {
    setTimeout('setWardList();',50);
    UpdateForm.redirect.value+="watweb01.pbl?reportno=2&template=1&casekeys=" 
                             + PatientLinks.casekeys.value.replace(/ /g,"+");
    if(UpdateForm.BookingStatus.value != "1"){
       UpdateForm.wattx034.className="Readonly";
       UpdateForm.wattx034.disabled=true;
    }
    showPreferredHospital(UpdateForm);
  }

  function DisableIcon(field) {
    if (field.disabled == true) {
      alert(field.title+" is for display only");
      UpdateForm.wattr004.focus();
  }
}

  function EnterSus() {
    i = document.UpdateForm.wattx004.selectedIndex;
    ind = document.UpdateForm.wattx004.options[i].value.substring(3,4);
    if (ind !="R") {
      CASEKEYS = PatientLinks.casekeys.value.replace(/ /g,"+");
      LinkUrl = "watweb01.pbl?reportno=5&template=002&casekeys="+CASEKEYS;
      Left = (document.body.clientWidth-650)/2;
      DFrameLink(LinkUrl,50,Left,650,400);
    }
  }
   
  function ChgStat() {
  // Also exists in watweb0102003.js but not empty
  }
  
  function Listst() {
    i = document.UpdateForm.ListStat.selectedIndex;
    document.UpdateForm.wattx004.value = document.UpdateForm.ListStat.options[i].value.substring(3,6);
  }

  function UpdateWat() {
    p=document.UpdateForm
    if(p.wattx026.value.substr(14,2)=="21"&&p.pmifundh.value!==""){
     if(!confirm("Warning: Public patient with Private Health Fund details.\n" +
                  "Select Ok to continue with update," +
                  " select Cancel to return to current page" +
                  " to update Claim Type.")){
        return;
      }
    }
    var serverURL = "../cgi-bin/comweb80.pbl?reportno=73" +
                    "&valdcode="+p.wattx037.value.replace(/ /g,"+") +
                    "&valdcod2="+p.trnsfsrc.value.replace(/ /g,"+")
    var returnValue = RSExecute(serverURL);
    if (returnValue.status!=0){
       return false;
    }


    if (!isWhitespace(document.UpdateForm.dispt001.value)) {
      var serverURL = "../cgi-bin/comweb80.pbl?reportno=44"
                    + "&valdcode=" + document.UpdateForm.dispt001.value.replace(/ /g,"+")
                    + document.UpdateForm.wattr006.value.replace(/ /g,"+");
      var returnValue = RSExecute(serverURL);
      if (returnValue.status!=0) {
        return;
      }
    }
    if (validateMandatory(UpdateForm)) {
      SubmitHidden(UpdateForm);
    }
  }

  function RemoveQuote(Field) {
    Field.value=Field.value.replace(/\"/g,"");
  }

  function SetElementFocus(){
    document.UpdateForm.wattx034.focus();
  }

</script>

</head>

%START.OF.PAGE

<body onload="SetElementFocus();PageLoad();DisplayTrnSrc(UpdateForm.wattr048);
showFundingSource();defaultDisasterCode();setReportable();validateAttribute();">

<div id=PatientHeading></div>

<script type="text/javascript">
PatientURN="%WATWEB01.02.003";
PatientVIS="%WATWEB01.02.081";
PatientNAM="%WATWEB01.02.002";
PatientSTA="%WATWEB01.02.086.078";
PatientALT="%WATWEB01.02.084";
PatientSEX="%WATWEB01.02.019";
PatientDOB="%WATWEB01.02.020";
PatientAGE="%WATWEB01.02.021";
PatientLOC="%WATWEB01.02.083";
DoctorCOD="%WATWEB01.02.082.003";
DoctorNAM="%WATWEB01.02.082.002";
PatientAID="%WATWEB01.02.086.090";
PatientIND="%WATWEB01.02.086.091";
PatientCUR="%WATWEB01.02.086.092";
PatientCLC="%WATWEB01.02.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%WATWEB01.02.086.094";
PatientCDM="%WATWEB01.02.086.095";
PatientVDH="%WATWEB01.02.086.099.015";
PatientUNT="%WATWEB01.02.066.0";
PatientPRI="%WATWEB01.02.086.066.1";
InsertPatientHeader()
</script>

<div id=PatientMenu></div>
<div id=PageBodySection style="overflow: auto;">

<form name=UpdateForm action="watweb01.pbl" method=post
 onsubmit="Listst();return validateMandatory(this);">
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=1>
<input type=hidden name=urnumber value="%WATWEB01.02.003">
<input type=hidden name=casekeys value="%WATWEB01.02.101">
<input type=hidden name=updttype value="U">
<input type=hidden name=tmddoctf value="1">
<input type=hidden name=nextpage value="7">
<input type=hidden name=redirect value="">
<input type=hidden name=dummy value="">
<input type=hidden name=wattx004 value="">
<input type=hidden name=wprhat id=wprhat value="%WATWEB01.02.346">
<input type=hidden name=disacode value="%WATWEB01.02.345">
<input type=hidden name=disadesc value="%WATWEB01.02.355">
<input type=hidden name=sex value="%WATWEB01.02.019">
<input type=hidden name=BookingStatus value="%WATWEB01.02.175">
<input type=hidden name=pmifundh value="%WATWEB01.02.040.0">
<input type=hidden name=attrdate value="%WATWEB01.02.369">
<input type=hidden name=attrtime value="%WATWEB01.02.370">
<input type=hidden name=currdate value="%STANDARD.01.015">
<input type=hidden name=currtime value="%STANDARD.01.016">
<input type=hidden name=ptatr001 value="%WATWEB01.02.371">
<input type=hidden name=ptatr002 value="%WATWEB01.02.125">
<input type=hidden name=ptatr003 value="%WATWEB01.02.369">
<input type=hidden name=ptatr004 value="%WATWEB01.02.370">
<input type=hidden name=ptcnhdps id=ptcnhdps 
       value="%STANDARD.01.025.080.250.1.1">

  <table border=0 width=100% cellspacing=0 align=center cellpadding=1>
    <tr>
      <td class=HeadingCell align=center colspan=2>
       Update Waiting List Entry</td>
    </tr>

    <tr>
      <td valign=top><br>
        <table border=0 width=90% cellspacing=0 cellpadding=1 align=center>
          <tr>
            <td class=DataLabel tabindex=-1>Date on List</td>
            <td class=DataField>
              <input type=text name=wattr006 size=12 title="Date on List" 
	      class=Readonly readonly tabindex=-1 value="%WATWEB01.02.109" 
	      onblur="checkDate(this,'Date')">
              Date Keyed
              <input type=text class=Readonly readonly size=12 maxlength=12 
              tabindex=-1 value="%WATWEB01.02.126">
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Intended Hospital</td>
            <td class=DataField >
              <input type=hidden name=wattr038 value="%WATWEB01.02.148.0" tabindex=-1>
              <input type=text name=d_wattr038 title="Intended Hospital"
              readonly class=readonly value="%WATWEB01.02.148.1" tabindex=-1>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.BK </td>
            <td class=DataField>
              <select name=wattx034 tabindex=10 class="Mandatory"
              title="%STANDARD.01.017.BK" >
              <option></option>
              %WATWEB01.02.534.2
              </select>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Listing Status</td>
            <td class=DataField>
              <select name=ListStat title="Listing Status" tabindex=-1
              onchange="EnterSus();" class=Readonly readonly disabled>
              %WATWEB01.02.504.2
              </select>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.TP</td>
            <td class=DataField>
              <input type=hidden name=wattr014 value="%WATWEB01.02.117.1" tabindex=-1>
              <input type=text  name=d_wattr014  class=Readonly readonly tabindex=-1  
              value="%WATWEB01.02.117.0">
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.S </td>
            <td class=DataField>
              <select name=wattr048 tabindex=20 class="selectBig Mandatory"
              title="%STANDARD.01.017.S " onchange="DisplayTrnSrc(this);">
              <option></option>
              %WATWEB01.02.158.2
              </select>
             </td>
          </tr>

          <tr>
            <td>
              <span id=TransferLabel></span>
            </td>
            <td>
              <span id=TransferSource></span>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Referring Clinician</td>
            <td>
              <input type="text" size=10 maxlength=10 name=wattx046 id=wattx046
              tabindex=30 value="%WATWEB01.02.546.001"
              onchange="ReadDoc(18,0,wattx046,genpname,genpprov,wattx047,genpprac,wattr035,genpprov);">
              <input type=text size=25 tabindex=-1 readonly name=genpname id=genpname value="%WATWEB01.02.546.081">
              <img src="../images/SearchIcon.gif" class=Icon
              onclick="GPHCPSearchFrame(wattx046,genpname,genpprov,wattx047,genpprac,wattr035,0)">
              <img src="../images/erase.gif" align=absmiddle 
              onclick="clrFields(wattx046,genpname);" class=icon>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Practice</td>
            <td>
              <input type=text name=genpprac id=genpprac size=35 readonly
              value="%WATWEB01.02.547.005" tabindex=-1>
              <input type=hidden name=wattx047 id=wattx047 value="%WATWEB01.02.547.001">
              <input type=hidden name=wattr035 id=wattr035 value="%WATWEB01.02.145">
              <input type=hidden name=genpprov id=genpprov value="">
              <img src="../images/SearchIcon.gif" class=Icon
              onclick="GPHCGSearchFrame(wattx046,genpname,genpprov,wattx047,genpprac,wattr035)">
	      <img src="../images/erase.gif" align=absmiddle class=icon 
	      onclick="clrFields(wattx047,genpprac,wattr035,genpprov);">
            </td>
          </tr>

          <tr>
            <td class=DataLabel >Responsible Clinician</td>
            <td class=DataField>
              <input type=text name=wattr012 size=8 maxlength=8 tabindex=-1 class=readonly 
              title="Responsible Clinician" value="%WATWEB01.02.115.003" readonly 
              onBlur="UpCase(this);valUnit();">
              <input type=text name=n_wattr012 size=40 readonly tabindex=-1 class=readonly 
              title="Responsible Clinician Name" value="%WATWEB01.02.115.002">
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Unit</td>
            <td class=DataField>
              <input type=hidden name=wattr011 value="%WATWEB01.02.114.1" tabindex=-1>
              <input type=text readonly size=30 class=Readonly name=xxxtr011 
              value="%WATWEB01.02.114.0" readonly tabindex=-1>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Team</td>
            <td class=DataField>
              <input type=hidden name=wattx035 value="%WATWEB01.02.535.1" tabindex=-1>
              <input type=text readonly size=30 class=Readonly name=xxxtr035 
              value="%WATWEB01.02.535.0" readonly tabindex=-1>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Patient Suitable For Another Hospital?</td>
            <td>
            <table border=0 width=100% cellspacing=0 cellpadding=1>
            <tr><td>
                <select name=wattx048 class=Mandatory tabindex=38
                 title="Patient Suitable For Another Hospital?"
                 onchange="showPreferredHospital(UpdateForm);">
                <option value=" "></option>
                 %WATWEB01.02.549.2
                </select>
            </td>
            <td>
            <div id="PreferredHospitalField"></div>
            </td></tr>
            </table>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.CC </td>
            <td class=DataField>
              <select name=wattr029 tabindex=40 title="%STANDARD.01.017.CC" 
              class=Mandatory>
              <option></option>
              %WATWEB01.02.136.2
              </select>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.A </td>
            <td class=DataField>
              <select name=wattr017 class=Mandatory tabindex=50 
              title="%STANDARD.01.017.A ">
              <option></option>
              %WATWEB01.02.120.2
              </select>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.CL</td>
            <td><table cellspacing=0 cellpadding=0>
            <td class=DataField>
              <select name=wattx026 tabindex=60 title="%STANDARD.01.017.CL" 
              class=Mandatory onchange="showFundingSource();">
              <option></option>
              %WATWEB01.02.526.9.1.10.2.X
              </select></td>
            <td><div id=FundingHeading></div></td>
	    <td><div id=FundingId></div>
            </table></td>
          </tr>

          <tr>
            <td class=DataLabel>%STANDARD.01.017.VI</td>
            <td class=DataField>
              <select name=wattx040 tabindex=70 class=Mandatory 
              title="%STANDARD.01.017.VI" onchange=setPlanned();>
              <option></option>
              %WATWEB01.02.540.2
              </select>
            </td>
          </tr>

          <tr>
            <td class=DataLabel>Planned LOS</td>
            <td class=DataField>
              <input type=text name=wattr013 size=5 maxlength=5 class="Integer" 
              min=0 value="%WATWEB01.02.116" title="Planned LOS" tabindex=80>
              (days)
            </td>
          </tr>

<tr>
    <td class=DataLabel>%STANDARD.01.017.yh</td>
    <td class=DataField>
    <select name=wattx050 tabindex=91 class=Mandatory
     title="%STANDARD.01.017.yh">
    <option></option>
    %WATWEB01.02.551.2
    </select>
</td>

</tr>

<tr><td class=DataLabel>ASA</td>
    <td class=DataLabel>
    <input type=text name=wattx051 size=5 maxlength=1 tabindex=92
     class="Number" min=1 max=4 title="Air Assessment Score (ASA)"
     value="%WATWEB01.02.552">
    </td>
</tr>

        </table>
      </td>
      <td valign=top><br>
        <table border=0 width=90% cellspacing=0 cellpadding=1 align=center>
          <tr>
            <td class=DataLabel>Admitting Point</td>
            <td class=DataField>
              <select name=wattx006 tabindex=95 class="selectBig Mandatory"
               title="Admitting Point">
              <option></option>  
              %WATWEB01.02.506.2
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Ward</td>
	    <td class=DataField>
	      <select name=wattx037 tabindex=100 class="Mandatory" title="Ward" >
	      <option></option>
	      </select>
            </td>		
	  </tr>
	  <tr>
	    <td class=DataLabel>%STANDARD.01.017.BP</td>
	    <td class=DataField>
	      <select name=wattx038 tabindex=110 class="Mandatory"
	       title="%STANDARD.01.017.BP" >
	      <option></option>
	      %WATWEB01.02.538.2
	      </select>
            </td>		
	  </tr>
	  <tr>
	    <td class=DataLabel>Post Op Ward</td>
	    <td class=DataField>
	      <select name=wattx005 tabindex=120 title="Post Op Ward">
	      <option></option>  
	      </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>%STANDARD.01.017.cw</td>
            <td>
              <select name=wattx039 title="%STANDARD.01.017.cw"
              tabindex=130 class=Mandatory>
              <option> </option>
              %WATWEB01.02.539.2
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Diagnosis</td>
            <td class=DataField colspan=3>
              <input type=text name=wattr004 size=60 maxlength=40 tabindex=140
              value="%WATWEB01.02.107" onblur="RemoveQuote(this);">
            </td>	
	  </tr>
	  <tr>
	    <td class=DataLabel>Principal Procedure </td>
	    <td class=DataField colspan=3>
	      <input type=text  size=6 class=Readonly  readonly name=wattr001  
	      title="Principal Procedure" value=%WATWEB01.02.103 tabindex=-1>
	      <input type="text" id="wattr003" name="wattr003" size="50"
              maxlength="50" tabindex=-1 readonly class=readonly 
              value="%WATWEB01.02.106" onblur="RemoveQuote(this);"/>
	      <input type="checkbox" id="reportable" name="reportable" disabled tabindex=-1>
	    </td>
          </tr>
	  <tr>
	    <td class=DataLabel>Procedure Description Comments </td>
            <td class=DataField colspan=3>
              <input type=text name=wattr058 size=60 maxlength=80 tabindex=145
              value="%WATWEB01.02.199.003" onblur="RemoveQuote(this);">
            </td>

          </tr>
	  <tr>
	    <td class="DataLabel">Additional Procedures</td>
	    <td class="DataField" colspan=3>
	      <input type="text" id="wattr040" name="wattr040" class=""
              tabindex="150" title="Additional Procedures"
              onblur="checkAlphanumSpec3(this);
                      valProc(UpdateForm.wattr040,UpdateForm.d_wattr040);"
              size="6" value=%WATWEB01.02.150 />
              <input type="text" id="d_wattr040" name="d_wattr040" size="50" 
              maxlength="50" tabindex=-1 readonly class=readonly 
              onblur="RemoveQuote(this);" value="%WATWEB01.02.150.1"/>
              <img src="../images/SearchIcon.gif" class="Icon"
              onclick="WaitProKeywordSearch(UpdateForm.wattr040,UpdateForm.d_wattr040,
	      UpdateForm.wattr013,UpdateForm.dummy,UpdateForm.dummy);"/>
	    </td>
	  </tr>
	  <tr>
	    <td class="DataLabel"></td>
	    <td class="DataField" colspan=3>
	      <input type="text" id="wattr041" name="wattr041" class=""
              tabindex="160" title="Procedure Code 3"
              onblur="checkAlphanumSpec3(this);
                      valProc(UpdateForm.wattr041,UpdateForm.d_wattr041);"
              size="6" value=%WATWEB01.02.151 />
	      <input type="text" id="d_wattr041" name="d_wattr041" size="50"
              maxlength="50" tabindex=-1 readOnly class=readonly
              onblur="RemoveQuote(this);" value="%WATWEB01.02.151.1"/>
	      <img src="../images/SearchIcon.gif" class="Icon"
              onclick="WaitProKeywordSearch(UpdateForm.wattr041,UpdateForm.d_wattr041,
              UpdateForm.wattr013,UpdateForm.dummy,UpdateForm.dummy);"/>
	    </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Anaesthetic Type</td>
            <td class=DataField>
              <select name=wattx033 tabindex=165 maxlength=3
                      title="Anaesthetic Type" >
              <option></option>
              %WATWEB01.02.533.2
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Consent Obtained?</td>
            <td class=DataField>
              <select name=wattr054 tabindex=170 maxlength=3 title="Consent Obtained" >
              <option></option>
              <option value="No "> No </option>
              <option value="Yes"> Yes </option>
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Medical Authorisation Approved?</td>
	    <td class=DataField>
	      <select name=wattx041 tabindex=180 maxlength=3
	      title="Medical Authorisation Approved?" >
	      <option></option>
	      <option value="0"> No </option>
	      <option value="1"> Yes </option>
	      </select>
            </td>
	  </tr>
	  <tr>
            <td class=DataLabel>Exp Delivery Date </td>
            <td class=DataLabel>
              <input type=text name=wattx042 size=12 maxlength=12 tabindex=190
              onblur="checkDate(this,'Date');checkSex();" class=FutureDate 
              value="%WATWEB01.02.542">
              <img src=../images/DateLookup.gif class=Icon date=UpdateForm.wattx042>
            </td>
          </tr>
          <tr>
            <td class=DataLabel>Inform GP</td>
            <td class=DataField>
              <select name=wattx014 tabindex=200 maxlength=3 title="Inform GP" >
              <option value=" "></option>
              <option value="0">No</option>
              <option value="1">Yes</option>
              <option value="2">Unknown</option>
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>Short Notice</td>
            <td class=DataField>
              <select name=wattr015 tabindex=210 class=selectBig>
              <option></option>
              %WATWEB01.02.118.2
              </select>
            </td>
	  </tr>
	  <tr>
	    <td class=DataLabel>%STANDARD.01.017.WH</td>
            <td class=DataField>
              <select name=wattx043 tabindex=220>
              <option></option>
              %WATWEB01.02.543.2
              </select>
            </td>
	  </tr>
          <tr>
            <td>Disaster Code</td>
            <td><div id=disastercodeDIV></div></td>
          </tr>
	  <tr>
            <td class=DataLabel tabindex=-1>
              <div id=disasteridnumbertitleDIV></div>
            </td>
            <td>
              <div id=disasteridnumberDIV tabindex=-1></div>
            </td>
          </tr>

<tr><td class="DataLabel">Weight (kg)</td>
    <td><input type="text" size="6" name="ptatr007" maxlength="6" tabindex=300
                            title="Weight" min="0" max="999.9"
          value="%WATWEB01.02.368"
          onblur="if(isWhitespace(this.value)){return;}
                  if(checkNumber(this)){this.value=
                                        parseFloat(this.value).toFixed(1);
                                        validateAttribute();}"/>
   &nbsp;&nbsp;&nbsp;Height (cm)
    <input type="text" size="6" name="ptatr006" maxlength="6" tabindex=305
                            title="Height" min="20.0" max="999.9"
          value="%WATWEB01.02.367"
          onblur="if(isWhitespace(this.value)){return;}
                  if(checkNumber(this)){this.value=
                                        parseFloat(this.value).toFixed(1);
                                        validateAttribute();}"/>
    &nbsp;&nbsp;&nbsp;Calculated BMI &nbsp;&nbsp;&nbsp;
<input type=text size="3" maxlength="3" name="BMIscore" class="Readonly"
 readonly value="%WATWEB01.02.365">
</td>
</tr>

<tr><td class="DataLabel">Calculated BMI Date Entry</td>
    <td><input type="text" value="%WATWEB01.02.372" class="Readonly" readonly></td>
</tr>
</table>
</td>
</tr>

  <tr>
    <td colspan=2 align=center><br>
      <input type=button class="button" value="Ok" tabindex=400
      id="updatebutton" onclick="tempDisable(this);UpdateWat();">
      <input type=button value="Cancel" tabindex=410 class="button" 
      onclick='PatientLinkTo("watweb01.pbl",2,1,0,0,0);'>
    </td>
  </tr>
</table>
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%WATWEB01.02.003">
<input type=hidden name=admissno value="%WATWEB01.02.081">
<input type=hidden name=MenuType value="%WATWEB01.02.088">
<input type=hidden name=casekeys value="%WATWEB01.02.101">
</form>

<script type="text/javascript">
function DisplayTrnSrc(field) {
  i=field.selectedIndex;
  ind=field.options[i].value.substring(4,5)
  if (ind!="1") {
   document.getElementById('TransferSource').innerHTML=
     document.getElementById('transferblank').innerHTML;
   document.getElementById('TransferLabel').innerHTML="";
  }
  else {
   document.getElementById('TransferSource').innerHTML=
     document.getElementById('transfer').innerHTML;
   document.getElementById('TransferLabel').innerHTML=
     document.getElementById('transferlabel').innerHTML;
  }
}

function setWardList(){
  selectOptions2("3",UpdateForm.wattr038,UpdateForm.wattx037);
  ward=trim("%WATWEB01.02.537.0");
  for (var i =0 ; i < document.UpdateForm.wattx037.length; i++) {
    if(trim(UpdateForm.wattx037.options[i].value)==ward) {
      document.UpdateForm.wattx037.selectedIndex = i;
    } 
  }
  selectOptions2("3",UpdateForm.wattr038,UpdateForm.wattx005);
  postopwd=trim("%WATWEB01.02.505.1");
  for (var i =0 ; i < document.UpdateForm.wattx005.length; i++) {
    if(trim(UpdateForm.wattx005.options[i].value)==postopwd) {
      document.UpdateForm.wattx005.selectedIndex=i 
    }
  }
  informgp="%WATWEB01.02.514"
  igp=" "
  if(informgp=="No "){
    igp="0"
  }
  if(informgp=="Yes"){
    igp="1"
  }
  if(informgp=="Unknown"){
    igp="2"
  }
  for (var i =0 ; i < document.UpdateForm.wattx014.length; i++) {
    if(trim(UpdateForm.wattx014.options[i].value)==igp) {
      document.UpdateForm.wattx014.selectedIndex=i 
    } 
  }
  Consent="%WATWEB01.02.193";
  for (var i =0 ; i < document.UpdateForm.wattr054.length; i++) {
    if (document.UpdateForm.wattr054.options[i].value==Consent) {
      document.UpdateForm.wattr054.selectedIndex=i 
    } 
  }
  auth="%WATWEB01.02.541";
  for (var i =0 ; i < document.UpdateForm.wattx041.length; i++) {
    if (document.UpdateForm.wattx041.options[i].value==auth) {
      document.UpdateForm.wattx041.selectedIndex=i 
    } 
  }
}
</script>

<span id=transferlabel style="display:none">
  Transfer Source</td>
</span>

<span id=transfer style="display:none">
  <input type="text" size=7 maxlength=5 name=trnsfsrc class=Mandatory
  title="Transfer Source" tabindex=250
  onchange="validateCode(9,trnsfsrc,trandesc)" 
  value="%WATWEB01.02.179">
  <input type=text size=20 name=trandesc notab class=Readonly readonly
  value="%WATWEB01.02.180">
  <img src="../images/SearchIcon.gif" class=Icon
  onclick="TransferSourceFrame(trnsfsrc,trandesc)">
</span>

<span id=transferblank style="display:none">
  <input type=hidden name=trnsfsrc>
</span>

<span id=blanklabel style="display:none">&nbsp;</span>

<span id=fundinghd style="display:none">Funding Source</span>

<span id=funding_id style="display:none">
  <select name=wattx036 id=wattx036 title="%STANDARD.01.017.cx" tabindex=65>
    <option> </option>
    %WATWEB01.02.536.2
  </select>
</span>

<span id=disasteridnumbertitleSPAN style="display:none">
  Disaster Identification #
</span>

<span id=disasteridnumberSPAN style="display:none">
  <input type="text" name=dispt002 size=20 maxlength=19
  tabindex=270 title="Disaster Identification Number">
</span>

<span id=disastercodeSPAN1 style="display:none">
  <select name=dispt001 tabindex=260 title="Disaster Code"
  onchange="displayDisasterID();">
    <option></option>
    %WATWEB01.02.344
  </select>
</span>

<span id=disastercodeSPAN2 style="display:none">
  <input type="text" name=n_dispt001 size=30 class=Readonly readonly
  title="Disaster Code" value="%WATWEB01.02.355" tabindex=270>
  <input type=hidden name=dispt001 value="%WATWEB01.02.345">
</span>

<span id="ShowPreferredHospitalField" style="display:none">
  Preferred Hospital
  <select name=wattx049 title="Preferred Hospital" tabindex=39
   class="SelectBig Mandatory">
  <option></option>
   %WATWEB01.02.550.2
  </select>
</span>

<span id="BlankPreferredHospitalField" style="display:none">
  <input type=hidden name=wattx049 value=" ">
</span>

<form name=PasForm method=get action=outweb02.pbl>
<input type=hidden name=reportno value=05>
<input type=hidden name=template value=002>
<input type=hidden name=urnumber value="%WATWEB01.02.003">
<input type=hidden name=admissno value="%WATWEB01.02.081">
<input type=hidden name=waitlkey value="%WATWEB01.02.101">
<input type=hidden name=waitflag value="2">
<input type=hidden name=MenuType value="%WATWEB01.02.088">
</form>

