/*-----------------------------------------------------------
   cssVersion : V10.12.00
-----------------------------------------------------------*/
    input.sliderLabel { 
        text-align:center;
        border:none;
        -webkit-appearance:none;
        background-color:transparent;
        font-size:14px;
        font-weight:bold;
        width:75%;
        overflow:hidden;
    }


    canvas.slider {
        height:270px;
        width:130px;
	background-color:white;
    }

