<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nzprivate">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/rcpweb03.js"></script>
<script type="text/javascript">
function init() {
  GetCookieCashierPassword();
  self.onbeforeunload=AlertIncomplete;

     AddForm.printinv.disabled=false;
     AddForm.printcod.disabled=false;
     AddForm.printflg.disabled=false;
     AddForm.selprint.disabled=false;
     AddForm.nocopies.disabled=false;

  if (AddForm.allctotl.value>0) {
    AddForm.rcpde004.tabIndex=1;
    AddForm.finishbt.tabIndex=2;
    AddForm.changebt.tabIndex=3;
    AddForm.cancelbt.tabIndex=4;
    AddForm.printflg.tabIndex=5;
    AddForm.selprint.tabIndex=6;
    AddForm.nocopies.tabIndex=7;
    AddForm.finishbt.className="RedButton";
    document.AddForm.rcpde004.focus();
  }
}
function GoAddPayment() {

  if (isWhitespace(AddForm.rcpde004.value)) {
    return; 
  } 
  register=AddForm.rcpde004.value.substr(0,3);
  systemcd=parseInt(AddForm.rcpde004.value.substr(3,2));
//
// Received Payment From Health Fund, Insurance Co, Govt Agency can 
// only have registers with system Codes 1-Patient Billing, 2-Priv Pract,
// 5-Account Receivable & 99-Suspense.
//
  if (AddForm.rcpbk007.value!=0) {
     if ((systemcd==1) ||
         (systemcd==2) ||
         (systemcd==5) ||
         (systemcd==99)) {
     }
     else {
       alert("Received Payments from Health Fund, Insurance Co or Govt Agency "
             + "\ncan only have registers with System Codes: "
             + "\n 1 - Patient Billing,"
             + "\n 2 - Private Practice,"
             + "\n 5 - Account Receivable/Sundry Debtors, "
             + "\n99 - Suspense.");
       AddForm.rcpde004.selectedIndex=0;
       return;
     }
  }
//
// If payment is from a fund or fund group, don't pop up 'add receipt' UNLESS 
// the payment is being allocated to a suspense account (nzprivate change).
//
//  if ((!isWhitespace(AddForm.hlthfund.value)) ||
//      (!isWhitespace(AddForm.hfundgrp.value))) {
//    if (systemcd==99) {
//      linkurl="rcpweb03.pbl?reportno=3&template=002" +
//              "&rcpbk001=" + AddForm.rcpbk001.value +
//              "&rcpde004=" + register +
//              "&printinv=" + AddForm.printinv.value +
//              "&tmotfrst=10&tmotnext=10";
//
//      ShowRegDetail1(linkurl);
//    }
//  } else {
//
// If payment is from a patient or debtor, always pop up 'add receipt' screen
//
    linkurl="rcpweb03.pbl?reportno=3&template=002" +
            "&rcpbk001=" + AddForm.rcpbk001.value +
            "&rcpde004=" + register +
            "&printinv=" + AddForm.printinv.value +
            "&tmotfrst=10&tmotnext=10";

    if ((systemcd==5) ||
        (systemcd==92) ||
        (systemcd==94) ||
        (systemcd==95) ||
        (systemcd==98)) {
      ShowRegDetail2(linkurl);
    }
    else {
      ShowRegDetail1(linkurl);
    }
//  }
}

function GoUpdatePayment(receiptno,trncount,systemcd,hlthfund,hfundgrp) {
     AddForm.printinv.disabled=true;
     AddForm.printcod.disabled=true;
     AddForm.printflg.disabled=true;
     AddForm.selprint.disabled=true;
     AddForm.nocopies.disabled=true;
     UpdatePayment(receiptno,trncount,systemcd,hlthfund,hfundgrp);
}

function AlertIncomplete() {
  if (AddForm.incmpflg.value==0) {
    return "Receipt is Incomplete."
  }
}

function SetPrint() {
    AddForm.updttype.value="P";
    AddForm.submit();
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=AddForm method=get action=rcpweb03.pbl>
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=001>
<input type=hidden name=savregis value="%RCPWEB03.03.372">
<input type=hidden name=incmpflg value=0>
<input type=hidden name=updttype>
<input type=hidden name=nextpage value=1>
<input type=hidden name=redirect value="rcpweb03.pbl?reportno=3&template=1">
<input type=hidden name=allctotl value="%RCPWEB03.03.308">
<input type=hidden name=rcpbk001 value="%RCPWEB03.03.001">
<input type=hidden name=rcpbk003 value="%RCPWEB03.03.003">
<input type=hidden name=rcpbk004 value="%RCPWEB03.03.004.0">
<input type=hidden name=rcpbk007 value="%RCPWEB03.03.007">
<input type=hidden name=hlthfund value="%RCPWEB03.03.365">
<input type=hidden name=hfundgrp value="%RCPWEB03.03.369">
<input type=hidden name=tmotfrst value="10">
<input type=hidden name=tmotnext value="10">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>Payments</td></tr>
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td colspan=8>&nbsp;</td></tr>
<tr><td width=15%>Receipt Number</td>
    <td><b>%RCPWEB03.03.001</b></td></tr>
<tr><td class=DataLabel width=15%>Cash Drawer</td>
    <td><input size=30 type=text name=cashdrwr title="Cash Drawer" 
               value="%RCPWEB03.03.302"
               class=readonly readonly tabindex=-1></td>
    <td class=DataLabel>Password</td>
    <td><input size=12 type=password name=password title="Password"
               class=readonly readonly tabindex=-1></td>
</tr>
<tr><td class=DataLabel>Cashier</td>
    <td><input size=30 type=text name=wusrname title="Cashier" 
               value="%RCPWEB03.03.303" class=readOnly readonly tabindex=-1>
    </td>
    <td class=DataLabel>Received From</td>
    <td><input size=30 type=text name=recvfrom 
               value="%RCPWEB03.03.370" class=readOnly readonly tabindex=-1>
    </td></tr>
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td colspan=3 align=center><hr width=100%></td></tr>
    <tr><td class=HeadingCell width=15%>&nbsp;Payment Type</td>
    <td class=HeadingCell width=10% align=right>Amount&nbsp;</td>
    <td class=HeadingCell width=75%>&nbsp;Reference</td></tr>
    %RCPWEB03.03.305.0
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=15%><b>Total to be Allocated</b></td>
    <td width=10% align=right><b>$%RCPWEB03.03.003&nbsp;</b></td>

    <td width=15% class=DataLabel>&nbsp;Print Non-Balanced Invoices</td>
    <td><select id=printinv name=printinv onchange="SetPrint();">
       <option value="0">No</option>
       <option value="1">Yes</option>
       </select></td>     
    <td width=10% class=DataLabel>Select Printer </td>
    <td><select id=printcod name=printcod onchange="SetPrint();">
        %STANDARD.01.001.RCPWEB03.08
        </select></td>
</tr>
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td colspan=8 align=center><hr width=100%></td></tr>
<tr><td class=DataLabel width=15%><b>Total Allocated</b></td>
    <td width=10% align=right><b>$%RCPWEB03.03.308&nbsp;</b></td>
    <td class=DataLabel>&nbsp;Print Receipt</td>
    <td><select name=printflg>
       <option value="1">Yes</option>
       <option value="0">No</option>
       </select></td>     
    <td class=DataLabel>Select Printer </td>
    <td><select name=selprint>
        %STANDARD.01.001.RCPWEB03.03
        </select></td>
    <td class=DataLabel>Copies</td>
    <td><select name=nocopies>
       <option value=" 1">1</option>
       <option value=" 2">2</option>
       <option value=" 3">3</option>
       <option value=" 4">4</option>
       <option value=" 5">5</option>
       <option value=" 6">6</option>
       <option value=" 7">7</option>
       <option value=" 8">8</option>
       <option value=" 9">9</option>
       <option value=" 10">10</option>
       </select></td>     
</tr>
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td colspan=8 align=center><hr width=100%></td></tr>
    <tr><td class=HeadingCell width=20%>&nbsp;Register</td>
    <td class=HeadingCell width=14%>&nbsp;U/R Number</td>
    <td class=HeadingCell width=14%>&nbsp;Invoice Number</td>
    <td class=HeadingCell width=14%>&nbsp;Reference</td>
    <td class=HeadingCell width=10% align=right>&nbsp;Balance</td>
    <td class=HeadingCell width=10% align=right>&nbsp;Amount</td>
    <td class=HeadingCell width=10% align=right>&nbsp;Discount</td>
    <td class=HeadingCell width=8% align=right>&nbsp;Re-Print Inv.</td></tr>
<tr><td><select name=rcpde004 title="Register" class=Mandatory>
        <option value=""></option>
        %RCPWEB03.03.310
        </select>
      <img src="../images/SearchIcon.gif" class=Icon onclick="GoAddPayment();">
    <td><input type=text id=display name=display size=12 class=Readonly
                           readonly tabindex=-1>
        <img src="../images/SearchIcon.gif" class=Icon
          onclick="RCPPatAllSearchFrame(AddForm.rcpde007,AddForm.patientn,visitinv,AddForm.systemcd);">
        <input type=hidden name=visitinv>
        <input type=hidden name=rcpde007>
        <input type=hidden name=patientn>
        <input type=hidden name=wbsehosp value="%STANDARD.01.032">
        <input type=hidden name=systemcd value=0>
    </td>
    <td><input type=text name=display size=12 class=Readonly
                           readonly tabindex=-1>
        <img src=../images/ListIcon.gif class=Icon alt="Invoice List"
          onclick="if (validateMandatory(AddForm)) {
            RCPHealthFundInvoice(AddForm.rcpde007,AddForm.patientn,AddForm.visitinv,AddForm.systemcd);}">
    </td>
    <td colspan=2>&nbsp;</td>
<tr>
     %RCPWEB03.03.311
</table>

<table width=95% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td align=center>
    <input type=button value=Finish class=button name=finishbt
     id=btnAdd onclick='tempDisable(this); ProcessPayment();'>
    <input type=button value="Change Payments" class=button name=changebt
     onclick='ChangePayment();'>
    <input type=button value=Cancel class=button name=cancelbt
     onclick='CancelReceipt2();' >
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>

</form>

<form name=CheckRecords method=post action=rcpweb03.pbl>
 <input type=hidden name=reportno value="8">
 <input type=hidden name=template value="002">
 <input type=hidden name=updttype value="A">
 <input type=hidden name=nextpage value="1">
 <input type=hidden name=complflg value=0>  <!-- complete flag -->
 <input type=hidden name=redirect value="rcpweb03.pbl?reportno=3&template=1">
 <input type=hidden name=allctotl value="%RCPWEB03.03.308">
 <input type=hidden name=rcpbk001 value="%RCPWEB03.03.001"> <!-- receipt no -->
 <input type=hidden name=rcpbk003 value="%RCPWEB03.03.003"> <!-- Total Pymnt -->
 <input type=hidden name=rcpbk004>   <!-- Cashier -->
 <input type=hidden name=rcpde004>   <!-- register -->
 <input type=hidden name=systemcd>   <!-- register system code -->
 <input type=hidden name=rcpde016>   <!-- Income Account -->
 <input type=hidden name=rcpde017>   <!-- Bank Account -->
 <input type=hidden name=rcpde023>   <!-- GST Account -->
 <input type=hidden name=susalloc value="%RCPWEB03.03.345"> <!-- suspense  -->
 <input type=hidden name=suscount>
 <input type=hidden name=dummy>
 <input type=hidden name=printflg value="%RCPWEB03.03.336">
 <input type=hidden name=selprint value="%RCPWEB03.03.337">
 <input type=hidden name=nocopies value="%RCPWEB03.03.338">
 <input type=hidden name=srchtype value=2>
 <input type=hidden name=ibcnmhos value="%RCPWEB03.03.348">
 <input type=hidden name=printinv value="%RCPWEB03.03.360">
 <input type=hidden name=printcod value="%RCPWEB03.03.361">
 <input type=hidden name=hlthfund value="%RCPWEB03.03.365">
 <input type=hidden name=hfundgrp value="%RCPWEB03.03.369">

 <input type=hidden name=rcpde018 value="%RCPWEB03.03.334">
 <input type=hidden name=balancea value="%RCPWEB03.03.333">
 <input type=hidden name=rcpde019 value="%RCPWEB03.03.335">
 <input type=hidden name=rcpde015 value="%RCPWEB03.03.332">

    <input type=hidden name=rcpde005 title="Invoice Number" size=12
           class=Mandatory maxlength=12>
    <input type=hidden name=rcpde007 title="U/R Number" size=8
           class=Readonly readonly maxlength=8 tabindex=-1>
    <input type=hidden name=patientn>
    <input type=hidden name=invrebat>
    <input type=hidden name=tinvamnt>
    <input type=hidden name=amntpaid>
    <input type=hidden name=rcpde006>
    <input type=hidden name=rcpde014 value="1">
    <input type=hidden name=visttype>

<div id=Results></div>
</form>



<script type="text/javascript">
printflag="%RCPWEB03.03.336";
for (var i=0; i<AddForm.printflg.length; i++) {
  if (AddForm.printflg.options[i].value==printflag){
        AddForm.printflg.selectedIndex=i; }
}
selectprinter="%RCPWEB03.03.337";
for (var i=0; i<AddForm.selprint.length; i++) {
  if (AddForm.selprint.options[i].value==selectprinter){
        AddForm.selprint.selectedIndex=i; }
}
numbercopies="%RCPWEB03.03.338";
for (var i=0; i<AddForm.nocopies.length; i++) {
  if (parseInt(AddForm.nocopies.options[i].value)==parseInt(numbercopies)){
        AddForm.nocopies.selectedIndex=i; }
}

printinv="%RCPWEB03.03.360";
for (var i=0; i<AddForm.printinv.length; i++) {
  if (AddForm.printinv.options[i].value==printinv){
        AddForm.printinv.selectedIndex=i; }
}

printcod="%RCPWEB03.03.361";
for (var i=0; i<AddForm.printcod.length; i++) {
  if (AddForm.printcod.options[i].value==printcod){
        AddForm.printcod.selectedIndex=i; }
}
</script>
