<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="sing">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/DischargeSummary.js"> </script>
<script type="text/javascript" src="../js/DischargeSummaryJH.js"> </script>
<script type="text/javascript" src="../js/patweb98.js"> </script>
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link
//  1 - Day
//  2 - Date & Time
//  3 - Clinic Type
//  4 - Clinic
//  5 - Outcome
//  6 - Visit Type
//  7 - Include in summary
//  8 - Location Type
//  9 - Location
//---------------------------------------------------------------------------
function InitTable() {
 document.title="Follow-Up Appointments"
 t = new Table(1,0,2,"100%","center",23,35);
 t.addColumn("Date","DateTime",1,1,"left","AppointmentIcon.gif","0",150)
 t.addColumn("Clinic Type","String",2,2,"left","","",150)
 t.addColumn("Clinic","String",3,3,"left","","",150)
 t.addColumn("Location","String",4,4,"left","","",150)
 AddTableRows()
 TableOutput(0,2);    // Order Column,Asc Dsc
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%CLIWEB06.09.003";
PatientVIS="%CLIWEB06.09.081";
PatientNAM="%CLIWEB06.09.002";
PatientSTA="%CLIWEB06.09.086.078";
PatientALT="%CLIWEB06.09.084";
PatientSEX="%CLIWEB06.09.019";
PatientDOB="%CLIWEB06.09.020";
PatientAGE="%CLIWEB06.09.021";
PatientLOC="%CLIWEB06.09.083";
PatientPRI="%CLIWEB06.09.086.066.1";
PatientUNT="%CLIWEB06.09.066.0";
DoctorCOD="%CLIWEB06.09.082.003";
DoctorNAM="%CLIWEB06.09.082.002";
PatientAID="%CLIWEB06.09.086.090";
PatientIND="%CLIWEB06.09.086.091";
PatientCUR="%CLIWEB06.09.086.092";
PatientCLC="%CLIWEB06.09.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%CLIWEB06.09.086.094";
PatientCDM="%CLIWEB06.09.086.095";
PatientVDH="%CLIWEB06.09.086.099.015";
InsertPatientHeader()
</script>
<div id=HeadingSection></div>
<div id=PatientMenu></div>
<div id=PageBodySection >
<table align=center width=100% border=0 cellspacing=0 cellpadding=1>
   <form name=UpdateForm action=cliweb08.pbl method=post>
   <input type=hidden name=reportno value="1">
   <input type=hidden name=template value="1">
   <input type=hidden name=urnumber value="%CLIWEB06.09.003">
   <input type=hidden name=admissno value="%CLIWEB06.09.081">
   <input type=hidden name=formactn value="">
   <input type=hidden name=startnum value=1>
   <input type=hidden name=nextpage value="1">
   <input type=hidden name=updttype value="A">
   <input type=hidden name=redirect value="%CLIWEB06.09.001.cliweb08.01.001">
   <input type=hidden name=ptcndscl value="%STANDARD.01.025.114.239.0.1">
   <input type=hidden name=informgp value="%CLIWEB06.09.725.1">
   <input type=hidden name=localgp  value="%CLIWEB06.09.086.084.001">
   <input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<textarea style="display:none;" type=hidden wrap=virtual name=htmlline rows=1 cols=60></textarea>
<tr><td class=DataLabel>Date</td>
    <td><input type=text name=corsp002 size=12 class="Mandatory FutureDate"
         title="Date" value="%STANDARD.01.015">
       <img src=../images/DateLookup.gif border=0 hspace=4 align=absmiddle
       onclick="DateLookupFrame(corsp002);">
       Time
       <input type=text name=corsp004 size=8 class=Mandatory
         title="Time" value="%STANDARD.01.016">
       <img src="../images/DateTimeStamp.gif"
       onclick="SetCurrentDateTime(corsp002,corsp004);">
       <img src="../images/TimeLookup.gif" border=0 hspace=4 align=absmiddle
       onclick="TimeLookupFrame(corsp004);"></td></tr>
<tr><td class=DataLabel>Document Type</td>
    <td><select name=corsp003 class=Mandatory title="Document Type">
        <option></option>
        %STANDARD.01.007.wi
        </select></td></tr>
<tr><td class=DataLabel>Use Attending Doctor for Completed By?</td>
<td><input type=checkbox name=useatdoc value=1 >
<tr><td class=DataLabel>Destination Name </td>
    <td><input type=hidden name=recipient>
        <input type=text readonly name=recipnam>
        <img src="../images/SearchIcon.gif"
         onClick="GPHCPSearchFrame(recipient,recipnam,genpprov,practice,genpprac,practice,3)">
       <img src="../images/erase.gif" align=absmiddle onClick="clrFields(recipient,recipnam);">
    Practice<input type=hidden name=practice>
        <input type=text readonly name=genpprac>
        <input type=hidden name=pracname>
        <input type=hidden name=genpprov value="">
        <img src="../images/SearchIcon.gif"
         onClick="GPHCGSearchFrame(recipient,recipnam,genpprov,practice,genpprac,pracname)">
       <img src="../images/erase.gif" align=absmiddle onClick="clrFields(recipnam,genpprac,pracname,genpprov);"></td>
</tr>
</form>
%CLIWEB06.09.101.cliweb06.01.013.0.99.1
<tr><td colspan=3 align=center><br>
    <input type=button value="Preview Summary" class="button" 
     onclick='PreviewFullSummary();'>
    <input type=button value="Create Summary" class="button" 
     onclick='PrintFullSummary();'>
    <input type=button value="Cancel" class="button" 
           onclick="PatientLinkTo('patweb98.pbl',1,5,0);">
</td></tr>
</table>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%CLIWEB06.09.104.0
}
</script>
</td></tr>
<form name=GP>
<input type=hidden title="Secondary Doctor" name=CMO value="%CLIWEB06.09.501">
<input type=hidden title="Referring Practice" name=RP value="%CLIWEB06.09.502">
<input type=hidden title="Final Diagnosis" name=DIAGNOS value="%CLIWEB06.09.503">
<input type=hidden title="Admission Date" name=ADMDATE value="%CLIWEB06.09.504">
<input type=hidden title="Discharge Date" name=DSCDATE value="%CLIWEB06.09.505">
<input type=hidden title="Discharge Destination" name=DSCDEST value="%CLIWEB06.09.506">
<input type=hidden title="Opr. Procedures" name=PROCED value="%CLIWEB06.09.507">
<input type=hidden title="Theatre Procedures" name=TPROCED value="%CLIWEB06.09.511">
<input type=hidden title="Nil Operation" name=NILOPRTN value="%CLIWEB06.09.515">
<input type=hidden title="Admitting Diagnosis" name=ADMDIAG value="%CLIWEB06.09.516">
<input type=hidden title="Unplanned Readmission" name=UNPLANRE value="%CLIWEB06.09.517">
<input type=hidden title="Nil Adverse" name=NILADVOC value="%CLIWEB06.09.518">
<input type=hidden title="Allergies" name=ALLERGIES value="%CLIWEB06.09.539">
<input type=hidden title="Adverse Outcomes" name=ADVERSE value="%CLIWEB06.09.519">
<input type=hidden title="Local/Reg GP" name=LMO value="%CLIWEB06.09.527">
<input type=hidden title="GP Practice" name=GPPRAC value="%CLIWEB06.09.528">
<input type=hidden title="GP Address1" name=GPADD1 value="%CLIWEB06.09.529">
<input type=hidden title="GP Address2" name=GPADD2 value="%CLIWEB06.09.530">
<input type=hidden title="GP Address3" name=GPADD3 value="%CLIWEB06.09.531">
<input type=hidden title="GP Address4" name=GPADD4 value="%CLIWEB06.09.532">
<input type=hidden title="GP Address5" name=GPADD5 value="%CLIWEB06.09.533">
<input type=hidden title="GP Address6" name=GPADD6 value="%CLIWEB06.09.534">
<input type=hidden title="GP Postcode" name=GPPCODE value="%CLIWEB06.09.535">
<input type=hidden title="GP State" name=GPSTATE value="%CLIWEB06.09.536">
<input type=hidden title="GP Fax" name=GPFAX value="%CLIWEB06.09.538">
<input type=hidden title="VMO" name=VMO value="%CLIWEB06.09.537">
</form>

<form name=Patient>
<input type=hidden name=LoginName value="%STANDARD.01.009">
<input type=hidden name="urnumber" value="%CLIWEB06.09.003">
<input type=hidden name="hrnnumbr" value="%CLIWEB06.09.086.090">
<input type=hidden name="admissno" value="%CLIWEB06.09.081">
<input type=hidden name="pthsname" value="%CLIWEB06.09.798.013.0">
<input type=hidden name="pthsadd1" value="%CLIWEB06.09.624">
<input type=hidden name="pthsadd3" value="%CLIWEB06.09.626">
<input type=hidden name="pthsadd4" value="%CLIWEB06.09.627">
<input type=hidden name="pthspcod" value="%CLIWEB06.09.628">
<input type=hidden name="pthstele" value="%CLIWEB06.09.629">
<input type=hidden name="pthsfaxn" value="%CLIWEB06.09.630">
<input type=hidden name="hospadd1" value="%CLIWEB06.09.601">
<input type=hidden name="hospadd2" value="%CLIWEB06.09.602">
<input type=hidden name="hosppost" value="%CLIWEB06.09.603">
<input type=hidden name="hospphone" value="%CLIWEB06.09.604">
<input type=hidden name="hospfax" value="">
<input type=hidden name="hospemail" value="">
<input type=hidden title="Title" name=Title value="%CLIWEB06.09.005.1">
<input type=hidden title="Surname" name=Surname value="%CLIWEB06.09.009">
<input type=hidden title="Given Names" name=Given value="%CLIWEB06.09.010">
<input type=hidden title="Formatted Name" name=formname value="%CLIWEB06.09.002">
<input type=hidden title="Age" name=Age value="%CLIWEB06.09.021">
<input type=hidden title="Address 1" name=Address1 value="%CLIWEB06.09.012">
<input type=hidden title="Address 2" name=Address2 value="%CLIWEB06.09.013">
<input type=hidden title="Address 3" name=Address3 value="%CLIWEB06.09.014">
<input type=hidden title="Address 4" name=Address4 value="%CLIWEB06.09.015">
<input type=hidden title="Post Code" name=PostCode value="%CLIWEB06.09.016">
<input type=hidden title="Sex" name=sex value="%CLIWEB06.09.019">
<input type=hidden title="DOB" name=dob value="%CLIWEB06.09.020">
<input type=hidden title="IndigenousStatus" name=indigstatus value="%CLIWEB06.09.086.065.0">
<input type=hidden name=summaryauthor value="%STANDARD.01.009">
<input type=hidden name=versionnumber value="%CLIWEB06.09.617">
<input type=hidden title="ClaimCode" name=claimcode value="%CLIWEB06.09.226.0">
<input type=hidden title="HealthFund" name=hfund value="%CLIWEB06.09.214.1">
<input type=hidden title="MembershipNo" name=memberno value="%CLIWEB06.09.216">
<input type=hidden title="HealthFundTable" name=hfundtable value="%CLIWEB06.09.215.1">
<input type=hidden title="Admission Date" name=admdate value="%CLIWEB06.09.202">
<input type=hidden title="Admission Time" name=admtime value="%CLIWEB06.09.203">
<input type=hidden name=admreason value="%CLIWEB06.09.221">
<input type=hidden name=discdiag value="%CLIWEB06.09.305">
<input type=hidden name=discdest value="%CLIWEB06.09.327.1">
<input type=hidden name=ward value="%CLIWEB06.09.605">
<input type=hidden name=warddesc value="%CLIWEB06.09.620">
<input type=hidden name=wardextn value="%CLIWEB06.09.606">
<input type=hidden title="Department" name=dept value="%CLIWEB06.09.224.0">
<input type=hidden title="Discharge Date" name=dscdate value="%CLIWEB06.09.301">
<input type=hidden title="Discharge Time" name=dsctime value="%CLIWEB06.09.302">
<input type=hidden title="Disch Status" name=dstatus value="%CLIWEB06.09.303.0">
<input type=hidden title="Disch Diagnosis" name=ddest value="%CLIWEB06.09.304.0">
<input type=hidden name=diag1 value="%CLIWEB06.09.607. 1">
<input type=hidden name=diag2 value="%CLIWEB06.09.607. 2">
<input type=hidden name=diag3 value="%CLIWEB06.09.607. 3">
<input type=hidden name=diag4 value="%CLIWEB06.09.607. 4">
<input type=hidden name=diag5 value="%CLIWEB06.09.607. 5">
<input type=hidden name=diag1d value="%CLIWEB06.09.613. 1">
<input type=hidden name=diag2d value="%CLIWEB06.09.613. 2">
<input type=hidden name=diag3d value="%CLIWEB06.09.613. 3">
<input type=hidden name=diag4d value="%CLIWEB06.09.613. 4">
<input type=hidden name=diag5d value="%CLIWEB06.09.613. 5">
<input type=hidden name=eventdesc value="%CLIWEB06.09.608.003.1">
<input type=hidden name=eventdate value="%CLIWEB06.09.608.003.2">
<input type=hidden name=eventnote value="%CLIWEB06.09.608.003.3">
<input type=hidden name=nursing value="%CLIWEB06.09.802">
<input type=hidden name=nursing2 value="%CLIWEB06.09.804">
<input type=hidden name=nursing3 value="%CLIWEB06.09.806">
<input type=hidden name=nursing4 value="%CLIWEB06.09.808">
<input type=hidden name=nursing5 value="%CLIWEB06.09.810">
<input type=hidden name=nursing6 value="%CLIWEB06.09.812">
<input type=hidden name=careplan1 value="%CLIWEB06.09.814.007.1">
<input type=hidden name=careplan2 value="%CLIWEB06.09.814.008.1">
<input type=hidden name=careplan3 value="%CLIWEB06.09.814.009.1">
<input type=hidden name=careplan4 value="%CLIWEB06.09.814.010.1">
<input type=hidden name=careplan5 value="%CLIWEB06.09.814.011.1">
<input type=hidden name=careplan6 value="%CLIWEB06.09.814.012.1">
<input type=hidden name=medhist   value="%CLIWEB06.09.814.013.1">
<input type=hidden name=progress  value="%CLIWEB06.09.814.014.1">
<input type=hidden name=allhealt  value="%CLIWEB06.09.814.015.1">
<input type=hidden name=trannote  value="%CLIWEB06.09.814.016.1">
<input type=hidden name=observat  value="%CLIWEB06.09.814.017.1">
<input type=hidden name=reqfollow value="%CLIWEB06.09.814.001.1">
<input type=hidden name=patientins value="%CLIWEB06.09.814.002.1">
<input type=hidden name=reqtogp value="%CLIWEB06.09.814.003.1">
<input type=hidden name=pathresults value="%CLIWEB06.09.814.004.1">
<input type=hidden name=diagimaging value="%CLIWEB06.09.814.005.1">
<input type=hidden name=othinvest value="%CLIWEB06.09.814.006.1">
<input type=hidden name=assocdiag1 value="%CLIWEB06.09.609. 1">
<input type=hidden name=assocdiag2 value="%CLIWEB06.09.609. 2">
<input type=hidden name=assocdiag3 value="%CLIWEB06.09.609. 3">
<input type=hidden name=assocdiag4 value="%CLIWEB06.09.609. 4">
<input type=hidden name=assocdiag5 value="%CLIWEB06.09.609. 5">
<input type=hidden name=assocdiag1d value="%CLIWEB06.09.615. 1">
<input type=hidden name=assocdiag2d value="%CLIWEB06.09.615. 2">
<input type=hidden name=assocdiag3d value="%CLIWEB06.09.615. 3">
<input type=hidden name=assocdiag4d value="%CLIWEB06.09.615. 4">
<input type=hidden name=assocdiag5d value="%CLIWEB06.09.615. 5">
<input type=hidden name=proc1 value="%CLIWEB06.09.610. 1.0">
<input type=hidden name=proc2 value="%CLIWEB06.09.610. 2.0">
<input type=hidden name=proc3 value="%CLIWEB06.09.610. 3.0">
<input type=hidden name=proc4 value="%CLIWEB06.09.610. 4.0">
<input type=hidden name=proc1d value="%CLIWEB06.09.614. 1">
<input type=hidden name=proc2d value="%CLIWEB06.09.614. 2">
<input type=hidden name=proc3d value="%CLIWEB06.09.614. 3">
<input type=hidden name=proc4d value="%CLIWEB06.09.614. 4">
<input type=hidden name=procdate1 value="%CLIWEB06.09.610. 1.1">
<input type=hidden name=procdate2 value="%CLIWEB06.09.610. 2.1">
<input type=hidden name=procdate3 value="%CLIWEB06.09.610. 3.1">
<input type=hidden name=procdate4 value="%CLIWEB06.09.610. 4.1">
<input type=hidden name=mmbs1d value="%CLIWEB06.09.622. 1">
<input type=hidden name=mmbs2d value="%CLIWEB06.09.622. 2">
<input type=hidden name=mmbs3d value="%CLIWEB06.09.622. 3">
<input type=hidden name=mmbs4d value="%CLIWEB06.09.622. 4">
<input type=hidden name=mmbsdate1 value="%CLIWEB06.09.623. 1">
<input type=hidden name=mmbsdate2 value="%CLIWEB06.09.623. 2">
<input type=hidden name=mmbsdate3 value="%CLIWEB06.09.623. 3">
<input type=hidden name=mmbsdate4 value="%CLIWEB06.09.623. 4">
<input type=hidden title="Princ Diag" name=prdiag value="%CLIWEB06.09.440">
<input type=hidden title="Princ D Desc" name=prddesc value="%CLIWEB06.09.467">
<input type=hidden title="Oth Diag" name=othdiag value="%CLIWEB06.09.437.1">
<input type=hidden title="Princ proc" name=prproc value="%CLIWEB06.09.441">
<input type=hidden title="Princ P Desc" name=prprocd value="%CLIWEB06.09.468">
<input type=hidden title="Oth proc" name=othproc value="%CLIWEB06.09.438.1">
<input type=hidden title="Reas for Ad" name=admreas value="%CLIWEB06.09.442.0">
<input type=hidden title="Other Reasons" name=othreas value="%CLIWEB06.09.439.1">
<input type=hidden title="Brief History" name=briefhis value="%CLIWEB06.09.457.1">
<input type=hidden title="Brief Exam" name=briefphy value="%CLIWEB06.09.458.1">
<input type=hidden title="Lab Findings" name=labfind value="%CLIWEB06.09.459.1">
<input type=hidden title="Hosp Summary" name=hossumm value="%CLIWEB06.09.460.1">
<input type=hidden title="Condition Di" name=condis value="%CLIWEB06.09.461">
<input type=hidden title="Results on Di" name=resdis value="%CLIWEB06.09.462">
<input type=hidden title="Med Alert" name=medalerts value="%CLIWEB06.09.464.MA">
<input type=hidden title="Drug Alert" name=drugallergy value="%CLIWEB06.09.464.DA">
<input type=hidden name=allergy1 value="%CLIWEB06.09.611. 1.0">
<input type=hidden name=allergy2 value="%CLIWEB06.09.611. 2.0">
<input type=hidden name=allergy3 value="%CLIWEB06.09.611. 3.0">
<input type=hidden name=allergy4 value="%CLIWEB06.09.611. 4.0">
<input type=hidden name=allergy5 value="%CLIWEB06.09.611. 5.0">
<input type=hidden name=allergyd1 value="%CLIWEB06.09.611. 1.1">
<input type=hidden name=allergyd2 value="%CLIWEB06.09.611. 2.1">
<input type=hidden name=allergyd3 value="%CLIWEB06.09.611. 3.1">
<input type=hidden name=allergyd4 value="%CLIWEB06.09.611. 4.1">
<input type=hidden name=allergyd5 value="%CLIWEB06.09.611. 5.1">
<input type=hidden name=reaction1 value="%CLIWEB06.09.611. 1.2">
<input type=hidden name=reaction2 value="%CLIWEB06.09.611. 2.2">
<input type=hidden name=reaction3 value="%CLIWEB06.09.611. 3.2">
<input type=hidden name=reaction4 value="%CLIWEB06.09.611. 4.2">
<input type=hidden name=reaction5 value="%CLIWEB06.09.611. 5.2">
<input type=hidden name=allergyc1 value="%CLIWEB06.09.611. 1.3">
<input type=hidden name=allergyc2 value="%CLIWEB06.09.611. 2.3">
<input type=hidden name=allergyc3 value="%CLIWEB06.09.611. 3.3">
<input type=hidden name=allergyc4 value="%CLIWEB06.09.611. 4.3">
<input type=hidden name=allergyc5 value="%CLIWEB06.09.611. 5.3">
<input type=hidden name=alert1 value="%CLIWEB06.09.612. 1.0">
<input type=hidden name=alert2 value="%CLIWEB06.09.612. 2.0">
<input type=hidden name=alert3 value="%CLIWEB06.09.612. 3.0">
<input type=hidden name=alert4 value="%CLIWEB06.09.612. 4.0">
<input type=hidden name=alert5 value="%CLIWEB06.09.612. 5.0">
<input type=hidden name=alertd1 value="%CLIWEB06.09.612. 1.1">
<input type=hidden name=alertd2 value="%CLIWEB06.09.612. 2.1">
<input type=hidden name=alertd3 value="%CLIWEB06.09.612. 3.1">
<input type=hidden name=alertd4 value="%CLIWEB06.09.612. 4.1">
<input type=hidden name=alertd5 value="%CLIWEB06.09.612. 5.1">
<input type=hidden name=alertc1 value="%CLIWEB06.09.612. 1.3">
<input type=hidden name=alertc2 value="%CLIWEB06.09.612. 2.3">
<input type=hidden name=alertc3 value="%CLIWEB06.09.612. 3.3">
<input type=hidden name=alertc4 value="%CLIWEB06.09.612. 4.3">
<input type=hidden name=alertc5 value="%CLIWEB06.09.612. 5.3">
<input type=hidden title="Code1" name=Code1 value="%CLIWEB06.09.463.  1">
<input type=hidden title="Code2" name=Code2 value="%CLIWEB06.09.463.  2">
<input type=hidden title="Code3" name=Code3 value="%CLIWEB06.09.463.  3">
<input type=hidden title="Code4" name=Code4 value="%CLIWEB06.09.463.  4">
<input type=hidden title="Code5" name=Code5 value="%CLIWEB06.09.463.  5">
<input type=hidden title="Code6" name=Code6 value="%CLIWEB06.09.463.  6">
<input type=hidden title="Code7" name=Code7 value="%CLIWEB06.09.463.  7">
<input type=hidden title="Code8" name=Code8 value="%CLIWEB06.09.463.  8">
<input type=hidden title="Code9" name=Code9 value="%CLIWEB06.09.463.  9">
<input type=hidden title="Code10" name=Code10 value="%CLIWEB06.09.463. 10">
<input type=hidden title="Code11" name=Code11 value="%CLIWEB06.09.463. 11">
<input type=hidden title="Code12" name=Code12 value="%CLIWEB06.09.463. 12">
<input type=hidden title="Code13" name=Code13 value="%CLIWEB06.09.463. 13">
<input type=hidden title="Drug14" name=Code14 value="%CLIWEB06.09.463. 14">
<input type=hidden title="Code15" name=Code15 value="%CLIWEB06.09.463. 15">
<input type=hidden title="Code16" name=Code16 value="%CLIWEB06.09.463. 16">
<input type=hidden title="Code17" name=Code17 value="%CLIWEB06.09.463. 17">
<input type=hidden title="Code18" name=Code18 value="%CLIWEB06.09.463. 18">
<input type=hidden title="Code19" name=Code19 value="%CLIWEB06.09.463. 19">
<input type=hidden title="Code20" name=Code20 value="%CLIWEB06.09.463. 20">
<input type=hidden title="Code21" name=Code21 value="%CLIWEB06.09.463. 21">
<input type=hidden title="Code22" name=Code22 value="%CLIWEB06.09.463. 22">
<input type=hidden title="Code23" name=Code23 value="%CLIWEB06.09.463. 23">
<input type=hidden title="Code24" name=Code24 value="%CLIWEB06.09.463. 24">
<input type=hidden title="Code25" name=Code25 value="%CLIWEB06.09.463. 25">
<input type=hidden title="Code26" name=Code26 value="%CLIWEB06.09.463. 26">
<input type=hidden title="Code27" name=Code27 value="%CLIWEB06.09.463. 27">
<input type=hidden title="Code28" name=Code28 value="%CLIWEB06.09.463. 28">
<input type=hidden title="Code29" name=Code29 value="%CLIWEB06.09.463. 29">
<input type=hidden title="Code30" name=Code30 value="%CLIWEB06.09.463. 30">
<input type=hidden title="Drug1" name=drug1 value="%CLIWEB06.09.447.  1">
<input type=hidden title="Drug2" name=drug2 value="%CLIWEB06.09.447.  2">
<input type=hidden title="Drug3" name=drug3 value="%CLIWEB06.09.447.  3">
<input type=hidden title="Drug4" name=drug4 value="%CLIWEB06.09.447.  4">
<input type=hidden title="Drug5" name=drug5 value="%CLIWEB06.09.447.  5">
<input type=hidden title="Drug6" name=drug6 value="%CLIWEB06.09.447.  6">
<input type=hidden title="Drug7" name=drug7 value="%CLIWEB06.09.447.  7">
<input type=hidden title="Drug8" name=drug8 value="%CLIWEB06.09.447.  8">
<input type=hidden title="Drug9" name=drug9 value="%CLIWEB06.09.447.  9">
<input type=hidden title="Drug10" name=drug10 value="%CLIWEB06.09.447. 10">
<input type=hidden title="Drug11" name=drug11 value="%CLIWEB06.09.447. 11">
<input type=hidden title="Drug12" name=drug12 value="%CLIWEB06.09.447. 12">
<input type=hidden title="Drug13" name=drug13 value="%CLIWEB06.09.447. 13">
<input type=hidden title="Drug14" name=drug14 value="%CLIWEB06.09.447. 14">
<input type=hidden title="Drug15" name=drug15 value="%CLIWEB06.09.447. 15">
<input type=hidden title="Drug16" name=drug16 value="%CLIWEB06.09.447. 16">
<input type=hidden title="Drug17" name=drug17 value="%CLIWEB06.09.447. 17">
<input type=hidden title="Drug18" name=drug18 value="%CLIWEB06.09.447. 18">
<input type=hidden title="Drug19" name=drug19 value="%CLIWEB06.09.447. 19">
<input type=hidden title="Drug20" name=drug20 value="%CLIWEB06.09.447. 20">
<input type=hidden title="Drug21" name=drug21 value="%CLIWEB06.09.447. 21">
<input type=hidden title="Drug22" name=drug22 value="%CLIWEB06.09.447. 22">
<input type=hidden title="Drug23" name=drug23 value="%CLIWEB06.09.447. 23">
<input type=hidden title="Drug24" name=drug24 value="%CLIWEB06.09.447. 24">
<input type=hidden title="Drug25" name=drug25 value="%CLIWEB06.09.447. 25">
<input type=hidden title="Drug26" name=drug26 value="%CLIWEB06.09.447. 26">
<input type=hidden title="Drug27" name=drug27 value="%CLIWEB06.09.447. 27">
<input type=hidden title="Drug28" name=drug28 value="%CLIWEB06.09.447. 28">
<input type=hidden title="Drug29" name=drug29 value="%CLIWEB06.09.447. 29">
<input type=hidden title="Drug30" name=drug30 value="%CLIWEB06.09.447. 30">
<input type=hidden title="Dosefm1" name=dosef1 value="%CLIWEB06.09.448.  1.0">
<input type=hidden title="Dosefm2" name=dosef2 value="%CLIWEB06.09.448.  2.0">
<input type=hidden title="Dosefm3" name=dosef3 value="%CLIWEB06.09.448.  3.0">
<input type=hidden title="Dosefm4" name=dosef4 value="%CLIWEB06.09.448.  4.0">
<input type=hidden title="Dosefm5" name=dosef5 value="%CLIWEB06.09.448.  5.0">
<input type=hidden title="Dosefm6" name=dosef6 value="%CLIWEB06.09.448.  6.0">
<input type=hidden title="Dosefm7" name=dosef7 value="%CLIWEB06.09.448.  7.0">
<input type=hidden title="Dosefm8" name=dosef8 value="%CLIWEB06.09.448.  8.0">
<input type=hidden title="Dosefm9" name=dosef9 value="%CLIWEB06.09.448.  9.0">
<input type=hidden title="Dosefm10" name=dosef10 value="%CLIWEB06.09.448. 10.0">
<input type=hidden title="Dosefm11" name=dosef11 value="%CLIWEB06.09.448. 11.0">
<input type=hidden title="Dosefm12" name=dosef12 value="%CLIWEB06.09.448. 12.0">
<input type=hidden title="Dosefm13" name=dosef13 value="%CLIWEB06.09.448. 13.0">
<input type=hidden title="Dosefm14" name=dosef14 value="%CLIWEB06.09.448. 14.0">
<input type=hidden title="Dosefm15" name=dosef15 value="%CLIWEB06.09.448. 15.0">
<input type=hidden title="Dosefm16" name=dosef16 value="%CLIWEB06.09.448. 16.0">
<input type=hidden title="Dosefm17" name=dosef17 value="%CLIWEB06.09.448. 17.0">
<input type=hidden title="Dosefm18" name=dosef18 value="%CLIWEB06.09.448. 18.0">
<input type=hidden title="Dosefm19" name=dosef19 value="%CLIWEB06.09.448. 19.0">
<input type=hidden title="Dosefm20" name=dosef20 value="%CLIWEB06.09.448. 20.0">
<input type=hidden title="Dosefm21" name=dosef21 value="%CLIWEB06.09.448. 21.0">
<input type=hidden title="Dosefm22" name=dosef22 value="%CLIWEB06.09.448. 22.0">
<input type=hidden title="Dosefm23" name=dosef23 value="%CLIWEB06.09.448. 23.0">
<input type=hidden title="Dosefm24" name=dosef24 value="%CLIWEB06.09.448. 24.0">
<input type=hidden title="Dosefm25" name=dosef25 value="%CLIWEB06.09.448. 25.0">
<input type=hidden title="Dosefm26" name=dosef26 value="%CLIWEB06.09.448. 26.0">
<input type=hidden title="Dosefm27" name=dosef27 value="%CLIWEB06.09.448. 27.0">
<input type=hidden title="Dosefm28" name=dosef28 value="%CLIWEB06.09.448. 28.0">
<input type=hidden title="Dosefm29" name=dosef29 value="%CLIWEB06.09.448. 29.0">
<input type=hidden title="Dosefm30" name=dosef30 value="%CLIWEB06.09.448. 30.0">
<input type=hidden title="Dosage1" name=dose1 value="%CLIWEB06.09.449.  1">
<input type=hidden title="Dosage2" name=dose2 value="%CLIWEB06.09.449.  2">
<input type=hidden title="Dosage3" name=dose3 value="%CLIWEB06.09.449.  3">
<input type=hidden title="Dosage4" name=dose4 value="%CLIWEB06.09.449.  4">
<input type=hidden title="Dosage5" name=dose5 value="%CLIWEB06.09.449.  5">
<input type=hidden title="Dosage6" name=dose6 value="%CLIWEB06.09.449.  6">
<input type=hidden title="Dosage7" name=dose7 value="%CLIWEB06.09.449.  7">
<input type=hidden title="Dosage8" name=dose8 value="%CLIWEB06.09.449.  8">
<input type=hidden title="Dosage9" name=dose9 value="%CLIWEB06.09.449.  9">
<input type=hidden title="Dosage10" name=dose10 value="%CLIWEB06.09.449. 10">
<input type=hidden title="Dosage11" name=dose11 value="%CLIWEB06.09.449. 11">
<input type=hidden title="Dosage12" name=dose12 value="%CLIWEB06.09.449. 12">
<input type=hidden title="Dosage13" name=dose13 value="%CLIWEB06.09.449. 13">
<input type=hidden title="Dosage14" name=dose14 value="%CLIWEB06.09.449. 14">
<input type=hidden title="Dosage15" name=dose15 value="%CLIWEB06.09.449. 15">
<input type=hidden title="Dosage16" name=dose16 value="%CLIWEB06.09.449. 16">
<input type=hidden title="Dosage17" name=dose17 value="%CLIWEB06.09.449. 17">
<input type=hidden title="Dosage18" name=dose18 value="%CLIWEB06.09.449. 18">
<input type=hidden title="Dosage19" name=dose19 value="%CLIWEB06.09.449. 19">
<input type=hidden title="Dosage20" name=dose20 value="%CLIWEB06.09.449. 20">
<input type=hidden title="Dosage21" name=dose21 value="%CLIWEB06.09.449. 21">
<input type=hidden title="Dosage22" name=dose22 value="%CLIWEB06.09.449. 22">
<input type=hidden title="Dosage23" name=dose23 value="%CLIWEB06.09.449. 23">
<input type=hidden title="Dosage24" name=dose24 value="%CLIWEB06.09.449. 24">
<input type=hidden title="Dosage25" name=dose25 value="%CLIWEB06.09.449. 25">
<input type=hidden title="Dosage26" name=dose26 value="%CLIWEB06.09.449. 26">
<input type=hidden title="Dosage27" name=dose27 value="%CLIWEB06.09.449. 27">
<input type=hidden title="Dosage28" name=dose28 value="%CLIWEB06.09.449. 28">
<input type=hidden title="Dosage29" name=dose29 value="%CLIWEB06.09.449. 29">
<input type=hidden title="Dosage30" name=dose30 value="%CLIWEB06.09.449. 30">
<input type=hidden title="Freq1" name=freq1 value="%CLIWEB06.09.450.  1.0">
<input type=hidden title="Freq2" name=freq2 value="%CLIWEB06.09.450.  2.0">
<input type=hidden title="Freq3" name=freq3 value="%CLIWEB06.09.450.  3.0">
<input type=hidden title="Freq4" name=freq4 value="%CLIWEB06.09.450.  4.0">
<input type=hidden title="Freq5" name=freq5 value="%CLIWEB06.09.450.  5.0">
<input type=hidden title="Freq6" name=freq6 value="%CLIWEB06.09.450.  6.0">
<input type=hidden title="Freq7" name=freq7 value="%CLIWEB06.09.450.  7.0">
<input type=hidden title="Freq8" name=freq8 value="%CLIWEB06.09.450.  8.0">
<input type=hidden title="Freq9" name=freq9 value="%CLIWEB06.09.450.  9.0">
<input type=hidden title="Freq10" name=freq10 value="%CLIWEB06.09.450. 10.0">
<input type=hidden title="Freq11" name=freq11 value="%CLIWEB06.09.450. 11.0">
<input type=hidden title="Freq12" name=freq12 value="%CLIWEB06.09.450. 12.0">
<input type=hidden title="Freq13" name=freq13 value="%CLIWEB06.09.450. 13.0">
<input type=hidden title="Freq14" name=freq14 value="%CLIWEB06.09.450. 14.0">
<input type=hidden title="Freq15" name=freq15 value="%CLIWEB06.09.450. 15.0">
<input type=hidden title="Freq16" name=freq16 value="%CLIWEB06.09.450. 16.0">
<input type=hidden title="Freq17" name=freq17 value="%CLIWEB06.09.450. 17.0">
<input type=hidden title="Freq18" name=freq18 value="%CLIWEB06.09.450. 18.0">
<input type=hidden title="Freq19" name=freq19 value="%CLIWEB06.09.450. 19.0">
<input type=hidden title="Freq20" name=freq20 value="%CLIWEB06.09.450. 20.0">
<input type=hidden title="Freq21" name=freq21 value="%CLIWEB06.09.450. 21.0">
<input type=hidden title="Freq22" name=freq22 value="%CLIWEB06.09.450. 22.0">
<input type=hidden title="Freq23" name=freq23 value="%CLIWEB06.09.450. 23.0">
<input type=hidden title="Freq24" name=freq24 value="%CLIWEB06.09.450. 24.0">
<input type=hidden title="Freq25" name=freq25 value="%CLIWEB06.09.450. 25.0">
<input type=hidden title="Freq26" name=freq26 value="%CLIWEB06.09.450. 26.0">
<input type=hidden title="Freq27" name=freq27 value="%CLIWEB06.09.450. 27.0">
<input type=hidden title="Freq28" name=freq28 value="%CLIWEB06.09.450. 28.0">
<input type=hidden title="Freq29" name=freq29 value="%CLIWEB06.09.450. 29.0">
<input type=hidden title="Freq30" name=freq30 value="%CLIWEB06.09.450. 30.0">
<input type=hidden title="Duration1" name=dura1 value="%CLIWEB06.09.451.  1">
<input type=hidden title="Duration2" name=dura2 value="%CLIWEB06.09.451.  2">
<input type=hidden title="Duration3" name=dura3 value="%CLIWEB06.09.451.  3">
<input type=hidden title="Duration4" name=dura4 value="%CLIWEB06.09.451.  4">
<input type=hidden title="Duration5" name=dura5 value="%CLIWEB06.09.451.  5">
<input type=hidden title="Duration6" name=dura6 value="%CLIWEB06.09.451.  6">
<input type=hidden title="Duration7" name=dura7 value="%CLIWEB06.09.451.  7">
<input type=hidden title="Duration8" name=dura8 value="%CLIWEB06.09.451.  8">
<input type=hidden title="Duration9" name=dura9 value="%CLIWEB06.09.451.  9">
<input type=hidden title="Duration10" name=dura10 value="%CLIWEB06.09.451. 10">
<input type=hidden title="Duration11" name=dura11 value="%CLIWEB06.09.451. 11">
<input type=hidden title="Duration12" name=dura12 value="%CLIWEB06.09.451. 12">
<input type=hidden title="Duration13" name=dura13 value="%CLIWEB06.09.451. 13">
<input type=hidden title="Duration14" name=dura14 value="%CLIWEB06.09.451. 14">
<input type=hidden title="Duration15" name=dura15 value="%CLIWEB06.09.451. 15">
<input type=hidden title="Duration16" name=dura16 value="%CLIWEB06.09.451. 16">
<input type=hidden title="Duration17" name=dura17 value="%CLIWEB06.09.451. 17">
<input type=hidden title="Duration18" name=dura18 value="%CLIWEB06.09.451. 18">
<input type=hidden title="Duration19" name=dura19 value="%CLIWEB06.09.451. 19">
<input type=hidden title="Duration20" name=dura20 value="%CLIWEB06.09.451. 20">
<input type=hidden title="Duration21" name=dura21 value="%CLIWEB06.09.451. 21">
<input type=hidden title="Duration22" name=dura22 value="%CLIWEB06.09.451. 22">
<input type=hidden title="Duration23" name=dura23 value="%CLIWEB06.09.451. 23">
<input type=hidden title="Duration24" name=dura24 value="%CLIWEB06.09.451. 24">
<input type=hidden title="Duration25" name=dura25 value="%CLIWEB06.09.451. 25">
<input type=hidden title="Duration26" name=dura26 value="%CLIWEB06.09.451. 26">
<input type=hidden title="Duration27" name=dura27 value="%CLIWEB06.09.451. 27">
<input type=hidden title="Duration28" name=dura28 value="%CLIWEB06.09.451. 28">
<input type=hidden title="Duration29" name=dura29 value="%CLIWEB06.09.451. 29">
<input type=hidden title="Duration30" name=dura30 value="%CLIWEB06.09.451. 30">
<input type=hidden title="Quantity1" name=quan1 value="%CLIWEB06.09.452.  1">
<input type=hidden title="Quantity2" name=quan2 value="%CLIWEB06.09.452.  2">
<input type=hidden title="Quantity3" name=quan3 value="%CLIWEB06.09.452.  3">
<input type=hidden title="Quantity4" name=quan4 value="%CLIWEB06.09.452.  4">
<input type=hidden title="Quantity5" name=quan5 value="%CLIWEB06.09.452.  5">
<input type=hidden title="Quantity6" name=quan6 value="%CLIWEB06.09.452.  6">
<input type=hidden title="Quantity7" name=quan7 value="%CLIWEB06.09.452.  7">
<input type=hidden title="Quantity8" name=quan8 value="%CLIWEB06.09.452.  8">
<input type=hidden title="Quantity9" name=quan9 value="%CLIWEB06.09.452.  9">
<input type=hidden title="Quantity10" name=quan10 value="%CLIWEB06.09.452. 10">
<input type=hidden title="Quantity11" name=quan11 value="%CLIWEB06.09.452. 11">
<input type=hidden title="Quantity12" name=quan12 value="%CLIWEB06.09.452. 12">
<input type=hidden title="Quantity13" name=quan13 value="%CLIWEB06.09.452. 13">
<input type=hidden title="Quantity14" name=quan14 value="%CLIWEB06.09.452. 14">
<input type=hidden title="Quantity15" name=quan15 value="%CLIWEB06.09.452. 15">
<input type=hidden title="Quantity16" name=quan16 value="%CLIWEB06.09.452. 16">
<input type=hidden title="Quantity17" name=quan17 value="%CLIWEB06.09.452. 17">
<input type=hidden title="Quantity18" name=quan18 value="%CLIWEB06.09.452. 18">
<input type=hidden title="Quantity19" name=quan19 value="%CLIWEB06.09.452. 19">
<input type=hidden title="Quantity20" name=quan20 value="%CLIWEB06.09.452. 20">
<input type=hidden title="Quantity21" name=quan21 value="%CLIWEB06.09.452. 21">
<input type=hidden title="Quantity22" name=quan22 value="%CLIWEB06.09.452. 22">
<input type=hidden title="Quantity23" name=quan23 value="%CLIWEB06.09.452. 23">
<input type=hidden title="Quantity24" name=quan24 value="%CLIWEB06.09.452. 24">
<input type=hidden title="Quantity25" name=quan25 value="%CLIWEB06.09.452. 25">
<input type=hidden title="Quantity26" name=quan26 value="%CLIWEB06.09.452. 26">
<input type=hidden title="Quantity27" name=quan27 value="%CLIWEB06.09.452. 27">
<input type=hidden title="Quantity28" name=quan28 value="%CLIWEB06.09.452. 28">
<input type=hidden title="Quantity29" name=quan29 value="%CLIWEB06.09.452. 29">
<input type=hidden title="Quantity30" name=quan30 value="%CLIWEB06.09.452. 30">
<input type=hidden title="Instruct1" name=inst1 value="%CLIWEB06.09.453.  1">
<input type=hidden title="Instruct2" name=inst2 value="%CLIWEB06.09.453.  2">
<input type=hidden title="Instruct3" name=inst3 value="%CLIWEB06.09.453.  3">
<input type=hidden title="Instruct4" name=inst4 value="%CLIWEB06.09.453.  4">
<input type=hidden title="Instruct5" name=inst5 value="%CLIWEB06.09.453.  5">
<input type=hidden title="Instruct6" name=inst6 value="%CLIWEB06.09.453.  6">
<input type=hidden title="Instruct7" name=inst7 value="%CLIWEB06.09.453.  7">
<input type=hidden title="Instruct8" name=inst8 value="%CLIWEB06.09.453.  8">
<input type=hidden title="Instruct9" name=inst9 value="%CLIWEB06.09.453.  9">
<input type=hidden title="Instruct10" name=inst10 value="%CLIWEB06.09.453. 10">
<input type=hidden title="Instruct11" name=inst11 value="%CLIWEB06.09.453. 11">
<input type=hidden title="Instruct12" name=inst12 value="%CLIWEB06.09.453. 12">
<input type=hidden title="Instruct13" name=inst13 value="%CLIWEB06.09.453. 13">
<input type=hidden title="Instruct14" name=inst14 value="%CLIWEB06.09.453. 14">
<input type=hidden title="Instruct15" name=inst15 value="%CLIWEB06.09.453. 15">
<input type=hidden title="Instruct16" name=inst16 value="%CLIWEB06.09.453. 16">
<input type=hidden title="Instruct17" name=inst17 value="%CLIWEB06.09.453. 17">
<input type=hidden title="Instruct18" name=inst18 value="%CLIWEB06.09.453. 18">
<input type=hidden title="Instruct19" name=inst19 value="%CLIWEB06.09.453. 19">
<input type=hidden title="Instruct20" name=inst20 value="%CLIWEB06.09.453. 20">
<input type=hidden title="Instruct21" name=inst21 value="%CLIWEB06.09.453. 21">
<input type=hidden title="Instruct22" name=inst22 value="%CLIWEB06.09.453. 22">
<input type=hidden title="Instruct23" name=inst23 value="%CLIWEB06.09.453. 23">
<input type=hidden title="Instruct24" name=inst24 value="%CLIWEB06.09.453. 24">
<input type=hidden title="Instruct25" name=inst25 value="%CLIWEB06.09.453. 25">
<input type=hidden title="Instruct26" name=inst26 value="%CLIWEB06.09.453. 26">
<input type=hidden title="Instruct27" name=inst27 value="%CLIWEB06.09.453. 27">
<input type=hidden title="Instruct28" name=inst28 value="%CLIWEB06.09.453. 28">
<input type=hidden title="Instruct29" name=inst29 value="%CLIWEB06.09.453. 29">
<input type=hidden title="Instruct30" name=inst30 value="%CLIWEB06.09.453. 30">
<input type=hidden title="Restrict" name=restrict value="%CLIWEB06.09.443.1">
<input type=hidden title="Physical" name=physical value="%CLIWEB06.09.444.1">
<input type=hidden title="Diet" name=diet value="%CLIWEB06.09.445.1">
<input type=hidden title="When" name=when value="%CLIWEB06.09.446.1">
<input type=hidden title="Doctor" name=attdoct value="%CLIWEB06.09.208.002">
<input type=hidden title="RefDoctor" name=refdoct value="%CLIWEB06.09.731.0">
<input type=hidden title="RefDoctt" name=refdoctt value="%CLIWEB06.09.618.003">
<input type=hidden title="RefDocts" name=refdoctg value="%CLIWEB06.09.618.004">
<input type=hidden title="RefDoctg" name=refdocts value="%CLIWEB06.09.618.005">
<input type=hidden title="doctorno" name=doctmcr value="%CLIWEB06.09.208.018">
<input type=hidden name=localdoctor value="%CLIWEB06.09.086.084.081">
<input type=hidden name=localdoctt value="%CLIWEB06.09.086.084.003">
<input type=hidden name=localdoctg value="%CLIWEB06.09.086.084.004">
<input type=hidden name=localdocts value="%CLIWEB06.09.086.084.005">
<input type=hidden name=practice value="%CLIWEB06.09.086.085.005">
<input type=hidden name=pracadd1 value="%CLIWEB06.09.086.085.006">
<input type=hidden name=pracadd2 value="%CLIWEB06.09.086.085.007">
<input type=hidden name=pracadd3 value="%CLIWEB06.09.086.085.008">
<input type=hidden name=pracadd4 value="%CLIWEB06.09.086.085.009">
<input type=hidden name=pracpost value="%CLIWEB06.09.086.085.012">
<input type=hidden name=practele value="%CLIWEB06.09.086.085.015">
<input type=hidden name=pracfax value="%CLIWEB06.09.086.085.016">
<input type=hidden name=pracemail value="%CLIWEB06.09.086.085.014">
<input type=hidden name=lgpadd1 value="%CLIWEB06.09.086.084.011.1">
<input type=hidden name=lgpadd2 value="%CLIWEB06.09.086.084.011.2">
<input type=hidden name=lgpadd3 value="%CLIWEB06.09.086.084.011.3">
<input type=hidden name=lgpadd4 value="%CLIWEB06.09.086.084.011.4">
<input type=hidden name=lgppost value="%CLIWEB06.09.086.084.020">
<input type=hidden name=lgptele value="%CLIWEB06.09.086.084.015">
<input type=hidden name=lgpfax value="%CLIWEB06.09.086.084.040">
<input type=hidden name=lgpemail value="%CLIWEB06.09.086.084.014">
%CLIWEB06.09.104.1
<input type=hidden title="readmit" name=readmit value="%CLIWEB06.09.466.0">
<input type=hidden title="readmit28" name=readmit28 value="%CLIWEB06.09.798.016.0">
<input type=hidden title="preadmit" name=preadmit value="%CLIWEB06.09.465">
<input type=hidden name=refreas value="%CLIWEB06.09.221">
<input type=hidden name=servicereq value="">
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=005>
<input type=hidden name=urnumber value="%CLIWEB06.09.003">
<input type=hidden name=admissno value="%CLIWEB06.09.081">
<input type=hidden name=MenuType value="%CLIWEB06.09.088">
</form>
