<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="sing">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/mrtweb02.js"></script>
<script type="text/javascript" src="../js/mrtweb0201001.js"></script>
<script type="text/javascript">
function init() {
  AddItem();
  DisWeight();
  setTimeout('SetFocusSTV()',200);
  ICU();
  Cpap(document.UpdateForm);
  if (document.getElementById('ptcnoenc').value == "2" ) {
    WebInterface();
    if (EncInputFileExists()) {
      btnInitInstance();
    }
  }
}
</script>
%START.OF.PAGE
<body onLoad="PageLoad(event);" onunload="BreakLock();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%MRTWEB02.01.003";
PatientVIS="%MRTWEB02.01.081";
PatientNAM="%MRTWEB02.01.002";
PatientSTA="%MRTWEB02.01.086.078";
PatientALT="%MRTWEB02.01.084";
PatientSEX="%MRTWEB02.01.019";
PatientDOB="%MRTWEB02.01.020";
PatientAGE="%MRTWEB02.01.021";
PatientLOC="%MRTWEB02.01.083";
PatientPRI="%MRTWEB02.01.086.066.1";
PatientUNT="%MRTWEB02.01.066.0";
DoctorCOD="%MRTWEB02.01.082.003";
DoctorNAM="%MRTWEB02.01.082.002";
PatientAID="%MRTWEB02.01.086.090";
PatientIND="%MRTWEB02.01.086.091";
PatientCUR="%MRTWEB02.01.086.092";
PatientCLC="%MRTWEB02.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%MRTWEB02.01.086.094";
PatientCDM="%MRTWEB02.01.086.095";
PatientVDH="%MRTWEB02.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection> 

<form name=UpdateForm action=mrtweb02.pbl method=post>
  <input type=hidden name=reportno value=01>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="">
  <input type=hidden name=urnumber value="%MRTWEB02.01.003">
  <input type=hidden name=admissno value="%MRTWEB02.01.081">
  <input type=hidden name=pripre value="%MRTWEB02.01.401">
  <input type=hidden name=seqpre value="%MRTWEB02.01.402">
  <input type=hidden name=compre value="%MRTWEB02.01.403">
  <input type=hidden name=asspre value="%MRTWEB02.01.404">
  <input type=hidden name=lofpre value="%MRTWEB02.01.405">
  <input type=hidden name=dispre value="%MRTWEB02.01.406">
  <input type=hidden name=oprpre value="%MRTWEB02.01.407">
  <input type=hidden name=morpre value="%MRTWEB02.01.420">
  <input type=hidden name=stateflg value="%MRTWEB02.01.422">
  <input type=hidden name=wghtindc value="%MRTWEB02.01.410">
  <input type=hidden name=oprtdate value="%MRTWEB02.01.416">
  <input type=hidden name=oprttime value="%MRTWEB02.01.417">
  <input type=hidden name=intubatn value="%MRTWEB02.01.426">
  <input type=hidden name=hspbirth value="%MRTWEB02.01.110.3">
  <input type=hidden name=usingicu value="%MRTWEB02.01.309">
  <input type=hidden name=icubedtp value="%MRTWEB02.01.310.0">
  <input type=hidden name=ccubedtp value="%MRTWEB02.01.310.2">
  <input type=hidden name=mechwarn value="%MRTWEB02.01.428">
  <input type=hidden name=diffhosp value="%MRTWEB02.01.415">
  <input type=hidden name=override value="">
  <input type=hidden name=losofsty value="%MRTWEB02.01.431">
  <input type=hidden name=usngcpap value="%MRTWEB02.01.430">
  <input type=hidden name=usngecod value="%MRTWEB02.01.432">
  <input type=hidden name=morbdesc value="%MRTWEB02.01.433">
  <input type=hidden name=dischdte value="%MRTWEB02.01.434">
  <input type=hidden name=ptcnoenc id=ptcnoenc value="%STANDARD.01.025.079.092.1.1">
  <input type=hidden name=webcoder id=webcoder value="%MRTWEB02.01.465">

<table cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td class=HeadingCell align=center colspan=10>Associated Details</td></tr>
<tr><td class=DataLabel >Attendance</td>
    <td class=DataField >%MRTWEB02.01.102 - %MRTWEB02.01.201 </td>
    <td class=DataLabel >Length of Stay</td>
    <td class=DataField >%MRTWEB02.01.225 Days </td>
    <td class=DataLabel >Ward</td>
    <td class=DataField >%MRTWEB02.01.224 </td>
    <td class=DataLabel >Unit</td>
    <td class=DataField >%MRTWEB02.01.124.1 </td></tr>

<tr><td class=DataLabel>Episode No</td>
    <td><input type=text name=epscd001 size=2 maxlength=2
        class="Number Mandatory" title="Episode No" min=1 max=20 
        value="%MRTWEB02.01.413" onblur='CheckEps(epscd001);'></td>
    <td class=DataLabel>Hrs ICU </td>
    <td><input type=text name=hrsicu01 size=4 maxlength=4 class=Integer
        title="Hrs ICU" value="%MRTWEB02.01.301"></td>
    <td class=DataLabel>Hrs CCU</td>
    <td><input type=text name=hrsicu02 size=4 maxlength=4 class=Integer
        title="Hrs CCU" value="%MRTWEB02.01.302"></td>
    <td class=DataLabel>Hrs MV</td>
    <td><input type=text name=hrsicu03 size=4 maxlength=4 class=Integer 
        title="Hrs MV" value="%MRTWEB02.01.303"></td>
    <td class=DataLabel>Hrs NIV</td>
    <td><input type=text name=hrsicu10 size=4 maxlength=5 class=Integer 
        title="Hrs NIV" value="%MRTWEB02.01.313"></td></tr>

  <tr><td class=DataLabel>Intention to Readmit</td>
      <td><select name=hrsicu06 class=SelectBig tabindex=1>
          <option></option>
          %MRTWEB02.01.304.2
          </select></td>

      <td class=DataLabel>%STANDARD.01.017.CP</td>
      <td><select name=ptecd008 class=SelectMed>
          <option></option>
          %MRTWEB02.01.306.4
          </select></td>

      <td><div id=WeightLabel></div></td>
      <td><div id=WeightField></div></td>
   </tr>
</table>

<table cellspacing=0 cellpadding=1 border=0 width=100% align=center>
  <tr><td class=HeadingCell width=34% align=left>
    <img src=../images/DiagnosisSearchIcon.gif class=Icon border=0
    onclick='javascript:Icd10DisNext(UpdateForm.dischdte.value);'> 
    Diagnosis
    <img src=../images/ProcedureSearchIcon.gif class=Icon border=0
    onclick='javascript:Icd10ProNext(UpdateForm.dischdte.value);'> 
    Procedure
    &nbsp;&nbsp;&nbsp;
    Counter <input type=text name=countcod size=2 readonly>
    </td>
    <td class=HeadingCell align=center >
     ICD Coding </td>
    <td class=HeadingCell width=45% align=right>
    Coding Template
    <select name=mrcodtem onchange='TemplateSelect(this)' class=SelectBig>
    <option></option>
     %MRTWEB02.01.411
    </select>
    </td></tr>
</table>
</td></tr>
</table>

<div id=RecordCoding></div> 

<table cellspacing=0 cellpadding=1 border=0 width=95% align=center>
<tr><td colspan=5 align=center><br>
   <input type=button class="button" value="Ok"  id="okbutton"
    onclick="tempDisable(this,8);Codding();"> 
   <span style="display: %MRTWEB02.01.436;">
   <input type=button class="button" type=button value="Export Encoder"
    onclick='Export();'>
   <input type=button class="button" type=button value="Load Encoder"
    onclick='Encoder();'>
   </span>
   <input type=button class="button" type=button value=Associated
     onclick='Associated();'> 
   <input type=button class="button" type=button value=Copy
    onclick='Copyall();'>
   <input type=button class="button" type=button value=Cancel
    onclick='CancelButton();'>
   <input type=button class="button" type=button value=CMBS
    onclick='DFrameLink("%MRTWEB02.01.001.patweb98.01.022",100,100,600,300);'>
   </td></tr>
</table>

  <table cellspacing="0" width="100%" align=center>
  <tr>
    <td colspan="2"><input type="hidden" id="3MMessage" value="" size="137"
        readonly=""/></td>
  </tr>
        <input type="hidden" id="3MURL" value="%MRTWEB02.01.466">
        <input type="hidden" id="3MSession" value="%MRTWEB02.01.467">
        <input type="hidden" id="3MUser" value="%STANDARD.01.043">
  </table>

</form>

  <iframe name="wcFrame" id="wcFrame" height="0" width="0"
   frameborder="0" style="display: none;"></iframe>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%MRTWEB02.01.003">
<input type=hidden name=admissno value="%MRTWEB02.01.081">
<input type=hidden name=epscd001 value="%MRTWEB02.01.413">
<input type=hidden name=MenuType value="%MRTWEB02.01.088">
</form>
<form name=MoveForm method=post action=mrtweb02.pbl>
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="001">
<input type=hidden name=updttype value="">
<input type=hidden name=urnumber value="%MRTWEB02.01.003">
<input type=hidden name=admissno value="%MRTWEB02.01.081">
<input type=hidden name=epsoindc value="%MRTWEB02.01.308">
<input type=hidden name=nextpage value="5">
<input type=hidden name=redirect value="%MRTWEB02.01.001.mrtweb02.06.001">
<input type=hidden name=encoderf>

  <table cellspacing="0" width="100%" align=center>
  <tr>
    <td><textarea name="3MInput" id="3MInput" cols="50" rows="25"
         style="display:none">
%MRTWEB02.01.464
        </textarea></td>
    <td><textarea name="3MOutput" id="3MOutput" cols="50" rows="25"
         style="display:none">
        </textarea></td>
  </tr>
  </table>

</form>
</div>

<span id=showweightlabel style="display:none">Adm. Weight</span> 
<span id=showweightfield style="display:none">
      <input type=text name=hrsicu04 size=6 maxlength=6 
       class="Number Mandatory" title="Admission Weight" tabindex=2 
       value="%MRTWEB02.01.412">gm
      
</span> 
