<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="sing">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function AppointLink(CaseKeys){
SESSKEYS=CaseKeys.substr(0,28).replace(/ /g,"+")
location.href="outweb02.pbl?reportno=2&template=4&sesskeys="+SESSKEYS
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link
//  1 - Day
//  2 - Date & Time
//  3 - Clinic Type
//  4 - Clinic
//  5 - Outcome
//  6 - Visit Type
//  7 - Status
//  8 - Location Type
//  9 - Location
//---------------------------------------------------------------------------
function InitTable() {
 document.title="Same Day Appointments"
 t = new Table(1,0,2,"100%","center",23,35);
 t.addColumn("Date","DateTime",1,1,"left","AppointmentIcon.gif","0",150)
 t.addColumn("Clinic Type","String",2,2,"left","","",150)
 t.addColumn("Clinic","String",3,3,"left","","",150)
 t.addColumn("Location","String",4,4,"left","","",150)
 t.addColumn("Status","String",6,6,"left","","",40)
 AddTableRows()
 TableOutput(0,2);    // Order Column,Asc Dsc

 if (PatientLinks.shwprint.value=="1") {
   if(PatientLinks.otbbccar.value=="1") {
     if(PatientLinks.othectrn.value=="1") {
       if(PatientLinks.isseries.value=="2") {
         PatientLinks.trnsflag.value="2"
       } else {
         PatientLinks.trnsflag.value="1"  
       }
     }
     PatientLinks.shwprint.value="1"
     PatientLinkTo("patweb07.pbl",6,001,1,700,400) 
   } else {
     if(PatientLinks.othectrn.value=="1") {
       if(PatientLinks.isseries.value=="2") {
         PatientLinks.trnsflag.value="2"
       } else {
         PatientLinks.trnsflag.value="1"
       }
       PatientLinks.shwprint.value="1"
       linkurl="patweb10.pbl?reportno=04&template=002" +
              "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
              "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+") +
              "&trnsflag=" + PatientLinks.trnsflag.value.replace(/ /g,"+") +
              "&waitflag=" + PatientLinks.waitflag.value.replace(/ /g,"+") +
              "&shwprint=" + PatientLinks.shwprint.value.replace(/ /g,"+")
       Left=(document.body.clientWidth-950)/2
       DFrameLink(linkurl,50,Left,950,550)
       return;
     }
     PatientLinks.shwprint.value="0"
     PatientLinkTo("outweb02.pbl",3,13,1,700,400) }
   } 
}

function SelectListSearch() {
  var el=window.event.srcElement;
  if (window.event.keyCode<64) {
    AllKeys=""; return }
  if (window.event.keyCode>90) {
    AllKeys=""; return }
  var ThisKey=String.fromCharCode(window.event.keyCode) ;
  AllKeys=AllKeys+ThisKey.toUpperCase()
  for (i=0; i < el.length; i++) {
    TestString=el.options[i].text.toUpperCase()
    if (TestString.match(AllKeys)) {
	el.options[i].selected=true
	el.focus()
	i=el.length } }
}
function TestEvent() {
  AllKeys="";
  KeyPress.TestKeys.onkeyup=SelectListSearch;
}

function fnRefListPath() {
  RefListPath=GetCookieData("RefListPath");
  if (RefListPath != "unknown") {
    location.href=RefListPath }
}

function ShowRefListIcon() {
  RefListPath=GetCookieData("RefListPath");
  if (RefListPath == "unknown") {
    document.RefListIcon.style.visibility="hidden"; }
}

function DisplayXCmbs() {
  if (document.PatientLinks.clinindc.value=="P" &&
      document.PatientLinks.ibcnumci.value=="1" &&
      document.PatientLinks.otmaumci.value=="1") {
      ShowXCmbs.innerHTML=extracmbs.innerHTML;
  } else {
      ShowXCmbs.innerHTML="";
  }
  if(document.PatientLinks.otbbccar.value=="1") {
       document.all.viewlink.options[document.all.viewlink.options.length]=
       new Option("Carer Details","patweb07.pbl|06|001|1|700|400");
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();ShowRefListIcon();DisplayXCmbs();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%OUTWEB02.03.003";
PatientVIS="%OUTWEB02.03.081";
PatientNAM="%OUTWEB02.03.002";
PatientSTA="%OUTWEB02.03.086.078";
PatientALT="%OUTWEB02.03.084";
PatientSEX="%OUTWEB02.03.019";
PatientDOB="%OUTWEB02.03.020";
PatientAGE="%OUTWEB02.03.021";
PatientLOC="%OUTWEB02.03.083";
PatientUNT="%OUTWEB02.03.066.0";
PatientPRI="%OUTWEB02.03.086.066.1";
DoctorCOD="%OUTWEB02.03.082.003";
DoctorNAM="%OUTWEB02.03.082.002";
PatientAID="%OUTWEB02.03.086.090";
PatientIND="%OUTWEB02.03.086.091";
PatientCUR="%OUTWEB02.03.086.092";
PatientCLC="%OUTWEB02.03.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%OUTWEB02.03.086.094";
PatientCDM="%OUTWEB02.03.086.095";
PatientVDH="%OUTWEB02.03.086.099.015";
InsertPatientHeader()
</script>
<div id=HeadingSection></div>
<div id=PatientMenu></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%" >
<tr>
    <td class=HeadingCell width=15%>
    <select onChange=PMenuLinkTo(this) name=viewlink class=PMenuSelectList>
    <option>---- Actions ----</option>
    <option value="outweb02.pbl|03|009|1|920|900">Update</option>
    <option value="outweb02.pbl|03|003|1|920|900">Attendance</option>
    <option value="outweb02.pbl|03|004|1|920|900">Follow Up Appointment</option>
    <option value="outweb02.pbl|03|005|1|750|475">Re-schedule</option>
    <option value="outweb02.pbl|03|006|1|920|450">Discharge</option>
    <option value="outweb02.pbl|03|013|1|700|400">Labels & Forms</option>
    <option value="outweb02.pbl|03|002|1|800|450">Non-Attendance</option>
    <option value="outweb02.pbl|03|007|1|700|400">Cancellation </option>
    <option value="outweb02.pbl|03|012|0|700|400">Appointment Summary</option>
    <option value="outweb02.pbl|02|004|0|700|400">View Clinic</option>
    <option value="outweb02.pbl|03|016|1|700|400">Supervisor</option>
    <option value="allweb02.pbl|04|002|1|920|450">Link Referral</option>
    </select> 
    </td>

    <td class=HeadingCell align=left>    
    <img src=../images/ListIcon.gif class=Icon name=RefListIcon
     alt="Referral Letter List" onclick='fnRefListPath();'></td>
    <td class=HeadingCell align=center>Appointment Details - %OUTWEB02.03.618.1
    </td>
    <td class=HeadingCell width=15% align=right>
    <img src=../images/ListIcon.gif class=Icon alt="Clinic List"
     onclick='PMenuLinkTo("outweb02.pbl|02|004|0|0|0");'></td></tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" width="95%" align=center>
<tr><td class=DataLabel width=20%>Clinic   </td>
    <td class=DataField width=30%>%OUTWEB02.03.303.1	   </td>
    <td class=DataLabel width=20%>Appointment	   </td>
    <td class=DataField width=30%>%OUTWEB02.03.313 %OUTWEB02.03.304
		    at	%OUTWEB02.03.316	   </td></tr>

<tr><td class=DataLabel>Special Arrangements	       </td>
    <td class=HighLightRed>%OUTWEB02.03.378.0 </td>
    <td class=DataLabel>Interpreter		    </td>
    <td class=HighLightRed>%OUTWEB02.03.853 &nbsp;</td>
</tr>
<tr><td class=DataLabel>Referral Source	     </td>
    <td class=DataField>%OUTWEB02.03.320.0	     </td>
    <td class=DataLabel>Priority	       </td>
    <td class=DataField>%OUTWEB02.03.332.0   &nbsp;</td></tr>

<tr><td class=DataLabel>Transport		</td>
    <td class=DataField>%OUTWEB02.03.342.0   &nbsp;</td>
    <td class=DataLabel>Unit		 </td>
    <td class=DataField>%OUTWEB02.03.341.0   &nbsp;</td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL		 </td>
 <td class=DataField>%OUTWEB02.03.321.0	  &nbsp;</td>
    <td class=DataLabel>Reports Required </td>
 <td class=DataField>%OUTWEB02.03.336.0	  &nbsp;</td>
</tr>

<tr><td class=DataLabel>Referring GP		     </td>
    <td class=DataField>%OUTWEB02.03.348.003 %OUTWEB02.03.348.004 %OUTWEB02.03.348.005    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td></tr>

<tr valign=top>
    <td class=DataLabel>Presenting Complaint</td>
<td class=DataField>%OUTWEB02.03.603
</td></tr>
<tr valign=top><td class=DataLabel>Diagnosis	     </td>
    <td class=DataField colspan=3>
    %OUTWEB02.03.364  %OUTWEB02.03.365            <br>
    %OUTWEB02.03.379  %OUTWEB02.03.380		  <br>
    %OUTWEB02.03.381  %OUTWEB02.03.382		  <br>
    %OUTWEB02.03.383  %OUTWEB02.03.384		  <br>
    </td></tr>
<tr><td class=DataLabel>Outcome			     </td>
    <td class=DataField colspan=3>%OUTWEB02.03.354.0 </td></tr>

<tr valign=top><td class=DataLabel>Comments			</td>
    <td class=DataField colspan=3><pre>%OUTWEB02.03.327.016.099</pre>
    </td></tr>

</table>

<div id=ShowXCmbs></div>

<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%OUTWEB02.03.376
}
</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%OUTWEB02.03.003">
<input type=hidden name=admissno value="%OUTWEB02.03.081">
<input type=hidden name=MenuType value="%OUTWEB02.03.088">
<input type=hidden name=casekeys value="%OUTWEB02.03.366">
<input type=hidden name=sesskeys value="%OUTWEB02.03.366">
<input type=hidden name=shwprint value="%OUTWEB02.03.609">
<input type=hidden name=clnewbok value="1">
<input type=hidden name=waitflag value="%OUTWEB02.03.620">
<input type=hidden name=waitretk value="%OUTWEB02.03.621">
<input type=hidden name=clinindc value="%OUTWEB02.03.628">
<input type=hidden name=ibcnumci value="%STANDARD.01.025.000.132.0.1">
<input type=hidden name=otmaumci value="%OUTWEB02.03.634">
<input type=hidden name=otbbccar value="%OUTWEB02.03.327.001">
<input type=hidden name=othectrn value="%OUTWEB02.03.640.034">
<input type=hidden name=isseries value="%OUTWEB02.03.618.2">
<input type=hidden name=trnsflag value="0">
</form>

<form name=SelectPeriod>
<div id="hidesesskeys" style="display: none">
  <select name=sesskeys>
    <option selected>%OUTWEB02.03.313 %OUTWEB02.03.304</option>
  </select>
</div>
<input type=hidden name=dateclin value="%OUTWEB02.03.304">
<input type=hidden name=xocadoct value="%OUTWEB02.03.649">
<input type=hidden name=othedurn value="%OUTWEB02.03.640.013">
</form>

<script type="text/javascript">
  if(PatientLinks.waitflag.value == "1" && PatientLinks.shwprint.value=="0") {
       location.href="watweb01.pbl?reportno=2&template=001" +
                "&casekeys=" + PatientLinks.waitretk.value.replace(/ /g,"+")
  }
  if(PatientLinks.waitflag.value == "2" && PatientLinks.shwprint.value=="0") {
       location.href="watweb01.pbl?reportno=2&template=001" +
                "&casekeys=" + PatientLinks.waitretk.value.replace(/ /g,"+")
  }
</script>

<span id=extracmbs style="display:none">
<table border="0" cellpadding="1" cellspacing="0" width="95%" align=center>
<tr valign=top><td class=DataLabel width=20%>CMBS Items        </td>
    <td class=DataField width=30%>
    %OUTWEB02.03.624. 1.1  %OUTWEB02.03.625. 1  %OUTWEB02.03.626. 1
    %OUTWEB02.03.627. 1.0 <br>
    %OUTWEB02.03.624. 2.1  %OUTWEB02.03.625. 2  %OUTWEB02.03.626. 2
    %OUTWEB02.03.627. 2.0 <br>
    %OUTWEB02.03.624. 3.1  %OUTWEB02.03.625. 3  %OUTWEB02.03.626. 3
    %OUTWEB02.03.627. 3.0 <br></td>
    <td class=DataField width=50%>
    %OUTWEB02.03.624. 4.1  %OUTWEB02.03.625. 4  %OUTWEB02.03.626. 4
    %OUTWEB02.03.627. 4.0 <br>
    %OUTWEB02.03.624. 5.1  %OUTWEB02.03.625. 5  %OUTWEB02.03.626. 5
    %OUTWEB02.03.627. 5.0 <br></td>
</tr>
<tr><td class=DataLabel width=20%>Seen By</td>
    <td class=DataField width=30%>%OUTWEB02.03.350.081</td>
    <td class=DataField width=50%>&nbsp;</td>
    </tr>
</table>
</span>
