<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="sportsa">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb06.js"> </script>
<script type="text/javascript">
function init() {
  if (isWhitespace(UpdateForm.opcom003.value)) {
    UpdateForm.opcom003.value= PatientNotes.Prothesis.value + "\n" +
                               PatientNotes.AnaeNote.value + "\n" +
                               PatientNotes.WaitNote.value 
  }
}
function SetPrinter(SelectList) {
 if (SelectList.className=="SelectBig") {
     SelectList.className="Mandatory SelectBig" }
 else {
     SelectList.className="SelectBig" }
}
//function ChkReg() {
//  if(isWhitespace(document.UpdateForm.opard080.value)) {
//     PrintReg.innerHTML="";
//     PrintReg.style.display="none";
//  } else {
//     PrintReg.style.display="";
//     PrintReg.innerHTML=ShowPrintReg.innerHTML;
//  }
//}
function chkTime(field){
  if(isWhitespace(field.value))
   return;
  endTime=UpdateForm.suentime.value.replace(/:/g,"");
  if(isWhitespace(endTime)){
     alert("Surgery End Time must be entered first");
     field.value=""
     return;
  }
  if(field.value.replace(/:/g,"")<endTime){ 
  Message=(""+field.title+" must be after Surgery End Time ")
          + UpdateForm.suentime.value
  alert(Message)
  field.value="";
  }
}
function setETTime(extime) {
document.UpdateForm.opard080.value=extime.value;
document.UpdateForm.opard085.value=extime.value;
 ChgRTD();
}
function valTime(){
  RecFront=UpdateFront.opard071.value.replace(/:/g,"");
  RecBack=UpdateFront.opard074.value.replace(/:/g,"");
  DepartTime=UpdateFront.opard085.value.replace(/:/g,"");
}
function ChkFront() {
  if (isWhitespace(UpdateForm.opard071.value)) {
     alert("Time in Recovery - First need to be entered")
     UpdateForm.opard074.value=""
     UpdateForm.opard071.focus()
     }
}
function ChgRTD() {
if(!isWhitespace(UpdateForm.opard080.value)) {
     UpdateForm.opard080.className= "Mandatory"
     UpdateForm.opard085.className= "Mandatory"
     if(isWhitespace(UpdateForm.opard085.value)) {
       UpdateForm.opard085.value=UpdateForm.opard080.value;
     }
} else {
     UpdateForm.opard080.className=" "
     UpdateForm.opard085.className=" "
     }
}
function chkMan() {
var ToDepTime=trim(UpdateForm.opard085.value.replace(/:/g,""))
var ThExitTime=trim(UpdateForm.opard080.value.replace(/:/g,""))
ToDepTime=ToDepTime.substr(0,4)
ThExitTime=ThExitTime.substr(0,4)
ToDepTime=ToDepTime - 0;
ThExitTime=ThExitTime - 0;
var MaxDelay=(parseInt(ToDepTime) + 30 )
var Minutes=parseInt(MaxDelay) % 100
var Hour=parseInt(MaxDelay) / 100
if (Minutes>=60) { 
   Minutes=Minutes - 60
   Hour=parseInt(Hour) + 1 
   MaxDelay = (Hour*100) + Minutes
}
if (MaxDelay < ThExitTime) {
   UpdateForm.opard084.className="Mandatory" }
else {
   UpdateForm.opard084.className=""
   }
}
function PostPhysio() {
  if(validateMandatory(UpdateForm)) {
     document.UpdateForm.nextpage.value="6"
     document.UpdateForm.submit();
  }
}
function SecondRecovery() {
  if(document.UpdateForm.dm_astay.value > 0) {
    document.UpdateForm.opard074.value="";
    document.UpdateForm.opard074.className="Readonly";
    document.UpdateForm.opard074.readOnly=true;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SecondRecovery();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Theatre Case Recovery Details
</span>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%OPRWEB06.10.003";
PatientVIS="%OPRWEB06.10.081";
PatientNAM="%OPRWEB06.10.002";
PatientSTA="%OPRWEB06.10.086.078";
PatientALT="%OPRWEB06.10.084";
PatientSEX="%OPRWEB06.10.019";
PatientDOB="%OPRWEB06.10.020";
PatientAGE="%OPRWEB06.10.021";
PatientLOC="%OPRWEB06.10.083";
PatientPRI="%OPRWEB06.10.086.066.1";
PatientUNT="%OPRWEB06.10.066.0";
DoctorCOD="%OPRWEB06.10.082.003";
DoctorNAM="%OPRWEB06.10.082.002";
PatientAID="%OPRWEB06.10.086.090";
PatientIND="%OPRWEB06.10.086.091";
PatientCUR="%OPRWEB06.10.086.092";
PatientCLC="%OPRWEB06.10.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%OPRWEB06.10.086.094";
PatientCDM="%OPRWEB06.10.086.095";
PatientVDH="%OPRWEB06.10.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div>

<div id="TheatreCaseHeading"></div>
<script type="text/javascript">
TheatreHeading="Theatre Case Recovery Details"
</script>
<div id=PageBodySection>
<form name=UpdateForm method=post action=oprweb06.pbl style="margin:0"
 onSubmit='return validateMandatory(this)'>
<input type=hidden name=reportno value=10>
<input type=hidden name=template value=001>
<input type=hidden name=updatety value="U">
<input type=hidden name=casekeys value="%OPRWEB06.10.101">
<input type=hidden name=nextpage value="0">
<input type=hidden name=suentime value="%OPRWEB06.10.306">
<input type=hidden name=redirect value="%OPRWEB06.10.001.patweb78.02.001">
<input type=hidden name=dm_astay value="%OPRWEB06.10.629">
<input type=hidden name=exittime value='%OPRWEB06.10.299.017'>

<table border=0 cellpadding=2 cellspacing=0 width="100%" align=center >
<tr><td class=DataLabel width=20%>Time in Recovery - First </td>
    <td class=DataField width=20%>
    <input type=text name=opard071 size=8 title="Time in Recovery - First"
     value='%OPRWEB06.10.271' onBlur="checkTime(this);chkTime(this);">
    <img src="../images/DateTimeStamp.gif" class=Icon
     onclick="SetCurrentDateTime(null,UpdateForm.opard071);">
    <img src=../images/TimeLookup.gif class=Icon
     onclick="TimeLookupFrame(UpdateForm.opard071);">
    <td class=DataLabel width=20%> &nbsp; </td>
    <td class=DataField> &nbsp; </td>
    </tr>

<tr valign=top>
    <td class=DataLabel width=20%>First Recovery Comments
    <td colspan=3>
    <textarea wrap=hard cols=60 rows=3
     name=xpcom010>%OPRWEB06.10.143.010</textarea>
    </td></tr>

<tr><td colspan=4 align=center><hr width=100%></td></tr>

<tr><td class=DataLabel>Time in Recovery - Second </td>
    <td class=DataField>
    <input type=text name=opard074 size=8 title="Time in Recovery - Second"
     value='%OPRWEB06.10.274'
     onBlur="checkTime(this);chkTime(this);ChkFront();">
    <img src="../images/DateTimeStamp.gif" class=Icon
     onClick="SetCurrentDateTime(null,UpdateForm.opard074);">
    <img src=../images/TimeLookup.gif class=Icon
     onclick="TimeLookupFrame(UpdateForm.opard074);">
    <td class=DataLabel> &nbsp; </td>
    <td class=DataField> &nbsp; </td>
    </tr>

<tr><td class=DataLabel>Ready to Depart Time</td>
    <td class=DataField>
    <input type=text name=opard085 size=8 title="Ready to Depart Time"
     value='%OPRWEB06.10.285' onBlur="checkTime(this);chkTime(this);ChgRTD();"
     id=opard085>
    <img src="../images/DateTimeStamp.gif" class=Icon
     onclick="SetCurrentDateTime(null,UpdateForm.opard085);">
    <img src=../images/TimeLookup.gif class=Icon
     onclick="TimeLookupFrame(UpdateForm.opard085);">
    </td><td class=DataLabel>Delay Code</td>
    <td class=DataField>
    <select name=opard084 class=DataField title="Delay Code">
    <option></option>
     %OPRWEB06.10.284.2
    </select>
    </td></tr>
<tr><td class=DataLabel>Exit Theatre Complex Time</td>
    <td class=DataField>
    <input type=text name=opard080 size=8 title="Exit Theatre Complex Time"
     value='%OPRWEB06.10.280' 
     onBlur="checkTime(this);chkTime(this);ChgRTD();chkMan();">
    <img src="../images/DateTimeStamp.gif" class=Icon
     onclick="SetCurrentDateTime(null,UpdateForm.opard080);">
    <img src=../images/TimeLookup.gif class=Icon
     onclick="TimeLookupFrame(UpdateForm.opard080);"></td>
   <td class=DataLabel>&nbsp;</td>
   <td class=DataField>&nbsp;</td>
  </tr>

<tr><td colspan=4 align=center>
    <input class=button type=button value="Physio" id="opr06phy" 
     onclick="tempDisable(this);PostPhysio();">
    </td></tr>

<tr valign=top>
    <td class=DataLabel width=20%>Preadmission and<br> Operation Notes
    <td colspan=3>
    <textarea wrap=hard cols=60 rows=3 
     name=opcom003>%OPRWEB06.10.143.003</textarea>
    <img src="../images/LookupIcon.gif" class=Icon
     onclick='LookupPage(null,UpdateForm.opcom003,"Lookup_00300000_000");'>
    </td></tr>
<tr><td colspan=4 align=center>
    <input class=button type=button value="Ok" id="opr06sub" 
      onclick="tempDisable(this);document.UpdateForm.submit();">
    <input class=button type=button value="Cancel" onclick="DFrameExit();">
    </td></tr>
</table>
</form>

<form name=PatientNotes method=get style="margin:0">
<textarea wrap=hard cols=60 rows=3 style='display:none;'
name=Prothesis>%OPRWEB06.10.128
</textarea>
<textarea wrap=hard cols=60 rows=3 style='display:none;'
name=AnaeNote>%OPRWEB06.10.143.002</textarea>
<textarea wrap=hard cols=60 rows=3 style='display:none;'
name=WaitNote>%OPRWEB06.10.459</textarea>
</form>
<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=10>
<input type=hidden name=template value=001>
<input type=hidden name=urnumber value='%OPRWEB06.10.003'>
<input type=hidden name=admissno value='%OPRWEB06.10.081'>
<input type=hidden name=MenuType value='%OPRWEB06.10.088'>
<input type=hidden name=casekeys value='%OPRWEB06.10.101'>
<input type=hidden name=teamnumb value="1">
</form>
</div>

<script type="text/javascript">
if(isWhitespace(document.UpdateForm.opard071.value)) {
  document.UpdateForm.opard071.value=document.UpdateForm.suentime.value
}

if(isWhitespace(document.UpdateForm.opard080.value)) {
  document.UpdateForm.opard080.value = document.UpdateForm.exittime.value;
}

</script>
