<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="act">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb86.js></script>
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
// ------------------------------------------------------------
// Columns Available
//  0 - HTML Link    
//  1 - Patient Name
//  2 - UR          
//  3 - Adm No          
//  4 - Adm Date
//  5 - Discharge Date
//  6 - Discharge Unit
//  7 - Discharge Ward
//  8 - LOS
//  9 - MR Location
// 10 - Terminal Digit UR
// ------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,1,"100%","center");
 t.addColumn("Patient","Patient",1,1,"left","PatientFolder.gif","0",170,"11")
 t.addColumn("UR No.","String",2,10,"center","","",50)
 t.addColumn("Adm. No.","String",3,3,"center","","",50)
 t.addColumn("Admission Date","String",4,12,"center","","",70)
 t.addColumn("Discharge Date","String",5,5,"center","","",70)
 t.addColumn("Disc. Unit","String",6,6,"left","","",50)
 t.addColumn("Disc. Ward","String",7,7,"left","","",50)
 t.addColumn("Length of Stay","String",8,8,"left","","",50)
 t.addColumn("Current Location","String",9,9,"left","","",80)
 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc Dsc
 break;
 }
 }
}
function SelectDateFrame() { //This is a customised version for this template!!
  DFrameStart()
  document.getElementById('PopUpFrame').src="../lookups/SelectDateFrame.html"
  if (document.all.PatientMenu == undefined) {
    PopUpScreen.style.top=document.body.scrollTop+70 
    PopUpScreen.style.left=document.body.clientWidth-205
  }
  PopUpScreen.style.width=205
  PopUpScreen.style.height=245
  PopUpScreen.style.display=""
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=HeadingSection>
<table cellpadding=1 cellspacing=1 bgcolor=#CCCCCC border=1 width=100%>
<tr><td>
 <table cellpadding=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
 <form name=SelectPeriod action=patweb86.pbl method=get
   onsubmit="return validateMandatory(this)">
 <input type=hidden name=reportno value=2>
 <input type=hidden name=template value=1>
 <input type=hidden name=viewtype value="%PATWEB86.02.010">
 <input type=hidden name=uncodkey value="">
 <input type=hidden name=dummy1>
 <input type=hidden name=dummy2>
<tr><td colspan=2><input type=button value="<<" class=smallbutton
    onClick='%PATWEB86.02.003'>
    %PATWEB86.02.001
    <input type=button value=">>" class=smallbutton
    onClick='%PATWEB86.02.002'></td>

  <td colspan=3 class=DataLabel>Health Fund 
      <input type=text size=6 name=fundcode maxlength=6
      title="Health Fund" tabindex=2 value="%PATWEB86.02.017.0"
      onblur="valHfund(fundcode,funddesc);">
     <input type=text size=30 name=funddesc title="Health Fund" readonly
      class=Readonly notab tabindex=-1 value="%PATWEB86.02.017.1">
     <img src=../images/SearchIcon.gif border=0 hspace=0 align=absmiddle notab
      onClick="HealthFundSearchFrame(fundcode,funddesc,dummy1,dummy2);">
     <img src="../images/erase.gif" align=absmiddle notab
      onClick="clrFields(fundcode,funddesc);">
    <span id=NextPage><span>
    </td>

   <td align=right>
   <a href='javascript:SelectDateFrame();'>
   <img src="../images/DateLookup.gif" border=0
    alt="Select Date" align=absmiddle></a> 
   <a href='javascript:SelectView("0");'>
   <img src=../images/DayIcon.gif border=0
    alt="View Today" align=absmiddle></a>
   <a href='javascript:SelectView("1");'>
   <img src=../images/WeekIcon.gif border=0
    alt="View This Week" align=absmiddle></a>
   <a href='javascript:SelectView("2");'>
   <img src=../images/MonthIcon.gif border=0
    alt="View This Month" align=absmiddle></a>
   </td></tr>
<tr><td class=DataLabel> Unit  <br>
    <select name=unitcode class=SelectMed>
    <option value="   ">All</option>
    %PATWEB86.02.011
    </select></td>
    <td class=DataLabel> %STANDARD.01.017.CL <br>
    <select name=claimcod class=SelectMed>
    <option value="   ">All</option>
    %PATWEB86.02.012
    </select></td>
    <td class=DataLabel> Adm.Type <br>      
    <select name=admistyp class=SelectMed>
    <option value="   ">All</option>
    %PATWEB86.02.013
    </select></td>
    <td class=DataLabel> M/R Location <br>     
    <select name=mrlocncd class=SelectMed>
    <option value="   ">All</option>
    %PATWEB86.02.015
    </select></td>      
    <td class=DataLabel>&nbsp;Ward<br>
    <select name=wardcode class=SelectMed>
    <option value="   ">All</option>
    %PATWEB86.02.014
    </select></td>
   <td class=DataLabel>Option<br>
    <select name=curradmn class="Mandatory SelectMed" title="Option">
    %PATWEB86.02.016
    </select></td>
    <td>&nbsp;<br><input type=submit value="Go" class=SmallButton></td></tr>
</form>
</table>
</td></tr>
</table>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
  document.title="Uncoded Discharges"
  %PATWEB86.02.007.mrtweb02.01.001.mrtweb02.03.001.0
}
</script>

