<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="act">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript">
function SubForm(AddForm) {
  if (!isWhitespace(document.AddForm.wattx028.value)){
    if (isWhitespace(document.AddForm.wattr022.value)){
      alert("Preadmission Time requires a Preadmission Date")
      return;
    }
  }

  datechk=validateOpDate();
  if (!datechk) { 
    return;
  };

  datechk1=validatePreDate();
  if (!datechk1) {
    return;
  }

  result=validateTime();
  if (result) {
    var serverURL = "../cgi-bin/watweb01.pbl?reportno=12&valdtype=1" +
      "&urnumber="+document.AddForm.urnumber.value.replace(/ /g,"+") +
      "&proccode="+document.AddForm.wattr001.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);

    if (returnValue.return_value == -1) {
      if (!confirm("Waiting list entry already exists.\nOK will create a duplicate.")) {
        return false; 
      } 
    }

    document.AddForm.nextpage.value="7";
    document.AddForm.redirect.value=
      "watweb01.pbl?reportno=2&template=10&urnumber=" +
      PatientLinks.urnumber.value.replace(/ /g,"+");
    SubmitHidden(document.AddForm);
    return true;
  }
}

function UpdateUnit(){
  for (var i =0 ; i < document.AddForm.wattr011.length; i++) {
    if (trim(AddForm.unit.value.substr(0,3))==trim(AddForm.wattr011.options[i].value.substr(0,3))) {
      document.AddForm.wattr011.selectedIndex=i;
    }
  }
}

function valUnit() {
  validateCode(31,AddForm.wattr012,AddForm.name_wattr012);
  AddForm.unit.value=AddForm.wattr011.value;
  selectOptions("30",AddForm.wattr012,AddForm.wattr011);
  UpdateUnit();

  if (document.AddForm.wattr011.selectedIndex==0) {
    AddForm.wattr011.selectedIndex=1;
    AddForm.unit.value=AddForm.wattr011.value;
  }
}

function valProc() {
  validateCode(27,AddForm.wattr001,AddForm.dummy1,AddForm.wpgrp,AddForm.wattr013,AddForm.wattr002);
  AddForm.wattr003.value=AddForm.dummy1.value;
}

function valDoc() {
  var serverURL = "../cgi-bin/watweb01.pbl?reportno=13&valdtype=1" +
          "&wattr011="+document.AddForm.wattr011.value +
          "&wattr012="+document.AddForm.wattr012.value;
  var returnValue = RSExecute(serverURL);
  if (returnValue.return_value == -1) {
    return true;
  }
  return false;
}

function DefStat(){
  ChgStat();
}

function ChgStat() {
  var ind=document.AddForm.wattx004.value.substr(0,1);
  if (ind == "C"|| ind =="D" || ind =="S") {
    document.getElementById('NRFCLabel1').innerHTML="NRFC To Date";
    document.getElementById('NRFCLabel2').innerHTML="Auto Update RFC";
    document.getElementById('NRFCLabel3').innerHTML="NRFC Reason";
    document.getElementById('NRFCField1').innerHTML=
      document.getElementById('InNRFCField1').innerHTML;
    document.getElementById('NRFCField2').innerHTML=
      document.getElementById('InNRFCField2').innerHTML;
    document.getElementById('NRFCField3').innerHTML=
      document.getElementById('InNRFCField3').innerHTML;
    AddForm.watsu003.className="Mandatory";
  }
  else {
    document.getElementById('NRFCLabel1').innerHTML="";
    document.getElementById('NRFCLabel2').innerHTML="";
    document.getElementById('NRFCLabel3').innerHTML="";
    document.getElementById('NRFCField1').innerHTML="";
    document.getElementById('NRFCField2').innerHTML="";
    document.getElementById('NRFCField3').innerHTML="";
  } 
  if (ind == "S"){
    AddForm.watsu003.selectedIndex=1;
  }
  if (ind == "C"){
    AddForm.watsu003.selectedIndex=2;
  }
  if (ind == "D"){
    AddForm.watsu003.selectedIndex=3;
  }
}

function validatePreDate(){
  date2=AddForm.wattr008.value;
  date1=AddForm.wattr022.value;

  if (isWhitespace(AddForm.wattr008.value) ||
      isWhitespace(AddForm.wattr022.value)) {
    return true;
  } 
  else {
    if (ChkDateTime2(date1,date2)) {
      message=" \"Proposed Admission Date\" Can't be Less than ";
      message+="\"Preadmission Date\"";
      alert(message);
      return false;
    }
    return true;
  }
}

function RemoveQuote(Field) {
  Field.value=Field.value.replace(/\"/g,"");
}

function valClaimCode() {
  validateCode(41,PatientLinks.urnumber,AddForm.claimc);
  for (var i =0 ; i < document.AddForm.wattx026.length; i++) {
    if (document.AddForm.claimc.value==
        trim(document.AddForm.wattx026.options[i].value.substr(0,3))){
      document.AddForm.wattx026.selectedIndex=i;
    }
  }
}

function init(){
  setTimeout('DefStat();',50);
  setTimeout('valClaimCode();',50);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%WATWEB01.02.003";
PatientVIS="%WATWEB01.02.081";
PatientNAM="%WATWEB01.02.002";
PatientSTA="%WATWEB01.02.086.078";
PatientALT="%WATWEB01.02.084";
PatientSEX="%WATWEB01.02.019";
PatientDOB="%WATWEB01.02.020";
PatientAGE="%WATWEB01.02.021";
PatientLOC="%WATWEB01.02.083";
DoctorCOD="%WATWEB01.02.082.003";
DoctorNAM="%WATWEB01.02.082.002";
PatientAID="%WATWEB01.02.086.090";
PatientIND="%WATWEB01.02.086.091";
PatientCUR="%WATWEB01.02.086.092";
PatientCLC="%WATWEB01.02.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%WATWEB01.02.086.094";
PatientCDM="%WATWEB01.02.086.095";
PatientVDH="%WATWEB01.02.086.099.015";
PatientUNT="%WATWEB01.02.066.0";
PatientPRI="%WATWEB01.02.086.066.1";
InsertPatientHeader();
</script>

<div id=PatientMenu></div>
<div id=PageBodySection style="overflow: auto;">

<form name=AddForm action="watweb01.pbl" method=post>
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=001>
<input type=hidden name=updttype value="A">
<input type=hidden name=urnumber value="%WATWEB01.02.003">
<input type=hidden name=dummy value="">
<input type=hidden name=dummy1 value="">
<input type=hidden name=unit value="">
<input type=hidden name=wpgrp value="">
<input type=hidden name=redirect value="">
<input type=hidden name=nextpage value="1">
<input type=hidden name=claimc>
<input type=hidden name=wattr038 value="%STANDARD.01.032">

<table border=0 width=100% cellspacing="0" cellpadding="1" align=center>
<tr><td align=center class=HeadingCell>Add Waiting List Entry </td></tr>
</table>

<table border=0 width=95% cellspacing=0 cellpadding=1 align=center>
<tr><td class=DataLabel width=10%>Consultant</td>
    <td class=DataField colspan=3>
    <input type=text name=wattr012 size=6 maxlength=8 title="Consultant" 
     class=Mandatory tabindex=1 onblur="UpCase(this);valUnit();">
    <input type=text name=name_wattr012 tabindex=2 size=20 maxlength=30
     title="Consultant Name">
    <img src=../images/SearchIcon.gif class=Icon
    onclick="WaitConSearchFrame(AddForm.wattr012,
                               AddForm.name_wattr012,
                               AddForm.wattr011);"></td></tr>

<tr><td class=DataLabel>Unit</td>
    <td class=DataField width=35%>
    <select name=wattr011 title="Unit" tabindex=2 class="Mandatory selectBig">
    <option></option>
    %WATWEB01.02.114.2
    </select></td>
    <td class=DataLabel width=10%>%STANDARD.01.017.TP</td>
    <td class=DataField>
   <select name=wattr014 class=Mandatory tabindex=3 title="%STANDARD.01.017.TP">
    <option></option>
    %WATWEB01.02.117.2
    </select></td></tr>

<tr><td class=DataLabel>CMBS Code</td>
    <td class=DataField>
    <input type=text name=wattr001 class=Mandatory  tabindex=4 
    title="CMBS Code" onblur=valProc()>
    <img src=../images/SearchIcon.gif class=Icon
     onclick="WaitProSearchFrame(AddForm.wattr001,
                                 AddForm.wattr003,
                                 AddForm.wattr013,
                                 AddForm.dummy)"></td>
    <td class=DataLabel>Date on List</td>
    <td class=DataField>
    <input type=text name=wattr006 size=12 tabindex=5
     onblur="checkDate(this,'Date')" value="%STANDARD.01.015"
     class= "PastDate Mandatory" title="Date on List">
    <img src=../images/DateTimeStamp.gif class=Icon date=AddForm.wattr006
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=AddForm.wattr006>
    </td></tr>


<tr><td class=DataLabel>Diagnosis</td>
    <td class=DataField colspan=3>
    <input type=text name=wattr004 size=70 maxlength=40 tabindex=6
     onblur="RemoveQuote(this);"></td></tr>
<tr><td class=DataLabel>Procedure</td>
    <td class=DataLabel colspan=3>
    <input type=text name=wattr003 size=70 maxlength=50 tabindex=7
     onblur="RemoveQuote(this);"></td></tr>

<tr><td class=DataLabel>Estimated Op Time</td>
    <td class=DataField>
    <input type=text name=wattr002 size=10 tabindex=8 maxlength=5 
     title="Estimated Operating time" class="Mandatory Integer" min=0
       onblur="TextBlurHandler(this)"></td>
    <td class=DataLabel>Planned Length of Stay</td>
    <td class=DataLabel>
    <input type=text name=wattr013 size=5 maxlength=5 tabindex=9 
     class="Mandatory Integer" min=0 title="Planned Length of Stay">(days)</td>
</tr>   

<tr><td class=DataLabel>Admitting Point</td>
    <td class=DataField>
    <select name=wattx006  tabindex=11 class="selectBig"
     title="Admitting Point">
    <option></option>
     %WATWEB01.02.506.2
    </select></td>
    <td class=DataLabel>%STANDARD.01.017.CL</td>
    <td class=DataField>
    <select name=wattx026 tabindex=12 class="Mandatory selectBig"
     title="%STANDARD.01.017.CL">
    <option></option>
    %WATWEB01.02.526.9.1.10.2.X
    </select></td></tr>

<tr><td class=DataLabel>Exp. Post Op Ward</td>
    <td class=DataField>
    <select name=wattx005 tabindex=13 class="Mandatory selectBig"
     title="Exp. Post Op Ward" >
    <option></option>
     %WATWEB01.02.505.2
    </select></td>
    <td class=DataLabel>Short Notice</td>
    <td class=DataField>
    <select name=wattr015 tabindex=14 class=selectBig>
    <option></option>
    %WATWEB01.02.118.2
    </select></td></tr>

<tr><td class=DataLabel>Listing Status</td>
    <td class=DataField>
    <select name=wattx004 class="Mandatory selectBig"
            title="Listing Status" onchange="ChgStat();" tabindex=15>
    <option></option>
     %WATWEB01.02.504.4
    </select></td>
    <td class=DataLabel>Equipment 1</td>
    <td class=DataField >
    <select name=wattx010 tabindex=17 class="selectBig">
    <option></option>
    %WATWEB01.02.510.2
    </select>
    </td></tr>

<tr><td class=DataLabel>Proposed Adm. Date</td>
    <td class=DataLabel >
    <input type=text name=wattr008 size=12 maxlength=12 tabindex=18
       onblur="checkDate(this,'Date')"> 
    <img src=../images/DateLookup.gif class=Icon date=AddForm.wattr008>

    Time
    <input type=text name=wattx015 size=8 maxlength=8 tabindex=19 title="Time">
    <img src=../images/DateTimeStamp.gif class=Icon
     date=AddForm.wattr008 time=AddForm.wattx015>
    <img src=../images/TimeLookup.gif class=Icon  time=AddForm.wattx015>

    </td>
    <td class=DataLabel>Equipment 2</td>
    <td class=DataField >
    <select name=wattx011 tabindex=20 class="selectBig">
    <option></option>
    %WATWEB01.02.511.2
    </select></td></tr>

<tr><td class=DataLabel>Proposed Op. Date</td>
    <td class=DataLabel >
    <input type=text name=wattr028 size=12 maxlength=12 tabindex=21
      title="Date" onblur="checkDate(this,'Date')"> 
    <img src=../images/DateLookup.gif class=Icon date=AddForm.wattr028>

    Time
    <input type=text name=wattx029 size=8 maxlength=8 tabindex=22 title="Time">
    <img src=../images/DateTimeStamp.gif class=Icon
     date=AddForm.wattr028 time=AddForm.wattx029>
    <img src=../images/TimeLookup.gif class=Icon  time=AddForm.wattx029>

    </td>
    <td class=DataLabel>Equipment 3</td>
    <td class=DataField >
    <select name=wattx027 tabindex=23 class="selectBig">
    <option></option>
    %WATWEB01.02.527.2
    </select></td></tr>

<tr><td><div id=NRFCLabel1></div></td>
    <td><div id=NRFCField1></div></td>
    <td><div id=NRFCLabel2></div></td>
    <td><div id=NRFCField2></div></td></tr>

<tr><td><div id=NRFCLabel3></div></td>
    <td><div id=NRFCField3></div></td></tr>

<tr valign=top><td class=DataLabel>Comments</td>
    <td class=DataField colspan=3> 
    <textarea wrap=hard name=wattrcom cols=55 rows=3 tabindex=24>
    </textarea></td></tr>

<tr valign=top><td class=DataLabel>Preadmission Notes</td>
    <td class=DataField colspan=3>
    <textarea wrap=hard name=wtpccomm cols=55 rows=3 tabindex=25>
    </textarea></td></tr>

<tr><td class=DataLabel>Preadmission Status</td>
    <td class=DataField>
    <select name=wattx012 tabindex=26>
    <option></option> 
    %WATWEB01.02.308.2
    </select></td>
    <td class=DataLabel>Preadmission Date</td>
    <td class=DataLabel>
    <input type=text name=wattr022 size=12 maxlength=12 tabindex=27 
    onblur="checkDate(this,'Date')"> 
    <img src=../images/DateLookup.gif class=Icon date=AddForm.wattr022>
    Time 
    <input type=text name=wattx028 size=8 maxlength=8 tabindex=28 title="Time">
    <img src=../images/DateTimeStamp.gif class=Icon
     date=AddForm.wattr022 time=AddForm.wattx028>
    <img src=../images/TimeLookup.gif class=Icon  time=AddForm.wattx028>
    </td></tr>

<tr><td class=DataLabel>Date Keyed</td>
    <td class=DataField><input type=text size=12 maxlength=12 readonly
     class=ReadOnly value="%STANDARD.01.015"></td>

<td class=DateLabel>Operator ID</td>
    <td class=DataField><input type=text size=12 maxlength=12 readonly
     class=ReadOnly value='%WATWEB01.02.310' ></td></tr>

<tr><td colspan=8>&nbsp;</td></tr>

<tr><td colspan=8 align=center>
    <input type=button class="button" value="Ok" tabindex=29 
     onclick="return SubForm(this);">
    <input type=button value="Cancel" class="button" 
     tabindex=28 onclick='PatientLinkTo("watweb01.pbl",2,10,0,0,0);'>
    </td></tr>

</table>
</form>

<span id=InNRFCField1 style="display:none">
  <input type=text name=watsu002 id=watsu002 size=12 maxlength=12
   title="ToDate">
  <img src=../images/DateTimeStamp.gif class=Icon 
  date=AddForm.watsu002 time=null>
  <img src=../images/DateLookup.gif class=Icon date=AddForm.watsu002>
</span>

<span id=InNRFCField2 style="display:none">
  <input type=checkbox name=watsu005 id=watsu005 value="1">
</span>

<span id=InNRFCField3 style="display:none">
  <select name=watsu003 id=watsu003>
    <option></option>
    %WATWEB01.02.605.2
  </select></td></tr>
</span>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%WATWEB01.02.003">
<input type=hidden name=admissno value="%WATWEB01.02.081">
<input type=hidden name=MenuType value="%WATWEB01.02.088">
</form>

<script type="text/javascript">
function ChkDateTime1(strtDate,endDate) {
  var strtDay  = strtDate.substring(0,2);
  var strtMon  = strtDate.substring(3,6);
  var strtYear = strtDate.substring(7,11);

  var endDay   = endDate.substring(0,2);
  var endMon   = endDate.substring(3,6);
  var endYear  = endDate.substring(7,11);

  strtMon = GetMonthNumber(strtMon);
  endMon  = GetMonthNumber(endMon);

  var strtDateTime = strtYear + strtMon + strtDay 
  var endDateTime  = endYear + endMon + endDay 
  if (endDateTime <= strtDateTime)
    return false;
  return true;
}

function validateTime(){
  date1=AddForm.wattr008.value;
  date2=AddForm.wattr006.value;

  if (ChkDateTime1(date1,date2)) {
    message=" \"Proposed Admission Date\" cannot be before";
    message+="\"Date on List\"";
    alert(message);
    return false;
  }
  return true;
}

function validateOpDate(){
  date1=AddForm.wattr008.value;
  date2=AddForm.wattr028.value;

  if (ChkDateTime2(date1,date2)) {
    message=" \"Proposed Operation Date\" should be equal to or greater than ";
    message+="\"Proposed Admission Date\"";
    alert(message);
    return false;
  }
  return true;
}

function ChkDateTime2(strtDate,endDate) {
  var strtDay  = strtDate.substring(0,2);
  var strtMon  = strtDate.substring(3,6);
  var strtYear = strtDate.substring(7,11);

  var endDay   = endDate.substring(0,2);
  var endMon   = endDate.substring(3,6);
  var endYear  = endDate.substring(7,11);

  strtMon = GetMonthNumber(strtMon);
  endMon  = GetMonthNumber(endMon);

  var strtDateTime = strtYear + strtMon + strtDay
  var endDateTime  = endYear + endMon + endDay
  if (endDateTime >= strtDateTime ) {
    return false;
  }
  return true;
}

function DisplayTrnSrc(field) {
  i=field.selectedIndex;
  ind=field.options[i].value.substring(4,5);

  if (ind!="1") {
    document.getElementById('divTransferSource').innerHTML=
      document.getElementById('spTransferBlank').innerHTML;
    document.getElementById('divTransferLabel').innerHTML="";
  } else {
    document.getElementById('divTransferSource').innerHTML=
      document.getElementById('spTransfer').innerHTML;
    document.getElementById('divTransferLabel').innerHTML=
      document.getElementById('spTransferLabel').innerHTML;
  }
}
</script>

<span id=spTransferLabel style="display:none">
Transfer Source
</span>

<span id=spTransfer style="display:none">
  <input type="text" size=7 maxlength=5 name=trnsfsrc id=trnsfsrc 
   class=Mandatory title="Transfer Source" tabindex=5
   onchange="validateCode(9,trnsfsrc,trandesc);">
  <input type=text size=20 name=trandesc id=trandesc notab
   class=Readonly readonly>
  <img src="../images/SearchIcon.gif"
   onclick="TransferSourceFrame(trnsfsrc,trandesc)">
</span>

<span id=spTransferBlank style="display:none">
  <input type=hidden name=trnsfsrc id=trnsfsrc>
</span>
