<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="pacific">
<meta name="HelpFileName"    content="NoContextSet.html">
<style type=text/css> 
.TransferOption {
position: relative; 
}
</style>
<script type="text/javascript">
function SubmitInsurance() {
  if (validateMandatory(pat96ins)) {
    setRedirect()
    SubmitHidden(pat96ins);
  }
}
function setRedirect() {
     if (document.pat96ins.traclaim.value.substr(3,1) == "M") {
     document.pat96ins.redirect.value="patweb89.pbl?reportno=01&template=006"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   } else if (document.pat96ins.traclaim.value.substr(3,1) == "V") {
     document.pat96ins.redirect.value="patweb89.pbl?reportno=01&template=007"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   } else if (document.pat96ins.traclaim.value.substr(3,1) == "W") {
     document.pat96ins.redirect.value="patweb89.pbl?reportno=01&template=005"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   } else if (document.pat96ins.traclaim.value.substr(3,1) == "C") {
     document.pat96ins.redirect.value="patweb89.pbl?reportno=01&template=021"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   } else if ((document.pat96ins.traclaim.value.substr(5,1)=="A")&&
             (document.pat96ins.ptcnueoc.value==1)) {
     document.pat96ins.redirect.value="eocweb01.pbl?reportno=01&template=006"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value
     + "&returncd=TRF";
   } else if (document.pat96ins.admistat.value.substr(0,10)=="Discharged"){
     document.pat96ins.redirect.value="patweb96.pbl?reportno=03&template=013"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   } else {
     document.pat96ins.redirect.value="patweb96.pbl?reportno=03&template=004"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value;
   }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB96.03.003";
PatientVIS="%PATWEB96.03.081";
PatientNAM="%PATWEB96.03.002";
PatientSTA="%PATWEB96.03.086.078";
PatientALT="%PATWEB96.03.084";
PatientSEX="%PATWEB96.03.019";
PatientDOB="%PATWEB96.03.020";
PatientAGE="%PATWEB96.03.021";
PatientLOC="%PATWEB96.03.083";
PatientPRI="%PATWEB96.03.086.066.1";
PatientUNT="%PATWEB96.03.066.0";
DoctorCOD="%PATWEB96.03.082.003";
DoctorNAM="%PATWEB96.03.082.002";
PatientAID="%PATWEB96.03.086.090";
PatientIND="%PATWEB96.03.086.091";
PatientCUR="%PATWEB96.03.086.092";
PatientCLC="%PATWEB96.03.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB96.03.086.094";
PatientCDM="%PATWEB96.03.086.095";
PatientVDH="%PATWEB96.03.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<table border=1 width=100% cellspacing=0 cellpadding=1 >
    <form name=pat96ins %PATWEB96.03.201.001
    <input type=hidden name=reportno value="10">
    <input type=hidden name=urnumber value="%PATWEB96.03.003">
    <input type=hidden name=admissno value="%PATWEB96.03.081">
    <input type=hidden name=redirect value="%PATWEB96.03.001.patweb96.03.004">
    <input type=hidden name=nextpage value="7">
    <input type=hidden name=trnleave value="0">
    <input type=hidden name=bedstat1>
    <input type=hidden name=warddesc >
    <input type=hidden name=formactn >
    <input type=hidden name=admistat value="%PATWEB96.03.104">
    <input type=hidden name=tranfund value="%PATWEB96.03.114.0">
    <input type=hidden name=trantabl value="%PATWEB96.03.115.0">
    <input type=hidden name=ptcnueoc value="%PATWEB96.03.224">
    <tr><td class=HeadingCell align=center colspan=2 width=100%>
        Bed Transfer & Leave Maintenance </td></tr>
    <tr valign=top>
  <table border=0 width=100% cellspacing=1>
  <tr><td class=HeadingCell align=center colspan=2>Current Status</td>
      <td align=center class=HeadingCell colspan=2>Insurance Details</td></tr>

   <tr><td class=DataLabel>Ward / Bed </td>      
       <td><input type=text size=25 readonly value="%PATWEB96.03.105.0">
       <input type=text size=15 readonly value="%PATWEB96.03.106"></td>

        <td class=DataLabel> %STANDARD.01.017.CL</td>
        <td><select name=traclaim class=Mandatory>
        <option></option>
        %PATWEB96.03.126.2
        </select>
        </td></tr>

   <tr><td class=DataLabel>Transfer In Date & Time </td>
       <td><input type=text size=11 readonly value="%PATWEB96.03.204" >
       <input type=text size=5 readonly value="%PATWEB96.03.205"></td>

<!--
       <td class=DataLabel>Health Fund</td>
       <td input type="hidden" name="tranfund" value="%PATWEB96.03.114.0">
       <class=DataLabel colspan=2>
       <input type=text size=35 name=funddesc maxlength="30"
       value="%PATWEB96.03.114.1"> 
       </td>
00>

       <tr><td class=DataLabel>Attending Doctor</td>
       <td><input type=text size=35 readonly value="%PATWEB96.03.108.002">
           </td>
<!--
       <td>Table</td>
       <td input type="hidden" name="trantabl" value="%PATWEB96.03.115.0">
       <input type="text" size=20 maxlength=30 name="tabldesc"
              value="%PATWEB96.03.115.1" notab>
        <img src=../images/SearchIcon.gif border=0 hspace=0 align=absmiddle
        onClick="HealthFundSearchFrameNoFocus(tranfund,funddesc,
                                              trantabl,tabldesc);">
        <img src="../images/erase.gif" align=absmiddle 
             onClick="clrDoc(funddesc,tabldesc); clrDoc(tranfund,trantabl);">
        </td></tr>
-->

   <tr><td class=DataLabel>%STANDARD.01.017.A </td>
        <td><input type=text readonly size=30 
             value="%PATWEB96.03.111.0"> </td>
       <td class=DataLabel>Member Number</td>
       <td><input type=text name=tranmemb size=25  value="%PATWEB96.03.116">
           </td></tr>

<!--
   <tr><td class=DataLabel>Care Type</td>
       <td><input type=text readonly size=30 
           value="%PATWEB96.03.113.0"></td>
-->

       <td align=center colspan=2>
        <input type=button name=formactn value=Update class="button"
        onClick="SubmitInsurance();">
        <input type=button value=Cancel class="button"
         onclick="PatientLinkTo('patweb96.pbl',3,4,0);"></td></tr>

   <tr><td class=DataLabel>Unit</td>
       <td><input type=text readonly size=30 
           value="%PATWEB96.03.124.0"></td></tr>

    <tr><td class=DataLabel> %STANDARD.01.017.CL</td>
        <td><input type=text value="%PATWEB96.03.126.0"></td></tr>

<!--
     <tr><td class=DataLabel>Health Fund</td>
         <td input type="hidden" value="%PATWEB96.03.114.0">
         <class=DataLabel colspan=2>
         <input type=text size=35 maxlength="30"
         value="%PATWEB96.03.114.1"> </td></tr>
         <tr><td>Table</td>
             <td input type="hidden" value="%PATWEB96.03.115.0">
               <input type="text" size=20 maxlength=30 
                 value="%PATWEB96.03.115.1"></td></tr>
-->
   </form>
</table>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB96.03.003">
<input type=hidden name=admissno value="%PATWEB96.03.081">
<input type=hidden name=MenuType value="%PATWEB96.03.088">
<input type=hidden name=alert001 value="">
</form>
