<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="pacific">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/admission.js"></script>
<script type="text/javascript">
function SetRedirect(){
  if (document.UpdateForm.mehvisfl.value == "1") {
    document.UpdateForm.redirect.value="mehweb01.pbl?reportno=01&template=001"
    + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
    + "&admissno=" + document.PatientLinks.admissno.value + "&admissno=";

//    document.UpdateForm.redirect.value="patweb89.pbl?reportno=07&template=001"
//    + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
//    + "&admissno=" + document.PatientLinks.admissno.value + "&admissno=";

    SetLinkACC(UpdateForm,"MEH");
  }
  else {
    SetLinkACC(UpdateForm,"ADM");
  }
}
function SubmitAdm() {
    p=document.UpdateForm
    validateSuspension(p.urnumber,p.ptmis001,p.datefrom,p.dateto);
    if(p.datefrom.value!='0'){
         alert("Error : Patient has a Suspension record for period \n" +
               "\t" + p.datefrom.value  + " - " + p.dateto.value + "\n" +
               "\tPatient will not be admitted");
     return;
    }
  SetRedirect();
  validateBedRequestUpdate(UpdateForm.admissno,UpdateForm.ptmis004,
                           UpdateForm.ptmis005,UpdateForm.bedrqqry);
  SubmitHidden(UpdateForm);
}
function CheckGPActive() {
  if(isWhitespace(document.UpdateForm.ptvis028.value)) {
    return;
  }
  ValidateHCP(18,0,document.UpdateForm.ptvis028,document.UpdateForm.genpname);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);displayDiv(document.UpdateForm.ptmis011,'PT');
              displayDiv(document.UpdateForm.ptmis012,'AT');
              DisplayTrnSrc();
              validateCode(3,UpdateForm.ptmis007,UpdateForm.doctnam2);
              CheckGPActive();">
<div id=PageHeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB89.04.003";
PatientVIS="%PATWEB89.04.081";
PatientNAM="%PATWEB89.04.002";
PatientSTA="%PATWEB89.04.086.078";
PatientALT="%PATWEB89.04.084";
PatientSEX="%PATWEB89.04.019";
PatientDOB="%PATWEB89.04.020";
PatientAGE="%PATWEB89.04.021";
PatientLOC="%PATWEB89.04.083";
PatientPRI="%PATWEB89.04.086.066.1";
PatientUNT="%PATWEB89.04.066.0";
DoctorCOD="%PATWEB89.04.082.003";
DoctorNAM="%PATWEB89.04.082.002";
PatientAID="%PATWEB89.04.086.090";
PatientIND="%PATWEB89.04.086.091";
PatientCUR="%PATWEB89.04.086.092";
PatientCLC="%PATWEB89.04.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB89.04.086.094";
PatientCDM="%PATWEB89.04.086.095";
PatientVDH="%PATWEB89.04.086.099.015";
InsertPatientHeader()
</script>
<span id=PatientMenu></span>
</div>
<div id=PageBodySection>
<table border=1 colspan=1 width=100% cellspacing=1 cellpadding=1 >
<form name=linkForm action=patweb89.pbl method=post>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=1>
<input type=hidden name=urnumber value="%PATWEB89.04.003">
<input type=hidden name=admissno value="%PATWEB89.04.101">
</form>
<form name=Lookup action=patweb94.pbl method=post>
<input type=hidden name=reportno value=9>
<input type=hidden name=template value=1>
<input type=hidden name=valcateg>
<input type=hidden name=valdtype>
<input type=hidden name=valdcode>
</form>
<form name=UpdateForm method=post action=patweb89.pbl>
<input type="hidden" name="reportno" value="2">
<input type="hidden" name="template" value="1">
<input type="hidden" name="updatety" value="2">
<input type=hidden name=urnumber value="%PATWEB89.04.003">
<input type=hidden name=admissno value="%PATWEB89.04.101">
<input type="hidden" name="allocate" value="1">
<input type="hidden" name="redirect" value="%PATWEB89.04.001.patweb98.01.043">
<input type="hidden" name="chckname" value="0">
<input type="hidden" name="emradmit" value="0">
<input type="hidden" name="emradmis" value="0">
<input type="hidden" name="newbmand" value="0">
<input type="hidden" name="agebmand" value="0">
<input type="hidden" name="datefrom">
<input type="hidden" name="dateto">
<input type="hidden" name="mehvisfl" value="%PATWEB89.04.923">
<input type="hidden" name="ptcnueoc" value="%PATWEB89.04.925">
<input type="hidden" name="exstward" value="%PATWEB89.04.158">
<input type="hidden" name="ptcnbage" value="%STANDARD.01.025.021.046.1.3">
<input type="hidden" name="pbdate"   value="%PATWEB89.04.020">
<input type=hidden name=bedrqqry value="">

<tr><td class=HeadingCell align=center>
    Patient Admission Details</tr>
<tr>
<tr><td>
    <table width=100%  border=0 class=TableBody cellpadding=2 cellspacing=2>
<tr><td width=50%>
    <table border=0 width=100% class=TableBody cellpadding=0 cellspacing=0>
       <tr><td class=DataLabel>Admission Date</td>
           <td class=DataLabel><input type="text" size="12" tabindex=1 
            name=ptmis001 value="%PATWEB89.04.102" class="Mandatory" 
            title="Admission Date"
     onBlur="checkDate(this,'Admission Date');ShowAdmissionWeight(UpdateForm);">
        <img src=../images/CalendarLookup.gif border=0 hspace=4
        align=absmiddle onclick="DateLookupFrame(ptmis001);">
       Time 
       <input type=text name=ptmis002 tabindex=2 size=8  class="Mandatory" title="Admission Time"
        value="%PATWEB89.04.103" onBlur="checkTime(this,'AdmissionTime');">
        <img src=../images/DateTimeStamp.gif border=0 hspace=4 align=absmiddle
         onClick="SetCurrentDateTime(null,ptmis002);">
        <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
        onclick="TimeLookupFrame(ptmis002);">
          </td></tr>

      <tr><td class=DataLabel>%STANDARD.01.017.P </td>
          <td><select name=ptmis011 tabindex=3 class="Mandatory" title="%STANDARD.01.017.P "
               onChange="displayDiv(ptmis011,'PT');"> 
              <option> </option>
               %PATWEB89.04.112.2
              </select></tr>

      <tr><td class=DataLabel>Referral Source</td>
          <td><select name=ptmis009 tabindex=4 class="Mandatory" 
               onchange="DisplayTrnSrc()" title="Referral Source">
                 <option> </option>
                 %PATWEB89.04.110.2
                 </select></td><tr>
          <td><div id=TranSrcHeading></div></td>
          <td><div id=TranSrc></div></td>

<tr><td class=DataLabel>Referring HCP</td>
    <td><input type="text" size=10 maxlength=10 name=ptvis028 tabindex=5
               value="%PATWEB89.04.231.1"
        onchange="ReadDoc(18,0,ptvis028,genpname,dummy,dummy,dummy,dummy);">
        <input type=text size=25 notab readonly name=genpname
               value="%PATWEB89.04.231.0">
        <img src="../images/SearchIcon.gif"
        onClick="GPHCPSearchFrame(ptvis028,genpname,dummy,dummy,dummy,dummy,0)">
        <img src="../images/erase.gif" align=absmiddle onClick="clrFields(ptvis028,genpname);"></td></tr>
          <input type=hidden name=dummy>
<!--

<tr><td class=DataLabel>Practice</td>
    <td><input type=text name=genpprac size=35 readonly
                 value="%PATWEB89.04.232.0">
          <input type=hidden name=ptvis029 value="%PATWEB89.04.232.1">
          <input type=hidden name=ptvis030 value="%PATWEB89.04.233.1">
          <input type=hidden name=genpprov value="">
          <img src="../images/SearchIcon.gif"
 onClick="GPHCGSearchFrame(ptvis028,genpname,genpprov,ptvis029,genpprac,ptvis030)">
 <img src="../images/erase.gif" align=absmiddle onClick="clrFields(ptvis029,genpprac,ptvis030,genpprov);">
      </td></tr>
-->

      <tr><td class=DataLabel>Readmission Indicator</td>
          <td><select name=ptmis042 tabindex=6 title="Readmission Indicator">
                <option> </option>
                 %PATWEB89.04.138.2
              </select></td></tr>     

      <tr><td class=DataLabel>Admission Type</td>
          <td><select name=ptmis012 tabindex=7 class="Mandatory" title="Admission Type"
               onChange="displayDiv(ptmis012,'AT');"> 
                <option> </option>
                 %PATWEB89.04.113.2
              </select></td></tr>

      <tr><td class=DataLabel>Admitting Doctor</td>
          <td><input type="text" size=8 maxlength=6 name="ptmis007" tabindex=8 
               value="%PATWEB89.04.108.003" class="Mandatory"
               title="Admitting Doctor"
               onBlur="UpCase(this); validateCode(3,ptmis007,doctnam2)">
              <input type=text readonly size=25 name=doctnam2
               value="%PATWEB89.04.108.002">
              <img src="../images/SearchIcon.gif" 
               onClick="DoctorSearchFrame(ptmis007,doctnam2)"></td></tr>

      <tr><td class=DataLabel>%STANDARD.01.017.A </td>
              <input type=hidden name=admiscat value="A ">
          <td><select name=ptmis010 tabindex=9
               title="%STANDARD.01.017.A " class="Mandatory"
              >
              <option> </option>
                 %PATWEB89.04.111.2
              </select>
              <!--<input type=text name=ptmis010 size=5 maxlength=3 tabindex=9
               value="%PATWEB89.04.111.1"  
               onBlur="UpCase(this); validateCatCode(admiscat,ptmis010,specialt)">
              <img src=../images/SelectNote.gif border=0
               onclick="LookupPage(ptmis010,specialt,'Lookup_spec0000_000')">-->
          </td></tr>
      <tr><td>&nbsp;</td>
          <td><!--<input type=text readonly name=specialt size=30 maxlength=45 
              value="%PATWEB89.04.111.0" notab>-->
          </td></tr>

<!--
      <tr><td class=DataLabel>Provisional DRG</td>
          <td><input type=text name=ptmis066 size=5 maxlength=4 tabindex=10
              onBlur='validateCode(5,ptmis066,drgdesc1)'
              value="%PATWEB89.04.140.0">
              <img src="../images/SearchIcon.gif"
               onClick="DrgSearchFrame(ptmis066,drgdesc1)">
               </td></tr>
      <tr><td>&nbsp;</td>
          <td><input type=text readonly name=drgdesc1 size=45 
               value="%PATWEB89.04.140.1"></td>
          </td></tr>
-->
       <tr> <td class=DataLabel>%STANDARD.01.017.CL</td>
         <td>
          <select name=ptmis027 tabindex=23 class=Mandatory class="Mandatory"
                  title="%STANDARD.01.017.CL" >
          <option> </option>
          %PATWEB89.04.126.2
          </select>
         </td></tr>

</table>
</td>
<!-- close left cell -->
<!-- open right cell -->
<td width=50%>
    <table width=100% border=0 class=TableBody cellpadding=0 cellspacing=0>
      <tr><td class=DataLabel>Diagnosis </td>
          <td><input type=text name="ptmis020" size=50 maxlength=80 tabindex=12 
	       value="%PATWEB89.04.121">
	  </td>     

      <tr><td class=DataLabel>&nbsp; </td>
          <td><input type=text name="ptmis021" size=50 maxlength=50 tabindex=13 
	       value="%PATWEB89.04.122"> 
          </td></tr>

<!--
      <tr><td class=DataLabel>Hospital</td>
          <td><select name="ptmis013" tabindex=15 class="Mandatory" title="Hospital">
            <option> </option>
            %PATWEB89.04.114.2
            </select></td></tr>

      <tr><td class=DataLabel>Purchasing RHA</td>
          <td><select name="ptmis060" tabindex=16 class="Mandatory" title="Purchasing RHA">
            <option> </option>
            %PATWEB89.04.151.2
          </select>
          </td></tr>

      <tr><td class=DataLabel>Health Agency</td>
          <td><select name="ptmis061" tabindex=17 class="Mandatory" title="Purchasing RHA">
            <option> </option>
            %PATWEB89.04.152.2
          </select>
          </td></tr>
-->

        <tr><td>Admitting Point</td>
        <td>
          <select name="ptvis046" tabindex=18
            title='Admitting Point' onChange="defaultWard()">
            <option></option>
            %PATWEB89.04.290.2
          </select>
        </td>

      <tr><td class=DataLabel>Ward / Bed </td>
          <td><input type=hidden name=bedstat1>
             <input type=hidden name=warddesc>
             <select name=ptmis004 tabindex=19 class=Mandatory title="Ward">
              <option> </option>
              %PATWEB89.04.449.2
             <select>
             <input type=text name=ptmis005 maxlength=3 size=3 
              onChange="UpCase(this);" value="%PATWEB89.04.194">
             <img src=../images/SearchIcon.gif border=0 vspace=1
              onClick="WardBedSearchFrame(ptmis004,warddesc,ptmis005,bedstat1);"></td>
           </tr>
      <tr><td class=DataLabel> Planned Length of Stay</td>
        <td>
        <input type=text size=5 maxlength=5 name=ptmis030
         title='Expected Length of Stay'
         class=Integer onblur="checkInteger(this,this.value);"
         value="%PATWEB89.04.129">
        </td></tr>
      <tr><td class=DataLabel>Diet</td>
          <td><select name=ptmis028>
              <option></option>
              %PATWEB89.04.127.2
              </select>
          </td></tr>


<td colspan=2 rowspan=4>
<table width=100%>
<tr><td>
<span id=BabyAge style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=DataLabel width=37%>Admission Weight</td>
    <td><input type=text name=ptmis051 size=5 maxlength=4 tabindex=20 title="Admission Weight" 
         value="%PATWEB89.04.186">grams</td></tr>
</table>
</span>
</td></tr>
<tr><td><div id=NewBorn>
</td></tr>
<tr><td rowspan=2>
<span id=WaitingList style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=DataLabel width=37%>Date of Referral</td>
    <td><input type=text size=12 name=ptmis058 tabindex=22
         onBlur="checkDate(this,'ReferralDate')">
         <img notab src=../images/CalendarLookup.gif border=0 hspace=4
          align=absmiddle onclick="DateLookupFrame(ptmis058);"></td></tr>
<tr><td class=DataLabel>Date of 1st Spec Consult</td>
    <td><input type=text size=12 name=ptmis059 tabindex=23
         onBlur="checkDate(this,'SpecConDate')">
         <img notab src=../images/CalendarLookup.gif border=0 hspace=4
          align=absmiddle onclick="DateLookupFrame(ptmis059);"></td></tr>
</table>
</span>
</td><tr>
</table>
</td><td></tr>
</table>
</td><!-- close right cell -->
</tr>

      <tr align=center>
       <td colspan=4 align=center><br>
       <input type=button value="Admit" class="button" tabindex=24
        id="pat89sub"
        onClick="tempDisable(this);checkBedStatus(UpdateForm.ptmis004.value,
                 UpdateForm.ptmis005.value,UpdateForm.ptmis001.value,
                 UpdateForm.ptmis030.value,SubmitAdm)";>
     </form>
    </table>
</td></tr>
</table>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB89.04.003">
<input type=hidden name=admissno value="%PATWEB89.04.081">
<input type=hidden name=MenuType value="%PATWEB89.04.088">
<input type=hidden name=admisflg value="1">
</form>
<script language=javascript>
for (var i=0;i<document.UpdateForm.ptmis004.length;i++){
if (document.UpdateForm.ptmis004.options[i].value=="%PATWEB89.04.158"){
    document.UpdateForm.ptmis004.selectedIndex=i}};
//
ShowAdmissionWeight(UpdateForm);
</script>
</div>
<script language="Javascript">
if ("%PATWEB89.04.905" == "1") {
  alert("Warning: Patient is currently admitted");
}
//
</script>
<span id=NewBorn1 style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=DataLabel width=37%>Gestation Period</td>
    <td><select name=ptmis077 title="Gestation Period" >
      <option></option>
      %PATWEB89.04.199.006.2
      </select>
    <td></tr>
</table>
</span>
<span id=transferhd style="display:none">
<td class=DataLabel>Transfer Source</td>
</tr>
</span>
<span id=transfersrc style="display:none">
 <td><input type="text" size=7 maxlength=5 name=trnsfsrc class=Mandatory
      title="Transfer Source" tabindex=5
      value="%PATWEB89.04.193.0"
      onchange="validateCode(9,trnsfsrc,trandesc);">
     <input type=text size=27 name=trandesc notab
      class=Readonly readonly value="%PATWEB89.04.193.1">
     <img src="../images/SearchIcon.gif"
      onClick="TransferSourceFrame(trnsfsrc,trandesc)"></td>
</tr>
</span>
<span id=transferblank style="display:none">
   <input type=hidden name=trnsfsrc>
</span>
