/*
    cssVersion : V12.00.00

    File          : cliweb03.css
    
    Purpose       : Result List Icons Image Sprites

    Modifications :

                    V11.02.01  27/10/2022 Peter Vela     0925977
                               Fixed comma typo in showResultIconEC

*/
.showResultIconAU {
}
.showResultIconBG {
}
.showResultIconCU {
}
.showResultIconCT {
}
.showResultIconEN {
}
.showResultIconIC {
}
.showResultIconIM {
}
.showResultIconMY {
}
.showResultIconNM {
}
.showResultIconNR {
}
.showResultIconOU {
}
.showResultIconPT {
}
.showResultIconPF {
}
.showResultIconRU {
}
.showResultIconRC {
}
.showResultIconRT {
}
.showResultIconTX {
}
.showResultIconVU {
}
.showResultIconVR {
}
.showResultIconXR {
}
.showResultIconZZ {
  background: url("../images/AlertSprite.png") -0px -0px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconCH, .showResultIconBI {
  background: url("../images/AlertSprite.png") -100px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconRX, .showResultIconCR, .showResultIconUS {
  background: url("../images/AlertSprite.png") -80px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconRA {
  background: url("../images/AlertSprite.png") -80px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconHM, .showResultIconHA {
  background: url("../images/AlertSprite.png") -140px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconIG {
  background: url("../images/AlertSprite.png") -140px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconMB, .showResultIconMC, .showResultIconMI {
  background: url("../images/AlertSprite.png") -0px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconSP, .showResultIconVI {
  background: url("../images/AlertSprite.png") -160px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconEC {
  background: url("../images/AlertSprite.png") -120px -0px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconPH {
  background: url("../images/AlertSprite.png") -140px -140px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconCP, .showResultIconCY {
  background: url("../images/AlertSprite.png") -20px -94px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconHB, .showResultIconTR {
  background: url("../images/AlertSprite.png") -60px -94px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconOT {
  background: url("../images/AlertSprite.png") -80px -80px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconDD {
  background: url("../images/AlertSprite.png") -60px -160px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconLA {
  background: url("../images/AlertSprite.png") -140px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconME {
  background: url("../images/AlertSprite.png") -140px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconOS {
  background: url("../images/AlertSprite.png") -125px -94px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconSR {
  background: url("../images/AlertSprite.png") -160px -160px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconBL, .showResultIconID {
  background: url("../images/AlertSprite.png") -120px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultIconIM {
  background: url("../images/AlertSprite.png") -120px -180px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultReadStatus0 {
  background: url("../images/AlertSprite.png") -0px -1px no-repeat;
  display:inline-block;
  width:1px;
  height:1px;
}
.showResultReadStatus1 {
  background: url("../images/AlertSprite.png") -180px -40px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultReadStatus3 {
  background: url("../images/AlertSprite.png") -0px -1px no-repeat;
  display:inline-block;
  width:1px;
  height:1px;
}
.showResultStatus0 {
  background: url("../images/AlertSprite.png") -0px -140px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.showResultStatus1 {
  background: url("../images/AlertSprite.png") -0px -1px no-repeat;
  display:inline-block;
  width:1px;
  height:1px;
}
.showResultStatus2 {
  background: url("../images/AlertSprite.png") -40px -140px no-repeat;
  display:inline-block;
  width:20px;
  height:20px;
}
.TableRowEven, .TableRowOdd {
 line-height:25px !important;
}
