.CumulativeResults {
 border-collapse: collapse;
 width:100%;
 font-size:14px;
 border:1px silver solid;
}
.HeadingCell {
 font-size:14px !important;
 line-height:16px !important;
 color:#FFF !important;
}
.CumulativeResults td {
 border: 1px solid #AAA;
 font-size:14px;
 line-height:20px;
}
.TableRowHeading {
 font-weight:bold;
}
.TableCellRight {
 text-align:right;
 width:9%;
}
.TableCellCenter {
 text-align:center;
 width:9%;
}
.TableCellLeft {
 width:9%;
}
.AlertLevel1 {
 background: #f6fac0; /* Old browsers */
 background: -moz-linear-gradient(top,  #f6fac0 0%, #f5fd7d 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fac0), color-stop(100%,#f5fd7d)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #f6fac0 0%,#f5fd7d 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #f6fac0 0%,#f5fd7d 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #f6fac0 0%,#f5fd7d 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #f6fac0 0%,#f5fd7d 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fac0', endColorstr='#f5fd7d',GradientType=0 ); /* IE6-9 */
}
.AlertLevel2 {
 background: rgb(255,155,157); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(255,155,157,1) 0%, rgba(255,91,91,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,155,157,1)), color-stop(100%,rgba(255,91,91,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(255,155,157,1) 0%,rgba(255,91,91,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(255,155,157,1) 0%,rgba(255,91,91,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(255,155,157,1) 0%,rgba(255,91,91,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom,  rgba(255,155,157,1) 0%,rgba(255,91,91,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b9d', endColorstr='#ff5b5b',GradientType=0 ); /* IE6-9 */
}
