/*-----------------------------------------------------------
   cssVersion : V12.00.00

   Menu Frame Standards

   V11.01.01  28/07/2021 Don Nguyen TSK 0907565
              Modified 'smallFolder' to show patient folder icon in
              Chrome (and other browsers).
   V10.11.01  21/09/2017 Peter Vela TSK 0845362
              Added ClosedCell
   V10.05.01  10/02/2015 Peter Vela CAR 310194
              Added CodeLine & CodeDescription classes for ICD Coding
-----------------------------------------------------------*/
.eventBlock {
 font-size:8pt;
 border:1px solid white;
 padding:0;
 padding-top:2px;
 display:block;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
 position:absolute;
 background-color:silver;
 vertical-align:middle;
 opacity:0.7;
 filter:alpha(opacity=70);
}
.DiaryPage {
  width:100%;
  border:1px solid silver;
}
.DiaryPage tr {
 height:30px;
}
.TimeCell {
 text-align:center;
 background-color:aliceblue !important;
 opacity:0.7;
 filter:alpha(opacity=70);
}
.ClosedCell {
 text-align:center;
 background-color:red !important;
 opacity:0.7;
 filter:alpha(opacity=70);
}
.slotLocation {
 background-color:white !important;
}
.BedCell {
 vertical-align:top;
 text-align:left;
 background-color:aliceblue !important;
 opacity:0.7;
 filter:alpha(opacity=70);
}
.DiaryPage td {
  border-top:1px solid silver;
  border-left:1px solid silver;
  background-color:white;
}
.smallFolder {
  display:inline-block;
  vertical-align:middle;
  background-image: url("../images/AlertSprite.png");
  background-position: -2px -122;
  background-repeat: no-repeat;
  margin-top:-4px;
  margin-right:2px;
  width:16px;
  height:16px;
}
/*
   The evtStatus class is added to a event with the status code from the bed management table
   1-Booked
   2-Pre-admitted
   3-Admitted
   3-Discharged
*/
.evtStatus1 {
  background-color:#A3E0FF;
  border:1px solid silver;
}
.evtStatus2 {
  background-color:#6CF;
  border:1px solid gray;
}
.evtStatus3 {
  font-weight:bold;
  background-color:#6CF;
  border:1px solid green;
}
.evtStatus4 {
  color:blue;
  background-color:#ccc;
  border:1px solid blue;
}
.evtRegimeM, .evtRegimeMM, .evtRegimeMMM {
  background-color:yellow;
}
.evtRegimeB, .evtRegimeBB, .evtRegimeBBB {
  color:white;
  background-color:blue;
}
.evtRegimeD, .evtRegimeDD, .evtRegimeDDD {
  color:white;
  background-color:green;
}
.evtRegimeP, .evtRegimePP, .evtRegimePPP {
  color:white;
  background-color:purple;
}
.evtRegimeR, .evtRegimeRR, .evtRegimeRRR {
  color:white;
  background-color:red;
}
.evtRegimeMB, .evtRegimeBM,
.evtRegimeMBB, .evtRegimeBMB, .evtRegimeBBM,
.evtRegimeBMM, .evtRegimeMBM, .evtRegimeMMB {
  background-color:#F99;
  border-color:black;
}
.evtRegimeMD, .evtRegimeDM,
.evtRegimeMDD, .evtRegimeDMD, .evtRegimeDDM,
.evtRegimeDMM, .evtRegimeMDM, .evtRegimeMMD {

  background-color:#F99;
  border-color:black;
}
.evtRegimeBD, .evtRegimeDB,
.evtRegimeBDD, .evtRegimeDBD, .evtRegimeDDB,
.evtRegimeDBB, .evtRegimeBDB, .evtRegimeBBD {

  background-color:#9F9;
}
.evtRegimeMBD, .evtRegimeMDB, .evtRegimeBMD,
.evtRegimeBDM, .evtRegimeDMB, .evtRegimeDBM {
  background-color:#FF9;
}
.evtBedReq {
  border:1px solid red;
}
