td.EmrNavRed {
background-image:url(/images/nav_red.gif);
width: 110px;
height: 21px;
font-size: 10pt;
text-align: left;
padding-left: 5pt;
font-family: Arial Narrow;
}
td.EmrNavBlu {
background-image:url(/images/nav_blue.gif);
width: 110px;
height: 21px;
font-size: 10pt;
text-align: left;
padding-left: 5pt;
font-family: Arial Narrow;
}
A{color:#FFFFFF;}
