/*------------------------------------------------------------
  cssVersion : V12.00.00
------------------------------------------------------------*/
.alignRight {
text-align:right;
}
.alignCenter {
text-align:center;
}
TABLE.invisable {
    MARGIN: 0px
}
TABLE.ModalDialog {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
}
TABLE.Normal {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    WIDTH: 100%;
}
TABLE.SummaryTable {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    WIDTH: 100%;
    PADDING-TOP: 2px
}
BUTTON {
    FONT-SIZE: 8pt;
    WIDTH: 90px
}
TD.BorderCell {
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    BORDER-LEFT: #3366cc 1px solid;
    BORDER-BOTTOM: #3366cc 1px solid
}
SELECT.Select50 {
    WIDTH: 50px
}
SELECT.Select100 {
    WIDTH: 100px
}
SELECT.Select150 {
    WIDTH: 150px
}
SELECT.Select200 {
    WIDTH: 200px
}
SELECT.Select250 {
    WIDTH: 250px
}
TABLE.InputForm {
    width:98%;
    margin-left: auto;
    margin-right: auto;
    BORDER:0;
}
.SmallButton
{
    FONT-SIZE: 8pt
}
DIV.DivMPC
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px;
    BORDER-LEFT: silver 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: silver 1px solid
}
TABLE.DisplayForm {
    width:98%;
    margin-left: auto;
    margin-right: auto;
    BORDER:0;
}
BUTTON.SmallEdit {
    FONT-SIZE: 6pt;
    FONT-FAMILY:  Verdana, Arial, 'Microsoft Sans Serif';
}
DIV.PageContext {
    CLEAR: right;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    FLOAT: right;
    BORDER-LEFT: medium none;
    COLOR: #00008b;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY:Verdana, Arial;
    POSITION: relative;
    TEXT-ALIGN: right
}
TABLE.PageContext {
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    COLOR: #00008b;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
}
.DeletedCell {
    TEXT-DECORATION: line-through
}
.SmallText {
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
}
TD.HeadingCell {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
}
DIV.EndInput {
    Z-INDEX: 5;
    POSITION: relative
}
TD.DialogLabel {
    FONT-SIZE: 8pt;
    WIDTH: 30%
}
TD.DialogField {
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt
}
TABLE.Sections {
    WIDTH:100%;
}
TABLE.RepeatDisplay {
    border:1px solid #999;	
    border-top:0px;
    max-width: 97%;
    min-width:60%;
    margin-left:35px;
}
TABLE.RepeatDisplay TR {
 vertical-align:top;
}
TABLE.RepeatDisplay TD {
 padding-right:8px;
 border-right:1px solid #b3b3b3 ;
}
TABLE.RepeatDisplay td.HeadingCellNew {
 background-image: url();
 background-color: #999;
}
TD.CalendarCellOn {
    COLOR: blue
}
TD.CalendarCellOff {
    COLOR: blue
}
PRE {
    FONT-SIZE: 10pt;
    WIDTH: 100%
}
TABLE.FormHeading {
  text-align:center;
  width:98%;
  margin-left: auto;
  margin-right: auto;
}
TABLE.AuditHeading {
    width:100%;
    border:1px solid #ccc;
    background-color: #fff79c;
}
TD.AuditName {
    height:30px;
    FONT-SIZE: 12pt;
    COLOR: #00008b;
}
TD.StatusName {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: red;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial;
    POSITION: relative;
    TEXT-ALIGN: right
}
TD.FormName {
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: #00008b;
    FONT-FAMILY: Verdana, Arial
}
IMG.DeleteIcon
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FLOAT: right;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    BORDER-BOTTOM: medium none
}
IMG.FormHelpIcon
{
    MARGIN-RIGHT: 4px
}
SPAN.AutoSaveAlert
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana
}
IMG.TimeIcon
{
    vertical-align:text-bottom;
    CURSOR: hand;
    
}
IMG.AutoTextIcon
{
    vertical-align:text-bottom;
    CURSOR: hand
}
IMG.DateIcon
{
    CURSOR: hand
}
INPUT.buttonX
{
    FONT-SIZE: 9pt;
    WIDTH: 80px;
    FONT-FAMILY: 'MS Sans Serif', Verdana, Arial;
    HEIGHT: 23px
}
INPUT.button
{
    WIDTH: 71px;
}
INPUT.button20
{
    WIDTH: 20px;
}
INPUT.button30
{
    WIDTH: 30px;
}
INPUT.button40
{
    WIDTH: 40px;
}
INPUT.button50
{
    WIDTH: 50px;
}
INPUT.button60
{
    WIDTH: 60px;
}
INPUT.button70
{
    WIDTH: 70px;
}
INPUT.button80
{
    WIDTH: 80px;
}
INPUT.button90
{
    WIDTH: 90px;
 
}
TABLE.Actions
{
   BORDER:0;
   border-top: 1px solid rgb(0,16,150);
   WIDTH:98%;
   margin-left:auto;
   margin-right:auto;
   PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    margin-bottom:5px;
    margin-top:10px;
}
IMG#TreeExpand
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    BORDER-BOTTOM: medium none;
    TEXT-ALIGN: center
}
.DeleteReason
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: red
}
a {text-decoration: underline; color: blue;}
a:visited {text-decoration: underline; color: blue;}
a:hover {text-decoration: underline; color: red;}
.Required { BACKGROUND-COLOR: rgb(172,197,224);}
input.Required { BACKGROUND-COLOR: rgb(172,197,224);}
select.Required { BACKGROUND-COLOR: rgb(172,197,224);}
textarea.Required { BACKGROUND-COLOR:  rgb(172,197,224);}
.StrikeOut {text-decoration:line-through;}
H2 {
   width:98%;
   border-bottom: 1px solid rgb(0,16,150);
   font-size:14px;
   color:rgb(0,16,150);
   margin-bottom:5px;
   margin-top:5px;
   margin-left:auto;
   margin-right:auto;
   font-weight: normal;
}
.HeadingRow H2 {
	width:100%;
   border-bottom: 0px solid rgb(0,16,150);
   font-size:12px;
}
Select.SelectMenu
{
width:180px;
} 
TD.Label
{
text-align:right;
padding-right:20px;
padding-top:2px;
width:20%;
}
TD.Field
{
font-weight:bold;
}
TD.FormLabel
{
font-weight:bold;
}
TD.Filter
{
font-weight:bold;
}
Table.SectionHeading
{
 BORDER-TOP: solid 1px blue;
 width:100%;
}
Font.textHeading {
    COLOR: darkblue;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    FONT-SIZE:12pt;
 font-weight:bold;
}
DIV.PageHeading
{
 font-weight:bold;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: darkblue;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    FONT-SIZE:12pt;
}
H4
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: darkblue;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    FONT-SIZE:12pt;
}
H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: darkblue;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial
}
INPUT    { FONT-SIZE: 8pt;}
SELECT   { FONT-SIZE: 8pt; }
TEXTAREA { FONT-SIZE: 8pt; }
TD {
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial;
}
TABLE.FormTable {
 padding-right: 20px;
 padding-left: 20px;
 padding-bottom: 2px;
 width: 100%;
 padding-top: 0px;
 border:lightgrey 1px solid;
}
.TableRowEven {
  MARGIN: 1px;
  vertical-align: top;
  padding-top:2px;padding-bottom:2px;
}
.TableRowOdd {
  MARGIN: 1px;
  vertical-align: top;
  padding-top:2px;padding-bottom:2px;
}
.CodeSearch {
 -webkit-appearance:none;
 appearance:none;
	background-image: url(../images/magnifier.png);
	background-repeat: no-repeat;
	padding-left:16px;
 width:250px;
}
#-suggestion-wrapper {
	position:absolute;
	padding:0px;
	z-index:90;
}
#-suggestion-wrapper.hide {
	display:none;
}
#-suggestion-wrapper.show {
}
#-suggestion-triangle {
        height:18px;
	z-index:10;
	position:relative;
	top:1px;
}
#-suggestion-title {
	color:#fff;
}

#-suggestion-title p {
	text-align:center;
	color:white;
	margin:0px;	
        padding:10px;
	font-size:14px;
        font-weight:bold;
}
#-suggestion-panel-wrapper2 {
	z-index:200;
   	padding:0px;
}
#-suggestion-table {
	width:100%;
	font-size:14px;
	font-weight:normal;
	padding:0px;
    	background-color:white;
	color:black;
	border:2px solid #ccc;
        -webkit-border-radius:5px;
	-webkit-box-shadow: 5px 5px 10px #888;
        list-style-type: none;
        padding-left: 1px;
         margin-left: 0px;
         height:90%;
}
#-suggestion-table ul {
  list-style-type: none;
  padding-left: 1px;
  width:100%;
}
#-suggestion-table li:hover {
  background-color:#efefef;
  width:100%; 
  padding:0px;
  font-weight:normal;
        color:black;
}
#-suggestion-table li {
        background-color:white;
	font-weight:normal;
        color:black;
        border-top:1px solid #cccccc;
	padding:0px;
        width:100%;
}
#-suggestion-table li:first-child {
        border-top: 0;
}
.subText {
  display: block;
  font-size: 10px;
  padding:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: hidden;
  width:100%;
  white-space: nowrap;
}
.SavingData {
  position:absolute;
  top:200px;
  left:40%;
  right:40%;
  width:320px;
  height:160px;
  vertical-align:middle;
  color:white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border:0px !important;
  display:none;
  text-align:center;
  background-image: -webkit-linear-gradient(#347277 2.98%, #1bb0a2 100%);
  background-color: #347277;
}
.SavingImage {
  margin-top:30px;
  vertical-align:middle;
  text-align:center;
}
.StatusName {
 color:rgb(0,16,150);
 font-size: 14px;
 vertical-align: top;
}
.DisplayForm .Label {
 font-size: 12px;	
 text-align:right;
 padding-top: 5px;
 padding-right: 5px;
}
.DisplayForm .Field {
 padding-top: 5px;
 color:rgb(0,16,150);
 font-size: 12px;	
}
.backButton {
 vertical-align:top;
 margin-top:-2px;
 width:90px;
}
.selYear {
HEIGHT:18px; 
WIDTH:60px; 
font-size:12px;
}
.selMonth {
HEIGHT:18px; 
WIDTH:80px; 
font-size:12px;
}
.calendar {
 border-collapse:collapse !important;
 border:2px solid grey;
}
.calDay {
 font-weight:bold;
 min-width:30px;
 min-height:30px;
 width:30px;
 height:30px;
 text-align:center;
}
TD.CalendarCellOn {
 COLOR: blue;
 min-width:30px;
 min-height:30px;
 width:30px;
 height:30px;
 text-align:center;
}
TD.CalendarCellOff {
 COLOR: red;
 min-width:30px;
 min-height:30px;
 width:30px;
 height:30px;
 text-align:center;
}
.calClose {
 display:inline-block;
 width:50px;
 height:17px;
 line-height:17px;
 font-family: Helvetica, sans-serif;
 background-color: transparent;
 color: white;
 font-size:12px;
 font-weight:bold;
 text-decoration: none;
 appearance:none;
 -webkit-appearance:none;
 border-radius:3px;
 border:1px inset #d00;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #d00), to(#900));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00', endColorstr='#900',GradientType=0 );
 padding:5px;
 margin-left:5px;
 margin-right:5px;
 text-align:center;
 margin-top:0;
 margin-right:0;
}
.calOk {
 display:inline-block;
 width:50px;
 height:17px;
 line-height:17px;
 font-family: Helvetica, sans-serif;
 background-color: transparent;
 color: white;
 font-size:12px;
 font-weight:bold;
 text-decoration: none;
 appearance:none;
 -webkit-appearance:none;
 border-radius:3px;
 border:1px inset #00d;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #00d), to(#009));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d', endColorstr='#009',GradientType=0 );
 padding:5px;
 margin-left:5px;
 margin-right:5px;
 text-align:center;
 margin-top:0;
 margin-right:0;
}
H4 {
 margin:0;
 font-size:17px;
 color:#666;
 font-weight:normal;
}
FORM {
 display:inline;
}
select.SelectMultipleLarge {
 background-color:silver;
 font-size:8pt;
 height: 60px; 
}
div.DivSearchResult {
 margin:0px;
 padding:0px;
 overflow:auto;
 position:absolute;
 visibility:hidden;
 background-color:white;
 top:0px;
 right:0px;
 width:500px;
 height:250px;
 border:1px solid lightgray;
}
.DivSearchResult TD.HeadingCell {
  text-align:left;
  border-bottom:1px gray solid;
  border-right:1px gray solid;
  background-color:silver;
  color:black;
  font-weight:normal;
}
.DivSearchResult b {
  font-weight:normal;
}
.DivSearchResult TD {
  border-bottom:1px silver dotted;
  border-right:1px silver dotted;
  white-space:nowrap;
  padding-right:10px;
  padding-left:2px;
}
TD.DataField {
 font-size:9pt;
}
.Monitor1 {
  position:relative;
  float:left;
  border-top:solid 1px white;
  border-left:solid 1px white;
  width:250px;
  height:200px;
}
.Monitor2 {
  position:relative;
  border-top:solid 1px white;
  border-left:solid 1px white;
  width:250px;
  height:200px;
  position:relative;
  float:right;
}
TR.TableRowOdd {
  vertical-align: top;
  line-height:20px;
  background-color: white;
}
TR.TableRowEven {
  vertical-align: top;
  line-height:20px;
  background-color: rgba(190,247,236,0.44);
}
TR.TableRowTotal {
  BACKGROUND-COLOR: #65cdcb;
  VERTICAL-ALIGN: top;
  background-image:url(../images/BGRowLightGray.gif);
}
BODY {
 background-color:#e1eeef;
 border:0px;
}


TD.HeaderCell {
 BACKGROUND-COLOR: #65cdcb;
 COLOR: white;
 CURSOR: pointer;
 FONT-WEIGHT: normal;
 TEXT-DECORATION: underline;
 background-image: url(../images/header-cell.gif);
}
TD.HeadingCell A {
 color:white;
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:visited {
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:hover {
 FONT-WEIGHT: bold;
 COLOR: blue;
 TEXT-DECORATION: none;
}
TD.HeadingCell {
 color:white;
 zoom:1;
 padding:2px 5px 4px 5px;
 margin-bottom:2px;
/* background: transparent repeat-x 0 -1px;*/
 line-height:20px;
 font-weight:bold;
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 background-image: url(../images/heading-cell.gif);
}
.PHeadingSection {
 background-color:#fefea4;
 background-color:#E0E0E0;
}
#PatientMenu {
 background-color:#75b3b7;
 background-color:white;
 background-color:black;
 background-image: url(../images/patient-menu.gif);
}
SELECT.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
INPUT.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
TEXTAREA.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
SPAN.MenuItems {
    position:absolute;
    display: block;
    background: buttonface;
    border: 1px outset ;
    padding: 1px 0;
    text-indent: 5px;
    text-decoration: none;
    color: black;
    font-size:8pt;
    font-family:Microsoft Sans Serif;
}
SPAN.MenuItems a:hover{
    color:red;
    background-color:ButtonFace;
}
SPAN.MenuItems a{
    display: block;
    background-color: White;
    padding: 2px 0;
    margin-left:20px;
    width: 180px;
    text-indent: 5px;
    height:19px;
    text-decoration: none;
    color: black;
}

.dhtmlselect .downimage{ /*style of "down" image to the right of the DHTML Select Menu*/
position: relative;
display:inline;
text-align:right;
vertical-align:middle;
margin-right:5px;
}
.dhtmlselect .dropdown{ /*style of Drop Down Menu that appears onMouseover */
position: absolute;
left: 0;
width: 200px; /*default width of drop down menu*/
border: 1px solid black;
border-bottom-width: 0;
display: none;
z-index: 1000;
font-weight: normal;
}
.dhtmlselect .dropdown a{ /*style of Drop Down Menu's links */
width: auto;
display: block;
background: #fff7d1;
border-bottom: 1px solid black;
padding: 1px 0;
text-indent: 5px;
text-decoration: none;
color: black;
}
* html .dhtmlselect .dropdown a{ /*IE 6 (and below) hack */
    width: 100%;
}
.dhtmlselect .dropdown a:hover{
     background-color: #ffe469;
}
TABLE {
        BORDER-COLLAPSE: collapse;
}
.MenuSelectList {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
TD.IPDataField {
        COLOR: yellow;
}
A.linkbox:link {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:active {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:visited {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:hover {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
INPUT.Button {
 WIDTH: 90px;
 FONT-SIZE: 8pt;
 CURSOR: pointer;
}
INPUT.SFSButton {
  WIDTH: 20px;
  Font-weight:bold ;
  FONT-SIZE: 8pt;
  CURSOR: pointer;
}
INPUT.Bigbutton {
  BORDER-BOTTOM: 1px solid;
  BORDER-LEFT: 1px solid;
  BACKGROUND-COLOR: white;
  FONT-SIZE: 8pt;
  BORDER-TOP: 1px solid;
  BORDER-RIGHT: 1px solid;
}
INPUT.SmallButton {
 FONT-SIZE: 8pt;
}
INPUT.SlimButton {
  WIDTH: 50px;
  FONT-SIZE: 8pt;
}
INPUT.TinyButton {
  FONT-SIZE: 7pt;
}
INPUT.CheckButton {
  BORDER-BOTTOM: 1px solid;
  BORDER-LEFT: 1px solid;
        BACKGROUND-COLOR: white;
  WIDTH: 12px;
  HEIGHT: 12px;
  BORDER-TOP: 1px solid;
  CURSOR: pointer;
  BORDER-RIGHT: 1px solid;
}
table.AJAXCalendar {
padding:0;
}
table.AJAXCalendar TD {
padding:0;
margin:0;
}
input.Daybutton {
font-size: 8pt;
border:0;
margin:0;
padding:0;
text-align: center;
height: 21px;
width: 100%;
}
input.MonthButton {
font-size: 8pt;
 margin:0;
 padding:0;
 text-align: center;
 height: 35px;
 width: 57px;
}
input.YearButton {
font-size: 8pt;
 margin:0;
 padding:0;
 text-align: center;
 height: 29px;
 width: 44px;
}
input.CalMonth {
  border:0;
  text-align:right;
  margin-top:0px;
  padding-top:0px;
  padding-bottom:5px;
  width: 60px;
}
input.CalYear {
  border:0;
  text-align:left;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:4px;
  width: 60px;
}
input.WeekEndButton {
width: 100%;
font-size: 8pt ;
height: 21px;
border:0;
margin:0;
padding:0;
background-color: #AAAAAA;
}
td.DayHeadingCell {
background-color: #ffffcc;
font-weight: bold;
width: 25px;
height:20px;
border:0;
margin:0;
padding:0;
text-align: center;
}
input.calLastMonth {
width:20px;
font-size: 8pt ;
height: 20px;
margin:0;
padding:0;
}
input.calNextMonth {
width:20px;
font-size: 8pt ;
height: 20px;
margin:0;
padding:0;
}
/* doesn't work for webpas class=Time fields
 input.time {
font-size: 8pt ;
width: 25px;
border:0;
margin:0;
padding:0;
text-align: center;
height: 21px;
}
*/
input.TimeButton {
font-size: 8pt ;
border:0;
background-color:white;
color:blue;
font-decoration:underline;
height: 20px;
width: 30px;
margin:0;
padding:0;
}
td.TimeHeading {
background-color: #ffffcc;
font-weight: bold;
height:20px;
border:0;
margin:0;
padding:0;
text-align: center;
}


/* end new UI */
/* New Table Sort Elements */

.MenuIcon {
border: 0;
cursor: pointer;
margin-right: 5px;
}
.SearchAllTable {
 vertical-align:middle;
 text-align:middle;
 background: url("../images/ButtonSprite.png")  -180px -20px no-repeat;
 background-color:white;
 padding-left:22px;
 height:22px;
}
.ButtonIcon {    
 height:22px;    
 width:22px;     
 margin-top:2px; 
 margin-left:2px;
 margin-right:0px;
 padding:0;
 vertical-align:middle;
 background-color:#ccc !important;
 background-position:center; 
}            
.FilterPlusIcon {
 background: url("../images/ButtonSprite.png")  -22px -22px no-repeat;
} 
.FilterMinusIcon {
 background: url("../images/ButtonSprite.png")  -22px -42px no-repeat;
}
.PrinterIcon {
 background: url("../images/ButtonSprite.png")  -2px -22px no-repeat;
}
.DocumentFrame {
  border:0px;
  width:100%;
  margin-left:5%;
  margin-right:5%;
}
.CheckBoxCombo {
 BORDER-RIGHT: silver 1px solid;
 BORDER-TOP: thin inset;
 MARGIN-TOP: 2px;
 MARGIN-BOTTOM: 2px;
 OVERFLOW: auto;
 BORDER-LEFT: thin inset;
 BORDER-BOTTOM: silver 1px solid;
 BACKGROUND-COLOR: white
}
.FormAddRow {
 cursor:hand;
 display:inline-block;
 vertical-align:text-bottom;
 background: url("../images/AlertSprite.png")  -100px -140px no-repeat;
 width:20px;
 height:20px;
 margin:0 3;
 padding:0 -3;
}
.FormDelRow {
 cursor:hand;
 display:inline-block;
 margin:0 6;
 padding:0 -6;
 vertical-align:text-bottom;
 background: url("../images/AlertSprite.png")  -60px -160px no-repeat;
 width:20px;
 height:20px;
}
.FormFieldDefault {
 cursor:hand;
 display:inline-block;
 vertical-align:text-bottom;
 background: url("../images/AlertSprite.png")  -40px -40px no-repeat;
 width:20px;
 height:20px;
}
.MaintenanceIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -60px no-repeat;
  width:20px;
  height:20px;
}
.ActionComments {
  display:inline-block;
  vertical-align:top;
  padding-left:8px;
}
.showActionIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -80px -140px no-repeat;
  width:20px;
  height:20px;
}
.showHeadingIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -20px -60px no-repeat;
  width:20px;
  height:20px;
}
.showActionComplete {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -20px -140px no-repeat;
  width:20px;
  height:20px;
}
.showActionCancel {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -0px -140px no-repeat;
  width:20px;
  height:20px;
}
.DeleteIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -20px no-repeat;
  width:20px;
  height:20px;
}
.InsertIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -100px -140px no-repeat;
  width:20px;
  height:20px;
}
.NoIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -240px no-repeat;
  width:20px;
  height:20px;
}
.subtb td {
padding-right:3px;
}
.subtb tr {
vertical-align:top;
}
.subtbv {
 font-weight:bold;
}
.MenuHeader table tr td {
    background-color:transparent; !important
}
input.Date {
 font-size:8pt; width: 90px; 
}
input.FutureDate {
 font-size:8pt; width: 90px; 
}
input.PastDate {
 font-size:8pt; width: 90px;
}
img.Icon { 
 vertical-align:top; 
}
#BodyDivision {
 overflow: auto;
 width: 100%;
 height: 100%;
 padding:0px;
 margin: 0px
}
#TableLocation {
 margin-left:10px;
 margin-right:10px;
}
.PatientBannerEx {
 overflow:hidden;
 width:100%;
 height:20px;
 line-height: 15px;
 font-weight:bold; 
 background-color:#ffffd9;
}
.PatientBannerEx TABLE TR {
 vertical-align:top;
}
.PatientBannerEx TABLE TH {
 width:20%;
}
.PatientBannerEx SPAN {
 color:#666666;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.LinkMore {
 width:auto;
 vertical-align:bottom;
 text-align:right;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.b-label {
  text-align:right;
  padding-right:2px;
}
.b-text {
  font-weight:bold;
}
.b-alert-table { 
 width:100%;
}
.b-alert-table td { 
 border:1px;
}
.b-alert-icon {
 overflow:hidden;
 background:no-repeat;
 float:left;
 background-position: -1px -1px;
 padding:0px;
 margin:0px;
 width:18px;
 height:18px;
 background-image:url(../images/BannerAlertIcon.gif);
}
.b-table {
 border:0;
 width:auto;
 padding:0;
 margin:0;
}
.b-table td {
 height:15px;
 border:0px;
}
.p-banner-table {
 border:1px solid #cccccc;
 width:100%;
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 color:#033738;
 text-align:left;
 white-space:nowrap;
 empty-cells:show;
}
