/*-----------------------------------------------------------
   cssVersion : V12.00.00

   Menu Frame Standards
   V10.04.00  27/03/2014 B.G.Ackland        CAR 2998934
              Sytlesheet for Patient Photo Gallery View
-----------------------------------------------------------*/
.thumbbox {
 vertical-align : top;
 display:-moz-inline-stack;
 display:inline-block;
 zoom:1;
 *display:inline;
 width: 218px;
 height: 192px;
 margin: 0px;
 padding: 0px;
}
.thumbimgbox {
 width: 202px;
 height: 158px;
 margin: 0px; 
 padding: 0px;
}
.innerboximg, .innerboximg_hover {
 cursor:pointer;
 margin: 7px;
 padding: 0px;
 width: 204px;
 height: 178px;
 border: 1px solid #505050;
 background : #202020;
 color : #aaaaaa;
 font-size : 11px;
}
.innerboximg_hover {
 background : #dddddd;
 color : #000000;
}
.thumb {
 margin: 10px 10px 5px 10px;
 border : 1px solid #606060;
}
.box_gallery {
 text-align:center;
 top:0;
 right:0;
}
.pictureThis{
  border: 1px solid #CCC;
  margin: 10px;
  background-color:white;
}
.ColorSelect {
  width:40px;
  height:40px;
}
.CC {
  width:50px;
  height:50px;
  border:0px;
}
.drawTools {
  background:white;
  text-align:center;
}
.drawTool {
  color:blue;
  margin:2px;
  padding:12px;
  border:1px solid #ccc;
  background-color:white;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
}
