/* -------------------------------------------------------------
   cssVersion : V12.00.00

   ------------------------------------------------------------- */
body {
 margin:0;
 overflow:hidden;
 background-color:white;
}
.MenuiFrame {
 position:absolute;
 display:inline;
 top:0px;
 left:0px;
 width:100%;
 height:50px;
 border:0px;
 overflow:hidden;
}
.MenuiFrame40 {
 position:absolute;
 display:inline;
 top:0px;
 left:0px;
 width:100%;
 height:40px;
 border:0px;
 overflow:hidden;
}
.ContentiFrame40 {
 position:relative;
 display:inline;
 top:40px;
 width:100%;
 height:100%;
 margin:0px;
 border:0px;
 padding:0px;
}
.ContentiFrame {
 position:relative;
 display:inline;
 top:50px;
 width:100%;
 height:100%;
 margin:0px;
 border:0px;
 padding:0px;
}
.TabiFrame40 {
 position:relative;
 display:none;
 top:40px;
 width:20%;
 margin:0px;
 border:0px;
 padding:0px;
}
.TabiFrame {
 position:relative;
 display:none;
 top:50px;
 width:20%;
 margin:0px;
 border:0px;
 padding:0px;
}
