/*-------------------------------------------------------
  cssVersion : V12.00.00
-------------------------------------------------------*/
body {
 background-color: #C5CCD3;
 background-image: url(../html/ipad/stripes.png);
 width: 100%;
 border: 0px;
 margin: 0px;
 padding: 0px;
 font-family: Helvetica, sans-serif;
 font-size: 17px;
 -webkit-text-size-adjust: none;
}
form {
display: block;
width: 100%;
margin-top: 0em;
}
textarea {
  max-width:95%;
  font-size: 17px;
}
input {
 font-size: 17px;
 max-width:95%;
}
select {
 font-size:17px;
 max-width:95%;
}
li:first-child {
 border-top:0;
}
SELECT.Required {
 background-color: #fff0c6;
}
INPUT.Required {
 background-color: #fff0c6;
}
TEXTAREA.Required {
 background-color: #fff0c6;
}
input[type='radio'] {
 vertical-align:middle;
 height:25px;
 width:25px;
}
input[type='checkbox'] {
 vertical-align:middle;
 height:25px;
 width:25px;
}
.Select50 {
    WIDTH: 50px
}
.Select100 {
    WIDTH: 100px
}
.Select120 {
 width:120px;
}
.Select150 {
    WIDTH: 150px
}
.Select200 {
    WIDTH: 200px
}
.Select250 {
    WIDTH: 250px
}
.Select270 {
 width:270px;
}
.submenu {
 position: relative;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #17959F), to(#014D51));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17959F', endColorstr='#014D51',GradientType=0 );
 -webkit-box-sizing: border-box;
 position: absolute;
 top: 0;
 left: 0;
 height: 40px;
 width: 100%;
 border-bottom: 1px solid #2E3744;
 padding: 0px;
 box-sizing: border-box;
}
.CheckBoxCombo {
 BORDER-RIGHT: silver 1px solid;
 BORDER-TOP: thin inset;
 MARGIN-TOP: 2px;
 MARGIN-BOTTOM: 2px;
 OVERFLOW: auto;
 BORDER-LEFT: thin inset;
 BORDER-BOTTOM: silver 1px solid;
 BACKGROUND-COLOR: white
}
.SavingData {
  position:absolute;
  top:200px;
  left:40%;
  right:40%;
  width:320px;
  height:160px;
  vertical-align:middle;
  color:white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border:0px !important;
  display:none;
  text-align:center;
  background-image: -webkit-linear-gradient(#347277 2.98%, #1bb0a2 100%);
  background-color: #347277;
}
.SavingImage {
  margin-top:30px;
  vertical-align:middle;
  text-align:center;
}
.searchFormInput {
 appearance: none;
 -webkit-appearance: none;
 background: url("../html/ipad/AlertSprite.png") -178px -78px no-repeat;
 padding: 2px 2px 2px 22px;
 padding: 2px 2px 2px 22px;
}
.CodeSearch {
appearance: none;
 -webkit-appearance:none;
 background: url("../html/ipad/AlertSprite.png") -178px -78px no-repeat;
 padding: 2px 2px 2px 22px;
 padding: 2px 2px 2px 22px;
 min-width:200px;
}
.TimeIcon {
 margin:-10px;
 padding:10px;
 margin-left:0px;
}
.DateIcon {
 margin:-10px;
 padding:10px;
 margin-left:0px;
}
input.Date {
 width:120px;
}
input.Time {
 width:60px;
}
.calendar {
 border-collapse:collapse !important;
 border:3px solid grey;
}
.calClose {
 display:inline-block;
 width:50px;
 height:17px;
 line-height:17px;
 font-family: Helvetica, sans-serif;
 background-color: transparent;
 color: white;
 font-size:12px;
 font-weight:bold;
 text-decoration: none;
 appearance:none;
 -webkit-appearance:none;
 border-radius:3px;
 border:1px inset #d00;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #d00), to(#900));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00', endColorstr='#900',GradientType=0 );
 padding:5px;
 margin-left:5px;
 margin-right:5px;
 text-align:center;
 margin-top:0;
 margin-right:0;
}
.calOk {
 display:inline-block;
 width:50px;
 height:17px;
 line-height:17px;
 font-family: Helvetica, sans-serif;
 background-color: transparent;
 color: white;
 font-size:12px;
 font-weight:bold;
 text-decoration: none;
 appearance:none;
 -webkit-appearance:none;
 border-radius:3px;
 border:1px inset #00d;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #00d), to(#009));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d', endColorstr='#009',GradientType=0 );
 padding:5px;
 margin-left:5px;
 margin-right:5px;
 text-align:center;
 margin-top:0;
 margin-right:0;
}
.calDay {
 font-weight:bold;
 min-width:40px;
 min-height:40px;
 width:40px;
 height:40px;
 text-align:center;
}
.selYear {
}
.selMonth {
}
TD.CalendarCellOn {
 COLOR: blue;
 min-width:40px;
 min-height:40px;
 width:40px;
 height:40px;
 text-align:center;
}
TD.CalendarCellOff {
 COLOR: red;
 min-width:40px;
 min-height:40px;
 width:40px;
 height:40px;
 text-align:center;
}
h2 {
  padding:0;
  margin:0;
  font-size:16px;
  padding-left:10px;
  line-height:31px;
}
.CollapseIcon {
 margin-left:-5px;
 background:url("../html/ipad/FormSprites.png") -32px -60px no-repeat;
 display:inline-block;
 width:31px;
 height:31px;
 vertical-align:top;
 -webkit-transform: rotate(90deg);
}
.ExpandIcon {
 margin-left:-5px;
 background:url("../html/ipad/FormSprites.png") -32px -60px no-repeat;
 display:inline-block;
 width:31px;
 height:31px;
 vertical-align:top;
}
ul.sectionList {
 padding: 0px;
 margin-left: 10px;
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;          
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 background-color: rgb(255,255,255);    /
 color: rgb(0,0,0);
 border-width: 1px;             
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;   
 border:0px !important;
}
li.sectionItem {
 font-weight:normal;
 list-style-type: none;
 line-height: 25px;
 border-top-width: 1px;
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px; 
 padding-left: 10px;
}
li.sectionItem:first-child {
 border-top: 0px;     /* Remove border above the first item of the list */
}
.labelText {
 width:25%;
 vertical-align:top;
 display:inline-block;
}
.labelLong {
 width:90%;
 vertical-align:top;
 padding-top: 2px;
 display:inline-block;
}
.sectionTextarea  {
 padding-left:4px;
 text-align:center;
 font-weight: normal; 
 color: rgb(50,79,133);
 width:95%;
 display:inline-block;
}
.sectionText {
 padding-left: 4px;
 text-align: left;
 font-weight: normal;
 color: #324F85;
 width: 65%;
 display: inline-block;
}
div[id$="-suggestion-wrapper"] {
	position:absolute;
	padding:0px;
	z-index:90;
}

div[id$="-suggestion-wrapper"].hide {
	display:none;
}

div[id$="-suggestion-wrapper"].show {
}


div[id$="-suggestion-triangle"] {
        height:18px;
	z-index:10;
	position:relative;
	top:1px;
}

div[id$="-suggestion-title"] {
	color:white;
}

div[id$="-suggestion-title"] p {
	text-align:center;
	color:white;
	margin:0px;	
        padding:10px;
	font-size:14px;
        font-weight:bold;
}
div[id$="-suggestion-panel-wrapper2"] {
  z-index:200;
  padding:0px;
  background-color:white;
  border:2px solid #ccc;
  -webkit-border-radius:5px;
  -webkit-box-shadow: 5px 5px 10px #888;
}
ul[id$="-suggestion-table"] {
	width:100%;
	font-size:14px;
	font-weight:normal;
	padding:0px;
    	background-color:white;
	color:black;
}
ul[id$="-suggestion-table"] li:hover {
	background-color:#efefef;
}
ul[id$="-suggestion-table"] li {
        background-color:white;
	font-weight:normal;
        color:black;
        border-bottom:1px solid #efefef;
	padding:10px;
	list-style:none;
}
.subText {
  display: block;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.AddRow {
 background:url("../html/ipad/FormSprites.png") -1px -60px no-repeat;
 display:inline-block;
 width:31px;
 height:31px;
}
.DeleteRow {
 background:url("../html/ipad/FormSprites.png") -64px -60px no-repeat;
 display:inline-block;
 width:31px;
 height:31px;
}
.RepeatDisplay {
  width:90%;
  max-width:90%;
  margin-left:5px;  
}
.RepeatDisplay tr {
 vertical-align:top;
}
.HeadingCell {
  font-weight:bold;
}
.DeletedCell {
    TEXT-DECORATION: line-through
}
.HeaderPat {
 display:inline-block;
 text-align:center;
 width:60%;
}
.HeaderLayout {
 width:100%;
}
.HeaderDiv {
 display:inline-block;
 width:20%;
 min-width:20%;
 max-width:20%;
}
.StatusName {
 vertical-align: bottom;
}
.PropertiesIcon {
 display:inline-block;
 width:20px;
 height:20px;
 background: url("../html/ipad/AlertSprite.png") -0px -20px no-repeat;
}
.AddButton {
 display:inline-block;
 width:50px;
 height:28px;
 line-height:17px;
 font-family: Helvetica, sans-serif;
 background-color: transparent;
 color: white;
 font-size:12px;
 font-weight:bold;
 text-decoration: none;
 appearance:none;
 -webkit-appearance:none;
 border-radius:3px;
 border:1px inset #00d;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #00d), to(#009));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d', endColorstr='#009',GradientType=0 );
 padding:5px;
 margin-left:8px;
 margin-right:8px;
 text-align:center;
 margin-top:2px;
 margin-right:0;
}
.chartMenu, .filterMenu {
  color:white;
  background-color:#0571a6;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#73AEC9),color-stop(5%,#73AEC9),color-stop(5%,#338AB0),color-stop(100%,#0571A6));
  padding:0;
  padding-left:5px;
  border-width: 1px;
  border:1px inset #15878f;
  margin: 0 3px 0 0 !important;
  line-height:24px;
  height:30px;
  width:120px;
  overflow: hidden;
}

.PopupBody {
 background-color:black;
 margin:0;
 padding:0;
}
.boxHeader {
 vertical-align:middle;
 padding:2px;
 color:white;
 line-height:40px;
 height:40px;
 font-weight:bold;
 text-align:center;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #858a93), color-stop(1, #0e162a));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858a93', endColorstr='#0e162a',GradientType=0 );
 border:0px solid black;
}
.boxContent {
 height:80%;
 background-color:white;
 text-align:center;
 border-radius: 5px 5px; 
 margin:5px;
 border:5px solid transparent;
}
#PopUpFrame {
 border:0;
 background:transparent;
}
