/*---------------------------------------------------
  cssVersion : V12.00.00
---------------------------------------------------*/
.DeleteRow {
 background:url("../images/FormSprites.png") -64px -60px no-repeat;
 display:inline-block;
 width:31px;
 height:31px;
}
.ListNote {
 margin:0;
 padding:0;
 width:100%;
 font-size:17px;
 margin:0px;
}
.ItemNote {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-bottom:10px;	 
 padding-top:10px;		  
}
.ntSubmit {
 margin: 0 3% 0 0 !important;
 height:30px !important;
 -webkit-border-radius:0px !important;
 text-align:right;
 width:49%;
 display:inline-block;
 margin-right:3%;
 color:white;
 width:120px !important;
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#73AEC9),color-stop(5%,#73AEC9),color-stop(5%,#338AB0),color-stop(100%,#0571A6));
}
.ntTextarea {
 display:inline-block;
 margin-left:20px;
 vertical-align:top;
}
.ntType {
 color:#324F85;
 font-weight:bold;
 width:49%;
 display:inline-block;
 margin-left:10px;
}
.ntFrom {
 text-align:right;
 margin-right:20px;
 color:#324F85;
 font-size:14px;
 width:49%;
 display:inline-block;
}
.ntTo  {
 width:49%;
 display:inline-block;
 color:#324F85;
 font-size:14px;
 margin-left:20px;
}
.ntWho {
 color:#324F85;
 font-weight:bold;
 margin-left:20px;
}
.ntEdit {
 width:49%;
 display:inline-block;
 text-align:right;
 text-decoration:underline;
 margin-right:20px;
 color:#324F85;
 font-size:12px;
}
.ntWhen {
 width:49%;
 display:inline-block;
 text-align:right;
 margin-right:20px;
 color:#324F85;
 font-size:14px;
}
.ntSubject {
 margin-left:20px;
 color:#324F85;
 width:49%;
 display:inline-block;
 font-size:14px;
}
.ntTimeframe {
 width:49%;
 display:inline-block;
 margin-left:3px;
 margin-left:20px;
 color:#324F85;
 font-size:14px;
}
.ntWhat {
 -webkit-appearance: none; 
 background-color:transparent;
 margin-left:20px;
 overflow:hidden;
 width:75%;
 font-family:Arial;
 font-size:14px;
 border:0;
}
.ntType {
 text-align:right;
 font-size:14px;
 margin-right:20px;
 color:#324F85;
}
.showFormIcon {
  background: url("../images/AlertSprite.png") -100px -0px no-repeat;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:top;
}
.showPlanIcon {
  background: url("../images/AlertSprite.png") -20px -0px no-repeat;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:top;
}
.showActionIcon {
  background: url("../images/AlertSprite.png") -20px -0px no-repeat;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:top;
}
.Cancelled {
  text-decoration: line-through;
}
.sum {
  display:inline-block;
  vertical-align:top;  
  padding-top:2px;
 }
