/*-----------------------------------------------------------------------------
   cssVersion : V12.00.00

   V11.03.01  23/01/2023  Don Nguyen        TSK 0928790
              Modified 'login' & 'loginBox' to support the new layout of
              Support.html
   V10.07.01  04/12/2015  Don Nguyen        CAR 322481
              Added "overflow:" so Chrome doesn't display scrollbars
------------------------------------------------------------------------------*/
body  {
 overflow: hidden;
 height:1024px;
 background: #000000;
 background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
 padding:0px; 
 margin:0px; 
 font-family: Arial,Helvetica,sans-serif;
}
input {
font-size:17px;
}
table {
 border-collapse:collapse;
 margin: 10px auto;
 color: #222222;
}
th {
 padding: 5px;
 font-weight: bold;
 text-align: center;
}
td {
 padding: 5px
}
.right {
text-align: right;
}
.centre {
text-align: center;
}
.button {
 color: #222222;
 font-size: 17px;
 width: 100px;
 height: 30px;
}
.topnav {
 padding: 0 5px;
 margin:  0 auto;
 height:92px;
 width:990px;
}
.login {
 background:url("login-csc.png")  no-repeat;
 position:relative;
 margin:20px 40px;
 height:auto !important;
 width:690px;
 min-height:590px;
 color:#333333;
 padding: 20px /*15px 30px 18px*/;
}
.loginBox {
 position:relative;
 height:680px;
 width:570px;
}
.loginGraphic {
 position:absolute;
 right:0px;
 bottom:10px;
}
.Solution1 {
font-family: "Segoe UI",Helvetica, sans-serif;
color:#034b9d;
font-size:24pt;
text-align:right;
padding-right: 5px;
}
.Solution2 {
font-family: "Segoe UI",Helvetica, sans-serif;
color:#034b9d;
font-size:14pt;
text-align:right;
padding-right: 5px;
}
.Solution {
font-family: "Segoe UI",Helvetica, sans-serif;
color:#405fb2;
font-size:10pt;
text-align:right;
padding-right: 5px;
}
.Copyright {
font-family: "Segoe UI",Helvetica, sans-serif;
text-align:right;
font-size:8pt;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 30px;
}
.footer {
 width:100%;
 bottom:0px; right:10px;
 position:absolute;
 text-align:right;
}
