BODY {
background-image:url(/images/paper.gif);
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
}
TD {
font-size: 10pt;
}
td.button {
background-image:url(/images/button.gif);
width: 120px;
height: 24px;
font-size: 10pt;
text-align: center;
font-family: Arial Narrow;
}
input.button {
width: 90px;
font: 8;
}
input.SmallButton {
font: 8;
}
