BODY {
background-image:url(/images/mback.jpg);
background-repeat: repeat-y;
background-color: #FFFFFF;
margin-left: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
}
td.nav {
background-image:url(/images/nav_button.gif);
width: 120px;
height: 20px;
font-size: 10pt;
color: green;
text-align: left;
padding-left: 12px;
padding-bottom: 5px;
font-family: Arial Narrow;
}
A {
color: white;
}
