//cssVersion : V12.00.00
//========================================================================
// Program   : outweb0201016.css
//
// Written   : 17/07/2012
//
// Function  : Standard Functions Used in outweb0201016 templates
//
//
// V10.03.00 17.02.2012 B.G.Ackland    CAR 269143
//                      New Clinic Check in Multi Hospital
//
//========================================================================
tr.TableRowOdd	  { vertical-align:top;line-height:20px;background-color:#efefef; }
tr.TableRowEven   { vertical-align:top;line-height:20px;background-color:#fff; }
tr.TableRowTotal  { vertical-align:top;line-height:20px;background-color:#eeeeee }
tr.TableRowExpired    {  vertical-align:top;line-height:20px;background-color: red; }
tr.TableRowWarning    {  vertical-align:top;line-height:20px;background-color: orange; }
tr.TableRowNote       {  vertical-align:top;line-height:20px;background-color: peru; }
tr.TableRowYellow     {  vertical-align:top;line-height:20px;background-color: yellow; }
tr.TableRowChartReview{  vertical-align:top;line-height:20px;background-color: #FFCC9D; }
#HeadingSection {
  position:relative;
}
INPUT.CheckButton {
  vertical-align:top;
  width:12px;
  height:12px;
  margin-right:2px;
  margin-top:2px;
  margin-bottom:2px;
  padding:0;
}
.SpriteIcon {
  background: url("../images/AlertSprite.png")  -0px -122px no-repeat;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:top;
  margin:0;
  padding:0;
  border:0;
  padding-right:2px;
}
.AppointmentIcon {
  background: url("../images/AlertSprite.png")  -20px -0px no-repeat;
}
.PatientFolder01M {
  background: url("../images/AlertSprite.png")  -0px -112px no-repeat;
}
.AlertIconM {
  background: url("../images/AlertSprite.png")  -20px -20px no-repeat;
}
.AlertIconB {
  background: url("../images/AlertSprite.png")  -100px -20px no-repeat;
}
.AlertIconR {
  background: url("../images/AlertSprite.png")  -40px -20px no-repeat;
}
.AlertIcon1 {
  background: url("../images/AlertSprite.png")  -20px -20px no-repeat;
}
.AlertIcon2 {
  background: url("../images/AlertSprite.png")  -40px -20px no-repeat;
}
.AlertIcon3 {
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
}
.AlertIcon4 {
  background: url("../images/AlertSprite.png")  -80px -20px no-repeat;
}
.AlertIcon5 {
  background: url("../images/AlertSprite.png")  -100px -20px no-repeat;
}
.ArrangeIcon {
  background: url("../images/AlertSprite.png")  -40px -40px no-repeat;
}
.DocumentsIcon {
  background: url("../images/AlertSprite.png")  -60 -80px no-repeat;
}
.ResultIcon {
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
}
.NotesIcon {
  background: url("../images/AlertSprite.png")  -100 -0px no-repeat;
}
.InterpretorIcon {
  background: url("../images/AlertSprite.png")  -180px -20px no-repeat;
}
.PrivacyIcon {
  background: url("../images/AlertSprite.png")  -0px -0px no-repeat;
}
