/* -------------------------------------------------------------
   cssVersion : V12.00.00

   ------------------------------------------------------------- */
body {
 background-color:rgb(225, 238, 239);
 background-color: #E0E0E0;
 margin:0;
 border:0;
 overflow:hidden;
}
.TabMenu {
 padding: 0px;
 margin-left: 0px;
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 color: black;
 border-width: 1px;
 border: 0px !important;
 border-style: solid;
 border-color: #D9D9D9;
}
.Tab {
 font-weight: normal;
 list-style-type: none;
 line-height: 15px;
 border-spacing:2px;
 margin-top: 5px;
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 14px;
 padding-left: 10px;
}
.PatientImageDiv {
  text-align:center;
  margin-top:10px;
  margin-bottom:5px;
}
.Tab1  { background:url("../images/Tab.png") -0px -0px no-repeat; }
.hTab1 { background:url("../images/Tab.png") -0px -41px no-repeat; }
.Tab2  { background:url("../images/Tab.png") -0px -82px no-repeat; }
.hTab2 { background:url("../images/Tab.png") -0px -123px no-repeat; }
.Tab3  { background:url("../images/Tab.png") -0px -164px no-repeat; }
.hTab3 { background:url("../images/Tab.png") -0px -205px no-repeat; }
.Tab4  { background:url("../images/Tab.png") -0px -246px no-repeat; }
.hTab4 { background:url("../images/Tab.png") -0px -287px no-repeat; }
.Tab5  { background:url("../images/Tab.png") -0px -328px no-repeat; }
.hTab5 { background:url("../images/Tab.png") -0px -369px no-repeat; }
.Tab6  { background:url("../images/Tab.png") -0px -410px no-repeat; }
.hTab6 { background:url("../images/Tab.png") -0px -451px no-repeat; }
.Tab7  { background:url("../images/Tab.png") -0px -492px no-repeat; }
.hTab7 { background:url("../images/Tab.png") -0px -533px no-repeat; }
.Tab8  { background:url("../images/Tab.png") -0px -574px no-repeat; }
.hTab8 { background:url("../images/Tab.png") -0px -615px no-repeat; }
.Tab9  { background:url("../images/Tab.png") -0px -656px no-repeat; }
.hTab9 { background:url("../images/Tab.png") -0px -697px no-repeat; }
.Tab10 { background:url("../images/Tab.png") -0px -738px no-repeat; }
.hTab10 { background:url("../images/Tab.png") -0px -779px no-repeat; }
.Tab11  { background:url("../images/Tab.png") -0px -820px no-repeat; }
.hTab11 { background:url("../images/Tab.png") -0px -861px no-repeat; }
.Tab12  { background:url("../images/Tab.png") -0px -902px no-repeat; }
.hTab12 { background:url("../images/Tab.png") -0px -943px no-repeat; }
.Tab13  { background:url("../images/Tab.png") -0px -984px no-repeat; }
.hTab13 { background:url("../images/Tab.png") -0px -1025px no-repeat; }
.Tab14  { background:url("../images/Tab.png") -0px -1066px no-repeat; }
.hTab14 { background:url("../images/Tab.png") -0px -1107px no-repeat; }
