.ListNote {
 margin:0;
 padding:0;
 width:100%;
 font-size:17px;
 margin:0px;
}
.ItemNote {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-bottom:10px;	 
 padding-top:10px;		  
}
.ItemNote2 {               /* show deleted clinical notes with strike through */
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-bottom:10px;	 
 padding-top:10px;		  
 text-decoration:line-through;
}
.ntSubmit {
 margin: 0 3% 0 0 !important;
 height:30px !important;
 -webkit-border-radius:0px !important;
 float:right;
 margin-right:3%;
 color:white;
 width:120px !important;
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#73AEC9),color-stop(5%,#73AEC9),color-stop(5%,#338AB0),color-stop(100%,#0571A6));
}
.ntTextarea {
 display:inline-block;
 margin-left:20px;
 vertical-align:top;
}
.ntWho {
 float:left;
 color:#324F85;
 font-weight:bold;
 margin-left:10px;
}
.ntWhen {
 float:right;
 margin-right:20px;
 color:#324F85;
 font-size:14px;
}
.ntTimeframe {
 float:left;
 margin-left:3px;
 margin-left:20px;
 color:#324F85;
 font-size:14px;
}
.ntWhat {
 -webkit-appearance: none; 
 display:block;
 background-color:transparent;
 margin-left:20px;
 overflow:hidden;
 width:75%;
 font-family:Arial;
 font-size:14px;
 border:0;
}
.ntType {
 float:right;
 font-size:14px;
 margin-right:20px;
 color:#324F85;
}
.ntRow {
  vertical-align:top;
  height:20px;
}
.ItemFilter {
 margin-top:-20px;
 margin-bottom:5px;
 white-space:nowrap;
 padding-left:5px;
 overflow:hidden;
 text-overflow:ellipsis;
 list-style-type: none;
}
.listFilter {
 width:250px;
 margin-left:10px;
 padding-left:10px;
 padding-right:10px;
}
