/* -------------------------------------------------------------
   cssVersion : V12.00.00

   ------------------------------------------------------------- */
ul.sectionList {      
 padding: 0px;      
 margin: 0px;
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
 border:0px !important;
}
li.sectionItem {   
 font-weight:normal;
 list-style-type: none;  
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-top: 10px;        
 padding-right: 10px;         
 padding-bottom: 14px;    /* Indent the cell content 14 pixels from the bottom edge of a cell */
 padding-left: 10px; 
}
li.sectionItem:first-child {
 border-top: 0px;     /* Remove border above the first item of the list */
}
.sectionText  {   
 padding-left:4px;
 text-align:left;
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
 width:65%;
 display:inline-block;
}

.sectionTextarea  {   
 padding-left:4px;
 text-align:center;
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
 width:95%;
 display:inline-block;
}
.labelText {
 width:25%;
 vertical-align:top;
 display:inline-block;
}
