#SelectHeading{
position: absolute;
visibility: hidden;
top: 10px;
left: 10px;
height: 20px;
width: 350px;
overflow: none;
}
#SelectLocation{
position: absolute;
visibility: hidden;
top: 30px;
left: 10px;
height: 150px;
width: 350px;
overflow: auto;
}
table.PostCodeHeading { 
background-color: #3399ff; 
}
table.PostCodeBody { 
background-color: #cccccc; 
}
body.CodeHeading {
background-color: #3399ff; 
}
body.CodeBody {
background-color: #cccccc; 
}
td.PCHead {
font-size: 10pt;
font-family: 'Times New Roman';
font-weight: bold;
font-style: italic;
background-color: #3399ff;
}
td.PCBody {
font-size=10pt;
font-family='Times New Roman'
background-color: #cccccc;
}
