/**
 *  printWithHeader.css 
 *  format the template to printable
 *  
 *  V10.03.02 04/07/2012    Saroeun Soeur CAR 266104
 *            removed BodyDivision style
 *  V10.03.01 16/06/2011    Saroeun Soeur CAR 244353
 *            created new css for media type print
 **/

*{
    margin:0  !important;
    padding:0  !important;
    line-height:1.4em  !important;
    font-family:arial !important;
    font-size:6pt !important;
}
#HeadingDivision {
    text-align:left  !important;
    width:100%  !important;
    overflow:hidden;
}

#HeadingDivision table {
    text-align:left  !important;
    width:100%  !important;
    overflow:hidden;
}

#HeadingDivision table tr,
#HeadingDivision table tr td {
    overflow:hidden;
}


