/**
 *  print.css
 *  format the template to printable
 *
 *  V10.02.01 16/06/2011    Saroeun Soeur CAR 244353
 *            created new css for media type print
 **/

*{
    margin:0  !important;
    padding:0  !important;
    line-height:1.4em  !important;
    font-family:serif !important;
    font-size:6pt !important;
}

table {
    padding:0  !important;
    margin:0  !important;
    border:none  !important;
}

#HeadingSection {
    display:none  !important;
    position:absolute  !important;
    top:0px  !important;

}

#menu {
    display:none  !important;
    position:absolute  !important;
    top:0px  !important;
}

#TableLocation {
    position:absolute  !important;
    top:0px  !important;
    width:100%  !important;
}

#HeadingDivision {
    text-align:left  !important;
    width:100%  !important;
}

#HeadingDivision table {
    text-align:left  !important;
    width:100%  !important;
    border:none  !important;
}


#BodyDivision {
    width:100%  !important;
    height:700px  !important;
    border:none  !important;
}

#BodyDivision table {
    border:none  !important;
}
select {
    display:none  !important;
}

#BodyDivision table tr {
    border:0px solid black  !important;
}


#BodyDivision table tr.TableRowEven {
    font-family:serif !important;
    font-size:6pt !important;
}

#HeadingDivision table tr td img.ListIcon {
    display:none !important;
}

#BodyDivision table tr.TableRowOdd {
    font-family:serif !important;
    font-size:6pt !important;
}
