{-----------------------------------------------------------
   Template Standards - IE6 Extensions
------------------------------------------------------------}
BODY { 
overflow:auto; 
overflow-y: auto; 
}                                                   
.MenuIcon {
margin-right: 8px;
}

#HeadingDivision { 
overflow-y: scroll; 
scrollbar-3dlight-color:#cccccc;
scrollbar-arrow-color:#cccccc;
scrollbar-base-color:#cccccc;
scrollbar-darkshadow-color:#cccccc;
scrollbar-face-color:#cccccc;
scrollbar-highlight-color:#cccccc;
scrollbar-shadow-color:#cccccc; 
}

div.fHeadingDivision { 
overflow-y: scroll; 
scrollbar-3dlight-color:#cccccc;
scrollbar-arrow-color:#cccccc;
scrollbar-base-color:#cccccc;
scrollbar-darkshadow-color:#cccccc;
scrollbar-face-color:#cccccc;
scrollbar-highlight-color:#cccccc;
scrollbar-shadow-color:#cccccc
}


#BodyDivision { 
overflow-x: hidden; 
overflow-y: scroll; 
}

table {border-collapse: collapse;
	empty-cells: show;
}
