/*------------------------------------------------------------------------------
   cssVersion : V12.00.02

   Menu Frame Standards
/*------------------------------------------------------------------------------
   V12.00.02  27/06/2025  Don Nguyen     TSK 0955096
              Added new classes 'URField' & 'VisitNoField' to style the Patient
              Banner UR & Visit No fields respectively.
   V12.00.01  02/06/2025  Don Nguyen     TSK 0960938
              Added new class 'Paed' for Paediatric icon
   V11.05.01  11/04/2025  Ebon Clements  TSK 0950532
              Added select.Select40
   V11.04.01  01/10/2024  Don Nguyen     TSK 0952391
              Corrected down arrow graphic alignment for dropdown select menus
   V11.03.03  14/11/2023  Nikitha B      TSK 0936214
              Added td.YellowCell for yellow background color
   V11.03.02  08/11/2023  Nikitha B      TSK 0937039
              Added YellowBrightBackground className.
   V11.03.01  14/03/2023  Bella Turco    TSK 0919538
              Added .CurrentIPLink:hover to light red 
   V11.02.06  13/10/2022  Thanh T        TSK 0913180
              Added td.GreyText for Grey color
   V11.02.05  18/08/2022  Don Nguyen     TSK 0922352
              Modified new menu styles to work with MenuSelectListMed,
              MenuSelectListBig, MenuSelectListVBig and MenuSelectListHuge.
   V11.02.04  11/07/2022  Don Nguyen     TSK 0921875
              Removed width value for the new hospital and patient menu styles
   V11.02.03  03/06/2022  Don Nguyen     TSK 0916042
              Added styles to highlight (blue) the selected options of any
              multi-select list in Edge/Chrome/Firefox.
   V11.02.02  13/04/2022  Don Nguyen     TSK 0907086
              Added some padding to .PHeadingField for the patient banner
   V11.02.01  07/03/2022  Don Nguyen     TSK 0916403
              Added styles for more dynamic patient menus and highlights of
              clickable fields (icons, selects, inputs, textarea, etc) with
              mouse hover.
              Updated 'TitleBar' class to be consistent with V11.01 colours;
              removed background image
              Added new classes for the Waiting Dialog (screen overlay).
              Added hover highlight for TableSort rows.
              Modified 'AddressList' with new background and hover colours.
   V11.01.08  21.12.2021  DA Sarkies     TSK 0889010
              Added TextBlue for td and span
   V11.01.07  15/11/2021  Ebon Clements  TSK 0903847
              Added td.BlueCell, td.DarkGreyCell and td.RedCell
   V11.01.06  12/10/2021  Ebon Clements  Task 0897124
              Added td.NutritionUpd
   V11.01.05  27/07/2021  Jill Parkinson Task 0909499
              Removed border from input to stop radio and checkboxes from having
              a border
   V11.01.04  22/06/2021  Ebon Clements  TSK 0907537
              Set padding in CheckButton, CheckButtonGreen and CheckButtonRed
   V11.01.03  03/05/2021  DA Sarkies	    TSK 0904219
              - added nowrap to MenuHospitalDetails to prevent hospital
	      name that is too long from pushing icons beneath frame that
	      is underneath
   V11.01.02  30/04/2021  Tony Hui  	    TSK 0905050
              - Refreshed to Dedalus Colour Scheme.
	      - Updated input, textarea and select to have a subtle
	        border to increase visibility against white background.
   V11.01.01  11/01/2021  DA Sarkies	    TSK 0902780
              Added Largeredbutton
   V11.00.12  13/01/2021  Ebon Clements     TSK 0893749
              Added Select200
   V11.00.11  13/10/2020  Ebon Clements     TSK 0890602
              Added td.RefExpired td.RefExpiring
   V11.00.10  25/09/2020  Ebon Clements     TSK 0890602
              Added tr.MosaiqClinic
   V11.00.09  25/09/2020  Don Nguyen        TSK 0896772
              Added vertical-align (middle) to CheckButton classes
   V11.00.08  10/09/2020  Ebon Clements     TSK 0892759
              Added ExtraLargebutton       
   V11.00.07  08/09/2020  Tracey Nguyen     TSK 0888555
              Added SelectMultipleLong                        
   V11.00.06  10/08/2020  Ebon Clements     TSK 0867112
              Added Triage2Y, TriageRadioName and TriageRadio
   V11.00.05  24/07/2020  Ebon Clements     TSK 0894688
              Added BigRedButton
   V11.00.04  30/06/2020  Ebon Clements     TSK 0893440
              Changed Icon vertical-align to middle from top
   V11.00.03  25/05/2020  Don Nguyen        TSK 0891828
              Cross browser removed zoom:1 from .TitleBar & TD.HeadingCell
   V11.00.02  02/04/2020  Don Nguyen        TSK 0881876
              Added 'AddressList' for Address Validation results list
   V11.00.01  06/03/2020  Sunny             TSK 0884325
              Added styles for input type 'text' to
              give 1px border-width to work across all
              browsers
   V10.14.01  27/03/2019  Jill Parkinson Task 0863524
              Added OtherTheatreCell
   V10.13.01  30/07/2018  Peter Vela        TSK 0833256
              Added CheckButtonGreen, CheckButtonRed
   V10.12.01  04/04/2017  Peter Vela        TSK 0853121
              Added fake mandatory class to select fields
   V10.11.02  12/10/2017  Don Nguyen        TSK 0842027
              Removed duplicate class "INPUT.Button"
              Added width to class "input.Bigbutton"
   V10.11.01  30/08/2017  Ania P            TSK 0843973
              Added attributes to TableFilter class
   V10.10.02  30/05/2017  Peter McMullen    TSK 0826408
              New entries for NZ MoH eSAM interface 
   V10.10.01  16/05/2017  Ebon Clements     TSK 0833052
              Increased width for class input.Date
   V10.09.11  21/02/2017  Thanh Tieu        TSK 0831324
              Added td.UnderlineRed
   V10.09.10  14/12/2016  Don Nguyen        TSK 0323730
              Increased width for class input.PastDate
   V10.08.09  09/11/2016  Ebon Clements     TSK 0822228
              Added td.TextGreen, td.TextOrange and td.TextRed
   V10.08.08  17/08/2016  Peter Vela        TSK 0822979
              Added "padding:2px 5px 4px 5px;" back to TD.HeadingCell
   V10.08.07  15/08/2016  Peter Vela        TSK 0821502
              Added HeadingDivision1
   V10.08.06  01/07/2016  Don Nguyen         TSK 0821756
              Added 'heigtht' to DFrameTitleBar
   V10.08.05  27/06/2016  Don Nguyen         TSK 0821529
              Renamed input.time{} class to input.TimeButtonVal{}
   V10.08.04  22/06/2016  Don Nguyen         TSK 0821217
              Uncommented input.time{} class for TimeLookupFrame
              15/05/2016  Nicole Torrisi     TSK 0817062
              Added LSExclude for Legal Status Supervisor screen
   V10.08.03  07/06/2016  Ebon Clements     TSK 0308881
              Added Orange text
   V10.08.02  21/04/2016  Ebon Clements      TSK 0817342
              Added PriorDate
   V10.08.01  11/04/2016  Peter Vela        CAR 0816755
              Added vertical align top for TableRowChartReview
   V10.07.02  04/12/2015  Don Nguyen        CAR 322481
              Added TD.HeadingCellB & 'HR' styles
              Commented out border styles for MenuSelectList
              Added support for other font-family in body{}
   V10.07.01  08/10/2015  Don Nguyen        CAR 322481
              Changes for cross-browser compatibility; added attributes to some
              styles:
                - Removed 'height' from DFrameTitleBar
                - Added new attributes to input.SmallButton
                - Removed "padding:2px 5px 4px 5px;" from TD.HeadingCell
   V10.06.01  19/08/2015 Peter Vela         CAR 316627
              Added ClinicSuspended
   V10.04.01  12/02/2013 Patrick Adair      CAR 273419
              Added CodeLine & CodeDescription classes for ICD Coding
   V10.03.12  03/12/2013 Patrick Adair      CAR 294206
              Added FutureField class for AN-SNAP SIG requirements
   V10.03.11  20/11/2013 Patrick Adair      CAR 286048
              Added td.CareColourA td.CareColourB td.CareColourC 
                    td.CareColourD td.CareColourE 
   V10.03.10  19/11/2013 Peter Vela         CAR 292886
              Added td.DisabledCell
   V10.03.09  13/11/2013 Ebon Clements      CAR 291974
              Added img.DisabledIcon
   V10.03.08  10/09/2012 Ebon Clements      CAR 275205
              Added CheckBoxComboMandatory
   V10.03.07  24/06/2013  Ebon Clements     CAR 286430
              Changed tablesort properties line-height to 10 from 15
   V10.03.06  22/05/2013  Ebon Clements     CAR 285350
              Changed tablesort properties line-height to 15 from 20
   V10.03.05  30/04/2013  J.Tan             CAR 257211
              Add td.AdjustTime
   V10.03.04  15/01/2013  B.G.Ackland
              Added StatusIcon0,1,2 for Observations NSW Between Flags Alerts
   V10.03.03  09/11/2012  Jill Parkinson CAR 276048   
              Added tablesort filter properties, added line-height for tablsort
              rows
   V10.03.02  12/09/2012 Don Nguyen         CAR 270231
              Added Readonly for textarea
   V10.03.01  03/09/2012 Ebon Clements      CAR 270231
              Added CheckBoxCombo
   V10.02.01  10/11/2011 Saroeun Soeur      CAR 253905
              new gui
   V10.01.01  23/11/2010  Ebon Clements     CAR 233196 
              Added x-tool-left
   V10.00.05  15/09/2010  Jill Parkinson    CAR 230266 
              Removed backgrounds from buttons
   V10.00.04  15/09/2010  Ebon Clements     CAR 210611 
              Added PastDischargeDate
   V10.00.03  30/08/2010  Ebon Clements     CAR 228543 
              Added td.Triage9 and tr.Triage9
   V10.00.02  30/08/2010  Ebon Clements     CAR 229237 
              Added bold to td.GreenText and td.OrangeText
   V10.00.01  14/07/2010  Ebon Clements     CAR 192810 
              Added td.ChartReview and tr.TableRowChartReview
-----------------------------------------------------------*/
body.MenuBody {
background-image:url();
background-color: #073F7A;
/*JPJP*/
background-color: #115091;
margin:0;
}
.MenuHeader {
background-color: #073F7A;
/*JPJP*/
background-color: #115091;
color: white;
font-size: 12pt;
font-weight: bold;
}

.MenuHeader table tr td {
    background-color:transparent; !important
}

.MenuSelectList {
font-size:8pt;
width:130px;
}
.MenuSelectListBig {
font-size:8pt;
width:160px;
}
.MenuIcon {
border: 0;
cursor: pointer;
}
.MenuLoginDetails {
width:30%;
text-align: left;
color: white;
font-size:10pt;
border: 0;
padding-left: 10px;
}
.MenuNameDetails {
width:30%;
text-align: right;
color: white;
font-size:10pt;
border: 0;
padding-right: 10px;
}
.MenuHospitalDetails {
color: white;
text-align: center;
font-size: 12pt;
font-weight: bold;
white-space: nowrap;
}
/*-----------------------------------------------------------
   Template Standards
------------------------------------------------------------*/
body {
font-family: Arial,Helvetica,sans-serif;
margin: 0px;
padding: 0px;
background-color: #ffffff; 
}
/*----------------------------------------------------------
 Template Input Standards
-----------------------------------------------------------*/
input {
      font-size:8pt;}
input[type="text"] {
     /* border-width: 1px; */
      border: 1px solid #ababab; }
input.Readonly {
      background-color:#dddddd; font-size:8pt; }
input.Mandatory {
      background-color:#ACC5E0; font-size:8pt; }
input.FutureField {
      background-color:#ffcc33; font-size:8pt; }
textarea {
      background-color:white; font-size:10pt; border: 1px solid #ababab; }
textarea.Readonly {
      background-color:#dddddd; font-size:10pt; }
textarea.Mandatory {
      background-color:#ACC5E0; font-size:10pt; }
input.Date {
      font-size:8pt; width: 82px; }
input.FutureDate {
      font-size:8pt; width: 82px; }
input.PastDate {
      font-size:8pt; width: 82px; }
input.PriorDate {
      font-size:8pt; width: 82px; }
input.Integer {
      font-size:8pt; }
input.OECRequired {
      background-color:lightgreen; font-size:8pt; }
select.OECRequired {
      background-color:lightgreen; font-size:8pt; }
select {
      font-size:8pt; /* height: 100px;*/
      border: 1px solid #ababab; }
select.SelectMultiple {
       background-color:silver;
       font-size:8pt;
       height: 33px; }
select.SelectMultipleLarge {
       background-color:silver;
       font-size:8pt;
       height: 60px; }
select.SelectMultipleLong {
       background-color:silver;
       font-size:8pt;
       height: 110px; }
select.Mandatory {
       background-color:#ACC5E0; font-size:8pt; }
select.FakeMand {
       background-color:#ACC5E0; font-size:8pt; }
select.FutureField {
       background-color:#ffcc33; font-size:8pt; }
select.Readonly {
       background-color:#dddddd; font-size:8pt; }
select.Select40 {
      font-size:8pt; width: 40px; }
select.SelectTny {
      font-size:8pt; width: 50px; }
select.SelectSml {
      font-size:8pt; width: 90px; }
select.SelectMed {
      font-size:8pt; width: 120px; }
select.Select120 {
      font-size:8pt; width: 120px; }
select.SelectBig {
      font-size:8pt; width: 150px; }
select.Select200 {
      font-size:8pt; width: 200px; }
select.SelectBigE {
      font-size:8pt; width: 275px; }
select.SelectHug {
      font-size:8pt; width: 300px; }
select.SelectHugE {
      font-size:8pt; width: 350px; }
select.SelectXlrg {
      font-size:8pt; width: 480px; }
input.button {
      font-size:8pt; 
      width:90px; 
      cursor: pointer;
}
input.Bigbutton {
      font-size:8pt;
      cursor: pointer;
      width:110px; 
}
input.Largeredbutton {
      color:red;
      font-size:8pt; 
      width:150px;
      cursor: pointer;
}
input.Largebutton {
      font-size:8pt; 
      width:150px;
      cursor: pointer;
}
input.ExtraLargebutton {
      font-size:8pt; 
      width:200px;
      cursor: pointer;
}
input.SmallButton {
      font-size:8pt; 
      cursor: pointer;
      text-align: center;
      padding: 0px;
      height: 20px;
 }
input.SlimButton {
      font-size:8pt; 
      width:50px;
      cursor: pointer;
 }
input.TinyButton {
      font-size:7pt;
      cursor: pointer;
 }
input.CheckButton {
      height:12px; 
      width:12px;
      cursor: pointer;
      background: white;
      border-color: black;
      padding: 0px;
      vertical-align: middle;
 }
input.CheckButtonGreen {
      height:12px;
      width:12px;
      cursor: pointer;
      background: green;
      border-color: black;
      padding: 0px;
      vertical-align: middle;
 }
input.CheckButtonRed {
      height:12px;
      width:12px;
      cursor: pointer;
      background: red;
      border-color: black;
      padding: 0px;
      vertical-align: middle;
 }
input.hide {
      font-size:0pt; width:0px; 
}

img   {border:0}

.TinyIcon {                                          
  border: 0;                                         
  cursor: pointer;                                   
  height: 16px;                                      
}

img.Icon {
      border: 0;
      vertical-align:middle;
      margin:0px 0px 2px 2px;
      cursor: pointer;
 }
img.ListIcon {
      border: 0px;
      margin-top:1px; 
      margin-bottom:3px; 
      margin-left:0px; 
      margin-right:3px; 
      vertical-align: middle;
      cursor: pointer;
}
img.DisabledIcon {
      opacity: 0.3;
      filter:alpha(opacity=30);
      cursor: default;
} 
input.BigRedButton {
      font-size:8pt;
      cursor: pointer;
      width:110px;
      color:red;
}
input.RedButton {
      font-size:8pt; 
      width:90px;
      cursor: pointer;
      color:red;
 }
input.SmallRedButton {
      font-size:8pt; color:red;
      cursor: pointer;
 }
/*----------------------------------------------------------
 Layout Standards
-----------------------------------------------------------*/
td { font-size:8pt; }
td.DataLabel {font-size:8pt; }
td.TriageRadioName {font-weight: bold; font-size:large;}
td.DataField { font-weight:bold; }
td.SubHeading { font-weight:bold; }
td.HeaderCell {
	background-color:#FFFFFF;
/*JPJP*/ 
        background-color:#3e97b5;
	font-weight:bold;
	color:blue;
	text-decoration:underline;
	cursor: pointer;
}
td.HeadingCell {
	background-color:#FFFFFF;
/*JPJP*/ 
        background-color:#3e97b5;
	font-weight:bold;
}
td.HighLightRed {
	color:#ff0000;
	font-weight:bold;
}
td.MaintenanceHeading {
	background-color:#FFFFFF;
	background-color:#CCCCCC;
	font-weight:bold;
	font-size:12pt;
        text-align: center;
}
input.TextCell {
	background-color:#FFFFFF;
	font-weight:bold;
}
td.LineThrough     { text-decoration: line-through; }
td.LineThroughRed  { text-decoration: line-through; color: red}
td.UnderlineRed    { text-decoration: underline; color: red}
td.AutoVenCell     { background-color: #87CEEB; }
td.AvailableCell   { background-color: #99ff99; }
td.BlockedCell     { background-color: gray; }
td.StandbyCell	   { background-color: #9999ff; }
td.PastDischDate   { background-color: #ff9999; }
td.CurrDischDate   { background-color: #a0b8c8; }
td.HolidayCell	   { background-color: #a0b8c8; }
td.LeaveCell	   { background-color: #ff9999; }
td.SuspendCell	   { background-color: #ffcc9d; }
td.OtherTemplate   { background-color: #8fbc8f; }
tr.MonthRowOdd	   { background-color: #eeeeee; }
tr.MonthRowEven	   { background-color: #dcdcdc; }
td.AnaethLeaveCell { background-color: #a0c8b8; }
td.TheatUsedCell   { background-color: orange; }
td.TheatOverCell   { background-color: #9999ff; }
td.OtherTheatreCell   { background-color: yellow; }
td.EquipmentCell   { background-color: #99ff99; }
td.UnallocBedCell  { background-color: #99ccff; }
td.ExpectedCell   { background-color: #99ff99; }
td.BedReqCell     { background-color: #9999ff; }
td.BoneMarCell   { background-color: #ff9999; }
td.BladderCell   { background-color: yellow; }
td.WhiteCell   { background-color: white; }
td.ClosedCell   { background-color: red; }
td.AdmittedCell { background-color: #FFFFFF; }
td.ClinicFull	   { background-color: #ffcc9d; }
td.ClinicSuspended { background-color: #BCED91; }
td.ClinicOverBooked{ background-color: #ff9999; }
td.AdhocTheatreSes { background-color: #33CC66; }
td.CareColourA     { background-color: #ff0000; }
td.CareColourB     { background-color: #fff800; }
td.CareColourC     { background-color: #80ffff; }
td.CareColourD     { background-color: #80ff80; }
td.CareColourE     { background-color: #ffaeca; }
td.OverlapCell	   { background-color: #ff9999; }
td.OverlapExpDisCell   { background-color: yellow; }
td.HoldingCell	   { background-color: #9999ff; }
td.Triage0 { background-color: #FF66FF; } /*No triage cat.*/
td.Triage1 { background-color: #FF3366; }
td.Triage2 { background-color: #FFCC66; }
td.Triage2Y { background-color: #FFFF00; }
td.Triage3 { background-color: #99CC99; }
td.Triage4 { background-color: #99CCFF; }
td.Triage5 { background-color: #FFFFFF; }
td.Triage6 { background-color: #000000; color: white; }
td.Triage9 { background-color: #FFFF00; }
td.InpCell { background-color: #CCFFFF; }
td.OutCell { background-color: #FFFF00; }
td.TheCell { background-color: #FF99FF; }
td.ExpCell { background-color: red; }
td.WarCell { background-color: orange; }
td.NotCell { background-color: peru; }
td.ExtraSess { background-color: green; }
td.Unavail { background-color: orange; }
td.NormalSess { background-color: DeepSkyBlue; }
td.AdjustTime { background-color: #ffcccc; }
td.OverlapSess { background-color: violet; }
td.GreenText { color: green; font-weight: bold;}
td.OrangeText { color: OrangeRed; font-weight: bold;}
td.RedText { color: red; }
td.GreyText { color: grey; }
td.RefStatusActive { background-color: #ff9999; }
td.RefStatusWaiting { background-color: #ffcc9d; }
td.ChartReview { background-color: #FFCC9D; }
td.DisabledCell { background-color: #D3D3D3; }
td.BlueCell { background-color: #157DEC; }
td.DarkGreyCell { background-color: #A9A9A9; }
td.RedCell { background-color: Red; }
td.YellowCell { background-color: yellow; }
td.TextGreen { color: green; }
td.TextOrange { color: orange; }
td.TextRed { color: red; }
td.TextBlue { color: blue; }
td.RefExpired { background-color: red; }
td.RefExpiring { background-color: red; }
td.NutritionUpd { background-color: #ff9999; }
span.TextBlue { color: blue; }
/*----------------------------------------------------------
 Sort Table Row Color Control
-----------------------------------------------------------*/
tr.Triage0 { background-color: #FF66FF; }
tr.Triage1 { background-color: #FF3366; }
tr.Triage2 { background-color: #FFCC66; }
tr.Triage2Y { background-color: #FFFF00; }
tr.Triage3 { background-color: #99CC99; }
tr.Triage4 { background-color: #99CCFF; }
tr.Triage5 { background-color: #FFFFFF; }
tr.Triage6 { background-color: #000000; color: white;}
tr.Triage9 { background-color: #FFFF00; }
tr.TableRowOdd	  {line-height:10px; }
tr.TableRowEven   {line-height:10px; }
tr.TableRowTotal  {line-height:10px; }
tr.TableRowExpired    { line-height:10px;background-color: red; }
tr.TableRowWarning    { line-height:10px;background-color: orange; }
tr.TableRowNote       { line-height:10px;background-color: peru; }
tr.TableRowYellow     { line-height:10px;background-color: yellow; }
tr.TableRowChartReview{ line-height:10px;background-color: #FFCC9D; }
tr.MosaiqClinic { background-color: #dddddd; }
/*----------------------------------------------------------
 Patient Details Menu
-----------------------------------------------------------*/
#PatientMenu {
padding-left: 1px;
padding-top: 2px;
padding-bottom: 0px;
border-width: 0px;
height: 24px;
width:100%;
background-color:#073F7A;
}
.PHeadingSection {
/* background-color:#CCCCCC;*/
/*Dedalus patient header */
background-color:#b8d9ee;
padding: 0px;
width: 100%;
}
.PHeadingLabel {
font-size:10pt;
font-weight:bold;
}
.PHeadingField {
font-size:11pt;
font-weight:bold;
color:#000000;
padding: 2px 4px 2px 2px;
}
#PageHeadingSection {
width:100%;
padding:0px;
margin:0px
}
#PageBodySection {
width:100%;
overflow:auto;
height:100%;
padding:0px;
margin:0px
}
#SearchPage {
position: absolute;
border-style: outset;
}

#PopUpScreen {
 position: absolute;
}


.TitleBar {
width: 100%;
background-color: #ccccff;
font-family: "MS Sans Serif", sans-serif;
font-weight: bold;
font-size: 8pt;
text-align: center;
margin: 0px 0px 0px 0px;
padding: 1px 1px 1px 1px;
}

.DFrameTitleBar {
display: block;
background-color: #7191B3;
background-color: #062e39;
font-family: "MS Sans Serif", sans-serif;
font-weight: bold;
font-size: 8pt;
text-align: center;
margin: 0;
padding: 1px;
height: 25px;
}

.PMenuSelectList {
font-size:8pt;
width:130px;
}
/*----------------------------------------------------------
 Sortable Table Standards
-----------------------------------------------------------*/
table.TableHeading {
width: 100%;
background-color: #FFFFFF;
/*JPJP*/
background-color: #3e97b5;
font-weight: bold;
font-style: italic;
padding: 0;
}
table.TableBody {
width: 100%;
height: 100%;
padding: 0px;
}
#HeadingDivision {
width: 100%;
overflow: auto;
padding: 0px;
margin: 0px
}
#HeadingDivision1 {
width: 100%;
overflow: auto;
padding: 0px;
margin: 0px
}
#BodyDivision {
overflow: auto;
width: 100%;
height: 100%;
padding:0px;
margin: 0px
}
div.BodyDivisionSearch {
overflow: auto;
width: 100%;
height: 300px;
padding:0px;
margin: 0px
}
#HeadingSection {
  /*position: absolute;*/
}
#TableLocation {
 position: relative;
 vertical-align:top;
}
#GraphLocation {
position:absolute;
border-style: outset;
}
div.HeadingDivision {
width: 100%;
overflow: auto;
padding: 0px;
margin: 0px
}
div.HeadingDivision1 {
width: 100%;
overflow: auto;
padding: 0px;
margin: 0px
}
div.BodyDivision {
overflow: auto;
width: 100%;
height: 100%;
padding:0px;
margin: 0px
}
/*---------------------------------------------------------
 Pathology Results
----------------------------------------------------------*/
.ResultValue {
text-align: right;
font-family: Courier;
padding-right: 5px;
}
.ResultRef {
font-family: Courier;
text-align: center;
}
a:link {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #666666;
}
.CurrentIPLink:hover {
        color: #ff7d7d !important;
}

/*-------------------------------------------------------
   Bed Board Classes                        
--------------------------------------------------------*/
table.StandardTable {
  border-collapse: collapse;
  border: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100%;
}
table.StandardTable tr td.WardColumn {
  vertical-align: top;
}	

table.BedBoard {
  border-collapse: collapse;
  margin: 0px;
  width: 200px
}
table.BedBoard thead {overflow: none;}
table.BedBoard tbidy {overflow: auto;}
table.BedBoard tr.HeadingRow {
  background-color:#FFFFFF;
  height:10px;
}	
table.BedBoard tr td.HeadingBedCell {
  width:30px;
  border: 1px black solid;	
  text-align: center;
}	
table.BedBoard tr td.HeadingPatientCell {
  width:170px;
  border: 1px black solid;	
}

table.BedBoard tr.BedRow {
  height:70px;
}	
table.BedBoard tr td.BedCell {
  width:30px;
  border: 1px black solid;	
  text-align: center;
}	

table.BedBoard tr td.PatientCell {
  width:170px;
  white-space: nowrap;
  border: 1px black solid;	
}

table.BedBoard tr td.Room1 {
  border: 3px Red solid;
}

table.BedBoard tr td.Room2 {
  border: 3px Black solid;
}

a.Red:link, a.Red:visited, a.Red:hover {
  color:red
}

a.Blue:link, a.Blue:visited, a.Blue:hover {
  color:blue
}

a.White:link, a.White:visited, a.White:hover {
  color:white
}
span.DoseLabel {
}
span.DoseValue {
 font-weight:bold;
}
span.DoseROA {
}
span.DoseFreq {
 font-weight:bold;
}
span.DoseSpec {
 font-weight:bold;
}
span.DoseQual {
 font-style:italic;
}
fieldset TH {
 height:22px;
 color:white;
 padding:2px 5px 4px 5px;
 margin-bottom:2px;
 background: transparent repeat-x 0 -1px;
 font-weight:bold; 
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 line-height: 15px;
/* background-image: url(../images/blue-heading-cell.gif);*/
  border:1px solid lightgrey;
}
.tableCell {
 height:22px;
  padding:1px;
  border:1px solid lightgrey;
}
.ruledRow {
  padding:1px;
}
IMG.DocumentAdd {
 margin-top:2px;
 border:0;
 margin-left:0px;
 margin-right:3px;
 vertical-align:middle;
}
.WidgetContentTable TD {
 vertical-align:middle;
 padding:2px;
}
.x-panel-title {
  width:100%;
  padding-top:4px;
  padding-bottom:4px;
  padding-right:4px;
  line-height: 15px;
  background: transparent repeat-x 0 -1px;
  border:0 none;
  background:transparent;
  font-weight:bold; 
  font-size: 11px;
  font-family: tahoma,arial,verdana,sans-serif;
  color:#033738;
  border-color:#99bbe8;
  background-image: url(../images/panel-top.gif);
  overflow:hidden;
}
.x-panel-title-min {
    background-image: url(../images/panel-top-min.gif);
}
.Layout22 {
  table-layout:fixed;
  width:100%;
  height:75%;
  padding:5px;
  empty-cells:show;
}
.Layout22 TR {
  vertical-align:top;
}
.tdLayout22 {
  padding:1px;
  height:50%;
  overflow:hidden;
  clip:auto;
  border:1px solid lightgrey;
}
.WidgetTable {
  height:90%;
  overflow:auto;
  scrollbar-base-color:#e1eeef;
}
.WidgetSection {
  width:100%;
  overflow:hidden;
}
.Widget {
  height:99%;
  width:100%;
  position: absolute;
  margin:0px;
  padding:0px;
  border:1px solid lightblue;
  overflow:hidden;
  background-color:#e1eeef;
  scrollbar-base-color:#e1eeef;
}
.WidgetTitle {
padding-left:4px;
}
.WidgetLarge TD {
  font-size:10pt !important;
}
.WidgetLarge {
  height:90%;
  width:100%;
  position: absolute;
  margin:0px;
  padding:0px;
  border:1px solid lightblue;
  overflow:hidden;
  background-color:#e1eeef;
  scrollbar-base-color:#e1eeef;
}
.PatientBannerEx {
 overflow:hidden;
 width:100%;
 height:20px;
 line-height: 15px;
 font-weight:bold; 
 background-color:#ffffd9;
 background-color:#E0E0E0;
}
.PatientBannerEx TABLE {
 border-collapse: collapse;
}
.PatientBannerEx TABLE TR {
 vertical-align:top;
}
.PatientBannerEx TABLE TH {
 width:20%;
}
.PatientBannerEx SPAN {
 color:#666666;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.LinkMore {
 height:20px;
 width:auto;
 vertical-align:bottom;
 text-align:right;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.b-label {
  text-align:right;
  padding-right:2px;
}
.b-text {
  font-weight:bold;
}
.b-alert-table { 
 width:100%;
}
.b-alert-table td { 
 border:1px;
}
.b-alert-icon {
 overflow:hidden;
 background:no-repeat;
 float:left;
 background-position: -1px -1px;
 padding:0px;
 margin:0px;
 width:18px;
 height:18px;
 background-image:url(../images/BannerAlertIcon.gif);
}
.b-table {
 border:0;
 width:auto;
 padding:0;
 margin:0;
}
.b-table td {
 height:15px;
 border:0px;
}
.p-banner-table {
 border:1px solid #FFFFFF;
 width:100%;
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 color:#033738;
 text-align:left;
 white-space:nowrap;
 empty-cells:show;
}
.x-tool {
 width:15px;
 height:15px;
 padding:0px;
 margin:0px;
 overflow:hidden;
 background:no-repeat;
 background-image:url(../images/tool-sprites-g.gif);
 float:right;
 cursor:pointer;
}
.x-tool-left {
 width:15px;
 height:15px;
 padding:0px;
 margin:0px;
 overflow:hidden;
 background:no-repeat;
 background-image:url(../images/tool-sprites-g.gif);
 float:left;
 cursor:pointer;
}
.x-tool-loading {
  width:25px;
  height:25px;
  margin:0px;
  float:left;
  background-image:url(../images/loading.gif);
  background-repeat:no-repeat;
  background-position:center center;
  background-color:transparent;
}
.x-tool-close {
 background-position: 0px 0px;
}
.x-tool-close:hover  {
 background-position: -15px 0px;
}
.x-tool-min {
 background-position: 0px -15px;
}
.x-tool-min:hover {
 background-position: -15px -15px;
}
.x-tool-tile {
 background-position: 0px -45px;
}
.x-tool-tile:hover{
 background-position: -15px -45px;
}
.x-tool-maximise {
 background-position: -15px -45px;
}
.x-tool-maximise:hover{
 background-position: 0px -45px;
}
.x-tool-max {
 background-position: 0px -30px;
}
.x-tool-max:hover{
 background-position: -15px -30px;
}
.x-tool-expand {
 background-position: 0px -195px;
}
.x-tool-expand:hover{
 background-position: -15px -195px;
}
.x-tool-collapse {
 background-position: 0px -210px;
}
.x-tool-collapse:hover{
 background-position: -15px -210px;
}
.x-tool-help {
 background-position: 0px -300px;
}
.x-tool-help:hover {
 background-position: -15px -300px;
}
.w-frame {
 border:0;
}
.w-table {
  overflow:hidden;
}
.w-div {
  margin:4px;
  height:45%;
  width:49%;
  display:table-cell;
  border:1px solid lightblue;
  overflow:hidden;
  background-color:#e1eeef;
  float:left;
}
/*-------------------------------------------------------
   Miscellaneous useful formatting classes
--------------------------------------------------------*/
.nowrap { white-space: nowrap;}
.Black, .black { color: black; }
.Green, .green { color: green; }
.Red, .red { color: red; }
.Blue, .blue { color: blue; }
.Orange, .orange { color: orange; }
.White, .white { color: white; }
.PinkBackground { background-color: pink}
.BlueBackground { background-color: lightblue}
.GreenBackground { background-color: lightgreen}
.YellowBackground { background-color: cornsilk}
.YellowBrightBackground { background-color: yellow}
.RedBackground { background-color: red}
.Available { background-color: #99ff99; }	
.Blocked { background-color: gray; }	
.Large, large {font-size: 15pt;}
.PastDischargeDate { background-color: #FFC04D;}

.Left, .left { text-align: left; }
.Right, .right { text-align: right; }
.Center, .Centre, .center, .centre { text-align: center; }
.normal {font-weight: normal; font-style: normal;}
.italic {font-style: italic;}
.Bold, .bold { font-weight: bold;}
.TriageRadio {font-weight: bold; font-style: italic; font-size:large;}

#PopUpScreen {
 position: absolute;
background: url(../images/transparent_grey_1x1.png);
padding:2px;
margin:2px;
height:99%;
-webkit-border-radius:5px;
}

iframe {
border:1px solid black;
margin:2px;
padding:2px;
background: url(../images/transparent_grey_1x1.png);
-webkit-border-radius:0px;
}


iframe#content, iframe#menu {
border:0px solid black;
margin:0px;
padding:0px;
background: none;
-webkit-border-radius:0px;
}

td.TimeHeading {
background-color: #ffffcc;
font-weight: bold;
height:20px;
border:0;
margin:0;
padding:0;
text-align: center;
}

.DFrameTitleBar {
display: block;
/* background-image: url(../images/blue-heading-cell.gif); */
background-color: #7191B3;
/*JPJP*/
     background-color:#3e97b5;
border: 1px;
font-family: "MS Sans Serif", sans-serif;
font-weight: bold;
font-size: 8pt;
text-align: center;
margin: 0;
padding: 1px;
}

body.MenuBody {
 overflow:hidden;
 height: 50px;
 border: 0px;
 margin: 0px;
 BACKGROUND-IMAGE:url();
 background-color:#062e39;
/*Dedalus*/
 background-color:#bbc5c3; /*grey*/
 background-color:#115091; /*dark blue*/
}

a.sms {
 color:green;
}
.MenuHeader {
 background-color:#062e39;
/*Dedalus*/
 background-color:#115091;
 color: white;
 font-size: 12pt;
 font-weight: bold;
}
#DragHandle {
 height:1px;
 width:1px;
 border:0;
 color:transparent;
 cursor:se-resize;
}
#DragOutline {
 border:solid blue 1px;
 position:absolute;
 visibility:hidden;
 z-index:9999;
}
#DragResize {
 position:absolute;
 right:0;
 bottom:0;
 height:7px;
 width:7px;
 border:0;
 padding:0;
 margin:0;
 background-repeat:no-repeat;
 background-position:bottom right;
 background-image:url(../images/resize.gif);
 cursor:se-resize;
}
#fadeout {
 background-color:#000000;
 opacity: 0.40;
 filter:alpha(opacity=.40);
 position:absolute;
 z-index: 901;
 top:0px;
 left:0px;
 width:100%;
 height:100%;
}
#PopUpFrame {
 overflow:hidden;
 /*background-color:#e1eeef;*/
}
#GraphScreen {
 position:absolute;
 z-index: 9999;
 border: solid 1px #99bbe8;
 background-color:#e1eeef;
}
.BodyFade {
 filter:alpha(opacity=50);
 -moz-opacity:0.5;
 -khtml-opacity: 0.5;
 opacity: 0.5;
}
.x-tool {
 width:15px;
 height:15px;
 padding:0px;
 margin:0px;
 margin-right:2px;
 overflow:hidden;
 background:no-repeat;
 background-image:url(../images/tool-sprites-g.gif);
 float:right;
 cursor:pointer;
}
.x-tool-loading {
  width:25px;
  height:25px;
  margin:0px;
  float:left;
  background-image:url(../images/loading.gif);
  background-repeat:no-repeat;
  background-position:center center;
  background-color:transparent;
}
.x-tool-close {
 background-position: 0px 0px;
}
.x-tool-close:hover  {
 background-position: -15px 0px;
}
.x-tool-min {
 background-position: 0px -15px;
}
.x-tool-min:hover {
 background-position: -15px -15px;
}
.x-tool-tile {
 background-position: 0px -45px;
}
.x-tool-tile:hover{
 background-position: -15px -45px;
}
.x-tool-maximise {
 background-position: -15px -45px;
}
.x-tool-maximise:hover{
 background-position: 0px -45px;
}
.x-tool-max {
 background-position: 0px -30px;
}
.x-tool-max:hover{
 background-position: -15px -30px;
}
.x-tool-expand {
 background-position: 0px -195px;
}
.x-tool-expand:hover{
 background-position: -15px -195px;
}
.x-tool-collapse {
 background-position: 0px -210px;
}
.x-tool-collapse:hover{
 background-position: -15px -210px;
}
.x-tool-help {
 background-position: 0px -300px;
}
.x-tool-help:hover {
 background-position: -15px -300px;
}
.x-tool-print{
 background-position: 0px -315px;
}
.x-tool-print:hover {
 background-position: -15px -315px;
}

.DFrameTitleBar {
    overflow:hidden;
    line-height: 15px;
    /*background: transparent repeat-x 0 -1px;*/
    border:0 none;
    margin:0px;
    /*margin-bottom:5px;*/
    /*background:transparent;*/
    font-weight:bold;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    /*color:#033738;*/
    color:#fff;
    /*border-color:#99bbe8;*/
    padding-top:4px;
    padding-bottom:4px;
    /*background-image: url(../images/panel-top.gif);*/
    cursor:move;
}
.TitleBar {
    overflow:hidden;
    /*padding:5px 5px 4px 5px;*/
    margin-bottom:3px;
    line-height: 15px;
    /*background: transparent repeat-x 0 -1px;*/
    border:0 none;
    /*background:transparent;*/
    font-weight:bold;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    color:#033738;
    border-color:#99bbe8;
    /*background-image: url(../images/panel-top.gif);*/
    cursor:move;
    display: block;
    background-color:#3e97b5;
    color:#fff;
    padding-top:4px;
    padding-bottom:4px;
}
div.DivSearchResult {
 margin:0px;
 padding:0px;
 overflow:auto;
 position:absolute;
 visibility:hidden;
 background-color:white;
 top:0px;
 right:0px;
 width:500px;
 height:250px;
 border:1px solid lightgray;
}
.DivSearchResult TD.HeadingCell {
  text-align:left;
  border-bottom:1px gray solid;
  border-left:1px gray solid;
  border-right:1px gray solid;
  border-collapse: collapse;
  background-color:silver;
  color:black;
  font-weight:normal;
}
.DivSearchResult b {
  font-weight:normal;
}
.DivSearchResult TD {
  border-bottom:1px silver dotted;
  border-right:1px silver dotted;
  white-space:nowrap;
  padding-right:10px;
  padding-left:2px;
}
TD.DataField {
 font-size:9pt;
}
.Monitor1 {
  position:relative;
  float:left;
  border-top:solid 1px white;
  border-left:solid 1px white;
  width:250px;
  height:200px;
}
.Monitor2 {
  position:relative;
  border-top:solid 1px white;
  border-left:solid 1px white;
  width:250px;
  height:200px;
  position:relative;
  float:right;
}
TR.TableRowOdd {
  vertical-align: top;
}
TR.TableRowChartReview {
  vertical-align: top;
}
.xxxxxx {
  background-color: white;
  background-image:url(../images/BGRowBlue.gif);
  background-color: white;
  background-image:url(../images/BGRowLightBlue.gif);
}
TR.TableRowEven {
  vertical-align: top;
}
TR.TableRowTotal {
  BACKGROUND-COLOR: #65cdcb;
  VERTICAL-ALIGN: top;
  background-image:url(../images/BGRowLightGray.gif);
}
BODY {
 background-color: #FFFFFF;
 border:0px;
}


TD.HeaderCell {
 BACKGROUND-COLOR: #65cdcb;
 COLOR: white;
 CURSOR: pointer;
 FONT-WEIGHT: normal;
 TEXT-DECORATION: underline;
 background-image: url(../images/header-cell.gif);
}
TD.HeadingCell A {
 color:white;
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:visited {
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:hover {
 FONT-WEIGHT: bold;
 COLOR: blue;
 TEXT-DECORATION: none;
}
TD.HeadingCell {
 border-collapse: collapse;
 color:white;
 padding:2px 5px 4px 5px;
 margin-bottom:2px;
 background: transparent repeat-x 0 -1px;
 font-weight:bold;
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 line-height: 12px;
/* background-image: url(../images/blue-heading-cell.gif);*/
/*JPJP*/ 
 background-color:#3e97b5;
}
TD.HeadingCellB {
 border:1px gray solid;
 border-collapse: collapse;
}
#PatientMenu {
 background-color:#75b3b7;
 background-color:white;
 background-color:black;
/*JPJP*/
 background-color:#c2db6f;
/* background-image: url(../images/blue-patient-menu.gif);*/
}
/*
.MenuIcon {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px;
}
.MenuLoginDetails {
        BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; PADDING-LEFT: 10px; WIDTH: 20%; COLOR: white; FONT-SIZE: 10pt; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
.MenuNameDetails {
        BORDER-BOTTOM: 0px; TEXT-ALIGN: right; BORDER-LEFT: 0px; WIDTH: 30%; PADDING-RIGHT: 10px; COLOR: white; FONT-SIZE: 10pt; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
.MenuHospitalDetails {
        TEXT-ALIGN: center; COLOR: white; FONT-SIZE: 10pt;
}
SELECT.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
INPUT.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
TEXTAREA.MandatoryNew {
        BACKGROUND-COLOR: #fff0c6;
}
.MenuLoginDetails {
        BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px;
        PADDING-LEFT: 0px; WIDTH: 20%; COLOR: white; FONT-SIZE: 10pt; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
*/
SPAN.MenuItems {
    position:absolute;
    display: block;
    background: buttonface;
    border: 1px outset ;
    padding: 1px 0;
    text-indent: 5px;
    text-decoration: none;
    color: black;
    font-size:8pt;
    font-family:Microsoft Sans Serif;
}
SPAN.MenuItems a:hover{
    color:red;
    background-color:ButtonFace;
}
SPAN.MenuItems a{
    display: block;
    background-color: White;
    padding: 2px 0;
    margin-left:20px;
    width: 180px;
    text-indent: 5px;
    height:19px;
    text-decoration: none;
    color: black;
}

.dhtmlselect .downimage{ /*style of "down" image to the right of the DHTML Select Menu*/
position: relative;
display:inline;
text-align:right;
vertical-align:middle;
margin-right:5px;
}
.dhtmlselect .dropdown{ /*style of Drop Down Menu that appears onMouseover */
position: absolute;
left: 0;
width: 200px; /*default width of drop down menu*/
border: 1px solid black;
border-bottom-width: 0;
display: none;
z-index: 1000;
font-weight: normal;
}
.dhtmlselect .dropdown a{ /*style of Drop Down Menu's links */
width: auto;
display: block;
background: #fff7d1;
border-bottom: 1px solid black;
padding: 1px 0;
text-indent: 5px;
text-decoration: none;
color: black;
}
* html .dhtmlselect .dropdown a{ /*IE 6 (and below) hack */
    width: 100%;
}
.dhtmlselect .dropdown a:hover {
     background-color: #ffe469;
}
TABLE {
        BORDER-COLLAPSE: collapse;
}
/*
.MenuSelectList {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
*/
.MenuIcon {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; CURSOR: pointer; MARGIN-RIGHT: 0px; BORDER-RIGHT: 0px;
}
TD.IPDataField {
        COLOR: yellow;
}
A.linkbox:link {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:active {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:visited {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}
A.linkbox:hover {
        PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; PADDING-TOP: 5px;
}

INPUT.SFSButton {
  WIDTH: 20px;
  Font-weight:bold ;
  FONT-SIZE: 8pt;
  CURSOR: pointer;
}

table.AJAXCalendar {
padding:0;
}
table.AJAXCalendar TD {
padding:0;
margin:0;
}
input.Daybutton {
font-size: 8pt;
border:0;
margin:0;
padding:0;
text-align: center;
height: 21px;
width: 100%;
}
input.MonthButton {
font-size: 8pt;
 margin:0;
 padding:0;
 text-align: center;
 height: 35px;
 width: 57px;
}
input.YearButton {
font-size: 8pt;
 margin:0;
 padding:0;
 text-align: center;
 height: 29px;
 width: 44px;
}
input.CalMonth {
  border:0;
  text-align:right;
  margin-top:0px;
  padding-top:0px;
  padding-bottom:5px;
  width: 60px;
}
input.CalYear {
  border:0;
  text-align:left;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:4px;
  width: 60px;
}
input.WeekEndButton {
width: 100%;
font-size: 8pt ;
height: 21px;
border:0;
margin:0;
padding:0;
background-color: #AAAAAA;
}
td.DayHeadingCell {
background-color: #ffffcc;
font-weight: bold;
width: 25px;
height:20px;
border:0;
margin:0;
padding:0;
text-align: center;
}
input.calLastMonth {
width:20px;
font-size: 8pt ;
height: 20px;
margin:0;
padding:0;
}
input.calNextMonth {
width:20px;
font-size: 8pt ;
height: 20px;
margin:0;
padding:0;
}
input.TimeButtonVal {
font-size: 8pt;
width: 24px;
height: 24px;
padding:0px;
text-align: center;
}
input.TimeButton {
font-size: 8pt ;
border:0;
background-color:white;
color:blue;
font-decoration:underline;
height: 20px;
width: 30px;
margin:0;
padding:0;
}
td.TimeHeading {
background-color: #ffffcc;
font-weight: bold;
height:20px;
border:0;
margin:0;
padding:0;
text-align: center;
}


/* end new UI */
.MenuiFrame {
 position:absolute;
 display:inline;
 top:0px;
 left:0px;
 width:100%;
 height:50px;
 border:0px;
 overflow:hidden;
}
.ContentiFrame {
 position:relative;
 display:inline;
 top:50px;
 width:100%;
 height:100%;
 border:0px;
}

.CheckBoxCombo {
 border-right: silver 1px solid;
 border-top: thin inset;
 margin-top: 2px;
 margin-bottom: 2px;
 overflow: auto;
 border-left: thin inset;
 border-bottom: silver 1px solid;
 background-color: white
}
.CheckBoxComboMandatory {
 border-right: silver 1px solid;
 border-top: thin inset;
 margin-top: 2px;
 margin-bottom: 2px;
 overflow: auto;
 border-left: thin inset;
 border-bottom: silver 1px solid;
 background-color: #ACC5E0;
}

/* Entries for NZ MoH eSAM interface */
#esamPanel  {position: absolute;
          top: 130px; left: 450px;
          width: 400px;
          overflow: auto;
          background-color: #ffffdd;
          z-index: 100;
          display: none;
          border: 2px solid #437f7f;}
#esamPanel li {list-style: circle; font-size: 10pt;}
#esamPanel li a {text-decoration: none; color: #317070;}
#esamPanel li a:hover  {font-weight: bold; color: 333333;}

/* Print rules only */
@media print {

#HeadingSection, #HeadingDivision, #HeadingDivision1 {
	position: relative;
	overflow: hidden;
	}

body, #TableLocation, #BodyDivision {
	position: relative;
	overflow: visible !important;
	height: auto;
        float: none;
	}

p.break {page-break-before: always}
} /* end print @media rules */

/* tablesort filter properties*/
.SearchAllTable {
 vertical-align:middle;
 text-align:middle;
 background: url("../images/ButtonSprite.png")  -180px -20px no-repeat;
 background-color:white;
 padding-left:22px;
 height:22px;
}
.ButtonIcon {
 height:22px;
 width:22px;
 margin-top:2px;
 margin-left:2px;
 margin-right:0px;
 padding:0;
 vertical-align:middle;
 background-color:#ccc !important;
 background-position:center;
}
.FilterPlusIcon {
 background: url("../images/ButtonSprite.png")  -22px -22px no-repeat;
}
.FilterMinusIcon {
 background: url("../images/ButtonSprite.png")  -22px -42px no-repeat;
}
.PrinterIcon {
 background: url("../images/ButtonSprite.png")  -2px -22px no-repeat;
}
/* end tablesort filter properties*/
.StatusIcon0 {
}
.StatusIcon1 {
 background: url("../images/AlertSprite.png")  -60px -20px no-repeat;
 width:20px;
 height:20px;
}
.StatusIcon2 {
 background: url("../images/AlertSprite.png")  -0px -140px no-repeat;
 width:20px;
 height:20px;
}
.FilterName {
  color:lightblue;
}
.TableFilter {
  border:0;
  margin:0;
  padding:0;
  width:100%;
}
.CodeLine {
 width:100%;
 margin-top:3px;
 padding-bottom:3px;
 border-bottom:1px solid #ccc;
}
.CodeDescription {
 font-size:8pt;
 margin-top:1px;
 padding-top:1px;
 padding-left:1px;
 padding-right:1px;
 border:2px inset;
 background-color:white;
 vertical-align:top;
 width:430px;
}

hr {
 margin:5px 0px;  /* top & bottom margin of 5px */
}

tr.LSExclude { background-color: #FF9999; }

.AddressList {
  list-style: none;
  background-color: #ececec;
  margin: 1px 0px;
  padding-left: 3px;
  padding-right: 10px;
  padding: 1px\9;  /* IE8 and below */
}
.AddressList li {
  width: 100%;
  padding: 5px 3px;
  padding: 1px\9;  /* IE8 and below */
  cursor: pointer;
}
.AddressList li:hover {
  color: white;
  background-color: #666;
  border: solid 1px #a5b0b5;
  border-radius: 3px;
}
.AddressList li a {
  text-decoration: none;
  color: black;
  padding: 5px 3px;
  display: block;
}
.AddressList li a:hover {
  text-decoration: none;
  color: black;
  background-color: #d6dee0;
  border: solid 1px #a5b0b5;
}

/* 
   v11.02 styles
*/

/* Input fields */
input:not([readonly]), img[onclick], img[date], img[time] {
  -webkit-transition: box-shadow 100ms, border-color 100ms;
  -moz-transition: box-shadow 100ms, border-color 100ms;
  transition: box-shadow 100ms, border-color 100ms;
}
input:not([readonly]):hover, img[onclick]:hover, img[date]:hover, img[time]:hover {
  border-radius: 0.2em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
  cursor: pointer;
}
input:not([readonly]):focus, img[onclick]:focus, img[date]:focus, img[time]:focus {
  border-radius: 0.2em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
}

input[class*="DayButton"], input[class*="WeekEndButton"] {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
input[class*="DayButton"]:hover, input[class*="WeekEndButton"]:hover {
  box-shadow: none;
  cursor: default;
}
input[class*="DayButton"]:focus, input[class*="WeekEndButton"]:focus {
  box-shadow: none;
}

select:not([disabled]), textarea:not([readonly]), a img, td img[onclick] {
  -webkit-transition: box-shadow 100ms, border-color 100ms;
  -moz-transition: box-shadow 100ms, border-color 100ms;
  transition: box-shadow 100ms, border-color 100ms;
}
select:not([disabled]):hover, textarea:not([readonly]):hover, a img:hover, td img[onclick]:hover {
  border-radius: 0.2em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
  cursor: pointer;
}
select:not([disabled]):focus, textarea:not([readonly]):focus, a img:focus, td img[onclick]:focus {
  border-radius: 0.2em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
}


/* New menu styles for V11.02 */

#PatientMenu {
  color:#fff;
  background-color:#c2db6f;
}

select.MenuSelectListMed {
  width: 200px;
}

select.MenuSelectListBig {
  width: 230px;
}

select.MenuSelectListVBig {
  width: 260px;
}

select.MenuSelectListHuge {
  width: 290px;
}

select.MenuSelectList, select.MenuSelectListMed, select.MenuSelectListBig, select.MenuSelectListVBig, select.MenuSelectListHuge, #PatientMenu select {
  position: relative;
  -webkit-appearance: button;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 1.6em;
  margin: 2px;
  padding: 0.1em 0.2em;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 0.4em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:8pt;
  font-weight: normal;
  overflow: hidden;
  text-shadow: 0 1px 0 white;
  -webkit-transition: box-shadow 100ms, border-color 100ms;
  -moz-transition: box-shadow 100ms, border-color 100ms;
  transition: box-shadow 100ms, border-color 100ms;
  white-space: nowrap; 
  cursor: pointer;
}
select.MenuSelectList option, select.MenuSelectListMed, select.MenuSelectListBig, select.MenuSelectListVBig, select.MenuSelectListHuge, #PatientMenu select option {
  text-shadow: none; 
}
select.MenuSelectList:not([size]):focus, select.MenuSelectListMed:not([size]):focus, select.MenuSelectListBig:not([size]):focus, select.MenuSelectListVBig:not([size]):focus, select.MenuSelectListHuge:not([size]):focus, #PatientMenu select:not([size]):focus {
  outline: none;
  border-color: #66ccff;
  border-radius: 0.4em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 4px #66ccff; 
}
select.MenuSelectList:not([size]):hover, select.MenuSelectListMed:not([size]):hover, select.MenuSelectListBig:not([size]):hover, select.MenuSelectListVBig:not([size]):hover, select.MenuSelectListHuge:not([size]):hover, #PatientMenu select:not([size]):hover {
  border-radius: 0.4em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
}
select.MenuSelectList:not([size]), select.MenuSelectListMed:not([size]), select.MenuSelectListBig:not([size]), select.MenuSelectListVBig:not([size]), select.MenuSelectListHuge:not([size]), #PatientMenu select:not([size]) {
  border-color: #ececec;
  border-radius: 0.4em;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(top, white, #ececec);
  background-image: -moz-linear-gradient(top, white, #ececec);
  background-image: -ms-linear-gradient(top, white, #ececec);
  background-image: -o-linear-gradient(top, white, #ececec);
  background-image: linear-gradient(top, white, #ececec); 
}


/* Webkit */
@media all and (-webkit-min-device-pixel-ratio: 0) {
  select.MenuSelectList:not([size]), select.MenuSelectListMed:not([size]), select.MenuSelectListBig:not([size]), select.MenuSelectListVBig:not([size]), select.MenuSelectListHuge:not([size]), #PatientMenu select:not([size]) {
    padding-right: 30px; 
  }
  select.MenuSelectList:not([size]), select.MenuSelectListMed:not([size]), select.MenuSelectListBig:not([size]), select.MenuSelectListVBig:not([size]), select.MenuSelectListHuge:not([size]), #PatientMenu select:not([size]) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAzElEQVRIDWP8//8/Ay0BE8zws2fPgmyium1wC2AWUZsetYBgiI4GEcEgYiGoAqqgq6trGZAZia4emFGXlZeXR6OLw/hEx8G/f/+ygYY9hWkE0UD+IyCVhSyGzibagoqKiveMjIyJIHNBhgAN/wekYoGu/wji4wJEWwAyoKysbDfQ4ClQw7qAhh/CZTBMnOg4gGl4+fJluYSEhNC9e/fqYGJ4aaCLQN5lOHPmDJACAzAfyKIKTVIQ4XUpDslRC3AEDEJ46AcRIyg50hIAANnugKRDswA6AAAAAElFTkSuQmCC"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ededed));

    background-image: url("data:image/svg+xml;utf8,<svg width='24px' height='22px' version='1.1' xmlns='http://www.w3.org/2000/svg'><title>select-arrow</title><g id='arrow-group' fill='rgb(223,223,223)' fill-rule='evenodd'><path d='M10,9 L13.4690265,14 L17,9 L10,9 Z M10,9' id='arrow' fill='rgb(155,155,155)'></path><path d='M2,1 L2,21 L3,21 L3,1 L2,1 Z M2,1' id='dark-line' fill='rgb(213,213,213)'></path><path d='M3,1 L3,21 L4,21 L4,1 L3,1 Z M3,1' id='light-line' fill='rgb(254,255,255)'></path></g></svg>"), -webkit-linear-gradient(-90deg, white 0%, #ededed 100%);

    background-repeat: no-repeat, repeat;
    background-position: 102% 65%, 0 0; 
  }
}


/* Firefox - use a wrap */
@-moz-document url-prefix() {
  select.MenuSelectList:not([size]), select.MenuSelectListMed:not([size]), select.MenuSelectListBig:not([size]), select.MenuSelectListVBig:not([size]), select.MenuSelectListHuge:not([size]), #PatientMenu select:not([size]) {
    max-width: 999px !important;
  }
  select.MenuSelectList option, select.MenuSelectListMed option, select.MenuSelectListBig option, select.MenuSelectListVBig option, select.MenuSelectListHuge option, #PatientMenu option {
    padding-right: 10px; 
  }
}

/* IE11 */
@media screen and (min-width: 0 \0) {
  select.MenuSelectList:not([size])::-ms-expand, select.MenuSelectListMed:not([size])::-ms-expand, select.MenuSelectListBig:not([size])::-ms-expand, select.MenuSelectListVBig:not([size])::-ms-expand, select.MenuSelectListHuge:not([size])::-ms-expand, #PatientMenu select:not([size])::-ms-expand {
    background: transparent;
    border: none;
    width: 12px;
    padding-left: 5px; 
  }
  select.MenuSelectList:not([size]), select.MenuSelectListMed:not([size]), select.MenuSelectListBig:not([size]), select.MenuSelectListVBig:not([size]), select.MenuSelectListHuge:not([size]), #PatientMenu select:not([size]) {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4); 
  }
  select.MenuSelectList:not([size]):focus, select.MenuSelectListMed:not([size]):focus, select.MenuSelectListBig:not([size]):focus, select.MenuSelectListVBig:not([size]):focus, select.MenuSelectListHuge:not([size]):focus, #PatientMenu select:not([size]):focus {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 4px #66ccff; 
  }
  select.MenuSelectList:not([size]):hover, select.MenuSelectListMed:not([size]):hover, select.MenuSelectListBig:not([size]):hover, select.MenuSelectListVBig:not([size]):hover, select.MenuSelectListHuge:not([size]):hover, #PatientMenu select:not([size]):hover {
    border-color: white;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #66ccff; 
  } 
}

/* TableSort rows */
tr.TableRowEven:hover {
  background-color: #ececec;
}
tr.TableRowOdd:hover {
  background-color: #ececec;
}

/* Waiting Dialog */
.WaitBox {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 35%;
  left: 45%;
  width: 220px;
  height: 90px;
  background: #ffffff;
  color: #333;
  font-size: 12px;
  z-index: 10000;

  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 8px #888888;
}
.WaitImage {
  margin-top: 20px;
  vertical-align: middle;
}
.DimmedLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.2);
}

/* Highlight the selected options in a multi-select list */
select[multiple] option:checked {
  background-image: linear-gradient(0deg, #2B8CFF 0%, #2B8CFF 100%);
  color: white;
  -webkit-text-fill-color: white;  /* Firefox */
}
select[multiple] option:hover {
  background-color: #2B8CFF;
  color: white;
}
.Paed {
  border:0;
  vertical-align:middle;
  margin:0px 0px 2px 2px;
  background: url(../images/PaediatricIcon.gif) no-repeat;
  width:20px;
  height:20px;
  display: inline-block;
}
.URField {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: black;
}
.VisitNoField {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  color: blue;
}
