/* -------------------------------------------------------------
   cssVersion : V12.00.01
   ------------------------------------------------------------- */
.defaultSkin table.mceLayout { 
 width:600px !important;
 border:0;
 margin:0px auto;
}
body, td {
 color:#000; 
 font-family:Calibri, Verdana, Arial, Helvetica, sans-serif; 
 font-size:14px;
 margin:8px;
}
.notetext {
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
}
table.obstable {
 font-family:Calibri, Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px;
}
tr.obshead {
 font-family:Calibri, Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px;
 font-weight:bold;
}
tr.obsline {
 font-family:Calibri, Verdana, Arial, Helvetica, sans-serif; 
 font-size:12px;
}
.medicationTable {
  border:1px solid #ccc;
}
.medicationHeading {
 vertical-align:top;
 font-weight:bold;
}
.medicationRow {
 vertical-align:top;
}
.medicationName {
 white-space:nowrap;
 border-top:1px solid #ccc;
 padding:2px;
}
.medicationDose {
 white-space:nowrap;
 border-top:1px solid #ccc;
 padding:2px;
}
.medicationInstuctions {
 white-space:nowrap;
 border-top:1px solid #ccc;
 padding:2px;
}
div.resultCom > pre {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
