/*
   Style rules for dynaMenu 
*/
   .clsMenuTitle { 
      cursor:hand; 
      width: 90px;
      font: 8;
    }



   .clsMenu { 
      border:solid 2; border-color:black black black black; background-color:yellow; background-image:url(/images/paper.gif);
      position:absolute; display:none; padding:1px; width:180px; z-index:1; padding-left:5px; 
      font-family:verdana; font-size:8pt; 
      }



   .clsMenu A { text-decoration:none; color:black; }


   .clsMenu A:hover { color:blue; }
