/*-----------------------------------------------------------
   cssVersion : V12.00.00

   Menu Frame Standards
   V11.05.01  06/02/2025  Alina Bhari       TSK 0951353
              Added aboriginalityIcon classes                                  
   V11.03.01  30/11/2022  Don Nguyen        TSK 0926796
              Added cursor pointer styles for relevant icons that are clickable
   V11.00.01  27/06/2020  Thanh T           TSK 0864109
              Added LegalStatusIcon1
   V10.09.01  19/01/2017  J.Tan             TSK 0808741
              Added MechVentIcon1
   V10.08.01  06/10/2015  Ebon Clements     TSK 0320737
              Added TheatreToday0 and TheatreToday1
   V10.05.00  16/02/2015  Don Nguyen        CAR 283200
              Added SameSurnameIcon classes
   V10.04.00  14/05/2014  B.G.Ackland       CAR 301063
              Sytlesheet for WardMap View
-----------------------------------------------------------*/
body {
  background-color:white !important;
}
.StandByBed {
 background: url("../images/CellHighlightRed.png") no-repeat;
}
.MapHeadingCell {
  font-weight:bold;
  font-size:17px;
  color:#324f85;
  padding:4px;
  background-color:#DBE1EC;
}
.LocationHeading  {
  background-color:#ddd;
  height:20px;
  padding:2px 0px;
  width:100%;
  text-align:center;
  font-weight:bold;
}
.LocationStyle {
  font-size: 8pt;
  border:1px solid silver;
  background-color: transparent;
  position: absolute;
}
.PatientStyle {
  border:2px solid #ddd;
  font-size: 9pt;
  clip: rect(0px 227px 152px 0px);
  position: absolute;
  padding:0;
  margin:0;
  height:148px;
  width:224px;
  background-color: #fff; 
}
.PatientLinks {
 display:none;
 position:absolute;
 width:240px;
 margin:10px;
 border:1px solid #eee;
}
.BedStatus1 {
 background-color:#efefef !important;
}
.label {
 font-size:8pt;
 color:#aaa;
}
.labelFx {
 font-size:8pt;
 color:#aaa;
 width:20%;
}
.labelSx {
 font-size:8pt;
 color:#aaa;
 width:30px;
}
.cell {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:100%;
}
.cell30 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:30%;
 display:inline-block;
}
.cell40 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:40%;
 display:inline-block;
}
.cell33 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:33%;
 display:inline-block;
}
.cell50 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:50%;
 display:inline-block;
}
.cell50r {
 text-align:right;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:49%;
 display:inline-block;
}
.row3, .row4, .row7 {
margin-left:2px;
}
.row2, .row3, .row4, .row5, .row6  {
 height:20px;
}
.row1  {
 height:20px;
 border-bottom:1px solid lightgray;
 line-height:20px;
 background-color: #dbe1ec; 
 width:100%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.cellAlerts {
 width:100%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.cellSex {
 position:absolute;
 right:0;
 top:-2px;
 display:inline-block;
}
.cellAge {
 width:20%;
 white-space:nowrap;
 text-align:right;
 overflow:hidden;
 text-overflow:ellipsis;
 display:inline-block;
 padding-right:2px;
}
.cellLocation0, .cellLocation2 {
 width:15%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 display:inline-block;
 text-align:center;
}
.cellPatientName0, .cellPatientName2 {
 text-overflow:ellipsis;
 display:inline-block;
 width:55%;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.cellLocation1 {
 display:hidden;
}
.cellPatientName1 {
 text-overflow:ellipsis;
 display:inline-block;
 width:70%;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.BedSex {
 position:absolute;
 bottom:1px;
 right:1px;
}
.SexM {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -180px -140px no-repeat;
 width:20px;
 height:20px;
}
.SexF {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -160px -140px no-repeat;
 width:20px;
 height:20px;
}
.PaediatricIcon0 {
 display:none;
}
.PaediatricIcon1 {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -160px -80px no-repeat;
 width:20px;
 height:20px;
}
.MechVentIcon1 {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/mv_1.png") no-repeat;
 width:20px;
 height:20px;
 cursor:pointer;
}
.lineIcon {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -0px -180px no-repeat;
 width:1px;
 height:20px;
}
#ImageLocation {
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.AlertIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -20px -20px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.EMAlert4 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert5 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -80px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert6 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert7 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert8 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert9 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.AlertIcon2 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -40px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertDelete {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertResult {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
  width:20px;
  height:20px;
}
.EMSadFace {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -160px -40px no-repeat;
  width:20px;
  height:20px;
}
.EMSadFaceLos {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -140px -40px no-repeat;
  width:20px;
  height:20px;
}
.ResultIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ResultIcon2 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.NoteIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -0px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.DocumentIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -0px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.FolderIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -122px no-repeat;   /* Yellow */
  width:20px;
  height:20px;
}
.SameSurnameIcon0 {
 display:none;
}
.SameSurnameIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/samename.gif")  -0px -0px no-repeat;
  width:20px;
  height:20px;
}
.aboriginalityIcon0 {
 display:none;
}
.aboriginalityIconD {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/aboriginality.png")  -0px -0px no-repeat;
  width:55px;
  height:20px;
}
.TheatreToday0 {
 display:none;
}
.TheatreToday1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/OutpatientStatus1.gif")  -0px -0px no-repeat;
  width:20px;
  height:20px;
}
.LegalStatusIcon0 {
 display:none;
}
.LegalStatusIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/target1a.gif")  -0px -0px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.FolderIcon001, .FolderIcon00P, .FolderIcon011, .FolderIcon01P,
.FolderIcon021, .FolderIcon02P, .FolderIcon031, .FolderIcon03P,
.FolderIcon111, .FolderIcon101, .FolderIcon121, .FolderIcon131, .FolderIcon13P {
  background: url("../images/AlertSprite.png")  -0 -242px no-repeat;     /* Secure Yellow */
}
.FolderIcon10P, .FolderIcon11P, .FolderIcon12P {
  background: url("../images/AlertSprite.png")  -40 -242px no-repeat;    /* Secure Green */
}
.FolderIcon100, .FolderIcon110, .FolderIcon120 {
  background: url("../images/AlertSprite.png")  -40 -222px no-repeat;    /* Green */
}
.FolderIcon03P, .FolderIcon20P, .FolderIcon21P, .FolderIcon22P {
  background: url("../images/AlertSprite.png")  -20 -242px no-repeat;    /* Secure Red */
}
.FolderIcon030, .FolderIcon200, .FolderIcon210, .FolderIcon220 {
  background: url("../images/AlertSprite.png")  -20 -222px no-repeat;    /* Red */
}
.FolderIcon30P, .FolderIcon31P, .FolderIcon32P, .FolderIcon33P, .FolderIcon43P {
  background: url("../images/AlertSprite.png")  -120 -242px no-repeat;   /* Secure Purple */
}
.FolderIcon300, .FolderIcon310, .FolderIcon320, .FolderIcon330, .FolderIcon430 {
  background: url("../images/AlertSprite.png")  -120 -222px no-repeat;   /* Purple */
}
.FolderIcon40P, .FolderIcon41P, .FolderIcon42P {
  background: url("../images/AlertSprite.png")  -60 -242px no-repeat;    /* Secure Blue */
}
.FolderIcon400, .FolderIcon410, .FolderIcon420 {
  background: url("../images/AlertSprite.png")  -60 -222px no-repeat;    /* Blue */
}
.FolderIcon50P, .FolderIcon51P, .FolderIcon52P {
  background: url("../images/AlertSprite.png")  -80 -242px no-repeat;    /* Secure Brown */
}
.FolderIcon500, .FolderIcon510, .FolderIcon520 {
  background: url("../images/AlertSprite.png")  -80 -222px no-repeat;    /* Brown */
}
.FolderIcon60P, .FolderIcon61P, .FolderIcon62P {
  background: url("../images/AlertSprite.png")  -140 -242px no-repeat;   /* Secure Black */
}
.FolderIcon600, .FolderIcon610, .FolderIcon620 {
  background: url("../images/AlertSprite.png")  -140 -222px no-repeat;   /* Black */
}
.FolderIcon70P, .FolderIcon71P, .FolderIcon72P {
  background: url("../images/AlertSprite.png")  -100px -242px no-repeat; /* Secure Orange */
}
.FolderIcon700, .FolderIcon710, .FolderIcon720 {
  background: url("../images/AlertSprite.png")  -100px -222px no-repeat; /* Orange */
}
.FolderIcon80P, .FolderIcon81P, .FolderIcon82P {
  background: url("../images/AlertSprite.png")  -20px -242px no-repeat; /* Secure Red */
}
.FolderIcon800, .FolderIcon810, .FolderIcon820 {
  background: url("../images/AlertSprite.png")  -20px -222px no-repeat; /* Red */
}
.FolderIcon90P, .FolderIcon91P, .FolderIcon92P {
  background: url("../images/AlertSprite.png")  -40px -242px no-repeat; /* Secure Green */
}
.FolderIcon900, .FolderIcon910, .FolderIcon920 {
  background: url("../images/AlertSprite.png")  -40px -222px no-repeat; /* Green */
}
.FolderIcon000, .FolderIcon010 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -122px no-repeat;
  width:20px;
  height:20px;
}
.FolderIcon020 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -100px no-repeat;
  width:20px;
  height:20px;
}
.DietIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -60px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIcon0 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIcon2 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -80px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIcon3 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -180px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIconB {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.ConditionIconD {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -180px -100px no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
}
.CurrDischDate {
 background-color:lightgreen;
}
.PastDischDate {
 color:white;
 background-color:#BF1D38;
}
.standBy1 {
 background-color: yellow; 
 color:black;
}
.StandByIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -160px no-repeat;
  width:20px;
  height:20px;
}
#PopUpScreen { z-index:9999; }
