/*-----------------------------------------------------------
   cssVersion : V12.00.00

   Menu Frame Standards
   V11.05.01  06/02/2025  Alina Bhari       TSK 0951353
              Added aboriginalityIcon classes
   V10.08.01  06/10/2015  Ebon Clements     TSK 0320737
              Added TheatreToday0 and TheatreToday1
   V10.05.03  26.02.2015  B.G.Ackland       CAR 313494 
              Added CurrDischDate with background-color:lightgreen;
   V10.05.02  16/02/2015  Don Nguyen        CAR 283200
              Added SameSurnameIcon classes
   V10.05.01  08/08/2014  B.G.Ackland       CAR 300303
              Whiteboard Configurable Condition Details
-----------------------------------------------------------*/
body {
  background-color:white !important;
}
table {
 border-collapse:collapse;
 empty-cells:show;
}
td {
  font-size:100%;
}
.SettingGearIcon {
 display:inline-block;
 width:20px;
 height:20px;
 background: url("../images/ButtonSprite.png")  -140px -20px no-repeat;
}
.SaveForm {
  display:none;
  background-color:white;
  border:2px solid #ccc;
}
.selectWard {
 font-size:12px;
 padding:3px;
 width:250px;
 color:#324f85;
}
.statisticValue {
 width:90px;
 font-weight:normal;
 font-size:12px;
 margin:0;
 padding:3px;
 border:1px solid #324f85;
 text-align:center;
 color:#324f85;
 background-color:#fff;
}
td.CurrDischDate {
  background-image:url("../images/CellHighlightRightGreen.png");
  background-repeat:no-repeat;
  background-position:top right;
  background-color:white;
  color:black;
  font-weight:bold;
}
td.PastDischDate {
  background-image:url("../images/CellHighlightRightRed.png");
  background-repeat:no-repeat;
  background-position:top right;
  background-color:white;
  color:black;
  font-weight:bold;
}
.MapHeadingCell {
  font-weight:bold;
  font-size:17px;
  color:#324f85;
  padding:4px;
  background-color:#DBE1EC;
}
.LocationHeading  {
  background-color:#ddd;
  height:20px;
  padding:2px 0px;
  width:100%;
  text-align:center;
  font-weight:bold;
}
.LocationStyle {
  font-size: 8pt;
  border:1px solid silver;
  background-color: transparent;
  position: absolute;
}
.PatientStyle {
  border:1px solid #ddd;
  font-size: 9pt;
  clip: rect(0px 227px 152px 0px);
  position: absolute;
  padding:0;
  margin:0;
  height:148px;
  width:224px;
  background-color: #fff; 
}
.PatientLinks {
 display:none;
 position:absolute;
 width:240px;
 margin:10px;
 border:1px solid #eee;
}
.BedStatus1 {
 background-color:#efefef !important;
}
.label {
 font-size:8pt;
 color:#aaa;
}
.labelFx {
 font-size:8pt;
 color:#aaa;
 width:20%;
}
.labelSx {
 font-size:8pt;
 color:#aaa;
 width:30px;
}
.cell {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:100%;
}
.cell30 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:30%;
 display:inline-block;
}
.cell40 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:40%;
 display:inline-block;
}
.cell33 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:33%;
 display:inline-block;
}
.cell50 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:50%;
 display:inline-block;
}
.cell50r {
 text-align:right;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 width:49%;
 display:inline-block;
}
.row3, .row4, .row7 {
margin-left:2px;
}
.row2, .row3, .row4, .row5, .row6  {
 height:20px;
}
.row1  {
 height:20px;
 border-bottom:1px solid lightgray;
 line-height:20px;
 background-color: #dbe1ec; 
 width:100%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.cellAlerts {
 width:100%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.cellSex {
 position:absolute;
 right:0;
 top:-2px;
 display:inline-block;
}
.cellAge {
 width:20%;
 white-space:nowrap;
 text-align:right;
 overflow:hidden;
 text-overflow:ellipsis;
 display:inline-block;
 padding-right:2px;
}
.cellLocation0, .cellLocation2 {
 width:15%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 display:inline-block;
 text-align:center;
}
.cellPatientName0, .cellPatientName2 {
 text-overflow:ellipsis;
 display:inline-block;
 width:55%;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.cellLocation1 {
 display:hidden;
}
.cellPatientName1 {
 text-overflow:ellipsis;
 display:inline-block;
 width:70%;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.BedSex {
 position:absolute;
 bottom:1px;
 right:1px;
}
.SexM {
 display:inline-block;
 background: url("../images/AlertSprite.png")  -180px -140px no-repeat;
 width:20px;
 height:20px;
}
.SexF {
 display:inline-block;
 background: url("../images/AlertSprite.png")  -160px -140px no-repeat;
 width:20px;
 height:20px;
}
.PaediatricIcon0 {
 display:none;
}
.PaediatricIcon1 {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -160px -80px no-repeat;
 width:20px;
 height:20px;
}
.lineIcon {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -0px -180px no-repeat;
 width:1px;
 height:20px;
}
#ImageLocation {
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.AlertIcon1 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -20px -20px no-repeat;
  width:20px;
  height:20px;
}
.BoarderIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -160px -60px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert4 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert5 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -80px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert6 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert7 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert8 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert9 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
 vertical-align:middle;
  width:20px;
  height:20px;
}
.AlertIcon2 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -40px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertDelete {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertResult {
  display:inline-block;
  width:20px;
  height:20px;
}
.EMSadFace {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -160px -40px no-repeat;
  width:20px;
  height:20px;
}
.EMSadFaceLos {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -140px -40px no-repeat;
  width:20px;
  height:20px;
}
.ResultIcon1 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
 vertical-align:middle;
  width:20px;
  height:20px;
}
.ResultIcon2 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
  width:20px;
  height:20px;
}
.NoteIcon1 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -0px no-repeat;
  width:20px;
  height:20px;
}
.DocumentIcon1 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -0px no-repeat;
  width:20px;
  height:20px;
}
.FolderIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -0px -122px no-repeat;   /* Yellow */
  width:20px;
  height:20px;
}
.SameSurnameIcon0 {
 display:none;
}
.SameSurnameIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/samename.gif")  -0px -0px no-repeat;
  width:20px;
  height:20px;
}
.aboriginalityIcon0 {
 display:none;
}
.aboriginalityIconD {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/aboriginality.png")  -0px -0px no-repeat;
  width:55px;
  height:20px;
}
.TheatreToday0 {
 display:none;
}
.TheatreToday1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/OutpatientStatus1.gif")  -0px -0px no-repeat;
  width:20px;
  height:20px;
}
.FolderIcon001, .FolderIcon00P, .FolderIcon011, .FolderIcon01P,
.FolderIcon021, .FolderIcon02P, .FolderIcon031, .FolderIcon03P,
.FolderIcon111, .FolderIcon101, .FolderIcon121, .FolderIcon131, .FolderIcon13P {
  background: url("../images/AlertSprite.png")  -0 -242px no-repeat;     /* Secure Yellow */
}
.FolderIcon10P, .FolderIcon11P, .FolderIcon12P {
  background: url("../images/AlertSprite.png")  -40 -242px no-repeat;    /* Secure Green */
}
.FolderIcon100, .FolderIcon110, .FolderIcon120 {
  background: url("../images/AlertSprite.png")  -40 -222px no-repeat;    /* Green */
}
.FolderIcon03P, .FolderIcon20P, .FolderIcon21P, .FolderIcon22P {
  background: url("../images/AlertSprite.png")  -20 -242px no-repeat;    /* Secure Red */
}
.FolderIcon030, .FolderIcon200, .FolderIcon210, .FolderIcon220 {
  background: url("../images/AlertSprite.png")  -20 -222px no-repeat;    /* Red */
}
.FolderIcon30P, .FolderIcon31P, .FolderIcon32P, .FolderIcon33P, .FolderIcon43P {
  background: url("../images/AlertSprite.png")  -120 -242px no-repeat;   /* Secure Purple */
}
.FolderIcon300, .FolderIcon310, .FolderIcon320, .FolderIcon330, .FolderIcon430 {
  background: url("../images/AlertSprite.png")  -120 -222px no-repeat;   /* Purple */
}
.FolderIcon40P, .FolderIcon41P, .FolderIcon42P {
  background: url("../images/AlertSprite.png")  -60 -242px no-repeat;    /* Secure Blue */
}
.FolderIcon400, .FolderIcon410, .FolderIcon420 {
  background: url("../images/AlertSprite.png")  -60 -222px no-repeat;    /* Blue */
}
.FolderIcon50P, .FolderIcon51P, .FolderIcon52P {
  background: url("../images/AlertSprite.png")  -80 -242px no-repeat;    /* Secure Brown */
}
.FolderIcon500, .FolderIcon510, .FolderIcon520 {
  background: url("../images/AlertSprite.png")  -80 -222px no-repeat;    /* Brown */
}
.FolderIcon60P, .FolderIcon61P, .FolderIcon62P {
  background: url("../images/AlertSprite.png")  -140 -242px no-repeat;   /* Secure Black */
}
.FolderIcon600, .FolderIcon610, .FolderIcon620 {
  background: url("../images/AlertSprite.png")  -140 -222px no-repeat;   /* Black */
}
.FolderIcon70P, .FolderIcon71P, .FolderIcon72P {
  background: url("../images/AlertSprite.png")  -100px -242px no-repeat; /* Secure Orange */
}
.FolderIcon700, .FolderIcon710, .FolderIcon720 {
  background: url("../images/AlertSprite.png")  -100px -222px no-repeat; /* Orange */
}
.FolderIcon80P, .FolderIcon81P, .FolderIcon82P {
  background: url("../images/AlertSprite.png")  -20px -242px no-repeat; /* Secure Red */
}
.FolderIcon800, .FolderIcon810, .FolderIcon820 {
  background: url("../images/AlertSprite.png")  -20px -222px no-repeat; /* Red */
}
.FolderIcon90P, .FolderIcon91P, .FolderIcon92P {
  background: url("../images/AlertSprite.png")  -40px -242px no-repeat; /* Secure Green */
}
.FolderIcon900, .FolderIcon910, .FolderIcon920 {
  background: url("../images/AlertSprite.png")  -40px -222px no-repeat; /* Green */
}
.FolderIcon000, .FolderIcon010 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -0px -122px no-repeat;
  width:20px;
  height:20px;
}
.FolderIcon020 {
  display:inline-block;
  background: url("../images/AlertSprite.png")  -0px -100px no-repeat;
  width:20px;
  height:20px;
}
.DietIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -60px no-repeat;
  width:20px;
  height:20px;
}
.DietIconFast {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -180px -200px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIcon {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIcon0 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -60px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIcon1 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIcon2 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -80px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIcon3 {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -180px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIconB {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -100px -100px no-repeat;
  width:20px;
  height:20px;
}
.ConditionIconD {
  display:inline-block;
  vertical-align:middle;
  background: url("../images/AlertSprite.png")  -180px -100px no-repeat;
  width:20px;
  height:20px;
}
.CurrDischDate {
 background-color:lightgreen;
}
.PastDischDate {
 color:white;
 background-color:#BF1D38;
}
.standBy1 {
 background-color: yellow; 
 color:black;
}
.StandByIcon1 {
  display:inline-block;
 vertical-align:middle;
  background: url("../images/AlertSprite.png")  -120px -160px no-repeat;
  width:20px;
  height:20px;
}
#PopUpScreen { z-index:9999; }
.patientTable {
  width:100%;
  border:0;
  margin:0;
  padding:0;
  border:1px solid #ccc;
}
.patientRow {
  margin:0;
  padding:0;
}
.patientRowTable {
  height:22px;
  table-layout:fixed;
  width:100%;
  border:0;
  margin:0;
  padding:0;
  border-bottom:1px solid #ccc;
}
.patientRowTable p {
  padding:0;
  margin:0;
}
.patientRowTable td {
 border-left: 1px solid #ccc;
} 
.cell05l,.cell10l,.cell15l,.cell20l,.cell25l,.cell30l,.cell35l,.cell40l,.cell45l,.cell50l,.cell60l,
.cell65l,.cell70l,.cell75l,.cell80l,.cell90l,
.cell05r,.cell10r,.cell15r,.cell20r,.cell25r,.cell30r,.cell35r,.cell40r,.cell45r,.cell50r,.cell60r,
.cell65r,.cell70r,.cell75r,.cell80r,.cell90r,
.cell05c,.cell10c,.cell15c,.cell20c,.cell25c,.cell30c,.cell35c,.cell40c,.cell45c,.cell50c,.cell60c,
.cell65c,.cell70c,.cell75c,.cell80c,.cell90c {
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden;
}
.cell05r,.cell10r,.cell15r,.cell20r,.cell25r,.cell30r,.cell35r,.cell40r,.cell45r,
.cell50r,.cell60r,.cell65r,.cell70r,.cell75r,.cell80r,.cell90r {
 text-align:right;
}
.cell05c,.cell10c,.cell15c,.cell20c,.cell25c,.cell30c,.cell35c,.cell40c,.cell45c,
.cell50c,.cell60c,.cell65c,.cell70c,.cell75c,.cell80c, cell90c {
 text-align:center;
}
.cell05l, .cell05r, .cell05c { width:5%; }
.cell10l, .cell10r, .cell10c { width:10%; }
.cell15l, .cell15r, .cell15c { width:15%; }
.cell20l, .cell20r, .cell20c { width:20%; }
.cell25l, .cell25r, .cell25c { width:25%; }
.cell30l, .cell30r, .cell30c { width:30%; }
.cell35l, .cell35r, .cell35c { width:35%; }
.cell40l, .cell40r, .cell40c { width:40%; }
.cell45l, .cell45r, .cell45c { width:45%; }
.cell50l, .cell50r, .cell50c { width:50%; }
.cell60l, .cell60r, .cell60c { width:60%; }
.cell65l, .cell65r, .cell65c { width:65%; }
.cell70l, .cell70r, .cell70c { width:70%; }
.cell75l, .cell75r, .cell75c { width:75%; }
.cell80l, .cell80r, .cell80c { width:80%; }
.cell90l, .cell90r, .cell90c { width:90%; }
.tableSexM {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -180px -140px no-repeat;
 width:20px;
 height:20px;
}
.tableSexF {
 display:inline-block;
 vertical-align:middle;
 background: url("../images/AlertSprite.png")  -160px -140px no-repeat;
 width:20px;
 height:20px;
}
.buttonInd0, .buttonInd1, .buttonInd2, .buttonInd3, .buttonInd4, 
.buttonInd5, .buttonInd6, .buttonInd7, .buttonInd8, .buttonInd9 {
 display:inline-block;
 vertical-align:middle;
 width:16px;
 height:16px;
 border-radius:8px;
 margin:2px;
}
.buttonInd0 { background-color: blue; }
.buttonInd1 { background-color: red; }
.buttonInd2 { background-color: yellow; }
.buttonInd3 { background-color: black; }
.buttonInd4 { background-color: purple; }
.buttonInd5 { background-color: green; }
.buttonInd6 { background-color: orange; }
.buttonInd7 { background-color: lightblue; }
.buttonInd8 { background-color: lime; }
.buttonInd9 { background-color: gray; }
.tdPatientName0, .tdPatientName2 {
 text-overflow:ellipsis;
 display:inline-block;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.tdPatientName1 {
 text-overflow:ellipsis;
 display:inline-block;
 padding-left:2px;
 border:0px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
}
.TheatreToday {
 font-weight:bold;
 background-color:yellow;
}

