/* -------------------------------------------------------------
   cssVersion : V12.00.00

   ------------------------------------------------------------- */
span.DoseLabel {
}
span.DoseValue {
 font-weight:bold;
}
span.DoseROA {
}
span.DoseFreq {
 font-weight:bold;
}
span.DoseSpec {
 font-weight:bold;
}
span.DoseQual {
 font-style:italic;
}
fieldset TH {
 height:22px;
 color:white;
 padding:2px 5px 4px 5px;
 margin-bottom:2px;
 background: transparent repeat-x 0 -1px;
 font-weight:bold; 
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 line-height: 15px;
 background-image: url(../images/heading-cell.gif);
  border:1px solid lightgrey;
}
.tableCell {
 height:22px;
  padding:1px;
  border:1px solid lightgrey;
}
.ruledRow {
  padding:1px;
}
IMG.DocumentAdd {
 margin-top:2px;
 border:0;
 margin-left:0px;
 margin-right:3px;
 vertical-align:middle;
}
.WidgetContentTable TD {
 vertical-align:middle;
 padding:2px;
}
#BodyDivision {
overflow:hidden;
}
#HeadingDivision {
overflow:hidden;
}
.x-panel-title {
  width:100%;
  padding-top:4px;
  padding-bottom:4px;
  line-height: 15px;
  background: transparent repeat-x 0 -1px;
  border:0 none;
  background:transparent;
  font-weight:bold; 
  font-size: 11px;
  font-family: tahoma,arial,verdana,sans-serif;
  color:#033738;
  border-color:#99bbe8;
  background-image: url(../images/panel-top.gif);
  overflow:hidden;
}
.x-panel-title-min {
    background-image: url(../images/panel-top-min.gif);
}
BODY {
  overflow-y:auto;
  height:100%;
  width:100%;
}
.Layout22 {
  table-layout:fixed;
  width:100%;
  height:75%;
  padding:5px;
  empty-cells:show;
}
.Layout22 TR {
  vertical-align:top;
}
.tdLayout22 {
  padding:1px;
  height:50%;
  overflow:hidden;
  clip:auto;
  border:1px solid lightgrey;
}
.WidgetTable {
  height:90%;
  overflow:auto;
  scrollbar-base-color:#e1eeef;
}
.BodySection {
  overflow:auto;
}
.WidgetSection {
  width:100%;
  overflow:hidden;
}
.Widget {
  height:99%;
  width:100%;
  position: absolute;
  margin:0px;
  padding:0px;
  border:1px solid lightblue;
  overflow:hidden;
  background-color:#e1eeef;
  scrollbar-base-color:#e1eeef;
}
.WidgetTitle {
padding-left:4px;
}
.WidgetLarge TD {
  font-size:10pt !important;
}
.WidgetLarge {
  height:90%;
  width:100%;
  position: absolute;
  margin:0px;
  padding:0px;
  border:1px solid lightblue;
  overflow:hidden;
  background-color:#e1eeef;
  scrollbar-base-color:#e1eeef;
}
.PatientBannerEx {
 overflow:hidden;
 width:100%;
 height:20px;
 line-height: 15px;
 font-weight:bold; 
 background-color:#ffffd9;
}
.PatientBannerEx TABLE TR {
 vertical-align:top;
}
.PatientBannerEx TABLE TH {
 width:20%;
}
.PatientBannerEx SPAN {
 color:#666666;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.LinkMore {
 height:20px;
 width:auto;
 vertical-align:bottom;
 text-align:right;
 font-size: 8pt;
 font-family: arial;
 font-style:italic;
}
.b-label {
  text-align:right;
  padding-right:2px;
}
.b-text {
  font-weight:bold;
}
.b-alert-table { 
 width:100%;
}
.b-alert-table td { 
 border:1px;
}
.b-alert-icon {
 overflow:hidden;
 background:no-repeat;
 float:left;
 background-position: -1px -1px;
 padding:0px;
 margin:0px;
 width:18px;
 height:18px;
 background-image:url(../images/BannerAlertIcon.gif);
}
.b-table {
 border:0;
 width:auto;
 padding:0;
 margin:0;
}
.b-table td {
 height:15px;
 border:0px;
}
.p-banner-table {
 border:1px solid #cccccc;
 width:100%;
 font-size: 11px;
 font-family: tahoma,arial,verdana,sans-serif;
 color:#033738;
 text-align:left;
 white-space:nowrap;
 empty-cells:show;
}
