<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function setFormactn(code) {
    if (code=="D") {
      ans=confirm("Are you sure you want to Delete ?")
      if (!ans) {
        return; }
    }  
    document.UpdateForm.updatety.value=code;
    document.UpdateForm.submit();
}
</script> 
</head>

%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">
  document.write('Update Referral Issue');</script>
</span>
<form name=UpdateForm method=get action=allweb02.pbl>
<input type=hidden name=reportno value="9">
<input type=hidden name=template value="002">
<input type=hidden name=updatety value="U">
<input type=hidden name=urnumber value="%ALLWEB02.09.003">
<input type=hidden name=admissno value="%ALLWEB02.09.081">
<input type=hidden name=aliss001 value="%ALLWEB02.09.201">
<input type=hidden name=aliss002 value="%ALLWEB02.09.202">

<table align=center width=100% border=0 cellspacing=0 cellpadding=1>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel> &nbsp; &nbsp; Issue Type</td>
    <td><input type=text name=issuetyp title="Issue Type" readonly
         class=ReadOnly value="%ALLWEB02.09.203.0">
    </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr><td class=DataLabel>&nbsp; &nbsp; Identified</td>
    <td><select name=aliss004
         class="SelectBig" title="Identified">
        <option></option>
        %ALLWEB02.09.204.2
        </select></td>
</tr>

<tr><td class=DataLabel>&nbsp; &nbsp; Goal in Service plan</td>
    <td><select name=aliss005
         class="SelectBig" title="Goal in Service plan">
        <option></option>
        %ALLWEB02.09.205.2
        </select></td>
</tr>

<tr><td class=DataLabel>&nbsp; &nbsp; Goal Achieved</td>
    <td><select name=aliss006
         class="SelectBig" title="Goal Achieved">
        <option></option>
        %ALLWEB02.09.206.2
        </select></td>
</tr>

<tr><td class=DataLabel>&nbsp; &nbsp; Referred to Specialist Agency</td>
    <td><select name=aliss007
         class="SelectBig" title="Ref. to Specialist Agency">
        <option></option>
        %ALLWEB02.09.207.2
        </select></td>
</tr>

<tr><td class=DataLabel>&nbsp; &nbsp; Still Present at Closure</td>
    <td><select name=aliss008
         class="SelectBig" title="Still Present">
        <option></option>
        %ALLWEB02.09.208.2
        </select></td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>

<table align=center width=100% border=0 cellspacing=0 cellpadding=1>
<tr><td colspan=2 align=center>
  <input type=button value="Delete" class="button" onclick="setFormactn('D');">
  <input type=button value="Update" class="button" onclick="setFormactn('U');">
  <input type=button Value="Cancel" class="button" 
   onclick="DFrameExitRefresh();">
     </td> </tr>
</table>
</form>
