<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language=javascript src="../js/allweb0210.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);AssessmentTypeAdd();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">
  document.write('Add Barthel Assessment');</script>
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=AddForm method=get action=allweb02.pbl style="margin:0">
<input type=hidden name=reportno value="10">
<input type=hidden name=template value="002">
<input type=hidden name=updatety value="A">
<input type=hidden name=urnumber value="%ALLWEB02.10.003">
<input type=hidden name=admissno value="%ALLWEB02.10.081">
<input type=hidden name=albia001 value="%ALLWEB02.10.081">
<input type="hidden" name="albia004" value=" ">
<input type="hidden" name="albia005" value=" ">
<input type="hidden" name="albia006" value=" ">
<input type="hidden" name="albia007" value=" ">
<input type="hidden" name="albia008" value=" ">
<input type="hidden" name="albia009" value=" ">
<input type="hidden" name="albia010" value=" ">
<input type="hidden" name="albia011" value=" ">
<input type="hidden" name="albia012" value=" ">
<input type="hidden" name="albia013" value=" ">
<input type="hidden" name="albia014" value=" ">
<input type="hidden" name="albia015" value=" ">
<input type="hidden" name="albia016" value=" ">
<input type="hidden" name="albia017" value=" ">
<input type="hidden" name="albia018" value=" ">
<input type="hidden" name="albia019" value=" ">
<input type="hidden" name="albia020" value=" ">
<input type="hidden" name="albia021" value=" ">
<input type="hidden" name="albia022" value=" ">
<input type="hidden" name="albia023" value=" ">
<input type="hidden" name="albia024" value=" ">
<input type="hidden" name="albia025" value=" ">
<input type="hidden" name="albia026" value=" ">
<input type="hidden" name="albia027" value=" ">
<input type="hidden" name="albia028" value=" ">
<input type="hidden" name="albia029" value=" ">
<input type="hidden" name="albia030" value=" ">
<input type="hidden" name="albia031" value=" ">
<input type="hidden" name="albia032" value=" ">
<input type="hidden" name="albia033" value=" ">
<input type="hidden" name="albia034" value=" ">
<input type="hidden" name="albia035" value=" ">
<input type="hidden" name="albia036" value=" ">
<input type="hidden" name="albia037" value=" ">
<input type="hidden" name="albia038" value=" ">
<input type="hidden" name="albia039" value=" ">
<input type="hidden" name="albia040" value=" ">
<input type="hidden" name="albia041" value=" ">
<input type="hidden" name="albia042" value=" ">
<input type="hidden" name="albia043" value=" ">
<input type="hidden" name="albia044" value=" ">
<input type="hidden" name="albia045" value=" ">
<input type="hidden" name="albia046" value=" ">
<input type="hidden" name="albia047" value=" ">
<input type="hidden" name="albia048" value=" ">
<input type="hidden" name="albia049" value=" ">
<input type="hidden" name="albia050" value=" ">
<input type="hidden" name="albia051" value=" ">
<input type="hidden" name="albia052" value=" ">
<input type="hidden" name="albia053" value=" ">
<input type="hidden" name="albia054" value=" ">
<input type="hidden" name="albia055" value=" ">
<input type="hidden" name="albia056" value=" ">
<input type="hidden" name="albia057" value=" ">
<input type="hidden" name="albia058" value=" ">
<input type="hidden" name="albia059" value=" ">
<input type="hidden" name="albia060" value=" ">
<input type="hidden" name="albia061" value=" ">
<input type="hidden" name="albia062" value=" ">
<input type="hidden" name="albia063" value=" ">
<input type="hidden" name="albia064" value=" ">
<input type="hidden" name="albia065" value=" ">
<input type="hidden" name="albia066" value=" ">

<table align=center width=100% border=1 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel>Assessment Date</td>
    <td class=DataLabel colspan=4><input type=text 
     id=albia002 name=albia002 value="" title="Assessment Date" 
     class="PastDate Mandatory">
    <img src=../images/DateLookup.gif class=Icon date=date1
     align=absmiddle onclick="DateLookupFrame(albia002);">
     Time&nbsp;<input type=text size=6 title="Time" value="        "
        class="Mandatory Time" name=albia003 id=albia003>
    <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(albia002,albia003);">
    <img src="../images/TimeLookup.gif" class=Icon time=time1
      onclick="TimeLookupFrame(albia003);">
    </td></tr>

<tr><td class=DataLabel>Assessment Type</td>
    <td><select title="Assessment Type Title" name=assmtype 
         class="SelectMed Mandatory" onchange="AssessmentTypeAdd();">
        <option value="1">Total Only</option>
        <option value="2">Detailed</option>
        </select>
        </td>
     </tr>
</table>

<div id="PageDetails"></div>

<table align=center width=100% border=1 cellspacing=0 cellpadding=1>
<tr><td align=center><br>
    <input type=button value="Add" class="button" onclick="SubmitForm();">
    <input type=button value=Cancel class="button" 
     onclick="DFrameCloseRefresh()">
    </td></tr>
</form>
</table>
</div>

<span id="TotalOnlyBarthel" style="display:none;">
<table align=center width=100% border=1 cellspacing=0 cellpadding=1>
<tr><td class="HeadingCell" colspan=2 align=center width=20%>Total Score</td>
    </tr>

<tr><td class=DataLabel>Total Score</td>
    <td align=center>
    <input type="text" name="albia069" id="albia069" value="" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Total Score"
     onblur="checkInteger(this,this.title);">
    </td>
</table>
</span>

<span id="DetailedBarthel" style="display:none;">
<table align=center width=100% border=1 cellspacing=0 cellpadding=1>
<tr><td class="HeadingCell" align=center width=20%>Self Care Index</td>
    <td class="HeadingCell" align=center width=20%>Can do without aids</td>
    <td class="HeadingCell" align=center width=20%>Can do with aids</td>
    <td class="HeadingCell" align=center width=20%>Can do with help of someone 
                                                   else
    </td>
    <td class="HeadingCell" align=center width=20%>Cannot do at all</td>
    </tr>

<tr><td class=DataLabel>Drink from a cup</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Drink from a cup" name=albia004 value=""
     id="col1004" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Drink from a cup" name=albia005 value=""
     id="col2005" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Drink from a cup" name=albia006 value=""
     id="col3006" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Drink from a cup" name=albia007 value=""
     id="col4007" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Eating from a cup</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Eating" name=albia008 value=""
     id="col1008" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Eating" name=albia009 value=""
     id="col2009" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Eating" name=albia010 value=""
     id="col3010" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Eating" name=albia011 value=""
     id="col4011" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Dressing upper body</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing upper body" name=albia012 value=""
     id="col1012" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing upper body" name=albia013 value=""
     id="col2013" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing upper body" name=albia014 value=""
     id="col3014" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing upper body" name=albia015 value=""
     id="col4015" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Dressing lower body</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing lower body" name=albia016 value=""
     id="col1016" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing lower body" name=albia017 value=""
     id="col2017" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing lower body" name=albia018 value=""
     id="col3018" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Dressing lower body" name=albia019 value=""
     id="col4019" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Putting on brace or artificial limb</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Putting on brace or artificial limb"
     id="col1020" name=albia020 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Putting on brace or artificial limb"
     id="col2021" name=albia021 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Putting on brace or artificial limb"
     id="col3022" name=albia022 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Putting on brace or artificial limb"
     id="col4023" name=albia023 value="" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Grooming</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Grooming" name=albia024 value=""
     id="col1024" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Grooming" name=albia025 value=""
     id="col2025" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Grooming" name=albia026 value=""
     id="col3026" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Grooming" name=albia027 value=""
     id="col4027" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Washing or bathing</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Washing or bathing" name=albia028 value=""
     id="col1028" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Washing or bathing" name=albia029 value=""
     id="col2029" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Washing or bathing" name=albia030 value=""
     id="col3030" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Washing or bathing" name=albia031 value=""
     id="col4031" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Controlling urination</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling urination" name=albia032 value=""
     id="col1032" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling urination" name=albia033 value=""
     id="col2033" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling urination" name=albia034 value=""
     id="col3034" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling urination" name=albia035 value=""
     id="col4035" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Controlling bowel movements</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling bowel movements" name=albia036 value=""
     id="col1036" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling bowel movements" name=albia037 value=""
     id="col2037" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling bowel movements" name=albia038 value=""
     id="col3038" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Controlling bowel movements" name=albia039 value=""
     id="col4039" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Care of perineum/clothes at toilet</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Care of perineum/clothes at toilet"
     id="col1040" name=albia040 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Care of perineum/clothes at toilet"
     id="col2041" name=albia041 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Care of perineum/clothes at toilet"
     id="col3042" name=albia042 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Care of perineum/clothes at toilet"
     id="col4043" name=albia043 value="" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=HeadingCell>Mobility Index</td>
    <td class=HeadingCell align=center>&nbsp;</td>
    <td class=HeadingCell align=center>&nbsp;</td>
    <td class=HeadingCell align=center>&nbsp;</td>
    <td class=HeadingCell align=center>&nbsp;
    </td></tr>

<tr><td class=DataLabel>Getting in and out of chair</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of chair" name=albia044 value=""
     id="col1044" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of chair" name=albia045 value=""
     id="col2045" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of chair" name=albia046 value=""
     id="col3046" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of chair" name=albia047 value=""
     id="col4047" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Getting on and off toilet</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting on and off toilet" name=albia048 value=""
     id="col1048" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting on and off toilet" name=albia049 value=""
     id="col2049" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting on and off toilet" name=albia050 value=""
     id="col3050" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting on and off toilet" name=albia051 value=""
     id="col4051" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Getting in and out of shower/bath</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of shower/bath"
     id="col1052" name=albia052 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of shower/bath"
     id="col2053" name=albia053 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of shower/bath"
     id="col3054" name=albia054 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Getting in and out of shower/bath"
     id="col4055" name=albia055 value="" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Walking 45m on level</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking 45m on level" name=albia056 value=""
     id="col1056" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking 45m on level" name=albia057 value=""
     id="col2057" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking 45m on level" name=albia058 value=""
     id="col3058" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking 45m on level" name=albia059 value=""
     id="col4059" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>Walking up/down one flight of stairs</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking up/down one flight of stairs"
     id="col1060" name=albia060 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking up/down one flight of stairs"
     id="col2061" name=albia061 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking up/down one flight of stairs"
     id="col3062" name=albia062 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="Walking up/down one flight of stairs"
     id="col4063" name=albia063 value="" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=DataLabel>If not walking Propelling or pushing wheelchair</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="If not walking Propelling or pushing wheelchair"
     id="col1064" name=albia064 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="If not walking Propelling or pushing wheelchair"
     id="col2065" name=albia065 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="If not walking Propelling or pushing wheelchair"
     id="col3066" name=albia066 value="" onblur="Totals(AddForm,this);">
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Integer" min=0 max=100
     title="If not walking Propelling or pushing wheelchair"
     id="col4067" name=albia067 value="" onblur="Totals(AddForm,this);">
    </td></tr>

<tr><td class=HeadingCell>Totals</td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Readonly"
     title="total can do without aids" name=total1 >
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Readonly"
     title="total can do with aids" name=total2 >
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Readonly"
     title="total can do with help of someone else " name=total3 >
    </td>
    <td align=center>
    <input type="text" size="4" maxlength="4" class="Readonly"
     title="total cannot do at all" name=total4 >
    </td></tr>
</table>
</span>



