<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/allweb06.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write('Update Patient');</script>
</span>
<form name=UpdateForm method=post action=allweb06.pbl style="margin:0">
   <input type=hidden name=reportno value="1">
   <input type=hidden name=template value="005">
   <input type=hidden name=updttype value="">
   <input type=hidden name=algrp001 value="%ALLWEB06.01.101">
   <input type=hidden name=algrp002 value="%ALLWEB06.01.102">
   <input type=hidden name=algrp003 value="%ALLWEB06.01.103">
   <input type=hidden name=algrp004 value="">

<table align=center width=95% border=0>
<tr><td class=DataLabel>U/R</td>
    <td class=DataField>%ALLWEB06.01.102
    </td></tr>

<tr><td class=DataLabel>Patient</td>
    <td class=DataField>%ALLWEB06.01.112
    </td></tr>

<tr><td class=DataLabel>Referral Number</td>
    <td class=DataField>%ALLWEB06.01.103
    </td></tr>

<tr><td class=DataLabel>Department</td>
    <td class=DataField>%ALLWEB06.01.113
    </td></tr>

<tr><td class=DataLabel>Active</td>
    <td class=DataField><input type=checkbox name=d_algrp004 
                         title="Active" value="0">
    </td></tr>

<tr><td class=DataLabel>Created By</td>
    <td class=DataField>%ALLWEB06.01.107 
    </td></tr>

<tr><td class=DataLabel>Created Date/Time</td>
    <td class=DataField>%ALLWEB06.01.105 %ALLWEB06.01.106
    </td></tr>

<tr><td class=DataLabel>Updated By</td>
    <td class=DataField>%ALLWEB06.01.110 
    </td></tr>

<tr><td class=DataLabel>Updated Date/Time</td>
    <td class=DataField>%ALLWEB06.01.108 %ALLWEB06.01.109
    </td></tr>

</table>
<table align=center width=95% border=0>
<tr><td align=center><br>
   <input type=button value="Update" class=button id=btnPostUpdate  
    onclick="tempDisable(this);PostUpdatePatient();">
   <input type=button value="Delete" class=button id=btnDelete
    onclick="tempDisable(this);DeletePatient();">
   <input type=button value=Close class=button onclick="DFrameExitRefresh();">
</td></tr>
</table>
</form>

<script type="text/javascript">
 Active="%ALLWEB06.01.104";
 if(Active=="0") {
   document.UpdateForm.d_algrp004.checked=true;
 }
</script>
