<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/allweb01.js"></script>
<script type="text/javascript">
function SubmitUpdate(){
  if(document.UpdateForm.d_almed003.checked==true){
     document.UpdateForm.almed003.value="0";
     } else {
     document.UpdateForm.almed003.value="1";
     }
  if(document.UpdateForm.d_almed005.checked==true){
     document.UpdateForm.almed005.value="1";
     } else {
     document.UpdateForm.almed005.value="0";
     }
  if(document.UpdateForm.d_almed007.checked==true){
     document.UpdateForm.almed007.value="1";
     } else {
     document.UpdateForm.almed007.value="0";
     }
  if(validateMandatory(UpdateForm)){
    UpdateForm.submit();}
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Update Medication Code
</span>
<form name=UpdateForm action="allweb01.pbl" method=post style="margin:0">
<input type=hidden name=reportno value=17>
<input type=hidden name=template value=3>
<input type=hidden name=updttype value="U">

<table width=100% border=0>
<tr><td class=DataLabel>Medication Code</td>
    <td class=DataLabel>
    <input type=text size=20 maxlength=20 name=almed001 
     class='Mandatory checkAlphanumCode' title="Medication Code" 
     value="%ALLWEB01.17.001">
    </td></tr>

<tr><td class=DataLabel>Description</td>
    <td class=DataLabel colspan=3>
    <input type=text size=60 maxlength=60 name=almed002 class=Mandatory 
      title="Descripton" value="%ALLWEB01.17.002">
    </td></tr>

<tr><td class=DataLabel>Active</td>
    <td class=DataLabel>
    <input type=hidden name=almed003>
    <input type=checkbox name=d_almed003></td></tr>

<tr><td class=DataLabel>Units</td>
    <td class=DataLabel>
    <select name=almed004 title=Units>
    <option></option>
    %ALLWEB01.17.004.2
    </select></td></tr>

<tr><td class=DataLabel>Generic Name</td>
    <td class=DataLabel>
    <input type=hidden name=almed005>
    <input type=checkbox name=d_almed005></td></tr>


<tr><td class=DataLabel>Medication Route</td>
    <td class=DataLabel>
    <select name=almed006 title="Medication Route">
    <option></option>
    %ALLWEB01.17.006.2
    </select></td></tr>

<tr><td class=DataLabel>IV Additive</td>
    <td class=DataLabel>
    <input type=hidden name=almed007>
    <input type=checkbox name=d_almed007></td></tr>
 
<tr><td class=DataLabel>Inventory Code</td>
    <td class=DataLabel>
    <input type=text size=10 maxlength=7 name=almed008 title="Inventory Code"
     value="%ALLWEB01.17.008" >
    </td></tr>

<tr><td class=DataLabel>Medication Type</td>
    <td class=DataLabel>
    <select name=almed009 title="Medication Type">
    <option></option>
    %ALLWEB01.17.009.2
    </select></td></tr>

<tr><td colspan=4 align=center>
    <input type=button class="button" value="Update" id="all01upd"
     onclick="tempDisable(this);SubmitUpdate();">
    <input type=button value="Cancel" class="button"
     onclick="DFrameExit();">

</td></tr>
</table>
</form>

<script type="text/javascript">
function init(){
if ("%ALLWEB01.17.003" != "1") {
  document.UpdateForm.d_almed003.checked="1";  }
if ("%ALLWEB01.17.005" == "1") {
  document.UpdateForm.d_almed005.checked="1";  }
if ("%ALLWEB01.17.007" == "1") {
  document.UpdateForm.d_almed007.checked="1";  }
}
</script>
