<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
%START.OF.PAGE
<body onload="PageLoad(event);">
<table border=0 cellspacing=0 cellpadding=0 width="70%">
<tr>
  <td rowspan=2> 
    <img src="../images/ibaworld.jpg">
  </td>
  <td algin="left" valign="bottom">
    <b><FONT size="+2">IBA</FONT></b><br>
  </td>
</tr>
</table>
<font size="3">
<hr size=2 noshade>
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td>
PATIENT'S NAME <b>%ALLWEB02.02.002</b> </td></tr>
<tr><td>
PATIENT'S ADDRESS <b>%ALLWEB02.02.012</b> 
<b>%ALLWEB02.02.013</b> 
<b>%ALLWEB02.02.014</b> 
<b>%ALLWEB02.02.015</b> 
<b>%ALLWEB02.02.016</b> </td></tr>
<tr><td>
PATIENT'S DOB <b>%ALLWEB02.02.020</b> 
</td></tr>
<tr><td>
<hr width="50%" align=left size=1 noshade> 
<font size="-1">
Medical Officer's Signature<p>
</font>
<hr size=2 noshade>
<font size="-1">
Signature of Patient/Guardian/Attorney<p>
</font>
<hr width="50%" align=left size=1 noshade> <nobr>
<font size="-1">
Signature of Witness to Patient's Signature<p>
</font>
<hr width="50%" align=left size=1 noshade> <nobr>
<font size="-1">
Full Name of Witness (PRINT)<p>
</font>
<hr width="50%" align=left size=1 noshade> <nobr>
<font size="-1">
Address of Witness<p>
</font>
<hr width="50%" align=left size=1 noshade> <nobr>
Date<p>
</td></tr>
</font>
</table>

