<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link          
//  1 - Patient Name              
//  2 - Sex                        
//  3 - DOB                       
//  4 - U/R
//  5 - Referral Date
//  6 - Healthcare Professional
//  7 - Problem
//  8 - Priority
//  9 - List days
// 10 - Priority sort flag - indicator 1 cat PR
// 11 - Icon suffix indicator
// 12 - Active Referrals HTML Link
//---------------------------------------------------------------------------
function InitTable(TableView) {
  var p = document.Filter;

  t = new Table(1,0,2,"100%","center");

  if (p.ptcolumn.value == "1") {
    t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",120,19)
    t.addColumn("Sex","String",2,2,"center","","",15)
    t.addColumn("DOB","Date",3,3,"left","","",30)
    t.addColumn("U/R","String",4,4,"left","","",30)
    t.addColumn("Referral Date","Date",5,5,"left","","",30)  
    t.addColumn("Healthcare Professional","String",6,6,"left","","",80)
    t.addColumn("Problem","String",7,7,"left","","",60)
    t.addColumn("Presenting Complaint","String",22,22,"left","","",60)
    if(document.Filter.alcndtrg.value=="1") {
      t.addColumn("Triage Status","String",27,27,"left","","",40)
    }
    t.addColumn("Priority","String",8,10,"center","","",40,"","","",25)
    t.addColumn("List Days","String",9,9,"left","","",25)
    t.addColumn("Active Refs","ImageText",24,24,"left","ViewIcon","12",40,11)
  } else {
    t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",120,19)
    t.addColumn("Sex","String",2,2,"center","","",20)
    t.addColumn("DOB","Date",3,3,"left","","",70)
    t.addColumn("U/R","String",4,4,"left","","",50)
    t.addColumn("Referral Date","Date",5,5,"left","","",70)  
    t.addColumn("Healthcare Professional","String",6,6,"left","","",80)
    t.addColumn("Problem","String",7,7,"left","","",80)
    if(document.Filter.alcndtrg.value=="1") {
      t.addColumn("Triage Status","String",27,27,"left","","",40)
    }
    t.addColumn("Priority","String",8,10,"center","","",40,"","","",25)
    t.addColumn("List Days","String",9,9,"left","","",30)
    t.addColumn("Active Refs","ImageText",24,24,"left","ViewIcon","12",40,11)
    t.addColumn("Appointment<br> Type","String",13,13,"left","","",40)
  }

  AddTableRows()
  if(document.Filter.alcndtrg.value=="1") {
    TableOutput(9,0);    // Order Column,Asc Dsc
    TableSort(8);
    HideWaitScreen();
  } else {
    TableOutput(8,0);    // Order Column,Asc Dsc
    TableSort(7);
    HideWaitScreen();
  }
}
//
function FilterSubmit() {
 Filter.submit();
}
//
function AddNewReferral(urn,adn,dpc) {
   AddReferral.doctcode.value=Filter.doctcode.value;
   Left=(document.body.clientWidth-1000)/2;
   DFrameSubmit(AddReferral,0,Left,1000,550);
}
function AddUserReferral() {
   if(isWhitespace(document.PatientLinks.wbsedall.value)) {
     alert("User does not have a default department.");
     return;
   }
   document.AddReferral.allrf001.value=document.PatientLinks.wbsedall.value;
   Left=(document.body.clientWidth-1000)/2;
   DFrameSubmit(AddReferral,0,Left,1000,550);
}
//
function UpdateReferral(urn,adn,dpc) {
   PatientLinks.urnumber.value=urn;
   PatientLinks.admissno.value=adn;
   PatientLinks.deptcode.value=dpc;
   PatientLinks.submit();
}
function ListReferral(urn) {
  linkUrl="allweb02.pbl?reportno=02&template=021" +
          "&urnumber=" + urn.replace(/ /g,"+");
  Left=(document.body.clientWidth-750)/2;
  DFrameLink(linkUrl,50,Left,750,520);
}
function HospitalFilter() {
  if(document.Filter.alcndhos.value=="1") {
    document.getElementById("HospTitle").innerHTML=
    document.getElementById("DisplayHospitalTitle").innerHTML;
    document.getElementById("HospField").innerHTML=
    document.getElementById("DisplayHospitalField").innerHTML;
    document.getElementById("SiteTitle").innerHTML=
    document.getElementById("DisplaySiteTitle").innerHTML;
    document.getElementById("SiteField").innerHTML=
    document.getElementById("DisplaySiteField").innerHTML;
  }
}
function SetClinicTypeList() {
  p=Filter;
  SetClinicType(p.filtctyp,p.defctype.value,p.usersite.value);
  if (isWhitespace(p.deftclid.value)) {
     p.deftclid.value=p.wbseclid.value; }
  SetClinicIDList();
}
function SetClinicIDList() {
  p=Filter;
  p.filtclid.options.length=1;
  SetTypeClinic(p.filtclid,p.deftclid.value,p.usersite.value,p.filtctyp.value);
}
function TriageFilter() {
  if(document.Filter.alcndtrg.value=="1") {
    document.getElementById("TriageTitle").innerHTML=
    document.getElementById("DisplayTriageTitle").innerHTML;
    document.getElementById("TriageField").innerHTML=
    document.getElementById("DisplayTriageField").innerHTML;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);HospitalFilter();TriageFilter();InitTable(0);
              setTimeout('SetClinicTypeList();',100);">
<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Please Wait ...</p>
</span>
<div id=PageLayer class=DimmedLayer style="display:none"></div>
<script type="text/javascript">
ShowWaitScreen();
</script>
<div id="HeadingSection">

<div id="PHeadingSection">
<form name=PatientLinks action=allweb02.pbl method=get style="margin:0">
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=2>
<input type=hidden name=urnumber>
<input type=hidden name=admissno>
<input type=hidden name=deptcode>
<input type=hidden name=wbsedall value="%STANDARD.01.028">
</form>

<form name=Filter action=allweb02.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=6>
<input type=hidden name=indexkey value="">
<input type=hidden name=usersite value="%STANDARD.01.023">
<input type=hidden name=wbseclid value="%STANDARD.01.026">
<input type=hidden name=defctype value="%ALLWEB02.01.028">
<input type=hidden name=deftclid value="%ALLWEB02.01.027">
<input type=hidden name=alcndhos value="%STANDARD.01.025.106.224.0.1">
<input type=hidden name=ptcolumn id=ptcolumn value="%ALLWEB02.01.272">
<input type=hidden name=alcndtrg value="%STANDARD.01.025.121.125.0.1">

<table width=100% cellspacing=0 border=0 bgcolor=#cccccc>
<tr><td>Department </td>
    <td><select class=PMenuSelectList name=deptcode onchange="FilterSubmit();">
        <option></option>     
        %ALLWEB02.01.012
        </select></td>
    <td class=DataLabel>HCP</td>
    <td><input type=text name=doctcode value="%ALLWEB02.01.020.0"
         class=DataField size=10 maxlength=10
         onchange="ValidateHCP(18,13,Filter.doctcode,Filter.psevt000,
                   FilterSubmit);">
        <input type=text name=psevt000 title="Attending HCP" readonly
         size=24 value="%ALLWEB02.01.020.1">

        <img src="../images/SearchIcon.gif" class=Icon
        onclick="HCPSearchFrame(Filter.doctcode,Filter.psevt000,4,
                 FilterSubmit);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(Filter.doctcode,Filter.psevt000,
                 FilterSubmit);"></td>

    <td>Priority</td>
    <td><select name=priority onchange="Filter.submit()" >
       <option value="  ">All</option>
       %ALLWEB02.01.010.2
       </select></td></tr>

<tr><td class=DataLabel>Clinic Type</td>
   <td><select name=filtctyp class=SelectBig
               onchange="SetClinicIDList();FilterSubmit();" >
          <option value="  ">Select Clinic Type</option>
       </select></td>

   <td class=DataLabel>Clinic ID</td>
   <td><select name=filtclid onchange="FilterSubmit()"
               class=SelectBig>
          <option value="zzzzzz">Select Clinic ID</option>
       </select></td>

   <td class=DataLabel>Case Team</td>
   <td><input type=text name=filtteam size=10 maxlength=10 title="Case Team"
        value="%ALLWEB02.01.025.1"
        onblur="validateCode2(7,Filter.filtteam,Filter.n_filtteam,
                FilterSubmit)">
       <input type=text name=n_filtteam size=25 readonly 
        value="%ALLWEB02.01.025.0"
        class=Readonly tabindex=-1 title="Team Description">
       <img src="../images/SearchIcon.gif" class=Icon
        onclick="TeamSearchFrame(Filter.filtteam,Filter.n_filtteam,
                 FilterSubmit)">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(Filter.filtteam,Filter.n_filtteam,
                 FilterSubmit);">
       </td></tr>

<tr><td><div id="HospTitle"></div></td>
    <td><div id="HospField"></div></td>
    <td><div id="SiteTitle"></div></td>
    <td><div id="SiteField"></div></td>
    <td><div id="TriageTitle"></div></td>
    <td><div id="TriageField"></div></td>
    </tr>
</table>
</form>
</div>

<form name=AddReferral method=get action=allweb02.pbl style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=2>
<input type=hidden name=doctcode value="">
<table width=100% cellspacing=0 border=1 >
<tr><td colspan=2 align=right class=HeadingCell>Add Referral
    <input type=button class=SlimButton value="Add"
     title="Add referral for users department" onclick="AddUserReferral();">
    <select class=PMenuSelectList name=allrf001 
     onmouseover='MenuOver(event,this)'
     onchange="AddNewReferral();">
    <option></option>
    %ALLWEB02.01.012
    </select></td></tr>

<tr><td width=95% class=HeadingCell align=center> 
     %ALLWEB02.01.023.0  Referrals - On Waiting List</td> </tr>

</table>
</form>
</div>

<div id=DisplayHospitalTitle style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td>Hospital</td>
    </tr>
</table>
</div>

<div id=DisplayHospitalField style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td><select name=filthosp onchange="FilterSubmit();" >
        <option></option>
        %ALLWEB02.01.039
        </select></td>
</table>
</div>

<div id=DisplaySiteTitle style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td>Preferred Site</td>
    </tr>
</table>
</div>

<div id=DisplaySiteField style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td>
    <select name=filtpsit onchange="FilterSubmit();" >
    <option></option>
     %ALLWEB02.01.040
    </select>
    </td></tr>
</table>
</div>

<div id=DisplayTriageTitle style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td>Triage Status</td>
    </tr>
</table>
</div>

<div id=DisplayTriageField style="display: none">
<table align=center width=100% border=0 cellspacing=0>
<tr><td>
    <select name=filttrgs onchange="FilterSubmit();" >
    <option value="   ">All</option>
     %ALLWEB02.01.277.2
    </select>
    </td></tr>
</table>
</div>

<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%ALLWEB02.01.013.1
}
</script>
