<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="">
<meta name="CrossBrowser" content="true">
<script language="javascript" src="../js/allweb03.js"></script>
<script type="text/javascript">
function AddEncounter(theForm){
    if(!isWhitespace(theForm.alreudt1.value)) {
      if(SetDateYYYYMMDD(theForm.alenc005.value) < theForm.alreudt1.value) {
        alert("Contact Date cannot be before Episode Start Date.");
        return;
      }
    } else {
      if(!isWhitespace(theForm.alredact.value)) {
        if(SetDateYYYYMMDD(theForm.alenc005.value) < theForm.alredact.value) {
          alert("Contact Date cannot be before Episode Start Date.");
          return;
        }
      }
    }

    // Validate Client Present Status
    if (theForm.alenc083.value.substr(14,2) == '13') {
      if (theForm.alenc084.value.substr(14,1) != '3') {
        var sPresentStatus = getSelectionText(theForm.alenc083, '13');
        var sDeliverMode = getSelectionText(theForm.alenc084, '3');
        alert("Warning: If Client Present Status is " + sPresentStatus +
          ", Delivery Mode must be " + sDeliverMode + ".");
        theForm.alenc084.focus();
        return;
      }
    }

    // Validate data entry of a Contract ,Delivery mode and Present Status
    if(!checkDeliveryModeClientPresentStatus(theForm)) {
      FocusDelay(theForm.alenc084);
      return;
    }

    if(!CheckDateTimeRange(theForm.alenc005,
                           theForm.alenc006,
                           theForm.alenc017,
                           theForm.alenc018)) {
      alert('Contact Start Date/Time cannot be after Contact End Date/Time');
      return;
    }

    if(!checkContactPurposeEnc(theForm)) {  // Check Contact Purpose Valid
      return;
    }

// Check Client Present Status validation for Patient DNA & Indirect-No Patient.
    if(!CheckPresentStatus(theForm)) {
      return;
    }

// Check Delivery Mode is Delivery Mode is Face to Face, Telephone
// Telehealth,Written, Electronic Mail, SMS Text Messages
    if(!CheckDeliveryMode(theForm)) {
      return;
    }

//See if the patient was an inpatient at the time of the contact
     CheckContactCurrentIP(theForm.urnumber,theForm.alenc005,theForm.alenc006,
     theForm.d_currip);

//check Contact has a Delivery Setting of 11-Inpatient Setting
     if(!checkDeliverySettingIP(theForm.d_currip,theForm.alenc086)) {
       FocusDelay(theForm.alenc086);
       return;
     }

    //Display alert it NDIS Flag set and claim type NDIS
    if ((theForm.alenc115.value.charAt(28)=="D") && 
        (theForm.ndisvald.value=="0")){
       NDISRedirect();
    }

    SubmitHiddenNew(theForm);
}

//------------------------------------------------------------------------
// Function : Referral Number Search Frame
//------------------------------------------------------------------------
function RefSearchFrame(ReturnRefe,ReturnName,ReturnName1) {
  DFrameStart();
  window.ReturnFunction="";
  window.ReturnRefe=ReturnRefe ;
  window.ReturnName=ReturnName ;
  window.ReturnName1=ReturnName1 ;
//
  if (RefSearchFrame.arguments.length > 2) {
    window.ReturnFunction=RefSearchFrame.arguments[3] }
//
  document.getElementById('PopUpFrame').src="../lookups/RefSearchFrame.html"
  SearchFrameShow();
}
//-------------------------------------------------------------------------
 
function ToggleCombo(){

if(AddForm.checkbx2.checked==false){
   AddForm.checkbx1.disabled=false;
   AddForm.checkbx2.value=0;
   AddForm.alref006.className="DataField";
  }
else{
   AddForm.checkbx1.disabled=true; // disable Waiting List
   AddForm.checkbx1.checked=false;
   AddForm.alref006.className="Mandatory";//make the class mandatory 
   AddForm.checkbx2.value=1;
  }

}

function ShowHideBill(){

PatientType=AddForm.alenc009.value.substr(4,1);
CompensationCode=AddForm.alenc115.value.substr(13,1);
flag=AddForm.flag.value;
//if(flag==1&&(PatientType==1 || PatientType==2)&&(CompensationCode=="C" || CompensationCode=="E")){
//   Units.style.display=""
//   Units.innerHTML=BillableUnits.innerHTML; }
// else{
//   Units.style.display="none"
//   Units.innerHTML="";}
//if(CompensationCode=="E")
//  if(AddForm.itemn001!=undefinded) {
//    AddForm.itemn001.className="Mandatory";
//  }
//else
//  if(AddForm.itemn001!=undefinded) {
//    AddForm.itemn001.className=""; 
//   }
  MandatoryCMBS=AddForm.alenc115.value.substr(28,1);  // Ind 12
  MandatoryCMBS1=AddForm.alenc115.value.substr(36,1);  // Ind 20
  if(MandatoryCMBS=="M" || MandatoryCMBS1=="M" || MandatoryCMBS1=="N") {
    Items.innerHTML=DisplayItems.innerHTML;
    Items.style.display="";
    if(MandatoryCMBS1=="N") {
      document.AddForm.itemn001.className="";
    }
   if (CompensationCode=="C" || CompensationCode=="E") {
     PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN2.innerHTML;
     ShowHideBUnits();
   } else {
     PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN1.innerHTML;
     BillableUnitsDIV.innerHTML=BillableUnitsSPAN1.innerHTML;
   }
  } else {
    Items.innerHTML="";
    Items.style.display="none";
    PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN1.innerHTML;
    BillableUnitsDIV.innerHTML=BillableUnitsSPAN1.innerHTML;
  }
}

function PackComments(){
AddForm.alenc107.value=AddForm.comments.value.substring(0,80); 
AddForm.alenc108.value=AddForm.comments.value.substring(80,160);
}
//
function ShowHideWaitingList(){
if(document.AddForm.status.value=="0") {
  Wait.style.display='';}
else {
  Wait.style.display='none';}
}
//
function ShowVACS() {
  if(document.AddForm.alcndoos.value=="1") {
    document.getElementById("ServiceDepartmentLabel").innerHTML=
    document.getElementById("ShowServiceDepartmentLabel").innerHTML
    document.getElementById("ServiceDepartmentField").innerHTML=
    document.getElementById("ShowServiceDepartmentField").innerHTML
    document.getElementById("OccasionOfServiceLabel").innerHTML=
    document.getElementById("ShowOccasionOfServiceLabel").innerHTML
    document.getElementById("OccasionOfServiceField").innerHTML=
    document.getElementById("ShowOccasionOfServiceField").innerHTML
    SelectServiceDept();
  }

  if(document.AddForm.alcndevp.value=="1") {
    document.getElementById("EventProgramLabel").innerHTML=
    document.getElementById("ShowEventProgramLabel").innerHTML
    document.getElementById("EventProgramField").innerHTML=
    document.getElementById("ShowEventProgramField").innerHTML
  }
  VacsFlag=0;
  if(document.AddForm.alenc010!=undefined) {
    VacsFlag=document.AddForm.alenc010.value.substring(6,7)
  }
  if(VacsFlag==0) {
    Vacs.innerHTML="";
    Vacs.style.display="none";
    Activity.style.display="";
    Activity.innerHTML=DisplayActivity.innerHTML;
    Items.innerHTML="";
    Items.style.display="none";
    Units.innerHTML="";
    Units.style.display="none";
   } else {
     Vacs.style.display="";
     Vacs.innerHTML=DisplayVacs.innerHTML;
     Activity.innerHTML="";
     Activity.style.display="none";
     Items.innerHTML=DisplayItems.innerHTML;
     Items.style.display="";
     ShowHideBill();
     DClaim=AddForm.deftclmc.value;

     for (var i=0; i < document.AddForm.alenc115.length; i++) {
       if (document.AddForm.alenc115.options[i].value.substr(0,3)==DClaim.substr(0,3)){
         document.AddForm.alenc115.selectedIndex=i; 
       }
    }

    DClin=AddForm.deftclin.value;
    for (var i=0; i < document.AddForm.alenc003.length; i++) {
      if (document.AddForm.alenc003.options[i].value.substr(0,6)==DClin.substr(0,6)){
        document.AddForm.alenc003.selectedIndex=i; 
      }
    }
  }

  CompensationCode=AddForm.alenc115.value.substr(13,1);
  MandatoryCMBS=AddForm.alenc115.value.substr(28,1);  // Ind 12
  MandatoryCMBS1=AddForm.alenc115.value.substr(36,1);  // Ind 20

  if(MandatoryCMBS=="M" || MandatoryCMBS1=="M" || MandatoryCMBS1=="N") {   
    //  Private CMBS funded
    Items.innerHTML=DisplayItems.innerHTML;
    Items.style.display="";
    if(MandatoryCMBS1=="N") {
      document.AddForm.itemn001.className="";
    }
    if (CompensationCode=="C" || CompensationCode=="E") {
      PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN2.innerHTML;
      ShowHideBUnits();
    } else {
      PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN1.innerHTML;
      BillableUnitsDIV.innerHTML=BillableUnitsSPAN1.innerHTML;
    }
  } else {
    Items.innerHTML="";
    Items.style.display="none";
    PatientIndicatorDIV.innerHTML=PatientIndicatorSPAN1.innerHTML;
    BillableUnitsDIV.innerHTML=BillableUnitsSPAN1.innerHTML;
  }
}

function LinkedVisit() {
p=AddForm
  CheckReferral(9,p.admissno,p.deptcode,p.namedesc,
                p.alenc008,p.deftclmc,p.deftclin,
                p.status,p.dummy2,p.dummy2,p.dummy2,p.alreudt1,p.alredact);
}

function SelectServiceDept()
{
  // Calls remote script to get 'Occasion of Service' list for
  // the selected department.
  selectOptions2("82",AddForm.alenc127,AddForm.alenc010);
}
function ShowHideBUnits() {
  isBillable=AddForm.flag.value;
  PatientType=AddForm.alenc009.value.substr(4,1);

  if(isBillable==1&&(PatientType==1 || PatientType==2)) {
    BillableUnitsDIV.innerHTML=BillableUnitsSPAN2.innerHTML;
  } else {
    BillableUnitsDIV.innerHTML=BillableUnitsSPAN1.innerHTML;
  }
}

</script>
</head>

%START.OF.PAGE
<body onload="PageLoad(event);ShowVACS();CommonContact(AddForm);">

<span class=DFrameTitleBar>
<img border=0 align=right src=../images/ExitIcon.gif 
 onclick=DFrameExitRefresh()>
<script language=javascript>document.write(self.document.title);</script>
</span>
<div id=PageBodySection>
<form name=AddForm action="allweb03.pbl" method=post>
<input type=hidden name=reportno value=1>
<input type=hidden name=updatety value="A">
<input type=hidden name=redirect value="">
<input type=hidden id=urnumber name=urnumber value="">
<input type=hidden name=alenc004 value="%ALLWEB03.05.032.0">
<input type=hidden name=deptcode value="%ALLWEB03.05.017">
<!--<input type="hidden" name="alenc009" value="">-->
<input type=hidden name=alenc107 value="">
<input type=hidden name=alenc108 value="">
<input type=hidden name=flag value="%ALLWEB03.05.022">
<input type=hidden name=deftclmc >
<input type=hidden name=deftclin >
<input type=hidden name=status value="">
<input type=hidden id=dummyret name=dummyret value="">
<input type=hidden id=dummysit name=dummysit value="">
<input type=hidden id=dummydat name=dummydat value="">
<input type=hidden name=dummy1>
<input type=hidden name=dummy2>
<input type=hidden name=d_currip id=d_currip value="">
<input type=hidden id=mbs name=mbs value="M">
<input type=hidden name=alcndevp value="%STANDARD.01.025.106.225.0.1">
<input type=hidden name=alcndoos value="%STANDARD.01.025.106.226.0.1">
<input type=hidden name=alreudt1 value="">
<input type=hidden name=alredact value="">
<input type=hidden name=ndisvald value="%ALLWEB03.05.636">
<input type=hidden name=deptlcod value="%ALLWEB03.05.601.3">
<input type=hidden name=CATEG_CL value="CL">
<input type=hidden name=CATEG_zH value="zH">
<input type=hidden id=CATEG_zL  name=CATEG_zL
                                 value="%STANDARD.01.018.zL.9  .9.3">

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%> Department </td>
      <td> <input type=text name=department size=40 class=Readonly readonly  
      title="Department" value="%ALLWEB03.05.018"></td> </tr>     

<tr><td class=DataLabel width=15%>Health Care Provider</td>
    <td colspan=3><input type=text name=SProvider size=40 
       class=Readonly readonly title="Health Care Provider" 
       value="%ALLWEB03.05.019"> <td></tr>

<tr><td class=DataLabel width=15%>Contact Start Date</td>
    <td><input type=text class=Readonly  readonly name=alenc005 
       id=alenc005 value="%ALLWEB03.05.016" title="Contact Start Date" Size=13 
      onblur="CalcDirectUnitStartDate(AddForm);"></td>
    <td class=DataLabel width=15%>Start Time</td>
    <td class=DataField>
      <input type=text size=8 value="" class=Mandatory 
        title="Contact Start Time" id=alenc006 name=alenc006
        onblur="CalcDirectUnitStartTime(AddForm);">
      <img src=../images/DateTimeStamp.gif class=Icon 
      onclick='SetCurrentDateTime(null,AddForm.alenc006)'>
      <img src=../images/TimeLookup.gif class=Icon 
      onclick='TimeLookupFrame(AddForm.alenc006)'>
    </td></tr>

<tr><td class=DataLabel width=15%>Contact End Date</td>
    <td><input type=text class=Readonly readonly name=alenc017
      value="%ALLWEB03.05.016" title="Contact End Date" Size=13></td>
    <td class=DataLabel width=15%>End Time</td>
    <td class=DataField>
    <input type=text size=8 value="" class=Mandatory
      title="Contact End Time" id=alenc018 name=alenc018
      onblur="CalcDirectUnitEndTime(AddForm);">
    <img src=../images/DateTimeStamp.gif class=Icon
      onclick='SetCurrentDateTime(null,AddForm.alenc018)'>
    <img src=../images/TimeLookup.gif class=Icon 
      onclick='TimeLookupFrame(AddForm.alenc018)'>
    </td></tr>

<tr>
   <td class=DataLabel><div id="ServiceDepartmentLabel"></div></td>
   <td class=DataField><div id="ServiceDepartmentField"></div></td>
   <td class=DataLabel width=15%><div id="OccasionOfServiceLabel"></div></td>
   <td class=DataField><div id="OccasionOfServiceField"></div></td>
   </tr>

<tr> <td class=DataLabel width=15%>Referral Number</td>
    <td class=DataField width=40%>
    <input type=text size=10 class=Mandatory title="Referral Number" 
    id=admissno name=admissno maxLength=8
    onblur="justifyRight(this);
    CheckReferral(9,admissno,deptcode,namedesc,alenc008,
                  deftclmc,deftclin,status,dummy2,dummy2,dummy2,
                  alreudt1,alredact);
    ShowHideWaitingList();">
    <input type=text size=25 class=Readonly title="Name" name=namedesc
     id=namedesc readonly>
    <img src=../images/SearchIcon.gif class=Icon 
     onclick=RefSearchFrame(admissno,namedesc,alenc008,LinkedVisit);>
     </td>
    <td class=DataLable width=15%>Linked Visit</td>
    <td class=DataField colspan=3>
      <input type=text size=10 id=alenc008 name=alenc008 value="" maxlength=8
         onblur="justifyRight(this);
                 ValidateVisit(AddForm.alenc008,AddForm.urnumber,dummy1);"> 
    <img src=../images/SearchIcon.gif class=Icon
     onclick=VisitSearchFrame(urnumber,alenc008) >
     </td></tr>

</table>

<div id=Vacs></div>
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Client Present Status</td>
    <td class=DataField width=40%>
      <select class="Mandatory SelectBig" name=alenc083
       title="Client Present Status">
      <option></option>
      %STANDARD.01.018.zK.   .5
      </select></td>
    <td width=15%><div id="EventProgramLabel"></div></td>
    <td><div id="EventProgramField"></div></td>
    </tr>

<tr><td class=DataLabel>Delivery Mode</td>
    <td class=DataField><select class="Mandatory SelectBig" name=alenc084
       title="Delivery Mode">
      <option></option>
      %STANDARD.01.018.zL.   .5
      </select></td>
    <td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select class="Mandatory SelectBig" id=alenc115 name=alenc115
         title="%STANDARD.01.017.CL" onchange="ShowHideBill();">
         <option></option>
         %ALLWEB03.05.013.9.1.10.2.X
         </select>
    </td></tr>

<tr><td class=DataLabel>Contact Purpose</td>
    <td class=DataField><select class="Mandatory SelectBig" name=alenc080
       title="Contact Purpose" style="width: 300px;">
      <option></option>
      %STANDARD.01.018.zH.   .9.5
      </select></td>
    <td class=DataLabel>Delivery Setting</td>
    <td class=DataField><select class="Mandatory SelectBig" name=alenc086
       title="Delivery Setting">
      <option></option>
      %STANDARD.01.018.zN.   .5
      </select>
    </td></tr>

<tr><td class=DataLabel>Travel Time</td>
    <td class=DataField>
    <input type=text size=12 maxlength=8 name=alenc106 title="Travel time" min=0
    id=alenc106 onblur=checkInteger(this,this.title)></td>
    <td class=DataLabel>Session Type</td>
    <td class=DataField><select class="Mandatory SelectBig" name=alenc081
       title="Session Type">
      <option></option>
      %STANDARD.01.018.zI.   .5
      </select>
    </td></tr>
</table>
<div id=Activity></div>
<div id="Units"></div>
<div id=Items></div>


<div id="Wait" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Stay as Waiting Referral</td>
    <td class=DataField>
    <input type=checkbox name=checkbx1 value="1"></td>
    <td></td>
    <td></td>
    </tr>
</table>
</div>

<div id=PatientIndicatorDIV>
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
  <tr>
    <td>
      <input type=hidden name=alenc009 value="">
    </td>
  </tr>
</table>
</div>

<div id=BillableUnitsDIV>
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
 <tr>
    <td>
      <input type=hidden name=alenc012 value="0">
      <input type=hidden name=alenc014 value="0">
    </td>
 </tr>
</table>
</div>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr valign=top><td class=DataLabel width=15%> Comments </td>
    <td class=DataField colspan=3>
    <textarea rows=3 cols=60 onblur=PackComments() name=comments id=comments> 
    </textarea>
    </td></tr>
</table>
<div id="HCPcheckbox">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Additional HCP</td>
    <td><input type=checkbox id=addithcp name=addithcp value="1"
         onclick="CheckAddHCP();"></td></tr>
</table>
</div>

<div id=AdditionalHCP></div>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td colspan=4 align=center><br>
<input type=button id=btnAdd name=formactn value="Add" class="button" 
    onclick="tempDisable(this); AddEncounter(AddForm)">
    <input type=button Value="Cancel" class="button" 
     onclick="DFrameCloseRefresh();">
    </td></tr>
</table>
</form>
</div>
<span id="DisplayVacs" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Clinic Type</td>
    <td class=DataField><select  name=alenc003 class="SelectBig Mandatory"
     title="Clinic Type">
    <option></option>
    %ALLWEB03.05.011 
    </select></td></tr>

<tr><td class=DataLabel width=15%>Patient Type</td>
    <td><select class="Mandatory SelectBig" name=alenc009 title=" Patient Type"
         id=alenc009 onchange="ShowHideBill();">
        <option></option>
        %ALLWEB03.05.012.2
        </select></td></tr>

<tr><td class=DataLabel width=15%>Direct Units</td>
  <td class=DataField width=40%>
      <input type=text size=12 name=alenc011 id=alenc011 
        title="Direct Units" min=0 class=Mandatory maxLength=6 
        onblur="CalcContactEndDateTime(AddForm);"></td>
  <td class=DataLabel width=15%>Indirect Units</td>
      <td class=DataField>
      <input type=text size=12 name=alenc013 title="Indirect Units" min=0
      id=alenc013 maxLength=6 onblur=checkInteger(this,this.title)></td></tr>
</table>
</span>
<span id="DisplayActivity" style="display:none;">
  <table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
  <tr><td class=DataLabel width=15%>Direct Units</td>
  <td class=DataField width=40%>
      <input type=text size=12 name=alenc011 id=alenc011
        title="Direct Units" min=0 class=Mandatory maxLength=6 
        onblur="CalcContactEndDateTime(AddForm);"></td>
    <td class=DataLabel width=15%>Indirect Units</td>
    <td class=DataField>
    <input type=text size=12 maxsize=5 name=alenc013 title="Indirect Units" 
     min=0 id=alenc013
    onblur=checkInteger(this,this.title)></td></tr>

</table>
</span>
<span id="BillableUnits" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Direct Billable Units</td>
    <td class=DataField width=40%>
    <input type=text size=12 name=alenc012 title="Direct Billable Units" min=0
     id=alenc012 onblur=checkInteger(this,this.title) ></td>
    <td class=DataLabel width=15%>Indirect Billable Units</td>
    <td class=DataLable>
    <input type=text size=12 title="Indirect Billable Units" min=0
    onblur=checkInteger(this,this.title) id=alenc014 name=alenc014>
    </td></tr>

<tr><td class=DataLabel width=15%>Bulk Billing Code</td>
    <td DataField>
    <select name=alenc015 class="SelectBig" title="Bulk Billing Code">
    <option></option>
    %ALLWEB03.05.215.2
    </select></td></tr>
</table>
</span>
<span id="DisplayItems" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Item Code 1</td>
    <td class=DataField width=40%>
    <input type=text size=10 id=itemn001 name=itemn001 title="Item Code 1"
     class=Mandatory onblur="validatePMBS(itemn001,dummy);" >
    <input type=text size=20 name=dummy value="" readonly class=Readonly
    id=dummy>
    <img src=../images/SearchIcon.gif class=Icon
     onclick='PriMbsSearchFrame(dummyret,itemn001,dummysit,dummyret,dummy,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn001,dummy);">
    </td>
    <td class=DataLabel width=15%>Item Code 2</td>
    <td class=DataField>
    <input type=text size=10 id=itemn002 name=itemn002 title="Item Code 2"
     onblur="validatePMBS(itemn002,dummy2);">
    <input type=text size=20 name=dummy2 value="" readonly class=Readonly
    id=dummy2>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='PriMbsSearchFrame(dummyret,itemn002,dummysit,dummyret,dummy2,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn002,dummy2);">
    </td></tr>

<tr><td class=DataLabel width=15%>Item Code 3</td>
    <td class=DataField width=40%>
    <input type=text size=10 id=itemn003 name=itemn003 title="Item Code 3"
     onblur="validatePMBS(itemn003,dummy3);">
    <input type=text size=20 name=dummy3 value="" readonly class=Readonly
    id=dummy3>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='PriMbsSearchFrame(dummyret,itemn003,dummysit,dummyret,dummy3,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn003,dummy3);">
     </td>
    <td class=DataLabel width=15%>Item Code 4</td>
    <td class=DataField>
    <input type=text size=10 name=itemn004 title="Item Code 4" id=itemn004
     onblur="validatePMBS(itemn004,dummy4);">
    <input type=text size=20 name=dummy4 value="" readonly class=Readonly
    id=dummy4>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='PriMbsSearchFrame(dummyret,itemn004,dummysit,dummyret,dummy4,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn004,dummy4);">
     </td></tr>

<tr><td class=DataLabel width=15%>Item Code 5</td>
    <td class=DataField width=40%>
    <input type=text size=10 name=itemn005 title="Item Code 5" id=itemn005
     onblur="validatePMBS(itemn005,dummy5);">
    <input type=text size=20 name=dummy5 value="" readonly class=Readonly
    id=dummy5>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='PriMbsSearchFrame(dummyret,itemn005,dummysit,dummyret,dummy5,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn005,dummy5);">
     </td>
    <td class=DataLabel width=15%>Item Code 6</td>
    <td class=DataField>
    <input type=text size=10 name=itemn006 title="Item Code 6" id=itemn006
     onblur="validatePMBS(itemn006,dummy6);">
    <input type=text size=20 name=dummy6 value="" readonly class=Readonly
    id=dummy6>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='PriMbsSearchFrame(dummyret,itemn006,dummysit,dummyret,dummy6,mbs)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(itemn006,dummy6);">
     </td></tr>
</table>
</span>

<span id="ShowEventProgramLabel" style="display:none">
  Event Program
</span>

<span id="ShowEventProgramField" style="display:none">
  <select class="Mandatory SelectBig" name=alenc079 title="Event Program"
   id=alenc079 onchange="filterContactPurpose(AddForm);">
  <option></option>
  %ALLWEB03.05.247.33.22
  </select>
</span>

<span id="ShowServiceDepartmentLabel" style="display:none">
  Service Department
</span>

<span id="ShowServiceDepartmentField" style="display:none">
<select class="Mandatory SelectBig" name=alenc127 title="Service Department"
  id=alenc127 onchange="SelectServiceDept();">
  <option></option>
  %ALLWEB03.05.291.9.6.08.2. 
  </select>
</span>

<span id="ShowOccasionOfServiceLabel" style="display:none">
  Occasion of Service
</span>

<span id="ShowOccasionOfServiceField" style="display:none">
  <select class="Mandatory SelectBig" name=alenc010 title="Occasion of Service">
  </select>
</span>

<span id="ShowAdditionalHCP" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Additional HCP 1</td>
    <td><input type=text id=alenc025 name=alenc025 size=10 maxlength=10
         title="Additional HCP 1"
         onblur="ValidateHCP(18,0,alenc025,d_alenc025);">
        <input type=text name=d_alenc025 size=20 class=Readonly readonly
         id=d_alenc025 title="Additional HCP 1">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc025,d_alenc025,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc025,d_alenc025);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 2</td>
    <td><input type=text id=alenc026 name=alenc026 size=10 maxlength=10
         title="Additional HCP 2"
         onblur="ValidateHCP(18,0,alenc026,d_alenc026);">
        <input type=text name=d_alenc026 size=20 class=Readonly readonly
         id=d_alenc026 title="Additional HCP 2">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc026,d_alenc026,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc026,d_alenc026);">
    </td></tr>

<tr><td class=DataLabel width=15%>Additional HCP 3</td>
    <td><input type=text name=alenc027 size=10 maxlength=10
         id=alenc027 title="Additional HCP 3"
         onblur="ValidateHCP(18,0,alenc027,d_alenc027);">
        <input type=text name=d_alenc027 size=20 class=Readonly readonly
         id=d_alenc027 title="Additional HCP 3">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc027,d_alenc027,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc027,d_alenc027);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 4</td>
    <td><input type=text id=alenc028 name=alenc028 size=10 maxlength=10
         title="Additional HCP 4"
         onblur="ValidateHCP(18,0,alenc028,d_alenc028);">
        <input type=text name=d_alenc028 size=20 class=Readonly readonly
         id=d_alenc028 title="Additional HCP 4">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc028,d_alenc028,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc028,d_alenc028;">
    </td></tr>
</table>
</span>

<span id="PatientIndicatorSPAN1" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
  <tr>
    <td>
      <input type=hidden name=alenc009 value="">
    </td>
  </tr>
</table>
</span>

<span id="PatientIndicatorSPAN2" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
  <tr><td class=DataLabel width=15%>Patient Indicator</td>
    <td><select class="Mandatory SelectBig" id=alenc009 name=alenc009
         title="Patient Indicator" onchange="ShowHideBUnits();">
         <option></option>
         %ALLWEB03.05.209.2
         </select></td></tr>
</table>
</span>

<span id="BillableUnitsSPAN1" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
  <tr>
    <td>
      <input type=hidden name=alenc012 value="0">
      <input type=hidden name=alenc014 value="0">
    </td>
  </tr>
</table>
</span>

<span id="BillableUnitsSPAN2" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Direct Billable Units</td>
    <td class=DataField width=40%>
    <input type=text size=12 name=alenc012 title="Direct Billable Units" min=0
     id=alenc012 onblur=checkInteger(this,this.title) ></td>
    <td class=DataLabel width=15%>Indirect Billable Units</td>
    <td class=DataField>
    <input type=text size=12 title="Indirect Billable Units" min=0
    onblur=checkInteger(this,this.title) name=alenc014>
    </td></tr>
</table>
</span>


<script type="text/javascript">
if(%ALLWEB03.05.400.12!=1){
  document.getElementById("HCPcheckbox").style.display="none";
}
</script>
