<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/allweb01.js"></script>
<script type="text/javascript">
function ShowDetail(linkurl) {
  Left=(document.body.clientWidth-600)/2;
  DFrameLink(linkurl,100,Left,600,300);
}

function ShowDetail01(linkurl) {
  Left=(document.body.clientWidth-600)/2;
  DFrameLink(linkurl,100,Left,600,300);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode action=allweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=7>
<input type=hidden name=template value=1>
<input type=hidden name=albil001 value="">

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td class=MaintenanceHeading>Department Billing Maintenance List</td>
      <td align=right><b>Type &nbsp;
         <align=right><input type=text name=startkey size=12 maxlength=8>
         <input type=submit value=Goto class="button">
      </td></tr>
   </table>
<table cellspacing=0 colspan=4 border=1 width=100%>
     <tr><td class=HeadingCell width=10%>
         <b>Department</b></td>
         <td class=HeadingCell width=15%>
         <b>Description</b></td>
         <td class=HeadingCell width=15% align=center>
         <b>Compensation</b></td>
         <td class=HeadingCell width=20% align=center>
         <b>Occasion of Service</b></td>
         <td class=HeadingCell width=10% align=center>
         <b>Time Range To</b></td>
         <td class=HeadingCell width=20% align=center>
         <b>Item Number Description</b></td></tr>
   %ALLWEB01.07.101.allweb01.07.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%ALLWEB01.07.103.001"'>
  <input type=button value=Add class="button"
  onclick="ShowDetail('allweb01.pbl?reportno=07&template=002');">
  <input type=button value="Next >>" class="button"
   onclick='location.href="%ALLWEB01.07.102.001"'>
  </td></tr>
</table>
</td></tr>
</table>
</form>
