<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function SubmitAdd(){
  if(validateMandatory(AddForm)){
    AddForm.submit();}
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Add Intervention
</span>
<form name=AddForm action="allweb03.pbl" method=post >
<input type=hidden name=reportno value=15>
<input type=hidden name=template value=2>
<input type=hidden name=updatety value="A">
<input type=hidden name=urnumber value="%ALLWEB03.15.003">
<input type=hidden name=admissno value="%ALLWEB03.15.081">
<input type=hidden name=encoutky value="%ALLWEB03.15.304">
<input type=hidden name=deptcode value="%ALLWEB03.15.225.1">

<table width=100% border=0>
<tr><td class=DataLabel>Intervention</td>
    <td class=DataLabel>
    <input type=text size=15 maxlength=9 name=alitv004 
     class='Mandatory' title="Intervention Code" 
      onblur="validateAHInt(AddForm.deptcode,AddForm.alitv004,
              AddForm.d_alitv004);">
    <input type=text size=60 maxlength=60 name=d_alitv004 class=ReadOnly  
      readonly title="Description">
     <img src="../images/SearchIcon.gif" class="Icon"
      onclick="InterventionSearchFrame(AddForm.deptcode,AddForm.alitv004,
               AddForm.d_alitv004);">
    </td></tr>

<tr><td class=DataLabel>Duration</td>
    <td class=DataLabel>
    <input type=integer size=5 maxlength=4 name=alitv005 title="Duration"
     class=Integer> mins
    </td></tr>

<tr><td colspan=4 align=center>
    <input type=button class="button" value="Add"
     onclick="SubmitHiddenNew(AddForm);">
    <input type=button class="button" value="Add and Finish"
     onclick="SubmitAdd(AddForm);">
    <input type=button class="button" value="Close"
     onclick="DFrameExitRefresh();">

</td></tr>
</table>
</form>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value="15">
<input type=hidden name=template value="002">
<input type=hidden name=urnumber value="%ALLWEB03.15.003">
<input type=hidden name=admissno value="%ALLWEB03.15.081">
<input type=hidden name=MenuType value="%ALLWEB03.15.088">
<input type=hidden name=encoutky value="%ALLWEB03.15.304">
</form>
