<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/allweb03.js>  </script>
</head>

<body onload="PageLoad(event);getAdditionalHCP();getDepartmentCookie();
              checkLastCon();checkCancel();SetComments();
              document.UpdateForm.alenc010.focus();">
%START.OF.PAGE
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB03.01.125.0 Contact
</span>

<script name="text/javascript">

function getDepartureTimeCookie() {
  document.UpdateForm.urnockie.value="";
  document.UpdateForm.admnckie.value="";
  document.UpdateForm.rwnockie.value="";
  document.UpdateForm.clnockie.value="";
  document.UpdateForm.caseckie.value="";
//
  if (GetCookieData('DepartureTimeCookie')=="unknown") {
     return;
  }
//
  tmdparay=GetCookieData('DepartureTimeCookie').split("|")
  document.UpdateForm.urnockie.value=tmdparay[0];
  document.UpdateForm.admnckie.value=tmdparay[1];
  document.UpdateForm.rwnockie.value=tmdparay[2];
  document.UpdateForm.clnockie.value=tmdparay[3];
  document.UpdateForm.caseckie.value=tmdparay[4];
//
  ExpireCookiePath("DepartureTimeCookie");
//
  if (isWhitespace(document.UpdateForm.urnockie.value)) {
    return;
  }
  if (parent.RemoteDeparture!=undefined) {
//alert(parent.RemoteDeparture);
    parent.RemoteDeparture(document.UpdateForm.urnockie.value,
                           document.UpdateForm.admnckie.value,
                           document.UpdateForm.rwnockie.value,
                           document.UpdateForm.clnockie.value,
                           document.UpdateForm.caseckie.value);
  } else {
    if (parent.parent.RemoteDeparture!=undefined) {
//alert(parent.parent.RemoteDeparture);
      parent.parent.RemoteDeparture(document.UpdateForm.urnockie.value,
                             document.UpdateForm.admnckie.value,
                             document.UpdateForm.rwnockie.value,
                             document.UpdateForm.clnockie.value,
                             document.UpdateForm.caseckie.value);
    }
  }
}

function userConfirm() {
// if(document.UpdateForm.d_alenrsta.checked==true) {
//   if(!isWhitespace(document.UpdateForm.prvpclam.value)) {
//     alert("Warning : Billing details exist");
//   }
// }
 setCheckedValue();

  if (isWhitespace(document.UpdateForm.alenc011.value)) {
    document.UpdateForm.alenc011.value=0;
  }

  if (isWhitespace(document.UpdateForm.alenc013.value)) {
    document.UpdateForm.alenc013.value=0;
  }

  PackComments();

  if (!isWhitespace(document.UpdateForm.urnockie.value)) {
    if (parent.RemoteTimeSeen!="undefined") {
      parent.RemoteTimeSeen(document.UpdateForm.urnockie.value,
                            document.UpdateForm.admnckie.value,
                            document.UpdateForm.rwnockie.value,
                            document.UpdateForm.clnockie.value,
                            document.UpdateForm.caseckie.value);
    }
  }

  getDepartureTimeCookie();

  if (!isWhitespace(document.UpdateForm.deprtred.value)) {
    SetCookie("DeprtRedCookie",document.UpdateForm.deprtred.value);

    document.UpdateForm.redirect.value=
                      "outweb02.pbl?reportno=03&template=003&deptflag=1" +
           "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
           "&admissno=" + document.UpdateForm.deprtred.value;

    document.UpdateForm.nextpage.value="1"; 

  }

  if (validateMandatory(document.UpdateForm)) {
    document.UpdateForm.submit();
  }
}

function setCheckedValue() {
  if(UpdateForm.d_alenrsta.checked == true) {
    UpdateForm.alenrsta.value ="1" ;
  }
  else {
    UpdateForm.alenrsta.value = "0";
  }
}

function DispNotes() {
  linkurl = "../cgi-bin/cliweb06.pbl?reportno=08&template=001" +
            "&encoutky=" + UpdateForm.encoutky.value.replace(/ /g,"+")
  Left=(document.body.clientWidth-735)/2
  DFrameLink(linkurl,0,Left,735,300)
}

function SetComments(){
 var txtComments = document.getElementById("comments");
 var dcom1 = document.getElementById("d_comment1").value;
 var dcom2 = document.getElementById("d_comment2").value; 
 txtComments.value = dcom1.replace(/^\s+|\s+$/g, '') + " " +  
                               dcom2.replace(/^\s+|\s+$/g, '');
}
</script>

<div id=PageBodySection>
<form action=allweb03.pbl method=post name=UpdateForm>
<input type=hidden name=reportno value="01">
<input type=hidden name=nextpage value="0">
<input type=hidden name=encoutky value="%ALLWEB03.01.304">
<input type=hidden name=updatety value="C">
<input type=hidden name=alenrsta value="%ALLWEB03.01.216">
<input type=hidden name=alcndevp value="%STANDARD.01.025.106.225.0.1">
<input type=hidden name=alcndoos value="%STANDARD.01.025.106.226.0.1">
<input type=hidden name=alenc107 value="">
<input type=hidden name=alenc108 value="">
<input type=hidden name=addthcp1 value="%ALLWEB03.01.225.  1">
<input type=hidden name=addthcp2 value="%ALLWEB03.01.226.  1">
<input type=hidden name=addthcp3 value="%ALLWEB03.01.227.  1">
<input type=hidden name=addthcp4 value="%ALLWEB03.01.228.  1">
<input type=hidden name=urnumber value="%ALLWEB03.01.003">
<input type=hidden name=admissno value="%ALLWEB03.01.081">
<input type=hidden name=opatflag value="1">
<input type=hidden name=dummy1>
<input type=hidden name=redirect value="">
<input type=hidden name=urnockie value="">
<input type=hidden name=admnckie value="">
<input type=hidden name=rwnockie value="">
<input type=hidden name=clnockie value="">
<input type=hidden name=caseckie value="">
<input type=hidden name=deprtred value="">
<input type=hidden name=d_comment1 id=d_comment1 value="%ALLWEB03.01.268">
<input type=hidden name=d_comment2 id=d_comment2 value="%ALLWEB03.01.269">
<input type =hidden id=rfcfield  value="%ALLWEB03.01.106.1">

<table cellspacing=0 cellpadding=1 border=0 width=100% align=center>

<tr>
  <td class=DataLabel>Contact Date</td>
    <td class=DataLabel>
    <input type=text readonly name=alenc005 value="%ALLWEB03.01.205"
     id=alenc005 title="Contact Date" class="ReadOnly" Size=12
     onblur="checkDate(this,'Date');">
     Time
    <input type=text size=8 title="Time" value="%ALLWEB03.01.206" 
     class="Mandatory" id=alenc006 Name=alenc006 tabindex=-1>
    <img notab src=../images/DateTimeStamp.gif class=Icon 
          onclick="SetCurrentDateTime(null,alenc006);">
    <img src="../images/TimeLookup.gif" class=Icon
     onclick="TimeLookupFrame(alenc006);">
   </td>
  <td class=DataLabel>Entered By</td>
  <td>
    <input type=text readonly size=25 name=usnm class="ReadOnly"
     value="%ALLWEB03.01.272">
  </td>
</tr>

<tr><td class=DataLabel>
      <span id="DepartmentTitleSPAN" style="display:none">
        Department
      </span>
     </td>
    <td>
      <span id="DepartmentFieldSPAN" style="display:none">
        <input type = text size = 30 readonly
        value="%ALLWEB03.01.125.0" class=Readonly>
      </span>
    </td>
    <td class=DataLabel>Linked Visits</td>
    <td>
    <input type=text size=10 maxlength=8 name=alenc008 value="%ALLWEB03.01.208"
     id=alenc008 onblur="justifyRight(this); 
             ValidateVisit(UpdateForm.alenc008,UpdateForm.urnumber,dummy1);"
     tabindex=-1>
    <span id="LinkedVisIMGSPAN">
    <img src=../images/SearchIcon.gif class=Icon
    onclick=VisitSearchFrame(UpdateForm.urnumber,UpdateForm.alenc008)>
    <img src="../images/ClearIcon.gif" class=Icon
    onclick="clrFields(alenc008);">
    </span>
    </td>
</tr>

<tr><td class=DataLabel>Seen By</td>
    <td>
    <input type = text size = 30 readonly 
    value="%ALLWEB03.01.204.081" class = Readonly>
    </td>
    <td class=DataLabel>Direct Units</td>
    <td >
    <input type=text size=20 maxlength=6 name=alenc011 class=Mandatory
    id=alenc011 value="%ALLWEB03.01.211" tabindex=20 title="Direct Units" min=0
     onblur="checkNumber(this);">
    </td>
</tr>

<tr>
    <td>
      Service Type
    </td>
    <td>
      <select class="Mandatory SelectBig" name=alenc010
       title="Occasion of Service" tabindex=1>
        <option></option>
        %ALLWEB03.01.210.2
      </select>
    </td>
    <td class=DataLabel>Indirect Units</td>
    <td >
    <input type=text size=20 name=alenc013 maxlength=6 min=0
    id=alenc013 value="%ALLWEB03.01.213" tabindex=21 title="Indirect Units"
    onblur="checkNumber(this);">
    </td>
</tr>

<tr>
  <td>
    Event Type
  </td>
  <td>
    <select class="Mandatory SelectBig" name=alenc048
     title="Event Type" tabindex=2>
      <option></option>
      %ALLWEB03.01.247. 2.2
    </select>
  </td>
  <td class=DataLabel>Last Contact</td>
  <td class=DataField>
    <input type=checkbox name=checkbx3 value="1" tabindex=22 
      id=checkbx3 onclick="manReasonforClosure();">
  </td>

</tr>

<tr>
  <td>
    Related Activity
  </td>
  <td>
    <select class="Mandatory SelectBig" name=alenc047
     title="Related Activity" tabindex=3>
      <option></option>
      %ALLWEB03.01.247. 1.2
    </select>
  </td>

  <td>
    <span id="RFCTitleSPAN" style="display:none">
      Reason for Closure
    </span>
  </td>
  <td>
    <span id="RFCFieldSPAN" style="display:none">
    </span>
  </td>
</tr>

<tr>
  <td>
    Event Program
  </td>
  <td>
    <select class="SelectBig" name=alenc079 title="Event Program" tabindex=4>
      <option></option>
      %ALLWEB03.01.247.33.22
    </select>
  </td>
    <td class=DataLabel></td>
    <td>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.035.zc</td>
    <td DataField>
    <select name=alenc049 class="SelectHugE" tabindex=5
     title="%STANDARD.01.035.zc">
    <option></option>
    %ALLWEB03.01.247. 3.9.2
    </select></td>
    <td class=DataLabel>&nbsp;</td>
    <td DataField>&nbsp;</td>
    </tr>

<tr valign=top><td class=DataLabel>Comments</td>
    <td class=DataField colspan=3>
    <textarea rows=3 cols=60 onblur=PackComments() id=comments name=comments 
     tabindex=6  onkeydown="LimitText(this,3,160);">
</textarea>
    </td>
</tr>

<tr>
  <td class=DataLabel>Additional HCP</td>
  <td class=DataField>
    <input type=checkbox name=hcpchbox value="1" tabindex=7 
      id=hcpchbox onclick="ShowHCPfields();">
  </td>
</tr>

<tr>
  <td>
    <div id="AddHCP1TitleDIV"></div>
  </td>
  <td>
    <div id="AddHCP1FieldDIV"></div>
  </td>

  <td>
    <div id="AddHCP2TitleDIV"></div>
  </td>
  <td>
    <div id="AddHCP2FieldDIV"></div>
  </td>
</tr>

<tr>
  <td>
    <div id="AddHCP3TitleDIV"></div>
  </td>
  <td>
    <div id="AddHCP3FieldDIV"></div>
  </td>

  <td>
    <div id="AddHCP4TitleDIV"></div>
  </td>
  <td>
    <div id="AddHCP4FieldDIV"></div>
  </td>
</tr>

<tr>
<td class=DataLabel>Cancel</td>
    <td colspan=3>
    <input type =checkbox  name=d_alenrsta onclick="setCheckedValue();" 
    id=d_alenrsta>
    </td>
</tr>
 
</table>

<table cellspacing=0 cellpadding=1 align=center border=0 width=100%>

<tr> <td colspan=10 align=center>
    <input type=button class="button" value="OK" id=btnAdd 
    onclick ="tempDisable(this); userConfirm();">
    <span id="MedicationsDisp" style="display:none">
    <input type=button class="button" value="Medications" name=medbutt
     id=medbutt onclick ="Medications();">
    </span>
    <span id="InterventionsDisp" style="display:none">
    <input type=button class="button" value="Interventions" name=intbutt
     id=intbutt onclick ="Interventions();">
    </span>
    <span id="SuppliesDisp" style="display:none">
    <input type=button class="button" value="Supplies" name=supbutt
     id=supbutt onclick ="Supplies();">
    </span>
    <input type=button class="button" value="Notes" name=notesbut
     id=notesbutt onclick="DispNotes();">
    <input type=button class="button" value="Close" onclick="DFrameCloseRefresh();">
    </td></tr>

</table>
</form></div>

<span id="AddHCP1TitleSPAN" style="display:none">
  Additional HCP 1
</span>

<span id="AddHCP1FieldSPAN" style="display:none">
  <input type=text name=alenc025 size=10 maxlength=10
   id=alenc025 onblur="ValidateHCP(18,13,alenc025,AddHCP1ds);"
   title="Additional HCP 1" tabindex=7>
  <input type=text name=AddHCP1ds size=25 class=Readonly readonly
    id=AddHCP1ds title="Additional HCP 1">

  <img src=../images/SearchIcon.gif class=Icon
   onclick=HCPSearchFrame(alenc025,AddHCP1ds,4) >
  <img src="../images/ClearIcon.gif" class=Icon
   onclick="clrFields(alenc025,AddHCP1ds);">
</span>

<span id="AddHCP1FieldEmptySPAN" style="display:none">
<input type=hidden name=alenc025 value="">
</span>

<span id="AddHCP2TitleSPAN" style="display:none">
  Additional HCP 2
</span>

<span id="AddHCP2FieldSPAN" style="display:none">
  <input type=text id=alenc026 name=alenc026 size=10 maxlength=10
   onblur="ValidateHCP(18,13,alenc026,AddHCP2ds);"
   title="Additional HCP 2" tabindex=8>
  <input type=text name=AddHCP2ds size=25 class=Readonly readonly
    title="Additional HCP 2">

  <img src=../images/SearchIcon.gif class=Icon
   onclick=HCPSearchFrame(alenc026,AddHCP2ds,4) >
  <img src="../images/ClearIcon.gif" class=Icon
   onclick="clrFields(alenc026,AddHCP2ds);">
</span>

<span id="AddHCP2FieldEmptySPAN" style="display:none">
<input type=hidden name=alenc026 value="">
</span>

<span id="AddHCP3TitleSPAN" style="display:none">
  Additional HCP 3
</span>

<span id="AddHCP3FieldSPAN" style="display:none">
  <input type=text id=alenc027 name=alenc027 size=10 maxlength=10
   onblur="ValidateHCP(18,13,alenc027,AddHCP3ds);"
   title="Additional HCP 3" tabindex=9>
  <input type=text name=AddHCP3ds size=25 class=Readonly readonly
    id=AddHCP3ds title="Additional HCP 3">

  <img src=../images/SearchIcon.gif class=Icon
   onclick=HCPSearchFrame(alenc027,AddHCP3ds,4) >
  <img src="../images/ClearIcon.gif" class=Icon
   onclick="clrFields(alenc027,AddHCP3ds);">
</span>

<span id="AddHCP3FieldEmptySPAN" style="display:none">
<input type=hidden name=alenc027 value="">
</span>

<span id="AddHCP4TitleSPAN" style="display:none">
  Additional HCP 4
</span>

<span id="AddHCP4FieldSPAN" style="display:none">
  <input type=text id=alenc028 name=alenc028 size=10 maxlength=10
   onblur="ValidateHCP(18,13,alenc028,AddHCP4ds);"
   title="Additional HCP 4" tabindex=10>
  <input type=text name=AddHCP4ds size=25 class=Readonly readonly
    id=AddHCP4ds title="Additional HCP 4">

  <img src=../images/SearchIcon.gif class=Icon
   onclick=HCPSearchFrame(alenc028,AddHCP4ds,4) >
  <img src="../images/ClearIcon.gif" class=Icon
   onclick="clrFields(alenc028,AddHCP4ds);">
</span>

<span id="AddHCP4FieldEmptySPAN" style="display:none">
<input type=hidden name=alenc028 value="">
</span>

<span id="RFCFieldList" style="display:none">
<select class="SelectBig" name=alref006 id=alref006
       title="Reason for Closure" tabindex=23>
        <option></option>
        %ALLWEB03.01.106.2
      </select>
</span>

<script type="text/javascript">
 Laser="%ALLWEB03.01.602";
 if ( Laser == "1") {
   document.UpdateForm.alerc002.checked=1;
 }
 Possum="%ALLWEB03.01.603";
 if ( Possum == "1") {
   document.UpdateForm.alerc003.checked=1;
 }
 Child="%ALLWEB03.01.604";
 if ( Child == "1") {
   document.UpdateForm.alerc004.checked=1;
 }
 Car="%ALLWEB03.01.605";
 if ( Car == "1") {
   document.UpdateForm.alerc005.checked=1;
 }
 Cancel="ALLWEB03.01.216";
 if ( Cancel == "1") {
   document.UpdateForm.d_alenrsta.checked=1;
 }
 Buttcol="%ALLWEB03.01.284";
 if ( Buttcol == "1") {
   document.UpdateForm.notesbut.className="RedButton";
 }
 UsingMed="%ALLWEB03.01.324";
 RedMedic="%ALLWEB03.01.904";
 if ( UsingMed == "1") {
   MedicationsDisp.style.display="";
 }
 if (RedMedic == "1") {
   document.UpdateForm.medbutt.className="RedButton";
 }
 UsingInt="%ALLWEB03.01.325";
 RedInter="%ALLWEB03.01.903";
 if ( UsingInt == "1") {
   InterventionsDisp.style.display="";
 }
 if (RedInter == "1") {
   document.UpdateForm.intbutt.className="RedButton";
 }
 UsingDis="%ALLWEB03.01.326";
 RedSuppl="%ALLWEB03.01.902";
 if ( UsingDis == "1") {
   SuppliesDisp.style.display="";
 }
 if (RedSuppl == "1") {
   document.UpdateForm.supbutt.className="RedButton";
 }
ReferrALStatus="%ALLWEB03.01.303";
function manReasonforClosure() {
  if(document.UpdateForm.checkbx3.checked==true){
    document.getElementById("RFCTitleSPAN").style.display="";
    document.getElementById("RFCFieldSPAN").style.display="";
    document.getElementById("RFCFieldSPAN").innerHTML=
    document.getElementById("RFCFieldList").innerHTML;
    document.getElementById("alref006").className="Mandatory SelectBig";
 //   document.UpdateForm.alref006.className="Mandatory SelectBig";
  } else {
    document.getElementById("alref006").className="SelectBig";
    if(ReferrALStatus!=="2"){
      document.getElementById("alref006").selectedIndex="0";
    }
    document.getElementById("RFCTitleSPAN").style.display="none";
    document.getElementById("RFCFieldSPAN").innerHTML="";
  }
}
function checkLastCon() {
  if (!isWhitespace(document.UpdateForm.rfcfield.value)) {
    document.UpdateForm.checkbx3.checked=true;
    manReasonforClosure();
  }
}
function PackComments(){
UpdateForm.alenc107.value=UpdateForm.comments.value.substring(0,80);
UpdateForm.alenc108.value=UpdateForm.comments.value.substring(80,160);
}
function ShowHCPfields() {
  if(document.UpdateForm.hcpchbox.checked==true){
    document.getElementById("AddHCP1TitleDIV").innerHTML=
    document.getElementById("AddHCP1TitleSPAN").innerHTML;
    document.getElementById("AddHCP1FieldDIV").innerHTML=
    document.getElementById("AddHCP1FieldSPAN").innerHTML;

    document.getElementById("AddHCP2TitleDIV").innerHTML=
    document.getElementById("AddHCP2TitleSPAN").innerHTML;
    document.getElementById("AddHCP2FieldDIV").innerHTML=
    document.getElementById("AddHCP2FieldSPAN").innerHTML;

    document.getElementById("AddHCP3TitleDIV").innerHTML=
    document.getElementById("AddHCP3TitleSPAN").innerHTML;
    document.getElementById("AddHCP3FieldDIV").innerHTML=
    document.getElementById("AddHCP3FieldSPAN").innerHTML;

    document.getElementById("AddHCP4TitleDIV").innerHTML=
    document.getElementById("AddHCP4TitleSPAN").innerHTML;
    document.getElementById("AddHCP4FieldDIV").innerHTML=
    document.getElementById("AddHCP4FieldSPAN").innerHTML;
  } else {
    document.getElementById("AddHCP1TitleDIV").innerHTML="";
    document.getElementById("AddHCP1FieldDIV").innerHTML=
                                               AddHCP1FieldEmptySPAN.innerHTML;

    document.getElementById("AddHCP2TitleDIV").innerHTML="";
    document.getElementById("AddHCP2FieldDIV").innerHTML=
                                               AddHCP2FieldEmptySPAN.innerHTML;

    document.getElementById("AddHCP3TitleDIV").innerHTML="";
    document.getElementById("AddHCP3FieldDIV").innerHTML=
                                               AddHCP3FieldEmptySPAN.innerHTML;

    document.getElementById("AddHCP4TitleDIV").innerHTML="";
    document.getElementById("AddHCP4FieldDIV").innerHTML=
                                               AddHCP4FieldEmptySPAN.innerHTML;
  }
}
function getAdditionalHCP() {
  if (!isWhitespace(document.UpdateForm.addthcp1.value)||
      !isWhitespace(document.UpdateForm.addthcp2.value)||
      !isWhitespace(document.UpdateForm.addthcp3.value)||
      !isWhitespace(document.UpdateForm.addthcp4.value)) {
    document.UpdateForm.hcpchbox.checked=true;
    ShowHCPfields();    
    document.UpdateForm.alenc025.value=document.UpdateForm.addthcp1.value;
  ValidateHCP(18,13,document.UpdateForm.alenc025,document.UpdateForm.AddHCP1ds);
    document.UpdateForm.alenc026.value=document.UpdateForm.addthcp2.value;
  ValidateHCP(18,13,document.UpdateForm.alenc026,document.UpdateForm.AddHCP2ds);
    document.UpdateForm.alenc027.value=document.UpdateForm.addthcp3.value;
  ValidateHCP(18,13,document.UpdateForm.alenc027,document.UpdateForm.AddHCP3ds);
    document.UpdateForm.alenc028.value=document.UpdateForm.addthcp4.value;
  ValidateHCP(18,13,document.UpdateForm.alenc028,document.UpdateForm.AddHCP4ds);
  }
}
function Medications() {
  if(document.UpdateForm.opatflag.value=="1") {
  linkurl = "allweb03.pbl?reportno=14&template=005" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
   Left=(document.body.clientWidth-780)/2
   DFrameLink(linkurl,5,Left,780,500);
  } else {
  linkurl = "allweb03.pbl?reportno=14&template=001" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
  parent.location.href=linkurl;
  }
}
function Interventions() {
  if(document.UpdateForm.opatflag.value=="1") {
  linkurl = "allweb03.pbl?reportno=15&template=005" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
   Left=(document.body.clientWidth-780)/2
   DFrameLink(linkurl,5,Left,780,500);
  } else {
  linkurl = "allweb03.pbl?reportno=15&template=001" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
  parent.location.href=linkurl;
  }
}
function Supplies() {
  if(document.UpdateForm.opatflag.value=="1") {
  linkurl = "allweb03.pbl?reportno=17&template=005" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
   Left=(document.body.clientWidth-780)/2
   DFrameLink(linkurl,5,Left,780,500);
  } else {
  linkurl = "allweb03.pbl?reportno=17&template=001" +
            "&encoutky=" + document.UpdateForm.encoutky.value.replace(/ /g,"+")+
            "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
            "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
  parent.location.href=linkurl;
  }
}
function getDepartmentCookie() {
//alert(document.getElementById("DepartmentTitleSPAN"));
  if (GetCookieData('DepartmentFieldCookie')=="1") {
    document.getElementById("DepartmentTitleSPAN").style.display="";
    document.getElementById("DepartmentFieldSPAN").style.display="";
    document.getElementById("LinkedVisIMGSPAN").style.display="none";
    document.UpdateForm.alenc008.className="readonly";
    document.UpdateForm.alenc008.readOnly=true;
    ExpireCookiePath("DepartmentFieldCookie");
  }
  if (GetCookieData('TimeSeenOnlyCookie')!="unknown") {
//alert(GetCookieData('TimeSeenOnlyCookie'));
    tmsnaray=GetCookieData('TimeSeenOnlyCookie').split("|")
//alert(tmsnaray[0]+tmsnaray[1]+tmsnaray[2]+tmsnaray[3]+tmsnaray[4]);

    document.UpdateForm.urnockie.value=tmsnaray[0];
    document.UpdateForm.admnckie.value=tmsnaray[1];
    document.UpdateForm.rwnockie.value=tmsnaray[2];
    document.UpdateForm.clnockie.value=tmsnaray[3];
    document.UpdateForm.caseckie.value=tmsnaray[4];

    ExpireCookiePath("TimeSeenOnlyCookie");
  } 

  if (GetCookieData("DeprtRedCookie")!="unknown") {
    document.UpdateForm.deprtred.value=GetCookieData("DeprtRedCookie");
  }

  ExpireCookiePath("DeprtRedCookie");

//alert(parent.RemoteTimeSeen);
}
function checkCancel() {
  if (document.UpdateForm.alenrsta.value=="1") {
    document.UpdateForm.d_alenrsta.checked=true;
  }
}

justifyLeft(document.UpdateForm.alenc011);
justifyLeft(document.UpdateForm.alenc013);
</script>
