<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostForm() {
  if(validateMandatory(AddForm)) {
     document.AddForm.submit();
  }
}   
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">
document.write('%ALLWEB01.20.001.0 - Add VINAH Map');</script>
</span>
<form name=AddForm method=post action=allweb01.pbl style="margin:0">
<input type=hidden name=reportno value="20">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=deptcode value="%ALLWEB01.20.001.1">

<table align=center width=100% border=0>
<tr><td class=DataLabel>Category</td>
    <td><select name=alvmp001 title="Category" class="Mandatory"
         onchange="selectOptions3(15,this,AddForm.alvmp003);">
        <option value="   "></option>
        <option value="lF">%STANDARD.01.017.lF</option>
        </select>
    </td></tr>

<tr><td class=DataLabel>End Date</td>
    <td class=DataLabel><input type=text size=12
        name=alvmp002 class="Mandatory" title="End Date">
        <img src=../images/DateLookup.gif border=0 hspace=4
         align=absmiddle onclick="DateLookupFrame(AddForm.alvmp002);">
    </td></tr>

<tr><td class=DataLabel>Code</td>
    <td><select name=alvmp003 title="Code" class="Mandatory">
        <option value="   "></option>
        </select>
    </td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Add" class="button" id="all01sub"
     onclick="tempDisable(this);PostForm()">
    <input type=button value=Close class="button" 
     onclick="DFrameCloseRefresh()">
</td></tr>
</table>
</form>
