<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/allweb01.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">
 document.write('%ALLWEB01.10.001 Predefined Diagnosis Maintenance');</script>
</span>
<form name=UpdateForm method=post action=allweb01.pbl style="margin:0">
<input type=hidden name=reportno value="10">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="">
<input type=hidden name=rdepcode value="%ALLWEB01.10.001">
<input type=hidden name=reascode value="%ALLWEB01.10.002">

<table align=center width=100% border=0>
<tr><td class=DataLabel>Reason Code</td>
    <td><input type=text name=alpdi002 class=Mandatory title="Reason Code"
         size=12 maxlength=9 readonly value="%ALLWEB01.10.002">
    </td></tr>

<tr><td class=DataLabel>Reason Description</td>
    <td><input type=text name=alpdi003 class=Mandatory title="Description"
         size=40 maxlength=40 value="%ALLWEB01.10.003">
    </td></tr>

<tr><td class=DataLabel>Equivalent ICD10 Code</td>
    <td><input type=text readonly class=Readonly 
                          name=alpdi004 title="ICD10 Code"
         size=10 maxlength=10 value="%ALLWEB01.10.004">
     <input type=text size=50 name=mricdds1 value="%ALLWEB01.10.015" readonly 
      class=Readonly>
    <img src=../images/DiagnosisSearchIcon.gif class=Icon
     onclick='Icd10DisSearchFrame(UpdateForm.alpdi004,UpdateForm.mricdds1)'>
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(UpdateForm.alpdi004,UpdateForm.mricdds1);">
    </td></tr>

<tr><td class=DataLabel>Active</td>
    <td><input type=checkbox name=alpdi005 title="Active" value="1">
    </td></tr>

<tr><td colspan=2 align=center><br>
   <input type=button value="Update" class="button" id="all01upd"
    onclick="tempDisable(this);setFormactn('U');">    
   <input type=button value="Delete" class="button" id="all01del"
    onclick="tempDisable(this);setFormactn('D');">
   <input type=button value="Cancel" class="button" 
    onclick="DFrameCloseRefresh();">
   </td></tr>
</table>
</form>

<script language=javascript>
if ("%ALLWEB01.10.005" == "1") {
  document.UpdateForm.alpdi005.checked="1";
}
</script>
