<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language=javascript src="../js/allweb0210.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" class=Icon onclick="DFrameExitRefresh();">
<script type="text/javascript">
  document.write('Add Palliative Care Problem Severity Assessment');</script>
</span>

<form name=AddForm method=get action=allweb02.pbl style="margin:0">
<input type=hidden name=reportno value="10">
<input type=hidden name=template value="006">
<input type=hidden name=updatety value="H">
<input type=hidden name=urnumber value="%ALLWEB02.10.003">
<input type=hidden name=admissno value="%ALLWEB02.10.081">
<input type=hidden name=alsas001 value="%ALLWEB02.10.081">

<table align=center width=100% border=0 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel>Assessment Date</td>
    <td class=DataLabel colspan=4>
     <input type=text name=alsas002 id=alsas002 value=""
     title="Assessment Date" class="PastDate Mandatory">
    <img src="../images/DateLookup.gif" class=Icon
      onclick="DateLookupFrame(AddForm.alsas002);">
     Time&nbsp;<input type=text size=6 title="Time" value="        "
        class="Mandatory Time" name=alsas003 id=alsas003>
    <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(AddForm.alsas002,AddForm.alsas003);">
    <img src="../images/TimeLookup.gif" class=Icon time=time1
      onclick="TimeLookupFrame(AddForm.alsas003);">
    </td></tr>

<tr><td colspan=2 align=center><hr></td></tr>

<tr><td class=DataLabel>Pain Sub-Scale</td>
    <td class=DataField>
    <select class=Mandatory name=alsas004 title="Pain Sub-Scale">
    <option></option>
    <option value=" 0">0</option>
    <option value=" 1">1</option>
    <option value=" 2">2</option>
    <option value=" 3">3</option>
    </select>
    </td></tr>

<tr><td class=DataLabel>Other Symptoms Sub-Scale</td>
    <td class=DataField>
    <select class=Mandatory name=alsas005 title="Other Symptoms Sub-Scale">
    <option></option>
    <option value=" 0">0</option>
    <option value=" 1">1</option>
    <option value=" 2">2</option>
    <option value=" 3">3</option>
    </select>
    </td></tr>

<tr><td class=DataLabel>Psychosocial Sub-Scale</td>
    <td class=DataField>
    <select class=Mandatory name=alsas006 title="Psychosocial Sub-Scale">
    <option></option>
    <option value=" 0">0</option>
    <option value=" 1">1</option>
    <option value=" 2">2</option>
    <option value=" 3">3</option>
    </select>
    </td></tr>

<tr><td class=DataLabel>Family/Carer Sub-Scale</td>
    <td class=DataField>
    <select class=Mandatory name=alsas007 title="Family/Carer Sub-Scale">
    <option></option>
    <option value=" 0">0</option>
    <option value=" 1">1</option>
    <option value=" 2">2</option>
    <option value=" 3">3</option>
    </select>
    </td></tr>

<tr><td class=DataField colspan=2>&nbsp</td></tr>

<tr><td class=DataField colspan=2 align=center>Score Key<br>
    0 = Absent, 1 = Mild, 2 = Moderate, 3 = Severe
    </td></tr>

<tr><td colspan=5 align=center><br>
    <input type=button id=btnAdd value="Add" class="button"
      onclick="tempDisable(this);SubmitForm()">
    <input type=button value=Cancel class="button" 
     onclick="DFrameCloseRefresh()">
    </td></tr>

</form>
</table>

