<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script type="text/javascript">
function CheckType(type) {
  if(type.value==" 1"){ 
    document.getElementById("TypeHeading").innerHTML=
    document.getElementById("Type1H").innerHTML;
    document.getElementById("Type").innerHTML=
    document.getElementById("Type1").innerHTML;
  } else if(type.value==" 2"){ 
    document.getElementById("TypeHeading").innerHTML=
    document.getElementById("Type2H").innerHTML;
    document.getElementById("Type").innerHTML=
    document.getElementById("Type2").innerHTML;
    p=UpdateForm
    SetClinicType(p.x_alpct003,p.defctype.value.substr(0,6),p.alpct004.value);
  } else if(type.value==" 3"){ 
    document.getElementById("TypeHeading").innerHTML=
    document.getElementById("Type3H").innerHTML;
    document.getElementById("Type").innerHTML=
    document.getElementById("Type3").innerHTML;
    p=UpdateForm
    SetClinicId(p.x_alpct003,p.deftclid.value.substr(0,6),p.alpct004.value);
  } else if(type.value==" 4") {
    document.getElementById("TypeHeading").innerHTML=
    document.getElementById("Type4H").innerHTML;
    document.getElementById("Type").innerHTML=
    document.getElementById("Type4").innerHTML;
  } else {
    document.getElementById("TypeHeading").innerHTML="";
    document.getElementById("Type").innerHTML="";
  }
}
function DelCase() {
  setFormactn('D');
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);CheckType(UpdateForm.x_alpct002);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Delete Care Team Details
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm action="allweb04.pbl" method=post style="margin:0">
<input type=hidden name=reportno value=5>
<input type=hidden name=template value=1>
<input type=hidden name=updttype value="">
<input type=hidden name=usersite value="%STANDARD.01.023">
<input type=hidden name=defctype value="%ALLWEB04.05.105.0">
<input type=hidden name=deftclid value="%ALLWEB04.05.105.0">
<input type=hidden name=urnumber value="%ALLWEB04.05.003">
<input type=hidden name=alpct001 value="%ALLWEB04.05.102">
<input type=hidden name=alpct002 value="%ALLWEB04.05.103">
<input type=hidden name=alpct004 value="%ALLWEB04.05.104">

<table border=0 width=90% cellspacing=1 align=center>
<tr><td class=DataLabel>Type</td>
    <td class=DataField>
    <select name=x_alpct002 title="Type" class=Mandatory disabled 
     onchange="CheckType(this);">
     <option></option>
     <option value=" 1">Consultant</option>
     <option value=" 2">Clinic Type</option>
     <option value=" 3">Clinic Id</option>
     <option value=" 4">Case Team</option>
     </select></td>
    </tr>

<tr><td><div id=TypeHeading></div></td>
    <td><div id=Type></div></td>
    </tr>

<tr><td colspan=4 align=center>&nbsp;</td>
    </tr>

<tr><td colspan=4 align=center>
    <input type=button class="button" value="Delete" onclick="DelCase();">
    <input type=button value="Cancel" class="button" 
     onclick='DFrameExitRefresh();'>
    </td></tr>
</table>
</form>

<span id=Type1H style="display:none">
<td class=DataLabel>Consultant</td>
</span>

<span id=Type1 style="display:none">
<td><input type=text name=alpct003 title="Consultant" size=10 maxlength=10
     class=Readonly readonly value="%ALLWEB04.05.105.0"
     onBlur="validateCode(18,UpdateForm.alpct003,UpdateForm.d_alpct003);">
    <input type=text name=d_alpct003 size=22 maxlength=15 readonly 
     value="%ALLWEB04.05.105.1" class=Readonly>
    </td>
</span>

<span id=Type2H style="display:none">
<td class=DataLabel>Clinic Type</td>
</span>

<span id=Type2 style="display:none">
<td><input type=hidden name=alpct003 value="%ALLWEB04.05.105.0">
    <select name=x_alpct003 title="Clinic Type" disabled
     class="Mandatory SelectBig">
    <option value=" ">Select Clinic Type</option>
    </select>
    </td>
</span>

<span id=Type3H style="display:none">
<td class=DataLabel>Clinic Id</td>
</span>

<span id=Type3 style="display:none">
<td><input type=hidden name=alpct003 value="%ALLWEB04.05.105.0">
    <select name=x_alpct003 title="Clinic Id" disabled 
     class="Mandatory SelectBig">
    <option value=" ">Select Clinic Id</option>
    </select>
    </td>
</span>

<span id=Type4H style="display:none">
<td class=DataLabel>Case Team</td>
</span>

<span id=Type4 style="display:none">
<td><input type=text name=alpct003 size=11 maxlength=11 title="Case Team"
     class=Readonly readonly value="%ALLWEB04.05.105.0"
       onblur="validateCode2(7,UpdateForm.alpct003,UpdateForm.n_alpct003);">
       <input type=text name=n_alpct003 size=42 readonly
        value="%ALLWEB04.05.105.1"
        class=Readonly tabindex=-1 title="Team Description" value="">
    </td>
</span>

<script type="text/javascript">
 CareType="%ALLWEB04.05.103";
 for (var i =0 ; i < document.UpdateForm.x_alpct002.length; i++) {
  if (document.UpdateForm.x_alpct002.options[i].value==CareType.substr(0,2)) {
       document.UpdateForm.x_alpct002.selectedIndex=i } };
</script>
