<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script language="javascript" src="../js/allweb02.js"></script>
<script type="text/javascript">
//------------------------------------------------------------
// Set Link ACC Redirect and Return program after link ACC
//------------------------------------------------------------
function SetList() {

  p=UpdateForm;
  var SetSite;

  if(p.alcndevp.value=="1") {
    document.getElementById("EventProgramLabel").innerHTML=
    document.getElementById("ShowEventProgramLabel").innerHTML;
    document.getElementById("EventProgramField").innerHTML=
    document.getElementById("ShowEventProgramField").innerHTML;
  }

  if(isWhitespace(p.alref119.value)) {
    SetSite=p.wbsesite.value;
  } else {
    SetSite=p.alref119.value;
  }
 for (var i =0 ; i < document.UpdateForm.alref119.length; i++) {
  if (document.UpdateForm.alref119.options[i].value==SetSite.substr(0,6)) {
       document.UpdateForm.alref119.selectedIndex=i; 
  } 
 }
//
  p.alref106.options.length=1;
  SetClinicType(p.alref106,p.defctype.value,p.alref119.value);
//
  if(p.alref120.type=="select-one") {
    p.alref120.options.length=1;
    SetClinicId(p.alref120,p.deftclid.value,p.alref119.value);
  }
}
function AddReferral(theForm) {
  window.PageUpdateForm=theForm;
  theForm.target="PopUpFrame1";
  if (validateMandatory(theForm)) {

    if(!isWhitespace(UpdateForm.alref161.value) &&
       !isWhitespace(UpdateForm.alref090.value)) {
       if(SetDateYYYYMMDD(UpdateForm.alref090.value) >
          SetDateYYYYMMDD(UpdateForm.alref161.value)) {
          alert(UpdateForm.alref161.title + " must be after " +
          UpdateForm.alref090.title);
          return;
       }
    }

    if(!isWhitespace(UpdateForm.alref159.value) &&
       !isWhitespace(UpdateForm.alref090.value)) {
       if(SetDateYYYYMMDD(UpdateForm.alref090.value) >
          SetDateYYYYMMDD(UpdateForm.alref159.value)) {
          alert(UpdateForm.alref159.title + " must be after " +
          UpdateForm.alref090.title);
          return;
       }
    }

    if(!isWhitespace(UpdateForm.alref159.value) &&
       !isWhitespace(UpdateForm.alref161.value)) {
       if(SetDateYYYYMMDD(UpdateForm.alref161.value) >
          SetDateYYYYMMDD(UpdateForm.alref159.value)) {
          alert(UpdateForm.alref159.title + " must be after " +
          UpdateForm.alref161.title);
          return;
       }
    }

    if(!isWhitespace(UpdateForm.alref039.value) &&
       !isWhitespace(UpdateForm.alref090.value)) {
       if(SetDateYYYYMMDD(UpdateForm.alref039.value) >
          SetDateYYYYMMDD(UpdateForm.alref090.value)) {
          alert(UpdateForm.alref039.title + " must be before " +
          UpdateForm.alref090.title);
          return;
       }
    }

   //check for ticked restart box and do expiry date calculation
   //check for ticked renew referral box do expiry date calculation
    document.UpdateForm.renewref.value="0";
    if(document.UpdateForm.alref155.checked==true) {
       document.UpdateForm.renewref.value="1";
       calculateRestartRefExpiryDate();
    }

    //  setRedirect();

    theForm.submit();
    }
}
function MandatoryAccepted() {
  if(isWhitespace(UpdateForm.alref159.value)) {
    UpdateForm.alref090.className="PastDate";
  } else {
    UpdateForm.alref090.className="Mandatory PastDate";
  }
}
function displayClinicId() {
  if (document.UpdateForm.deptlcod.value.substr(34,1)  == "2") {
    clinicidtitlespan.style.display="";
    clinicidfieldspan.style.display="";
    return;
  }
  if (document.UpdateForm.deptlcod.value.substr(34,1)  == "1") {
    clinicidtitlespan.style.display="";
    clinicidfieldspan.style.display="";
    document.UpdateForm.alref120.className="Mandatory";
    return;
  }
}
function displayReason() {
  if (document.UpdateForm.deptlcod.value.substr(30,1)  == "2" ||
      document.UpdateForm.deptlcod.value.substr(30,1)  == "3") {
    reasontitlespan.style.display="";
    reasonfieldspan.style.display="";
    return;
  }
  if (document.UpdateForm.deptlcod.value.substr(30,1)  == "1") {
    reasontitlespan.style.display="";
    reasonfieldspan.style.display="";
    document.UpdateForm.alref028.className="SelectBig Mandatory";
    return;
  }
}
function displayTypeOfReferral() {
  if (document.UpdateForm.deptlcod.value.substr(33,1)  == "2") {
    typeofreferraltitlespan.style.display="";
    typeofreferralfieldspan.style.display="";
    typeofreferraltitlespan1.style.display="";
    typeofreferralfieldspan1.style.display="";
    typeofreferraltitlespan2.style.display="";
    typeofreferralfieldspan2.style.display="";
    typeofreferraltitlespan3.style.display="";
    typeofreferralfieldspan3.style.display="";
    displayRenewedReferral();
    return;
  }
  if (document.UpdateForm.deptlcod.value.substr(33,1)  == "1") {
    typeofreferraltitlespan.style.display="";
    typeofreferralfieldspan.style.display="";
    typeofreferraltitlespan1.style.display="";
    typeofreferralfieldspan1.style.display="";
    document.UpdateForm.alref124.className="SelectBig Mandatory";
    typeofreferraltitlespan2.style.display="";
    typeofreferralfieldspan2.style.display="";
    typeofreferraltitlespan3.style.display="";
    typeofreferralfieldspan3.style.display="";
    displayRenewedReferral();
    return;
  }
}
function displayRenewedReferral(){
  if((document.UpdateForm.deptlcod.value.substr(10,1)  == 'O') ||
    (document.UpdateForm.deptlcod.value.substr(10,1)  == 'S')){
    typeofreferralfieldspan4.style.display="";
    typeofreferraltitlespan5.style.display="";
    typeofreferralfieldspan5.style.display="";
  }
}
function calculateRestartRefExpiryDate() {
  if(isWhitespace(document.UpdateForm.alref124.value)) {return;}
  if(isWhitespace(document.UpdateForm.alref168.value)) {return;}
  if(parseInt(document.UpdateForm.alref124.value.substr(25,6))=="0") {
    document.UpdateForm.alref125.value="";
    return;
  }
//
  save_renewal_date = document.UpdateForm.alref168.value;

  AddSubtractDate(document.UpdateForm.alref168,
                  document.UpdateForm.alref124.value.substr(22,6),
                  "A");

  document.UpdateForm.alref125.value=document.UpdateForm.alref168.value;
  document.UpdateForm.alref168.value=save_renewal_date;
}
function MandatoryRenewalDate() {
  if(document.UpdateForm.alref155.checked!=true) {
    document.UpdateForm.alref168.className="Readonly Date";
 //   document.UpdateForm.alref168.value=document.UpdateForm.d_alref168.value;
    document.UpdateForm.alref168.readOnly=true;
  } else {
    document.UpdateForm.alref168.className="Mandatory Date";
    document.UpdateForm.alref168.readOnly=false;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetList();displayClinicId();displayReason();
      UpdateForm.redirect.value=parent.location.href;ValidatePriority();
       CommonEpisodeRef();displayTypeOfReferral();">
<span class=DFrameTitleBar>
<img class=Icon border=0 align=right src="../images/ExitIcon.gif" onclick="DFrameExit();">
%ALLWEB02.03.125.0  Referral
</span>
<div id=PageBodySection style="overflow: auto;">
<form id=UpdateForm name=UpdateForm action="allweb02.pbl" method=post
 onsubmit='return validateMandatory(UpdateForm);' >
<input type=hidden name=reportno value="2">
<input type=hidden name=updatety value="A">
<input type=hidden name=nextpage value="5">
<input type=hidden name=redirect value="">
<input type=hidden id=admissno name=admissno value="%ALLWEB02.03.081">
<input type=hidden name=MenuType value="%ALLWEB02.03.088">
<input type=hidden name=uservari value="%ALLWEB02.03.113">
<input type=hidden id=deptcode name=deptcode value="%ALLWEB02.03.125.1">
<input type=hidden name=deptIndi value="%ALLWEB02.03.125.3">
<input type=hidden name=usermemr value="">
<input type=hidden name=alref088 value=" ">
<input type=hidden name=alref089 value=" ">
<input type=hidden name=dummy>
<input type=hidden name=claimc>
<input type=hidden name=ptcnueoc value="%ALLWEB02.03.203">
<input type=hidden name=wbsesite value="%STANDARD.01.023">
<input type=hidden name=defctype value="%ALLWEB02.03.167.3">
<input type=hidden name=deftclid value="">
<input type=hidden name=renewref value="">
<input type=hidden name=alcndevp value="%STANDARD.01.025.106.225.0.1">
<input type=hidden name=override value="2">
<input type=hidden name=deptlcod id=deptlcod value="%ALLWEB02.03.125.3">
<input type="hidden" name="d_aldeutrs" id="d_aldeutrs"
       value="%ALLWEB02.03.762.3">
<input type="hidden" name="d_alrestat" id="d_alrestat"
       value="%ALLWEB02.03.199.027">
<input type="hidden" name="d_aldeuprt" id="d_aldeuprt"
       value="%ALLWEB02.03.762.4">
<input type=hidden name=CATEG_CL value="CL">
<input type=hidden name=ptcnhdps id=ptcnhdps 
       value="%STANDARD.01.025.080.250.1.1">

<table align=center cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td class=DataLabel>Episode Program Stream</td>
    <td><input name=deptcode_name type=text value="%ALLWEB02.03.125.0" readonly 
          class=Readonly></td>
    <td class=DataLabel>Entered by</td>
    <td><input  type=text value="%ALLWEB02.03.168" readonly  
          class=Readonly></td></tr>

<tr><td class=DataLabel><div id="tsHeading"></div></td>
    <td><div id="tsField"></div></td>
    <td class=DataLabel><div id="tdHeading"></div></td>
    <td><div id="tdField"></div></td>
    </tr>

<tr><td class=DataLabel><div id="prHeading"></div></td>
    <td><div id="prField"></div></td>
    <td class=DataLabel>Referral Date</td>
    <td class=DataField>
    <input type=text name=alref019 id=alref019 size=12 tabindex=1
     onblur="if(checkDate(this,'Date')){checkTriageDate(UpdateForm.alref187);}"
     class= "Mandatory PastDate" title="Referral Date">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref019
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref019>
    </td></tr>

<tr><td class=DataLabel>Referral Source</td>
    <td><select title="Referral Source" id=alref034 name=alref034 
    class="Mandatory SelectBig" tabindex=2>
        <option></option>
         %ALLWEB02.03.134.4
        </select></td>
    <td class=DataLabel>Referred By</td>
    <td><input id=alref022 type=hidden name=alref022>
        <input type=text id=dispdnam name=dispdnam notab>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(alref022,dispdnam,0);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref022,dispdnam);">
    <td></tr>

<tr><td class=DataLabel>
    <span id="typeofreferraltitlespan" style="display:none">
    Type of Referral
    </span>
    </td>
    <td>
    <span id="typeofreferralfieldspan" style="display:none">
    <select name=alref124 title="Type of Referral" tabindex=21>
        <option></option>
         %ALLWEB02.03.186.2
        </select>
    </span>
    </td>
    <td class=DataLabel>
    <span id="typeofreferraltitlespan2" style="display:none">
    Provider Number
    </span>
    </td>
    <td><span id="typeofreferralfieldspan2" style="display:none">
         <input type=text size=21 maxlength=8
         title="Provider Number" id=hcpprovno name=hcpprovno
       onchange="ReadDoc2(18,0,alref022,dispdnam,alref023,n_alref023,alref024,hcpprovno);">
         &nbsp;Retain as Usual GP?
        <input type=checkbox value="0" id=rusualgp name=rusualgp
         title="Retain as Usual GP" onclick="UpdateGP();">
    </span>
    </td>
    </tr>

<tr><td class=DataLabel>
    <span id="typeofreferraltitlespan1" style="display:none">
    Referral Expiry Date
    </span>
    </td>
    <td>
    <span id="typeofreferralfieldspan1" style="display:none">
    <input type=text id=alref125 name=alref125 size=12 class=Readonly readonly
         tabindex=23  title="Referral Expiry Date">
    </span>
    <span id="typeofreferralfieldspan4" style="display:none">
    Referral Renewal Date
    <input type=text id=alref168 name=alref168 size=12 tabindex=23
     class="Readonly Date" readonly
     title="Referral Renewal Date">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref168
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref168>

    </span>
    </td>
    <td class=DataLabel>
     <span id="typeofreferraltitlespan3" style="display:none">
     Referred By Practice
     </span>
     </td>
    <td><span id="typeofreferralfieldspan3" style="display:none">
        <input type=text size=10 class=readonly
         title="Referred By Practice" readonly id=alref023 name=alref023>
        <input type=text size=20 class=readonly
         title="Practice Name" readonly id=n_alref023 name=n_alref023>
        <input type=hidden id=alref024 name=alref024
         title="Practice Count" >
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="GPHCGSearchFrame(alref022,dispdnam,hcpprovno,alref023,n_alref023,alref024)">
        <img src="../images/erase.gif" class=Icon
         onclick="clrFields(alref023,n_alref023,alref024,hcpprovno);">
    </span>
    </td></tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type=text id=alref-38 name=alref038 size=10 maxlength=10
         value="%ALLWEB02.03.138.1" tabindex=3 title="Responsible HCP"
         onblur="if (checkAlphanumDesc(event,this) != false) {
                   ValidateHCP(18,0,alref038,n_alref038);
                 }">
        <input type=text name=n_alref038 size=30 readonly title="HCP Name"
         id=n_alref038 value="%ALLWEB02.03.138.0" class=Readonly>
        <img src="../images/SearchIcon.gif" class=Icon 
         onclick="HCPSearchFrame(UpdateForm.alref038,UpdateForm.n_alref038,0);">
        </td>
    <td class=DataLabel>Referral In Received Date</td>
    <td><input type=text id=alref039 name=alref039 size=12 tabindex=32
     onblur="checkDate(this,'Date')" value="%ALLWEB02.03.139"
     class="Mandatory PastDate" title="Referral In Received Date">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref039
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref039>
    </td></tr>
<tr>
  <td></td><td></td><td></td>
</tr>
<tr><td class=DataLabel>Patient U/R</td>
    <td><input type=text name=urnumber size=10 maxlength=8 class=Mandatory
          title="Patient U/R" tabindex=10 onblur="justifyRight(this);
                 validateCode(8,UpdateForm.urnumber,UpdateForm.patname);"
	id=urnumber>
        <input type=text name=patname size=30 maxlength=8 
         readonly id=patname class=Readonly>
        <input type=hidden id=dummy name=dummy>
        <img src="../images/SearchIcon.gif" class=Icon 
          onclick="PatientSearchFrame(UpdateForm.patname,
                        UpdateForm.urnumber,UpdateForm.dummy);"></td>
    <td class=DataLabel>Preferred Site</td>
    <td class=DataField><select name=alref119 title="Preferred Site" tabindex=10
     onchange="SetList();"  id=alref119>
     <option></option>
      %ALLWEB02.03.182.2
     </select>
      </td>
    </tr>

<tr><td></td>
    <td><input type="button" class="Extralargebutton" id="btnMainHealth"
         value="Episode Health Conditions" 
         onclick="openHealthConditionAddV();" />
    </td>
    <td class=DataLabel>First Appointment Booked</td>
    <td class=DataField><input type=text id=alref159 name=alref159 size=12
     onblur="checkDate(this,'Date');MandatoryAccepted();" value=""
     class="Date" title="Episode First Appointment Booked Date">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref159
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref159>
    </td>
    </tr>

<tr><td>Episode Health Condition 1</td>
    <td>
    <input type="text" id="mhcon001" name="mhcon001" size="10"
     title="Episode Health Condition Code 1"
     value="" tabindex=39
     onblur="validateAHDiagV(deptcode,mhcon001,d_mhcon001,alref090);" />
    <input type="text" id="d_mhcon001" name="d_mhcon001" class="ReadOnly"
     value="" readonly="true" size="20"/>
    <img src="../images/SearchIcon.gif" class="Icon" id="imgSearch"
     onclick="AHDiagSearchFrameV(deptcode,mhcon001,d_mhcon001,alref090);" />
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(mhcon001,d_mhcon001);">
    </td>
    <td></td>
    <td></td>
    </tr>

<tr><td>Episode Health Condition 2</td>
    <td>
    <input type="text" id="mhcon002" name="mhcon002" size="10"
     title="Episode Health Condition Code 2"
     value="" tabindex=41
     onblur="validateAHDiagV(deptcode,mhcon002,d_mhcon002,alref090);" />
    <input type="text" id="d_mhcon002" name="d_mhcon002" class="ReadOnly"
     value=""  readonly="true" size="20"/>
    <img src="../images/SearchIcon.gif" class="Icon" id="imgSearch"
     onclick="AHDiagSearchFrameV(deptcode,mhcon002,d_mhcon002,alref090);" />
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(mhcon002,d_mhcon002);">
    </td>
    <td></td>
    <td></td>
    </tr>

<tr><td></td>
    <td><input type="button" class="Extralargebutton" id="btnOtherFactors"
         value="Other Factors Affecting Health"
         onclick="openOtherFactorsAffectingHealthAdd();"/></td>
    <td class=DataLabel>%STANDARD.01.017.CL</td>
    <td class=DataField><select title="%STANDARD.01.017.CL" name=alref035
         class="Mandatory SelectBig">
        <option></option>
         %ALLWEB02.03.135.9.1.10.2.X
        </select></td>
    </tr>

<tr><td></td>
    <td><input type="button" class="Extralargebutton"
         id="btnReferralDestination" name="btnReferralDestination"
         value="Referral Out" 
         onclick="openReferralDestinationAdd();"/>
    </td>
    <td class=DataLabel>Notified of First Appointment</td>
    <td class=DataField><input type=text name=alref161 size=12
     onblur="checkDate(this,'Date')" value="" id=alref161
     class="PastDate" title="Notified of First Appointment">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref161
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref161>
    </td>
    </tr>

<tr><td class=DataLabel>Clinic Type </td>
    <td><select class="Mandatory SelectBig" name=alref106 maxlength=45 tabindex=16>
        <option></option>
        </select></td>
    <td class=DataLabel>Advanced Care Plan Documented Date</td>
    <td><input type=text title="Advanced Care Plan Documented Date"
         id=alref164 size=12 name=alref164 class="Date">
        <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref164
         time=null>
        <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref164>
    </td>
</tr>

<tr><td class=DataLabel>
    <span id="reasontitlespan" style="display:none">
    Reason for Referral
    </span>
    </td>
    <td>
    <span id="reasonfieldspan" style="display:none">
    <select title="Reason for Referral" name=alref028 tabindex=18
         class="SelectBig">
        <option></option>
         %ALLWEB02.03.199.041
        </select>
    </span>
    </td>
    <td><div id="EventProgramLabel"></div></td>
    <td><div id="EventProgramField"></div></td>
</tr>

<tr valign=top><td class=DataLabel>Activate Referral</td>
      <td><input type=checkbox name=alref003 value="1" title="Activate Referral"
           tabindex=18>
      </td>
      <td></td>
      <td></td>
</tr>

<tr>
    <td class=DataLabel>Case Review Date</td>
    <td class=DataField><input type=text name=alref139 size=12
     onblur="checkDate(this,'Date');" value="" id=alref139
     class="Date" title="Case Review Date">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref139
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref139>
    </td>
   <td>
   <span id="clinicidtitlespan" style="display:none">
    Clinic ID
    </span>
    </td>
    <td class=DataField>
    <span id="clinicidfieldspan" style="display:none">
    <select name=alref120 title="Clinic ID" tabindex=24>
                          <option></option>
                        </select>
    </span>
    </td>
    </tr>

<tr><td class=DataLabel>
    <span id="careplantitlespan" style="display:none">
    Episode Care Plan Documented
    </span>
    </td>
    <td class=DataField>
    <span id="careplanfieldspan" style="display:none">
    <input type=text name=alref096 size=12 id=alref096
     onblur="checkDate(this,'Date')" value=""
     class="PastDate" title="Episode Care Plan Documented">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref096
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref096>
    </span>
    </td>
    <td></td>
    <td></td>
    </tr>

<tr valign=top><td class=DataLabel>Comments 1</td>
    <td colspan=3><input type=text size=65 maxlength=62 name=alref088 tabindex=19>
    </td></tr>

<tr valign=top><td class=DataLabel>Comments 2</td>
    <td colspan=3><input type=text size=65 maxlength=62 name=alref089 tabindex=20>
    </td></tr>

<tr><td class=DataLabel>Case Team</td>
   <td><input type=text name=alref087 size=11 maxlength=10 title="Case Team"
       id=alref087  onblur="if (checkAlphanumDesc(event,this) != false) {
                  validateCode2(7,alref087,n_alref087);
                }" id=alref087>
       <input id=n_alref087 type=text name=n_alref087 size=30 readonly 
        class=Readonly tabindex=-1 title="Team Description">
       <img src="../images/SearchIcon.gif" class=Icon
        onclick="TeamSearchFrame(alref087,n_alref087)">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref087,n_alref087);">
       </td>
      <td></td>
      <td></td>
</tr>

<tr><td class=DataLabel>Date Referral Accepted</td>
    <td class=DataField> <input type=text name=alref090 size=12 tabindex=80
     onblur="checkDate(this,'Date')" value="" id=alref090
     class="PastDate" title="Date Referral Accepted">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.alref090
     time=null>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref090>
    </td>
    <td class=DataLabel></td>
    <td></td>
</tr>

<tr><td class=DataLabel>
    <span id="typeofreferraltitlespan5" style="display:none">
     Restart Referral Period
    </span>
    </td>
    <td><span id="typeofreferralfieldspan5" style="display:none">
      <input type=checkbox id=alref155 name=alref155 value="1"
         title="Restart Referral Period" onclick="MandatoryRenewalDate();"
         tabindex=12>
      </span>
      </td>
      <td class=DataLabel></td>
      <td class=DataLabel></td>
</tr>

<tr><td class=DataLabel
     colspan=2>Print Referral Letter to Patient&nbsp;&nbsp;&nbsp;
     <input type=checkbox name=prtnewpt tabindex=80
      title="New Referral to pat" value="1">
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl01 class=SelectBig tabindex=81>
      %STANDARD.01.001.ALLNEWPT.01
      </select></td></tr>

<tr><td class=DataLabel colspan=2>Print Referral Letter to Referrer&nbsp;&nbsp;
      <input type=checkbox name=prtnewrf tabindex=82
       title="New Referral to pat" value="1">
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl02 class=SelectBig tabindex=83>
      %STANDARD.01.001.ALLNEWRF.01
      </select></td></tr>

<tr><td class=DataLabel colspan=2>Referral Labels
    <input type=checkbox value="1" name=prtreflb width=30% tabindex=84
        onclick="SetPrinter(UpdateForm.prtpno07,UpdateForm.prtpsl07);" 
    id=prtreflb>
    Copies
    <select name=prtpno07 width=20% tabindex=85>
        %STANDARD.01.027.2.1
    </select></td>
    <td class=DataLabel>Printer</td>
    <td><select class="SelectBig" name=prtpsl07 title="Printer" width=15%
         tabindex=86>
        <option></option>
        %STANDARD.01.001.LABELALL.01
        </select></td></tr>

<tr><td colspan=4 align=center><br>
    <input type=button id=btnAdd name=formactn value="Add" class="button"
     tabindex=100 onclick="tempDisable(this); AddReferral(UpdateForm);">
    <input type=button Value="Cancel" class="button"
     tabindex=101 onclick="DFrameCloseRefresh();">
    </td></tr>
</table>
</form>

<span id="ShowEventProgramLabel" style="display:none">
  Event Program
</span>

<span id="ShowEventProgramField" style="display:none">
  <select class="Mandatory SelectBig" name=alref145 title="Event Program"
   tabindex="17" id=alref145 onchange="filterNDISEpsRefCL(UpdateForm);">
  <option></option>
  %ALLWEB02.03.199.016.4
  </select>
</span>

<span id="showtsHeading" style="display:none">
Triage Status
</span>

<span id="showtsField" style="display:none">
<select title="Triage Status" name=alref186 class="Mandatory SelectBig"
 id="alref186" onchange="showPriorityTriage();">
<option></option>
%ALLWEB02.03.199.066.2
</select>
</span>

<span id="showtdHeading" style="display:none">
Triage Date
</span>

<span id="showtdField" style="display:none">
<input type=text name=alref187 id=alref187 size=12 title="Triage Date"
 value="%ALLWEB02.03.199.067" class="PastDate"
 onblur="checkTriageDate(this);">
<img src=../images/DateTimeStamp.gif class=Icon
 date=UpdateForm.alref187 time=null>
<img src=../images/DateLookup.gif class=Icon date=UpdateForm.alref187>
</span>

<span id="showprHeading" style="display:none">
Priority
</span>

<span id="showprField" style="display:none">
<select class="Mandatory selectBig" name=alref027 id=alref027
 title="Priority" onchange="ValidatePriority();">
<option></option>
 %ALLWEB02.03.127.2
</select>
</span>
</div>
