<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/CasemixAnalysis.js>       </script>
<script type="text/javascript" >       
function ShowExtract(ExtractKey,ExtractLevel) {
  document.SelectExtract.cexlevel.value=ExtractLevel;
  document.SelectExtract.cextrkey.value=ExtractKey;
  document.SelectExtract.submit();
}
function SetGraphType(graphType) {
  SelectExtract.GraphType.value=graphType;
  SetGraph()
}
function SetGraph() {
 if (t.rows.length != 0 ) {
  i=SelectExtract.SetValue1.selectedIndex;
  SelectExtract.GraphValue1.value=SelectExtract.SetValue1.options[i].value;
  i=SelectExtract.SetValue2.selectedIndex;
  SelectExtract.GraphValue2.value=SelectExtract.SetValue1.options[i].value;
  TableGraph();
 }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable()>
<form name=SelectExtract action=ciaweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=1>
<input type=hidden name=cexlevel value=0>
<input type=hidden name=cextrkey value="">
<input type=hidden name=GraphType value="0">
<input type=hidden name=GraphValue1 value="2">
<input type=hidden name=GraphValue2 value="2">
<table width=100% bgcolor=#CCCCCC border=0>
<tr>
    <td class=DataLabel>
      <a href=javascript:SetGraphType(0)>
      <img src=../images/SpreadSheetIcon.gif class="Icon">
      </a>
      <a href=javascript:SetGraphType(1)>
      <img src=../images/Bar1GraphIcon.gif class="Icon">
      </a>
      <a href=javascript:SetGraphType(2)>
      <img src=../images/PieGraphIcon.gif class="Icon">
      </a>
      <a href=javascript:SetGraphType(3)>
      <img src=../images/Column1GraphIcon.gif class="Icon">
      </a>
      <a href=javascript:SetGraphType(4)>
      <img src=../images/Column2GraphIcon.gif class="Icon">
      </a>
      <a href=javascript:SelectExtract.submit()>
      <img src=../images/HomeIcon.gif class="Icon">
      </a></td>
    <td class=DataLabel>Casemix Extract
        <select name=cextract onchange='SelectExtract.submit();'> 
        <option></option>
        %CIAWEB01.01.002 
        </select></td>
    <td class=DataLabel>Color
        <select name=SetColor onchange="SetGraph();" >
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        </select></td>
    <td class=DataLabel>3D 
        <input type=checkbox name=Graph3D value="true" 
         checked onclick="SetGraph();"></td>
    <td class=DataLabel>Value
        <select name=SetValue1 onchange="SetGraph();" >
        <option value="2">Patients</option>
        <option value="3">Income</option>
        <option value="5">Bed Days</option>
        <option value="6">Avg LOS</option>
        </select>
        <select name=SetValue2 onchange="SetGraph();" >
        <option value="2">Patients</option>
        <option value="3">Income</option>
        <option value="5">Bed Days</option>
        <option value="6">Avg LOS</option>
        </select>
        <input class=SmallButton type=submit value="Go" ></td></tr>
</table>
</form>                                                            
<table width=100% border=2 bgcolor=#bbbbbb><tr><td>
<div id=CasemixGraph align=center>
</div>
</td></tr>
</table>
<div id=CasemixTable align=center>
</div>
<script type="text/javascript">
function InitTable() {
//
// Create New Table Object
//
//
 t = new Table(0,0,2,"100%","center","%CIAWEB01.01.013");
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//
 t.addColumn("Casemix Type","String",0,0,"left nowrap","","16")
 t.addColumn("Income","Number",3,3,"right nowrap","","")
 t.addColumn("Patients","Number",2,2,"right nowrap","","")
 t.addColumn("Bed Days","Number",5,5,"right nowrap","","")
 t.addColumn("Avg LOS","Number",6,6,"right nowrap","","")
//
// Add Rows to Table (Output from Web Server)
//

%CIAWEB01.01.012

 if (t.rows.length != 0 ) {
   OrderColumn=1; 
   AscDsc=2;
   lastOrderColumn=OrderColumn;
   TableOutput(OrderColumn,AscDsc);
 }
}
</script>
<table width=100% border=1 cellspacing=0 cellpadding=1>
<tr bgcolor=red width=100%>
<td align=center><b>No More data to Display</b></td>
</tr></table>
