<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ciaweb01.js"></script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);document.UpdateForm.caaad003.focus();>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<form name=UpdateForm method=post action=ciaweb01.pbl style="margin:0">
<input type=hidden name=reportno value="8">
<input type=hidden name=template value="004">
<input type=hidden name=updttype value="U">
<input type=hidden name=nextpage value="0">
<input type=hidden name=redirect value="ciaweb01.pbl?reportno=08&template=002">
<table align=center width=95% border=0 cellpadding=0>
<tr><td>Area Analysis</td>
    <td><input type=text name=caaad001 class=ReadOnly readonly
               value="%CIAWEB01.08.001" size=3 title="Area Analysis"
               maxlength=3 tabindex=-1></td>
</tr>

<tr><td class=DataLabel>Postcode</td>
    <td colspan=5><input type=text name=caaad002 class=Readonly  
                   title="Postcode" size=10 maxlength=10 readonly
                   value="%CIAWEB01.08.002"></td></tr>

<tr><td class=DataLabel>Description (eg. Suburb - Rye)</td>
    <td colspan=5><input type=text name=caaad003 
                   title="Description" size=40 maxlength=30
                   value="%CIAWEB01.08.003"></td></tr>

<tr><td class=DataLabel>Level 3 (eg. City - Melbourne)</td>
    <td><input type=text name=caaad004 title="Level 3" size=10 maxlength=10
         value="%CIAWEB01.08.004"></td></tr>

<tr><td class=DataLabel>Level 2 (eg. State - Vic)</td>
    <td><input type=text name=caaad005 title="Level 2" size=10 maxlength=10
         value="%CIAWEB01.08.005"></td></tr>

<tr><td class=DataLabel>Level 1 (eg. Country - Australia)</td>
    <td><input type=text name=caaad006 title="Level 1" size=10 maxlength=10
         value="%CIAWEB01.08.006"></td></tr>

<tr><td colspan=6 align=center><br>
   <input type=button value="Update" class="button" 
    onclick="setFormactn('U');">
   <input type=button value="Delete" class="button" 
    onclick="setFormactn('D');">
   <input type=button value="Cancel" class="button" 
    onclick="DFrameCloseRefresh();">
</td></tr>
</table>
</form>
