<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
%START.OF.PAGE
<script type="text/javascript">
function deleteResult(key){

  winTitle = "Remove Results for " + PatientNAM + " (UR " + PatientURN + ") ";
  reasonForDeleteList = document.getElementById("catRdMain").innerHTML;

  htmlContent = '<form name=UpdateForm action=cliweb03.pbl method=get>'+
                '<input type=hidden name=reportno value="09">'+
                '<input type=hidden name=updatety value="D">'+
                '<input type=hidden name=urnumber value="'+PatientURN+'">'+
                '<input type=hidden name=resultky value="'+key+'">'+ 
                '<table style="text-align:center;width:100%;"><tr>'+
                '<td colspan=2 style="text-align:center">'+
                'This function will <b>remove</b> results from<br><b>' + 
                PatientNAM + ' (UR ' + PatientURN + ') ' +
                '</b><br>that cannot be reinstated.<br><br></td></tr></table>'+
                 reasonForDeleteList+ 
                '<table style="text-align:center;width:100%;"><tr><td colspan=2 style="align:center"><br>'+
                'Please enter your username and password to continue.<br><br>'+
                'User Name <input type="type" name="username" class=Mandatory size=12 title="User Name"><br>'+
                'Password <input type="password" name="password" class=Mandatory size=12 onblur="checkPass()" '+
                'title="Password">'+
                '<br><br><br></td></tr>'+
                '<tr><td colspan=2 style="text-align:center">'+
                '<input type=submit value="    Delete   " '+
                'onclick="if(validateMandatory(UpdateForm)){submit();}else{return false;}">'+
                '<input type=button value="    Close    " onclick="DFrameExit();">'+
                '</td></tr></table><br>'+
                '</form>'; 

  PopulateBlankPopup(htmlContent,400,300,winTitle);
}
</script>
<body onload="PageLoad(event);InitTable();SetCookiePath('ResultList');">
<div id=HeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%CLIWEB03.01.003";
PatientVIS="%CLIWEB03.01.081";
PatientNAM="%CLIWEB03.01.002";
PatientSTA="%CLIWEB03.01.086.078";
PatientALT="%CLIWEB03.01.084";
PatientSEX="%CLIWEB03.01.019";
PatientDOB="%CLIWEB03.01.020";
PatientAGE="%CLIWEB03.01.021";
PatientLOC="%CLIWEB03.01.083";
PatientPRI="%CLIWEB03.01.086.066.1";
PatientUNT="%CLIWEB03.01.066.0";
DoctorCOD="%CLIWEB03.01.082.003";
DoctorNAM="%CLIWEB03.01.082.002";
PatientAID="%CLIWEB03.01.086.090";
PatientIND="%CLIWEB03.01.086.091";
PatientCUR="%CLIWEB03.01.086.092";
PatientCLC="%CLIWEB03.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%CLIWEB03.01.086.094";
PatientCDM="%CLIWEB03.01.086.095";
PatientVDH="%CLIWEB03.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<form name=resLnkFrm action=cliweb03.pbl method=post style="margin:0" >
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=6>
<input type=hidden name=viewtype value=1>
<input type=hidden name=urnumber value="%CLIWEB03.01.003">
<input type=hidden name=admissno value="%CLIWEB03.01.081">
<table width=100% border=1 cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell >
    <input type=button value="<< Older" class="button" 
     onclick='location.href="%CLIWEB03.01.101.cliweb03.01.006"'></td>
    <td class=HeadingCell align=center>Results %CLIWEB03.01.106</td>
    <td class=HeadingCell align=right>
    <img src="../images/PrinterIcon.gif" onclick="SortTablePrint()">
    <input type=button value="Newer >>" class="button" 
     onclick='location.href="%CLIWEB03.01.102.cliweb03.01.006"'>
    </td></tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%CLIWEB03.01.003">
<input type=hidden name=admissno value="%CLIWEB03.01.081">
<input type=hidden name=MenuType value="%CLIWEB03.01.088">
<input type=hidden name=resultky>
<input type=hidden name=updatety>
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="%CLIWEB03.01.001.cliweb03.01.006">
</form>

<span id="catRdMain" style="display:none">
<table style="text-align:center;width:100%;">
<tr><td style="text-align:right;">%STANDARD.01.017.Rd</td>
<td style="text-align:left;padding-left:10px;"><select id="catRd" class=Mandatory name="deleters" title="%STANDARD.01.017.Rd">
<option></option>
%STANDARD.01.021.Rd
</select>
</td></tr>
</table>
</span>
<script type="text/javascript">
function InitTable() {
//
// Create New Table Object
//  border, cellspacing, cellpadding, width, align
//
 t = new Table(1,0,1,"100%","center");
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//
 t.addColumn("Date & Time","DateTime",1,1,"left","DeleteIcon.gif","0",150)
 t.addColumn("Result","String",2,2,"left nowrap","","",280)
 t.addColumn("Status","String",5,5,"left nowrap","","",100)
 t.addColumn("Normal","Image",3,3,"center","ResultStatus","",60)
 t.addColumn("Read","Image",8,8,"center","ResultRead","",45)
//
// Add Rows to Table (Output from Web Server)
//
%CLIWEB03.01.107

 if (t.rows.length != 0 ) {
   OrderColumn=0; 
   AscDsc=2;
   lastOrderColumn=OrderColumn;
   TableOutput(OrderColumn,AscDsc);
 }
}
</script>
