<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=AddForm enctype="multipart/form-data" 
 method=post action="cliweb08.pbl">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="6">
<input type=text name=urnumber value="%CLIWEB08.01.003">
<input type=text name=admissno value="%CLIWEB08.01.081">
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="../lookups/complete.html">
<input type=hidden name=updttype value="A">
<br>Date        <input type=text name=corsp002 value="">
<br>Type        <input type=text name=corsp003 value="">
<br>Time        <input type=text name=corsp004 value="">
<br>Delete      <input type=text name=corsp005 value="">
<br>Sec Level   <input type=text name=corsp006 value="">
<br>Comment     <input type=text name=corsp007 value="">
<br>Comment     <input type=text name=corsp008 value="">
<br>From        <input type=text name=corsp009 value="">
<br>To          <input type=text name=corsp010 value="">
<br>Code 1      <input type=text name=corsp011 value="">
<br>Code 2      <input type=text name=corsp012 value="">
<br>YN 1        <input type=text name=corsp013 value="">
<br>YN 2        <input type=text name=corsp014 value="">
<br>Date 1      <input type=text name=corsp015 value="">
<br>Date 2      <input type=text name=corsp016 value="">
<br>File Name   <input type=file name=corsp001>
<input type=submit name=Add>
</form>
<script type="text/javascript">
SetCurrentDateTime(document.AddForm.corsp002,document.AddForm.corsp004)
</script>
