<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/cliweb07.js"> </script>
%START.OF.PAGE
<body onload="PageLoad(event)">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<table align=center width=95% border=0>
<tr><td>
<form name=UpdateForm method=post action=cliweb07.pbl>
   <input type=hidden name=reportno value="5">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="">
<table align=center width=100% border=0>
<tr valign=top><td class=DataLabel>Code</td>
    <td><input type=text name=resla001 readonly size=3 maxlength=3
         value="%CLIWEB07.05.001">
</td></tr>

<tr valign=top><td class=DataLabel>Description</td>
    <td><input type=text name=resla002 
         value="%CLIWEB07.05.002" size=30 maxlength=40>
</td></tr>

<tr valign=top><td class=DataLabel>Last Run Number</td>
    <td><input type=text name=resla003 
         value="%CLIWEB07.05.003" size=4 maxlength=4>
</td></tr>

<tr valign=top><td class=DataLabel>E-Mail Address for Lab</td>
    <td><input type=text name=resla004 
         value="%CLIWEB07.05.004" size=30 maxlength=50>
</td></tr>

<tr valign=top><td class=DataLabel>Hospital E-Mail Address for Errors</td>
    <td><input type=text name=resla005 
         value="%CLIWEB07.05.005" size=30 maxlength=50>
</td></tr>

<tr valign=top><td class=DataLabel>HL7 Message ID No.</td>
    <td><input type=text name=resla006 
         value="%CLIWEB07.05.006" size=8 maxlength=8>
</td></tr>

<tr valign=top><td class=DataLabel>HL7 Sending Application</td>
    <td><input type=text name=resla007 
         value="%CLIWEB07.05.007" size=10 maxlength=10>
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Update" class="button" onclick=setFormactn('U');>
    <input type=button value="Edit Codes" class="button" 
     onclick='ListResultCodes("%CLIWEB07.05.001","OBR","04");'>
    <input type=button value="Delete" class="button" onclick=setFormactn('D');>
    <input type=button value="Cancel" class="button" onclick=DFrameCloseRefresh();>
</td></tr>
</table>
</form>
