<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/cliweb11.js"></script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);checkRange(UpdateForm);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

   <form name=UpdateForm method=post action=cliweb11.pbl>
   <input type=hidden name=reportno value="1">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="U">

<table align=center width=100% border=0>
<tr valign=top><td class=DataLabel>Item Order</td>
    <td><input type=text name=reidt002 class=readonly readonly 
         title="Item Order"
         size=5 maxlength=3 value="%CLIWEB11.01.025">
</td></tr>

<tr valign=top><td class=DataLabel>Result Item Code</td>
    <td><input type=text name=reidt003 class=readonly readonly 
         title="Result Item Code"
         size=15 maxlength=12 value="%CLIWEB11.01.002">
</td></tr>

<tr valign=top><td class=DataLabel>Result Item Description</td>
    <td><input type=text name=reidt004 class=Mandatory title="Description"
         size=60 maxlength=50 value="%CLIWEB11.01.003">
</td></tr>

<tr valign=top><td class=DataLabel>Result Type</td>
    <td><select name=reidt001 class=readonly readonly title="Result Type">
    <option></option>
    %CLIWEB11.01.001.2
    </select>
</td></tr>

<tr valign=top><td class=DataLabel>Result Item Type</td>
    <td><select name=reidt013 class=Mandatory title="Result Item Type">
    <option></option>
    <option value="1">Numeric</option>
    <option value="2">Yes/No</option>
    <option value="3">Short Text</option>
    <option value="4">Long Text</option>
    <option value="5">Sensitivity</option>
    <option value="6">Positive/Negative</option>
    <option value="7">Detected/Not Detected</option>
    <option value="8">Reactive/Non-Reactive</option>
    <option value="9">Blood Grouping</option>
    </select>
</td></tr>

<tr><td class=DataLabel>Reference Range Applies</td>
  <td class=DataField>
  <input type=radio name=reidt005 value="0" onclick='checkRange(UpdateForm);'>N/A
  <input type=radio name=reidt005 value="1" onclick='checkRange(UpdateForm);'>Standard
  <input type=radio name=reidt005 value="2" onclick='checkRange(UpdateForm);'>Gender Specific
  <input type=radio name=reidt005 value="3" onclick='checkRange(UpdateForm);'>Age Specific
</td></tr>

<tr><td class=DataLabel>Reference Range Type</td>
  <td class=DataField>
  <input type=radio name=reidt006 value="0" onclick='checkRange(UpdateForm);'>Between High and Low point
  <input type=radio name=reidt006 value="1" onclick='checkRange(UpdateForm);'>< Low Point
  <input type=radio name=reidt006 value="2" onclick='checkRange(UpdateForm);'>> High Point
</td></tr>

<tr valign=top><td class=DataLabel>Standard/Males/Adults</td>
    <td>Low Point<input type=text id=reidt007 name=reidt007
               onblur="RoundNumber(this,2);"
               maxlength=6 class="Number" max=999.99
               value="%CLIWEB11.01.006">
</td></tr>

<tr valign=top><td class=DataLabel>&nbsp;</td>
    <td>High Point<input type=text id=reidt008 name=reidt008
               onblur="RoundNumber(this,2);"
               maxlength=6 class="Number" max=999.99
               value="%CLIWEB11.01.007">
</td></tr>

<tr valign=top><td class=DataLabel>Females/Children</td>
    <td>Low Point<input type=text id=reidt009 name=reidt009
               onblur="RoundNumber(this,2);"
               maxlength=6 class="Number" max=999.99
               value="%CLIWEB11.01.008">
</td></tr>

<tr valign=top><td class=DataLabel>&nbsp;</td>
    <td>High Point<input type=text id=reidt010 name=reidt010
               onblur="RoundNumber(this,2);"
               maxlength=6 class="Number" max=999.99
               value="%CLIWEB11.01.009">
</td></tr>

<tr valign=top><td class=DataLabel>Reference Range Description</td>
    <td><input type=text name=reidt011
         size=35 maxlength=25 value="%CLIWEB11.01.010">
</td></tr>
 
<tr valign=top><td class=DataLabel>Units of Measure</td>
    <td><input type=text name=reidt012
         size=15 maxlength=10 value="%CLIWEB11.01.011">
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Update" class="button" onclick="SubmitHidden(UpdateForm)">
    <input type=button value="Delete" class="button" onclick="setFormactn('D')">
    <input type=button value=Close class="button" onclick="DFrameCloseRefresh()">
</td></tr>
</table>
<script type="text/javascript">
for (var i =0 ; i < document.UpdateForm.reidt013.length; i++) {
  if ("%CLIWEB11.01.022"==document.UpdateForm.reidt013.options[i].value){
        document.UpdateForm.reidt013.selectedIndex=i;
  }
}
if("%CLIWEB11.01.004"!=" ") {
  var RadioIndex="%CLIWEB11.01.004"
  if(!isWhitespace(RadioIndex)){
    document.UpdateForm.reidt005[RadioIndex].checked=1
  }
}
if("%CLIWEB11.01.005"!=" ") {
  var RadioIndex="%CLIWEB11.01.005"
  if(!isWhitespace(RadioIndex)){
    document.UpdateForm.reidt006[RadioIndex].checked=1
  }
}
</script>
</form>
