<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable()>
<div id=HeadingSection style="display:none;">
</div>
<div id=TableLocation align=center>
</div>
<script type="text/javascript">
function InitTable() {
//
// Create New Table Object
//
//
 t = new Table(1,0,2,"100%","center");
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//
 t.addColumn("Message Date & Time","DateTime",1,1,"left","MaintenanceIcon.gif","0",150);
 t.addColumn("Description","String",2,2,"left nowrap","","",200);
 t.addColumn("Error","String",7,7,"left nowrap","","",200);
 t.addColumn("Status","Image",3,3,"center","ResultStatus","",60);
//
// Add Rows to Table (Output from Web Server)
//
%CLIWEB03.06.001.cliweb10.01.003

if (t.rows.length != 0 ) {
   OrderColumn=0; 
   AscDsc=1;
   lastOrderColumn=OrderColumn;
   TableOutput(OrderColumn,AscDsc);
 }
else {
  alert("No Error Records Found");
  history.go(-1);
}
}
</script>
