<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function validateAndSubmit(){
  f= document.AddForm;
  if (!CheckLimits2(f.exptcmnt,999,99900)) {
    return;
  }
  if (validateMandatory(f)) {
    var theForm = null;
    theForm = top.content.UpdateForm;
    if(theForm != null) {
      if(typeof theForm.exptcmnt != "undefined") {
        var text=f.cmntdate.value + " " +
                 f.cmnttime.value + " " +
                 trim(f.d_username.value)+ " " +
                 f.d_userogroup.value + "\n" +
                 f.exptcmnt.value + "\n" +
                 theForm.exptcmnt.value
        theForm.exptcmnt.value=text;
        document.AddForm.nextpage.value="6";
      }
    }
    f.submit();
  }
}
function ListExpectNotes() {
  f = document.AddForm;
  linkurl = "../cgi-bin/cliweb06.pbl?reportno=16&template=001" +
            "&exptuniq=" + f.exptuniq.value.replace(/ /g,"+");
  location.href = linkurl;
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
 Expected Patient Note - %CLIWEB06.16.111 %CLIWEB06.16.110 (%CLIWEB06.16.109)
</span>

<form name=AddForm action="cliweb06.pbl" method=post>
<input type=hidden name=reportno value="16">
<input type=hidden name=template value="002">
<input type=hidden name=updatety value="A">
<input type=hidden name=notetype value="001">
<input type=hidden name=nextpage value=0>
<input type=hidden name=redirect value="">
<input type=hidden name=exptuniq id=exptuniq value="%CLIWEB06.16.101">
<input type=hidden name=d_username value="%STANDARD.01.009">
<input type=hidden name=d_userogroup value="%STANDARD.01.012.0">

<table width=95% align=center border=0 cellspacing=0 cellpadding=1>
<tr>
    <td class=DataLabel>User Id</td>
    <td><input type=hidden name=securety value="2">
        <input type=text size=12 name=secureid class="Mandatory"
          tabindex=1 title="User ID" value="%STANDARD.01.043">
    Password
        <input type=password size =12 name=securepw class=Mandatory tabindex=2
          title="Password"
          onfocus="SetCaretPosition('securepw',-1);"
          onblur="checkPass();">
    </td>
</tr>
<tr><td class=DataLabel>Date</td>
    <td><input type="text" name=cmntdate id=cmntdate Size=12 tabindex=3
         class="Mandatory" title="Date"
         value="%STANDARD.01.015"
         onblur="checkDate(AddForm.cmntdate,this.title)">
        <img src="../images/DateLookup.gif" class=Icon
         onclick="DateLookupFrame(AddForm.cmntdate);">
         Time
        <input type="text" name=cmnttime id=cmnttime size=8 tabindex=4
         class=Mandatory title="Expected Time" value="%STANDARD.01.016"
         onblur="checkTime(this,this.title);">
        <img src="../images/TimeLookup.gif" class=Icon
         onclick="TimeLookupFrame(AddForm.cmnttime);">
        <img src="../images/stopwat1.gif" class=Icon
         onclick="SetCurrentDateTime(AddForm.cmntdate,AddForm.cmnttime);">
    </td>
</tr>
<tr><td class=DataLabel valign=top><br>Notes</td>
    <td><textarea name=exptcmnt id=exptcmnt tabindex=5 rows=10 cols=104
         style="overflow-y:scroll"
         wrap=hard class=Mandatory title="Notes"></textarea>
    </td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td colspan=2 align=center>
    <input type=button class=button value="Add" name=btnAdd id=btnAdd 
     tabindex=20
     onclick="tempDisable(this);validateAndSubmit();">
    <input type=button class=button value="List" name=btnList id=btnList 
     tabindex=21
     onclick="ListExpectNotes();">
    <input type=button class=button value="Cancel" tabindex=22
     onclick="DFrameExit();">
    </td>
</tr>
</table>
</form>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=16>
<input type=hidden name=template value=002>
</form>
