<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateParent() {
  parent.ReturnText.value+=DisplayForm.TemplateText.value
  DFrameExit();
}
function setFormactn(type) {
document.UpdateForm.updatety.value=type;
  if (type=="U") {
    if (validateMandatory(UpdateForm)) {
       document.UpdateForm.submit(); } }
  else {
    if (type=="D") {
     ans=confirm("Are you sure you want to Delete ?")
 if (ans) { document.UpdateForm.submit() } }
    else {
       document.UpdateForm.submit(); } }
}

function CheckLineCount(){
   var textarea = document.UpdateForm.vsctm002;
   var cols = textarea.getAttribute("cols");
   var lines = textarea.value.split("\n");

   for(var i = 0; i < lines.length; i++) 
   {
      if (lines[i].length <= cols) continue;
      var j = 0;
      var space = cols;

      while (j++ <= cols) 
      {
         if (lines[i].charAt(j) === " ") space = j;  
      }
      lines[i + 1] = lines[i].substring(space + 1) + (lines[i + 1] || "");
      lines[i] = lines[i].substring(0, space);
  }
  if(lines.length>99)
  {
     alert("Notes are limited to 99 lines and 70 characters per line.");
     lines[98].replace(/(\r\n|\n|\r)/gm,"");
     textarea.value = lines.slice(0, 99).join("\n");
  }    
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event)">
<form name=UpdateForm action=cliweb06.pbl method=get>
<table width=100% align=center border=0 cellspacing=0 cellpadding=1>
<tr><td class=HeadingCell align=center>
Visit Notes Template Maintenance
</td></tr>
</table>
<table width=95% align=center border=0 cellspacing=0 cellpadding=1>
<input type=hidden name=reportno value=4>
<input type=hidden name=template value=1>
<input type=hidden name=updatety value="">
<input type=hidden name=redirect value="cliweb06.pbl?reportno=4&template=1">
<input type=hidden name=nextpage value=2>
<tr><td class=DataLabel>Select Template</td>
    <td class=DataLabel>
    <select name=vsctm001 class=SelectBig onchange='submit();'>
    <option></option>
       %CLIWEB06.04.001.2
    </select></td></tr>

<tr><td class=DataLabel valign=top>Notes</td>
<td><textarea name=vsctm002 rows=8 cols=70 wrap=hard onkeyup="CheckLineCount()">%CLIWEB06.04.002</textarea>
    </td></tr>
<tr><td colspan=2 align=center>
  <input type=button class="button" value="New" 
    onclick="DFrameLink('../cgi-bin/patweb91.pbl?reportno=2&template=9&ptcod001=VO',0,200,600,300);">
    <input type=submit class="button" value="Update" onclick="setFormactn('U');">
    <input type=button class="button" value="Delete" onclick="setFormactn('D');">
    </td></tr>
</table>
</form>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=admissno value="%CLIWEB06.04.081">
<input type=hidden name=urnumber value="%CLIWEB06.04.003">
<input type=hidden name=MenuType value="11">
</form>
