<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/cliweb0101.js></script>

<script type="text/javascript">

  function AddAlert(){

    linkURL="cliweb01.pbl?reportno=1&template=002" +
    "&urnumber=" + document.AddForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.AddForm.admissno.value.replace(/ /g,"+") +
    "&alert001=H3&alert002=&admalert=1";
    window.location.replace(linkURL);
  }

  function CheckAllergiesExist(){
    if(document.getElementById("faexists").value!=1){
       AddAlert();         // Go straight to Add Screen.
    }
    else{
       document.body.style.visibility="visible";
    }
  }

</script>

%START.OF.PAGE
</HEAD>
<body onload="CheckAllergiesExist();PageLoad()" style="visibility:hidden">
<span class=DFrameTitleBar>
<img align="right" class="MenuIcon" src="../images/ExitIcon.gif" onclick="DFrameExit();">
Patient Food Allergies 
</span><br>

<form name=AddForm method=post action=cliweb01.pbl>
  <input type=hidden name=reportno value="1">
  <input type=hidden name=template value="002">
  <input type=hidden name=updttype value="A">
  <input type=hidden name=urnumber value="%CLIWEB01.01.003">
  <input type=hidden name=admissno value="%CLIWEB01.01.081">
  <input type=hidden name=nextpage value="5">
</form>

<table align=center cellspacing=0 cellpadding=1 width=95% border=0>
<tr><td align=center>Food Allergies for Patient</td></tr>

<tr><td>&nbsp;</td></tr>

  %CLIWEB01.01.133 

<tr><td>&nbsp;</td></tr>

<tr>
  <td align=center>    
    <input type=button value="Add" class="button" onclick="AddAlert();">
    <input type=button value="Close" class="button" onclick="DFrameClose();">
  </td>
</tr>
</table>


