<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
%START.OF.PAGE
<body onload="PageLoad(event)">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=AddForm method=post action="cliweb08.pbl">
  <input type=hidden name=reportno value="2">
  <input type=hidden name=template value="1">
  <input type=hidden name=updttype value="A">
  <input type=hidden name=nextpage value="0">

<table width=100% align=center border=0>
<tr><td colspan=2 class=DataField align=center>
 Patient Correspondence Table Maintenance  
</td></tr>
<tr><td>
<table align=center width=100%>
<tr><td class=DataLabel>Storage Location ID</td>
    <td><input type=text name=obpct001 maxlength=4 size=4 ></td>
<tr><td class=DataLabel>Storage Location Directory</td>
    <td><input type=text name=obpct002 maxlength=80 size=50 ></td>
<tr><td class=DataLabel>URL Prefix</td>
    <td><input type=text name=obpct003 maxlength=80 size=50 ></td>
<tr><td class=DataLabel>Read Only</td>
    <td><input type=checkbox name=obpct004 value="1" checked></td>
<tr><td class=DataLabel>Date Closed</td>
    <td><input type=text id=obpct005 name=obpct005 size=12
         onchange="checkDate(this,'Date Closed'); " >
         <img class=Icon src=../images/DateLookup.gif border=0 hspace=2
         align=absmiddle onclick="DateLookupFrame(obpct005);">
    </td>
<tr><td class=DataLabel>Set as current storage Location</td>
    <td><input type=checkbox name=obpct006 value=1 checked></td>

<tr><td colspan=2 align=center>
    <input type=button value="Add" class="button" onclick="SubmitForm()">
    <input type=button value=Close class="button" onclick="DFrameCloseRefresh()">
</td></tr>
</table>
</td></tr>
</table>
</form>
