<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/cliweb07.js"> </script>
<script type="text/javascript">
function init() {
  el=UpdateForm.codeskey.value;
  UpdateForm.lab.value=el.substr(0,3)
  UpdateForm.seg.value=el.substr(3,3)
  UpdateForm.fld.value=el.substr(6,2)
  UpdateForm.rsctakey.value=UpdateForm.lab.value+
                            UpdateForm.seg.value+
                            UpdateForm.fld.value
}
function setKey() {
  UpdateForm.rsctakey.value=UpdateForm.lab.value+
                            UpdateForm.seg.value+
                            UpdateForm.fld.value+
                            UpdateForm.sys.value+
                            "           ".substr(0,12-UpdateForm.sys.value.length)+
                            UpdateForm.cod.value+
                            "           ".substr(0,12-UpdateForm.cod.value.length)
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img class=MenuIcon border=0 align=right src=../images/ExitIcon.gif 
 onclick=DFrameExitRefresh()>
Result Panel/Service Code Add
</span>

<form name=UpdateForm method=post action=cliweb07.pbl>
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="2">
   <input type=hidden name=updttype value="A">
   <input type=hidden name=codeskey value="%CLIWEB07.02.012">
   <input type=hidden name=rsctakey value="%CLIWEB07.02.001">

<table align=center width=100% border=0>
<tr valign=top><td class=DataLabel>Laboratory</td>
    <td><input type=text name=lab readonly size=4 value="">
</td></tr>

<tr valign=top><td class=DataLabel>Segment</td>
    <td><input type=text name=seg readonly size=4 value="">
</td></tr>

<tr valign=top><td class=DataLabel>Field</td>
    <td><input type=text name=fld readonly size=4 value="">
</td></tr>

<tr valign=top><td class=DataLabel>Coding System</td>
    <td><input type=text id=sys name=sys class=Mandatory size=10 onblur='setKey();'>      
</td></tr>

<tr valign=top><td class=DataLabel>Code </td>
    <td><input type=text id=cod name=cod class=Mandatory size=10 onblur='setKey();'>      
</td></tr>

<tr valign=top><td class=DataLabel>Description</td>
    <td><input type=text name=rscta001  class=Mandatory
         value="%CLIWEB07.02.007" size=30 maxlength=40>
</td></tr>

<tr valign=top><td class=DataLabel>Security Level</td>
    <td><input type=text name=rscta002 class=Integer
         value="%CLIWEB07.02.008" size=4 maxlength=2>
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=submit value="Add" class="button">
    <input type=button value="Cancel" class="button" 
     onclick=DFrameCloseRefresh();>
</td></tr>
</table>
</form>
