<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/comweb12.js"></script>
<script type="text/javascript" src="../js/TableSort.js"></script>
%START.OF.PAGE
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HL7 Message Created Date/Time                  
//  1 - HL7 Message Type             
//  2 - HL7 Message Status
//  3 - HL7 Message Linked Patient
//  6 - HL7 Message ID
//  7 - HL7 Message Delivered Date/Time             
//---------------------------------------------------------------------------  
function InitTable() {
     t = new Table(1,0,2,"100%","center",35,50);
     t.addColumn("Created Date/Time","DateTime",0,0,"left","MaintenanceIcon.gif","8",90)
     t.addColumn("Type","String",1,1,"left","","",70)
     t.addColumn("Status","String",2,2,"left","","",60)
     t.addColumn("Name","ImageText",3,3,"left","PatientFolder","4",160,9,"","",67,25)
     t.addColumn("Message ID","String",6,6,"left","","",70)
     t.addColumn("Delivered Date/Time","DateTime",7,7,"left","","",90)
     if ("%COMWEB12.02.016" === "1") {
       t.addColumn("Reset","String",12,12,"left","EditIcon.gif","10",30)
       t.addColumn("Delete","String",13,13,"left","DeleteIcon.gif","11",30)
     }
     AddTableRows()
     TableOutput(0,0);    // Order Column,Asc Dsc 
     HideWaitScreen()
  }

  function LinkPatient(linkurl) {
    location.href=linkurl;
  }

  function LinkReset(msgId, msgStatus) {
    var newStatus=(msgStatus==="W" ? "Rejected" : "Waiting");
    var newStatusL=(msgStatus==="W" ? "R" : "W");
    var outcome=confirm("Do you want to set the Status to '" + newStatus + "?'");
    if (outcome) {
      alert("You are setting the status to " + newStatus);
      var updForm=document.UpdateForm;
      updForm.uph7stat.value=newStatusL;
      updForm.updttype.value="U";
      updForm.hl7cimes.value=msgId;
      updForm.submit();
    }
  }

  function LinkDelete(msgId) {
    var outcome=confirm("Are you sure you want to delete this record?");
    if (outcome) {
      alert("You have deleted the record!")
      var updForm=document.UpdateForm;
      updForm.updttype.value="D";
      updForm.hl7cimes.value=msgId;
      updForm.submit();
    }
  }
</script>
</head>
<body style=overflow:hidden onload="PageLoad(event);InitTable();">
<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Please Wait ...</p>
</span>
<div id=PageLayer class=DimmedLayer style="display:none"></div>
<div id=HeadingSection>
<script type="text/javascript">
ShowWaitScreen();
</script>
<form name=SelectPeriod action=comweb12.pbl method=get style=margin:0>
<table width=100% cellspacing=0 cellpadding=0 bgcolor=#cccccc>
<tr>
  <input type=hidden name=reportno value=2>
  <input type=hidden name=template value=001>
  <input type=hidden name=viewtype value="%COMWEB12.02.005">
  <input type=hidden name=superlev value="%COMWEB12.02.016">
    <td align=left >
      &nbsp;Status&nbsp;
      <select name=statushl class="Mandatory" title="Status"
       onchange="SelectPeriod.submit(this);">
        <option value=" "></option>
        <option value="W">Waiting</option>
        <option value="R">Rejected</option>
        <option value="D">Delivered</option>
      </select>
      <span id="hospsel">
        &nbsp;Hospital&nbsp;
        <select name=hosptlhl onchange="SelectPeriod.submit(this);">
         <option value="   ">All</option>
         %COMWEB12.02.003
        </select>
      </span>
      &nbsp;Message Type&nbsp;
      <select name=msgtyphl onchange="SelectPeriod.submit(this);">
        <option value="   ">All</option>
        <option value="A01">A01</option>
        <option value="A02">A02</option>
        <option value="A03">A03</option>
        <option value="A04">A04</option>
        <option value="A05">A05</option>
        <option value="A08">A08</option>
        <option value="A11">A11</option>
        <option value="A12">A12</option>
        <option value="A13">A13</option>
        <option value="A14">A14</option>
        <option value="A21">A21</option>
        <option value="A22">A22</option>
        <option value="A27">A27</option>
        <option value="A28">A28</option>
        <option value="A31">A31</option>
        <option value="A34">A34</option>
        <option value="A38">A38</option>
        <option value="A44">A44</option>
        <option value="M01">M01</option>
        <option value="M02">M02</option>
        <option value="S12">S12</option>
        <option value="S14">S14</option>
        <option value="S15">S15</option>
        <option value="I12">I12</option>
        <option value="I13">I13</option>
        <option value="I14">I14</option>
      </select>
    </td>
    <td align="right">
      <input type=button value="<<" class=SmallButton 
       onclick='location.href="%COMWEB12.02.007"'>
      %COMWEB12.02.008
      <input type=button value=">>" class=SmallButton
       onclick='location.href="%COMWEB12.02.006"'>
      <a href='javascript:SelectDateFrame();'><img src="../images/DateLookup.gif" class=Icon alt="Select Date"></a>
      <a href='javascript:SelectView("0");'><img src="../images/DayIcon.gif" class=Icon alt="View Today"></a>
      <a href='javascript:SelectView("1");'><img src="../images/WeekIcon.gif" class=Icon alt="View This Week"></a>
      <a href='javascript:SelectView("2");'><img src="../images/MonthIcon.gif" class=Icon alt="View This Month"></a>
    </td>
</tr>
</table>
</form>
</div>
<div id=TableLocation> </div>

<form name=UpdateForm action=comweb12.pbl method=post style=margin:0>
  <input type=hidden name=reportno value=2>
  <input type=hidden name=template value=001>
  <input type=hidden name=viewtype value="%COMWEB12.02.005">
  <input type=hidden name=superlev value="%COMWEB12.02.016">
  <input type=hidden name=frstdate value="%COMWEB12.02.017">
  <input type=hidden name=lastdate value="%COMWEB12.02.018">
  <input type=hidden name=vyearmth value="%COMWEB12.02.019">
  <input type=hidden name=statushl value="%COMWEB12.02.020">
  <input type=hidden name=hosptlhl value="%COMWEB12.02.012">
  <input type=hidden name=msgtyphl value="%COMWEB12.02.009">
  <input type=hidden name=hl7cimes value="">
  <input type=hidden name=uph7stat value="">
  <input type=hidden name=updttype value="">
</form>

<script type="text/javascript">
  //set relevant element through the TBL tag and using .value to set to correct option
  document.getElementsByName("statushl")[0].value = "%COMWEB12.02.004"; 
  document.getElementsByName("msgtyphl")[0].value = "%COMWEB12.02.009";
  document.getElementsByName("hosptlhl")[0].value = "%COMWEB12.02.012";
  
  //change title depending on viewtype
  if (%COMWEB12.02.005 === 0) {
    document.title = "HL7 Messages for %COMWEB12.02.013"
  } else if (%COMWEB12.02.005 === 2) {
    document.title = "HL7 Messages for %COMWEB12.02.015"
  } else {
    document.title = "HL7 Messages from %COMWEB12.02.013 to %COMWEB12.02.014"
  }

  //remove element if there is 1 or 0 returned hospitals for a user
  var hospElement = document.getElementById("hospsel");
  if (document.getElementsByName("hosptlhl")[0].length <= 2) {
    hospElement.style.display = "none";
  }
  function AddTableRows() {
    %COMWEB12.02.002 
  }
</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=001>
</form>
