<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
WebServices NIHC IHI Request Details &nbsp;&nbsp; %COMWEB06.08.002
</span>

<div id=PageBodySection style="overflow: auto;">
<table border=0 width=100% cellspacing=0 cellpadding=0>
<form name=SelectCode action=comweb06.pbl method=get">
<input type=hidden name=reportno value=8>
<input type=hidden name=template value=1>
<input type=hidden name=ireqtype id=ireqtype value="%COMWEB06.08.101">
<input type=hidden name=ireqcode id=ireqcode value="%COMWEB06.08.102">
<input type=hidden name=ireqdate id=ireqdate value="%COMWEB06.08.103">
<input type=hidden name=ireqtime id=ireqtime value="%COMWEB06.08.104">
<input type=hidden name=urnumber id=urnumber value="%COMWEB06.08.003">
<input type=hidden name=ptcnunet id=ptcnunet
  value="%STANDARD.01.025.120.158.0.1">
</form>
</table>

<table cellspacing=0 border=0 width=100%>
  <tr><td class="DataLabel">&nbsp;</td></tr>
  <tr><td class="DataLabel" width=25%>Request Type</td>
      <td class="DataField">%COMWEB06.08.105</td>
  </tr>
  <tr><td class="DataLabel">Request Code</td>
      <td class="DataField">%COMWEB06.08.106</td>
  </tr>
  <tr><td class="DataLabel">Request Date</td>
      <td class="DataField">%COMWEB06.08.107.1</td>
  </tr>
  <tr><td class="DataLabel">Request Time</td>
      <td class="DataField">%COMWEB06.08.108</td>
  </tr>
  <tr><td class="DataLabel">Request User Id</td>
      <td class="DataField">%COMWEB06.08.109.1</td>
  </tr>
  <tr><td class="DataLabel">Patient Surname</td>
      <td class="DataField">%COMWEB06.08.110</td>
  </tr>
  <tr><td class="DataLabel">Patient First Name</td>
      <td class="DataField">%COMWEB06.08.111</td>
  </tr>
  <tr><td class="DataLabel">Patient Second Name</td>
      <td class="DataField">%COMWEB06.08.112</td>
  </tr>
  <tr><td class="DataLabel">Date of Birth</td>
      <td class="DataField">%COMWEB06.08.113.1</td>
  </tr>
  <tr><td class="DataLabel">Patients Sex</td>
      <td class="DataField">%COMWEB06.08.114</td>
  </tr>
  <tr><td class="DataLabel">Medicare Number</td>
      <td class="DataField">%COMWEB06.08.115</td>
  </tr>
  <tr><td class="DataLabel">Medicare Code</td>
      <td class="DataField">%COMWEB06.08.116</td>
  </tr>
  <tr><td class="DataLabel">Medicare Valid To Date</td>
      <td class="DataField">%COMWEB06.08.117.1</td>
  </tr>
  <tr><td class="DataLabel">DVA Number</td>
      <td class="DataField">%COMWEB06.08.118</td>
  </tr>
  <tr><td class="DataLabel">DHS Identifier</td>
      <td class="DataField">%COMWEB06.08.119</td>
  </tr>
  <tr><td class="DataLabel">Address Line 1</td>
      <td class="DataField">%COMWEB06.08.120</td>
  </tr>
  <tr><td class="DataLabel">Address Line 2</td>
      <td class="DataField">%COMWEB06.08.121</td>
  </tr>
  <tr><td class="DataLabel">Address Line 3</td>
      <td class="DataField">%COMWEB06.08.122</td>
  </tr>
  <tr><td class="DataLabel">Address Line 4</td>
      <td class="DataField">%COMWEB06.08.123</td>
  </tr>
  <tr><td class="DataLabel">Post Code</td>
      <td class="DataField">%COMWEB06.08.124</td>
  </tr>
  <tr><td class="DataLabel">Surgery Address Line 1</td>
      <td class="DataField">%COMWEB06.08.125</td>
  </tr>
  <tr><td class="DataLabel">Surgery Address Line 2</td>
      <td class="DataField">%COMWEB06.08.126</td>
  </tr>
  <tr><td class="DataLabel">Surgery Address Line 3</td>
      <td class="DataField">%COMWEB06.08.127</td>
  </tr>
  <tr><td class="DataLabel">Surgery Address Line 4</td>
      <td class="DataField">%COMWEB06.08.128</td>
  </tr>
  <tr><td class="DataLabel">Surgery Post Code</td>
      <td class="DataField">%COMWEB06.08.129</td>
  </tr>
  <tr><td class="DataLabel">Provider Type</td>
      <td class="DataField">%COMWEB06.08.130</td>
  </tr>
  <tr><td class="DataLabel">Organisation Name</td>
      <td class="DataField">%COMWEB06.08.131</td>
  </tr>
  <tr><td class="DataLabel">Service Type</td>
      <td class="DataField">%COMWEB06.08.132</td>
  </tr>
  <tr><td class="DataLabel">Organisation Unit</td>
      <td class="DataField">%COMWEB06.08.133</td>
  </tr>

  <tr><td>&nbsp;</td></tr> 
  <tr><td>&nbsp;</td></tr> 
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
</td></tr>
</table>
</td></tr>
</table>

<table cellspacing=0 border=0 width=100%>
  <tr><td class="DataLabel">&nbsp;</td></tr>
</table>

</div>
