<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function SubmitPage() {
  if (validateMandatory(UpdateForm)) {
       document.UpdateForm.submit();
  } 
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);document.UpdateForm.password.focus();>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<form name=UpdateForm method=post action=comweb98.pbl>
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="001">
   <input type=hidden name=updttype value="V">
   <input type=hidden name=nextpage value="4">
   <input type=hidden name=redirect value="%COMWEB98.02.003">

<table align=center width=100% border=0>
<tr valign=top><td class=DataLabel>Password</td>
    <td><input type=password name=password class=Mandatory title="Password" 
         size=10 maxlength=8>
    </td></tr>

<tr valign=top><td class=DataLabel>Key</td>
    <td><input type=password name=passwkey class=Mandatory title="Key" 
         size=10 maxlength=8>
    </td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Ok" class="button" 
     onclick=SubmitPage();>
    <input type=button value="Cancel" class="button" 
     onclick=DFrameCloseRefresh();>
</td></tr>
</table>
</form>
