<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script language=javascript src="../js/TableSortNew.js"> </script>
<script language=javascript src="../js/comweb04.js"> </script>
<script language=javascript>

function InitTable() {
 document.title="Call Repository Enquiry"
//
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//

 t = new Table(1,0,1,"100%","center",25);

//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//

 t.addColumn("Extension","String",0,0,"left","","",10)
 t.addColumn("Call Date","Date",1,1,"left","","",15)
 t.addColumn("Call Time","String",2,2,"left","","",15)
 t.addColumn("Duration","String",3,3,"center","","",15)
 t.addColumn("Phone Number","String",4,4,"left","","",15)
 t.addColumn("Charge $","String",5,5,"right","","",15)
 t.addColumn("Billed","String",6,6,"center","","",15)

//
// Add Rows to Table (Output from Web Server)
//

 AddTableRows();

 t.sortTable(2,1);   // Sort in Call Time order
 t.sortTable(1,1);   // Sort in Call Date order
 TableOutput(0,1);   // Sort in Extension Number order
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0);>
<div id=HeadingSection></div>
<div id="PHeadingSection">

<form name=Filter action=comweb04.pbl method=get style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=1>
<input type=hidden name=fltrfrdt value="%COMWEB04.03.006">
<input type=hidden name=fltrtodt value="%COMWEB04.03.007">

<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor=#cccccc>
<tr><td class=DataLabel>Extension No</td>
    <td><input type=text name=fltrextn title="Extension No" size=5 
         maxlength=4 value="%COMWEB04.03.001"
         onblur="UpCase(this);getDebtorDesc(this,Filter.extndesc)">
        <select name=extndesc title="Extension"
         onchange="getDebtorCode(this,Filter.fltrextn);">
         <option></option>
          %COMWEB04.03.002
        </select></td>

    <td class=DataLabel>Debtor</td>
    <td><input type=text name=fltrdebt id=fltrdebt
         title="Debtor" size=10 maxlength=8 value="%COMWEB04.03.004" 
         onblur="validateARDebtor(this,debtname);SetAdmFilter();">
        <input type=text name=debtname id=debtname
         title="Debtor Name" class=Readonly
         value="%COMWEB04.03.005" readonly tabindex=-1 size=30>
        <img src="../images/SearchIcon.gif" class=Icon name=debtsrch
         align=absmiddle onclick="ARDebtorSearch(fltrdebt,debtname);">
        <img src="../images/ClearIcon.gif" class=Icon name=debtclr
         align=absmiddle onclick="clrFields(fltrdebt,debtname);"></td>

    <td class=DataLabel>Admission</td>
    <td><input type=text name=fltradmn title="Admission No" size=10 
         maxlength=8 value="%COMWEB04.03.003.0"
         onblur="valAdmission();">
        <input type=text name=patnname title="Patient Name" class=Readonly
         notab tabindex=-1 size=20 readonly value="%COMWEB04.03.003.1"></td>

    <td><input type=button class="button" value="Search" 
         onclick='FilterSubmit();'></td></tr>

<tr><td class=DataLabel>From Date</td>
    <td><input type=text name=fromdate id=fromdate size=12 
         value="%COMWEB04.03.008"
         onblur="valStrDate(this,'From Date',Filter.fltrfrdt);SetStartDate();">
        <img notab src="../images/DateTimeStamp.gif" name=frdtstmp class="Icon"
         alt="Current" onclick='SetCurrentDateTime(fromdate,null);'>
        <img notab src="../images/DateLookup.gif" name=frdtlook class="Icon"
         alt="Show Calendar" onclick='DateLookupFrame(fromdate);'></td>

    <td class=DataLabel>To Date</td>
    <td><input type=text name=todate id=todate size=12 value="%COMWEB04.03.009"
         onblur="valEndDate(this,'To Date',Filter.fltrtodt);SetFinishDate();">
        <img notab src="../images/DateTimeStamp.gif" class="Icon" name=todtstmp
         alt="Current" onclick='SetCurrentDateTime(todate,null);'>
        <img notab src="../images/DateLookup.gif" class="Icon" name=todtlook 
         alt="Show Calendar" onclick='DateLookupFrame(todate);'></td>
    
    <td class=DataLabel>Billed</td>
    <td><select name=fltrbill title="Billed">
         <option value="0">All</option>
         <option value="1">No</option>
         <option value="2">Yes</option>
        </select></td>
    
    <td><input type=button class="button" value="Clear" 
         onclick='ClearForm();'></td></tr>
</table>
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%COMWEB04.03.011
}

// Set Extension Number Description
if (!isWhitespace(document.Filter.fltrextn.value))
  getDebtorDesc(Filter.fltrextn,Filter.extndesc);

// Set Billed Indicator 
var billed = %COMWEB04.03.010;
for (var i=0; i < document.Filter.fltrbill.length; i++)
  if (document.Filter.fltrbill.options[i].value == billed)
    document.Filter.fltrbill.selectedIndex = i;

// Set From Date variables
if (isWhitespace(document.Filter.fromdate.value)) {
  document.Filter.fromdate.value = "Start"
}

// Set To Date variables
if (isWhitespace(document.Filter.todate.value)) {
  document.Filter.todate.value = "Finish"
}

// Disable Search Criteria fields if Admission number was entered
SetFilters();
</script>
