<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/comweb12.js"> </script>
<script type="text/javascript"> 
  function InitTable() {
    t = new Table(1,0,2,"100%","center",30,30);
    t.addColumn("Field Name","String",0,0,"left","","",15);
    t.addColumn("Field Description","String",1,1,"left","","",60);
    t.addColumn("Field Value","String",2,2,"left","","",60);
    AddTableRows();
    TableOutput(2,0);
  }
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();">
<div id=HeadingSection>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">
</script>
</span>
</div>

<div id=TableLocation></div>
<div id=PageBodySection style="overflow: auto;"></div>

<script type="text/javascript">
  function AddTableRows() {
    t.addRow('DH7CIMES', 'Message ID', "%COMWEB12.03.101");
t.addRow('H7CISTAT', 'Message Status', "%COMWEB12.03.102");
t.addRow('H7CIDTTM', 'Message Date', "%COMWEB12.03.103.DATE");
t.addRow('H7CIDTTM', 'Message Time', "%COMWEB12.03.103.TIME");
t.addRow('H7CIMETP', 'Message Type', "%COMWEB12.03.104");
t.addRow('H7CIOPER', 'Operator ID', "%COMWEB12.03.105");
t.addRow('H7CIPORT', 'Port Number', "%COMWEB12.03.106");
t.addRow('H7CIPGID', 'Program ID', "%COMWEB12.03.107");
t.addRow('H7CIDDAT', 'Delivery Date', "%COMWEB12.03.108.DATE");
t.addRow('H7CIDDAT', 'Delivery Time', "%COMWEB12.03.108.TIME");
t.addRow('H7CIURNO', 'U/R Number', "%COMWEB12.03.109");
t.addRow('H7CIVISN', 'Visit Number', "%COMWEB12.03.110");
t.addRow('H7CIACTN', 'Action Flag', "%COMWEB12.03.111");
t.addRow('H7CITRID', 'Trigger ID', "%COMWEB12.03.112");
t.addRow('H7CIINCL', 'Trigger Include', "%COMWEB12.03.113");
t.addRow('H7CIUSID', 'Web User ID', "%COMWEB12.03.116");
t.addRow('H7CIHOSP', 'Web Hospital User ID', "%COMWEB12.03.117");
t.addRow('H7CIRTAG', 'Receiving Application Tag', "%COMWEB12.03.114");
t.addRow('H7CISTAG', 'Sending Facility Tag', "%COMWEB12.03.115");
  }
</script>
