<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript" src="../js/comweb03.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);document.UpdateForm.scusr002.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Delete User ID from Group : %COMWEB03.03.011 - %COMWEB03.03.012
</span>
<form name=UpdateForm method=post action=comweb03.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="D">
<input type=hidden name=scusr001 value="%COMWEB03.03.011">
<input type=hidden name=nextpage value="0">
<input type=hidden name=redirect value="comweb03.pbl?reportno=03&template=001">

<table align=center width=95% border=0 cellspacing=0 cellpadding=1>
<tr valign=top><td class=DataLabel>User ID</td>
    <td><input type=text name=scusr002 class=Readonly 
                   title="User ID" size=12 maxlength=10 readonly
                   value="%COMWEB03.03.002.1"></td></tr>
<tr><td class=DataLabel>Username</td>
    <td><input type=text name=scusr003 class=Readonly 
                   title="Username" size=32 maxlength=30 readonly
                   value="%COMWEB03.03.002.2"></td></tr>

<tr><td colspan=6 align=center><br>
   <input type=button value="Delete" class="button" id=btnDel
    onclick="tempDisable(this);setFormactn('D');">
   <input type=button value="Cancel" class="button"
    onClick="DFrameCloseRefresh();">
</td></tr>
</table>
</form>
