<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function ShowDetail(linkurl) {
  Left=(document.body.clientWidth-350)/2
  DFrameLink(linkurl,90,Left,350,170);
}
function AddRate() {
  p=document.UpdateForm;
  if (p.d_ibagd005.checked==false) {
    alert("Warning: This GST Code is inactive!");
  }
  gstcode=p.ibagd001.value.replace(/%/g,"~");
  linkurl="comweb01.pbl?reportno=4&template=4&updttype=V" +
          "&ibagd001=" + gstcode;
  Left=(document.body.clientWidth-350)/2
  DFrameLink(linkurl,90,Left,350,270);
}
function setFormactn(type) {
  document.UpdateForm.updttype.value=type;
  if (type=="U") {
    if (validateMandatory(UpdateForm)) {
       if(document.UpdateForm.d_ibagd005.checked==false) {
         document.UpdateForm.ibagd005.value="1";    // = Not Active
       } else {
         document.UpdateForm.ibagd005.value="0";    // = Active
       }
       document.UpdateForm.submit(); 
    } 
  } else if (type=="D") { 
     ans=confirm("Are you sure you want to Delete ?")
     if (ans) { document.UpdateForm.submit() } 
  } else if (type=="L") { 
     ans=confirm("Are you sure you want to Delete this GST Code?")
     if (ans) { document.UpdateForm.submit() } 
  } else {
     document.UpdateForm.submit();  
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PageHeadingSection>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=UpdateForm method=post action=comweb01.pbl style="margin:0">
   <input type=hidden name=reportno value="4">
   <input type=hidden name=template value="002">
   <input type=hidden name=updttype value="">
   <input type=hidden name=ibagd005 value="">

  <table align=center width=80% border=0 cellspacing=0>
  <tr><td class=DataLabel>GST Code</td>
      <td><input type=text name=ibagd001 title="GST Code" size=6 readonly
           class="Readonly" value="%COMWEB01.04.001">
  </tr>
  <tr><td class=DataLabel>Description</td>
      <td><input type=text size=30 name=ibagd004 maxlength=30 
          value="%COMWEB01.04.002"
          title="Description" class="Mandatory"></td>
  </tr>

  <tr><td class=DataLabel>Active</td>
       <td><input type=checkbox name=d_ibagd005 value="0">
      </td>
  </tr>
  <tr><td class=DataLabel>BAS Code</td>
      <td><select name=ibagd006 title="BAS Code">
          <option></option>
          %COMWEB01.04.011
          </select>
      </td>
  </tr>

</table>

<table align=center width=97% border=0 cellspacing=0>
<tr><td colspan=2 align=center><br>
  <input type=button value="Update" class="button" onclick="setFormactn('U');">
  <input type=button value="Delete" class="button" onclick="setFormactn('L');">
  <input type=button value="Cancel" class="button" onclick=DFrameCloseRefresh();>
</td></tr>
<tr><td colspan=2><hr></td></tr>
</table>
</form>

</div>
<div id=PageBodySection>

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
  <tr><td>
  <table cellspacing=0 colspan=4 border=1 width=100%>
  %COMWEB01.04.012.comweb01.04.005
  </table>
  </td></tr>

<tr><td colspan=3>
    <table width=100% bgcolor=#CCCCCC>
    <tr><td align=center>
        <input type=button value="<< Previous" class="button" tabindex=20
         onclick='location.href="%COMWEB01.04.013.003"'>
        <input type=button value=Add class="button" tabindex=10
         onclick="AddRate();">
        <input type=button value="Next >>" class="button" tabindex=21
         onclick='location.href="%COMWEB01.04.014.003"'>
    </td></tr>
    </table>
</td></tr>
</table>
</div>

<script type="text/javascript">
PageBodySection.style.height=document.body.clientHeight -
                            PageHeadingSection.clientHeight + 66;
PageBodySection.style.width = document.body.clientWidth - 6;
var actgst="%COMWEB01.04.003";
if (actgst=="0") {
  document.UpdateForm.d_ibagd005.checked=true;
}
</script>

