<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type=text/javascript>
function ShowDetail03(linkurl) {
  Left=(document.body.clientWidth-600)/2
  DFrameLink(linkurl,0,Left,600,450)
}
function showSpans(){
  if (document.AddForm.ibcnmhos.value==1) {
    HospitalID.innerHTML = HospID.innerHTML;
  } else { HospitalID.innerHTML =""; }
}
function Refresh() {
  var sURL = document.URL;
  var sFilterHosp = "&filthosp=" + document.AddForm.filthosp.value;

  if (sURL.indexOf("&filthosp=") == -1) {
    // no hosp filter yet; set it
    sURL += sFilterHosp;
  }
  else {
    // change hosp filter
    sURL = sURL.replace(/&filthosp=.*&?/,sFilterHosp);
  }

  // remove any indexing params
  sURL = sURL.replace(/&startnum=.*?&/,"&");
  sURL = sURL.replace(/&startkey=.*?&/,"&");
  sURL = sURL.replace(/&norecord=.*?&/,"&");

  window.location.href = sURL;
}
function SubmitUpdate() {
  if (validateMandatory(document.AddForm)) {
    document.AddForm.redirect.value = document.URL;
    document.AddForm.submit();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);showSpans();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
   <form name=AddForm method=post action=comweb05.pbl>
   <input type=hidden name=reportno value="12">
   <input type=hidden name=template value="005">
   <input type=hidden name=updttype value="K">
   <input type=hidden name=deprt001 value="%COMWEB05.12.001">
   <input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
   <input type=hidden name=nextpage value="4">
   <input type=hidden name=redirect value="">

<table align=center width=90% border=0>
<tr><td>
<table align=center width=100% border=0>
  <tr><td>
      <span id=HospitalID></span>
  </td></tr>

 %COMWEB05.12.012.comweb05.11.003

<tr><td colspan=4 align=center><br>
  <input type=button value="<< Previous" class=button
   onclick='location.href="%COMWEB05.12.005.005"'>
    <input type=button value="Update" class=button 
           onclick="SubmitUpdate();" tabindex=17>
    <input type=button value=Close class=button onclick="DFrameCloseRefresh()"
           tabindex=18>
  <input type=button value="Next >>" class=button
   onclick='location.href="%COMWEB05.12.006.005"'>
</td></tr>
</table>
</td></tr>
</table>
</form>
<span id=HospID style="display:none;">
<table width=100% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel width=25%>Hospital ID</td>
    <td><select id=filthosp name=filthosp title="Hospital ID "
             onchange="Refresh();">
    <option value="~~~">All</option>
    %COMWEB05.12.013
    </select>
    </td></tr>
</table>
</span>
