<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function showSpans(){
  if (document.SelectCode.ibcnmhos.value==1) {
    HospitalID.innerHTML = HospID.innerHTML;
  } else { HospitalID.innerHTML =""; }
}
function ShowDetail01(linkurl) {
  Left=(document.body.clientWidth-550)/2
  DFrameLink(linkurl,0,Left,600,320)
}
function EditLookup01() {
  SelectCode.template.value=3
  SelectCode.ibprt001.value=SelectCode.startkey.value
  Left=(document.body.clientWidth-550)/2
  DFrameSubmit(SelectCode,0,Left,550,320)
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);showSpans();">
<form name=SelectCode action=comweb05.pbl method=get style="margin:0">
<input type=hidden name=reportno value=11>
<input type=hidden name=template value=1>
<input type=hidden name=ibprt001 value="">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td>
      <span id=HospitalID></span>
  </td></tr>
  <tr><td align=right width=50% class=MaintenanceHeading>
      &nbsp;Printer Maintenance</td>
      <td align=right class=DataField>Printer Code&nbsp;
         <input type=text class="JustifyRight" name=startkey size=6 maxlength=6>
         <input type=button value=Edit onclick=EditLookup01() class=button>
         <input type=submit value=Goto class=button>
      </td></tr>
   </table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%COMWEB05.11.006.comweb05.11.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class=button
   onclick='location.href="%COMWEB05.11.007.001"'>
  <input type=button value=Add class=button
  onclick="ShowDetail01('comweb05.pbl?reportno=11&template=002');">
  <input type=button value="Next >>" class=button
   onclick='location.href="%COMWEB05.11.008.001"'>
</td></tr>
</table>
</td></tr>
</table>
</form>
<span id=HospID style="display:none;">
<table width=100% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel width=25%>Hospital ID</td>
    <td><select name=filthosp title="Hospital ID "
                    onchange="SelectCode.submit();">
    <option value="   ">All</option>
    %COMWEB05.11.013
    </select>
    </td></tr>
</table>
</span>

