<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function checkCode() {
  chknum=document.UpdateForm.patcn072.value - 0; // Convert to Numeric
  if(chknum > 0 && chknum < 52) {
       alert(document.UpdateForm.patcn072.title
              + " must not be in the range 01 to 51");
       document.UpdateForm.patcn072.select();
    }
}
function PostForm() {
  if(document.UpdateForm.d_patcn042.checked==false) {
     document.UpdateForm.patcn042.value="0";
  } else {
     document.UpdateForm.patcn042.value="1";
  }
  if(document.UpdateForm.d_patcn043.checked==false) {
     document.UpdateForm.patcn043.value="0";
  } else {
     document.UpdateForm.patcn043.value="1";
  }
  if(document.UpdateForm.d_patcn044.checked==false) {
     document.UpdateForm.patcn044.value="0";
  } else {
     document.UpdateForm.patcn044.value="1";
  }
  if(document.UpdateForm.d_patcn045.checked==false) {
     document.UpdateForm.patcn045.value="0";
  } else {
     document.UpdateForm.patcn045.value="1";
  }
  if(document.UpdateForm.d_patcn046.checked==false) {
     document.UpdateForm.patcn046.value="0";
  } else {
     document.UpdateForm.patcn046.value="1";
  }
  if(document.UpdateForm.d_patcn047.checked==false) {
     document.UpdateForm.patcn047.value="0";
  } else {
     document.UpdateForm.patcn047.value="1";
  }
  if(document.UpdateForm.d_patcn048.checked==false) {
     document.UpdateForm.patcn048.value="0";
  } else {
     document.UpdateForm.patcn048.value="1";
  }
  if(document.UpdateForm.d_patcn049.checked==false) {
     document.UpdateForm.patcn049.value="0";
  } else {
     document.UpdateForm.patcn049.value="1";
  }
  if(document.UpdateForm.d_patcn050.checked==false) {
     document.UpdateForm.patcn050.value="0";
  } else {
     document.UpdateForm.patcn050.value="1";
  }
  if(document.UpdateForm.d_patcn051.checked==false) {
     document.UpdateForm.patcn051.value="0";
  } else {
     document.UpdateForm.patcn051.value="1";
  }
  if(document.UpdateForm.d_patcn052.checked==false) {
     document.UpdateForm.patcn052.value="0";
  } else {
     document.UpdateForm.patcn052.value="1";
  }
  if(document.UpdateForm.d_patcn053.checked==false) {
     document.UpdateForm.patcn053.value="0";
  } else {
     document.UpdateForm.patcn053.value="1";
  }
  if(document.UpdateForm.d_patcn054.checked==false) {
     document.UpdateForm.patcn054.value="0";
     document.UpdateForm.patcn072.value="  ";
  } else {
     document.UpdateForm.patcn054.value="1";
  }
  if(document.UpdateForm.d_patcn055.checked==false) {
     document.UpdateForm.patcn055.value="0";
  } else {
     document.UpdateForm.patcn055.value="1";
  }
  if(document.UpdateForm.d_patcn056.checked==false) {
     document.UpdateForm.patcn056.value="0";
  } else {
     document.UpdateForm.patcn056.value="1";
  }
  if(document.UpdateForm.d_patcn071.checked==false) {
     document.UpdateForm.patcn071.value="0";
  } else {
     document.UpdateForm.patcn071.value="1";
  }
  if(document.UpdateForm.d_patcn354.checked==false) {
     document.UpdateForm.patcn354.value="0";
  } else {
     document.UpdateForm.patcn354.value="1";
  }
  if(document.UpdateForm.d_patcn617.checked==false) {
     document.UpdateForm.patcn617.value="0";
  } else {
     document.UpdateForm.patcn617.value="1";
  }
  if(document.UpdateForm.d_patcn621.checked==false) {
     document.UpdateForm.patcn621.value="0";
  } else {
     document.UpdateForm.patcn621.value="1";
  }
  setFormactn('U');
}
function GoBack() {
  window.location.href = document.UpdateForm.redirect.value;
}
function CheckSite(){
  if(document.UpdateForm.viewonly.value==1){
    DisableForm(UpdateForm);
    document.getElementById("cancelbutton").disabled=false;
    document.UpdateForm.redirect.value="comweb98.pbl?reportno=07&template=023"
  }else {
    document.UpdateForm.redirect.value="comweb98.pbl?reportno=07&template=008"
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);CheckSite();">
<form name=UpdateForm method=post action=comweb98.pbl>
<input type=hidden name=reportno value="7">
<input type=hidden name=template value="010">
<input type=hidden name=redirect value="">
<input type=hidden name=nextpage value="1">
<input type=hidden name=updttype value=" ">
<input type=hidden name=patcn042 value=" ">
<input type=hidden name=patcn043 value=" ">
<input type=hidden name=patcn044 value=" ">
<input type=hidden name=patcn045 value=" ">
<input type=hidden name=patcn046 value=" ">
<input type=hidden name=patcn047 value=" ">
<input type=hidden name=patcn048 value=" ">
<input type=hidden name=patcn049 value=" ">
<input type=hidden name=patcn050 value=" ">
<input type=hidden name=patcn051 value=" ">
<input type=hidden name=patcn052 value=" ">
<input type=hidden name=patcn053 value=" ">
<input type=hidden name=patcn054 value=" ">
<input type=hidden name=patcn055 value=" ">
<input type=hidden name=patcn056 value=" ">
<input type=hidden name=patcn621 value=" ">
<input type=hidden name=patcn071 value=" ">
<input type=hidden name=patcn354 value=" ">
<input type=hidden name=patcn617 value=" ">
<input type=hidden name=viewonly value="%COMWEB98.07.007">

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
<td class=HeadingCell align=center>HL7 PMI/ADT Triggers</td>
</tr>
<tr>
<td>


<hr width=95%>


</table>


<table align=center width=95% border=0 cellspacing=0 cellpadding=0>



<tr>
<td colspan=2 class=HeadingCell >PMI Messages</td>
<td class=DataLabel>&nbsp;</td>
</tr>



<tr>
<td class=DataLabel>Send A28 after PMI registration</td>
    <td class=DataItem><input type=checkbox name=d_patcn053 
     title="Send A28 after PMI registration" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A31 after PMI update</td>
    <td class=DataItem><input type=checkbox name=d_patcn054 onclick="setCode();"
     title="Send A31 after PMI update" value="1">
    </td></tr>

<tr><td class=DataLabel>Alternate 'A' code for A31</td>
    <td class=DataItem><input type=text name=patcn072 size=1 maxlength=2
     value="%COMWEB98.07.172" onblur="checkCode();"
     title="Alternate 'A' code for A31">
    </td></tr>

<tr><td class=DataLabel>Send A08 instead of A31 for current inpatients</td>
    <td class=DataItem><input type=checkbox name=d_patcn354
     title="Send A08 instead of A31 for current inpatients" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A34 after U/R merge</td>
    <td class=DataItem><input type=checkbox name=d_patcn055 
     title="Send A34 after U/R merge" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A37 after U/R unmerge</td>
    <td class=DataItem><input type=checkbox name=d_patcn621
     title="Send A37 after U/R unmerge" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A44 after change U/R for I/P visit</td>
    <td class=DataItem><input type=checkbox name=d_patcn056 
     title="Send A44 after U/R merge" value="1">
    </td></tr>

<tr><td class=DataLabel>Alert category to send for allergies in message</td>
    <td><select name=patcn086>
        <option></option>
        <option value="H1">H1</option>
        <option value="H2">H2</option>
        <option value="H3">H3</option>
        <option value="H4">H4</option>
        <option value="H5">H5</option>
        <option value="H6">H6</option>
        <option value="H7">H7</option>
        <option value="H8">H8</option>
        <option value="H9">H9</option>
        </select></td></tr>
    </td></tr>


<tr>
<td colspan=2 class=HeadingCell>ADT Messages</td>
<td class=DataLabel>&nbsp;</td>
</tr>

<tr><td width=55% class=DataLabel>Send A01 after new admission</td>
    <td class=DataItem><input type=checkbox name=d_patcn042 
     title="Send A01 after new admission" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A02 after transfer</td>
    <td class=DataItem><input type=checkbox name=d_patcn043 
     title="Send A02 after transfer" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A03 after discharge</td>
    <td class=DataItem><input type=checkbox name=d_patcn044 
     title="Send A03 after discharge" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A08 after admission update</td>
    <td class=DataItem><input type=checkbox name=d_patcn045 
     title="Send A08 after admission update" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A08 when Invoice on Hold data is changed</td>
    <td class=DataItem><input type=checkbox name=d_patcn617 
     title="Send A08 when Invoice on Hold data is changed" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A11 after cancel admission</td>
    <td class=DataItem><input type=checkbox name=d_patcn046 
     title="Send A11 after cancel admission" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A12 after cancel transfer</td>
    <td class=DataItem><input type=checkbox name=d_patcn047 
     title="Send A12 after cancel transfer" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A13 after cancel discharge</td>
    <td class=DataItem><input type=checkbox name=d_patcn048 
     title="Send A13 after cancel discharge" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A14 after preadmit</td>
    <td class=DataItem><input type=checkbox name=d_patcn049 
     title="Send A14 after preadmit" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A21 after on-leave</td>
    <td class=DataItem><input type=checkbox name=d_patcn050 
     title="Send A21 after on-leave" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A22 after return from leave</td>
    <td class=DataItem><input type=checkbox name=d_patcn051 
     title="Send A22 after return from leave" value="1">
    </td></tr>

<tr><td class=DataLabel>Send A27 after cancel preadmit</td>
    <td class=DataItem><input type=checkbox name=d_patcn052 
     title="Send A27 after cancel preadmit" value="1">
    </td></tr>

<tr><td colspan=2 class=HeadingCell>Doctor Messages</td>
    <td class=DataLabel>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>Send M02 after add/change Doctor Details</td>
    <td class=DataItem><input type=checkbox name=d_patcn071 
     title="Send M02 after add/change Doctor Details" value="1">
    </td></tr>

<tr><td class=DataLabel>&nbsp;</td>
    <td class=DataLabel>&nbsp;</td>
    </tr>
    
<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td colspan=2 align=center>
   <input id="updatebutton" type=button value="Update" class="button" onclick="PostForm();">
   <input id="cancelbutton" type=button value="Cancel" class="button" onclick="GoBack();">
</td></tr>

</table>
</form>

<script type="text/javascript">
 A01Mess="%COMWEB98.07.142"
 if(A01Mess=="1") {
   document.UpdateForm.d_patcn042.checked=1;
 }
 A02Mess="%COMWEB98.07.143"
 if(A02Mess=="1") {
   document.UpdateForm.d_patcn043.checked=1;
 }
 A03Mess="%COMWEB98.07.144"
 if(A03Mess=="1") {
   document.UpdateForm.d_patcn044.checked=1;
 }
 A08Mess="%COMWEB98.07.145"
 if(A08Mess=="1") {
   document.UpdateForm.d_patcn045.checked=1;
 }
 A11Mess="%COMWEB98.07.146"
 if(A11Mess=="1") {
   document.UpdateForm.d_patcn046.checked=1;
 }
 A12Mess="%COMWEB98.07.147"
 if(A12Mess=="1") {
   document.UpdateForm.d_patcn047.checked=1;
 }
 A13Mess="%COMWEB98.07.148"
 if(A13Mess=="1") {
   document.UpdateForm.d_patcn048.checked=1;
 }
 A14Mess="%COMWEB98.07.149"
 if(A14Mess=="1") {
   document.UpdateForm.d_patcn049.checked=1;
 }
 A21Mess="%COMWEB98.07.150"
 if(A21Mess=="1") {
   document.UpdateForm.d_patcn050.checked=1;
 }
 A22Mess="%COMWEB98.07.151"
 if(A22Mess=="1") {
   document.UpdateForm.d_patcn051.checked=1;
 }
 A27Mess="%COMWEB98.07.152"
 if(A27Mess=="1") {
   document.UpdateForm.d_patcn052.checked=1;
 }
 A28Mess="%COMWEB98.07.153"
 if(A28Mess=="1") {
   document.UpdateForm.d_patcn053.checked=1;
 }
 A31Mess="%COMWEB98.07.154"
 if(A31Mess=="1") {
   document.UpdateForm.d_patcn054.checked=1;
   setCode();
   }
 else {
   setCode();
 }
function setCode() {
 if(document.UpdateForm.d_patcn054.checked==true) {
   document.UpdateForm.patcn072.readOnly=0; 
   document.UpdateForm.patcn072.className="  "; 
   }
 else {
   document.UpdateForm.patcn072.readOnly=1; 
   document.UpdateForm.patcn072.className="Readonly"; 
 }
}
 A34Mess="%COMWEB98.07.155"
 if(A34Mess=="1") {
   document.UpdateForm.d_patcn055.checked=1;
 }
 A44Mess="%COMWEB98.07.156"
 if(A44Mess=="1") {
   document.UpdateForm.d_patcn056.checked=1;
 }
 M02Mess="%COMWEB98.07.171"
 if(M02Mess=="1") {
   document.UpdateForm.d_patcn071.checked=1;
 }
 Allergy="%COMWEB98.07.186";
 for (var i=0; i<document.UpdateForm.patcn086.length; i++) {
  if (document.UpdateForm.patcn086.options[i].value==Allergy.substr(0,2)) {
     document.UpdateForm.patcn086.selectedIndex=i;
  }
}
 A31YA08="%COMWEB98.07.199.256"
 if(A31YA08=="1") {
   document.UpdateForm.d_patcn354.checked=1;
 }
 A08INVH="%COMWEB98.07.199.517"
 if(A08INVH=="1") {
   document.UpdateForm.d_patcn617.checked=1;
 }
 PTCNRA37="%COMWEB98.07.199.521"
 if(PTCNRA37=="1") {
   document.UpdateForm.d_patcn621.checked=1;
 }
//
</script>
