<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateParent(stationtyp,code,desc) {
  parent.ReturnCode.value=code
  parent.ReturnName.value=desc
  if (typeof(parent.ReturnFunction) == 'function') {
      parent.ReturnFunction()  }
  justifyLeft(parent.ReturnCode);
  DFrameExit();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 Stationery Type: %COMWEB05.04.001 - %COMWEB05.04.002 - Variable List 
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=SelectCode action=comweb05.pbl method=get style="margin:0">
  <input type=hidden name=norecord value=18>
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=5>
  <input type=hidden name=ibvar001 value="%COMWEB05.04.001">

<table border=1 width=100% cellspacing=0 cellpadding=0>
<table border=0 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td class=MaintenanceHeading>
      <td align=right class=DataField>Code&nbsp;
         <input type=text name=ibvar003 size=5 maxlength=5>
         <input type=submit value=Goto class="button">
      </td></tr>
   </table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%COMWEB05.04.011.comweb05.04.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%COMWEB05.04.009.005"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%COMWEB05.04.010.005"'>
</td></tr>
</table>

</td></tr>
</table>
</form>
</div>
