<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostForm() {
  if(document.UpdateForm.d_pricn061.checked==false) {
     document.UpdateForm.pricn061.value="0";
  } else {
     document.UpdateForm.pricn061.value="1";
  }
  if(document.UpdateForm.d_pricn020.checked==false) {
     document.UpdateForm.pricn020.value="0";
  } else {
     document.UpdateForm.pricn020.value="1";
  }
  if(document.UpdateForm.d_pricn021.checked==false) {
     document.UpdateForm.pricn021.value="0";
  } else {
     document.UpdateForm.pricn021.value="1";
  }
  if(document.UpdateForm.d_pricn047.checked==false) {
     document.UpdateForm.pricn047.value="0";
  } else {
     document.UpdateForm.pricn047.value="1";
  }
  if(document.UpdateForm.d_pricn227.checked==false) {
     document.UpdateForm.pricn227.value="0";
  } else {
     document.UpdateForm.pricn227.value="1";
  }
  if(document.UpdateForm.d_pricn231.checked==false) {
     document.UpdateForm.pricn231.value="0";
  } else {
     document.UpdateForm.pricn231.value="1";
  }
//
  setFormactn('U');
}
function ChkLedgerPP() {
p=document.UpdateForm;  
if (!isWhitespace(p.pricn062.value)) {
      AccountSearchFrame(p.pricn062,p.pricn063,p.d_pricn063)
   } else {
      alert("Ledger for PP must be selected!"); }
}
function ChkLedgerCM() {
p=document.UpdateForm;  
if (!isWhitespace(p.pricn064.value)) {
      AccountSearchFrame(p.pricn064,p.pricn065,p.d_pricn065)
   } else {
      alert("Ledger for Commission must be selected!"); }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<form  name=UpdateForm method=post action=comweb98.pbl>
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="002">
<input type=hidden name=redirect value="comweb98.pbl?reportno=04&template=001">
<input type=hidden name=nextpage value="1">
<input type=hidden name=updttype value="">
<input type=hidden name=pricn061 value="">
<input type=hidden name=pricn020 value="">
<input type=hidden name=pricn021 value="">
<input type=hidden name=pricn047 value="">
<input type=hidden name=pricn227 value="">
<input type=hidden name=pricn231 value="">
<input type=hidden name=currdate value="%STANDARD.01.015">

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell align=center>Private Practice Parameter Maintenance - Hospital Controlled 1</td>
    </tr>
<tr><td>
</table>
<table align=center width=95% border=0 cellspacing=0 cellpadding=0>

<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td class=DataLable>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>Hospital Postal Address Line 1</td>
    <td><input type=text id=pricn202 name=pricn202 size=27 maxlength=25
         value="%COMWEB98.04.202"></td></tr>

<tr><td class=DataLabel>Hospital Postal Address Line 2</td>
    <td><input type=text id=pricn203 name=pricn203 size=27 maxlength=25
         value="%COMWEB98.04.203"></td></tr>

<tr><td class=DataLabel>Hospital Postal Address Line 3</td>
    <td><input type=text id=pricn204 name=pricn204 size=27 maxlength=25
         value="%COMWEB98.04.204"></td></tr>

<tr><td class=DataLabel>Hospital Postal Post Code</td>
    <td><input type=text id=pricn205 name=pricn205 size=5 maxlength=4
         value="%COMWEB98.04.205"></td></tr>

<tr><td class=DataLabel>Insurance Co. for Workers Comp</td>
    <td><select id=pricn043 name=pricn043>
        <option></option>
        %COMWEB98.04.143
        </select>
    </td></tr>

<tr><td class=DataLabel>Insurance Co. for Motor Acc.Board</td>
    <td><select id=pricn044 name=pricn044>
        <option></option>
        %COMWEB98.04.144
        </select>
    </td></tr>

<tr><td class=DataLabel>Insurance Co. for Veteran Affairs</td>
    <td><select id=pricn045 name=pricn045>
        <option></option>
        %COMWEB98.04.145
        </select>
    </td></tr>

<tr><td class=DataLabel>Import doctor Charges to APS</td>
    <td class=DataItem><input type=checkbox id=d_pricn061 name=d_pricn061 value="1">
    </td></tr>

<tr><td class=DataLabel>Ledger Code for PP Payment</td>
     <td><select id=pricn062 name=pricn062>
         <option></option>
         %COMWEB98.04.162
         </select>
</td></tr>

<tr><td class=DataLabel>Account Code for PP Payment</td>
     <td><input id=pricn063 name=pricn063 value="%COMWEB98.04.163.0" size=12>
         <input id=d_pricn063 name=d_pricn063 class=ReadOnly readonly
          value="%COMWEB98.04.163.1" size=35>
         <img src=../images/SearchIcon.gif border=0 hspace=0 align=absmiddle
          onclick=ChkLedgerPP();>
         <img src="../images/erase.gif" align=absmiddle hspace=0
          onclick="clrFields(pricn063,d_pricn063);">
</td></tr>

<tr><td class=DataLabel>Ledger Code for Commission</td>
     <td><select id=pricn064 name=pricn064>
         <option></option>
         %COMWEB98.04.164
         </select>
</td></tr>

<tr><td class=DataLabel>Account Code for Commission</td>
     <td><input id=pricn065 name=pricn065 value="%COMWEB98.04.165.0" size=12>
         <input id=d_pricn065 name=d_pricn065 class=ReadOnly readonly
          value="%COMWEB98.04.165.1" size=35>
         <img src=../images/SearchIcon.gif border=0 hspace=0 align=absmiddle
          onclick=ChkLedgerCM();>
         <img src="../images/erase.gif" align=absmiddle hspace=0
          onclick="clrFields(pricn065,d_pricn065);">
</td></tr>

<tr><td class=DataLabel>Clinic name on invoice</td>
    <td><input type=text id=pricn017 name=pricn017 size=32 maxlength=30
         value="%COMWEB98.04.117"></td></tr>

<tr><td class=DataLabel>Clinic telephone number on invoice</td>
    <td><input type=text id=pricn018 name=pricn018 size=12 maxlength=12
         value="%COMWEB98.04.118"></td></tr>

<tr><td class=DataLabel>Print Journals on invoice</td>
    <td class=DataItem><input type=checkbox id=d_pricn020 name=d_pricn020 value="1">
    </td></tr>

<tr><td class=DataLabel>Generate Debtor no.s automatically</td>
    <td class=DataItem><input type=checkbox id=d_pricn021 name=d_pricn021 value="1">
    </td></tr>

<tr><td class=DataLabel>Next generated Debtor number</td>
    <td><input type=text id=pricn022 name=pricn022 size=8 maxlength=8
         class="JustifyLeft Integer" value="%COMWEB98.04.122"></td></tr>

<tr><td class=DataLabel>Referring Doctor Mandatory (Y/N)</td>
    <td class=DataItem><input type=checkbox id=d_pricn047 name=d_pricn047 value="1">
    </td></tr>

<tr><td class=DataLabel>Special Character for U/R keyin</td>
    <td><input type=text id=pricn052 name=pricn052 size=1 maxlength=1
         value="%COMWEB98.04.152"></td></tr>

<tr><td class=DataLabel>Next generated Batch Number</td>
    <td><input type=text id=pricn222 name=pricn222 size=8 maxlength=8
         class="JustifyLeft Integer" value="%COMWEB98.04.222"></td></tr>

<tr><td class=DataLabel>MBS Item for S4B3 Exemptions</td>
    <td><input type=text id=pricn059 name=pricn059 size=9 
         onblur='validateCode(4,pricn059,mbscdesc)'
         value="%COMWEB98.04.159.1" tabindex=-1>
        <input type=text id=mbscdesc name=mbscdesc class="Readonly" readonly size=40
         value="%COMWEB98.04.159.0" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="MbsSearchFrame(pricn059,mbscdesc,currdate)">
         <img src="../images/erase.gif" align=absmiddle hspace=0
          onclick="clrFields(pricn059,mbscdesc);">
    </td></tr>

<tr><td class=DataLabel>Special Character for Test Codes</td>
    <td><input type=text id=pricn223 name=pricn223 size=1 maxlength=1
         value="%COMWEB98.04.223"></td></tr>

<tr><td class=DataLabel>How to default PRA for U/R No's</td>
     <td><select id=pricn060 name=pricn060>
         <option value="0">Default to Patient</option>
         <option value="1">From last Inpatient Visit</option>
         <option value="2">From last Priv Prac Inv.</option>
         <option value="3">From Master record</option>
         </select>
</td></tr>

<tr><td class=DataLabel>Print batch invs for current Adm</td>
    <td class=DataItem><input type=checkbox id=d_pricn227 name=d_pricn227 value="1">
    </td></tr>

<tr><td class=DataLabel>User Defined Invoice Header Code</td>
     <td><select id=pricn228 name=pricn228>
         <option></option>
         %COMWEB98.04.228
         </select>
</td></tr>

<tr><td class=DataLabel>User Defined Invoice Tail Code</td>
     <td><select id=pricn229 name=pricn229>
         <option></option>
         %COMWEB98.04.229
         </select>
</td></tr>

<tr><td class=DataLabel>No Rounding on Adjustment Calculation</td>
    <td class=DataItem><input type=checkbox id=d_pricn231 name=d_pricn231 value="1">
    </td></tr>

<tr><td class=DataLable>&nbsp;</td>
    <td class=DataItem>&nbsp;</td>
    </tr>
    
<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td colspan=2 align=center>
   <input type=button value="Update" class="button" onclick=PostForm();>
   <input type=button onclick='history.go(-1)' value=Cancel class="button">
</td></tr>

</table>
</form>
<script type="text/javascript">
//
 if("%COMWEB98.04.161"=="1") {
   document.UpdateForm.d_pricn061.checked=1;
 }
 if("%COMWEB98.04.120"=="1") {
   document.UpdateForm.d_pricn020.checked=1;
 }
 if("%COMWEB98.04.121"=="1") {
   document.UpdateForm.d_pricn021.checked=1;
 }
 if("%COMWEB98.04.147"=="1") {
   document.UpdateForm.d_pricn047.checked=1;
 }
 if("%COMWEB98.04.227"=="1") {
   document.UpdateForm.d_pricn227.checked=1;
 }
 if("%COMWEB98.04.231"=="1") {
   document.UpdateForm.d_pricn231.checked=1;
 }
//
for (var i =0 ; i < document.UpdateForm.pricn060.length; i++) {
     if (document.UpdateForm.pricn060.options[i].value=="%COMWEB98.04.160") {
         document.UpdateForm.pricn060.selectedIndex=i } };
</script>
