<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
<script type="text/javascript">
function CeraRemi() {

  if (!confirm("Close ERA without Releasing?")) {return;}

  if (validateMandatory(SelectPeriod)) {
    document.SelectPeriod.updatety.value="C";
    document.SelectPeriod.nextpage.value="9";
    document.SelectPeriod.submit();
  }
}
function PrinRemi() {
  if (validateMandatory(SelectPeriod)) {
    document.SelectPeriod.submit();  
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
WebServices IMCW ERAW Header Details
</span>
<form name=SelectPeriod action=eclweb25.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=01>
  <input type=hidden name=template value=2>
  <input type=hidden name=updatety value="P">
  <input type=hidden name=nextpage value="0">
  <input type=hidden name=remitkey value="%ECLWEB25.01.029">
<table border=0 width=70% align=center cellspacing="0" cellpadding="0">
    <tr><td class="DataLabel">Remittance Advice Number</td>
        <td class="DataField">%ECLWEB25.01.003</td>
    </tr>
    <tr><td class="DataLabel">Part Number</td>
        <td class="DataField">%ECLWEB25.01.004</td>
    </tr>
    <tr><td class="DataLabel">Part Total</td>
        <td class="DataField">%ECLWEB25.01.005</td>
    </tr>
    <tr><td class="DataLabel">Run Date</td>
        <td class="DataField">%ECLWEB25.01.006</td>
    </tr>
    <tr><td class="DataLabel">Payer Name</td>
        <td class="DataField">%ECLWEB25.01.007</td>
    </tr>
    <tr><td class="DataLabel">Payee Location ID</td>
        <td class="DataField">%ECLWEB25.01.008</td>
    </tr>
    <tr><td class="DataLabel">Bank Account Number</td>
        <td class="DataField">%ECLWEB25.01.009</td>
    </tr>
    <tr><td class="DataLabel">Bank Account</td>
        <td class="DataField">%ECLWEB25.01.010</td>
    </tr>
    <tr><td class="DataLabel">Bank BSB Code</td>
        <td class="DataField">%ECLWEB25.01.011</td>
    </tr>
    <tr><td class="DataLabel">Payment Reference</td>
        <td class="DataField">%ECLWEB25.01.012</td>
    </tr>
    <tr><td class="DataLabel">Deposit Amount</td>
        <td class="DataField">%ECLWEB25.01.013</td>
    </tr>
    <tr><td class="DataLabel">Fund Transaction ID</td>
        <td class="DataField">%ECLWEB25.01.014</td>
    </tr>
    <tr><td class="DataLabel">Status</td>
        <td class="DataField">%ECLWEB25.01.015</td>
    </tr>
    <tr><td class=DataLabel>Printer</td>
    <td><select name=selprint title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAWEB11.01
        </select>
    </td></tr>
</table>
</form>
<table border="0" colspan=0 width="95%" cellspacing="0" cellpadding="0" >
<tr>
  <td align=center>
  <input type=button value="Print" class="button"
   onclick='PrinRemi();'>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
  <input type=button value="Close ERA" class="button"
   name=cerabutt id=cerabutt
   onclick='tempDisable(this);CeraRemi();'>
</td></tr>
</table>

