<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function displayClaim(batchnum,admissno,urnumber,invoicen) {
  document.cookie = "EclipseClaimPath=" + escape(location.href) + ";"
  location.href="eclweb24.pbl?reportno=5" +
                "&template=001" +
                "&urnumber=" + urnumber +
                "&admissno=" + admissno +
                "&mavbatch=" + batchnum +
                "&mavinvce=" + invoicen;  
}
function JSONPopupFrame(mavbatch,mavinvce,urnumber,admissno) {
  DFrameStart()

  linkurl="../cgi-bin/eclweb24.pbl?reportno=5&template=009"+
          "&mavbatch=" + mavbatch +
          "&mavinvce=" + mavinvce +
          "&urnumber=" + urnumber +
          "&admissno=" + admissno ;
  Left=(document.body.clientWidth-1300)/2
  DFrameLink(linkurl,0,Left,1300,1000)
}
function delWaitn(delcheckbox) {

  if(!confirm("WARNING: Clicking OK will completely remove this claim from Eclipse. \Are you sure you want to continue ?")) {
   FilterSubmit();
   return;
  }

  document.SelectPeriod.updattyp.value="D";
  document.SelectPeriod.mavbatch.value=delcheckbox.value.substring(0,8);
  document.SelectPeriod.mavinvce.value=delcheckbox.value.substring(8,16);
  FilterSubmit();
}
function reSubmit(rsbcheckbox) {
  document.SelectPeriod.updattyp.value="R";
  document.SelectPeriod.mavbatch.value=rsbcheckbox.value.substring(0,8);
  document.SelectPeriod.mavinvce.value=rsbcheckbox.value.substring(8,16);
  FilterSubmit();
}
function MarkAsViewed(mavcheckbox) {
  document.SelectPeriod.updattyp.value="V";
  document.SelectPeriod.mavbatch.value=mavcheckbox.value.substring(0,8);
  document.SelectPeriod.mavinvce.value=mavcheckbox.value.substring(8,16);
  FilterSubmit();
}
function resetStatus(rstcheckbox) {
  document.SelectPeriod.updattyp.value="S";
  document.SelectPeriod.mavbatch.value=rstcheckbox.value.substring(0,8);
  document.SelectPeriod.mavinvce.value=rstcheckbox.value.substring(8,16);
  FilterSubmit();
}
function DemogrPatient() {
}
function exdtblankchange () {
  document.SelectPeriod.exdtblnk.value=0;
  if (document.SelectPeriod.lastdate!=undefined) {
    if (isWhitespace(document.SelectPeriod.lastdate.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
  if (document.SelectPeriod.vyearmth!=undefined) {
    if (isWhitespace(document.SelectPeriod.vyearmth.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
}
function healthfundchange () {
 if (document.SelectPeriod.healthfd!=undefined) {
   document.SelectPeriod.hlthfund.value=document.SelectPeriod.healthfd.value;
 } else {
   if (document.SelectPeriod.claimtyp!=undefined) {
     document.SelectPeriod.hlthfund.value=
     document.SelectPeriod.claimtyp.value.substring(0,3);
   } else {
     document.SelectPeriod.hlthfund.value="      ";
   }
 }
}
function exclwaitclick() {
 if (document.SelectPeriod.t_exclwait.checked==true) {
   document.SelectPeriod.exclwait.value="1";
 } else {
   document.SelectPeriod.exclwait.value="0";
 }
}
function exclcloseclick() {
 if (document.SelectPeriod.t_exclclos.checked==true) {
   document.SelectPeriod.exclclos.value="1";
 } else {
   document.SelectPeriod.exclclos.value="0";
 }
}
//======================================================================
// Standard Date Select View Functions
//  SelectView(ViewType)   0=by day 1 =by week 2=by month
//======================================================================
function SelectView(ViewType)
{
  document.SelectPeriod.viewtype.value=ViewType
  if (document.SelectPeriod.lastdate!=undefined)
    document.SelectPeriod.lastdate.value="";
 
  if (document.SelectPeriod.vyearmth!=undefined)
    document.SelectPeriod.vyearmth.value="";
 
//  document.SelectPeriod.submit();
  FilterSubmit();
}
function PatientInvSearch(ReturnUR,ReturnName,ReturnInv) {
  ReturnFunction="" ;
  for (var i=4; i < PatientInvSearch.arguments.length; i++) {
    if (typeof(PatientInvSearch.arguments[i]) == 'function') {
      ReturnFunction=PatientInvSearch.arguments[i] }
  }
  window.ReturnName=ReturnName ;
  window.ReturnUR=ReturnUR ;
  window.ReturnCode=ReturnInv ;
  window.ReturnForm=SelectPeriod ;
  DFrameStart()
  window.IBASystem=1 ;
  linkurl="patweb90.pbl?reportno=1&template=18"
  Left=(document.body.clientWidth-900)/2
  DFrameLink(linkurl,130,Left,900,440);
}
function validateInvoice(invoicen) {
 if (isWhitespace(invoicen.value)) {
   return false;
 }
 var Url = "../cgi-bin/patweb80.pbl?reportno=51" +
           "&valdcode="+invoicen.value.replace(/ /g,"+") +
           "&valdtype=1";
 var returnValue = RSExecute(Url);    //Remote Script To validate invoice no
 if (returnValue.status==0) {
   ReturnValue=returnValue.return_value.split("|");
   invoicen.value=ReturnValue[0];
   justifyRight(invoicen);
//   admissno=ReturnValue[1];
//   urnumber=ReturnValue[2];
//   alert("admission="+admissno+"\nurnumber="+urnumber);
   FilterSubmit();
   return true;
 }
 else {
  invoicen.value="";
  invoicen.focus();
  return false;
 }
}
//------------------------------------------------------------
// Function : Validate Batch Number
//------------------------------------------------------------
function validateBatch(ReturnCode) {
  var serverURL ="../cgi-bin/eclweb24.pbl?reportno=4&valdtype=5" +
                 "&batchnum=" + ReturnCode.value.replace(/ /g,"+");

  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value.split("|")
  } else {
    ReturnCode.select();
    return false;
  }
  return true;
}
function checkBatchNo(batchno) {
  if(isWhitespace(batchno.value)) { return; }
//if ((event.keyCode == 13) || (event.keyCode == 9)) {  // Carriage Return
    if (validateMandatory(SelectPeriod)) {
      ans=validateBatch(batchno);
      if(!ans) { return }
      document.SelectPeriod.batchnum.value=batchno.value;
//    document.SelectPeriod.submit();
//alert();
      FilterSubmit();
    }
//}
}
function BatchNumSearchFrame(ReturnCode) {
  DFrameStart()
  window.ReturnCode=ReturnCode ;

  window.ReturnHosp="";
  if (document.SelectPeriod.hospcode!=undefined) {
    window.ReturnHosp=document.SelectPeriod.hospcode.value; 
  }

  window.ReturnFunction="" ;
  for (var i=1; i < BatchNumSearchFrame.arguments.length; i++) {
    if (typeof(BatchNumSearchFrame.arguments[i]) == 'function') {
      window.ReturnFunction=BatchNumSearchFrame.arguments[i]
    }
  }

  linkurl="../cgi-bin/eclweb24.pbl?reportno=6&template=002&btschosp="+window.ReturnHosp;
  Left=(document.body.clientWidth-750)/2
//alert(linkurl);
  DFrameLink(linkurl,100,Left,750,400)
}
function checkAdmiss(admiss) {
  if(isWhitespace(admiss.value)) { return; }
//if ((event.keyCode == 13) || (event.keyCode == 9)) {  // Carriage Return
    if (validateMandatory(SelectPeriod)) {
      justifyRight(admiss)
      p = document.SelectPeriod
      ans=validateCode(45,admiss,p.dummy,p.dummy,p.dummy,p.dummy,p.filturno);
      if(!ans) { return }
      document.SelectPeriod.filtadmn.value=admiss.value;
//    document.SelectPeriod.submit();
      FilterSubmit();
    }
//}
}
function checkUR(urnum) {
  if(isWhitespace(urnum.value)) { return; }
//if ((event.keyCode == 13) || (event.keyCode == 9)) {  // Carriage Return
    if (validateMandatory(SelectPeriod)) {
      justifyRight(urnum)
      ans=validateUR(urnum);
      if(!ans) { return }
      document.SelectPeriod.filturno.value=urnum.value;
//    document.SelectPeriod.submit();
      document.SelectPeriod.filtadmn.value="";
      FilterSubmit();
    }
//}
}
//UPTOHERE
//------------------------------------------------------------
// Function : Validate U/R Number
//------------------------------------------------------------
function validateUR(ReturnCode) {
  var serverURL ="../cgi-bin/patweb80.pbl?reportno=33" +
                 "&valdcode=" + ReturnCode.value.replace(/ /g,"+");

  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    var urflag=returnValue.return_value.split("|")
    if (urflag[0]=="1") {
      var dummy=1;  // Dummy return
      return true;
    } else {
      setTimeout('document.SelectPeriod.filturno.select();',100);
      alert("Invalid Patient U/R - " + ReturnCode.value);
      return false;
    }
  } 
}
function PatientSearchFrame(ReturnName,ReturnUR,ReturnVisit) {
  ReturnFunction="" ;
  SearchType="" ;
  for (var i=3; i < PatientSearchFrame.arguments.length; i++) {
    if (typeof(PatientSearchFrame.arguments[i]) == 'function') {
      ReturnFunction=PatientSearchFrame.arguments[i] }
    else {
      SearchType=PatientSearchFrame.arguments[i].value
    } }
  window.ReturnName=ReturnName ;
  window.ReturnUR=ReturnUR ;
  window.ReturnVisit=ReturnVisit ;
  var PopUpFrameDoc = DFrameStart();
  PopUpFrameDoc.location.href= "../lookups/PatientSearchFrame"+SearchType+".html";
  SearchFrameShow();
}
function ShowHLCTSpan() {
  HealthFund.innerHTML="";
  if (document.SelectPeriod.hlfdclty.value=="0") {
    HealthFund.innerHTML=HlthFd.innerHTML;
  }
  if (document.SelectPeriod.hlfdclty.value=="1") {
    HealthFund.innerHTML=ClmTyp.innerHTML;
  }
}
function UpdatePatient() {
}
function FilterSubmit() {
// if (document.SelectPeriod.healthfd!=undefined) {
//   document.SelectPeriod.hlthfund.value=document.SelectPeriod.healthfd.value;
// } else {
//   if (document.SelectPeriod.claimtyp!=undefined) {
//     document.SelectPeriod.hlthfund.value=
//     document.SelectPeriod.claimtyp.value.substring(0,3);
//   } else {
//     document.SelectPeriod.hlthfund.value="      ";
//   }
// }

// if (document.SelectPeriod.t_exclwait.checked==true) {
//  document.SelectPeriod.exclwait.value="1";
// } else {
//   document.SelectPeriod.exclwait.value="0";
// }

// document.SelectPeriod.allhflag.value=1;

// if(validateMandatory(SelectPeriod)) {
// alert(document.SelectPeriod.hlthfund.value);
   document.SelectPeriod.submit();
// }
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center");
// t.addColumn("Batch #","ImageText",0,0,"left","InvoiceIcon","10",50,11)
 t.addColumn("Batch&nbsp;#","String",17,17,"left","","",40)
 t.addColumn("Adm Number","String",1,1,"left","","",40)
 t.addColumn("User ID Created/Updated by","String",20,20,"left","","",80)
 t.addColumn("Invoice Number","String",2,2,"left","","",40)
 t.addColumn("Patient&nbsp;Details","ImageText",3,3,"left","PatientFolder","12",130,16)
 t.addColumn("Health&nbsp;Fund<br>Claim&nbsp;Code","String",4,4,"left","","",60)
 t.addColumn("Claimed Amt","String",5,5,"left","","",50)
 t.addColumn("Claim Status","String",18,18,"left","","",50)
 t.addColumn("Batch #<br>Previous","String",7,7,"left","","",50)
 t.addColumn("Batch #<br>Next","String",8,8,"left","","",50)
 t.addColumn("Mark as Viewed","String",13,13,"middle","","",50)
 t.addColumn("Resubmit","String",14,14,"middle","","",40)
 t.addColumn("Delete","String",15,15,"middle","","",30)
 t.addColumn("Reset<br>Status","String",19,19,"middle","","",30)
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
 break; 
  }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);
              document.SelectPeriod.allhflag.value=1;"
      onunload="document.cookie = 'EclipseClaimPath=' + 
                escape(location.href) + ';'">

<div id=HeadingSection>
<form name=SelectPeriod action=eclweb24.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=6>
  <input type=hidden name=template value=1>
  <input type=hidden name=ibcnmhos value="%ECLWEB24.06.002">
  <input type=hidden name=allhflag value=0>
  <input type=hidden name=hlthfund value="%ECLWEB24.06.016">
  <input type=hidden name=dummy id=dummy>
  <input type=hidden name=exclwait value="%ECLWEB24.06.007">
  <input type=hidden name=viewtype value="%ECLWEB24.06.014">
  <input type=hidden name=exdtblnk value="%ECLWEB24.06.015">
  <input type=hidden name=mavbatch value=" ">
  <input type=hidden name=mavinvce value=" ">
  <input type=hidden name=updattyp value=" ">
  <input type=hidden name=nextpage value="6">
  <input type=hidden name=exclclos value="%ECLWEB24.06.025">
  
<table cellpadding=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
<tr><td><span id=HospitalID></span></td>
    <td class=DataLabel>Health Fund / Claim Type
    <select name=hlfdclty title="Health Fund / Claim Type" 
         onchange="ShowHLCTSpan();healthfundchange();FilterSubmit();">
    <option value=" ">All</option>
    <option value="0">Health Fund</option>
    <option value="1">Claim Type</option>
    </select>
    </td>
    <td><span id=HealthFund></span></td>
    <td align=right>
    <input type=button value=Search class="button" 
     onclick="FilterSubmit();"><br>
    <input type=button value=Reset class="button"
     onclick='location.href="eclweb24.pbl?reportno=06&template=1&viewtype=0&exdtblnk=1"'>
    </td>
</tr>
</table>

<table cellpadding=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
<tr><td class=DataLabel>Batch #<br>
    <input type=text name=batchnum id=batchnum size=8 maxlength=8
     class="JustifyLeft"
     onblur="justifyRight(this);checkBatchNo(this);" value="%ECLWEB24.06.010">
    <img src=../images/SearchIcon.gif class=Icon notab
     onclick="BatchNumSearchFrame(batchnum,FilterSubmit);">
    <img src="../images/erase.gif" alt="Clear" class="Icon"
     onclick='batchnum.value="";FilterSubmit();'>
    </td>
    <td class=DataLabel>Admission #<br>
    <input type=text name=filtadmn id=filtadmn size=8 maxlength=8
     class="JustifyLeft"
     onblur="checkAdmiss(this);" value="%ECLWEB24.06.009">
    <img src="../images/erase.gif" alt="Clear" class="Icon"
     onclick='filtadmn.value="";FilterSubmit();'>
    </td>
    <td>Invoice #<br>
    <input type=text size=10 maxlength=8 name=invnumbr id=invnumbr
    class="" title="Invoice #" value="%ECLWEB24.06.012"
    onblur="validateInvoice(this);">
    <img src="../images/SearchIcon.gif" class=Icon name=srchinvn
    onclick="PatientInvSearch(filturno,dummy,invnumbr);">
    <img src="../images/erase.gif" alt="Clear" class="Icon"
     onclick='invnumbr.value="";FilterSubmit();'>
    </td>
    <td>U/R #<br>
    <input type=text name=filturno id=filturno size=8 maxlength=8
     class="JustifyLeft"
     onblur="checkUR(this);" value="%ECLWEB24.06.008">
    <img src=../images/SearchIcon.gif class=Icon notab
     onclick="PatientSearchFrame(dummy,filturno,dummy,FilterSubmit);">
    <img src="../images/erase.gif" alt="Clear" class="Icon"
     onclick='filturno.value="";FilterSubmit();'>
    </td>
    <td class=DataLabel>Status<br>
    <select name=claimsta id=claimsta title="Status"
         onchange="FilterSubmit();">
    <option value="  ">All</option>
    <option value=" 0">Not Sent/Waiting</option>
    <option value=" 1">Error (PAS Validation)</option> 
    <option value=" 2">Extracted</option>
    <option value=" 3">Error (SA Validation)</option>
    <option value=" 4">Received</option>
    <option value=" 6">Health Fund Unverified</option>
    <option value=" 7">Health Fund Verified</option>
    <option value=" 8">Health Fund Assessing</option>
    <option value=" 9">Interim Report Ready</option>
    <option value="10">Interim Reported</option>
    <option value="11">Health Fund Rejected Report Ready</option>
    <option value="12">Assessment Complete Report Ready</option>
    <option value="13">Health Fund Rejected Reported</option>
    <option value="14">Assessment Complete Reported</option>
    <option value="15">Remittance Reported</option>
    <option value="16">Closed</option>
    </select>
    </td>
    <td class=DataLabel align=center>All (Excl. Wait) <br>
    <input type=checkbox name=t_exclwait title="All (Excl. Wait)" value="1" 
     onclick="exclwaitclick();FilterSubmit();">
    </td>
    <td class=DataLabel align=center>All (Excl. Closed) <br>
    <input type=checkbox name=t_exclclos title="All (Excl. Closed)" value="1" 
     onclick="exclcloseclick();FilterSubmit();">
    </td>
    <td>Extraction Date<br>
    <input type=button value="<<" class=SmallButton
     onclick='location.href="%ECLWEB24.06.017"'>
    %ECLWEB24.06.013
    <input type=button value=">>" class=SmallButton
     onclick='location.href="%ECLWEB24.06.018"'>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectDateFrame();'>
    <img src="../images/DateLookup.gif" border=0 class=Icon
     alt="Select Date" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("0");'>
    <img src=../images/DayIcon.gif border=0 class=Icon
     alt="View Today" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("1");'>
    <img src=../images/WeekIcon.gif border=0 class=Icon
     alt="View This Week" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("2");'>
    <img src=../images/MonthIcon.gif border=0 class=Icon
     alt="View This Month" align=absmiddle></a>
    </td>
</tr>
</table>
</form>

</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%ECLWEB24.06.001.patweb98.01.001
}
</script>

<span id=HospID style="display:none;">
<table width=100% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel>Hospital ID</td>
    <td><select name=hospcode id=hospcode title="Hospital ID "
                    onchange="FilterSubmit();">
    <option value="      ">All</option>
    %ECLWEB24.06.003
    </select>
    </td></tr>
</table>
</span>

<span id=HlthFd style="display:none;">
<table width=100% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel>Health Fund</td>
    <td><select name=healthfd id=healthfd title="Health Fund" 
                onchange="healthfundchange();FilterSubmit();">
    <option value="      ">All</option>
    %ECLWEB24.06.004     
    </select>
    </td></tr>
</table>
</span>

<span id=ClmTyp style="display:none;">
<table width=100% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel>Claim Type</td>
    <td><select name=claimtyp id=claimtyp title="ClaimType" 
         onchange="healthfundchange();FilterSubmit();">
    <option value="   ">All</option>
    %ECLWEB24.06.006.2
    </select>
    </td></tr>
</table>
</span>

<script type="text/javascript">
if (document.SelectPeriod.ibcnmhos.value==1) {
  HospitalID.innerHTML = HospID.innerHTML;
}
HealthFundClaimType="%ECLWEB24.06.005";
 for (var i =0 ; i < document.SelectPeriod.hlfdclty.length; i++) {
  if (document.SelectPeriod.hlfdclty.options[i].value==HealthFundClaimType) {
       document.SelectPeriod.hlfdclty.selectedIndex=i } };

ShowHLCTSpan();

if (document.SelectPeriod.exclwait.value=="1") {
  document.SelectPeriod.t_exclwait.checked=true;
}
if (document.SelectPeriod.exclclos.value=="1") {
  document.SelectPeriod.t_exclclos.checked=true;
}

ClaimStatus="%ECLWEB24.06.011"
 for (var i =0 ; i < document.SelectPeriod.claimsta.length; i++) {
  if (document.SelectPeriod.claimsta.options[i].value==ClaimStatus) {
       document.SelectPeriod.claimsta.selectedIndex=i } };

//alert(location.href);
</script>
