<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
</head>
<script type="text/javascript">
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
WebServices DVAW DVYW Payment Details - $%ECLWEB25.06.017
</span>
<table border=0 width=70% align=center cellspacing="0" cellpadding="1">
  <tr><td class="DataLabel">Payee Provider Number</td>
      <td class="DataField">%ECLWEB25.06.003</td>
  </tr>
  <tr><td class="DataLabel">Payment Run Number</td>
      <td class="DataField">%ECLWEB25.06.004</td>
  </tr>
  <tr><td class="DataLabel">Payment Run Date</td>
      <td class="DataField">%ECLWEB25.06.005</td>
  </tr>
  <tr><td class="DataLabel">Claim ID</td>
      <td class="DataField">%ECLWEB25.06.037</td>
  </tr>
  <tr><td class="DataLabel">Claim Date</td>
      <td class="DataField">%ECLWEB25.06.010</td>
  </tr>
  <tr><td class="DataLabel">Claim Benefit Paid</td>
      <td class="DataField">%ECLWEB25.06.011</td>
  </tr>
  <tr><td class="DataLabel">Claim Charge Amount</td>
      <td class="DataField">%ECLWEB25.06.012</td>
  </tr>
  <tr><td class="DataLabel">Claim Transaction ID</td>
      <td class="DataField">%ECLWEB25.06.014</td>
  </tr>
  <tr><td class="DataLabel">Report Retrieval Key</td>
      <td class="DataField">%ECLWEB25.06.038</td>
  </tr>
  <tr><td class="DataLabel">Status</td>
      <td class="DataField">%ECLWEB25.06.039</td>
  </tr>
</table>
<table border="0" colspan=0 width="95%" cellspacing="0" cellpadding="0" >
<tr>
  <td align=center>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
</td></tr>
</table>
</div>

<script type="text/javascript">
</script>
