<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function Update(EMBPSTCD,EMBPPTYP,EMBPONDT,EMBPONTM) {
 EMBPS001=EMBPSTCD.replace(/ /g,"+")
 EMBPS002=EMBPPTYP.replace(/ /g,"+")
 EMBPS003=EMBPONDT.replace(/ /g,"+")
 EMBPS004=EMBPONTM.replace(/ /g,"+")
 LinkUrl="emrweb07.pbl?reportno=3&template=003&embps001="+ 
     EMBPSTCD + "&embps002=" + EMBPPTYP + "&embps003=" + EMBPONDT +
     "&embps004=" + EMBPONTM;
 Left=(document.body.clientWidth-980)/2;
 DFrameLink(LinkUrl,50,Left,980,300);
}

function Add()
{
 linkurl="emrweb07.pbl?reportno=3&template=002"; 
 Left=(document.body.clientWidth-980)/2;
 DFrameLink(linkurl,50,Left,980,300);
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();">
<script type="text/javascript">
function InitTable() {
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
 document.title="Pre By-Pass and By-Pass List - %EMRWEB07.03.034";
 t = new Table(1,0,2,"100%","center",30,30);
 t.addColumn("By-Pass Type","String",2,2,"left","MaintenanceIcon.gif","0",90)
 t.addColumn("On Pre/By-Pass Date","Date",3,3,"left","","",80)
 t.addColumn("On Pre/By-Pass Time","String",4,4,"left","","",80)
 t.addColumn("Reason for Pre/By-Pass","String",5,5,"left","","",170)
 t.addColumn("Off Pre/By-Pass Date","Date",6,6,"left","","",80)
 t.addColumn("Off Pre/By-Pass Time","String",7,7,"left","","",80)
 t.addColumn("No. of Ambulances","String",13,8,"left","","",80)
 t.addColumn("Doctor","String",14,14,"left","","",100)
 t.addColumn("Nurse","String",15,15,"left","","",100)
 t.addColumn("Co-ordinator","String",16,16,"left","","",100)
//
// Add Rows to Table (Output from Web Server)
//
//
%EMRWEB07.03.008
//
 OrderColumn=0;
 AscDsc=2
 lastOrderColumn=OrderColumn;
 TableOutput(OrderColumn,AscDsc);
}
</script>
<div id=HeadingSection>
<form name=SelectPeriod action=emrweb07.pbl method=get style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=1> 
<input type=hidden name=viewtype value="%EMRWEB07.03.011">
<table cellpadding=2 bgcolor=#CCCCCC border=0 width=100%>       
<tr><td align=left class=HeadingCell>                                         
    <input type=button value="<<" onclick='location.href="%EMRWEB07.03.002";'
    class=SmallButton>
    %EMRWEB07.03.007
    <input type=button value=">>" onclick='location.href="%EMRWEB07.03.001";'
    class=SmallButton>
    </td>

    <td align=center class=HeadingCell> By-Pass Type
        <select name=passtype onchange="SelectPeriod.submit();" >
                <option value=" ">All</option>
                <option value="0">Pre By-Pass</option>
                <option value="1">By-Pass</option>
        </select></td>

    <td align=right class=HeadingCell>
    <input type=button class=button value="Add" onclick="Add();">

    <a href='javascript:SelectDateFrame();'>
    <img src="../images/DateLookup.gif" class="Icon"
     alt="Select Date"></a>
    <a href='javascript:SelectView("0");'>
    <img src=../images/DayIcon.gif class="Icon"
    alt="View Today"></a>
    <a href='javascript:SelectView("1");'>
    <img src=../images/WeekIcon.gif class="Icon"
    alt="View This Week"></a>
    <a href='javascript:SelectView("2");'>
    <img src=../images/MonthIcon.gif class="Icon"
    alt="View This Month"></a>

    <img alt=Exit class="Icon" src=../images/ExitIcon.gif 
     onclick=EmergencyDFrameExitRefresh()>

</td></tr>
</table>                                
</form>
</div>

<div id="TableLocation" ></div>

<script type="text/javascript">
ByPassType="%EMRWEB07.03.026"
for (var i =0 ; i < document.SelectPeriod.passtype.length; i++) {
  if (document.SelectPeriod.passtype.options[i].value==ByPassType.substr(0,1)) {
      document.SelectPeriod.passtype.selectedIndex=i } };
</script>
