<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
<script type="text/javascript">

  function outputDataFile() {
    // Reference the unqiue file name and path
    var dataFileName = WordDischargeSummary.FILENAME.value + ".txt";

    // Count of number of fields containing data to write to the word data file
    var numberDataFields = 99;

    // Reference the ActiveXObject required to access the PC's file system
    var fileObject = new ActiveXObject("Scripting.FileSystemObject");


    // Create the file structure if nessecary.
    // Have to do this 1 dir at a time

    folderpos = dataFileName.lastIndexOf("\\");
    folderRef = dataFileName.substr(0,folderpos+1);
    if (!fileObject.FolderExists(folderRef)) {
      for (var count=3; count<folderRef.length; count++) {
        newDir = folderRef.substr(0,folderRef.indexOf("\\",count));
        if (!fileObject.FolderExists(newDir)) {
          fileObject.CreateFolder(newDir);
        }
      }
    }

    // Delete the data file if it already exists
    if (fileObject.FileExists(dataFileName)) {
      fileObject.DeleteFile(dataFileName);
    }

    // Create the data file on the PC's file system
    var tempFile = fileObject.CreateTextFile(dataFileName, true);

    // Header information for data file
    tempFile.WriteLine ("[PATIENT INFORMATION]");

    // Loop through all the data field controls outputting the values to
    // the MS word text file used to populated the discharge summary template
    for(var fieldCount = 0; fieldCount < numberDataFields; fieldCount++) {
      tempFile.WriteLine (WordDischargeSummary.elements[fieldCount].value);
    }
    tempFile.Close();  // Close the data file
  }

  function rwfile(searchtext,outputtext) {
    var fileObject = new ActiveXObject("Scripting.FileSystemObject");

    try {
//      var tempFile = fileObject.OpenTextFile("c:\\windows\\unicare.ini",1);
      var tempFile = fileObject.OpenTextFile("c:\\Templates\\unicare.ini",1);
    }
    catch (exception) {
      try {
//        var tempFile = fileObject.OpenTextFile("c:\\winnt\\unicare.ini",1);
        var tempFile = fileObject.OpenTextFile("c:\\Templates\\unicare.ini",1);
      }
      catch (exception) {
        alert("unicare.ini not found");
        return false;
      }
    }

    var filetext = tempFile.ReadAll();  // Read the whole file!

    tempFile.Close();  // Close the data file
    var lenstring1 = filetext.indexOf(searchtext);
    if (!lenstring1) {
      alert(searchtext + " missing from unicare.ini file");
      return false;
    }

    var searchlen = searchtext.length;
    var stringA = filetext.substr(0,lenstring1+searchlen);

    var startstringB = filetext.indexOf("\n",lenstring1+searchlen);

    var stringB = filetext.substr(startstringB-1);

    var newstring = stringA + outputtext + stringB;

    try {
//      var tempFile = fileObject.OpenTextFile("c:\\windows\\unicare.ini",2);
      var tempFile = fileObject.OpenTextFile("c:\\Templates\\unicare.ini",2);
    }
    catch (exception) {
//        var tempFile = fileObject.OpenTextFile("c:\\winnt\\unicare.ini",2);
        var tempFile = fileObject.OpenTextFile("c:\\Templates\\unicare.ini",2);
    }
    tempFile.Write(newstring);

    tempFile.Close();  // Close the data file

    return true;
  }

  function updateini() {
    if (rwfile("CurrentEpisode=",WordDischargeSummary.FILENAME.value + ".txt"))
{
      rwfile("DirectorateDescription=",WordDischargeSummary.DIRDESC.value);
      return true;
    }
    return false;
  }

  function openWord() {
    var objWord = new ActiveXObject("Word.application");
    objWord.visible = true;

    filename = WordDischargeSummary.FILENAME.value + ".doc";
    // If the file does not exist create it based on the discharge summary template
alert(filename);
    try {
      var fileObject = new ActiveXObject("Scripting.FileSystemObject");
      var tempFile = fileObject.OpenTextFile(filename,1);
    }
    catch (exception) {
      var objWB = objWord.Documents.Add("Dsummary.dot");  // Base on template
      return true;
    }

    var objWB = objWord.Documents.Open(filename);
    tempFile.close();
  }

  function wordDischargeSummary() {
    outputDataFile();
    if (updateini()) {
      openWord();
      return true;
    }
    DFrameExit();
  }

</script>

%START.OF.PAGE
<body onload="PageLoad(event);wordDischargeSummary();"> 
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 <script language=javascript>document.write("Discharge Summary Documentation");
</script>

</span>
<form name=WordDischargeSummary>
<!-- Data fields used to populate the text file that drives the word template-->
<!-- !!!! The function that writes these items to the data file expects      -->
<!-- !!!! them to be the first controls in the document                      -->

<!--    %PATWEB96.14.002 -->
    <!-- File name and path -->
<!--<input type=hidden name=FILENAME value="%PATWEB96.14.003"> -->
    <input type=hidden name=FILENAME value="c:\\Templates\\ebontest">

    <!-- Directorate description -->
<!--<input type=hidden name=DIRDESC value="%PATWEB96.14.004"> -->
    <input type=hidden name=DIRDESC value="c:\\Templates\">

    <!-- Word Discharge Summary Information -->

    <table border=0 width=100%>
      <tr>
        <td class=DataDesc>Initial File Name</td>
        <td class=DispData>%PATWEB96.14.001</td>
      </tr>
      <tr>
        <td class=DataDesc>Final File Name</td>
        <td class=DispData>%PATWEB96.14.003</td>
      </tr>
    </table>

  </form>
