<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<link rel="stylesheet" href="../html/postcode.css" type="text/css">
<script type="text/javascript" src="../js/AutoPostCode.js"></script>
<script type="text/javascript">
function init() {
  InitPostCodes();
 if (document.UpdateForm.urnumber.value=="       0") {
    alert ("Can't update address details for Zero U/R number");
    DFrameExit(); 
 }
}
function setAddrLine4(theForm) {
  if (theForm.oseasflg.checked==1) {
     AddressLine4H.innerHTML=OseasCountryH.innerHTML;
     AddressLine4.innerHTML=OseasCountry.innerHTML;
     if (trim(theForm.ptmas011.value)!="8888") {
         theForm.ptmas085.value="";
         theForm.ptmas011.value="8888";
     }
  } else {
     AddressLine4H.innerHTML=AustStateH.innerHTML;
     AddressLine4.innerHTML=AustState.innerHTML;
     if (trim(theForm.ptmas011.value)=="8888") {
         theForm.ptmas085.value="";
         theForm.ptmas011.value="";
     }
  }
  state = theForm.ptmas085;
}
function SetPostCode01() {
 suburb   = document.UpdateForm.ptmas010;
 state    = document.UpdateForm.ptmas085;
 postcode = document.UpdateForm.ptmas011;
 if (document.UpdateForm.oseasflg!=undefined) {
    if (trim(postcode.value)=="8888") {
       document.UpdateForm.oseasflg.checked=true;
    } else {
       document.UpdateForm.oseasflg.checked=false;
    }
    setAddrLine4(UpdateForm);
 }
}
function checkOverseas() {
  if (trim(document.UpdateForm.ptmas011.value)=="8888") {
    document.UpdateForm.oseasflg.checked=true;
  } else {
    document.UpdateForm.oseasflg.checked=false;
  }
  setAddrLine4(UpdateForm);
}
function checkAdd01()  {
  if (document.UpdateForm.preaddset.value==0) {
    document.UpdateForm.preaddset.value=1;
    }
}
function UpdatePage() {
  if (validateMandatory(UpdateForm)) {
    if (document.UpdateForm.preaddset.value==1) {
      ans=confirm("Do you want to update the Previous Address details?");
      if (ans) {
        document.UpdateForm.prevaddr.value="1";
      }
      document.UpdateForm.preaddset.value=1;
    }
  document.UpdateForm.submit();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetPostCode01();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Nurse Update PMI Details
</span>

<form name="UpdateForm" action="emrweb02.pbl" method="post" style="margin:0">
<input type="hidden" name="reportno" value="01">
<input type="hidden" name="template" value="125">
<input type="hidden" name="admissno" value="%EMRWEB02.01.081">
<input type="hidden" name="urnumber" value="%EMRWEB02.01.003">
<input type="hidden" name="formactn" value="C3">
<input type=hidden name="prevaddr" value="0">
<input type=hidden name="preaddset" value="0">
<input type=hidden name=nextpage value=0>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td class=DataLabel>Overseas Address</td>
    <td><input type=checkbox name=oseasflg tabindex=1
         onclick="setAddrLine4(UpdateForm);">
    </td>
</tr>
<tr>
    <td class=DataLabel>Address</td>
    <td><input type="text" size="25" maxlength="35" name="ptmas008" tabindex=2
         class="Mandatory" title="Address" value="%EMRWEB02.01.012"
         onchange="checkAdd01();UpCase(this);">
    </td>
    <td class=DataLabel>Home Phone</td>
    <td><input type="text" size="23" maxlength="20" name="ptmas012"
         title="Home Phone" value="%EMRWEB02.01.017" tabindex=6
         onchange="checkAdd01();">
    </td>
</tr>

<tr>
    <td class=DataLabel></td>
    <td><input type="text" size="25" maxlength="35" name="ptmas009"
         value="%EMRWEB02.01.013" tabindex=3
         onchange="checkAdd01();UpCase(this);">
    </td>
    <td class=DataLabel>Work Phone</td>
    <td><input type="text" size="23" maxlength="20" name="ptmas013"
          title="Work Phone" value="%EMRWEB02.01.018" tabindex=7
          onchange="checkAdd01();">
    </td>
</tr>

<tr>
    <td class=DataLabel>Suburb</td>
    <td><input type="text" size="25" maxlength="35" name="ptmas010"
         class=Mandatory title="Suburb" value="%EMRWEB02.01.014" tabindex=4
         onchange="LookupPostCode(UpdateForm.ptmas010.value);checkAdd01();">
    </td>
    <td class=DataLabel>Mobile Phone</td>
    <td><input type="text" size="23" maxlength="20" name="ptmsx042"
         title="Mob. Phone" value="%EMRWEB02.01.343" tabindex=8
         onchange="checkAdd01();">
    </td>
</tr>

<tr>
    <td><div id=AddressLine4H></div></td>
    <td><div id=AddressLine4></div></td>
</tr>

<tr>
    <td class=DataLabel>Post Code</td>
    <td><input type="text" size="4" maxlength="4" name="ptmas011"
        class=Mandatory title="Post Code" value="%EMRWEB02.01.016" tabindex=5
        onchange="checkOverseas();LookupSuburb(UpdateForm.ptmas011.value);">
    </td>
</tr>
<tr><td colspan=4 align=center class=DataLabel>
    <input type=button name=UpdateButton value="Update" tabindex=60
     onclick="tempDisable(this);UpdatePage();" class="button">
    <input type=button value="Cancel" class="button" tabindex=61
    onclick="DFrameClose();">
    </td></tr>
</table>
</form>

<span id=AustStateH style="display:none">
<table colspan=1 width=100% height=100% border=0 cellspacing=2 cellpadding=0>
<tr><td class=DataLabel>State</td></tr>
</table>
</span>
<span id=AustState style="display:none">
<table colspan=1 width=100% height=100% border=0 cellspacing=2 cellpadding=0>
<tr><td><input type=text size=25 maxlength=25
       name=ptmas085 title="State" tabindex=9
       value="%EMRWEB02.01.015"
       onchange="checkAdd01();UpCase(this);">
    </td></tr>
</table>
</span>
<span id=OseasCountryH style="display:none">
<table colspan=1 width=100% height=100% border=0 cellspacing=2 cellpadding=0>
<tr><td class=DataLabel>Country</td></tr>
</table>
</span>
<span id=OseasCountry style="display:none">
<table colspan=1 width=100% height=100% border=0 cellspacing=2 cellpadding=0>
<tr><td><select name="ptmas085" tabindex=10 class="select120 Mandatory"
                 title="Country Address">
        <option></option>
        %EMRWEB02.01.085.060
        </select></td></tr>
</table>
</span>
