<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function SelectPatient(emexp001, emexdelt, ETSLocFlg) {
  document.UpdateForm.emexp001.value=emexp001.replace(/ /g,"+")
  document.UpdateForm.template.value="041";

  if (emexdelt == "0") {  // Deleted
    document.UpdateForm.template.value="042";
  }

  if (ETSLocFlg == '1') {
    document.UpdateForm.etsvisfl.value = "1";  // set ETS visit flag
  }

  SetCookie("EACRedirectCookie",location.href); 
  document.UpdateForm.submit();
}
function setTriage(emexp001, ETSLocFlg) {
  SetCookie('ExpAdvConCookie','');
  SetCookie('EACTrgCookie',location.href);
  document.UpdateForm.formactn.value="SP"
  if (ETSLocFlg == '1') {
    document.UpdateForm.template.value="013";
  }
  else {
    document.UpdateForm.template.value="012";
  }
  document.UpdateForm.emexp001.value=emexp001.replace(/ /g,"+")
  document.UpdateForm.submit()
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();">
<div id=HeadingSection>
<form name=SelectPeriod action=emrweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=49>
<input type=hidden name=viewtype value="%EMRWEB01.01.052">

<table border=0 width=100% cellpadding=3 bgcolor=#CCCCCC>
  <tr>
    <td width="20%">
      Include Removed Patients
      &nbsp;&nbsp;&nbsp;
      <input type=checkbox name=remofilt id=remofilt 
       title="Include Removed Patients"
       value="1" onclick="SelectPeriod.submit();">
    </td>
    <td>
      Contact Type
      &nbsp;&nbsp;&nbsp;
      <select name=contfilt id=contfilt class="SelectMed"
       onchange="SelectPeriod.submit();">
       <option value=" ">All</option>
       <option value="1">Expected</option>
       <option value="2">Advice</option>
       <option value="3">Contact</option>
      </select>
    </td>
    <td align=right>
    <input type=button value="<<" onClick='location.href="%EMRWEB01.01.068";'
    class=SmallButton>
     %EMRWEB01.01.069
    <input type=button value=">>" onClick='location.href="%EMRWEB01.01.067";'
    class=SmallButton>
    <a href='javascript:SelectDateFrame();'>
    <img src="../images/DateLookup.gif" border=0
     alt="Select Date" align=absmiddle></a>
    <a href='javascript:SelectView("0");'>
    <img src=../images/DayIcon.gif border=0
    alt="View Today" align=absmiddle></a>
    <a href='javascript:SelectView("1");'>
    <img src=../images/WeekIcon.gif border=0
    alt="View This Week" align=absmiddle></a>
    <a href='javascript:SelectView("2");'>
    <img src=../images/MonthIcon.gif border=0
    alt="View This Month" align=absmiddle></a>
    </td>
  </tr>
</table>
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function InitTable() {
 document.title="Expected Patient, Advice, Contact List "
 t = new Table(1,0,2,"100%","center",30,70);    // Create New Table Object
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
// t.addColumn("Date Expected","Date",12,12,"right","","",80)
 t.addColumn("Notified Date","DateTime",34,34,"center","","",100)
// t.addColumn("Time","String",13,13,"center","","",40)
// t.addColumn("Transport","String",11,11,"left","","",130)
 t.addColumn("Contact Type","String",35,35,"left","","",80)
 t.addColumn("Removal Reason","String",36,36,"left","","",80)
 t.addColumn("Patient","String",2,2,"left","PatientFolder.gif","0",200)
// t.addColumn("Problem","String",4,4,"left","","",160)
 t.addColumn("Presenting Complaint","String",37,37,"left","","",200)
// t.addColumn("Exp Room","String",31,31,"left","","",50)
 t.addColumn("ETA","DateTime",33,33,"left","","",130)
// t.addColumn("Amb Case","String",30,30,"left","","",65)
 t.addColumn("Accepting Source","String",28,28,"left","","","100%")
 t.addColumn("Triage","IconLink","","","center nowrap","MaintenanceIcon.gif","38",50)
//
// Add Rows to Table (Output from Web Server)
//
%EMRWEB01.01.074
 t.sortTable(1,1);
 TableOutput(0,1);
}

 for (var i=0; i < document.getElementById("contfilt").length; i++) {
   if (document.getElementById("contfilt").options[i].value == 
       "%EMRWEB01.01.075"){
     document.getElementById("contfilt").selectedIndex=i;
   }
 }

 if ("%EMRWEB01.01.076" == "1") {
   document.getElementById("remofilt").checked = true;   
 }

</script>
<form name=UpdateForm action="emrweb02.pbl" method=get>
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="041">
<input type=hidden name=formactn value="SP">
<input type=hidden name=emexp001>
<input type=hidden name=etsvisfl value="">
</form>
