<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function setUpdate() {
  document.proc.submit()
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form action=emrweb02.pbl method=post name=proc>
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="2">
<input type=hidden name=nextpage value="1">
<input type=hidden name=updttype value="DSHCH">
<table width=100% border=0>
<tr><td class=HeadingCell colspan=3 align=center>
     Add Multiple Procedures
    </td> 
</tr>
<tr>
    <td>
        <i>General</i><br>
        <b>Did Nothin</b>g<br>
        <b>Warming Procedures</b><br>

        <i>Pathology</i><br>
        <b>ECG</b><br>
        <b>Arterial Blood</b><br>
        <b>Breath Alcohol</b><br>
        <b>Suprapubic aspirate</b><br>
        <b>Blood glucose</b><br>
        <b>Full Ward Test</b><br>
        <b>Venepuncture</b><br>
        <b>Urine micro/culture</b><br>
        <b>Lumbar puncture</b><br>
        <b>Venom Detection</b><br>

        <i>Radiology</i><br>
        <b>General X-rays</b><br>
        <b>Ultrasound</b><br>
        <b>CT Scan</b><br>
        <b>Nuclear Medicine</b><br>
        <b>Echocardiagram</b><br>

        <i>Vascular Access</i><br>
        <b>IV cannula</b><br>
        <b>Venous cutdown</b><br>
        <b>Vasc access device</b><br>
        <b>Central line</b><br>
        <b>Arterial Line</b><br>
    </td>

    <td>
        <i>Cardiac</i><br>
        <b>ECG Monitoring</b><br>
        <b>Nitrates (non IV)</b><br>
        <b>Thrombolysis</b><br>
        <b>Cardioversion/defib</b><br>
        <b>CPR</b><br>
        <b>Pericardiocentesis</b><br>

        <i>Head & Neck</i><br>
        <b>Eye examination</b><br>
        <b>Neuro obs</b><br>
        <b>Nasal pack</b><br>

        <i>Respiratory</i><br>
        <b>Spirometry</b><br>
        <b>Nebuliser</b><br>
        <b>CPAP</b><br>
        <b>ET intubation</b><br>
        <b>Trach/Crichothyrotomy</b><br>
        <b>Pleural aspiration</b><br>
        <b>Intercostal catheter</b><br>

        <i>Wounds</i><br>
        <b>Tetanus prophylaxis</b><br>
        <b>Suture/steristrip</b><br>
        <b>Removal of sutures</b><br>
        <b>Incision & drainage</b><br>
        <b>Dressing</b><br>
        <b>Removal of foreign body</b><br>
    </td>

    <td>
        <i>Abdominal</i><br>
        <b>Nasogastric tube</b><br>
        <b>Gastric lavage</b><br>
        <b>Gastric charcoal</b><br>
        <b>Peritoneal dialysis</b><br>
        <b>Proctosigmoidoscopy</b><br>
        <b>Enema</b><br>
        <b>Urinary catheter</b><br>

        <i>Drugs & Infusions</i><br>
        <b>Injection (sc/IM/IV)</b><br>
        <b>IV Drug Infusion</b><br>
        <b>IV fluids</b><br>
        <b>Intraosseous inf</b><br>
        <b>Blood transfusion</b><br>

        <i>Local Anaesthesia</i><br>
        <b>Peripheral nerve block</b><br>
        <b>Regional block</b><br>
        <b>IV regional block</b><br>

        <i>Fractures/Orthopaedics</i><br>
        <b>Reduction fracture</b><br>
        <b>Plaster of paris</b><br>
        <b>Removal of plaster</b><br>
        <b>Other splint</b><br>
        <b>Physio/OT</b><br>
        <b>Crutches/frame/stick</b><br>
    </td>
</tr>
</table>
</form>
