<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/EmrMandatory.js"></script>
<script type="text/javascript" src="../js/emrweb0202012.js"></script>
<script type="text/javascript">
function CancelLink() {
  if (!isWhitespace(document.getElementById("eacregck").value)) {
    location.href = document.getElementById("eacregck").value;
  } else {
document.LinkForm.emexp001.value=document.UpdateForm.emexp001.value.replace(/ /g,"+")
document.LinkForm.submit();
  }
}
function getExpAdvConCookie(){
  if (GetCookieData("ExpAdvConCookie")!="unknown") {
    document.getElementById("eacindct").value="1";
    ExpireCookiePath("ExpAdvConCookie");
  }
}
function getEACTrgCookie() {
  if (GetCookieData("EACTrgCookie")!="unknown") {
    document.getElementById("eacregck").value=GetCookieData("EACTrgCookie");
    ExpireCookiePath("EACTrgCookie");
  }
}
function DisplayPresentComplaintAddInfo() {
  f = document.UpdateForm;
  if (f.emcprcmp.value == "1") {
    document.getElementById('PresentComplaintAddInfo').style.display = "";
  }
  else {
    document.getElementById('PresentComplaintAddInfo').style.display = "none";
  }
}
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);
        getPresentCom(UpdateForm.test,UpdateForm.emvis060,UpdateForm.emrviscat);
        DisplayDiv();getExpAdvConCookie();getEACTrgCookie();
        DisplayPresentComplaintAddInfo();">
<span class=DFrameTitleBar>
ETS Emergency Triage
</span>
<form name=UpdateForm action="emrweb02.pbl" method=post style="margin:0">
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="001">
<input type=hidden name=formactn>
<input type=hidden name=updttype>
<input type=hidden name=updateky value="">
<input type=hidden name=nextpage value="7">
<input type=hidden name=returnfm value=1>
<input type=hidden name=redirect>
<input type=hidden name=selsex>
<input type=hidden name=gname>
<input type=hidden name=sname>
<input type=hidden name=dummy>
<input type=hidden name=dummyadm>
<input type=hidden name=dummsrch value="1">
<input type=hidden name=fpatname>
<input type=hidden name=urnumber>
<input type=hidden name=emvis004>
<input type=hidden name=emvis005>
<input type=hidden name=emvis128>
<input type=hidden name=emvis129>
<input type=hidden name=emvis135>
<input type=hidden name=emvis136>
<input type=hidden name=emvis137>
<input type=hidden name=emvis138>
<input type=hidden name=emexp001 value="%EMRWEB02.02.410">
<input type=hidden name=patsname value="%EMRWEB02.02.411">
<input type=hidden name=patgname value="%EMRWEB02.02.412">
<input type=hidden name=eacindct id=eacindct value="">
<input type=hidden name=eacregck id=eacregck value="">
<input type=hidden name=ptcnhdps value="%STANDARD.01.025.080.250.1.1">
<input type=hidden name=emcnurse id=emcnurse
       value="%STANDARD.01.025.122.008.0.1">
<input type=hidden name=emvis132 value="%EMRWEB02.02.533">
<input type=hidden name=emcprcmp id=emcprcmp
 value="%STANDARD.01.025.122.051.1.1">

<table align=center width=95% border=0 cellspacing=0 cellpadding=1>
<tr><td>Triaged By </td>
    <td><input type=text name=emvis127 id=emvis127 size=6 class=Mandatory
         title="Triage Nurse" tabindex=1
         onblur="UpCase(this);validateNurse();" >
        <input type=text name=dummy1 id=dummy1 size=20 class=Readonly readonly>
        <input type=hidden name=gnm id=gnm>
        <img src=../images/SearchIcon.gif class=Icon
         onclick='SearchEDNurse(UpdateForm.emvis127,UpdateForm.dummy1);'>
        </td>
    <td class=DataLabel>U/R 
       <input type=text size=10 maxlength=8 name=emvis118 tabindex=2
       value="%EMRWEB02.02.435" onblur="justifyRight(this);PatientReturn();">
       <img src=../images/SearchIcon.gif class=Icon
       onclick="PatientSearch();">
    </td>
    <td class=DataLabel>Surname </td>
    <td><input type=text size=25 max=25  name=emvis111 tabindex=3
        value="%EMRWEB02.02.411"></td>
    <td class=DataLabel>Given Name </td>
    <td><input type=text size=25 max=25  name=emvis112 tabindex=4
        value="%EMRWEB02.02.412"></td>
</tr>
<tr><td></td>
    <td></td>
    <td></td>
    <td class=DataLabel>%STANDARD.01.017.G </td>
    <td><select name=emexp004 tabindex=5>
        <option> </option>
        %EMRWEB02.02.086.099.061.9.1.19.3.H
        </select></td>
    <td class=DataLabel>Date of Birth </td>
    <td><input type=text size=12 max=11 name=emexp005  
         value="%EMRWEB02.02.414" tabindex=6
         title="Date of Birth" class="Past Date">
        <img class=Icon src=../images/DateTimeStamp.gif
         date=document.UpdateForm.emexp005>
        <img class=Icon src=../images/DateLookup.gif 
         date=document.UpdateForm.emexp005>
        </td></tr>
</table>

<table align=center width=95% border=0 cellspacing=0 cellpadding=1>

<tr valign=top>
    <td class=DataLabel width=15%>Presenting Complaint </td>
    <td><input type=hidden name=emrviscat value="el">
        <input type="text" size=10 tabindex=7 name=test 
       value="%EMRWEB02.02.416.0"
       onKeyUp='UpCase(this);getPresentCom(this,UpdateForm.emvis060,
                UpdateForm.emrviscat);'
       onBlur='DisplayDiv()'>
    <select name=emvis060 class=SelectBig onchange="DisplayDiv();">
    </select>
    </td>
    <td colspan=5>
      <textarea type=text name=prcom001 id=prcom001 wrap=hard tabindex=8
       cols=50 rows=6 style="overflow-y:hidden" class=AsciiOnly
       title="Presenting Complaint Comments"
       onkeydown="ValidateKeyInput(this);"
       onblur="TextareaBlurHandler(this);ValidateTextLimits(this);">
      </textarea>
    </td>
</tr>
<tr valign=top id=PresentComplaintAddInfo>
    <td class=DataLabel width=15%></td>
    <td>&nbsp;</td>
    <td colspan=5>
      <textarea type=text name=vicmt023 id=vicmt023 wrap=hard tabindex=8
       cols=50 rows=6 class=AsciiOnly
       title="Presenting Complaint - Additional Information"
       onkeydown="CheckPresentCompAddInfoTextLimit(this);"
       onblur="TextareaBlurHandler(this);">
      </textarea>
    </td>
</tr>
</table>

<div id=Triage></div>

<table align=center width=95% border=0 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel width=15%>Location</td>
    <td>
    <input type=text name=emvis006 tabindex=9 size=5 
     value="%EMRWEB02.02.472"
     onblur="validateLocation(UpdateForm.emvis006,UpdateForm.name_emvis006);">
    <input type=text name=name_emvis006 readonly class=Readonly>
    </td>
    <td class=DataLabel>Number of Labels</td>
    <td><select name=nolabels width=50%>
        <option></option>
         %STANDARD.01.027.1.1
    </select>
    Type
    <select name=labeltyp class=SelectBig>
         %STANDARD.01.019.LABELEMR.1
         %STANDARD.01.019.LABELKNX.1
         %STANDARD.01.019.LABELHEC.1
    </select>
    Printer
        <select name=lblprint colspan=2 class=SelectBig>
        %EMRWEB02.02.145.EMRWEB03.01
        </select>
        </td></tr>

<tr><td width=15%>Triage Category</td>
    <td><table border=0 cellspacing=0>
    <tr>
    <td class=Triage1><i>1</i>
    <input type=radio name=emvis003 value=1 tabindex=15 title="Triage Category"
    onclick="CheckMan();"></td>
    <td class=Triage2><i>2</i><input type=radio name=emvis003 value=2
    onclick="unCheck();"></td>
    <td class=Triage3><i>3</i><input type=radio name=emvis003 value=3
    onclick="unCheck();"></td>
    <td class=Triage4><i>4</i><input type=radio name=emvis003 value=4
    onclick="unCheck();"></td>
    <td class=Triage5><i>5</i><input type=radio name=emvis003 value=5
    onclick="unCheck();"></td>
    <td class=Triage6><i>6</i><input type=radio name=emvis003 value=6
    onclick="unCheck();"></td>
    </tr></table></td>

    <td class=DataLabel>Number of Copies</td>
    <td><select name=nolabelf>
    <option></option>
    <option value="  1" selected>  1</option>
    <option value="  2">  2</option>
    <option value="  3">  3</option>
    <option value="  4">  4</option>
    <option value="  5">  5</option>
    <option value="  6">  6</option>
    <option value="  7">  7</option>
    <option value="  8">  8</option>
    <option value="  9">  9</option>
    <option value=" 10"> 10</option>
    </select>
    Form
    <select name=statncod class=SelectBig>
    <option></option>
     %STANDARD.01.020.  7
    </select>
    Printer
    <select name=frmprint class=SelectBig>
     %EMRWEB02.02.145.EMRWEB03.02
    </select>
    </tr>

<tr><td class=DataLabel>%STANDARD.01.017.eu</td>
    <td><input type=hidden name=name_emvis069>
        <select name=emvis069 tabindex=18 title="%STANDARD.01.017.eu" 
         class="SelectBig">
        <option></option>
        %EMRWEB02.02.229.2
        </select></td>
    <td></td>
    <td></td>
    </tr>

<tr><td colspan=6 align=center>
    <input type=button value="Add" class="button" tabindex=19 id="emr02a"
     onclick="setRedirect();tempDisable(this);setFormactn()">
    <input type=button value="Cancel" class="button" tabindex=20
     onclick="CancelLink();">
    </td></tr>
</table>
</form>

<form name=LinkForm action="emrweb02.pbl" method=get>
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="011">
<input type=hidden name=formactn value="SP">
<input type=hidden name=emexp001>
</form>

<span id=EmergencyProc style="display:none;">
<table align=center cellspacing=1 cellpadding=0 border=0 width=95%>
<tr><td class=DataLabel width=15%>Place Where Injury Occurred</td>
    <td><select name="emvis021" class=SelectBig tabindex=10
         title="Place Where Injury Occurred">
    <option></option>
    %EMRWEB02.02.121.2
     </select>
    </td>
    <td class=DataLabel>Activity When Injured</td>
    <td><select name="injur006" class=SelectBig title="Activity When Injured"
         tabindex=11>
    <option></option>
      %EMRWEB02.02.183.2
       </select>
</td>
    <td class=DataLabel> Injury Cause</td>
    <td><select name="injur004" class=SelectBig title="Injury Cause"
         tabindex=12>
    <option></option>
     %EMRWEB02.02.181.2
     </select>
    </td></tr>

<tr valign=top><td class=DataLabel> Human Intent</td>
    <td><select name="injur005" class=SelectBig title="Human Intent"
         tabindex=13>
    <option></option>
     %EMRWEB02.02.182.2
      </select>
</td>
    <td class=DataLabel>
    Desc. of Injury Event</td>
    <td colspan=3><input type="text" name="injur002" maxlength="50" size="40"
         title="Description of Injury Event" value="" tabindex=14>
    <input type="text" name="injur003" maxlength="50" size="40" value=""
     tabindex=14>
</td></tr>
</table>
</span>
<script type="text/javascript">
function init(){
if (document.UpdateForm.ptcnhdps.value=="3") {
    intersexoption = document.createElement("option");
    intersexoption.text = "Other";
    intersexoption.value = "R";
    document.UpdateForm.emexp004.add(intersexoption);
  } else {
    intersexoption = document.createElement("option");
    intersexoption.text = "Intersex";
    intersexoption.value = "R";
    document.UpdateForm.emexp004.add(intersexoption);
  }

for (var i =0 ; i < document.UpdateForm.emexp004.length; i++) {
if  (document.UpdateForm.emexp004.options[i].value== "%EMRWEB02.02.413") {
       document.UpdateForm.emexp004.selectedIndex=i }
 }

var str1= trim("%EMRWEB02.02.417");
    if(!isWhitespace(str1)) { str1+="\n"}
var str2= trim("%EMRWEB02.02.418");
    if(!isWhitespace(str2)) { str2+="\n"}
var str3= trim("%EMRWEB02.02.419");
    if(!isWhitespace(str3)) { str3+="\n"}
var str4= trim("%EMRWEB02.02.420");
    if(!isWhitespace(str4)) { str4+="\n"}
var str5= trim("%EMRWEB02.02.421");
    if(!isWhitespace(str5)) { str5+="\n"}
var str6= trim("%EMRWEB02.02.422");
UpdateForm.prcom001.value=str1+str2+str3+str4+str5+str6
var ExpectedLocation="%EMRWEB02.02.472"
if(!isWhitespace(ExpectedLocation)) {
  validateLocation(document.UpdateForm.emvis006,document.UpdateForm.name_emvis006);
}
   if(!CheckEmrVisit(UpdateForm.emvis118.value)) {
       UpdateForm.emvis111.value="";
       UpdateForm.gname.value="";
       UpdateForm.sname.value="";
       UpdateForm.selsex.value="";
       UpdateForm.emvis112.value="";
       UpdateForm.emexp004.selectedIndex=0;
       UpdateForm.emvis118.value="";
       UpdateForm.emvis118.focus();
       UpdateForm.emexp005.value="";
       return;
   }
}

function DisplayDiv() {
Indicator=document.UpdateForm.emvis060.value.substr(13,1);
  if (Indicator=="I") {
     document.all.Triage.style.display="";
     document.all.Triage.innerHTML=document.all.EmergencyProc.innerHTML;
     }
  else {
     document.all.Triage.style.display="none";
     document.all.Triage.innerHTML="";}
}
</script>
