<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateStream() {
  if(validateMandatory(DummyForm)) {
    RemoteEmrUpdate(DummyForm.admissno,DummyForm.emvis056,DFrameExitRefresh);
  }
}
</script>
</head>
%START.OF.PAGE
<body  onLoad="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
document.write(self.document.title);
</script>
</span>

<form name=DummyForm>
<input type=hidden name=admissno value="%EMRWEB02.01.081">

<table width=95% border=0 cellspacing=0 cellpadding=2>
<tr><td class=DataLabel>%STANDARD.01.017.eh</td>
    <td><select name=emvis056 title="%STANDARD.01.017.eh"
         class="Mandatory">
        <option></option>
        %EMRWEB02.01.216.2
        </select></td></tr>

<tr><td colspan=2 align=center>
    <br>
    <input type=button value="Update" class="button" id="dummysub"
    onclick="tempDisable(this);UpdateStream();">
    <input type=button value="Cancel" class="button" onclick="DFrameClose()">
    </td></tr>
</table>
</form>
