<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
 switch (TableView) {
 case 0: {
  document.title="Data Integrity Audit";
  t = new Table(1,0,2,"100%","center",35,35);
  t.addColumn("Date/Time","DateTime",1,1,"left","","",140)
  t.addColumn("Update Type","String",8,8,"left","","",80)
  t.addColumn("Performed By","String",5,5,"left","","",80)
  t.addColumn("Reason for Change","String",7,7,"left","","",80)
  t.addColumn("Original Value","String",9,9,"left","","",130)
  t.addColumn("Changed Value","String",10,10,"left","","",130)
  AddTableRows();
  TableOutput(0,2);    // Order Column,Asc Dsc
  break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=HeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB02.01.003";
PatientVIS="%EMRWEB02.01.081";
PatientNAM="%EMRWEB02.01.002";
PatientSTA="%EMRWEB02.01.086.078";
PatientALT="%EMRWEB02.01.084";
PatientSEX="%EMRWEB02.01.019";
PatientDOB="%EMRWEB02.01.020";
PatientAGE="%EMRWEB02.01.021";
PatientLOC="%EMRWEB02.01.083";
PatientPRI="%EMRWEB02.01.086.066.1";
PatientUNT="%EMRWEB02.01.066.0";
PatientIND="%EMRWEB02.01.086.091";
GpCOD="%EMRWEB02.01.086.084.001";
GpNAM="%EMRWEB02.01.086.084.081";
GpPRAC="%EMRWEB02.01.086.085.001";
GpPRACCNT="%EMRWEB02.01.086.085.002";
GpPRACNAM="%EMRWEB02.01.086.085.005";
PatientARR="%EMRWEB02.01.101.0 %EMRWEB02.01.102";
PatientSEE="%EMRWEB02.01.199.008";
PatientTRI="%EMRWEB02.01.103.3";
PatientECLC="%EMRWEB02.01.484.1";
PatientCLH="%STANDARD.01.017.CL";
PatientEHFT="%EMRWEB02.01.485";
InsertEmergencyHeader();
</script>
<div id=PatientMenu></div>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%EMRWEB02.01.489
}
</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%EMRWEB02.01.003">
<input type=hidden name=admissno value="%EMRWEB02.01.081">
<input type=hidden name=MenuType value="%EMRWEB02.01.088">
</form>
