<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<link rel="stylesheet" href="../html/standard.css" type="text/css">
<link rel="stylesheet" href="../html/custom.css" type="text/css">
<script language=javascript src="../js/Standard.js"> </script>
<script language=javascript src="../js/Custom.js"> </script>
<script type="text/javascript" src=../js/fmsweb04_02.js></script>
</head>
%START.OF.PAGE
<BODY bgcolor=#CCCCCC>
<form name=PeriodForm action=fmsweb04.pbl method=post>
<input type=hidden name=reportno value=02>
<input type=hidden name=template value=001>
<input type=hidden name=acctkeys value="%FMSWEB04.02.003%FMSWEB04.02.004">
<input type=hidden name=fincyear value="">
<input type=hidden name=fincperd value="">
<table border=1 cellpadding=0 cellspacing=0 width=100%>
<tr><td align=center class=HeadingCell>
    <font color=red>%FMSWEB04.02.020</font>
</td></tr>
<tr><td>
<table width=100% >
    <tr><td class=DataLabel>Chart Type<br> <select name=chrttype>
        <option value="1" >Bar Chart</option>                                  
        <option value="7" selected>Pie Chart</option>
        </select></td>
        <td class=DataLabel>Values<br> <select name=chrtvalu>
        <option value="0" >Actual vs Budget</option>
        <option value="2" selected >Actual vs Last Year</option>
        <option value="4" >Actual vs Budget vs Last Year</option>
        </select></td>
        <td class=DataLabel>Period<br>
        <input type=button value="<<"
         onclick='periodLink("1","%FMSWEB04.02.016","%FMSWEB04.02.017");'>
        <select name=yearperd> %FMSWEB04.02.010 </select>
        <select name=chrtperd>
        <option value="0" selected>Year to Date</option>
        <option value="1">Current</option>
        </select>
        <input type=button value="Go" onclick='periodLink("0","","")'>
        <input type=button value=">>"
         onclick='periodLink("1","%FMSWEB04.02.018","%FMSWEB04.02.019");'>
        </td></tr>
</table>
<tr><td align=center>
<table width=100% ><tr><td>
<applet code=javachart.applet.pieApp.class codebase=/ width=300 height=400>
 <param name=CopyrightNotification
  value="JavaChart is a copyrighted work, and subject to full legal protection">
 <param name=titleString value="Year to Date Actual">
 <param name=legendLabelFont value="Arial,10,0">
 <param name=percentLabelsOn value="anything">
 <param name=3D value="true">
 <param name=pieHeight value="0.4">
 <param name=plotAreaColor value="lightGray">
 <param name=backgroundColor value="lightGray">
 <param name=legendColor value="lightGray">
 <param name=yLoc value=".7">
 <param name=pieHeight value=".25">
 <param name=labelPosition value="1">
 <param name=legendOn value="anything">
 <param name=legendVertical value="true">
 <param name=iconWidth value="0.02">
 <param name=iconHeight value="0.02">
 <param name=legendllX value="0.0">
 <param name=legendllY value=" .10">
%FMSWEB04.02.011.0
%FMSWEB04.02.013.0
%FMSWEB04.02.014.0y1.015
</applet>
 </td>
<td colspan=2 align=center>
 <applet code=javachart.applet.pieApp.class codebase=/ width=300 height=400>
 <param name=CopyrightNotification
  value="JavaChart is a copyrighted work, and subject to full legal protection">
 <param name=titleString value="Last Year">
  <param name=legendLabelFont value="Arial,10,0">
 <param name=percentLabelsOn value="anything">
 <param name=3D value="true">
 <param name=pieHeight value="0.4">
 <param name=plotAreaColor value="lightGray">
 <param name=backgroundColor value="lightGray">
 <param name=legendColor value="lightGray">
 <param name=yLoc value=".7">
 <param name=pieHeight value=".25">
 <param name=labelPosition value="1">
 <param name=legendOn value="anything">
 <param name=legendVertical value="true">
 <param name=iconWidth value="0.02">
 <param name=iconHeight value="0.02">
 <param name=legendllX value="0.0">
 <param name=legendllY value=" .10">
%FMSWEB04.02.011.0
%FMSWEB04.02.013.0
%FMSWEB04.02.014.0y2.015
 </applet>
</td>
</tr>
<tr>
  <td align=center colspan=4>
  %FMSWEB04.02.015.0.fmsweb04.01.001
  </td>
</tr>
</table>
</td></tr>
</table>
</form>
