<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/fmsweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);document.AddForm.fmchq001.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=AddForm method=post action=fmsweb05.pbl style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=nextpage value="0">
<input type=hidden name=redirect value="fmsweb05.pbl?reportno=01&template=001">

<table align=center width=95% border=0>
<tr><td class=DataLabel>Cheque Account</td>
    <td><input type=text name=fmchq001 class=Mandatory title="Cheque Account"
         size=18 maxlength=15>
</td></tr>

<tr><td class=DataLabel>Description</td>
    <td><input type=text name=fmchq002 title="Description"
         size=50 maxlength=40>
</td></tr>

<tr><td class=DataLabel>Opening Balance</td>
    <td><input type=text name=fmchq003 title="Opening Balance" size=15 
               maxlength=15 class="Number" max=999999999999.99 
               onblur="RoundNumber(this,2);">
    </td></tr>

<tr><td class=DataLabel>Date of Balance</td>
    <td><input type=text name=fmchq004 title="Date of Balance" 
         size=12 maxlength=12 onblur="checkDate(this,'Date of Balance');">
        <img notab src="../images/DateLookup.gif" class="Icon"
         alt="Show Calendar" date="AddForm.fmchq004">
        <img src="../images/erase.gif" class="Icon"
         onclick="clrFields(AddForm.fmchq004);">
    </td></tr>

<tr><td class=DataLabel>Statement Import Format</td>
     <td><select name=fmchq005 title="Statement Import Format">
         <option value=0>N/A</option>
         <option value=1>CBA Micro Treasurer</option>
         <option value=2>Westpac Deskbank</option>
         <option value=3>CBA Diamond Cash</option>
         <option value=4>NAB Statement</option>
         </select>
</td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel><u>Direct Debit Details</u></td></tr>
<tr><td class=DataLabel>Name of Remitter</td>
    <td><input type=text name=fmchq009 title="Name of Remitter"
         size=50 maxlength=35>
</td></tr>

<tr><td class=DataLabel>Tape Transfer</td>
     <td><select name=fmchq014 title="Tape Transfer" class="Mandatory">
         <option></option>
         <option value=0>No</option>
         <option value=1>Yes</option>
         </select>
</td></tr>

<tr><td class=DataLabel>Bank Name Abbrev.</td>
    <td><input type=text name=fmchq015 title="Bank Name Abbrev."
         size=5 maxlength=3>
</td></tr>

<tr><td class=DataLabel>Company ID Number</td>
    <td><input type=text name=fmchq016 title="Company ID Number"
         size=8 maxlength=6>
</td></tr>

<tr><td class=DataLabel>Desc. of Entries</td>
    <td><input type=text name=fmchq017 title="Desc. of Entries"
         size=15 maxlength=12>
</td></tr>

<tr><td class=DataLabel>Format of Transfer</td>
     <td><select name=fmchq018 title="Format of Transfer">
         <option value=0>N/A</option>
         <option value=1>Cemtex</option>
         <option value=2>Cemtex - with Cr Total</option>
         <option value=3>BNZ Cash Management</option>
         </select>
</td></tr>

<tr><td class=DataLabel>BSB Code</td>
    <td><input type=text name=fmchq006 title="BSB Code" class="Mandatory"
         size=7 maxlength=7 onblur="checkBSB(this);">
</td></tr>

<tr><td class=DataLabel>Bank Account</td>
    <td><input type=text name=fmchq007 title="Bank Account"
         size=10 maxlength=9>
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Add" class="button" id="fms05add"
     onclick="tempDisable(this);SubmitForm();">
    <input type=button value=Close class="button"
     onclick="DFrameCloseRefresh();">
</td></tr>
</table>
</form>
