<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">

function UpdateStatus() {
  document.UpdateForm.redirect.value = "hicweb01.pbl?reportno=1&template=6" +
           "&batchkey=" + UpdateForm.batchkey.value.replace(/ /g,"+") +
           "&clmnnumb=" + UpdateForm.clmnnumb.value.replace(/ /g,"+") +
           "&admissno=" + UpdateForm.admissno.value.replace(/ /g,"+") +
           "&nextpage=4";
  document.UpdateForm.submit();
}

function CloseFrame() {
  linkurl="hicweb01.pbl?reportno=1&template=6" +
          "&batchkey=" + UpdateForm.batchkey.value.replace(/ /g,"+") +
          "&clmnnumb=" + UpdateForm.clmnnumb.value.replace(/ /g,"+") +
          "&admissno=" + UpdateForm.admissno.value.replace(/ /g,"+") +
          "&shwbatch=0";
  parent.location.href=linkurl;
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align=right alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="CloseFrame();">
Claim Status
</span>
<form name=UpdateForm action="hicweb01.pbl" method=post> 
<input type=hidden name=reportno value="1">
<input type=hidden name=updatety value="L">
<input type=hidden name=nextpage value="4">
<input type=hidden name=clmnnumb value="%HICWEB01.01.214">
<input type=hidden name=btchnumb value="%HICWEB01.01.113">
<input type=hidden name=admissno value="%HICWEB01.01.207">
<input type=hidden name=btchstat value="%HICWEB01.01.001">
<input type=hidden name=batchkey value="%HICWEB01.01.313">
<input type=hidden name=redirect value="hicweb01.pbl?reportno=1&template=004">

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>

<tr><td class=DataLabel>Claim Date</td>
    <td class=DataField>%HICWEB01.01.019</td></tr>

<tr><td class="DataLabel" width="30%">Amount Claimed $</td>
    <td class="DataField" align=left width=30%>%HICWEB01.01.008</td>
    <td>&nbsp;</td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td class=DataLabel>Claim Status</td>
    <td><select name=hcclm005 title="Claim Status" class=Mandatory>
        %HICWEB01.01.002.2
        </select></td>
</tr>

<tr><td colspan=4 align=center><br>
    <input type=button Value="Ok" class="button" id="hic01o"
     onclick="tempDisable(this);UpdateStatus();">
    <input type=button Value="Cancel" class="button" 
     onclick="CloseFrame();">
    </td>
</tr>
</table>
</form>
