<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script type="text/javascript" src="../js/hicweb0101003.js"></script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link
//  1 - Batch No
//  2 - Total Amount
//  3 - Date Batched
//  4 - Hardcopy to M/Care
//  5 - Date funds received
//  6 - Amount Received
//  7 - Deposit Verified
//  8 - Amount Outstanding
//  9 - Adjustments
// 10 - Status
// 11 - Comments
// 12 - HIC Error List
//---------------------------------------------------------------------------
var view;
var flag=1;
function InitTable(TableView) {
switch (TableView) {
case 0: {
 view=0;
 t = new Table(1,0,2,"100%","center",35,35);
 t.addColumn("Batch#","String",1,1,"right","MaintenanceIcon.gif","0",60)
 t.addColumn("Total Amount","String",2,2,"right","","",60)
 t.addColumn("Date Batched","Date",3,3,"center","","",60)
 t.addColumn("Hardcopy to Medicare","Date",4,4,"center","","",70)
 t.addColumn("Date EFT Pay.Recvd","Date",5,5,"center","","",60)
 t.addColumn("Amount Received","String",6,6,"right","","",60)
 t.addColumn("Bank Deposit Verified","Date",7,7,"center","","",60)
 t.addColumn("Amount Outstanding","String",8,8,"right","","",60)
 t.addColumn("Total Adjustments","String",9,9,"right","","",70)
 t.addColumn("Status","String",10,10,"left","","",40)
 t.addColumn("Comments","String",11,11,"left","","",80)
 t.addColumn("View Errors","Image",12,12,"center","EditIcon","13",40)
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
 break; }
 }
}

function SubmitSearch() {
//  if(isWhitespace(SelectPeriod.srchbtch.value)) {
//    if(isWhitespace(SelectPeriod.srchprov.value) &&
//       isWhitespace(SelectPeriod.srchclid.value)) {
//      alert("Service Provider,Clinic ID or Batch No must be entered for Search.");
//       return;
//    } 
//  } else {
//      document.SelectPeriod.srchclty.value="";
//      document.SelectPeriod.srchclid.value="";
//      document.SelectPeriod.srchprov.value="";
//      document.SelectPeriod.srchstat.value="";
//  }

  if(!isWhitespace(SelectPeriod.srchbtch.value)) {
      document.SelectPeriod.srchclty.value="";
      document.SelectPeriod.srchclid.value="";
      document.SelectPeriod.srchprov.value="";
      document.SelectPeriod.srchstat.value="";
   }
  SelectPeriod.submit();
}

</script>
</head>
%START.OF.PAGE
<body onload='PageLoad(event);InitTable(0);SetOutpatientList();'>
<div id=HeadingSection>
<form name=SelectPeriod action=hicweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=3>
<input type=hidden name=defsstat value="7">
<input type=hidden name=defctype id=defctype value="%HICWEB01.01.201">
<input type=hidden name=deftclid id=deftclid value="%HICWEB01.01.202.1">
<input type=hidden name=defmprac id=defmprac value="%HICWEB01.01.233">
<input type=hidden name=usersite id=usersite value="%STANDARD.01.023">
<input type=hidden name=wbseclid id=wbseclid value="%STANDARD.01.026">
<input type=hidden name=btchnumb id=btchnumb value="%HICWEB01.01.205">
<input type=hidden name=viewtype id=viewtype value="%HICWEB01.01.311">
<input type=hidden name=batchkey id=batchkey value="%HICWEB01.01.313">

<table width="100%" bgcolor=#cccccc align=center cellpadding=2 cellspacing=0
 border=0 >
<tr><td class=DataLabel width=10%>Batch Number</td>
    <td class=DataField width=20%>
      <input type=text name=srchbtch id=srchbtch size=5 maxlength=5
       value="%HICWEB01.01.209" min=0 max=99999 class="JustifyRight"
       title="Batch Number" onchange="CheckFormat(this);" >
     <img src="../images/erase.gif" class=Icon title="Clear"
       onclick="clrFields(srchbtch);"></td>
    <td class=DataLabel>Batch Status</td>
    <td align=left>
      <select name=srchstat id=srchstat onchange="SubmitSearch();">
        <option value=" 0">Batched</option>
        <option value=" 1">Extracted</option>
        <option value=" 2">Sent</option>
        <option value=" 3">Acknowledged</option>
        <option value=" 4">Nack</option>
        <option value=" 5">Received</option>
        <option value=" 7">EFT Paym.Recvd</option>
        <option value=" 8">Actioned</option>
        <option value=" 9">Dep.Verf.</option>
        <option value="10">Closed</option>
      </select></td>
</tr>

<tr><td class=DataLabel>Medical Practice</td>
    <td class=DataField>
      <select name=srchprac id=srchprac title="Medical Practice" 
       onchange="GetSDoc()">
        %HICWEB01.01.321
      </select></td>
    <td class=DataLabel>Service Doctor</td>
    <td class=DataField>
      <select name=srchsdoc id=srchsdoc title="Service Doctor" 
       onchange="GetServiceProv()">
        <option></option>
        %HICWEB01.01.236
      </select></td>
    <td class=DataLabel>Provider #</td>
    <td class=DataField>
      <input type=text name=srchprov id=srchprov size=10 maxlength=12
       class=SelectBig title="Provider Number" value="%HICWEB01.01.208" 
       onchange="SubmitSearch();">
      <img src="../images/erase.gif" class=Icon title="Clear"
       onclick="clrFields(srchprov,srchsdoc);SubmitSearch();">
    </td>
</tr>
</table>

<table width="100%" bgcolor=#cccccc align=center cellpadding=2 cellspacing=0
 border=0 >
<tr><td class=DataLabel width=10%>Clinic Type</td>
    <td class=DataField width=20%>
      <select name=srchclty id=srchclty class=SelectBig
       onchange="SubmitSearch();">
        <option value="  ">Select Clinic Type</option>
      </select>
    </td>
    <td class=DataLabel>Clinic ID</td>
    <td class=DataField colspan=2 align=left>
      <input type=text maxlength=6 name=srchclid id=srchclid size=6
       title="Clinic ID" value="%HICWEB01.01.237.1"
       onblur="UpCase(this);onClinicID();">
      <input type=text maxlength=25 name=clindesc id=clindesc size=25 
       value="%HICWEB01.01.237.0" class=Readonly readonly>
      <img src="../images/SearchIcon.gif" class=Icon title="Clinic Search"
       onclick="ClinicSessionSearchFrame(srchclid,clindesc,onClinicID);">
      <img src="../images/erase.gif" class=Icon title="Clear"
       onclick="clrFields(srchclid,clindesc,PageSubmit);">
    </td>
    <td align=right>EFT Payment Received Date</td>
    <td align=left>
      <input type=button value="<<" class=SmallButton
       onclick='location.href="%HICWEB01.01.302"'>
      %HICWEB01.01.307
      <input type=button value=">>" class=SmallButton
       onclick='location.href="%HICWEB01.01.301"'>
      <a href='javascript:SelectDateFrame();'>
<img src="../images/DateLookup.gif" border=0 align=absmiddle
 alt="Select Date" title="Select Date"></a>
      <a href='javascript:SelectView("0");'>
<img src=../images/DayIcon.gif border=0 align=absmiddle 
 alt="View Today" title="View Today"></a>
  <a href='javascript:SelectView("1");'>
<img src=../images/WeekIcon.gif border=0 align=absmiddle
 alt="View This Week" title="View This Week"></a>
  <a href='javascript:SelectView("2");'>
<img src=../images/MonthIcon.gif border=0 align=absmiddle
 alt="View This Month" title="View This Month"></a>
    </td>
</tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<script type="text/javascript">
function AddTableRows() {
 %HICWEB01.01.308.hicweb01.01.004
}

for (var i =0 ; i < document.SelectPeriod.srchstat.length; i++) {
     if (document.SelectPeriod.srchstat.options[i].value=="%HICWEB01.01.213") {
         document.SelectPeriod.srchstat.selectedIndex=i } };

for (var i =0 ; i < document.SelectPeriod.srchprac.length; i++) {
     if (document.SelectPeriod.srchprac.options[i].value=="%HICWEB01.01.234") {
         document.SelectPeriod.srchprac.selectedIndex=i } };

for (var i =0 ; i < document.SelectPeriod.srchsdoc.length; i++) {
     if (document.SelectPeriod.srchsdoc.options[i].value=="%HICWEB01.01.235") {
         document.SelectPeriod.srchsdoc.selectedIndex=i } };

</script>

