<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
<script type="text/javascript">
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Eclipse Claim Processing Details
</span>
<div id=PageBodySection style="overflow:auto;">
<table border=0 width=70% align=center cellspacing="0" cellpadding="1">
  <tr><td class="DataLabel">Claim ID</td>
      <td class="DataField">%HOSWEB01.15.102</td>
  </tr>
  <tr><td class="DataLabel">Report Counter</td>
      <td class="DataField">%HOSWEB01.15.103</td>
  </tr>
  <tr><td class="DataLabel">Service ID</td>
      <td class="DataField">%HOSWEB01.15.104</td>
  </tr>
  <tr><td class="DataLabel">Service Counter</td>
      <td class="DataField">%HOSWEB01.15.105</td>
  </tr>
  <tr><td class="DataLabel">Item Number</td>
      <td class="DataField">%HOSWEB01.15.106</td>
  </tr>
  <tr><td class="DataLabel">Service Benefit Amount</td>
      <td class="DataField">%HOSWEB01.15.107</td>
  </tr>
  <tr><td class="DataLabel">Number of Patients</td>
      <td class="DataField">%HOSWEB01.15.108</td>
  </tr>
  <tr><td class="DataLabel">Explanation Code</td>
      <td class="DataField">%HOSWEB01.15.109</td>
  </tr>
  <tr><td class="DataLabel">Transaction ID</td>
      <td class="DataField">%HOSWEB01.15.110</td>
  </tr>
  <tr><td class="DataLabel">Report Key</td>
      <td class="DataField">%HOSWEB01.15.111</td>
  </tr>
</table>
<table border="0" colspan=0 width="95%" cellspacing="0" cellpadding="0" >
<tr>
  <td align=center>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
</td></tr>
</table>
</div>

<script type="text/javascript">
</script>
