<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
<script type="text/javascript">
function PrintAssR() {
  if (validateMandatory(SelectPeriod)) {
    document.SelectPeriod.submit();  
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectPeriod action=hosweb01.pbl method=get>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Eclipse Claim Processing Header
</span>
  <input type=hidden name=reportno value=15>
  <input type=hidden name=template value=2>
  <input type=hidden name=updttype value="P">
  <input type=hidden name=nextpage value="0">
  <input type=hidden name=asseskey value="%HOSWEB01.15.018">


<table border=0 width=95% align=center cellspacing="0" cellpadding="1">
    <tr><td class="DataLabel">Claim ID</td>
        <td class="DataField">%HOSWEB01.15.003</td>
    </tr>
    <tr><td class="DataLabel">Report Counter</td>
        <td class="DataField">%HOSWEB01.15.004</td>
    </tr>
    <tr><td class="DataLabel">Claim Benefit Paid</td>
        <td class="DataField">%HOSWEB01.15.005</td>
    </tr>
    <tr><td class="DataLabel">Claim Charge Amount</td>
        <td class="DataField">%HOSWEB01.15.006</td>
    </tr>
    <tr><td class="DataLabel">Date of Service</td>
        <td class="DataField">%HOSWEB01.15.007</td>
    </tr>
    <tr><td class="DataLabel">Patient Family Name</td>
        <td class="DataField">%HOSWEB01.15.008</td>
    </tr>
    <tr><td class="DataLabel">Patient First Name</td>
        <td class="DataField">%HOSWEB01.15.009</td>
    </tr>
    <tr><td class="DataLabel">Medicare Card Flag</td>
        <td class="DataField">%HOSWEB01.15.010</td>
    </tr>
    <tr><td class="DataLabel">Medicare Card Num</td>
        <td class="DataField">%HOSWEB01.15.011</td>
    </tr>
    <tr><td class="DataLabel">Reference Num</td>
        <td class="DataField">%HOSWEB01.15.012</td>
    </tr>
    <tr><td class="DataLabel">Servicing Provider Num</td>
        <td class="DataField">%HOSWEB01.15.013</td>
    </tr>
    <tr><td class="DataLabel">Claim Transaction ID</td>
        <td class="DataField">%HOSWEB01.15.014</td>
    </tr>
    <tr><td class="DataLabel">Date Updated</td>
        <td class="DataField">%HOSWEB01.15.015</td>
    </tr>
    <tr><td class="DataLabel">Time Updated</td>
        <td class="DataField">%HOSWEB01.15.016</td>
    </tr>
    <tr><td class="DataLabel">Retrieval Key</td>
        <td class="DataField">%HOSWEB01.15.017</td>
    </tr>
    <tr><td class=DataLabel>Printer</td>
    <td><select name=selprint title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAOUT09.09
        </select>
    </td>
    </tr>
</table>
<table border="0" colspan=0 width="95%" cellspacing="0" cellpadding="0" >
<tr>
  <td align=center>
  <input type=button value="Print" class="button"
   onclick='PrintAssR();'>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
</td></tr>
</table>
</form>

<script type="text/javascript">
</script>
