<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
</head>
<script type="text/javascript">
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Eclipse Claim Assessment Details
</span>
<div id=PageBodySection style="overflow:auto;">
<table border=0 width=70% align=center cellspacing="0" cellpadding="1">
  <tr><td class="DataLabel">Fund Brand ID (Participant Code)</td>
      <td class="DataField">%HOSWEB01.09.102</td>
  </tr>
  <tr><td class="DataLabel">Account Reference ID</td>
      <td class="DataField">%HOSWEB01.09.103</td>
  </tr>
  <tr><td class="DataLabel">Fund Reference ID</td>
      <td class="DataField">%HOSWEB01.09.104</td>
  </tr>
  <tr><td class="DataLabel">Report counter</td>
      <td class="DataField">%HOSWEB01.09.105</td>
  </tr>
  <tr><td class="DataLabel">Claim Fund Explanation Code</td>
      <td class="DataField">%HOSWEB01.09.106</td>
  </tr>
  <tr><td class="DataLabel">Explanation Code Counter</td>
      <td class="DataField">%HOSWEB01.09.107</td>
  </tr>
  <tr><td class="DataLabel">Claim Fund Explanation Text</td>
      <td class="DataField">%HOSWEB01.09.108</td>
  </tr>
  <tr><td class="DataLabel">Element Name</td>
      <td class="DataField">%HOSWEB01.09.109</td>
  </tr>
  <tr><td class="DataLabel">Message Part ID</td>
      <td class="DataField">%HOSWEB01.09.110</td>
  </tr>
</table>
<table border="0" colspan=0 width="95%" cellspacing="0" cellpadding="0" >
<tr>
  <td align=center>
  <input type=button value="Close" class="button"
   onclick='DFrameExit();'>
</td></tr>
</table>
</div>

<script type="text/javascript">
</script>
