<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
</head>

%START.OF.PAGE
<body onload=PageLoad(event);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Certificate Comments
</span>

<div id=PageBodySection>
<form name=UpdateForm method=post action=hosweb01.pbl>
 <input type=hidden name=reportno value="4">
 <input type=hidden name=template value="003">
 <input type=hidden name=urnumber value="%HOSWEB01.04.003">
 <input type=hidden name=admissno value="%HOSWEB01.04.081">
 <input type=hidden name=updttype value=" ">
 <input type=hidden name=ptcer001 value="%HOSWEB01.04.003">
 <input type=hidden name=ptcer002 value="%HOSWEB01.04.102.1">
 <input type=hidden name=ptcer007 value="%HOSWEB01.04.107">

<table align=center width=100% border=0>
<tr><td> </td></tr>

<tr><td colspan=6 align=center>
      <textarea wrap=hard name=commtext rows=6 readonly class=ReadOnly
      bgcolor=gray cols=50>%HOSWEB01.04.108</textarea>
</td></tr>

<tr><td colspan=2 align=center><br>
   <input type=button value="Close" class="button"
    onclick=DFrameExit();>
</td></tr>

</td></tr>
</table>
</form>
</div>
