<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript">
function ProcessReport() {
 SubmitPage=true

 if (document.ReportForm.keystr10.value==0) {
     document.ReportForm.keystr12.value="Y"                       
     document.ReportForm.keystr13.value=" "
     document.ReportForm.keystr14.value=" "
     document.ReportForm.keystr15.value=" "                        
 } 

 if (document.ReportForm.keystr10.value==1) {
     document.ReportForm.keystr12.value=  
                                      document.getElementById('drgcode').value;
     document.ReportForm.keystr13.value="Y"
     document.ReportForm.keystr14.value=" "
     document.ReportForm.keystr15.value=" "
 } 

 if (document.ReportForm.keystr10.value==2) {
     document.ReportForm.keystr12.value=
                                     document.getElementById('mbscode').value;
     document.ReportForm.keystr13.value="Y"
     document.ReportForm.keystr14.value=" "
     document.ReportForm.keystr15.value=" "
 } 

if (SubmitPage) {
  SubmitReport(document.ReportForm) }
}
function CasemixType() {
 if (document.ReportForm.keystr10.value==0){
        document.getElementById('singleCasemix').innerHTML=""; }
 else{
     if (document.ReportForm.keystr10.value==1) {
       document.getElementById('singleCasemix').innerHTML=
                      document.getElementById('DRGCode').innerHTML }
     else{
       document.getElementById('singleCasemix').innerHTML=
                      document.getElementById('MBSCode').innerHTML }
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);
              ReportLoad();document.ReportForm.schddate.focus();">
<form name=ReportForm method=post action=rshweb02.pbl style="margin:0">
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=setdfprg value="IBAADT31">
  <input type=hidden name=setdfrep value="01">
  <input type=hidden name=schdpgid value="IBAADT31">
  <input type=hidden name=schddesc value="Contract Agreement Register">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">
  <input type=hidden name=keystr01 value="1">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
     Contract Agreement Register</td></tr>
<tr><td>
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>

<tr><td class=DataLabel width=25%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Show Calendar" date="document.ReportForm.schddate">
    Time
    <input type=text name=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="document.ReportForm.schddate" 
             time="document.ReportForm.schdtime">
    <img notab src="../images/TimeLookup.gif" class="Icon"
     alt="Time Select" time="document.ReportForm.schdtime">
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAADT31.01
        </select>
    </td></tr>

<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=schdcopy title='Number of Copies' class=Mandatory>
        </select>
    </td></tr>

<tr><td class=DataLabel>Re-schedule Type</td>
    <td class=DataLabel colspan=3>
    <select name=schdrdat title="Schedule Type" onchange="SetReportDates();">
    <option></option>
    </select>
    </td></tr>

<tr><td class=DataLabel>Re-schedule Until Date</td>
    <td class=DataLabel colspan=3>
    <input type=text name=schdrend size=12
     onblur="checkDate(this,'Re-schedule Until Date');">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="document.document.ReportForm.schdrend">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Show Calendar" date="document.ReportForm.schdrend">
    </td></tr>

<tr><td colspan=2 align=center><hr width=80%></td></tr>

<tr><td class=DataLabel width=25%>Print Charges</td>
    <td><select name=keystr02>
        <option value="1">Accommodation</option>
        <option value="2">Theatre</option>
        </select>
    </td></tr>

<tr><td class=DataLabel width=25%>From %STANDARD.01.017.CL</td>
    <td><select name=keystr03 title="From %STANDARD.01.017.CL">
        <option value=" ">Start</option>
         %RSHWEB02.01.115
        </select>
         &nbsp; To &nbsp;
        <select name=keystr04 title="To %STANDARD.01.017.CL">
        <option value=" ">End</option>
         %RSHWEB02.01.115
        </select>
    </td>
</tr>

<tr><td class=DataLabel>From Health Fund</td>
    <td><input type=text name=keystr05 size=6 maxlength=6
         onblur='validateCode(16,keystr05,funddesc)'
         title="From Health Fund"  >
        <input type=text readonly name=funddesc size=30
         title="From Health Fund Description" >
        <img src=../images/SearchIcon.gif class=Icon align=absmiddle
         onclick="HFundSearchFrame(keystr05,funddesc);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         align=absmiddle onclick='clrDoc(keystr05,funddesc);'>
         &nbsp;To &nbsp;
        <input type=text name=keystr06 size=6 maxlength=6
         onblur='validateCode(16,keystr06,funddesc1)'
         title="To Health Fund"  >
        <input type=text readonly name=funddesc1 size=30
         title="To Health Fund Description" >
        <img src=../images/SearchIcon.gif class=Icon align=absmiddle
         onclick="HFundSearchFrame(keystr06,funddesc1);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         align=absmiddle onclick='clrDoc(keystr06,funddesc1);'>
     </td>
</tr>

<tr><td class=DataLabel width=25%>From Health Fund Type</td>
    <td><select name=keystr07>
        <option value=" ">Start</option>
         %STANDARD.01.007.HT
        </select>
         &nbsp;To &nbsp;
        <select name=keystr08>
        <option value=" ">End</option>
         %STANDARD.01.007.HT
        </select>
    </td>
</tr>

<tr><td class=DataLabel width=25%>Episode Type</td>
    <td><select name=keystr09>
        <option value="0">Overnight</option>
        <option value="1">Day Case</option>
        </select>
    </td></tr>

<tr><td class=DataLabel width=25%>Casemix Code</td>
    <td><select name=keystr10 title="Casemix Type" 
         onchange="CasemixType();">
        <option value="0">All</option>
        <option value="1">DRG</option>
        <option value="2">MBS</option>
        </select>
    </td></tr>

<td class=DataLabel>Contract ID</td>
    <td>
      <input type=text size=10 maxlength=6 name=keystr11 id=keystr11
      class=Mandatory title="Contract ID" value="" 
      onblur="validateCID(keystr11,d_keystr11);">
        <input type=text size=30 name=d_keystr11 id=d_keystr11  readonly
         value="" class=Readonly notab tabindex=-1>
        <img src="../images/SearchIcon.gif" align=absmiddle
  onClick="
  CIDSearchFrame('patweb88.pbl?reportno=26&template=005',keystr11,d_keystr11);">
        <img src="../images/erase.gif" align=absmiddle
         onClick="clrDoc(keystr11,d_keystr11);">

    </td>
    </tr>

</table>

<span id=singleCasemix></span>
        <input type=hidden name=keystr12 value=" ">
        <input type=hidden name=keystr13 value=" ">
        <input type=hidden name=keystr14 value=" ">
        <input type=hidden name=keystr15 value=" ">

<tr><td align=center colspan=4><br>
    <input type=button value=Ok class="button" 
     onclick='ProcessReport();'>
    <input type=button value=Cancel class="button"
     onclick='location.href="../lookups/blank.html"' >
</td></tr>
</table>


</form>

<span id=DRGCode style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>DRG Code</td>
    <td><input type=text name=drgcode id=drgcode size=8 
         title='DRG Code'
         onblur='validateCode(5,drgcode,drgdesc);'>
        <input type=text name=drgdesc id=drgdesc size=30 readonly
         title='DRG Code Name' 
         value="">
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='DrgSearchFrame(drgcode,drgdesc);'>
    </td></tr>
</table>
</span>

<span id=MBSCode style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>MBS Code</td>
    <td><input type=text name=mbscode id=mbscode size=9 
         title='MBS Code '
         onblur='validateCode(35,mbscode,mbsdesc);'>
        <input type=text name=mbsdesc id=mbsdesc size=25 readonly
         title='MBS Code Name '>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='CmixSearchFrame(mbscode,mbsdesc);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(mbscode,mbsdesc);'>
    </td>
</tr>
</table>
</span>


