<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript">
function ProcessReport() {
 SubmitPage=true
 if(!CheckRange(ReportForm.keystr03,ReportForm.keystr04)) { 
   return;
 }
 if(!CheckRange(ReportForm.keystr05,ReportForm.keystr06)) { 
   return;
 }
 if (ReportForm.schdrdat.value=="") {
     ReportForm.keystr09.title="From Date"
     ReportForm.keystr10.title="To Date"
     ReportForm.keystr09.value=ReportForm.datran01.value
     ReportForm.keystr10.value=ReportForm.datran02.value 
     SubmitPage=CheckDateRange(ReportForm.keystr09,ReportForm.keystr10) }
 else {
     ReportForm.keystr09.title="From Schedule"
     ReportForm.keystr10.title="To Schedule" }

 if(ReportForm.ibcnmhos.value=="1") {
   ReportForm.keystr12.value=ReportForm.d_keystr12.value
   ReportForm.keystr13.value="Y"
 } else {
   ReportForm.keystr12.value="Y"
 }
 if (SubmitPage) {
  SubmitReport(ReportForm)
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);
              ReportLoad();
              document.ReportForm.schddate.focus();">
<form name=ReportForm method=post action=rshweb02.pbl style="margin:0">
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=setdfprg value="IBAOUT29">
  <input type=hidden name=setdfrep value="01">
  <input type=hidden name=schdpgid value="IBAOUT29">    
  <input type=hidden name=schddesc value="Visits Report By Date">    
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">
  <input type=hidden name=ibcnmhos value="%RSHWEB02.01.118.000.043.1.1">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center 
        colspan=2>Visit Report By Date</td></tr>
<tr><td>
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>

<tr><td class=DataLabel width=25%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate id=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img notab src="../images/DateLookup.gif" class=Icon 
     alt="Show Calendar" date="ReportForm.schddate">
    Time
    <input type=text name=schdtime id=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img notab src="../images/DateTimeStamp.gif" class=Icon
     alt="Current" date="ReportForm.schddate" time="ReportForm.schdtime">
    <img notab src="../images/TimeLookup.gif" class=Icon 
     alt="Time Select" time="ReportForm.schdtime">
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAOUT29.01
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=schdcopy title="Number of Copies" class=Mandatory>
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Re-schedule Type</td> 
    <td class=DataLabel colspan=3> 
    <select name=schdrdat title="Schedule Type" onchange="SetReportDates()"> 
    <option></option> 
    </select> 
    </td></tr> 
 
<tr><td class=DataLabel>Re-schedule Until Date</td> 
    <td class=DataLabel colspan=3> 
    <input type=text name=schdrend id=schdrend size=12 
     onblur="checkDate(this,'Re-schedule Until Date');"> 
    <img notab src="../images/DateTimeStamp.gif" class=Icon
     alt="Current" date="ReportForm.schdrend">
    <img notab src="../images/DateLookup.gif" class=Icon 
     alt="Show Calendar" date="ReportForm.schdrend">
    </td></tr>
 
<tr><td colspan=2 align=center><hr width=80%></td></tr>

<input type=hidden name=keystr01 value="1">

<tr><td class=DataLabel width=25%>Report Option</td>
    <td><select name=keystr02>
        <option value="0">Group By Claim Code</option>
        <option value="1">Group By Health Fund</option>
        </select>
    </td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select name=keystr03 title="%STANDARD.01.017.CL">
        <option value=" "></option>
         %STANDARD.01.007.CL
        </select>
         &nbsp;To &nbsp;
        <select name=keystr04 title="%STANDARD.01.017.CL">
        <option value=" "></option>
         %STANDARD.01.007.CL
        </select>
    </td>
    </tr>

<tr><td class=DataLabel>From Health Fund</td>
    <td><input type=text name=keystr05 id=keystr05 size=9 maxlength=6
         onblur="validateCode(16,ReportForm.keystr05,ReportForm.funddesc)"
         title="From Health Fund">
        <input type=text readonly name=funddesc id=funddesc size=30 tabindex=-1
         title="From Health Fund Description" class=readonly readonly>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HFundSearchFrame(ReportForm.keystr05,ReportForm.funddesc);">
        <img src="../images/erase.gif" class=Icon alt="Clear"
         onclick="clrDoc(ReportForm.keystr05,ReportForm.funddesc);">
         &nbsp;To &nbsp;
        <input type=text name=keystr06 id=keystr06 size=9 maxlength=6
         onblur='validateCode(16,ReportForm.keystr06,ReportForm.funddesc1)'
         title="To Health Fund"  >
        <input type=text readonly name=funddesc1 id=funddesc1 size=30
         tabindex=-1
         title="To Health Fund Description" class=readonly readonly >
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HFundSearchFrame(ReportForm.keystr06,ReportForm.funddesc1);">
        <img src="../images/erase.gif" class=Icon alt="Clear"
         onclick="clrDoc(ReportForm.keystr06,ReportForm.funddesc1);">
     </td>
</tr>

<tr><td class=DataLabel>New Page for Each Claim Type</td>
    <td><select name=keystr07>
        <option value="N">No</option>
        <option value="Y">Yes</option>
        </select>
    </td></tr>

<tr><td class=DataLabel>New Page for Each Health Fund</td>
    <td><select name=keystr08>
        <option value="N">No</option>
        <option value="Y">Yes</option>
        </select>
    </td></tr>

<tr><td class=DataLabel>Date Range </td>
    <input type=hidden name=keystr09 value="">
    <input type=hidden name=keystr10 value="">
    <td><span id=DateRange></span>
    </td></tr>

<tr><td class=DataLabel width=25%>Visit Type</td>
    <td><select name=keystr11>
        <option value="0">Inpatient & Outpatient</option>
        <option value="1">Outpatient</option>
        <option value="2">Inpatient</option>
        </select>
    </td>    
    <input type=hidden name=keystr12 value=" ">
    <input type=hidden name=keystr13 value=" ">
    <input type=hidden name=keystr14 value=" ">
</tr>
</table>
        
<span id=HospitalID></span>
        
<table width=80% align=center border=0 cellspacing=0>

<tr><td align=center colspan=2><br>
    <input type=button value=Ok class=button id=btnOk 
     onclick="tempDisable(this);ProcessReport();">
    <input type=button value=Cancel class=button 
     onclick='location.href="../lookups/blank.html"' >
    </td></tr>
</table>

</td></tr>
</table>
</form>

<div id=SetDateRange style="display:none;">
    <input type=text size=15 maxlength=12 name=datran01 id=datran01
     onblur="checkDate(this,'Date')" value="%STANDARD.01.015"
     class="Mandatory Date" title="From Date">
    <img notab src="../images/DateTimeStamp.gif" class=Icon
     alt="Current" date="ReportForm.datran01">
    <img notab src="../images/DateLookup.gif" class=Icon
     alt="Calendar" date="ReportForm.datran01">
    To
    <input type=text size=15 maxlength=12 name=datran02 id=datran02
     onblur="checkDate(this,'Date')" value="%STANDARD.01.015"
     class="Mandatory Date" title="To Date">
    <img notab src="../images/DateTimeStamp.gif" class=Icon
     alt="Current" date="ReportForm.datran02">
    <img notab src="../images/DateLookup.gif" class=Icon
     alt="Calendar" date="ReportForm.datran02">
</div>

<div id=SetScheduleRange style="display:none;">
    <select name=datsch01 title="Schedule Range" class=Mandatory
    onblur="UpReportSchedule(this,
                             ReportForm.keystr09,
                             ReportForm.keystr10);">
    <option></option></select>
    Sample Range
    <input type=text name=SampleFrom id=SampleFrom size=12> To
    <input type=text name=SampleTo id=SampleTo size=12>
</div>

<span id=HospID style="display:none;">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
    <tr><td class=DataLabel width=25%>Hospital ID</td>
    <td><select name=d_keystr12 title="Hospital ID ">
    <option value="  "></option>
    %RSHWEB02.01.122
    </select>
    </td></tr>
</table>
</span>

<script type="text/javascript">
 if (document.ReportForm.ibcnmhos.value==1) {
     HospitalID.innerHTML = HospID.innerHTML; }
</script>
