<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript">

function ReportType() {
  var fe=document.getElementById('ReportForm').elements;

  if (fe.namedItem('keystr01').value==1) {
    document.getElementById('InputCType').style.display="";
    document.getElementById('InputCType').innerHTML=
      document.getElementById('CType').innerHTML;
    document.getElementById('InputSessionID').style.display="";
    document.getElementById('InputSessionID').innerHTML=
      document.getElementById('SessionID').innerHTML;
  }
}
function ProcessReport() {
  var fe=document.getElementById('ReportForm').elements;

  if (fe.namedItem('schdrdat').value=="") {
    fe.namedItem('keystr06').title="End Date"
    fe.namedItem('keystr06').value=fe.namedItem('datran02').value
  }
  else {
    fe.namedItem('keystr06').title="Schedule"
  }

  SubmitReport(document.getElementById('ReportForm'))
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);ReportLoad();ReportType();
 document.getElementById('ReportForm').elements.namedItem('schddate').focus();">
<form name=ReportForm id=ReportForm method=post action=rshweb02.pbl
      style="margin:0">
<input type=hidden name=reportno id=reportno value=4>
<input type=hidden name=template id=template value=001>
<input type=hidden name=updttype id=updttype value="A">
<input type=hidden name=setdfprg id=setdfprg value="IBAOUT86">
<input type=hidden name=setdfrep id=setdfrep value="01">
<input type=hidden name=schdpgid id=schdpgid value="IBAOUT86">    
<input type=hidden name=schddesc id=schddesc
       value="Waiting Times for Non-Urgent Appointments">
<input type=hidden name=nextpage id=nextpage value="1">
<input type=hidden name=redirect id=redirect
       value="rshweb02.pbl?reportno=1&template=1">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
    Waiting Times for Non-Urgent Appointments</td></tr>

<tr><td>

<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate id=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schddate">
    Time
    <input type=text name=schdtime id=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schddate" time="ReportForm.schdtime">
    <img notab src="../images/TimeLookup.gif" class="Icon" 
     alt="Time Select" time="ReportForm.schdtime">
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=schdprnt id=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAOUT86.01
        </select>
    </td></tr>
<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=schdcopy id=schdcopy title="Number of Copies">
        </select>
    </td></tr>
<tr><td class=DataLabel>Re-schedule Type</td> 
    <td class=DataLabel colspan=3> 
    <select name=schdrdat id=schdrdat title="Schedule Type"
      onchange="SetReportDates()"> 
    <option></option> 
    </select> 
    </td></tr> 
 
<tr><td class=DataLabel>Re-schedule Until Date</td> 
    <td class=DataLabel colspan=3> 
    <input type=text name=schdrend id=schdrend size=12 
     onblur="checkDate(this,'Re-schedule Until Date');"> 
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schdrend">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schdrend">
    </td></tr>
 
<tr><td colspan=2 align=center><hr width=80%></td></tr>
    <input type=hidden name=keystr01 id=keystr01 value="1">

</table>

<span id=InputCType></span>

<span id=InputSessionID></span>

<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>End Date 
    <input type=hidden name=keystr06 id=keystr06 value="">
    </td>
    <td><span id=DateRange></span>
        <input type=hidden name=keystr07 id=keystr07 value="Y">           
        <input type=hidden name=keystr08 id=keystr08 value=" ">
    </td></tr>

<tr><td align=center colspan=2><br>
    <input type=button value=Ok class="button" onclick="ProcessReport();">
    <input type=button value=Cancel class="button" 
     onclick='location.href="../lookups/blank.html"' >
    </td></tr>
</table>

</td></tr>

</table>
</form>

<span id=CType style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>Clinic Type</td>
    <td><select name=keystr02 id=keystr02 title="From Clinic Type">
        <option value="">Start</option>
        %RSHWEB02.01.124  
        </select> To
        <select name=keystr03 id=keystr03 title="To Clinic Type">
        <option value="">Finish</option>
        %RSHWEB02.01.124  
        </select>
        </td></tr>
</table>
</span>

<span id=SessionID style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>From Session ID</td>
    <td><select name=keystr04 id=keystr04 title="From Session ID">
        <option value="">Start</option>
        %RSHWEB02.01.110  
        </select> To
        <select name=keystr05 id=keystr05 title="To Session ID">
        <option value="">Finish</option>
        %RSHWEB02.01.110  
        </select>
        </td></tr>
</table>
</span>

<span id=SetDateRange style="display:none;">
    <input type=text size=15 maxlength=12 name=datran02 id=datran02
    onblur="checkDate(this,'Date')" class="Mandatory PastDate" title="Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.datran02">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="ReportForm.datran02">
</span>

<div id=SetScheduleRange style="display:none;">
  <select name=datsch01 id=datsch01 title="Schedule Range" class=Mandatory
    onblur="UpReportSchedule(this,
                             document.ReportForm.SampleFrom,
                             document.ReportForm.keystr06)">
    <option></option>
  </select>
    Sample 
  <input type=hidden name=SampleFrom id=SampleFrom size=12> 
  <input type=text name=SampleTo id=SampleTo size=12>
</div>


