<!--../template/ibapms49003.html-->

<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">

Output = new Array();  // Create Array to Store Rows of Table

//
// Output Table Into Division Set on Page.
//
function OutputTable() {
  p=document.ValidateForm
  validateVisit();
  Output[Output.length] = "<tr><td>" + p.base36no.value + "</td>" +
      "<td>" + p.admissno.value + "</td>" +
      "<td>" + p.urnumber.value + "</td>" +
      "<td align=center>" + p.episoden.value + "</td></tr>"
  OutputString="<table width=50% align=center cellspacing=0 border=1>" +
               "<tr><td class=HeadingCell>Base 36</td>" +
               "    <td class=HeadingCell>Admission No</td>" +
               "    <td class=HeadingCell>UR No</td>" +
               "    <td class=HeadingCell align=center>Episode</td></tr>" 
  for (i=Output.length-1;i>=0;i--) {
    OutputString+=Output[i]
  }
  OutputString+="</table>"
  Results.innerHTML=OutputString
}
function ConvertNumber() {
  Base36=parseInt(document.ValidateForm.base36no.value,36).toString();
  if (Base36.length>8) {
    document.ValidateForm.admissno.value=Base36.substr(1,Base36.length-1);
    document.ValidateForm.episoden.value=Base36.substr(0,1);
    OutputTable()
  }
  else {
//   alert("Number Converts to Non Numeric.")
  }
}
function validateVisit() {
 p=document.ValidateForm
 trim1(p.admissno.value);
 justifyRight(p.admissno)
 validateCode(12,p.admissno,p.dummy,p.dummy,p.dummy,p.dummy,p.urnumber,p.dummy,p.dummy,p.dummy)
}
function trim1(str){
 var strln = str.length
  if(strln>0){
    for (var i=0;i<=strln;i++) {
      if (str.substring(0,1)=='0') {
        str=str.substring(1,str.length)
      }
    }
  }
  document.ValidateForm.admissno.value=str;
}
function ConvertNumberBack() {
//  justifyRight(ValidateForm.admissno.value);
//  zeroFill(ValidateForm.admissno.value); 
//  alert("1"+ValidateForm.admissno.value+"2");
  teststring="1"+ document.ValidateForm.admissno.value;
  Base36=parseInt(teststring).toString(36);
  document.ValidateForm.base36no.value=Base36
  document.ValidateForm.episoden.value="01";
  UpCase(document.ValidateForm.base36no);
  OutputTable();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=ValidateForm style="margin:0">
 <input type=hidden name=testadmn>
 <input type=hidden name=urnumber>
 <input type=hidden name=dummy>

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center>Base 36 Number Converter</td></tr>
</table>

<table width=80% align=center border=0 cellspacing=0>
<tr><td width=25% class=DataLabel>Base 36 Number </td>
    <td><input type=text name=base36no size=10 maxlength=6
        onchange="ConvertNumber();"></td></tr>
<tr><td class=DataLabel>Admission No </td>
    <td class=DataLabel>
    <input type=text name=admissno size=10 maxlength=8
     onchange="justifyRight(this);zeroFill(this);ConvertNumberBack()";>
    </td></tr>
<tr><td class=DataLabel>Episode No </td>
    <td class=DataLabel>
    <input type=text name=episoden size=10 readonly></td></tr>
</table>
<hr align=center width=100%>
</form>

<div id=Results></div>
