<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script language=javascript src="../js/ReportStandard.js"></script>
<script language=javascript>
function ProcessReport() {
 if (validateMandatory(ReportForm)) {
  i=ReportForm.keystr01.selectedIndex;
  if (ReportForm.keystr01.options[i].value==1) { 
    ReportForm.keystr03.value="Y";
    ReportForm.keystr04.value="N";
  }
  else if (ReportForm.keystr01.options[i].value==3) { 
    if (!CheckRange(ReportForm.begmedpr,ReportForm.endmedpr)) {
      return;
    }
    ReportForm.keystr03.value=ReportForm.begmedpr.value;
    ReportForm.keystr04.value=ReportForm.endmedpr.value;
    if (ReportForm.prcncadm.value==1) {
      ReportForm.keystr05.value=ReportForm.trantype.value;
      ReportForm.keystr06.value="Y";
    }
    else {
      ReportForm.keystr05.value="Y";
    }
  }
  else if (ReportForm.keystr01.options[i].value==4) { 
    if (!CheckDateRange(ReportForm.begdate,ReportForm.enddate)) {
      return;
    }
    if (!CheckRange(ReportForm.begmedpr,ReportForm.endmedpr)) {
      return;
    }
    ReportForm.keystr03.title="Start Date";
    ReportForm.keystr03.value=ReportForm.begdate.value;
    ReportForm.keystr04.title="End Date";
    ReportForm.keystr04.value=ReportForm.enddate.value;
    ReportForm.keystr05.value=ReportForm.begmedpr.value;
    ReportForm.keystr06.value=ReportForm.endmedpr.value;
    if (ReportForm.prcncadm.value==1) {
      ReportForm.keystr07.value=ReportForm.trantype.value;
      ReportForm.keystr08.value="Y";
    }
    else {
      ReportForm.keystr07.value="Y";
    }
  }
  SubmitReport(ReportForm)
 }
}
function ReportShowSpan() {
  i=ReportForm.keystr01.selectedIndex;
  if (ReportForm.keystr01.options[i].value==1) { 
    document.getElementById('reportOption1').innerHTML="";
    document.getElementById('reportOption2').innerHTML="";
    document.getElementById('reportOption3').innerHTML="";
    return;
  }
  else if (ReportForm.keystr01.options[i].value==3) { 
    document.getElementById('reportOption1').innerHTML=document.getElementById('MedicalPrac').innerHTML;
    document.getElementById('reportOption3').innerHTML="";
    if (ReportForm.prcncadm.value==1) {
      document.getElementById('reportOption2').innerHTML=document.getElementById('Transaction').innerHTML;
    }
    else {
      document.getElementById('reportOption2').innerHTML="";
    }
  }
  else if (ReportForm.keystr01.options[i].value==4) { 
    document.getElementById('reportOption1').innerHTML=document.getElementById('DateRangeOpt').innerHTML;
    document.getElementById('reportOption2').innerHTML=document.getElementById('MedicalPrac').innerHTML;
    if (ReportForm.prcncadm.value==1) {
      document.getElementById('reportOption3').innerHTML=document.getElementById('Transaction').innerHTML;
    }
    else {
      document.getElementById('reportOption3').innerHTML="";
    }
  }
  else {                                         
    document.getElementById('reportOption1').innerHTML="";
    document.getElementById('reportOption2').innerHTML="";
    document.getElementById('reportOption3').innerHTML="";
  }
}
</script>
</head>
<body onload=PageLoad(event);ReportLoad();document.ReportForm.schddate.focus();>
%START.OF.PAGE
  <form name=ReportForm method=post action=rshweb02.pbl style="margin:0">
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=setdfprg value="IBAPRI20">
  <input type=hidden name=setdfrep value="01">
  <input type=hidden name=schdpgid value="IBAPRI20">    
  <input type=hidden name=schddesc value="Print Bulk Private Practice Invoices">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">
  <input type=hidden name=prcncadm value="%RSHWEB02.01.149">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
  Print Bulk Private Practice Invoices</td>
</tr>
</table>
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img src=../images/DateLookup.gif class=Icon
     onclick="DateLookupFrame(schddate);">
    Time
    <input type=text name=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img src=../images/DateTimeStamp.gif class=Icon alt="Schedule Time"
     onclick="SetCurrentDateTime(schddate,schdtime);">
    <img src=../images/TimeLookup.gif class=Icon
     onclick="TimeLookupFrame(schdtime);">
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAPRI20.01
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=schdcopy title='Number of Copies' class=Mandatory>
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Re-schedule Type</td> 
    <td class=DataLabel colspan=3> 
    <select name=schdrdat title="Schedule Type" onchange=SetReportDates()> 
    <option></option> 
    </select> 
    </td></tr> 
 
<tr><td class=DataLabel>Re-schedule Until Date</td> 
    <td class=DataLabel colspan=3> 
    <input type=text name=schdrend size=12 
     onblur="checkDate(this,'Re-schedule Until Date');"> 
    <img src=../images/DateTimeStamp.gif class=Icon
     onclick="SetCurrentDateTime(schdrend,null);"> 
    <img src=../images/DateLookup.gif class=Icon
     onclick="DateLookupFrame(schdrend);">
    </td></tr>

<!-- Patient Invoices -->

<tr><td colspan=2 align=center><hr width=100%></td></tr>
<tr><td class=DataLabel>Report Option</td>
    <td><select name=keystr01 title="Report Option" class=Mandatory
                onchange="ReportShowSpan();">
        <option value=""></option>
        <option value=1>Line-up Print</option>
        <option value=3>Print All Debtors</option>
        <option value=4>Print Debtors in a given date range</option>
        </select>
    </td></tr>
</table>
  <input type=hidden name=keystr02 value="%STANDARD.01.008">
<span id=reportOption1></span>
<span id=reportOption2></span>
<span id=reportOption3></span>

  <input type=hidden name=keystr03>
  <input type=hidden name=keystr04>
  <input type=hidden name=keystr05>
  <input type=hidden name=keystr06>
  <input type=hidden name=keystr07>
  <input type=hidden name=keystr08>
  <input type=hidden name=keystr09>
  <input type=hidden name=keystr10>
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td align=center colspan=2><br>
    <input type=button value=Ok class="button" onclick='ProcessReport();'>
    <input type=button value=Cancel class="button"
     onclick='location.href="../lookups/blank.html"' >
    </td></tr>
</table>
</form>

<span id=MedicalPrac style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>From Medical Practice</td>
    <td><select name=begmedpr title="From Medical Practice">
        <option value=" ">Start</option>
        %RSHWEB02.01.161
        </select>
         &nbsp;To &nbsp;
        <select name=endmedpr title="To Medical Practice">
        <option value=" ">Finish</option>
        %RSHWEB02.01.161
        </select>
     </td>
</tr>
</table>
</span>

<span id=DateRangeOpt style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>From Date</td>
    <td><input type=text size=15 maxlength=12 name=begdate
    onblur="checkDate(this,'Date')"
    class="Mandatory PastDate" title="From Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.begdate">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="ReportForm.begdate">
    To
    <input type=text size=15 maxlength=12 name=enddate
    onblur="checkDate(this,'Date')" class="Mandatory PastDate" title="To Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.enddate">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="ReportForm.enddate">
    </td></tr>
</table>
</span>

<span id=Transaction style="display:none">
<table width=80% align=center border=0 cellspacing=2 cellpadding=1>
<tr><td class=DataLabel width=25%>Transaction Type</td>
    <td><select name=trantype title="Transaction Type" class=Mandatory>
       <option value=" "></option>
       <option value="A">All Transactions</option>
       <option value="N">Non-Inpatient Transactions Only</option>
        </select>
     </td>
</tr>
</table>
</span>
