<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript" src="../js/rcpweb03.js"></script>
<script type="text/javascript">
function SetFile() {
  if(ReportForm.ibcnmhos.value=="1") {
    HospitalID.innerHTML=HospID.innerHTML;
    GetCashiers();
    GetValRegs();
  } else {
    HospitalID.innerHTML=dummyH.innerHTML;
  }
  if(ReportForm.filetype.value=="1") {
    FileOption.innerHTML=BrowseFile.innerHTML;
  } else {
    FileOption.innerHTML=UnixFile.innerHTML;
  }
  setPayData();
}

// Function : Get Valid Cashier Drawers - Remote Script
function GetCashiers() {
   selectOptions("82",ReportForm.hospcode,ReportForm.keystr03);
}
// Function : Get Valid Registers - Remote Script
function GetValRegs() {
   selectOptions("81",ReportForm.hospcode,ReportForm.keystr13);
}

function setPayData() {
   if (ReportForm.keystr07.value=="2") {
      PayInfo.innerHTML=ChequeP.innerHTML;
  } else {
      PayInfo.innerHTML=DirDepos.innerHTML;
  }
}

function ProcessReport() {
  if(!validateMandatory(ReportForm)) {
    return;
  }
  if (ReportForm.schdrdat.value=="") {
      ReportForm.keystr06.title="Date"
      ReportForm.keystr06.value=ReportForm.datran02.value 
      ReportForm.keystr15.value=ReportForm.webuseid.value 
      if(ReportForm.ibcnmhos.value=="1") {
        ReportForm.keystr16.value=ReportForm.hospcode.value
        ReportForm.keystr17.value="Y"
        ReportForm.keystr18.value=""
      } else {
        ReportForm.keystr16.value="Y"
        ReportForm.keystr17.value=""
      }
  } else {
      ReportForm.keystr03.title="From Schedule"
      ReportForm.keystr04.title="To Schedule" 
  }
  SubmitReport(ReportForm)
}
</script>
</head>
<body onload="PageLoad(event);ReportLoad();SetFile();">
%START.OF.PAGE

<form name=ReportForm method=post action=rshweb02.pbl>
<input type=hidden name=reportno value=4>
<input type=hidden name=template value=001>
<input type=hidden name=updttype value="A">
<input type=hidden name=setdfprg value="IBARCP77">
<input type=hidden name=setdfrep value="01">
<input type=hidden name=schdpgid value="IBARCP77">    
<input type=hidden name=schddesc value="Upload Health Fund Receipts">
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">
<input type=hidden name=webuseid value="%STANDARD.01.008">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1"> 
<input type=hidden name=hospid value="">
<input type=hidden name=defchqno value="">
<input type=hidden name=d_keys13 value="">
<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
    Upload Health Fund Remittances</td></tr>
<tr><td>
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=20%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schddate">
    Time
    <input type=text name=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schddate" time="ReportForm.schdtime">
    <img notab src="../images/TimeLookup.gif" class="Icon" 
     alt="Time Select" time="ReportForm.schdtime">
    </td></tr>

<tr><td class=DataLabel width=20%>Printer</td>
    <td><select name=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBARCP76.01
        </select>
    </td></tr>
<tr><td class=DataLabel width=20%>Number of Copies</td>
    <td><select name=schdcopy title='Number of Copies'>
        </select>
    </td></tr>
<tr><td class=DataLabel width=20%>Re-schedule Type</td> 
    <td class=DataLabel colspan=2> 
    <select name=schdrdat title="Schedule Type" onchange=SetReportDates()> 
    <option></option> 
    </select> 
    </td></tr> 
 
<tr><td class=DataLabel width=20%>Re-schedule Until Date</td> 
    <td class=DataLabel colspan=2> 
    <input type=text name=schdrend size=12 
     onblur="checkDate(this,'Re-schedule Until Date');"> 
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schdrend">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schdrend">
    </td></tr>
 
<tr><td colspan=8 align=center><hr width=100%></td></tr>

<tr><td class=DataLabel width=20%>Option</td>
    <td><select name=keystr01 title="Option" class="Mandatory">
        <option value=1>Edit Health Fund Remittance File</option>
        <option value=2>Upload Health Fund Remittance File</option>   
        </select>
    </td></tr>


<tr><td class=DataLabel width=20%>Cashier Drawer</td>
    <td><select name=keystr03 title="Cashier ID" class="Mandatory"
         onchange="getChqAcct(document.ReportForm.keystr03,
                              document.ReportForm.keystr04,
                              document.ReportForm.defchqno);
                   checkPR(document.ReportForm.keystr03,
                           document.ReportForm.password);">
        <option></option>
        %RSHWEB02.01.126
        </select>
        </td>
    <td class=DataLabel>Password</td>
    <td><input size=12 type=password name=password title="Password"
               onblur="checkPasswrd(document.ReportForm.keystr03,
                                    document.ReportForm.password);"></td>
    </tr>
    </td></tr>

<tr><td class=DataLabel>Cheque Account</td>
    <td><select name=keystr04 title="Cheque Account" class="Mandatory">
        <option></option>
        %RSHWEB02.01.165    
        </select>
    </td></tr>

<tr><td class=DataLabel>Health Fund Received from</td>
    <td><select name=keystr05 title="Health Fund" class="Mandatory">
        <option></option>
        %RSHWEB02.01.114
        </select></td>
    <input type=hidden name=keystr06 value="">
    <td class=DataLabel>Date of Payment
    <td class=DataLabel colspan=2>
    <input type=text name=datran02 size=12 
     onblur="checkDate(this,'Date')" class="Mandatory PastDate" title="Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.datran02">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.datran02">
    </td></tr>

<tr><td class=DataLabel>Payment Type</td>
    <td><select name=keystr07 title="Payment Type" class="Mandatory"
        onchange="setPayData()";> 
        %RSHWEB02.01.187
        </select></td>

    <td class=DataLabel>Payment Amount</td>
    <td><input type=numeric name=keystr08 title="Payment Amount"
         size=12 maxlength=11 class="Mandatory">
    </td></tr>
</table>

 <span id=PayInfo></span> 

<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel>Register</td>
    <td><select name=keystr13 title="Register" class="Mandatory">
        <option></option>
        %RSHWEB02.01.160
        </select>
    </td></tr>

<tr><td class=filetype width=20%>Upload File Type</td>
<td><select name=filetype title="File Type" onchange="SetFile();">
<!-- <option value="1">Browse for a file</option>    -->
    <option value="2" selected>Unix path & file name</option>
    </select>
    </td></tr>
</table>

<div id=FileOption></div>

<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
    <input type=hidden name=keystr15 value="">           
    <input type=hidden name=keystr16 value="">           
    <input type=hidden name=keystr17 value="">           
    <input type=hidden name=keystr18 value="">           
</table>

<span id=HospitalID></span>

<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td align=center colspan=2><br>
    <input type=button value=Ok class="button" 
     name=okaybutt id=okaybutt
     onclick='tempDisable(this);ProcessReport();'>
    <input type=button value=Cancel class="button" 
     name=cancbutt id=cancbutt
     onclick='tempDisable(this);location.href="../lookups/blank.html"' >
    </td></tr>
</td></tr>
</table>

</table>
</form>

<span id=HospID style="display:none;">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
    <tr><td class=DataLabel width=20%>Hospital ID</td>
    <td><select name=hospcode title="Hospital ID" 
         onchange="GetCashiers();GetValRegs();">
    %RSHWEB02.01.122
    </select>
    </td></tr>
</table>
</span>

<span id=dummyH style="display:none;">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
    <input type=hidden name=hospcode value=" ">           
</table>
</span>

<div id=SetDateRange style="display:none;">
    <input type=text size=15 maxlength=12 name=datran01
    onblur="checkDate(this,'Date')" 
    class="Mandatory PastDate" title="From Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.datran01">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="ReportForm.datran01">
    To
    <input type=text size=15 maxlength=12 name=datran02
    onblur="checkDate(this,'Date')" class="Mandatory PastDate" title="To Date">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.datran02">
    <img notab src="../images/DateLookup.gif" class="Icon"
     alt="Calendar" date="ReportForm.datran02">
</div>

<div id=SetScheduleRange style="display:none;">
    <select name=datsch01 title="Schedule Range" class=Mandatory
    onblur=UpReportSchedule(this,ReportForm.SampleFrom,ReportForm.hospcode)>
    <option></option></select>
    Sample 
    <input type=hidden name=SampleFrom size=12> 
    <input type=text name=SampleTo size=12>
</div>

<div id=UnixFile style="display:none">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=20%>Unix Path & File Name</td>
    <td><input type=text name=keystr14 title="Unix Path & File name"
          size=80 maxlength=100 class=Mandatory>
    </td></tr>
</table>
</div>

<div id=BrowseFile style="display:none">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=20%>Path & File Name</td>
    <td><input type=file name=keystr14 title="Path & File name"
          size=80 maxlength=80 class=Mandatory>
         <input type=text size=40 name=filedesc Readonly tabindex=-1
         style=border:0;background:paper.gif;>
    </td></tr>
</table>
</div>

<div id=DirDepos style="display:none">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=20%>Statement Reference</td>
    <td><input type=text name=keystr09 title="Statement Reference"
         size=20 maxlength=15 class="Mandatory">
    </td></tr>
    <input type=hidden name=keystr10 value="">
    <input type=hidden name=keystr11 value="">
    <input type=hidden name=keystr12 value="">
<tr><td>&nbsp;</td></tr>
</table>
</div> 

<div id=ChequeP style="display:none">
<table width=80% align=center border=0 cellspacing=1 cellpadding=1>
    <input type=hidden name=keystr09 value="">
<tr><td class=DataLabel width=20%>Cheque No.</td>
    <td><input type=text name=keystr10 title="Cheque No."
         size=12 maxlength=10 class="Mandatory">
    </td></tr>
<tr><td class=DataLabel>Bank</td>
    <td><input type=text name=keystr11 title="Bank Name"
         size=30 maxlength=30 class="Mandatory">
    </td>
    <td class=DataLabel>Branch</td>
    <td><input type=text name=keystr12 title="Bank Branch"
         size=30 maxlength=30 class="Mandatory">
    </td></tr>
</table>
</div>
