<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function AddB2BDevice(linkurl) {
  Left=(document.body.clientWidth-700)/2
  DFrameLink(linkurl,0,Left,700,400)
}
function UpdateB2BDevice(b2bdevice,b2bhosp) {
  DFrameStart()
  linkurl="../cgi-bin/ihiweb01.pbl?reportno=3&template=3"+
          "&pmndb001="+b2bdevice+
          "&pmndb005="+b2bhosp;
//alert(linkurl);
  Left=(document.body.clientWidth-700)/2
  DFrameLink(linkurl,100,Left,700,400)
}
function updateNIHC(b2bdevice,b2bhosp) {
  DFrameStart()
  linkurl="../cgi-bin/ihiweb01.pbl?reportno=3&template=4"+
          "&pmndb001="+b2bdevice+
          "&pmndb005="+b2bhosp+
          "&nihcdind=D";
        
//alert(linkurl);
  Left=(document.body.clientWidth-1300)/2
  DFrameLink(linkurl,25,Left,1300,900)
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0);>

<div id=HeadingSection>
<form name=SelectPeriod action=ihiweb01.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=3>
  <input type=hidden name=template value=1>
  <input type=hidden name=updttype value=" ">
  <input type=hidden name=nextpage value="6">
  <input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">

</form>
</div>

  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr>
      <td align=right>
        <input type=button value="Add NIHC IHI Device" class="largebutton"
         onclick="AddB2BDevice('ihiweb01.pbl?reportno=3&template=002');">
      </td></tr>
   </table>

<div id=TableLocation></div>

<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
 document.title="NIHC IHI Dashboard";
 t = new Table(1,0,1,"100%","center",35,45);
 t.addColumn("NIHC IHI Device Name","String",0,0,"left","","")
 t.addColumn("NIHC IHI Device Description","String",1,1,"left","","",200)
 t.addColumn("Certificate Generation Date/Time","String",2,2,"left","","")
 t.addColumn("Certificate Expiry Date/Time","String",4,4,"left","","")
 t.addColumn("Hospital ID","String",5,5,"left","","")
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
}
function AddTableRows() {
%IHIWEB01.03.001
}
</script>

