<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateMrMissingDetails() {
  f = document.UpdateForm;
  var theForm = null;
  if (typeof parent.document.forms['UpdateForm'] != "undefined") {
    theForm = parent.document.forms['UpdateForm'];
  }
  if(theForm != null) {
    parent.SetMissingCommentFlag(f.retfield.value,
                                 f.cdatafld.value,
                                 f.pdisccom.value);
  }

  UpdateForm.updttype.value = "P"; 
  SubmitHidden(UpdateForm);
}
function ProcessCancel() {
  DFrameExit();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="ProcessCancel();">
Missing Details Comment
</span>

<div id=PageBodySection>
<form name=UpdateForm action="mrtweb02.pbl" method=post>
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="5">
<input type=hidden name=updttype value="P">
<input type=hidden name=nextpage value="6">
<input type=hidden name=urnumber value="%MRTWEB02.01.003">
<input type=hidden name=admissno value="%MRTWEB02.01.081">
<input type=hidden name=mscom007 value="%MRTWEB02.01.479">
<input type=hidden name=mscom008 value="%MRTWEB02.01.480">
<input type=hidden name=retfield id=retfield value="%MRTWEB02.01.482">
<input type=hidden name=cdatafld id=cdatafld value="%MRTWEB02.01.484">

<table width=100% border=0 cellpadding=1 cellspacing=0>
<tr><td width=4%>&nbsp;</td></tr>
<tr><td class=DataLabel valign=top></td>
    <td><textarea name=pdisccom rows=5 cols=80 wrap=hard
         title="Comments"
         onblur="CheckLimits(this,5,400);">%MRTWEB02.01.472</textarea>
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>

<table width=100% border=0 cellpadding=1 cellspacing=0>
<tr><td colspan=8 align=center>
    <input type=button class=button value="Update" name=btnUpdate id=btnUpdate
     onclick="tempDisable(this);UpdateMrMissingDetails();">
    <input type=button class=button value="Cancel" name=btnCancel id=btnCancel 
     onclick="ProcessCancel();">
</td></tr>
<tr><td>&nbsp;</td></tr>
</table>
</form>
</div>
