<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function mandatoryPrinter() {
  if (!isWhitespace(document.AddForm.mrtlc008.value)) {
    document.AddForm.mrtlc007.className="Mandatory";
  } else {
    document.AddForm.mrtlc007.className="";
  }
}
function DisplayUsingReceipt() {
 if(document.AddForm.mrcntrec.value=="1") {
    Receipt.innerHTML=DisplayReceipt.innerHTML
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);DisplayUsingReceipt();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=AddForm method=post action=mrtweb01.pbl style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=superlev value="%MRTWEB01.01.019">
<input type=hidden name=mrcntrec value="%STANDARD.01.025.097.176.0.1">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">

<table align=center cellspacing=2 cellpadding=1 width=90% border=0>

<!-- Display Mult Hospital Selection List when ibcnmhos=1 -->
%MRTWEB01.01.012

<tr><td class=DataLabel width=50%>Location Code</td>
      <td><input type=text name=mrtlc001 id=mrtlc001 class="Mandatory AlphaNum"
           title="Location Code" size=5 maxlength=4>
</td></tr>

<tr><td class=DataLabel>Description</td>
      <td><input type=text name=mrtlc002 id=mrtlc002 class=Mandatory
           title="Description"
           size=31 maxlength=30>
</td></tr>

<tr><td class=DataLabel>Type</td>
      <td><select name=mrtlc003 id=mrtlc003 title="Type">
          <option></option>
          %MRTWEB01.01.003.2
          </select>
</td></tr>

<tr><td class=DataLabel>Indicator</td>
    <td class=DataLabel>Internal<input type=radio name=mrtlc004 id=i_mrtlc004
        value=0 checked>
                        External<input type=radio name=mrtlc004 id=e_mrtlc004
        value=1>
</td></tr>

<tr><td class=DataLabel>Status Indicator</td>
      <td><input type=checkbox name=mrtlc005 id=mrtlc005
           title="Status Indicator" 
           value=2 size=1 checked>
</td></tr>

<tr><td class=DataLabel>Single Record Request Printer</td>
      <td><select name=mrtlc007 id=mrtlc007
           title="Single Record Request Printer">
          <option></option>
          %MRTWEB01.01.010
          </select>
</td></tr>

<tr><td class=DataLabel>Bulk Record Request Printer</td>
      <td><select name=mrtlc011 id=mrtlc011
           title="Bulk Record Request Printer">
          <option></option>
          %MRTWEB01.01.014
          </select>
</td></tr>

<tr><td class=DataLabel>Stationery Code</td>
      <td><select name=mrtlc008 id=mrtlc008 title="Stationery Code"
           onchange="mandatoryPrinter();">
          <option></option>
          %MRTWEB01.01.011
          </select>
</td></tr>

<tr><td class=DataLabel>Priority Location</td>
    <td><input type=checkbox name=mrtlc010 id=mrtlc010
         title="Priority Location" value=1>
    </td></tr>
</table>

<div id="Receipt"></div>

<table align=center cellspacing=2 cellpadding=1 width=90% border=0>
<tr><td colspan=2 align=center><br>
    <input type=button value="Add" class="button"
     onclick="tempDisable(this);SubmitForm()">    
    <input type=button value=Close class="button"
     onclick="DFrameCloseRefresh()">
</td></tr>
</table>

</form>

<div id=DisplayReceipt style="display: none">
<table align=center cellspacing=2 cellpadding=1 width=90% border=0>
<tr><td class=DataLabel width=50%>Using Tracking Receipt For This Location</td>
    <td><input type=checkbox name=mrtlc012 id=mrtlc012
         title="Using Tracking Receipt For This Location" value=1>
    </td></tr>
</table>
</div>

<script type="text/javascript">
if(document.AddForm.superlev.value!="1" &&
   document.AddForm.ibcnmhos.value=="1") {
   document.AddForm.mrtlc009.remove(0);
   for (var i=0; i < document.AddForm.mrtlc009.length; i++) {
     if (document.AddForm.mrtlc009.options[i].value!="%STANDARD.01.032") {
         document.AddForm.mrtlc009.remove(i);
         i--;
     }
   }
}
</script>
