<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function checkID() {
  a=document.AddForm.secureid.value;
  b=document.AddForm.securepw.value;
  if (isWhitespace(a) || isWhitespace(b)) {
    alert("Please enter User ID and Password!");
    if (isWhitespace(a)) {
      document.AddForm.secureid.focus();
      return;
    }
    if (isWhitespace(b)) {
      document.AddForm.securepw.focus();
      return;
    }
  }
}
function ListServ() {
  if (typeof parent.AddForm.addtempl != 'undefined' &&
      parent.AddForm.addtempl.value == "1") {
    DFrameExit();
  }
  else {
    linkurl = "../cgi-bin/mrtweb05.pbl?reportno=03&template=001" +
              "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+") +
              "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
              "&superlev=" + PatientLinks.superlev.value.replace(/ /g,"+") ;
    location.href=linkurl;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Add Coding Comments
</span>

<form name=AddForm action="mrtweb05.pbl" method=post style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=notetype value="004">
<input type=hidden name=nextpage value="">
<input type=hidden name=admissno value="%MRTWEB05.03.081">
<input type=hidden name=urnumber value="%MRTWEB05.03.003">

<table width=95% align=center border=0 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel nowrap>User Id &nbsp;</td>
    <td><input type=hidden name=securety id=securety value="2">
        <input type=text size=12 name=secureid id=secureid
         class="Mandatory NoAutoFocus" title="User ID" value="%STANDARD.01.043">
    Password
      <input type=password size =12 name=securepw id=securepw class=Mandatory
        title="Password" onfocus="SetCaretPosition('securepw',-1);" 
        onblur="checkPass();">
    </td></tr>
<tr><td class=DataLabel>Date</td>
    <td class=DataLabel>
    <input type=text name=pastdt id=pastdt readonly
  value='%STANDARD.01.015' title="Date"
  class='PastDate Mandatory' Size=12 onblur="checkDate(this,'Date')"> 
    Time
    <input type=text size=8 class=Mandatory title="Time" readonly
     name=pasttm id=pasttm value='%STANDARD.01.016'>
   </td></tr>
<tr><td class=DataLabel valign=top>Notes</td>
    <td><textarea name=visnotes id=visnotes rows=10 cols=100 wrap=hard
         onkeyup="checkID();"></textarea>
    </td></tr>
<tr><td colspan=2 align=center>
    <input type=button class="button" value="Add" id="btnAdd" name="btnAdd"
     onclick="tempDisable(this,3);SubmitForm();">
    <input type=button class="button" value="List" onclick='ListServ();'>
    <input type=button class="button" value="Cancel" 
     onclick="DFrameExit();">
    </td></tr>
</table>
</form>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=002>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=admissno value="%MRTWEB05.03.081">
<input type=hidden name=urnumber value="%MRTWEB05.03.003">
<input type=hidden name=superlev value="%MRTWEB05.03.208">
<input type=hidden name=MenuType value="11">
</form>

<script type="text/javascript">

var noreload;

try{
    noreload=parent.document.UpdateForm.noreload.value;
    if(noreload==1){
       document.AddForm.nextpage.value="6";
    }
    else{
       document.AddForm.nextpage.value="0";
    }
}
catch(e){
   document.AddForm.nextpage.value="0";
}
</script>
