<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript">
function SubmitParent() {
  parent.UpdateForm.statcode.value=document.AddForm.statcode.value;
  parent.UpdateForm.printsel.value=document.AddForm.printsel.value;
  parent.UpdateForm.updttype.value="P";
  parent.UpdateForm.target="PopUpFrame";     
  parent.UpdateForm.submit();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write("Print Cancer Registration");
</script>
</span>

<div id=PageBodySection style="overflow: auto;">
<form name=AddForm method=post action=mrtweb02.pbl style="margin:0">
<table align=center width=95% border=0 cellpadding=1>
<tr><td class=DataLabel><br>Stationery Code</td>
    <td><br><select name=statcode title="Printer" class=Mandatory>
        <option></option>
        %MRTWEB02.08.462
        </select>
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=printsel title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.MRTWEB02.08
        </select>
    </td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Ok" class="button" name=Okbuttn
     onclick="tempDisable(this);SubmitParent()">
    <input type=button value=Close class="button" onclick="DFrameClose()">
</td></tr>
</table>
</form>
</div>
