<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/mrtweb01.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<form name=UpdateForm action="mrtweb01.pbl" method=get style="margin:0">
<input type=hidden name=reportno value=12>
<input type=hidden name=template value=003>
<input type=hidden name=mrttd001 value="%MRTWEB01.12.101">
<input type=hidden name=mrttd002 value="%MRTWEB01.12.102">
<input type=hidden name=mrttd003 value="%MRTWEB01.12.103">
<input type=hidden name=updttype value="">
<input type=hidden name=pripre value="%MRTWEB01.12.111">
<input type=hidden name=seqpre value="%MRTWEB01.12.112">
<input type=hidden name=compre value="%MRTWEB01.12.113">
<input type=hidden name=asspre value="%MRTWEB01.12.114">
<input type=hidden name=lofpre value="%MRTWEB01.12.115">
<input type=hidden name=dispre value="%MRTWEB01.12.116">
<input type=hidden name=oprpre value="%MRTWEB01.12.117">
<input type=hidden name=morpre value="%MRTWEB01.12.118">

<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
  <tr><td class=DataLabel>Prefix</td>
      <td><select name=mrttd004 id=mrttd004 class=Mandatory title="Prefix"
           onchange="CheckPrefix(this,UpdateForm);">           
          <option value="%MRTWEB01.12.117">%MRTWEB01.12.117</option>
          <option value="%MRTWEB01.12.111">%MRTWEB01.12.111</option>
          <option value="%MRTWEB01.12.114">%MRTWEB01.12.114</option>
          <option value="%MRTWEB01.12.112">%MRTWEB01.12.112</option>
          <option value="%MRTWEB01.12.113">%MRTWEB01.12.113</option>
          <option value="%MRTWEB01.12.115">%MRTWEB01.12.115</option>
          <option value="%MRTWEB01.12.118">%MRTWEB01.12.118</option>
          <option value="%MRTWEB01.12.116">%MRTWEB01.12.116</option>
          <option value="I">I</option>
          <option value="N">N</option>
          </select></td></tr>

  <tr><td class=DataLabel>ICD Code</td>
      <td><input type=text name=mrttd005 id=mrttd005 title="ICD Code" size=10
           class=Mandatory value="%MRTWEB01.12.105" readonly>

  <tr><td class=DataLabel>ICD Description</td>
      <td><input type=text size=110 name=mrttd006 id=mrttd006
           class=Mandatory maxlength=200
           title="ICD Description" value="%MRTWEB01.12.106">
           </td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Update" id="updbuttn" class="button"
     onclick="tempDisable(this);setFormactn('U');">
    <input type=button value="Delete" id="delbuttn" class="button"
     onclick="tempDisable(this);setFormactn('D');">
    <input type=button Value="Close" class="button"
     onclick="DFrameExit();">
    </td></tr>

</table>
</form>

<script type="text/javascript">
for (var i =0 ; i < document.UpdateForm.mrttd004.length; i++) {
     if (document.UpdateForm.mrttd004.options[i].value=="%MRTWEB01.12.104") {
         document.UpdateForm.mrttd004.selectedIndex=i } };
</script>
