<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Print Requisitions 
</span>
<form name=PrintForm method=post action=oprweb06.pbl style="margin:0">
<input type=hidden name=reportno value=14>
<input type=hidden name=template value=004>
<input type=hidden name=updatety value="P">
<input type=hidden name=urnumber value='%OPRWEB06.14.003'>
<input type=hidden name=admissno value='%OPRWEB06.14.081'>
<input type=hidden name=MenuType value='%OPRWEB06.14.088'>
<input type=hidden name=casekeys value="%OPRWEB06.14.101">
<input type=hidden name=uniqueky value="%OPRWEB06.14.110">
<input type=hidden name=teamnumb value="%OPRWEB06.14.301">

<table width=90% border=0 align=center>
<tr><td class=DataLabel>Printer</td>
    <td><select name=selprint title="Printer">
        %STANDARD.01.001.OPRWEB06.14
        </select>
    </td></tr>

<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=nocopies title='Number of Copies'>
       <option value=" 1">1</option>
       <option value=" 2">2</option>
       <option value=" 3">3</option>
       <option value=" 4">4</option>
       <option value=" 5">5</option>
       <option value=" 6">6</option>
       <option value=" 7">7</option>
       <option value=" 8">8</option>
       <option value=" 9">9</option>
       <option value=" 10">10</option>
        </select>
    </td></tr>

<tr><td align=center colspan=2><br>
   <input type=button value=Ok class="button"  id="btnOk"
    onclick='tempDisable(this);PrintForm.submit();'>
   <input type=button value=Cancel class="button"
    onclick="DFrameClose();" >
   </td></tr>
</table>
</form>
