<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function getDoctorLevel(valddoct,doclevel) {
 if (valddoct!="") {
  var serverURL = "../cgi-bin/comweb81.pbl?reportno=67" +
                  "&valddoct=" + valddoct.replace(/ /g,"+");
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value
    if(ReturnValue == "S") {
      doclevel.classList.add("Mandatory");       
    } else {
      doclevel.classList.remove("Mandatory");
    }
  }
 } else {
   doclevel.classList.remove("Mandatory");
 }
 return;
}

function initDoctorLevel() {
u=document.UpdateForm;
if(!isWhitespace(u.opses032.value)){getDoctorLevel(u.opses032.value,u.opses040)}
if(!isWhitespace(u.opses033.value)){getDoctorLevel(u.opses033.value,u.opses041)}
if(!isWhitespace(u.opses034.value)){getDoctorLevel(u.opses034.value,u.opses042)}
if(!isWhitespace(u.opses035.value)){getDoctorLevel(u.opses035.value,u.opses043)}
if(!isWhitespace(u.opses036.value)){getDoctorLevel(u.opses036.value,u.opses044)}
if(!isWhitespace(u.opses037.value)){getDoctorLevel(u.opses037.value,u.opses045)}
if(!isWhitespace(u.opses038.value)){getDoctorLevel(u.opses038.value,u.opses046)}
if(!isWhitespace(u.opses039.value)){getDoctorLevel(u.opses039.value,u.opses047)}
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);DisplayUpdateCaseDefTeam();initDoctorLevel();">
<span class=DFrameTitleBar>
<img border=0 align=right src="../images/ExitIcon.gif" 
     onclick="DFrameExit();">
<script language=javascript>
  document.write("Theatre Case Team Details");
</script>
</span>
<script type="text/javascript">
function setCgiVar() {
  f = document.UpdateForm;
  f.opses003.value = f.sesskeys.value.substring(16,22);
  
  if (f.chkboxTeamComp.checked) {
    f.opses078.value = "1";
  }
  else {
    f.opses078.value = "0";
  }

  if (f.d_opses085.checked) {
    f.opses085.value = "1";
  }
  else {
    f.opses085.value = "0";
  }

  setFormactn('U');
}

function ShowTeamCompletedByFields() {
  if (!isWhitespace(document.UpdateForm.opseucdt.value)) {
    document.getElementById('divCompBy').innerHTML = 
     document.getElementById('spCompBy').innerHTML;
  }

  if (!isWhitespace(document.UpdateForm.opseuudt.value)) {
    document.getElementById('divUpdtBy').innerHTML = 
     document.getElementById('spUpdtBy').innerHTML;
  }
}

function HideTeamCompletedByFields() {
  document.getElementById('divCompBy').innerHTML = "";
  document.getElementById('divUpdtBy').innerHTML = "";
}

function ToggleDefTeamComp(chkBox) {
  if (chkBox == undefined)
    return;

  if (chkBox.checked == true) {
    document.UpdateForm.opses078.value = "1";
  }
  else {
    HideTeamCompletedByFields();
  }
}

//C-0825792 - Check Use pmshcpaf/oprnuraf for OT Nurse
function chkHcpOTNurse(){
  if (document.getElementById('opcnurse')) {
      if (document.getElementById('opcnurse').value == "1") {
        return true;
      }
      else {
        return false;
      }
  }
  else {
      return false;
  }
}
//C-0825792 - Search Nurse from pmshcpaf/oprnuraf for OT Nurse
function SearchOTNurse(NurseId,ReturnNurseName) {
  var hcpnurse = chkHcpOTNurse();
  if (hcpnurse==true){
     HCPSearchFrame(NurseId,ReturnNurseName,20);
  }
  else {
     NurseSearchFrame(NurseId,ReturnNurseName);
  }
}
//C-0825792 - Validate nurse from pmshcpaf/oprnuraf for OT Nurse
function validateOTNurse(NurseId,ReturnNurseName) {
  var hcpnurse = chkHcpOTNurse();
  if  (hcpnurse==true){
       validateNurseCode(18,NurseId,ReturnNurseName);
  }
  else {
       validateNurseCode(17,NurseId,ReturnNurseName);
  }
}
function DisplayUpdateCaseDefTeam() {
  if (VariableNameExists('UpdateSessionDefaultTeamtoArrivedTheatreCases')) {
    if (UpdateSessionDefaultTeamtoArrivedTheatreCases == true) {
      document.getElementById('UpdateCaseDefTeam').style.display = "";
      document.getElementById('d_opses085').checked = 1;
    }
    else {
      document.getElementById('UpdateCaseDefTeam').style.display = "none";
    }
  }
  else {
    document.getElementById('UpdateCaseDefTeam').style.display = "none";
  }
}
</script>

<form name=UpdateForm method=get action=oprweb05.pbl style="margin:0"> 
     <input type=hidden name=reportno value="02">
     <input type=hidden name=template value="007">
     <input type=hidden name=updttype value="">
     <input type=hidden name=opses001 value="%OPRWEB05.02.102">
     <input type=hidden name=opses002 value="%OPRWEB05.02.103">
     <input type=hidden name=sesstime value="%OPRWEB05.02.103">
     <input type=hidden name=opses003 value="">
     <input type=hidden name=opses074 value="%OPRWEB05.02.179.1">
     <input type=hidden name=opses007 value="%OPRWEB05.02.108">
     <input type=hidden name=opses008 value="%OPRWEB05.02.109">
     <input type=hidden name=opses009 value="%OPRWEB05.02.110">
     <input type=hidden name=opses010 value="%OPRWEB05.02.111">
     <input type=hidden name=opses011 value="%OPRWEB05.02.112.1">
     <input type=hidden name=opses012 value="%OPRWEB05.02.113.1">
     <input type=hidden name=sesskeys value="%OPRWEB05.02.101"> 
     <input type=hidden name=opses024 value="%OPRWEB05.02.301"> 
     <input type=hidden name=opcnclsu value="%STANDARD.01.025.040.111.1.1">
     <input type=hidden name=opcnusan value="%STANDARD.01.025.042.071.1.1">
     <input type=hidden name=opses078 value="%OPRWEB05.02.183">
     <input type=hidden name=opseucdt value="%OPRWEB05.02.184">
     <input type=hidden name=opseuudt value="%OPRWEB05.02.187">
     <input type=hidden name=opcnurse id=opcnurse
            value="%STANDARD.01.025.113.051.0.1">
     <input type=hidden name=opseuudt value="%OPRWEB05.02.187">
     <input type=hidden name=teamupdt value="1">
     <input type=hidden name=opses085>
     
<table align=center cellspacing=0 border=0 width=100%>
<tr><td class=HeadingCell width=33%><b>Operating Personnel</b></td>
    <td class=HeadingCell width=43%><b>Doctor</b></td>
    <td class=HeadingCell width=24%><b>Supervision Level</b></td></tr>

<tr><td><select name=opersurg class=Readonly readonly title="Doctor Type1">
        <option></option>
         %OPRWEB05.02.129.2
        </select></td>
    <td><input type=text name=opses032 id=opses032 title="Doctor Code1" size=6 
         class=Mandatory maxlength=6 value="%OPRWEB05.02.137.003"
         onblur="UpCase(this);validateCode(31,opses032,name_opses032);getDoctorLevel(opses032.value,opses040);">
        <input type=text name=name_opses032 id=name_opses032 title="Doctor1"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.137.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses032,name_opses032);"></td> 
    <td><select name=opses040 title="Supervision Level 1" class=DataField>
        <option></option>
         %OPRWEB05.02.145.2
        </select></td></tr>
<tr><td><select name=opses025 class=DataField title="Doctor Type2">
        <option></option>
         %OPRWEB05.02.130.2
        </select></td>
    <td><input type=text name=opses033 id=opses033 title="Doctor Code2" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.138.003"
         onblur="UpCase(this);validateCode(31,opses033,name_opses033);getDoctorLevel(opses033.value,opses041);">
         <input type=text name=name_opses033 id=name_opses033 title="Doctor2"
          class=Readonly readonly size=22 maxlength=30
          value="%OPRWEB05.02.138.002">
         <img src="../images/SearchIcon.gif" class=Icon
          onclick="DoctorSearchFrame(opses033,name_opses033);"></td>
    <td><select name=opses041 title="Supervision Level 2" class=DataField>
        <option></option>
         %OPRWEB05.02.146.2
        </select> </td></tr>
<tr><td><select name=opses026 class=DataField title="Doctor Type3">
        <option></option>
         %OPRWEB05.02.131.2
        </select></td>
    <td><input type=text name=opses034 id=opses034 title="Doctor Code3" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.139.003"
         onblur="UpCase(this);validateCode(31,opses034,name_opses034);getDoctorLevel(opses034.value,opses042);">
        <input type=text name=name_opses034 id=name_opses034 title="Doctor3"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.139.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses034,name_opses034);"></td>
    <td><select name=opses042 title="Supervision Level 3" class=DataField>
        <option></option>
         %OPRWEB05.02.147.2
        </select></td></tr>
<tr><td><select name=opses027 class=DataField title="Doctor Type4">
        <option></option>
         %OPRWEB05.02.132.2
        </select></td>
    <td><input type=text name=opses035 id=opses035 title="Doctor Code4" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.140.003"
         onblur="UpCase(this);validateCode(31,opses035,name_opses035);getDoctorLevel(opses035.value,opses043);">
        <input type=text name=name_opses035 id=name_opses035 title="Doctor4"
         class=Readonly readonly size=22 maxlength=30 
         value="%OPRWEB05.02.140.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses035,name_opses035);"></td>
    <td><select name=opses043 title="Supervision Level 4" class=DataField>
        <option></option>
         %OPRWEB05.02.148.2
        </select></td></tr>
<tr><td><select name=opses028 class=DataField title="Doctor Type5">
        <option></option>
         %OPRWEB05.02.133.2
        </select></td>
    <td><input type=text name=opses036 id=opses036 title="Doctor Code5" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.141.003"
         onblur="UpCase(this);validateCode(31,opses036,name_opses036);getDoctorLevel(opses036.value,opses044);">
        <input type=text name=name_opses036 id=name_opses036 title="Doctor5"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.141.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses036,name_opses036);"></td>
    <td><select name=opses044 title="Supervision Level 5" class=DataField>
        <option></option>
         %OPRWEB05.02.149.2
        </select></td></tr>
<tr><td><select name=opses029 class=DataField title="Doctor Type6">
        <option></option>
         %OPRWEB05.02.134.2
        </select></td>
    <td><input type=text name=opses037 id=opses037 title="Doctor Code6" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.142.003"
         onblur="UpCase(this);validateCode(31,opses037,name_opses037);getDoctorLevel(opses037.value,opses045);">
        <input type=text name=name_opses037 id=name_opses037 title="Doctor6"
         class=Readonly readonly size=22 maxlength=30 
         value="%OPRWEB05.02.142.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses037,name_opses037);"></td>
    <td><select name=opses045 title="Supervision Level 6" class=DataField>
        <option></option>
         %OPRWEB05.02.150.2
        </select></td></tr>
<tr><td><select name=opses030 class=DataField title="Doctor Type7">
        <option></option>
         %OPRWEB05.02.135.2
        </select></td>
    <td><input type=text name=opses038 id=opses038 title="Doctor Code7" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.143.003"
         onblur="UpCase(this);validateCode(31,opses038,name_opses038);getDoctorLevel(opses038.value,opses046);">
        <input type=text name=name_opses038 id=name_opses038 title="Doctor7"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.143.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses038,name_opses038);"></td>
    <td><select name=opses046 title="Supervision Level 7" class=DataField>
        <option></option>
         %OPRWEB05.02.151.2
        </select></td></tr>
<tr><td><select name=opses031 class=DataField title="Doctor Type8">
        <option></option>
         %OPRWEB05.02.136.2
        </select></td>
    <td><input type=text name=opses039 id=opses039 title="Doctor Code8" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.144.003"
         onblur="UpCase(this);validateCode(31,opses039,name_opses039);getDoctorLevel(opses039.value,opses047);">
        <input type=text name=name_opses039 id=name_opses039 title="Doctor8"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.144.002">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="DoctorSearchFrame(opses039,name_opses039);"></td>
    <td><select name=opses047 title="Supervision Level 8" class=DataField>
        <option></option>
         %OPRWEB05.02.152.2
        </select></td></tr>
</table>

<table align=center cellspacing=0 border=0 width=100%>
<tr><td class=HeadingCell width=33%><b>Nurse Type</b></td>
    <td class=HeadingCell width=67%><b>Nurse</b></td></tr>
<tr><td><select name=opses048 class=DataField title="Nurse Type1">
        <option></option>
         %OPRWEB05.02.153.2
        </select></td>
    <td><input type=text name=opses054 id=opses054 title="Nurse Code1" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.159.1"
         onblur="UpCase(this);validateOTNurse(opses054,name_opses054);">
        <input type=text name=name_opses054 id=name_opses054 title="Nurse1"
         class=Readonly readonly size=22 maxlength=30 
         value="%OPRWEB05.02.159.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchOTNurse(opses054,name_opses054);"></td></tr> 
<tr><td><select name=opses049 class=DataField title="Nurse Type2">
        <option></option>
         %OPRWEB05.02.154.2
        </select></td>
     <td><input type=text name=opses055 id=opses055 title="Nurse Code2" size=6 
          class=DataField maxlength=6 value="%OPRWEB05.02.160.1"
          onblur="UpCase(this);validateOTNurse(opses055,name_opses055);">
         <input type=text name=name_opses055 id=name_opses055 title="Nurse2"
          class=Readonly readonly size=22 maxlength=30
          value="%OPRWEB05.02.160.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onclick="SearchOTNurse(opses055,name_opses055);"></td></tr> 
<tr><td><select name=opses050 class=DataField title="Nurse Type3">
        <option></option>
         %OPRWEB05.02.155.2
        </select></td>
    <td><input type=text name=opses056 id=opses056 title="Nurse Code3" size=6 
         class=DataField maxlength=6 value="%OPRWEB05.02.161.1"
         onblur="UpCase(this);validateOTNurse(opses056,name_opses056);">
        <input type=text name=name_opses056 id=name_opses056 title="Nurse3"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.161.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchOTNurse(opses056,name_opses056);"></td></tr>
<tr><td><select name=opses051 class=DataField title="Nurse Type4">
        <option></option>
         %OPRWEB05.02.156.2
        </select></td>
    <td><input type=text name=opses057 id=opses057 title="Nurse Code4" size=6
         class=DataField maxlength=6 value="%OPRWEB05.02.162.1"
         onblur="UpCase(this);validateOTNurse(opses057,name_opses057);">
        <input type=text name=name_opses057 id=name_opses057 title="Nurse4"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.162.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchOTNurse(opses057,name_opses057);"></td></tr> 
<tr><td><select name=opses052 class=DataField title="Nurse Type5">
        <option></option>
         %OPRWEB05.02.157.2
        </select></td>
    <td><input type=text name=opses058 id=opses058 title="Nurse Code5" size=6
         class=DataField maxlength=6 value="%OPRWEB05.02.163.1"
         onblur="UpCase(this);validateOTNurse(opses058,name_opses058);">
        <input type=text name=name_opses058 id=name_opses058 title="Nurse5"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.163.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchOTNurse(opses058,name_opses058);"></td></tr>
<tr><td><select name=opses053 class=DataField title="Nurse Type6">
        <option></option>
         %OPRWEB05.02.158.2
        </select></td>
    <td><input type=text name=opses059 id=opses059 title="Nurse Code6" size=6
         class=DataField maxlength=6 value="%OPRWEB05.02.164.1"
         onblur="UpCase(this);validateOTNurse(opses059,name_opses059);">
        <input type=text name=name_opses059 id=name_opses059 title="Nurse6"
         class=Readonly readonly size=22 maxlength=30
         value="%OPRWEB05.02.164.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchOTNurse(opses059,name_opses059);"></td></tr>
</table>

<table align=center cellspacing=0 border=0 width=100%>
<tr><td class=HeadingCell>&nbsp;</td></tr>
</table>

<table align=center cellspacing=0 border=0 width=100%>
<tr><td width=33%>Default Team Completed?</td>
    <td><input type=checkbox name=chkboxTeamComp
         onclick="ToggleDefTeamComp(this)"></td>
    <td><div id=divCompBy></div></td></tr>
<tr id=UpdateCaseDefTeam>
    <td width=33%>Update Arrived Cases with Default Team</td>
    <td><input type=checkbox name=d_opses085 id=d_opses085></td>
    <td>&nbsp;</td>
</tr>
</table>
<table align=center cellspacing=0 border=0 width=100%>
<tr><td width=33%>&nbsp;</td>
    <td><div id=divUpdtBy></div></td></tr>
</table>

<table align=center cellspacing=0 border=0 width=100%>
<tr><td align=center>
        <input type=button value="Ok" class="button"
          name=formactn id=formactn
         onclick="tempDisable(this);setCgiVar();">
        <input type=button value="Cancel" class="button" 
         onclick="DFrameClose();"></td></tr>
</table>

</form>

<span id=spCompBy style="display:none">
  Team completed by %OPRWEB05.02.184 on %OPRWEB05.02.185 @ %OPRWEB05.02.186
</span>
<span id=spUpdtBy style="display:none">
  Team updated by %OPRWEB05.02.187 on %OPRWEB05.02.188 @ %OPRWEB05.02.189
</span>

<script language=javascript>
for (var i =0 ; i < UpdateForm.opersurg.length; i++) {
  if (UpdateForm.opersurg.options[i].value.substr(0,3)=="%OPRWEB05.02.301") {
    UpdateForm.opersurg.selectedIndex=i;
  } 
}
UpdateForm.opersurg.disabled=true;

if (isWhitespace(UpdateForm.opses032.value) &&
    UpdateForm.opcnclsu=="1") {
  UpdateForm.opses032.value = "%OPRWEB05.02.001";
  UpdateForm.name_opses032.value = "%OPRWEB05.02.002";
}
if (isWhitespace(UpdateForm.opses032.value) &&
    UpdateForm.opcnclsu=="0") {
  UpdateForm.opses032.value = "%OPRWEB05.02.302";
  UpdateForm.name_opses032.value = "%OPRWEB05.02.303";
}
//
if(isWhitespace(document.UpdateForm.opses025.value)) {
 for (var i=0; i < document.UpdateForm.opses025.length; i++) {
  if (document.UpdateForm.opses025.options[i].value.substr(5,1)=="2"){
      document.UpdateForm.opses025.selectedIndex=i;
  }
 }
}
if(isWhitespace(document.UpdateForm.opses026.value)) {
  for (var i=0; i < document.UpdateForm.opses026.length; i++) {
    if (document.UpdateForm.opses026.options[i].value.substr(5,1)=="3"){
      document.UpdateForm.opses026.selectedIndex=i;
    }
  }
}
 if(isWhitespace(document.UpdateForm.opses027.value)) {
  for (var i=0; i < document.UpdateForm.opses027.length; i++) {
   if (document.UpdateForm.opses027.options[i].value.substr(5,1)=="4"){
       document.UpdateForm.opses027.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses028.value)) {
  for (var i=0; i < document.UpdateForm.opses028.length; i++) {
   if (document.UpdateForm.opses028.options[i].value.substr(5,1)=="5"){
       document.UpdateForm.opses028.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses029.value)) {
  for (var i=0; i < document.UpdateForm.opses029.length; i++) {
   if (document.UpdateForm.opses029.options[i].value.substr(5,1)=="6"){
       document.UpdateForm.opses029.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses030.value)) {
  for (var i=0; i < document.UpdateForm.opses030.length; i++) {
   if (document.UpdateForm.opses030.options[i].value.substr(5,1)=="7"){
       document.UpdateForm.opses030.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses031.value)) {
  for (var i=0; i < document.UpdateForm.opses031.length; i++) {
   if (document.UpdateForm.opses031.options[i].value.substr(5,1)=="8"){
       document.UpdateForm.opses031.selectedIndex=i;
   }
  }
 }

//
if(isWhitespace(document.UpdateForm.opses048.value)) {
 for (var i=0; i < document.UpdateForm.opses048.length; i++) {
  if (document.UpdateForm.opses048.options[i].value.substr(4,1)=="1"){
      document.UpdateForm.opses048.selectedIndex=i;
  }
 }
 if(isWhitespace(document.UpdateForm.opses049.value)) {
  for (var i=0; i < document.UpdateForm.opses049.length; i++) {
   if (document.UpdateForm.opses049.options[i].value.substr(4,1)=="2"){
       document.UpdateForm.opses049.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses050.value)) {
 for (var i=0; i < document.UpdateForm.opses050.length; i++) {
   if (document.UpdateForm.opses050.options[i].value.substr(4,1)=="3"){
       document.UpdateForm.opses050.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses051.value)) {
  for (var i=0; i < document.UpdateForm.opses051.length; i++) {
   if (document.UpdateForm.opses051.options[i].value.substr(4,1)=="4"){
       document.UpdateForm.opses051.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses052.value)) {
  for (var i=0; i < document.UpdateForm.opses052.length; i++) {
   if (document.UpdateForm.opses052.options[i].value.substr(4,1)=="5"){
       document.UpdateForm.opses052.selectedIndex=i;
   }
  }
 }
 if(isWhitespace(document.UpdateForm.opses053.value)) {
  for (var i=0; i < document.UpdateForm.opses053.length; i++) {
   if (document.UpdateForm.opses053.options[i].value.substr(4,1)=="6"){
       document.UpdateForm.opses053.selectedIndex=i;
   }
  }
 }
}

if (document.UpdateForm.opses078.value == "1") {
  document.UpdateForm.chkboxTeamComp.checked = true;
  ShowTeamCompletedByFields();
}

//look for first non-prefilled dropdown
if (document.UpdateForm.opcnusan.value=="1") {
  var dropdownNameEnd = 25;
  var dropdownCount = 8
  var dropdownName = "opses0";
  outerloop:
  for (var i = 0; i < dropdownCount; i++) {
    var selectedElement = UpdateForm[dropdownName + dropdownNameEnd];
    var OPERATING_PERSONNEL = selectedElement.value.substr(0,3);
    var OPERATING_DOCTOR = UpdateForm[dropdownName + (dropdownNameEnd+8)].value;
   if(trim(OPERATING_PERSONNEL) == trim("%OPRWEB05.02.304") &&
      trim(OPERATING_DOCTOR) == trim("%OPRWEB05.02.305")) {
     break outerloop;
   }
    if (isWhitespace(selectedElement.value)) {
      innerloop:
      for (var j = 0; j < selectedElement.length; j++) {
        if (selectedElement.options[j].value.substr(0,3)=="%OPRWEB05.02.304") {
          selectedElement.selectedIndex=j;
          var exDrCode = UpdateForm[dropdownName + (dropdownNameEnd+8)]
          exDrCode.value = "%OPRWEB05.02.305";
          var exDrName = UpdateForm["name_"+dropdownName+(dropdownNameEnd+8)];
          exDrName.value = "%OPRWEB05.02.306"; 
          break outerloop;
        }
      }
    } else {
      dropdownNameEnd++;
    };
  }
}
</script>
