<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb06.js"></script>
<script type="text/javascript">
//               Function Called at Submission of Form for Different Updatetype
  function setFormUpdate(type) {
    document.AddForm.updatety.value=type;
    alert("Warning: Billing might need to be adjusted");
    if (type=="U") {
       if (validateMandatory(AddForm)) {
         document.AddForm.submit(); 
       } 
    }
    else {
      if (type=="D") {
        ans=confirm("Are you sure you want to Delete ?")
        if (ans) { 
          document.AddForm.submit() 
        } 
      }
      else {
         document.AddForm.submit(); 
      } 
    }
  }
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Theatre Expensive Items Maintenance 
</span>

    <form name=AddForm action=oprweb06.pbl method=post>
    <input type=hidden name=reportno value=05>
    <input type=hidden name=template value=003>
    <input type=hidden name=updatety value=" ">
    <input type=hidden name=oppei002 value="%OPRWEB06.05.203">
    <input type=hidden name=teamnumb value="%OPRWEB06.05.201"> 
    <input type=hidden name=casekeys value='%OPRWEB06.05.101'>

<table align=center width=95% border=0 cellspacing=0 cellpading=1>
<tr><td class=DataLable>Expensive Item Code</td>
    <td class=DataField><input type=text size=10 name=oppei001 class=Readonly
     readonly title="Expensive Item Code" value="%OPRWEB06.05.202.1">    
    </td></tr>

<tr><td class=DataLable>Item Description</td>
   <td class=DataField ><input type=text size=55 Readonly width=30%
   title="Item Description" name=Desc value="%OPRWEB06.05.202.0" class=Readonly>
     </td></tr>
<tr><td class=DataLable>Quantity</td>
    <td class=DataField > 
    <input type=text size=8 name=oppei003 class="Integer Mandatory" min=1 
     title="Quantity" value="%OPRWEB06.05.204" maxlength=8>
    </td></tr>

<tr><td class=DataLable>No Charge</td>
    <td class=DataField > 
    <input type=checkbox name=oppei004 
     title="No Charge" value="1" checked>
    </td></tr>

<tr><td class=DataLable>Broken/Unused</td>
    <td class=DataField > 
    <input type=checkbox name=oppei005 
     title="Broken/Unused" value="1" checked>
    </td></tr>

    </table>
<table cellspacing=0 cellpadding=1 border=0 width=95% align=center>
<tr><td colspan=3 align=center><br>
    <input type=button class="button" value="Update" id="opr06sub" 
      onclick="tempDisable(this);setFormUpdate('U');">
    <input type=button class="button" value="Delete" 
      onclick="setFormUpdate('D');">
    <input type=button value=Close class="button" 
      onclick="DFrameCloseRefresh()">
   </td></tr>
</table>
</form>

<script type="text/javascript">
if  ("%OPRWEB06.05.206"=="1")
 {
    document.AddForm.oppei004.checked=true;
 }
 else
 {
    document.AddForm.oppei004.checked=false;
 }

if  ("%OPRWEB06.05.207"=="1")
 {
    document.AddForm.oppei005.checked=true;
 }
 else
 {
    document.AddForm.oppei005.checked=false;
 }
</script>

