<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateParent(code,name) {
  parent.ReturnName.value=name;
  parent.ReturnCode.value=code;
  parent.document.getElementById('PopUpScreen').style.display="none";
  window.blur();
  parent.focus();
  if (parent.ReturnCode.type=="hidden") {
    parent.ReturnName.focus(); }
  else {
    parent.ReturnCode.focus(); }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">Equipment Search
</span>
<table cellspacing=0 colspan=4 border=1 width=98%>
<tr><td>
<table cellspacing=0 colspan=4 border=1 width=100%>
%OPRWEB04.14.105
</table>
<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%OPRWEB04.14.106.004"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%OPRWEB04.14.107.004"'>
</td></tr>
</table>
</td></tr>
</table>
