<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">

function CancelSession() {
   if (!validateMandatory(UpdateForm)) {
      return;
   } 

   SetCurrentDateTimeNoFocus(null,UpdateForm.currtime);// UNIX time
   if (SetDateYYYYMMDD(UpdateForm.opses075.value)==
       SetDateYYYYMMDD(UpdateForm.currdate.value)) {
     
      newttime=trim(UpdateForm.opses076.value.replace(/:/g,"")) - 0
     var newttime=trim(UpdateForm.opses076.value.replace(/:/g,"")) - 0
     var currentt=trim(UpdateForm.currtime.value.replace(/:/g,"")) - 0
     if(newttime>currentt){
       alert("Time Notified is in the future");
       return;
     }
   }

   document.UpdateForm.submit(); 
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Cancel Session for %OPRWEB05.02.002 
</span>
<form name=UpdateForm method=get action=oprweb05.pbl style="margin:0">
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="C">
   <input type=hidden name=opses001 value="%OPRWEB05.02.102">
   <input type=hidden name=opses002 value="%OPRWEB05.02.103">
   <input type=hidden name=opses003 value="%OPRWEB05.02.001">
   <input type=hidden name=opses074 value="%OPRWEB05.02.179.1">

   <input type=hidden name=currdate value="%STANDARD.01.015">
   <input type=hidden name=currtime value="%STANDARD.01.016">
<table align=center cellspacing=0 cellpadding=1 width=95% border=0>
<tr><td class=DataLabel>Session Date</td>
    <td class=DataField>%OPRWEB05.02.102</td></tr>

<tr><td class=DataLabel>Start Time</td>
    <td class=DataField>%OPRWEB05.02.103</td></tr>

<tr><td class=DataLabel>Cancellation Reason</td>
    <td><select name=opses023 title="Cancellation Reason" class="Mandatory">
         <option></option>
          %OPRWEB05.02.124.2            
        </select></td></tr>

<tr><td class=DataLabel>Date Notified</td>
    <td><input type=text size=12 name=opses075 id=opses075
         class="Mandatory NotFuturEdate"
         title="Date Notified" value="%OPRWEB05.02.180">
        <img src="../images/DateTimeStamp.gif" class=Icon 
         onClick="SetCurrentDateTime(opses075,null);">
        <img src="../images/DateLookup.gif" class=Icon
         onclick="DateLookupFrame(opses075);"></td></tr>

<tr><td class=DataLabel>Time Notified</td>
    <td><input type=text name=opses076 id=opses076 size=8 
         value="%OPRWEB05.02.181" title="Time Notified"
         onblur="checkTime(this,'Time Notified')" class="Mandatory">
        <img src="../images/DateTimeStamp.gif" class=Icon 
         onClick="SetCurrentDateTime(null,opses076);">
        <img src="../images/TimeLookup.gif" class=Icon
         onclick="TimeLookupFrame(opses076);"></td></tr>

<tr><td colspan=2 align=center><br>
        <input type=button value="Ok" class="button" name=formactn 
         onClick="tempDisable(this);CancelSession();" id="formactn">
        <input type=button value="Cancel" class="button" 
         onClick="DFrameClose();"></td></tr>
</table>
</form>
</BODY></HTML>


