<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb06.js"> </script>
<script language=javascript>
function Validateypcom021() {
  onblurHandler()
  var formatedtext=formateText(UpdateForm.ypcom021,'70')
  if ((formatedtext.split(/[\r\n]/).length>4) ||
      (UpdateForm.ypcom021.value.length > 280)) {
    alert("Specimens Comments - Max 4 lines."
        + "\nPlease remove extra lines to continue.");
    FocusDelay(document.UpdateForm.ypcom021);
    return; }
}
function PostData()
{
	UpdateForm.submit();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Specimens
</span>
<div id=PageBodySection style="overflow: auto;">
   <form name=UpdateForm method=get action=oprweb06.pbl>
   <input type=hidden name=reportno value="8">
   <input type=hidden name=template value="004">
   <input type=hidden name=updatety value="S">
   <input type=hidden name=casekeys value="%OPRWEB06.08.101">
   <input type=hidden name=nextpage value="0">

<table align=center cellspacing=0 cellpadding=1 width=100% border=0>
<tr>
  <td >
    Number of specimens
  </td>
  <td>
    <input type=text name=speci001 title="Number of specimens" size=6 maxlength=6
     value="%OPRWEB06.08.562">
  </td>
</tr>

<tr>
  <td >
    Histopathology Specimens
  </td>
  <td>
    <input type=text name=speci002 title="Histopathology Specimens" 
     size=80 maxlength=80
     value="%OPRWEB06.08.563">
  </td>
</tr>

<tr>
  <td >
    Microbiology Specimens
  </td>
  <td>
    <input type=text name=speci003 title="Microbiology Specimens"
     size=80 maxlength=80
     value="%OPRWEB06.08.564">
  </td>
</tr>

<tr>
  <td >
    Haemotology Specimens
  </td>
  <td>
    <input type=text name=speci004 title="Haemotology Specimens"
     size=80 maxlength=80
     value="%OPRWEB06.08.565">
  </td>
</tr>

<tr>
  <td >
    Other Specimens
  </td>
  <td>
    <input type=text name=speci005 title="Other Specimens"
     size=80 maxlength=80
     value="%OPRWEB06.08.566">
  </td>
</tr>

<tr>
  <td class="DataLabel">Comments</td>
  <td><textarea wrap=hard name=ypcom021 cols=70
       onkeypress="LimitText(this,4,280);"
       onblur="TextareaBlurHandler(this);Validateypcom021();"
       class="DataField" rows=2>%OPRWEB06.08.143.021</textarea></td>
</tr>

</table>
<table align=center cellspacing=0 cellpadding=1 width=100% border=0>
<tr><td colspan=10 align=center><br>
<input type=button id="opr01sub" value="Ok" class="button" 
onclick="tempDisable(this);PostData();">
<input type=button value="Cancel" class="button" onclick=DFrameClose();>
</td></tr>
</table>
</form>
</div>

<script type="text/javascript">
</script>


