<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript" src="../js/oprweb06.js"> </script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
  switch (TableView) {
   case 0: {
   t = new Table(1,0,2,"100%","center",25,25);
   t.addColumn("EAN Number","String",1,1,"left","","",70)
   t.addColumn("Description","String",2,2,"left","","",130)
   t.addColumn("Type of Implant","String",3,3,"left","","",100)
   t.addColumn("Lot/Serial No.","String",4,4,"left","","",80)
   t.addColumn("Quantity","String",5,5,"left","","",40)
   t.addColumn("Link","String",6,6,"center","","",40)

   AddTableRows();
   TableOutput(0,1)    // Order Column,Asc Dsc
   break; 
   }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%OPRWEB06.15.003";
PatientVIS="%OPRWEB06.15.081";
PatientNAM="%OPRWEB06.15.002";
PatientSTA="%OPRWEB06.15.086.078";
PatientALT="%OPRWEB06.15.084";
PatientSEX="%OPRWEB06.15.019";
PatientDOB="%OPRWEB06.15.020";
PatientAGE="%OPRWEB06.15.021";
PatientLOC="%OPRWEB06.15.083";
PatientPRI="%OPRWEB06.15.086.066.1";
PatientUNT="%OPRWEB06.15.066.0";
DoctorCOD="%OPRWEB06.15.082.003";
DoctorNAM="%OPRWEB06.15.082.002";
PatientAID="%OPRWEB06.15.086.090";
PatientIND="%OPRWEB06.15.086.091";
PatientCUR="%OPRWEB06.15.086.092";
PatientCLC="%OPRWEB06.15.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%OPRWEB06.15.086.094";
PatientCDM="%OPRWEB06.15.086.095";
PatientVDH="%OPRWEB06.15.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div>

<div id="TheatreCaseHeading"></div>
<script type="text/javascript">
TheatreHeading="Joint Replacement Registry Implant Details"
CombinedCMBS="%STANDARD.01.025.113.003.0.1"
InsertTheatreCaseHead()
</script>

<table border="0" cellpadding="1" cellspacing="0" width="100%">
<tr><td class=DataLabel width=15%>Theatre</td>
    <td class=DataField width=35%>%OPRWEB06.15.203</td>
    <td class=DataLabel>Unit</td>
    <td class=DataField>%OPRWEB06.15.205.0</td>
    </tr>
<tr><td class=DataLabel>Operation Description</td>
    <td class=DataField>%OPRWEB06.15.206</td>
    <td class=DataLabel>Form Type</td>
    <td class=DataField>%OPRWEB06.15.367</td>
    </tr>
    </table>

<table border="0" cellpadding="1" cellspacing="0" width="98%">
<tr><td align=right>
    <input class="button" id="opr06sub"  type=button value="Registry Details"
     onclick="tempDisable(this);RegFormLink();">
    </td></tr>
    </table>

<div id=HeadingSection></div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%OPRWEB06.15.209
}
</script>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value="15">
<input type=hidden name=template value="001">
<input type=hidden name=urnumber value="%OPRWEB06.15.003">
<input type=hidden name=admissno value="%OPRWEB06.15.081">
<input type=hidden name=casekeys value="%OPRWEB06.15.101">
<input type=hidden name=sesskeys value='%OPRWEB06.15.102.oprweb01.03.003'>
<input type=hidden name=teamnumb value="%OPRWEB06.15.207">
<input type=hidden name=showactn value="%OPRWEB06.15.208">
</form >
