<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" >
function displaySurgeonID() {
  if (document.arrivalForm.oppos052[0].checked) {
    surgeonIDDIV.innerHTML=surgeonIDSPAN.innerHTML;
  } else {
    surgeonIDDIV.innerHTML="<input type=hidden name=opcom015 value=''>";
  }
}
function displayAnaesthetistID() {
  if (document.arrivalForm.oppos053[0].checked) {
    anaesthetistIDDIV.innerHTML=anaesthetistIDSPAN.innerHTML;
  } else {
    anaesthetistIDDIV.innerHTML="<input type=hidden name=xpcom016 value=''>";
  }
}
function displayNurseID() {
  if (document.arrivalForm.oppos054[0].checked) {
    nurseIDDIV.innerHTML=nurseIDSPAN.innerHTML;
  } else {
    nurseIDDIV.innerHTML="<input type=hidden name=ypcom017 value=''>";
  }
}
function validateNurse() {
  var hcpnurse = chkHcpOTNurse();
  if (hcpnurse==true){
     validateCode('18',document.arrivalForm.oppos082,
                       document.arrivalForm.name_oppos082);
  }
  else {
     validateCode('17',document.arrivalForm.oppos082,
                       document.arrivalForm.name_oppos082,
                       document.arrivalForm.gnm,
                       SetNurseName);
  }
}
function SetNurseName() {
arrivalForm.name_oppos082.value=arrivalForm.gnm.value.replace(/\s*$/g,"")+
                              " " +
                            arrivalForm.name_oppos082.value.replace(/\s*$/g,"")
}
function formSubmit(){
  if (document.arrivalForm.opcom015 != undefined &&
      document.arrivalForm.opcom015.type != "hidden") {
    if (isWhitespace(document.getElementById("opcom015").value)) {
     alert("Surgeon Identification of any critical or unexpected concerns " +
            "is a required field. Please enter it now."); 
      return;

    }
  }
  if (document.arrivalForm.xpcom016 != undefined &&
      document.arrivalForm.xpcom016.type != "hidden") {
    if (isWhitespace(document.getElementById("xpcom016").value)) {
   alert("Anaesthetist identification of any critical or unexpected concerns " +
            "is a required field. Please enter it now.");
      return;

    }
  }
  if (document.arrivalForm.ypcom017 != undefined &&
      document.arrivalForm.ypcom017.type != "hidden") {
    if (isWhitespace(document.getElementById("ypcom017").value)) {
   alert("Nursing identification of any critical or unexepected concerns  " +
            "is a required field. Please enter it now.");
      return;

    }
  }
  if(validateMandatory(arrivalForm)) {arrivalForm.submit();}
}
function getTLFCookie() {

  if (GetCookieData("displayTLFCookie") != "unknown") {
    ExpireCookiePath("displayTLFCookie");
    TimeLookupFrame(parent.document.getElementById('opard029'));
  }

}
//C-0825792 - Check parameter to use pmshcpaf/oprnuraf for OT Nurse
function chkHcpOTNurse(){
  if (document.getElementById('opcnurse')) {
      if (document.getElementById('opcnurse').value == "1") {
        return true;
      }
      else {
        return false;
      }
  }
  else {
      return false;
  }
}
//C-0825792 - Search Nurse from pmshcpaf/oprnuraf for OT Nurse
function SearchOTNurse(NurseId,ReturnNurseName) {
  var hcpnurse = chkHcpOTNurse();
  if (hcpnurse==true){
     HCPSearchFrame(NurseId,ReturnNurseName,20);
  }
  else {
     NurseSearchFrame(NurseId,ReturnNurseName);
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);displaySurgeonID();displayAnaesthetistID();
              displayNurseID();getTLFCookie();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<img src="../images/PrinterIcon.gif" class=MenuIcon alt="Print"
onclick="PrintThisPage();" align ="right">
Pre-Skin Incision Timeout Checklist
</span>

<div id=PageBodySection style="overflow: auto;">
<form name=arrivalForm method=get action=oprweb01.pbl>
<input type=hidden name=reportno value=5>
<input type=hidden name=template value=016>
<input type=hidden name=updatedg value="1">
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.081">
<input type=hidden name=anaesTime value="%OPRWEB01.04.133">
<input type=hidden name=mindelay value="%OPRWEB01.04.602">
<input type=hidden name=casekeys value="%OPRWEB01.04.101">
<input type=hidden name=gnm id=gnm>
<input type=hidden name=gwnm id=gwnm>
<input type=hidden name=nextpage value="9">
<input type=hidden name=tlfrckie id=tlfrckie value="">
<input type=hidden name=opcnurse id=opcnurse
       value="%STANDARD.01.025.113.051.0.1">

<table border="0" cellpadding="0" cellspacing="0" width="100%" >
<tr><td class=DataLabel>Patient Name:</td>
    <td class=DataField>%OPRWEB01.04.002</td>
    <td>&nbsp</td>
    <td class=DataLabel>Date of Birth</td>
    <td class=DataField>%OPRWEB01.04.020</td></tr>

<tr><td class=DataLabel>UR Number:</td>
    <td class=DataField>%OPRWEB01.04.003</td>
    <td>&nbsp</td>
    <td class=DataLabel>Visit Number:</td>
    <td class=DataField>%OPRWEB01.04.081</td></tr>

<tr><td class=DataLabel>Consulting Doctor:</td>
    <td class=DataField>%OPRWEB01.04.082.002</td>
</tr>

<tr align=left><td align=center colspan="5"><hr></td></tr>

<tr><td class=DataLabel>Scheduled Procedure</td>
    <td class=DataField>%OPRWEB01.04.121.0</td>
    <td>&nbsp</td>
    <td class=DataLabel>Session Date</td>
    <td class=DataField>%OPRWEB01.04.306 %OPRWEB01.04.302</td></tr>

<tr align=left><td align=center colspan="5"><hr></td></tr>

<tr width=100% align=center><td width=70% colspan=4 valign=top>
<!-- Left Hand Side of the screen -->
    <table border="1" cellpadding="0" cellspacing="0" width="100%" >
    <tr><td class=DataLabel width=70%>
&nbsp;Confirm all team members have introduced themselves by name and role
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos047 value="2">Yes
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos047 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
&nbsp;Surgeon, Anaesthetist and Nurses verbally confirm:
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataLabel align=left width=49%>
        &nbsp;Patient
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos048 value="2">Yes
        <input type=radio name=oppos048 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataLabel align=left width=49%>
        &nbsp;UR Number
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos049 value="2">Yes
        <input type=radio name=oppos049 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataLabel align=left width=49%>
        &nbsp;Site
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos050 value="2">Yes
        <input type=radio name=oppos050 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataLabel align=left width=49%>
        &nbsp;Procedure
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos051 value="2">Yes
        <input type=radio name=oppos051 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        &nbsp;<b>Surgeon</b> identification of any critical or unexpected concerns
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos052 value="2" 
         onclick="displaySurgeonID();">Yes
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos052 value="1" checked 
         onclick="displaySurgeonID();">No</td>
        </td>
        </tr>
        </table>
    </tr>

    <tr>
      <td>
      </td>
      <td><div id=surgeonIDDIV>
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=opcom015 id=opcom015>%OPRWEB01.04.143.015</textarea>
        </div>
      </td>
    </tr>

    <tr><td class=DataLabel width=70%>
        &nbsp;<b>Anaesthetist</b> identification of any critical or unexpected concerns
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos053 value="2"
         onclick="displayAnaesthetistID();">Yes
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos053 value="1" checked
         onclick="displayAnaesthetistID();">No</td>
        </td>
        </tr>
        </table>
    </tr>

    <tr>
      <td>
      </td>
      <td><div id=anaesthetistIDDIV>
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=xpcom016 id=xpcom016>%OPRWEB01.04.143.016</textarea>
        </div>
      </td>
    </tr>

    <tr><td class=DataLabel>
        &nbsp;<b>Nursing</b> identification of any critical or unexepected concerns
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos054 value="2"
         onclick="displayNurseID();">Yes
        </td>
        <td class=DataField align=left valign=top>
        <input type=radio name=oppos054 value="1" checked
         onclick="displayNurseID();">No</td>
        </td>
        </tr>
        </table>
    </tr>

    <tr>
      <td>
      </td>
      <td><div id=nurseIDDIV>
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=ypcom017 id=ypcom017>%OPRWEB01.04.143.017</textarea>
        </div>
      </td>
    </tr>

    <tr><td class=DataLabel>
        &nbsp;Sterility (including indicator results) has been confirmed
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos055 value="2">Yes
        <input type=radio name=oppos055 value="1" checked>No</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        &nbsp;Antibiotic prophylaxis been given within the last 60 minutes
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos027 value="2">Yes
        <input type=radio name=oppos027 value="1" checked>No
        <input type=radio name=oppos027 value="3">Not Applicable</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        &nbsp;Has thromboprophylaxis been ordered?
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos028 value="2">Yes
        <input type=radio name=oppos028 value="1" checked>No
        <input type=radio name=oppos028 value="3">Not Applicable</td>
        </td>
        </tr>
        </table>
    </tr>
    <tr><td class=DataLabel>
        &nbsp;Is essential imaging displayed?
        </td>
        <td class=DataField align=left>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tr>
        <td class=DataField align=left valign=top width=69%>
        <input type=radio name=oppos029 value="2">Yes
        <input type=radio name=oppos029 value="1" checked>No
        <input type=radio name=oppos029 value="3">Not Applicable</td>
        </td>
        </tr>
        </table>
    </tr>
    </table>
   </td>
</tr>

    <tr>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td class=DataLabel width=40% valign=top>
      &nbsp;Pre-Skin Incision Timeout Comments</td>
      <td colspan=3>
        <textarea wrap=hard cols=50 rows=3 
         name=zpcom018 id=zpcom018>%OPRWEB01.04.143.018</textarea>
      </td>
    </tr>

<tr><td class=DataLabel width=40%>&nbsp;Nurse Name</td>
    <td class=DataField>
    <input type=text name=oppos082 id=oppos082 title="Nurse Name Code" size=6
      class=DataField  maxlength=6 value="%OPRWEB01.04.621. 97.1"
     onblur=validateNurse()>
    <input type=text name=name_oppos082 id=name_oppos082 
     title="Nurse Name Desc" class=ReadOnly readonly size=22 maxlength=30 
     value="%OPRWEB01.04.621. 97.0">
    <img src="../images/SearchIcon.gif" align=absmiddle
     onClick="SearchOTNurse(oppos082,name_oppos082);">
     </td></tr>

<tr><td class=DataLabel>
    &nbsp;Pre-Incision Timeout Checklist Completion date/time</td>
    <td class=DataLabel>
    <input type=text name=oppos087 id=oppos087 size=12 
     value="%OPRWEB01.04.621. 87" 
     title="Pre-Incision timeout Checklist Completion Date"
     onblur="checkDate(this,this.title);">
    <img src=../images/DateLookup.gif class=Icon date=arrivalForm.oppos087>
    Time
    <input type=text name=oppos057 size=6 value="%OPRWEB01.04.621. 57"
    title="Pre-Incision timeout Checklist Completion Time">
    <img src=../images/DateTimeStamp.gif class=Icon date=arrivalForm.oppos087
     time=arrivalForm.oppos057>
    <img src=../images/TimeLookup.gif class=Icon time=arrivalForm.oppos057>
    </td>
</tr>

<tr><td colspan=7 align=center>
        <input class="button" id="opr01sub" type=button value="Ok" 
         onclick="tempDisable(this);
         if (parent.document.UpdateForm != undefined &&
             parent.document.UpdateForm.opard029 != undefined) 
         {parent.document.UpdateForm.opard029.focus();}
         formSubmit();">
        <input class="button" type=button value="Cancel" onclick=DFrameClose()>
    </td>
</tr>
 
</table>
</form>
</div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.081">
<input type=hidden name=casekeys value="%OPRWEB01.04.101">
<input type=hidden name=MenuType value="%OPRWEB01.04.088">
<input type=hidden name=sesskeys value="%OPRWEB01.04.301">
</form>

<span id=surgeonIDSPAN style="display: none">
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=opcom015 id=opcom015>%OPRWEB01.04.143.015</textarea>
</span>

<span id=anaesthetistIDSPAN style="display: none">
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=xpcom016 id=xpcom016>%OPRWEB01.04.143.016</textarea>
</span>

<span id=nurseIDSPAN style="display: none">
        <textarea wrap=hard cols=22 rows=3 class="Mandatory"
         name=ypcom017 id=ypcom017>%OPRWEB01.04.143.017</textarea>
</span>

<script type="text/javascript">

if ("%OPRWEB01.04.621. 47" == "2")
  arrivalForm.oppos047[0].checked = true;
if ("%OPRWEB01.04.621. 48" == "2")
  arrivalForm.oppos048[0].checked = true;
if ("%OPRWEB01.04.621. 49" == "2")
  arrivalForm.oppos049[0].checked = true;
if ("%OPRWEB01.04.621. 50" == "2")
  arrivalForm.oppos050[0].checked = true;
if ("%OPRWEB01.04.621. 51" == "2")
  arrivalForm.oppos051[0].checked = true;
if ("%OPRWEB01.04.621. 52" == "2")
  arrivalForm.oppos052[0].checked = true;
if ("%OPRWEB01.04.621. 53" == "2")
  arrivalForm.oppos053[0].checked = true;
if ("%OPRWEB01.04.621. 54" == "2")
  arrivalForm.oppos054[0].checked = true;
if ("%OPRWEB01.04.621. 55" == "2")
  arrivalForm.oppos055[0].checked = true;
if ("%OPRWEB01.04.621. 27.1".substr(0,1) == "2") {
  arrivalForm.oppos027[0].checked = true;
} else {
  if ("%OPRWEB01.04.621. 27.1".substr(0,1) == "3") {
    arrivalForm.oppos027[2].checked = true;
  }
}
if ("%OPRWEB01.04.621. 28.1".substr(0,1) == "2") {
  arrivalForm.oppos028[0].checked = true;
} else {
  if ("%OPRWEB01.04.621. 28.1".substr(0,1) == "3") {
    arrivalForm.oppos028[2].checked = true;
  }
}
if ("%OPRWEB01.04.621. 29.1".substr(0,1) == "2") {
  arrivalForm.oppos029[0].checked = true;
} else {
  if ("%OPRWEB01.04.621. 29.1".substr(0,1) == "3") {
    arrivalForm.oppos029[2].checked = true;
  }
}
</script>
