<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OperationReport.js"> </script>
</head>
%START.OF.PAGE
<body onload='PageLoad(event);'>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%OPRWEB01.04.003";
PatientVIS="%OPRWEB01.04.081";
PatientNAM="%OPRWEB01.04.002";
PatientSTA="%OPRWEB01.04.086.078";
PatientALT="%OPRWEB01.04.084";
PatientSEX="%OPRWEB01.04.019";
PatientDOB="%OPRWEB01.04.020";
PatientAGE="%OPRWEB01.04.021";
PatientLOC="%OPRWEB01.04.083";
PatientPRI="%OPRWEB01.04.086.066.1";
PatientUNT="%OPRWEB01.04.066.0";
DoctorCOD="%OPRWEB01.04.082.003";
DoctorNAM="%OPRWEB01.04.082.002";
PatientAID="%OPRWEB01.04.086.090";
PatientIND="%OPRWEB01.04.086.091";
PatientCUR="%OPRWEB01.04.086.092";
PatientCLC="%OPRWEB01.04.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%OPRWEB01.04.086.094";
PatientCDM="%OPRWEB01.04.086.095";
PatientVDH="%OPRWEB01.04.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<form name=UpdateForm action=cliweb08.pbl method=post style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="1">
<input type=hidden name=nextpage value="0">
<input type=hidden name=updttype value="A">
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.081">
<input type=hidden name=dummycod id=dummycod>

<table border=0 width=95% align=center cellspacing="0" cellpadding="1">
<tr><td colspan=2 align=center class=HeadingCell>
    Theatre Operation Report</td></tr>
<tr><td class=DataLabel>Date</td>
    <td><input type="text" name=corsp002 id=corsp002 size=12 
         value="%STANDARD.01.015" class="Mandatory FutureDate" title="Date">
       <img src=../images/DateLookup.gif class=Icon  
       onclick="DateLookupFrame(corsp002);"> 
       Time
       <input type="text" name=corsp004 id=corsp004 size=8 class=Mandatory 
       title="Time" value="%STANDARD.01.016">
       <img src="../images/DateTimeStamp.gif" class=Icon
       onclick="SetCurrentDateTime(corsp002,corsp004);">
       <img src="../images/TimeLookup.gif" class=Icon
       onclick="TimeLookupFrame(corsp004);"></td>
<tr><td class=DataLabel>Document Type</td>
    <td><select name=corsp003 id=corsp003 class=Mandatory title="Document Type">
        <option></option>
        %STANDARD.01.007.wi
        </select></td></tr>
<tr><td class=DataLabel>From</td>
    <td><input type=text name=corsp009 id=corsp009 size=35 
         value="%OPRWEB01.04.304.002"  title="Sent From">
         <img src=../images/SelectLink.gif class=Icon
         onclick="LookupPage(dummycod,corsp009,'Lookup_corr0000_000')">
    </td></tr>
<tr><td class=DataLabel>To</td>
    <td><input type=text name=corsp010 id=corsp010 size=35 title="Sent To">
         <img src=../images/SelectLink.gif class=Icon
         onclick="LookupPage(dummycod,corsp010,'Lookup_corr0000_000')">
    </td></tr>
<tr valign=top><td class=DataLabel>Comment</td>
    <td><input type=text name=corsp007 id=corsp007 size=50 title="Comment"><br>
        <input type=text name=corsp008 id=corsp008 size=50 title="Comment">
    </td></tr>

<tr><td><textarea style="display:none;" wrap=virtual 
          name=htmlline id=htmlline cols=80 rows=1></textarea>
    </td></tr>
</table>
</form>

<form name=DataEntry >
<table border=0 width=95% align=center cellspacing="0" cellpadding="1">
<tr valign=top><td class=DataLabel>Operation Performed</td>
    <td><input type=text name=Operation1 id=Operation1 size=92 maxlength=80
         title="Operation Line 1" value="%OPRWEB01.04.124"><br>
        <input type=text name=Operation2 id=Operation2 size=92 maxlength=80
         title="Operation Line 2" value="%OPRWEB01.04.125"><br>
        <input type=text name=Operation3 id=Operation3 size=92 maxlength=80
         title="Operation Line 3" value="%OPRWEB01.04.126">
    </td></tr>

<tr valign=top><td class=DataLabel>Procedure <br>Description</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom004 id=opcom004>%OPRWEB01.04.143.004</textarea>
    </td></tr>

<tr valign=top><td class=DataLabel>Findings at<br>Operation</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom003 id=opcom003>%OPRWEB01.04.143.003</textarea>
    </td></tr>

<tr valign=top><td class=DataLabel>Inter-operative<br>Complications</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom001 id=opcom001>%OPRWEB01.04.143.001</textarea>
    </td></tr>

<tr valign=top><td class=DataLabel>Post-Operative <br>Instructions</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom005 id=opcom005>%OPRWEB01.04.143.005</textarea>
    </td></tr>

<tr valign=top><td class=DataLabel>Management <br>Plan</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom006 id=opcom006>%OPRWEB01.04.143.006</textarea>
    </td></tr>

<tr valign=top><td class=DataLabel>Post-Operative<br>Complications</td>
    <td colspan=5>
    <textarea wrap=hard cols=60
    rows=3 name=opcom007 id=opcom007>%OPRWEB01.04.143.007</textarea>
    </td></tr>
</table>
</form>

<table width=100%><tr><td align=center>
    <input type=button class="button" value=Preview
     onclick="Preview();">
    <input type=button class="button" value=Print 
     onclick="Print();"> </td></tr>
</table>

<form name=Patient>
<input type=hidden name=LoginName value="%STANDARD.01.009">
<input type=hidden name=Procedure value="%OPRWEB01.04.205 %OPRWEB01.04.206">
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.101">
<input type=hidden title="Title" name=Title value="%OPRWEB01.04.005.0">
<input type=hidden title="Surname" name=Surname value="%OPRWEB01.04.009">
<input type=hidden title="Given Names" name=Given value="%OPRWEB01.04.010">
<input type=hidden title="Address 1" name=Address1 value="%OPRWEB01.04.012">
<input type=hidden title="Address 2" name=Address2 value="%OPRWEB01.04.013">
<input type=hidden title="Address 3" name=Address3 value="%OPRWEB01.04.014">
<input type=hidden title="Address 4" name=Address4 value="%OPRWEB01.04.015">
<input type=hidden title="Post Code" name=PostCode value="%OPRWEB01.04.016">
<input type=hidden title="Pri. Ph. No" name=PhoneAH value="%OPRWEB01.04.017">
<input type=hidden title="Bus. Ph. No" name=PhoneBH value="%OPRWEB01.04.018">
<input type=hidden title="Patient Gender" name=Sex value="%OPRWEB01.04.019">
<input type=hidden title="Date of Birth" name=DOB value="%OPRWEB01.04.020">
<input type=hidden title="Admission Date" name=AdmDate 
 value="%OPRWEB01.04.102 %OPRWEB01.04.103">
<input type=hidden title="Operation Date" name=OprDate 
 value="%OPRWEB01.04.302 %OPRWEB01.04.303">
</form>

<form name=Consultant>
<input type=hidden name=Name value="%OPRWEB01.04.082.002">
<input type=hidden name=FirstName value="%OPRWEB01.04.082.005">
<input type=hidden name=Address1 value="%OPRWEB01.04.082.002">
<input type=hidden name=Address2 value="%OPRWEB01.04.082.008">
<input type=hidden name=Address3 value="%OPRWEB01.04.082.009">
<input type=hidden name=Address4 value="%OPRWEB01.04.082.010">
<input type=hidden name=PostCode value="%OPRWEB01.04.082.011">
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.081">
<input type=hidden name=casekeys value="%OPRWEB01.04.101">
<input type=hidden name=MenuType value="%OPRWEB01.04.088">
</form>
