<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
   <form name=OpenSession method=post action=oprweb05.pbl>
   <input type=hidden name=reportno value="3">
   <input type=hidden name=template value="002">
   <input type=hidden name=updttype value=""> 
   <input type=hidden name=opsem001 value="%OPRWEB05.03.001">
   <input type=hidden name=opsem002 value="%OPRWEB05.03.003.1">
   <input type=hidden name=opsem003 value="%OPRWEB05.03.004">
   <input type=hidden name=opsem007 value="%OPRWEB05.03.008.1">
   <input type=hidden name=opsem019 value="%OPRWEB05.03.026">
   <input type=hidden name=showyear value="%OPRWEB05.03.102">
   <input type=hidden name=nextpage value="5">

<table cellspacing=0 cellpadding=0 width=100% >
<tr><td align=center class=HeadingCell>
     Delete Sessions for - %OPRWEB05.03.002 </td>
</table>

<table cellspacing=0 cellpadding=1 width=100% border=0>
<tr><td class=DataLabel>Day of Week</td>
    <td class=DataField>%OPRWEB05.03.003.0</td>
    <td class=DataLabel>Time Period</td>
    <td class=DataField>%OPRWEB05.03.006.0
    </td></tr>

<tr><td class=DataLabel>Start Time</td>
    <td class=DataField>%OPRWEB05.03.004
    </td>
    <td class=DataLabel>End Time</td>
    <td class=DataField>%OPRWEB05.03.009
    </td></tr>

<tr><td class=DataLabel>Unit</td>
    <td class=DataField>%OPRWEB05.03.007.0
    </td>
    <td class=DataLabel>Operating Room</td>
    <td class=DataField>%OPRWEB05.03.008.0
    </td></tr>

<tr><td colspan=4 align=center>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td colspan=11 class=HeadingCell align=center>
     %OPRWEB05.03.102
    </td></tr>

<tr class=MonthRowEven>
    <td width=60%>
    <input type=button value="Clear" class="button" onclick=DeleteClear03()></td>
    <td colspan=2>
    <input type=button value="All" class="button" onclick=DeleteCol03("01")></td>
    <td colspan=2>
    <input type=button value="All" class="button" onclick=DeleteCol03("02")></td>
    <td colspan=2>
    <input type=button value="All" class="button" onclick=DeleteCol03("03")></td>
    <td colspan=2>
    <input type=button value="All" class="button" onclick=DeleteCol03("04")></td>
    <td colspan=2>
    <input type=button value="All" class="button" onclick=DeleteCol03("05")></td>
    </tr>
%OPRWEB05.03.105
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
<input type=button value="<< Previous Year" class="button"
   onclick='location.href="%OPRWEB05.03.104.002"'>
<input type=button value="Del Session" class="button" onclick=setFormactn03('D');>
   <input type=button value="Cancel" class="button"
   onclick='Schedule03("%OPRWEB05.03.001","D")'>
  <input type=button value="Next Year >>" class="button"
   onclick='location.href="%OPRWEB05.03.103.002"'>
</td></tr>
<tr><td align=center>
   <table>
   <tr><td class=HolidayCell align=center width=60> Public Holidays</td>
       <td class=LeaveCell align=center width=60> Surgeon Leave</td>
       <td class=AnaethLeaveCell align=center width=60> Anaesthetist Leave</td>
       <td class=TheatUsedCell align=center width=60> Theatre Used</td>
       <td class=OtherTheatreCell align=center width=60> Other Theatre Cell</td>
   </tr>
   </table>
</td></tr>
</table>
</form>
