<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateResonIncomplete() {
  f = document.UpdateForm;
  var theForm = null;
  if (typeof parent.document.forms['SelectPeriod'] != "undefined") {
    theForm = parent.document.forms['SelectPeriod'];
  }
  if (validateMandatory(UpdateForm)) {
    var code = f.reasthein.value.substr(0,3);
    var serverURL = "../cgi-bin/oprweb02.pbl?reportno=6&remoteno=2" +
                    "&thetuniq=" + f.thetuniq.value.replace(/ /g,"+") +
                    "&updattxt=" + code.replace(/ /g,"+");
    // Remote script call to update corresponding record
    var returnValue = RSExecute(serverURL);
    if (returnValue.return_value == "1") {
      alert("Failed to update the record on the server!");
    }
    else {
      if(theForm != null) {
        parent.RefreshScreen();
      }
    }
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %OPRWEB02.04.016 (UR %OPRWEB02.04.015 Visit %OPRWEB02.04.014)                
</span>

<div id=PageBodySection>
<form name=UpdateForm action="oprweb02.pbl" method=post>
<input type=hidden name=reportno value="04">
<input type=hidden name=template value="3">
<input type=hidden name=updatety value="I">
<input type=hidden name=nextpage value="7">
<input type=hidden name=urnumber value="%OPRWEB02.04.015">
<input type=hidden name=admissno value="%OPRWEB02.04.014">
<input type=hidden name=thetuniq value="%OPRWEB02.04.019">
<input type=hidden name=updattxt value="">

<table width=100% border=0 cellpadding=1 cellspacing=0>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel width=25%>Reason Theatre Incomplete</td>
    <td width=50%>
        <select name=reasthein id=reasthein class="SelectBig"
         title="%STANDARD.01.035.Rt">
        <option value="   "></option>
         %OPRWEB02.04.020.2
        </select>
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>

<table width=100% border=0 cellpadding=1 cellspacing=0>
<tr><td colspan=8 align=center>
    <input type=button class=button value="Update" name=btnUpdate id=btnUpdate
     onclick='UpdateResonIncomplete();'>
    <input type=button class=button value="Cancel" name=btnCancel id=btnCancel 
     onclick='DFrameExit()'>
</td></tr>
<tr><td>&nbsp;</td></tr>
</table>
</form>
</div>
