<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Theatre Case Collection Details
</span>

<form name=TheatreCollection method=post action=oprweb01.pbl>
<table border="1" cellpadding="0" cellspacing="0" width="100%" >
<tr><td colspan=2>
<table cellspacing=0 cellpadding=0>
<tr><td colspan=2 align=center class=HeadingCell>
    To Accompany Patient</td></tr>

<tr><td class=DataLabel>Pre-op Check List</td>
    <td class=DataField>
    <input type=checkbox name=checklst
     value="Pre-op Check List"></td></tr>

<tr><td class=DataLabel>Signed Operation Consent </td>
    <td class=DataField>
    <input type=checkbox name=checklst 
     value="Signed Operation Consent "></td></tr>

<tr><td class=DataLabel>Medical Record</td>
    <td class=DataField>
    <input type=checkbox name=checklst 
    value="Medical Record"></td></tr>

<tr><td class=DataLabel>X-Rays </td>
    <td class=DataField>
    <input type=checkbox name=checklst 
    value="X-Rays"></td></tr>

<tr><td class=DataLabel>Fluid Balance Chart</td>
    <td class=DataField>
    <input type=checkbox name=checklst
     value="Fluid Balance Chart"></td></tr>

<tr><td class=DataLabel>False Teeth</td>
    <td class=DataField>
    <input type=checkbox name=checklst
     value="False Teeth"></td></tr>

</table>
</td>
<td colspan=2>
</td></tr>
<tr><td colspan=4 align=center>
    <input class="button" type=button value="Print" id="btnPrint"
     onclick="tempDisable(this);PrintForm();">
    <input class="button" type=button value="Cancel" onclick="DFrameClose();">
    </td></tr>
</table>
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%OPRWEB01.04.003">
<input type=hidden name=admissno value="%OPRWEB01.04.081">
<input type=hidden name=MenuType value="%OPRWEB01.04.088">
</form>
