<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb06.js"></script>
<body onload="PageLoad(event);">
%START.OF.PAGE
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Tourniquet Maintenance
</span>
<script type="text/javascript">
  function validateData() {
  if (!validateMandatory(AddForm)) {
     return;
  } 
    if(ChkRemvDateTime()) {
      strtDate = AddForm.optrq003;
      strtTime = AddForm.optrq004;
      endDate  = AddForm.optrq005;
      endTime  = AddForm.optrq006;
      if (ChkDateTime(strtDate,strtTime,endDate,endTime)) {
        document.AddForm.nextpage.value="6"
        document.AddForm.redirect.value="oprweb06.pbl?reportno=9&template=001&"+
                             "uniqueky="+document.AddForm.uniqueky.value+
                             "&suprlevl="+AddForm.suprlevl.value;
         AddForm.submit();
      }
      else {
        alert("Removed Date/Time must be after Applied Date/Time");
        AddForm.optrq003.select();
      }
    }
  }
  function ChkRemvDateTime() {
    remvDate = AddForm.optrq005.value.replace(/ /g,"");
    remvTime = AddForm.optrq006.value.replace(/ /g,"");
    if((remvDate == "") && (remvTime != "")) {
      alert("Removed Date is required if Removed Time is entered");
      return false;
    }
    if((remvDate != "") && (remvTime == "")) {
      alert("Removed Time is required if Removed Date is entered");
      return false;
    }
    return true;
  }
</script>
</head>
<form name=AddForm action="oprweb06.pbl" method=post>
<input type=hidden name=reportno value=9>
<input type=hidden name=redirect value="">
<input type=hidden name=nextpage value="">
<input type=hidden name=updatety value="A" >
<input type=hidden name=casekeys value="%OPRWEB06.09.101">
<input type=hidden name=uniqueky value='%OPRWEB06.09.110'>
<input type=hidden name=suprlevl value="%OPRWEB06.09.215">

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel>Limb</td>
    <td class=DataField>
    <select name=optrq001 title="Limb" class=Mandatory>
    <option></option>
    <option value=1>Right Leg</option>
    <option value=2>Left Leg</option>
    <option value=3>Right Arm</option>
    <option value=4>Left Arm</option>
    </select></td></tr>
<tr><td class=DataLabel>Applied Date</td>
    <td class=DataLabel colspan=1>
    <input type=text size=12 title="Applied Date" name=optrq003
     value=" "  class=Mandatory id=optrq003>
    <img src=../images/DateLookup.gif class=Icon
     date=AddForm.optrq003>
    Time
    <input type=text size=12 id=optrq004 name=optrq004
     value=" "  title="Applied Time" class=Mandatory>
    <img src=../images/DateTimeStamp.gif  class=Icon
     date=AddForm.optrq003 time=AddForm.optrq004>
    <img src=../images/TimeLookup.gif class=Icon
     time=AddForm.optrq004>
    </td></tr>
<tr><td class=DataLabel>Removed Date</td>
    <td class=DataLabel>
    <input type=text size=12 id=optrq005 name=optrq005
     value=" " title="Removed Date">
    <img src=../images/DateLookup.gif class=Icon
     date=AddForm.optrq005>
    Time
    <input type=text size=12 id=optrq006 name=optrq006
     value=" " title="Removed Time">
    <img src=../images/DateTimeStamp.gif  class=Icon
     date=AddForm.optrq005 time=AddForm.optrq006>
    <img src=../images/TimeLookup.gif class=Icon
     time=AddForm.optrq006>
    </td></tr>
    </table>
<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
<tr><td colspan=2 align=center>
   <input type=button id="opr06sub" Value="Add" class="button"  onclick="tempDisable(this);validateData();">
   <input type=button Value="Close" class="button" 
    onclick="DFrameCloseRefresh();">
   </td></tr>
   </table>
</form>

