<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript">
function SetClinicT() {
  p=UpdateForm
  p.otcmn008.options.length=1;
  SetClinicType(p.otcmn008,p.defctype.value,p.otcmn007.value);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetClinicT();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Update System Wide Comments 
</span>

<form name=UpdateForm method=post action=outweb04.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="003">
<input type=hidden name=updttype >
<input type=hidden name=unqcount value="%OUTWEB04.03.009">
<input type=hidden name=defctype value="%OUTWEB04.03.008">

<table align=center width=90% border=0>
<tr><td class=DataLabel>Active From Date</td>
    <td><input type=text name=otcmn002  
         size=15 maxlength=15 class=Readonly title="Active From Date"
         value="%OUTWEB04.03.002" readonly>
    </td></tr>

<tr><td class=DataLabel>Active To Date</td>
    <td><input type=text name=otcmn001 class=Readonly 
         size=15 maxlength=15 title="Active To Date" 
         value="%OUTWEB04.03.001" readonly>
    </td></tr>

<tr><td class=DataLabel>Active For Site</td>
    <td><select  name=otcmn007 title="Site" id="otcmn007"
         onchange="SetClinicT();">
        <option value="      ">All</option>
         %OUTWEB04.03.015
        </select>
    </td></tr>

<tr><td class=DataLabel>Active For Clinic Type</td><td>
    <select name=otcmn008 title="clinic" id="otcmn008">
    <option value="      ">All</option>
    </select>
    </td></tr>

<tr><td class=DataLabel> Comments </td>
    <td><input type="text" name=otcmn003 size='40' 
         title="Outpatient System Wide Comments" maxlength='60' class=Mandatory 
         value="%OUTWEB04.03.003" >
    </td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" name=otcmn004 size='40'  
         maxlength='60' class="" value="%OUTWEB04.03.004">
   </td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" name=otcmn005 size='40'  
         maxlength='60' class="" value="%OUTWEB04.03.005">
  </td></tr> 

<tr><td>&nbsp;</td>
    <td><input type="text" name=otcmn006 size='40'  
         maxlength='60' class="" value="%OUTWEB04.03.006">
  </td></tr>

<tr><td colspan=2><br></td></tr>
<tr><td colspan=2 align=center>
    <input type=button value="Update" class="button" id="out04upd"
     onclick="tempDisable(this);setFormactn('U');">
    <input type=button value="Delete" class="button" id="out04del"
     onclick="tempDisable(this);setFormactn('D');">
    <input type=button value="Cancel" class="button" onclick=DFrameClose(); >
    </td></tr>
</table>
</form>

<Script>
function setFormactn(type) {
var Flag = DateValidation();
if (Flag < 0){
   return 0;
  }
else {
  document.UpdateForm.updttype.value=type;
  if (type=="U") {
    if (validateMandatory(UpdateForm)) {
       document.UpdateForm.submit(); } }  
else {
    if (type=="D") {
     ans=confirm("Are you sure you want to Delete ?")
    if (ans) { document.UpdateForm.submit() } }
    else {
       document.UpdateForm.submit(); } }
  }
}
function DateValidation(){
var fromdate = new Date(UpdateForm.otcmn002.value);
var enddate = new Date(UpdateForm.otcmn001.value);
var gap=enddate.getTime()-fromdate.getTime();
gap = gap/(1000*60*60*24);
 if (gap < 0){
    alert("The From Date Should be less than To Date");
     UpdateForm.otcmn002.value="";
    return -1;
 }
 else {
    return 1;
 }
}
</Script>

