<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/outweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode method=post action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="001">
<input type=hidden name=otcli001 value="%OUTWEB05.04.001">
<input type=hidden name=otcli006 value="%OUTWEB05.04.012.1">
<input type=hidden name=tmotfrst value="40">
<input type=hidden name=tmotnext value="40">

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td align=center class=HeadingCell colspan=1>
          Clinic Master List - %OUTWEB05.04.001, %OUTWEB05.04.003
      </td>
      <td align="right" class="HeadingCell" >Status&nbsp;
      <select name=filtactv id="filtactv" onchange="SelectCode.submit();"
       class="NoAutoFocus">
      <option value=" ">All</option>
      <option value="1">Active</option>
      <option value="2">Inactive</option>
      </select>
      </td> 
  </tr>
  </table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%OUTWEB05.04.152.outweb05.04.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
<tr>
  <td align=center>
  <input type=button value="Clinic List" class="button"
         onclick='location.href="outweb05.pbl?reportno=02&template=001"'>
  <input type=button value=Clinic class="button"
         onclick='ViewClinic04("%OUTWEB05.04.001","%OUTWEB05.04.012.1");'>
  <input type=button value=Add class="button"
         onclick='Addschdl04("%OUTWEB05.04.001","%OUTWEB05.04.012.1");'>
  </td>
</tr>
</table>
</td></tr>
</table>
</form>

<script type="text/javascript">
 Active="%OUTWEB05.04.199.001";
 for (var i =0 ; i < document.SelectCode.filtactv.length; i++) {
  if (document.SelectCode.filtactv.options[i].value==Active.substr(0,1)) {
       document.SelectCode.filtactv.selectedIndex=i } };
</script>

