<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/outweb0808.js"></script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
 var p = document.SelectPeriod;

 switch (TableView) {
   case 0: {
     t = new Table(1,0,2,"100%","center",35,45);
     if (p.ptcolumn.value == "1") {
       t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",110,2)
       t.addColumn("U/R","String",3,3,"left","","",40)
       t.addColumn("Referral Date","Date",4,4,"left","","",40)
       t.addColumn("Action Date","Date",15,15,"left","","",40)
       if (p.reqaptdp.value == "1") {
         t.addColumn("Requesting Department","String",20,20,"left","","",60)
       }
       else {
         t.addColumn("Department Required","String",19,19,"left","","",60)
       }
       t.addColumn("Presenting Complaint","String",16,16,"left","","",100)
     } else {
       t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",110,2)
       t.addColumn("U/R","String",3,3,"left","","",50)
       t.addColumn("Referral Date","Date",4,4,"left","","",60)
       t.addColumn("Action Date","Date",15,15,"left","","",50)
       if (p.reqaptdp.value == "1") {
         t.addColumn("Requesting Department","String",20,20,"left","","",60)
       }
       else {
         t.addColumn("Department Required","String",19,19,"left","","",60)
       }
       t.addColumn("Clinic Type","String",6,6,"left","","",50)
     }
     t.addColumn("Clinic Id","String",7,7,"left","","",50)
     t.addColumn("Visit Type","String",8,8,"left","","",50)
     t.addColumn("Priority","String",9,9,"left","","",50)
     t.addColumn("List Days","String",10,10,"left","","",30)
     t.addColumn("Preferred Date","Date",14,14,"left","","",50)
     t.addColumn("Comments","String",21,21,"left","","",40)
     t.addColumn("Appt. Status","String",12,12,"left","AppointmentIcon.gif","13",50)
     AddTableRows()
     TableOutput(2,1);    // Order Column,Asc Dsc
     break;
   }
 }

 if (p.reqaptdp.value == "1") {
   document.getElementById('DeptHeadingDiv').innerHTML=
   document.getElementById('adepheading').innerHTML;
 }
 else {
   document.getElementById('DeptHeadingDiv').innerHTML=
   document.getElementById('rdepheading').innerHTML;
 }

}
function PageSubmit() {
  if(validateMandatory(SelectPeriod)) {
    document.SelectPeriod.searchfl.value="1";
    SelectPeriod.submit();
  }
}
function SetSuspended() {
  if(document.SelectPeriod.inclsusp.checked==true) {
    document.SelectPeriod.filtctyp.className="Mandatory";
  } else {
    document.SelectPeriod.filtctyp.className="";
  }
}
function SetList() {
  p=SelectPeriod
  p.filtctyp.options.length=1;
//  SetClinicType(p.filtctyp,p.defctype.value,p.filtsite.value);

//DeptClinicType(ReturnDept,ReturnPSite,ReturnClinicType,DeftClinicType
DeptClinicType2(p.filtdept,p.filtsite,p.filtctyp,p.defctype,p.deptindc)
//
  SetList2();
  SetCookiePath("ActionList",300); 
}
function SetList2() {
  p=SelectPeriod
  p.filtclid.options.length=1;
  SetTypeClinic(p.filtclid,p.deftclid.value,p.filtsite.value,p.filtctyp.value);
}
function GetAppointmentTypeCookie() {
  if (GetCookieData("AppointmentTypeCookie") != "unknown" &&
      !isWhitespace(GetCookieData("AppointmentTypeCookie"))) {
    document.MiscVars.aptyckie.value=GetCookieData("AppointmentTypeCookie");
    ExpireCookiePath("AppointmentTypeCookie");
    Left=(document.body.clientWidth-900)/2
    DFrameLink(document.MiscVars.aptyckie.value,100,Left,800,600);
  }
}
function formatFields() {
  var option=document.createElement("option");
  option.text="All";
  option.value=" ";

  if (document.SelectPeriod.datepref.checked == true) {
    for(var i =0 ; i < document.SelectPeriod.filtstat.length; i++) {
      if(document.SelectPeriod.filtstat.options[i].value==" "){
        return;
      }
    }

    document.SelectPeriod.filtstat.add(option,
                                  document.SelectPeriod.filtstat.options[null]);
  } else {
    for(var i =0 ; i < document.SelectPeriod.filtstat.length; i++) {
      if(document.SelectPeriod.filtstat.options[i].value==" "){
         document.SelectPeriod.filtstat.remove(i);
      }
    }
  }

  if (document.getElementById('deptindc').value=="1") {
    document.getElementById('filtdept').className="SelectBig";
  }

}
function switchOffMultHosp() {
    var multiHospParam = document.SelectPeriod.ibcnmhos.value;
    var filthosp = document.getElementById('filthosp');
    var n_filthosp = document.getElementById('n_filthosp');
    var d_filthosp = document.getElementById('d_filthosp');
    var blankHospital=true;
    if(VariableNameExists('OPActionListUsesHospital')) {
      if(OPActionListUsesHospital==true) {
        blankHospital=false;  // Retain default hospital
      }
    }
    if ( multiHospParam.replace(/ /g,"")  != "1" ) {
        filthosp.style.display = "none";
        filthosp.className = "";
        if(blankHospital) {
          filthosp.selectedIndex=0;
        }
        n_filthosp.style.display = "none";
        d_filthosp.style.display = "none";
    }
}
function init() {
  switchOffMultHosp();
}
function ViewRequestComment(ur,ref,date,time) {
  linkurl="../cgi-bin/outweb08.pbl?reportno=08&template=006" +
          "&urnumber=" + ur.replace(/ /g,"+") +
          "&admissno=" + ref.replace(/ /g,"+") +
          "&otart001=" + ur.replace(/ /g,"+") +
          "&otart002=" + ref.replace(/ /g,"+") +
          "&otart003=" + date.replace(/ /g,"+") +
          "&otart004=" + time.replace(/ /g,"+")
  Left=(document.body.clientWidth-650)/2;
  DFrameLink(linkurl,50,Left,650,200);
}
</script>
</head>
%START.OF.PAGE
<body onload='PageLoad(event);SetList();SetSuspended();
              GetAppointmentTypeCookie();formatFields();InitTable(0);'>
<div id=HeadingSection>
<form name=SelectPeriod action=outweb08.pbl method=get style="margin:0">
<input type=hidden name=reportno value=8>
<input type=hidden name=template value=004>
<input type=hidden name=showflag value="1">
<input type=hidden name=defctype value="%OUTWEB08.08.308">
<input type=hidden name=deftclid value="%OUTWEB08.08.310">
<input type=hidden name=viewtype value="%OUTWEB08.08.316">
<input type=hidden name=searchfl value="0">
<input type=hidden name=deptindc id=deptindc value="%OUTWEB08.08.326">
<input type=hidden name=ptcolumn id=ptcolumn value="%OUTWEB08.08.327">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=reqaptdp value="%OUTWEB08.08.330">

<table width="100%" bgcolor=#cccccc align=center cellpadding=1 cellspacing=0 
 border=0 >
<tr><td class=DataLabel id="n_filthosp" width=15%>Hospital</td>
    <td class=DataField id="d_filthosp">
    <select name=filthosp id="filthosp" title="Preferred Hospital" 
     class="Mandatory SelectBig">
    <option></option>
    %OUTWEB08.08.305
    </select>
    </td>

    <td class=DataLabel width=10%>Preferred Site</td>
    <td class=DataField>
    <select name=filtsite title="Preferred Site" class="Mandatory"
     onchange="SetList();">
    %OUTWEB08.08.306
    </select>
    </td>

    <td>Preferred Date</td>
    <td>
    <input type=checkbox name=datepref value="1" onclick="formatFields();">
    <input type=button value="<<" class=SmallButton
     onclick='location.href="%OUTWEB08.08.315"'>
     %OUTWEB08.08.313
    <input type=button value=">>" class=SmallButton
     onclick='location.href="%OUTWEB08.08.314"'>
    <a href='javascript:SelectDateFrame();'>
    <img src="../images/DateLookup.gif" class="Icon"
     alt="Select Date"></a>
    <a href='javascript:SelectView("0");'>
    <img src=../images/DayIcon.gif class="Icon"
     alt="View Today"></a>
    <a href='javascript:SelectView("1");'>
    <img src=../images/WeekIcon.gif class="Icon"
     alt="View This Week"></a>
    <a href='javascript:SelectView("2");'>
    <img src=../images/MonthIcon.gif class="Icon"
     alt="View This Month"></a>
    </td></tr>

<tr><td class=DataLabel><div id="DeptHeadingDiv"></div></td>
    <td class=DataField>
    <select name=filtdept id=filtdept title="Department" 
     class="Mandatory SelectBig"
     onchange="SetList();">
    <option></option>
     %OUTWEB08.08.307
    </select>
    </td>
    <td class=DataLabel>Clinic Type</td>
    <td class=DataField>
    <select name=filtctyp title="Clinic Type"
     onchange="SetList2();">
    <option></option>
    </select>
    </td>
     <td class=DataLabel>Include Waiting Referrals
    </td>
    <td>
    <input type=checkbox name=inclwait value="1">
    </td>
    </tr>

<tr><td class=DataLabel>Priority</td>
    <td class=DataField>
    <select name=filtprty title="Priority" class="SelectBig">
    <option></option>
    %OUTWEB08.08.309.2
    </select>

    </td>
    <td class=DataLabel>Clinic Id</td>
    <td class=DataField>
    <select name=filtclid title="Clinic ID">
    <option></option>
    </select>
    </td>
    <td class=DataLabel>Include Suspended Appointments
    </td>
    <td>
    <input type=checkbox name=inclsusp value="1"
     onclick="SetSuspended();">
    </td>
    </tr>


<tr><td class=DataLabel>Appointment Action Status</td>
    <td class=DataField>
    <select class=SelectBig name=filtstat>
    <option value=" ">All</option>
    <option value="0">Requested</option>
    <option value="1">Pending Reschedule</option>
    <option value="2">Booked</option>
    <option value="3">Cancelled</option>
    </select>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type=button class=button value="Search" id="searchbutton"
         onclick="tempDisable(this);PageSubmit();"></td>
    </tr>
</table>
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%OUTWEB08.08.317
%OUTWEB08.08.318
%OUTWEB08.08.319
}
//
 StatusFilter="%OUTWEB08.08.302";
 for(var i =0 ; i < document.SelectPeriod.filtstat.length; i++) {
  if(document.SelectPeriod.filtstat.options[i].value==StatusFilter.substr(0,1)){
       document.SelectPeriod.filtstat.selectedIndex=i } };
//
 IncSuspended="%OUTWEB08.08.304";
 if(IncSuspended=="1") {
   document.SelectPeriod.inclsusp.checked=true;
 }
//
 IncWait="%OUTWEB08.08.311";
 if(IncWait=="1") {
   document.SelectPeriod.inclwait.checked=true;
 }
//
 DatePref="%OUTWEB08.08.312";
 if(DatePref=="1") {
   document.SelectPeriod.datepref.checked=true;
 }
</script>

<form name=MiscVars style="margin:0">
<input type=hidden name=aptyckie value="">
</form>
<span id="adepheading" style="display:none">
Department Required
</span>
<span id="rdepheading" style="display:none">
Requesting Department
</span>

