<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/outweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=LinkForm method=get action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="7">
<input type=hidden name=template value="001">
<input type=hidden name=otwmp001 value="%OUTWEB05.07.001">
<input type=hidden name=otcli001 value="">
<input type=hidden name=otcli006 value="">
</form> 

<form name=SelectCode method=get action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="7">
<input type=hidden name=template value="001">
<input type=hidden name=otwmp001 value="%OUTWEB05.07.001">
<input type=hidden name=otcli001 value="">
<input type=hidden name=otcli006 value="">
</form> 

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td align=center class=HeadingCell colspan=1>
      Outpatient Clinic Template Mapping for %OUTWEB05.07.001</td> 
  </tr>
</table>
<table cellspacing=0 colspan=4 border=1 width=100%>
%OUTWEB05.07.107.outweb05.07.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%OUTWEB05.07.109.001"'>

  <input type=button value="Clinic List" class="button"
   onclick='location.href="outweb05.pbl?reportno=02&template=001"'>

  <input type=button value=Clinic class="button"
   onclick='ViewClinic07("%OUTWEB05.07.001","%OUTWEB05.07.012.1");'>

  <input type=button value=Add class="button"
   onclick='AddMap07("%OUTWEB05.07.001","%OUTWEB05.07.012.1");'>

  <input type=button value="Next >>" class="button"
   onclick='location.href="%OUTWEB05.07.108.001"'>
</td></tr>
</table>
</td></tr>
</table>
