<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/outweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode method=post action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="">
<input type=hidden name=template value="">
<input type=hidden name="otcli001" value="%OUTWEB05.05.001">
<input type=hidden name="otcli006" value="%OUTWEB05.05.012.1">
<input type=hidden name="otmas001" value="%OUTWEB05.05.101">
<input type=hidden name="otmas002" value="%OUTWEB05.05.102">
<input type=hidden name="othed005" value="%OUTWEB05.05.305">
<input type=hidden name="othed006" value="%OUTWEB05.05.306">
</form>

<form name=LinkForm method=get action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="">
<input type=hidden name=template value="">
<input type=hidden name=updttype value="">
<input type=hidden name="otcli001" value="%OUTWEB05.05.001">
<input type=hidden name="otcli006" value="%OUTWEB05.05.012.1">
<input type=hidden name="otmas001" value="%OUTWEB05.05.101">
<input type=hidden name="otmas002" value="%OUTWEB05.05.102">
<input type=hidden name="othed001" value="%OUTWEB05.05.301">
<input type=hidden name="othed002" value="%OUTWEB05.05.302">
<input type=hidden name="othed003" value="%OUTWEB05.05.303">
<input type=hidden name="othed004" value="%OUTWEB05.05.304">
<input type=hidden name="othed005" value="%OUTWEB05.05.305">
<input type=hidden name="othed006" value="%OUTWEB05.05.306">
</form>

<table cellspacing=0 cellpadding=0 width=100% >
<tr><td align=center class=HeadingCell>
      Open/Delete Sessions - Slot Template - %OUTWEB05.05.003
    </td></tr>
</table>

<table cellspacing=0 cellpadding=1 width=100% border=0>
<tr><td class=DataLabel>Day of Week</td>
    <td class=DataField>%OUTWEB05.05.322</td>
    <td class=DataLabel>Start Time</td>
    <td class=DataField>%OUTWEB05.05.304</td>
    </tr>

<tr><td class=DataLabel>Bookings Finish Time</td>
    <td class=DataField>%OUTWEB05.05.314</td>
    <td class=DataLabel>End of Session Time</td>
    <td class=DataField>%OUTWEB05.05.315</td>
    </tr>

<tr><td class=DataLabel>Clinic Type</td>
    <td class=DataField>%OUTWEB05.05.320.0</td>
    <td class=DataLabel>Clinic Indicator</td>
    <td class=DataField>%OUTWEB05.05.321.0
    </td></tr>

<tr><td class=DataLabel>Schedule</td>
    <td class=DataField>%OUTWEB05.05.326</td>
    <td class=DataLabel>Slot Time Allocated</td>
    <td class=DataField>%OUTWEB05.05.313
    </td></tr>

<tr><td class=DataLabel>Comments</td>
    <td class=DataField>%OUTWEB05.05.308</td>
    <td class=DataLabel>Instructions</td>
    <td class=DataField>%OUTWEB05.05.310</td>
    </tr>

<tr><td class=DataLabel>&nbsp</td>
    <td class=DataField>%OUTWEB05.05.309 </td>
    <td class=DataLabel>&nbsp</td>
    <td class=DataField>%OUTWEB05.05.311</td>
    </tr>

<tr><td class=DataLabel>&nbsp</td>
    <td class=DataField>&nbsp;</td>
    <td class=DataLabel>&nbsp</td>
    <td class=DataField>%OUTWEB05.05.312</td>
    </tr>
</table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%OUTWEB05.05.204.outweb05.05.012
</table>

<table width=100% bgcolor=#CCCCCC>
<tr><td align=center>
    <input type=button value="Open Sessions" class="button" 
     onclick='OpenSessA04();'>
    <input type=button value="Clinic Master" class="button"
     onclick='ScheduleA05("%OUTWEB05.05.001","%OUTWEB05.05.012.1")'>
    <input type=button value="Cancel" class="button"
     onclick='TemplateA04("%OUTWEB05.05.001","%OUTWEB05.05.012.1")'>
    <input type=button value="Delete Sessions" class="button"
     onclick='DeltSessA04();'>
    </td></tr>
</table>
