<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
<script type="text/javascript">
function SetLists2() {
 p=SelectPeriod
 p.srchclid.options.length=1;
 SetTypeClinic(p.srchclid,p.deftclid.value,p.usersite.value,p.srchclty.value);
}
function getNextAvailable(CaseKey) {
  linkurl="outweb02.pbl?reportno=3&template=5"+
          "&casekeys=" + CaseKey.replace(/ /g,"+") 
  DFrameLink(linkurl,50,50,700,400)
}
function SubmitAdm() {
   cancelSlot(UpdateStatus.newskeys.value)
   if (validateMandatory(UpdateStatus)) {
   if (document.SelectPeriod.viewtype.value==2) {
      document.UpdateStatus.redirect.value="outweb02.pbl?reportno=1" +
        "&template=6" +
        "&srchclty=" + document.SelectPeriod.srchclty.value.replace(/ /g,"+") +
        "&srchclid=" + document.SelectPeriod.srchclid.value.replace(/ /g,"+") +
        "&vyearmth=" + document.SelectPeriod.vyearmth.value.replace(/ /g,"+") +
        "&viewtype=" + document.SelectPeriod.viewtype.value.replace(/ /g,"+") 

   } else {
      document.UpdateStatus.redirect.value="outweb02.pbl?reportno=1" +
        "&template=6" +
        "&srchclty=" + document.SelectPeriod.srchclty.value.replace(/ /g,"+") +
        "&srchclid=" + document.SelectPeriod.srchclid.value.replace(/ /g,"+") +
        "&lastdate=" + document.SelectPeriod.lastdate.value.replace(/ /g,"+") +
        "&viewtype=" + document.SelectPeriod.viewtype.value.replace(/ /g,"+") 
  }
      document.UpdateStatus.submit(); } 
  }
function setPrinter(CheckBox,SelectList) {
  if (CheckBox.checked) {
    SelectList.className="SelectBig Mandatory"; }
  else {
    SelectList.className="SelectBig"; }
}
function SubmitView() {
    document.SelectPeriod.submit();
}
function SendLetterRSH01() {
  theForm=document.UpdateStatus
  validateCatCode(theForm.cat_CV,theForm.d_outbb047,theForm.d_outbb047_des,theForm.d_outbb047_ind)
  if(theForm.d_outbb047_ind.value.substr(7,1) == "C" ||
    (SetDateYYYYMMDD(theForm.clindate.value.substr(4,11)) <
     SetDateYYYYMMDD(theForm.currdate.value))) {   // Ind 8 - Chart Only or
    theForm.outbb067.selectedIndex=3;              // new booking less than
    theForm.outbb067.className="Readonly";         // today set send letter
    theForm.outbb067.disabled=true;                // N/A
  } else {
    if(theForm.outbb067.disabled==true) {          // Defalut send letter to
       theForm.outbb067.selectedIndex=0;           // Blank when re enabled
    }
    theForm.outbb067.className="";
    theForm.outbb067.disabled=false;
    theForm.outbb067.className="";
  }
  SendLetterDate(theForm);
}
function SendLetterDate(theForm) {
  if(theForm.outbb067.value=="1") {                // Yes Send Letter
    theForm.outbb066.className="Mandatory FutureDate";
    theForm.outbb066.readOnly=false;
    if(isWhitespace(theForm.outbb066.value)) {     // Calculate Letter Date
      CalculateLetterDate(theForm)
    }
  } else {
    theForm.outbb066.className="Readonly Date";
    theForm.outbb066.value="";
    theForm.outbb066.readOnly=true;
  }
}
//
function CalculateLetterDate(theForm) {
  theForm.outbb066.value=theForm.clindate.value.substr(4,11);
  if(isWhitespace(theForm.clindate.value.substr(4,11))) {
    return;
  }
  AddSubtractDate(theForm.outbb066,theForm.othendps.value,"S");
  if(SetDateYYYYMMDD(theForm.outbb066.value) <=
     SetDateYYYYMMDD(theForm.currdate.value)) {
     theForm.outbb066.value=theForm.currdate.value;
//    AddSubtractDate(theForm.outbb066,"1","A");
  }
}
function ResetLetter(theForm) {
    theForm.outbb067.selectedIndex=0;
    theForm.outbb066.value="";
    theForm.outbb066.readOnly=false;
    theForm.outbb066.className="Date";
}
</script>
<body onload="PageLoad(event);SetLists2();">
%START.OF.PAGE
<form name=SelectPeriod id=SelectPeriod action=outweb02.pbl method=get
 onsubmit='return validateMandatory(this);' style="margin:0">
<input type=hidden name=reportno id=reportno value=1>
<input type=hidden name=template id=template value=6>
<input type=hidden name=viewtype id=viewtype value="%OUTWEB02.01.011">
<input type=hidden name=usersite id=usersite value="%STANDARD.01.023">
<input type=hidden name=deftclid id=deftclid value="%OUTWEB02.01.022.1">
<input type=hidden name=defvisty id=defvisty value="">
<input type=hidden name=srchrefn id=srchrefn value="~~~~~~~~">
<input type=hidden name=deftovrd id=deftovrd value="">

<table cellspacing=0 cellpadding=1 bgcolor=#CCCCCC border=0 width=100%>
<tr><td align=center class=HeadingCell>Suspended Appointments List</td></tr>
</table>

<table cellspacing=0 cellpadding=2 bgcolor=#CCCCCC border=0 width=100%>
<tr><td class=DataField align=center>Clinic Type
    <select name=srchclty id=srchclty class="SelectBig Mandatory"
     onchange="SetLists2();SelectPeriod.submit();" >
    <option></option>
    %OUTWEB02.01.015
    </select>
    </td>

    <td class=DataField align=center>Clinic id
    <select name=srchclid id=srchclid class=SelectBig onchange="SelectPeriod.submit();" >
    <option></option>
    <option value=""></option>
    </select>
    </td>

    <td align=right>
    <input type=button value="<<" class=SmallButton
     name=LastButton id=LastButton onclick='SelectLastPeriod();'>
    %OUTWEB02.01.007
    <input type=button value=">>" class=SmallButton
     name=NextButton id=NextButton onclick='SelectNextPeriod();'>
    <a href='javascript:SelectDateFrame();'>
    <img src="../images/DateLookup.gif" border=0
     alt="Select Date" title="Select Date" align=absmiddle></a>
    <a href='javascript:SelectView("0");'>
    <img src="../images/DayIcon.gif" border=0
     alt="View Today" title="View Today" align=absmiddle></a>
    <a href='javascript:SelectView("1");'>
    <img src="../images/WeekIcon.gif" border=0
     alt="View This Week" title="View This Week" align=absmiddle></a>
    <a href='javascript:SelectView("2");'>
    <img src="../images/MonthIcon.gif" border=0
     alt="View This Month" title="View This Month" align=absmiddle></a>
    </td>
</tr>
</table>
</form>

<form name=UpdateStatus id=UpdateStatus action=outweb02.pbl method=post>
<input type=hidden name=reportno id=reportno value=8>
<input type=hidden name=template id=template>
<input type=hidden name=srchclty id=srchclty>
<input type=hidden name=redirect id=redirect value="outweb02.pbl?reportno=01&template=006">
<input type=hidden name=updatety id=updatety value="8">
<input type=hidden name=othendps id=othendps value="">
<input type=hidden name=currdate id=currdate value="%STANDARD.01.015">
<input type=hidden name=d_outbb047 id=d_outbb047 value="">
<input type=hidden name=cat_CV id=cat_CV value="CV">
<input type=hidden name=d_outbb047_des id=d_outbb047_des value="">
<input type=hidden name=d_outbb047_ind id=d_outbb047_ind value="">

<table width=100% border=1 cellspacing=0 >
<tr><td class=HeadingCell>Appointment</td>
    <td class=HeadingCell>Clinic</td>
    <td class=HeadingCell>Visit Type</td>
    <td class=HeadingCell>Patient</td>
    <td class=HeadingCell>Special Arr.</td>
    <td class=HeadingCell align=center>Mark</td></tr>
    %OUTWEB02.01.020
</table>
<table width=100% bgcolor=#CCCCCC>
<tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%OUTWEB02.01.031.006"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%OUTWEB02.01.030.006"'>
 </td></tr>
</table>
<table width=100% border=0 cellspacing=0 >
<tr><td colspan=2 class=HeadingCell align=center>
    Reschedule to New Session</td></tr>
</table>
<table width=90% align=center border=0 cellspacing=0 >
<tr><td class=DataLabel>Clinic</td>
    <td><input type=text name=clindesc id=clindesc size=30 class=Mandatory
         title="Clinic">
    </td></tr>
<tr><td class=DataLabel>Session Date & Time</td>
    <td><input type=hidden name=newskeys id=newskeys>
	<input type=text name=clindate id=clindate size=30 class=Mandatory
         title="Session">
    <img src="../images/LookupIcon.gif"
    onclick="ResetLetter(UpdateStatus);
             ClinicSearchFrame(newskeys,clindesc,clindate,
             SelectPeriod.srchclty,SelectPeriod.srchclid,
             SelectPeriod.defvisty,SelectPeriod.deftovrd,
             SelectPeriod.srchrefn);">
     </td></tr>
<tr><td class=DataLabel>Reason for Reschedule</td>
    <td><select name=outbb014 id=outbb014 class=Mandatory title="Reason for Reschedule">
        <option></option>
        %STANDARD.01.007.RR
	</select>
    </td></tr>
<tr><td class=DataLabel>Print Reschedule Letter</td>
    <td><input type=checkbox name=letprt06 id=letprt06  value="1" checked
         onclick="setPrinter(this,UpdateStatus.letpsl06);">
    <td class=DataLabel>Printer</td>
    <td><select name=letpsl06 id=letpsl06 class="SelectBig Mandatory" title="Printer">
        <option></option>
        %STANDARD.01.001.OUTWEB03.02
        </select></td></tr>
<tr><td class=DataLabel>Reset Confirmed Appointment</td>
    <td colspan=3><input type="checkbox" name="resetcap" id="resetcap" value="1" checked></td>
</tr>
<tr><td class=DataLabel>Send Letter</td>
    <td><select name=outbb067 id=outbb067 title="Send Letter"
         onchange="SendLetterDate(UpdateStatus);">
        <option></option>
        <option value="0">No</option>
        <option value="1">Yes</option>
        <option value="2">N/A</option>
        </select>
    </td>
    <td class=DataLabel>Generate Letter date</td>
    <td><input type=text name=outbb066 id=outbb066 size=12
     onblur="checkDate(this,'Date')" value=""
     class="Date" title="Generate Letter Date">
    <img src="../images/DateTimeStamp.gif" class=Icon date=UpdateStatus.outbb066
     time=null>
    <img src="../images/DateLookup.gif" class=Icon date=UpdateStatus.outbb066>
</td>
</tr>
<tr><td colspan=2 align=center>
    <input type=button class="button" value=OK id="okbutton"
     onclick="tempDisable(this);SubmitAdm();">
    <input type=button value=Cancel class="button" 
     onclick="window.history.go(-1);">
    </td></tr>
</table>
</form>
