<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript">
function init() {
  if(UpdateForm.redirflg.value=="1" ) {   // Hic clinic list
    UpdateForm.redirect.value="outweb02.pbl?reportno=1&template=10" +
                  "&frstdate=" + UpdateForm.sesskeys.value.substr(12,8) +
                  "&lastdate=" + UpdateForm.sesskeys.value.substr(12,8)
  } else {
    UpdateForm.redirect.value="outweb02.pbl?reportno=1&template=5" +
                  "&frstdate=" + UpdateForm.sesskeys.value.substr(12,8) +
                  "&lastdate=" + UpdateForm.sesskeys.value.substr(12,8)
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Suspend Session
</span>
<br>&nbsp;

<form name=UpdateForm method=post action=outweb02.pbl style="margin:0"
 onsubmit="return validateMandatory(this);">
<input type=hidden name=reportno value="8">
<input type=hidden name=template value="006">
<input type=hidden name=nextpage value="6">
<input type=hidden name=redirect value="">
<input type=hidden name=updatety value="10">
<input type=hidden name=sesskeys value="%OUTWEB02.02.004">
<input type=hidden name=redirflg value="%OUTWEB02.02.136">

<table align=center width=95% border=0 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel>Suspend Reason</td> 
    <td><select name=otses002 class=Mandatory title="Suspend Reason">
        <option></option>
        %STANDARD.01.007.CE
        </select></td></tr>

<tr><td align=center colspan=2>
    <br>
    <input type=submit value="Ok" class="button">
    <input type=button value="Cancel" class="button" onclick="DFrameExit();">
    </td></tr>
</table>
</form>
