<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostUpdMessage() {
  if(document.UpdateForm.wbseopdu.value.substr(3,1)=="O") {
    if(isWhitespace(UpdateForm.opdcommt.value)) {
      alert("Message is a required field.\n Please enter it now.");
      return;
    }
  }
  if(!validateMandatory(UpdateForm)) {
    return;
  }
  document.UpdateForm.updttype.value="U";
  document.UpdateForm.otdan007.disabled=false;
  document.UpdateForm.submit();
}
function PostDeleteMessage() {
  if(confirm("Are you sure you want to delete this message?")) {
    document.UpdateForm.updttype.value="D"
    document.UpdateForm.submit();
  }
}
function MandatoryOutcome() {
  if(document.UpdateForm.otdan006.checked==true) {
    document.UpdateForm.otdan007.disabled=false;
    document.UpdateForm.otdan007.className="Mandatory"
  } else {
    document.UpdateForm.otdan007.selectedIndex=0;
    document.UpdateForm.otdan007.disabled=true;
    document.UpdateForm.otdan007.className="Readonly"
  }
}
function OPDComment() {
 if(document.UpdateForm.wbseopdu.value.substr(3,1)!="O") {
   document.UpdateForm.opdcommt.className="Readonly";
   document.UpdateForm.opdcommt.readonly="readonly";
 } else {
   document.UpdateForm.opdcommt.className="";
   document.UpdateForm.opdcommt.readOnly=false;
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);OPDComment();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Appointment Message
</span>

<form name=UpdateForm action="outweb09.pbl" method=post style="margin:0">
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value=" ">
<input type=hidden name=urnumber value="%OUTWEB09.02.003">
<input type=hidden name=admissno value="%OUTWEB09.02.081">
<input type=hidden name=otdan001 value="%OUTWEB09.02.101">
<input type=hidden name=otdan002 value="%OUTWEB09.02.102">
<input type=hidden name=otdan003 value="%OUTWEB09.02.103">
<input type=hidden name=otdan004 value="%OUTWEB09.02.104">
<input type=hidden name=otdan005 value="%OUTWEB09.02.105">
<input type=hidden name=wbseopdu value="%STANDARD.01.037.3">

<table width=95% align=center border=0 cellspacing=0 cellpadding=1>
<tr><td class=DataLabel>Requestor</td>
    <td><select name=otdan011 title="Requestor" tabindex=1
         class="Readonly" disabled>
        <option></option>
         %OUTWEB09.02.122.2
        </select>
    </td></tr>

<tr><td class=DataLabel valign=top>Message</td>
    <td colspan=3><textarea wrap=hard name=opdcommt 
         rows=8 cols=60 readonly="">%OUTWEB09.02.213. 1</textarea>
    </td></tr>

<tr><td class=DataLabel>Created By</td>
    <td>%OUTWEB09.02.114</td>
    <td class=DataLabel>Created Date/Time</td>
    <td>%OUTWEB09.02.112 %OUTWEB09.02.113</td>
    </tr>

<tr><td class=DataLabel>Updated By</td>
    <td>%OUTWEB09.02.117</td>
    <td class=DataLabel>Updated Date/Time</td>
    <td>%OUTWEB09.02.115 %OUTWEB09.02.116</td>
    </tr>

<tr><td class=DataLabel colspan=4><hr></td>
    </tr>

<tr><td class=DataLabel>Completed</td>
    <td><input type=checkbox name=otdan006 value="1" 
         onclick="MandatoryOutcome();">
    </td>
    <td class=DataLabel>Outcome</td>
    <td><select name=otdan007 class="Readonly" disabled title="Outcome">
         <option></option>
         %OUTWEB09.02.107.2
         </select>
    </td>
    </tr>

<tr><td class=DataLabel>Comment</td>
    <td colspan=3><input type=text name=otdan008 size=80 maxlength=80
                   value="%OUTWEB09.02.108">
    </td>
    </tr>

<tr><td colspan=4 align=center><br>
    <input type=button class="button" value="Update" name=AddButton
     onclick="tempDisable(this);PostUpdMessage();">
<!--
    <input type=button class="button" value="Delete" name=DelButton
     onClick="tempDisable(this);PostDeleteMessage();"
-->
    <input type=button class="button" value="Cancel" name=CanButton
     onclick="DFrameExitRefresh();">
    </td></tr>
</table>
</form>

<script type="text/javascript">
if("%OUTWEB09.02.106" == "1"){ 
  document.UpdateForm.otdan006.checked=true;
  MandatoryOutcome();
  setTimeout('DisableForm(UpdateForm)',200);
  setTimeout('document.UpdateForm.CanButton.disabled=false',300);
  setTimeout('CommentReadonly()',300);
}
function CommentReadonly(){
   document.UpdateForm.opdcommt.disabled=false;
   document.UpdateForm.opdcommt.className="Readonly";
   document.UpdateForm.opdcommt.readonly="readonly";
}
</script>
