<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script language=javascript>

function SetLists() {
  var p=document.SelectPeriod;
  p.clinicid.options.length=1;
  SetClinicId(p.clinicid,p.deftclid.value,p.usersite.value);
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);setTimeout('SetLists()',100);">
<form name=SelectPeriod action=outweb02.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=1>
<input type=hidden name=viewtype value="%OUTWEB02.01.011">
<input type=hidden name=deftclid value="%OUTWEB02.01.012">
<input type=hidden name=usersite value="%STANDARD.01.023">

<table cellpadding=1 bgcolor=#CCCCCC border=0 width=100%>
<tr><td class=DataLabel>Clinic 
    <select name=clinicid onchange='this.form.submit();'>
    <option></option>
    </select>

    <input type=button value="<<" class=SmallButton
    onClick='location.href="%OUTWEB02.01.002"'>
    %OUTWEB02.01.007
    <input type=button value=">>" class=SmallButton
    onClick='location.href="%OUTWEB02.01.001"'>

  </td><td align=right>
  <img src="../images/DateLookup.gif" class=Icon
   onclick='SelectDateFrame();' alt="Select Date">
  <img src=../images/DayIcon.gif class=Icon
   onclick='SelectView("0");' alt="View Today">
  <img src=../images/WeekIcon.gif class=Icon
   onclick='SelectView("2");' alt="View This Week" >
  <img src=../images/MonthIcon.gif class=Icon
   onclick='SelectView("2");' alt="View This Month" >
  </td></tr>

</table>
</form>
<table cellspacing=0 cellpadding=1 border=1 width=100%>
<tr><td align=center class=HeadingCell>Clinic Diary </td>
</table>
<table cellspacing=0 cellpadding=1 width=100% border=1>
%OUTWEB02.01.008.outweb02.02.001
</table>
