<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function Merge() {
 if(!isWhitespace(document.UpdateForm.d_emviadmn.value)) {
    if(!confirm("Warning - Linked ED visit " +
          document.UpdateForm.d_emviadmn.value +
          " exists. The linked ED visit " +
          "will be moved to the new U/R." +
          "\nPress Ok to continue, Cancel to Abort.")) {
        return;
    }
  }
 AddForm.iplinked.value=UpdateForm.d_emviadmn.value;
 if(!isWhitespace(document.UpdateForm.ptmilsdn.value)) {
 AddForm.statlink.value=UpdateForm.ptmilsdn.value
    if(!confirm("Warning: This visit is part of a Statistical Re-admission/" +
          "Discharge Event.  All linked Admissions will be moved to this " +
          "new U/R Number." +
          "\nPress Ok to continue to Change U/R, press Cancel to return to " +
          "the patient.")) {
        return;
    }
  }
  AddForm.admissno.value=UpdateForm.admissno.value;
  AddForm.newurnum.value=UpdateForm.urnumber.value;
  AddForm.redirect.value="patweb98.pbl?reportno=1&template=1" + 
                       "&admissno=" + AddForm.admissno.value.replace(/ /g,"+") +
                       "&urnumber=" + AddForm.newurnum.value.replace(/ /g,"+");
  if(parent.location.search.substring(1,25)=="reportno=04&template=013"){
       document.AddForm.nextpage.value="2";
  }
  SubmitHidden(document.AddForm);
}

function validateRecordID() {
 p=document.UpdateForm
 UpCase(p.urnumber);
 if(p.urnumber.value!="") {
   LenUR=p.urnumber.value.length
   if (LenUR < 9) { 
      Count= 8 - LenUR ;
      Blanks="";
      for (i=0; i < Count;i++) { Blanks+=" ";}
      p.urnumber.value=Blanks + p.urnumber.value }
   validateCode(13,p.urnumber,p.fna,UpdateUR,p.sex,p.dob,p.pce,p.dum,p.dum1,
         p.da,p.typ,p.age,p.medi,p.adda,p.addb,p.sub,p.addc,p.post);
   }
}
function UpdateUR() {
  if (document.UpdateForm.dum.value != document.UpdateForm.urnumber.value) {
     alert("UR Number Merged with " + document.UpdateForm.dum.value )
     document.UpdateForm.urnumber.value = document.UpdateForm.dum.value }
}
function init() {
 if(!isWhitespace(document.UpdateForm.d_obaoutno.value)) {
    alert("Error - Linked outpatient visit " +
          document.UpdateForm.d_obaoutno.value +
          " exists. Please unlink this visit and process" +
          " the visits individually.");
    DFrameExit();
 }

 if(!isWhitespace(document.UpdateForm.d_alrevisn.value)) {
    alert("Error - Linked referral " +
          document.UpdateForm.d_alrevisn.value +
          " exists. Please unlink this referral and process" +
          " the visits individually.");
    DFrameExit();
 }
}
</script>
%START.OF.PAGE
</head>
<body onload="PageLoad(event);">

<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Change U/R
</span>

<form action=patweb83.pbl name=UpdateForm type=post style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="41">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<input type=hidden name=dum value="">
<input type=hidden name=da value="">
<input type=hidden name=pce value="">
<input type=hidden name=dum1 value="">
<input type=hidden name=typ value="1">
<input type=hidden name=ptmilsdn value="%PATWEB98.01.199.018">
<input type=hidden name=d_emviadmn value="%PATWEB98.01.364">
<input type=hidden name=d_obaoutno value="%PATWEB98.01.383">
<input type=hidden name=d_alrevisn value="%PATWEB98.01.382">

<table width=95% align=center border=0 cellspacing=0>
<script type="text/javascript">
if(!isWhitespace(document.UpdateForm.ptmilsdn.value)){
  document.write("<tr><td class=DataField colspan=2>"+
          "Warning: This visit is Linked to a "+
          "Statistical Admission.  Please note that all events<br>"+
          "linked to the Statistical Admission will be moved to the new "+
          "U/R Number.</td></tr>");
}
</script>
<tr><td class=DataLabel nowrap><br>U/R Number (to keep)</td> 
    <td class=DataField>
    <input type=text title="U/R No" name=urnumber class=Mandatory size=20
     onblur='validateRecordID()'></td></tr>

<tr><td class=DataLabel>Name</td>
    <td class=DataField>
    <input type=text name=fna size=50 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Date of Birth</td>
    <td class=DataLabel>
    <input type=text name=dob size=20 readonly class=Readonly>
    Age <input type=text name=age size=10 readonly class=Readonly></td></tr>

<tr><td class=DataLabel>Sex</td>
    <td class=DataField>
    <input type=text name=sex size=10 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Medicare Number</td>
    <td class=DataField>
    <input type=text name=medi size=10 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Address 1</td>
    <td class=DataField>
    <input type=text name=adda size=35 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Address 2</td>
    <td class=DataField>
    <input type=text name=addb size=35 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Address 3</td>
    <td class=DataField>
    <input type=text name=sub size=35 readonly class=Readonly></td></tr>

<tr><td class=DataLabel nowrap>Address 4</td>
    <td class=DataField>
    <input type=text name=addc size=35 readonly class=Readonly></td></tr>

<tr><td class=DataLabel>Postcode</td>
    <td class=DataField>
    <input type=text name=post size=8 readonly class=Readonly></td></tr>

<tr><td colspan=3 align=center>
    <input type=button value=Ok id=mrgBtn class="button" onclick="Merge();
           tempDisable(this);">
    <input type=reset value=Clear class="button">
    <input type=button value=Close class="button" onclick="DFrameExit();">
    </td></tr>
</table>
</form>

<form action=patweb83.pbl name=AddForm type=post style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=001>
<input type=hidden name=opatsite value="%STANDARD.01.023">
<input type=hidden name=admissno>
<input type=hidden name=newurnum>
<input type=hidden name=iplinked>
<input type=hidden name=statlink>
<input type=hidden name=nextpage value="3">
<input type=hidden name=redirect value="">
</form>
