<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb78.js"></script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
document.write("Geriatric Episode");
</script>
</span>

<table cellspacing=0 cellpadding=1 border=0 width=100% align=center>
<tr><td colspan=2 class=HeadingCell align=center>
Episode: %PATWEB78.01.220 &nbsp;&nbsp;&nbsp;&nbsp;  
%PATWEB78.01.221 - %PATWEB78.01.222 
&nbsp;&nbsp;&nbsp;&nbsp; Care Type: %PATWEB78.01.223
</td></tr>

<tr><td>
<table cellspacing=0 cellpadding=1 border=0 width=95% align=center>

  <form name=AddForm action=patweb78.pbl method=post>
  <input type=hidden name=reportno value=01>
  <input type=hidden name=template value=002>
  <input type=hidden name=urnumber value="%PATWEB78.01.003">
  <input type=hidden name=admissno value="%PATWEB78.01.081">
  <input type=hidden name=episodno value="%PATWEB78.01.220">
  <input type=hidden name=updttype value="U">
  <input type=hidden name=acuttype value="3">
  <input type=hidden name=admdate  value="%PATWEB78.01.102">
  <input type=hidden name=disdate  value="%PATWEB78.01.301">



<tr><td class=DataLabel>Barthel Index Score on Admission</td>
    <td><input type="text" size="4" maxlength="4" name=ptrde001 
         title="Barthel Index Score on Admission" class="Integer"
         value="%PATWEB78.01.204" onblur="Barthel(this);">
    </td></tr>

<tr><td class=DataLabel>Barthel Index Score on Discharge</td>
    <td><input type="text" size="4" maxlength="4" name=ptrde002 
         title="Barthel Index Score on Discharge" class="Integer" 
         value="%PATWEB78.01.205" onblur="Barthel(this);">
    </td></tr>

<tr><td class=DataLabel>FIM Score on Admission</td>
    <td><input type="text" size="4" maxlength="4" name=ptrde012 
         title="FIM Score on Admission" class="Integer" 
         value="%PATWEB78.01.215" onblur="FIM(this);">
    </td></tr>

<tr><td class=DataLabel>FIM Score on Discharge</td>
    <td><input type="text" size="4" maxlength="4" name=ptrde013 
         title="FIM Score on Discharge" class="Integer" 
         value="%PATWEB78.01.216" onblur="FIM(this);">
    </td></tr>

<tr><td class=DataLabel>Diagnostic Group</td>
    <td><input type="text" size="5" maxlength="5" name=ptrde014 
         title="Diagnostic Group" 
         value="%PATWEB78.01.217">
    </td></tr>

<tr><td class=DataLabel>User Flag</td>
<td><input type="text" size="1" maxlength="1" name=ptrde006 title="User Flag"
     value="%PATWEB78.01.209">
     </td></tr>

<tr><td class=DataLabel>Comments Line 1</td>
<td><input type="text" size="45" maxlength="70" name=ptrde015 
     title="Comments Line 1"
     value="%PATWEB78.01.218">
     </td></tr>

<tr><td class=DataLabel>Comments Line 2</td>
<td><input type="text" size="45" maxlength="70" name=ptrde016 
     title="Comments Line 1"
     value="%PATWEB78.01.219">
     </td></tr>
<tr><td class=DataLabel>Functional Assessment Date on Admission</td>
    <td class=DataField><input type=text size=12 maxlength=12 width=30%
        name=ptrde017 title="Assessment Date on adm" class=""
        value="%PATWEB78.01.224">
       <img src=../images/DateLookup.gif border=0 hspace=4 align=absmiddle
       onclick="DateLookupFrame(ptrde017);">
     </td></tr>

<tr><td class=DataLabel>Functional Assessment Date on Discharge</td>
    <td class=DataField><input type=text size=12 maxlength=12 width=30%
        name=ptrde018 title="Assessment Date on discharge" class=""
        value="%PATWEB78.01.225">
       <img src=../images/DateLookup.gif border=0 hspace=4 align=absmiddle
       onclick="DateLookupFrame(ptrde018);">
     </td></tr>

<tr><td class=DataLabel>AN SNAP Classification</td>
       <td><input type=text name=ptrde026 id=ptrde026 size=4 maxlength=3
                  title="AN SNAP Classification" value="%PATWEB78.01.233"
                  onblur="valANSNAPClassCode(ptrde026,ptrde025,snapdesc);">
           <input type=text readonly name=snapdesc id=snapdesc size=27
                  maxlength=80 value="%PATWEB78.01.232"
                  class=readonly tabindex=-1 title="AN SNAP Description">
                  &nbsp;&nbsp;Version&nbsp;&nbsp;
           <input type=text name=ptrde025 id=ptrde025 maxlength=2
                  size=3 value="%PATWEB78.01.231" title="AN SNAP Version"
                  onblur="valANSNAPClassCode(ptrde026,ptrde025,snapdesc);">
             <img src="../images/SearchIcon.gif" class=Icon
                  onclick="ClassCodeSearchFrame(ptrde026,ptrde025,snapdesc);">
             <img src="../images/ClearIcon.gif" class=Icon
                   onclick="clrFields(ptrde026,ptrde025,snapdesc);">
    </td>
</tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="OK" class="button" 
     onclick="SubmitHidden(AddForm)">
    <input type=button class="button" type=button value="Close"
     onclick='DFrameClose();'>
    </td></tr>
</form>
</table>
</tr></td>
</table>
<script type="text/javascript">
function init(){
SetDateYYYYMMDD(document.AddForm.admdate.value);
if(ReturnString>"20060701"){
 document.AddForm.ptrde017.className="Mandatory"
 document.AddForm.ptrde018.className="Mandatory"
 return;}
SetDateYYYYMMDD(document.AddForm.disdate.value);
if(ReturnString>"20060701"){
 document.AddForm.ptrde017.className="Mandatory"
 document.AddForm.ptrde018.className="Mandatory"}
}
</script>


