<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostDelete() {
  p=document.UpdateForm;
  if (!validateMandatory(p)) {return;}

  ans=confirm("Are you sure you want to Delete ?");
  if (ans) {
    p.updttype.value = "D";
    p.submit();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Delete Multiple Birth Details - %PATWEB07.21.002 (UR Number %PATWEB07.21.003)
</span>

<div id=PageBodySection>
<form name=UpdateForm method=post action=patweb07.pbl style="margin:0">
<input type=hidden name=reportno value="21">
<input type=hidden name=template value="003">
<input type=hidden name=urnumber value="%PATWEB07.21.003">
<input type=hidden name=updttype value="">
<input type=hidden name=ptatr001 value="%PATWEB07.21.101">
<input type=hidden name=ptatr002 value="%PATWEB07.21.102">
<input type=hidden name=ptatr003 value="%PATWEB07.21.103">
<input type=hidden name=ptatr004 value="%PATWEB07.21.104">
<input type=hidden name=ptatr005 value="%PATWEB07.21.105">

<table align=center width=90% border=0>
<tr><td class=DataLabel>%STANDARD.01.035.mX</td>
    <td class=DataLabel>%PATWEB07.21.128</td>
</tr>

<tr><td class=DataLabel>Birth Order</td>
    <td class=DataLabel>%PATWEB07.21.129</td>
</tr>

<tr><td class=DataLabel>Reason for Change</td>
    <td><select name=ptpar008 class=Mandatory
         title="Reason for Change">
        <option></option>
         %STANDARD.01.007.mW
        </select>
    </td>
</tr>

<tr><td colspan=4 align=center><br>
   <input type=button value="Delete" class=button id=btnDelete
    onclick="tempDisable(this);PostDelete();">
   <input type=button value="Cancel" class=button
    onclick="DFrameCloseRefresh();">
   </td></tr>
</table>
</form>
</div>
