<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<!--INSURANCE FORM-->
<link rel="stylesheet" href="../html/postcode.css" type="text/css">
<script type="text/javascript" src="../js/AutoPostCode.js"> </script>
<script type="text/javascript" src="../js/EmrMandatory.js"> </script>
<script type="text/javascript">
function SetFieldsPRA() {
 suburb = UpdateForm.ptpra004;
 state = UpdateForm.ptpra005;
 postcode = UpdateForm.ptpra006;
}
function SearchPage(returnName,LookupPage) {
window.returnName=returnName ;
Lookup=open(LookupPage, "LookupWindow",
"width=450,height=300,top=100,left=100,scrollbars=yes,status=no,toolbar=no,menubar=no") ;
}
function SetCancel() {
  location.href="emrweb01.pbl?reportno=1&template=2";
}
function clrTable() {
  document.UpdateForm.emvis018.value="";
  document.UpdateForm.tabldesc.value="";
  document.UpdateForm.funddesc.value="";
}
function setFormactn() {
  if  (!validateMandatory(UpdateForm)) {
      return;
  }
  if (!isWhitespace(UpdateForm.ptmis013.value)) {
      if (!validateHFT(20,UpdateForm.ptmis013,UpdateForm.ptmis014,
                          UpdateForm.funddesc,UpdateForm.tabldesc)) {
         ans=confirm("Select another active health fund table? ");
         if (ans==true) {
            return;
         }
      }
  }
  document.UpdateForm.formactn.value="C1"
  UpdateWin=window.open("","HideUpdateWindow",
  "width=10,height=10,top=1024,directories=no,location=no" +
  ",scrollbars=no,status=no,toolbar=no,menubar=no,resizable=no")
  document.UpdateForm.target="HideUpdateWindow";
  if(document.UpdateForm.regiflag!=undefined){
    document.UpdateForm.redirect.value+=
    "&regiflag=" + document.UpdateForm.regiflag.value
  }
  document.UpdateForm.submit()
}
function chgName()  {
  if (document.UpdateForm.chckname.value==0) {
  ans=confirm("Save old Name as Alais ?");
  if (ans) { 
    document.UpdateForm.chckname.value="1" 
    }
  }
}      
function CheckFund(fund,selectlist)  {
var found=0
strvar=fund.value+"      "         // format as three characters space filled
fund.value=strvar.substr(0,6)
for (var i =0 ; i < selectlist.length; i++) {
  if (selectlist.options[i].value.substr(0,6)==fund.value) {
         found=1
         selectlist.selectedIndex=i } }
if (found==0) { alert("Invalid Fund Entered")
                fund.focus() }
}
function UpdateFund(fund,selectlist) {
  fund.value=selectlist.value.substr(0,6);
}
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);self.focus();InitPostCodes()">
<div id=PageHeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB89.01.003";
PatientVIS="%PATWEB89.01.081";
PatientNAM="%PATWEB89.01.002";
PatientSTA="%PATWEB89.01.086.078";
PatientALT="%PATWEB89.01.084";
PatientSEX="%PATWEB89.01.019";
PatientDOB="%PATWEB89.01.020";
PatientAGE="%PATWEB89.01.021";
PatientLOC="%PATWEB89.01.083";
PatientPRI="%PATWEB89.01.086.066.1";
PatientUNT="%PATWEB89.01.066.0";
DoctorCOD="%PATWEB89.01.082.003";
DoctorNAM="%PATWEB89.01.082.002";
PatientAID="%PATWEB89.01.086.090";
PatientIND="%PATWEB89.01.086.091";
PatientCUR="%PATWEB89.01.086.092";
PatientCLC="%PATWEB89.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB89.01.086.094";
PatientCDM="%PATWEB89.01.086.095";
PatientVDH="%PATWEB89.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
</div>
<div id=PageBodySection>
<form name=UpdateForm action="emrweb02.pbl" method=post style=margin:0>
  <input type=hidden name=reportno value="01">
  <input type=hidden name=template value="013">
  <input type=hidden name=updatety value="4">
  <input type=hidden name=updttype value="REGIS">
  <input type=hidden name=formactn>
  <input type=hidden name=urnumber value="%PATWEB89.01.003">
  <input type=hidden name=emvis118 value="%PATWEB89.01.003">
  <input type=hidden name=admissno value="%PATWEB89.01.081">
  <input type=hidden name=updateky value="%PATWEB89.01.467">
  <input type=hidden name=chckname>
  <input type=hidden name=nextpage value=2>
  <input type=hidden name=redirect value="%PATWEB89.01.001.patweb89.01.014">
  <input type="hidden" name="dummy">
  <input type=hidden name=pmpxi006 value="%PATWEB89.01.806">
  <input type=hidden name=pmpxi009 value="%PATWEB89.01.809">
  <input type=hidden name=pmpxi012 value="%PATWEB89.01.812.0">
  <input type=hidden name=pmpxi015 value="%PATWEB89.01.815">
  <input type=hidden name=pmpxi036 value="">
  <input type=hidden name=pmpxi037 value="%PATWEB89.01.837">
  <input type=hidden name=pmpxi052 value="">
  <input type=hidden name=pmpxi053 value="%PATWEB89.01.853">
  <input type=hidden name=pmpxi067 value="%PATWEB89.01.867.0">
  <input type=hidden name=pmpxi068 value="%PATWEB89.01.868.0">
  <input type=hidden name=pmpxi068 value="%PATWEB89.01.868.0">
  <input type=hidden name=regiflag value="%PATWEB89.01.953">

<table align=center width=100% border=1 cellspacing=0 cellpadding=2>
<tr><td class=HeadingCell colpsan=2 width=100% align=center>
     Insurance </td></tr>
<tr><td>
    <table border=0 width=95% align=center >
    <tr><td class=DataLabel>Private Health Fund</td>
        <td><input type=text name=emvis017 size=6 maxlength=6
        class=Mandatory title="Private Health Fund" id=emvis017
        value="%PATWEB89.01.040.0" onblur='
        CheckFund(emvis017,name_emvis017)'></td>
        <td colspan=4><select name=name_emvis017 class=Mandatory
        onblur='emvis018.value="";tabldesc.value="";
        UpdateFund(emvis017,name_emvis017)'>
        <option></option>
        %PATWEB89.01.417.2
        </select></td>
        <input type=hidden name="funddesc" id=funddesc
         value="%PATWEB89.01.040.1"></td></tr>
    <tr><td class=DataLabel>Level of Insurance</td>
        <td><input type="text" name="emvis018" value="%PATWEB89.01.041.0"
        id=emvis018 class=Mandatory title="Level of Insurance"
        maxlength=8 size=9></td>
        <td colspan=4>
        <input type=text name=tabldesc size=40 readonly class=Mandatory
        id=tabldesc value="%PATWEB89.01.041.1">
        <img src=../images/SearchIcon.gif class=Icon
        onclick="HealthFundSearchFrame(emvis017,funddesc,emvis018,tabldesc);">
        </td></tr>
    <tr><td class=DataLabel>Membership Number</td>
        <td><input type="text" name=emvis124 size="20" maxlength="19"
             value="%PATWEB89.01.042"></td></tr>
    <tr><td class=DataLabel>Pension No</td>
        <td><input type=text size=15 maxlength=15 name=ptmas023
               value="%PATWEB89.01.028"></td>
        <td class=DataLabel>Medicare No</td>
        <td><input type=text size=12 maxlength=12 name=ptmas022
             class=Mandatory title="Medicare No"
             onblur="checkMedicare(ptmas022);"  
               value="%PATWEB89.01.027"></td>
        <td class=DataLabel>Medicare Code</td>
        <td><input type=text size=5 maxlength=2 name=ptmsx048
               value="%PATWEB89.01.649"></td></tr>
    <tr><td class=DataLabel>Repat No</td>
        <td><input type=text size=10 max=10 name=ptmas025
               value="%PATWEB89.01.030"></td>
        <td class=DataLabel>DVA Card Colour</td>
        <td><select name=pmpmi057>
            <option></option>
            %PATWEB89.01.857.2
            </select></td></tr>
     </table>
</td></tr>
</form>
<tr><td width=100% align=center>
    <input type=button value="Update" id="pat89sub"
     onclick="tempDisable(this);setFormactn()" class="button">
    <input type=button value="Cancel" 
     onclick="SetCancel()" class="button">
    </td></tr>
</td></tr>
</table>
</form>
</div>
<SCRIPT LANGUAGE=javascript>
/*
for (var i =0 ; i < document.UpdateForm.name_emvis017.length; i++) {
     if (document.UpdateForm.name_emvis017.options[i].value=="%PATWEB89.01.040.0") {
         document.UpdateForm.name_emvis017.selectedIndex=i } };
//
*/
PageBodySection.style.height=document.body.clientHeight -
                            PageHeadingSection.clientHeight
</SCRIPT>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=admissno value="%PATWEB89.01.081">
<input type=hidden name=MenuType value="%PATWEB89.01.088">
</form>
<script type="text/javascript">
function PRASelf() {
  document.UpdateForm.ptpra002.value="%PATWEB89.01.012"
  document.UpdateForm.ptpra003.value="%PATWEB89.01.013"
  document.UpdateForm.ptpra004.value="%PATWEB89.01.014"
  document.UpdateForm.ptpra005.value="%PATWEB89.01.015"
  document.UpdateForm.ptpra006.value="%PATWEB89.01.016"
  document.UpdateForm.ptpra007.value="%PATWEB89.01.017"
  document.UpdateForm.ptpra008.value="%PATWEB89.01.018"
}
if("%PATWEB89.01.836" == "Yes") {
 document.UpdateForm.pmpxi036.value=1;
}
if("%PATWEB89.01.852" == "Yes") {
  document.UpdateForm.pmpxi052.value=1;
}
</script>
