<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script  type="text/javascript">
function UpdatePayor() {
 alert('aa');
  setFormactn('U');
}
</script>
</head>

%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Update Expected Payor
</span>

<div id=PageBodySection>
<form name=UpdateForm method=post action=patweb71.pbl style="margin:0">
 <input type=hidden name=reportno value="10">
 <input type=hidden name=template value="002">
 <input type=hidden name=urnumber value="%PATWEB71.10.003">
 <input type=hidden name=updttype value="">
 <input type=hidden name=vspay001 value="%PATWEB71.10.101">
 <input type=hidden name=vspay002 value="%PATWEB71.10.102.0">
 <input type=hidden name=vspay005 id=vspay005 value="">

<table align=center width=90% border=0>
<tr><td class=DataLabel>Payor</td>
    <td>%PATWEB71.10.102.0 </td></tr>

<tr><td class=DataLabel>Description</td>
    <td>%PATWEB71.10.102.1 </td></tr>

<tr><td class=DataLabel>Comment</td>
    <td><input type=text name=vspay004 title=Comment size=30 maxlength=30
         value="%PATWEB71.10.104"> </td></tr>

<tr><td class=DataLabel>Active</td>
    <td><input type=checkbox name=d_vspay005 id=d_vspay005
     title=Active value=0> </td></tr>
    
<tr><td class=DataLabel>Date/Time Created</td>
    <td>%PATWEB71.10.106 %PATWEB71.10.107</td></tr>

<tr><td class=DataLabel>Created By</td>
    <td>%PATWEB71.10.108</td></tr>

<tr><td class=DataLabel>Date/Time Updated</td>
    <td>%PATWEB71.10.109 %PATWEB71.10.110</td></tr>

<tr><td class=DataLabel>Updated By</td>
    <td>%PATWEB71.10.111</td></tr>

<tr><td colspan=4 align=center><br>
   <input type=button value="Update" class="button" name=updbuttn tabindex=30
    onclick="tempDisable(this)UpdatePayor();">
   <input type=button value="Delete" class="button" name=delbuttn tabindex=30
    onclick="tempDisable(this);setFormactn('D');">
   <input type=button value="Cancel" class="button" tabindex=31
    onclick="DFrameCloseRefresh();"> </td></tr>
</table>
</form>
</div>

<script type="text/javascript">
 Active="%PATWEB71.10.105";
 if ( Active == "0") {
   document.UpdateForm.d_vspay005.checked=1;
 }
</script>
