<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb7601037.js>  </script>
<script type="text/javascript">
function SubmitForm1() {
  if (validateMandatory(UpdateForm))
  {
   document.UpdateForm.nextpage.value="1"
   document.UpdateForm.redirect.value="patweb76.pbl?reportno=01&template=039" +
        "&urnumber=" +document.UpdateForm.urnumber.value.replace(/ /g,"+") +
        "&admissno=" +document.UpdateForm.admissno.value.replace(/ /g,"+") 

   if (document.UpdateForm.gstapl01!=undefined) {
     document.UpdateForm.gstapl01.disabled=false;
     document.UpdateForm.gstapl02.disabled=false;
     document.UpdateForm.gstapl03.disabled=false;
     document.UpdateForm.gstapl04.disabled=false;
     document.UpdateForm.gstapl05.disabled=false;
     document.UpdateForm.gstapl06.disabled=false;

     document.UpdateForm.gstcod01.disabled=false;
     document.UpdateForm.gstcod02.disabled=false;
     document.UpdateForm.gstcod03.disabled=false;
     document.UpdateForm.gstcod04.disabled=false;
     document.UpdateForm.gstcod05.disabled=false;
     document.UpdateForm.gstcod06.disabled=false;

     document.UpdateForm.gstapm01.disabled=false;
     document.UpdateForm.gstapm02.disabled=false;
     document.UpdateForm.gstapm03.disabled=false;

     document.UpdateForm.gstcom01.disabled=false;
     document.UpdateForm.gstcom02.disabled=false;
     document.UpdateForm.gstcom03.disabled=false;
   }
   document.UpdateForm.submit(); 
  }
}
function GetExpDiscDate(){
date1=document.UpdateForm.pmsfi005;
  if (document.UpdateForm.pmsfi006.value==0) {
    document.UpdateForm.pmsfi007.value="";
    return; }
  if (!isWhitespace(date1.value)) {
  if(checkDate(date1,'Date')) { 
//  if (date1.defaultValue==date1.value) {
//    return; }
    var colday=new Date(date1.value);
    var reminder=new Date();
    RemDaySeconds = 86400000 * document.UpdateForm.pmsfi006.value
    coldayseconds = colday.getTime();
    reminderseconds = Math.floor(coldayseconds + RemDaySeconds);
    reminder.setTime(reminderseconds);
    day=reminder.getDate();
    if(day<10) {
      day="0" + day
    } 
    mon="";
    if(reminder.getMonth()=="0") mon="Jan"
    if(reminder.getMonth()=="1") mon="Feb"
    if(reminder.getMonth()=="2") mon="Mar"
    if(reminder.getMonth()=="3") mon="Apr"
    if(reminder.getMonth()=="4") mon="May"
    if(reminder.getMonth()=="5") mon="Jun"
    if(reminder.getMonth()=="6") mon="Jul"
    if(reminder.getMonth()=="7") mon="Aug"
    if(reminder.getMonth()=="8") mon="Sep"
    if(reminder.getMonth()=="9") mon="Oct"
    if(reminder.getMonth()=="10") mon="Nov"
    if(reminder.getMonth()=="11") mon="Dec"
    year=reminder.getFullYear();
    reminderdate = day + " " + mon + " " + year
  document.UpdateForm.pmsfi007.value=reminderdate;
  }
}
}
function GetPrintDetails1() {
  if (document.UpdateForm.feeformf.checked==true) {
    document.UpdateForm.statncod.className="Mandatory";
    document.UpdateForm.schdprnt.className="Mandatory";
    document.UpdateForm.statncod.disabled=false;
    document.UpdateForm.schdprnt.disabled=false;
    document.UpdateForm.schdcopy.disabled=false;
    document.UpdateForm.setdefp1.disabled=false;
    for (var i=0;i<document.UpdateForm.statncod.length;i++){
      if (document.UpdateForm.statncod.options[i].value.replace(/ /g,"")==
          document.UpdateForm.feefdeft.value.replace(/ /g,"")){
          document.UpdateForm.statncod.selectedIndex=i}};
  } else {
    document.UpdateForm.statncod.className="";
    document.UpdateForm.schdprnt.className="";
    document.UpdateForm.statncod.disabled=true;
    document.UpdateForm.schdprnt.disabled=true;
    document.UpdateForm.schdcopy.disabled=true;
    document.UpdateForm.setdefp1.disabled=true;
  }
}
function GetPrintDetails2() {
  if (document.UpdateForm.medformf.checked==true) {
    document.UpdateForm.statnco2.className="Mandatory";
    document.UpdateForm.schdprn2.className="Mandatory";
    document.UpdateForm.statnco2.disabled=false;
    document.UpdateForm.schdprn2.disabled=false;
    document.UpdateForm.schdcop2.disabled=false;
    document.UpdateForm.setdefp2.disabled=false;
    for (var i=0;i<document.UpdateForm.statnco2.length;i++){
      if (document.UpdateForm.statnco2.options[i].value.replace(/ /g,"")==
          document.UpdateForm.medfdeft.value.replace(/ /g,"")){
          document.UpdateForm.statnco2.selectedIndex=i}};
  } else {
    document.UpdateForm.statnco2.className="";
    document.UpdateForm.schdprn2.className="";
    document.UpdateForm.statnco2.disabled=true;
    document.UpdateForm.schdprn2.disabled=true;
    document.UpdateForm.schdcop2.disabled=true;
    document.UpdateForm.setdefp2.disabled=true;
  }
}
function GetPrintDetails3() {
  if (document.UpdateForm.twoformf.checked==true) {
    document.UpdateForm.statnco3.className="Mandatory";
    document.UpdateForm.schdprn3.className="Mandatory";
    document.UpdateForm.statnco3.disabled=false;
    document.UpdateForm.schdprn3.disabled=false;
    document.UpdateForm.schdcop3.disabled=false;
    document.UpdateForm.setdefp3.disabled=false;
    for (var i=0;i<document.UpdateForm.statnco3.length;i++){
      if (document.UpdateForm.statnco3.options[i].value.replace(/ /g,"")==
          document.UpdateForm.twofdeft.value.replace(/ /g,"")){
          document.UpdateForm.statnco3.selectedIndex=i}};
  } else {
    document.UpdateForm.statnco3.className="";
    document.UpdateForm.schdprn3.className="";
    document.UpdateForm.statnco3.disabled=true;
    document.UpdateForm.schdprn3.disabled=true;
    document.UpdateForm.schdcop3.disabled=true;
    document.UpdateForm.setdefp3.disabled=true;
  }
}
function ShowItems() {
  if(document.UpdateForm.claimtyp.value=="U") {
    document.getElementById('ItemList').innerHTML=
    document.getElementById('ItemsInput').innerHTML;
  } else {
    document.getElementById('ItemList').innerHTML=
    document.getElementById('Blank').innerHTML;
  }
}
function ShowTwoWay() {
  if(document.UpdateForm.claimtyp.value=="P") {
    document.getElementById('TwowayList').innerHTML=
    document.getElementById('TwowayInput').innerHTML;
  } else {
    document.getElementById('TwowayList').innerHTML=
    document.getElementById('Blank').innerHTML;
  }
}
function ShowMiddle() {
  if(document.UpdateForm.claimtyp.value=="") {
    document.getElementById('MiddleList').innerHTML=
    document.getElementById('Blank').innerHTML; }
  else {
    if(document.UpdateForm.claimtyp.value=="C") {
      document.getElementById('MiddleList').innerHTML=
      document.getElementById('FastInput').innerHTML; }
    else {
      document.getElementById('MiddleList').innerHTML=
      document.getElementById('AmountInput').innerHTML; 
//    if(document.UpdateForm.claimtyp.value=="U") {
//     document.getElementById('assistga').className="HighLightRed";
//    }
      if(document.UpdateForm.claimtyp.value=="P") {
       document.getElementById('anaegapa').innerHTML="Anaesthetist Gap Amount *"
       document.getElementById('phycamnt').innerHTML="Physician Consultation Amount *"
       document.getElementById('educdvda').innerHTML="Educational DVD Amount *"
      }
    }
  }
}
function ShowTotals() {
  if(document.UpdateForm.claimtyp.value=="U") {
    document.getElementById('TotalsList').innerHTML=
    document.getElementById('TotalUInput').innerHTML; }
  else {
    if(document.UpdateForm.claimtyp.value=="P") {
      document.getElementById('TotalsList').innerHTML=
      document.getElementById('TotalPInput').innerHTML;

      document.getElementById('exceamnt').innerHTML="Excess *";
    }
    else {
      document.getElementById('TotalsList').innerHTML=
      document.getElementById('Blank').innerHTML; }
  }
}
function DisplayClaim() {
  ShowMiddle();
  ShowTotals();
  ShowItems();
  ShowTwoWay();
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);GetExpDiscDate();DisplayClaim();>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB76.01.003";
PatientVIS="%PATWEB76.01.081";
PatientNAM="%PATWEB76.01.002";
PatientSTA="%PATWEB76.01.086.078";
PatientALT="%PATWEB76.01.084";
PatientSEX="%PATWEB76.01.019";
PatientDOB="%PATWEB76.01.020";
PatientAGE="%PATWEB76.01.021";
PatientLOC="%PATWEB76.01.083";
PatientPRI="%PATWEB76.01.086.066.1";
PatientUNT="%PATWEB76.01.066.0";
DoctorCOD="%PATWEB76.01.082.003";
DoctorNAM="%PATWEB76.01.082.002";
PatientAID="%PATWEB76.01.086.090";
PatientIND="%PATWEB76.01.086.091";
PatientCUR="%PATWEB76.01.086.092";
PatientCLC="%PATWEB76.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB76.01.086.094";
PatientCDM="%PATWEB76.01.086.095";
PatientVDH="%PATWEB76.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<form name=UpdateForm method=post action=patweb76.pbl style="margin:0">
  <input type=hidden name=reportno value=1>
  <input type=hidden name=template value=037>
  <input type=hidden name=updatety value="6">
  <input type=hidden name=nextpage value="">
  <input type=hidden name=redirect value="">
  <input type=hidden name=dummy value="">
  <input type=hidden name=tempamnt value="">
  <input type=hidden name=tempgsta value="">
  <input type=hidden name=tempgstc value="">
  <input type=hidden name=suggclss value="">
  <input type=hidden name=dcasclss value="">
  <input type=hidden name=updttype value="">
  <input type=hidden name=rdirquot value="%PATWEB76.01.709">
  <input type=hidden name=validpre value="%PATWEB76.01.716">
  <input type=hidden name=updatflg value="">
  <input type=hidden name=claimtyp value="">
  <input type=hidden name=urnumber value="%PATWEB76.01.003">
  <input type=hidden name=admissno value="%PATWEB76.01.081">
  <input type=hidden name=ptcnhdps id=ptcnhdps 
         value="%STANDARD.01.025.080.250.1.1">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
    Fees Information</td></tr>
<tr><td>
</table>

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=15%>Number of Nights Stay</td>
    <td width=20%><input type=text name=pmsfi006 size=4 maxlength=3 
         title='Number of Nights Stay' class="Integer" min=0 max=9999
         value='%PATWEB76.01.129' onblur="GetExpDiscDate();" tabindex=1> 
         &nbsp; 0=Daycase &nbsp;
    </td>
</tr>

<tr><td class=DataLabel width=15%>Admission Date</td>     
    <td width=20%><input type=text size=15 maxlength=12 name=pmsfi005 
         value="%PATWEB76.01.102" class="Mandatory Date" title="Admission Date"
         onblur="checkDate(this,'Admission Date');GetExpDiscDate();"
         tabindex=5>
        <img notab src="../images/DateTimeStamp.gif" class="Icon"
         alt="Current" date="UpdateForm.pmsfi005">
        <img notab src="../images/DateLookup.gif" class="Icon"
         alt="Calendar" date="UpdateForm.pmsfi005">
    </td>
    <td>&nbsp;</td>
    <td class=DataLabel>Expected Discharge Date</td>
    <td><input type=text size=15 maxlength=12 name=pmsfi007 
         title="Expected Discharge Date" value="" tabindex=10></td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><input type=hidden name=pmsfi008 value="%PATWEB76.01.126.1" tabindex=-1>
        <input type=text readonly value="%PATWEB76.01.126.0" class=Readonly>
    </td>
</tr>

<tr><td width=15% class=DataLabel>Health Fund</td>
    <td colspan=2><input type=text name=pmsfi009 id=pmsfi009 size=6 maxlength=6 
        class=Readonly readonly title="Health Fund" value="%PATWEB76.01.114.0"
        tabindex=-1>
        <input type=text class=readonly readonly name=funddesc id=funddesc
         size=35 title="Health Fund Description" tabindex=-1
         value="%PATWEB76.01.114.1"></td>
    <td class=DataLabel>Table</td>
    <td colspan=2><input type=text name=pmsfi010 id=pmsfi010 size=8 maxlength=8
         title="Fund Table" value="%PATWEB76.01.115.0" readonly
         class=Readonly>
        <input type=text class=readonly readonly name=tabdesc id=tabdesc size=20
         title="Table Description" tabindex=-1 value="%PATWEB76.01.115.1">
        <img src=../images/SearchIcon.gif class=Icon
         onclick="HealthFundSearchFrame(pmsfi009,funddesc,pmsfi010,tabdesc);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrHFundvars();'>
    </td>
</tr>

<tr><td colspan=6><hr width=100%></td></tr>
</table>

<div id=MiddleList></div>
<div id=TotalsList></div>
<div id=ItemList></div>

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=6><hr width=100%></td></tr>

<tr><td class=DataLabel width=15%>Print Fee Information Form</td>
    <td><input type=checkbox name=feeformf onclick="GetPrintDetails1();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statncod disabled title="Fee Information Form" tabindex=-1>
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprnt disabled title="Printer">
        <option></option>
         %STANDARD.01.001.FEEFORMF.01
        </select>
    </td>
    <input type=hidden name=schdcopy disabled value="1">
    <input type=hidden name=feefdeft value="%PATWEB76.01.718">
    <input type=hidden name=setdefp1 disabled value="FEEFORMF01">
</tr>


<tr><td class=DataLabel width=15%>Print Medicare Form</td>
    <td><input type=checkbox name=medformf onclick="GetPrintDetails2();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statnco2 disabled title="Medicare Form" tabindex=-1>
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprn2 disabled title="Printer">
        <option></option>
         %STANDARD.01.001.MEDFORMF.01
        </select>
    </td>
    <input type=hidden name=schdcop2 disabled value="1">
    <input type=hidden name=medfdeft value="%STANDARD.01.033.MEDFORMF.01">
    <input type=hidden name=setdefp2 disabled value="MEDFORMF01">
</tr>
</table>

<div id=TwowayList></div>

    <input type=hidden name=schdcop3 disabled value="1">
    <input type=hidden name=twofdeft value="%STANDARD.01.033.TWOFORMF.01">
    <input type=hidden name=setdefp3 disabled value="TWOFORMF01">

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td align=center colspan=2><br>
    <input type=button value=Calculate id=calbtn class="button" 
           onclick="tempDisable(this);SubmitForm1()"
           tabindex=130>
    <input type=button value=Cancel class="button" tabindex=135
     onclick="PatientLinkTo('patweb98.pbl',1,1,0);">
    </td></tr>
</table>

</form>
</div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB76.01.003">
<input type=hidden name=admissno value="%PATWEB76.01.081">
<input type=hidden name=MenuType value="%PATWEB76.01.088">
</form>

<span id=ItemsInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=6><hr width=100%></td></tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 1</td>
    <td colspan=5><input type=text name=thefee01 id=thefee01 size=9 maxlength=9 
         title='Theatre Fee Code 1' 
         onblur='checkTheatre(thefee01,thedesc01,gstapl01,gstcod01);'> 
        <input type=text name=thedesc01 id=thedesc01
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 1 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee01,thedesc01);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee01,thedesc01);disableTF(gstapl01,gstcod01);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa01 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl01 id=gstapl01 title="Is GST applicable?" 
                onchange='checkGST(gstapl01,gstcod01);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod01 id=gstcod01 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 2</td>
    <td colspan=5><input type=text name=thefee02 id=thefee02 size=9 maxlength=9 
         title='Theatre Fee Code 2'
         onblur='checkTheatre(thefee02,thedesc02,gstapl02,gstcod02);'> 
        <input type=text name=thedesc02 id=thedesc02
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 2 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee02,thedesc02);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee02,thedesc02);disableTF(gstapl02,gstcod02);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa02 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl02 id=gstapl02 title="Is GST applicable?"
                onchange='checkGST(gstapl02,gstcod02);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod02 id=gstcod02 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 3</td>
    <td colspan=5><input type=text name=thefee03 id=thefee03 size=9 maxlength=9
         title='Theatre Fee Code 3' 
         onblur='checkTheatre(thefee03,thedesc03,gstapl03,gstcod03);'> 
        <input type=text name=thedesc03 id=thedesc03
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 3 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee03,thedesc03);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee03,thedesc03);disableTF(gstapl03,gstcod03);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa03 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl03 id=gstapl03 title="Is GST applicable?"
                onchange='checkGST(gstapl03,gstcod03);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod03 id=gstcod03 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 4</td>
    <td colspan=5><input type=text name=thefee04 id=thefee04 size=9 maxlength=9
         title='Theatre Fee Code 4' 
         onblur='checkTheatre(thefee04,thedesc04,gstapl04,gstcod04);'> 
        <input type=text name=thedesc04 id=thedesc04
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 4 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee04,thedesc04);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee04,thedesc04);disableTF(gstapl04,gstcod04);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa04 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl04 id=gstapl04 title="Is GST applicable?"
                onchange='checkGST(gstapl04,gstcod04);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod04 id=gstcod04 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 5</td>
    <td colspan=5><input type=text name=thefee05 id=thefee05 size=9 maxlength=9
         title='Theatre Fee Code 5' 
         onblur='checkTheatre(thefee05,thedesc05,gstapl05,gstcod05);'> 
        <input type=text name=thedesc05 id=thedesc05
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 5 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee05,thedesc05);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee05,thedesc05);disableTF(gstapl05,gstcod05);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa05 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl05 id=gstapl05 title="Is GST applicable?"
                onchange='checkGST(gstapl05,gstcod05);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod05 id=gstcod05 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 6</td>
    <td colspan=5><input type=text name=thefee06 id=thefee06 size=9 maxlength=9
         title='Theatre Fee Code 6' 
         onblur='checkTheatre(thefee06,thedesc06,gstapl06,gstcod06);'> 
        <input type=text name=thedesc06 id=thedesc06
         size=25 class=Readonly readonly 
         title='Theatre Fee Code 6 description' value="" tabindex=-1>
        <img src="../images/SearchIcon.gif" class="Icon" alt="Search"
         onclick='MbsSearchFrame(thefee06,thedesc06);'>
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(thefee06,thedesc06);disableTF(gstapl06,gstcod06);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa06 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapl06 id=gstapl06 title="Is GST applicable?"
                onchange='checkGST(gstapl06,gstcod06);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcod06 id=gstcod06 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
    </td>
</tr>
<tr><td class=DataLabel>Misc Charge Code 1</td>
    <td colspan=5><input type=text name=mischg01 id=mischg01 size=9 maxlength=9 
         class="SelectBig" 
         onblur='checkMisc(mischg01,misdes01,gstapm01,gstcom01)'
         title="Misc Charge Code" >
        <input type=text readonly name=misdes01 id=misdes01
         size=25 class=Readonly
         title="Misc Charge Code Description" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="DefMiscChargeSearchFrame(mischg01,misdes01);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(mischg01,misdes01);disableTF(gstapm01,gstcom01);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua01 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'>
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapm01 id=gstapm01 title="Is GST applicable?"
                onchange='checkGST(gstapm01,gstcom01);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcom01 id=gstcom01 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
</td></tr>
<tr><td class=DataLabel>Misc Charge Code 2</td>
    <td colspan=5><input type=text name=mischg02 id=mischg02 size=9 maxlength=9 
         class="SelectBig" 
         onblur='checkMisc(mischg02,misdes02,gstapm02,gstcom02)'
         title="Misc Charge Code" >
        <input type=text readonly name=misdes02 id=misdes02
         size=25 class=Readonly
         title="Misc Charge Code Description" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="DefMiscChargeSearchFrame(mischg02,misdes02);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(mischg02,misdes02);disableTF(gstapm02,gstcom02);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua02 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'> 
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapm02 id=gstapm02 title="Is GST applicable?"
                onchange='checkGST(gstapm02,gstcom02);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcom02 id=gstcom02 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
</td></tr>
<tr><td class=DataLabel>Misc Charge Code 3</td>
    <td colspan=5><input type=text name=mischg03 id=mischg03 size=9 maxlength=9 
         class="SelectBig" 
         onblur='checkMisc(mischg03,misdes03,gstapm03,gstcom03)'
         title="Misc Charge Code" >
        <input type=text readonly name=misdes03 id=misdes03
         size=25 class=Readonly
         title="Misc Charge Code Description" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="DefMiscChargeSearchFrame(mischg03,misdes03);">
        <img src="../images/erase.gif" alt="Clear" class="Icon"
         onclick='clrDoc(mischg03,misdes03);disableTF(gstapm03,gstcom03);'>
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua03 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999
         value='1'> 
         &nbsp;&nbsp;Is GST Payable
        <select name=gstapm03 id=gstapm03 title="Is GST applicable?"
                onchange='checkGST(gstapm03,gstcom03);'>
        <option value="">   </option>
        <option value=1>Yes</option>
        <option value=0>No </option>
        </select>
        &nbsp;&nbsp;GST Code
        <select name=gstcom03 id=gstcom03 title="GST Code">
        <option value=""> </option>
         %PATWEB76.01.708
        </select>
</td></tr>
<tr><td class=DataLabel width=15%>Bed Type</td>
    <td width=20%><select name=pmsfi034 class=Mandatory title="Bed Type">
        <option value=" "></option>
        %STANDARD.01.007.BT
        </select></td>

    <td class=DataLabel width=15%>Accommodation GST</td>
    <td><select name=pmsfi036 class=Mandatory>
    <option value="0">No</option>
    <option value="1">Yes</option>
    </select>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.A </td>
    <td><select name=pmsfi035 class=Mandatory title="%STANDARD.01.017.A ">
        <option value=" "></option>
         %STANDARD.01.007.A 
        </select></td>
</tr>
</table>
</span>

<span id=TwowayInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=15%>Print Two-Way Form</td>
    <td><input type=checkbox name=twoformf onclick="GetPrintDetails3();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statnco3 disabled title="Two-Way Form" tabindex=-1>
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprn3 disabled title="Printer" tabindex=-1>
        <option></option>
         %STANDARD.01.001.TWOFORMF.01
        </select>
    </td>
</tr>
</table>
</span>

<span id=AmountInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=HighLightRed>Surgeon Gap Amount</td>
    <td class=DataField>
        <input type=text name=pmsfi011 size=9 maxlength=9 tabindex=15
         title='Surgeon Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Fasting Information</td>
    <td><input type=text size=55 maxlength=50 name=pmsfi022 
         tabindex=100 value="6 hours prior to admission"></td>
</tr>
<tr><td width=15% class=DataLabel id=assistga>Assistant Gap Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi012 size=9 maxlength=9 tabindex=20
         title='Assistant Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Day Surgery/Hospital Expected Discharge Time</td>
        <td><select name=pmsfi023 title="Day Surgery Expected Discharge Time"
                tabindex=105>
        <option value=""></option>
        <option value="07:00">7am</option>
        <option value="08:00">8am</option>
        <option value="09:00">9am</option>
        <option value="10:00">10am</option>
        <option value="11:00">11am</option>
        <option value="12:00">12noon</option>
        <option value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
        <option value="19:00">7pm</option>
        <option value="20:00">8pm</option>
        <option value="21:00">9pm</option>
        <option value="22:00">10pm</option>
        </select>
</tr>
<tr><td width=15% class=DataLabel id=anaegapa>Anaesthetist Gap Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi013 size=9 maxlength=9 tabindex=25
       title='Anaesthetist Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Expected Anaesthetics Practice</td>
    <td><input type=text name=genpprac size=35 readonly tabindex=-1
                 value="">
          <input type=hidden name=pmsfi024 value="">
          <input type=hidden name=genpcntr value="">
          <input type=hidden name=genpdoct value="">
          <input type=hidden name=genpname value="">
          <input type=hidden name=genpprov value="">
          <img src="../images/SearchIcon.gif"
 onclick="GPHCGSearchFrame(UpdateForm.genpdoct,UpdateForm.genpname,
   UpdateForm.genpprov,UpdateForm.pmsfi024,UpdateForm.genpprac,UpdateForm.genpcntr)">
 <img src="../images/erase.gif" class=Icon
   onclick="clrFields(UpdateForm.pmsfi024,UpdateForm.genpprac,
    UpdateForm.genpcntr,UpdateForm.genpprov);">
      </td>
</tr>
<tr><td width=15% class=DataLabel>Physio (Initial Visit)</td>
      <td class=DataField>
        <input type=text name=pmsfi014 size=9 maxlength=9 tabindex=30
         title='Physio (Initial Visit)' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=15% id=phycamnt>Physician Consultation Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi063 size=9 maxlength=9 tabindex=115
         title='Physician Consultation Amount' class="Number" min=0 
         max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>Physio (Subsequent Visits)</td>
      <td class=DataField>
        <input type=text name=pmsfi015 size=9 maxlength=9 tabindex=35
     title='Physio (Subsequent Visits)' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=15% class=HighLightRed id=educdvda>Educational DVD Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi064 size=9 maxlength=9 tabindex=120
         value="20.00"
         title='Educational DVD Amount' class="Number" min=0 max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>X-rays/Pathology</td>
      <td class=DataField>
        <input type=text name=pmsfi016 size=9 maxlength=9 tabindex=40
         title='X-rays/Pathology' class="Number" min=0 max=999999.99></td>
</tr>
<tr><td width=15% class=DataLabel>Splints/Brace</td>
      <td class=DataField>
        <input type=text name=pmsfi017 size=9 maxlength=9 tabindex=45
         title='Splints/Brace' class="Number" min=0 max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>Miscellaneous</td>
      <td class=DataField>
        <input type=text name=pmsfi018 size=9 maxlength=9 tabindex=50
         title='Miscellaneous' class="Number" min=0 max=999999.99></td>
</tr>
</table>
</span>

<span id=FastInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel>Fasting Information</td>
    <td><input type=text size=55 maxlength=50 name=pmsfi022 
         tabindex=100 value="6 hours prior to admission"></td>
</tr>
<tr><td class=DataLabel>Day Surgery/Hospital Expected Discharge Time</td>
        <td><select name=pmsfi023 title="Day Surgery Expected Discharge Time"
                tabindex=105>
        <option value=""></option>
        <option value="07:00">7am</option>
        <option value="08:00">8am</option>
        <option value="09:00">9am</option>
        <option value="10:00">10am</option>
        <option value="11:00">11am</option>
        <option value="12:00">12noon</option>
        <option value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
        <option value="19:00">7pm</option>
        <option value="20:00">8pm</option>
        <option value="21:00">9pm</option>
        <option value="22:00">10pm</option>
        </select>
</tr>
<tr><td class=DataLabel>Expected Anaesthetics Practice</td>
    <td><input type=text name=genpprac size=35 readonly
                 value="" tabindex=-1>
          <input type=hidden name=pmsfi024 value="">
          <input type=hidden name=genpcntr value="">
          <input type=hidden name=genpdoct value="">
          <input type=hidden name=genpname value="">
          <input type=hidden name=genpprov value="">
          <img src="../images/SearchIcon.gif" class=Icon
 onclick="GPHCGSearchFrame(UpdateForm.genpdoct,UpdateForm.genpname,
      UpdateForm.genpprov,UpdateForm.pmsfi024,UpdateForm.genpprac,UpdateForm.genpcntr)">
 <img src="../images/erase.gif" class=Icon
 onclick="clrFields(UpdateForm.pmsfi024,UpdateForm.genpprac,UpdateForm.genpcntr,
      UpdateForm.genpprov);">
      </td>
</tr>
</table>
</span>

<span id=TotalUInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=DataLabel>Pharmacy</td>
      <td class=DataField>
        <input type=text name=pmsfi019 size=9 maxlength=9 tabindex=60
         title='Pharmacy' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=20% class=HighLightRed>Estimated Hospital Accommodation Fee</td>
      <td class=DataField>$ %PATWEB76.01.939</td>
</tr>
<tr><td width=15% class=HighLightRed>Prostheses</td>
      <td class=DataField>
        <input type=text name=pmsfi020 size=9 maxlength=9 tabindex=65
         title='Prostheses' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=HighLightRed>Estimated Theatre Fee</td>
      <td class=DataField>$ %PATWEB76.01.941</td>
</tr>
<tr><td width=15%>&nbsp;</td>
    <td class=DataField>
    <input type=hidden name=pmsfi021 value="">
    </td>
<!--<td width=15% class=HighLightRed>Excess *</td>
      <td class=DataField>
        <input type=text name=pmsfi021 size=15 maxlength=15 tabindex=70
         title='Excess' class="Number" min=0 max=999999999999.99
         value="PATWEB76.01.711"></td>
-->
    <td>&nbsp;</td>
    <td class=DataLabel>Estimated Miscellaneous Charges</td>
      <td class=DataField>$ %PATWEB76.01.943</td>
</tr>
<tr><td width=15% class=DataLabel>Expected Total Cost of Surgery</td>
      <td class=DataField>$ %PATWEB76.01.937</td>
    <td>&nbsp;</td>
    <td class=DataField>Amount Payable on Admission</td>
      <td class=HighLightRed>$ %PATWEB76.01.938</td>
</tr>
</table>
</span>

<span id=TotalPInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=DataLabel>Pharmacy</td>
      <td class=DataField>
        <input type=text name=pmsfi019 size=9 maxlength=9 tabindex=60
         title='Pharmacy' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=HighLightRed>Prostheses</td>
      <td class=DataField>
        <input type=text name=pmsfi020 size=9 maxlength=9 tabindex=65
         title='Prostheses' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=HighLightRed id=exceamnt>Excess</td>
      <td class=DataField>
        <input type=text name=pmsfi021 size=15 maxlength=15 tabindex=70
         title='Excess' class="Number" min=0 max=999999999999.99
         value="%PATWEB76.01.711"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=DataLabel>Expected Total Cost of Surgery</td>
      <td class=DataField>$ %PATWEB76.01.937</td>
    <td>&nbsp;</td>
    <td class=DataField>Amount Payable on Admission</td>
      <td class=HighLightRed>$ %PATWEB76.01.938</td>
</tr>
</table>
</span>

<span id=Blank style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
</table>
</span>

<script type="text/javascript">
  if (document.UpdateForm.validpre.value=="1") {
    alert("Please select a Pre-Admission before doing a Fee Information Sheet");
    PatientLinkTo('patweb98.pbl',1,20,0,0,0);
  }
// Determine if claim type is Uninsured, Private or Compensable
Claimstring="%PATWEB76.01.126.3";
if ((Claimstring.substr(14,2)=="10") || (Claimstring.substr(14,2)=="11")) {
  document.UpdateForm.claimtyp.value="U"; }
if (Claimstring.substr(14,2)=="09") {
  document.UpdateForm.claimtyp.value="P"; }
checkInd=Claimstring.substr(3,5);
if ((checkInd.search(/W/g) >= 0) || (checkInd.search(/M/g) >= 0) ||
    (checkInd.search(/V/g) >= 0)) {
  document.UpdateForm.claimtyp.value="C"; }
</script>
