<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
%START.OF.PAGE
<script type="text/javascript">

function getPortalCookie() {
  if (GetCookieData("sjogwaPortalCOOKIE") != 'unknown') {
    ExpireCookiePath("sjogwaPortalCOOKIE");
    sjogprtl = "1";
  }
}

var sjogprtl = "";
getPortalCookie();

var concessionCards = eval(%PATWEB07.04.111);
var Cards = [];
function init() {
  OS="<table cellpadding=2 cellspacing=0 width=100% border='1' style='table-layout:fixed;'>"+
         "<tr height=25><td width='20%' class=HeadingCell>Concession Card </td>"+
         "<td width='20%' class=HeadingCell>Card Number</td>"+
         "<td width='20%' class=HeadingCell>Card Expiry Date</td>" +
         "<td class=HeadingCell>Card Colour</td>" +
         "</tr>";
  for (var i = 0; i < concessionCards.length; i++) {
    OS+="<tr height=25 class=TableRowEven><td>"+concessionCards[i]['cardName']+"</td>"+
            "<td>"+concessionCards[i]['cardNo']+"</td>"+
            "<td>"+concessionCards[i]['cardExpiry'].substr(4,2);
            if(!isWhitespace(concessionCards[i]['cardExpiry'].substr(4,2)) ||
               !isWhitespace(concessionCards[i]['cardExpiry'].substr(0,4))) {
            OS+="/";
            }
            OS+=concessionCards[i]['cardExpiry'].substr(0,4)+"</td>" +
                "<td>" + concessionCards[i]['cardColor']+"&nbsp;</td>" +
                "</tr>";
  }
  OS+="</table>";
  var el=document.getElementById("Existing");
  el.innerHTML=OS;
  OS="<table cellpadding=2 cellspacing=0 width=100% border='1' style='table-layout:fixed;'>"+
         "<tr height=25><td width='20%' class=HeadingCell>Concession Card </td>"+
         "<td width='20%' class=HeadingCell>Card Number</td>"+
         "<td width='20%' class=HeadingCell>Card Expiry Date</td>"+
         "<td class=HeadingCell>Card Colour</td>"+
         "<td  style='text-align:center' class=HeadingCell></td></tr>";
//
  if(document.getElementById("ptcnepis").value=="1" &&
     sjogprtl != "1") {

// CONCESSION CARD 1
//------------------
      addFlag=false;
      var i=1;
      Cards['cardType'+i]=returnCgiValue("pmccd002");
      Cards['cardNo'+i]=returnCgiValue("pmccd003");
      var card_expiry=returnCgiValue("pmccd004");
      if(card_expiry=="undefined") {
        card_expiry="        ";
      }
      Cards['cardExpiry'+i]=card_expiry.substr(4,4) + card_expiry.substr(2,2) +
                             card_expiry.substr(0,2);
      Cards['cardName'+i]=getCardName(returnCgiValue("pmccd002"));
      Cards['cardColour'+i]=returnCgiValue("pmccd005");
      if(Cards['cardColour'+i]=="undefined") {
        Cards['cardColour'+i]="   ";
      }
      Cards['cardColourDesc'+i]=getCardColour(returnCgiValue("pmccd005"));

      cardType=Cards['cardType'+i];
      cardNo=Cards['cardNo'+i];
      cardExpiry=Cards['cardExpiry'+i];
      cardName=Cards['cardName'+i];
      cardColour=Cards['cardColour'+i];
      if(cardColour=="undefined") { 
         cardColour="";
      }
      cardColourDesc=Cards['cardColourDesc'+i];
      if(cardColourDesc=="undefined") { 
         cardColourDesc="";
      }
      if(cardNo!="undefined" && !isWhitespace(cardNo)){

      OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
              "<td>"+cardNo+"</td>"+
              "<td>"+cardExpiry.substr(4,2);
         if(!isWhitespace(cardExpiry.substr(4,2)) ||
            !isWhitespace(cardExpiry.substr(0,4))) {
           OS+= "/";
         }
         OS+=cardExpiry.substr(0,4)+"</td>"+
             "<td>"+cardColourDesc+"&nbsp;</td>"+
             "<td style='text-align:center'>";
      addFlag=true;
//      }
      for (var j = 0; j < concessionCards.length; j++) {
        if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
          addFlag=false;
          if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
              trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
            trim(cardExpiry.substr(0,4))==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
           trim( cardExpiry.substr(4,2))==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
            OS+="Matched</td></tr>";
          } else {
            OS+="<input type=button class=button value=Update"+
                " onclick='UpdateCard(\""+i+"\");'></td></tr>";
          }
        }
      }
      }
      if (addFlag) {
        OS+="<input type=button class=button value=Add"+
            " onclick='UpdateCard(\""+i+"\");'></td></tr>";
      }

// CONCESSION CARD 2
//------------------
      addFlag=false;
      var i=2;
      Cards['cardType'+i]=returnCgiValue("pmcc2002");
      Cards['cardNo'+i]=returnCgiValue("pmcc2003");
      var card_expiry=returnCgiValue("pmcc2004");
      if(card_expiry=="undefined") {
        card_expiry="        ";
      }
      Cards['cardExpiry'+i]=card_expiry.substr(4,4) + card_expiry.substr(2,2) +
                             card_expiry.substr(0,2);
      Cards['cardName'+i]=getCardName(returnCgiValue("pmcc2002"));
      Cards['cardColour'+i]=returnCgiValue("pmcc2005");
      if(Cards['cardColour'+i]=="undefined") {
        Cards['cardColour'+i]="   ";
      }
      Cards['cardColourDesc'+i]=getCardColour(returnCgiValue("pmcc2005"));

      cardType=Cards['cardType'+i];
      cardNo=Cards['cardNo'+i];
      cardExpiry=Cards['cardExpiry'+i];
      cardName=Cards['cardName'+i];
      cardColour=Cards['cardColour'+i];
      if(cardColour=="undefined") {
         cardColour="";
      }
      cardColourDesc=Cards['cardColourDesc'+i];
      if(cardColourDesc=="undefined") {
         cardColourDesc="";
      }
      if(cardNo!="undefined" && !isWhitespace(cardNo)){

      OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
              "<td>"+cardNo+"</td>"+
              "<td>"+cardExpiry.substr(4,2);
         if(!isWhitespace(cardExpiry.substr(4,2)) ||
            !isWhitespace(cardExpiry.substr(0,4))) {
           OS+= "/";
         }
         OS+=cardExpiry.substr(0,4)+"</td>"+
             "<td>"+cardColourDesc+"&nbsp;</td>"+
             "<td style='text-align:center'>";
      addFlag=true;
//      }
      for (var j = 0; j < concessionCards.length; j++) {
        if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
          addFlag=false;
          if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
              trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
            trim(cardExpiry.substr(0,4))==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
           trim( cardExpiry.substr(4,2))==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
            OS+="Matched</td></tr>";
          } else {
            OS+="<input type=button class=button value=Update"+
                " onclick='UpdateCard(\""+i+"\");'></td></tr>";
          }
        }
      }
      }
      if (addFlag) {
        OS+="<input type=button class=button value=Add"+
            " onclick='UpdateCard(\""+i+"\");'></td></tr>";
      }

// CONCESSION CARD 3
//------------------
      addFlag=false;
      var i=3;
      Cards['cardType'+i]=returnCgiValue("pmcc3002");
      Cards['cardNo'+i]=returnCgiValue("pmcc3003");
      var card_expiry=returnCgiValue("pmcc3004");
      if(card_expiry=="undefined") {
        card_expiry="        ";
      }
      Cards['cardExpiry'+i]=card_expiry.substr(4,4) + card_expiry.substr(2,2) +
                             card_expiry.substr(0,2);
      Cards['cardName'+i]=getCardName(returnCgiValue("pmcc3002"));
      Cards['cardColour'+i]=returnCgiValue("pmcc3005");
      if(Cards['cardColour'+i]=="undefined") {
        Cards['cardColour'+i]="   ";
      }
      Cards['cardColourDesc'+i]=getCardColour(returnCgiValue("pmcc3005"));

      cardType=Cards['cardType'+i];
      cardNo=Cards['cardNo'+i];
      cardExpiry=Cards['cardExpiry'+i];
      cardName=Cards['cardName'+i];
      cardColour=Cards['cardColour'+i];
      if(cardColour=="undefined") {
         cardColour="";
      }
      cardColourDesc=Cards['cardColourDesc'+i];
      if(cardColourDesc=="undefined") {
         cardColourDesc="";
      }
      if(cardNo!="undefined" && !isWhitespace(cardNo)){

      OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
              "<td>"+cardNo+"</td>"+
              "<td>"+cardExpiry.substr(4,2);
         if(!isWhitespace(cardExpiry.substr(4,2)) ||
            !isWhitespace(cardExpiry.substr(0,4))) {
           OS+= "/";
         }
         OS+=cardExpiry.substr(0,4)+"</td>"+
             "<td>"+cardColourDesc+"&nbsp;</td>"+
             "<td style='text-align:center'>";
      addFlag=true;
//      }
      for (var j = 0; j < concessionCards.length; j++) {
        if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
          addFlag=false;
          if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
              trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
            trim(cardExpiry.substr(0,4))==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
           trim( cardExpiry.substr(4,2))==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
            OS+="Matched</td></tr>";
          } else {
            OS+="<input type=button class=button value=Update"+
                " onclick='UpdateCard(\""+i+"\");'></td></tr>";
          }
        }
      }
      }
      if (addFlag) {
        OS+="<input type=button class=button value=Add"+
            " onclick='UpdateCard(\""+i+"\");'></td></tr>";
      }

// SAFETY NET CARD
//------------------
      addFlag=false;
      var i=4;
      Cards['cardType'+i]=returnCgiValue("safnetpc");
      Cards['cardNo'+i]=returnCgiValue("pmpmi075");
      var card_expiry=returnCgiValue("safnetex");
      if(card_expiry=="undefined") {
        card_expiry="        ";
      }
      Cards['cardExpiry'+i]=card_expiry.substr(4,4) + card_expiry.substr(2,2) +
                             card_expiry.substr(0,2);
      Cards['cardName'+i]=getCardName(returnCgiValue("safnetpc"));
      Cards['cardColour'+i]=returnCgiValue("safnetcc");
      if(Cards['cardColour'+i]=="undefined") {
        Cards['cardColour'+i]="   ";
      }
      Cards['cardColourDesc'+i]=getCardColour(returnCgiValue("safnetcc"));

      cardType=Cards['cardType'+i];
      cardNo=Cards['cardNo'+i];
      cardExpiry=Cards['cardExpiry'+i];
      cardName=Cards['cardName'+i];
      cardColour=Cards['cardColour'+i];
      if(cardColour=="undefined") {
         cardColour="";
      }
      cardColourDesc=Cards['cardColourDesc'+i];
      if(cardColourDesc=="undefined") {
         cardColourDesc="";
      }
      if(cardNo!="undefined" && !isWhitespace(cardNo)){

      OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
              "<td>"+cardNo+"</td>"+
              "<td>"+cardExpiry.substr(4,2);
         if(!isWhitespace(cardExpiry.substr(4,2)) ||
            !isWhitespace(cardExpiry.substr(0,4))) {
           OS+= "/";
         }
         OS+=cardExpiry.substr(0,4)+"</td>"+
             "<td>"+cardColourDesc+"&nbsp;</td>"+
             "<td style='text-align:center'>";
      addFlag=true;
//      }
      for (var j = 0; j < concessionCards.length; j++) {
        if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
          addFlag=false;
          if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
              trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
            trim(cardExpiry.substr(0,4))==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
           trim( cardExpiry.substr(4,2))==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
            OS+="Matched</td></tr>";
          } else {
            OS+="<input type=button class=button value=Update"+
                " onclick='UpdateCard(\""+i+"\");'></td></tr>";
          }
        }
      }
      }
      if (addFlag) {
        OS+="<input type=button class=button value=Add"+
            " onclick='UpdateCard(\""+i+"\");'></td></tr>";
      }
//------------------

      EpisoftDVA();
  } else {
  for (var i=1;i<9;i++) {
    if (parent.patientObj[0] != undefined) {
      if (parent.patientObj[0]['CONCESSIONCARD0'+i]!='') {
        cardType=parent.patientObj[0]['CONCESSIONCODE0'+i];
        cardNo=parent.patientObj[0]['CONCESSIONCARD0'+i];
        cardExpiry=parent.patientObj[0]['CONCESSIONEXPR0'+i];
        cardName=getCardName(parent.patientObj[0]['CONCESSIONCODE0'+i]);
        cardColour="";
        cardColourDesc="";
        if(parent.patientObj[0]['CONCESSIONCOLR0'+i]!=undefined) {
          cardColour=parent.patientObj[0]['CONCESSIONCOLR0'+i];
        cardColourDesc=getCardColour(parent.patientObj[0]['CONCESSIONCOLR0'+i]);
        }
//
        OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
              "<td>"+cardNo+"</td>"+
              "<td>"+cardExpiry.substr(4,2)+"/"+cardExpiry.substr(0,4)+"</td>"+
              "<td>"+cardColourDesc+"&nbsp;</td>"+
              "<td style='text-align:center'>";
        addFlag=true;
        for (var j = 0; j < concessionCards.length; j++) {
          if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
            addFlag=false;
            if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
                trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
              cardExpiry.substr(0,4)==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
              cardExpiry.substr(4,2)==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
              OS+="Matched</td></tr>";
            } else {
              OS+="<input type=button class=button value=Update"+
                  " onclick='UpdateCard(\""+i+"\");'></td></tr>";
            }
          }
        }
        if (addFlag) {
          OS+="<input type=button class=button value=Add"+
              " onclick='UpdateCard(\""+i+"\");'></td></tr>";
        }

      }
//
    }
  }
  }
  OS+="</table>";
  var el=document.getElementById("EnteredOnline");
  el.innerHTML=OS;
}
function EpisoftDVA() {
  addFlag=true;
  var i=5;
  Cards['cardType'+i]=getDVACardCode();
  Cards['cardNo'+i]=returnCgiValue("ptmas026");
  var card_expiry=returnCgiValue("dvaexpdt");
  if(card_expiry=="undefined") {
    card_expiry="        ";
  }
  Cards['cardExpiry'+i]=card_expiry.substr(4,4) + card_expiry.substr(2,2) +
                        card_expiry.substr(0,2);
//  Cards['cardExpiry'+i]="      ";
  Cards['cardName'+i]=getCardName(Cards['cardType'+i]);
  Cards['cardColour'+i]=getDVACardColourCode();
  Cards['cardColourDesc'+i]=getCardColour(Cards['cardColour'+i]);

  cardType=Cards['cardType'+i];
  cardNo=Cards['cardNo'+i];
  cardExpiry=Cards['cardExpiry'+i];
  cardName=Cards['cardName'+i];
  cardColour=Cards['cardColour'+i];
  cardColourDesc=Cards['cardColourDesc'+i];

  if(cardType=="undefined" || cardNo=="undefined" || cardColour=="undefined"){ 
    return;
  }

  if(isWhitespace(cardType) || isWhitespace(cardNo) || isWhitespace(cardColour))
  {
    return;
  }

  var cardExpDate = !isWhitespace(cardExpiry) ? cardExpiry.substr(4,2) + "/" + cardExpiry.substr(0,4) : "";

  OS+="<tr height=25 class=TableRowEven><td>"+cardName+"</td>"+
       "<td>"+cardNo+"</td>"+
       "<td>"+cardExpDate+"</td>"+
       "<td>"+cardColourDesc+"&nbsp;</td>"+
       "<td style='text-align:center'>";
  for (var j = 0; j < concessionCards.length; j++) {
    if (trim(cardType)==trim(concessionCards[j]['cardType'])) {
      addFlag=false;
      if (trim(cardNo)==trim(concessionCards[j]['cardNo'])&&
          trim(cardColour)==trim(concessionCards[j]['cardColorCode'])&&
          trim(cardExpiry.substr(0,4))==trim(concessionCards[j]['cardExpiry']).substr(0,4)&&
         trim( cardExpiry.substr(4,2))==trim(concessionCards[j]['cardExpiry']).substr(4,2)) {
          OS+="Matched</td></tr>";
        } else {
          OS+="<input type=button class=button value=Update"+
              " onclick='UpdateCard(\""+i+"\");'></td></tr>";
        }
      }
  }
  if (addFlag) {
    OS+="<input type=button class=button value=Add"+
        " onclick='UpdateCard(\""+i+"\");'></td></tr>";
  }
}
function returnCgiValue(cgi) {
  for(var i = 0; i < parent.patientObj.length;i++) {
     if(typeof parent.patientObj[i] == 'undefined') {
        continue; }
     if(parent.patientObj[i].name == cgi) {
       return parent.patientObj[i].value;
       
     }
  }
  return "undefined";
}
function getCardName(selectedCode) {
  var el = document.getElementById("CardTypes");
  for (var i=0;i<el.options.length;i++) {
    if (trim(selectedCode)==trim(el.options[i].value.substr(0,3))) {
      return el.options[i].text;
    }
  }
  return selectedCode;
}
function getDVACardCode() {
  var el = document.getElementById("CardTypes");
  for (var i=0;i<el.options.length;i++) {
      if(el.options[i].value.substr(3,1)=="3") {
        return el.options[i].value.substr(0,3);
      }
  }
  return "undefined";
}
function getDVACardColourCode() {
  colourDesc=returnCgiValue("pmpmi057")
  var el = document.getElementById("CardColours");
  for(var i=0;i<el.options.length;i++) {
     if(trim(el.options[i].innerHTML).toUpperCase()==
        trim(colourDesc).toUpperCase()) {
       return el.options[i].value.substr(0,3);
     }
  }
  return "undefined";
}
function getCardColour(selectedCode) {
  var el = document.getElementById("CardColours");
  for (var i=0;i<el.options.length;i++) {
    if (trim(selectedCode)==trim(el.options[i].value.substr(0,3))) {
      return el.options[i].text;
    }
  }
  return selectedCode;
}
function getCardCode(selectedCode) {
  var el = document.getElementById("CardTypes");
  for (var i=0;i<el.options.length;i++) {
    if (trim(selectedCode)==trim(el.options[i].value.substr(0,3))) {
      return el.options[i].value;
    }
  }
  return selectedCode;
}
function UpdateCard(indexNo) {
  if(document.getElementById("ptcnepis").value=="1" &&
     sjogprtl != "1") {
    var cardType=Cards['cardType'+indexNo];
    var cardNo=Cards['cardNo'+indexNo];
    var cardExpiry=Cards['cardExpiry'+indexNo];
    var cardColour=Cards['cardColour'+indexNo];
  } else {
    var cardType=parent.patientObj[0]['CONCESSIONCODE0'+indexNo];
    var cardNo=parent.patientObj[0]['CONCESSIONCARD0'+indexNo];
    var cardExpiry=parent.patientObj[0]['CONCESSIONEXPR0'+indexNo];
    var cardColour="";
      if(parent.patientObj[0]['CONCESSIONCOLR0'+indexNo]!=undefined) {
        cardColour=parent.patientObj[0]['CONCESSIONCOLR0'+indexNo];
      }
  }
//
  for (var i = 0; i < concessionCards.length; i++) {
    if (trim(cardType)==trim(concessionCards[i]['cardType'])) {
      if (confirm("Concession Card Details already exist. \n "+
            "Click Ok to Delete and Replace the Card Details.")) {
        var deleteURL='patweb07.pbl?reportno=4&template=6&calltype=1&updttype=D'+
                 '&urnumber='+parent.PatientURN.replace(/ /g,"+")+
                 '&pmccd002='+concessionCards[i]['cardType'].replace(/ /g,"+")+
                 '&pmccd003='+concessionCards[i]['cardNo'].replace(/ /g,"+")+
                 '&pmccd004='+concessionCards[i]['cardExpiry'].replace(/ /g,"+")
        RSExecute(deleteURL);
      }
    }
  }
  if (!isWhitespace(cardExpiry) && cardExpiry.length==6) {
    year = cardExpiry.substr(0,4);
    month = parseInt(cardExpiry.substr(4,2), 10);
    lastday = GetLastDayOfMonth(year,month);
    cardExpiry = cardExpiry + lastday;
  }
  var addURL='patweb07.pbl?reportno=4&template=6&calltype=1&updttype=A'+
             '&urnumber='+parent.PatientURN.replace(/ /g,"+")+
             '&pmccd002='+getCardCode(cardType).replace(/ /g,"+")+
             '&pmccd003='+cardNo.replace(/ /g,"+")+
             '&pmccd004='+cardExpiry.replace(/ /g,"+")+
             '&pmccd005='+cardColour;
  var returnValue = RSExecute(addURL);
  if (returnValue.status==0) {
    if (typeof sjogprtl != 'undefined' && sjogprtl == "1") {
      SetCookie("sjogwaPortalCOOKIE","");
    }
    location.reload();
  }
}
function CloseButton() {
  if(parent.document.getElementById('ptcnepis')) {
    if(parent.document.getElementById('ptcnepis').value=="1" &&
       sjogprtl != "1") {
      if(parent.document.getElementById('episcard')) {
        if(parent.document.getElementById('episcard').value=="1") {
          DFrameExit();
          return;
        }
      }
    }
  }

  if("%STANDARD.01.025.119.182.0.1" == "1" &&
     sjogprtl != "1") {  // ptcnepis
    var erefrlid = getQueryString('erefrlid');
    location.href="patweb07.pbl?reportno=6&template=8&urnumber=" +
                  parent.PatientURN.replace(/ /g,"+") +
                  "&erefrlid=" + erefrlid
  } else {
    DFrameExit();
  }
}
</script>
</head>
<body onload="PageLoad(event);">
<input type="hidden" name="ptcnepis" id="ptcnepis"
 value="%STANDARD.01.025.119.182.0.1" />
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="CloseButton();">
Update Concession Card Details
</span>
<p style='margin:10px;font-size:12px;font-weight:bold'>Existing Concession Card Details</p>
<div id=Existing></div>
<p style='margin:10px;font-size:12px;font-weight:bold'>Patient Entered Concession Card Details</p>
<div id=EnteredOnline></div>
<p style='text-align:center;margin:10px;'>
<input type=button class=button value=Close onclick='CloseButton();'></p>
<div style='display:none'>
<select id=CardTypes name=CardTypes>
%STANDARD.01.007.ct
</select>
</div>
<div style='display:none'>
<select id=CardColours name=CardColours>
%STANDARD.01.007.DX
</select>
</div>
