Content-Type: text/javascript
Cache-Control: no-cache

%START.OF.PAGE
function InsertPatientHeader() {
  PatientURN="%PATWEB98.01.003";
  PatientVIS="%PATWEB98.01.081";
  PatientNAM="%PATWEB98.01.002";
  PatientSTA="%PATWEB98.01.086.078";
  PatientALT="%PATWEB98.01.084";
  PatientSEX="%PATWEB98.01.019";
  PatientDOB="%PATWEB98.01.020";
  PatientAGE="%PATWEB98.01.021";
  PatientLOC="%PATWEB98.01.083";
  PatientPRI="%PATWEB98.01.086.066.1";
  PatientUNT="%PATWEB98.01.066.0";
  DoctorCOD="%PATWEB98.01.082.003";
  DoctorNAM="%PATWEB98.01.082.002";
  PatientAID="%PATWEB98.01.086.090";
  PatientIND="%PATWEB98.01.086.091";
  PatientCUR="%PATWEB98.01.086.092";
  PatientCLC="%PATWEB98.01.086.093.1";
  PatientCLH="%STANDARD.01.017.CL";
  PatientHFT="%PATWEB98.01.086.094";
  PatientCDM="%PATWEB98.01.086.095";
  PatientVDH="%PATWEB98.01.086.099.015";
  PatientAD1="%PATWEB98.01.012"
  PatientAD2="%PATWEB98.01.013"
  PatientAD3="%PATWEB98.01.014"
  PatientAD4="%PATWEB98.01.015"
  PatientADP="%PATWEB98.01.016"
  PatientMPH="%PATWEB98.01.543"
  PatientHPH="%PATWEB98.01.017"
  PatientBPH="%PATWEB98.01.018"
  PatientEML="%PATWEB98.01.705"
  PatientIDM="%PATWEB98.01.027 %PATWEB98.01.549"
  PatientIDP="%PATWEB98.01.028"
  PatientLGP="%PATWEB98.01.784.001|%PATWEB98.01.785.001|%PATWEB98.01.785.002|%PATWEB98.01.784.081"
  PatientINT="%PATWEB98.01.701.1"
  PatientLN1="%PATWEB98.01.702.0"
  PatientLN2="%PATWEB98.01.703.0"
  ClinicalHeader();
  InsertPatientOther()
}
function AddAlertRows() {
 var t = new Table(1,0,1,"100%","center",35);
 %PATWEB98.01.306.1.cliweb01.01.003
 Alerts=t;
}
