<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/AutoPostCode.js"> </script>
<script type="text/javascript" src="../js/AddressSearch.js"></script>

<!-- Defence Force -->

<style type=text/css>

#SelectHeading{
position: absolute;
visibility: hidden;
top: 120px;
left: 320px;
height: 20px;
width: 350px;
overflow: none;
}

#SelectLocation{
position: absolute;
visibility: hidden;
top: 140px;
left: 320px;
height: 150px;
width: 350px;
overflow: auto;
}

</style>

<script type="text/javascript">
function SetFields() {
 state = UpdateForm.pmext007;
 suburb = UpdateForm.pmext006;
 postcode = UpdateForm.pmext008;
}

function SubmitClaim() {
  ReturnPath=GetCookieData('InvoiceReturn');
  if (!isWhitespace(ReturnPath) && ReturnPath!='unknown') {
     document.cookie="InvoiceReturn=;"            // clear cookie
     document.UpdateForm.redirect.value=ReturnPath; // return to invoice scr
 } else if(document.UpdateForm.mvmedrec.value == "1") {
     document.UpdateForm.redirect.value="mrtweb01.pbl?reportno=09&template=004"
     + "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+");
 } else if (document.UpdateForm.returncd.value == "MEH") {
     document.UpdateForm.redirect.value="patweb89.pbl?reportno=07&template=001"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+");
 } else {
     document.UpdateForm.redirect.value="patweb98.pbl?reportno=01&template=043"
     + "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+");
 }

  document.UpdateForm.pmext003.value=
  document.UpdateForm.pmext003.value.replace(/'/g,"`");
  document.UpdateForm.pmext004.value=
  document.UpdateForm.pmext004.value.replace(/'/g,"`");
  document.UpdateForm.pmext005.value=
  document.UpdateForm.pmext005.value.replace(/'/g,"`");

  SubmitHidden(UpdateForm);
}

function CheckSuburb(Address) {
  if(Address!="") {
    LookupPostCode(Address);
  }
}

//
// Functions called from AddressSearch.js
//
function InitAddressSearch() {
  // line 1 - 'pmext004'
  // line 2 - 'pmext005'
  // suburb - 'pmext006'
  // state - 'pmext007'
  // postcode - 'pmext008'

  InitAddressSearchFields('trAddrSrch','pmext004','pmext005','pmext006','pmext007','pmext008');
}
function ShowAddressSearch() {
  OpenAddressSearch('1',PopulateAddress,ClearSearchAddress);
}
function PopulateAddress(StreetLine, Suburb, State, Postcode) {
  LookupSuburb(Postcode);  // validate Postcode with our Lookup values
  if (SelectPC.length == 0) return;  // no match found

  LookupPostCode(Suburb);  // validate Suburb
  if (SelectPC.length == 0) return;  // no match found

  ToggleFieldReadOnly('pmext004', true);
  ToggleFieldReadOnly('pmext005', false);
  ToggleFieldReadOnly('pmext006', true);
  ToggleFieldReadOnly('pmext007', true);
  ToggleFieldReadOnly('pmext008', true);

  SetFieldValue('pmext004',StreetLine);
  SetFieldValue('pmext005','');
  SetFieldValue('pmext006',Suburb);
  SetFieldValue('pmext007',State);
  SetFieldValue('pmext008',Postcode);
}
function ClearSearchAddress() {
  ToggleFieldReadOnly('pmext004', false);
  ToggleFieldReadOnly('pmext005', false);
  ToggleFieldReadOnly('pmext006', false);
  ToggleFieldReadOnly('pmext007', false);
  ToggleFieldReadOnly('pmext008', false);

  SetFieldValue('pmext004','');
  SetFieldValue('pmext005','');
  SetFieldValue('pmext006','');
  SetFieldValue('pmext007','');
  SetFieldValue('pmext008','');
}
</script>
%START.OF.PAGE
<body onLoad="PageLoad(event);InitPostCodes();SetFields();InitAddressSearch();
              document.UpdateForm.pmext003.focus();">
<div id=PageHeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB89.01.003";
PatientVIS="%PATWEB89.01.081";
PatientNAM="%PATWEB89.01.002";
PatientSTA="%PATWEB89.01.086.078";
PatientALT="%PATWEB89.01.084";
PatientSEX="%PATWEB89.01.019";
PatientDOB="%PATWEB89.01.020";
PatientAGE="%PATWEB89.01.021";
PatientLOC="%PATWEB89.01.083";
PatientPRI="%PATWEB89.01.086.066.1";
PatientUNT="%PATWEB89.01.066.0";
DoctorCOD="%PATWEB89.01.082.003";
DoctorNAM="%PATWEB89.01.082.002";
PatientAID="%PATWEB89.01.086.090";
PatientIND="%PATWEB89.01.086.091";
PatientCUR="%PATWEB89.01.086.092";
PatientCLC="%PATWEB89.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB89.01.086.094";
PatientCDM="%PATWEB89.01.086.095";
PatientVDH="%PATWEB89.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
</div>
<div id=PageBodySection>
<form name=UpdateForm action="patweb89.pbl" method=post
 onsubmit='return validateMandatory(this); '>
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="080">
<input type=hidden name=updatety value="5">
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=pmext017 value="%PATWEB89.01.003">
<input type=hidden name=pmext018 value="%PATWEB89.01.102">
<input type=hidden name=admissno value="%PATWEB89.01.101">
<input type=hidden name=pmext001 value="%PATWEB89.01.101">
<input type=hidden name=pmext002 value="%PATWEB89.01.126.1">
<input type=hidden name=nextpage value=2>
<input type=hidden name=mvmedrec value="%PATWEB89.01.902">
<input type=hidden name=claimtyp value="D">
<input type=hidden name=returncd value="%PATWEB89.01.933">
<input type=hidden name=redirect value="%PATWEB89.01.001.patweb98.01.001">
<input type=hidden name=ptcnuadv id=ptcnuadv
 value="%STANDARD.01.025.123.247.0.1">

<table border=1 width=100% cellspacing=1 cellpadding=1>
<tr><td class=HeadingCell align=center> Defence Force Details</td></tr>

<tr><td>
    <table width=100% border=0>
    <tr><td class=DataLabel>Referring ADF MO<br></td>
        <td>
          <input type="text" size="42" maxlength="50" tabindex=1
           name=pmext003 id=pmext003 title="Referring ADF MO"
           value="%PATWEB89.01.384.003">
        </td>
        <td class=DataLabel>Insurance Company<br>
        <td><select name=pmext012 id=pmext012 tabindex=10
             title="Insurance Company">
              <option> </option>
              %PATWEB89.01.384.012.2
            </select>
        </td>
    </tr>

    <tr id=trAddrSrch style="display:none">
        <td class=DataLabel nowrap>Search Address</td>
        <td><input type=text readonly size=42 tabindex="-1"
             style="cursor:pointer;text-align:center;"
             value="Click here to search for an address"
             title="Click here to search for an address"
             onclick="ShowAddressSearch();">
        </td>
    </tr>

    <tr valign=top>
        <td class=DataLabel>Address</td>
        <td><input type="text" size="42" maxlength="35" tabindex=2
             name=pmext004 id=pmext004 title="Address Line 1"
             value="%PATWEB89.01.384.004" onchange="UpCase(this);">
        </td>
        <td class=DataLabel>Claim Accepted</td>
        <td><select name=pmext011 id=pmext011 tabindex=12
             title="Claim Accepted">
              <option value="0">No</option>
              <option value="1">Yes</option>
              <option value="2">N/A</option>
            </select>
        </td>
    </tr>

    <tr valign=top>
        <td class=DataLabel>&nbsp;</td>
	<td><input type="text" size="42" maxlength="35" tabindex=3 
             name=pmext005 id=pmext005 title="Address Line 2"
             value="%PATWEB89.01.384.005" onchange="UpCase(this);">
        </td>
        <td> Contact Name </td>
        <td><input type="text" size="45" maxlength="50" tabindex=13 
             name=pmext014 id=pmext014 title="Contact Name"
             value="%PATWEB89.01.384.014">
        </td>
    </tr>

    <tr><td class=DataLabel>Suburb</td>
        <td><input type="text" size="42" maxlength="35" tabindex=4
             name=pmext006 id=pmext006 title="Suburb"
  	     value="%PATWEB89.01.384.006" onchange="CheckSuburb(this.value);">
        </td>
        <td class=DataLabel>Defence Force Approval Number</td>
        <td><input type="text" size="20" maxlength="20" tabindex=14
             name=pmext144 id=pmext144 title="Defence Force Approval Number" 
             value="%PATWEB89.01.384.099.048">
        </td>
    </tr>

    <tr><td class=DataLabel>State</td>
	<td><input type="text" size="42" maxlength="35" tabindex=5  
             name=pmext007 id=pmext007 title="State"
             value="%PATWEB89.01.384.007">
            Post Code 
            <input type="text" size="8" maxlength="8" tabindex=6
             name=pmext008 id=pmext008 title="Post Code"
             value="%PATWEB89.01.384.008" onchange="LookupSuburb(this.value);">
        </td>
        <td class=DataLabel>PMKeys Number</td>
        <td><input type="text" size="20" maxlength="20" tabindex=15
             name=pmext145 id=pmext145 title="PMKey Number"
             value="%PATWEB89.01.384.099.049">
        </td>
    </tr>

    <tr><td valign="bottom" class=DataLabel>Phone</td>
        <td><input type="text" size="20" maxlength="20" tabindex=7
             name=pmext009 id=pmext009 title="Phone Number"
             value="%PATWEB89.01.384.009">
        </td>
        <td class=DataLabel>Referral Date </td>
        <td><input type=text size=12 class="PastDate" tabindex=16
             name=pmext039 id=pmext039 title="Referral Date"
             value="%PATWEB89.01.384.039">
            <img src=../images/DateLookup.gif class=Icon
             date=UpdateForm.pmext039>
        </td>
    </tr>

    </table>
    </td>
</tr>

<tr><td colspan=4 align=center>
      <input type=button value="Update" tabindex=20 class="button" 
       id="pat89sub" onclick="tempDisable(this);SubmitClaim()";>
      <input type=button value="Cancel" tabindex=21 
       onclick="SetCancel()" class="button">
    </td>
</tr>
</table>
</form>

<div id=SelectHeading></div>
<div id=SelectLocation></div>

<script type="text/javascript">

function SetCancel() {
  if (!confirm("Warning: Defence force data will not be updated!\n" + 
               "Ok to Continue ?")){
    return;
  } 
  ReturnPath=GetCookieData('InvoiceReturn');
  if (!isWhitespace(ReturnPath) && ReturnPath!='unknown') {
   document.cookie="InvoiceReturn=;" // clear cookie
   var link=ReturnPath;              // return to invoice scr
  }
  else {
   var urnumber ="%PATWEB89.01.003";
   var admissno ="%PATWEB89.01.101";
   var link = "patweb98.pbl?reportno=01&template=001&urnumber="+urnumber
             +"&admissno="+admissno;
  }
  location.href= link;
}

for (var i =0 ; i < document.UpdateForm.pmext011.length; i++) {
  if (document.UpdateForm.pmext011.options[i].value=="%PATWEB89.01.384.011") {
    document.UpdateForm.pmext011.selectedIndex=i;
  }
};

</script>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=admissno value="%PATWEB89.01.081">
<input type=hidden name=MenuType value="%PATWEB89.01.088">
</form>
