<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/patweb99.js"> </script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode method=get action=patweb99.pbl style="margin:0">
<input type=hidden name=reportno value="9">
<input type=hidden name=template value="003">
<input type=hidden name=opdlv001 value="">
<input type=hidden name=linkyear value="">
<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td align=center class=MaintenanceHeading colspan=1>
                        Doctor Leave Maintenance (%PATWEB99.09.003)</td> 
  </tr>
  <tr><td align=center class=HeadingSize colspan=1>%PATWEB99.09.107</td> 
  </tr>

</table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%PATWEB99.09.110.patweb99.09.006
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="Doctors" class="button"
   onclick='location.href="patweb99.pbl?reportno=2&template=004"'>
  <input type=button value="Doctor %PATWEB99.09.003" class="button"
     onclick='Doctor09("%PATWEB99.09.003")'>
  <input type=button value="<< Previous Year" class="bigButton"
   onclick='location.href="%PATWEB99.09.108.004"'>
  <input type=button value=Add class="button"
   onclick='AddLeave09("%PATWEB99.09.003","%PATWEB99.09.107")'> 
  <input type=button value="Next Year >>" class="bigButton"
   onclick='location.href="%PATWEB99.09.109.004"'>
</td></tr>
</table>
</td></tr>
</table>
</form>
