<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb99.js"> </script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

   <form name=AddForm method=post action=patweb99.pbl>
   <input type=hidden name=reportno value="18">
   <input type=hidden name=template value="002">
   <input type=hidden name=updttype value="A">
   <input type=hidden name=pmrld001 value="%PATWEB99.18.202">
   <input type=hidden name=pmrld002 value="%PATWEB99.18.201">
   <input type=hidden name=retnflag value="%PATWEB99.18.106">

<table align=center width=98% border=0>
<tr><td class=DataLabel width=25%>HCP</td>
    <td class=DataField>%PATWEB99.18.116</td></tr>

<tr><td class=DataLabel>Hospital</td>
    <td class=DataField>%PATWEB99.18.115</td></tr>

<tr><td class=DataLabel>Role</td>
    <td><select name=pmrld003 title="Role" class=Mandatory>
        <option></option>
         %PATWEB99.18.003.2
        </select>
    </td></tr>

<tr><td class=DataLabel>Active</td>
    <td><input type=checkbox name=pmrld004 title="Active" value="2" checked>
</td></tr>

<tr><td colspan=2 align=center>
    <input type=button value="Add" class="button" onclick="SubmitFormNew()">
   <input type=button value=Close class="button" onclick="DFrameCloseRefresh()">
   <input type=button value="Complete" class="button" onclick="SubmitForm()">
</td></tr>
</table>
</form>
