<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb7711.js></script>
<script type="text/javascript" src=../js/patweb7501001.js></script>
<script type="text/javascript">
function ChkPack() {
  setTimeout('validateNZPackItem(40,AddForm.nzmxc002,AddForm.nzmch002,AddForm.nzmch001,AddForm.d_nzmxc002);',400);
 }

function validateNZPackItem(OptionNumber,ReturnCode,ReturnClmc,ReturnHosp,ReturnName) {
  ReturnFunction="" ;
  ReturnName.value="";
  for (var i=5; i < validateNZPackItem.arguments.length; i++) {
    if (typeof(validateNZPackItem.arguments[i]) == 'function') {
      ReturnFunction=validateNZPackItem.arguments[i] }
    else {
      validateNZPackItem.arguments[i].value=""; }  }
  if (isWhitespace(ReturnCode.value)) return;;
  var serverURL   = "../cgi-bin/patweb80.pbl?reportno=" + OptionNumber +
                    "&valdcode=" + ReturnCode.value.replace(/ /g,"+") +
                    "&valdclmt=" + ReturnClmc.value.replace(/ /g,"+") +
                    "&valdhosp=" + ReturnHosp.value.replace(/ /g,"+") +
                    "&valdfund=" + AddForm.nzmch003.value.replace(/ /g,"+") +
                    "&valdceff=" + SetDateYYYYMMDD(AddForm.nzmch006.value) +
                    "&fileflag=" + AddForm.fileflag.value +
                    "&valdtype=3"
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value.split("|")
    ReturnName.value=trim(ReturnValue[0])
    j=0
    for (var i=5; i < validateNZPackItem.arguments.length; i++) {
       if (typeof(validateNZPackItem.arguments[i]) != 'function') {
         j++
         validateNZPackItem.arguments[i].value=ReturnValue[j] } }
    if (typeof(ReturnFunction) == 'function') {
       ReturnFunction() }
    return true;
    }
  else {
    ReturnCode.value="";
    ReturnCode.select();
    ReturnCode.focus();
    return false;
     }
}

function ShowHosp() {
  if(document.AddForm.ibcnmhos.value=="1") {
    InsertHospital.innerHTML=ShowHospital.innerHTML;
  } else {
    InsertHospital.innerHTML=NoHospital.innerHTML;
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);ShowHosp();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
  if ("%PATWEB77.11.029" == "C") {
     document.write("Current File - " +
           "NZ Private Exploding Miscellaneous Charge Maintenance ");
  } else {
     document.write("New File - " + 
           "NZ Private Exploding Miscellaneous Charge Maintenance ");
  }
</script>
</span>
<form name=AddForm action=patweb77.pbl method=get
      onsubmit='return validateMandatory(this);' style="margin:0">
<input type=hidden name=reportno value=11>
<input type=hidden name=template value=5>
<input type=hidden name=updttype value="B">
<input type=hidden name=nzmch001 id=nzmch001 value="%PATWEB77.11.001.1">
<input type=hidden name=nzmch002 id=nzmch002 value="%PATWEB77.11.002.1">
<input type=hidden name=nzmch003 id=nzmch003 value="%PATWEB77.11.003.0">
<input type=hidden name=nzmch004 id=nzmch004 value="%PATWEB77.11.004.0">
<input type=hidden name=nzmch005 value="%PATWEB77.11.005">
<input type=hidden name=nzmch006 value="%PATWEB77.11.006">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=multhosp value="   ">
<input type=hidden name=dummy value="   ">
<input type=hidden name=fileflag value="%PATWEB77.11.029">

<div id=InsertHospital></div>

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td class=DataLabel Width="20%">%STANDARD.01.017.CL</td>
    <td><input type=text name=d_nzmch002 class=Readonly readonly
         title="%STANDARD.01.017.CL" value="%PATWEB77.11.002.0" 
         tabindex=-1 notab>
    </td></tr>

<tr><td class=DataLabel>Contract</td>
    <td><input type=text size=6 name=d_nzmch003 readonly class=Readonly
               title="Contract" value="%PATWEB77.11.003.0">
        <input type=text name=n_nzmch003 readonly class=Readonly
       title="Contract" size=45 value="%PATWEB77.11.003.1" tabindex=-1 notab>
    </td></tr>

<tr><td class=DataLabel>Table</td>
    <td><input type=text name=d_nzmch004 size=8 readonly class=Readonly 
               title="Table" value="%PATWEB77.11.004.0">
        <input type=text name=n_nzmch004 class=Readonly readonly size=45
         title="Table" value="%PATWEB77.11.004.1" tabindex=-1 notab>
    </td></tr>

<tr><td class=DataLabel>Charge Code</td>
    <td class=DataField>
    <input type=text name=d_nzmch005 size=9 maxlength=9 
           value="%PATWEB77.11.005"
           title="Charge Code" class=Readonly readonly tabindex=-1 notab>
    </td></tr>

<tr><td class=DataLabel>Effective Date</td>
    <td class=DataField>
    <input type=text name=d_nzmch006 size=12 maxlength=12 class=Readonly 
     readonly value="%PATWEB77.11.006" title="Effective Date">
    </td></tr>

<tr><td class=DataLabe>Charge Description</td>
    <td class=DataField>
    <input type=text name=d_nzmch007 size=90 maxlength=90 
           value="%PATWEB77.11.007" class="Readonly" readonly
           title="Charge Description">
    </td></tr>
</table>

<table align=center cellspacing=1 cellpadding=2 border=0 width=95%>
<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td class=DataLabel width=20%>Misc.Item</td>
    <td valign=bottom>
    <input type=text name=nzmxc002 id=nzmxc002
     title="Misc.Item" size=10 maxlength=9
     class=Mandatory
     onBlur="validateNZPackItem(40,AddForm.nzmxc002,AddForm.nzmch002,AddForm.nzmch001,AddForm.d_nzmxc002);">
    <input type=text name=d_nzmxc002 id=d_nzmxc002 size=32 readonly
     class=Readonly tabindex=-1 title="Misc.Item Description">
    <img src="../images/SearchIcon.gif" class=Icon
 onclick="MiscChargeSearchFrameNZP(AddForm.nzmxc002,AddForm.d_nzmxc002,AddForm.nzmch001,nzmch002,nzmch003,nzmch004,ChkPack);">

    <img src="../images/erase.gif"  class=Icon
     onclick="clrFields(nzmxc002,d_nzmxc002);">
    </td></tr>

<tr><td class=DataLabel width=15%>Quantity</td>
    <td valign=bottom><input type=text size=4 name=nzmxc001 
     class="Mandatory Integer Number" title="Quanity" maxlength=3 value="1">
    </td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td colspan=2 align=center>
  <input type=button value=Add id=addbtn class="button" 
   onclick='tempDisable(this);SubmitForm(AddForm);'>
  <input type=button value=Cancel class="button" onclick='DFrameExit();'>
</td></tr>

</table>
</form>

<div id=ShowHospital style="display: none">
<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td class=DataLabel width=20%>Hospital</td>
    <td class=DataField>
    <input type=text name=d_nzmch001 class="Readonly" readonly
     value="%PATWEB77.11.001.0">
    </tr>
</table>
</div>

