<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function ShowContactAudit(urnumber,type,count) {
  linkurl="patweb07.pbl?reportno=06&template=006" +
          "&urnumber=" + urnumber.replace(/ /g,"+") +
          "&admissno=" + PatientLinks.admissno.value.replace(/ /g,"+") +
          "&pmcex001=" + urnumber.replace(/ /g,"+") +
          "&pmcex002=" + type.replace(/ /g,"+") +
          "&pmcex003=" + count.replace(/ /g,"+")
  location.href=linkurl
}
function ClickContactButton() {
  linkUrl="patweb07.pbl?reportno=06&template=004" +
         "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+") +
         "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+") +
         "&cpmiskey=" + document.PatientLinks.cpmiskey.value.replace(/ /,"+");
  location.href=linkUrl;
}
function ReLoadPage() {
  linkUrl="patweb07.pbl?reportno=06&template=005" +
      "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+") +
      "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+") +
      "&cpmiskey=" + document.PatientLinks.cpmiskey.value.replace(/ /,"+") +
      "&filtctyp=" + document.getElementById("filtctyp").value.replace(/ /g,"+")
  location.href=linkUrl;
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link
//---------------------------------------------------------------------------

function InitTable(TableView) {
document.title="Contact History List";
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",40,30);
 t.addColumn("Contact Type","String",1,2,"left","MaintenanceIcon.gif","0",130)
 t.addColumn("Relationship","String",4,4,"left","","",60)
 t.addColumn("Name","String",5,5,"left","","",120)
 t.addColumn("Home Phone","String",6,6,"left","","",70)
 t.addColumn("Mobile Phone","String",8,8,"left","","",70)
 t.addColumn("Address","String",9,9,"left","","",115)
 t.addColumn("Comments","String",11,11,"left","","",115)
 t.addColumn("Send Letter","String",10,10,"left","","",35)
 t.addColumn("Status","String",3,3,"left","","",50)

 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc  Dsc
 break;}
 }
}
</script>
</head>

%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0)>

<div id=HeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB07.06.003";
PatientVIS="%PATWEB07.06.081";
PatientNAM="%PATWEB07.06.002";
PatientSTA="%PATWEB07.06.086.078";
PatientALT="%PATWEB07.06.084";
PatientSEX="%PATWEB07.06.019";
PatientDOB="%PATWEB07.06.020";
PatientAGE="%PATWEB07.06.021";
PatientLOC="%PATWEB07.06.083";
PatientPRI="%PATWEB07.06.086.066.1";
PatientUNT="%PATWEB07.06.066.0";
DoctorCOD="%PATWEB07.06.082.003";
DoctorNAM="%PATWEB07.06.082.002";
PatientAID="%PATWEB07.06.086.090";
PatientIND="%PATWEB07.06.086.091";
PatientCUR="%PATWEB07.06.086.092";
PatientCLC="%PATWEB07.06.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB07.06.086.094";
PatientCDM="%PATWEB07.06.086.095";
PatientVDH="%PATWEB07.06.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<form name=ViewForm style=margin:0>
<table width=100% cellspacing=0 cellpadding=0 bgcolor=#cccccc>
<tr><td align=left>
     <input type=button class="button NoAutoFocus" value="Contacts"
      title="List Contacts"
      onclick="ClickContactButton();">
    </td>
    <td>Contact Type&nbsp;<select name="filtctyp" title="Contact Type"
        id="filtctyp" onchange="ReLoadPage();">
        <option value="   ">All</option>
        %PATWEB07.06.213.2
        </select></td>
    </table>
</form>
</div>
<div id=TableLocation></div>

<script type="text/javascript">
function AddTableRows() {
%PATWEB07.06.212
}
</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=001>
<input type=hidden name=urnumber value="%PATWEB07.06.003">
<input type=hidden name=admissno value="%PATWEB07.06.081">
<input type=hidden name=casekeys value="%PATWEB07.06.203">
<input type=hidden name=shwprint value="%PATWEB07.06.202">
<input type=hidden name=waitflag value="%PATWEB07.06.205">
<input type=hidden name=trnsflag value="%PATWEB07.06.206">
<input type=hidden name=MenuType value="%PATWEB07.06.088">
<input type=hidden name=cpmiskey value="%PATWEB07.06.210">
<input type=hidden name=othrcont value="%PATWEB07.06.211">
</form>
