<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb7601037.js>  </script>
<script type="text/javascript">
function PrintForm1() {
  if(UpdateForm.feeformf.checked==false &&
    UpdateForm.medformf.checked==false) {
    alert("Please select a form to print.");
    return;
  }
  if(UpdateForm.feeformf.checked==true ) {
     if(isWhitespace(UpdateForm.statncod.value)) {  
        alert(UpdateForm.statncod.title + 
        " is a required field.\nPlease enter it now." )
       return;
     }
     if(isWhitespace(UpdateForm.schdprnt.value)) {  
        alert(UpdateForm.schdprnt.title + 
        " is a required field.\nPlease enter it now." )
       return;
     }
  }
  if(UpdateForm.medformf.checked==true ) {
     if(isWhitespace(UpdateForm.statnco2.value)) { 
        alert(UpdateForm.statnco2.title + 
        " is a required field.\nPlease enter it now." )
       return;
     }
     if(isWhitespace(UpdateForm.schdprn2.value)) {
        alert(UpdateForm.schdprn2.title + 
        " is a required field.\nPlease enter it now." )
       return;
     }    
  }
  document.UpdateForm.nextpage.value="1"
  document.UpdateForm.printfee.value="1"
  document.UpdateForm.redirect.value="patweb76.pbl?reportno=01&template=038" +
  "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
  "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") 
  document.UpdateForm.submit(); 
}
function GetPrintDetails1() {
  if (document.UpdateForm.feeformf.checked==true) {
    document.UpdateForm.statncod.className="Mandatory";
    document.UpdateForm.schdprnt.className="Mandatory";
    document.UpdateForm.statncod.disabled=false;
    document.UpdateForm.schdprnt.disabled=false;
    document.UpdateForm.schdcopy.disabled=false;
    document.UpdateForm.setdefp1.disabled=false;
    for (var i=0;i<document.UpdateForm.statncod.length;i++){
      if (document.UpdateForm.statncod.options[i].value.replace(/ /g,"")==
          document.UpdateForm.feefdeft.value.replace(/ /g,"")){
          document.UpdateForm.statncod.selectedIndex=i}};
  } else {
    document.UpdateForm.statncod.className="";
    document.UpdateForm.schdprnt.className="";
    document.UpdateForm.statncod.disabled=true;
    document.UpdateForm.schdprnt.disabled=true;
    document.UpdateForm.schdcopy.disabled=true;
    document.UpdateForm.setdefp1.disabled=true;
  }
}
function GetPrintDetails2() {
  if (document.UpdateForm.medformf.checked==true) {
    document.UpdateForm.statnco2.className="Mandatory";
    document.UpdateForm.schdprn2.className="Mandatory";
    document.UpdateForm.statnco2.disabled=false;
    document.UpdateForm.schdprn2.disabled=false;
    document.UpdateForm.schdcop2.disabled=false;
    document.UpdateForm.setdefp2.disabled=false;
    for (var i=0;i<document.UpdateForm.statnco2.length;i++){
      if (document.UpdateForm.statnco2.options[i].value.replace(/ /g,"")==
          document.UpdateForm.medfdeft.value.replace(/ /g,"")){
          document.UpdateForm.statnco2.selectedIndex=i}};
  } else {
    document.UpdateForm.statnco2.className="";
    document.UpdateForm.schdprn2.className="";
    document.UpdateForm.statnco2.disabled=true;
    document.UpdateForm.schdprn2.disabled=true;
    document.UpdateForm.schdcop2.disabled=true;
    document.UpdateForm.setdefp2.disabled=true;
  }
}
function GetPrintDetails3() {
  if (document.UpdateForm.twoformf.checked==true) {
    document.UpdateForm.statnco3.className="Mandatory";
    document.UpdateForm.schdprn3.className="Mandatory";
    document.UpdateForm.statnco3.disabled=false;
    document.UpdateForm.schdprn3.disabled=false;
    document.UpdateForm.schdcop3.disabled=false;
    document.UpdateForm.setdefp3.disabled=false;
    for (var i=0;i<document.UpdateForm.statnco3.length;i++){
      if (document.UpdateForm.statnco3.options[i].value.replace(/ /g,"")==
          document.UpdateForm.twofdeft.value.replace(/ /g,"")){
          document.UpdateForm.statnco3.selectedIndex=i}};
  } else {
    document.UpdateForm.statnco3.className="";
    document.UpdateForm.schdprn3.className="";
    document.UpdateForm.statnco3.disabled=true;
    document.UpdateForm.schdprn3.disabled=true;
    document.UpdateForm.schdcop3.disabled=true;
    document.UpdateForm.setdefp3.disabled=true;
  }
}
function ShowItems() {
  if(document.UpdateForm.claimtyp.value=="U") {
    ItemList.innerHTML=ItemsInput.innerHTML;
  } else {
    ItemList.innerHTML=Blank.innerHTML;
  }
}
function ShowTwoWay() {
  if(document.UpdateForm.claimtyp.value=="P") {
    TwowayList.innerHTML=TwowayInput.innerHTML;
  } else {
    TwowayList.innerHTML=Blank.innerHTML;
  }
}
function ShowMiddle() {
  if(document.UpdateForm.claimtyp.value=="") {
    MiddleList.innerHTML=Blank.innerHTML; }
  else {
    if(document.UpdateForm.claimtyp.value=="C") {
      MiddleList.innerHTML=FastInput.innerHTML; }
    else {
      MiddleList.innerHTML=AmountInput.innerHTML; 
//    if(document.UpdateForm.claimtyp.value=="U") {
//     document.getElementById('assistga').className="HighLightRed";
//    }
      if(document.UpdateForm.claimtyp.value=="P") {
       document.getElementById('anaegapa').innerHTML="Anaesthetist Gap Amount *"
       document.getElementById('phycamnt').innerHTML="Physician Consultation Amount *"
       document.getElementById('educdvda').innerHTML="Educational DVD Amount *"
      }
    }
    SetEDTime();
  }
}
function ShowTotals() {
  if(document.UpdateForm.claimtyp.value=="U") {
    TotalsList.innerHTML=TotalUInput.innerHTML; }
  else {
    if(document.UpdateForm.claimtyp.value=="P") {
      TotalsList.innerHTML=TotalPInput.innerHTML; 
      document.getElementById('exceamnt').innerHTML="Excess *"
    }
    else {
      TotalsList.innerHTML=Blank.innerHTML; }
  }
}
function DisplayClaim() {
  ShowMiddle();
  ShowTotals();
  ShowItems();
  ShowTwoWay();
  if(!isWhitespace(UpdateForm.linkedvs.value)) {
    ShowPrint.style.display="";
  }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);DisplayClaim();>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB76.01.003";
PatientVIS="%PATWEB76.01.081";
PatientNAM="%PATWEB76.01.002";
PatientSTA="%PATWEB76.01.086.078";
PatientALT="%PATWEB76.01.084";
PatientSEX="%PATWEB76.01.019";
PatientDOB="%PATWEB76.01.020";
PatientAGE="%PATWEB76.01.021";
PatientLOC="%PATWEB76.01.083";
PatientPRI="%PATWEB76.01.086.066.1";
PatientUNT="%PATWEB76.01.066.0";
DoctorCOD="%PATWEB76.01.082.003";
DoctorNAM="%PATWEB76.01.082.002";
PatientAID="%PATWEB76.01.086.090";
PatientIND="%PATWEB76.01.086.091";
PatientCUR="%PATWEB76.01.086.092";
PatientCLC="%PATWEB76.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB76.01.086.094";
PatientCDM="%PATWEB76.01.086.095";
PatientVDH="%PATWEB76.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<form name=UpdateForm method=post action=patweb76.pbl style="margin:0">
  <input type=hidden name=reportno value=1>
  <input type=hidden name=template value=037>
  <input type=hidden name=updatety value="6">
  <input type=hidden name=nextpage value="">
  <input type=hidden name=redirect value="">
  <input type=hidden name=dummy value="">
  <input type=hidden name=tempamnt value="">
  <input type=hidden name=tempgsta value="">
  <input type=hidden name=tempgstc value="">
  <input type=hidden name=suggclss value="">
  <input type=hidden name=dcasclss value="">
  <input type=hidden name=updttype value="">
  <input type=hidden name=rdirquot value="%PATWEB76.01.709">
  <input type=hidden name=validpre value="%PATWEB76.01.716">
  <input type=hidden name=updatflg value="">
  <input type=hidden name=claimtyp value="">
  <input type=hidden name=linkedvs value="%PATWEB76.01.963">
  <input type=hidden name=printfee value="">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
    Fees Information %PATWEB76.01.709</td></tr>
<tr><td>
    <input type=hidden name=urnumber value="%PATWEB76.01.003">
    <input type=hidden name=admissno value="%PATWEB76.01.081">

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=15%>Number of Nights Stay</td>
    <td width=20%><input type=text name=pmsfi006 size=4 maxlength=3 readonly
         title='Number of Nights Stay' class="Integer" min=0 max=9999
         value='%PATWEB76.01.906'> 
         &nbsp; 0=Daycase &nbsp;
    </td>
</tr>

<tr><td class=DataLabel width=15%>Admission Date</td>     
    <td width=20%><input type=text size=15 maxlength=12 name=pmsfi005 
         value="%PATWEB76.01.905" title="Admission Date" readonly>
    </td>
    <td>&nbsp;</td>
    <td class=DataLabel>Expected Discharge Date</td>
    <td><input type=text size=15 maxlength=12 name=pmsfi007 readonly
         value="%PATWEB76.01.907"></td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><input type=text readonly value="%PATWEB76.01.908.0"></td>
</tr>

<tr><td width=15% class=DataLabel>Health Fund</td>
    <td colspan=2><input type=text name=pmsfi009 size=6 maxlength=6 
         title="Health Fund" readonly value="%PATWEB76.01.909.0">
        <input type=text class=readonly readonly name=funddesc size=35
         title="Health Fund Description" tabindex=-1
         value="%PATWEB76.01.909.1"></td>
    <td class=DataLabel>Table</td>
    <td colspan=2><input type=text name=pmsfi010 size=8 maxlength=8
         title="Fund Table" readonly value="%PATWEB76.01.910.0">
        <input type=text class=readonly readonly name=tabdesc size=20
         title="Table Description" tabindex=-1 value="%PATWEB76.01.910.1">
    </td>
</tr>

<tr><td colspan=6><hr width=100%></td></tr>
</table>

<div id=MiddleList></div>
<div id=TotalsList></div>
<div id=ItemList></div>

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=6><hr width=100%></td></tr>

<tr><td class=DataLabel width=15%>Print Fee Information Form</td>
    <td><input type=checkbox name=feeformf onclick="GetPrintDetails1();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statncod disabled title="Fee Information Form">
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprnt disabled title="Printer">
        <option></option>
         %STANDARD.01.001.FEEFORMF.01
        </select>
    </td>
</tr>

<tr><td class=DataLabel width=15%>Print Medicare Form</td>
    <td><input type=checkbox name=medformf onclick="GetPrintDetails2();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statnco2 disabled title="Medicare Form">
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprn2 disabled title="Printer">
        <option></option>
         %STANDARD.01.001.MEDFORMF.01
        </select>
    </td>
</tr>
</table>

<div id=TwowayList></div>
    <input type=hidden name=schdcopy disabled value="1">
    <input type=hidden name=feefdeft value="%STANDARD.01.033.FEEFORMF.01">
    <input type=hidden name=setdefp1 disabled value="FEEFORMF01">

    <input type=hidden name=schdcop2 disabled value="1">
    <input type=hidden name=medfdeft value="%STANDARD.01.033.MEDFORMF.01">
    <input type=hidden name=setdefp2 disabled value="MEDFORMF01">

    <input type=hidden name=schdcop3 disabled value="1">
    <input type=hidden name=twofdeft value="%STANDARD.01.033.TWOFORMF.01">
    <input type=hidden name=setdefp3 disabled value="TWOFORMF01">

<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td align=center colspan=2><br>
    <span id=ShowPrint style="display: none">
    <input type=button value=Print id=prtbtn class="button" 
     onclick="tempDisable(this);PrintForm1()">
    </span>
    <input type=button value=Cancel class="button" 
     onclick="PatientLinkTo('patweb76.pbl',1,38,0);">
    </td></tr>
</table>
</table>
</form>
</div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB76.01.003">
<input type=hidden name=admissno value="%PATWEB76.01.081">
<input type=hidden name=MenuType value="%PATWEB76.01.088">
</form>

<span id=ItemsInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=6><hr width=100%></td></tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 1</td>
    <td colspan=5><input type=text name=thefee01 size=9 maxlength=9 readonly
         title='Theatre Fee Code 1' value="%PATWEB76.01.925.1">
        <input type=text name=thedesc01 size=50 class=Readonly readonly 
         title='Theatre Fee Code 1 description' 
         value="%PATWEB76.01.925.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa01 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.948'>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 2</td>
    <td colspan=5><input type=text name=thefee02 size=9 maxlength=9 readonly
         title='Theatre Fee Code 2' value="%PATWEB76.01.926.1">
        <input type=text name=thedesc02 size=50 class=Readonly readonly 
         title='Theatre Fee Code 2 description' 
         value="%PATWEB76.01.926.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa02 size=4 maxlength=4
         title='No.of Items' class="Integer" min=0 max=9999 readonly
         value='%PATWEB76.01.949'>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 3</td>
    <td colspan=5><input type=text name=thefee03 size=9 maxlength=9 readonly
         title='Theatre Fee Code 3' value="%PATWEB76.01.927.1">
        <input type=text name=thedesc03 size=50 class=Readonly readonly 
         title='Theatre Fee Code 3 description' 
         value="%PATWEB76.01.927.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa03 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.950'>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 4</td>
    <td colspan=5><input type=text name=thefee04 size=9 maxlength=9 readonly
         title='Theatre Fee Code 4' value="%PATWEB76.01.928.1">
        <input type=text name=thedesc04 size=50 class=Readonly readonly 
         title='Theatre Fee Code 4 description' 
         value="%PATWEB76.01.928.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa04 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.951'>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 5</td>
    <td colspan=5><input type=text name=thefee05 size=9 maxlength=9 readonly
         title='Theatre Fee Code 5' value="%PATWEB76.01.929.1">
        <input type=text name=thedesc05 size=50 class=Readonly readonly 
         title='Theatre Fee Code 5 description' 
         value="%PATWEB76.01.929.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa05 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.952'>
    </td>
</tr>
<tr><td class=DataLabel width=15%>Theatre Fee Code 6</td>
    <td colspan=5><input type=text name=thefee06 size=9 maxlength=9 readonly
         title='Theatre Fee Code 6' value="%PATWEB76.01.930.1">
        <input type=text name=thedesc06 size=50 class=Readonly readonly 
         title='Theatre Fee Code 6 description' 
         value="%PATWEB76.01.930.0" tabindex=-1>
         &nbsp;&nbsp;No.of Items
        <input type=text name=thequa06 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.953'>
    </td>
</tr>
<tr><td class=DataLabel>Misc Charge Code 1</td>
    <td colspan=5><input type=text name=mischg01 size=9 maxlength=9 readonly
         title="Misc Charge Code" value="%PATWEB76.01.931.1">
        <input type=text readonly name=misdes01 size=50 class=Readonly
         title="Misc Charge Code Description" tabindex=-1
         value="%PATWEB76.01.931.0">
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua01 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.945'>
</td></tr>
<tr><td class=DataLabel>Misc Charge Code 2</td>
    <td colspan=5><input type=text name=mischg02 size=9 maxlength=9 readonly
         title="Misc Charge Code" value="%PATWEB76.01.932.1">
        <input type=text readonly name=misdes02 size=50 class=Readonly
         title="Misc Charge Code Description" tabindex=-1
         value="%PATWEB76.01.932.0">
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua02 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.946'> 
</td></tr>
<tr><td class=DataLabel>Misc Charge Code 3</td>
    <td colspan=5><input type=text name=mischg03 size=9 maxlength=9 readonly
         title="Misc Charge Code" value="%PATWEB76.01.933.1">
        <input type=text readonly name=misdes03 size=50 class=Readonly
         title="Misc Charge Code Description" tabindex=-1
         value="%PATWEB76.01.933.0">
         &nbsp;&nbsp;No.of Items
        <input type=text name=misqua03 size=4 maxlength=4 readonly
         title='No.of Items' class="Integer" min=0 max=9999
         value='%PATWEB76.01.947'> 
</td></tr>
<tr><td class=DataLabel width=15%>Bed Type</td>
    <td width=20%><input type=text title="Bed Type" value="%PATWEB76.01.934.0"
        readonly>
        </td>

    <td class=DataLabel width=15%>Accommodation GST</td>
    <td><input type=text size=4 maxlength=4 value="%PATWEB76.01.936" readonly>
    </td>
</tr>

<tr><td class=DataLabel>%STANDARD.01.017.A </td>
    <td><input type=text title="%STANDARD.01.017.A " value="%PATWEB76.01.935.0"
         readonly>
        </td>
</tr>
</table>
</span>

<span id=TwowayInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=15%>Print Two-Way Form</td>
    <td><input type=checkbox name=twoformf onclick="GetPrintDetails3();">
      </td>
    <td class=DataLabel>Select Form</td>
    <td><select name=statnco3 disabled title="Two-Way Form">
        <option></option>
         %PATWEB76.01.717.  3
        </select></td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprn3 disabled title="Printer">
        <option></option>
         %STANDARD.01.001.TWOFORMF.01
        </select>
    </td>
</tr>
</table>
</span>

<span id=AmountInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=HighLightRed>Surgeon Gap Amount</td>
    <td class=DataField>
        <input type=text name=pmsfi011 size=9 maxlength=9 readonly
         value="%PATWEB76.01.911"
         title='Surgeon Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Fasting Information</td>
    <td><input type=text size=55 maxlength=50 name=pmsfi022 readonly
         value="%PATWEB76.01.922"></td>
</tr>
<tr><td width=15% class=DataLabel id=assistga>Assistant Gap Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi012 size=9 maxlength=9 readonly
         value="%PATWEB76.01.912"
         title='Assistant Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Day Surgery/Hospital Expected Discharge Time</td>
        <td><select name=pmsfi023 id=pmsfi023
                title="Day Surgery Expected Discharge Time"
                tabindex=105>
        <option value=""></option>
        <option value="07:00">7am</option>
        <option value="08:00">8am</option>
        <option value="09:00">9am</option>
        <option value="10:00">10am</option>
        <option value="11:00">11am</option>
        <option value="12:00">12noon</option>
        <option value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
        <option value="19:00">7pm</option>
        <option value="20:00">8pm</option>
        <option value="21:00">9pm</option>
        <option value="22:00">10pm</option>
        </select>
</tr>
<tr><td width=15% class=DataLabel id=anaegapa>Anaesthetist Gap Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi013 size=9 maxlength=9 readonly
         value="%PATWEB76.01.913"
       title='Anaesthetist Gap Amount' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=DataLabel>Expected Anaesthetics Practice</td>
    <td><input type=text name=genpprac size=35 readonly
                 value="%PATWEB76.01.924.0">
          <input type=hidden name=pmsfi024 value="%PATWEB76.01.924.1">
          <input type=hidden name=genpcntr value="">
          <input type=hidden name=genpdoct value="">
          <input type=hidden name=genpname value="">
          <input type=hidden name=genpprov value="">
      </td>
</tr>
<tr><td width=15% class=DataLabel>Physio (Initial Visit)</td>
      <td class=DataField>
        <input type=text name=pmsfi014 size=9 maxlength=9 readonly
         value="%PATWEB76.01.914"
         title='Physio (Initial Visit)' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=15% class=DataLabel id=phycamnt>Physician Consultation Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi063 size=9 maxlength=9 readonly
         value="%PATWEB76.01.964"
     title='Physician Consult Amount' class="Number" min=0 max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>Physio (Subsequent Visits)</td>
      <td class=DataField>
        <input type=text name=pmsfi015 size=9 maxlength=9 readonly
         value="%PATWEB76.01.915"
     title='Physio (Subsequent Visits)' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=15% class=HighLightRed id=educdvda>Educational DVD Amount</td>
      <td class=DataField>
        <input type=text name=pmsfi064 size=9 maxlength=9 readonly
         value="%PATWEB76.01.965"
     title='Education DVD' class="Number" min=0 max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>X-rays/Pathology</td>
      <td class=DataField>
        <input type=text name=pmsfi016 size=9 maxlength=9 readonly
         value="%PATWEB76.01.916"
         title='X-rays/Pathology' class="Number" min=0 max=999999.99></td>
</tr>
<tr><td width=15% class=DataLabel>Splints/Brace</td>
      <td class=DataField>
        <input type=text name=pmsfi017 size=9 maxlength=9 readonly
         value="%PATWEB76.01.917"
         title='Splints/Brace' class="Number" min=0 max=999999.99></td>
</tr>

<tr><td width=15% class=DataLabel>Miscellaneous</td>
      <td class=DataField>
        <input type=text name=pmsfi018 size=9 maxlength=9 readonly
         value="%PATWEB76.01.918"
         title='Miscellaneous' class="Number" min=0 max=999999.99></td>
</tr>
</table>
</span>

<span id=FastInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel>Fasting Information</td>
    <td><input type=text size=55 maxlength=50 name=pmsfi022 readonly
         value="%PATWEB76.01.922"></td>
</tr>
<tr><td class=DataLabel>Day Surgery/Hospital Expected Discharge Time</td>
        <td><select name=pmsfi023 title="Day Surgery Expected Discharge Time"
                tabindex=105>
        <option value=""></option>
        <option value="07:00">7am</option>
        <option value="08:00">8am</option>
        <option value="09:00">9am</option>
        <option value="10:00">10am</option>
        <option value="11:00">11am</option>
        <option value="12:00">12noon</option>
        <option value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
        <option value="19:00">7pm</option>
        <option value="20:00">8pm</option>
        <option value="21:00">9pm</option>
        <option value="22:00">10pm</option>
        </select>
</tr>
<tr><td class=DataLabel>Expected Anaesthetics Practice</td>
    <td><input type=text name=genpprac size=35 readonly
                 value="%PATWEB76.01.924.0">
          <input type=hidden name=pmsfi024 value="%PATWEB76.01.924.1">
          <input type=hidden name=genpcntr value="">
          <input type=hidden name=genpdoct value="">
          <input type=hidden name=genpname value="">
          <input type=hidden name=genpprov value="">
      </td>
</tr>
</table>
</span>

<span id=TotalUInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=DataLabel>Pharmacy</td>
      <td class=DataField>
        <input type=text name=pmsfi019 size=9 maxlength=9 readonly
         value="%PATWEB76.01.919"
         title='Pharmacy' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td width=20% class=HighLightRed>Estimated Hospital Accommodation Fee</td>
      <td class=DataField>$ %PATWEB76.01.939</td>
</tr>
<tr><td width=15% class=HighLightRed>Prostheses</td>
      <td class=DataField>
        <input type=text name=pmsfi020 size=9 maxlength=9 readonly
         value="%PATWEB76.01.920"
         title='Prostheses' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td class=HighLightRed>Estimated Theatre Fee</td>
      <td class=DataField>$ %PATWEB76.01.941</td>
</tr>
<tr><td width=15%>&nbsp;</td>
    <td class=DataField>
    <input type=hidden name=pmsfi021 value="">
    </td>
<!--<td width=15% class=HighLightRed>Excess *</td>
      <td class=DataField>
        <input type=text name=pmsfi021 size=15 maxlength=15 readonly
         title='Excess' class="Number" min=0 max=999999999999.99
         value="PATWEB76.01.921"></td>
-->
    <td>&nbsp;</td>
    <td class=DataLabel>Estimated Miscellaneous Charges</td>
      <td class=DataField>$ %PATWEB76.01.943</td>
</tr>
<tr><td width=15% class=DataLabel>Expected Total Cost of Surgery</td>
      <td class=DataField>$ %PATWEB76.01.937</td>
    <td>&nbsp;</td>
    <td class=DataField>Amount Payable on Admission</td>
      <td class=HighLightRed>$ %PATWEB76.01.938</td>
</tr>
</table>
</span>

<span id=TotalPInput style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=15% class=DataLabel>Pharmacy</td>
      <td class=DataField>
        <input type=text name=pmsfi019 size=9 maxlength=9 readonly
         value="%PATWEB76.01.919"
         title='Pharmacy' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=HighLightRed>Prostheses</td>
      <td class=DataField>
        <input type=text name=pmsfi020 size=9 maxlength=9 readonly
         value="%PATWEB76.01.920"
         title='Prostheses' class="Number" min=0 max=999999.99></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=HighLightRed id=exceamnt>Excess</td>
      <td class=DataField>
        <input type=text name=pmsfi021 size=15 maxlength=15 readonly
         title='Excess' class="Number" min=0 max=999999999999.99
         value="%PATWEB76.01.921"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td width=15% class=DataLabel>Expected Total Cost of Surgery</td>
      <td class=DataField>$ %PATWEB76.01.937</td>
    <td>&nbsp;</td>
    <td class=DataField>Amount Payable on Admission</td>
      <td class=HighLightRed>$ %PATWEB76.01.938</td>
</tr>
</table>
</span>

<span id=Blank style="display:none">
<table width=98% align=center border=0 cellspacing=1 cellpadding=1>
</table>
</span>

<script type="text/javascript">
function SetEDTime() {
  for (var i =0 ; i < document.UpdateForm.pmsfi023.length; i++) {
    if(document.UpdateForm.pmsfi023.options[i].value=="%PATWEB76.01.923"){
          document.UpdateForm.pmsfi023.selectedIndex=i;
    }
 }
}
// Determine if claim type is Uninsured, Private or Compensable
Claimstring="%PATWEB76.01.126.3";
if ((Claimstring.substr(14,2)=="10") || (Claimstring.substr(14,2)=="11")) {
  document.UpdateForm.claimtyp.value="U"; }
if (Claimstring.substr(14,2)=="09") {
  document.UpdateForm.claimtyp.value="P"; }
checkInd=Claimstring.substr(3,5);
if ((checkInd.search(/W/g) >= 0) || (checkInd.search(/M/g) >= 0) ||
    (checkInd.search(/V/g) >= 0)) {
  document.UpdateForm.claimtyp.value="C"; }
</script>
