<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb6301.js></script>
<script type="text/javascript">
function ShowMatrix(claim,cont,hfund,table,rtype,casemix) {
  location.href="patweb63.pbl?reportno=1&template=9" +
               "&menuflag=1" +
               "&pmcmt001=" + claim +
               "&pmcmt064=" + cont +
               "&pmcmt002=" + hfund +
               "&pmcmt003=" + table +
               "&pmcmt004=" + casemix +
               "&pmcmt063=" + rtype +
               "&pmcmt005=     0"
}
function SubmitForm() {
    if(isWhitespace(SelectCode.pmcmt001.value)&&
       isWhitespace(SelectCode.pmcmt064.value)){
       alert("Claim code or Contract Id  must be entered.")
       return;
    }
    SelectCode.submit();
}
</script>
</head>
%START.OF.PAGE
<body onload='PageLoad(event);SetCookiePath("MatrixList");'>
<form name=SelectCode action=patweb63.pbl method=get style="margin:0">
<input type=hidden name=reportno value=01>
<input type=hidden name=template value=008>
<input type=hidden name=norecord value=17>
<input type=hidden name=dummy1 value="" id=dummy1>
<input type=hidden name=dummy2 value="" id=dummy2>
<input type=hidden name=updttype>

<table width=100% cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td colspan=8 align=center class=HeadingCell>
       Casemix Matrix Enquiry</td></tr>

<tr height=25><td class=DataLabel>Contract Id</td>
  <td class=Field><input type=text size=10 maxlength=6 name=pmcmt064 id=pmcmt064
         value="%PATWEB63.01.111.0" onblur="validateCID(pmcmt064,cniddesc);">
        <input type=text size=26 name=cniddesc id=cniddesc readonly
         value="%PATWEB63.01.111.1" class=Readonly notab tabindex=-1>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="
    CIDSearchFrame('patweb88.pbl?reportno=26&template=005',pmcmt064,cniddesc);">
        <img src="../images/erase.gif" class=Icon
         onclick="clrCID(pmcmt064,cniddesc);"></td>
  <td class=DataLabel>%STANDARD.01.017.CL</td>
  <td><select name=pmcmt001 class="SelectMed"
       title="%STANDARD.01.017.CL">
        <option></option>
        %PATWEB63.01.104.2
        </select></td>
  <td class=DataLabel>&nbsp</td>
  </tr>

  <tr><td class=DataLabel>Health Fund </td>
  <td><input type=text size=6 name=pmcmt002 id=pmcmt002 maxlength=6
      value="%PATWEB63.01.105.0" title="Health Fund"
      onblur="valHfund(pmcmt002,funddesc);">
     <input type=text size=30 name=funddesc id=funddesc 
      title="Health Fund" readonly
      value="%PATWEB63.01.105.1" class=Readonly notab tabindex=-1>
     <img src=../images/SearchIcon.gif class=Icon notab
      onclick="HealthFundSearchFrame(pmcmt002,funddesc,dummy1,dummy2);">
     <img src="../images/erase.gif" class=Icon notab
      onclick="clrFields(pmcmt002,funddesc);">
     </td>
  <td class=DataLabel>Table Type</td>
  <td><select name=pmcmt003>
        <option></option>
        %PATWEB63.01.106.2
        </select></td></tr>

  <tr><td class=DataLabel>Record Type</td>
  <td><select name=pmcmt063>
        <option></option>
        <option value="E">Either    </option>
        <option value="D">Daycase   </option>
        <option value="O">Overnight </option>
      </select>
  </td>

     <td class=DataLabel>Casemix Code</td>
     <td><input type=text name=pmcmt004 id=pmcmt004 value="%PATWEB63.01.107.0" 
      size=8 maxlength=8 title="Casemix Code"
      onblur="validateCode(35,pmcmt004,cmixdesc);">
      <input type=text size=30 name=cmixdesc id=cmixdesc 
       title="Code Description"
      readonly value="%PATWEB63.01.107.1" notab class=Readonly tabindex=-1>
      <img src=../images/SearchIcon.gif class=Icon notab
      onclick="CmixSearchFrame(pmcmt004,cmixdesc);">
      <img src="../images/erase.gif" class=Icon notab
      onclick="clrFields(pmcmt004,cmixdesc);">
     </td>
     <td align=right><input type=button value="Search" class="button" 
      id="schbtn" onclick="tempDisable(this);SubmitForm();"></td>
     </tr>
  </table>
</form>

<!-- </table> -->
    <table cellspacing=0 border=1 width=100%>
    <tr><td class=HeadingCell width=10%>Casemix Code</td>
        <td class=HeadingCell width=30%>Description</td>
        <td class=HeadingCell>Contract Id</td>
        <td class=HeadingCell>%STANDARD.01.017.CL</td>
        <td class=HeadingCell>Health Fund</td>
        <td class=HeadingCell>Table</td>
        <td class=HeadingCell width=5%>Record Type</td>
        <td class=HeadingCell width=5%>Pre-Op</td>
        <td class=HeadingCell width=5%>No Pay</td>
        <td class=HeadingCell width=5%>Min Days<br>Stay</td>
        <td class=HeadingCell width=5%>Max Days<br>Stay</td>
        <td class=HeadingCell width=5%>Crit Care</td>
     </tr>
        %PATWEB63.01.103.patweb63.01.002
    </table>

    <table width=100% bgcolor=#CCCCCC>
    <tr><td align=center>
        <input type=button value="<< Previous" class="button"
         onclick='location.href="%PATWEB63.01.102.008"'>
        <input type=button value="Next >>" class="button"
         onclick='location.href="%PATWEB63.01.101.008"'>
    </td></tr>
    </table>

<script type="text/javascript">
 for (var i=0 ; i < document.SelectCode.pmcmt063.length; i++) {
   if (document.SelectCode.pmcmt063.options[i].value=="%PATWEB63.01.109") {
       document.SelectCode.pmcmt063.selectedIndex=i } }
</script>
