<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Print Statement for UR No %PATWEB76.01.003
</span>
<div id=PageBodySection>

<form name=Statement action=patweb72.pbl method=get style="margin:0">
<table border=0 width=100% cellspacing=0 cellpadding=0>
<input type=hidden name=reportno value=3>
<input type=hidden name=urnumber value="%PATWEB76.01.003">
<input type=hidden name=admissno value="%PATWEB76.01.081">
<input type=hidden name=sbwindow value="1">
<input type=hidden name=schddesc value="Print Statement for UR No %PATWEB76.01.003">
  <tr><td class=DataLabel>Printer</td>
   <td><select name=selprint class=Mandatory colspan=2> 
     %STANDARD.01.001.PATWEB72.03
   </select>
  </tr>
  <tr><td class=DataLabel>Number of Copies</td>
  <td><select name=schdcopy width=50%>
      <option value=" 1">1</option>
      <option value=" 2">2</option>
      <option value=" 3">3</option>
      <option value=" 4">4</option>
      <option value=" 5">5</option>
      <option value=" 6">6</option>
      <option value=" 7">7</option>
      <option value=" 8">8</option>
      <option value=" 9">9</option>
      <option value=" 10">10</option>
    </select>
</td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td colspan=2 align=center>
    <input type=submit name=formactn value="Print" class="button">
    <input type=button Value="Close" class="button" onclick="DFrameExit();">
  </td> </tr>
</table>
</form>

<div id=SelectHeading></div>
<div id=SelectLocation></div>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB71.01.003">
<input type=hidden name=admissno value="%PATWEB71.01.081">
<input type=hidden name=MenuType value="%PATWEB71.01.088">
</form>
