<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb90.js"></script>
<script type="text/javascript" src="../js/patweb69.js"></script>
<script type="text/javascript">
function CheckUR() {
 if (document.search.aisearch.value>1) {
   return;}
 if (!isWhitespace(search.urnumber.value)) {
    justifyRight(document.search.urnumber);
    validateCode(8,search.urnumber,search.patfname,UpdateURSearch,
                                   search.srchpsex,
                                   search.srchpdob,
                                  search.admissno)
    parent.parent.ReturnUR    = document.search.urnumber.value;
    parent.parent.ReturnName  = document.search.patfname.value;
    parent.parent.ReturnVisit = document.search.admissno.value;
    SearchFrameExit();
    if (parent.parent.ReturnFunction != "" ) {
      parent.parent.ReturnFunction();  }
  }
}

function ChkVisit() {
  var dummy = "";
  justifyRight(document.search.admissno);
  var ans = validateCode(12,document.search.admissno
                           ,dummy
                           ,dummy
                           ,dummy
                           ,dummy
                           ,document.search.urnumber
                           ,dummy
                           ,dummy
                           ,dummy
                           ,dummy);
  if (ans) {
    // prevent justifyRight from pushing UR# out of range
    document.search.urnumber.maxLength = 8;  
    setUR();
    CheckUR();
  }
  return false;     
}

function UpdateURSearch() {
  parent.parent.ReturnUR.value=document.search.urnumber.value;
  parent.parent.ReturnName.value=document.search.patfname.value;
  parent.parent.ReturnVisit.value=document.search.admissno.value;
  SearchFrameExit();
}
function ProcessSubmit() {
  var p = document.search;

  if (p.ptcnuepm.value == "1") {
    document.getElementById('spLHDSrchBtn').innerHTML =
      document.getElementById('spLHDSrch').innerHTML;
  }

  if (p.aisearch.value>1) {
    return true;
  }

  if (!isWhitespace(p.admissno.value)) {
    var ans = ChkVisit();
    if (ans == false) return false;
  }
  else if (!isWhitespace(p.urnumber.value)) {
    setUR();
    CheckUR();
    return false;
  } else {
    search.srchsnam.value.replace(/\'/g,"~")
    setUR();
    checkDate(search.srchpdob,'Date of Birth');
    setBirth(search.srchpdob);
    setMedicare(search.srchmedi);
    return true;
  }
}
function FinaliseReset() {
  document.getElementById('spLHDSrchBtn').innerHTML = "";
}
function Redirect() {
  var sex;
  for (var i =0 ; i < document.search.srchpsex.length; i++) {
    if (document.search.srchpsex[i].checked) {
      sex = document.search.srchpsex[i].value;
    }
  }
  var aGNames = document.search.srchgnam.value.split(' ');
  var sURL = "patweb69.pbl?reportno=1&template=010" +
                "&srchsnam=" + document.search.srchsnam.value +
                "&srchgnam=" + aGNames[0];
  if (aGNames.length > 1) {
    sURL += "&srchmnam=" + aGNames[1];
  }
  sURL += "&srchpdob=" + document.search.srchpdob.value +
          "&srchmedi=" + document.search.srchmedi.value +
          "&srchpsex=" + sex + "&srchtype=1";

  var sRedirectURL = "patweb90.pbl?reportno=1&template=010";

  sURL += "&redirect=" + encodeURIComponent(sRedirectURL);

  if (parent.SearchResults.document.body != undefined) {
    parent.SearchResults.document.body.innerHTML = "";
  }
  location.href = sURL;
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);setUR();checkType();setDefault();">
<!--        Sub-Frame Header Section       -->
<span class=DFrameTitleBar>
<img align=right src="../images/ExitIcon.gif" class=MenuIcon
 onclick="SearchFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<!--        Search Options                 -->
<div style="background-color:#cccccc;height:100%;">
<form name=search method=post action=patweb90.pbl target=SearchResults 
 style="margin:0"
 onsubmit="return ProcessSubmit();">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value=11>
<input type=hidden name=norecord value="%PATWEB90.01.032">
<input type=hidden name=patfname value=20>
<input type=hidden name=srchadmn value="%PATWEB90.01.013">
<input type=hidden name=ptcnualt value="%PATWEB90.01.023">
<input type=hidden name=alternid value="">
<input type=hidden name=aisearch value="">
<input type=hidden name=dummy    value="">
<input type=hidden name=ptcnuepm value="%STANDARD.01.025.125.155.0.1">

<table width="90%" align=center cellpadding=0 cellspacing=0 border=0 >
   <tr><td class=DataLabel>Surname<br>
       <input type=text name=srchsnam size=15
        onblur="UpCase(this);TextBlurHandler(this);"></td>
       <td class=DataLabel colspan="2">Given Name<br>
       <input type=text name=srchgnam size=15
        onblur="UpCase(this);TextBlurHandler(this);"></td>
       <td class=DataLabel>U/R Number<br>
       <input type=text name=urnumber onblur="setUR()" size=10
        maxlength=8 style="text-align:left"></td>
       <td class=DataLabel>Medicare No.<br>
       <input type=text name=srchmedi maxlength=10 size=12 tabindex=4
        value="%PATWEB90.01.016"
        onblur="setMedicare(this);"></td>
       <td rowspan=2>
       <input type=radio name=srchpsex value=" " checked> All <br>
       <input type=radio name=srchpsex value="M"> Male <br>
       <input type=radio name=srchpsex value="F"> Female</td>
       <td align=center valign=middle rowspan=2>
       <input type=submit class=button value=Search name=SearchButton><br>
       <span id=spLHDSrchBtn></span>
       <input type=reset class=button value=Reset onclick="FinaliseReset()">
       </td>
   </tr>

   <tr><td class=DataLabel>Date of Birth<br>
       <input type="text" size="12" name="srchpdob"
        onblur="checkDate(this,'Date of Birth')" ></td>
       <td class=DataLabel>Age<br>
       <input type=text name=srchpage size=4 ></td>
       <td class=DataLabel>Range<br>
       <select name=srcharan > 
            <option value=2 selected>2 years</option>
            <option value=4>4 years</option>
            <option value=6>6 years</option>
            <option value=8>8 years</option>
            <option value=10>10 years</option>
           </select></td>
       <td class=DataLabel>Search Type<br>
           <select name=srchtype onchange="checkType();">
           <option value=1>Surname</option>
           <option value=2>Sound-Ex</option>
           <option value=3>Date of Birth</option>
           <option value=4>U/R Number</option>
           <option value=5>Medicare No</option>
           <option value=6>Sound-Ex(Strict Given)</option>
           <option value=7>Visit Number</option>
           </select></td>
       <td class="DataLabel">Visit Number<br /><input type="text" name="admissno" 
        maxlength="8" size="10" /></td></tr>
</table>
</form>
</div>

<span id=spLHDSrch style="display:none">
  <input type=button value="%PATWEB90.01.035" class="button"
   onclick="LHDSearch('RegOption','NewReg', Redirect);"><br>
</span>

<script type="text/javascript">
function setDefault() {

   document.search.srchpage.value="%PATWEB90.01.006";
   document.search.srchpdob.value="%PATWEB90.01.007";

   if (document.search.ptcnuepm.value == "1") {
     document.search.srchsnam.value = "%PATWEB90.01.003";
     document.search.srchgnam.value = "%PATWEB90.01.004"
     document.search.srchmedi.value = "%PATWEB90.01.016";
   }

   if(document.search.ptcnualt.value=="1"){
     document.search.urnumber.maxLength=20;
     document.search.urnumber.size=20;
   }

   for (var i =0 ; i < document.search.srcharan.length; i++) {
     if (document.search.srcharan.options[i].value==trim("%PATWEB90.01.008")) {
         document.search.srcharan.selectedIndex=i } };

   for (var i =0 ; i < document.search.srchtype.length; i++) {
     if (document.search.srchtype.options[i].value=="%PATWEB90.01.009.2") {
         document.search.srchtype.selectedIndex=i; 
         checkType(); }  };

   for (var i =0 ; i < document.search.srchpsex.length; i++) {
     if (document.search.srchpsex[i].value=="%PATWEB90.01.005") {
         document.search.srchpsex[i].checked="1" } };

}
</script>
