<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard" />
<meta name="HelpFileName" content="NoContextSet.html" />
<meta name="CrossBrowser" content="true" />
<script type="text/javascript">
function ReSendSMS() {
  if(validateMandatory(UpdateForm)) {
    document.UpdateForm.updttype.value="R";
    document.UpdateForm.submit();
  }
}
function BulkReSendSMS() {
  if(validateMandatory(UpdateForm)) {
    document.UpdateForm.updttype.value="B";
    document.UpdateForm.submit();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class="DFrameTitleBar">
 <img align="right" alt="Exit" class="MenuIcon"
  src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();" />
  Resend SMS - %PATWEB64.05.002</span>

<form name="UpdateForm" method="post" action="patweb64.pbl" style="margin:0">
 <input type="hidden" name="reportno" value="5" />
 <input type="hidden" name="template" value="001" />
 <input type="hidden" name="updttype" value="" />
 <input type="hidden" name="messagid" value="%PATWEB64.05.101" />
 <input type="hidden" name="errorkey"
  value="%PATWEB64.05.201%PATWEB64.05.202" />
 <input type=hidden name=selprint value="%STANDARD.01.025.124.105.0.6">

 <table align="center" width="95%" border="0" cellpadding="1" cellspacing="1">
 <tr><td class="DataLabel" width=20%>Message Type</td>
     <td class="DataField">%PATWEB64.05.103.1</td>
 </tr>

 <tr><td class="DataLabel" width=20%>Message Code</td>
     <td class="DataField">%PATWEB64.05.105</td>
 </tr>

 <tr><td class="DataLabel" width=20%>Sent By</td>
     <td class="DataField">%PATWEB64.05.109</td>
 </tr>

 <tr><td class="DataLabel" width=20%>Contact Type</td>
     <td class="DataField">%PATWEB64.05.119.0</td>
 </tr>

 <tr><td class="DataLabel" width=20%>Mobile Number</td>
     <td class="DataField">%PATWEB64.05.108</td>
 </tr>

 <tr><td class="DataLabel" width=20%>Message</td>
     <td class="DataField">
%PATWEB64.05.110%PATWEB64.05.111%PATWEB64.05.112%PATWEB64.05.113%PATWEB64.05.114%PATWEB64.05.115
     </td>
 </tr>

 <tr><td class="DataLabel" width=20%>Error Message</td>
     <td class="DataField">%PATWEB64.05.116.2</td>
     </td>
 </tr>

 <tr><td class="DataLabel" width=20%>Status</td>
     <td class="DataField">%PATWEB64.05.116.1</td>
 </tr>

 <tr><td colspan=2 align="center"><br \>
       <input type="button" value="Resend Now" class="button"
        onclick="ReSendSMS();" />
       <input type="button" value="Bulk Resend" class="button"
        onclick="BulkReSendSMS();" />
       <input type="button" value="Cancel" class="button"
        onclick="DFrameCloseRefresh();" /></td>
 </tr>
 </table>
</form>
