<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/patweb7718.js></script>
<script type="text/javascript">
function init() {
  if (!isWhitespace(parent.SelectCode.opchg001.value)) {
    AddForm.opchg001.value=parent.SelectCode.opchg001.value
  }
  if (!isWhitespace(parent.SelectCode.opchg002.value)) {
    AddForm.opchg002.value=parent.SelectCode.opchg002.value
    AddForm.funddesc.value=parent.SelectCode.funddesc.value
    AddForm.opchg027.value=parent.SelectCode.opchg027.value
    AddForm.tabldesc.value=parent.SelectCode.tabldesc.value
    AddForm.hfband.value=parent.SelectCode.hfband.value
    AddForm.opchg027.className="Mandatory";
  }
  if(parent.SelectCode.opchg004.checked==true) {
    AddForm.opchg004.checked=true;
  }
  showFeeClass();
  AddForm.opchg001.focus();
}
function showFeeClass() {
 thcflg="0";
 if (!isWhitespace(document.AddForm.opchg001.value.substr(22,6))) {
   thcflg=trim(document.AddForm.opchg001.value.substr(22,6));
 }
 if (!isWhitespace(document.AddForm.opchg002.value)) {
   if (!isWhitespace(document.AddForm.hfband.value)) {
     thcflg=trim(document.AddForm.hfband.value);
   }
 }
 if (thcflg==document.AddForm.oldband.value) { return; }
 if ((thcflg)==0) {
   document.all.MBSTheatreOption.innerHTML=document.all.MBSOption.innerHTML 
 }
 else {
   document.all.MBSTheatreOption.innerHTML=document.all.TheatreClass.innerHTML
   document.AddForm.theaclass.value=thcflg 
 }
 document.AddForm.oldband.value=thcflg;
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
if ("%PATWEB77.18.027" == "C") {
  document.write("Current File - Theatre Fee Maintenance"); }
else {
  document.write("New File - Theatre Fee Maintenance"); }
</script>

</span>

<form name=AddForm action=patweb77.pbl method=get
      onsubmit='return validateMandatory(this);'>
<input type=hidden name=reportno value=18>
<input type=hidden name=template value=2>
<input type=hidden name=hfband value="">
<input type=hidden name=oldband value="">
<input type=hidden name=updttype value="A">
<input type=hidden name=fileflag value="%PATWEB77.18.027">
<tr><td class=DataLabel width="35%">%STANDARD.01.017.CL</td>
    <td class=DataField>
    <select name=opchg001 class="SelectBig Mandatory" 
            title="%STANDARD.01.017.CL" onchange="showFeeClass();">
    <option></option>
    %PATWEB77.18.001.2
    </select>
    </td></tr>

<tr><td class=DataLabel>Health Fund </td>
    <td class=DataField>
    <input type=text size=6 id=opchg002 name=opchg002 maxlength=6
      value="" title="Health Fund"
      onblur="valHfund(opchg002,opchg027,funddesc,tabldesc,hfband,showFeeClass);">
    <input type=text size=30 name=funddesc title="Health Fund" readonly
     id=funddesc class=Readonly tabindex=-1 notab>
    </td></tr>

<tr><td class=DataLabel>Table</td>
    <td class=DataField>
    <input type=text id=opchg027 name=opchg027 value="" size=8 maxlength=8 
     title="Health Fund Table"
     onblur="valHfundTab(opchg002,opchg027,funddesc,tabldesc);">
    <input type=text size=28 name=tabldesc title="Health Fund Table" readonly
     id=tabldesc class=Readonly tabindex=-1 notab>

    <img src=../images/SearchIcon.gif class=Icon 
     notab tabindex=-1
     onclick="HealthFundSearchFrameA(opchg002,funddesc,opchg027,tabldesc,
                                     hfband);">
    <img src="../images/erase.gif" class=Icon 
     notab tabindex=-1
     onclick="clrHfund(opchg002,funddesc,opchg027,tabldesc);showFeeClass();">
    </td></tr>

<tr><td>Day Case</td>
   <td><input type=checkbox name=opchg004 value="D" title="Day Case">
    </td></tr>
</table>

<span id=MBSTheatreOption></span>

<table align=center cellspacing=0 cellpadding=2 border=0 width=95%>
<tr><td class=DataLabel width=35%>Number of Invoices</td>
    <td><select name=opchg018 class="Mandatory" 
                title="Number of Invoices">
                %PATWEB77.18.018
        </select>
    </td></tr>
</table>

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td>&nbsp;</td></tr>
<tr colspan=4>
    <td>&nbsp;</td>
    <td>Patient Portion</td>
    <td>Rebate Portion</td>
    <td>Total</td></tr>

<tr><td class=DataLabel>1st Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg007 size=10 maxlength=10 class=Number 
           id=opchg007 min=-9999.99 max=999999.99
           onblur="AddTotal(tot1fee,opchg007,opchg006);"></td>
    <td class=DataField>
    <input type=text name=opchg006 size=10 maxlength=10 class=Number
           id=opchg006 min=-9999.99 max=999999.99
           onblur="AddTotal(tot1fee,opchg006,opchg007);">
    <td class=DataField>
    <input type=text name=tot1fee size=10 maxlength=10 class=Readonly
           id=tot1fee readonly tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>2nd Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg009 class=Number size=10 maxlength=10 
           id=opchg009 min=-9999.99 max=999999.99
           onblur="AddTotal(tot2fee,opchg009,opchg008);"></td>
    <td class=DataField>
    <input type=text name=opchg008 class=Number size=10  maxlength=10 
           id=opchg008 min=-9999.99 max=999999.99
           onblur="AddTotal(tot2fee,opchg008,opchg009);"></td>
    <td class=DataField>
    <input type=text name=tot2fee size=10 maxlength=10 class=Readonly
           id=tot2fee readonly tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>3rd Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg011 class=Number size=10 maxlength=10
           id=opchg011 min=-9999.99 max=999999.99
           onblur="AddTotal(tot3fee,opchg011,opchg010);"></td>
    <td class=DataField>
    <input type=text name=opchg010 class=Number size=10 maxlength=10 
           id=opchg010 min=-9999.99 max=999999.99
           onblur="AddTotal(tot3fee,opchg010,opchg011);"></td>
    <td class=DataField>
    <input type=text name=tot3fee size=10 maxlength=10 class=Readonly
           id=tot3fee readonly tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>4th Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg013 class=Number size=10 maxlength=10
           id=opchg013 min=-9999.99 max=999999.99
           onblur="AddTotal(tot4fee,opchg013,opchg012);"></td>
    <td class=DataField>
    <input type=text name=opchg012 class=Number size=10 maxlength=10
           id=opchg012 min=-9999.99 max=999999.99
           onblur="AddTotal(tot4fee,opchg012,opchg013);"></td>
    <td class=DataField>
    <input type=text name=tot4fee size=10 maxlength=10 class=Readonly
           id=tot4fee readonly tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>5th Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg015 class=Number size=10 maxlength=10
           id=opchg015 min=-9999.99 max=999999.99
            onblur="AddTotal(tot5fee,opchg015,opchg014);"></td>
    <td class=DataField>
    <input type=text name=opchg014 class=Number size=10 maxlength=10 
           id=opchg014 min=-9999.99 max=999999.99
           onblur="AddTotal(tot5fee,opchg014,opchg015);"></td>
    <td class=DataField>
    <input type=text name=tot5fee size=10 maxlength=10 class=Readonly
           id=tot5fee readonly tabindex=-1>
    </td></tr>

<tr><td class=DataLabel>6th Highest Fee</td>
    <td class=DataField>
    <input type=text name=opchg017 class=Number size=10 maxlength=10 
           id=opchg017 min=-9999.99 max=999999.99
           onblur="AddTotal(tot6fee,opchg017,opchg016);"></td>
    <td class=DataField>
    <input type=text name=opchg016 class=Number size=10 maxlength=10 
           id=opchg016 min=-9999.99 max=999999.99
           onblur="AddTotal(tot6fee,opchg016,opchg017);"></td>
    <td class=DataField>
    <input type=text name=tot6fee size=10 maxlength=10 class=Readonly
           id=tot6fee readonly tabindex=-1>
    </td></tr>
<tr><td>&nbsp;</td></tr>
<td colspan=4 align=center>
  <input type=button value=Add class="button" id=btnAdd 
    onclick='tempDisable(this); SubmitForm(AddForm);'>
  <input type=button value=Cancel class="button" onclick='DFrameExit();'>
</td></tr>
</table>
</form>

<span id=MBSOption style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=35%>MBS Fee</td>
    <td class=DataField>
    <input type=text name=opchg005 class="Integer Mandatory"
           size=7 maxlength=5 title="MBS Fee" min=0>
    </td></tr>
</table>
</span>
<span id=TheatreClass style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=35%>Theatre Classification 
        <input type=text size=3 name=theaclass Readonly tabindex=-1
         style=border:0;background:paper.gif;></td>
    <td class=DataField>
    <select name=opchg005 title="Theatre Classification" 
             class=Mandatory >
    <option selected></option>
     %PATWEB77.18.022.2
    </select>
</td></tr>
</table>
</span>
