<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
 Ward/Bed Multi Speciality Maintenance - %PATWEB12.02.002.0
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm method=post action=patweb12.pbl>
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="">
   <input type=hidden name=wardcode value="%PATWEB12.02.002.1">
   <input type=hidden name=extrspec value="%PATWEB12.02.008.1">
<table align=center width=100% border=0>

<tr><td class=DataLabel>Extra Speciality</td>
    <td class=DataField colspan=2>%PATWEB12.02.008.0
    </td></tr>

<tr><td class=DataLabel>Order of Preference</td>
    <td class=DataField colspan=2>
    <input type=text name=prforder size=2 maxlemgth=2 class=Integer"
     value="%PATWEB12.02.011">
    </td></tr>
</table>

<table align=center width=100% border=1 cellpadding="0" cellspacing="0">
<tr><td class=HeadingCell width=20%>Bed Code</td>
    <td class=HeadingCell>Description</td>
    <td class=HeadingCell width=10%>&nbsp;</td>
    </tr>

%PATWEB12.02.009

</table>
<table align=center width=100% border=1 bgcolor=#CCCCCC
 cellpadding="0" cellspacing="0">
<tr><td colspan=6 align=center>
   <input type=button value="Update" class="button" onclick=setFormactn('A');>
   <input type=button value="Delete" class="button" onclick=setFormactn('D');>
   <input type=button value="Close" class="button" onclick=DFrameExitRefresh();>
</td></tr>
</table>
</form>
