<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function SubmitFinal() {
 if(UpdateForm.ptcnbedm.value=="1") {
   validateBedRequestUpdate(UpdateForm.admissno,UpdateForm.trntowrd,
                            UpdateForm.trntobed,UpdateForm.valdindc);
   WardbedreqUpdate(UpdateForm.admissno,UpdateForm.trntowrd,UpdateForm.trntobed,
                    UpdateForm.valdindc)
 }
 UpdateForm.submit(); 
}
</script>

</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Bed Allocation  - %PATWEB96.03.002
</span>

<form method=post action=patweb96.pbl name=UpdateForm style="margin:0">
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="5">
<input type=hidden name=formactn value="Transfer">
<input type=hidden name=urnumber value="%PATWEB96.03.003">
<input type=hidden name=admissno value="%PATWEB96.03.081">
<input type=hidden name=bedtrkey value="%PATWEB96.03.214">
<input type=hidden name=wardcode value="%PATWEB96.03.105.1">
<input type=hidden name=nextpage value="0">
<input type=hidden name=trntowrd value="%PATWEB96.03.105.1">
<input type=hidden name=trnleave value=0>
<input type=hidden name=wbedswap value=0>
<input type=hidden name=bedstat1 value=0>
<input type=hidden name=redirect value="%PATWEB96.03.001.patweb93.01.005">
<input type=hidden name=warddesc value="%PATWEB96.03.105.0">
<input type=hidden name=trnadoct value="%PATWEB96.03.108.003">
<input type=hidden name=specialt value="%PATWEB96.03.111.1">
<input type=hidden name=chngunit value="%PATWEB96.03.124.1">
<input type=hidden name=trandate value="%STANDARD.01.013">
<input type=hidden name=trantime value="%STANDARD.01.016">
<input type=hidden name=ptcnbedm value="%STANDARD.01.025.112.106.0.1">
<input type="hidden" name=ptrgm001 value="%PATWEB96.03.229. 1">
<input type="hidden" name=ptrgm002 value="%PATWEB96.03.229. 2">
<input type="hidden" name=ptrgm003 value="%PATWEB96.03.229. 3">
<input type=hidden name=valdindc value="">

<table border=0 align=center width=90% cellspacing=0>
<tr><td class=DataLabel>Ward</td>
    <td class=DataField>%PATWEB96.03.105.0</td></tr>

<tr><td class=DataLabel>Bed</td>
    <td><select name=trntobed>
    <option value="   "></option>
    %PATWEB96.03.429
    </select></td></tr>

<tr valign=bottom><td align=center colspan=2>
    <input type=button class="button" value="Update" 
     id="updbutton"
     onclick="tempDisable(this);
              checkBedStatus(UpdateForm.trntowrd.value,
                             UpdateForm.trntobed.value,
                             SubmitFinal);">
    <input type=button class="button" value="Cancel" 
      onclick="DFrameExit();"></td></tr>
</table>
</form>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB96.03.003">
<input type=hidden name=admissno value="%PATWEB96.03.081">
<input type=hidden name=MenuType value="%PATWEB96.03.088">
<input type=hidden name=alert001 value="">
</form>
