<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb99.js"> </script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

   <form name=UpdateForm method=post action=patweb99.pbl>
   <input type=hidden name=reportno value="17">
   <input type=hidden name=template value="006">
   <input type=hidden name=updttype value="">
   <input type=hidden name=pmtmd001 value="%PATWEB99.17.001">
   <input type=hidden name=pmtmd002 value="%PATWEB99.17.002">
   <input type=hidden name=pmtmd003 value="%PATWEB99.17.003.1">
   <input type=hidden name=pmtmd004 value="%PATWEB99.17.004">

<table align=center width=98% border=0>
<tr><td class=DataLabel width=25%>HCP</td>
    <td class=DataField>%PATWEB99.17.116</td></tr>

<tr><td class=DataLabel>Hospital</td>
    <td class=DataField>%PATWEB99.17.115</td></tr>

<tr><td class=DataLabel>Unit</td>
    <td class=DataField>%PATWEB99.17.003.0</td></tr>

<tr><td class=DataLabel>Team</td>
    <td class=DataField>%PATWEB99.17.109.0</td></tr>

<tr><td class=DataLabel>Active</td>
    <td><input type=checkbox name=pmtmd005 title="Active" value="2"></td>
</tr>

   <input type=hidden name=pmtmd006 value=" ">
   <input type=hidden name=pmtmd007 value=" ">

<tr><td colspan=2 align=center>
    <input type=button value="Update" class="button" onclick="setFormactn('U')">
   <input type=button value=Close class="button" onclick="DFrameCloseRefresh()">
</td></tr>
<tr><td colspan=2 align=center>
    <input type=button value="Delete" class="button" onclick="setFormactn('D')">
</td></tr>
</table>
</form>
<script type="text/javascript">
if ("%PATWEB99.17.005" == "0")
 {
   document.UpdateForm.pmtmd005.checked=1
 }
</script>
