<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function UpdateLetter(LetterKey) {
   HISTKEYS=LetterKey.replace(/ /g,"+");
  // LinkUrl="watweb01.pbl?reportno=4&template=2&histkeys="+HISTKEYS
  // DFrameLink(LinkUrl,50,200,400,150)
  }
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - Link
//  1 - Date of Letter
//  2 - Letter
//  3 - Reply
//  4 - Action
//  5 - Confirmation Date
//  6 - User
//  7 - Consultant
//  8 - Unit
//  9 - Clinic
// 10 - Start Time
//---------------------------------------------------------------------------
function InitTable() {
document.title="Outpatient Letters"
 t = new Table(1,0,2,"100%","center",35,35);
 t.addColumn("Date of Letter","DateTime",1,1,"left","MaintenanceIcon.gif","0",100)
 t.addColumn("Letter","String",2,2,"left","","",50)
 t.addColumn("Unit","String",3,3,"left","","",50)
 t.addColumn("Clinic","String",4,4,"left","","",120)
 t.addColumn("Start Time","String",5,5,"center","","",60)
 t.addColumn("User","String",6,6,"left","","",80)
 AddTableRows()
 TableOutput(2,2);    // Order Column,Asc Dsc
 }
function SelectSubmit() {
  document.SelectPeriod.submit();
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable()>
<div id=HeadingSection>
<!--
<table cellpading=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
<tr><td align=center>
    <input type=button class="button" value="Update"
     onclick=PatientLinkTo("patweb92.pbl",12,1,0,0,0)>
    <input type=button class="button" value="Cancel"
     onclick="history.go(-1);">
</td></tr>
</table>
-->
<form name=SelectPeriod action=patweb92.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=12>
  <input type=hidden name=template value=4>
  <input type=hidden name=viewtype value="%PATWEB92.12.011">
</form>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%PATWEB92.12.213
}
</script>
