<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdatePhoto() {
  document.UpdateForm.updttype.value="U";
  document.UpdateForm.submit();
}
function DeletePhoto() {
  document.UpdateForm.updttype.value="D";
  ans=confirm("Are you sure you want to Delete ?")
  if (ans) { document.UpdateForm.submit(); }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">                            
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=UpdateForm enctype="multipart/form-data" 
 method=post action="patweb07.pbl" style="margin:0">
  <input type=hidden name=reportno value="5">
  <input type=hidden name=updttype value="U">
  <input type=hidden name=urnumber value="%PATWEB07.05.003">

<table width=95% align=center border=0 cellspacing=0>
<tr><td class=DataLabel>Photo ID File Name</td>
    <td><input type=file size=35 name=photopic></td></tr>

<tr><td colspan=2 align=center>
   <input type=button value="Add" class="button" onClick="UpdatePhoto();">
   <input type=button value="Delete" class="button" onClick="DeletePhoto();">
   <input type=button value="Close" class="button" onClick=DFrameClose();>
</td></tr>
</table>
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=005>
<input type=hidden name=urnumber value="%PATWEB07.05.003">
<input type=hidden name=admissno value="%PATWEB07.05.081">
<input type=hidden name=MenuType value="%PATWEB07.05.088">
</form>
