<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html" />
<meta name="CrossBrowser" content="true" />
<script type="text/javascript" src="../js/patweb91.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetHosSpec01();document.UpdateForm.ptcod003.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();" />
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<div id="PageBodySection">
<form name="UpdateForm" method="post" action="patweb91.pbl" />

   <input type="hidden" name="reportno" value="1" />
   <input type="hidden" name="template" value="003" />
   <input type="hidden" name="updttype" value="U" />
   <input type="hidden" name="nextpage" value="0" />
   <input type="hidden" name="redirect"
    value="patweb91.pbl?reportno=01&template=001" />
   <input type="hidden" name="ibcnmhos" value="%STANDARD.01.025.000.043.1.1" />
   <input type="hidden" name="ptcod006" value=" " />
   <input type="hidden" name="ptcod014" value=" " />
   <input type="hidden" name="ptcod016" value=" " />
   <input type="hidden" name="ptcod017" value=" " />

<table align=center width=100% border=0 cellspacing=1 cellpadding=0>
<tr valign="top"><td class="DataLabel" width="30%">Category</td>
    <td><input type="text" name=ptcod001 class="Readonly" title="Category" 
         size="2" maxlength="2" readonly value="%PATWEB91.01.001" />
</td></tr>

<tr valign="top"><td class="DataLabel">Description</td>
    <td><input type="text" name="ptcod003" class="Mandatory" title="Description"
       size="25" maxlength="20" value="%PATWEB91.01.002" />
</td></tr>

<tr valign="top"><td class="DataLabel">Long Description</td>
    <td><input type="text" name="ptcod021" class="Mandatory" title="Long Description"
         size="55" maxlength="50"  value="%PATWEB91.01.012" />
</td></tr>

<tr><td class="DataLabel">HDP Default</td>
    <td><input type="text" name="ptcod004" title="HDP Default" size="4" maxlength="4"
         value="%PATWEB91.01.003" /></td>
</tr>
</table>

<div id=HospitalSpecific></div>

<div id=ActiveIndicator></div>

<table align=center width=100% border=0 cellspacing=1 cellpadding=0>
<tr><td colspan="2" align="center">
    <input type="button" value="Update" class="button"
           onClick="submitUpdCatg();" />
    <input type="button" value="Generate" class="button" 
     onClick="GenerateForm.submit();" />    
    <input type="button" value="Edit Codes" class="button" 
     onClick='CodeList01("%PATWEB91.01.001")' />
    <input type="button" value="Cancel" class="button" onClick="DFrameCloseRefresh();" />
</td></tr>
<tr><td colspan="2" align="center">
   <input type="Bigbutton" value="Category Security" class="button"
          onclick="CategorySec('%PATWEB91.01.001');" />
    </td></tr>
</table>

</form>
</div>

<form name="GenerateForm" method="post" action="rshweb02.pbl" />
<input type="hidden" name="reportno" value="4" />
<input type="hidden" name="template" value="001" />
<input type="hidden" name="updttype" value="A" />
<input type="hidden" name="setdfprg" value="GENWEB01" />
<input type="hidden" name="setdfrep" value="01" />
<input type="hidden" name="schdpgid" value="GENWEB01" />    
<input type="hidden" name="schddesc" value="Generate Lookup & Javascript for Code" />
<input type="hidden" name="nextpage" value="0" />
<input type="hidden" name="schdprnt" value="S  " />
<input type="hidden" name="schddate" value="%STANDARD.01.015" />
<input type="hidden" name="schdtime" value="%STANDARD.01.016" />
<input type="hidden" name="keystr01" value="2" />
<input type="hidden" name="keystr02" value="%PATWEB91.01.001" /> 
<input type="hidden" name="keystr03" value="%PATWEB91.01.001" />
</form>

<div id="ShowHospitalSpecific" style="display: none">
<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class="DataLabel" width="30%">Hospital Specific</td>
    <td>%PATWEB91.01.011</td>
    </tr>
</table>
</div>

<div id="ShowActiveIndicator" style="display: none">
<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class="DataLabel" width="50%">Active Indicator</td>
    <td class="DataItem">
        <input type="checkbox" name="d_ptcod006" 
               title="Active Indicator" /></td>
    </tr>
<tr><td class="DataLabel" width="50%">Do Not Display in Selection List</td>
    <td class="DataItem">
        <input type="checkbox" name="d_ptcod014"
               title="Do Not Display in Selection List" /></td>
    </tr>
<tr><td class="DataLabel" width="50%">Display Allergens and Other text</td>
    <td class="DataItem">
        <input type="checkbox" name="d_ptcod016"
               title="Display Allergens and Other text" /></td>
    </tr>
<tr><td class="DataLabel" width="50%">Display Codes in multi-combo checkbox</td>
    <td class="DataItem">
        <input type="checkbox" name="d_ptcod017"
               title="Select Multiple Codes" /></td>
    </tr>
</table>
</div>

<script type="text/javascript">
  SetActvInd01();
  if (document.UpdateForm.d_ptcod006 != undefined) {
     if ("%PATWEB91.01.014" !=  "I") {
        document.UpdateForm.d_ptcod006.checked="1";  }
  }
  if (document.UpdateForm.d_ptcod014 != undefined) {
     if ("%PATWEB91.01.015" == "1") {
        document.UpdateForm.d_ptcod014.checked="1";  }
  }
  if (document.UpdateForm.d_ptcod016 != undefined) {
     if ("%PATWEB91.01.016" == "1") {
        document.UpdateForm.d_ptcod016.checked="1";  }
  }
  if (document.UpdateForm.d_ptcod017 != undefined) {
     if ("%PATWEB91.01.017" == "1") {
        document.UpdateForm.d_ptcod017.checked="1";  }
  }
</script>
