<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language=javascript src=../js/TableSort.js></script>
<script language=javascript>
function submitPrgplb() {
  if (validateMandatory(PrintLabels)) {
    PrintLabels.redirect.value="patweb85.pbl?reportno=5&template=2" +
    "&requestn=" + PrintLabels.requestn.value.replace(/ /g,"+");
    PrintLabels.submit();
  }
}
function cancelPrgplb() {
   location.href="../cgi-bin/patweb85.pbl?reportno=4&template=1"
}
function SetPrinter(SelectList,Nolabel) {
 if (SelectList.className=="Mandatory SelectBig") {
     SelectList.className="SelectBig" }
 else {
     SelectList.className="Mandatory SelectBig" }
 if (Nolabel.className=="Mandatory") {
     Nolabel.className=""
 } else {
     Nolabel.className="Mandatory" }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<div id=HeadingSection>
 <form name=PrintLabels action=patweb85.pbl method=get style="margin:0">
 <input type=hidden name=reportno value=6>
 <input type=hidden name=template value=2>
 <input type=hidden name=updatety value=1>
 <input type=hidden name=viewtype value="%PATWEB85.05.210">
 <input type=hidden name=vyearmth value="%PATWEB85.05.225">
 <input type=hidden name=lastdate value="%PATWEB85.05.226">
 <input type=hidden name=requestn value="%PATWEB85.05.001">
 <input type=hidden name=redirect >
 <input type=hidden name=mrtrecky>
 <input type=hidden name=urnumber>
 <input type=hidden name=nextpage value="1">
<table cellpadding=1 cellspacing=1 bgcolor=#CCCCCC border=1 width=100%>
<tr><td class=HeadingCell align=center> Print Bulk Record Request Labels
</td></tr>
</table>

<table cellpadding=1 cellspacing=1 border=0 width=100%>
<tr><td align=left class=HeadingCell>Patient Name</td>
    <td align=left class=HeadingCell>Reason</td>
    <td align=left class=HeadingCell>Destination</td>
    <td align=left class=HeadingCell>Held By</td>
    <td align=left class=HeadingCell>Current Location</td>
    <td align=left class=HeadingCell>Volume</td>
    <td align=left class=HeadingCell>Print</td>
</tr>

%PATWEB85.05.012

</table>
<table width=%100>
<tr><td class=DataLabel>Address </td>
    <td><input type=checkbox value="1" name=labprt01 id=labprt01
         onclick="SetPrinter(PrintLabels.labpsl01,PrintLabels.labpno01);">
        No of Labels <select name=labpno01 id=labpno01>
         %STANDARD.01.027.2.1
    </select></td>
    <td>Printer</td>
    <td><select class="SelectBig" name=labpsl01 id=labpsl01 title="Printer">
        <option></option>
        %STANDARD.01.001.LABELADD.01
        </select></td></tr>

<tr><td class=DataLabel>PMI Label</td>
    <td><input type=checkbox value="1" name=labprt02 id=labprt02
         onclick="SetPrinter(PrintLabels.labpsl02,PrintLabels.labpno02);">
        No of Labels <select name=labpno02 id=labpno02>
         %STANDARD.01.027.2.1
    </select></td>
    <td>Printer</td>
    <td><select class="SelectBig" name=labpsl02 id=labpsl02 title="Printer">
        <option></option>
        %STANDARD.01.001.LABELPMI.01
        </select></td></tr>
<tr><td>
    <input type=button value=Ok class="button" onclick="submitPrgplb();">
    <input type=button value=Cancel class="button" onclick="cancelPrgplb();">
</td></tr>
</table>
</form>
</div>
