Content-Type: text/html
Cache-Control: no-cache

%START.OF.PAGE
<table class='mceNonEditable' border=0 cellpadding=0 cellspacing=0
 style='width:100%;border:0;border-bottom:1px solid drakgray'>
<tr><td colspan=2>
<table border=0 cellpadding=0 cellspacing=0 style='width:100%;border:0'>
<tr><td width=33%><img src='../images/cabrinilogo.gif' style='float:left;'></td>
    <td width=33%><h2 style='text-align:center;color:#666'>Surgical Consent (Sample Only)</h2></td>
    <td width=33%></td>
</tr></table>
</td></tr>
<tr><td style='width:50%:vertical-align:bottom;'>
   <br>
%STANDARD.01.009<br>
Date: %STANDARD.01.015
</td>
<td style='width:50%;text-align:right;'>
%PATWEB98.01.124.0<br>
Cabrini Hospital<br>
183 Wattletree Rd<br>
Malvern 3144<br>
</td></tr></table>
<span class='mceNonEditable Salutation'>Dear  %PATWEB98.01.002,</span><br><br>
<span class='mceNonEditable PatientName'>Re: %PATWEB98.01.121</span><br>
<span class='mceNonEditable PatientUR'>Hospital UR: %PATWEB98.01.003</span><br>
<span class='mceNonEditable Label'>Admission Date:</span> 
<span class='mceNonEditable Field'>%PATWEB98.01.102</span><br>
<p class=LetterText><br></p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Yours sincerely,</p>
<br>
<p>%STANDARD.01.009</p>
