<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
</head>
%START.OF.PAGE                 <!--Outpatient Add Form-->        
<body onload="PageLoad(event);">    
<span class=DFrameTitleBar>
 <img align="right" alt="Exit" class="MenuIcon"
  src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
  Add Outpatient Event
</span>
<script type="text/javascript">
 function SetList() {
   p=AddForm;
   p.psevt013.options.length=1;
   SetClinicType(p.psevt013,p.defctype.value,p.wbsesite.value);
   SetList2();
 }
 function SetList2() {
   p=AddForm;
   p.psevt014.options.length=1;
   SetTypeClinic(p.psevt014,p.deftclid.value,p.wbsesite.value,p.psevt013.value);
 }
 function ValidateData(formName) {
   admDate = formName.psevt002;
   admTime = formName.psevt003;
   dscDate = formName.psevt009;
   dscTime = formName.psevt010;
   if(validateMandatory(formName)) {
      if(dscDate.value.replace(/ /g,"") != "" && 
         dscTime.value.replace(/ /g,"") == "") {
         alert("Discharge Time cannot be empty when Discharge Date is entered");
         return false;
      }
      if(dscDate.value.replace(/ /g,"") == "" && 
         dscTime.value.replace(/ /g,"") != "") {
         alert("Discharge Date cannot be empty when Discharge Time is entered");
         return false;
      }
      if(!ChkDateTime(admDate,admTime,dscDate,dscTime)) {
        alert("Discharge Date cannot be before Attendance Date");
        return false;
      }
      return true;
   }
   else {
     return false;
   }
 }

</script>
<form name=AddForm method=post action=patweb81.pbl
 onsubmit="return ValidateData(this);" style="margin:0">
<input type=hidden name=reportno value="01">
<input type=hidden name=template value="004">
<input type=hidden name=updttype value="A">
<input type=hidden name=evnttype value="%PATWEB81.01.127">
<input type=hidden name=psevt001 value="%PATWEB81.01.127">
<input type=hidden name=urnumber value="%PATWEB81.01.003">
<input type=hidden name=admissno value="%PATWEB81.01.081">
<input type=hidden name=wbsesite value="%STANDARD.01.023">
<input type=hidden name=psevt012 value="%STANDARD.01.023">
<input type=hidden name=defctype value="">
<input type=hidden name=deftclid value="">

<table align=center width=95% border=0 cellpadding=1 cellspacing=0>
<tr><td class=DataLabel>Attendance Date</td>
    <td>
    <input type=text name=psevt002 class="Mandatory PastDate"
     title="Attendance Date" size=12 value="%STANDARD.01.015">
    <img src=../images/DateLookup.gif class=Icon date=AddForm.psevt002>
    Time
    <input type=text name=psevt003 class=Mandatory title="Attendance Time"
     size=8 maxlength=8 value="%STANDARD.01.016">
    <img src=../images/DateTimeStamp.gif class=Icon
     date=AddForm.psevt002 time=AddForm.psevt003>
    <img src=../images/TimeLookup.gif class=Icon time=AddForm.psevt003>
    </td></tr>    
<tr><td class=DataLabel>Attending HCP</td>
    <td><input type=text name=psevt004 id=psevt004
     class=DataField title="Attending HCP"
     size=10 maxlength=10 onblur="ValidateHCP(18,0,psevt004,psevt000)">
    <input type=text name=psevt000 id=psevt000
     class=ReadOnly readonly title="Attending HCP"
     size=24 maxlength=24>
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="HCPSearchFrame(psevt004,psevt000,5);"> </td></tr>
<tr><td class=DataLabel>Presenting Problem</td>
    <td><input type=text name=psevt005 title="Presenting Problem"
         size=50 maxlength=60 value=""> </td></tr>
     <tr><td class=DataLabel>Appointment Type</td>
    <td><select name=psevt016 title="Appointment Type">
    <option></option>
    %PATWEB81.01.130
    </select>
   </td></tr>
<tr><td class=DataLabel>Unit</td>
    <td><select name=psevt006 title="Unit">
        <option></option>
        %PATWEB81.01.105.2
        </select> </td></tr>
<tr><td class=DataLabel>Clinic Type</td>
    <td>
    <select name=psevt013 title="Clinic Type" 
            class="Mandatory" onchange="SetList2();">
        <option></option>
        </select>
    </td></tr>

<tr><td class="DataLabel">Clinic ID</td>
    <td><select name=psevt014 title="Clinic ID">
        <option></option>
        </select>
    </td></tr>
    
<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select name=psevt015 title="%STANDARD.01.017.CL" class=Mandatory>
        <option></option>
        %PATWEB81.01.114.9.1.10.2.X
        </select> </td></tr>
<!--Defect No. 1578
<tr><td class=DataLabel>Admit Type</td>
    <td><select name=psevt018 title="Admit Type">
        <option></option>
        PATWEB81.01.117.2
        </select> </td></tr>
<tr><td class=DataLabel>Admit Source</td>
    <td><select name=psevt019 title="Admit Source">
        <option></option>
        PATWEB81.01.118.2
        </select> </td></tr>
-->
<tr><td class=DataLabel>Referred By</td>
     <td>
     <input name=psevt020 id=psevt020 type=hidden>
     <input type=text name=name_psevt020 id=name_psevt020 
      class=ReadOnly readonly 
      title="Referred By" size=24 maxlength=24>
     <img src="../images/SearchIcon.gif" class=Icon
      onclick="HCPSearchFrame(psevt020,name_psevt020,2);"> </td></tr>
<tr><td class=DataLabel>Staff Phone Number</td>
    <td>
    <input type=text name=psevt007 title="Staff Phone Number"
     size=20 maxlength=20 > </td></tr>
<tr><td class=Mandatory>Patient Location</td>
    <td><select name=psevt008 title="Patient Location" class=Mandatory>
        <option></option>
        %PATWEB81.01.107.2
        </select> </td></tr>

<tr><td class=DataLabel>Attendance Status</td>
    <td><select name=psevt017 title="Attendance Status" >
        <option></option>
         <option value="0">Attended</option>
         <option value="1">Not Attended</option>
         <option value="2">Cancelled</option>
        </select> </td></tr>

<tr><td class=DataLabel>Discharge Date</td>
    <td><input type=text name=psevt009 title="Discharge Date" size=12
         class="PastDate">
    <img src=../images/DateLookup.gif class=Icon date=AddForm.psevt009>
    Time
    <input type=text name=psevt010 title="Discharge Time"
     size=8 maxlength=8 > 
    <img src=../images/DateTimeStamp.gif class=Icon
     date=AddForm.psevt009 time=AddForm.psevt010>
    <img src=../images/TimeLookup.gif class=Icon time=AddForm.psevt010>
    </td></tr>
<tr><td class=DataLabel>Discharge Status</td>
    <td><select name=psevt021 title="Discharge Status">
        <option></option>
        %PATWEB81.01.120.2
        </select> </td></tr>    
<tr><td colspan=4 align=center><br>
    <input type=submit value="Add"  name=add class="button">
    <input type=button value="Cancel" class="button" 
     onclick=DFrameCloseRefresh();>
    </td></tr>
</table>
</form>

<script type="text/javascript">
  SetList();
</script>
