<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb9801040.js"></script>
<script type="text/javascript">
function ChangePatient() {
  p = document.Patient;
  // Right justify Admission Number in the 8 character variable
  var sPad = "        ";
  var sAdmNo = p.admissno.value;
  var sAdmNo = sPad.substr(0,(8 - sAdmNo.length)) + sAdmNo;

  if (!CheckOutpatientCancel(sAdmNo)) {return;}

  if (!validateVisit()) {return;}

  if(!validateMandatory(Patient)) {return;}

  setNextTemplate(sAdmNo);
  document.Patient.submit();
}
function setForm() {
  ExpireCookiePath("CasePath");
  if (parent.PatientLinks!=undefined &&
      parent.PatientLinks.superlev!=undefined) {
    document.Patient.superlev.value=parent.PatientLinks.superlev.value
  }

  if (document.Patient.ptcnualt.value=="1") {
      document.Patient.urnumber.maxLength=20;
      document.Patient.urnumber.size=20;
  }
}
function UpdateUR() {
  document.Patient.urnumber.value=document.Patient.dum.value;
}
function SubmitUR() {
  validateUR();
  return validateMandatory(document.Patient);
}
function CheckUR() {
  document.Patient.admissno.value=" ";
  if (document.Patient.ptcnualt.value=="1") {
    FormatURScanMrtLf(document.Patient.urnumber);
    document.Patient.alternid.value=document.Patient.urnumber.value;
    document.Patient.alternid.maxLength=20;
    justifyRight(document.Patient.alternid);
    document.Patient.urnumber.maxLength=8;
    checkAlternateID(document.Patient.alternid.value,
                     document.Patient.aisearch,document.Patient.urnumber);
    if (isWhitespace(document.Patient.urnumber.value)) {
      document.Patient.urnumber.value=document.Patient.alternid.value;
    }
  }
  document.Patient.urnumber.maxLength=8;
  validateUR();
  if (document.Patient.ptcnualt.value=="1") {
    document.Patient.urnumber.maxLength=20;
  }
}
function validateUR() {
  p=document.Patient;
  justifyRight(p.urnumber);
  UpCase(p.urnumber);
  if (isWhitespace(p.admissno.value)) {
      validateCode(8,p.urnumber,p.fnam,UpdateUR,p.sex,p.dob,p.pce,p.dum,p.admissno,
                   p.dat,p.typ,p.d,p.d,p.d,p.d,p.d,p.d,p.d,p.m);
     if (p.m.value=="1") {
         alert("Warning : This U/R Number is merged with " + p.urnumber.value);
     }
    if(isWhitespace(p.admissno.value)) {
       p.admissno.value="";
    }
  } else {
     validateVisit();
  }
}
function validateVisit() {
  p=document.Patient;
  x=p.urnumber.value;
  y=p.fnam.value;
  justifyRight(p.admissno);

  // Right justify Admission Number in the 8 character variable
  var sPad = "        ";
  var sAdmNo = p.admissno.value;
  var sAdmNo = sPad.substr(0,(8 - sAdmNo.length)) + sAdmNo;

  if (!CheckOutpatientCancel(sAdmNo)) {return false;}

  validateCode(12,p.admissno,p.fnam,p.sex,p.dob,p.pce,p.urnumber,p.dum,p.dat,p.typ);
  if (isWhitespace(p.urnumber.value)) {
     p.urnumber.value=x;
     p.fnam.value=y;
  }
  return true;
}
//-----------------------------------------------------------------
// Function To Check Alternate ID
//-----------------------------------------------------------------
function checkAlternateID(altid,numofids,urnumber) {
  if (isWhitespace(altid)) return;;
  ReturnFunction="" ;
  for (var i=1; i < checkAlternateID.arguments.length; i++) {
    if (typeof(checkAlternateID.arguments[i]) == 'function') {
      ReturnFunction=checkAlternateID.arguments[i];
    }
  }
  var serverURL = "../cgi-bin/patweb90.pbl?reportno=2&remoteno=1" +
                  "&alternid="+altid.replace(/ /g,"+");
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value.split("|");
    numofids.value=trim(ReturnValue[0]);
    urnumber.value=trim(ReturnValue[1]);
    if (typeof(ReturnFunction) == 'function') {
      ReturnFunction();
    }
  }
}
function CheckMrtScan(str) {
  if (Patient.ptcnualt.value=="1") {
    return;
  }
  TruncateMrtLf(str);
}

function checkIfEnter(e){
  if(event.keyCode=="13"){
    if (document.activeElement.name=="admissno") {
      if (!validateVisit()) {
        return false;
      }
      ChangePatient();
    } else {
      if (document.activeElement.name!="OKButton") {
        CheckUR();
        ChangePatient();
      }
    }
    return true;
  }
  else{
    return false;
  }
}
</script>
</head>
%START.OF.PAGE
<body onKeyPress="checkIfEnter(event)"
      onLoad="PageLoad(event);setForm();
              clrFields();
              setTimeout('document.Patient.urnumber.focus();',250);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 Change Patient
</span>
<form name=Patient method=get action=patweb98.pbl
      target="content" style="margin:0"
      onsubmit="return SubmitUR();">
 <input type=hidden name=reportno value=1>
 <input type=hidden name=template value=1>
 <input type=hidden name=visittyp value=1>
 <input type=hidden name=sex>
 <input type=hidden name=dob>
 <input type=hidden name=pce>
 <input type=hidden name=dum>
 <input type=hidden name=d>
 <input type=hidden name=m value="">
 <input type=hidden name=ptcnualt value='%STANDARD.01.025.110.240.1.1'>
 <input type=hidden name=ptcnvsro value="%STANDARD.01.025.124.245.0.1">
 <input type=hidden name=ptcnvsrr value="%STANDARD.01.025.124.246.0.1">
 <input type=hidden name=alternid value="">
 <input type=hidden name=aisearch value="0">
 <input type=hidden name=superlev value="">

 <table align=center cellspacing=0 cellpadding=2 border=0 width=95%>
  <tr><td class=DataLabel>U/R Number</td>
      <td><input type=text name=urnumber value="" size=10 maxlength=8
                 title="Patient U/R" class="Mandatory" tabindex=1
                 onkeydown="CheckMrtScan(this);"
                 onblur="CheckUR();">
          <input type=text name=fnam value="" size=30 readonly tabindex=-1
                 class="readonly"></td></tr>

  <tr><td class=DataLabel>Visit Number </td>
      <td><input type=text name=admissno value="" size=10 maxlength=8
                 title="Patient Visit No" tabindex="2"
                 onblur="validateVisit();">
          <input type=text name=dat value="" size=12 readonly tabindex=-1
                 class="readonly">
          <input type=text name=typ value="" size=15 readonly tabindex=-1
                 class="readonly"></td></tr>

  <tr><td colspan=2 align=center><br>
          <input type=button class="button" value="Ok" name=OKButton tabindex=3
                 onclick="ChangePatient();">
          <input type=button tabindex=4 Value="Cancel" class="button"
                 onclick="DFrameExit();"></td></tr>
 </table>
</form>


