<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb94.js"></script>
<script type="text/javascript">
function addMBS() {
  linkurl='patweb88.pbl?reportno=01&template=002'
  showMbs01(linkurl);
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);document.search.keywords.focus()>
<form name=search method=get action=patweb94.pbl style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=003>
<input type=hidden name=itemstat value=1>

  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td align=center class=HeadingCell colspan=5>
         %STANDARD.01.025.112.001.0.9 Item Maintenance</td></tr>
     <tr><td class=DataField align=right width=33%>Enter Key Words for Search</td>
     <td align=center width=33%><input type=text name=keywords size=25></td>
      <td align=left width=33%><input type=submit value=Search class="button"></td>
</table>
<table cellspacing=0 border=1 width=100%>
%PATWEB94.01.005.patweb88.01.003
</table>

<table width=100% bgcolor=#CCCCCC>
<tr><td align=center>
    <input type=button value="<< Previous" class="button"
     onclick='location.href="%PATWEB94.01.002.003"'>
    <input type=button value=Add class="button"
   onclick="addMBS();"> 
    <input type=button value="Next >>" class="button"
     onclick='location.href="%PATWEB94.01.001.003"'>
</td></tr>
</table>
</form>
