<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function linkAction(urnumber,admissno,factdate) {
  document.ShowAction.urnumber.value=urnumber;
  document.ShowAction.admissno.value=admissno;
  document.ShowAction.factdate.value=factdate;
  DFrameSubmit(ShowAction,0,200,500,200);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB98.01.003";
PatientVIS="%PATWEB98.01.081";
PatientNAM="%PATWEB98.01.002";
PatientSTA="%PATWEB98.01.086.078";
PatientALT="%PATWEB98.01.084";
PatientSEX="%PATWEB98.01.019";
PatientDOB="%PATWEB98.01.020";
PatientAGE="%PATWEB98.01.021";
PatientLOC="%PATWEB98.01.083";
PatientPRI="%PATWEB98.01.086.066.1";
PatientUNT="%PATWEB98.01.066.0";
DoctorCOD="%PATWEB98.01.082.003";
DoctorNAM="%PATWEB98.01.082.002";
PatientAID="%PATWEB98.01.086.090";
PatientIND="%PATWEB98.01.086.091";
PatientCUR="%PATWEB98.01.086.092";
PatientCLC="%PATWEB98.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB98.01.086.094";
PatientCDM="%PATWEB98.01.086.095";
PatientVDH="%PATWEB98.01.086.099.015";
InsertPatientHeader()
</script>

<div id="PatientMenu"></div>

<div id="PageBodySection">
<form name=UpdateForm action=patweb75.pbl method=post style=margin:0
 onsubmit='return validateMandatory(this);'>
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="1">
<input type=hidden name=updttype value="A">
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="%PATWEB98.01.001.patweb98.01.027">
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<table cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td>
<table bgcolor=#CCCCCC cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td class=DataLabel>Future Action Date </td>
    <td><input type=text name=factdate size=12 
         title='Future Action Date' class='FutureDate Mandatory'>
        <img src=../images/DateTimeStamp.gif class=Icon 
         date=UpdateForm.factdate>
        <img src=../images/DateLookup.gif class=Icon 
         date=UpdateForm.factdate>
        </td>
    <td class=DataLabel>Action Type </td>
    <td><select name=factcode >
        <option></option>
        %STANDARD.01.007.FA.2
        </select></td>
    <td class=DataLabel>Comment</td>
    <td><input type=text name=factcomm size=50 maxlength="60">
        <input type=submit value="  Add  " class="button">
    </td></tr>
</table>
</form>
<table cellspacing=0 cellpadding=1 border=1 width=100%>
%PATWEB98.01.312
</table>
</div>
<form name=ShowAction action=patweb75.pbl method=get>
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="002">
<input type=hidden name=urnumber value="">
<input type=hidden name=admissno value="">
<input type=hidden name=factdate value="">
</form>
<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="004">
<input type="hidden" name="urnumber" value="%PATWEB98.01.003">
<input type="hidden" name="admissno" value="%PATWEB98.01.081">
<input type="hidden" name="MenuType" value="%PATWEB98.01.088">
</form>

