<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
<script type="text/javascript" src="../js/patweb7101001.js"></script>
<script type="text/javascript">
function PrintStat() {
     // disable button to avoid double clicking
     DisButton();

     document.UpdateForm.chngdate.value=
     document.UpdateForm.chngdate.value.replace(/ /g,"+");
     document.UpdateForm.prntflag.value=
     document.UpdateForm.prntflag.value.replace(/ /g,"+");
     document.UpdateForm.urnumber.value=
     document.UpdateForm.urnumber.value.replace(/ /g,"+");
     document.UpdateForm.admissno.value=
     document.UpdateForm.admissno.value.replace(/ /g,"+");

     document.UpdateForm.redirect.value=
     document.UpdateForm.redirect.value.replace(/ /g,"+") +
              "&ivdetail=" + ItemForm.ivdetail.value.replace(/ /g,"+") +
              "&exclmisc=" + ItemForm.exclmisc.value.replace(/ /g,"+");
     SubmitHidden(UpdateForm);

}

function DeleteItem(urnumber,admissno,transnum,chngdesc,chngamnt) {
    linkURL="patweb71.pbl?reportno=1&template=009" +
            "&urnumber=" + urnumber.replace(/ /g,"+") +
            "&admissno=" + admissno.replace(/ /g,"+") +
            "&transnum=" + transnum.replace(/ /g,"+") +
            "&chngdesc=" + chngdesc.replace(/ /g,"+") +
            "&chngamnt=" + chngamnt.replace(/ /g,"+");

    Left=(document.body.clientWidth-450)/2
    DFrameLink(linkURL,90,Left,450,290)
  }
function InvPendRedir() {
  InvoicePendingPath=GetCookieData("InvoicePendingPath");
  if (!isWhitespace(InvoicePendingPath) && InvoicePendingPath != 'unknown') {
    location.href = InvoicePendingPath;
  }else{
    location.href="patweb71.pbl?reportno=8&template=1&viewtype=0";
  }
}

function AddMisc() {
  if(ItemForm.d_exclmisc.checked==true) {
    ItemForm.exclmisc.value="1"
    document.ItemForm.submit();
  } else {
    ItemForm.exclmisc.value="0"
    document.ItemForm.submit();
  }
}

function InvDet() {
  if(ItemForm.d_ivdetail.checked==true) {
    ItemForm.ivdetail.value="1"
    document.ItemForm.submit();
  } else {
    ItemForm.ivdetail.value="0"
    document.ItemForm.submit();
  }
}

</script>
</head>
<body onload="PageLoad(event);">
%START.OF.PAGE
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB71.01.003";
PatientVIS="%PATWEB71.01.081";
PatientNAM="%PATWEB71.01.002";
PatientSTA="%PATWEB71.01.086.078";
PatientALT="%PATWEB71.01.084";
PatientSEX="%PATWEB71.01.019";
PatientDOB="%PATWEB71.01.020";
PatientAGE="%PATWEB71.01.021";
PatientLOC="%PATWEB71.01.083";
PatientPRI="%PATWEB71.01.086.066.1";
PatientUNT="%PATWEB71.01.066.0";
DoctorCOD="%PATWEB71.01.082.003";
DoctorNAM="%PATWEB71.01.082.002";
PatientAID="%PATWEB71.01.086.090";
PatientIND="%PATWEB71.01.086.091";
PatientCUR="%PATWEB71.01.086.092";
PatientCLC="%PATWEB71.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB71.01.086.094";
PatientCDM="%PATWEB71.01.086.095";
PatientVDH="%PATWEB71.01.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div>
<div id="PageBodySection">

<form name=ItemForm action="patweb71.pbl" method=get>
  <input type=hidden name=reportno value="1">
  <input type=hidden name=template value=036>
  <input type=hidden name=updttype value=" ">
  <input type=hidden name=ivdetail value="%PATWEB71.01.359">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=backdate value="%PATWEB71.01.331">
  <input type=hidden name=chngdate value="%PATWEB71.01.327">
  <input type=hidden name=urnumber value="%PATWEB71.01.003">
  <input type=hidden name=admissno value="%PATWEB71.01.081">
  <input type=hidden name=transnum value="%PATWEB71.01.323">
  <input type=hidden name=redirect value="%PATWEB71.01.001.patweb71.01.036">
  <input type=hidden name=dbilflag value="1"> 
  <input type=hidden name=ptcnemdb value="%STANDARD.01.025.124.123.0.1">
  <input type=hidden name=exclmisc value="%PATWEB71.01.745">

<table cellspacing=0 cellpadding=1 border=0 width=100% align=center>

  <tr><td align=left>
      Expected LOS (days) : %PATWEB71.01.129  Include Invoiced Details
      <input type=checkbox name=d_ivdetail value="1"
       checked onclick="InvDet();"></td>
   </tr>

  <tr><td align=center class=HeadingCell>
    Discharge Billing Statement: %PATWEB71.01.302 to %PATWEB71.01.327</td>
  </tr>

</table>

<table border=1 cellspacing=0 cellpadding=2 width=100% align=center>
%PATWEB71.01.358
</table>

</form>

<form name=UpdateForm action="patweb71.pbl" method=post
 onsubmit="return validateMandatory(this);">
    <input type=hidden name=reportno value=13>
    <input type=hidden name=template value=036>
    <input type=hidden name=nextpage value="6">
    <input type=hidden name=updttype value="">
    <input type=hidden name=ivdetail value="%PATWEB71.01.359">
    <input type=hidden name=chngdate value="%PATWEB71.01.327">
    <input type=hidden name=prntflag value="%PATWEB71.01.328">
    <input type=hidden name=urnumber value="%PATWEB71.01.003">
    <input type=hidden name=admissno value="%PATWEB71.01.081">
    <input type=hidden name=dbilflag value="1"> 
  <input type=hidden name=ptcnemdb value="%STANDARD.01.025.124.123.0.1">
  <input type=hidden name=exclmisc value="%PATWEB71.01.745">
  <input type=hidden name=codingwr value="%PATWEB71.01.352">
  <input type="hidden" name=redirect value="%PATWEB71.01.001.patweb71.01.036">
  <input type=hidden name=upadmtyp value="0">
<table border=0 cellpadding=2 cellspacing=0 width=95% align=center>
<tr><td class=DataLabel>Printer</td> 
    <td><select name=selprint class=Mandatory> 
        %STANDARD.01.001.PATWEB71.02
        </select></td>
    <td DataLabel>Copies</td>
    <td><select name=nocopies>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 6">6</option>
        <option value=" 7">7</option>
        <option value=" 8">8</option>
        <option value=" 9">9</option>
        <option value=" 10">10</option>
        </select></td></tr>
<tr><td align=center colspan=4>
    <input type=button value="Print" class=button name=printbut
     id=printbut
     onclick='tempDisable(this);PrintStat();'>
    <input type=button value="Add Items" class=button onclick="AddItem();">
    <input type=button value="Comments" name=comntbut class=button 
     onclick="Comments();">
    <input type=button value="Insurance" name=insurbut class=button 
     onclick="Insurance();">
    <input type=button value="Stepdown" name=stepdbut class=button 
     onclick="Stepdown();">
    <input type=button value="%STANDARD.01.017.A " name=admtybut class=button 
     onclick="AdmissType();">
  </td></tr>
</table>
</form>
</div>

<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="004">
<input type="hidden" name="urnumber" value="%PATWEB71.01.003">
<input type="hidden" name="admissno" value="%PATWEB71.01.081">
<input type="hidden" name="MenuType" value="%PATWEB71.01.088">
<input type="hidden" name="superlev" value="%PATWEB71.01.353">
</form>

<script type="text/javascript">

CmntIndic="%PATWEB71.01.606";
if ( CmntIndic =="1" ) {
   document.UpdateForm.comntbut.className="RedButton";
}

InvDetail="%PATWEB71.01.359";
if ( InvDetail =="1" ) {
  ItemForm.d_ivdetail.checked=true;
  } else {
  ItemForm.d_ivdetail.checked=false;
  }

UseMisc="%STANDARD.01.025.124.123.0.1"
if( UseMisc == "1") {
  MiscDesc="%PATWEB71.01.746";
  if(!isWhitespace(MiscDesc)){
    ExclMisc="%PATWEB71.01.745";
    if ( ExclMisc =="1" ) {
      ItemForm.d_exclmisc.checked=true;
    } else {
      ItemForm.d_exclmisc.checked=false;
    }
  }
}

</script>

