<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb6107.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);self.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<!-- GL Interface DFrame with Field without financial files -->
<form name=UpdateForm method=post action=patweb61.pbl>
<input type=hidden name=reportno value="07">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="">
<input type=hidden name=nextpage value="0">
<input type=hidden name=norecord value="14">
<input type=hidden name=redirect value="patweb61.pbl?reportno=07&template=001">
<input type=hidden name=caccfee value="%PATWEB61.07.015">
<input type=hidden name=ibcnugst value="%PATWEB61.07.016">
<input type=hidden name=sysgl001 value="%PATWEB61.07.005">
<input type=hidden name=sysgl002 value="%PATWEB61.07.006">
<input type=hidden name=sysgl015 value="%PATWEB61.07.007">
<input type=hidden name=newrecrd value="%PATWEB61.07.018">
<input type=hidden name=subsectn value="%PATWEB61.07.013">
<input type=hidden name=ptcnmfee value="%PATWEB61.07.019">
<input type=hidden name=gstjrnl value="%PATWEB61.07.020">
<input type=hidden name=ptcnjfee value="%PATWEB61.07.021">
<input type=hidden name=currdate value="%STANDARD.01.015">

<table>
<tr><td><span id=DebitCreditFields></span></td></tr>
<tr><td><span id=SubSectionCode1></span></td></tr>
<tr><td><span id=SubSectionCode2></span></td></tr>
<tr><td><span id=SubSectionCode3></span></td></tr>

<table align=center width=95% border=0 cellspacing=1 cellpadding=1>
<tr><td>&nbsp;</td></tr>
<tr bgcolor=#CCCCCC><td colspan=2><b>Inpatient</b></td>
    <td colspan=2><b>Outpatient</b></td>
    <td colspan=2><b>Emergency</b></td></tr>

<tr><td class=DataLabel width=25%><U>Fees Invoiced</U></td></tr>

<tr><td width=25% class=DataLabel>Ledger</td>
    <td><input type=text name=sysgl005 title="Fees Invoiced Ledger" tabindex=1
         size=4 maxlength=2 value="%PATWEB61.07.022" class="Mandatory">
    </td>
    <td width=25% class=DataLabel>Ledger</td>
    <td><input type=text name=sysgl019 title="Fees Invoiced Ledger" tabindex=11
         size=4 maxlength=2 value="%PATWEB61.07.101" class="Mandatory">
    </td>
    <td width=25% class=DataLabel>Ledger</td>
    <td><input type=text name=sysgl031 title="Fees Invoiced Ledger" tabindex=21
         size=4 maxlength=2 value="%PATWEB61.07.108" class="Mandatory">
</td></tr>

<tr><td class=DataLabel width=25%>Credit Account</td>
    <td><input type=text name=sysgl006 title="Credit Account" tabindex=2
         value="%PATWEB61.07.023" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Credit Account</td>
    <td><input type=text name=sysgl020 title="Credit Account" tabindex=12
          value="%PATWEB61.07.102" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Credit Account</td>
    <td><input type=text name=sysgl032 title="Credit Account" tabindex=22
          value="%PATWEB61.07.109" size=15 maxlength=12>
</td></tr>

<tr><td class=DataLabel>Debit Account</td>
     <td><input type=text name=sysgl007 title="Debit Account" tabindex=3
          value="%PATWEB61.07.024" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Debit Account</td>
     <td><input type=text name=sysgl021 title="Debit Account" tabindex=13
          value="%PATWEB61.07.103" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Debit Account</td>
     <td><input type=text name=sysgl033 title="Debit Account" tabindex=23
          value="%PATWEB61.07.110" size=15 maxlength=12>
</td></tr>

</table>

<tr><td><span id=GLFields1></span></td></tr>
<tr><td><span id=GLFields2></span></td></tr>
<tr><td><span id=GLButtons></span></td></tr>
</table>
</form>

<!-- Buttons Spans -->

<span id=AddButtons style="display:none">
<table align=center width=95% border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=2 align=center><br>
   <input type=button value="Add" class="button" onclick=FormSubmit("A");>
   <input type=button value="Cancel" class="button" onclick=DFrameExitRefresh();>
</td></tr>
</table>
</span>

<span id=UpdateButtons style="display:none">
<table align=center width=95% border=0 cellspacing=1 cellpadding=1>
<tr><td colspan=2 align=center><br>
   <input type=button value="Update" class="button" onclick=FormSubmit("U");>
   <input type=button value="Delete" class="button" onclick=FormSubmit("D");>
   <input type=button value="Cancel" class="button" onclick=DFrameExitRefresh();>
</td></tr>
</table>
</span>

<!-- Default Spans -->

<span id=DefaultAccomm style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel align=center><b>Default Accommodation Interface Details
</b></td></tr>
</table>
</span>

<span id=DefaultGovt style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel align=center><b>Government Subsidy Interface Details
</b></td></tr>
</table>
</span>

<span id=DefaultItems style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel align=center><b>Default Misc. Items Interface Details
</b></td></tr>
</table>
</span>

<span id=DefaultJournal style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel align=center><b>Default Journal Interface Details
</b></td></tr>
</table>
</span>

<!-- Admission Type Span -->

<span id=Admission style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.A </td>
     <td><select name=admisstp title="%STANDARD.01.017.A ">
         <option value="">All</option>
         %PATWEB61.07.025.2
         </select>
</td></tr>
</table>
</span>

<span id=AdmissMandatory style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.A </td>
     <td><select name=admisstp title="%STANDARD.01.017.A " class="Mandatory">
         <option></option>
         %PATWEB61.07.025.2
         </select>
</td></tr>
</table>
</span>

<span id=DispAdmission style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.A </td>
<td><input name=admsdesc title="%STANDARD.01.017.A " class=ReadOnly readonly
          value="%PATWEB61.07.030" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<!-- Claim Code Span -->

<span id=ClaimCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
     <td><select name=claimcod title="%STANDARD.01.017.CL">
         <option value="">All</option>
         %PATWEB61.07.026.2
         </select>
</td></tr>
</table>
</span>

<span id=ClaimCodeMandatory style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
     <td><select name=claimcod title="%STANDARD.01.017.CL" class="Mandatory">
         <option value=""></option>
         %PATWEB61.07.026.2
         </select>
</td></tr>
</table>
</span>

<span id=DispClaimCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
<td><input name=clmcdesc title="%STANDARD.01.017.CL" class=ReadOnly readonly
          value="%PATWEB61.07.031" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<span id=DispLumpsumClmCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
<td><input name=clmcdesc title="%STANDARD.01.017.CL" class=ReadOnly readonly
          value="%PATWEB61.07.030" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<span id=DispDailyClmCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
<td><input name=clmcdesc title="%STANDARD.01.017.CL" class=ReadOnly readonly
          value="%PATWEB61.07.029" size=35 tabindex=-1>
</td></tr>
</table>
</span>


<!-- Ward Span -->

<span id=Ward style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Ward</td>
     <td><select name=accmward title="Ward">
         <option value="">All</option>
         %PATWEB61.07.027
         </select>
</td></tr>
</table>
</span>

<span id=WardMandatory style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Ward</td>
     <td><select name=accmward title="Ward" class="Mandatory">
         <option value=""></option>
         %PATWEB61.07.027
         </select>
</td></tr>
</table>
</span>

<span id=DispWard style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Ward</td>
<td><input name=warddesc title="Ward" class=ReadOnly readonly
          value="%PATWEB61.07.029" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<!-- Journal Code Span -->

<span id=JournalCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Journal Code</td>
     <td><select name=journalc title="Journal Code" class="Mandatory"
          onchange="checkGSTJrnl(this);">
         <option></option>
         %PATWEB61.07.028.2
         </select>
</td></tr>
</table>
</span>

<span id=DispJournalCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Journal Code</td>
<td><input name=jrnldesc title="Journal Code" class=ReadOnly readonly
          value="%PATWEB61.07.032" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<!-- Patient Type - Daycase or IP Span -->

<span id=DaycaseIP style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Patient Type</td>
     <td><select name=daycasip title="Patient Type" class="Mandatory">
         <option></option>
         <option value="0">Inpatient</option>
         <option value="1">Daycase</option>
         </select>
</td></tr>
</table>
</span>

<span id=DispDaycaseIP style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Patient Type</td>
<td><input name=daycdesc title="Patient Type" class=ReadOnly readonly
          value="" size=35 tabindex=-1>
</td></tr>
</table>
</span>


<!-- Episode Type Span -->

<span id=EpisodeType style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Episode Type</td>
     <td><select name=episodtp title="Episode Type" class="Mandatory">
         <option></option>
         <option value=0>MSO</option>
         <option value=1>Daycase</option>
         </select>
</td></tr>
</table>
</span>
 
<span id=DispEpisodeType style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Episode Type</td>
<td><input name=epsddesc title="Episode Type" class=ReadOnly readonly
          value="" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<!-- Group Code Span -->

<span id=GroupCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Group Code</td>
     <td><select name=groupcod title="Group Code" class="Mandatory">
         <option></option>
         %PATWEB61.07.035.2
         </select>
</td></tr>
</table>
</span>
 
<span id=ItemGroupCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Group Code</td>
     <td><select name=groupcod title="Group Code">
         <option></option>
         %PATWEB61.07.035.2
         </select>
</td></tr>
</table>
</span>
 
<span id=DispGroupCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Group Code</td>
<td><input name=grpcdesc title="Group Code" class=ReadOnly readonly
          value="%PATWEB61.07.033" size=35 tabindex=-1>
</td></tr>
</table>
</span>

<!-- Item Code Span -->

<span id=ItemCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Item Code</td>
     <td><input type=text name=itemcode title="Item Code" 
                class="SelectBig Mandatory" size=9
                onblur='validateCode2(4,UpdateForm.itemcode,
			UpdateForm.itemdesc);'>
        <input type=text readonly class="Readonly" name=itemdesc size=45
         title="Item Description" notab tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon 
         onclick="MbsSearchFrame(UpdateForm.itemcode,UpdateForm.itemdesc,
		  UpdateForm.currdate);">
</td></tr>
</table>
</span>
 
<span id=DispItemCode style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td class=DataLabel width=25%>Item Code</td>
     <td><input type=text name=itemcode title="Item Code" readonly
                class="SelectBig Readonly" size=9>
        <input type=text readonly class="Readonly" name=itemdesc size=45
         value="%PATWEB61.07.034" title="Item Description" notab tabindex=-1>
</td></tr>
</table>
</span>



<!-- Accommodation & Misc Items Span -->

<span id=AccommItems style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel width=25%><U>Fees to be Invoiced</U></td></tr>

<tr><td width=25% class=DataLabel>Ledger</td>
     <td><input type=text name=sysgl012 title="Fees to be Invoiced Ledger" 
                tabindex=5
                size=4 maxlength=2 value="%PATWEB61.07.037" class="Mandatory">
     </td>
     <td width=25% class=DataLabel>Ledger</td>
     <td><input type=text name=sysgl026 title="Fees to be Invoiced Ledger" 
                tabindex=15
                size=4 maxlength=2 value="%PATWEB61.07.105" class="Mandatory">
     </td>
     <td width=25% class=DataLabel>Ledger</td>
     <td><input type=text name=sysgl038 title="Fees to be Invoiced Ledger" 
                tabindex=25
                size=4 maxlength=2 value="%PATWEB61.07.112" class="Mandatory">
     </td></tr>

<tr><td class=DataLabel>Credit Account</td>
    <td><input name=sysgl013 title="Credit Account" tabindex=6
         value="%PATWEB61.07.038" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Credit Account</td>
     <td><input name=sysgl027 title="Credit Account" tabindex=16
          value="%PATWEB61.07.106" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Credit Account</td>
     <td><input name=sysgl039 title="Credit Account" tabindex=26
          value="%PATWEB61.07.113" size=15 maxlength=12>
</td></tr>

<tr><td class=DataLabel>Debit Account</td>
    <td><input type=text name=sysgl014 title="Debit Account" tabindex=7
         value="%PATWEB61.07.039" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Debit Account</td>
    <td><input type=text name=sysgl028 title="Debit Account" tabindex=17
         value="%PATWEB61.07.107" size=15 maxlength=12>
    </td>
    <td class=DataLabel>Debit Account</td>
    <td><input type=text name=sysgl040 title="Debit Account" tabindex=27
         value="%PATWEB61.07.114" size=15 maxlength=12>
</td></tr>

</table>
</span>

<!-- GST Accounts Span -->
<span id=GSTAccountsSpan style="display:none">
<table width=95% align=center border=0 cellspacing=1 cellpadding=1>
<tr><td width=25% class=DataLabel>GST Control Account</td>
    <td><input type=text name=sysgl008 title="GST Control Account" tabindex=4
         value="%PATWEB61.07.036" size=15 maxlength=12>
    </td>
    <td width=25% class=DataLabel>GST Control Account</td>
    <td><input type=text name=sysgl022 title="GST Control Account" tabindex=14
         value="%PATWEB61.07.104" size=15 maxlength=12>
    </td>
    <td width=25% class=DataLabel>GST Control Account</td>
    <td><input type=text name=sysgl034 title="GST Control Account" tabindex=24
         value="%PATWEB61.07.111" size=15 maxlength=12>
</td></tr>
</table>
</span>

<script type="text/javascript">
  ShowGLInterfaceNoFMS(UpdateForm);
  if (UpdateForm.newrecrd.value==1) {
    GLButtons.innerHTML=AddButtons.innerHTML;
  }
  else {
    GLButtons.innerHTML=UpdateButtons.innerHTML;
  }
</script>
