<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb7712.js></script>
<script type="text/javascript">
function ShowHosp() {
  if(document.SelectCode.ibcnmhos.value=="1") {
    InsertHospital.innerHTML=ShowHospital.innerHTML;
  } else {
    InsertHospital.innerHTML=NoHospital.innerHTML;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);setTimeout('ShowHosp()',100);">
<form name=SelectCode action=patweb77.pbl method=get style="margin:0">
<input type=hidden name=reportno value=12>
<input type=hidden name=template value=005>
<input type=hidden name=norecord value=17>
<input type=hidden name=dummy1 value="">
<input type=hidden name=dummy2 value="">
<input type=hidden name=updttype>
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=nzcfn001 value="%PATWEB77.12.001.1">
<input type=hidden name=nzcfn002 value="%PATWEB77.12.002.1">
<input type=hidden name=nzcfn003 value="%PATWEB77.12.003.0">
<input type=hidden name=nzcfn004 value="%PATWEB77.12.004.0">
<input type=hidden name=nzcfn005 value="%PATWEB77.12.005.0">
<input type=hidden name=nzcfn006 value="%PATWEB77.12.006">

<table width=100% cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td colspan=8 align=center class=HeadingCell>
    <script type="text/javascript">
     if ("%PATWEB77.12.036" == "C") {
       document.write("Current File -" +
               " NZ Private Contract Funding Maintenance ");
     } else {
       document.write("New File - " +
               " NZ Private Contract Funding Maintenance ");
     }
    </script>
    </td></tr>

    <tr><td class=DataLabel colspan=2><div id=InsertHospital></div></td></tr>
  <tr height=25><td class=DataLabel>%STANDARD.01.017.CL</td>
  <td><input type=text  name=d_nzcfn002 class="readonly" 
              title="%STANDARD.01.017.CL" value="%PATWEB77.12.031.0">
        </td>

  <td class=DataLabel>Contract </td>
  <td><input type=text size=6 name=d_nzcfn003 class=readonly maxlength=6
      value="%PATWEB77.12.032.0" title="Health Fund">
     <input type=text size=30 name=funddesc title="Contract" readonly
      value="%PATWEB77.12.032.1" class=Readonly notab tabindex=-1>
     </td>

     <td class=DataLabel>Contract Procedure Code</td>
     <td><input type=text name=d_nzcfn004 class=readonly 
      value="%PATWEB77.12.033.0" 
      size=9 maxlength=9 title="Contract Procedure Code" 
      onblur="validateCode(35,d_nzcfn004,cmixdesc);">
      <input type=text size=30 name=cmixdesc title="Code Description"
      readonly value="%PATWEB77.12.033.1" notab class=Readonly tabindex=-1>
     </td>
     <td>&nbsp;</td>
     </tr>
</table>
    <table cellspacing=0 border=1 width=100%>
    <tr><td class=HeadingCell width=30%>Doctor Code</td>
        <td class=HeadingCell width=70%>Name</td>
    </tr>
        %PATWEB77.12.037.patweb77.12.007
    </table>
    <table width=100% bgcolor=#CCCCCC>
    <tr><td align=left>
       <input type=button value="Contract List" class="button"
       onclick="ListContracts('%PATWEB77.12.036');">
       <input type=button value="Edit %PATWEB77.12.004.0" class="button"
       onclick="EditContract('%PATWEB77.12.036');">
        </td>
        <td align=center>
        <input type=button value="<< Previous" class="button" 
         onclick='location.href="%PATWEB77.12.029.005"'>
        <input type=button value=Add class="button"
         onclick="AddDoctor('%PATWEB77.12.036');">
        <input type=button value="Next >>" class="button" 
         onclick='location.href="%PATWEB77.12.028.005"'>
    </td></tr>
    </table>
</form>

<script type="text/javascript">
</script>
<div id=ShowHospital style="display: none">
<table width="100%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td class=DataLabel  width=25% align=left>Hospital</td>
    <td class=DataField align=left>
    <input type=text name=d_nzcfn001 class=readonly value="%PATWEB77.12.030.0">
    </td>
    </tr>
</table>
</div>  
