<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb87.js"> </script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
  <form name=SelectCode action=patweb87.pbl method=get>
  <input type=hidden name=reportno value=8>
  <input type=hidden name=template value=1>
  <input type=hidden name=frstdate value="">
  <input type=hidden name=vyearcho value="">
  <input type=hidden name=ptdrg003 value="">

<table border=1 cellspacing=0 width=100%>
  <tr><td colspan=5>
   <table width=100% cellspacing=0 cellpadding=0 border=0 bgcolor=#CCCCCC>
   <tr><td class=MaintenanceHeading>
         Period Date Ranges Maintenance </td>
   <td align=right width=40%>

     <input type=button value="<<" onClick='selectYear08("%PATWEB87.08.104")' >

    <select name=vyearcho onchange='selectYear08(this.value)';>
       <option></option>  
         %PATWEB87.08.102 
    </select>

     <input type=button value=">>" onClick='selectYear08("%PATWEB87.08.103")' >
   </td></tr></table>
  </td></tr>
      %PATWEB87.08.101.patweb87.08.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="Add" class="button" 
          onClick='AddRange08("%PATWEB87.08.105")'>
  <input type=button value="Copy" class="button" 
          onClick='CopyRange08()'>
</td></tr>
</table>
</td></tr>
</table>
</form>

