<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language=javascript>
function OPProgramDetail44() {
  var linkurl="patweb87.pbl?reportno=45&template=001" +
          "&pmhpg001=" + UpdateForm.pmhpg001.value.replace(/ /g,"+") +
          "&pmhpg002=" + UpdateForm.pmhpg002.value.replace(/ /g,"+") +
          "&pmhpg003=" + UpdateForm.pmhpg003.value.replace(/ /g,"+") +
          "&pmhpg004=" + UpdateForm.pmhpg004.value.replace(/ /g,"+") +
          "&pmhpg005=" + UpdateForm.pmhpg005.value.replace(/ /g,"+") 
  parent.location.href=linkurl
}
function SetMaxWarn() {
  UpdateForm.pmhpg007.max=UpdateForm.pmhpg006.value
  if(UpdateForm.pmhpg009!=undefined) {
    UpdateForm.pmhpg009.max=UpdateForm.pmhpg008.value
  }
}
</script>
</head>
%START.OF.PAGE
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<div id=PageBodySection style="overflow: auto;">
<body onload="PageLoad(event);SetMaxWarn();">
 <form name=UpdateForm method=post action=patweb87.pbl>
 <input type=hidden name=reportno value="44">
 <input type=hidden name=template value="003">
 <input type=hidden name=updttype value="">
 <input type=hidden name=pmhpg001 value="%PATWEB87.44.001.1">
 <input type=hidden name=pmhpg002 value="%PATWEB87.44.002.1">
 <input type=hidden name=pmhpg003 value="%PATWEB87.44.003.0">
 <input type=hidden name=pmhpg004 value="%PATWEB87.44.004.1">
 <input type=hidden name=pmhpg005 value="%PATWEB87.44.005">
 <input type=hidden name=d_pmhpg010 value="%PATWEB87.44.010">
<table align=center width=97% border=0>

 <tr><td class=DataLabel width=35%>%STANDARD.01.017.A </td>
     <td class=DataField>
     <input type=text name=d_pmhpg001 title="%STANDARD.01.017.A " 
      class="Readonly" readonly value="%PATWEB87.44.001.0">
     </td></tr>

 <tr><td class=DataLabel>%STANDARD.01.017.CL</td>
     <td class=DataField>
     <input type=text name=d_pmhpg002 title="%STANDARD.01.017.CL"
      class="Readonly" readonly value="%PATWEB87.44.002.0">
     </td></tr>

 <tr><td class=DataLabel>Health Fund</td>
     <td class=DataField>
     <input type=text name=d_pmhpg003 size=6 maxlength=6 class="Readonly"
      value="%PATWEB87.44.003.0" readonly>
     <input type=text readonly name=funddesc size=20 class="Readonly" readonly
      value="%PATWEB87.44.003.1" 
      title="From Health Fund Description" tabindex=-1>
     </td></tr>

 <tr><td class=DataLabel>Health Fund Table Type</td>
     <td class=DataField>
     <input type=text name=d_pmhpg004 title="Health Fund Table Type"
      class="Readonly" readonly value="%PATWEB87.44.004.0">
     </td></tr>

 <tr><td class=DataLabel>Effective Date</td>
     <td class=DataField>
     <input type=text size=12 name=d_pmhpg005 class="Readonly Date"
      title="Effective Date" value="%PATWEB87.44.005" readonly>
     </td></tr>

 <tr><td class=DataLabel>Maximum Number of IP Visits</td>
     <td class=DataField>
     <input type=text size=3 maxlength=3 name=pmhpg006 
      class="Integer" max=999 onblur="SetMaxWarn();"
      title="Maximum Number of IP Visits" value="%PATWEB87.44.006">
     </td></tr>

 <tr><td class=DataLabel>Warn at X Number of IP Visits</td>
     <td class=DataField>
     <input type=text size=3 maxlength=3 name=pmhpg007 
      class="Integer" max=999
      title="Warn at X Number of IP Visits" value="%PATWEB87.44.007">
     </td></tr>
</table>

<div id=InsertOPFields></div>

<table align=center width=97% border=0>
<tr><td colspan=2 align=center>
  <input type=button value="Update" class="button" 
   onclick="setFormactn('U');">
  <input type=button value="Delete" class="button" 
   onclick="setFormactn('D');">
  <input type=button value="Breakdown OP" class="button" 
   name=opbutton onclick="OPProgramDetail44();">
  <input type=button value="Cancel" class="button" 
   onclick="DFrameCloseRefresh();">
 </td></tr>
</table>
</form>

<div id=OPFields style="display: none">
<table align=center width=97% border=0>
<tr><td class=DataLabel width=35%>Maximum Number of OP Visits</td>
    <td class=DataField>
    <input type=text size=3 maxlength=3 name=pmhpg008
     class="Integer" max=999 onblur="SetMaxWarn();"
     title="Maximum Number of OP Visits" value="%PATWEB87.44.008">
    </td></tr>

<tr><td class=DataLabel>Warn at X Number of OP Visits</td>
    <td class=DataField>
    <input type=text size=3 maxlength=3 name=pmhpg009
     class="Integer" max=999
     title="Warn at X Number of OP Visits" value="%PATWEB87.44.009">
    </td></tr>
</table>
</div>

<script language=javascript>
  if(document.UpdateForm.d_pmhpg010.value=="1") {
    document.UpdateForm.opbutton.className="RedButton";
    InsertOPFields.innerHTML="";
  } else {
    InsertOPFields.innerHTML=OPFields.innerHTML;
  }
</script>
