<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript"> 
function CheckType(type) {
  if(type.value=="1"){
    TypeHeading.innerHTML=Type1H.innerHTML;
    Type.innerHTML=Type1.innerHTML;
  } else if(type.value=="2") {
    TypeHeading.innerHTML=Type2H.innerHTML;
    Type.innerHTML=Type2.innerHTML;
  } else if(type.value=="3") {
    TypeHeading.innerHTML=Type3H.innerHTML;
    Type.innerHTML=Type3.innerHTML;
  } else {
    TypeHeading.innerHTML="";
    Type.innerHTML="";
  }
}
function DelItem() {
    setFormactn('R'); 
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);CheckType(UpdateForm.x_pmreg004)">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Delete Item
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm method=post action=patweb61.pbl style="margin:0">
   <input type=hidden name=reportno value="6">
   <input type=hidden name=template value="006">
   <input type=hidden name=updttype value="">
   <input type=hidden name=pmreg001 value="%PATWEB61.06.004">
   <input type=hidden name=pmreg002 value="%PATWEB61.06.005">
   <input type=hidden name=pmreg004 value="%PATWEB61.06.012">

<table align=center width=95% border=0>
<tr><td class=DataLabel>Type</td>
    <td class=DataField>
    <select name=x_pmreg004 title="Type" disabled
     onchange="CheckType(this);">
     <option></option>
     <option value="1">Misc.Item</option>
     <option value="2">Regime</option>
     <option value="3">MBS Item</option>
     </select></td>
    </tr>

<tr><td><div id=TypeHeading></div></td>
    <td><div id=Type></div></td>
    </tr>

<tr><td colspan=4 align=center>&nbsp;</td>
    </tr>
    
<tr><td colspan=2 align=center><br>
   <input type=button value="Delete" class="button" 
    onclick=DelItem();>
   <input type=button value="Cancel" class="button" 
    onclick=DFrameExitRefresh();>
</td></tr>
</table>
</form>

<span id=Type1H style="display:none">
      Misc.Item
</span>

<span id=Type1 style="display:none">
    <input type=text name=pmreg005 size=11 title="Misc.Item Code"
     class="Readonly" readonly value="%PATWEB61.06.007">
    <input type=text name=pmreg003 size=42 readonly
     class=Readonly title="Misc.Item Description" value="%PATWEB61.06.006">
</span>

<span id=Type2H style="display:none">
      Regime
</span>

<span id=Type2 style="display:none">
    <input type=text name=pmreg005 size=11 title="Regime Code"
     class="Readonly"  readonly value="%PATWEB61.06.007">
    <input type=text name=pmreg003 size=42 readonly
     class=Readonly title="Regime Description" value="%PATWEB61.06.006">
</span>

<span id=Type3H style="display:none">
      MBS Item
</span>
     
<span id=Type3 style="display:none">
    <input type=text name=pmreg005 size=11 title="MBS Item Code"
     class=Readonly value="%PATWEB61.06.007">
    <input type=text name=pmreg003 size=42 readonly
     class=Readonly title="MBS Item Description" value="%PATWEB61.06.006">
</span>

<script type="text/javascript">
 ItemType=trim("%PATWEB61.06.012");
 for (var i =0 ; i < document.UpdateForm.x_pmreg004.length; i++) {
  if (document.UpdateForm.x_pmreg004.options[i].value==ItemType.substr(0,1)) {
       document.UpdateForm.x_pmreg004.selectedIndex=i } };
</script>

