<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb91.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
 Hospital Specific Category Codes
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm method=post action=patweb91.pbl style=margin:0>
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="023">
   <input type=hidden name=updttype value="">
   <input type=hidden name=ptcod001 value="%PATWEB91.02.021">
   <input type=hidden name=ptcod002 value="%PATWEB91.02.002">

<table align=center width=100% border=1 cellpadding="0" cellspacing="0">
<tr><td class=DataField colspan=6 align=center>Category
  %PATWEB91.02.021 - %PATWEB91.02.022 - Code %PATWEB91.02.002 - %PATWEB91.02.003
</td></tr>

%PATWEB91.02.032

</table>
<table align=center width=100% border=1 bgcolor=#CCCCCC
 cellpadding="0" cellspacing="0">
<tr><td colspan=6 align=center>
   <input type=button value="Cancel" class="button" onclick=DFrameCloseRefresh();>
</td></tr>
</table>
</form>
