<meta name="TemplateVersion" content="V12.01.01">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/AutoPostCode.js"> </script>
<script type="text/javascript" src="../js/Comp_DF.js"> </script>
<!-- Australian Defence Force -->
<script type="text/javascript">
function SetCancel() {
  if (!confirm("Warning: Australian Defence force data will not be updated!\n" +
               "Ok to Continue ?")) {
   return;
  } 

  if(document.UpdateForm.seriflag.value=="1"){  // Single HCP Series
    var link="outweb02.pbl?reportno=03&template=001" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+")   +
    "&bookflag=" + document.UpdateForm.bookflag.value.replace(/ /g,"+") +
    "&refrlvis=" + document.UpdateForm.refrlvis.value.replace(/ /g,"+")
  } else if (document.UpdateForm.seriflag.value=="2"){ // Multiple HCP Series
    var linkurl="outweb08.pbl?reportno=01&template=003" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
    "&firstadm=" + document.UpdateForm.firstadm.value.replace(/ /g,"+")  + 
    "&bookflag=" + document.UpdateForm.bookflag.value.replace(/ /g,"+") +
    "&refrlvis=" + document.UpdateForm.refrlvis.value.replace(/ /g,"+")
    var link=GetOutCookie(linkurl," ","MultipleHCP");
  } else {
    var link ="outweb02.pbl?reportno=03&template=001" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
    "&waitflag=" + document.UpdateForm.waitflag.value.replace(/ /g,"+") +
    "&shwprint=1"
  }
  location.href= link;
}

function checkReferralProcess() {
  if (!isWhitespace(UpdateForm.referadm.value) && 
      !isWhitespace(UpdateForm.referdep.value)) {
    document.UpdateForm.redirect.value="outweb02.pbl?reportno=03&template=001" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
    "&referadm=" + document.UpdateForm.referadm.value.replace(/ /g,"+") +
    "&referdep=" + document.UpdateForm.referdep.value.replace(/ /g,"+") 
  }
}

function SubmitClaim() {
  if(document.UpdateForm.seriflag.value=="1"){  // Single HCP Series
    document.UpdateForm.redirect.value="outweb02.pbl?reportno=03&template=001" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") 
    document.UpdateForm.redirec1.value="&firstadm=" + 
    document.UpdateForm.firstadm.value.replace(/ /g,"+") +
    "&bookflag=" + document.UpdateForm.bookflag.value.replace(/ /g,"+") +
    "&refrlvis=" + document.UpdateForm.refrlvis.value.replace(/ /g,"+") +
    "&shwprint=1"
  } else if (document.UpdateForm.seriflag.value=="2"){ // Multiple HCP Series
    document.UpdateForm.redirect.value="outweb08.pbl?reportno=01&template=003" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") 
    document.UpdateForm.redirec1.value="&firstadm=" + 
    document.UpdateForm.firstadm.value.replace(/ /g,"+") +
    "&bookflag=" + document.UpdateForm.bookflag.value.replace(/ /g,"+") +
    "&refrlvis=" + document.UpdateForm.refrlvis.value.replace(/ /g,"+")
  } else {
    document.UpdateForm.redirect.value="outweb02.pbl?reportno=03&template=001" +
    "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+") +
    "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+") +
    "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
    "&shwprint=1" 
    if(document.UpdateForm.waitflag.value=="1" ||
       document.UpdateForm.waitflag.value=="2") {
        document.UpdateForm.redirec1.value="&waitflag=" +
        document.UpdateForm.waitflag.value + "&shwprint=1";
    }
  }

  if(document.UpdateForm.scrname.value=="OCR"){
    document.UpdateForm.redirect.value += "&showfoll=1"; 
  }

 checkReferralProcess();

 if(validateMandatory(UpdateForm)){
  if(document.UpdateForm.d_ffaddr.checked==true) {
   document.UpdateForm.pmext080.value=document.UpdateForm.d_pmext080.value;
  } else {
   document.UpdateForm.pmext080.value="";
  }

  UpdateForm.updatety.value="5";
  document.UpdateForm.submit();
 }
}
</script>
%START.OF.PAGE
<body onLoad="PageLoad(event);ShowService();ShowBarracks();DisplayIns();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB89.01.003";
PatientVIS="%PATWEB89.01.081";
PatientNAM="%PATWEB89.01.002";
PatientSTA="%PATWEB89.01.086.078";
PatientALT="%PATWEB89.01.084";
PatientSEX="%PATWEB89.01.019";
PatientDOB="%PATWEB89.01.020";
PatientAGE="%PATWEB89.01.021";
PatientLOC="%PATWEB89.01.083";
PatientPRI="%PATWEB89.01.086.066.1";
PatientUNT="%PATWEB89.01.066.0";
DoctorCOD="%PATWEB89.01.082.003";
DoctorNAM="%PATWEB89.01.082.002";
PatientAID="%PATWEB89.01.086.090";
PatientIND="%PATWEB89.01.086.091";
PatientCUR="%PATWEB89.01.086.092";
PatientCLC="%PATWEB89.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB89.01.086.094";
PatientCDM="%PATWEB89.01.086.095";
PatientVDH="%PATWEB89.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<form name=UpdateForm action="patweb89.pbl" method=post
onsubmit='return validateMandatory(this);'>
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="240">
<input type=hidden name=updatety value="5">
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=pmext017 value="%PATWEB89.01.003">
<input type=hidden name=pmext018 value="%PATWEB89.01.987">
<input type=hidden name=admissno value="%PATWEB89.01.081">
<input type=hidden name=pmext001 value="%PATWEB89.01.101">
<input type=hidden name=pmext002 value="%PATWEB89.01.988.1">
<input type=hidden name=claimcod value="%PATWEB89.01.126.3">
<input type=hidden name=pmext080 value="%PATWEB89.01.384.080">
<input type=hidden name=refrlvis value="%PATWEB89.01.957">
<input type=hidden name=bookflag value="%PATWEB89.01.958">
<input type=hidden name=nextpage value=2>
<input type=hidden name=mvmedrec value="%PATWEB89.01.902">
<input type=hidden name=redirect value="">
<input type=hidden name=redirec1 value="">
<input type=hidden name=casekeys value="%PATWEB89.01.907">
<input type=hidden name=claimtyp value="A">
<input type=hidden name=seriflag value="%PATWEB89.01.927">
<input type=hidden name=waitflag value="%PATWEB89.01.931">
<input type=hidden name=firstadm value="%PATWEB89.01.928">
<input type=hidden name=scrname  value="%PATWEB89.01.999.137">
<input type=hidden name=schdcopy value="1">
<input type=hidden name=faxnumbr value=" ">
<input type=hidden name=referdep value="%PATWEB89.01.999.140">
<input type=hidden name=referadm value="%PATWEB89.01.999.141">
<table border=1 width=100% cellspacing=0 cellpadding=1>
<tr><td class=HeadingCell align=center>
    Australian Defence Force Details</td></tr>
<tr><td>
</table>

    <table width=100% border=0>
<tr><td width=15% class=DataLabel>Military Compensation</td>
    <td width=30%>
        <select name="pmext024" title="Military Compensation" tabindex=1
         class=Mandatory onchange="ShowService();ClearIns();">
        <option> </option>
         %PATWEB89.01.384.024.2
        </select></td>
    <td class=DataLabel>Comments</td>
    <td><input type="text" size="55" maxlength="50" name=pmext059 tabindex=8
        value="%PATWEB89.01.384.059" title="Comments"></td>
</tr>

<tr><td class=DataLabel>Service</td>
    <td><div id="ServiceCode"></div></td>
    <td>&nbsp;</td>
    <td><input type="text" size="55" maxlength="50" name=pmext060 tabindex=9
        value="%PATWEB89.01.384.060" title="Comments"></td>
</tr>

<tr><td class=DataLabel>Rank</td>
        <td><select name="pmext054" title="Rank" tabindex=3 class=Mandatory>
        <option> </option>
         %PATWEB89.01.384.054.2
        </select></td>
    <td class=DataLabel>&nbsp;</td>
    <td><input type="text" size="55" maxlength="50" name=pmext061 tabindex=10
         value="%PATWEB89.01.384.061" title="Comments"></td>
</tr>

<tr><td class=DataLabel>Service Number</td>
        <td><input type="text" size="20" maxlength="20" tabindex=4
             title="Service Number" name="pmext022"
             value="%PATWEB89.01.384.022"></td>
        <td class=DataLabel>&nbsp;</td>
        <td>&nbsp;</td></tr>

<tr><td class=DataLabel>Unit</td>
        <td><input type="text" size="20" maxlength="20" tabindex=5
             class=Mandatory title="Unit" name="pmext025"
             value="%PATWEB89.01.384.025"></td>
        <td class=DataLabel>&nbsp;</td>
        <td>&nbsp;</td></tr>

<tr><td class=DataLabel>Barracks/Bases</td>
    <td><div id="Barracks"></div></td>
        <td class=DataLabel>&nbsp;</td>
        <td>&nbsp;</td></tr>

<tr><td>

<tr><td class=DataLabel>Billing Address<br>(Insurance Company)</td>
    <td><select name="pmext012" tabindex=7 id="pmext012"
         value="%PATWEB89.01.384.012.0"
         title=" Insurance Company Billing Address"
        onchange="GetIns(document.UpdateForm.pmext012,UpdateForm.insadd1,
                  UpdateForm.insadd2,UpdateForm.insadd3,UpdateForm.insadd4,
                  UpdateForm.inspcode,UpdateForm.inscname,
                  UpdateForm.insctelp,UpdateForm.faxnumbr);">
        <option> </option>
         %PATWEB89.01.999.011.0 
        </select></td>
    <td class=DataLabel>Other Address</td>
    <td><input type=checkbox name=d_ffaddr tabindex=11
     title="Other Address"
     onclick="DispFFAddr();BillMand();"></td>
</tr>

<tr><td>&nbsp;</td>
    <td><input type="text" size="35" maxlength="35" name=insadd1
        class=ReadOnly readonly title="Insurance Address"></td>
    <td><div id=LContactAdd1></div></td>
    <td><div id=FContactAdd1></div></td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" size="35" maxlength="35" name=insadd2
        class=ReadOnly readonly title="Insurance Address"></td>
    <td><div id=LContactAdd2></div></td>
    <td><div id=FContactAdd2></div></td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" size="35" maxlength="35" name=insadd3
        class=ReadOnly readonly title="Insurance Address"></td>
    <td><div id=LContactAdd3></div></td>
    <td><div id=FContactAdd3></div></td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" size="35" maxlength="35" name=insadd4
        class=ReadOnly readonly title="Insurance Suburb"></td>
    <td><div id=LContactAdd4></div></td>
    <td><div id=FContactAdd4></div></td></tr>

<tr><td>&nbsp;</td>
    <td><input type="text" size="8" maxlength="8" name=inspcode
        class=ReadOnly readonly title="Insurance Postcode"></td>
    <td><div id=LContactPCode></div></td>
    <td><div id=FContactPCode></div></td></tr>

<tr><td>Contact Name</td>
    <td><input type="text" size="50" maxlength="50" name=inscname
        class=ReadOnly readonly title="Insurance Contact Name"></td>
    <td><div id=LContactPName></div></td>
    <td><div id=FContactPName></div></td></tr>

<tr><td>Contact Phone</td>
    <td><input type="text" size="20" maxlength="20" name=insctelp
        class=ReadOnly readonly title="Insurance Contact Phone"></td>
    <td><div id=LContactPhone></div></td>
    <td><div id=FContactPhone></div></td></tr>

</table>

<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
<tr><td colspan=4 align=center>
    <input type=button value="Update" tabindex=35 class="button" 
     id="pat89sub" onclick="tempDisable(this);SubmitClaim();">
    <input type=button value="Cancel" tabindex=36 
     onclick="SetCancel();" class="button"></td></tr>

</table>
</form>

<div id=SelectHeading></div>
<div id=SelectLocation></div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=admissno value="%PATWEB89.01.081">
<input type=hidden name=MenuType value="%PATWEB89.01.088">
</form>

<div id="Military" style="display:none">
        <select name="pmext020" title="Service Code" tabindex=2
         class=Mandatory value="%PATWEB89.01.384.020.1"
         onchange="GetDefaultIns(document.UpdateForm.pmext020,document.UpdateForm.pmext012);ShowBarracks();">
        <option> </option>
         %PATWEB89.01.384.020.9.1.02.1.M.2
        </select>     
</div>

<div id="NonMilitary" style="display:none">
        <select name="pmext020" title="Service Code" tabindex=2
         class=Mandatory value="%PATWEB89.01.384.020.1"
         onchange="GetDefaultIns(document.UpdateForm.pmext020,document.UpdateForm.pmext012);ShowBarracks();">
        <option> </option>
         %PATWEB89.01.999.13.02.2.M.2
        </select>
</div>

<div id="BarracksFreeText" style="display:none">
        <input type=hidden name=pmext078>
        <input type="text" size="60" maxlength="50" name="pmext023" tabindex=6
         class=Mandatory value="%PATWEB89.01.384.023"
         title="Barracks/Bases">
</div>

<div id="BarracksCodedField" style="display:none">
        <input type=hidden name=pmext023>
        <select name="pmext077" title="Barracks/Bases" tabindex=6>
        <option> </option>
         %PATWEB89.01.384.077.2
        </select>
</div>
<span id=LFAdd1 style="display:none">
     Address
</span>
<span id=LFAdd3 style="display:none">
     Suburb
</span>
<span id=LFAdd4 style="display:none">
     State
</span>
<span id=LFPostCode style="display:none">
     Post Code
</span>
<span id=LFCName style="display:none">
     Contact Name
</span>
<span id=LFCPhone style="display:none">
     Contact Phone
</span>

<span id=FFAdd1 style="display:none">
       <input type="text" size="35" maxlength="35" name=d_pmext080 tabindex=12
      class=Mandatory value="%PATWEB89.01.384.080" title="Free format Address">
</span>

<span id=FFAdd2 style="display:none">
      <input type="text" size="35" maxlength="35" name=pmext081 tabindex=13
      value="%PATWEB89.01.384.081" title="Free format Address">
</span>

<span id=FFAdd3 style="display:none">
      <input type="text" size="35" maxlength="35" name=pmext082 tabindex=14
      value="%PATWEB89.01.384.082"
      onblur="valPostCode();">
</span>

<span id=FFAdd4 style="display:none">
      <input type="text" size="35" maxlength="35" name=pmext083 tabindex=15
      value="%PATWEB89.01.384.083" title="Free format Address">
</span>

<span id=FFPCode style="display:none">
      <input type="text" size="8" maxlength="8" name=pmext084 tabindex=16
      value="%PATWEB89.01.384.084" title="Free format Address"
      onchange="LookupSuburb(UpdateForm.pmext084.value);">
</span>

<span id=FFCName style="display:none">
      <input type="text" size="50" maxlength="50" name=pmext085 tabindex=17
      value="%PATWEB89.01.384.085" title="Free format Contact Name">
</span>

<span id=FFCPhone style="display:none">
      <input type="text" size="20" maxlength="20" name=pmext086 tabindex=18
      value="%PATWEB89.01.384.086" title="Free format Contact Phone">
</span>

<script type="text/javascript">
 address="%PATWEB89.01.384.080";
 if(!isWhitespace(address)) {
   document.UpdateForm.d_ffaddr.checked=true;
 } else {
   document.UpdateForm.d_ffaddr.checked=false;
 }

 ffadd="%PATWEB89.01.384.080";
  if (!isWhitespace(ffadd)) {
    DispFFAddr();
  }
 mandfield=document.UpdateForm.claimcod.value.substr(34,1);
  if (mandfield!="B") {
     if(isWhitespace(address)) {
       document.UpdateForm.pmext012.className="Mandatory";
     }
  }
</script>
