<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb13.js"></script>
<script type="text/javascript">
 function UpdateCode() {
   setFormactn('U');
 }

 function setFocus() {
   UpdateForm.pmems004.focus();
 }

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);calcMEMSScore(UpdateForm);setFocus();">

<span class="DFrameTitleBar">
 <img align="right" alt="Exit" class="MenuIcon"
  src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();" />
  Modified Elderly Mobility Scale</span>

<div id="PageBodySection" style="overflow: auto;">
 <form name="UpdateForm" method="post" action="patweb13.pbl" style="margin:0">
  <input type="hidden" name="reportno" value="6" />
  <input type="hidden" name="template" value="003" />
  <input type="hidden" name="nextpage" value="0" />
  <input type="hidden" name="updttype" value="" />
  <input type="hidden" name="admissno" value="%PATWEB13.06.081" />

  <table align="center" width="95%" border="0">
   <tr><td class="SubHeading" width="20%" id="title001">Assessment Date</td>
       <td width="20%">
           <input type="text" name="pmems002" tabindex="-1" class="ReadOnly"
                  size="12" title="Assessment Date" value="%PATWEB13.06.202"
                  maxlength="12" onfocus="setFocus();" /></td>
       <td class="SubHeading" width="10%" id="title002">Time</td>
       <td><input type="text" name="pmems003" class="ReadOnly" size="8"
                  tabindex="-1" title="Assessment Time" value="%PATWEB13.06.203"
                  maxlength="8" onfocus="setFocus();"/></td></tr>
  </table>

  <table align="center" width="95%" border="0">
   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top" width="25%">
       <td class="SubHeading" id="title003">Lying to Sitting</td>
       <td><select title="Lying to Sitting" name="pmems004" size="1"
                   maxlength="1" onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0031">
                    2 - Independent</li>
                <li id="text0032">
                    1 - Needs help of 1 person</li>
                <li id="text0033">
                    0 - Needs help of 2+ people</li></ul></td></tr>


   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title004">Sitting to lying</td>
       <td><select title="Sitting to lying" name="pmems005" size="1"
                   maxlength="1" onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0041">
                    2 - Independent</li>
                <li id="text0042">
                    1 - Needs help of 1 person</li>
                <li id="text0043">
                    0 - Needs help of 2+ people</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title005">Sit to Stand</td>
       <td><select title="Sit to Stand" name="pmems006" size="1" maxlength="1"
                   onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="3">3</option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0051">
                    3 - Independent ( &lt;= 3 secs )</li>
                <li id="text0052">
                    2 - Independent ( &gt; 3 secs )</li>
                <li id="text0053">
                    1 - Needs help of 1 person (verbal or physical)</li>
                <li id="text0054">
                    0 - Needs help of 2+ people</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title006">Stand</td>
       <td><select title="Stand" name="pmems007" size="1" maxlength="1"
                   onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="3">3</option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
          </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0061">
                    3 - Stands w/out support &amp; able to reach outside
                        base</li>
                <li id="text0062">
                    2 - Stands w/out support but needs support to reach
                        outside base</li>
                <li id="text0063">
                    1 - Stands but needs support</li>
                <li id="text0064">
                    0 - Stands but needs physical assistance</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title007">Gait</td>
       <td><select title="Gait" name="pmems008" size="1" maxlength="1"
                   onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="3">3</option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0071">
                    3 - Independent (including use of sticks)</li>
                <li id="text0072">
                    2 - Independent with frame</li>
                <li id="text0073">
                    1 - Mobile with walking aid but erratic or unsafe
                        turning (needs occassional supervision)</li>
                <li id="text0074">
                    0 - Needs physical help to walk or constant
                        supervision</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top">
       <td class="SubHeading" id="title008">Timed Walk.<br />
          (10 metres from moving start)</td>
       <td><select title="Timed Walk" name="pmems009" size="1" maxlength="1"
                   onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="3">3</option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0081">
                    3 - Under 18 seconds</li>
                <li id="text0082">
                    2 - 18 - 35 seconds</li>
                <li id="text0083">
                    1 - over 35 seconds</li>
                <li id="text0084">
                    0 - Unable to cover 10 metres</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title009">Functional Reach</td>
      <td><select title="Functional Reach" name="pmems010" size="1"
                  maxlength="1" onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="4">4</option>
             <option value="2">2</option>
             <option value="0">0</option>
           </select></td>
            </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0091">
                    4 - Over 16 cm</li>
                <li id="text0092">
                    2 - 8 - 16 cm</li>
                <li id="text0093">
                    0 - under 8 cm or unable</li></ul></td></tr>

   <tr><td colspan="3" align="center"><hr /></td></tr>
   <tr  valign="top"><td class="SubHeading" id="title010">Steps</td>
      <td><select title="Steps" name="pmems011" size="1" maxlength="1"
                  onchange="calcMEMSScore(UpdateForm);">
             <option></option>
             <option value="3">3</option>
             <option value="2">2</option>
             <option value="1">1</option>
             <option value="0">0</option>
           </select></td>
        <td class="DataLabel">
            <ul style="list-style: none;padding:0;margin:0">
                <li id="text0101">
                    3 - Independent without aid or rail</li>
                <li id="text0102">
                    2 - Independent with aid and/or rail</li>
                <li id="text0103">
                    1 - Needs help of 1 person</li>
                <li id="text0104">
                    0 - Needs help of 2+ people</li></ul></td></tr>


    <tr><td colspan="3" align="center"><hr /></td></tr>
    <tr  valign="top">
        <td class="SubHeading" align="right" id="title011">
            Total (Maximum 23)&nbsp;&nbsp;</td>
        <td class="DataField" colspan="2">
            <input class="ReadOnly" title="total Score" readonly
                   name="totalScore" size="2" maxlength="2" tabindex="-1"
                   onfocus="this.blur();" /><td></tr>

    <tr><td colspan="3" align="center"><hr /></td></tr>
    <tr  valign="top"><td class="SubHeading" id="title012">Get Up and Go</td>
        <td><input type="text" name="pmems012" class="Integer"
                   title="Get Up and Go" value="%PATWEB13.06.212" size="4"
                   maxlength="4" /> </td>
        <td class="DataLabel">Stand up from chair, walk 3m, turn, walk back and
             sit down<br />
             Record time in seconds</td></tr>

  </table>

  <table align="center" width="95%" border="0">
    <tr><td>&nbsp;</td></tr>
    <tr><td align="center">
            <input type="button" value="Update" class=button id=btnUpdate
                   onclick="tempDisable(this);UpdateCode();">
            <input type="button" value="Delete" class=button id=btnDelete
                   onclick="tempDisable(this);setFormactn('D');">
            <input type="button" value="Cancel" class=button
                   onclick="DFrameCloseRefresh();">
            </td></tr>
   </table>
 </form>
</div>

<script type="text/javascript">
  for (var i =0 ; i < document.UpdateForm.pmems004.length; i++) {
    if (document.UpdateForm.pmems004.options[i].value=="%PATWEB13.06.204"){
         document.UpdateForm.pmems004.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems005.length; i++) {
    if (document.UpdateForm.pmems005.options[i].value=="%PATWEB13.06.205"){
         document.UpdateForm.pmems005.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems006.length; i++) {
    if (document.UpdateForm.pmems006.options[i].value=="%PATWEB13.06.206"){
         document.UpdateForm.pmems006.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems007.length; i++) {
    if (document.UpdateForm.pmems007.options[i].value=="%PATWEB13.06.207"){
         document.UpdateForm.pmems007.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems008.length; i++) {
    if (document.UpdateForm.pmems008.options[i].value=="%PATWEB13.06.208"){
         document.UpdateForm.pmems008.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems009.length; i++) {
    if (document.UpdateForm.pmems009.options[i].value=="%PATWEB13.06.209"){
         document.UpdateForm.pmems009.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems010.length; i++) {
    if (document.UpdateForm.pmems010.options[i].value=="%PATWEB13.06.210"){
         document.UpdateForm.pmems010.selectedIndex=i } };
  for (var i =0 ; i < document.UpdateForm.pmems011.length; i++) {
    if (document.UpdateForm.pmems011.options[i].value=="%PATWEB13.06.211"){
         document.UpdateForm.pmems011.selectedIndex=i } };
</script>
