<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">

<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
 document.write("Add Related Provider Type");</script>
</span>

<form name=AddForm method=post action=patweb77.pbl style="margin:0">
<input type=hidden name=reportno value="13">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">

<table align=center cellspacing=2 cellpadding=1 width=90% border=0>

<tr><td class=DataLabel>Provider Type Code</td>
      <td><inpuT type=text name=nzpty001 class="Mandatory AlphaNum"
          title="Provider Type Code" size=4 maxlength=3>
    </td></tr>

<tr><td class=DataLabel>Description</td>
      <td><input type=text name=nzpty002 class=Mandatory title="Description"
           size=31 maxlength=30>
    </td></tr>

<tr><td class=DataLabel>Surgeon/Anaesthetist</td>
      <td><select name=nzpty003 title="Surgeon/Anaesthetist">
          <option></option>
          <option value="A">Anaesthetist</option>
          <option value="S">Surgeon</option>
          </select>
    </td></tr>

<tr><td class=DataLabel>Cost Centre</td>
      <td><input type=text name=nzpty004 title="Cost Centre"
           size=4 maxlength=3>
    </td></tr>

<tr><td class=DataLabel>Account Code</td>
      <td><input type=text name=nzpty005 title="Account Code"
           size=6 maxlength=5>
    </td></tr>

<tr><td class=DataLabel>Sub Account Code</td>
      <td><input type=text name=nzpty006 title="Sub Account Code"
           size=4 maxlength=3>
    </td></tr>

<tr><td class=DataLabel>GST Cost Centre</td>
      <td><input type=text name=nzpty007 title="GST Cost Centre"
           size=4 maxlength=3>
    </td></tr>

<tr><td class=DataLabel>GST Account Code</td>
      <td><input type=text name=nzpty008 title="GST Account Code"
           size=6 maxlength=5>
    </td></tr>

<tr><td class=DataLabel>GST Sub Account Code</td>
      <td><input type=text name=nzpty009 title="GST Sub Account Code"
           size=4 maxlength=3>
    </td></tr>

<tr><td class=DataLabel>Active</td>
      <td><input type=checkbox name=nzpty010 title="Active" 
           value=0 checked>
</td></tr>

<tr><td colspan=2 align=center><br>
   <input type=button value="Add" id=addbtn class="button" 
    onclick="tempDisable(this);SubmitForm();">    
   <input type=button value=Close class="button" onclick="DFrameCloseRefresh();">
</td></tr>
</table>
</form>

