<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
function UpdateRequest(vis,dat,tim,ur) {
  linkurl="patweb10.pbl?reportno=08&template=003" +
          "&urnumber=" + ur.replace(/ /g,"+") +
          "&admissno=" + vis.replace(/ /g,"+") +
          "&pmbrq001=" + vis.replace(/ /g,"+") +
          "&pmbrq002=" + dat.replace(/ /g,"+") +
          "&pmbrq003=" + tim.replace(/ /g,"+");
  Left=(document.body.clientWidth-1100)/2;
  DFrameLink(linkurl,50,Left,1100,600);
}
function ViewNotes(vis,dat,tim,ur) {
  linkurl="patweb10.pbl?reportno=08&template=004" +
          "&urnumber=" + ur.replace(/ /g,"+") +
          "&admissno=" + vis.replace(/ /g,"+") +
          "&pmbrq001=" + vis.replace(/ /g,"+") +
          "&pmbrq002=" + dat.replace(/ /g,"+") +
          "&pmbrq003=" + tim.replace(/ /g,"+");
  Left=(document.body.clientWidth-750)/2;
  DFrameLink(linkurl,50,Left,750,200);
}
function CancelRequest(vis,dat,tim,ur) {
  linkurl="patweb10.pbl?reportno=08&template=005" +
          "&urnumber=" + ur.replace(/ /g,"+") +
          "&admissno=" + vis.replace(/ /g,"+") +
          "&pmbrq001=" + vis.replace(/ /g,"+") +
          "&pmbrq002=" + dat.replace(/ /g,"+") +
          "&pmbrq003=" + tim.replace(/ /g,"+");
  Left=(document.body.clientWidth-400)/2;
  DFrameLink(linkurl,50,Left,400,150);
}
</script>

</head>
%START.OF.PAGE
<body onload=PageLoad(event);initTable();>
<div id=HeadingSection>
<form name=SelectPeriod action=patweb10.pbl method=get style="margin:0">
<input type=hidden name=reportno value=9>
<input type=hidden name=template value=1>
<input type=hidden name=viewtype value="%PATWEB10.09.002">
<input type=hidden name=showflag value="1">
<input type=hidden name=showhosp value="1">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=sjogflag value="%PATWEB10.09.011">
<table cellpadding=3 bgcolor=#CCCCCC border=0 width=100%>
<tr><td><div id="Hospital"></div></td>
    <td><div id="DepartmentDiv"></div></td>
    <td>Ward
        <select name=filtward onchange="SelectPeriod.submit()">
        <option value="  ">All</option>
        %PATWEB10.09.008
        </select>
    </td>
    <td>Request Status
        <select name=filtstat onchange="SelectPeriod.submit()">
        <option value=" ">All</option>
        <option value="1">Requested</option>
        <option value="2">Allocated</option>
        <option value="3">Completed</option>
        <option value="4">Cancelled</option>
        </select>
    </td>
    <td align=right>
    <input type=button value="<<" class=SmallButton
    onclick='location.href="%PATWEB10.09.004"'>
    %PATWEB10.09.005
    <input type=button value=">>" class=SmallButton
    onclick='location.href="%PATWEB10.09.003"'>
  <a href='javascript:SelectDateFrame();'>
  <img src="../images/DateLookup.gif" class="Icon"
   alt="Select Date"></a>
  <a href='javascript:SelectView("0");'>
  <img src=../images/DayIcon.gif class="Icon"
   alt="View Today"></a>
  <a href='javascript:SelectView("1");'>
  <img src=../images/WeekIcon.gif class="Icon"
   alt="View This Week"></a>
  <a href='javascript:SelectView("2");'>
  <img src=../images/MonthIcon.gif class="Icon"
   alt="View This Month"></a>
  </td>
  </tr>
</table>
</form>
</div>
<div id="TableLocation" ></div>

<span id="ShowHospital" style="display: none">
<table cellpadding=3 bgcolor=#CCCCCC border=0 width=100%>
<tr><td>Hospital
    <select name=filthosp onchange="SelectPeriod.submit()">
    <option value="  ">All</option>
     %PATWEB10.09.009
    </select>
    </td></tr>
</table>
</span>

<script type="text/javascript">
function initTable() {
 document.title="Ward/Bed Requests"
 t = new Table(1,0,1,"100%","center",45,45);    // Create New Table Object
 template = 1
 var f = document.SelectPeriod;
 if (f.sjogflag.value == "1") {
   document.getElementById('DepartmentDiv').innerHTML=
     document.getElementById('ShowDepartment1').innerHTML;
 }
 else {
   document.getElementById('DepartmentDiv').innerHTML=
     document.getElementById('ShowDepartment2').innerHTML;
 }

//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
  if (f.sjogflag.value == "1") {
    t.addColumn("Name","ImageText",21,21,"left","PatientFolder","0",100,20)
    t.addColumn("Visit","String",19,19,"left","","",30)
    t.addColumn("Request Date/Time","DateTime",1,1,"left","","",55)
    t.addColumn("Type of Bed Required","String",6,6,"left","","",60)
    t.addColumn("Notes","ImageText","","","center","CommentIcon","16",20,15)
    t.addColumn("Inpatient Specialty","String",24,24,"left","","",50)
    t.addColumn("Bed Requested By","String",3,3,"left","","",50)
    t.addColumn("Preferred Ward","String",25,25,"left","","",50)
    t.addColumn("Allocated Date/Time","DateTime",12,12,"left","","",55)
    t.addColumn("Expected Ward/Bed","String",11,11,"left","","",60)
    t.addColumn("Special Features","String",26,26,"left","","",50)
    t.addColumn("Status","String",7,7,"left","","",30)
    t.addColumn("Cancel","ImageText","","","center","MaintenanceIcon",
                "17",25,13)
  } 
  else {
    t.addColumn("Name","ImageText",21,21,"left","PatientFolder","0",130,20)
    t.addColumn("Visit","String",19,19,"left","","",30)
    t.addColumn("Request Date/Time","DateTime",1,1,"left","","",60)
    t.addColumn("Type of Bed Required","String",6,6,"left","","",65)
    t.addColumn("Notes","ImageText","","","center","CommentIcon","16",20,15)
    t.addColumn("Requesting Department","String",3,3,"left","","",60)
    t.addColumn("Allocated Date/Time","DateTime",12,12,"left","","",60)
    t.addColumn("Expected Ward/Bed","String",11,11,"left","","",60)
    t.addColumn("Status","String",7,7,"left","","",30)
    t.addColumn("Cancel","ImageText","","","center","MaintenanceIcon",
                "17",25,13)
  }
//
// Add Rows to Table (Output from Web Server)
//
%PATWEB10.09.001
//
 OrderColumn=0;
 AscDsc=1;
 lastOrderColumn=OrderColumn;
 TableOutput(OrderColumn,AscDsc,template);
}
 Stat="%PATWEB10.09.007"
 for (var i =0 ; i < document.SelectPeriod.filtstat.length; i++) {
  if (document.SelectPeriod.filtstat.options[i].value==Stat.substr(0,1)) {
       document.SelectPeriod.filtstat.selectedIndex=i } };
if(document.SelectPeriod.ibcnmhos.value=="1") {
  document.getElementById('Hospital').innerHTML=
  document.getElementById('ShowHospital').innerHTML
  document.getElementById('Hospital').style.display="";
}
</script>
<span id="ShowDepartment1" style="display: none">
<table cellpadding=3 bgcolor=#CCCCCC border=0 width=100%>
<tr><td>Bed Requested By
        <select name=filtunit onchange="SelectPeriod.submit()">
        <option value="  ">All</option>
        %PATWEB10.09.006.2
        </select>
    </td></tr>
</table>
</span>

<span id="ShowDepartment2" style="display: none">
<table cellpadding=3 bgcolor=#CCCCCC border=0 width=100%>
<tr><td>Requesting Department
        <select name=filtunit onchange="SelectPeriod.submit()">
        <option value="  ">All</option>
        %PATWEB10.09.006.2
        </select>
    </td></tr>
</table>
</span>
