<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function ViewDetails(ur,pmlev001,pmlev002,pmlev003,pmlev004,pmlev005,pmlev006){
    Left=(document.body.clientWidth-600)/2
    LinkURL="patweb08.pbl?reportno=06&template=002" +
        "&urnumber=" + PatientLinks.urnumber.value.replace(/ /g,"+") +
        "&pmlev001=" + pmlev001.replace(/ /g,"+") +
        "&pmlev002=" + pmlev002.replace(/ /g,"+") +
        "&dmlev003=" + pmlev003.replace(/ /g,"+") +
        "&pmlev004=" + pmlev004.replace(/ /g,"+") +
        "&pmlev005=" + pmlev005.replace(/ /g,"+") +
        "&pmlev006=" + pmlev006.replace(/ /g,"+") +
        "&preguniq=" + pmlev001.replace(/ /g,"+") +
        "&admissno=" + pmlev002.replace(/ /g,"+");
   DFrameLink(LinkURL,100,Left,600,400);
}
function AddLabourEvent(){
    Left=(document.body.clientWidth-600)/2
    LinkURL="patweb08.pbl?reportno=06&template=001" +
        "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+") +
        "&preguniq=" + document.PatientLinks.preguniq.value.replace(/ /g,"+") +
        "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+");
   DFrameLink(LinkURL,100,Left,600,400);
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - Link to pmsbevaf
//  1 - Unique ID
//  2 - Admission Number
//  3 - Date
//  4 - Time
//  5 - Record Type
//  6 - Record Desc
//  7 - Code
//  8 - Status
//  9 - Event Description 1
//  10- Event Description 2
//  11- Created by
//  12- Created date
//  13- Created time
//  14- Updated by
//  15- Updated date
//  16- Updated time
//  17- Event type description
//---------------------------------------------------------------------------

function InitTable(TableView) {

switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",40,30);
 t.addColumn("Event","String",5,5,"left","EditIcon.gif","0",150)
 t.addColumn("Admission Number","String",2,2,"left","","",80)
 t.addColumn("Date","Date",3,3,"left","","",100)
 t.addColumn("Time","String",4,4,"left","","",100)
 t.addColumn("Code","String",7,7,"left","","",70)
 t.addColumn("Status","String",8,8,"left","","",70)
 t.addColumn("Event Description","String",9,9,"left","","",100)

 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc  Dsc
 break;}
 }
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB08.06.003";
PatientVIS="%PATWEB08.06.081";
PatientNAM="%PATWEB08.06.002";
PatientSTA="%PATWEB08.06.086.078";
PatientALT="%PATWEB08.06.084";
PatientSEX="%PATWEB08.06.019";
PatientDOB="%PATWEB08.06.020";
PatientAGE="%PATWEB08.06.021";
PatientLOC="%PATWEB08.06.083";
PatientPRI="%PATWEB08.06.086.066.1";
PatientUNT="%PATWEB08.06.066.0";
DoctorCOD="%PATWEB08.06.082.003";
DoctorNAM="%PATWEB08.06.082.002";
PatientAID="%PATWEB08.06.086.090";
PatientIND="%PATWEB08.06.086.091";
PatientCUR="%PATWEB08.06.086.092";
PatientCLC="%PATWEB08.06.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB08.06.086.094";
PatientCDM="%PATWEB08.06.086.095";
PatientVDH="%PATWEB08.06.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<table width=100% cellspacing=0 cellpadding=0 bgcolor=#cccccc>
<tr><td><img src='../images/ListIcon.gif' class="Icon"
     onclick="GoCookiePath('PregnancySelected');"></td>
     <td align=right><input type=button class="Bigbutton"
      value="Add Labour Event"
     onclick='AddLabourEvent();'></td></tr>
    </table>

<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%PATWEB08.06.216
}
</script>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=6>
<input type=hidden name=template value=003>
<input type=hidden name=urnumber value="%PATWEB08.06.003">
<input type=hidden name=admissno value="%PATWEB08.06.081">
<input type=hidden name=MenuType value="%PATWEB08.06.088">
<input type=hidden name=preguniq value="%PATWEB08.06.102">
<input type=hidden name=brthuniq value="%PATWEB08.06.221">
</form>
