<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript" src=../js/patweb87.js></script>
<script type="text/javascript">
//-----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//-----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - Patient Link
//  1 - Patient Name
//  2 - Visit Type
//  3 - Visit Number
//  4 - Visit Date
//  5 - Discharge Date
//  6 - Outstanding Amount
//  7 - Deleted
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//-----------------------------------------------------------------------------
  function InitTable(TableView) {
    switch (TableView) {
    case 0: {
     t = new Table(1,0,2,"100%","center",23,35);
     t.addColumn("Patient","String",1,1,"left","MaintenanceIcon.gif","0",150)
     t.addColumn("Visit&nbsp;Type","String",2,2,"left","","",70)
     t.addColumn("Visit&nbsp;Number","String",3,3,"left","","",80)
     t.addColumn("Visit&nbsp;Date","Date",4,4,"center","","",70)
     t.addColumn("Claim","String",9,9,"left","","",70)
     t.addColumn("Health Fund","String",10,10,"left","","",70)
     t.addColumn("Discharge&nbsp;Date","Date",5,5,"center","","",90)
     t.addColumn("Invoice&nbsp;No.","String",8,8,"left","","",40)
     t.addColumn("Outstanding&nbsp;Amount","String",6,6,"right","","",90)
     t.addColumn("Last&nbsp;Letter","String",7,7,"left","","",90)
     t.addColumn("Deleted","String",11,11,"center","","",40)
     AddTableRows()
     TableOutput(0,1);                     // Order Column,Asc Dsc
     break;
    }
   }
  }
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0)>

<div id=HeadingSection>
<form name=SelectPeriod action=patweb87.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=16>
  <input type=hidden name=template value=1>

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td class=MaintenanceHeading align=right>
      Selection ID: %PATWEB87.16.001 - %PATWEB87.16.002 - Selected %PATWEB87.16.030 Records</td>
    <td width=10% align=right class=DataLabel>Last Updated</td>
    <td width=10% align=right><input type=text readonly size=20 class="Readonly"
         value="%PATWEB87.16.035"></td></tr>
   </table>

  <table border=0 cellspacing=0 cellpadding=0 width=100%>
    <tr><td bgcolor=#CCCCCC align=center>
    <input type=button value="Print" id=pntbtn class="button"
     onclick="tempDisable(this);PrintExtract16('%PATWEB87.16.001');">
    <input type=button value="Selections" class="button"
     onclick='location.href="patweb87.pbl?reportno=15&template=001"'>
    </td></tr>

  </table>

</td></tr>
</table>
</form>
</div>

<form name=AutoCode action=rshweb02.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=schddate value="%STANDARD.01.015">
  <input type=hidden name=schdtime value="%STANDARD.01.016">
  <input type=hidden name=schdpgid value="IBABIL22">    
  <input type=hidden name=schddesc value="Inpatient Letters">   
  <input type=hidden name=schdprnt value="S  ">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">
  <input type=hidden name=keystr01 value="2">
  <input type=hidden name=keystr02 value="">
</form>

<div id=TableLocation></div>
<script type="text/javascript">
  function AddTableRows() {
  %PATWEB87.16.101.patweb98.01.001
  }
</script>
