<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript">
function validateStatLabels() {
  if (document.getElementById('ptcnslin').value != "1") {return;}

//  labeltitleDIV1.innerHTML="";
  labelcheckboxDIV1.innerHTML=labelcheckboxSPAN1.innerHTML;
//  printertitleDIV1.innerHTML="";
  printerfieldDIV1.innerHTML=printerfieldSPAN1.innerHTML;
  hiddenDIV1.innerHTML=hiddenSPAN1.innerHTML;
  numbertitleDIV1.innerHTML=numbertitleSPAN1.innerHTML
  numberfieldDIV1.innerHTML=numberfieldSPAN1.innerHTML


  document.getElementById('finadmtable').deleteRow(2);

}
function Cancel(){

  var redirect = document.getElementById('redirect');
  if(PatientCARETYPE.substring(4,5) == "3" ) {
     redirect.value = PatientMaternityLink;
     PatientLinkTo('patweb08.pbl',01,003,0);
  }
  else{
     PatientLinkTo('patweb98.pbl',1,2,0);
  }
}

function Process() { 

 if (document.getElementById('ptcnslin').value == "1") {

     if(document.PrintLabels.d_multlt01.checked == false) {
       if(document.PrintLabels.d_multlt03.checked == false) {
       if(document.PrintLabels.multlt04.value == '') {
       if(document.PrintLabels.multlt05.value == '') {
       if(document.PrintLabels.multlt06.value == '') {
       if(document.PrintLabels.multlt07.value == '') {
       if(document.PrintLabels.multlt08.value == '') {
          alert("Please Select Label or Form to Print !");
          return; } } } } }
       }
     }

     if (document.PrintLabels.d_multlt01.checked == false) {
       document.PrintLabels.schdprn1.disabled=true;
       document.PrintLabels.schdcop1.disabled=true;
       document.PrintLabels.setdefp1.disabled=true;
       document.PrintLabels.statncod.disabled=true;
     }

     if (document.PrintLabels.d_multlt03.checked == false) {
       document.PrintLabels.schdprn3.disabled=true;
       document.PrintLabels.schdcop3.disabled=true;
       document.PrintLabels.setdefp3.disabled=true;
       document.PrintLabels.statnco3.disabled=true;
     }

     if (document.PrintLabels.multlt04.value == '') {
       document.PrintLabels.schdprn5.disabled=true;
       document.PrintLabels.schdcop5.disabled=true;
       document.PrintLabels.setdefp5.disabled=true;
       document.PrintLabels.statnco5.disabled=true;
     }
     if (document.PrintLabels.multlt05.value == '') {
       document.PrintLabels.schdprn6.disabled=true;
       document.PrintLabels.schdcop6.disabled=true;
       document.PrintLabels.setdefp6.disabled=true;
       document.PrintLabels.statnco6.disabled=true;
     }
     if (document.PrintLabels.multlt06.value == '') {
       document.PrintLabels.schdprn7.disabled=true;
       document.PrintLabels.schdcop7.disabled=true;
       document.PrintLabels.setdefp7.disabled=true;
       document.PrintLabels.statnco7.disabled=true;
     }
     if (document.PrintLabels.multlt07.value == '') {
       document.PrintLabels.schdprn8.disabled=true;
       document.PrintLabels.schdcop8.disabled=true;
       document.PrintLabels.setdefp8.disabled=true;
       document.PrintLabels.statnco8.disabled=true;
     }
     if (document.PrintLabels.multlt08.value == '') {
       document.PrintLabels.schdprn9.disabled=true;
       document.PrintLabels.schdcop9.disabled=true;
       document.PrintLabels.setdefp9.disabled=true;
       document.PrintLabels.statnco9.disabled=true;
     }

 } else {

   document.PrintLabels.labelty2.value=document.PrintLabels.tempstc2.value;

   if(isWhitespace(document.PrintLabels.tempstc2.value)) {
      if(document.PrintLabels.d_multlt01.checked == false) {
         if(document.PrintLabels.d_multlt03.checked == false) {
            if(document.PrintLabels.multlt04.value == '') {
            if(document.PrintLabels.multlt05.value == '') {
            if(document.PrintLabels.multlt06.value == '') {
            if(document.PrintLabels.multlt07.value == '') {
            if(document.PrintLabels.multlt08.value == '') {
               alert("Please Select Label or Form to Print !");
               return;  } } } } }
         }
      }
   }

   if (document.PrintLabels.d_multlt01.checked == false) {
     document.PrintLabels.schdprn1.disabled=true; 
     document.PrintLabels.schdcop1.disabled=true; 
     document.PrintLabels.setdefp1.disabled=true; 
     document.PrintLabels.statncod.disabled=true; 
   }
   if (document.PrintLabels.d_multlt03.checked == false) {
     document.PrintLabels.multlt03.disabled=true;
     document.PrintLabels.schdprn3.disabled=true;
     document.PrintLabels.schdcop3.disabled=true;
     document.PrintLabels.setdefp3.disabled=true;
   }
   if (document.PrintLabels.tempstc2.value == '') {
     document.PrintLabels.schdprn4.disabled=true;
     document.PrintLabels.setdefp4.disabled=true;
     document.PrintLabels.labelty2.disabled=true;
     document.PrintLabels.schdcop4.disabled=true;
   }
   if (document.PrintLabels.multlt04.value == '') {
     document.PrintLabels.schdprn5.disabled=true; 
     document.PrintLabels.schdcop5.disabled=true; 
     document.PrintLabels.setdefp5.disabled=true; 
     document.PrintLabels.statnco5.disabled=true; 
   }
   if (document.PrintLabels.multlt05.value == '') {
     document.PrintLabels.schdprn6.disabled=true; 
     document.PrintLabels.schdcop6.disabled=true; 
     document.PrintLabels.setdefp6.disabled=true; 
     document.PrintLabels.statnco6.disabled=true; 
   }
   if (document.PrintLabels.multlt06.value == '') {
     document.PrintLabels.schdprn7.disabled=true; 
     document.PrintLabels.schdcop7.disabled=true; 
     document.PrintLabels.setdefp7.disabled=true; 
     document.PrintLabels.statnco7.disabled=true; 
   }
   if (document.PrintLabels.multlt07.value == '') {
     document.PrintLabels.schdprn8.disabled=true; 
     document.PrintLabels.schdcop8.disabled=true; 
     document.PrintLabels.setdefp8.disabled=true; 
     document.PrintLabels.statnco8.disabled=true; 
   }
   if (document.PrintLabels.multlt08.value == '') {
     document.PrintLabels.schdprn9.disabled=true; 
     document.PrintLabels.schdcop9.disabled=true; 
     document.PrintLabels.setdefp9.disabled=true; 
     document.PrintLabels.statnco9.disabled=true; 
   }

 }

 if(!validateMandatory(document.PrintLabels)){
    return;
 }
 var redirect = document.getElementById('redirect');
 if(PatientCARETYPE.substring(4,5) == "3" ) {
    redirect.value = PatientMaternityLink;
 }

 document.PrintLabels.submit();
}
//
function FixRow1() {
  if(document.PrintLabels.d_multlt03.checked==false) {
    document.PrintLabels.schdprn3.disabled=true;
    document.PrintLabels.schdprn3.className="";
    document.PrintLabels.schdcop3.disabled=true;
    document.PrintLabels.schdcop3.className="";
    document.PrintLabels.setdefp3.disabled=true;
    document.PrintLabels.labelty1.value="";
    document.PrintLabels.labelty1.disabled=true;
  } else {
    document.PrintLabels.schdprn3.disabled=false;
    document.PrintLabels.schdprn3.className="Mandatory";
    document.PrintLabels.schdcop3.disabled=false;
    document.PrintLabels.schdcop3.className="Mandatory";
    document.PrintLabels.setdefp3.disabled=false;
    document.PrintLabels.labelty1.disabled=false;
  }
}
function FixRow1A() {
  if (document.PrintLabels.d_multlt03.checked == false) {
    document.PrintLabels.multlt03.disabled=true;
    document.PrintLabels.schdprn3.disabled=true;
    document.PrintLabels.schdcop3.disabled=true;
    document.PrintLabels.setdefp3.disabled=true;
    document.PrintLabels.statnco3.disabled=true;
    document.PrintLabels.schdprn3.className="";
    document.PrintLabels.schdcop3.className="";
  }
  else {
    document.PrintLabels.multlt03.disabled=false;
    document.PrintLabels.schdprn3.disabled=false;
    document.PrintLabels.schdcop3.disabled=false;
    document.PrintLabels.setdefp3.disabled=false;
    document.PrintLabels.statnco3.disabled=false;
    document.PrintLabels.schdprn3.className="Mandatory";
    document.PrintLabels.schdcop3.className="Mandatory";
  }
}
function FixRow2() {
  if (document.PrintLabels.d_multlt01.checked == false) {
    document.PrintLabels.multlt01.disabled=true;
    document.PrintLabels.schdprn1.disabled=true;
    document.PrintLabels.schdcop1.disabled=true;
    document.PrintLabels.setdefp1.disabled=true; 
    document.PrintLabels.statncod.disabled=true;
    document.PrintLabels.schdprn1.className=""; 
    document.PrintLabels.schdcop1.className="";
  }
  else {
    document.PrintLabels.multlt01.disabled=false;
    document.PrintLabels.schdprn1.disabled=false;
    document.PrintLabels.schdcop1.disabled=false;
    document.PrintLabels.setdefp1.disabled=false; 
    document.PrintLabels.statncod.disabled=false;
    document.PrintLabels.schdprn1.className="Mandatory"; 
    document.PrintLabels.schdcop1.className="Mandatory";
  }
}
function FixRow4() {
  if (isWhitespace(document.PrintLabels.tempstc2.value)) {
    document.PrintLabels.schdprn4.disabled=true;
    document.PrintLabels.schdprn4.className="";
    document.PrintLabels.schdcop4.disabled=true;
    document.PrintLabels.schdcop4.className="";
    document.PrintLabels.setdefp4.disabled=true;
    document.PrintLabels.labelty2.value="";
    document.PrintLabels.labelty2.disabled=true;
  } else {
    document.PrintLabels.schdprn4.disabled=false;
    document.PrintLabels.schdprn4.className="Mandatory";
    document.PrintLabels.schdcop4.disabled=false;
    document.PrintLabels.schdcop4.className="Mandatory";
    document.PrintLabels.setdefp4.disabled=false;
    document.PrintLabels.labelty2.disabled=false;
  }
}
function FixRow5(){
  if (document.PrintLabels.multlt04.value == '') {
    document.PrintLabels.schdprn5.disabled=true;
    document.PrintLabels.schdprn5.className="";
    document.PrintLabels.schdcop5.disabled=true;
    document.PrintLabels.schdcop5.className="";
    document.PrintLabels.setdefp5.disabled=true; 
    document.PrintLabels.statnco5.value='';
    document.PrintLabels.statnco5.disabled=true;
  }
  else {
    document.PrintLabels.schdprn5.disabled=false;
    document.PrintLabels.schdcop5.disabled=false;
    document.PrintLabels.setdefp5.disabled=false; 
    document.PrintLabels.statnco5.disabled=false;
    document.PrintLabels.schdprn5.className="Mandatory";
    document.PrintLabels.schdcop5.className="Mandatory";
    document.PrintLabels.statnco5.value=document.PrintLabels.multlt04.value;
  }
}
function FixRow6() {
  if (document.PrintLabels.multlt05.value == '') {
    document.PrintLabels.schdprn6.disabled=true;
    document.PrintLabels.schdprn6.className="";
    document.PrintLabels.schdcop6.disabled=true;
    document.PrintLabels.schdcop6.className="";
    document.PrintLabels.setdefp6.disabled=true; 
    document.PrintLabels.statnco6.disabled=true;
    document.PrintLabels.statnco6.value='';
  }
  else {
    document.PrintLabels.schdprn6.disabled=false;
    document.PrintLabels.schdcop6.disabled=false;
    document.PrintLabels.setdefp6.disabled=false; 
    document.PrintLabels.statnco6.disabled=false;
    document.PrintLabels.schdprn6.className="Mandatory"; 
    document.PrintLabels.schdcop6.className="Mandatory";
    document.PrintLabels.statnco6.value=document.PrintLabels.multlt05.value;
  }
}
function FixRow7() {
  if (document.PrintLabels.multlt06.value == '') {
    document.PrintLabels.schdprn7.disabled=true;
    document.PrintLabels.schdprn7.className="";
    document.PrintLabels.schdcop7.disabled=true;
    document.PrintLabels.schdcop7.className="";
    document.PrintLabels.setdefp7.disabled=true; 
    document.PrintLabels.statnco7.disabled=true;
    document.PrintLabels.statnco7.value='';
  }
  else {
    document.PrintLabels.schdprn7.disabled=false;
    document.PrintLabels.schdcop7.disabled=false;
    document.PrintLabels.setdefp7.disabled=false; 
    document.PrintLabels.statnco7.disabled=false;
    document.PrintLabels.schdprn7.className="Mandatory"; 
    document.PrintLabels.schdcop7.className="Mandatory";
    document.PrintLabels.statnco7.value=document.PrintLabels.multlt06.value;
  }
}
function FixRow8() {
  if (document.PrintLabels.multlt07.value == '') {
    document.PrintLabels.schdprn8.disabled=true;
    document.PrintLabels.schdprn8.className="";
    document.PrintLabels.schdcop8.disabled=true;
    document.PrintLabels.schdcop8.className="";
    document.PrintLabels.setdefp8.disabled=true; 
    document.PrintLabels.statnco8.disabled=true;
    document.PrintLabels.statnco8.value='';
  }
  else {
    document.PrintLabels.schdprn8.disabled=false;
    document.PrintLabels.schdcop8.disabled=false;
    document.PrintLabels.setdefp8.disabled=false; 
    document.PrintLabels.statnco8.disabled=false;
    document.PrintLabels.schdprn8.className="Mandatory"; 
    document.PrintLabels.schdcop8.className="Mandatory";
    document.PrintLabels.statnco8.value=document.PrintLabels.multlt07.value;
  }
}
function FixRow9() {
  if (document.PrintLabels.multlt08.value == '') {
    document.PrintLabels.schdprn9.disabled=true;
    document.PrintLabels.schdprn9.className="";
    document.PrintLabels.schdcop9.disabled=true;
    document.PrintLabels.schdcop9.className="";
    document.PrintLabels.setdefp9.disabled=true;
    document.PrintLabels.statnco9.disabled=true;
    document.PrintLabels.statnco9.value='';
  }
  else {
    document.PrintLabels.schdprn9.disabled=false;
    document.PrintLabels.schdcop9.disabled=false;
    document.PrintLabels.setdefp9.disabled=false;
    document.PrintLabels.statnco9.disabled=false;
    document.PrintLabels.schdprn9.className="Mandatory"; 
    document.PrintLabels.schdcop9.className="Mandatory";
    document.PrintLabels.statnco9.value=document.PrintLabels.multlt08.value;
  }
}
function ResetForm(){

 if (document.getElementById('ptcnslin').value == "1") {

  document.PrintLabels.d_multlt01.checked=true;
  document.PrintLabels.d_multlt03.checked=true;
  document.PrintLabels.multlt04.value="";
  document.PrintLabels.multlt05.value="";
  document.PrintLabels.multlt06.value="";
  document.PrintLabels.multlt07.value="";
  document.PrintLabels.multlt08.value="";
  document.PrintLabels.schdcop3.selectedIndex = document.PrintLabels.d_copies1.value;
  document.PrintLabels.schdprn3.selectedIndex = document.PrintLabels.d_printer1.value;
  FixRow1A();
  FixRow2();
//  FixRow3();
  FixRow5();
  FixRow6();
  FixRow7();
  FixRow8();
  FixRow9();

 } else {

  document.PrintLabels.d_multlt01.checked=true;
  document.PrintLabels.d_multlt03.checked=true;
  document.PrintLabels.tempstc2.value="";
  document.PrintLabels.multlt04.value="";
  document.PrintLabels.multlt05.value="";
  document.PrintLabels.multlt06.value="";
  document.PrintLabels.multlt07.value="";
  document.PrintLabels.multlt08.value="";
  document.PrintLabels.schdcop3.selectedIndex = document.PrintLabels.d_copies1.value;
  document.PrintLabels.schdcop1.selectedIndex = document.PrintLabels.d_copies2.value;
  document.PrintLabels.schdprn3.selectedIndex = document.PrintLabels.d_printer1.value;
  document.PrintLabels.schdprn1.selectedIndex = document.PrintLabels.d_printer2.value;
  FixRow1();
  FixRow2();
  FixRow4();
  FixRow5();
  FixRow6();
  FixRow7();
  FixRow8();
  FixRow9();

 }

}
</script>

<title>Final Admission</title>
%START.OF.PAGE
</head>
<body onload="PageLoad(event);validateStatLabels();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB98.01.003";
PatientVIS="%PATWEB98.01.081";
PatientNAM="%PATWEB98.01.002";
PatientSTA="%PATWEB98.01.086.078";
PatientALT="%PATWEB98.01.084";
PatientSEX="%PATWEB98.01.019";
PatientDOB="%PATWEB98.01.020";
PatientAGE="%PATWEB98.01.021";
PatientLOC="%PATWEB98.01.083";
PatientPRI="%PATWEB98.01.086.066.1";
PatientUNT="%PATWEB98.01.066.0";
DoctorCOD="%PATWEB98.01.082.003";
DoctorNAM="%PATWEB98.01.082.002";
PatientAID="%PATWEB98.01.086.090";
PatientIND="%PATWEB98.01.086.091";
PatientCUR="%PATWEB98.01.086.092";
PatientCLC="%PATWEB98.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB98.01.086.094";
PatientCDM="%PATWEB98.01.086.095";
PatientVDH="%PATWEB98.01.086.099.015";
PatientCARETYPE="%PATWEB98.01.113.3";
PatientMaternityLink="%PATWEB98.01.001.patweb08.01.003";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>

<table cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td class=HeadingCell align=center width=100%>
    Final Admission</td></tr>
</table>

<form name=PrintLabels action=rshweb02.pbl method=post style="margin:0">
<input type=hidden name=reportno value="02">
<input type=hidden name=template value=001>
<input type=hidden name=updttype value="L">
<input type=hidden name=multprnt value="1">
<input type=hidden name=sbwindow value=1>
<input type=hidden name=nextpage value="1">
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<input type=hidden name=redirect value="%PATWEB98.01.001.patweb98.01.002">
<input type=hidden name=setdfprg value="FINALFRM">
<input type=hidden name="d_printer1">
<input type=hidden name="d_printer2">
<input type=hidden name="d_copies1">
<input type=hidden name="d_copies2">
<input type=hidden name="ptcnslin"
                   id="ptcnslin" value="%STANDARD.01.025.124.149.0.1">

<table cellspacing=1 cellpadding=1 border=0 width=90% align=center
 id="finadmtable">
<tr><td class=DataLabel><div id="labeltitleDIV1"><b>Patient Label</b></div></td>
    <td><div id="labelcheckboxDIV1">
        <input type=checkbox checked name=d_multlt03 onclick='FixRow1();'>
        <input type=hidden name=multlt03 id=multlt03 value=0>
        </div>
    </td>
    <td class=DataLabel><div id="printertitleDIV1">Printer</div></td>
    <td><div id="printerfieldDIV1">
        <select id=schdprn3 name=schdprn3 title="Label Printer" 
         class="Mandatory">
        <option></option>
     %STANDARD.01.001.PATWEB70.01
      </select>
      </div>
    <div id="hiddenDIV1">
    <input type=hidden name=setdefp3 value="PATWEB7001">
    <input type=hidden name=labelty1 value="LABELINP33">
    </div>
    </td>
    <td class=DataLabel><div id="numbertitleDIV1">Number of Labels</div></td>
    <td><div id="numberfieldDIV1">
        <select name=schdcop3 style="width: 50px !important; min-width: 50px; 
         max-width: 50px;" id=schdcop3 class="Mandatory">
         %STANDARD.01.027.3.1
        </select>
        </div>
    </td></tr>

<tr><td class=DataLabel><b>Front Sheet</b></td>
    <td><input type=checkbox checked name=d_multlt01 onclick='FixRow2();'>
         <input type=hidden name=multlt01 value=0>
        </td>
    <td class=DataLabel>Printer</td>
    <td><select name=schdprn1 title="Front Sheet Printer" class="Mandatory"
	 id=schdprn1>
     %STANDARD.01.001.FINALFRM.01
      </select>
    <input type=hidden name=statncod value="%STANDARD.01.025.059.141.0.6">
    <input type=hidden name=setdefp1 value="FINALFRM"></td>
    <td class=DataLabel>Number of Copies</td>
    <td><select name=schdcop1 style="width: 50px !important; min-width:
         50px; max-width: 50px;" id=schdcop1 class="Mandatory">
        <option value=" 1" selected>1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr><td class=DataLabel><b>Patient Label</b></td>
    <td><select id=tempstc2 name=tempstc2 width=50% onchange="FixRow4();">
        <option></option>
       %STANDARD.01.019.LABELINP.1
       </select></td>
    <td class=DataLabel>Printer</td>
    <td><select id=schdprn4 name=schdprn4 title="Label Printer 2" disabled>
        <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>
    <input type=hidden name=setdefp4 value="PATWEB9803">
    <input type=hidden name=labelty2 value=""></td>
    <td class=DataLabel>Number of Labels</td>
    <td><select id=schdcop4 name=schdcop4 style="width: 50px !important;
         min-width: 50px; max-width: 50px;" disabled>
        %STANDARD.01.027.3.1 
       </select></td></tr>

<tr><td class=DataLabel width=15%><b>Form 3</b></td>
    <td><select id=multlt04 name=multlt04 onchange="FixRow5();">
        <option></option>
         %STANDARD.01.020.  3
        </select></td>

    <td class=DataLabel width=10%>Printer</td>
    <td width=35%><select name=schdprn5 title="Form 3 Printer"
     id=schdprn5 disabled>
     <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>

    <input type=hidden name=statnco5 value="%STANDARD.01.033.FORMFRN3.02">
    <input type=hidden name=setdefp5 value="FORMFRN302"></td>

    <td class=DataLabel width=25%>Number of Copies</td>
    <td><select name=schdcop5 style="width: 50px !important;
         min-width: 50px; max-width: 50px;" id=schdcop5 disabled>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr><td class=DataLabel width=15%><b>Form 4</b></td>
    <td><select id=multlt05 name=multlt05 onchange="FixRow6();">
        <option></option>
         %STANDARD.01.020.  3
        </select></td>

    <td class=DataLabel width=10%>Printer</td>
    <td width=35%><select name=schdprn6 title="Form 4 Printer"
     id=schdprn6 disabled>
     <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>

    <input type=hidden name=statnco6 value="%STANDARD.01.033.FORMFRN4.02">
    <input type=hidden name=setdefp6 value="FORMFRN402"></td>

    <td class=DataLabel width=25%>Number of Copies</td>
    <td><select name=schdcop6 style="width: 50px !important; min-width: 50px;
         max-width: 50px;" id=schdcop6 disabled>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr><td class=DataLabel width=15%><b>Form 5</b></td>
    <td><select id=multlt06 name=multlt06 onchange="FixRow7();">
        <option></option>
         %STANDARD.01.020.  3
        </select></td>

    <td class=DataLabel width=10%>Printer</td>
    <td width=35%><select name=schdprn7 title="Form 5 Printer"
     id=schdprn7 disabled>
     <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>

    <input type=hidden name=statnco7 value="%STANDARD.01.033.FORMFRN5.02">
    <input type=hidden name=setdefp7 value="FORMFRN502"></td>

    <td class=DataLabel width=25%>Number of Copies</td>
    <td><select name=schdcop7 style="width: 50px !important; min-width: 50px;
      max-width: 50px;" id=schdcop7 disabled>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr><td class=DataLabel width=15%><b>Form 6</b></td>
    <td><select id=multlt07 name=multlt07 onchange="FixRow8();">
        <option></option>
         %STANDARD.01.020.  3
        </select></td>

    <td class=DataLabel width=10%>Printer</td>
    <td width=35%><select name=schdprn8 title="Form 6 Printer"
     id=schdprn8 disabled>
     <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>

    <input type=hidden name=statnco8 value="%STANDARD.01.033.FORMFRN6.02">
    <input type=hidden name=setdefp8 value="FORMFRN602"></td>

    <td class=DataLabel width=25%>Number of Copies</td>
    <td><select name=schdcop8 style="width: 50px !important; min-width: 50px;
      max-width: 50px;" id=schdcop8 disabled>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr><td class=DataLabel width=15%><b>Form 7</b></td>
    <td><select id=multlt08 name=multlt08 onchange="FixRow9();">
        <option></option>
         %STANDARD.01.020.  3
        </select></td>

    <td class=DataLabel width=10%>Printer</td>
    <td width=35%><select id=schdprin9 name=schdprn9 title="Form 7 Printer"
       disabled>
     <option></option>
     %STANDARD.01.001.xxxxxxxx.xx
      </select>

    <input type=hidden name=statnco9 value="%STANDARD.01.033.FORMFRN7.02">
    <input type=hidden name=setdefp9 value="FORMFRN702"></td>

    <td class=DataLabel width=25%>Number of Copies</td>
    <td><select name=schdcop9 style="width: 50px !important;
      min-width: 50px; max-width: 50px;" id=schdcop9 disabled>
        <option value=" 1">1</option>
        <option value=" 2">2</option>
        <option value=" 3">3</option>
        <option value=" 4">4</option>
        <option value=" 5">5</option>
        <option value=" 10">10</option>
        <option value=" 15">15</option>
        <option value=" 20">20</option>
        <option value=" 25">25</option>
        <option value=" 30">30</option>
        <option value=" 35">35</option>
        <option value=" 40">40</option>
        </select></td></tr>

<tr></tr>
<tr><td colspan=6 align=center>
    <input type=button class="button" value="Process" id=pcsbtn
     onclick='tempDisable(this);Process();'>
    <input type=button class="button" value="Reset" id=rstbtn
     onclick='tempDisable(this);ResetForm();'>
    <input type=button value="Cancel" class="button" tabindex=28 
     onclick="Cancel();">
    </td></tr>
</table>
</form>

<script type="text/javascript">
/*
// Label default no. of copies
   for (var i =0 ; i < document.PrintLabels.schdcop1.length; i++) {
     if (document.PrintLabels.schdcop1.options[i].value.replace(/ /g,"")==
         document.PrintLabels.clabprt.value.replace(/ /g,"")) {
         document.PrintLabels.schdcop1.selectedIndex=i } };

// Form default no. of copies
DefForm1Copies="%STANDARD.01.034.FRONTSHT.02";
for (var i=0;i<document.PrintLabels.schdcop2.length;i++){
  if (document.PrintLabels.schdcop2.options[i].value.replace(/ /g,"")==
      DefForm1Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop2.selectedIndex=i}};

DefForm2Copies="%STANDARD.01.034.CLAIMFRM.02";
for (var i=0;i<document.PrintLabels.schdcop3.length;i++){
  if (document.PrintLabels.schdcop3.options[i].value.replace(/ /g,"")==
      DefForm2Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop3.selectedIndex=i}};

DefForm3Copies="%STANDARD.01.034.FORMFRN3.02";
for (var i=0;i<document.PrintLabels.schdcop5.length;i++){
  if (document.PrintLabels.schdcop5.options[i].value.replace(/ /g,"")==
      DefForm3Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop5.selectedIndex=i}};

DefForm4Copies="%STANDARD.01.034.FORMFRN4.02";
for (var i=0;i<document.PrintLabels.schdcop6.length;i++){
  if (document.PrintLabels.schdcop6.options[i].value.replace(/ /g,"")==
      DefForm4Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop6.selectedIndex=i}};

DefForm5Copies="%STANDARD.01.034.FORMFRN5.02";
for (var i=0;i<document.PrintLabels.schdcop7.length;i++){
  if (document.PrintLabels.schdcop7.options[i].value.replace(/ /g,"")==
      DefForm5Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop7.selectedIndex=i}};

DefForm6Copies="%STANDARD.01.034.FORMFRN6.02";
for (var i=0;i<document.PrintLabels.schdcop8.length;i++){
  if (document.PrintLabels.schdcop8.options[i].value.replace(/ /g,"")==
      DefForm6Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop8.selectedIndex=i}};

DefForm7Copies="%STANDARD.01.034.FORMFRN7.02";
for (var i=0;i<document.PrintLabels.schdcop9.length;i++){
  if (document.PrintLabels.schdcop9.options[i].value.replace(/ /g,"")==
      DefForm7Copies.replace(/ /g,"")){
      document.PrintLabels.schdcop9.selectedIndex=i}};

// Form default codes
DefForm3Code="%STANDARD.01.033.FORMFRN3.02";
for (var i=0;i<document.PrintLabels.multlt04.length;i++){
  if (document.PrintLabels.multlt04.options[i].value.replace(/ /g,"")==
      DefForm3Code.replace(/ /g,"")){
      document.PrintLabels.multlt04.selectedIndex=i}};

DefForm4Code="%STANDARD.01.033.FORMFRN4.02";
for (var i=0;i<document.PrintLabels.multlt05.length;i++){
  if (document.PrintLabels.multlt05.options[i].value.replace(/ /g,"")==
      DefForm4Code.replace(/ /g,"")){
      document.PrintLabels.multlt05.selectedIndex=i}};

DefForm5Code="%STANDARD.01.033.FORMFRN5.02";
for (var i=0;i<document.PrintLabels.multlt06.length;i++){
  if (document.PrintLabels.multlt06.options[i].value.replace(/ /g,"")==
      DefForm5Code.replace(/ /g,"")){
      document.PrintLabels.multlt06.selectedIndex=i}};

DefForm6Code="%STANDARD.01.033.FORMFRN6.02";
for (var i=0;i<document.PrintLabels.multlt07.length;i++){
  if (document.PrintLabels.multlt07.options[i].value.replace(/ /g,"")==
      DefForm6Code.replace(/ /g,"")){
      document.PrintLabels.multlt07.selectedIndex=i}};

DefForm7Code="%STANDARD.01.033.FORMFRN7.02";
for (var i=0;i<document.PrintLabels.multlt08.length;i++){
  if (document.PrintLabels.multlt08.options[i].value.replace(/ /g,"")==
      DefForm7Code.replace(/ /g,"")){
      document.PrintLabels.multlt08.selectedIndex=i}};

  LastLabelType="%STANDARD.01.036.PATWEB98.03"
  if(!isWhitespace(LastLabelType)) {
    for (var i = 0; i<document.PrintLabels.tempstc2.length; i++) {
      if (document.PrintLabels.tempstc2.options[i].value==LastLabelType) {
          document.PrintLabels.tempstc2.selectedIndex=i
      }
    }
  }
*/

if (document.getElementById('ptcnslin').value != "1") {

  document.PrintLabels.d_copies1.value = document.PrintLabels.schdcop3.selectedIndex;
  document.PrintLabels.d_copies2.value = document.PrintLabels.schdcop1.selectedIndex;
  document.PrintLabels.d_printer1.value = document.PrintLabels.schdprn3.selectedIndex;
  document.PrintLabels.d_printer2.value = document.PrintLabels.schdprn1.selectedIndex;

} else {

  document.PrintLabels.d_copies1.value = document.PrintLabels.schdcop3.selectedIndex;
  document.PrintLabels.d_printer1.value = document.PrintLabels.schdprn3.selectedIndex;

}

</script>

<form name="PatientLinks" method="get">
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="004">
<input type="hidden" name="urnumber" value="%PATWEB98.01.003">
<input type="hidden" name="admissno" value="%PATWEB98.01.081">
<input type="hidden" name="MenuType" value="%PATWEB98.01.088">
</form>

</body></html>

<span id="labelcheckboxSPAN1" style="display:none">
  <input type=checkbox checked name=d_multlt03 onclick='FixRow1A();'>
  <input type=hidden name=multlt03 value=0>
</span>

<span id="printerfieldSPAN1" style="display:none">
  <select name=schdprn3 title="Patient Label Printer" class="Mandatory">
    <option></option>
    %STANDARD.01.001.PATWEB70.01
  </select>
</span>

<span id="hiddenSPAN1" style="display:none">
    <input type=hidden name=statnco3 value="%STANDARD.01.025.124.150.0.6">
    <input type=hidden name=setdefp3 value="PATWEB7001">
</span>

<span id="numbertitleSPAN1" style="display:none">
  Number of Copies
</span>

<div id="numberfieldSPAN1" style="display:none">
  <select name=schdcop3 style="width: 50px !important; min-width: 50px;
   max-width: 50px;" class="Mandatory">
    <option value=" 1" selected>1</option>
    <option value=" 2">2</option>
    <option value=" 3">3</option>
    <option value=" 4">4</option>
    <option value=" 5">5</option>
    <option value=" 10">10</option>
    <option value=" 15">15</option>
    <option value=" 20">20</option>
    <option value=" 25">25</option>
    <option value=" 30">30</option>
    <option value=" 35">35</option>
    <option value=" 40">40</option>
  </select>
</div>
