<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
</head>

%START.OF.PAGE                  <!--Inpatient Add Form-->      
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
 <img align="right" alt="Exit" class="MenuIcon"
  src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
  Add Emergency Event
</span>
<form name=AddForm method=post action=patweb81.pbl style="margin:0">
<input type=hidden name=reportno value="01">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=evnttype value="%PATWEB81.01.127">
<input type=hidden name=psevt001 value="%PATWEB81.01.127">
<input type=hidden name=urnumber value="%PATWEB81.01.003">
<input type=hidden name=admissno value="%PATWEB81.01.081">

<table align=center width=95% border=0 cellpadding=1 cellspacing=0>
<tr><td class=DataLabel>Admission Date</td>
    <td>
    <input type=text name=psevt002 class=Mandatory
     title="Admission Date" Size=12 value="%STANDARD.01.015">
    <img src=../images/DateLookup.gif class=Icon date=AddForm.psevt002>
    Time
    <input type=text name=psevt003 class=Mandatory title="Admission Time"
     size=8 maxlength=8 value="%STANDARD.01.016">
    <img src=../images/DateTimeStamp.gif class=Icon date=AddForm.psevt002 
     time=AddForm.psevt003>
    <img src=../images/TimeLookup.gif class=Icon time=AddForm.psevt003>
    </td></tr>    
<tr><td class=DataLabel>Attending HCP</td>
    <td><input type=text name=psevt004 id=psevt004 
     class=DataField title="Attending HCP"
     size=10 maxlength=10 onblur="ValidateHCP(18,14,psevt004,psevt000);">
    <input type=text name=psevt000 id=psevt000
     readonly class=ReadOnly title="Attending HCP"
     size=24 maxlength=24 >
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="HCPSearchFrame(psevt004,psevt000,1);"> </td></tr>
<tr><td class=DataLabel>Presenting Problem</td>
    <td><input type=text name=psevt005 title="Presenting Problem"
     size=60 maxlength=60 > </td></tr>
<tr><td class=DataLabel>%STANDARD.01.017.CV</td>
    <td><select name=psevt016 title="%STANDARD.01.017.CV">
        <option></option>
        %PATWEB81.01.115.2
        </select> </td></tr>
<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select name=psevt015 title="%STANDARD.01.017.CL" class=Mandatory>
        <option></option>
        %PATWEB81.01.114.2
        </select> </td></tr>
<tr><td class=DataLabel>%STANDARD.01.017.LO</td>
    <td><select name=psevt008 title="%STANDARD.01.017.LO" class=Mandatory>
        <option></option>
        %PATWEB81.01.107.2
        </select> </td></tr>
<tr><td colspan=4 align=center><br>
    <input type=submit name=add value="Add" class="button">
    <input type=button value="Cancel" class="button" 
     onclick="DFrameCloseRefresh();">
    </td></tr>
</table>
</form>
