<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<link rel="stylesheet" href="../html/postcode.css" type="text/css">
<script type="text/javascript" src="../js/AutoPostCode.js"> </script>
<script type="text/javascript">
function clickAddButton() {
suburb = AddForm.pmdaa004;
state = AddForm.pmdaa005;
postcode = AddForm.pmdaa006;
  if(!CheckValPostCode()){
     return;
  }
  SubmitForm();
}
function init() {
suburb = AddForm.pmdaa004;
state = AddForm.pmdaa005;
postcode = AddForm.pmdaa006;
  InitPostCodes();
}
function valPostCode(){
  UpCase(AddForm.pmdaa004);
  if(trim(AddForm.pmdaa006.value)!="8888"){
    LookupPostCode(AddForm.pmdaa004.value);
  }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
   <form name=AddForm method=post action=patweb07.pbl>
   <input type=hidden name=reportno value="3">
   <input type=hidden name=template value="002">
   <input type=hidden name=updttype value="A">
<table align=center width=95% border=0>
<tr><td>
<table align=center width=100% border=0>

<tr valign=top><td class=DataLabel>Alternate ID Type</td>
    <td><select name=pmdaa001 class=Mandatory title="Alt ID Type">
        <option></option>
         %STANDARD.01.007.AI
</td></tr>

<tr valign=top><td class=DataLabel>Address Line 1</td>
    <td><input type=text name=pmdaa002 title="Address Line 1"
         size=50 maxlength=35 onblur="UpCase(this)">
<tr valign=top><td class=DataLabel>Address Line 2</td>
    <td><input type=text name=pmdaa003 title="Address Line 2"
         size=50 maxlength=35 onblur="UpCase(this)">
</td></tr>
<tr valign=top><td class=DataLabel>Suburb</td>
    <td><input type=text name=pmdaa004 title="Address Line 3"
         size=50 maxlength=35 onblur="UpCase(this)" onchange="valPostCode();">
</td></tr>
<tr valign=top><td class=DataLabel>State</td>
    <td><input type=text name=pmdaa005 title="Address Line 4"
         size=50 maxlength=35 onblur="UpCase(this)">
</td></tr>
<tr valign=top><td class=DataLabel>Post Code</td>
    <td><input type=text name=pmdaa006 title="Post Code"
         size=8 maxlength=8>
</td></tr>
<tr valign=top><td class=DataLabel>Phone Number</td>
    <td><input type=text name=pmdaa007 title="Phone Number"
         size=25 maxlength=20>
</td></tr>
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Add" class="button" onclick="clickAddButton()">
    <input type=button value=Close class="button" onclick="DFrameCloseRefresh()">
</td></tr>
</table>
</form>
