<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function UpdateRoom(Hosp,Ward,Room,Bed,cadm) {
  LinkUrl="patweb12.pbl?reportno=1&template=6" +
          "&pmbbd001=" + Hosp.replace(/ /g,"+") +
          "&pmbbd002=" + Ward.replace(/ /g,"+") +
          "&pmbbd003=" + Room.replace(/ /g,"+") +
          "&pmbbd004=" + Bed.replace(/ /g,"+") +
          "&pmbbd010=" + cadm.replace(/ /g,"+")
  Left=(document.body.clientWidth-350)/2
  DFrameLink(LinkUrl,0,Left,350,200)
}
function AddRoom() {
  LinkUrl="patweb12.pbl?reportno=1&template=5" +
          "&hospcode=" + document.SearchForm.hospcode.value.replace(/ /g,"+") +
          "&wardcode=" + document.SearchForm.wardcode.value.replace(/ /g,"+") 
  Left=(document.body.clientWidth-350)/2
  DFrameLink(LinkUrl,0,Left,350,200)
}
function WardList() {
  LinkUrl="patweb12.pbl?reportno=1&template=1" 
  location.href=LinkUrl
}
function UpdateSeq() {
  LinkUrl="patweb12.pbl?reportno=1&template=3" +
          "&pmbbd001=" + document.SearchForm.hospcode.value.replace(/ /g,"+") +
          "&pmbbd002=" + document.SearchForm.wardcode.value.replace(/ /g,"+") +
          "&pmbbd003=+++&pmbbd004=+++&pmbbd010=++++++++"
  Left=(document.body.clientWidth-350)/2
  DFrameLink(LinkUrl,0,Left,350,300)
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
document.title="Room Maintenance List";
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",35,30);
 t.addColumn("Bed","String",4,4,"left","MaintenanceIcon.gif","0",70)
 t.addColumn("Room","String",3,3,"left","","",40)
 t.addColumn("Description","String",5,5,"left","","",150)
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload=PageLoad(event);InitTable(0)>

<div id=HeadingSection>
<form name=SearchForm action=patweb12.pbl method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=4>
<input type=hidden name=hospcode value="%PATWEB12.01.104">
<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
<tr><td align=left>
    <td class=DataLabel>Ward</td>
    <td class=DataField><select name=wardcode title="Ward" class=Mandatory
        onchange="SearchForm.submit();">
        %PATWEB12.01.102.2
        </select></td>
    </tr>
</table>
<table width="100%" cellpadding=0 cellspacing=0 border=0 >
<tr><td align=center>
    <input type=button class="button" value=Ward 
     onclick='UpdateSeq();'>
    <input type=button class="button" value=Cancel onclick=WardList()>
    <input type=button class="button" value="Add Bed" onclick=AddRoom()>
    </td></tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<script type="text/javascript">
function AddTableRows() {
%PATWEB12.01.103
}
</script>

