<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb6306.js></script>
<script type="text/javascript">
function ItemCheck() {
  if (SelectCode.d_nzcmt007.checked==true) {
    SelectCode.nzcmt007.value="1"; 
  } else {
    SelectCode.nzcmt007.value="0"; 
  }
  SelectCode.updttype.value="U";
  SubmitHidden(SelectCode);
}
function ListProcMatrix() {
  location.href="patweb63.pbl?reportno=6&template=3&fileflag=" +
                document.SelectCode.fileflag.value +
               "&nzcmt001=" + document.SelectCode.nzcmt001.value +
               "&nzcmt002=" + document.SelectCode.nzcmt002.value +
               "&nzcmt003=" + document.SelectCode.nzcmt003.value +
               "&nzcmt004=" + document.SelectCode.nzcmt004.value +
               "&nzcmt005=0" +
               "&nzcmt006=     0"
}
function ListItemMatrix() {
  location.href="patweb63.pbl?reportno=6&template=3&fileflag=" +
                document.SelectCode.fileflag.value +
               "&nzcmt001=" + document.SelectCode.nzcmt001.value +
               "&nzcmt002=" + document.SelectCode.nzcmt002.value +
               "&nzcmt003=" + document.SelectCode.nzcmt003.value +
               "&nzcmt004=" + document.SelectCode.nzcmt004.value +
               "&nzcmt005=1" +
               "&nzcmt006=     0"
}

function UpdateContMatrix(claim,hfund,rtype,contproc,itype,file,count) {
  if (document.SelectCode.nzcmt005.value=="1") {
   linkurl="patweb63.pbl?reportno=6&template=7&fileflag=" + file +
               "&nzcmt001=" + claim +
               "&nzcmt002=" + hfund +
               "&nzcmt003=" + rtype +
               "&nzcmt004=" + contproc +
               "&nzcmt005=" + itype +
               "&nzcmt006=" + count
  } else {
   linkurl="patweb63.pbl?reportno=6&template=5&fileflag=" + file +
               "&nzcmt001=" + claim +
               "&nzcmt002=" + hfund +
               "&nzcmt003=" + rtype +
               "&nzcmt004=" + contproc +
               "&nzcmt005=" + itype +
               "&nzcmt006=" + count
  }
   Left=(document.body.clientWidth-700)/2
   DFrameLink(linkurl,250,Left,700,350);
}
//
function UpdateItemGroup(claim,hfund,rtype,contproc,itype,file,count) {
   linkurl="patweb63.pbl?reportno=6&template=11&fileflag=" + file +
               "&nzcmt001=" + claim +
               "&nzcmt002=" + hfund +
               "&nzcmt003=" + rtype +
               "&nzcmt004=" + contproc +
               "&nzcmt005=" + itype +
               "&nzcmt006=" + count
   Left=(document.body.clientWidth-700)/2
   DFrameLink(linkurl,250,Left,700,350);
}
//
function AddProcMatrix() {
   linkurl="patweb63.pbl?reportno=6&template=4&fileflag=" + 
           document.SelectCode.fileflag.value +
          "&nzcmt001="+document.SelectCode.nzcmt001.value +
          "&nzcmt002="+document.SelectCode.nzcmt002.value +
          "&nzcmt003="+document.SelectCode.nzcmt003.value +
          "&nzcmt004="+document.SelectCode.nzcmt004.value +
          "&nzcmt005=0" +
          "&nzcmt006=     0"
   Left=(document.body.clientWidth-700)/2
   DFrameLink(linkurl,250,Left,700,350)
}
function AddItemMatrix() {
   linkurl="patweb63.pbl?reportno=6&template=6&fileflag=" + 
           document.SelectCode.fileflag.value +
          "&nzcmt001="+document.SelectCode.nzcmt001.value +
          "&nzcmt002="+document.SelectCode.nzcmt002.value +
          "&nzcmt003="+document.SelectCode.nzcmt003.value +
          "&nzcmt004="+document.SelectCode.nzcmt004.value +
          "&nzcmt005=1" +
          "&nzcmt006=     0"
   Left=(document.body.clientWidth-700)/2
   DFrameLink(linkurl,250,Left,700,350)
}
function AddItmGrp() {
   linkurl="patweb63.pbl?reportno=6&template=9&fileflag=" +
           document.SelectCode.fileflag.value +
          "&nzcmt001="+document.SelectCode.nzcmt001.value +
          "&nzcmt002="+document.SelectCode.nzcmt002.value +
          "&nzcmt003="+document.SelectCode.nzcmt003.value +
          "&nzcmt004="+document.SelectCode.nzcmt004.value +
          "&nzcmt005=1" +
          "&nzcmt006=     0"
   Left=(document.body.clientWidth-700)/2
   DFrameLink(linkurl,250,Left,700,350)
}
function SubmitForm() {
  if(validateMandatory(SelectCode)) {
    SelectCode.submit();
  }
}
function SetFldType() {
  SelectCode.d_nzcmt007.value=SelectCode.nzcmt007.value;
  if (SelectCode.d_nzcmt007.value=="1") {
      SelectCode.d_nzcmt007.checked=true;
  }
  if (SelectCode.nzcmt005.value=="1") {
     document.all.SelectCode.itemgroup.disabled=false;
     document.all.SelectCode.itemcode.disabled=false;
     document.all.SelectCode.proccode.disabled=true;
  } else {
     document.all.SelectCode.itemgroup.disabled=true;
     document.all.SelectCode.itemcode.disabled=true;
     document.all.SelectCode.proccode.disabled=false;
     SelectCode.d_nzcmt007.disabled=true;
     SelectCode.d_nzcmt007.readOnly=true;
     SelectCode.d_nzcmt007.className="Readonly";
  }
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetFldType();">
<form name=SelectCode action=patweb63.pbl method=get style="margin:0">
<input type=hidden name=reportno value=06>
<input type=hidden name=template value=003>
<input type=hidden name=norecord value=17>
<input type=hidden name=nzcmt001 value="%PATWEB63.06.001.1">
<input type=hidden name=nzcmt002 value="%PATWEB63.06.002.0">
<input type=hidden name=nzcmt003 value="%PATWEB63.06.004.0">
<input type=hidden name=nzcmt005 value="%PATWEB63.06.005.0">
<input type=hidden name=nzcmt006 value="%PATWEB63.06.008">
<input type=hidden name=nzcmt007 value="%PATWEB63.06.006">
<input type=hidden name=fileflag value="%PATWEB63.06.109">
<input type=hidden name=updttype>
<input type=hidden name=itmcount value="%PATWEB63.06.114">
<input type=hidden name=headerrc value="1">

<table width=100% cellpadding=0 cellspacing=0 border=0 >
  <tr><td align=left class=HeadingCell width=25%>
    <img src='../images/ListIcon.gif' class=Icon
     onclick="GoCookiePath('MatrixList');">
      <td colspan=2 align=center width=50% class=HeadingCell>
       Contract Procedure Matrix Maintenance
      <td colspan=2 class=HeadingCell width=25%>&nbsp;</td></tr>

  <tr height=25><td class=DataLabel>%STANDARD.01.017.CL</td>
  <td><input type=text name=d_nzcmt001 class=readonly readonly
       title="%STANDARD.01.017.CL"
       tabindex=1 value="%PATWEB63.06.001.0">
       </td>

  <td class=DataLabel>File Type</td>
  <td><input type=text name=d_fileflag class=readonly readonly
       value="%PATWEB63.06.110">
       </td>
  </tr>

  <tr><td class=DataLabel>Contract</td>
  <td><input type=text size=6 name=d_nzcmt002 maxlength=6 
      class=readonly readonly
      value="%PATWEB63.06.002.0" title="Contract" tabindex=2>
     <input type=text size=30 name=funddesc title="Health Fund" readonly
      value="%PATWEB63.06.002.1" class=Readonly notab tabindex=-1>
     </td>
     <td class=DataLabel>Record Type</td>
     <td><input type=text size=15 name=d_nzcmt003 maxlength=10
          value="%PATWEB63.06.004.1" class=Readonly readonly notab tabindex=-1>
  </td></tr>

  <tr><td class=DataLabel>Contract Procedure Code</td>
      <td><input type=text name=nzcmt004 value="%PATWEB63.06.003.0" 
      size=9 maxlength=9 title="Contract Procedure Code" readonly 
      class=readonly>
      <input type=text size=30 name=cprcdesc title="Code Description"
      readonly value="%PATWEB63.06.003.1" notab class=Readonly tabindex=-1>
      </td>
     <td class=DataLabel>Include All Misc.Items</td>
     <td><input type=checkbox name=d_nzcmt007 value="%PATWEB63.06.006"
          tabindex=-1 onclick="ItemCheck();">
     </td>
  </tr>
<!--
  <tr><td class=DataLabel>Item Type</td>
      <td><input type=text size=15 name=d_nzcmt005 maxlength=10
          value="PATWEB63.06.005.1" class=Readonly notab tabindex=-1>
     </td>
  <tr><td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
-->

</table>

<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr><td width=25% class=HeadingCell align=left>
    <input type=button class="button" value="Procedures" name="proclist"
     onclick=ListProcMatrix();>
    <input type=button class="button" value="Items" name="itemlist"
     onclick=ListItemMatrix();>
    </td>
    <td width=25% class=HeadingCell align=right>
    <input type=button class="button" value="Add Procedure" name="proccode"
     onclick=AddProcMatrix();>
    <input type=button class="button" value="Add Item Group" name="itemgroup"
     onclick=AddItmGrp();>
    <input type=button class="button" value="Add Item" name="itemcode"
     onclick=AddItemMatrix();>
    <input type=button class="button" value="Cancel" 
         onclick='location.href="%PATWEB63.06.101.001"'>
    </td>
</tr>
</table>

<table width=100% cellpadding=0 cellspacing=0 border=1>
    %PATWEB63.06.112.patweb63.06.002
</table>

</form>

<script type="text/javascript">
  ItmCount="%PATWEB63.06.114";
  if (ItmCount=="1") {
    SelectCode.d_nzcmt007.disabled=true;
    SelectCode.d_nzcmt007.readOnly=true;
    SelectCode.d_nzcmt007.className="Readonly";
  }
</script>
