<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event)">
<div id="linkUrSearchPanel">
  <span id=DFrameTitleBar class="DFrameTitleBar">
    <img align="right" alt="Exit" class="MenuIcon"
      src="../images/ExitIcon.gif" onclick="DFrameExit();" />
    Link Baby U/R Search
  </span>
  <table width=100%>
    <thead>
      <tr>
          <td>U/R</td>
          <td>Name</td>
      </tr>
    </thead>
    <tbody id='linkTable'>
    </tbody>
  </table>
</div>

<script>
  var linkBaby = %PATWEB08.04.500;
  var linkTable = document.getElementById('linkTable');

  if(linkBaby.length == 0) {
    DFrameExit();
    alert('No linked babies found');
  }

  for(var i = 0; i < linkBaby.length; i++) {
    var tr = document.createElement('tr');
    var tdUr = document.createElement('td');
    var tdName = document.createElement('td');
    var span1 = document.createElement('span');
    var span2 = document.createElement('span');
    span1.innerHTML = "<a href='javascript:selectBaby("+i+");'>"+
                       linkBaby[i].urnumber+"</a>";
    span2.innerHTML = "<a href='javascript:selectBaby("+i+");'>"+
                       linkBaby[i].name+"</a>";
    tdUr.appendChild(span1);
    tdName.appendChild(span2);
    tr.appendChild(tdUr);
    tr.appendChild(tdName);
    linkTable.appendChild(tr);
  }

  function selectBaby(num){
    var ur = parent.document.getElementById('pmbth005');
    ur.value = linkBaby[num].urnumber;
    ur.focus();
    ur.blur();
    
    DFrameExit();
  }
</script>
