<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">

function PrintItems() {
 DatesOK=true;
 if(!isWhitespace(UpdateForm.filtfdat.value) &&
    !isWhitespace(UpdateForm.filttdat.value)) {
      DatesOK=CheckDateRange(UpdateForm.filtfdat,UpdateForm.filttdat)
 }

 if (DatesOK) {
     SubmitHidden(UpdateForm);
 } else {
  UpdateForm.filtfdat.focus();
 }

}

function Valddate(obj,str) {

 if(!checkDate(obj,str)) {
  return;
 }

  adm=SetDateYYYYMMDD(UpdateForm.admndate.value);
  kdat=SetDateYYYYMMDD(obj.value);

  if (kdat < adm) {
    alert("Date must be equal or after Admission Date " + UpdateForm.admndate.value);
    obj.value=UpdateForm.admndate.value;
    obj.focus();
    return false ;
  }

  if(!isWhitespace(UpdateForm.discdate.value)) {

    dsc=SetDateYYYYMMDD(UpdateForm.discdate.value);
    if (kdat > dsc) {
      alert("Date must be equal or before Discharge Date " + UpdateForm.discdate.value);
      obj.value=UpdateForm.discdate.value;
      obj.focus();
      return false ;
    }
  }
}

</script>

</head>
%START.OF.PAGE
<body onLoad="PageLoad();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
document.write("Print Miscellaneous Items for %PATWEB05.03.002");</script>
</span>
<form name=UpdateForm method=post action=patweb05.pbl style="margin:0">
   <input type=hidden name=reportno value="3">
   <input type=hidden name=template value="001">
   <input type=hidden name=updttype value="P">
   <input type=hidden name=nextpage value="5">
   <input type=hidden name=urnumber value="%PATWEB05.03.003">
   <input type=hidden name=admissno value="%PATWEB05.03.081">
   <input type=hidden name=patname value="%PATWEB05.03.009">
   <input type=hidden name=menuflag value="%PATWEB05.03.203">
   <input type=hidden name=admndate value="%PATWEB05.03.102">
   <input type=hidden name=discdate value="%PATWEB05.03.301">

<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
  <tr><td width=25% class="DataLabel">Print User Name on Report</td>
      <td><input type="checkbox" name="pusrname" value="1"
                 title="Print User Name on Report"></td></tr>
</table>

<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
<tr><td width=25% class=DataLabel>Date Range  -  From</td>
  <td width=25%><input type="text" id="filtfdat" name="filtfdat"
           class="Mandatory PastDate" size="10"
           value="%PATWEB05.03.201"
           onblur="Valddate(this,'Date');"
           title="Item Date" >
        <img src=../images/DateTimeStamp.gif class=Icon
         date=UpdateForm.filtfdat>
        <img src=../images/DateLookup.gif class=Icon
         date=UpdateForm.filtfdat></td>

    <td>To
    <input type="text" id="filttdat" name="filttdat"
           class="Mandatory PastDate" size="10"
           value="%PATWEB05.03.202"
           onblur="Valddate(this,'Date');"
           title="Item Date" >
        <img src=../images/DateTimeStamp.gif class=Icon
         date=UpdateForm.filttdat>
        <img src=../images/DateLookup.gif class=Icon
         date=UpdateForm.filttdat></td>

     </tr>
</table>

<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
  <tr><td width=25% class=DataLabel>Printer </td>
      <td width=25%><select name=selprint colspan=2>
           %STANDARD.01.001.PATWEB05.03
          </select></td>
      <td class=DataLabel>Number of Copies
          <select name=nocopies width=50%>
      <option value=" 1">1</option>
      <option value=" 2">2</option>
      <option value=" 3">3</option>
      <option value=" 4">4</option>
      <option value=" 5">5</option>
      <option value=" 6">6</option>
      <option value=" 7">7</option>
      <option value=" 8">8</option>
      <option value=" 9">9</option>
      <option value=" 10">10</option>
      </select></td>
    </tr>
</table>

<table align=center cellspacing=0 cellpadding=3 border=0 width=95%>
<tr><td colspan=2 align=center><br>
    <input type=button class=button value="Ok"
      onclick=PrintItems()>
<!--
    <input type=button class=button value="Cancel"
      onclick=DFrameExit()>
  -->
    </td></tr>
</table>
</form>


<script type="text/javascript">
DefCopies="%STANDARD.01.034.PATWEB05.03";
for (var i=0;i<document.UpdateForm.nocopies.length;i++) {
  if (document.UpdateForm.nocopies.options[i].value.replace(/ /g,"")==
      DefCopies.replace(/ /g,"")) {
      document.UpdateForm.nocopies.selectedIndex=i }
}

</script>

