<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript">
function UpdateFavItem() {
  f = document.UpdateForm;
  if(f.d_fvgrp005.checked == true) {
    f.fvgrp005.value="Yes";
  }
  else {
    f.fvgrp005.value="No";
  }

  f.updatety.value="U";
  if(validateMandatory(UpdateForm)) {
    f.fvgrp008.value = parseInt(f.fvgrp008.value,10);
    f.fvgrp009.value = f.d_fvgrp007.value;

    if (document.UpdateForm.defchval.value!="1") {
      if (f.d_fvgrp005.checked == true) {

        var serverURL  = "../cgi-bin/patweb77.pbl?reportno=6&valdtype=4" +
                         "&fvgrp001=" + f.fvgrp001.value.replace(/ /g,"+") +
                         "&fvgrp002=" + f.fvgrp002.value.replace(/ /g,"+") +
                         "&fvgrp003=" + f.fvgrp003.value.replace(/ /g,"+") +
                         "&fvgrp004=" + f.fvgrp004.value.replace(/ /g,"+");

        var returnValue = RSExecute(serverURL);
        if (returnValue.status==0) {
          if (returnValue.return_value==1) {
            alert("Error: Default Group Already Set.");
            return;
          }
        }
      }
    }

    UpdateForm.submit();
  }
}
function DeleteFavItem() {
  UpdateForm.updatety.value="D";
  if(validateMandatory(UpdateForm)) {
    UpdateForm.submit();
  }
}
function CopyFavItem() {
  f = document.UpdateForm;
  if(f.d_fvgrp005.checked == true) {
    f.fvgrp005.value="Yes";
  }
  else {
    f.fvgrp005.value="No";
  }

  fvgrp001=f.fvgrp001.value;
  fvgrp002=f.fvgrp002.value;
  fvgrp003=f.fvgrp003.value;
  fvgrp004=f.fvgrp004.value;
  fvgrp005=f.fvgrp005.value;
  fvgrp006=f.fvgrp006.value;
  fvgrp007=f.fvgrp007.value;

  location.href="patweb77.pbl?reportno=19&template=04" +
                "&copyhosp=" + fvgrp001 +
                "&copyoccg=" + fvgrp002 +
                "&copyusid=" + fvgrp003 +
                "&copyfavg=" + fvgrp004 +
                "&copydftg=" + fvgrp005 +
                "&copyghed=" + fvgrp006 + 
                "&srchhosp=" + fvgrp001 +
                "&srchoccg=" + fvgrp002 +
                "&srchusid=" + fvgrp003 +
                "&srchfavg=" + fvgrp004 +
                "&srchghed=" + fvgrp006 +
                "&srchcitm=" + fvgrp007
}

function checkUser(userId,userName) {
  if (isWhitespace(userId.value)) {
    userName.value = "";
    return;
  }
  var serverURL = "../cgi-bin/patweb80.pbl?reportno=61" +
                  "&valdcode=" + userId.value.replace(/ /g,"+")
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value.split("|")
    userName.value=trim(ReturnValue[0])
  }
}

function DisplayHospIdDetail() {
  f = document.UpdateForm;
  if (f.ibcnmhos.value == "1") {
    document.getElementById('HospIdDetail').style.display = "";
  } else {
    document.getElementById('HospIdDetail').style.display = "none";
  }
}

</script>
%START.OF.PAGE
<body onload="PageLoad(event);
              DisplayHospIdDetail();
              checkUser(document.UpdateForm.fvgrp003,
                        document.UpdateForm.d_fvgrp003);
              validateCode(40,document.UpdateForm.fvgrp007,
                           document.UpdateForm.d_fvgrp007);
              if(document.UpdateForm.d_fvgrp005.checked==true)
              {document.UpdateForm.defchval.value='1';}">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
  document.write("Group/User Favourites Maintenance"); 
</script>
</span>
<form name=UpdateForm action=patweb77.pbl method=post style="margin:0">
<input type=hidden name=reportno value=19>
<input type=hidden name=template value=1>
<input type=hidden name=updatety value="U">
<input type=hidden name=multhosp value="%STANDARD.01.032">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=fvgrp001 value="%PATWEB77.19.036">
<input type=hidden name=fvgrp002 value="%PATWEB77.19.037">
<input type=hidden name=fvgrp004 value="%PATWEB77.19.038">
<input type=hidden name=fvgrp005 value="%PATWEB77.19.005">
<input type=hidden name=fvgrp006 value="%PATWEB77.19.039">
<input type=hidden name=fvgrp009 id=fvgrp009 value="">
<input type=hidden name=defchval value="">

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr id=HospIdDetail>
  <td class=DataLabel>Hospital</td>
  <td class=DataField>
    <input type=text name=d_fvgrp001 class=Readonly readonly
      title="Hospital" size=40
      value="%PATWEB77.19.035">
  </td>
</tr>

<tr>
  <td class=DataLabel>Occupational Group</td>
  <td class=DataField>
    <input type=text name=d_fvgrp002 class=Readonly readonly
      title="Occupational Group" size=40
      value="%PATWEB77.19.002.9.3">
  </td>
</tr>

<tr>
  <td class=DataLabel>User ID</td>
  <td class=DataField>
    <input type=text name=fvgrp003 class=Readonly readonly
      title="User ID" size=10
      value="%PATWEB77.19.003">
    <input type=text name=d_fvgrp003 size=40 class=Readonly readonly
      title="User Name" size=40
      value="">
  </td>
</tr>

<tr>
  <td class=DataLabel>Favourite Group</td>
  <td class=DataField>
    <input type=text name=d_fvgrp004 class=Readonly readonly
      title="Favourite Group" size=40
      value="%PATWEB77.19.004.9.3">
  </td>
</tr>

<tr>
  <td class=DataLabel>Default Group</td>
  <td class=DataiField><input type=checkbox name=d_fvgrp005
    title="Default Group" value="">
  </td>
</tr>

<tr>
  <td class=DataLabel>Sub-Group Heading</td>
  <td class=DataField>
    <input type=text name=d_fvgrp006 class=Readonly readonly
      title="Sub-Group Heading" size=40
      value="%PATWEB77.19.006.9.3">
  </td>
</tr>

<tr align=left>
  <td align=center colspan="8">
    <hr>
  </td>
</tr>

<tr>
  <td class=DataLabel>Charge Item</td>
  <td>
    <input type=text name=fvgrp007 size=10 id="fvgrp007"
      title="Charge Item" class=Readonly readonly
      value="%PATWEB77.19.007">
    <input type=text size=90 name=d_fvgrp007
      title="Charge Item Description" size=40
      class=Readonly readonly notab tabindex=-1>
  </td>
</tr>

<tr>
  <td class=DataLabel>Quantity</td>
  <td><input type=text name=fvgrp008 size=4 maxlength=3 
    title="Quantity" class="Integer Mandatory" min=1 max=999
    value="%PATWEB77.19.008">
  </td>
</tr>

<tr>
  <td colspan=3 align=center><br>
    <input type=button name=btnUpd id=btnUpd value="Update" class="button" 
      onclick=UpdateFavItem();>
    <input type=button name=btnDel id=btnDel value="Delete" class="button" 
      onclick=DeleteFavItem();>
    <input type=button name=btnCopy id=btnCopy value="Copy"  class="button"
      onclick=CopyFavItem();>
    <input type=button name=btnCan id=btnCan value="Cancel" class="button" 
      onclick='DFrameExit();'>
  </td>
</tr>

</table>
</form>
<script type="text/javascript">
if (document.UpdateForm.fvgrp005.value == "Yes") { 
  document.UpdateForm.d_fvgrp005.checked = true; 
}
else {
  document.UpdateForm.d_fvgrp005.checked = false;
}
</script>
