<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function SubmitForm01(){
 if(validateMandatory(document.UpdateForm)){
   SubmitHidden(UpdateForm);
 }
}

function submitFormDelete(){
  var updttype = document.getElementById('updttype');
  var form = document.getElementById('UpdateForm');
  updttype.value ='D';
  form.submit();
  
}
</script>
%START.OF.PAGE
<script>
var mandatoryFields = [];

%PATWEB08.05.300

function checkDynamicMandatoryFields() {
   for(i = 0; i < mandatoryFields.length; i++) {
      var field = mandatoryFields[i].field.replace(/ /g,"");
      var isMandatory = mandatoryFields[i].isMandatory.replace(/ /g,"");
      var fieldByName = UpdateForm[field];
     if(typeof fieldByName != 'undefined' ) {
        if(isMandatory === "1") {
          fieldByName.style.backgroundColor = "#FFFFE0";
        }
     }
   }
}
</script>

<body onload="PageLoad(event);checkDynamicMandatoryFields();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script language=javascript>document.write
("Update Birth Event");</script>
</span>
<form name=UpdateForm method=post action="patweb08.pbl" style="margin:0">
<input type=hidden name=reportno value="5">
<input type=hidden name=template value="2">
<input type=hidden name=urnumber value="%PATWEB08.05.003">
<input type=hidden name=preguniq value="%PATWEB08.05.102">
<input type=hidden name=brthuniq value="%PATWEB08.05.221">
<input type=hidden name=pmbev001 value="%PATWEB08.05.201">
<input type=hidden name=pmbev002 value="%PATWEB08.05.202">
<input type=hidden name=admissno value="%PATWEB08.05.081">
<input type=hidden name=nextpage value="0">
<input type=hidden name=updttype value="U">
<table align=center width=100% align=center border=0>
<tr><td class=DataLabel>Established Date</td>
    <td><input type="text" name="pmbev003" size="12" value="%PATWEB08.05.203"
        title="Date" readonly class=readonly>
       <img notab src="../images/DateLookup.gif" class="Icon"
        alt="Calendar" date="UpdateForm.pmbev003">
    Time
    <input type="text" name="pmbev004" size="8" value="%PATWEB08.05.204"
       readonly class=readonly title="Time"
         onblur="checkTime(this,'Time')">
       <img notab src="../images/DateTimeStamp.gif" class="Icon"
        alt="Current" date="UpdateForm.pmbev004" time="UpdateForm.pmbev004">
       <img notab src="../images/TimeLookup.gif" class="Icon"
        alt="Select Time" time="UpdateForm.pmbev004"></td>
<tr><td class=DataLabel >Type</td>
    <td><input type=hidden name=pmbev005 value="%PATWEB08.05.205">
        <select name=d_pmbev005 disabled>
        <option></option>
        <option value=001>Resuscitation</option>
        <option value=002>Congenital</option>
        <option value=003>Labour Event</option>
        </select></td></tr>
<tr><td class=DataLabel >Code</td>
    <td><input type=hidden name=pmbev006 value="%PATWEB08.05.206.1">
        <select name=pmbev006 disabled>
        <option></option>
        %PATWEB08.05.206.2
        </select></td></tr>
<tr><td class=DataLabel >Status</td>
    <td><select name=pmbev007 class=Mandatory>
        <option></option>
        %PATWEB08.05.207.2
        </select></td></tr>
<tr><td class=DataLabel>Description 1</td>
    <td><input type=text name=pmbev008 size=50 maxlength=50
        value="%PATWEB08.05.208">
    </td></tr>
<tr><td class=DataLabel>Description 2</td>
    <td><input type=text name=pmbev009 size=50 maxlength=50
        value="%PATWEB08.05.209">
    </td></tr>

<tr><td colspan=2 align=center>
  <input type=button value="Update" class="button" onclick="SubmitForm01();">
  <input type=button value="Delete" class="button" 
   onclick="submitFormDelete();">
    <input type=button value="Close" class="button"
     onclick="DFrameCloseRefresh()">
</td></tr>
</table>
</form>
<script type="text/javascript">
 RecordType="%PATWEB08.05.205";
 for (var i =0 ; i < document.UpdateForm.d_pmbev005.length; i++) {
  if (document.UpdateForm.d_pmbev005.options[i].value==RecordType) {
       document.UpdateForm.d_pmbev005.selectedIndex=i } };
</script>
