<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/patweb7709.js></script>
<script type="text/javascript">
function AddBreakdown() {
 if(validateMandatory(AddForm)){
   document.AddForm.redirect.value="patweb77.pbl?reportno=09&template=003"+
           "&fileflag=" + document.AddForm.fileflag.value.replace(/ /g,"+") +
           "&nzpfe001=" + document.AddForm.nzpfe001.value.replace(/ /g,"+") +
           "&nzpfe002=" + document.AddForm.nzpfe002.value.replace(/ /g,"+") +
           "&nzpfe003=" + document.AddForm.nzpfe003.value.replace(/ /g,"+") +
           "&nzpfe004=" + document.AddForm.nzpfe004.value.replace(/ /g,"+") +
           "&nzpfe005=" + document.AddForm.nzpfe005.value.replace(/ /g,"+") +
           "&nzpfe006=" + document.AddForm.nzpfe006.value.replace(/ /g,"+") 
   document.AddForm.redirec1.value="&brkdtype=" +
            document.AddForm.brkdtype.value +
           "&showrevn=" + document.AddForm.showrevn.value
   AddForm.submit();}
}
function ExitBreakdown() {
   document.AddForm.updttype.value=" "
   document.AddForm.showrevn.value=" "
   document.AddForm.redirect.value="patweb77.pbl?reportno=09&template=003"+
           "&fileflag=" + document.AddForm.fileflag.value.replace(/ /g,"+") +
           "&nzpfe001=" + document.AddForm.nzpfe001.value.replace(/ /g,"+") +
           "&nzpfe002=" + document.AddForm.nzpfe002.value.replace(/ /g,"+") +
           "&nzpfe003=" + document.AddForm.nzpfe003.value.replace(/ /g,"+") +
           "&nzpfe004=" + document.AddForm.nzpfe004.value.replace(/ /g,"+") +
           "&nzpfe005=" + document.AddForm.nzpfe005.value.replace(/ /g,"+") +
           "&nzpfe006=" + document.AddForm.nzpfe006.value.replace(/ /g,"+")
   document.AddForm.redirec1.value="&brkdtype=" +
           document.AddForm.brkdtype.value +
           "&showrevn=" + document.AddForm.showrevn.value
   AddForm.submit();
}
function DeleteInvoice(bdcode) {
   document.AddForm.updttype.value="D";
   document.AddForm.nzibh003.value=bdcode;
   document.AddForm.redirect.value="patweb77.pbl?reportno=09&template=003"+
           "&fileflag=" + document.AddForm.fileflag.value +
           "&nzpfe001=" + document.AddForm.nzpfe001.value.replace(/ /g,"+") +
           "&nzpfe002=" + document.AddForm.nzpfe002.value.replace(/ /g,"+") +
           "&nzpfe003=" + document.AddForm.nzpfe003.value.replace(/ /g,"+") +
           "&nzpfe004=" + document.AddForm.nzpfe004.value.replace(/ /g,"+") +
           "&nzpfe005=" + document.AddForm.nzpfe005.value.replace(/ /g,"+") +
           "&nzpfe006=" + document.AddForm.nzpfe006.value.replace(/ /g,"+")
document.AddForm.redirec1.value="&brkdtype=" + document.AddForm.brkdtype.value +
           "&showrevn=" + document.AddForm.showrevn.value
   AddForm.submit();
}
function SubmitForm() {
//    total=parseFloat(document.UpdateForm.rebate.value) + 
//         parseFloat(document.UpdateForm.patient.value); 
      total=parseFloat(document.UpdateForm.rebate.value); 

   if (parseFloat(document.UpdateForm.totalamt.value) != total ){
      alert("Total must be equal to the Fixed Fee of "+total);
    return;
    }
   document.UpdateForm.showrevn.value=" "
   document.UpdateForm.redirect.value="patweb77.pbl?reportno=09&template=003"+
           "&fileflag=" + document.UpdateForm.fileflag.value +
           "&nzpfe001=" + document.AddForm.nzpfe001.value.replace(/ /g,"+") +
           "&nzpfe002=" + document.AddForm.nzpfe002.value.replace(/ /g,"+") +
           "&nzpfe003=" + document.AddForm.nzpfe003.value.replace(/ /g,"+") +
           "&nzpfe004=" + document.AddForm.nzpfe004.value.replace(/ /g,"+") +
           "&nzpfe005=" + document.AddForm.nzpfe005.value.replace(/ /g,"+") +
           "&nzpfe006=" + document.AddForm.nzpfe006.value.replace(/ /g,"+")
   document.AddForm.redirec1.value="&brkdtype=R" +
           "&showrevn=" + document.UpdateForm.showrevn.value
   UpdateForm.submit();
}
function ShowHosp() {
  if(document.UpdateForm.ibcnmhos.value=="1") {
    InsertHospital.innerHTML=ShowHospital.innerHTML;
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);ShowHosp();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="ExitBreakdown();">
Update %PATWEB77.09.032 Breakdown - %PATWEB77.09.033
</span>
<form name=UpdateForm action=patweb77.pbl method=get style="margin:0">
  <input type=hidden name=reportno value=9>
  <input type=hidden name=template value=4>
  <input type=hidden name=updttype value="U">
  <input type=hidden name=filetype value="B">
  <input type=hidden name=fileflag value="%PATWEB77.09.023">
  <input type=hidden name=brkdtype value="%PATWEB77.09.029">
  <input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
  <input type=hidden name=nzpfe001 value="%PATWEB77.09.001.1">
  <input type=hidden name=nzpfe002 value="%PATWEB77.09.002.1">
  <input type=hidden name=nextpage value="3">
  <input type=hidden name=showrevn value="">
  <input type=hidden name=redirect value="">
  <input type=hidden name=rebate value="%PATWEB77.09.008">
  <input type=hidden name=patient value="%PATWEB77.09.009">

<div id=InsertHospital></div>

<table width=100% cellpadding=0 cellspacing=0 border=0 >

  <tr><td class=DataLabel width=25%>%STANDARD.01.017.CL</td>
      <td><input type=text name=d_nzpfe002 size=30 class=Readonly readonly
           value="%PATWEB77.09.002.0">
      </td>
      <td class=DataLabel>Maximum Funder <br>Contribution</td>
      <td class=DataField>
      <input type=text name=d_nzpfe009 size=15 value="%PATWEB77.09.009"
       readonly class="Number Readonly">
      </td>

  <tr><td class=DataLabel>Contract</td>
      <td><input type=text size=6 name=nzpfe003 maxlength=6 class=Readonly
           value="%PATWEB77.09.003.0" title="Contract" readonly
           onblur="valHfund(nzpfe003,funddesc,nzpfe004,tabldesc);">
          <input type=text size=20 name=funddesc title="Contract" readonly
           class=Readonly notab tabindex=-1 value="%PATWEB77.09.003.1">
      </td>
      <td class=DataLabel>Fixed Fees</td>
      <td class=DataField>
      <input type=text name=d_nzpfe008 size=15 value="%PATWEB77.09.008"
       readonly class="Number Readonly">
     </td></tr>

  <tr><td class=DataLabel>Table Type</td>
      <td><input type=text name=nzpfe004 value="%PATWEB77.09.004.0"
           size=8 maxlength=8 title="Contract Table" class=Readonly readonly
           onblur="valHfundTab(nzpfe003,nzpfe004,funddesc,tabldesc);">
          <input type=text size=20 name=tabldesc title="Contract Table"
           readonly notab class=Readonly tabindex=-1
           value="%PATWEB77.09.004.1">
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>

  <tr><td class=DataLabel>Casemix Code</td>
      <td><input type=text name=nzpfe005 size=9 maxlength=9
           title="Contract Procedure"
           value="%PATWEB77.09.005.0" class=Readonly readonly
           onblur="validateCode(35,nzpfe005,cmixdesc);">
          <input type=text size=40 name=cmixdesc
           title="Contact Procedure Description"
           readonly notab class=Readonly value="%PATWEB77.09.005.1">
     </td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     </tr>

  <tr><td class=DataLabel>Effective Date</td>
      <td class=DataField><input type=text size=12 name=nzpfe006
                           value="%PATWEB77.09.006" readonly
                           class="Readonly Date" title="Effective Date">
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>

<tr><td colspan=5><hr></td></tr>
%PATWEB77.09.034

<tr><td colspan=2 align=center><br>
  <input type=button value=Update id=updbtn class="button" tabindex=15
   onclick="tempDisable(this);SubmitForm();">
  <input type=button value=Close class="button" tabindex=16
   onclick='ExitBreakdown();'>
</td></tr>
  <input type=hidden name=totalamt value="%PATWEB77.09.035"> 
</table>
</form>

<form name=AddForm action=patweb77.pbl method=post style="margin:0">
  <input type=hidden name=reportno value=9>
  <input type=hidden name=template value=4>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=filetype value="B">
  <input type=hidden name=nextpage value="3">
  <input type=hidden name=showrevn value="1">
  <input type=hidden name=redirect >
  <input type=hidden name=redirec1 >
  <input type=hidden name=fileflag value="%PATWEB77.09.023">
  <input type=hidden name=brkdtype value="%PATWEB77.09.029">
  <input type=hidden name=nzpfe001 value="%PATWEB77.09.001.1">
  <input type=hidden name=nzpfe002 value="%PATWEB77.09.002.1">
  <input type=hidden name=nzpfe003 value="%PATWEB77.09.003.0">
  <input type=hidden name=nzpfe004 value="%PATWEB77.09.004.0">
  <input type=hidden name=nzpfe005 value="%PATWEB77.09.005.0">
  <input type=hidden name=nzibh003 >
  <input type=hidden name=nzpfe006 value="%PATWEB77.09.006">

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
  <tr><td class=DataLabel>Type</td>
    <td><select name=nzibh001 class=Mandatory title="Type">
        <option></option>
        %STANDARD.01.007.FI
        </select>
    </td>
  <td class=DataLabel>Amount</td>
  <td><input type=text class="Mandatory Number" name=nzibh002  size=17
       min=0 max=99999999999999.99  title=Amount
       onchange="RoundNumber(this,2);" onKeyDown="return TrapEnterKey();"></td>
  <td><input type=button value=Add class="button" onclick=AddBreakdown();>
</table>
</form>

<div id=ShowHospital style="display: none">
<table width="100%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td class=DataLabel width=25%>Hospital</td>
    <td class=DataField> 
    <input type=text name=d_nzpfe001 class="Readonly" readonly
     value="%PATWEB77.09.001.0">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</div>

