<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
%START.OF.PAGE
</head>
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Update Working Diagnosis for  - %PATWEB93.05.002 
  - (UR - %PATWEB93.05.003 Visit - %PATWEB93.05.081)
</span>
<div id=PageBodySection>
<form name=PatCondPopup method=post style="margin:0" %PATWEB93.05.101 
<input type=hidden name=pmswo002 value="%PATWEB93.05.202">
<input type=hidden name=pmswo003 value="%PATWEB93.05.203">
<input type=hidden name=pmswo004 value="%PATWEB93.05.204">
<input type=hidden name=ptrgm001 value="%PATWEB93.05.114">
<input type=hidden name=ptrgm002 value="%PATWEB93.05.115">
<input type=hidden name=ptrgm003 value="%PATWEB93.05.116">
<input type=hidden name=categova value="%STANDARD.01.017.va">
<input type=hidden name=categovb value="%STANDARD.01.017.vb">
<input type=hidden name=categovc value="%STANDARD.01.017.vc">
<input type=hidden name=categovd value="%STANDARD.01.017.vd">
<input type=hidden name=categove value="%STANDARD.01.017.ve">
<input type=hidden name=categovf value="%STANDARD.01.017.vf">
<input type=hidden name=categovg value="%STANDARD.01.017.vg">
<input type=hidden name=categovh value="%STANDARD.01.017.vh">
<input type=hidden name=upworkdg value="1">

<table border=0 align=center width=100%>
<tr id=userDefined1 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.va</td>
    <td><select name=pmswo011 title="%STANDARD.01.017.va" class=selectBig>
        <option></option>
        %PATWEB93.05.218.2
        </select>
    </td></tr>

<tr id=userDefined2 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vb</td>
    <td><select name=pmswo012 title="%STANDARD.01.017.vb" class=selectBig>
        <option></option>
        %PATWEB93.05.219.2
        </select>
    </td></tr>

<tr id=userDefined3 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vc</td>
    <td><select name=pmswo013 title="%STANDARD.01.017.vc" class=selectBig>
        <option></option>
        %PATWEB93.05.220.2
        </select>
    </td></tr>

<tr id=userDefined4 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vd</td>
    <td><select name=pmswo014 title="%STANDARD.01.017.vd" 
        class="Mandatory selectBig">
        <option></option>
        %PATWEB93.05.221.2
        </select>
    </td></tr>

<tr id=userDefined5 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.ve</td>
    <td><select name=pmswo015 title="%STANDARD.01.017.ve" class=selectBig>
        <option></option>
        %PATWEB93.05.222.2
        </select>
    </td></tr>

<tr id=userDefined6 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vf</td>
    <td><select name=pmswo016 title="%STANDARD.01.017.vf" class=selectBig>
        <option></option>
        %PATWEB93.05.223.2
        </select>
    </td></tr>

<tr id=userDefined7 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vg</td>
    <td><select name=pmswo017 title="%STANDARD.01.017.vg" class=selectBig>
        <option></option>
        %PATWEB93.05.224.2
        </select>
    </td></tr>

<tr id=userDefined8 style='display:none;'>
    <td class=DataLabel>%STANDARD.01.017.vh</td>
    <td><select name=pmswo018 title="%STANDARD.01.017.vh" class=selectBig>
        <option></option>
        %PATWEB93.05.225.2
        </select>
    </td></tr>

<tr id=userChk0 style='display:none;'>
    <td class=DataLabel id=chkLab0></td>
    <td><input type=checkbox id=userchk0id name=userchk0 value=1>
        <span class=buttonInd0></span>
    </td></tr>

<tr id=userChk1 style='display:none;'>
    <td class=DataLabel id=chkLab1></td>
    <td><input type=checkbox id=userchk1id name=userchk1 value=1>
        <span class=buttonInd1>&nbsp;</span>
    </td></tr>

<tr id=userChk2 style='display:none;'>
    <td class=DataLabel id=chkLab2></td>
    <td><input type=checkbox id=userchk2id name=userchk2 value=1>
        <span class=buttonInd2></span>
    </td></tr>

<tr id=userChk3 style='display:none;'>
    <td class=DataLabel id=chkLab3></td>
    <td><input type=checkbox id=userchk3id name=userchk3 value=1>
        <span class=buttonInd3></span>
    </td></tr>

<tr id=userChk4 style='display:none;'>
    <td class=DataLabel id=chkLab4></td>
    <td><input type=checkbox id=userchk4id name=userchk4 value=1>
        <span class=buttonInd4></span>
    </td></tr>

<tr id=userChk5 style='display:none;'>
    <td class=DataLabel id=chkLab5></td>
    <td><input type=checkbox id=userchk5id name=userchk5 value=1>
        <span class=buttonInd5></span>
    </td></tr>

<tr id=userChk6 style='display:none;'>
    <td class=DataLabel id=chkLab6></td>
    <td><input type=checkbox id=userchk6id name=userchk6 value=1>
        <span class=buttonInd6></span>
    </td></tr>

<tr id=userChk7 style='display:none;'>
    <td class=DataLabel id=chkLab7></td>
    <td><input type=checkbox id=userchk7id name=userchk7 value=1>
        <span class=buttonInd7></span>
    </td></tr>

<tr id=userChk8 style='display:none;'>
    <td class=DataLabel id=chkLab8></td>
    <td><input type=checkbox id=userchk8id name=userchk8 value=1>
        <span class=buttonInd8></span>
    </td></tr>

<tr id=userChk9 style='display:none;'>
    <td class=DataLabel id=chkLab9></td>
    <td><input type=checkbox id=userchk9id name=userchk9 value=1>
        <span class=buttonInd9></span>
    </td></tr>

<tr><td align=center colspan=2>
<input name=vsc18009 id=vsc18009 type=hidden value="%PATWEB93.05.113.009">
<input name=vsc18010 id=vsc18010 type=hidden value="%PATWEB93.05.113.010">
<input type=button value="Update" class=button id=btnUpdate
       onclick='tempDisable(this);SaveForm()'>
<input type=button value="Cancel" class=button
       onclick="DFrameCloseRefresh();">
</td></tr>
</table>
</div>
</form>
 
<script type="text/javascript">
function SaveForm() {
  if (validateMandatory(PatCondPopup)) {
    document.PatCondPopup.submit();
  }
}
function init() {
  var el;
  if(document.PatCondPopup.categova.value!=""){
    el=document.getElementById("userDefined1");
    el.style.display="";
  }
  if(document.PatCondPopup.categovb.value!=""){
    el=document.getElementById("userDefined2");
    el.style.display="";
  }
  if(document.PatCondPopup.categovc.value!=""){
    el=document.getElementById("userDefined3");
    el.style.display="";
  }
  if(document.PatCondPopup.categovd.value!=""){
    el=document.getElementById("userDefined4");
    el.style.display="";
  }
  if(document.PatCondPopup.categove.value!=""){
    el=document.getElementById("userDefined5");
    el.style.display="";
  }
  if(document.PatCondPopup.categovf.value!=""){
    el=document.getElementById("userDefined6");
    el.style.display="";
  }
  if(document.PatCondPopup.categovf.value!=""){
    el=document.getElementById("userDefined7");
    el.style.display="";
  }
  if(document.PatCondPopup.categovh.value!=""){
    el=document.getElementById("userDefined8");
    el.style.display="";
  }
}
</script>
