<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb88.js"></script>
<script type="text/javascript">
function ShowMapping(TableName, TableIndex) {
  var sLinkURL = "patweb88.pbl?reportno=40&template=007" +
                 "&maptbnam=" + TableName +
                 "&ptico001=" + TableIndex;

  var Width = 820;
  var Height = 350;
  var Left = (document.body.clientWidth-Width)/2;
  var Top = (document.body.clientHeight-Height)/2;

  DFrameLink(sLinkURL,Top,Left,Width,Height);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=UpdateForm method=post action=patweb88.pbl>
<input type=hidden name=reportno value="40">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value=""> 
<input type=hidden name=nextpage value="1">
<input type=hidden name=ptcnhdps value="%STANDARD.01.025.080.250.1.1">
<input type=hidden name=redirect value="patweb88.pbl?reportno=40&template=001">

<table border=1 width=100% align=center cellspacing="0" cellpadding="0">
<tr><td class=HeadingCell align=center>ICD10 Edition 12 Procedure Code Maintenance</td></tr>

<tr><td>
<table border=1 width=100% cellspacing="0" cellpadding="0">
   <tr><td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel>Procedure Code</td>
          <td><input type=text name=ptico001 class=Readonly 
               title="Procedure Code" readonly
               value="%PATWEB88.40.004" size=9 maxlength=9></td></tr>
      <tr><td class=DataLabel>Description</td>
          <td><textarea rows=2 cols=121 name=ptico002 wrap=soft class=Mandatory
                        style="font-family:Arial;font-size:8pt;overflow:hidden;
                              resize:none"
                        onkeydown="LimitText(this,2,200);">%PATWEB88.40.041
              </textarea></td></tr>
   </table>
   </td>
   <td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel>Validity of Code</td></tr>
      <tr><td class=DataLabel>Posting Record
          <input type=radio name=ptico003 title="Validity of Code" value=0 >
          Header Record<input type=radio name=ptico003 
          title="Validity of Code" value=1></td></tr>
   </table>
   </td>
   <td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel>Block Number</td>
          <td><input type=text name=ptico004 title="Block Number"
               class=JustifyRight
               value="%PATWEB88.40.007" size=4 maxlength=4</td></tr>
   </table>
   </td>
</td></tr>
</table>

<tr><td colspan=3>
<table border=1 width=100% cellspacing="0" cellpadding="0">
   <tr><td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td valign=top><b>Sex Edit</b></td></tr>
      <tr><td class=DataLabel>No Restraint</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Reject if male</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Warn if male or indeterminate</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=2></td></tr>
      <tr><td class=DataLabel>Reject if female</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=3></td></tr>
      <tr><td class=DataLabel>Warn if female or indeterminate</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=4></td></tr>
      <tr><td class=DataLabel>Reject if female/No Explanation code</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=5></td></tr>
      <tr><td class=DataLabel>Reject if male/No Explanation code</td>
          <td><input type=radio name=ptico011 title="Sex Edit"
               value=6></td></tr>
      <tr><td class=DataLabel><b>Asterisk/dagger type</b></td><tr>
      <tr><td class=DataLabel>Not an asterisk/dagger code</td>
          <td><input type=radio name=ptico012 title="Asterisk/dagger Type"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Asterisk code</td>
          <td><input type=radio name=ptico012 title="Asterisk/dagger Type"
               value=1></td></tr>
      <tr><td class=DataLabel>Dagger code</td>
          <td><input type=radio name=ptico012 title="Asterisk/dagger Type"
               value=2></td></tr>
      <tr><td class=DataLabel>Suggested asterisk code</td>
          <td><input type=text name=ptico013 title="Suggested asterisk code" 
               value="%PATWEB88.40.016" size=5 maxlength=9</td></tr>
      <tr><td class=DataLabel><B>Area edit</td></tr>
      <tr><td class=DataLabel>No restraint</td>
          <td><input type=radio name=ptico015 title="Area Edit"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Reject if code found</td>
          <td><input type=radio name=ptico015 title="Area Edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Warn if code found</td>
          <td><input type=radio name=ptico015 title="Area Edit"
               value=2></td></tr>
      <tr id="trAreaEdit3">
          <td class=DataLabel>
            Reject if Care Type not 10 (Posthumous Organ Procurement)</td>
          <td><input type=radio name=ptico015 title="Area Edit"
               value=3></td></tr>
   </table>
   </td>

   <td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel><B>Dagger & asterisk edit</td></tr>
      <tr><td class=DataLabel>No Restraint</td>
          <td><input type=radio name=ptico014 title="Dagger & asterisk edit"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Reject if no following asterisk code</td>
          <td><input type=radio name=ptico014 title="Dagger & asterisk edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Warn if no following asterisk code</td>
          <td><input type=radio name=ptico014 title="Dagger & asterisk edit"
               value=2></td></tr>
      <tr><td class=DataLabel>Reject if no preceding dagger code</td>
          <td><input type=radio name=ptico014 title="Dagger & asterisk edit"
               value=3></td></tr>
      <tr><td class=DataLabel><B>Complex mappings format</td></tr>
      <tr><td class=DataLabel>No complex mappings</td>
          <td><input type=radio name=ptico017 title="Complex mapping format"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Obsterics (ICD)</td>
          <td><input type=radio name=ptico017 title="Dagger & asterisk edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Head injuries (ICD)</td>
          <td><input type=radio name=ptico017 title="Dagger & asterisk edit"
               value=2></td></tr>
      <tr><td class=DataLabel>Tendon injuries (ICD)</td>
          <td><input type=radio name=ptico017 title="Dagger & asterisk edit"
               value=3></td></tr>
      <tr><td class=DataLabel>Pacemakers (ICO)</td>
          <td><input type=radio name=ptico017 title="Dagger & asterisk edit"
               value=4></td></tr>
      <tr><td class=DataLabel>Social induction (ICD & ICO)</td>
          <td><input type=radio name=ptico017
               title="Social induction (ICD & ICO)" value=5></td></tr>
      <tr><td class=DataLabel>Medical augment (ICD & ICO)</td>
          <td><input type=radio name=ptico017
               title="Medical augment (ICD & ICO)" value=6></td></tr>
      <tr><td class=DataLabel>2-3 Maps (ICO)</td>
          <td><input type=radio name=ptico017 title="2-3 Maps (ICO)"
               value=7></td></tr>
      <tr><td class=DataLabel>2-3 Maps (ICD)</td>
          <td><input type=radio name=ptico017 title="2-3 Maps (ICD)"
               value=8></td></tr>
   </table>
   </td>
   <td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel><b>Age Group Edit</b></td></tr>
      <tr><td class=DataLabel>No Restraint</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Reject if within month range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Warn if within month range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=2></td></tr>
      <tr><td class=DataLabel>Reject if within year range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=3></td></tr>
      <tr><td class=DataLabel>Warn if within year range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=4></td></tr>
      <tr><td class=DataLabel>Reject if outside year range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=5></td></tr>
      <tr><td class=DataLabel>Warn if outside year range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=6></td></tr>
      <tr><td class=DataLabel>Reject if outside month range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=7></td></tr>
      <tr><td class=DataLabel>Warn if outside month range</td>
          <td><input type=radio name=ptico005 title="Age Group Edit"
               value=8></td></tr>
      <tr><td class=DataLabel>Reject if within day range</td>
          <td><input type=radio name=ptico005 title="Age group Edit"
               value=9></td></tr>
      <tr><td class=DataLabel>Warn if within day range</td>
          <td><input type=radio name=ptico005 title="Age group Edit"
               value="A"></td></tr>
      <tr><td class=DataLabel>Reject if outside day range</td>
          <td><input type=radio name=ptico005 title="Age group Edit"
               value="B"></td></tr>
      <tr><td class=DataLabel>Warn if outside day range</td>
          <td><input type=radio name=ptico005 title="Age group Edit"
               value="C"></td></tr>
      <tr><td class=DataLabel>Age low limit</td>
          <td><input type=text name=ptico006 title="Age Low Limit" 
               value="%PATWEB88.40.054" size=3 maxlength=3
               class=Integer min=0 max=999</td></tr>
      <tr><td class=DataLabel>Age high limit</td>
          <td><input type=text name=ptico007 title="Age high limit"
               value="%PATWEB88.40.055" size=3 maxlength=3
               class=Integer min=0 max=999</td></tr>
   </table>
   </td>
   <td valign=top>
   <table border=0 width=100% cellspacing="0" cellpadding="0">
      <tr><td class=DataLabel><b>2nd Age Group Edit</b></td></tr>
      <tr><td class=DataLabel>No Restraint</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=0 ></td></tr>
      <tr><td class=DataLabel>Reject if within month range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=1></td></tr>
      <tr><td class=DataLabel>Warn if within month range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=2></td></tr>
      <tr><td class=DataLabel>Reject if within year range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=3></td></tr>
      <tr><td class=DataLabel>Warn if within year range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=4></td></tr>
      <tr><td class=DataLabel>Reject if outside year range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=5></td></tr>
      <tr><td class=DataLabel>Warn if outside year range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=6></td></tr>
      <tr><td class=DataLabel>Reject if outside month range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=7></td></tr>
      <tr><td class=DataLabel>Warn if outside month range</td>
          <td><input type=radio name=ptico008 title="2nd Age Group Edit"
               value=8></td></tr>
      <tr><td class=DataLabel>Reject if within day range</td>
          <td><input type=radio name=ptico008 title="2nd Age group Edit"
               value=9></td></tr>
      <tr><td class=DataLabel>Warn if within day range</td>
          <td><input type=radio name=ptico008 title="2nd Age group Edit"
               value="A"></td></tr>
      <tr><td class=DataLabel>Reject if outside day range</td>
          <td><input type=radio name=ptico008 title="2nd Age group Edit"
               value="B"></td></tr>
      <tr><td class=DataLabel>Warn if outside day range</td>
          <td><input type=radio name=ptico008 title="2nd Age group Edit"
               value="C"></td></tr>
      <tr><td class=DataLabel>2nd Age low limit</td>
          <td><input type=text name=ptico009 title="2nd Age low limit" 
               value="%PATWEB88.40.056" size=3 maxlength=3
               class=Integer min=0 max=999</td></tr>
      <tr><td class=DataLabel>2nd Age high limit</td>
          <td><input type=text name=ptico010 title="2nd Age high limit"
               value="%PATWEB88.40.057" size=3 maxlength=3
               class=Integer min=0 max=999</td></tr>
   </table>
   </td>
</table>
</td></tr>

<tr><td colspan=3>
<table border=1 width=100% cellspacing="0" cellpadding="0">
  <tr>
   <td valign=top width=29%>
   <table width=100% border=0 cellspacing=0 cellpadding=0>
      <tr><td class=DataLabel>Valid ICD10 Edition 4 code</td>
          <td><input type=checkbox name=ptico023
               title="Valid ICD10 Edition 4 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 5 code</td>
          <td><input type=checkbox name=ptico024
               title="Valid ICD10 Edition 5 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 6 code</td>
          <td><input type=checkbox name=ptico026
               title="Valid ICD10 Edition 6 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 7 code</td>
          <td><input type=checkbox name=ptico027
               title="Valid ICD10 Edition 7 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 8 code</td>
          <td><input type=checkbox name=ptico028
               title="Valid ICD10 Edition 8 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 9 code</td>
          <td><input type=checkbox name=ptico029
               title="Valid ICD10 Edition 9 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 10 code</td>
          <td><input type=checkbox name=ptico030
               title="Valid ICD10 Edition 10 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 11 code</td>
          <td><input type=checkbox name=ptico031
               title="Valid ICD10 Edition 11 code" value=1>
               </td></tr>
      <tr><td class=DataLabel>Valid ICD10 Edition 12 code</td>
          <td><input type=checkbox name=ptico032
               title="Valid ICD10 Edition 12 code" value=1>
               </td></tr>
   </table>
   </td>
   <td valign=top width=25%>&nbsp;</td>
   <td valign=top>
   <table width=100% border=0 cellspacing=0 cellpadding=0>
      <tr><td class=DataLabel><b>Coding Practice</b></td>
          <td class=DataLabel></td></tr>
      <tr><td class=DataLabel>Procedure Date and Time Non-Mandatory</td>
          <td><input type=checkbox name=ptico025
               title="Procedure Date/Time mandatory" value=1></td></tr>
      <tr><td class=DataLabel>Unplanned Return to Theatre Flag</td>
          <td><input type=checkbox name=ptico033
               title="Unplanned Return to Theatre Flag" value=F></td></tr>
   </table>
   </td></tr>
</table>
</td></tr>

<tr><td colspan=4 align=center>
    <input type=button value="Update" class="button"
     onclick="setFormactn('U');">
    <input type=button value="Delete" class="button"
     onclick="setFormactn('D');">
    <input type=button value="Mapping" class="button"
       onclick="ShowMapping('pat10oxf',document.UpdateForm.ptico001.value);"> 
    <input type=button value="Cancel" class="button"
     onclick="ICD10Tab40();">
     
</td></tr>
</table>
</form>

<form name=LinkForm method=get action=patweb88.pbl>
<input type=hidden name=reportno value="">
<input type=hidden name=template value="">
</form>

<script type="text/javascript">
var RadioIndex="%PATWEB88.40.006"
if(RadioIndex!=3) {
document.UpdateForm.ptico003[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.008
if(RadioIndex!="13") {
document.UpdateForm.ptico005[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.011
if(RadioIndex!="13") {
document.UpdateForm.ptico008[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.014
if(RadioIndex!=7) {
document.UpdateForm.ptico011[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.015
if(RadioIndex!=3) {
document.UpdateForm.ptico012[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.017
if(RadioIndex!=4) {
document.UpdateForm.ptico014[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.018
if(RadioIndex!=4) {
document.UpdateForm.ptico015[RadioIndex].checked=1 // Set Current Checked Value
}
var RadioIndex=%PATWEB88.40.020
if(RadioIndex!=9) {
document.UpdateForm.ptico017[RadioIndex].checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.022"==1) {
  document.UpdateForm.ptico018.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.023"==1) {
  document.UpdateForm.ptico019.checked=1 // Set Current Checked Value
}
//if("%PATWEB88.40.025"==1) {
//  document.UpdateForm.ptico021.checked=1 // Set Current Checked Value
//}
if("%PATWEB88.40.029"==1) {
  document.UpdateForm.ptico023.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.032"==1) {
  document.UpdateForm.ptico024.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.037"==1) {
  document.UpdateForm.ptico025.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.038"==1) {
  document.UpdateForm.ptico026.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.042"==1) {
  document.UpdateForm.ptico027.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.045"==1) {
  document.UpdateForm.ptico028.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.048"==1) {
  document.UpdateForm.ptico029.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.051"==1) {
  document.UpdateForm.ptico030.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.060"==1) {
  document.UpdateForm.ptico031.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.064"==1) {
  document.UpdateForm.ptico032.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.064"==1) {
  document.UpdateForm.ptico032.checked=1 // Set Current Checked Value
}
if("%PATWEB88.40.065"=="F") {              
  document.UpdateForm.ptico033.checked=1 // Set Current Checked Value
}
if (document.UpdateForm.ptcnhdps.value != "3") {
  document.getElementById('trAreaEdit3').style.display = "none";
}
</script>
