<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<style type="text/css">
  span.ProgressBar {
    color:black;
    background-image:url(../images/ProgressBar.gif);
    height:10px;
    width:200px;
    text-align:center;
  }
input.orangebutton {
      font-size:8pt; width:90px; background-color:orange; border:1px solid;
      cursor: pointer;
}
</style>
<script type="text/javascript">
function SelectPeriodOS() {
  ProgressBar.innerHTML="ERA being processed...";
  ProgressBar.className="ProgressBar";
}
function FilterSubmit() {
   document.SelectPeriod.submit();
}
function exdtblankchange () {
  document.SelectPeriod.exdtblnk.value=0;
  if (document.SelectPeriod.lastdate!=undefined) {
    if (isWhitespace(document.SelectPeriod.lastdate.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
  if (document.SelectPeriod.vyearmth!=undefined) {
    if (isWhitespace(document.SelectPeriod.vyearmth.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
}
function releaseRem(fundtrid,remadv,partnum,hospcode,paymref,depamt,button,depoamt,claimamt) {

if (depoamt.replace(/\+/g,'0') > claimamt.replace(/\+/g,'0')){
  alert("Benefit amount is more than Claim amount.");
}
//alert(depoamt+" "+claimamt);
//alert(fundtrid+"|"+remadv+"|"+partnum+"|"+hospcode+"|"+paymref+"|"+depamt);
    paymref=paymref.replace(/\+/g,' ');
//alert();
//    if (!confirm("Payment Reference: "+paymref+"\nOk to release selected ERA?"))
//    {
//      return;
//    }
    button.disabled=true;
    button.value="Processing...";
    button.className="orangebutton";
    document.SelectPeriod.updatety.value="L";
    document.SelectPeriod.fundtrid.value=fundtrid;
    document.SelectPeriod.remitadv.value=remadv;
    document.SelectPeriod.partnumb.value=partnum;
    document.SelectPeriod.hospcode.value=hospcode;
    loopAndDisableButtons();
    //alert(partcode+" "+remadv+" "+partnum);
    //subPartCode()
  DFrameStart()

  linkurl="../cgi-bin/patweb93.pbl?reportno=19&template=006"+
          "&fundtrid="+fundtrid+
          "&ecreadvc="+remadv+
          "&ecreptno="+partnum+
          "&hospcode="+hospcode+
          "&updatety=R";
  Left=(document.body.clientWidth-600)/2
  DFrameLink(linkurl,100,Left,600,150)
}
function subPartCode() {
  SelectPeriodOS();
  document.SelectPeriod.submit();
}
function displayRemH(eradate,fundtrid,remadv,partnum,hospcode,templno) {
//  alert(fundtrid+"|"+remadv+"|"+partnum);
  DFrameStart()

  linkurl="../cgi-bin/patweb93.pbl?reportno=19&template="+templno+
          "&fundtrid="+fundtrid+
          "&ecreadvc="+remadv+
          "&ecreptno="+partnum+
          "&hospcode="+hospcode+
          "&updatety=R";
  Left=(document.body.clientWidth-600)/2
  DFrameLink(linkurl,100,Left,600,350)
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",35,55);
 t.addColumn("Advice No","String",7,7,"left","","",50)
 t.addColumn("Run Date","String",9,9,"left","","",50)
 t.addColumn("Payer","String",6,6,"left","","",50)
 t.addColumn("Part","String",1,1,"left","","",50)
 t.addColumn("Status","String",2,2,"left","","",50)
 t.addColumn("Deposit<br>Amount","String",3,3,"left","","",75)
 t.addColumn("Claim<br>Amount","String",4,4,"left","","",75)
 t.addColumn("Fund Transaction ID","String",8,8,"left","","",75)
 t.addColumn("Payment<br>Reference","String",5,5,"left","","","")
 t.addColumn("Hospital","String",10,10,"left","","","")
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
 break; 
  }
 }
}
function loopAndDisableButtons() {
  if (findOrangeButton()) {
    var elem = document.getElementById('SelectPeriod').elements;
    for (var i=0; i < elem.length; i++) {
      if (elem[i].type=='button') {
        if (elem[i].value=='Release') {
          elem[i].disabled=true;
        }
      }
    }
  }
}
function loopAndDisableButtonsRefresh() {
  if (findOrangeButton()) {
    var elem = document.getElementById('SelectPeriod').elements;
    for (var i=0; i < elem.length; i++) {
      if (elem[i].type=='button') {
        if (elem[i].value=='Release') {
          elem[i].disabled=true;
        }
      }
    }
    setTimeout("StdPageRefresh();",10000);
  }
}
function findOrangeButton() {
  var elem = document.getElementById('SelectPeriod').elements;
  for (var i=0; i < elem.length; i++) {
    if (elem[i].className=='orangebutton') {
      return 1;
    }
  }
  return 0;
}
function showHospital() {
  if(document.SelectPeriod.ibcnmhos.value=="1") {
    document.getElementById('Hospital').innerHTML=
    document.getElementById('ShowHospital').innerHTML
  } else {
    document.getElementById('Hospital').innerHTML=
    document.getElementById('ShowNoHospital').innerHTML
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);loopAndDisableButtonsRefresh();
 showHospital();">
<div id=HeadingSection style="display: none;">
</div>
<form id=SelectPeriod name=SelectPeriod action=patweb93.pbl method=get style="margin:0">
  <input type=hidden id=reportno name=reportno value=19>
  <input type=hidden id=template name=template value=7>
  <input type=hidden id=updatety name=updatety value=" ">
  <input type=hidden id=nextpage name=nextpage value="6">
  <input type=hidden id=fundtrid name=fundtrid value=" ">
  <input type=hidden id=remitadv name=remitadv value=" ">
  <input type=hidden id=partnumb name=partnumb value=" ">
  <input type=hidden id=hospcode name=hospcode value=" ">
  <input type=hidden id=exdtblnk name=exdtblnk value="%PATWEB93.19.034">
  <input type=hidden id=viewtype name=viewtype value="%PATWEB93.19.033">
  <input type=hidden id=selprint name=selprint value=" ">
  <input type=hidden id=multlt01 name=multlt01 value=" ">
  <input type=hidden id=ibcnmhos name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
  <input type=hidden id=deftallh name=deftallh value="1">

<table cellpading=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
</table>
<table cellpading=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>

<tr><td align=left class=DataLabel>
    <span id=ProgressBar></span>
    </td>
    <td class=DataLabel align=left><div id="Hospital"></div></td>
    <td align=right>Health Fund Run Date
    <input type=button value="<<" class=SmallButton
     onclick='location.href="%PATWEB93.19.031"'>
    %PATWEB93.19.030
    <input type=button value=">>" class=SmallButton
     onclick='location.href="%PATWEB93.19.032"'>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectDateFrame();'>
    <img src="../images/DateLookup.gif" border=0
     alt="Select Date" class=Icon></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("0");'>
    <img src=../images/DayIcon.gif border=0
     alt="View Today" class=Icon></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("1");'>
    <img src=../images/WeekIcon.gif border=0
     alt="View This Week" class=Icon></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("2");'>
    <img src=../images/MonthIcon.gif border=0
     alt="View This Month" class=Icon></a>
    </td>
</tr>

</table>
</form>
<div id=TableLocation></div>

<span id=ShowHospital style="display:none">
  Hospital&nbsp;
  <select id=filthosp name=filthosp title="Hospital"
   onchange="FilterSubmit();">
   <option value="   ">All</option>
   %PATWEB93.19.035
  </select>
</span>

<span id=ShowNoHospital style="display:none">
  <input type=hidden id=filthosp name=filthosp value="    ">
</span>

<script type="text/javascript">
function AddTableRows() {
%PATWEB93.19.001.0.1.0
%PATWEB93.19.001.0.1.1
%PATWEB93.19.001.0.1.3
}
</script>

<script type="text/javascript">
</script>
