<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/patweb99.js"> </script>
</head>
<script>
function AddCode(){
    linkurl="patweb99.pbl?reportno=12&template=005" +
            "&pmdun001=" + 
            document.getElementById("pmdun001").value.replace(/ /g,"+");
    Left=(document.body.clientWidth-550)/2
    DFrameLink(linkurl,0,Left,550,250)
}
function ShowDetail02(linkurl) {
  linkurl=linkurl.replace(/ /g,"+");
  Left=(document.body.clientWidth-550)/2
  DFrameLink(linkurl,0,Left,550,250)
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode action="patweb99.pbl" method=get>
<input type=hidden name=reportno value=12>
<input type=hidden name=template value=4>
<input type=hidden name=pmdun001 id=pmdun001 value="%PATWEB99.12.408">
<input type=hidden name=pmdun002 id=pmdun002 value=" ">
<input type=hidden name=retnflag id=retnflag value="%PATWEB99.20.407">
<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
  <table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
  <tr><td class=MaintenanceHeading>
      Doctor/Unit Maintenance</td>
  </tr>
</table>

<table cellspacing=0 border=1 width=100%>
%PATWEB99.12.001.patweb99.12.006
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="bigbutton"
   onclick='location.href="%PATWEB99.12.201.004"'>
  <input type=button value="All" class="button"
   onclick='SetHCPReturn();'>
  <input type=button value="%PATWEB99.12.408" class="button"
   onclick='ViewDocHCP20("%PATWEB99.12.408");'>
  <input type=button value=Add class="button"
         onclick='AddCode()'>
  <input type=button value="Next >>" class="bigbutton"
   onclick='location.href="%PATWEB99.12.301.004"'>
</td></tr>
</table>
</td></tr>
</table>
</form>
