<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
<script type="text/javascript">
function submitBulkJrnlCharges() {
 if (validateMandatory(parent.document.UpdateForm)) {
   if (parseFloat(parent.document.UpdateForm.totjnamt.value)!=0) {
     if (parseFloat(parent.document.UpdateForm.totjnamt.value)!=
         parseFloat(document.SelectCode.bmchtotl.value)) {
       alert("Total not Balanced. "
           + "Total Journal Amount entered does not equal Bulk Journal Amount: "
           + document.SelectCode.bmchtotl.value);
       return;
     }
   }

   blkjrnccookie=GetCookieData("blkjour");
   if (blkjrnccookie!="unknown") {
     ExpireCookiePath("blkjour");
   }

   parent.document.UpdateForm.updttype.value='E';
   parent.document.UpdateForm.submit();
 }
}
function CloseAddScreen() {
 SetCookie("blkjour",parent.document.UpdateForm.totjnamt.value)
 linkurl="patweb75.pbl?reportno=18&template=1" +
         "&tmjrnbat=" + SelectCode.tmjrnbat.value.replace(/ /g,"+")
 parent.location.href=linkurl
}
function CheckUR() {
  var p=SelectCode;
  justifyRight(p.tmjrn001);
  validateCode(8,p.tmjrn001,p.patientn);
}
function CheckVisit() {
  var p=SelectCode;
  justifyRight(p.tmjrn002);
  validateVisit(p.tmjrn002,p.tmjrn001,p.dummyvty);
  validateCode(8,p.tmjrn001,p.patientn);
}
function CheckInvoice() {
 var p=SelectCode;
 var URFlag="0";
 if (isWhitespace(p.tmjrn003.value)) { return ;}
 var Url = "../cgi-bin/patweb80.pbl?reportno=51" +
           "&valdcode="+p.tmjrn003.value.replace(/ /g,"+") +
           "&valdtype=4";

 var returnValue = RSExecute(Url);
 if (returnValue.status==0) {
   ReturnValue=returnValue.return_value.split("|");
   p.tmjrn003.value=ReturnValue[0];
   justifyRight(p.tmjrn003);
   if(isWhitespace(p.tmjrn001.value)) {
     p.tmjrn001.value=ReturnValue[2];
     URFlag="1";
   }
   if(isWhitespace(p.tmjrn002.value)) {
     p.tmjrn002.value=ReturnValue[1];
   }
   if(ReturnValue[2]!=p.tmjrn001.value ||
      ReturnValue[1]!=p.tmjrn002.value) {
      invtotal.innerHTML="$";
      paytotal.innerHTML="$";
      jrntotal.innerHTML="$";
      osttotal.innerHTML="$";
      alert("This invoice is not for this U/R / Visit Number");
      p.tmjrn003.value="";
      p.tmjrn003.focus();
      return;
   }
   if(ReturnValue[10]=="1") {
      alert("This invoice is fully credited");
      p.tmjrn003.value="";
      p.tmjrn003.focus();
      return;
   }
   p.outstand.value=ReturnValue[4];
   invtotal.innerHTML="$" + ReturnValue[5];
   paytotal.innerHTML="$" + ReturnValue[7];
   jrntotal.innerHTML="$" + ReturnValue[11];
   osttotal.innerHTML="$" + ReturnValue[4];
   if(URFlag==1) {
     CheckUR();
   }
   return true;
 } else {
  p.tmjrn003.value="";
  p.tmjrn003.focus();
 }
}
function ClearAmount() {
  invtotal.innerHTML="$";
  paytotal.innerHTML="$";
  jrntotal.innerHTML="$";
  osttotal.innerHTML="$";
}
function SearchPatient() {
  var p=SelectCode;
  RCPPatientSearchFrame(p.tmjrn001,p.patientn,p.tmjrn002,p.systemcd);
}
function RCPPatientSearchFrame(ReturnUR,ReturnName,ReturnVisInv,systemcd){
  ReturnFunction="" ;
  for (var i=4; i < RCPPatientSearchFrame.arguments.length; i++) {
    if (typeof(RCPPatientSearchFrame.arguments[i]) == 'function') {
      ReturnFunction=RCPPatientSearchFrame.arguments[i] }
  }
  window.ReturnName=ReturnName ;
  window.ReturnUR=ReturnUR ;
  window.ReturnCode=ReturnVisInv ;
  window.IBASystem=parseInt(systemcd.value,10);
  window.SystemCode=systemcd;
  var PopUpFrameDoc = DFrameStart();
  PopUpFrameDoc.location.href = "patweb90.pbl?reportno=1&template=18";
  SearchFrameShow();
}
function SearchVisit() {
  var p=SelectCode;
  if(isWhitespace(p.tmjrn001.value)) { 
     alert("U/R Number is a required field");
     return;
  }
  window.ReturnCode=p.tmjrn002;
  window.ReturnUR=p.tmjrn001;
  window.ReturnName=p.patientn;
  var PopUpFrameDoc = DFrameStart();
  linkurl="../cgi-bin/patweb98.pbl?reportno=1&template=252" +
          "&srchview=1" + "&norecord=5" +
          "&urnumber=" + p.tmjrn001.value.replace(/ /g,"+");
  PopUpFrameDoc.location.href = linkurl;
  SearchFrameShow()
}
function SearchInvoice() {
  var p=SelectCode;
  if(isWhitespace(p.tmjrn001.value)) {
     alert("U/R Number is a required field");
     return;
  }
  if(isWhitespace(p.tmjrn002.value)) {
     alert("Visit Number is a required field");
     return;
  }
  window.ReturnCode=p.tmjrn003;
  var PopUpFrameDoc = DFrameStart();
  linkurl="../cgi-bin/patweb76.pbl?reportno=1&template=054" +
          "&urnumber=" + p.tmjrn001.value.replace(/ /g,"+") +
          "&admissno=" + p.tmjrn002.value.replace(/ /g,"+");
  PopUpFrameDoc.location.href = linkurl;
  SearchFrameShow()
}
function validateVisit(admissno,urnumber,visittyp)
{
  ReturnFunction="";
  for (var i=3; i < validateVisit.arguments.length; i++)
  {
    if (typeof(validateVisit.arguments[i]) == 'function')
    {
      ReturnFunction=validateVisit.arguments[i]
    } else {
      validateVisit.arguments[i].value="";
    }
  }

  if (isWhitespace(admissno.value)) return;;

  var serverURL = "../cgi-bin/patweb80.pbl?reportno=56" +
                  "&valdcode=" + admissno.value.replace(/ /g,"+") +
                  "&valdurno=" + urnumber.value.replace(/ /g,"+") +
                  "&valdtype=" + visittyp;

  var returnValue = RSExecute(serverURL);

  if (returnValue.status==0)
  {
    ReturnValue=returnValue.return_value.split("|");
    if (isWhitespace(urnumber.value))
    {
       urnumber.value=ReturnValue[1];
    }

    var warnflag=ReturnValue[2];

    if (warnflag==1)
    {
      alert("Warning: An Invoice already exists for this visit");
    }

    j=3

    for (var i=3; i < validateVisit.arguments.length; i++)
    {
       if (typeof(validateVisit.arguments[i]) != 'function')
       {
         j++
         validateVisit.arguments[i].value=ReturnValue[j]
       }
    }

    if (typeof(ReturnFunction) == 'function')
    {
       ReturnFunction();
    }
    return true;
  }
  else
  {
    admissno.value="";
    return false;
  }
}
function CheckJrnl() {
 if (isWhitespace(document.SelectCode.tmjrn003.value)) { return ;}
//
  var serverURL   = "../cgi-bin/comweb80.pbl?reportno=92" +
      "&valdbtch=" + document.SelectCode.tmjrnbat.value.replace(/ /g,"+") +
      "&valdurno=" + document.SelectCode.tmjrn001.value.replace(/ /g,"+") +
      "&valdvisn=" + document.SelectCode.tmjrn002.value.replace(/ /g,"+") +
      "&valdinvn=" + document.SelectCode.tmjrn003.value.replace(/ /g,"+") +
      "&valdjtyp=" + document.SelectCode.tmjrn004.value.replace(/ /g,"+");

  var returnValue = RSExecute(serverURL);

  if (returnValue.status != 0) { return; }

//
  CalcBal();
}

function CalcBal() {
  RoundNumber(document.SelectCode.tmjrn007,2);
  if (document.SelectCode.tmjrn007.value==0) { return;}

  if(document.SelectCode.tmjrn004.value.substr(14,1)!="R") {

   if(document.SelectCode.tmjrn004.value.substr(14,1)=="A") {
      jrnl=(-1*document.SelectCode.tmjrn007.value);
   } else {
      jrnl=document.SelectCode.tmjrn007.value;
   }

   SelectCode.newostnd.value=0.00;
   total=parseFloat(document.SelectCode.outstand.value) -
          parseFloat(jrnl);
   SelectCode.newostnd.value=parseFloat(document.SelectCode.outstand.value) -
          parseFloat(jrnl);
   RoundNumber(SelectCode.newostnd,2);

  SelectCode.newostnd.value = "$" + SelectCode.newostnd.value;
  document.getElementById("totalbal").innerText=SelectCode.newostnd.value;

   if (total < 0 ){
     if (!confirm("Warning: Account will be in credit!\n Ok to Continue ?")) {
      document.SelectCode.tmjrn007.value=0;
      document.SelectCode.newostnd.value=0;
      document.getElementById("totalbal").innerText="";
      document.SelectCode.tmjrn007.focus();
      return;
     }
   }
  }

}
function AddJournal() { 
   if(!validateMandatory(document.SelectCode)) {
      return; }
   document.SelectCode.nextpage.value=1; 
   document.all.SelectCode.submit();
}
function ShowGST(){
   if(document.SelectCode.tmjrn004.value.substr(14,1)=="G") {
      GST.style.display="";
      GST.innerHTML=DisplayGST.innerHTML;
   } else {
      GST.innerHTML="";
      GST.style.display="none";
   }
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="CloseAddScreen();">
Input Bulk Journal
</span>
<form name=SelectCode action=patweb75.pbl method=post>
<table align=center border=0 width=95% cellspacing=0 cellpadding=0>
<input type=hidden name=reportno value=18>
<input type=hidden name=template value=2>
<input type=hidden name=updttype value=A>
<input type=hidden name=nextpage value=0>
<input type=hidden name=redirect value="patweb75.pbl?reportno=18&template=2">
<input type=hidden name=bmchtotl value="%PATWEB75.18.018">
<input type=hidden name=tmjrnbat value="%PATWEB75.18.009">
<input type=hidden name=dummy value="">
<input type=hidden name=dummyvty value="">
<input type=hidden name=systemcd>
<input type=hidden name=outstand value="0">
<input type=hidden name=newostnd value="0">

<tr><td class=DataLabel width=30%>U/R Number</td>
    <td><input type=text name="tmjrn001" title="U/R Number" size=10
         class="Mandatory" maxlength=8 onchange="CheckUR();">
        <input type=text name="patientn" title="Patient Name" size=50
         maxlength=50 class=Readonly readonly>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchPatient();" >
        <img src="../images/erase.gif" align=absmiddle notab
         class=Icon
         onclick="clrFields(SelectCode.tmjrn001,SelectCode.patientn,
                            SelectCode.tmjrn002,SelectCode.tmjrn003);">
    </td></tr>

<tr><td class=DataLabel>Visit Number</td>
    <td><input type=text name="tmjrn002" title="Visit Number" size=10
         class=Mandatory maxlength=8 onchange="CheckVisit();">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchVisit();" >
        <img src="../images/erase.gif" align=absmiddle notab
         class=Icon
         onclick="clrFields(SelectCode.tmjrn002,SelectCode.tmjrn003);">
    </td></tr>

<tr><td class=DataLabel>Invoice Number</td>
    <td><input type=text name="tmjrn003" title="Invoice Number" size=10
         class=Mandatory maxlength=8 onchange="CheckInvoice();">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="SearchInvoice();" >
        <img src="../images/erase.gif" align=absmiddle notab
         class=Icon
         onclick="clrFields(SelectCode.tmjrn003);ClearAmount();">
    </td></tr>

<tr><td class=DataLabel>Date</td>
    <td><input type=text size=11 maxlength=12 name="tmjrn005" tabindex=-1 
         value="%STANDARD.01.015" class="Readonly" readonly title="Date">
    </td></tr>
</table>

<table align=center border=0 width=95% cellspacing=0 cellpadding=0>
<tr><td>&nbsp;</td></tr>

<tr><td width=30% class=DataLabel>Current Invoice Total</td>
    <td width=10% align=right><b><div id=invtotal></div></b></td>
    <td>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>Current Payment Total</td>
    <td align=right><b><div id=paytotal></div></b></td>
    <td>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>Current Journal Total</td>
    <td align=right><b><div id=jrntotal></div></b></td>
    <td>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>Current Balance Outstanding</td>
    <td align=right><b><div id=osttotal></div></b></td>
    <td>&nbsp;</td>
    </tr>
</table>

<table align=center border=0 width=95% cellspacing=0 cellpadding=0>
<tr><td>&nbsp;</td></tr>

<tr><td width=30% class=DataLabel>Type of Journal</td>
    <td colspan=2><select name="tmjrn004" class="Mandatory" 
         onchange="ShowGST();CheckJrnl();">
        <option value=" "></option>
        %PATWEB75.18.005.2
        </select>
    </td></tr>

<tr><td class=DataLabel>Alternative Description</td>
    <td><input type=text name="tmjrn006" title="Alternative Description" 
        size=32 maxlength=30>
    </td></tr>
</table>
    
<div id=GST></div>
    
<table cellspacing=0 cellpadding=2 border=0 width=95% align=center>

<tr><td class=DataLabel width=30%>Amount</td>
    <td colspan=2><input type=text name="tmjrn007" title="Amount" size=20 
         class="Number Mandatory" onblur="CheckJrnl();"
         min=-9999999999.99 max=9999999999.99>
    </td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td class=DataLabel>Calculated Balance Outstanding</td>
    <td class="DataField" id="totalbal">
    </td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td align=center colspan=2>
    <input type=button value="Add" class="button"
      name=addbuttn id=addbuttn
      onclick='tempDisable(this);AddJournal();'>
    <input type=button value="Close" class="button"
     name=closbutt id=closbutt
     onclick='tempDisable(this);CloseAddScreen();'>
    <input type=button value="Complete" class="button"
     name=compbutt id=compbutt
     onclick='tempDisable(this);submitBulkJrnlCharges();'>
    </td></tr>
</table>
</form>

<span id="DisplayGST" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=30%>GST Code</td>
    <td class=DataField><select class="SelectBig Mandatory" name=tmjrn008
     title="GST Code">
    <option></option>
    %PATWEB75.18.013
    </select></td></tr>
</table>
</span>
