<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"      content="true">
<script type="text/javascript" src="../js/TableSort.js"> </script>
<style type="text/css">
  span.ProgressBar {
    color:black;
    background-image:url(../images/ProgressBar.gif);
    height:10px;
    width:200px;
    text-align:center;
  }
input.orangebutton {
      font-size:8pt; width:90px; background-color:orange; border:1px solid;
      cursor: pointer;
}
</style>
<script type="text/javascript">
function SelectPeriodOS() {
  ProgressBar.innerHTML="Payment being processed...";
  ProgressBar.className="ProgressBar";
}
function FilterSubmit() {
   document.SelectPeriod.submit();
}
function exdtblankchange () {
  document.SelectPeriod.exdtblnk.value=0;
  if (document.SelectPeriod.lastdate!=undefined) {
    if (isWhitespace(document.SelectPeriod.lastdate.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
  if (document.SelectPeriod.vyearmth!=undefined) {
    if (isWhitespace(document.SelectPeriod.vyearmth.value)) {
      document.SelectPeriod.exdtblnk.value=1;
    }
  }
}
function releaseRem(payeepno,paymtrun,eradate,retrvkey,hospcode,depamt,button,depoamt,claimamt) {

if (depoamt.replace(/\+/g,'0') > claimamt.replace(/\+/g,'0')){
  alert("Benefit amount is more than Claim amount.");
}
//alert(depoamt+" "+claimamt);
//alert(fundtrid+"|"+remadv+"|"+partnum+"|"+hospcode+"|"+paymref+"|"+depamt);
//    paymref=paymref.replace(/\+/g,' ');
//alert();
//    if (!confirm("Payment Reference: "+paymref+"\nOk to release selected ERA?"))
//    {
//      return;
//    }
    button.disabled=true;
    button.value="Processing...";
    button.className="orangebutton";
    document.SelectPeriod.updatety.value="L";
    document.SelectPeriod.hospcode.value=hospcode;
    document.SelectPeriod.ecrepypn.value=payeepno;
    document.SelectPeriod.ecreprun.value=paymtrun;
    document.SelectPeriod.ecrepdat.value=eradate;
    document.SelectPeriod.ecrerkey.value=retrvkey;
    loopAndDisableButtons();
    //alert(partcode+" "+remadv+" "+partnum);
    //subPartCode()
  DFrameStart()

  linkurl="../cgi-bin/patweb93.pbl?reportno=20&template=006"+
          "&hospcode="+hospcode+
          "&ecrepypn="+payeepno+
          "&ecreprun="+paymtrun+
          "&ecrepdat="+eradate+
          "&ecrerkey="+retrvkey+
          "&updatety=R";
  Left=(document.body.clientWidth-600)/2
  DFrameLink(linkurl,100,Left,600,150)
}
function subPartCode() {
  SetCookie("UnreleasedRemittanceCookie",location.href);
  SelectPeriodOS();
  document.SelectPeriod.submit();
}
function displayRemH(eradate,payeepno,paymtrun,retrvkey,hospcode,templno) {
//  alert(fundtrid+"|"+remadv+"|"+partnum);
  DFrameStart()

  linkurl="../cgi-bin/patweb93.pbl?reportno=20&template="+templno+
          "&hospcode="+hospcode+
          "&ecrepypn="+payeepno+
          "&ecreprun="+paymtrun+
          "&ecrepdat="+eradate+
          "&ecrerkey="+retrvkey+
          "&updatety=R";
//alert(linkurl);
  Left=(document.body.clientWidth-600)/2
  DFrameLink(linkurl,100,Left,600,300)
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",35,55);
 t.addColumn("Run&nbsp;Date","String",0,0,"left","","",150)
 t.addColumn("Payee&nbsp;Provider Number","String",11,11,"left","","",50)
 t.addColumn("Payee&nbsp;Provider Name","String",12,12,"left","","",50)
// t.addColumn("Part","String",1,1,"left","","",50)
 t.addColumn("Status","String",2,2,"left","","",50)

 t.addColumn("Deposit<br>Amount","String",3,3,"left","","",75)
// t.addColumn("Claim<br>Amount","String",4,4,"left","","",75)
 t.addColumn("Payment Run&nbsp;Number","String",5,5,"left","","","")
 t.addColumn("Hospital","String",10,10,"left","","","")
 AddTableRows()
 TableOutput(0,1);    // Order Column,Asc Dsc
 break; 
  }
 }
}
function loopAndDisableButtons() {
  if (findOrangeButton()) {
    var elem = document.getElementById('SelectPeriod').elements;
    for (var i=0; i < elem.length; i++) {
      if (elem[i].type=='button') {
        if (elem[i].value=='Release') {
          elem[i].disabled=true;
        }
      }
    }
  }
}
function loopAndDisableButtonsRefresh() {
  if (findOrangeButton()) {
    var elem = document.getElementById('SelectPeriod').elements;
    for (var i=0; i < elem.length; i++) {
      if (elem[i].type=='button') {
        if (elem[i].value=='Release') {
          elem[i].disabled=true;
        }
      }
    }
    setTimeout("StdPageRefresh();",10000);
  }
}
function findOrangeButton() {
  var elem = document.getElementById('SelectPeriod').elements;
  for (var i=0; i < elem.length; i++) {
    if (elem[i].className=='orangebutton') {
      return 1;
    }
  }
  return 0;
}
function getURRC() {
  if (GetCookieData("UnreleasedRemittanceCookie") != "unknown") {
    document.SelectPeriod.unrlrmck.value=
    GetCookieData("UnreleasedRemittanceCookie");
    ExpireCookiePath("UnreleasedRemittanceCookie");
    location.href=document.SelectPeriod.unrlrmck.value
  }
}
function showHospital() {
  if(document.SelectPeriod.ibcnmhos.value=="1") {
    document.getElementById('Hospital').innerHTML=
    document.getElementById('ShowHospital').innerHTML
  } else {
    document.getElementById('Hospital').innerHTML=
    document.getElementById('ShowNoHospital').innerHTML
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);loopAndDisableButtonsRefresh();
             getURRC();showHospital();">
<div id=HeadingSection style="display: none;">
</div>
<table cellpading=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>
<form name=SelectPeriod id=SelectPeriod action=patweb93.pbl method=get>
  <input type=hidden name=reportno value=20>
  <input type=hidden name=template value=1>
  <input type=hidden name=updatety value=" ">
  <input type=hidden name=nextpage value="5">
  <input type=hidden name=redirect value="patweb93.pbl?reportno=20&template=1">
  <input type=hidden name=ecrepypn value=" ">
  <input type=hidden name=ecreprun value=" ">
  <input type=hidden name=ecrepdat value=" ">
  <input type=hidden name=ecrerkey value=" ">
  <input type=hidden name=hospcode value=" ">
  <input type=hidden name=exdtblnk value="%PATWEB93.20.034">
  <input type=hidden name=viewtype value="%PATWEB93.20.033">
  <input type=hidden name=selprint value=" ">
  <input type=hidden name=multlt01 value=" ">
  <input type=hidden name=unrlrmck value=" ">
  <input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
  <input type=hidden name=deftallh value="1">

</table>
<table cellpading=0 cellspacing=0 bgcolor=#CCCCCC border=0 width=100%>

<tr><td align=left class="HeadingCell">
    <span id=ProgressBar></span>
    </td>
    <td class=DataLabel align=left><div id="Hospital"></div></td>
    <td align=right>Health Fund Run Date
    <input type=button value="<<" class=SmallButton
     onclick='location.href="%PATWEB93.20.031"'>
    %PATWEB93.20.030
    <input type=button value=">>" class=SmallButton
     onclick='location.href="%PATWEB93.20.032"'>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectDateFrame();'>
    <img src="../images/DateLookup.gif" border=0
     class=Icon
     alt="Select Date" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("0");'>
    <img src=../images/DayIcon.gif border=0
     class=Icon
     alt="View Today" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("1");'>
    <img src=../images/WeekIcon.gif border=0
     class=Icon
     alt="View This Week" align=absmiddle></a>
    <a href='javascript:document.SelectPeriod.exdtblnk.value=0;SelectView("2");'>
    <img src=../images/MonthIcon.gif border=0
     class=Icon
     alt="View This Month" align=absmiddle></a>
    </td>
</tr>

</table>
<div id=TableLocation></div>
</form>

<span id=ShowHospital style="display:none">
  Hospital&nbsp;
  <select name=filthosp title="Hospital"
   onchange="FilterSubmit();">
   <option value="   ">All</option>
   %PATWEB93.20.035
  </select>
</span>

<span id=ShowNoHospital style="display:none">
  <input type=hidden name=filthosp value="    ">
</span>

<script type="text/javascript">
function AddTableRows() {
%PATWEB93.20.001.0.0.0
%PATWEB93.20.001.0.0.1
%PATWEB93.20.001.0.0.3
}
</script>

<script type="text/javascript">
</script>
