<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Regime Code Enquiry for %PATWEB61.06.006
</span>
<div id=PageBodySection style="overflow: auto;">
<table cellspacing=0 border=1 width=100%>
%PATWEB61.06.015
</table>
<table cellspacing=0 border=0 width=100%>
<tr><td colspan=2 align=center class=HeadingCell>
   <input type=button value="Close" class="button"
    onclick=DFrameExit();>
</td></tr>
</table>
