<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">
function init() {
  document.getElementById('otpwo001').value=
  parent.document.getElementById('otpwo001').value;
  document.getElementById('otpwo002').value=
  parent.document.getElementById('otpwo002').value;
}

function SubmitForm() {
 if(validateMandatory(AddForm)) {
   if (trim(document.AddForm.otpwo003.value)=="0" ||
       trim(document.AddForm.otpwo003.value)==".0000")  {
       alert("Price Weight field is Mandatory. Please enter it now");
       return;
   }
   AddForm.submit();
 }
}

function PageLoadExtended() {
 PageLoad();
 clearSpaces();
}

function clearSpaces() {
  var otpwo001 = document.getElementById("otpwo001");
  if(otpwo001.value.replace(/ /g,"") == "") {
     otpwo001.value = "";
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoadExtended();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
  document.write("Add ABF Non-Admitted Patients Price Weight Maintenance"); 
</script>

</span>
<form name=AddForm action=patweb18.pbl method=post style="margin:0">
  <input type=hidden name=reportno value=2>
  <input type=hidden name=template value=2>
  <input type=hidden name=updttype value="A">

<table width="95%" cellpadding=1 cellspacing=1 border=0 align=center>
<tr><td class=DataLabel>Contract ID</td>
  <td><input type=text size=10 maxlength=6 name=otpwo001 id=otpwo001
       title="Contract Id" value="%PATWEB18.02.001.0" class="Mandatory"
       onblur="validateCID(otpwo001,d_otpwo001);">
      <input type=text size=30 name=d_otpwo001 id=d_otpwo001 readonly
       value="%PATWEB18.02.001.1"
       class=Readonly notab tabindex=-1>
      <img src="../images/SearchIcon.gif" class=Icon
       onclick="
   CIDSearchFrame('patweb88.pbl?reportno=26&template=005',otpwo001,d_otpwo001);">
      <img src="../images/erase.gif" class=Icon
       onclick="clrDoc(otpwo001,d_otpwo001);">
  </td>
</tr>

<tr><td class=DataLabel>Tier2 Clinic Code</td>
    <td><select name=otpwo002 id=otpwo002
         class=Mandatory title="Tier2 Clinic Code">
        <option></option>
         %PATWEB18.02.105.2
        </select>
    </td>
</tr>

<tr><td class=DataLabel>Price Weight</td>
    <td><input type=text name=otpwo003 id=otpwo003
     class="Number Mandatory" size=17 
         maxlength=15 title="Price Weight" min=0 max=9999999999.9999
         onblur="RoundNumber(this,4);">
    </td>
</tr>

<tr><td colspan=2 align=center><br>
  <input type=button value=Add class="button" id="addbtn" 
   onclick="tempDisable(this);SubmitForm();">
  <input type=button value=Cancel class="button" 
   onclick="DFrameExit();">
</td></tr>
</table>
</form>

