<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function AddSpec() {
  LinkUrl="patweb12.pbl?reportno=2&template=2" +
          "&wardcode=" + document.UpdateForm.wardcode.value.replace(/ /g,"+")
    Left=(document.body.clientWidth-500)/2
    DFrameLink(LinkUrl,0,Left,500,450)
}
function UpdateSpec(spec,ward,ord) {
  LinkUrl="patweb12.pbl?reportno=2&template=3" +
          "&wardcode=" + ward.replace(/ /g,"+") +
          "&extrspec=" + spec.replace(/ /g,"+") +
          "&prforder=" + ord.replace(/ /g,"+")
    Left=(document.body.clientWidth-500)/2
    DFrameLink(LinkUrl,0,Left,500,450)
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
 Ward/Bed Multi Speciality List - %PATWEB12.02.002.0
</span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm method=post action=patweb12.pbl>
   <input type=hidden name=reportno value="2">
   <input type=hidden name=template value="001">
   <input type=hidden name=updttype value="A">
   <input type=hidden name=wardcode value="%PATWEB12.02.002.1">

<table align=center width=100% border=1 cellpadding="0" cellspacing="0">
<tr><td class=HeadingCell>Extra Speciality</td>
    <td class=HeadingCell>Order of Preference</td>
    </tr>

%PATWEB12.02.010

</table>
<table align=center width=100% border=1 bgcolor=#CCCCCC
 cellpadding="0" cellspacing="0">
<tr><td colspan=6 align=center>
    <input type=button class="button" value="Add Speciality" onclick=AddSpec()>
    </td></tr>
</table>
</form>
