<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function UpdateItem(urnumber,problemn,admissno) {
location.href="patweb03.pbl?reportno=1&template=3" +
              "&urnumber=" + urnumber.replace(/ /g,"+") +
              "&problemn=" + problemn.replace(/ /g,"+") +
              "&admissno=" + admissno.replace(/ /g,"+") 
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link  
//  1 - Extract ID  
//  2 - Description
//  3 - Discharge From Date
//  4 - Discharge To Date 
//  5 - Admission From Date 
//  6 - Admission To Date  
//  7 - Unit
//  8 - Ward
//  9 - Procedure Group   
// 10 - Waiting List Procedure
// 11 - Consultant
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",25,25);
 t.addColumn("Established","Date",1,1,"left","GraphIcon.gif","0",100)
 t.addColumn("Problem","String",2,2,"left","","",200)
 t.addColumn("Type","String",5,5,"left","","",100)
 t.addColumn("Status","String",4,4,"left","","",100)
 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc Dsc
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=HeadingSection>
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB03.01.003";
PatientVIS="%PATWEB03.01.081";
PatientNAM="%PATWEB03.01.002";
PatientSTA="%PATWEB03.01.086.078";
PatientALT="%PATWEB03.01.084";
PatientSEX="%PATWEB03.01.019";
PatientDOB="%PATWEB03.01.020";
PatientAGE="%PATWEB03.01.021";
PatientLOC="%PATWEB03.01.083";
PatientPRI="%PATWEB03.01.086.066.1";
PatientUNT="%PATWEB03.01.066.0";
DoctorCOD="%PATWEB03.01.082.003";
DoctorNAM="%PATWEB03.01.082.002";
PatientAID="%PATWEB03.01.086.090";
PatientIND="%PATWEB03.01.086.091";
PatientCUR="%PATWEB03.01.086.092";
PatientCLC="%PATWEB03.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB03.01.086.094";
PatientCDM="%PATWEB03.01.086.095";
PatientVDH="%PATWEB03.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<table cellspacing=0 border=0 cellpadding=0 width=100% bgcolor=#cccccc>
<tr><td align=right>
<input type=button class="button" value="Add History"
 onclick="DFrameLink('%PATWEB03.01.001.patweb03.01.005',60,50,1100,600)">
<input type=button class="button" value="Add Problem"
 onclick="DFrameLink('%PATWEB03.01.001.patweb03.01.002',60,50,700,300)">
</td></tr>
</table>
</div>
<div id=TableLocation> </div>
<script type="text/javascript">
function AddTableRows() {
%PATWEB03.01.131
}
</script>
<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB03.01.003">
<input type=hidden name=admissno value="%PATWEB03.01.081">
<input type=hidden name=MenuType value="%PATWEB03.01.088">
</form>
