<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">
function valCID(ReturnCID,CIDName) {
  if (isWhitespace(ReturnCID.value)) {
    ReturnCID.value="";
    CIDName.value="";
  }
  else
  {
    if (!validateCID(ReturnCID,CIDName)) {
      ReturnCID.value="";
      CIDName.value="";
    }
  }
}
function tickAllCheckboxes() {
  var c = new Array();
  c = document.getElementsByTagName('input');
  for (var i = 0; i < c.length; i++) {
    if (c[i].type == 'checkbox') {
      if (c[i].name != 'untickal' && 
          c[i].name != 'd_bdfee016') {
        if (c[i].checked==true) {
         c[i].checked=false;
        }
        else
        {
         c[i].checked=true;
        }
      }
    }
  }
}
function untickAllCheckboxes() {
  var c = new Array();
  c = document.getElementsByTagName('input');
  for (var i = 0; i < c.length; i++) {
    if (c[i].type == 'checkbox') {
      if (c[i].name != 'tickall' &&
          c[i].name != 'd_bdfee016') {
        c[i].checked=false;
      }
    }
  }
}
function updateAllocMap() {
  var c = new Array();
  c = document.getElementsByTagName('input');
  for (var i = 0; i < c.length; i++) {
    if (c[i].type == 'checkbox') {
      if (c[i].checked==true) {
        var d = new Array();
        d = document.getElementsByName(c[i].name.substring(2,10));
        for (var j = 0; j < d.length; j++) {
          d[j].value = "1";
//          alert(c[i].name.substring(2,10)+" "+d[j].value);
        }
      }
      else
      {
        var d = new Array();
        d = document.getElementsByName(c[i].name.substring(2,10));
        for (var j = 0; j < d.length; j++) {
          d[j].value = "0";
//          alert(c[i].name.substring(2,10)+" "+d[j].value);
        }
      }
    }
  }
  document.SelectCode.updttype.value="U";
  document.SelectCode.submit();
}
function clrHfund(hfund,hfdesc,hftable,hftdesc) {
  hfund.value="";
  hfund.className="";
  hfdesc.value="";
  hftable.value="";
  hftable.className="";
  hftdesc.value="";
  hfund.select();
}
function valHfund(ReturnFund,ReturnTable,FundName,TableName) {
  if(!isWhitespace(ReturnFund.value)) {
       if (!validateCode(16,ReturnFund,FundName)) {
           ReturnTable.className="";
           ReturnFund.value="";
           FundName.value="";
           ReturnTable.value="";
           TableName.value="";
           ReturnFund.select();
           return;
       }
//    ReturnTable.className="Mandatory";
  }
  if(isWhitespace(ReturnFund.value)) {
    ReturnFund.value="";
    FundName.value="";
    ReturnTable.value="";
    TableName.value="";
    ReturnTable.className="";
  }
}
function SubmitForm() {
  if(validateMandatory(SelectCode)) {
    document.SelectCode.startnum.value="   0";
    document.SelectCode.norecord.value=" 0";
    document.SelectCode.updttype.value='S';
    if (document.SelectCode.d_bdfee016.checked==true) {
      document.SelectCode.bdfee016.value="1";
    } else {
      document.SelectCode.bdfee016.value=" ";
    }
    SelectCode.submit();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">

<div id=HeadingSection>
<form name=SelectCode action=patweb77.pbl method=get style="margin:0">
<input type=hidden name=reportno value=15>
<input type=hidden name=template value=001>
<input type=hidden name=updttype>
<input type=hidden name=redirect value="patweb77.pbl?reportno=15&template=1">
<input type=hidden name=dummy id=dummy>
<input type=hidden name=nextpage value=1>
<input type=hidden name=startnum value="%PATWEB77.15.007">
<input type=hidden name=norecord value="%PATWEB77.15.008">
<input type=hidden name=bdfee016 value="%PATWEB77.15.009">
<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
    <tr><td colspan=11 align=center class=HeadingCell>
         Bed Fee Mapping Table</td></tr>
    <tr height=25>
        <td class=DataLabel>%STANDARD.01.017.CL&nbsp;&nbsp;&nbsp;
        <select name=bdfee001 class="SelectMed Mandatory"
         title="%STANDARD.01.017.CL" >
        <option></option>
        %PATWEB77.15.002.2
        </select></td>

        <td class=DataLabel>Health Fund&nbsp;&nbsp;&nbsp;
        <input type=text size=6 name=bdfee002 id=bdfee002 maxlength=6
         value="%PATWEB77.15.003.0" title="Health Fund"
            onblur="valHfund(bdfee002,dummy,funddesc,dummy);">
        <input type=text size=20 name=funddesc id=funddesc
         title="Health Fund" readonly
         value="%PATWEB77.15.003.1" class=Readonly notab tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         notab
         onclick="HealthFundSearchFrame(bdfee002,funddesc,dummy,dummy);">
        <img src="../images/erase.gif" class=Icon
         notab
         onclick="clrHfund(bdfee002,funddesc,dummy,dummy);">
        </td>

        <td class=DataLabel>%STANDARD.01.017.A &nbsp;&nbsp;&nbsp;
        <select name=bdfee004 class=SelectMed title="%STANDARD.01.017.A " >
        <option></option>
        %PATWEB77.15.004.2
        </select>
        </td>

        <td>Display only empty Contract Ids&nbsp;&nbsp;&nbsp;
          <input type=checkbox name=d_bdfee016 value=1>
        </td>

        <td>Select / Deselect All&nbsp;&nbsp;&nbsp;
          <input type=checkbox name=tickall value=1 
           onclick=tickAllCheckboxes();updateAllocMap();>
        </td>

        <td>Clear All&nbsp;&nbsp;&nbsp;
          <input type=checkbox name=untickal value=1
           onclick=untickAllCheckboxes();updateAllocMap();>
        </td>

        <td align=right><input type=button value="Search" class="button"
             onclick="SubmitForm();">
        </td>

    </tr>
</table>
<table width="100%" cellpadding=0 cellspacing=0 border=0>
    <tr>
      <td colspan=8>
        <table cellspacing=0 border=1 width=100%>
          <tr>
            <td class=HeadingCell>Claim Type</td>
            <td class=HeadingCell>Health Fund</td>
            <td class=HeadingCell>%STANDARD.01.017.A </td>
            <td class=HeadingCell>Contract ID</td>
            <td class=HeadingCell>Allocate</td>
          </tr>
          %PATWEB77.15.001
        </table>
      </td>
    </tr>

    <tr>
      <td colspan=8>
        <table width=100% bgcolor=#CCCCCC>
          <tr>
            <td width=33%></td>
            <td align=center width=33%>
              <input type=button value="<< Previous" class="button"
               onclick='location.href="%PATWEB77.15.006.001"'>
              <input type=button value="Next >>" class="button"
               onclick='location.href="%PATWEB77.15.005.001"'>
            </td>
           <td width=33% align=right> Contract ID to Allocate &nbsp;&nbsp;&nbsp;
<!--          <input type=text name=alloccid maxlength=6 size=10>-->

        <input type=text size=10 maxlength=6 name=alloccid id=alloccid
         onblur="valCID(alloccid,cniddesc);"
         title="Contract ID to Allocate">
        <input type=text size=20 name=cniddesc id=cniddesc readonly
         class=Readonly notab tabindex=-1>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="
    CIDSearchFrame('patweb88.pbl?reportno=26&template=005',alloccid,cniddesc);">
        <img src="../images/erase.gif" class=Icon
         onclick="clrCID(alloccid,cniddesc);valCID(alloccid,cniddesc);">

              &nbsp;&nbsp;&nbsp; <input type=button value="Allocate" 
              class="button" 
 onclick="document.SelectCode.updttype.value='A';document.SelectCode.submit();">
           </td> 
          </tr>
        </table>
      </td>
    </tr>
</table>
</form>
</div>
<script type="text/javascript">
  if (document.SelectCode.bdfee016.value=="1") {
    document.SelectCode.d_bdfee016.checked=true;
  }
</script>
