<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/priweb0505.js"></script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<div id=PageBodySection style="overflow: auto;">

  <form name=MoveForm method=post action=priweb05.pbl>
  <input type=hidden name=reportno value="05">
  <input type=hidden name=template value="001">
  <input type=hidden name=updttype value="S">
  <input type=hidden name=pritd001 value="">
  <input type=hidden name=pritd002 value="">
  <input type=hidden name=pritd003 value="">
  <input type=hidden name=newseqnc>
  <input type=hidden name=moveswap>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td align=center class=Heading><b> Template ID %PRIWEB05.05.001 - %PRIWEB05.05.002</b></td>

<tr><td>
<table cellspacing=0 cellpadding=0 border=0 width=100%>
%PRIWEB05.05.108.priweb05.05.003
</table>
</td></tr>

<tr><td>
<table cellspacing=0 cellpadding=1 border=0 width=100%>
%PRIWEB05.05.109.priweb05.05.003
</table>
</td></tr>

<tr><td>
</form>
  <form name=UpdateForm method=post action=priweb05.pbl>
  <input type=hidden name=reportno value="04">
  <input type=hidden name=template value="001">
  <input type=hidden name=updttype value="">
  <input type=hidden name=prith001 value="%PRIWEB05.05.001">

<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td bgcolor=#CCCCCC align=center>
    <input type=button class="button" type=button value=Ok
     onclick="DFrameExit();">
    <input type=button class="button" type=button value=Add
     onclick='AddItem("%PRIWEB05.05.001")'>
    <input type=button value="Delete" class="button" onclick=setFormactn('D');>
    </td></tr>
</table>
</td></tr>
</table>
</form>
</div>

