<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function setDEB() {
if(!isWhitespace(document.search.urnumber.value)) {
   for (var i =0 ; i < document.search.srchtype.length; i++) {
     if (document.search.srchtype.options[i].value=="2") {
         document.search.srchtype.selectedIndex=i } };
    UpCase(document.search.urnumber)
    document.search.srchsnam.disabled=1;
    document.search.srchsnam.value="";
    document.search.srchgnam.disabled=1;
    document.search.srchgnam.value="";
 } else {
    UpCase(document.search.srchsnam)
    UpCase(document.search.srchgnam)
    document.search.action="priweb01.pbl";
    document.search.reportno.value="04";
    document.search.srchsnam.disabled=0;
    document.search.srchgnam.disabled=0;
    document.search.srchtype.disabled=0;
 }
}
function checkType () {
if(document.search.srchtype.value==2) {
         document.search.action="priweb01.pbl";
         document.search.reportno.value="04";
         document.search.srchsnam.disabled=1;
         document.search.srchsnam.value="";
         document.search.srchgnam.disabled=1;
         document.search.srchgnam.value="";
         document.search.urnumber.disabled=0;
         document.search.urnumber.focus();
         }
  else {
        document.search.action="priweb01.pbl";
        document.search.reportno.value="04";
        document.search.urnumber.value="";
        document.search.srchsnam.disabled=0;
        document.search.srchgnam.disabled=0;
        document.search.srchsnam.focus();
        }
}
function CheckDEB() {
  if (!isWhitespace(search.urnumber.value)) {
    if (validateCode(60,search.urnumber,search.patfname)) {
      updateParent(search.patfname.value,search.urnumber.value);
    }
  }
}
function ProcessSubmit() {
 if(!isWhitespace(search.urnumber.value)) {
    CheckDEB();
    return false;
 } else {
   search.srchsnam.value.replace(/\'/g,"~")
   setDEB();
   return true;
 }
}
function updateParent(name,urnumber) {
  parent.ReturnUR.value=urnumber
  parent.ReturnName.value=name
  parent.ReturnUR.focus();
  DFrameExit();
  if (parent.ReturnFunction!="" ) {
    parent.ReturnFunction()  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);setDEB();checkType();setDefault();">
<!--        Sub-Frame Header Section       -->
<span class=DFrameTitleBar>
<img border=0 align=right src=../images/ExitIcon.gif onclick=DFrameExit()>
Account Receivable
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<!--        Search Options                 -->
<div id=PageBodySection style="overflow: auto;">
<form name=search method=get action=priweb01.pbl
 onsubmit="return ProcessSubmit();" style="margin:0">
<input type=hidden name=reportno value="4">
<input type=hidden name=template value=5>
<input type=hidden name=norecord value=6>
<input type=hidden name=patfname value=20>
<input type=hidden name=admissno value=10>
<input type=hidden name=redirect value="priweb01.pbl?reportno=4&template=005">
<table width="100%" align=center cellpadding=0 cellspacing=0 border=0 
       bgcolor=#CCCCCC>
<tr><td>
<table width=90% align=center border=0 cellpadding=0 cellspacing=0 
       bgcolor=#CCCCCC>
   <tr><td class=DataLabel>Surname<br>
       <input type=text name=srchsnam onblur="UpCase(this)" size=15></td>
       <td class=DataLabel>Given Name<br>
       <input type=text name=srchgnam onblur="UpCase(this)" size=15></td>
       <td class=DataLabel>Debtor Number<br>
       <input type=text name=urnumber onblur="setDEB()" size=10
        maxlength=8 textalign=left></td>
       <td rowspan=2>
       <input type=submit class="button" value=Search 
        name=SearchButton><br>
       <input type=reset class="button" value=Reset></td></tr>
   <tr><td class=DataLabel>Search Type<br>
           <select name=srchtype onchange="checkType();">
           <option value=1>Surname</option>
           <option value=2>Debtor Number</option>
           </select></td></tr>
   <tr><td>&nbsp;</td></tr>
</table>

%PRIWEB01.04.007

<table width=100% border=1>
  <tr><td>
  <table width=100% bgcolor=#CCCCCC cellspacing=0 cellpadding=0 border=0>
    <tr><td align=center>
      <input type=button value="<< Previous" class="button"
       onclick='location.href="%PRIWEB01.04.002.005"'>
      <td align=center colspan=2>
      <input type=button value="Next >>" class="button"
      onclick='location.href="%PRIWEB01.04.001.005"'></td></tr>
    <tr><td>&nbsp;</td></tr>
  </table>
</td></tr>
</table>

</td></tr>
</table>
</form>
</div>

<script type="text/javascript">
function setDefault() {
//
   for (var i =0 ; i < document.search.srchtype.length; i++) {
     if (document.search.srchtype.options[i].value=="%PRIWEB01.04.005") {
         document.search.srchtype.selectedIndex=i; 
         checkType(); }  };
//
}
</script>
