<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/priweb0206002.js"></script>
<script type="text/javascript">

function SetType(dtype) {
  if (dtype.value=="MBS")  {
    document.AddForm.pritm003.value="M"; }
  else {
    document.AddForm.pritm003.value="A"; }

  p=document.AddForm;
  clrFields(p.pritm006,p.pritm004,p.pritm005,p.pritm007,p.pritm008,p.pritm011);
}

function ChangeTime(counter) {
  DFrameClear();
  document.AddForm.pritm002.value=document.AddForm.currtime.value;
  document.AddForm.itemnumb.value=counter;
  document.AddForm.updttype.value="T";
  document.AddForm.target="PopUpFrame1"
  document.AddForm.submit();
}

function ChangeItem(counter,iamnt) {

     window.pritm001=document.AddForm.pritm001;
     window.pritm002=document.AddForm.pritm002;
     window.pritm006=document.AddForm.pritm006;
     window.pritm003=document.AddForm.pritm003;
     window.pritm004=document.AddForm.pritm004;
     window.pritm005=document.AddForm.pritm005;
     window.pritm007=document.AddForm.pritm007;
     window.pritm008=document.AddForm.pritm008;
     window.pritm009=document.AddForm.pritm009;
     window.pritm010=document.AddForm.pritm010;

     linkURL="priweb02.pbl?reportno=06&template=003" +
             "&urnumber=" + AddForm.urnumber.value.replace(/ /g,"+") +
             "&uniqnumb=" + AddForm.uniqnumb.value.replace(/ /g,"+") +
             "&prhre001=" + AddForm.prhre001.value.replace(/ /g,"+") +
             "&prhre002=" + AddForm.prhre002.value.replace(/ /g,"+") +
             "&prhre003=" + AddForm.prhre003.value.replace(/ /g,"+") +
             "&pritm011=" + iamnt +
             "&itemnumb=" + counter +
             "&updttype=C" 

     Left=(document.body.clientWidth-400)/2
     DFrameLink(linkURL,90,Left,400,280)

}
function AddItem() {
  DFrameClear();

  if (validateMandatory(AddForm)) {
    document.AddForm.updttype.value="S";
    document.AddForm.pritm011.value=document.AddForm.xamnt.value;
    document.AddForm.pritm012.value=document.AddForm.testc101.value;
    document.AddForm.pritm013.value=document.AddForm.s4flg101.value;
    document.AddForm.target="PopUpFrame1"
    document.AddForm.submit();
  }
}

function WriteItems() {
    if (document.AddForm.timeflag.value=='1') {
      alert('Time must be entered first!!'); 
      return; }

      document.AddForm.updttype.value="Z";
      document.AddForm.nextpage.value=5;
      document.AddForm.redirect.value = "priweb02.pbl?reportno=01&template=013"
        + "&urnumber=" + AddForm.urnumber.value.replace(/ /g,"+") 
        + "&uniqnumb=" + AddForm.uniqnumb.value.replace(/ /g,"+")
        + "&prhre001=" + AddForm.prhre001.value.replace(/ /g,"+")
        + "&prhre002=" + AddForm.prhre002.value.replace(/ /g,"+");
      document.AddForm.redirec2.value = "&prhre003=" 
        + AddForm.prhre003.value.replace(/ /g,"+")
     + "&prhtr005=" + AddForm.prhtr005.value.replace(/ /g,"+")
     + "&prhtr006=" + AddForm.prhtr006.value.replace(/ /g,"+")
     + "&prhtr011=" + AddForm.prhtr011.value.replace(/ /g,"+");
      SubmitHidden(AddForm); 
}

function CancelItem() {
      document.AddForm.updttype.value="E";
      document.AddForm.nextpage.value=0;
      SubmitHidden(AddForm);
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PageHeadingSection>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
src="../images/ExitIcon.gif" onclick="DFrameExit();">
Input Items
</span>

</div>
<div id=PageBodySection>
    <form  name=AddForm method=post action=priweb02.pbl style="margin:0">
    <input type=hidden name=reportno value="6">
    <input type=hidden name=template value="002">
    <input type=hidden name=updttype value="">
    <input type=hidden name=urnumber value="%PRIWEB02.06.003">
    <input type=hidden name=uniqnumb value="%PRIWEB02.06.101">
    <input type=hidden name=prhre001 value="%PRIWEB02.06.102">
    <input type=hidden name=prhre002 value="%PRIWEB02.06.103">
    <input type=hidden name=prhre003 value="%PRIWEB02.06.104">
    <input type=hidden name=prhtr005 value="%PRIWEB02.06.205">
    <input type=hidden name=prhtr006 value="%PRIWEB02.06.206">
    <input type=hidden name=prhtr011 value="%PRIWEB02.06.211">
    <input type=hidden name=timeflag value="0">
    <input type=hidden name=claimcod value="%PRIWEB02.06.105.1">
    <input type=hidden name=prthd001 value="%PRIWEB02.06.106.0">
    <input type=hidden name=pritm009 value="">
    <input type=hidden name=pritm010 value="">
    <input type=hidden name=pritm011 value="%PRIWEB02.06.123">
    <input type=hidden name=pritm012 value="%PRIWEB02.06.125">
    <input type=hidden name=pritm013 value="%PRIWEB02.06.126">
    <input type=hidden name=xamnt value="">
    <input type=hidden name=nextpage value="0">
    <input type=hidden name=countitm value="%PRIWEB02.06.108">
    <input type=hidden name=currdate value="%STANDARD.01.015">
    <input type=hidden name=currtime value="%STANDARD.01.016">
    <input type=hidden name=itemnumb value="">
    <input type=hidden name=dummy>
    <input type=hidden name=pritm003>
    <input type=hidden name=testc101>
    <input type=hidden name=s4flg101>
    <input type=hidden name=redirect value="">
    <input type=hidden name=redirec2 value="">

<table width=98% border=0 cellpadding=2 cellspacing=1>
    <tr><td class=DataLabel align=right>
          <b>Common</b>
          <input type=text size=35 class=readonly readonly 
               value="%PRIWEB02.06.106.1"></td>
    </tr>

</table>


<table cellspacing=0 colspan=4 border=1 width=100%>
%PRIWEB02.06.107
</table>

<table cellspacing=0 colspan=4 border=0 width=100%>
    <tr><td><img src="../images/ProcedureSearchIcon.gif" class=Icon
             onclick='javascript:ItemSearch();'>Item</td>
    </tr>
</table>

<table cellspacing=0 colspan=4 border=0 width=100%>
<tr> <td><input type=text size=11  maxlength=12
         name=pritm001 title='Item Date' class='PastDate Mandatory'
         value="%STANDARD.01.015"
         onblur="checkDate(this,'Item-Date');">
        <img src=../images/DateLookup.gif class=Icon alt='Show Calendar'
         date=AddForm.pritm001>
        </td>

     <td><input type=text size=10 class='Mandatory'
         maxlength=10 name=pritm002 title='Item Time'
         value="%STANDARD.01.016">
       <img notab src=../images/DateTimeStamp.gif class="Icon"
        onclick="SetCurrentDateTime(null,AddForm.pritm002);">
       <img notab src=../images/TimeLookup.gif class="Icon"
        onclick="TimeLookupFrame(AddForm.pritm002);">
     </td>

     <td><select name=dtype onchange='SetType(this);'>
         <option value='MBS'>MBS</option>
         <option value='AMA'>AMA</option>
         </select>
         <input type=text size=9 name=pritm004 maxlength=9> 
         <input type=text size=3 maxlength=3 name=pritm005
          onblur='validatePMBS(AddForm.pritm004,AddForm.pritm006,
                  AddForm.pritm003,AddForm.pritm005);
     GetDesc(AddForm.dtype,AddForm.pritm004,AddForm.pritm005,AddForm.pritm006,
             AddForm.pritm001,AddForm.pritm002,AddForm.pritm007,
             AddForm.pritm008,AddForm.pritm009,AddForm.pritm010,
             AddForm.xamnt,AddForm.testc101,AddForm.s4flg101);'
          title='Item'></td>

     <td><input type=text size=35 name=pritm006
          maxlength=30 title='Item Description'>
     </td>

     <td><input type=text size=2 name=pritm007
      maxlength=2 value=' 1' title='Quantity'
      onblur='setAmount(AddForm.pritm007,AddForm.xamnt,AddForm.pritm008);'>
     </td>

     <td><input type=text size=8 name=pritm008
      maxlength=15 min=0 max=999999999999.99
      title='Amount'>
      <img src="../images/ClearIcon.gif" class='Icon' 
       onclick="clrFields(AddForm.pritm001,AddForm.pritm002,AddForm.pritm006,
                AddForm.pritm003,AddForm.pritm004,
                AddForm.pritm005,AddForm.pritm007,AddForm.dummy,
                AddForm.dummy,AddForm.pritm008,AddForm.xamnt);">
      <input type=button value="Add" class=smallbutton
       onclick="AddItem();"></td>
       </tr>
</table>

<table align=center width=95% border=0>
    <tr><td colspan=2 align=center><br>
    <input type=button value="Ok" class="button" 
     onclick="WriteItems();">
    <input type=button value="Cancel" class="button" 
     onclick="CancelItem();">
    </td></tr>
    </table>
</form>

</div>
<script type="text/javascript">
  PageBodySection.style.height=document.body.clientHeight -
                              PageHeadingSection.clientHeight + 35;
  PageBodySection.style.width = document.body.clientWidth - 6;
  document.AddForm.timeflag.value="%PRIWEB02.06.122";
</script>
