<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function updateParent(code,desc) {
  parent.ReturnCode.value=code;
  parent.ReturnDesc.value=desc;
  if (typeof(parent.ReturnFunction) == 'function'){
     parent.ReturnFunction();
  }
  parent.document.getElementById('PopUpScreen').style.display="none";
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Multiple Services Codes
</span>
<form name=SelectCode action=priweb05.pbl method=get style="margin:0">
<input type=hidden name=reportno value=7>
<input type=hidden name=template value=8>
<input type=hidden name=norecord value="8">
</form>

<table cellspacing=0 colspan=4 border=1 width=100%>
%PRIWEB05.07.020.priweb05.01.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%PRIWEB05.07.010.008"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%PRIWEB05.07.009.008"'>
</td></tr>
</table>
