<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/priweb01.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<form name=UpdateForm method=post action=priweb01.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="">

<table align=center width=100% border=0 cellspacing=0>
<tr valign=top><td class=DataLabel>Financial Type</td>
    <td><input type=text name=pripc001 class=Mandatory title="Financial Type" 
         value="%PRIWEB01.03.001" size=1 maxlength=1 readonly>
</td></tr>

<tr align=center><td class=DataLabel>Doctor
      <input type=text size=12 name=pripc002 title="Doctor Code"
       onblur="validateCode(18,UpdateForm.pripc002,UpdateForm.dummy3);">
      <input type=text size=30 name=dummy3 title="Doctor Name"
      value="" readonly class=Readonly>
      <img src="../images/SearchIcon.gif" class=Icon
       onClick="HCPSearchFrame(UpdateForm.pripc002,UpdateForm.dummy3,0)">
</td></tr>

<tr valign=top><td class=DataLabel>Item Flag</td>
    <td><input type=text name=pripc003 class=Mandatory title="Item Flag" 
         value="%PRIWEB01.03.003" size=2 maxlength=2 readonly>
</td></tr>

<tr valign=top><td class=DataLabel>MBS Item</td>
    <td><input type=text name=pripc004 class=Mandatory title="MBS Item" 
         value="%PRIWEB01.03.004" size=9 maxlength=9 readonly>
</td></tr>

<tr valign=top><td class=DataLabel>Sub-item</td>
    <td><input type=text name=pripc005 class=Mandatory title="Sub-item" 
         value="%PRIWEB01.03.005" size=3 maxlength=3 readonly>
</td></tr>

<tr valign=top><td class=DataLabel>Type of Portion</td>
    <td><input type=text name=pripc006 title="Type of Portion"
         value="%PRIWEB01.01.006" size=30 maxlength=25>
</td></tr>

<tr valign=top><td class=DataLabel>Percentage</td>
    <td><input type=text name=pripc007 title="Percentage" 
         value="%PRIWEB01.01.007" size=4 maxlength=4>
</td></tr>

<tr valign=top><td class=DataLabel>Dissection</td>
    <td><input type=text name=pripc008 title="Dissection" 
         value="%PRIWEB01.01.008" size=12 maxlength=12>
</td></tr>

<tr valign=top><td class=DataLabel>Responsibility</td>
    <td><input type=text name=pripc009 title="Responsibility" 
         value="%PRIWEB01.01.009" size=4 maxlength=4>
</td></tr>

<tr valign=top><td class=DataLabel>Ledger</td>
    <td><input type=text name=pripc010 title="Ledger" 
         value="%PRIWEB01.01.010" size=2 maxlength=2>
</td></tr>

<tr valign=top><td class=DataLabel>Credit Account</td>
    <td><input type=text name=pripc011 title="Credit Account" 
         value="%PRIWEB01.01.011" size=12 maxlength=12>
</td></tr>

<tr valign=top><td class=DataLabel>Debit Account</td>
    <td><input type=text name=pripc012 title="Debit Account" 
         value="%PRIWEB01.01.012" size=12 maxlength=12>
</td></tr>

<tr><td colspan=2 align=center><br>
    <input type=button value="Update" class="button" 
     onclick="setFormactn('U');">
    <input type=button value="Delete" class="button" 
     onclick="setFormactn('D');">
    <input type=button value="Cancel" class="button" 
     onclick="DFrameCloseRefresh();">
</td></tr>
</table>
</form>
<script type="text/javascript">
if  ("%PRIWEB01.01.009" == "0")
 {
    document.UpdateForm.pripr009.checked=1
 }
if  ("%PRIWEB01.01.010" == "1")
 {
    document.UpdateForm.pripr010.checked=1
 }
</script>
