<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateCol() {
for (var i=0; i < document.UpdateForm.length; i++) {
  var Item = document.UpdateForm.elements[i];
  var MatchStr = "vislstno"
  if (Item.name.match(MatchStr)){
    if (Item.id=="") {
       if (Item.checked==false) { Item.checked=true }
                           else { Item.checked=false } } }
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=UpdateForm action=prsweb01.pbl method=post>
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="2">
<input type=hidden name=updttype value="U">
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="prsweb01.pbl?reportno=03&template=001">
<input type=hidden name=urnumber value="%PRSWEB01.03.103">
<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
<tr><td align=center class=HeadingCell>
        PRS/2 PMI Trigger Maintenance
    </td>
</tr>
</table>
<table border=0 width=95% align=center cellspacing="0" cellpadding="1">

<tr><td colspan=3 class=DataLabel>U/R Number</td>
    <td class=DataField>%PRSWEB01.03.103</td>
    <td class=DataLabel>Name</td>
    <td class=DataField>%PRSWEB01.03.102</td>
    <td class=DataLabel>&nbsp;</td>
    <td class=DataField>&nbsp;</td></tr>

<tr><td colspan=3 class=DataLabel>Date of Birth</td>
    <td class=DataField>%PRSWEB01.03.004</td>
    <td class=DataLabel>Sex</td>
    <td class=DataField>%PRSWEB01.03.008</td>
    <td class=DataLabel>Suburb</td>
    <td class=DataField>%PRSWEB01.03.012</td></tr>

<tr><td colspan=3 class=DataLabel>Indigenous Status</td>
    <td class=DataField>%PRSWEB01.03.005.0</td>
    <td class=DataLabel>Marital Status</td>
    <td class=DataField>%PRSWEB01.03.009.0</td>
    <td class=DataLabel>Postcode</td>
    <td class=DataField>%PRSWEB01.03.013</td></tr>

<tr><td colspan=3 class=DataLabel>Country of Birth</td>
    <td class=DataField>%PRSWEB01.03.006.0</td>
    <td class=DataLabel>Resident Status</td>
    <td class=DataField>%PRSWEB01.03.010.0</td>
    <td class=DataLabel>Medicare No</td>
    <td class=DataField>%PRSWEB01.03.014</td></tr>

<tr><td colspan=3 class=DataLabel>Preferred Language</td>
    <td class=DataField>%PRSWEB01.03.007.0</td>
    <td class=DataLabel>Interpreter Required</td>
    <td class=DataField>%PRSWEB01.03.011</td>
    <td class=DataLabel>U/R Merge</td>
    <td class=DataField>%PRSWEB01.03.015</td></tr>
</table>
<table cellspacing=0 border=1 width=100%>
<tr><td class=HeadingCell width=20%>Admission Number</td>
    <td class=HeadingCell width=20%>Admission Date</td>
    <td class=HeadingCell width=20%>Discharge Date</td>
    <td class=HeadingCell width=30%>DRG</td>
    <td class=HeadingCell width=10%>Include
    <input type=button value="All" class=SlimButton onclick=UpdateCol();>
    </td></tr>
    %PRSWEB01.03.016.99
</table>
 
<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="Update" class="button" onclick=setFormactn('U');>
  <input type=button value="Cancel" class="button"
      onclick='location.href="prsweb01.pbl?reportno=03&template=001"'>
</td></tr>
</table>
</form>

