<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function ShowDetail06(linkurl) {
  Left=(document.body.clientWidth-450)/2
  DFrameLink(linkurl,0,Left,450,300)
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=SelectCode action=prsweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value="5">
<input type=hidden name=template value="001">
<input type=hidden name=ptact001 value="">
<input type=hidden name=ptact002 value="">
<input type=hidden name=ptact003 value="">

<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
<tr><td class=MaintenanceHeading>Account Status Validation Maintenance </td>
    <td align=right><b>Account Class&nbsp;
        <align=right><input type=text name=startkey size=4 maxlength=3>
        <input type=submit value=Goto class="button">
</td></tr>
</table>

<table cellspacing=0 colspan=4 border=1 width=100%>
%PRSWEB01.05.001.prsweb01.05.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onClick='location.href="%PRSWEB01.05.003.001"'>
  <input type=button value=Add class="button"
  onClick="ShowDetail06('prsweb01.pbl?reportno=05&template=002');">
  <input type=button value="Next >>" class="button"
   onclick='location.href="%PRSWEB01.05.002.001"'>
</td></tr>
</table>

</form>
