<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);document.AddForm.ptacc010.focus();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">
document.write(self.document.title);

function deletePRS2Acc() {
    if (!validateMandatory(document.AddForm)) {
       return;
    }
    SubmitForm();
}
</script>
</span>

<form name=AddForm method=post action=prsweb01.pbl style="margin:0"> 
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="005">
<input type=hidden name=updttype value="G">

<table align=center width=80% border=0>
<tr valign=top><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select name=ptacc010 tabindex=1 title="%STANDARD.01.017.CL" 
         class=Mandatory>
         <option></option>
         %PRSWEB01.04.004.9.1.10.2.X
        </select>
</td></tr>

<tr valign=top><td class=DataLabel>%STANDARD.01.017.A </td>
    <td><select name=ptacc011 tabindex=2 title="%STANDARD.01.017.A " 
         class=Mandatory>
         <option></option>
         %PRSWEB01.04.005.2
        </select>
</td></tr>

<tr><td colspan=2 align=center><br>
        <input type=button value="Delete" class="button"
         onclick="deletePRS2Acc();">
        <input type=button value=Close class="button"
         onclick="DFrameCloseRefresh();">
</td></tr>
</table>

</form>
