<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/sinweb0201.js"></script>
<script type="text/javascript">
function init() {
  if (isWhitespace(document.AddForm.sipoa001.value)) {
    AddForm.OrderBut.disabled=true;
  }
  else {
    AddForm.sipoa008.readOnly=true;         // Order date
    AddForm.sipoa008.className="Readonly";  // Order date
    AddForm.c_sipoa008.disabled=true;       // Order date current date button
    AddForm.d_sipoa008.disabled=true;       // Order date calender button
    AddForm.sipoa003.className="Readonly";  // Originator
    AddForm.sipoa003.disabled=true;         // Originator
    AddForm.sipoa002.readOnly=true;         // Supplier
    AddForm.sipoa002.className="Readonly";  // Supplier Name
    AddForm.s_sipoa002.disabled=true;       // Supplier search button
    AddForm.c_sipoa002.disabled=true;       // Supplier clear button
    AddForm.sipoa005.readOnly=true;         // Supplier Contact
    AddForm.sipoa005.className="Readonly";  // Supplier Contact
    AddForm.sipoa007.className="Readonly";  // Message
    AddForm.sipoa007.disabled=true;         // Message
    AddForm.sipoa012.className="Readonly";  // Confirmation
    AddForm.sipoa012.disabled=true;         // Confirmation
    AddForm.sipoa004.readOnly=true;         // Hospital Contact
    AddForm.sipoa004.className="Readonly";  // Hospital Contact
    if(document.AddForm.sncomdpc.value==1) {
      AddForm.sipoa025.className="Readonly";  // Delivery Point
      AddForm.sipoa025.disabled=true;         
    }
    else {
      AddForm.sipoa024.className="Readonly";  // Delivery Point
      AddForm.sipoa024.disabled=true;         
    }
    AddForm.ItemButt.focus();
  }
}
function checkPrinter(checkfield) {
  if (checkfield.value==0) {
    document.AddForm.selprint.className="Mandatory";
    document.AddForm.selprint.disabled=false;
  }
  else {
    document.AddForm.selprint.value="";
    document.AddForm.selprint.className="readonly";
    document.AddForm.selprint.disabled=true;
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<table align=center width=100% border=0>
<tr><td>

   <form name=AddForm method=post action=sinweb02.pbl>
   <input type=hidden name=reportno value="1">
   <input type=hidden name=template value="001">
   <input type=hidden name=updttype value="A">
   <input type=hidden name=nextpage value="1">
   <input type=hidden name=redirect value="sinweb02.pbl?reportno=1&template=1">
   <input type=hidden name=sipoa001 value="%SINWEB02.01.001">
   <input type=hidden name=sncomdpc value="%SINWEB02.01.202">
   <input type=hidden name=dummy1 value="">

<table align=center width=98% border=0 cellpadding=0 cellspacing=2>
<tr><td class=DataLabel width=15%>Order Date</td>
    <td width=35%><input type=text name=sipoa008 size=10 title="Order Date"
         value="%SINWEB02.01.008"
         maxlength=11 class="FutureDate Mandatory">
       <img notab src="../images/DateTimeStamp.gif" class=Icon name=c_sipoa008
        alt="Current" date="AddForm.sipoa008">
       <img notab src="../images/DateLookup.gif" class=Icon name=d_sipoa008
        alt=Calendar date=AddForm.sipoa008></td>

    <td class=DataLabel>Purchase Order Number</td>
    <td><b>%SINWEB02.01.001</b></td>
</tr>

<tr><td class=DataLabel>Originator Code</td>
    <td><select id=sipoa003 name=sipoa003 title="Originator Code" 
         onchange="validateCode2('9',sipoa003,dummy1,sipoa007,
                                     sipoa012,sipoa004);">
        <option value=""></option>
        %SINWEB02.01.003.2
        </select>
    </td>
</tr>

<tr><td class=DataLabel>Supplier</td>
    <td><input type=text name=sipoa002 title="Supplier" class=Mandatory
         id=sipoa002 size=6 maxlength=5 value="%SINWEB02.01.002.0"
         onblur="ValidateSupplier(sipoa002,d_sipoa002,sipoa005);">
        <input type=text size=35 name=d_sipoa002 readonly class=Readonly
         id=d_sipoa002 tabindex=-1 value="%SINWEB02.01.002.1">
        <img src=../images/SearchIcon.gif class=Icon name=s_sipoa002
         onclick="SuppSearchFrame(AddForm.sipoa002,AddForm.d_sipoa002)">
        <img src="../images/ClearIcon.gif" class=Icon name=c_sipoa002
         onclick="clrFields(sipoa002,d_sipoa002);">
    </td>
    <td class=DataLabel>Supplier Contact</td>
    <td><input type="text" name=sipoa005 size=35 maxlenth=30
         title="Supplier Contact" value="%SINWEB02.01.005">
    </td>
</tr>

<tr><td class=DataLabel>Message Code</td>
    <td><select name=sipoa007 title="Message Code">
        <option value=""></option>
        %SINWEB02.01.007.2
        </select>
    </td>
    <td class=DataLabel>Confirmation Code</td>
    <td><select name=sipoa012 title="Confirmation Code">
        <option value=""></option>
        %SINWEB02.01.012.2
        </select>
    </td>
</tr>
<tr><td class=DataLabel>Hospital Contact</td>
    <td><input type="text" name=sipoa004 size=35 maxlenth=30
         title="Hospital Contact" value="%SINWEB02.01.004">
    </td>
    <td class=DataLabel width=15%>Delivery Point</td>
    <td><div id=DeliveryPoint></div></td>
</tr>
</table>

<table align=center width=100% border=0 cellpadding=0 cellspacing=2>
<tr><td colspan=5 align=center><hr></td></tr>
<tr><td class=HeadingCell width=15%>&nbsp;Part Number</td>
    <td class=HeadingCell width=40%>&nbsp;Part Description</td>
    <td class=HeadingCell width=15% align=right>Quantity&nbsp;</td>
    <td class=HeadingCell width=15% align=right>Unit Cost (Incl. GST)&nbsp;</td>
    <td class=HeadingCell width=15% align=right>Amount&nbsp;</td>
</tr>
%SINWEB02.01.203
<tr><td colspan=5 align=center><br>
    <input type=button value="Add Items" class="button" name=ItemButt
     id=btnAdd onclick="tempDisable(this); AddItems();">
    </td>
</tr>
</table>
<table align=center width=100% border=0 cellpadding=0 cellspacing=2>
<tr><td colspan=2 align=center><hr></td></tr>
<tr><td align=center width=50%>
     Print&nbsp;<input name=printfax type=radio value=0
              onclick="checkPrinter(this);">
     Fax&nbsp;<input name=printfax type=radio value=1 
              onclick="checkPrinter(this);"></td>
    <td>Printer&nbsp;
        <select name=selprint title="Printer" class="Mandatory">
        <option></option>
        %STANDARD.01.001.SINWEB02.01
        </select>
    </td>
</tr>
<tr><td colspan=2 align=center><br>
    <input type=button value="Order" class="button" name=OrderBut
     onclick="FinishOrder(AddForm);">
    <input type=button value="Cancel" class="button" 
     onclick="CancelOrder(AddForm);">
</td></tr>

</table>
</form>
</td></tr>
</table>

<span id=singleDP style="display:none">
    <select name=sipoa024 title="Delivery Point">
    <option value=""></option>
        %SINWEB02.01.024.2
    </select>
    <input type=hidden name=sipoa025 value="">
</span>

<span id=multipleDP style="display:none">
    <select name=sipoa025 title="Delivery Point">
    <option value=""></option>
        %SINWEB02.01.025.2
    </select>
    <input type=hidden name=sipoa024 value="">
</span>
<script>
  if (isWhitespace(AddForm.sipoa008.value)) {
    AddForm.sipoa008.value="%STANDARD.01.015";
  }
  if(document.AddForm.sncomdpc.value==1) {
    DeliveryPoint.innerHTML=multipleDP.innerHTML; 
  } else {
    DeliveryPoint.innerHTML=singleDP.innerHTML; 
  }
  if ("%SINWEB02.01.204"==0) {
    AddForm.printfax[0].checked=true;
  }
  else {
    AddForm.printfax[1].checked=true;
    document.AddForm.selprint.value="";
    document.AddForm.selprint.className="readonly";
    document.AddForm.selprint.disabled=true;
  }
  for (i=0; i<AddForm.selprint.length; i++) {
    if (AddForm.selprint[i].value=="%SINWEB02.01.205") {
      AddForm.selprint.selectedIndex=i;
    }
  }
</script>
