<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Update Waiting List Comments
</span>
<form name=UpdateForm action="watweb01.pbl" method=post
 style="margin:0" onsubmit="return validateMandatory(this);">
<table border=0 width=95% cellspacing=0 align=center>
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=1>
<input type=hidden name=casekeys value="%WATWEB01.02.101">
<input type=hidden name=updttype value="C">
<input type=hidden name=dummy value="">

<tr><td align=center>
    <textarea wrap=hard name=wattrcom 
     cols=70 rows=10>%WATWEB01.02.161</textarea></td></tr>

<tr><td align=center>
    <input type=submit class="button" value="Ok">
    <input type=button value="Cancel" class="button" onclick='DFrameClose()'>

</td></tr>
</form>
</table>

