<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function updateParent(code,name,unit) {
  parent.parent.ReturnName.value=name;
  parent.parent.ReturnCode.value=code;
  Unit=parent.parent.ReturnUnit;
  for (var i = 0; i < Unit.length; i++) {
   if (Unit.options[i].value.substr(0,3) == unit) {
       Unit.options[i].selected=true } }
  window.blur();
  parent.focus();
  if (parent.parent.ReturnCode.type=="hidden") {
    parent.parent.ReturnName.focus(); }
  else {
    parent.parent.ReturnCode.focus(); }
  parent.parent.document.getElementById('PopUpScreen').style.display="none";
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
   <form name=SelectCode method=get style="margin:0" action=watweb02.pbl>
   <input type=hidden name=reportno value="1">
   <input type=hidden name=template value="001">
   <input type=hidden name=wtpro001 value="%WATWEB02.01.101">
   <input type=hidden name=wtpro005 value="%WATWEB02.01.002">
<table border=1 width=100% cellspacing=0 cellpadding=0>

<tr><td class=HeadingCell align=center>Unit %WATWEB02.02.003
    </td></tr>
</table>

<table cellspacing=0 border=1 width=100%>
%WATWEB02.02.110
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onclick='location.href="%WATWEB02.02.109.005"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%WATWEB02.02.108.005"'>
</td></tr>
</table>
</form>
