<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/websec01.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name="SelectCode" action="websec01.pbl" >
<input type="hidden" name="reportno" value="14" />
<input type="hidden" name="template" value="1" />
<input type="hidden" name="wbgrp001" value="" />
<table border="1" width="100%" cellspacing="0" cellpadding="0">
  <tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
      <tr>
      <td class="MaintenanceHeading">Security Groups</td>
      <td  class="right bold">Code&nbsp;
         <input type="text" name="startkey" size="12" maxlength="10" />
         <input type="button" value="Edit" class="button" onclick="EditLookup14();" />
         <input type="submit" value="Goto" class="button" />
      </td></tr>
   </table>
   <table cellspacing="0"  border="1" width="100%">
%WEBSEC01.14.011.websec01.14.003
   </table>

  <table width="100%" bgcolor="#CCCCCC"><tr>
    <td class="center">
    <input type="button" value="<< Previous" class="button"
           onclick='location.href="%WEBSEC01.14.013.001"' />
    <input type="button" value="Add" class="button"
           onclick="ShowDetail14('websec01.pbl?reportno=14&template=002');" />
<!--
    <input type="button" value="Gen Apache" class="button" id="apachegrp" style="display;none"
           onclick="GenerateForm.submit();" />
-->
    <input type="button" value="Next >>" class="button"
           onclick='location.href="%WEBSEC01.14.012.001"' />
    </td></tr>
  </table>
</td></tr>
</table>
</form>
<script type="text/javascript">
var htgroupfile = '%STANDARD.01.025.101.056.0.1';
function init()
{
//  if (htgroupfile == "0" || isWhitespace(htgroupfile))  return;  
//  document.getElementById('apachegrp').style.display="";
}
</script>
<form name="GenerateForm" method="post" action="rshweb02.pbl" />
<input type="hidden" name="reportno" value="4" />
<input type="hidden" name="template" value="001" />
<input type="hidden" name="updttype" value="A" />
<input type="hidden" name="setdfprg" value="GENWEB01" />
<input type="hidden" name="setdfrep" value="04" />
<input type="hidden" name="schdpgid" value="GENWEB01" />
<input type="hidden" name="schddesc" value="Generate Apache group file" />
<input type="hidden" name="nextpage" value="0" />
<input type="hidden" name="schdprnt" value="S  " />
<input type="hidden" name="schddate" value="%STANDARD.01.015" />
<input type="hidden" name="schdtime" value="%STANDARD.01.016" />
<input type="hidden" name="nextpage" value="1">
<input type="hidden" name="redirect" value="websec01.pbl?reportno=14&template=1">
<input type="hidden" name="keystr01" value="8" />
</form>

