<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function CheckForm() {
  if (!validateMandatory(document.UpdateForm)) return false;

  if (document.UpdateForm.password.value == document.UpdateForm.newpassw.value) {
    alert("Password Must be Changed");
    document.UpdateForm.reset();
    document.UpdateForm.password.focus();
    return(0);
  }
  if (document.UpdateForm.newpassw.value != document.UpdateForm.verpassw.value) { 
    alert("Verify Password does not equal New Password, Please Retype"); 
    document.UpdateForm.reset();
    document.UpdateForm.password.focus();
    return(0);
  }
  if (document.UpdateForm.newpassw.value.length < MinPasswordLength) { 
    alert("Password must not be less than " + MinPasswordLength + " characters"); 
    document.UpdateForm.reset();
    document.UpdateForm.password.focus();
    return(0);
  }
 if (MaxPasswordLength>0) {
   if (document.UpdateForm.newpassw.value.length > MaxPasswordLength) {
     var mxPwdLngth = MaxPasswordLength;
     alert("Password must not be greater than " + mxPwdLngth + " characters");
     document.UpdateForm.reset();
     document.UpdateForm.password.focus();
     return false;
   }
 }

  var UserID = document.UpdateForm.username.value.replace(/ /g,"");
  if (document.UpdateForm.newpassw.value==UserID) {
    alert("Password can not equal the user ID");
    document.UpdateForm.reset();
    document.UpdateForm.password.focus();
    return(0);
  }
  
  document.UpdateForm.submit();
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);self.focus();document.UpdateForm.password.focus();">
<base target=_top>
<p>&nbsp;
<p>&nbsp;
<form name=UpdateForm method=post style="margin:0">
<input type=hidden name=reportno value="2">
<input type=hidden name=template value="2">
<input type=hidden name=updttype value="U">
<input type=hidden name=nextpage value="1">
<table border=2 cellspacing=0 align=center bgcolor=#CCCCCC>
<tr><td align=center class=HeadingCell><b>Password Expired: Change Password</b>
</td></tr>
<tr><td>
<table>
<tr><td class=DataLabel>Username</td>
    <td>
    <input type=hidden name=redirect value="websec01.pbl?reportno=1&template=1">
    <input type=text name=username readonly
     value="%WEBSEC01.02.003"></td></tr>
<tr><td class=DataLabel>Enter Current Password</td>
    <td><input type=password name=password value="" class="Mandatory" 
        onblur="checkPass();" /></td></tr>
<tr><td class=DataLabel>Enter New Password</td>
    <td><input type=password name=newpassw value="" id=newpassw
     class="Mandatory PasswordCode" onblur="checkPasswordCode(this);"></td></tr>
<tr><td class=DataLabel>Verify New Password</td>
    <td><input type=password name=verpassw value="" id=verpassw
     class="Mandatory PasswordCode" onblur="checkPasswordCode(this);"></td></tr>
<tr><td colspan=2 align=center>
    <input type=button class="button" onclick=CheckForm() value="Change">
</td></tr>
</table>
</td></tr>
</table>
</form>
