<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload=PageLoad(event);>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
   <form name=UpdateForm method=post action=websec01.pbl>
   <input type=hidden name=reportno value="12">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="">
   <input type=hidden name=wbrur001 value="%WEBSEC01.12.001">
   <input type=hidden name=wbrur002 value="%WEBSEC01.12.002.1" >
<table align=center width=95% border=0>
<tr><td>
<table align=center width=100% border=0>

<tr valign=top><td class=DataLabel>Report Group</td>                           
    <td><input type=text name=d_wbrur002 class=Mandatory title="Report Group"    
         size=30 maxlength=30 value="%WEBSEC01.12.002.0" readonly>              
</td></tr>                             

<tr><td colspan=2 align=center><br>
<!--
    <input type=button value="Update" class="button" onclick=setFormactn('U');>
-->
    <input type=button value="Delete" class="button" onclick="setFormactn('D');">
    <input type=button value="Cancel" class="button" onclick=DFrameCloseRefresh();>
</td></tr>
</table>
</td></tr>
</table>
</form>
