Content-Type: text/html
Cache-Control: no-cache

%START.OF.PAGE
<!DOCTYPE html>
<html>
<head>
<title>Portal User Maintenance</title>
<meta name="ServerID"       content="%STANDARD.01.004">
<meta name="ServerName"     content="%STANDARD.01.005">
<meta name="ServerVersion"  content="%STANDARD.01.006">
<meta name="ServerOption"   content="%STANDARD.01.002">
<meta name="ServerTemplate" content="%STANDARD.01.003">
<meta name="TemplateFile"   content="websec0106108.html">
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser"    content="true">
<script type="text/javascript" src="../js/Standard.js"></script>
<script type="text/javascript" src="../js/Custom.js"></script>
<script type="text/javascript" src="../js/json2.js"></script>
<link rel="stylesheet" href="../html/standard.css" type="text/css">
<link rel="stylesheet" href="../html/custom.css" type="text/css">
<style type=text/css>
.MaintenanceIcon {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -60px no-repeat;
  width:20px;
  height:20px;
}
.FreeTextEditor {
  width:800px;
  height:600px;
  background-color:white;
  border:3px outset silver;
}
.FreeTextEditorHeading {
 font-weight:bold;
 background-color: #99CCFF;
 padding-top:3px;
 padding-bottom:3px;
 text-align:center;
}
.FreeTextEditorFooter {
 text-align:center;
 padding:10px;
}
.Label {
  font-weight:bold;
}
</style>
<script type=text/javascript>
var UserProfiles;
var UserProfileSelect="";
function Save() {
  var url="PortalConfiguration.php" 
  var el;
  var qry="reportno=8"
  el=document.getElementById('db_server');
  qry=qry+"&db_server="+encodeURIComponent(el.value);
  el=document.getElementById('db_username');
  qry=qry+"&db_username="+encodeURIComponent(el.value);
  el=document.getElementById('db_password');
  qry=qry+"&db_password="+encodeURIComponent(el.value);
  el=document.getElementById('site_domain');
  qry=qry+"&site_domain="+encodeURIComponent(el.value);
  el=document.getElementById('site_url');
  qry=qry+"&site_url="+encodeURIComponent(el.value);
  el=document.getElementById('site_email');
  qry=qry+"&site_email="+encodeURIComponent(el.value);
  el=document.getElementById('site_logo');
  qry=qry+"&site_logo="+encodeURIComponent(el.value);
  el=document.getElementById('site_name');
  qry=qry+"&site_name="+encodeURIComponent(el.value);
  el=document.getElementById('site_timeout');
  qry=qry+"&site_timeout="+encodeURIComponent(el.value);

  var xmlHttp = createHttpObject();
  xmlHttp.open("POST",url,false);
  xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
  xmlHttp.send(qry);
  if (xmlHttp.status == 200) {
    if (xmlHttp.responseText=="COMPLETE") {
      alert("Update Complete");
      location.reload();
      return;
    } 
  } else {
    alert("ERROR : A problem occurred saving the records Try Again.");
    return;
  }
}
function init() {
  var OS="<table width=100% cellpadding=4 border=1 style='border:1px #ccc solid'>"+
         "<tr class=FreeTextEditorHeading><td colspan=3>Portal User Maintenance</td></tr>"+
         "<tr class=FreeTextEditorHeading>"+
         "<td>Name</td>"+
         "<td>Email Address</td>"+
         "<td>Status</td></tr></table>";
  var el=document.getElementById("TableLocation");
  el.innerHTML=OS;
}
function SearchTable() {
  var theURL   = "PortalConfiguration.php?reportno=8&option=1"+
                 "&EmailSearch="+document.getElementById("EmailSearch").value+
                 "&NameSearch="+document.getElementById("NameSearch").value;
  var xmlHttp=new XMLHttpRequest(); // Firefox, Opera 8.0+, Safari
  xmlHttp.open("GET", theURL, false);
  xmlHttp.send();
  if (xmlHttp.status == 200) {
    UserProfiles = JSON.parse(xmlHttp.responseText);
    var OS="<table width=100% cellpadding=4 border=1 style='border:1px #ccc solid'>"+
           "<tr class=FreeTextEditorHeading><td colspan=4>Portal User Maintenance</td></tr>"+
           "<tr class=FreeTextEditorHeading>"+
           "<td>Name</td>"+
           "<td>Email Address</td>"+
         "<td>Status</td></tr>";
    for (var i=0;i<UserProfiles.length;i++) {
      StatusName="Activated";
      if (UserProfiles[i].activated==0) StatusName="Not Activated";
      if (UserProfiles[i].activated==1) StatusName="Activated";
      if (UserProfiles[i].activated==2) StatusName="Password Reset in Progress";
      if (UserProfiles[i].activated==3) StatusName="Disabled";
      OS+="<tr onclick='ShowUserProfile(\""+i+"\");'>"+
          "<td><span class=MaintenanceIcon></span>"+
                UserProfiles[i].firstName+" "+UserProfiles[i].surname+"</td>"+
         "<td>"+UserProfiles[i].userEmail+"</td>"+
         "<td>"+StatusName+"</td></tr>";
    }
    var el=document.getElementById("TableLocation");
    OS+="</table>";
    el.innerHTML=OS;
  }
}
function ShowUserProfile(el) {
  UserProfileSelected=el;
  var theURL="websec01.pbl?reportno=6&template=109";
  var t=100;
  var h=480;
  var w=640;
  var l = (getClientWidth() - w)/2;
  DFrameLink(theURL,t,l,w,h) 
}
</script>
</head>
<body onload="PageLoad(event);">
<form name=PageEdit action=PortalConfiguration.php method=POST>
<input type=hidden name=reportno value=8>
<table width=100% >
<tr valign=top><td> 
  <table width=100% cellpadding=4 border=1 style='border:1px #ccc solid'>
  <tr><td width=25%></td>
      <td nowrap>Email Address</td>
      <td nowrap><input type=text id=EmailSearch name=EmailSearch value=""></td>
      <td nowrap>Surname</td>
      <td nowrap><input type=text id=NameSearch name=NameSearch value=""></td>
      <td nowrap><input type=button value="Search" onclick='SearchTable();'></td>
      <td width=25%></td></tr></table>
</td></tr>
<tr valign=top><td>
<div id=TableLocation></div>
</td></tr>
<tr><td style='text-align:center;'>
</td></tr>
<table>
</form>
<div name="PopUpScreen" id="PopUpScreen" style="display: none;">
<iframe scrolling="no" width="100%" height="100%" name="PopUpFrame" id="PopUpFrame"></iframe>
<iframe scrolling="no" style="display: none;" name="PopUpFrame1" id="PopUpFrame1"></iframe>
</div>
</body>
</html>
