Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Make Referral Active</title>
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="mobile">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../html/ipad/ipad.js"></script>
<script type="text/javascript" src="../html/ipad/ipadform.js"></script>
<script type="text/javascript" src="../html/ipad/allweb0202806.js"></script>
<link   rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
%START.OF.PAGE
<script type="text/javascript">
 var RefBulkBill="%ALLWEB02.02.136";
 var RefSACS="%ALLWEB02.02.144";
 var RefStatus="%ALLWEB02.02.103";
</script>
</head>
<body onload='init();'>
<form name=UpdateForm action="allweb02.pbl" method=post> 
<input type=hidden name=reportno value="2">
<input type=hidden name=template value="006">
<input type=hidden name=urnumber value="%ALLWEB02.02.003">
<input type=hidden name=admissno value="%ALLWEB02.02.081">
<input type=hidden name=updatety value="">
<input type=hidden name=alref036 value="">
<input type=hidden name=alref083 value="">
<input type=hidden name=override value="1">
<input type=hidden name=nextpage value="1">
<input type=hidden name=redirect value="">
 <ul class='sectionList' style="margin-bottom:0px;">
     <li class='sectionItem'>
       <div style='text-align:center;font-family:Arial;'>
      %ALLWEB02.02.002
      (%ALLWEB02.02.019,  %ALLWEB02.02.020,  %ALLWEB02.02.021, %ALLWEB02.02.003) <br />
       </div>
     </li>
   </ul>
<ul class=sectionList>
<li class=sectionItem>
<span class=labelText>Department</span>
<span class=sectionText>
  <input name=deptcode type=hidden value="%ALLWEB02.02.125.1">
  <input readonly name=n_deptcode type=text value="%ALLWEB02.02.125.0" class=Readonly>
</span></li>

<li class=sectionItem>
<span class=labelText>Entered By</span>
<span class=sectionText>
  <input readonly type=text value="%ALLWEB02.02.163" class=Readonly>
</span></li>

<li class=sectionItem>
<span class=labelText>Comment</span>
<span class=sectionText>
  <input type=text name=commenty size=51 maxlength=50>
</span></li>
</ul>
</form>
</body>
