Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Add Basic Observations</title>
<script type="text/javascript" src="../html/iphone/iphone.js"> </script>
<link   rel="stylesheet" href="../html/iphone/iphone.css" type="text/css">
<link rel="stylesheet" href="../html/iphone/spinningwheel.css" type="text/css" media="all" />
<script type="text/javascript" src="../html/iphone/spinningwheel.js"></script>
<script type="text/javascript" src="../html/ipad/slider/slider.class.js"> </script>
<link   rel="stylesheet" href="../html/ipad/slider/slider.css" type="text/css">
<script type="text/javascript">
var slider = null;
var lastBtn = null;
function init() {

  var defaultBtn = document.getElementById('btn_1');
  var defaultLabel = document.getElementById('inp_1');
  var div = document.getElementById('rightPanel');

  slider = new Slider({"parentDiv":div,
                       "resultLabel":defaultLabel,
		       "markerOn":true,	
		       "sliderDirectory":"../html/ipad/slider/"
                      });

  defaultLabel.style.display = "";
  defaultBtn.className += " highlight";
  lastBtn = defaultBtn;
  defaultBtn.onclick();
  calculateBMI();
  calculateBSA();
}
function setSliderValue(title,max,min,step,decimalPlace,btnName,resultLabel,bool) {
  var label = document.getElementById(resultLabel);
  var btn = document.getElementById(btnName);

  if(lastBtn != null) {
     lastBtn.className = lastBtn.className.replace(/highlight/g,"");
  }

  
  slider.setResultLabel(label);
  slider.setSliderValues(max,min,step,decimalPlace);
  slider.drawGraph(title);
  slider.setMultiMarker(bool);
  if(resultLabel == "inp_9"||resultLabel == "inp_10" ) {
    slider.setOnEnd(function() {
                    calculateBMI();
                    calculateBSA(); });
  } else {
    slider.setOnEnd(function() {  });
  }
  

  //on blood pressure
  if(resultLabel == "inp_2" ) {
      // restore the markers 
      slider.setMarkerValue({"markValue1":getResultFromMultiple(label.value)[1],
                             "markValue2":getResultFromMultiple(label.value)[0]
	                    });

  } else {
      //on everything else restore just the first marker
      slider.setMarkerValue({"markValue1":getResultFromMultiple(label.value)[1],
                             "markValue2":0
	                    });
  }

  //redraw the slider marker after markers are set on the grahp
  slider.redrawMarker();
 
  label.style.display = "";
  btn.className += " highlight";
  lastBtn = btn;
}

function determinWeightRange() {
  var maxWeight = 200;
  var minWeight = 25;
  var stepWeight = 0.5;
  var decimal  = 1;
  var age = parent.PatientAGE.substring(0,3);

  age = age.replace(/ /g,"");
  age = parseInt(age,10);

  if(age < 2 ){
     maxWeight = 10;
     minWeight = 0;
     stepWeight = 0.05;
     decimal = 3
  }else if(age < 6) {
     maxWeight = 25;
     minWeight = 5;
     stepWeight = 0.1;
     decimal = 1;
  }
      
  setSliderValue('Weight (kg)',maxWeight,minWeight,stepWeight,decimal,'btn_9','inp_9');
}

function determinHeightRange() {
  var maxHeight = 280;
  var minHeight = 50;
  var stepHeight = 1;
  var decimal  = 0;
  var age = parent.PatientAGE.substring(0,3);

  age = age.replace(/ /g,"");
  age = parseInt(age,10);

  if(age < 2 ){
     maxHeight = 75;
     minHeight = 5;
     stepHeight = 0.5;
     decimal = 1
  }else if(age < 6) {
     maxHeight = 150;
     minHeight = 50;
     stepHeight = 1;
     decimal = 0;
  }
      
  setSliderValue('Height (cm)',maxHeight,minHeight,stepHeight,decimal,'btn_10','inp_10');
}

function prepare() {
  AddForm.redirect.value=parent.document.location.href;

  if (validateMandatory(AddForm)) {
    var inp_1 = document.getElementById('inp_1'); //pulse
    var inp_2 = document.getElementById('inp_2'); //bp 1
    var inp_3 = document.getElementById('inp_3'); //temp
    var inp_4 = document.getElementById('inp_4'); //resp
    var inp_5 = document.getElementById('inp_5'); //blood sugar
    var inp_6 = document.getElementById('inp_6'); //SaO2
    var inp_7 = document.getElementById('inp_7'); //Pain
    var inp_8 = document.getElementById('inp_8'); //O2 flow
    var inp_9 = document.getElementById('inp_9'); //weight
    var inp_10 = document.getElementById('inp_10'); //height
 
    AddForm.obdet004.value = inp_1.value;
    AddForm.obdet006.value = getResultFromMultiple(inp_2.value)[0];
    AddForm.obdet007.value = getResultFromMultiple(inp_2.value)[1];
    AddForm.obdet005.value = inp_3.value;
    AddForm.obdet008.value = inp_4.value;
    AddForm.obdet034.value = inp_5.value;
    AddForm.obdet009.value = inp_6.value;
    AddForm.obdet041.value = inp_7.value;
    AddForm.obdet010.value = inp_8.value;
    AddForm.pmsvx045.value = inp_9.value;   
    AddForm.pmsvx046.value = inp_10.value;   
    AddForm.submit();
  }
}

function getResultFromMultiple(value) {
  var result = new Array();
  var length = value.length;
  var num1 = value.substr(0,value.indexOf(slider.getSeparator()));
  var num2 = value.substr(value.indexOf(slider.getSeparator())+1,length);

  result = [num1,num2];
  return result;
}

function bloodPressure() {
      setSliderValue('Blood Pressure',200,30,5,0,'btn_2','inp_2',true);
      slider.setMarkerCrossOver(false);
}

function moveToNext()
{
     var num = parseInt(lastBtn.id.substring(4,6),10);
     var btn = document.getElementById('btn_'+num);
     var inp = document.getElementById('inp_'+num);
//     if (!isWhitespace(document.getElementById('inp_10').value)&&!isWhitespace(document.getElementById('inp_9').value)) {
//        var kilograms = parseInt(document.getElementById('inp_9').value,10);
//        var meters    = parseInt(document.getElementById('inp_10').value,10)/100;
//        AddForm.bmivalue.value     = Math.round(kilograms/(meters*meters));
//     }
     if (num > 9){
	 num = 0;
     }

     btn.className = btn.className.replace(/highlight/g,"");
     inp.className = inp.className.replace(/selected/g,"");

     btn = document.getElementById('btn_'+parseInt(num+1,10));

     if(btn != null) 
	btn.onclick();
}
function calculateBSA() {
 var weight = document.getElementById("inp_9");
 var height = document.getElementById("inp_10");
 var bsaLabel = document.getElementById("bsavalue");
 var h = parseFloat(height.value);
 var w = parseFloat(weight.value);

 if(!isNaN(h) && !isNaN(w)){
   bsaLabel.value = Math.sqrt( (h * w) / 3600 ).toFixed(2);
 }

}

function calculateBMI() {
 var weight = document.getElementById("inp_9");
 var height = document.getElementById("inp_10");
 var bmiLabel = document.getElementById("bmivalue");
 var h = parseFloat(height.value);
 var w = parseFloat(weight.value);

 if(!isNaN(h) && !isNaN(w)){
   bmiLabel.value =  Math.round( w / ( ( h / 100 )  * ( h / 100 ) )) ;
 }
}

</script>

<style type=text/css>
.subhead {
 font-weight:bold;
 font-size:15px;
 margin-top:0px;
 margin-bottom:0px;
 margin-left:15px;
}
.sectionText {
 position:absolute;
 right:8px;
 margin-top:-5px;
 margin-right:10px;
 vertical-align:top;
}

div#leftPanel {
  float:left;
  background-color:white;
  margin-left:5px;
  margin-top:10px;
}

div#rightPanel {
  margin-top:5px;
  margin-right:3px;
  float:right;
}

input.observation {
 margin:0px;
 text-overflow:ellipsis;
 white-space:nowrap;
 color:#fff;
 text-align:center;
 border-width: 0px 6px 0px 6px;
 -webkit-border-image: url(../html/iphone/iPhoneNavButtonG.png) 0 6 0 6 stretch stretch;
 background-color: transparent;
 background-image: none;
 background-repeat: repeat;
 display:block;
 font-size: 12px;
 font-weight: bold;
 height: 30px;
 line-height: 30px;
 padding:0px;
 width:70px;
}

input.highlight {
 -webkit-border-image: url(../html/iphone/iPhoneNavButtonB.png) 0 6 0 6 stretch stretch;
}

input[type="text"].tag {
  -webkit-appearance: none;
  position:absolute;
  left:80px;
  font-size:14px;
  text-align:center;
  color:black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffdd), color-stop(1, #ffff33));
  border:1px inset #ffffdd;
  -webkit-border-radius:5px;
}

input.next {
 width:120px;
 margin-left: 20px;
 margin-right:0px;
}

div#wrapper {
  padding-bottom:10px;
  background-color:white;
  height:330px;
}

</style>
%START.OF.PAGE
<body onload="init();" style="background-color:white;">
<form name=AddForm method=post action="cliweb02.pbl">
  <input type=hidden name=reportno value=2>
  <input type=hidden name=template value=111>
  <input type=hidden name=urnumber value="%CLIWEB02.02.003">
  <input type=hidden name=admissno value="%CLIWEB02.02.081">
  <input type=hidden name=nextpage value="3">
  <input type=hidden name=redirect value="">
  <input type=hidden name=updttype value="A">
  <input type=hidden name=obdet004 value="">
  <input type=hidden name=obdet008  value="">
  <input type=hidden name=obdet005  value="">
  <input type=hidden name=obdet006  value="">
  <input type=hidden name=obdet007  value="">
  <input type=hidden name=obdet009  value="">
  <input type=hidden name=obdet032  value="">
  <input type=hidden name=obdet010  value="">
  <input type=hidden name=obdet011  value="">
  <input type=hidden name=obdet041   value="">
  <input type=hidden name=pmsvx045  value="%CLIWEB02.02.245">
  <input type=hidden name=pmsvx046  value="%CLIWEB02.02.246">
  <input type=hidden name=obdet034  value="">
  <input type=hidden name=obdet003 value="B" title="Observation Type">
  <div id="wrapper">
    <div id="leftPanel" >
    <input type=button class="observation" id="btn_1" 
           onclick="setSliderValue('Pulse',200,20,1,0,'btn_1','inp_1',false);" value="Pulse">
    <input type="text"  size="7" class="tag" id="inp_1"
           style="top:10px;display:none;" value="" readonly="true" />

    <input type=button class="observation" id="btn_2" 
           onclick="bloodPressure();" value="BP">
    <input type="text"  size="7" class="tag" id="inp_2"
           style="top:40px;display:none;"  value="150/135" readonly="true" />

    <input type=button class="observation" id="btn_3" 
           onclick="setSliderValue('Temperature',41,31,0.5,1,'btn_3','inp_3',false);"  value="Temp">
    <input type="text"  size="7" class="tag" id="inp_3"
           style="top:70px;display:none;"  value="" readonly="true" />

    <input type=button class="observation" id="btn_4"  
           onclick="setSliderValue('Respiration',40,0,1,0,'btn_4','inp_4',false);"  value="Resp">
    <input type="text"  size="7" class="tag" id="inp_4"
           style="top:100px;display:none;"  value="" readonly="true" />

    <input type=button class="observation" id="btn_5" 
           onclick="setSliderValue('Blood Sugar',20,0,0.1,1,'btn_5','inp_5',false);"  value="BSL">
    <input type="text"  size="7" class="tag" id="inp_5"
           style="top:130px;display:none;"  value="" readonly="true" />
    <input type=button class="observation" id="btn_6" 
           onclick="setSliderValue('Sa02',100,80,0.5,1,'btn_6','inp_6',false);"  value="SaO2">
    <input type="text"  size="7" class="tag" id="inp_6"
           style="top:160px;display:none;"  value="" readonly="true" />

    <input type=button class="observation" id="btn_7" 
           onclick="setSliderValue('Pain',10,0,1,0,'btn_7','inp_7',false);"  value="Pain">
    <input type="text"  size="7" class="tag" id="inp_7"
            style="top:190px;display:none;"  value="" readonly="true" />

    <input type=button class="observation" id="btn_8" 
           onclick="setSliderValue('O2 Flow',15,0,.5,1,'btn_8','inp_8',false);" value="O2 flow">
    <input type="text"  size="7" class="tag" id="inp_8"
           style="top:220px;display:none;"  value="" readonly="true" />
  
    <input type=button class="observation" id="btn_9" 
           onclick="determinWeightRange();" value="Weight">
    <input type="text"  size="7" class="tag" id="inp_9"
           style="top:250px;display:none;"  value="%CLIWEB02.02.245" readonly="true" />

    <input type=button class="observation" id="btn_10" 
           onclick="determinHeightRange();" value="Height">
    <input type="text"  size="7" class="tag" id="inp_10"
           style="top:280px;display:none;"  value="%CLIWEB02.02.246" readonly="true" />
    </div>

    <div id="rightPanel" >
       <input type="button" class="observation next" Value=Next onclick="moveToNext();">
    </div>

  </div>
  <div style="background-color:white;">
    <ul class=sectionList>
       <li class=sectionItem>
          bmi (kg/m<sup>2</sup>)
         <span class=sectionText>
           <input type=text id=bmivalue name=bmivalue title="BMI" style='text-align:right'
                  value="" readonly size=5 class="Readonly">
         </span>
       </li>
       <li class=sectionItem>
          bsa (m<sup>2</sup>)
         <span class=sectionText>
           <input type=text id=bsavalue name=bsavalue title="BSA" style='text-align:right'
                  value="" readonly size=5 class="Readonly">
         </span>
       </li>
       <li class=sectionItem onclick='javascript:location.reload();'>
          date
         <span class=sectionText>
           <input type=text name=obdet001 title="Observation Date" readonly
                  value="%CLIWEB02.02.101" readonly size=12 class="Readonly Date">
         </span>
       </li>
       <li class=sectionItem onclick="openTime(AddForm.obdet002);">time
          <span class=sectionText>
             <input type=text name=obdet002 title="Observation Time" readonly
                    value="%CLIWEB02.02.102 " size=10 class=Mandatory class=Time>
          </span>
       </li>
       <li class=sectionItem>action
          <span class=sectionText>
             <select name=obdet027 title="Action/Comment">
                <option></option>
                %CLIWEB02.02.127.2
             </select>
          </span>
       </li>
       <li class=sectionItem>comments
          <span class=commentText><br>
            <input size=25 maxlength=40 name=obdet038 title="Comment"><br>
            <input size=25 maxlength=40 name=obdet039 title="Comment"><br>
            <input size=25 maxlength=40 name=obdet040 title="Comment">
          </span>
       </li>
     </ul>

     <input type=button name=addobsbt value="Add" class="FormButton green"
             onclick="prepare();">
     <input type=button name=cancelbt value="Cancel" class="FormButton red"
             onclick="parent.restoreSections();">
    </div>
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%CLIWEB02.01.003">
<input type=hidden name=admissno value="%CLIWEB02.01.081">
</form>

</body>

