Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Add Neurological Observations</title>
<script type="text/javascript" src="../html/iphone/iphone.js"> </script>
<link   rel="stylesheet" href="../html/iphone/iphone.css" type="text/css">
<link rel="stylesheet" href="../html/iphone/spinningwheel.css" type="text/css" media="all" />
<style type=text/css>
.subhead {
 font-weight:bold;
 font-size:15px;
 margin-top:0px;
 margin-bottom:0px;
 margin-left:15px;
}
.sectionText {
 position:absolute;
 right:8px;
 margin-top:-5px;
 margin-right:10px;
 vertical-align:top;
}
</style>
<script type="text/javascript">
function init() {
 AddForm.redirect.value=parent.document.location.href;
}
function GCS() {
  var vl1=0;
  var vl2=0;
  var vl3=0;
  var el1=document.AddForm.obdet016
  if (el1.selectedIndex>0) vl1=parseInt(el1.options[el1.selectedIndex].value) 
  var el2=document.AddForm.obdet017
  if (el2.selectedIndex>0) vl2=parseInt(el2.options[el2.selectedIndex].value) 
  var el3=document.AddForm.obdet018
  if (el3.selectedIndex>0) vl3=parseInt(el3.options[el3.selectedIndex].value) 
  var gcsTotal = vl1 + vl2 + vl3;
  document.AddForm.score.value = gcsTotal;
  document.AddForm.level.value = "";
  if (gcsTotal < 15) document.AddForm.level.value = "Minor";
  if (gcsTotal <= 12) document.AddForm.level.value = "Moderate";
  if (gcsTotal <= 8) document.AddForm.level.value = "Severe";
   
}
</script>
%START.OF.PAGE
<body onload='init();'>
<form name=AddForm method=post action="cliweb02.pbl"
 onsubmit="return validateMandatory(this);">
  <input type=hidden name=reportno value=2>
  <input type=hidden name=template value=112>
  <input type=hidden name=urnumber value="%CLIWEB02.02.003">
  <input type=hidden name=admissno value="%CLIWEB02.02.081">
  <input type=hidden name=nextpage value="3">
  <input type=hidden name=redirect value="">
  <input type=hidden name=updttype value="A">
  <input type=hidden name=obdet003 value="N" title="Observation Type">

<ul class=sectionList>
<li class=sectionItem onclick='javsscript:location.reload();'>
 date
<span class=sectionText>
 <input type=text name=obdet001 title="Observation Date"
 value="%CLIWEB02.02.101" readonly size=12 class="Readonly Date">
</span></li>

<li class=sectionItem>time
<span class=sectionText>
  <input type=text name=obdet002 title="Observation Time"
  value="%CLIWEB02.02.102" size=9 class=Mandatory>
</span></li>

<li class=sectionItem>eyes open
<span class=sectionText>
<select name=obdet016 style='width:150px;' title="eyes open" onchange="GCS()">
 <option></option>
<option value=4>(4) Spontaneous     </option>
<option value=3>(3) To Speech       </option>
<option value=2>(2) To Pain         </option>
<option value=1>(1) None            </option>
<option value=0>(0) Closed Swelling </option>
</select>
</span></li>

<li class=sectionItem>best verbal
<span class=sectionText>
<select name=obdet017 style='width:150px;' title="best verbal" onchange="GCS()">
 <option></option>
<option value=5>(5) Orientated         </option>
<option value=4>(4) Confused           </option>
<option value=3>(3) Inappropriate      </option>
<option value=2>(2) Incoherent         </option>
<option value=1>(1) None               </option>
<option value=0>(0) Tracheostomy       </option>
</select>
</span></li>

<li class=sectionItem>best motor
<span class=sectionText>
<select name=obdet018 style='width:150px;' title="best motor" onchange="GCS()">
 <option></option>
<option value=6>(6) Obey Cmd           </option>
<option value=5>(5) Local Pain         </option>
<option value=4>(4) Withdraws          </option>
<option value=3>(3) Abnormal Flex      </option>
<option value=2>(2) Extension          </option> 
<option value=1>(1) None               </option>
</select>
</span></li>
<li class=sectionItem>glasgow coma score
<span class=sectionText>
<input style='text-align:right;border:0;-webkit-appearance:none;' 
 type=number size=5 class=readonly name=score value="">
</span></li>

<li class=sectionItem>impaired consciousness
<span class=sectionText>
<input style='text-align:right;border:0;-webkit-appearance:none;' 
 type=number size=8 class=readonly name=level value="">
</span></li>

</ul>

<p class=subhead>Pupils </p>

<ul class=sectionList>
<li class=sectionItem>size left
<span class=sectionText>
<select name=obdet019 style='text-align:right;width:50px' title="pupil size left">
 <option></option>
 <option value=1> 1</option>
 <option value=2> 2</option>
 <option value=3> 3</option>
 <option value=4> 4</option>
 <option value=5> 5</option>
 <option value=6> 6</option>
 <option value=7> 7</option>
 <option value=8> 8</option>
</select>
</span>
</li>

<li class=sectionItem>size right
<span class=sectionText>
<select name=obdet020 style='text-align:right;width:50px' title="pupil size right">
 <option></option>
 <option value=1> 1</option>
 <option value=2> 2</option>
 <option value=3> 3</option>
 <option value=4> 4</option>
 <option value=5> 5</option>
 <option value=6> 6</option>
 <option value=7> 7</option>
 <option value=8> 8</option>
</select>
</span>
</li>

<li class=sectionItem>reaction left
<span class=sectionText>
<select name=obdet021 style='width:150px;' title="pupil reaction left">
<option></option>
<option value=4>Reacts</option>
<option value=3>Sluggish</option>
<option value=2>No Response</option>
<option value=1>Eye Closed</option>
</select>
</span>
</li>

<li class=sectionItem>reaction right
<span class=sectionText>
<select name=obdet022 style='width:150px;' title="pupil reaction right">
<option></option>
<option value=4>Reacts</option>
<option value=3>Sluggish</option>
<option value=2>No Response</option>
<option value=1>Eye Closed</option>
</select>
</span>
</li>

</ul>

<p class=subhead>Limb Movement </p>

<ul class=sectionList>
<li class=sectionItem>left arm
<span class=sectionText>
<select name=obdet023 style='width:150px;' title="left arm movement">
 <option></option>
 <option value=7>Normal Power</option>
 <option value=6>Mild Weakness</option>
 <option value=5>Moderate Weakness</option>
 <option value=4>Severe Weakness</option>
 <option value=3>Flexion to Pain</option>
 <option value=2>Extension to Pain</option>
 <option value=1>No Response</option>
</select>
</span>
</li>

<li class=sectionItem>right arm
<span class=sectionText>
<select name=obdet024 style='width:150px;' title="right arm movement">
 <option></option>
 <option value=7>Normal Power</option>
 <option value=6>Mild Weakness</option>
 <option value=5>Moderate Weakness</option>
 <option value=4>Severe Weakness</option>
 <option value=3>Flexion to Pain</option>
 <option value=2>Extension to Pain</option>
 <option value=1>No Response</option>
</select>
</span>
</li>

<li class=sectionItem>left leg
<span class=sectionText>
<select name=obdet025 style='width:150px;' title="left leg movement">
 <option></option>
 <option value=7>Normal Power</option>
 <option value=6>Mild Weakness</option>
 <option value=5>Moderate Weakness</option>
 <option value=4>Severe Weakness</option>
 <option value=3>Flexion to Pain</option>
 <option value=2>Extension to Pain</option>
 <option value=1>No Response</option>
</select>
</span>

<li class=sectionItem>right leg
<span class=sectionText>
<select name=obdet026 style='width:150px;' title="right leg movement">
 <option></option>
 <option value=7>Normal Power</option>
 <option value=6>Mild Weakness</option>
 <option value=5>Moderate Weakness</option>
 <option value=4>Severe Weakness</option>
 <option value=3>Flexion to Pain</option>
 <option value=2>Extension to Pain</option>
 <option value=1>No Response</option>
</select>
</span>
</li>


<li class=sectionItem>action
<span class=sectionText>
    <select name=obdet027 title="Action/Comment">
    <option></option>
    %CLIWEB02.02.127.2
    </select>
</span>
</li>

<li class=sectionItem>comments
<span class=commentText><br>
 <input size=25 maxlength=40 name=obdet038 title="Comment"><br>
 <input size=25 maxlength=40 name=obdet039 title="Comment"><br>
 <input size=25 maxlength=40 name=obdet040 title="Comment">
</span></li>

</ul>
<input type=button name=addobsbt value="Add" class="green"
 onClick="this.form.submit();">
<input type=button name=cancelbt value="Cancel" class="red"
 onClick="parent.restoreSections();">
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%CLIWEB02.01.003">
<input type=hidden name=admissno value="%CLIWEB02.01.081">
</form>

