Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<html>
<head><title>Emergency Unseen Patient List</title>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<script type="text/javascript" src="../html/ipad/emrweb0101110.js"> </script>
<link rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
<script type="text/javascript">
function init() {
 doctorName(document.DoctorForm.DoctorCode);
 var el=document.DoctorForm.emvis007
 el.value=document.DoctorForm.DoctorCode.value;
 el=document.DoctorForm.doctname
 el.value=document.DoctorForm.DoctorName.value;
}
function updDoc(el) {
  doctor=el.value;
  if(isWhitespace(doctor)){ alertify.alert("Not Authorized. No Doctor Association."); return;}
  var serverURL   = "../cgi-bin/emrweb08.pbl?reportno=3" +
                    "&admissno=" + document.DoctorForm.admissno.value +
                    "&doctcode=" + doctor +
                    "&updttype=ALDOC" +
                    "&updateky=1"
  var returnValue = RSExecute(serverURL);
  theURL = CGIPath+ "patweb98.pbl?reportno=1&template=187" +
                    "&urnumber="+document.DoctorForm.urnumber.value.replace(/ /g,"+") +
                    "&admissno="+document.DoctorForm.admissno.value.replace(/ /g,"+");
  openMedicalRecord(theURL)
}
//
// Ajax Call to Lookup for Doctor Name for Code
//
function doctorName(doctor) {
if (isWhitespace(doctor.value)) { return;;}
  doctor=doctor.value.toUpperCase()
  var serverURL   = "../cgi-bin/patweb80.pbl?reportno=3" +
                    "&valdcode=" + doctor.replace(/ /g,"+")
  var returnValue = RSExecute(serverURL);
  if (returnValue.status!=0) {
    document.DoctorForm.emvis007.options.length=0;
    document.DoctorForm.DoctorName.value="";
    document.DoctorForm.DoctorSearch.focus();
    return;
  }
  if (DoctorForm.emcndoct.value==1) {
    var serverURL   = "../cgi-bin/emrweb08.pbl?reportno=11" +
                      "&valdcode=" + doctor.replace(/ /g,"+")
    var returnValue = RSExecute(serverURL);
    if (returnValue.status!=0) {
      document.DoctorForm.emvis007.options.length=0;
      document.DoctorForm.DoctorName.value="";
      document.DoctorForm.DoctorSearch.focus();
      return;
    }
  }
  ReturnValue=returnValue.return_value.split("|");
  document.DoctorForm.DoctorName.value=ReturnValue[0];
}
</script>
</head>
%START.OF.PAGE
<body class=PatientList onload="init();InitTable();">
<!-- Dummy Section to Make Sure Next Patient Tags are Correctly Calculated-->
<div style='display:none;'>%EMRWEB01.01.006</div>
<form name=DoctorForm>
<input type=hidden name=urnumber value="%EMRWEB01.01.020">
<input type=hidden name=admissno value="%EMRWEB01.01.018">
<input type=hidden name=emcndoct value="">
<input type=hidden name=DoctorName value="">
<input type=hidden name=DoctorCode value="%STANDARD.01.010">
<input type=hidden name=emvis007>

<ul class=sectionList>
<li class=sectionItem style='text-align:center'><b>Next Patient to be Seen </b>
</li>
<li class=sectionItem>
Patient : %EMRWEB01.01.015
</li>
<li class=sectionItem>
Location: %EMRWEB01.01.017
</li>
<li class=sectionItem>
<input type=text readonly name=doctname size=50>
<span class=stdButton onclick="updDoc(document.DoctorForm.emvis007);">See Now</span>
</li>
</ul>
</form>
<div style='position:relative' id=ListLocation></div>
</body>
<script type="text/javascript">
function PatientList() {
 %EMRWEB01.01.024
}
</script>
