Content-Type: text/html 
Cache-Control: no-cache 

<!doctype html> 
%START.OF.PAGE
<html> 
<head>	
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="mobile">
<meta name="TemplateFile"    content="outweb0203033.html">
<meta name="ServerID"        content="%STANDARD.01.004">
<meta name="ServerName"      content="%STANDARD.01.005">
<meta name="ServerVersion"   content="%STANDARD.01.006">
<meta name="ServerOption"    content="%STANDARD.01.002">
<meta name="ServerTemplate"  content="%STANDARD.01.003">
<title>Update Appointment Details</title>
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<script type="text/javascript" src="../html/ipad/ipadform.js"> </script>
<script type="text/javascript" src="../html/ipad/AutoSuggestionPopup/AutoSuggestionPopup.class.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
<link   rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
<link   rel="stylesheet" href="../html/ipad/AutoSuggestionPopup/AutoSuggestionPopup.css" type="text/css">
<script type="text/javascript">
function setButtons() {
  CheckBatch();
  var actionBtn = parent.document.getElementById('actionButton');
  if(actionBtn) {
    actionBtn.className = actionBtn.className.replace(/SpanButton/g,"");
    actionBtn.className = actionBtn.className.replace(/Blue/g,"");
    actionBtn.className = actionBtn.className + " SpanButtonBlue";
    actionBtn.innerText = "Save";
    actionBtn.onclick = function() { submitUpdate() }
  }
  theForm=document.UpdateForm
  for (i=0; i<theForm.elements.length; i++) {
    el=theForm.elements[i]
    if (el.type=="text")  el.value=trim(el.value);
    if (el.type=="textarea"){
      el.value=el.value.replace(/ *$/gm,'');
      el.value=el.value.replace(/^(\r\n)|(\n)$/gm,'');
    }
  }
}
function submitUpdate() {
  var bool = validateMandatory(UpdateForm);
  if(bool) {
    theURL=document.UpdateForm.action;
    var postStr=AJAXPostString2(document.UpdateForm)
    var xmlHttp = createHttpObject();
    xmlHttp.open("POST", theURL, false);
    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.send(postStr);
    if (xmlHttp.status=="200") {
      if (xmlHttp.responseText.match(/PROCESSING|OK/i)) {
         var ldt= new Date()
         top.setCookieTime("AccessDateTime",ldt,"60")
         parent.location.reload();
         parent.CloseDocument();
      }
      else {
        alertify.alert(xmlHttp.responseText.replace(/.*alert../i,"").replace(/.\).*/i,""));
      }
    }
    else {
      alertify.alert("Web Service Not Available. Check your Connection and Try Again.");
    }
  }
  return bool
}
function CheckBatch() {
  if (document.UpdateForm.clinindc.value=="P" &&
      document.UpdateForm.ibcnumci.value=="1" &&
      document.UpdateForm.otmaumci.value=="1") {
      if (document.UpdateForm.btchflag.value == "1") {
        document.UpdateForm.outbb031.readOnly=true;
        document.UpdateForm.outbb031.className="Readonly";
      }
  }
}
function SetOutcome() {
  if(!isWhitespace(UpdateForm.outbb034.value)) {
     document.UpdateForm.outbb035.className="Mandatory";
  } else {
     document.UpdateForm.outbb035.className="";
  }
}
function ChkChkIn(){
  if (isWhitespace(UpdateForm.outbb032.value)) return;
  SetCurrentDateTimeMin(null,UpdateForm.CurrTime);
  if(!checkTime(UpdateForm.outbb032,UpdateForm.outbb032.title)) { 
    return; 
  } else {
    UpdateForm.outbb032.value=UpdateForm.outbb032.value.substr(0,5);
  }
  var ChkTime=UpdateForm.outbb032.value.replace(/:/g,"")
  var TimSeen=UpdateForm.outbb033.value.replace(/:/g,"")
  var CurTime=UpdateForm.CurrTime.value.replace(/:/g,"")
  ChkTime=trim(ChkTime);
  TimSeen=trim(TimSeen);
  CurTime=trim(CurTime);
  if (!isWhitespace(TimSeen)) {
    if (ChkTime>TimSeen){
      alertify.alert("Check in time should be less than time seen");
      UpdateForm.outbb032.value="";
    }
  }
  if (ChkTime>CurTime){
    alertify.alert("Check in time cannot be in the future");
    UpdateForm.outbb032.value="";
  }
}
function ChkTimSn(){
  if(isWhitespace(UpdateForm.outbb033.value)) return;
  SetCurrentDateTimeMin(null,UpdateForm.CurrTime);
  if(!checkTimeMin(UpdateForm.outbb033,UpdateForm.outbb033.title)) {
   return;
  } else {
    UpdateForm.outbb033.value=UpdateForm.outbb033.value.substr(0,5);
  }
  var ChkTime=UpdateForm.outbb032.value.replace(/:/g,"")
  var TimSeen=UpdateForm.outbb033.value.replace(/:/g,"")
  var DepTime=UpdateForm.outbb034.value.replace(/:/g,"")
  var CurTime=UpdateForm.CurrTime.value.replace(/:/g,"")
  ChkTime=trim(ChkTime);
  TimSeen=trim(TimSeen);
  DepTime=trim(DepTime);
  CurTime=trim(CurTime);
  if (TimSeen>CurTime){
    alertify.alert("Time seen cannot be in the future");
    UpdateForm.outbb033.value="";
    return;
  }
  if (ChkTime>TimSeen){
    alertify.alert("Time seen should be greater than check in time");
    UpdateForm.outbb033.value="";
    return;
  }
  if(!isWhitespace(DepTime)) {
    if (TimSeen>DepTime){
       alertify.alert("Time seen should be less than departure time");
       UpdateForm.outbb033.value="";
    }
  }
}
function ChkTimDp(){
  if(isWhitespace(UpdateForm.outbb034.value)) return;
  SetCurrentDateTimeMin(null,UpdateForm.CurrTime);
  if(!checkTime(UpdateForm.outbb034,UpdateForm.outbb034.title)) {
    return;
  } else {
    UpdateForm.outbb034.value=UpdateForm.outbb034.value.substr(0,5);
  }
  var DepTime=UpdateForm.outbb034.value.replace(/:/g,"")
  var TimSeen=UpdateForm.outbb033.value.replace(/:/g,"")
  var CurTime=UpdateForm.CurrTime.value.replace(/:/g,"")
  DepTime=trim(DepTime);
  TimSeen=trim(TimSeen);
  CurTime=trim(CurTime);
  if (isWhitespace(UpdateForm.outbb033.value)){
    alertify.alert("Patient not Seen,cannot be departed");
    UpdateForm.outbb034.value="";
    return;
  }
  if (TimSeen>DepTime){
    alertify.alert("Departure time should be greater than time seen");
    UpdateForm.outbb034.value="";
    return;
  }
  if (DepTime>CurTime){
    alertify.alert("Departure time cannot be in the future");
    UpdateForm.outbb034.value="";
  }
}
//------------------------------------------------------------
// Function : Standard Time Selection Frame Time format HH:MM
//------------------------------------------------------------
function SetCurrentDateTimeMin(dateField,timeField) {
  if (dateField!=null) dateField.value="";
  if (timeField!=null) timeField.value="";
  var serverURL = "../cgi-bin/patweb80.pbl?reportno=1";
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValues=returnValue.return_value.split("|")
    if (dateField!=null) {
    dateField.value=ReturnValues[0];
    dateField.blur()
    dateField.focus() }
    if (timeField!=null) {
      timeField.value=ReturnValues[1].substr(0,5);
      timeField.blur()
      timeField.focus() 
    } 
  }
}
</script>
</head>
<body onload="setButtons();">
<ul class=sectionList>
  <li class=sectionItem>
  <div style='text-align:center;font-family:Arial;'>
  %OUTWEB02.03.002
  (%OUTWEB02.03.019,  %OUTWEB02.03.020,  %OUTWEB02.03.021, %OUTWEB02.03.003) <br />
  </div>
  </li>
</ul>
<form action=outweb02.pbl name=UpdateForm method=post>
<input type=hidden name=reportno   value="4">
<input type=hidden name=updatety   value="1">
<input type=hidden name=casekeys   value="%OUTWEB02.03.366">
<input type=hidden name=nextpage   value="1">
<input type=hidden name=redirect   value="PROCESSING|OK">
<input type=hidden name=otcnocrd   value="%OUTWEB02.03.612">
<input type=hidden name=otcnocdd   value="%OUTWEB02.03.613">
<input type=hidden name=deptflag   value="%OUTWEB02.03.617">
<input type=hidden name=clinctyp   value="%OUTWEB02.03.605.1">
<input type=hidden name=CurrTime   value="1">
<input type=hidden name=CurrDate   value="1">
<input type=hidden name=startdate  value="%OUTWEB02.03.304">
<input type=hidden name=dumdate    value="">
<input type=hidden name=dumInput   value="">
<input type=hidden name=clinindc   value="%OUTWEB02.03.628">
<input type=hidden name=clinprac   value="%OUTWEB02.03.637">
<input type=hidden name=dateclin   value="%OUTWEB02.03.304">
<input type=hidden name=ibcnumci   value="%STANDARD.01.025.000.132.0.1">
<input type=hidden name=otmaumci   value="%OUTWEB02.03.634">
<input type=hidden name=btchflag   value="%OUTWEB02.03.638">
<input type=hidden name=othekdoc   value="%OUTWEB02.03.640.031">
<input type=hidden name=c_othedefd value="%OUTWEB02.03.640.032.1">
<input type=hidden name=n_othedefd value="%OUTWEB02.03.640.032.0">
<input type=hidden name=s_othedefd value="%OUTWEB02.03.640.032.2">
<input type=hidden name=todaydat   value="%STANDARD.01.015">

<ul class=sectionList>
  <li class=sectionItem>
  <span class="labelText">Clinic</span>
  <span class="sectionText" id=Appointment>%OUTWEB02.03.303.1 for %OUTWEB02.03.304 at %OUTWEB02.03.305
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Clinic Type</span>
  <span class="sectionText" id=ClinicType>%OUTWEB02.03.605.0  
   </span></li>

  <li class=sectionItem>
  <span class="labelText">Check In Time</span>
  <span class="sectionText">
    <input type=text name=outbb032 value="%OUTWEB02.03.351" size=8
     title="Check In Time" onblur="ChkChkIn();">
    <span class="stdButton RightAlign" 
     onClick="SetCurrentDateTimeMin(null,outbb032);">
    Current</span>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Time Seen</span>
  <span class="sectionText">
    <input type=text name=outbb033 
     value="%OUTWEB02.03.352" size=8 title="Time Seen" onblur=ChkTimSn();>
    <span class="stdButton RightAlign" 
     onClick="SetCurrentDateTimeMin(null,outbb033);">
    Current</span>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Departure Time</span>
  <span class="sectionText">
    <input type=text name=outbb034 value="%OUTWEB02.03.307" size=8
     title="Departure Time" onblur="ChkTimDp();SetOutcome();">
    <span class="stdButton RightAlign" 
     onClick="SetCurrentDateTimeMin(null,outbb034);">
     Current</span>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Outcome</span>
  <span class="sectionText">
    <select name=outbb035 title="Outcome">
    <option></option>
       %OUTWEB02.03.354.5
    </select>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Unit</span>
  <span class="sectionText">
    <select name=outbb022 class=SelectBig title="Unit">
    <option></option>
       %OUTWEB02.03.341.2
    </select>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">New Comments</span>
  <span class="sectionText">
    <textarea name=newcmmnt wrap=hard cols=40 rows=3></textarea>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Comments</span>
  <span class="sectionText">
  <textarea name=outptcoa wrap=hard  class=Readonly readonly 
   rows=4 cols=40>%OUTWEB02.03.327.016.005</textarea>
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Presenting Complaint</span>
  <span class="sectionText">
  <input type=text name=pmsvx052 size=40 maxlength=50 value="%OUTWEB02.03.852">
  </span></li>

  <li class=sectionItem>
  <span class="labelText">Diagnosis</span>
  <span class="sectionText">
   <input type=hidden id=outbb045 name=outbb045 value="%OUTWEB02.03.364">
   <input type="text" size="40" id="outbb046" name="outbb046"
    placeholder="Diagnosis" class="searchFormInput"
    searchType="6" returnId="outbb045" onfocus="this.value='';"
    value="%OUTWEB02.03.365" oninput="AutoSuggest();">

   <input type=hidden id=outbb055 name=outbb055 value="%OUTWEB02.03.379">
   <input type="text" size="40" id="outbb056" name="outbb056"
    placeholder="Diagnosis" class="searchFormInput"
    searchType="6" returnId="outbb055" onfocus="this.value='';"
    value="%OUTWEB02.03.380" oninput="AutoSuggest();">

   <input type=hidden id=outbb057 name=outbb057 value="%OUTWEB02.03.381">
   <input type="text" size="40" id="outbb058" name="outbb058"
    placeholder="Diagnosis" class="searchFormInput"
    searchType="6" returnId="outbb057" onfocus="this.value='';"
    value="%OUTWEB02.03.382" oninput="AutoSuggest();">

   <input type=hidden id=outbb059 name=outbb059 value="%OUTWEB02.03.383">
   <input type="text" size="40" id="outbb060" name="outbb060"
    placeholder="Diagnosis" class="searchFormInput"
    searchType="6" returnId="outbb059" onfocus="this.value='';"
    value="%OUTWEB02.03.384" oninput="AutoSuggest();">

  </span></li>

  <li class=sectionItem id=seenbydoctor>
  <span class="labelText">Seen By</span>
  <span class="sectionText">
  <input type=hidden name=outbb031 value="%OUTWEB02.03.350.001" >
  <input type=text size=25 notab name=name_outbb031
   value="%OUTWEB02.03.350.081" title="Seen By">
  </span></li>
</form>
</ul>
<div id='-suggestion-panel-wrapper' style='display:none;'>
 <div id='-suggestion-panel-wrapper2' style='width:100%'>
  <ul id='-suggestion-table' style='width:100%'></ul>
 </div>
</div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%OUTWEB02.03.003">
<input type=hidden name=admissno value="%OUTWEB02.03.081">
<input type=hidden name=MenuType value="%OUTWEB02.03.088">
<input type=hidden name=casekeys value="%OUTWEB02.03.366">
</form>
</body>

