Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
%START.OF.PAGE
<head>
<title>Appointment Details</title>
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="mobile">
<meta name="TemplateFile"    content="outweb0203031.html">
<meta name="ServerID"        content="%STANDARD.01.004">
<meta name="ServerName"      content="%STANDARD.01.005">
<meta name="ServerVersion"   content="%STANDARD.01.006">
<meta name="ServerOption"    content="%STANDARD.01.002">
<meta name="ServerTemplate"  content="%STANDARD.01.003">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<link   rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
<link   rel="stylesheet" href="../html/ipad/summary.css" type="text/css">
<script type="text/javascript">
function UpdateAppointment() {
 var item=document.getElementById("UpdateAppt");
 if (item.selectedIndex==1) appointmentEdit();
 if (item.selectedIndex==2) appointmentReschedule();
 if (item.selectedIndex==3) appointmentFollowup();
 item.selectedIndex=0;
}
function appointmentReschedule() {
  var url = "outweb02.pbl?reportno=03&template=035"+
            "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
            "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
            "&casekeys="+document.PatientLinks.casekeys.value.replace(/ /g,"+");
  var title = 'Reschedule Appointment';
  openDocumentNonZoomable(CGIPath+url,title);
}
function appointmentFollowup() {
  var url = "outweb02.pbl?reportno=03&template=034"+
            "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
            "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
            "&casekeys="+document.PatientLinks.casekeys.value.replace(/ /g,"+");
  var title = 'Follow Up Appointment';
  openDocumentNonZoomable(CGIPath+url,title);
}
function appointmentEdit() {
  var url = "outweb02.pbl?reportno=03&template=033"+
            "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
            "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
            "&casekeys="+document.PatientLinks.casekeys.value.replace(/ /g,"+");
  var title = 'Edit Appointment Details';
  openDocumentNonZoomable(CGIPath+url,title);
}
function LoadPage() {
  setTimeout(function() { AddSummary01() },100);
}
function AddSummary01() {
  if (getPatientData("patweb03","01","024")) {
    AddProblems();
  }
  setTimeout(function() { AddSummary02() },100);
}
function AddSummary02() {
  if (getPatientData("oprweb06","11","012")) {
    AddProcedures();
  }
  setTimeout(function() { AddSummary03() },100);
}
function AddSummary03() {
  showPatientData("clinicalResults","cliweb10","06","010");
}
function showPatientData(sectionID,serverID,reportID,templateID) {
 var theURL = CGIPath + serverID +".pbl?reportno="+reportID+ "&template=" + templateID+
              "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
              "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
              "&httprand="+Math.random();
 var xmlHttp = createHttpObject();
 var h  = document.getElementsByTagName("head")[0];
 var s = document.createElement("script");
 xmlHttp.open("GET", theURL, false);
 xmlHttp.send();
 if (xmlHttp.responseText!=""&&xmlHttp.status == 200) {
    el=document.getElementById(sectionID);
    el.innerHTML=xmlHttp.responseText;
 }
}
function getPatientData(serverID,reportID,templateID) {
 var theURL = CGIPath + serverID +".pbl?reportno="+reportID+ "&template=" + templateID+
              "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
              "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
              "&httprand="+Math.random();
 var xmlHttp = createHttpObject();
 var h  = document.getElementsByTagName("head")[0];
 var s = document.createElement("script");
 xmlHttp.open("GET", theURL, false);
 xmlHttp.send();
 if (xmlHttp.responseText.match(/<script type=/)) {  /* WEBERR00 Output */
   alertify.alert(xmlHttp.responseText.replace(/.*alert\(./,"").replace(/.\).*/,""));
   return false;
 }
 if (xmlHttp.responseText!=""&&xmlHttp.status == 200) {
   s.type="text/javascript";
   h.appendChild(s);
   s.text=xmlHttp.responseText;
   return true;
 } else {
   alertify.alert("Web Service Not Avalaible. ("+serverID+reportID+templateID+".html)");
   return false;
 }
}
</script>
</head>
<body class=WhitePage onload="LoadPage();">
<ul class=sectionList>
  <li  class=sectionItem>
    <span class=labelText>Clinic </span>
    <span class=sectionText>%OUTWEB02.03.303.1  </span> </li>

  <li  class=sectionItem>
    <span class=labelText>Appointment</span>
    <span class=sectionText>%OUTWEB02.03.313 %OUTWEB02.03.304 at %OUTWEB02.03.316 
    <span style='float:right;'>
     <select onchange=UpdateAppointment() class=stdButton id=UpdateAppt >
     <option>Update</option>
     <option value=1>Edit Appointment</option>
     <option value=2>Reschedule Appointment</option>
     <option value=3>Follow Up Appointment</option>
     </select>
    </span>
    </span>
  <li class=sectionItem><span class=labelText>Presenting Complaint</span>
    <span class=sectionTextarea style='text-align:left'>%OUTWEB02.03.603</span></li>

  <li class=sectionItem><span class=labelText>Diagnosis</span>
    <span class=sectionTextarea style='text-align:left'>
    %OUTWEB02.03.364  %OUTWEB02.03.365 <br />
    %OUTWEB02.03.379  %OUTWEB02.03.380 <br />
    %OUTWEB02.03.381  %OUTWEB02.03.382 <br />
    %OUTWEB02.03.383  %OUTWEB02.03.384 <br />
    </span></li>

  <li class=sectionItem><span class=labelText>Outcome</span>
    <span class=sectionTextarea style='text-align:left'>%OUTWEB02.03.354.0</span></li>

  <li class=sectionItem><span class=labelText>Comments</span>
    <span class=sectionTextarea 
          style='text-align:left'>%OUTWEB02.03.327.016.099</span></li>
  
  <li class=sectionItem><span class=labelText>Special Arrangements</span>
    <span class=sectionText>%OUTWEB02.03.378.0 </span></li>

  <li class=sectionItem><span class=labelText>Interpreter  </span>
    <span class=sectionText>%OUTWEB02.03.389 </span></li>

  <li class=sectionItem><span class=labelText>Referral Source</span>
    <span class=sectionText>%OUTWEB02.03.320.0</span></li>

  <li class=sectionItem><span class=labelText>Priority  </span>
    <span class=sectionText>%OUTWEB02.03.332.0
    </span></li>

  <li class=sectionItem><span class=labelText>Transport </span>
    <span class=sectionText>%OUTWEB02.03.342.0 
    </span></li>

  <li class=sectionItem><span class=labelText>Unit</span>
    <span class=sectionText>%OUTWEB02.03.341.0 
    </span></li>

  <li class=sectionItem>
    <span class=labelText>%STANDARD.01.017.CL  </span>
    <span class=sectionText>%OUTWEB02.03.321.0</span></li> 

  <li class=sectionItem>
    <span class=labelText>Reports Required</span>
    <span class=sectionText>%OUTWEB02.03.336.0 </span></li>

  <li class=sectionItem><span class=labelText>Referred By</span>
    <span class=sectionText>%OUTWEB02.03.348.003 %OUTWEB02.03.348.004 %OUTWEB02.03.348.005
    </span></li>

  <li class=sectionItem id=clinicalHealthIssues onclick='parent.ShowPatientProblems()';>
    <span class="labelText" style='width:60%'>Health Issues</span>
    <span class="detailIcon"></span><br>
    <span id=clinicalProblems style='width:95%;color: rgb(50, 79, 133);'>
    </span></li>

  <li class=sectionItem id=clinicalResultSection onclick='parent.ShowPatientTheatre()';>
    <span class="labelText" style='width:60%'>Procedures</span>
    <span class="detailIcon"></span><br>
    <span id=clinicalProcedures style='width:95%;color: rgb(50, 79, 133);'>
    </span></li>

  <li class=sectionItem id=clinicalResultSection onclick='parent.ShowPatientResults()';>
    <span class="labelText" style='width:60%'>Recent Diagnostic Results </span>
    <span class="detailIcon"></span><br>
    <span class="sectionText" id=clinicalResults
     style='width:90%;text-overflow:ellipsis;overflow-x:hidden;'>
    </span></li>

</ul>

<form name=PatientLinks method=get>
<input type=hidden name=urnumber value="%OUTWEB02.03.003">
<input type=hidden name=admissno value="%OUTWEB02.03.081">
<input type=hidden name=casekeys value="%OUTWEB02.03.366">
</form>
</body>
