Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Patient List</title>
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<link   rel="stylesheet"       href="../html/ipad/ipad.css" type="text/css">
<script type="text/javascript">
// Source Code:  ./ipad/outweb0201019.js
// Modification 
// Version         Date                         Responsible/Changes Made
//------------------------------------------------------------------------------
var PatientRecords;
var FilterColumn = new Array();
var FilterValue = new Array();
var TodaysClinic=false;
function SetPeriod(el) {
  if (el.vyearmth) el.vyearmth.options[el.vyearmth.selectedIndex].value=' ';
  if (el.lastdate) el.lastdate.options[el.lastdate.selectedIndex].value=' ';
  el.submit();
}
function SortPatients(el) {
 SortOrderBy=el.options[el.selectedIndex].value;
 PatientRecords.rows.sort(StringSort);
 ShowPatientList();
}
function InitTable() {
  viewFlag=document.SelectPeriod.viewperd.value;
  for (var i =0 ; i < document.SelectPeriod.viewtype.length; i++) {
    if (document.SelectPeriod.viewtype.options[i].value==viewFlag) {
      document.SelectPeriod.viewtype.selectedIndex=i } };
  GetDates();
  PatientRecords = new Table("patient-list","patient-item");
  t=PatientRecords;
  GetList();
  SortOrderBy=5;
  PatientRecords.rows.sort(StringSort);
  ShowPatientList();
  MaxRowNo=t.rows.length;
}
function GetDates() {
  el=document.SelectPeriod.lastdate;
  var dt=el.options[el.selectedIndex].value
  dt=dt.substr(0,6)
  var fd=parseInt(dt,10)-1
  var ld=parseInt(dt,10)+1
  theURL="outweb01.php?reportno=2&frstdate="+fd+"00&lastdate="+ld+"99"
  var xmlHttp = createHttpObject();
  xmlHttp.open("GET", theURL, false);
  xmlHttp.send();
  if (xmlHttp.responseText!=""&&xmlHttp.status == 200) {
    var h = document.getElementsByTagName("head")[0];
    var s = document.createElement("script");
    s.type="text/javascript";
    h.appendChild(s);
    s.text=xmlHttp.responseText;
    var SelectDate = new Table();
    t=SelectDate;
    SelectElements();
    if (SelectDate.rows.length>0) {
      el=document.SelectPeriod.lastdate;
      dt=el.options[el.selectedIndex].value
      el.options.length=0;
      var sl=0;
      for (var i=0;i<SelectDate.rows.length;i++) {
        optionNam=FormatDate(SelectDate.rows[i][0])+"  ("+SelectDate.rows[i][1]+")";
        optionVal=SelectDate.rows[i][0];
        if (optionVal<=dt) sl=i;
        el.options[el.options.length] = new Option(optionNam,optionVal);
      }
      el.selectedIndex=sl;
      if (document.SelectPeriod.currdate.value==el.options[el.selectedIndex].value) {
        TodaysClinic=true;
      }
    }
  }
}
function GetList() {
  el=document.SelectPeriod.lastdate;
  dt=el.options[el.selectedIndex].value
  theURL="outweb01.php?reportno=1&frstdate="+dt;
  var xmlHttp = createHttpObject();
  xmlHttp.open("GET", theURL, false);
  xmlHttp.send();
  if (xmlHttp.responseText!=""&&xmlHttp.status == 200) {
    var h = document.getElementsByTagName("head")[0];
    var s = document.createElement("script");
    s.type="text/javascript";
    h.appendChild(s);
    s.text=xmlHttp.responseText;
    AddRows();
  }
}
function ShowFilter(FilterName,ColumnNo) {
 var FilterList = new Array();
 var FilterCount = new Array();
 FilterColumn[FilterColumn.length]=ColumnNo;
 FilterValue[FilterValue.length]='';
 for(var i = 0; i < PatientRecords.rows.length; i++) {
   if (!isWhitespace(PatientRecords.rows[i][ColumnNo])) {
     addItem=true;
     for(var j = 0; j < FilterList.length; j++) {
       if (PatientRecords.rows[i][ColumnNo]==FilterList[j]) {
         FilterCount[j]++;
         addItem=false;
       }
     }
     if (addItem) {
       FilterList[FilterList.length]=PatientRecords.rows[i][ColumnNo];
       FilterCount[FilterCount.length]=1;
     }
   }
 }
 el=document.getElementById(FilterName)
 if (FilterList.length==0) el.style.display="none";
 for(var j = 0; j < FilterList.length; j++) {
   FilterList[j]=FilterList[j]+"("+FilterCount[j]+")";
 }
 FilterList.sort();
 for(var j = 0; j < FilterList.length; j++) {
   optionVal=FilterList[j].replace(/\(.\)$/,"").replace(/\(..\)$/,"").replace(/\(...\)$/,"");
   el.options[el.options.length] = new Option(FilterList[j],optionVal);
 }
}
function ShowFilterList(el,ColumnNo) {
  for(var f = 0; f < FilterColumn.length; f++) {
    if (FilterColumn[f]==ColumnNo) {
       FilterValue[f]=el.options[el.selectedIndex].value;
    }
  }
 ShowPatientList();
}
function ShowPatientList() {
 var OS = "<ul class=sectionList>";
 for(var i = 0; i < PatientRecords.rows.length; i++) {
   if (ListFilter(PatientRecords.rows[i])) {
   SlotStatus="";
   SlotName=PatientRecords.rows[i][2];
   SlotStatus=" - "+PatientRecords.rows[i][10];
   nextAction="<input type=button class=stdButton "+
                "onclick='Arrived(\""+i+"\");' value='Check In'>";
   if (!isWhitespace(PatientRecords.rows[i][11])) {
     SlotStatus=" - Arrived : "+ PatientRecords.rows[i][11];
     nextAction="<input type=button class=stdButton "+
                  "onclick='TimeSeen(\""+i+"\");' value='Time Seen'>";
   }
   if (!isWhitespace(PatientRecords.rows[i][12])) {
     SlotStatus=" - Seen : "+ PatientRecords.rows[i][12];
     nextAction="<input type=button class=stdButton "+
                  "onclick='Departure(\""+i+"\");' value='Departure'>";
   }
   if (!isWhitespace(PatientRecords.rows[i][13])) {
     SlotStatus=" - Departed : "+ PatientRecords.rows[i][13];
     nextAction="<input type=button class=stdButton "+
                "onclick='FollowUp(\""+i+"\");' value='Follow Up'>";
   }
//   if (PatientRecords.rows[i][10]=="Attended") {
//     SlotStatus=" - "+PatientRecords.rows[i][10];
//     nextAction="";
//   }
   if (PatientRecords.rows[i][10]=="DNA") {
     SlotStatus=" - "+PatientRecords.rows[i][10];
     nextAction="";
   }
   if (!TodaysClinic) { 
     nextAction=""; 
     OS += "<li class=sectionItem  onclick='LinkPatient(\""+i+"\");'><b>"+
           PatientRecords.rows[i][5]+"</b> " + SlotName + SlotStatus +
           "<br><span class=ntTimeframe>Problem : "+ PatientRecords.rows[i][7] + "</span>" +
           "    <span class=ntWhen>Arr.: " + PatientRecords.rows[i][11] + "</span>" +
           "<br><span class=ntTimeframe>Type : "+ ProperCase(PatientRecords.rows[i][6]) + 
                 " " + ProperCase(PatientRecords.rows[i][4]) + "</span>" +
           "    <span class=ntWhen>Seen: " + PatientRecords.rows[i][12] + "</span>" +
           "<br><span class=ntTimeframe>Arrangements : "+ PatientRecords.rows[i][8] + "</span>" +
           "    <span class=ntWhen>Dep.: " + PatientRecords.rows[i][13] + "</span>" 
     if (!isWhitespace(PatientRecords.rows[i][14])) {
       OS+="<br><span class=ntTimeframe>Comments : "
          +PatientRecords.rows[i][14] + "...</span>" 
     }
     OS += "</li>";
   } else {
     OS += "<li class=sectionItem>"+
           "<span style='display:inline-block;width:80%' onclick='LinkPatient(\""+i+"\");'><b>" + 
           PatientRecords.rows[i][5]+"</b> " + SlotName + SlotStatus +
           "<br><span class=ntTimeframe>Type : "+ ProperCase(PatientRecords.rows[i][6]) + 
                 " " + ProperCase(PatientRecords.rows[i][4]) + "</span>" +
           "<br><span class=ntTimeframe>Problem : "+ PatientRecords.rows[i][7] + "</span>" 
     if (!isWhitespace(PatientRecords.rows[i][8])) {
       OS+="<br><span class=ntTimeframe>Arrangements : "
            +PatientRecords.rows[i][8] + "</span>" 
     }
     if (!isWhitespace(PatientRecords.rows[i][14])) {
       OS+="<br><span class=ntTimeframe>Comments : "
          +PatientRecords.rows[i][14] + "...</span>" 
     }
     OS += "</span><span style='display:inline;' class=ntWhen>"+nextAction+"</span>" +
         "</li>";
     }
   }
 }
 if (PatientRecords.rows.length==0) {
   OS += "<li class=sectionItem style='text-align:center;'>" +
         "No patient appointments found.</span>";
 }
 OS += "</ul>";
 el=document.getElementById("ListLocation");
 el.innerHTML=OS;
}
function ProperCase(str) {
  return str.replace(/\w\S*/g,function(txt) { 
    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); } );
}
function ListFilter(el) {
  for(var f = 0; f < FilterValue.length; f++) {
    if (FilterValue[f]!='') {
      if (FilterValue[f]!=el[FilterColumn[f]]) {
        return false;
      }
    }
  }
  return true;
}
//------------------------------------------------------------------------
//             Function to Update Check-In,Time Seen
//------------------------------------------------------------------------
function Arrived(rowNo) {
// Not Sure if we need following for Mobile Users doing Check In.
//  ReferralNo=t.rows[rowNo][45];
//  ConfirmPMI=t.rows[rowNo][67];
//  CollectingEnc=t.rows[rowNo][50];
//  UsingCheckInPage=t.rows[rowNo][68];
//  if (isWhitespace(ReferralNo) && CollectingEnc=="1") {
//   alertify.alert("Note : No referral has been attached to this clinic appointment.", function() {
//     if (ConfirmPMI == "1") {
//       alertify.alert("Function not available. Confirm PMI date less than clinic date.");
//       return;
//     }
//     var ur=PatientRecords.rows[rowNo][6];
//     var ad=PatientRecords.rows[rowNo][7];
//     var ck=PatientRecords.rows[rowNo][28];
//     updateTimeSlot(ur,ad,3,ck);
//    } );
//  } else {
    var ur=PatientRecords.rows[rowNo][0];
    var ad=PatientRecords.rows[rowNo][1];
    var ck=PatientRecords.rows[rowNo][9];
    updateTimeSlot(ur,ad,3,ck);
//  }
}
function TimeSeen(rowNo) {
  var ur=PatientRecords.rows[rowNo][0];
  var ad=PatientRecords.rows[rowNo][1];
  var ck=PatientRecords.rows[rowNo][9];
  linkurl=CGIPath+"outweb02.pbl?reportno=03&template=033" +
          "&urnumber="+ur.replace(/ /g,"+") +
          "&admissno="+ad.replace(/ /g,"+");
          "&casekeys="+ck.replace(/ /g,"+");
  openDocument(linkurl,"Update Attendance Details");
}
function Departure(rowNo) {
  var ur=PatientRecords.rows[rowNo][0];
  var ad=PatientRecords.rows[rowNo][1];
  var ck=PatientRecords.rows[rowNo][9];
  linkurl=CGIPath+"outweb02.pbl?reportno=03&template=033" +
          "&urnumber="+ur.replace(/ /g,"+") +
          "&admissno="+ad.replace(/ /g,"+");
          "&casekeys="+ck.replace(/ /g,"+");
  openDocument(linkurl,"Update Departure Details");
}
function FollowUp(rowNo) {
  var ur=PatientRecords.rows[rowNo][0];
  var ad=PatientRecords.rows[rowNo][1];
  var ck=PatientRecords.rows[rowNo][9];
  linkurl=CGIPath+"outweb02.pbl?reportno=03&template=034" +
          "&urnumber="+ur.replace(/ /g,"+") +
          "&admissno="+ad.replace(/ /g,"+");
          "&casekeys="+ck.replace(/ /g,"+");
  openDocument(linkurl,"Create Follow Up Appointment");
}
function updateTimeSlot(ur,ad,ut,ck) {
  var serverURL = "outweb02.pbl?reportno=9&urnumber="+ur+
                  "&admissno=" + ad + "&updttime="+ut+
                  "&updatety=3" + "&casekeys="+ck;
  serverURL=serverURL.replace(/ /g,"+")
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    document.location.reload();
  } else {
    alertify.alert("Update Failed Web Service Not Available. Please try again.");
  }
}
function ClinicList() {
  document.location.href=top.getCookie("returnClinicList");
}
</script>
</head>
%START.OF.PAGE
<body onload="InitTable();">
<div class=subMenu>
<form name=SelectPeriod action=outweb02.pbl method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=20>
<input type=hidden name=viewperd value="%OUTWEB02.01.011">
<input type=hidden name=currdate value="%STANDARD.01.013">
<input type=hidden name=viewtype value=0>
   %OUTWEB02.01.007
   <select onchange='SortPatients(this);' 
   class=selectMenu title='Sort Order' id=sortOrder>
   <option value=5>Sort By Time </option>
   <option value=2>Sort By Name</option>
   </select>
<span class=MenuLogo></span>
</form>
</div>
<div class=sectionDiv>
<div id=ListLocation></div>
</div>
</body>
