Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Admission Details</title>
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<link   rel="stylesheet" href="../html/iphone/ipad.css" type="text/css">
</head>
%START.OF.PAGE
<body>
<ul class=sectionList>
 <li class=sectionItem><span class=labelText>admission date</span>
 <span class=sectionText>%PATWEB98.01.102 at %PATWEB98.01.103
 </span></li>
 <li class=sectionItem><span class=labelText>admission diagnosis</span>
 <span class=sectionText>%PATWEB98.01.121<br> %PATWEB98.01.122
 </span></li>
 <li class=sectionItem><span class=labelText>discharge date</span>
 <span class=sectionText>%PATWEB98.01.201  %PATWEB98.01.202 
 </span></li>
 <li class=sectionItem><span class=labelText>attending doctor</span>
 <span class=sectionText>%PATWEB98.01.108.002
 </span></li>
 <li class=sectionItem><span class=labelText>referred by </span>
 <span class=sectionText>%PATWEB98.01.931.0
 </span></li>
 <li class=sectionItem><span class=labelText>admission source</span>
 <span class=sectionText>%PATWEB98.01.110.0 
 </span></li>
 <li class=sectionItem><span class=labelText>unit</span>
 <span class=sectionText>%PATWEB98.01.124.0
 </span></li>

 <li class=sectionItem><span class=labelText>transfer source</span>
 <span class=sectionText>%PATWEB98.01.803
 </span></li>
 <li class=sectionItem><span class=labelText>discharge destination </span>
 <span class=sectionText>%PATWEB98.01.204  
 </span></li>

 <li class=sectionItem><span class=labelText>days of hospitalisation</span>
 <span class=sectionText>%PATWEB98.01.130 
 </span></li>
 <li class=sectionItem><span class=labelText>provisional DRG  </span>
 <span class=sectionText>%PATWEB98.01.140.0 %PATWEB98.01.181
 </span></li>
 <li class=sectionItem><span class=labelText>transfer destination</span>
 <span class=sectionText>%PATWEB98.01.812  
 </span></li>

 <li class=sectionItem><span class=labelText>mode of arrival</span>
 <span class=sectionText>%PATWEB98.01.807    
 </span></li>
 <li class=sectionItem><span class=labelText>mode of departure</span>
 <span class=sectionText>%PATWEB98.01.208.0
 </span></li>
 <li class=sectionItem><span class=labelText>diet code</span>
 <span class=sectionText>%PATWEB98.01.127.0
 </span></li>

 <li class=sectionItem><span class=labelText>admission criteria</span>
 <span class=sectionText>%PATWEB98.01.804   
 </span></li>
 <li class=sectionItem><span class=labelText>intention to readmit</span>
 <span class=sectionText>%PATWEB98.01.945.0
 </span></li>

 <li class=sectionItem><span class=labelText>care type</span>
 <span class=sectionText>%PATWEB98.01.113.0
 </span></li>
 <li class=sectionItem><span class=labelText>inform GP</span>
 <span class=sectionText>%PATWEB98.01.925.1
 </span></li>
 <li class=sectionItem><span class=labelText>separation referral</span>
 <span class=sectionText>%PATWEB98.01.226
 </span></li>

 <li class=sectionItem><span class=labelText>intended stay</span>
 <span class=sectionText>%PATWEB98.01.805    
 </span></li>
 <li class=sectionItem><span class=labelText>ACAS status</span>
<span class=sectionText>%PATWEB98.01.228.0
 </span></li>
 <li class=sectionItem><span class=labelText>carer availability</span>
<span class=sectionText>%PATWEB98.01.947.0
 </span></li>

 <li class=sectionItem><span class=labelText>planned length of stay</span>
<span class=sectionText>%PATWEB98.01.129
 </span></li>
</ul>

</body>
