Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Update Problem</title>
<script type="text/javascript" src="../html/iphone/iphone.js"> </script>
<script type="text/javascript" src="../html/iphone/AJAXSearch.js"></script>
<link   rel="stylesheet" href="../html/iphone/iphone.css" type="text/css">
<script type="text/javascript" src="../html/iphone/spinningwheel.js"></script>
<link rel="stylesheet" href="../html/iphone/spinningwheel.css" type="text/css" media="all" />
<script type="text/javascript">
function init() {
 UpdateForm.redirect.value=parent.document.location.href;
}
</script>
<style type=text/css>
.subhead {
 font-weight:bold;
 font-size:15px;
 margin-top:0px;
 margin-bottom:0px;
 margin-left:15px;
}
.sectionText {
 position:absolute;
 right:8px;
 margin-top:-5px;
 margin-right:10px;
 vertical-align:top;
}
</style>
</head>
%START.OF.PAGE
<body onLoad=init();>
<form name=UpdateForm action="patweb03.pbl" method=post >
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=22>
<input type=hidden name=nextpage value=4>
<input type=hidden name=redirect value="">
<input type=hidden name=updttype value="U">
<input type=hidden name=urnumber value="%PATWEB03.01.003">
<input type=hidden name=problemn value="%PATWEB03.01.102">
<input type=hidden name=admissno value="%PATWEB03.01.081">
<input type=hidden name=pmspb015 value="%STANDARD.01.008">

<ul class=sectionList>
<li class=sectionItem onclick="openDate(UpdateForm.pmspb013);">
 date established
<span class=sectionText>
 <input type=text name=pmspb013 title="Date Established" 
  onblur="checkDate(this,'Established Date')" class="Date Past Mandatory"
  value="%PATWEB03.01.113" readonly size=12>
</span></li>

<li class=sectionItem onclick="openDate(UpdateForm.pmspb021);">
 review date 
<span class=sectionText>
 <input type=text name=pmspb021 title="Date for Review" 
  onblur="checkDate(this,'Review Date')" class="Date Future"
  value="%PATWEB03.01.121" readonly size=12>
</span></li>

<li class=sectionItem>problem type
<span class=sectionText>
    <select style='width:150px;' name=pmspb006 class=Mandatory title="Problem Type" tabindex=2>
    <option></option>
     %PATWEB03.01.106.2
    </select>
</span></li>

<li class=sectionItem>inactive
<span class=sectionText>
    <input type=checkbox value=1 name=pmspb007 title="Problem active" checked >
</span></li>

<li class=sectionItem>problem status
<span class=sectionText>
    <select style='width:150px;' name=pmspb008 class=Mandatory title="Problem Status" tabindex=2>
    <option></option>
     %PATWEB03.01.108.2
    </select>
</span></li>

<li class=sectionItem>
<span class=commentText>
 <input type=hidden size=12 name=pmspb012 value="">
 <div style='margin:0px;margin-left:2px;border:1px solid;-webkit-border-radius:5px;width:268px;'>
 <img src=../html/iphone/find.png border=0 
 style='vertical-align:middle;margin-left:5px;margin-bottom:4px;'>
 <input type=text name=sText size=22 class=search-text
 style='border:0;margin:2px;padding:0;margin-top:5px;margin-bottom:5px;'
 oninput="ICD10DISSearch(UpdateForm.sText,UpdateForm.pmspb012,UpdateForm.pmspb009);"
 placeholder="Diagnosis Search" autocapitalize=off autocorrect=off>
 </div>
 <textarea name=pmspb009 cols=26 rows=3>%PATWEB03.01.109</textarea>
</span></li>

<li class=sectionItem>comment
<span class=commentText><br>
   <textarea name=pmspb010 cols=26 rows=3>%PATWEB03.01.110</textarea>
</span></li>
</ul>
<input type=button name=addobsbt value="Update" class="green"
 onclick="UpdateForm.submit();">
<input type=button name=cancelbt value="Cancel" class="red"
 onClick="parent.restoreSections();">
</form>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB03.01.003">
<input type=hidden name=admissno value="%PATWEB03.01.081">
</form>
<script type=text/javascript>
if  ("%PATWEB03.01.107" == "1")
 {
    document.UpdateForm.pmspb007.checked="1"
 }
</script>

