Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Patient Contacts</title>
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<link   rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
<script type="text/javascript" src="../html/ipad/patweb9801184.js"> </script>
<style type=text/css>
.summaryList {
 padding: 0px;      
 margin: 0px;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
}
</style>
</head>
%START.OF.PAGE
<body class=WhitePage onload="init();checkAliasNumber();checkConcessionNumber();">
<ul class=summaryList>
<li class=sectionItem>
<a class=sectionLink id=GoogleLink1>
<span class=labelText>address</span>
<span class=sectionText style="display:inline-block;">
    %PATWEB98.01.012 <br>
    %PATWEB98.01.013 %PATWEB98.01.014
    %PATWEB98.01.015 %PATWEB98.01.016
</span></a></li>

<li class=sectionItem>
<a class=sectionLink href='tel:%PATWEB98.01.017'>
<span class=labelText>home phone </span>
<span class=sectionText>
%PATWEB98.01.017
</span></a></li>

<li class=sectionItem>
<a class=sectionLink href='tel:%PATWEB98.01.018'>
<span class=labelText>business phone </span>
<span class=sectionText>%PATWEB98.01.018
</span></a></li>

<li class=sectionItem>
<a class=sectionLink href='tel:%PATWEB98.01.543'>
<span class=labelText>mobile phone </span>
<span class=sectionText style='width:40%'>%PATWEB98.01.543
</span></a>
<!--
<span id="SMSButton" class=sendSMS onclick='sendMessage("PATWEB98.01.543");'>SMS Message</span>
-->
</li>

<li class=sectionItem>
<a class=sectionLink href='mailto:%PATWEB98.01.705'>
<span class=labelText>email</span>
<span class=sectionText>%PATWEB98.01.705
</span>
</a>
</li>

<li class=sectionItem ontouchstart="toggle();">
<div id="aliasSection"></div>
</li>
<li class=sectionItem 
onclick="ContactViewFrame('patweb98.pbl?reportno=1&template=188&urnumber=%PATWEB98.01.003&admissno=%PATWEB98.01.081');">
<span class=labelText>patient contacts</span>
<span class=detailIcon></span></li>
</ul>

<div id=section1></div>

<div style='display:none'>
<form name=PatientLinks method=get action=patweb98.pbl>
<input type="hidden" name="reportno" value="1">
<input type="hidden" name="template" value="081">
<input type="hidden" id="urnumber" name="urnumber" value="%PATWEB98.01.003">
<input type="hidden" name="admissno" value="%PATWEB98.01.081">
</div>
<script type=text/javascript>
function init() {
  sex="%PATWEB98.01.019";
  sname="%PATWEB98.01.009";
  gname="%PATWEB98.01.010";
  dob="%PATWEB98.01.020";
  PatientURN="%PATWEB98.01.003";
  PatientVIS="%PATWEB98.01.081";
  DoctorCOD="%PATWEB98.01.082.003";
  DoctorNAM="%PATWEB98.01.082.002";
  PatientAID="%PATWEB98.01.086.090";
  PatientALS = getAlias();
  PatientIND="%PATWEB98.01.086.091";
  PatientCUR="%PATWEB98.01.086.092";
  PatientCLC="%PATWEB98.01.086.093.1";
  PatientCLH="%STANDARD.01.017.CL";
  PatientHFT="%PATWEB98.01.086.094";
  PatientHFC="%PATWEB98.01.040.0";
  PatientHFD="%PATWEB98.01.040.1";
  PatientHTB="%PATWEB98.01.041.1";
  PatientHMN="%PATWEB98.01.042"; //health fund member number
  PatientCDM="%PATWEB98.01.086.095";
  PatientVDH="%PATWEB98.01.086.099.015";
  PatientAD1="%PATWEB98.01.012"
  PatientAD2="%PATWEB98.01.013"
  PatientAD3="%PATWEB98.01.014"
  PatientAD4="%PATWEB98.01.015"
  PatientADP="%PATWEB98.01.016"
  PatientMPH="%PATWEB98.01.543"
  PatientHPH="%PATWEB98.01.017"
  PatientBPH="%PATWEB98.01.018"
  PatientEML="%PATWEB98.01.705"
  PatientIDM="%PATWEB98.01.027 %PATWEB98.01.549"
  PatientIDP="%PATWEB98.01.028"
  PatientLGP="%PATWEB98.01.784.001|%PATWEB98.01.785.001|%PATWEB98.01.785.002|%PATWEB98.01.784.081"
  PatientINT="%PATWEB98.01.701.1"
  PatientLN1="%PATWEB98.01.702.0"
  PatientLN2="%PATWEB98.01.703.0"
 
  PatientMDN="%PATWEB98.01.027 %PATWEB98.01.549"; //medicare number
  PatientCNC= getConcession();  //Pension/healthcare card
  ADL1="%PATWEB98.01.012";
  ADL2="%PATWEB98.01.013";
  ADL3="%PATWEB98.01.014";
  ADL4="%PATWEB98.01.015";
  ADL5="%PATWEB98.01.016";
  InitPage();

  if(typeof usingSMS != "undefined") {
    if(usingSMS == false) {
     SMSButton = document.getElementById("SMSButton");
     SMSButton.style.display = "none";
    }
  }

}

</script>
</body>
