Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<title>Care Actions List</title>
<script type="text/javascript" src="../html/ipad/ipad.js"> </script>
<link   rel="stylesheet" href="../html/ipad/ipad.css" type="text/css">
<link   rel="stylesheet" href="../html/ipad/summary.css" type="text/css">
<style type=text/css>
.showActionCancel {
  float:right;
  margin-right:5px;
  display:inline-block;
  background: url("../html/ipad/AlertSprite.png")  -0px -140px no-repeat;
  width:20px;
  height:20px;
}
.showActionComplete {
  float:right;
  margin-right:5px;
  display:inline-block;
  background: url("../html/ipad/AlertSprite.png")  -20px -140px no-repeat;
  width:20px;
  height:20px;
}
.showActionItem {
  float:left;
  margin-right:5px;
  display:inline-block;
  background: url("../html/ipad/AlertSprite.png")  -80px -140px no-repeat;
  width:20px;
  height:20px;
}
.showActionHeading {
  float:left;
  margin-right:5px;
  display:inline-block;
  background: url("../html/ipad/AlertSprite.png")  -20px -60px no-repeat;
  width:20px;
  height:20px;
}
</style>
<script type="text/javascript"> 
var CareActions;
function FilterPage() {
 el=document.SelectPeriod.DayNo;
 setCookie("patweb9804016-DayNo",el.options[el.selectedIndex].value);
 el=document.SelectPeriod.DomainID;
 setCookie("patweb9804016-DomainID",el.options[el.selectedIndex].value);
 el=document.SelectPeriod.FrequencyID;
 setCookie("patweb9804016-FrequencyID",el.options[el.selectedIndex].value);
 el=document.SelectPeriod.ShowAll;
 setCookie("patweb9804016-ShowAll",el.options[el.selectedIndex].value);
 LoadPage();
}
function LoadSelect() {
 GetCodeList("CarePlanDomain",document.getElementById("DomainID"));
 GetCodeList("CarePlanFrequency",document.getElementById("FrequencyID"));
 LoadPage();
}
//========================================================================
// Return Select List Options for a Specific Code Type
//========================================================================
function GetCodeList(CodeType,SelectList) {
  if (isWhitespace(CodeType)) { return; }
  returnValue=RSExecute("../forms/RemoteServices.php?action="+CodeType)
  if (returnValue.status==0) {
    SelectList.options.length=1
    ReturnOptions=returnValue.return_value.split("|");
    for (var j=0; j < ReturnOptions.length; j++) {
      if (!isWhitespace(ReturnOptions[j])) {
        SelectValue=ReturnOptions[j].split("^");
        SelectList.options[SelectList.options.length]=new Option(SelectValue[1],SelectValue[0]);
      }
    }
  }
}
function LoadPage() {
 DayNo      =getCookie("patweb9804016-DayNo");
 el=document.SelectPeriod.DayNo;
 for (i=0;i<el.options.length;i++) {
   if (el.options[i].value==DayNo) el.selectedIndex=i;
 }
 DomainID   =getCookie("patweb9804016-DomainID");
 el=document.SelectPeriod.DomainID;
 for (i=0;i<el.options.length;i++) {
   if (el.options[i].value==DomainID) el.selectedIndex=i;
 }
 FrequencyID=getCookie("patweb9804016-FrequencyID");
 el=document.SelectPeriod.FrequencyID;
 for (i=0;i<el.options.length;i++) {
   if (el.options[i].value==FrequencyID) el.selectedIndex=i;
 }
 ShowAll    =getCookie("patweb9804016-ShowAll");
 el=document.SelectPeriod.ShowAll;
 for (i=0;i<el.options.length;i++) {
   if (el.options[i].value==ShowAll) el.selectedIndex=i;
 }
 ShowAll=el.selectedIndex;
 var theURL = webRoot+"/forms/CareActionJSON.php?reportno=1"+
              "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+") +
              "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+") +
              "&DayNo="+DayNo +
              "&DomainID="+DomainID +
              "&FrequencyID="+FrequencyID +
              "&ShowAll="+ShowAll +
              "&httprand="+Math.random();
 var xmlHttp = createHttpObject();
 xmlHttp.open("GET", theURL, false);
 xmlHttp.send();
 if (xmlHttp.responseText!=""&&xmlHttp.status == 200) {
   CareActions = eval("("+xmlHttp.responseText+")");
   contentString = "";
   for (var i = 0; i < CareActions.length; i++) {
     ActionStatus="";
     ActionByUser="";
     ActionComment="";
     ActionDatetime="";
     if (CareActions[i]["ACTION1STATUS"]!=null) {
       ActionShift="Morning Shift";
       ActionStatus=CareActions[i]["ACTION1STATUS"];
       ActionByUser=CareActions[i]["ACTION1BYUSERNAME"];
       ActionComment=CareActions[i]["ACTION1COMMENT"];
       ActionDatetime=CareActions[i]["ACTION1DATETIME"];
     }
     if (CareActions[i]["ACTION2STATUS"]!=null) {
       ActionShift="Afternoon Shift";
       ActionStatus=CareActions[i]["ACTION2STATUS"];
       ActionByUser=CareActions[i]["ACTION2BYUSERNAME"];
       ActionComment=CareActions[i]["ACTION2COMMENT"];
       ActionDatetime=CareActions[i]["ACTION2DATETIME"];
     }
     if (CareActions[i]["ACTION3STATUS"]!=null) {
       ActionShift="Evening Shift";
       ActionStatus=CareActions[i]["ACTION3STATUS"];
       ActionByUser=CareActions[i]["ACTION3BYUSERNAME"];
       ActionComment=CareActions[i]["ACTION3COMMENT"];
       ActionDatetime=CareActions[i]["ACTION3DATETIME"];
     }
     contentString += "<li class=ItemRes onclick=\"UpdateAction('"+i+"');\">"
     if (CareActions[i]["LINKMETHOD"]=="0") {
       contentString += "<b>"+CareActions[i]["DESCRIPTION"]+"</b>";
     } else {
       contentString += "<span class=showActionItem></span>"+CareActions[i]["DESCRIPTION"];
       contentString += "<br><span class=subscriptLeft>Domain : "+CareActions[i]["ACTIONDOMAIN"]+"</span>"
       contentString += "    <span class=subscriptRight>Frequency : "+CareActions[i]["ACTIONFREQUENCY"]+"</span>"
       contentString += "<br><span class=subscriptLeft>"+FormatDate(CareActions[i]["ACTIONDATE"])+" ("
       contentString += "Day: "+CareActions[i]["DAYNO"]+")</span>"
       if (ActionStatus!="") {
         if (ActionStatus=="T") {
           contentString += "    <span class=showActionComplete></span>"
         }
         if (ActionStatus=="F") {
           contentString += "    <span class=showActionCancel></span>"
         }
         contentString += "<br><span class=subscriptLeft>"+FormatCommentAge(ActionDatetime)+
                          " by  "+ActionByUser+"</span>"
         contentString += "    <span class=subscriptRight>"+ActionShift+" : "+FormatDateTime(ActionDatetime)+
                          "</span>"
         if (ActionComment!=null) {
           contentString += "<br><span class=subscriptLeft> "+ActionComment+"</span>"
         }
       }
     }
     contentString += "</li>"
  }
  el=document.getElementById("CareActions");
  el.innerHTML=contentString;
 } else {
   alertify.alert("Web Service Not Avalaible. ("+serverID+reportID+templateID+".html)");
 }
}
function UpdateAction(rowNo) {
  ActionMethod=CareActions[rowNo]["LINKMETHOD"];
  if (ActionMethod==0) return;
  var title="Record Action Outcome";
  var linkUrl=webRoot+"/forms/CareActionUpdate.php"+
              "?PatientCareActionID="+CareActions[rowNo]["PATIENTCAREACTIONID"] +
              "&ViewType=Tablet" +
              "&LinkMethod="+CareActions[rowNo]["LINKMETHOD"] +
              "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+")+
              "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+");
  switch (ActionMethod)  {
    case '1':
      openDocumentNonZoomable(linkUrl,title);
      break;
    case '2':
      openDocumentNonZoomable(linkUrl,title);
      break;
    case '3':
      LinkToPatient(CareActions[rowNo]);
      break;
    case '4':
      LinkToApplication(CareActions[rowNo]);
      break;
    case '5':
      LinkToForm(CareActions[rowNo]);
      break;
    case '6':
      LinkToURL(CareActions[rowNo]);
      break;
    case '7':
      ClickToComplete(CareActions[rowNo]);
      break;
    default:
      alert('Method: Work in Progress');
      break;
  }
}
function LinkToPatient(thisRow) {
  var linkUrl=webRoot+"/forms/CareActionUpdate.php"+
         "?PatientCareActionID="+thisRow["PATIENTCAREACTIONID"] +
         "&ClickToComplete=true"
  xmlHttp = createHttpObject();
  xmlHttp.open("GET", linkUrl, false);
  xmlHttp.send();
  if (isWhitespace(xmlHttp.responseText)) {
    if (thisRow["TABLETQUERYPATH"].match(/javascript:/)) {
      cmd=thisRow["TABLETQUERYPATH"].replace(/javascript:/,"")
      eval(cmd);
    } else {
      var linkUrl=webRoot+"/cgi-bin/"+thisRow["TABLETQUERYPATH"]+thisRow["LINKQUERYSTRING"]+
                  "&urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+")+
                  "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+");
      title=thisRow["OUTCOMETITLE"]
      openDocumentNonZoomable(linkUrl,title);
    }
  } else {
    alert(xmlHttp.responseText);
  } 
}
function LinkToForm(thisRow) {
  var linkUrl=webRoot+"/forms/CareActionUpdate.php"+
              "?PatientCareActionID="+thisRow["PATIENTCAREACTIONID"] +
              "&ClickToComplete=true"
  xmlHttp = createHttpObject();
  xmlHttp.open("GET", linkUrl, false);
  xmlHttp.send();
  if (isWhitespace(xmlHttp.responseText)) {
    var linkUrl=webRoot+"/forms/OpenFormClass.php"+
                "?FormClassID="+thisRow["LINKFORMCLASSID"] 
    xmlHttp = createHttpObject();
    xmlHttp.open("GET", linkUrl, false);
    xmlHttp.send();
    title=thisRow["OUTCOMETITLE"]
    linkUrl=webRoot+"/forms/"+xmlHttp.responseText.replace(/input/,"ipadi")+
            "?urnumber="+document.PatientLinks.urnumber.value.replace(/ /g,"+")+
            "&admissno="+document.PatientLinks.admissno.value.replace(/ /g,"+");
      openDocumentNonZoomable(linkUrl,title);
  } else {
    alert(xmlHttp.responseText);
  } 
}
function LinkToURL(thisRow) {
  var linkUrl=webRoot+"/forms/CareActionUpdate.php"+
         "?PatientCareActionID="+thisRow["PATIENTCAREACTIONID"] +
         "&ClickToComplete=true"
  xmlHttp = createHttpObject();
  xmlHttp.open("GET", linkUrl, false);
  xmlHttp.send();
  if (isWhitespace(xmlHttp.responseText)) {
    linkUrl=thisRow["TABLETQUERYPATH"];
    title=thisRow["OUTCOMETITLE"]
    openDocumentNonZoomable(linkUrl,title);
    parent.ShowPatientActions();
  } else {
    alert(xmlHttp.responseText);
  }
}
function ClickToComplete(thisRow) {
  var linkUrl=webRoot+"/forms/CareActionUpdate.php"+
         "?PatientCareActionID="+thisRow["PATIENTCAREACTIONID"] +
         "&ClickToComplete=true"
  xmlHttp = createHttpObject();
  xmlHttp.open("GET", linkUrl, false);
  xmlHttp.send();
  if (isWhitespace(xmlHttp.responseText)) {
    parent.ShowPatientActions();
  } else {
    alert(xmlHttp.responseText);
  }
}
</script>
%START.OF.PAGE
<meta name="ServerID"        content="%STANDARD.01.004">
<meta name="ServerName"      content="%STANDARD.01.005">
<meta name="ServerVersion"   content="%STANDARD.01.006">
<meta name="ServerOption"    content="%STANDARD.01.002">
<meta name="ServerTemplate"  content="%STANDARD.01.003">
<meta name="TemplateFile"    content="patweb9804016.html">
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="mobile">
</head>
<body class=WhitePage onload="LoadSelect();">
<form name=SelectPeriod>
    <select name=ShowAll class='stdButton' onchange="FilterPage();">
    <option value="0">Outstanding</option>
    <option value="1">All</option>
    <option value="2">Actioned</option>
<!--    <option value="3">Show All</option>-->
    </select>
    <select id=DomainID name=DomainID class='stdButton' onchange="FilterPage();">
    <option value="">All Domains</option>
    </select>
    <select id=FrequencyID name=FrequencyID class='stdButton' onchange="FilterPage();">
    <option value="">All Frequencies</option>
    </select>
    <select name=DayNo class='stdButton' onchange="FilterPage();">
    <option value="0">All Days</option>
    <option value="1" >Day 1</option>
    <option value="2" >Day 2</option>
    <option value="3" >Day 3</option>
    <option value="4" >Day 4</option>
    <option value="5" >Day 5</option>
    <option value="6" >Day 6</option>
    <option value="7" >Day 7</option>
    <option value="8" >Day 8</option>
    <option value="9" >Day 9</option>
    <option value="10">Day 10</option>
    <option value="11">Day 11</option>
    <option value="12">Day 12</option>
    <option value="13">Day 13</option>
    <option value="14">Day 14</option>
    <option value="15">Day 15</option>
    <option value="16">Day 16</option>
    <option value="17">Day 17</option>
    <option value="18">Day 18</option>
    <option value="19">Day 19</option>
    </select>
<input type=hidden name=urnumber value="%PATWEB98.04.003">
<input type=hidden name=admissno value="%PATWEB98.04.081">
</form>

<ul id=CareActions class=ListRes>
</ul>

<form name=PatientLinks method=get>
<input type=hidden name=urnumber value="%PATWEB98.04.003">
<input type=hidden name=admissno value="%PATWEB98.04.081">
</form>
</body>

