Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>Update Bed Request</title>
<script type="text/javascript" src="../html/iphone/iphone.js"> </script>
<link   rel="stylesheet" href="../html/iphone/iphone.css" type="text/css">
<script type="text/javascript">
function updateParent(ward,wardName,bed,bedstat)  {
  parent.ReturnWard.value=ward
  parent.ReturnName.value=wardName
  selectOptions2('31',ward,parent.ReturnBed);
  parent.ReturnBed.value=bed
  parent.ReturnBedStatus.value=bedstat
  parent.hideSearch()
}
//------------------------------------------------------------
// Get Select List Options
//------------------------------------------------------------
function selectOptions2(OptionNumber,ReturnCode,ReturnSelect) {
  var serverURL   = "../cgi-bin/comweb80.pbl?reportno=" + OptionNumber +
                    "&valdcode=" + ReturnCode.replace(/ /g,"+")
  xmlHttp = createHttpObject();
  xmlHttp.open("GET", serverURL, false);
  xmlHttp.send();
  var returnValue = xmlHttp.responseText
  if (xmlHttp.status==200) {
    ReturnSelect.options.length=0
    ReturnSelect.options[ReturnSelect.options.length]=new Option("","");
    ReturnValue=returnValue.split("|");
    for (var j=0; j < ReturnValue.length; j++) {
       if (!isWhitespace(ReturnValue[j])) {
         SelectValue=ReturnValue[j].split(",");
         ReturnSelect.options[ReturnSelect.options.length]=
          new Option(SelectValue[1],SelectValue[0]); } } }
  else {
    alertify.alert(xmlHttp.responseText);
  }
}
//------------------------------------------------------------
// Function : Init Page
//------------------------------------------------------------
function init() {
  for (var i =0 ; i < document.all.wardcode.length; i++) {
    if (document.all.wardcode.options[i].value==document.search.defward.value.substr(0,3)) {
      document.all.wardcode.selectedIndex=i 
    }
  }
  var rowCount=0
  if (location.href.match(/norecord/)) {
    ListString="<ul class=patient-list>"
    var ttable=document.getElementById("SearchResults");
    var trows=ttable.getElementsByTagName("tr");
    var currentWard="";
    for (i=1;i<trows.length;i++) {
      var tcells=trows[i].getElementsByTagName("td")
      if (tcells.length>1) {
        rowCount+=1
        ListString+="<li class=patient-item>" + tcells[0].innerHTML.replace(/>.*/," class=ListLink>") +
                     currentWard + "/" + tcells[1].innerHTML + 
                    "<span style='float:right;'>(ext:"+currentExt+") "+"</span><br>"+
                    "<span class=subscript style='float:right;'>" + tcells[4].innerHTML + "</span>" +
                    "<span class=subscript style='float:right;'>" + tcells[3].innerHTML + "</span>" +
                    "</a></li>"
      }
      else {
        currentWard=tcells[0].innerHTML.replace(/Extension.*/,"").replace(/.* -/,"")
        currentExt=tcells[0].innerHTML.replace(/.*Extension.*-/,"")
      }
    }
    ListString+="</ul>"
  }
  ListLocation = document.getElementById("sectionList");
  var so=document.getElementById("searchOptions");
  var sr=document.getElementById("searchResults");
  if (rowCount>0) {
    so.style.display="none" 
    ListLocation.innerHTML=ListString;
    ListLocation.style.display="block";
  }
  else {
    sr.style.display="none" 
    so.style.display="" 
  }
}
function SubmitSearch() {
  var sForm=document.getElementById("SearchForm");
  var so=document.getElementById("searchOptions");
  var sr=document.getElementById("searchResults");
  var ttable=document.getElementById("SearchResults");
  var trows=ttable.getElementsByTagName("tr");
  if (trows.length==0||sr.style.display=="none") {
    sForm.submit() }
  else {
    so.style.display="";
    sr.style.display="none" }
}
function toggleEmpty() {
   var el=document.getElementById("EmptOnly");
   if (el.className.indexOf('togButtonOff')>0) {
     el.className='togButton togButtonOn noHighlight';
     document.search.emptonly.value="1";
   }
   else {
     el.className='togButton togButtonOff noHighlight';
     document.search.emptonly.value="0";
   }
}
function toggleBeds() {
   var el=document.getElementById("BedsOnly");
   if (el.className.indexOf('togButtonOff')>0) {
     el.className='togButton togButtonOn noHighlight';
     document.search.bedsonly.value="1";
   }
   else {
     el.className='togButton togButtonOff noHighlight';
     document.search.bedsonly.value="0";
   }
}
</script>
%START.OF.PAGE
<body onLoad="init();">
<div class=HeadingDiv>
<table border=0 padding=0 style='width:100%;border:0;margin:0;padding:4px 0px'>
<tr><td class=HeadLeft><span class="goBack"
    onclick="parent.hideSearch();">Back</span></td>
    <td class=HeadTitle>Bed Search</td>
    <td class=HeadRight>
    <span class=goBack onclick='SubmitSearch();'>Search</span>
    </td>
</tr></table>
</div>
<div id=searchOptions class="w-table">
<form action="patweb95.pbl" method=get name=search id=SearchForm>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=4>
<input type=hidden name=norecord value=25> 
<input type=hidden name=defward value="%PATWEB95.01.009"> 
<ul class=sectionList>
<li class=sectionItem> 
   <select name=wardcode style='width:250px;'> 
        <option value="">All Wards</option>
          %PATWEB95.01.005
        </select></li>
<li class=sectionItem>
    <select name=filtbtyp style='width:250px;'> 
        <option value="">All Bed Types</option>
          %PATWEB95.01.008.2
        </select></li>
<li class=sectionItem>
    <select name=filtrsex style='width:250px;'> 
        <option value="">Not Gender Specific </option>
        <option value="F">Female</option>
        <option value="M">Male</option>
        </select></li>
<li class=sectionItem>
    <input type=hidden name=emptonly value="1" >
    Empty Beds Only  
<a id=EmptOnly class="togButton togButtonOff noHighlight" href="javascript:toggleEmpty();"></a>
    </li>
<li class=sectionItem>
    <input type=hidden name=bedsonly value="1"> 
    Bed Wards Only
<a id=BedsOnly class="togButton togButtonOff noHighlight" href="javascript:toggleBeds();"></a>
    </li> 
</ul>
</div>
</form>

<div id=searchResults class=w-table>
<div class="section" id="sectionList" style="display:none;" ></div>
</div>

<div style='display:none'>
<table id=SearchResults border=0 cellpadding=0 cellspacing=0 width=100%>
%PATWEB95.01.004
</table>
</div>
<script type="text/javascript">
  var FiltSex="%PATWEB95.01.007";
  for (var i =0 ; i < document.all.filtrsex.length; i++) {
  if (document.all.filtrsex.options[i].value==FiltSex.substr(0,1)) {
       document.all.filtrsex.selectedIndex=i } };
  if (location.href.match(/emptonly=1/)) {
   var el=document.getElementById("EmptOnly");
   el.className='togButton togButtonOn noHighlight';
   document.search.emptonly.value=1;
  }
  if (location.href.match(/bedsonly=1/)) {
   var el=document.getElementById("BedsOnly");
   el.className='togButton togButtonOn noHighlight';
   document.search.bedsonly.value=1;
  }
</script>
