Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE HTML>
<head>
<!--"TemplateVersion"  : "V12.01.00"
    "TemplateHome"     : "mobile"-->
<title>iPhone Patient Search</title>
<script type="text/javascript" src="../html/iphone/iphone.js"> </script>
<link   rel="stylesheet" href="../html/iphone/iphone.css" type="text/css">
<script type="text/javascript">
function ProcessSubmit() {
  var sForm=document.getElementById("search");
  var so=document.getElementById("searchOptions");
  var sr=document.getElementById("searchResults");
  var ttable=document.getElementById("RawData");
  if (sr.style.display=="none") {
    sForm.srchsnam.value=sForm.srchsnam.value.toUpperCase().replace(/ $/g,"");
    sForm.srchgnam.value=sForm.srchgnam.value.toUpperCase().replace(/ $/g,"");
    sForm.srchpage.value=sForm.srchpage.value.replace(/ $/g,"");
    sForm.srchsnam.value.replace(/\'/g,"~");
    sForm.submit() }
  else {
    so.style.display="";
    sr.style.display="none" }
}
//------------------------------------------------------------
// Function : Init Page
//------------------------------------------------------------
function init() {
  backPageURL=top.location.pathname.replace(/login.*/,"")+top.getCookie('HomePageURL');
  setDefault();
  var rowCount=0
  if (location.href.match(/norecord/)=="norecord") {
    ListString="<ul class=patient-list>"
    var ttable=document.getElementById("RawData");
    var trows=ttable.getElementsByTagName("tr");
    for (i=1;i<trows.length;i++) {
     if (trows[i].innerHTML.match(/\<table/i)) {
      var tcells=trows[i].getElementsByTagName("td")
        for (j=0;j<tcells.length;j++) {
        switch (j) {
          case 1 :
           purn=tcells[j].innerHTML
           purn=purn.replace(/.*urnumber=/i,"")
           purn=purn.replace(/\&.*/i,"").replace(/\+/g," ")
           pvis=tcells[j].innerHTML.replace(/.*admissno=/i,"")
           pvis=pvis.replace(/\".*/i,"").replace(/\+/g," ")
           break;
          case 2 :
           padd=tcells[j].innerHTML.replace(/\n/,"").replace(/.*\<br\>/i,"")
           pnam=tcells[j].innerHTML.replace(/\n/,"").replace(/\<br\>.*/i,"").replace(/onclick.*/,">")
           pnam=pnam.replace(/\<b\>/i,"").replace(/\<\/b\>/i,"")
           pnam=pnam.replace(/class=.Icon./i,"class=AlertIcon")
           break;
          case 4 :
           psex=tcells[j].innerHTML.replace(/.*\<br\>/i,"")
           pdob=tcells[j].innerHTML.replace(/\<br\>.*/i,"")
           break;
         } 
        }
        rowCount=rowCount+1
        ListString+="<li class=patient-item "+
        "onclick=\"LinkTo('"+purn+"','"+pvis+"');\">"+
        "<span onclick='AddPhoto(\""+purn+"\",\""+pvis+"\");' class=PatientImageDiv>" +
        "<img style='display:none;' src='patientPhoto.php?urnumber="+purn.replace(/ /g,"+")+
        "&gender="+psex+"' class=PatientImage onload=\"this.style.display='inline';\" "+
        "onerror=\"this.parentElement.innerHTML='<br><br>';\"></span>"+
        "<span class='PatientDetails'>"+
        "<span class='listText'>"+pnam+"</span>"+
        "<span class='subscriptCenter'>"+padd+"</span>"+
        "<span class='subscriptLeft'> "+pdob+"</span>"+
        "<span class='subscriptRight'>"+psex+"</span></span></li>"
     } 
    }
    if (rowCount>24) {
      ListString+="<li class=patient-item-more onclick='Next25();'>"+
                  "<p align=center>Show Next 25</p></li>"
    }

    ListString+="</ul>"
  }
  ListLocation = document.getElementById("sectionList");
  var so=document.getElementById("searchOptions");
  var sr=document.getElementById("searchResults");
  if (rowCount>0) {
    so.style.display="none" 
    ListLocation.innerHTML=ListString;
    ListLocation.style.display="block";
  }
  else {
    sr.style.display="none" 
    so.style.display="" 
  }
}
function checkbirthdate() {
 if(checkDate(document.search.srchpdob,'Date of Birth')) {
    setBirth(this);
    }
  else {
    document.search.srchpdob.value="          ";
    document.search.srchpdob.focus();
  }
}
function toggleMale() {
   var el1=document.getElementById("Male");
   var el2=document.getElementById("Female");
   if (el1.className.indexOf('togButtonOff')>0) {
     el1.className='togButton togButtonOn noHighlight';
     if (el2.className.indexOf('togButtonOff')>0) {
       document.search.srchpsex.value="M"; }
     else {
       document.search.srchpsex.value=" "; }
   }
   else {
     el1.className='togButton togButtonOff noHighlight';
     document.search.srchpsex.value="F";
     if (el2.className.indexOf('togButtonOff')>0) {
       el2.className='togButton togButtonOn noHighlight'; }
   }
}
function toggleFemale() {
   var el1=document.getElementById("Female");
   var el2=document.getElementById("Male");
   if (el1.className.indexOf('togButtonOff')>0) {
     el1.className='togButton togButtonOn noHighlight';
     if (el2.className.indexOf('togButtonOff')>0) {
       document.search.srchpsex.value="F"; }
     else {
       document.search.srchpsex.value=" "; }
   }
   else {
     el1.className='togButton togButtonOff noHighlight';
     document.search.srchpsex.value="M";
     if (el2.className.indexOf('togButtonOff')>0) {
       el2.className='togButton togButtonOn noHighlight'; }
   }
}
function LinkTo(urnumber,admissno) {
  mScreen=top.document.getElementById("mainScreen")
  mScreen.style.display = "none";
  pFrame=top.document.getElementById("patientFrame")
  pScreen=top.document.getElementById("patientScreen")
  pScreen.style.position = "absolute";
  pScreen.style.top = "0px";
  pScreen.style.left = "0px";
  pScreen.style.width = "100%";
  pScreen.style.height = "800px";
  pFrame.src="LoadingPage.html";
  pScreen.style.display = "";
  pFrame.src = "../../cgi-bin/patweb98.pbl?reportno=1&template=081"+
                                "&urnumber="+urnumber.replace(/ /g,"+") +
                                "&admissno="+admissno.replace(/ /g,"+")
}
</script>
</head>
%START.OF.PAGE
<body onload='init()'>
<div class=HeadingDiv>
<table border=0 padding=0 style='width:100%;border:0;margin:0;padding:4px 0px'>
<tr><td class=HeadLeft><span class="goBack" 
    onclick="location.href=backPageURL;">Back</span></td>
    <td class=HeadTitle>Patient Search</td>
    <td class=HeadRight>
    <span class=goBack onclick='ProcessSubmit();'>Search</span>
    </td>
</tr></table>
</div>
<form name=search id=search method=get action=patweb90.pbl onsubmit='ProcessSubmit();return false'>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=25>
<input type=hidden name=norecord value=25>
<input type=hidden name=redirect value="patweb98.pbl?reportno=1&template=081">
<input type=hidden name=ptcnualt value="%PATWEB90.01.023">
<input type=hidden name=alternid value="">
<input type=hidden name=aisearch value="0">
<input type=hidden name=noaltrow value="1">
<input type=hidden name=srchtype value="1">
<input type=hidden name=dummy value="">
<input type=hidden name=urnumber value="">
<input type=hidden name=admissno value="">
<input type=hidden name=srchpdob value="">
<input type=hidden name=mrcnlzer value="%STANDARD.01.025.097.168.0.1">


<div id=searchOptions class="w-table">
<ul class=sectionList>
<li class=sectionItem>
    <input type=text name=srchsnam 
     placeholder="Surname" class=search-text
     size=25 tabindex=1 value="%PATWEB90.01.003">
    </li>

<li class=sectionItem>
    <input type=text name=srchgnam 
     placeholder="Given Name"class=search-text 
     size=25 tabindex=2 value="%PATWEB90.01.004">
    </li>

<li class=sectionItem>
       <input type=number name=srchpage 
        min="0" max="120" step="1" 
        placeholder="Age" class=search-text
         size=10 tabindex=6 title="Age"> 
       + or -
       <select name=srcharan tabindex=7 > 
       <option value=2 selected>2 yrs</option>
       <option value=4>4 yrs</option>
       <option value=6>6 yrs</option>
       <option value=8>8 yrs</option>
       <option value=10>10 yrs</option>
       </select>
    </li>

<li class=sectionItem>
    <input type=hidden name=srchpsex value=" "> 
    Include Male
<a id=Male class="togButton togButtonOn noHighlight" href="javascript:toggleMale();"></a>
  </li>
<li class=sectionItem>
    Include Female
<a id=Female class="togButton togButtonOn noHighlight" href="javascript:toggleFemale();"></a>
  </li>
<li class=sectionItem>
    Sound-Ex Search
<a id=Soundex class="togButton togButtonOff noHighlight" href="javascript:toggleSound();"></a>
  </li>
</ul>
</form>
</div>

<div id=searchResults class=w-table>
<div class="section" id="sectionList" style="display:none;" ></div>
</div>

<div id=RawData style='display:none;'>
%PATWEB90.01.010.300.0.1.patweb98.01.081
</div>

<form name=linkForm action=patweb98.pbl method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=81>
<input type=hidden name=urnumber value="">
<input type=hidden name=admissno value="">
</form>
<form name=Registration method=get action=patweb89.pbl>
<input type=hidden name=reportno value=05>
<input type=hidden name=template value=001>
<input type=hidden name=srchsnam value="">
<input type=hidden name=srchgnam value="">
<input type=hidden name=srchpdob value="">
<input type=hidden name=srchpage value="">
<input type=hidden name=srchpsex value="">
<input type=hidden name=temporar value="0">
</form>
<form name=NewRegistration method=get action=patweb89.pbl>
<input type=hidden name=reportno value=05>
<input type=hidden name=template value=004>
<input type=hidden name=srchsnam value="">
<input type=hidden name=srchgnam value="">
<input type=hidden name=srchpdob value="">
<input type=hidden name=srchpage value="">
<input type=hidden name=srchpsex value="">
<input type=hidden name=temporar value="1">
</form>
<script type="text/javascript">
function GetNext25() {
     NextURL='%PATWEB90.01.001.025'
}
function setDefault() {
  var sForm=document.getElementById("search");
  sForm.srchpage.value=("%PATWEB90.01.006").replace(/ /g,"");
//   sForm.srchpdob.value="%PATWEB90.01.007";
   for (var i =0 ; i < sForm.srcharan.length; i++) {
     $val=sForm.srcharan.options[i].value
     if ($val=="%PATWEB90.01.008") {
       sForm.srcharan.selectedIndex=i } };

   sForm.srchtype.value="%PATWEB90.01.009.2";
   if (sForm.srchtype.value==2) {
     var el=document.getElementById("Soundex");
     el.className='togButton togButtonOn noHighlight'; }
   else {
     sForm.srchtype.value="1";
   }

   var el1=document.getElementById("Female");
   var el2=document.getElementById("Male");
   sForm.srchpsex.value="%PATWEB90.01.005"
   if (document.search.srchpsex.value=="F") {
     el2.className='togButton togButtonOff noHighlight'; }
   else {
     if (document.search.srchpsex.value=="M") {
       el1.className='togButton togButtonOff noHighlight'; }
     else {
       sForm.srchpsex.value=" "
     }
   }
}
</script>
