<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript">
 function checkFiltrHCP(){
  if(getQueryString("filtrHCP")==1){
   SelectPeriod.filtrHCP.checked=true;
  }
 }
 function FilterHCPSubmit() {
    if(SelectPeriod.filtrHCP.checked==true){
    SelectPeriod.filtrHCP.value=1; }
    SelectPeriod.submit();
 } 
 function SelectPeriodSubmit() {
   SelectPeriod.submit();
 }
//
 function SetFocus() {
   if(isWhitespace(SelectPeriod.doctname.value)) {
   SelectPeriod.submit();
   }
 }
//
 function EncounterLink(Location) {
   Left=(document.body.clientWidth-820);
   DFrameLink(Location,50,Left,800,520);
 }
 function AddEncounter() {
   Depcod=SelectPeriod.deptcode.value;
   Hcpcod=SelectPeriod.doctcode.value;
   Vwtype=SelectPeriod.viewtype.value;
   if(isWhitespace(SelectPeriod.deptcode.value)) {
      alert("Department is empty");
   }
   else {
     if(isWhitespace(SelectPeriod.doctcode.value)) {
       alert("HCP code is empty");
     }
     else {
       if(SelectPeriod.viewtype.value == "2") {
          Lstdat=SelectPeriod.vyearmth.value.concat("01");
       }
       else {
         Lstdat=SelectPeriod.lastdate.value;
       }
       Left=(document.body.clientWidth-950)
       Location="allweb03.pbl?reportno=05&template=002&deptcode="+Depcod+
                "&doctcode="+Hcpcod+"&lastdate="+Lstdat+"&viewtype="+Vwtype;
       //DFrameLink(Location,50,Left,950,520);
       DFrameLink(Location,50,Left,1000,600);
     }
   }
 }
function AutoPopup() {
  if(GetCookieData("allweb0305005") != "unknown") {
     ExpireCookiePath("allweb0305005");
     AddEncounter();
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetCookiePath('BulkEncList');AutoPopup();
      checkFiltrHCP();">
<div id=HeadingSection>
<form name=SelectPeriod action=allweb03.pbl method=get >
<input type=hidden name=reportno value=5>
<input type=hidden name=template value=5>
<input type=hidden name=viewtype value="%ALLWEB03.05.008">
<input type=hidden name="bulkelst" id="bulkelst" value="1">

<table width="100%" bgcolor=#cccccc align=center cellpadding=2 cellspacing=0
 border=0>
<tr><td>Department</td>
    <td><select class="Mandatory PMenuSelectList" name=deptcode
        onchange="SelectPeriodSubmit();">
        <option></option>
        %ALLWEB03.05.009.2
        </select></td>
     <td align=right>Date of Service
       <input type=button value="<<" class=SmallButton
       onclick='location.href="%ALLWEB03.05.002"'>
       %ALLWEB03.05.007
       <input type=button value=">>" class=SmallButton
       onclick='location.href="%ALLWEB03.05.001"'>
       <img src="../images/DateLookup.gif" alt="Select Date"
       class=Icon  onclick='SelectDateFrame();'>
       <img src="../images/DayIcon.gif" alt="View Today"
       class=Icon onclick='SelectView("0");'>
       <img src="../images/WeekIcon.gif" alt="View This Week"
       class=Icon onclick='SelectView("1");'>
       <img src="../images/MonthIcon.gif" alt="View This Month"
       class=Icon onclick='SelectView("2");'>
       </td></tr>

<tr><td class=DataLabel align=left>HCP</td>
    <td align=left><input type=text name=doctcode value="%ALLWEB03.05.032.0" 
       class="Mandatory DataField" title="Attending HCP" size=10 maxlength=10
       onchange="ValidateHCP(18,14,SelectPeriod.doctcode,
                 SelectPeriod.doctname,SelectPeriodSubmit);">
       <input type=text name=doctname class=Readonly title="Attending HCP"
       value="%ALLWEB03.05.032.1" readonly 
       size=37 maxlength=35 onfocus="SetFocus();">
       <img src="../images/SearchIcon.gif" class=Icon
       onclick="HCPSearchFrame(SelectPeriod.doctcode,SelectPeriod.doctname,
                1,SelectPeriodSubmit);">
       <img src="../images/ClearIcon.gif" class=Icon
       onclick="clrFields(SelectPeriod.doctcode,SelectPeriod.doctname,
                SelectPeriodSubmit);">
       <label>Show Contacts for this HCP only</label>
       <input type="checkbox" value="0" name="filtrHCP" 
         title="Show Contacts for this HCP only" onclick="FilterHCPSubmit();">
        </td>

    <td align=right colspan=2>
       <input type=button value="Add Contact"
       onclick="AddEncounter();" class="button">
       <img src='../images/PrinterIcon.gif' class=Icon
       alt='Print Page' onclick='print()'>
       </td></tr>
</table>

<table cellspacing=0 colspan=4 border=1 width="100%">
<tr><td class=HeadingCell colspan=5 align=center>
    Contact List</td></tr>
<tr><td class=HeadingCell width=15%>Date & Time</td>
    <td class=HeadingCell>Patient</td>
    <td class=HeadingCell>Referral</td>
    <td class=HeadingCell>Occasion of Service</td>
    <td class=HeadingCell>%STANDARD.01.017.gb</td>
</tr>
%ALLWEB03.05.034.allweb03.01.003
</table>

<table width=100% bgcolor=#CCCCCC>
<tr>
  <td align=center>
    <input type=button value="<< Previous" class="button"
     onclick='location.href="%ALLWEB03.05.030.005"   ' >
    <input type=button value="Next >>" class="button"
     onclick='location.href="%ALLWEB03.05.031.005"   '>
  </td>
</tr>
</table>

</form>
</div>
