<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function UpdateMWS(MWSKey) {
 document.PatientLinks.nhmwskey.value=MWSKey
 PatientLinkTo("nhiweb99.pbl",4,3,1,600,300);
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%NHIWEB99.04.003";
PatientVIS="%NHIWEB99.04.081";
PatientNAM="%NHIWEB99.04.002";
PatientSTA="%NHIWEB99.04.086.078";
PatientALT="%NHIWEB99.04.084";
PatientSEX="%NHIWEB99.04.019";
PatientDOB="%NHIWEB99.04.020";
PatientAGE="%NHIWEB99.04.021";
PatientLOC="%NHIWEB99.04.083";
PatientPRI="%NHIWEB99.04.086.066.1";
PatientUNT="%NHIWEB99.04.066.0";
DoctorCOD="%NHIWEB99.04.082.003";
DoctorNAM="%NHIWEB99.04.082.002";
PatientAID="%NHIWEB99.04.086.090";
PatientIND="%NHIWEB99.04.086.091";
PatientCUR="%NHIWEB99.04.086.092";
PatientCLC="%NHIWEB99.04.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%NHIWEB99.04.086.094";
PatientCDM="%NHIWEB99.04.086.095";
PatientVDH="%NHIWEB99.04.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell align=center>
    NHI/MWS Patient Medical Warnings</td>
    <td width=5%><input type=button class="button" value="Add"
               onClick="PatientLinkTo('nhiweb99.pbl',4,2,1,600,260);"></td></tr>
<tr><td colspan=2>
<table cellspacing=0 cellpadding=2 border=0 width=100%>

%NHIWEB99.04.207

</table>
</td></tr>
<tr><td colspan=2 align=center bgcolor=#cccccc>
    <input type=button class="button" value="Basic"
     onClick="PatientLinkTo('nhiweb99.pbl',1,2,0,0,0);">
    <!--
    <input type=button class="button" value="Contact/Donor"
     onClick="PatientLinkTo('nhiweb99.pbl',2,1,0,0,0);">
    -->
    <input type=button class="button" value="Aliases"
     onClick="PatientLinkTo('nhiweb99.pbl',3,1,0,0,0);">
</td></tr>
</table>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%NHIWEB99.04.003">
<input type=hidden name=admissno value="%NHIWEB99.04.081">
<input type=hidden name=MenuType value="%NHIWEB99.04.088">
<input type=hidden name=updttype value=" ">
<input type=hidden name=nhmwskey value=" ">
<input type=hidden name=cpmiskey value="%NHIWEB99.04.150">
</form>
