<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function setFormactn(UpdateType) {
document.UpdateMWS.updttype.value=UpdateType;
if (UpdateType=="U") {
  if(validateMandatory(UpdateMWS)) {
     document.UpdateMWS.submit();
  }
}
if (UpdateType=="D") {
     ans=confirm("Are you sure you want to Delete ?")
     if (ans) { document.UpdateMWS.submit() }
   }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

 <form name=UpdateMWS method=post action=nhiweb99.pbl style="margin:0">
 <input type=hidden name=reportno value="4">
 <input type=hidden name=template value="001">
 <input type=hidden name=nextpage value="1">
 <input type=hidden name=urnumber value="%NHIWEB99.04.003">
 <input type=hidden name=admissno value="%NHIWEB99.04.081">
 <input type=hidden name=nhmwskey value="%NHIWEB99.04.212">
<table cellspacing=2 cellpadding=1 width=100% border=0>
<tr><td class=DataLabel>Facility Code</td>
    <td class=DataField>%NHIWEB99.04.209 %NHIWEB99.04.213</td>
</tr>
<tr><td class=DataLabel>Date Created</td>
    <td class=DataField>%NHIWEB99.04.210 at
                        %NHIWEB99.04.211</td>
    <td class=DataLabel>MARC App. Date</td>
    <td class=DataField>%NHIWEB99.04.208</td>
    <td class=DataLabel></td>
    <td class=DataField></tr>
</table>
<table cellspacing=2 cellpadding=1 width=100% border=0>

<tr><td class=DataLabel>Severity</td>
    <td><input name=warning type=text readonly value="%NHIWEB99.04.201.0"
         class=Readonly>
        <input name=nhmws001 type=hidden value="%NHIWEB99.04.201.1">
    </td></tr>

<tr><td class=DataLabel>Date of Onset</td>
    <td><input type=text name=nhmws002 size=12 maxlength=12
        value="%NHIWEB99.04.202" class=Mandatory title="Date of Onset"
        onblur="checkDate(this,'Alert Date');">
    <img src=../images/DateLookup.gif class=Icon
     onclick="DateLookupFrame(UpdateMWS.nhmws002);">
    </td></tr>

<tr><td class=DataLabel>Warning Description</td>
      <td><input type=text size=70 maxlength=70 name=nhmws003  
           value="%NHIWEB99.04.203" class=Mandatory title="Warning Description">
</td></tr>

<tr><td class=DataLabel>Doctor Code</td>
    <td><input type=text size=5 maxlength=5 name=nhmws004 
           value="%NHIWEB99.04.204.003">
    </td></tr>
</table>
<table cellspacing=2 cellpadding=1 width=100% border=0>
<tr><td class=HeadingCell colspan=4 align=center>
              Adverse Reaction</td></tr>
<tr><td class=DataLabel>Coding System</td>
    <td><select class="Readonly" name=nhmws005 disabled> 
        <option value="0">No Coding System</option>
        <option value="1">ICD-9</option>
        <option value="2">ICD-9-CM</option>
        <option value="3">RCC5 (Read)</option>
        <option value="4">ICPC</option>
        <option value="5">PAXUS AMR codes</option>
        <option value="6">ICD9-CM-A</option>
        <option value="10">ICD10 version 1</option>
        <option value="11">ICD10 version 2</option>
       </select></td>

    <td class=DataLabel>Code</td>
    <td><input type=text name=nhmws006 size=6 maxlength=20 class=Readonly
         value="%NHIWEB99.04.206.1" readonly></td></tr>

<tr><td colspan=4 align=center><br>
    <input type=hidden name=updttype value="" >
    <input type=button name=UpdateBut value=Update class="button"
     onClick="setFormactn('U')">
    <input type=button name=DeleteBut value=Delete class="button"
     onClick="setFormactn('D')">
    <input type=button value=Cancel class="button" onclick="DFrameClose()">
</td></tr>
</table>
</form>

<script type="text/javascript">
   for (var i =0 ; i < document.UpdateMWS.nhmws005.length; i++) {
     if (document.UpdateMWS.nhmws005.options[i].value=="%NHIWEB99.04.205.0") {
         document.UpdateMWS.nhmws005.selectedIndex=i } };
</script>
