<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/IBA_Category_CT.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script type="text/javascript" src="../js/outweb0201016.js"></script>
<link rel="stylesheet" href="../html/outweb0201016.css" type="text/css">
<link rel="stylesheet" media="print" href="../html/printWithHeader.css" type="text/css">
</head>
%START.OF.PAGE
<body onload='PageLoad(event);RefreshPageNZ();SetOutpatientList();
              getMSPCookies();'
      onunload='setMSPCookies();'>
<div id=HeadingSection>
<form id=SelectPeriod name=SelectPeriod action=outweb02.pbl method=get
 style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=16>
<input type=hidden name=defctype value="%OUTWEB02.01.025">
<input type=hidden name=deftclid value="%OUTWEB02.01.036">
<input type=hidden name=defltype value="%OUTWEB02.01.037">
<input type=hidden name=viewtype value="%OUTWEB02.01.011">
<input type=hidden name=usersite value="%STANDARD.01.023">
<input type=hidden name=searchfl value="0">
<input type=hidden name=d_showempt value="%OUTWEB02.01.048">
<input type=hidden name=dummyclm value="%STANDARD.01.017.CL">
<input type=hidden name=showcpmi value="%OUTWEB02.01.049"> 
<input type=hidden name=showempt value="0">
<input type=hidden name=mspvckie value="1">
<input type=hidden name=nodateck value="1">
<input type=hidden name=showcpmi id=showcpmi value="%OUTWEB02.01.049">
<input type=hidden name=ibcnmhos value="%STANDARD.01.025.000.043.1.1">
<input type=hidden name=wbsehosp value="%STANDARD.01.032">
<input type=hidden name=ctcode id=ctcode value="CT">

<table width="100%" bgcolor=#cccccc align=center border=0 cellpadding=2
 cellspacing=0>
<tr><td class=DataLabel>Patient Search</td>
    <td class=DataField><input type=text onkeyup='TableSearch(event);' 
     name=sString id=PatientSearchName size=20>
    </td>
    <td class=DataLabel>Clinic Type</td>
    <td class=DataField>
    <select onchange="onFilterList(this,'32');" title="Clinic Type"
    class=SelectBig id="typeFilter">
    <option value=''>All Clinic Types</option>
    </select></td>

    <td class=DataLabel>Clinic</td>
    <td class=DataField>
    <select onchange="onFilterList(this,'33');" title="Clinic"
    class=SelectBig id="clinicFilter">
    <option value=''>All Clinics</option>
    </select>
    </td>

    <td align=right>
    <input type=button value="<<" class=SmallButton
    onclick='document.SelectPeriod.nodateck.value="0";
             location.href="%OUTWEB02.01.002";'>
    %OUTWEB02.01.007
    <input type=button value=">>" class=SmallButton
    onclick='document.SelectPeriod.nodateck.value="0";
             location.href="%OUTWEB02.01.001";'>
    <a href='javascript:SelectDateFrame();'>
      <img src="../images/DateLookup.gif" border=0 align=absmiddle
     alt="Select Date" title="Select Date"></a>
    <a href='javascript:SelectView("0");'>
      <img src="../images/DayIcon.gif" border=0 align=absmiddle
     alt="View Today" title="View Today"></a>
    </td>
</tr>

<tr><td class=DataLabel>Clinic Indicator</td>
    <td class=DataField>
      <select onchange="onFilterList(this,'50');" title="Indicator"
       class=SelectBig id="indicatorFilter">
        <option value=''>All Indicators</option>
      </select>
    </td>

    <td class=DataLabel>Location</td>
    <td class=DataField>
      <select name=srchltyp class=SelectBig onchange='RefreshPageNZ();'>
        <option value=''>All Locations</option>
      </select>
    </td>

    <td class=DataLabel colspan=2>
      <input type=checkbox name=statusFilter 
       onclick="onActiveFilter(this)" checked>Hide Departed/Non Attend
    </td>

    <td class=Field align=right>
      <input type=button value=Refresh class="button"
       onclick='RefreshPageNZ();'>
    </td>
</tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Please Wait ...</p>
</span>

<div id=PageLayer class=DimmedLayer style="display:none"></div>

<form name=UpdateStatus action=outweb02.pbl method=post>
<input type=hidden name=reportno value=4>
<input type=hidden name=template value=1>
<input type=hidden name=casekeys value="">
<input type=hidden name=xocadoct value="">
<input type=hidden name=xocahcp1 value="">
<input type=hidden name=xocahcp2 value="">
<input type=hidden name=xocahcp3 value="">
<input type=hidden name=xocahcp4 value="">
<input type=hidden name=othedurn value="">
<input type=hidden name=d_multic value="1">
</form>
