<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb91.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=UpdateForm method=post action=patweb91.pbl style=margin:0>
<input type=hidden name=reportno value="8">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="">

<table align=center cellspacing=0 cellpadding=2 border=0 width=90%>
<tr><td>

<table cellspacing=0 align=center cellpadding=0 border=0 width=100%>
<tr><td class=DataLabel>Transfer Code</td>
    <td><input type=text name=patva001 class=Readonly readonly
         title="Transfer Code" size=6 maxlength=5 notab tabindex="-1"
         value="%PATWEB91.08.001">
    </td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Destination Description</td>
    <td><input type=text name=patva002 id=patva002 class=Mandatory
         title="Description" size=35 maxlength=30 tabindex=1
         value="%PATWEB91.08.002">
    </td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>HDP Equivalent</td>
    <td><input type=text name=patva003 title="HDP Equivalent" tabindex=2
        value="%PATWEB91.08.003" size=4 maxlength=4>
    </td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Start Date</td>
    <td><input type=text size=12 name=patva005 class="Mandatory Date"
         title="Start Date" value="%PATWEB91.08.012" tabindex=3
         onblur="checkDate(this,'Effective Date');">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.patva005>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.patva005>
    </td>
    <td class=DataLabel>Auto Update</td>
    <td><input type=checkbox name=patva006 title="Active" value="1"
         tabindex=4>
    </td>
</tr>

<tr><td class=DataLabel>End Date</td>
    <td><input type=text size=12 name=patva007 class="Date" tabindex=5
         title="End Date" value="%PATWEB91.08.014"
         onblur="checkDate(this,'Effective Date');SetAutoEnd08(this,patva008);">
    <img src=../images/DateTimeStamp.gif class=Icon date=UpdateForm.patva007>
    <img src=../images/DateLookup.gif class=Icon date=UpdateForm.patva007>
    </td>
    <td class=DataLabel>Auto Update</td>
    <td><input type=checkbox name=patva008 title="Active" value="1" tabindex=6
         onclick="CheckAutoEnd08(this,patva007);">
    </td>
</tr>

<tr><td class=DataLabel>Provider Number</td>
    <td><input type=text size=8 maxlength=8 name=patva009 tabindex=7
         title="Provider Number" value="%PATWEB91.08.016">
    </td>
</tr>

<tr><td class=DataLabel>Provider Name</td>
    <td><input type=text size=34 maxlength=30 name=patva010 tabindex=8
         title="Provider Name" value="%PATWEB91.08.017">
    </td>
</tr>

<tr><td class=DataLabel>PRIMHD Code</td>
    <td><input type=text size=8 maxlength=8 name=patva011 title="PRIMHD Code"
        value="%PATWEB91.08.018" tabindex=9>
    </td>
</tr>

<tr><td class=DataLabel>Destination Type</td>
    <td><input type=text size=1 maxlength=1 name=patva012 tabindex=10
         title="Destination Type" value="%PATWEB91.08.019">
    </td>
</tr>

<tr><td class=DataLabel> Active - Display on Search </td>
    <td><input type=checkbox name=patva004 title="Active - Display on Search" 
         value="A" tabindex=11>
    </td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

</table>
</td></tr>

<tr><td colspan=2 align=center><br>
      <input type=button value="Update" class="button" tabindex=20
       onclick="PostTransfer08();">
      <input type=button value="Close"  class="button" tabindex=21
       onclick="DFrameCloseRefresh();">
    </td>
</tr>
</table>
</form>

<script type="text/javascript">
if ("%PATWEB91.08.004" == "A")
{
  document.UpdateForm.patva004.checked=1;
}
if ("%PATWEB91.08.013" == "1")
{
  document.UpdateForm.patva006.checked=1;
}
if ("%PATWEB91.08.015" == "1")
{
  document.UpdateForm.patva008.checked=1;
}

SetCaretPosition('patva002',-1);
</script>
