<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/preadmission.js"></script>
<script type="text/javascript" src="../js/CaseTeamSelect.js"></script>
<script type="text/javascript">   
function SubmitAdm(){
    p=document.UpdateForm
    if(!checkSiteOpBooking(p.urnumber,p.ptmis001)) {
      return;
    }
    UpdateForm.ptmis004.value=UpdateForm.ptmis068.value;
    UpdateForm.ptmis009.disabled=false;
//
     document.UpdateForm.redirect.value="patweb98.pbl?reportno=01&template=043"
     + "&urnumber=" + document.UpdateForm.urnumber.value
     + "&admissno=";
//
    if(checkMultipleAdmission(UpdateForm)){
        return;
    }
    SetLinkACC(UpdateForm,"ADM");
    validateBedRequestUpdate(UpdateForm.emadmiss,UpdateForm.ptmis068,
                             UpdateForm.ptmis005,UpdateForm.bedrqqry);
    SubmitHidden(UpdateForm);
}
function displayDivEmr(OptionType,Field)
{
  if (Field == "PT") {
  if (OptionType.value.substr(6,1) == "B") {
    document.UpdateForm.ptmis041.className="Mandatory";
  }else{
    document.UpdateForm.ptmis041.className="";
  }
  displayDiv(OptionType,Field);
 }
}
function validateCodeOnChange(num,trnsfsrc,trndesc,ptmis009)
{
  if(validateCode(num,trnsfsrc,trndesc))
  {
   validateTransSrcWithRef(trnsfsrc,ptmis009,trndesc);
  }
}

</script>
%START.OF.PAGE
<body onload="PageLoad(event);displayDivEmr(document.UpdateForm.ptmis011,'PT'); 
              displayDiv(document.UpdateForm.ptmis012,'AT'); 
              customLoad();DisplayTrnSrc();
              createSpecialtyArray();getHCPSpecialtySelectList();
              defaultSpecialty();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB89.04.003";
PatientVIS="%PATWEB89.04.081";
PatientNAM="%PATWEB89.04.002";
PatientSTA="%PATWEB89.04.086.078";
PatientALT="%PATWEB89.04.084";
PatientSEX="%PATWEB89.04.019";
PatientDOB="%PATWEB89.04.020";
PatientAGE="%PATWEB89.04.021";
PatientLOC="%PATWEB89.04.083";
PatientPRI="%PATWEB89.04.086.066.1";
PatientUNT="%PATWEB89.04.066.0";
DoctorCOD="%PATWEB89.04.082.003";
DoctorNAM="%PATWEB89.04.082.002";
PatientAID="%PATWEB89.04.086.090";
PatientIND="%PATWEB89.04.086.091";
PatientCUR="%PATWEB89.04.086.092";
PatientCLC="%PATWEB89.04.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB89.04.086.094";
PatientCDM="%PATWEB89.04.086.095";
PatientVDH="%PATWEB89.04.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>

<form name=UpdateForm method=post action=patweb89.pbl style="margin:0"> 
<input type="hidden" name="reportno" value=2>
<input type="hidden" name="template" value="001">
<input type="hidden" name="urnumber" value="%PATWEB89.04.003">
<input type="hidden" name="admissno" value="%PATWEB89.04.081">
<input type="hidden" name="emadmiss" value="%PATWEB89.04.926">
<input type="hidden" name="updatety" value="2">
<input type="hidden" name="redirect" value="%PATWEB89.04.001.emrweb02.01.105">
<input type="hidden" name="allocate" value="1">
<input type="hidden" name="chckname" value="0">
<input type="hidden" name="emradmit" value="0">
<input type="hidden" name="emradmis" value="0">
<input type="hidden" name="admitnow" value="1">
<input type="hidden" name="newbmand" value="0">
<input type="hidden" name="agebmand" value="0">
<input type="hidden" name="ptcnueoc" value="%PATWEB89.04.925">
<input type="hidden" name="claimc" value="">
<input type="hidden" name="admitbox" value="1">
<input type="hidden" name="exstward" value="%PATWEB89.04.158">
<input type="hidden" name="ptcnbage" value="%STANDARD.01.025.021.046.1.3">
<input type="hidden" name="pbdate"   value="%PATWEB89.04.020">
<input type="hidden" name="contmult" value="1">
<input type="hidden" name="contmupt">
<input type="hidden" name="leavhosp">
<input type="hidden" name="leavadmn">
<input type="hidden" name="leavtype">
<input type="hidden" name="dontcurr" value="1">
<input type="hidden" name="c_ptmis010" id="c_ptmis010"
       value="%PATWEB89.04.111.1">
<input type=hidden name=bedrqqry value="">

<input type=hidden name=ptcndigp id=ptcndigp
       value="%STANDARD.01.025.124.122.0.1">

<table border=1 colspan=1 width=100% cellspacing=1 cellpadding=1 >
<tr><td class=HeadingCell align=center>
    Patient Admission Details (From Emergency Visit) </tr>
<tr>
<tr><td>
    <table width=100%  border=0 class=TableBody cellpadding=2 cellspacing=2>
<tr><td width=50%>
    <table width=100% border=0 class=TableBody cellpadding=0 cellspacing=0>
      <tr><td class=DataLabel>Admission Date </td>                              
          <td class=DataLabel><input type=text size=12 name=ptmis001 tabindex=1
           value="%STANDARD.01.015" id=ptmis001
       onblur="checkDate(this,'AdmissionDate');ShowAdmissionWeight(UpdateForm);
               getHCPSpecialtySelectList();defaultSpecialty();"
           class="Mandatory" title="Admission Date">
          <img src=../images/CalendarLookup.gif class="Icon"
           onclick="DateLookupFrame(UpdateForm.ptmis001);">
           Time <input type=text name=ptmis002 size=8 tabindex=2 
           class="Mandatory" title="Admission Time" 
           onblur="checkTime(this,'AdmissionTime');" value="%STANDARD.01.016">
          <img src=../images/DateTimeStamp.gif class="Icon"
           onclick="SetCurrentDateTime(null,UpdateForm.ptmis002);">
          <img src=../images/TimeLookup.gif class="Icon"
           onclick="TimeLookupFrame(UpdateForm.ptmis002);">
          </td></tr>

      <tr><td class=DataLabel>%STANDARD.01.017.P </td>
          <td><select name=ptmis011 tabindex=3 class="Mandatory" 
               title="%STANDARD.01.017.P "
               onchange="displayDivEmr(UpdateForm.ptmis011,'PT');"> 
              <option> </option>
               %PATWEB89.04.112.2
              </select></tr>

      <tr><td class=DataLabel>Referral Source</td>
          <td><select name=ptmis009 tabindex=4 class="Mandatory" 
               onchange="DisplayTrnSrc()" 
               onblur="validateCodeOnChange(9,UpdateForm.trnsfsrc,
               UpdateForm.trandesc,UpdateForm.ptmis009);"
              title="Referral Source">
                 <option> </option>
                 %PATWEB89.04.110.2
                 </select></td></tr>
          <td><div id=TranSrcHeading></div></td>
          <td><div id=TranSrc></div></td>

<tr><td class=DataLabel>Referring GP</td>
    <td><input type="text" size=10 maxlength=10 name=ptvis028 tabindex=5
               value="%PATWEB89.04.231.1"
        onchange="ReadDoc(18,0,UpdateForm.ptvis028,UpdateForm.genpname,
                  UpdateForm.ptvis029,UpdateForm.genpprac,
                  UpdateForm.ptvis030,UpdateForm.genpprov);">
        <input type=text size=25 notab readonly name=genpname
               value="%PATWEB89.04.231.0">
        <img src="../images/SearchIcon.gif" class=Icon
        onclick="GPHCPSearchFrame(UpdateForm.ptvis028,UpdateForm.genpname,
                 UpdateForm.genpprov,UpdateForm.ptvis029,
                 UpdateForm.genpprac,UpdateForm.ptvis030,0);">
        <img src="../images/erase.gif" class="Icon"
         onclick="clrFields(UpdateForm.ptvis028,
                  UpdateForm.genpname);"></td></tr>

<tr><td class=DataLabel>Practice</td>
    <td><input type=text name=genpprac size=35 readonly
                 value="%PATWEB89.04.232.0">
          <input type=hidden name=ptvis029 value="%PATWEB89.04.232.1">
          <input type=hidden name=ptvis030 value="%PATWEB89.04.233.1">
          <input type=hidden name=genpprov value="">
          <img src="../images/SearchIcon.gif" class=Icon
 onclick="GPHCGSearchFrame(UpdateForm.ptvis028,UpdateForm.genpname,
          UpdateForm.genpprov,UpdateForm.ptvis029,
          UpdateForm.genpprac,UpdateForm.ptvis030);">
 <img src="../images/erase.gif" class="Icon"
  onclick="clrFields(UpdateForm.ptvis029,UpdateForm.genpprac,
           UpdateForm.ptvis030,UpdateForm.genpprov);">
      </td></tr>

      <tr><td class=DataLabel>Readmission Indicator</td>
          <td><select name=ptmis042 tabindex=6>
                <option> </option>
                 %PATWEB89.04.138.2
              </select></td></tr>     

      <tr><td class=DataLabel>Admission Type</td>
          <td><select name=ptmis012 tabindex=7  class="Mandatory" 
               title="Admission Type"
               onchange="displayDiv(UpdateForm.ptmis012,'AT');"> 
                <option> </option>
                 %PATWEB89.04.113.2
              </select></td></tr> 

      <tr><td class=DataLabel>Admitting Doctor</td>
          <td><input type=text size=11 maxlength=6 name=ptmis007 id=ptmis007
               tabindex=8 class="Mandatory" title="Admitting Doctor"
	       value="%PATWEB89.04.108.003"
	       onblur="UpCase(this); validateCode(3,UpdateForm.ptmis007,
                      UpdateForm.doctnam2);
                      getHCPSpecialtySelectList();defaultSpecialty();"
              onchange="getCaseTeamByHCP(UpdateForm.ptmis007,
                      UpdateForm.pmsvx146,UpdateForm.n_pmsvx146,
                      UpdateForm.dummy1);">
              <input type=text readonly name=doctnam2
               value="%PATWEB89.04.108.002">
              <img src="../images/SearchIcon.gif" class=Icon
      onclick="HCPSelectOnClick(UpdateForm.ptmis007,UpdateForm.doctnam2,
               UpdateForm.pmsvx146,UpdateForm.n_pmsvx146,UpdateForm.dummy1);">
          </td></tr>

      <tr><td class=DataLabel>Case Team</td>
          <td><input type=text name=pmsvx146 size=11 maxlength=10
               title="Case Team" tabindex=9 value="%PATWEB89.04.298.062.1"
               onblur="validateCode2(7,UpdateForm.pmsvx146,
                       UpdateForm.n_pmsvx146);"
               onchange="getHCPbyCaseTeam(UpdateForm.pmsvx146,
                       UpdateForm.ptmis007,UpdateForm.doctnam2,
                       UpdateForm.dummy1);">
              <input type=text name=n_pmsvx146 size=42 readonly
               value="%PATWEB89.04.298.062.0" class=Readonly tabindex=-1
               title="Team Description">
              <img src="../images/SearchIcon.gif" class=Icon
               onclick="CaseTeamOnClick(UpdateForm.pmsvx146,
                        UpdateForm.n_pmsvx146,UpdateForm.ptmis007,
                        UpdateForm.doctnam2,UpdateForm.dummy1);">
              <img src="../images/ClearIcon.gif" class=Icon
               onclick="clrFields(UpdateForm.pmsvx146,UpdateForm.n_pmsvx146);">
              <input type=hidden name=dummy1 value="">
          </td></tr>

      <tr><td class=DataLabel>%STANDARD.01.017.A </td>
              <input type=hidden name=admiscat value="A ">
          <td>
             <select name=ptmis010 tabindex=10 id=ptmis010
               title="%STANDARD.01.017.A " class="Mandatory">
              <option> </option>
                 %PATWEB89.04.111.2
 
              </select>
	  </td></tr>

      <tr><td class=DataLabel>Provisional DRG</td>
          <td><input type=text name=ptmis066 size=5 maxlength=4 tabindex=11
               value="%PATWEB89.04.140.0"
               onblur='validateCode(5,UpdateForm.ptmis066,
                       UpdateForm.drgdesc1);'>
              <img src="../images/SearchIcon.gif" class=Icon
               onclick="DrgSearchFrame(UpdateForm.ptmis066,
                        UpdateForm.drgdesc1);">     
               </td></tr>

      <tr><td>&nbsp;</td>
          <td><input type=text readonly name=drgdesc1 tabindex=12
               value="%PATWEB89.04.140.1" size=45>
          </td></tr>

     <tr><td class=DataLabel>%STANDARD.01.017.CL</td>
          <td><select name=ptmis027 title="%STANDARD.01.017.CL"
               class="Mandatory" tabindex=13>
                <option> </option>
                 %PATWEB89.04.126.2
              </select>
           </td>
         </tr>
</table>
</td>
<td width=50%>
    <table width=100% border=0 class=TableBody cellpadding=0 cellspacing=0>
      <tr><td class=DataLabel>Reason For Admission</td>
          <td><input type=text name="ptmis020" size=50 tabindex=14
               value="%PATWEB89.04.121" maxlength=80></td></tr>

      <tr><td class=DataLabel>&nbsp;</td>
          <td><input type=text name="ptmis021" size=50 tabindex=15 
               value="%PATWEB89.04.122" maxlength=50> 
          </td></tr>

     <tr><td class=DataLabel><!--Hospital--></td>
          <td><!--select name="ptmis013" tabindex=15 class="Mandatory" 
               title="Hospital">
            <option> </option>
            PATWEB89.04.114.2
            </select--></td></tr>

      <tr><td class=DataLabel>%STANDARD.01.017.HP</td>
          <td>
            <select name="ptmis060" tabindex=16 class="Mandatory" 
             title="%STANDARD.01.017.HP">
              <option></option>
              %PATWEB89.04.151.2
            </select>
          </td></tr>
 
      <tr><td class=DataLabel>Health Agency</td>
          <td><select name="ptmis061" tabindex=17 class="Mandatory" 
               title="Health Agency">
            <option> </option>
            %PATWEB89.04.152.2
          </select>
          </td></tr>
      <tr><td>Admitting Point</td>
          <td><select name=ptvis046 tabindex=18 title="Admitting Point" 
           onchange="defaultWard();">
           <option></option>
            %PATWEB89.04.290.2
          </select>
          </td></tr>

      <tr><td class=DataLabel>Ward / Bed </td>
         <td><input type=hidden name=bedstat1>
           <input type=hidden name=ptmis004>
           <input type=hidden name=warddesc>
           <select name=ptmis068 tabindex=19 class=Mandatory title="Ward">
            <option> </option>
            %PATWEB89.04.449.2
           <select>
           <input type=text name=ptmis005 maxlength=3 size=3 title="Bed"
            value="%PATWEB89.04.194" onchange="UpCase(this);">
           <img src=../images/SearchIcon.gif class=Icon 
            onclick="WardBedSearchFrame(UpdateForm.ptmis068,
                     UpdateForm.warddesc,UpdateForm.ptmis005,
                     UpdateForm.bedstat1);">
          </td>

      <tr><td class=DataLabel> Planned Length of Stay</td>
          <td><input type=text size=5 maxlength=5 name=ptmis030 tabindex=20
               title='Planned Length of Stay'
               class=Integer onblur="checkInteger(this,this.value);"
               value="%PATWEB89.04.129">
        </td></tr>

      <tr><td class=DataLabel>Diet</td>
          <td><select name=ptmis028 tabindex=21>
              <option></option>
              %PATWEB89.04.127.2
              </select>
          </td></tr>

<tr><td colspan=2 rowspan=4>
<table width=100%>
<tr><td>
<span id=BabyAge style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=DataLabel width=37%>Admission Weight</td>
    <td><input type=text name=ptmis051 title="Admission Weight" 
         size=8 maxlength=6 tabindex=22
         onblur="justifyRight(this);">grams</td></tr>
</table>
</span>
</td></tr>
<tr><td>
<span id=NewBorn style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<input type=hidden name="userdef5" value="U5">
<tr><td class=DataLabel width=37%>Gestation Period</td>
    <td><input type=text name=ptmis041 maxlength=3 size=4
         tabindex=23 title="Gestation Period"
         onchange="validateCatCode(UpdateForm.userdef5,
                   UpdateForm.ptmis041,'');" value=""> weeks 
    </td></tr>
</table>
</span>
</td></tr>
<tr><td rowspan=2>
<span id=WaitingList style="display:none">
<table width=100% height=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=DataLabel width=37%>Date of Referral</td>
    <td><input type=text size=12 name=ptmis058 tabindex=24
         onblur="checkDate(this,'ReferralDate')">
         <img notab src=../images/CalendarLookup.gif class="Icon"
          onclick="DateLookupFrame(UpdateForm.ptmis058);"></td></tr>
<tr><td class=DataLabel>Date of 1st Spec Consult</td>
    <td><input type=text size=12 name=ptmis059 tabindex=25
         onblur="checkDate(this,'SpecConDate')">
         <img notab src=../images/CalendarLookup.gif class="Icon"
          onclick="DateLookupFrame(UpdateForm.ptmis059);"></td></tr>
</table>
</span>
</td><tr>
</table>
</td><td></tr>

</table>
</td>
</tr>
      <tr align=center>
       <td colspan=4 align=center>
       <input type=button value="Ok" class="button" tabindex=35
        id="pat89sub"
            onclick="tempDisable(this);checkBedStatus(UpdateForm.ptmis068.value,
               UpdateForm.ptmis005.value,UpdateForm.ptmis001.value,
               UpdateForm.ptmis030.value,SubmitAdm);">
       <input tabindex=36 type=button value="Cancel" class="button"
             onclick='fnPatientLink("%PATWEB89.04.003","%PATWEB89.04.926");'>
    </table>
</td></tr>
</table>
</form>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB89.04.003">
<input type=hidden name=admissno value="%PATWEB89.04.081">
</form>

<form name=linkForm action=patweb89.pbl method=post style="margin:0">
<input type="hidden" name="reportno" value=1>
<input type="hidden" name="template" value=1>
<input type="hidden" name="urnumber" value="%PATWEB89.04.003">
<input type="hidden" name="admissno" value="%PATWEB89.04.101">
</form>

<form name=Lookup action=patweb94.pbl method=post style="margin:0">
<input type="hidden" name="reportno" value=9>
<input type="hidden" name="template" value=1>
<input type="hidden" name="valcateg">
<input type="hidden" name="valdtype">
<input type="hidden" name="valdcode">
</form>

</div>
<script language="javascript">
function customLoad() {
if ("%PATWEB89.04.466.1" == "BED" ) { var site="4711"}else{ site="4712" }
//
for (var i=0;i<document.UpdateForm.ptmis009.length;i++){
if (document.UpdateForm.ptmis009.options[i].value.substr(0,3)=="AE "){
    document.UpdateForm.ptmis009.selectedIndex=i}};
//
expward="%PATWEB89.04.158"
for (var i =0 ; i < document.UpdateForm.ptmis068.length; i++) {
  if (document.UpdateForm.ptmis068.options[i].value==expward) {
     document.UpdateForm.ptmis068.selectedIndex=i } };
//
for (var i=0;i<document.UpdateForm.ptmis011.length;i++){
if (document.UpdateForm.ptmis011.options[i].value.substr(0,3)=="G  "){
    document.UpdateForm.ptmis011.selectedIndex=i}};
//
for (var i=0;i<document.UpdateForm.ptmis060.length;i++){
if (document.UpdateForm.ptmis060.options[i].value.substr(0,3)=="13 "){
    document.UpdateForm.ptmis060.selectedIndex=i}};
//
ShowAdmissionWeight(UpdateForm);
//
}//close customLoad
</script>
<span id=transferhd style="display:none">
Transfer Source
</span>
<span id=transfersrc style="display:none">
<input type="text" size=7 maxlength=5 name=trnsfsrc class=Mandatory
      title="Transfer Source" tabindex=5
      value="%PATWEB89.04.193.0"
    onblur="validateCodeOnChange(9,UpdateForm.trnsfsrc,
            UpdateForm.trandesc,UpdateForm.ptmis009);">
     <input type=text size=27 name=trandesc notab
      class=Readonly readonly value="%PATWEB89.04.193.1">
     <img src="../images/SearchIcon.gif" class=Icon
      onclick="TransferSourceFrame(UpdateForm.trnsfsrc,
               UpdateForm.trandesc,UpdateForm.ptmis009);">
</span>
<span id=transferblank style="display:none">
   <input type=hidden name=trnsfsrc>
</span>
