<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<!--LIST RECORDS BY ACC NUMBER-->
<script type="text/javascript" src="../js/TableSort.js"> </script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link                   
//  1 - Employer Name
//  2 - Insurance Claim
//  3 - Date of Accident
//  4 - Visit Date
//  5 - Visit Number
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
  document.title="Injury / Accident Enquiry"
  t = new Table(1,0,2,"100%","center",30,30);
  t.addColumn("ACC Number","String",3,3,"left","AppointmentIcon.gif","0",150)
  t.addColumn("U/R Number","String",4,4,"left","","",150)
  t.addColumn("Description of Injury","String",10,10,"left","","",210)
  t.addColumn("Date of Accident","DateTime",5,5,"left","","",100)
  t.addColumn("Visit Type","String",6,6,"left","","",75)
  t.addColumn("Visit Date","DateTime",7,7,"left","","",75)
  t.addColumn("Visit Number","String",8,8,"left","","",100)
  AddTableRows()
  TableOutput(0,2);    // Order Column,Asc Dsc
  break;
  }
}
}

</script>
<script type="text/javascript">
function linkPatient(Urnumber,VisitNo,VisitType,SecOpt,Casekeys) {
  document.PatientLinks.action="patweb89.pbl"
  document.PatientLinks.reportno.value="1"
  document.PatientLinks.template.value="023"
  document.PatientLinks.admissno.value=VisitNo
  document.PatientLinks.urnumber.value=Urnumber
  document.PatientLinks.submit();
}

function linkInsurance(Insuranc,Viewopts) {
LinkUrl="patweb89.pbl?reportno=1&template=23" +
        "&insuranc=" + Insuranc.replace(/ /g,"+") +
        "&viewopts=" + Viewopts

Left=(document.body.clientWidth-430)/2
DFrameLink(LinkUrl,120,Left,430,300)
}
</script>
%START.OF.PAGE
</head>
<body onload=PageLoad(event);InitTable(0)>

<div id=HeadingSection></div>
<div id=TableLocation></div>
<script type="text/javascript">

function AddTableRows() {
%PATWEB89.10.001
}

</script>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB89.01.003">
<input type=hidden name=admissno value="%PATWEB89.01.081">
<input type=hidden name=MenuType value="%PATWEB89.01.088">
<input type=hidden name=insuranc value="">
<input type=hidden name=viewopts value="">
<input type=hidden name=casekeys value="                        ">
</form>
