<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="nz">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script  type="text/javascript">
function UpdInfControl() {
  var ans=validateMandatory(UpdateForm);
  if (ans==false) { return; }

  if (document.UpdateForm.gpletter.checked == true)
    document.UpdateForm.pmift014.value = 1;
  else
    document.UpdateForm.pmift014.value = 0;

  var Nfrm=document.NoteForm;
  var Ufrm=document.UpdateForm;

  // Set Main Points
  var inftype=Ufrm.pmift006.selectedIndex;  // Infection Type
  var time=Ufrm.pmift009.value.substr(0,5);
  var time1=Ufrm.pmift012.value.substr(0,5);
  var infloc=Ufrm.pmift007.selectedIndex;  // Infection Location
  var isolev=Ufrm.pmift010.selectedIndex;  // Level of Isolation 
  var depend=Ufrm.pmift013.selectedIndex;  // Patient Dependency
  var cntact=Ufrm.pmift016.selectedIndex;  // Govt Contact
  var notified;
  if (Ufrm.gpletter.checked==true) {
    notified="Yes";
  } else {
    notified="No";
  }

  Nfrm.clnot006.value=Ufrm.pmift006.options[inftype].text + ", Identf'd - " +
		     Ufrm.pmift008.value + " @ " + time; 
                     
  Nfrm.clnot007.value="Iso - " + Ufrm.pmift011.value + " @ " + time1 +
                      ", Loc - " + Ufrm.pmift007.options[infloc].text +
                      ", Iso Lev - " + Ufrm.pmift010.options[isolev].text; 

  Nfrm.clnot008.value="Pat Dpnd - " + Ufrm.pmift013.options[depend].text +
                      ", GP Notif'd - " + notified + ", Gvt Cntact - " + 
                      Ufrm.pmift016.options[cntact].text; 

  if (!isWhitespace(Ufrm.pmift015.value)) {
    Nfrm.clnot009.value="Gvt Agency Notif'd - " + Ufrm.pmift015.value; 
  }
                      
  Nfrm.notetext.value=Ufrm.vicmt003.value;  // Set Text area for Clinical Note

//  alert(Nfrm.clnot006.value);
//  alert(Nfrm.clnot007.value);
//  alert(Nfrm.clnot008.value);
//  alert(Nfrm.clnot009.value);
//  alert(Nfrm.notetext.value);

  setTimeout('SubmitHiddenNew(NoteForm)',200);
  SubmitHiddenNew(UpdateForm);
}
</script>

</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Infection Control
</span>
<div id=PageBodySection>

<form name=NoteForm method=post action=cliweb06.pbl style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="1">
<input type=hidden name=urnumber value="%PATWEB92.13.003">
<input type=hidden name=admissno value="%PATWEB92.13.081">
<input type=hidden name=formactn value="A0">
<input type=hidden name=clnot001 value="007">
<input type=hidden name=clnot006 value="">
<input type=hidden name=clnot007 value="">
<input type=hidden name=clnot008 value="">
<input type=hidden name=clnot009 value="">
<input type=hidden name=notetext value="">
</form>

<form name=UpdateForm action="patweb92.pbl" method=post style="margin:0">
<input type=hidden name=reportno value=13>
<input type=hidden name=template value=001>
<input type=hidden name=nextpage value="0">
<input type=hidden name=updttype value="U" >
<input type=hidden name=urnumber value="%PATWEB92.13.003">
<input type=hidden name=admissno value="%PATWEB92.13.081">
<input type=hidden name=pmift014 value="%PATWEB92.13.114">

<table align=center cellspacing=0 cellpadding=2 border=0 width=95%>
<tr><td class=DataLabel>Current Location</td>
    <td class=DataField>%PATWEB92.13.104</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Type of Infection</td>
    <td class=DataField>
      <select name=pmift006 title="Type of Infection" class="Mandatory">
      <option value="   "></option>
       %PATWEB92.13.106.2
      </select>
    </td>
    <td class=DataLabel>Location of Infection</td>
    <td class=DataField>
      <select name=pmift007 title="Location of Infection">
      <option value="   "></option>
       %PATWEB92.13.107.2
      </select>
    </td>
</tr>

<tr><td class=DataLabel>Date Infection Identified</td>
    <td class=DataLabel>
      <input type=text name=pmift008 size=12 title="Date Inf Identified"
       class="Mandatory"
       value="%PATWEB92.13.108" onblur="checkDate(this,'Date Inf Identified');">
      <img src=../images/DateLookup.gif class="Icon"
       onclick="DateLookupFrame(UpdateForm.pmift008);">
      Time
      <input type=text name=pmift009 size=12 title="Time Inf Identified"
       value="%PATWEB92.13.109" class="Mandatory">
      <img src=../images/DateTimeStamp.gif  alt="Time Inf Identified"
       class="Icon" 
       onclick="SetCurrentDateTime(UpdateForm.pmift008,UpdateForm.pmift009);">
      <img src=../images/TimeLookup.gif class="Icon"
       onclick="TimeLookupFrame(UpdateForm.pmift009);">
    </td>
    <td class=DataLabel>Level of Isolation</td>
    <td class=DataLabel>
      <select name=pmift010 title="Level of Isolation" class="Mandatory">
      <option value="  "></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      </select>
    </td>
</tr>

<tr><td class=DataLabel>Isolation Date</td>
    <td class=DataLabel>
      <input type=text name=pmift011 size=12 title="Isolation Date"
       value="%PATWEB92.13.111" onblur="checkDate(this,'Isolation Date');">
      <img src=../images/DateLookup.gif class="Icon"
       onclick="DateLookupFrame(UpdateForm.pmift011);">
      Time
      <input type=text name=pmift012 size=12
       value="%PATWEB92.13.112">
      <img src=../images/DateTimeStamp.gif  alt="Isolation Time"
       class="Icon" 
       onclick="SetCurrentDateTime(UpdateForm.pmift011,UpdateForm.pmift012);">
      <img src=../images/TimeLookup.gif class="Icon"
       onclick="TimeLookupFrame(UpdateForm.pmift012);">
    </td>
    <td class=DataLabel>Patient Dependency</td>
    <td class=DataLabel>
      <select name=pmift013 title="Patient Dependency" class="Mandatory">
      <option value="   "></option>
       %PATWEB92.13.113.2
      </select>
    </td>
</tr>

<tr><td class=DataLabel>Letter Sent to GP</td>
    <td class=DataField>
      <input type=checkbox name=gpletter title="Letter Sent to GP"
       value="1">
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Govt Agency Notified</td>
    <td class=DataField colspan=3>
      <input type=text name=pmift015 size=80 maxlength=70 
       title="Govt Agency Notified" value="%PATWEB92.13.115">
    </td>
</tr>

<tr><td class=DataLabel>Govt Agency Contacted Via</td>
    <td class=DataField>
      <select name=pmift016 title="Govt Agency Contacted Via">
      <option value="   "></option>
       %PATWEB92.13.116.2
      </select>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Comments</td>
    <td class=DataField colspan=3>
      <textarea name=vicmt003 wrap=hard cols=70 rows=3>%PATWEB92.13.201.003
      </textarea>
    </td>
</tr>

<tr><td colspan=4 align=center>
      <input type=button Value="OK" class="button" id="btnOK"
       onclick="tempDisable(this);UpdInfControl();">
      <input type=button Value="Cancel" class="button" onclick="DFrameExit();">
    </td>
</tr>
</table>
</form>
</div>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=13>
<input type=hidden name=template value=001>
<input type=hidden name=urnumber value="%PATWEB92.13.003">
<input type=hidden name=admissno value="%PATWEB92.13.081">

<script  type="text/javascript">
// Set default values for 'Date Infection Identified' and 'Isolation Date'
// fields
if (isWhitespace(document.UpdateForm.pmift008.value))
  document.UpdateForm.pmift008.value="%STANDARD.01.015"; 
if (isWhitespace(document.UpdateForm.pmift009.value))
  document.UpdateForm.pmift009.value="%STANDARD.01.016"; 
if (isWhitespace(document.UpdateForm.pmift011.value))
  document.UpdateForm.pmift011.value="%STANDARD.01.015"; 
if (isWhitespace(document.UpdateForm.pmift012.value))
  document.UpdateForm.pmift012.value="%STANDARD.01.016"; 

// Set 'Letter Sent to GP' checkbox
if ("%PATWEB92.13.114" == 1)
  document.UpdateForm.gpletter.checked = true;

// Set 'Level of Isolation' value
var islevel = "%PATWEB92.13.110"
if (isWhitespace(islevel))
  islevel=0;
document.UpdateForm.pmift010.selectedIndex = trim(islevel);
</script>
