<meta name="TemplateVersion" content="V11.00.00">
<meta name="TemplateHome" content="sjog-vic">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientClinicId.js"></script>
<script type="text/javascript">
function SubmitSearch() {
  if(isWhitespace(SelectPeriod.srchclty.value) && 
     isWhitespace(SelectPeriod.srchclid.value)) {
     alert("Clinic Type or Clinic ID are mandatory for search.");
     return;
  }
  SelectPeriod.submit();
}
function SetLists() {
 SetClinicType(SelectPeriod.srchclty,SelectPeriod.defctype.value,SelectPeriod.usersite.value);
 if(isWhitespace(SelectPeriod.srchclid.value)) {
   if(!isWhitespace(SelectPeriod.deftclid.value)) {
     SelectPeriod.srchclid.value=SelectPeriod.deftclid.value;
     validateCode(25,SelectPeriod.srchclid,SelectPeriod.clindesc);
   }
 }
}

function onClinicID(){
  validId=""+validateClinicEffectiveDate(SelectPeriod.srchclid,SelectPeriod.lastdate,SelectPeriod.clindesc);
  
  if(validId == "false")
       document.location.reload();
}

function ShowSession(linkurl) {
  clinicSearchCookie();
  location.href=linkurl
}
function clinicSearchCookie() {
  document.cookie = "clinicSearchPath="+escape(location.href)+";"
}



function resetDropDown()
{
  var date = document.getElementById("lastdate");

  validateClinicEffectiveDate(SelectPeriod.srchclid,SelectPeriod.lastdate,SelectPeriod.clindesc);

  date.onChange = function ()
  {
    SelectPeriod.submit();
  }
}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);resetDropDown();setTimeout('SetLists()',100);">
<form name=SelectPeriod action=outweb02.pbl method=get>
<input type=hidden name=reportno value=01>
<input type=hidden name=template value=011>
<input type=hidden name=viewtype value="%OUTWEB02.01.011">
<input type=hidden name=usersite value="%STANDARD.01.023">
<input type=hidden name=defctype value="%OUTWEB02.01.025">
<input type=hidden name=deftclid value="%OUTWEB02.01.036">
<input type=hidden name=wbseclid value="%STANDARD.01.026">
<input type=hidden name=norecord value="10">

<table width="100%" bgcolor=#cccccc align=center cellpadding=0 cellspacing=0 border=0>
<tr><td class=DataLabel>Clinic Type</td>
    <td class=DataItem>
    <select name=srchclty >
    <option value=""></option>
    </select>
    </td>
    <td class=DataItem>
    <input type=button value="<<" class=SmallButton
    onClick='location.href="%OUTWEB02.01.002"'>
    %OUTWEB02.01.007
    <input type=button value=">>" class=SmallButton
     onClick='location.href="%OUTWEB02.01.001"'>
       <a href='javascript:SelectDateFrame();'>
       <img src="../images/DateLookup.gif" border=0
       alt="Select Date" align=absmiddle></a>
  </td>
  </tr>

<tr><td class=DataLabel>Clinic ID</td>
    <td class=DataItem>
  <input type=text maxlength=6 name=srchclid size=6 title="Clinic ID"
          value="%OUTWEB02.01.022.1" onblur=UpCase(this);onClinicID();>
    <input type=text maxlength=25 name=clindesc size=25 
          value="%OUTWEB02.01.022.0" class=Readonly readonly>
    <img src="../images/SearchIcon.gif"
    onClick="ClinicSessionSearchFrame(srchclid,clindesc,srchclty,onClinicID);">
    <img src="../images/erase.gif" 
     onClick="clrFields(srchclid,clindesc);">
    </td>
    <td>Clinic
    <input type=radio name=srchempt title="Clinic" checked value=0>
     &nbsp;Next Available&nbsp;<input type=radio name=srchempt 
          title="Next Available" value=1></td>
    </tr>

<tr><td class=DataLabel>Visit Type</td>
    <td class=DataItem>
    <select name=srchvtyp>
    <option value=""></option>
    %OUTWEB02.01.34
    </select>
    </td>
    <td>
    <script type="text/javascript">
      if(%STANDARD.01.044.032.144.001){
         document.write("&nbsp;");
      }
      else{
         document.write("<input type=button class='button' value='Search' onclick='SubmitSearch();'>");
      }
    </script>
    </td>
    </tr>
    <script type="text/javascript">
      if(%STANDARD.01.044.032.144.001){
         document.write("<tr style='visiiblity:visible'>");
      }
      else{
         document.write("<tr style='visibility:hidden'>");
      }
    </script>
    <td class=DataLabel>Location</td>
    <td>
      <select name=srchltyp onchange="SubmitSearch();">
        <option value="">%STANDARD.01.007.CT</option>
      </select>
    </td>
    <td>
      <input type=button class="button" value="Search" onclick="SubmitSearch();">
    </td>
  </tr>
</table>
</form>
<table cellspacing=0 border=1 width=100%>
<tr><td class=HeadingCell>Start</td>
    <td class=HeadingCell>Clinic Type</td>
    <td class=HeadingCell>Clinic</td>
    <td class=HeadingCell>Location</td>
    <td class=HeadingCell width=5%>Empty</td>
    <td class=HeadingCell width=5%>New</td>
    <td class=HeadingCell width=5%>Review</td>
    <td class=HeadingCell width=5%>Special</td></tr>
%OUTWEB02.01.041.outweb02.02.004
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous" class="button"
   onClick='location.href="%OUTWEB02.01.043.011"'>
  <input type=button value="Next >>" class="button"
   onclick='location.href="%OUTWEB02.01.042.011"'>
</td></tr>
</table>

<script type="text/javascript">
var RadioIndex="%OUTWEB02.01.035"
if(RadioIndex==1) {
 document.SelectPeriod.srchempt[RadioIndex].checked=1
}
//------------------------------------------------------------
// Function : Clinic Session Search Frame
//------------------------------------------------------------
function ClinicSessionSearchFrame(ReturnCode,ReturnName,ReturnType) {
  DFrameStart()
  window.ReturnCode=ReturnCode ;
  window.ReturnName=ReturnName ;

  window.ReturnFunction="" ;
  for (var i=3; i < ClinicSessionSearchFrame.arguments.length; i++) {
    if (typeof(ClinicSessionSearchFrame.arguments[i]) == 'function') {
      window.ReturnFunction=ClinicSessionSearchFrame.arguments[i]
    }
  }
  document.getElementById('PopUpFrame').src="../cgi-bin/outweb05.pbl?reportno=2&template=5"+
                              "&clnctype="+ReturnType.value.replace(/ /g,"+");
  SearchFrameShow()
}
  if(%STANDARD.01.044.032.144.001){
     locationCode = "%OUTWEB02.01.026";
     ds = document.SelectPeriod;

     for(i=0; i<ds.srchltyp.length; i++) {
         if(ds.srchltyp.options[i].value.substr(0,3)==locationCode){
            ds.srchltyp.selectedIndex = i;
         }
     }
  }

</script>

