/*
.selectMenu, .WeekSelect, .DaySelect, .MonthSelect, .NavButton, .SpanButton {
  color:white !important;
  background-color:#003E43 !important;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-border-image: url(iPhoneNavButtonG.png) 1 5 1 5  stretch stretch;
  text-align: center;
  border-width: 0px 2px 0px 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
}
.selectMenuAdd {
  color:black !important;
}
.selectMenuSettings {
  color:black !important;
}
*/
