/*-----------------------------------------------------------
   cssVersion : V12.00.00
-----------------------------------------------------------*/
body {
  background:url)'');
  background-color:white;
}
TABLE {      
 padding: 0px;      
 margin: 10px;
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
 border:0px !important;
 width:98%;
}
.SelectTable {
}
TH {
text-align:left;
}
TD {
border:0px;
margin:2px;
padding:5px;
}
TR {
 border-bottom:1px solid rgb(217,217,217);
}
TR:last-child {
 border-bottom:0;
}
A {
 text-decoration:none;
}
#GatheringData {
 display:none;
}
.PatientName {
-webkit-appearance:none;
border:none;
color:black;
}
input[type=button], input[type=submit] {
 color: #fff;
 background:-webkit-gradient(linear, 0% 14%, 0% 85%, from(#007474), to(#005152), color-stop(.5,#00696A),color-stop(.5,#006364));
 border-color: #183538;
 width:130px;
 height:28px;
}
input[type=image] {
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 padding: 0px;      
 padding-top: 10px;      
 padding-bottom: 10px;      
 margin: 10px;
 margin-top: 0px;
 border: 1px solid rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
 border:0px !important;
}
img {
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 padding: 0px;      
 padding-top: 10px;      
 padding-bottom: 10px;      
 margin: 10px;
 margin-top: 0px;
 border: 1px solid rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
 border:0px !important;
}
.MenuLogo {
 background-color: transparent; 
}
