/*-----------------------------------------------------------
   cssVersion : V12.00.00
-----------------------------------------------------------*/
A { 
  text-decoration:none; 
}
H1 {
 color:white;
}
H2 {
 color:white;
}
BODY { 
 background-color:#333333 !important;
 background:url('');;
 margin:0;
 padding:0; 
 }
.imgSeriesHolderClass {
 background-color:red;
 border:1px solid blue;
 width:100px;
 display:none;
 position:absolute;
}
.CTStack {
 position:absolute;
 top:140px;
 height:512px;
 border:none;
}
.ShowImage {
 display:none;
 position:absolute;
 top:0px;
 left:0px;
}
.ImageCount { 
 color:white;
 display:inline-block;
 width:20px; 
}
.Arrow { 
 width:17px;
 margin-left:5px;
 margin-right:5px; 
}
table.header th {
 font-size:14px;
 padding:5px;
 padding-top:20px;
 text-align: left;
 color:#ffffff;
 background-color:#333333;
}
.ShowButton  {
 width: 95%;
 border: 1px solid #282726;
 margin: 0;
 -webkit-background-origin: padding-box;
 -webkit-background-clip: border-box;
 -webkit-border-radius: 8px;
 display: block;
 padding:0px 6px;
 font-weight: normal;
 text-decoration: none;
 text-align: center;
 float: right;		
 width: 120px;		
 height: 25px;		
 font-size: 14px;
 color: #fff;
 background:-webkit-gradient(linear, 0% 14%, 0% 85%, from(#007474), to(#005152), color-stop(.5,#00696A),color-stop(.5,#006364));
 border-color: #183538;
}
table.header td {
 font-size:14px;
 padding:5px;
 text-align: left;
 color:#eeeeee;
 background-color:#333333;
}
table.controls td {
 color:#ffffff;
}
.subMenu {
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.3, #17959F), to(#014D51));
 -webkit-box-sizing: border-box;
 top:0;left:0;
 height:40px;
 width:100%;
 border-bottom: 1px solid #2E3744;
 padding:0px;
 position:relative;
}
.MenuLogo {
 float:right;
 vertical-align:middle;
 margin-right:8px;
 margin-top:5px;
 padding:0px;
}
.img-block {
  display:inline-block;
}
.controls {
  display:none;
}
