/*-----------------------------------------------------------
   cssVersion : V12.00.00
-----------------------------------------------------------*/
body {
}
.chartMenu, .filterMenu {
  color:white;
  background-color:#0571a6;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
  padding:0;
  padding-left:5px;
  border-width: 1px;
  border:1px inset #15878f;
  height:30px;
  width:120px;
  overflow: hidden;
  background: url(Close.png) no-repeat right ##0571a6;
}
input[type='checkbox'] {
 vertical-align:middle;
 margin:0px;
 margin-right:5px;
 border:0px;
 padding:0px;
 height:20px;
 width:20px;
 background:url("");
}
input[type='checkbox']:checked {
 vertical-align:middle;
 margin:0px;
 margin-right:5px;
 border:0px;
 padding:0px;
 height:20px;
 width:20px;
 background:url("");
}
.searchBoxDiv {
  padding-left:14px;
}
.search {
  background-color:white;
  padding-left:14px;
  padding-right:0px;
}
.iconOutline {
 background: url("AlertSprite.png") -80px -140px no-repeat;
 height:20px;
 width:20px;
}
.selectMenuSettings {
 color:transparent !important;
 background: url();
 appearance:none
 height:20px;
 width:20px;
 border:0px;
}
.sec {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#5a5b5b',GradientType=0 );
}
li.ListMore {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#c8c8c8',GradientType=0 );
}
.addFavorite {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065ee', endColorstr='#0024a2',GradientType=0 );
}
input[type=submit]:hover, input[type=button]:hover, input[type=button].cancel:hover {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaee5', endColorstr='#081f6f',GradientType=0 );
}
input[type=button].cancel {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5b', endColorstr='#1e1b16',GradientType=0 );
}
.black  {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}
.blue {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065ee', endColorstr='#0024a2',GradientType=0 );
}
.lightblue {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c8d8', endColorstr='#00a1b1',GradientType=0 );
}
.green {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007474', endColorstr='#006364',GradientType=0 );
}
.oldgreen {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b200', endColorstr='#006000',GradientType=0 );
}
.darkgreen {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009e00', endColorstr='#002d00',GradientType=0 );
}
.lightgreen {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009681', endColorstr='#007a65',GradientType=0 );
}
.darkred {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0000', endColorstr='#350000',GradientType=0 );
}
.red {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90000', endColorstr='#710000',GradientType=0 );
}
input.LoginName, input.LoginPass {
}
.ActionButton {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007474', endColorstr='#006364',GradientType=0 );
}
#lookup-cancel {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17959f', endColorstr='#014d51',GradientType=0 );
}
.boxHeader {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858a93', endColorstr='#0e162a',GradientType=0 );
}
.selectFavorite {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e162a', endColorstr='#000000',GradientType=0 );
}
.selectAppend {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e162a', endColorstr='#000000',GradientType=0 );
}
.SpanButtonRed {
 font-size:17px;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0000', endColorstr='#990000',GradientType=0 );
}
.sendSMS {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.actionMenu {
 border-radius:0px !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.ntFilter {
 border-radius:0px !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.ntSubmit {
 border-radius:0px !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.callButton {
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.listSort {
 border-radius:0px !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73aec9', endColorstr='#0571a6',GradientType=0 );
}
.patientAction, .chartMenu, .filterMenu , .ntSubmit, .ntFilter, .listFilter , .listSort {
 padding-right:0px;
 background-color:#0571a6;
 height:30px;
 line-height:30px;
 padding:0px;
 padding-left:5px;
}
span.stdButton {
 height:14px;
 line-height:14px;
}
select.stdButton {
 height:30px;
 line-height:30px;
 padding:0px;
 padding-left:5px;
 background-color:#0571a6;
}
.selectMenu, .DaySelect, .MonthSelect, .WeekSelect, .listFilter {
 color:white;
 background-color:#014d51;
 height:30px;
 line-height:30px;
 padding:0px;
 padding-left:5px;
}
