/*------------------------------------------------------------------------------
   cssVersion : V12.00.00

     V11.05.01  19/12/2024  Don Nguyen      TSK 0955342
                Center align the 'loading.gif' within the patient photo box
------------------------------------------------------------------------------*/
.ShowLoadingPage {
 background:url("loading.gif") no-repeat; 
 width:50px;
 height:50px;
 margin-left:50px;
 margin-top:50px;
 position:fixed;
}
.rTitle {
 line-height:31px;
 padding-left:10px;
}
.sectionTitle {
 padding-top:5px !important;
 background-color:white;
}
.sectionList {
 margin-left:0px !important;
 background-color:white;
}
.rTitle {
 padding-top:0px;
 padding-left:0px;
 padding-right:0px;
}
.subMenu {
font: bold 20px/30px Helvetica;
position:relative;
color:white;
padding-left:0px;
text-align:center;
}
.PageLayout {
 padding: 5px;
 margin: 5px;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
 border-radius: 8px;      /* Round each corner of the created rectangle */
 min-height:1024px;
 clear:both;
}
.MenuDiv {
 float:right;
 width:220px;
 margin-left:-220px;
 border-left:1px solid silver;
 min-height:1024px;
}
.PatientDiv {
 min-height:1024px;
 margin-right:225px;
 padding-top:0px;
}
.PatientHead {
 text-align:center;
 font-family:Arial;
 padding:10px;
}
.itemFilter, .ListRes {
  display:inline-block;
  width:100%;
}
.sectionFrame {
 border-radius:8px;
 -webkit-border-radius:8px;
}
.tab1  { background:url("../images/Tab.png") -0px -0px no-repeat; }
.htab1 { background:url("../images/Tab.png") -0px -41px no-repeat; }
.tab2  { background:url("../images/Tab.png") -0px -82px no-repeat; }
.htab2 { background:url("../images/Tab.png") -0px -123px no-repeat; }
.tab3  { background:url("../images/Tab.png") -0px -164px no-repeat; }
.htab3 { background:url("../images/Tab.png") -0px -205px no-repeat; }
.tab4  { background:url("../images/Tab.png") -0px -246px no-repeat; }
.htab4 { background:url("../images/Tab.png") -0px -287px no-repeat; }
.tab5  { background:url("../images/Tab.png") -0px -328px no-repeat; }
.htab5 { background:url("../images/Tab.png") -0px -369px no-repeat; }
.tab6  { background:url("../images/Tab.png") -0px -410px no-repeat; }
.htab6 { background:url("../images/Tab.png") -0px -451px no-repeat; }
.tab7  { background:url("../images/Tab.png") -0px -490px no-repeat; }
.htab7 { background:url("../images/Tab.png") -0px -533px no-repeat; }
.tab8  { background:url("../images/Tab.png") -0px -574px no-repeat; }
.htab8 { background:url("../images/Tab.png") -0px -615px no-repeat; }
.tab9  { background:url("../images/Tab.png") -0px -656px no-repeat; }
.htab9 { background:url("../images/Tab.png") -0px -697px no-repeat; }
.tab10 { background:url("../images/Tab.png") -0px -738px no-repeat; }
.htab10 { background:url("../images/Tab.png") -0px -779px no-repeat; }
.tab11  { background:url("../images/Tab.png") -0px -820px no-repeat; }
.htab11 { background:url("../images/Tab.png") -0px -861px no-repeat; }
.tab12  { background:url("../images/Tab.png") -0px -902px no-repeat; }
.htab12 { background:url("../images/Tab.png") -0px -943px no-repeat; }
.tab13  { background:url("../images/Tab.png") -0px -984px no-repeat; }
.htab13 { background:url("../images/Tab.png") -0px -1025px no-repeat; }
.tab14  { background:url("../images/Tab.png") -0px -1066px no-repeat; }
.htab14 { background:url("../images/Tab.png") -0px -1107px no-repeat; }
