/*-----------------------------------------------------------
   cssVersion : V12.00.00
-----------------------------------------------------------*/
h4 {
 margin:0;
 margin-top:4px;
}
.resultHed {
 border-top:1px solid #eee;
 padding:3px;
 font-weight:normal;
 font-size:12px;
 width:95%;
}
.resultTxt {
 padding-left:3px;
 font-size:12px;
}
.resultPad {
 width:20px;
}
.resultRan {
 min-width:100px;
}
.resultUnt {
 min-width:60px;
}
.resultAbn {
 min-width:100px;
 font-weight:bold;
}
.resultVal {
 text-align:right;
 padding-right:5px;
 width:60px;
}
.resultNam {
 padding-left:3px;
}
.resultCom {
 margin:0;
 font-size:12px;
 line-height:14px;
 font-family: Helvetica, sans-serif;
}
.resultTab {
 font-size:12px;
 line-height:14px;
 width:95%;
 margin:0;
}
.resultValHed, .resultRanHed, .resultNamHed, .resultAbnHed {
 color:silver;
 border-bottom:3px silver double;
}
.resultValHed {
  padding-left:50px;
}
.summaryList {
 padding: 0px;
 margin: 0px;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
}
.complaintText {
 padding-left:4px;
 text-align:left;
 font-weight: normal;        /* Regular font is used for secondary text */
 color: rgb(50,79,133);     /* Override the font color */
 width:90%;
 display:inline-block;
}
.noteText {
 width:90%;
 white-space:pre-line;
 display:inline-block;
 line-height:14px;
 font-size:12px;
 color: rgb(50,79,133);     /* Override the font color */
 font-family: Helvetica, sans-serif;
}
.presentText {
 line-height:14px;
 font-size:12px;
 display:block;
}

