/*-----------------------------------------------------------
   cssVersion : V12.00.00
-----------------------------------------------------------*/
.defaultSkin table.mceLayout { 
 border:0;
 margin:0px auto;
 width:600px !important;
}
.defaultSkin .mceToolbar {
  height:40px;
  line-height:40px;
}
.defaultSkin .mceButton {
  margin-right:5px !important;
}
body, td, pre {
 color:#000; 
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 font-size:14px;
 margin:8px;
}
