<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="qld">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/mrtweb0208.js"></script>
<script type="text/javascript">
function init() {
  setTimeout('Laterality()',200);  // Sets a wait period

  if (UpdateForm.ptcnhdps.value==4) {
    document.all.showschkbox.innerHTML=document.all.stdChkboxs.innerHTML
    document.all.showsfields.innerHTML=document.all.qldFields.innerHTML
    document.all.showbuttons.innerHTML=document.all.qldButtons.innerHTML
    OthCheckboxs();
  }
  else {
    if (UpdateForm.ptcnhdps.value==2) {
      document.getElementById('histgrad').innerHTML="Degree of Spread"
      document.getElementById('othdiags').innerHTML="Laboratory"
      document.all.showschkbox.innerHTML=document.all.nswChkboxs.innerHTML
      document.all.showsfields.innerHTML=document.all.nswFields.innerHTML
      document.all.showbuttons.innerHTML=document.all.stdButtons.innerHTML
      NswCheckboxs();
    }
    else {
        document.all.showschkbox.innerHTML=document.all.stdChkboxs.innerHTML
        document.all.showsfields.innerHTML=document.all.vicFields.innerHTML
        document.all.showbuttons.innerHTML=document.all.stdButtons.innerHTML
        OthCheckboxs();
        VicCheckboxs();
    }
  }
}
function showRsnClinclDignss(type) {
    linkurl="mrtweb02.pbl?reportno=08&template=008" +
            "&urnumber=" + UpdateForm.urnumber.value.replace(/ /g,"+") + 
            "&admissno=" + UpdateForm.admissno.value.replace(/ /g,"+") + 
            "&pmcdg002=" + UpdateForm.ptcrd002.value.replace(/ /g,"+") + 
            "&pmcdg003=" + UpdateForm.ptcrd008.value.replace(/ /g,"+") + 
            "&pmcdg004=" + type + 
            "&viewonly=1";  
    Left=(document.body.clientWidth-800)/2
    DFrameLink(linkurl,50,Left,800,300);
}
</script>
%START.OF.PAGE
<body onLoad="PageLoad(event);">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%MRTWEB02.08.003";
PatientVIS="%MRTWEB02.08.081";
PatientNAM="%MRTWEB02.08.002";
PatientSTA="%MRTWEB02.08.086.078";
PatientALT="%MRTWEB02.08.084";
PatientSEX="%MRTWEB02.08.019";
PatientDOB="%MRTWEB02.08.020";
PatientAGE="%MRTWEB02.08.021";
PatientLOC="%MRTWEB02.08.083";
PatientPRI="%MRTWEB02.08.086.066.1";
PatientUNT="%MRTWEB02.08.066.0";
DoctorCOD="%MRTWEB02.08.082.003";
DoctorNAM="%MRTWEB02.08.082.002";
PatientAID="%MRTWEB02.08.086.090";
PatientIND="%MRTWEB02.08.086.091";
PatientCUR="%MRTWEB02.08.086.092";
PatientCLC="%MRTWEB02.08.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%MRTWEB02.08.086.094";
PatientCDM="%MRTWEB02.08.086.095";
PatientVDH="%MRTWEB02.08.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td class=HeadingCell colspan=2 align=center>
     Cancer Registration Inquiry - Registration No:%MRTWEB02.08.406 </td></tr>
</table>
    
  <form name=UpdateForm method=post action=mrtweb02.pbl>
  <input type=hidden name=reportno value="8">
  <input type=hidden name=template value="003">
  <input type=hidden name=updttype value="">
  <input type=hidden name=urnumber value="%MRTWEB02.08.003">
  <input type=hidden name=admissno value="%MRTWEB02.08.081">
  <input type=hidden name=ptcrd002 value="%MRTWEB02.08.406">
  <input type=hidden name=ptcnhdps value="%MRTWEB02.08.322">

<table>
<tr><td>
<table cellspacing=0 cellpadding=1 border=0 align=center width=98%>
  <tr><td class=DataLabel width=12%>Date of 1st Admission</td>
  <td width=15%>
      <input type=text name=ptcrd003 size=10 title="Date of 1st Admission"
       value="%MRTWEB02.08.407" readonly class=Readonly tabindex=-1>
  </td>

  <td class=DataLabel width=12%>Date of 1st Diagnosis</td>
  <td width=15%>
      <input type=text name=ptcrd004 size=10 title="Date of 1st Diagnosis"
       value="%MRTWEB02.08.408" readonly class=Readonly tabindex=-1>
  </td>

      <td width=8%><div id=LateralLabel></div></td>
      <td width=20%><div id=LateralField></div></td></tr>

  <tr><td class=DataLabel>Primary Site</td>
  <td colspan=5><input type=text name=ptcrd008 size=10 title='Primary Site'
       value="%MRTWEB02.08.412.1" readonly class=Readonly tabindex=-1>
      <input type=text name=dummy008 size=90 value="%MRTWEB02.08.412.0" 
       readonly class=Readonly tabindex=-1>
  </td></tr>

  <tr><td class=DataLabel>Histological Type</td>
  <td colspan=5><input type=text name=ptcrd009 size=10 title='Histological Type'
       value="%MRTWEB02.08.413.1" readonly class=Readonly tabindex=-1>
      <input type=text name=dummy009 size=90 value="%MRTWEB02.08.413.0"
       readonly class=Readonly tabindex=-1></td>
 
  <td class=DataLabel width=10% id=histgrad>Histological Grade</td>
  <td><input type=text name=ptcrd050 maxlength=1 readonly class=Readonly
       size=3 title="Histological Grade" value="%MRTWEB02.08.474"></td>
</tr>

  <tr><td class=DataLabel>Metastatic Site 1</td>
  <td colspan=5><input type=text name=ptcrd010 size=10 title="Metastatic Site 1"
       value="%MRTWEB02.08.414.1.1" readonly class=Readonly tabindex=-1>
      <input type=text name=dummy010 size=90 value="%MRTWEB02.08.414.1.0"
       readonly class=Readonly tabindex=-1>
  </td></tr>

  <tr><td class=DataLabel>Metastatic Site 2</td>
  <td colspan=5><input type=text name=ptcrd011 size=10 title="Metastatic Site 2"
       value="%MRTWEB02.08.414.2.1" readonly class=Readonly tabindex=-1>
      <input type=text name=dummy011 size=90 value="%MRTWEB02.08.414.2.0"
       readonly class=Readonly tabindex=-1>
  </td></tr>

  <tr><td class=DataLabel>Metastatic Site 3</td>
  <td colspan=5><input type=text name=ptcrd012 size=10 title="Metastatic Site 3"
       value="%MRTWEB02.08.414.3.1" readonly class=Readonly tabindex=-1>
      <input type=text name=dummy012 size=90 value="%MRTWEB02.08.414.3.0"
       readonly class=Readonly tabindex=-1>
  </td></tr>

<tr><td align=center colspan=8>
    <span id=showschkbox></span>
    </td></tr>
</table>

<tr><td colspan=8>
<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
  <tr><td class=DataLabel>Cancer Diagnosed Prior to Admission &nbsp; &nbsp;
       No<input type=radio name=ptcrd028 value="0" disabled>
       Yes<input type=radio name=ptcrd028 value="1" disabled>
       Unknown<input type=radio name=ptcrd028 value="2" disabled></td>
   
  <td class=DataLabel>Cancer Diagnosed on Autopsy Only
      <input type=checkbox name=ptcrd040 value="1" 
       title="Cancer Diagnosed on Autopsy Only" disabled></td>

  <td class=DataLabel id=othdiags>Other Investigations</td>
  <td><input type=text name=ptcrd025 size=50 maxlength=50
       title="Other Investigations" value="%MRTWEB02.08.429" readonly 
       class=Readonly tabindex=-1></td>
  </tr>  
</table>

<tr><td align=center colspan=8>
    <span id=showsfields></span>
    </td></tr>

<tr><td align=center colspan=6>
    <span id=showbuttons></span>
    </td></tr>
</table>
</form>
</div>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%MRTWEB02.08.003">
<input type=hidden name=admissno value="%MRTWEB02.08.081">
<input type=hidden name=MenuType value="%MRTWEB02.08.088">
<input type=hidden name=epscd001 value="%MRTWEB02.08.313">
</form>

<span id=stdButtons style="display:none">
<table width=100%>
<tr><td align=center>
    <input type=button class="button" value="Cancel" onclick="RegListDis();">
</td></tr>
</table>
</span>

<span id=qldButtons style="display:none">
<table width=100%>
<tr><td align=center>
    <input type=button class="button" value="Reasons" 
     onclick="showRsnClinclDignss('0');">
    <input type=button class="button" value="Cancel" onclick="RegListDis();">
</td></tr>
</table>
</span>

<span id=blanklabel style="display:none">&nbsp;</span>
<span id=blanklateral style="display:none">&nbsp;
<input type=hidden name=ptcrd013 value="%MRTWEB02.08.417.1"></span>
<span id=laterallabel style="display:none">Laterality</span>
<span id=lateralfield style="display:none">
  <select name=ptcrd013 class=SelectBig disabled>
  <option></option>
   %MRTWEB02.08.417.2        
  </select>
</span>
 
<span id=vicFields style="display:none">
<!--          - - - - Victorian "Other Facility" Details - - - -       -->
<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
  <tr><td class=DataLable>Facility Previously Diagnosed</td>
  <td colspan=4><input type=text name=ptcrd029 size=75 maxlength=75
       title="Facility Previously Diagnosed" value="%MRTWEB02.08.433"
       readonly class=Readonly tabindex=-1></td>
  </tr>
</table>

<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
<tr><td colspan=3 align=center><hr></td>
    <td colspan=1 align=center class=DataField>Other Facility Details</td>
    <td colspan=4 align=center><hr></td>
</tr>

<tr><td align=right width=15% class=DataLabel>Clinical Only
      <input type=checkbox name=ptcrd030 value="1" title="Clinical Only"
       disabled></td>

    <td align=right width=15% class=DataLabel>Biochemistry
      <input type=checkbox name=ptcrd031 value="1" title="Biochemistry"
       disabled></td>

    <td align=right width=15% class=DataLabel>Imaging
      <input type=checkbox name=ptcrd032 value="1" title="Imaging"
       disabled></td>

    <td align=right width=15% class=DataLabel>Endoscopy
      <input type=checkbox name=ptcrd033 value="1" title="Endoscopy"
       disabled></td>

    <td align=right width=15% class=DataLabel>Exploratory Surgery
      <input type=checkbox name=ptcrd034 value="1" title="Exploratory Surgery"
       disabled></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr><td align=right width=15% class=DataLabel>Cytology/Haematology
      <input type=checkbox name=ptcrd035 value="1" title="Cytology/Haematology"
       disabled></td>

  <td align=right width=15% class=DataLabel>Hist. Of Meta
      <input type=checkbox name=ptcrd036 value="1" title="Hist. of Meta"
       disabled></td>

  <td align=right width=15% class=DataLabel>Hist. Of Primary
      <input type=checkbox name=ptcrd037 value="1" title="Hist. Of Primary"
       disabled></td>

  <td align=right width=15% class=DataLabel>Other
      <input type=checkbox name=ptcrd038 value="1" title="Other" disabled></td>

  </tr>

<tr><td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  <td colspan=4 class=DataLabel>Other Investigations
      <input type=text name=ptcrd039 size=50 maxlength=50
       title="Other Investigations" value="%MRTWEB02.08.443" readonly
       class=Readonly tabindex=-1></td>
  </tr>
</table>
</span>

<span id=qldFields style="display:none">
  <input type=hidden name=ptcrd038 value="">
<!--  <input type=hidden name=ptcrd039 value="">      -->
<!--          - - - - Queensland "Domicial when diagnosed" fields      -->
<table width=100%>
<tr><td>&nbsp;</td></tr>
<tr><td colspan=2 class=DataLabel>Suburb/Locality of First Diagnosis
        <input type=text name=ptcrd105 size=45 maxlength=45
        class=Readonly readonly title="Suburb/Locality of First Diagnosis"
        value="%MRTWEB02.08.499.033"></td>
</tr>
</table>
<table border=0 align=left width=47%>
    <tr><td width=7%> &nbsp; </td>
    <td width=10% class=DataLabel>State
        <input type=text name=ptcrd106 size=7 maxlength=7
        class=Readonly readonly title="State of First Diagnosis"
        value="%MRTWEB02.08.499.034"></td>
    <td width=10% class=DataLabel>Postcode
        <input type=text name=ptcrd107 size=8 maxlength=8
        class=Readonly readonly title="Postcode of First Diagnosis"
        value="%MRTWEB02.08.499.035"></td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</span>

<span id=nswFields style="display:none">
  <input type=hidden name=ptcrd038 value="">
  <input type=hidden name=ptcrd039 value="">
<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
<tr><td>&nbsp;</td></tr>
    <tr><td class=DataLabel>State of usual Residence at Diagnosis
        <select name=ptcrd106 title="State of Residence" readonly 
        class=ReadOnly disabled>
        <option></option>
        <option value="NSW">NSW (inc Jervis Bay) </option>
        <option value="VIC">Victoria </option>
        <option value="QLD">Queensland </option>
        <option value="SA ">South Aust </option>
        <option value="WA ">WA (inc Christmas & Cocos Is</option>
        <option value="TAS">Tasmania </option>
        <option value="NT ">Northern Territory</option>
        <option value="ACT">Aust.Capital Territory</option>
        <option value="OS ">Overseas </option>
        <option value="TAS">Tasmania </option>
    </select></td>
 <tr><td>&nbsp;</td></tr>
</table>
</span>

<span id=stdChkboxs style="display:none">
<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>
  <tr><td align=right width=15% class=DataLabel>Clinical Only
      <input type=checkbox name=ptcrd015 value="1" title="Clinical Only"
       disabled></td>

  <td align=right width=15% class=DataLabel>Biochemistry
      <input type=checkbox name=ptcrd016 value="1" title="Biochemistry"
       disabled></td>

  <td align=right width=15% class=DataLabel>Imaging
      <input type=checkbox name=ptcrd017 value="1" title="Imaging"
       disabled></td>

  <td align=right width=15% class=DataLabel>Endoscopy
      <input type=checkbox name=ptcrd018 value="1" title="Endoscopy"
       disabled></td>

  <td align=right width=15% class=DataLabel>Exploratory Surgery
      <input type=checkbox name=ptcrd019 value="1" title="Exploratory Surgery"
       disabled></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

  <tr><td align=right width=15% class=DataLabel>Cytology/Haematology
      <input type=checkbox name=ptcrd020 value="1" title="Cytology/Haematology"
       disabled></td>

  <td align=right width=15% class=DataLabel>Hist. Of Meta
      <input type=checkbox name=ptcrd021 value="1" title="Hist. of Meta"
       disabled></td>

  <td align=right width=15% class=DataLabel>Hist. Of Primary
      <input type=checkbox name=ptcrd022 value="1" title="Hist. Of Primary"
       disabled></td>

  <td align=right width=15% class=DataLabel>Autopsy
      <input type=checkbox name=ptcrd023 value="1" title="Autopsy"
       disabled></td>

  <td align=right width=15% class=DataLabel>Other
      <input type=checkbox name=ptcrd024 value="1" title="Other" disabled></td>
</tr>
</table>
</span>

<span id=nswChkboxs style="display:none">
  <input type=hidden name=ptcrd022 value="">
  <input type=hidden name=ptcrd023 value="">
<table cellspacing=0 cellpadding=1 border=0 align=center width=100%>

<tr>
  <td align=right width=20% class=DataLabel>Cytology
      <input type=checkbox name=ptcrd020 value="1" readonly disabled
       title="Cytology"></td>

  <td align=right width=20% class=DataLabel>Histology
      <input type=checkbox name=ptcrd021 value="1" readonly disabled
       title="Histology"></td>

  <td align=right width=20% class=DataLabel>Other
      <input type=checkbox name=ptcrd024 value="1" title="Other" disabled></td>

    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</span>

<script type="text/javascript">
var RadioIndex="%MRTWEB02.08.432";
if(RadioIndex!=3) {
document.UpdateForm.ptcrd028[RadioIndex].checked=1 // Set Current Checked Value
}

function NswCheckboxs()  {
   if ("%MRTWEB02.08.424"=="1") {
      document.UpdateForm.ptcrd020.checked=true;
   }
   if ("%MRTWEB02.08.425"=="1") {
      document.UpdateForm.ptcrd021.checked=true;
   }
   if ("%MRTWEB02.08.428"=="1") {
      document.UpdateForm.ptcrd024.checked=true;
   }
   DiagState = "%MRTWEB02.08.499.034"
   for (var i =0 ; i < document.UpdateForm.ptcrd106.length; i++) {
     if(document.UpdateForm.ptcrd106.options[i].value==DiagState.substr(0,3)) {
        document.UpdateForm.ptcrd106.selectedIndex=i }
   };
}
function OthCheckboxs()  {
   if ("%MRTWEB02.08.419"=="1") {
      document.UpdateForm.ptcrd015.checked=true;
   }
   if ("%MRTWEB02.08.420"=="1") {
      document.UpdateForm.ptcrd016.checked=true;
   }
   if ("%MRTWEB02.08.421"=="1") {
      document.UpdateForm.ptcrd017.checked=true;
   }
   if ("%MRTWEB02.08.422"=="1") {
      document.UpdateForm.ptcrd018.checked=true;
   }
   if ("%MRTWEB02.08.423"=="1") {
      document.UpdateForm.ptcrd019.checked=true;
   }
   if ("%MRTWEB02.08.424"=="1") {
      document.UpdateForm.ptcrd020.checked=true;
   }
   if ("%MRTWEB02.08.425"=="1") {
      document.UpdateForm.ptcrd021.checked=true;
   }
   if ("%MRTWEB02.08.426"=="1") {
      document.UpdateForm.ptcrd022.checked=true;
   }
   if ("%MRTWEB02.08.427"=="1") {
      document.UpdateForm.ptcrd023.checked=true;
   }
   if ("%MRTWEB02.08.428"=="1") {
      document.UpdateForm.ptcrd024.checked=true;
   }
}
function VicCheckboxs()  {
   if ("%MRTWEB02.08.434"=="1") {
      document.UpdateForm.ptcrd030.checked=true;
   }
   if ("%MRTWEB02.08.435"=="1") {
      document.UpdateForm.ptcrd031.checked=true;
   }
   if ("%MRTWEB02.08.436"=="1") {
      document.UpdateForm.ptcrd032.checked=true;
   }
   if ("%MRTWEB02.08.437"=="1") {
      document.UpdateForm.ptcrd033.checked=true;
   }
   if ("%MRTWEB02.08.438"=="1") {
      document.UpdateForm.ptcrd034.checked=true;
   }
   if ("%MRTWEB02.08.439"=="1") {
      document.UpdateForm.ptcrd035.checked=true;
   }
   if ("%MRTWEB02.08.440"=="1") {
      document.UpdateForm.ptcrd036.checked=true;
   }
   if ("%MRTWEB02.08.441"=="1") {
      document.UpdateForm.ptcrd037.checked=true;
   }
   if ("%MRTWEB02.08.442"=="1") {
      document.UpdateForm.ptcrd038.checked=true;
   }
   if ("%MRTWEB02.08.444"=="1") {
      document.UpdateForm.ptcrd040.checked=true;
   }
}
</script>






