<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="sjog-standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript" src=../js/watweb0101002.js></script>
<script type="text/javascript">
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link                   8 - Procedure Code
//  1 - Patient Name                9 - Procedure Description
//  2 - UR                         10 - Reason/Diagnosis
//  3 - Sex                        11 - Rank
//  4 - Age                        12 - Est Length of Stay
//  5 - Date on List               13 - Doctor Code 
//  6 - Date on Last review        14 - Doctor Name
//  7 - Proposed Admission Date   15 - Urgency Description
//                                 16 - Urgency OverDue
//                                 17 - Urgency OverDue Flag 1=Overdue
//                                 18 - Urgency Status
//                                 24 - Preadmission Status
//---------------------------------------------------------------------------
function InitTable(TableView) {
document.SelectView.deftview.value=TableView
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",40,50);
 t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",120,26)
 t.addColumn("Date on List","Date",5,5,"left","","",70)
 t.addColumn("Procedure","String",9,9,"left","","",80)
 t.addColumn("Cat","String",15,15,"left","","",40)
 t.addColumn("Listing Status","String",18,18,"left","","",60)
 t.addColumn("Doctor","String",14,14,"left","","",70)
 t.addColumn("Surgeon Options","String",33,33,"left","","",60)
 t.addColumn("Proposed Adm Date","Date",23,23,"left","","",65)
 t.addColumn("Preadmission Status","String",24,24,"left","","",80)
 AddTableRows()
 t.sortTable(1,1);    // By Date     
 t.sortTable(3,0);    // By Cat
 TableOutput(5,1);    // By Doctor  
 break; }
case 1: {
 t = new Table(1,0,2,"100%","center",40,50);
 t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",140,26)
 t.addColumn("Date on List","Date",5,5,"left","","",70)
 t.addColumn("Procedure","String",9,9,"left","","",120)
 t.addColumn("Cat","String",15,15,"left","","",40)
 t.addColumn("Listing Status","String",18,18,"left","","",60)
 t.addColumn("Overdue Date","Date",16,16,"left","","",70)
 t.addColumn("Proposed Adm Date","Date",23,23,"left","","",65)
 t.addColumn("Preadmission Status","String",24,24,"left","","",80)
 AddTableRows()
 t.sortTable(4,1);    // By Status
 t.sortTable(1,1);    // By Date
 TableOutput(3,1);    // By Category
 break; }
case 2: {
 t = new Table(1,0,2,"100%","center",40,50);
 t.addColumn("Patient","ImageText",1,1,"left","PatientFolder","0",140,26)
 t.addColumn("Date on List","Date",5,5,"left","","",70)
 t.addColumn("Procedure","String",9,9,"left","","",110)
 t.addColumn("Cat","String",15,15,"left","","",40)
 t.addColumn("Listing Status","String",18,18,"left","","",60)
 t.addColumn("Doctor","String",14,14,"left","","",80)
 t.addColumn("Proposed Adm Date","Date",23,23,"left","","",65)
 t.addColumn("Preadmission Status","String",24,24,"left","","",80)
 AddTableRows()
 t.sortTable(3,1);    // By Cat
 TableOutput(1,1);    // By Date
 break; }
 }
}
function waitingDoc() {
  validateCode('34',document.SelectView.filtdoct,
                    document.SelectView.name_filtdoct,
                    document.SelectView.status,
                    SetDocName);
  if(document.SelectView.status.value=="1") {
    alert("Warning inactive doctor " + document.SelectView.filtdoct.value);
  }
}
function SetDocName() {
   if (document.SelectView.unitcode.value=='') {
     document.SelectView.unitcode.focus();
     return;
   }

   document.SelectView.submit()
}
function SelectSubmit() {
  if (document.SelectView.unitcode.value=='') {
    document.SelectView.unitcode.focus();
    return;
  }

  document.SelectView.submit();
}
function UnitAll() {
  if (document.SelectView.unitcod2.value=='1') {
    for(var i=0; i<document.SelectView.unitcode.length; i++) {
      ind=document.SelectView.unitcode.options[i].value;
      if(ind=='   '){ document.SelectView.unitcode.selectedIndex=i; }
    }
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(%WATWEB01.01.023);
              self.focus();document.SelectView.unitcode.focus();
              UnitAll();">
<div id=HeadingSection>
<form name=SelectView action=watweb01.pbl method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=2>
<input type=hidden name=nextukey value="">
<input type=hidden name=status value="">
<input type=hidden name=deftview value="">
<input type=hidden name=unitcod2 value="%WATWEB01.01.027">

<table cellspacing=0 border=0 width=100% bgcolor=#cccccc>
<tr><td>
    <a href=javascript:InitTable(0)>
    <img src=../images/TableViewIcon.gif align=absmiddle 
     alt="Default View" title="Default View" border=0></a>
    <a href=javascript:InitTable(1)>
    <img src=../images/TableViewIcon.gif align=absmiddle 
     alt="Review Dates" title="Review Dates" border=0></a>
    <a href=javascript:InitTable(2)>
    <img src=../images/TableViewIcon.gif align=absmiddle 
     alt="Review Dates" title="Review Dates" border=0></a>

Status
 <select name=statcode onchange=SelectView.submit()>
 %WATWEB01.01.007
 </select>

Unit
 <select name=unitcode onchange="if(this.value=='') {
                                   location.href=
                                'watweb01.pbl?reportno=1&template=2&deftview=' +
                                   document.SelectView.deftview.value;
                                   return;
                                }
                                if (this.value=='   ') {
                                  document.SelectView.unitcod2.value='1';
                                } else {
                                  document.SelectView.unitcod2.value='';
                                }
                                SelectView.submit();">
  <option></option>
  <option value="   ">All           </option>
 %WATWEB01.01.006
 </select>

Overdue Only
 <select name=ovrdcode onchange="if (document.SelectView.unitcode.value=='') {
                                   document.SelectView.unitcode.focus();
                                   return;
                                 }
                                 SelectView.submit();">
 %WATWEB01.01.012
 </select>

%STANDARD.01.017.TP
  <select name=catecode onchange="if (document.SelectView.unitcode.value=='') {
                                   document.SelectView.unitcode.focus();
                                   return;
                                 }
                                 SelectView.submit();">
  <option value="      ">All           </option>
  %WATWEB01.01.010
  </select>

</td></tr>

<tr><td>
Listing Status
 <select name=listcode onchange="if (document.SelectView.unitcode.value=='') {
                                   document.SelectView.unitcode.focus();
                                   return;
                                 }
                                 SelectView.submit();">
  <option value="      ">All           </option>
 %WATWEB01.01.011
 </select>
PreAdmission Status
 <select name=filtpast onchange="if (document.SelectView.unitcode.value=='') {
                                   document.SelectView.unitcode.focus();
                                   return;
                                 }
                                 SelectView.submit();">
  <option value="      ">All           </option>
 %WATWEB01.01.020
 </select>
&nbsp; Doctor Code
<input type=text name=filtdoct id=filtdoct size=8 maxlength=6
     value="%WATWEB01.01.021.1" onBlur="UpCase(this);waitingDoc();">
    <input type=text name=name_filtdoct id=name_filtdoct size=25 maxlength=25
     value="%WATWEB01.01.021.0" class=Readonly readonly>
    <img src=../images/SearchIcon.gif class=Icon
    onclick= "DoctorSearchFrameAll(filtdoct,name_filtdoct,SelectSubmit);">
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(filtdoct,name_filtdoct,SelectSubmit);">
</td></tr>
<tr><td align=right>
    <span id=NextPage><span>
    </td></tr>
</table>
</form>
</div>

<div id=TableLocation></div>

<script type="text/javascript">
function AddTableRows() {
%WATWEB01.01.004.watweb01.02.001  
}

</script>
