<meta name="TemplateVersion" content="V10.12.00">
<meta name="TemplateHome" content="hea-sa">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/emrweb0602014.js"></script>
<style type="text/css">
.subtitle{text-align:center;}
.titleUnderLine{
 border-bottom:1px solid black;
}
</style>
<script type="text/javascript">
 
var procedureArray = new Array();

function getProciNumber(procinumber) {

  if (procinumber < 10) {
    x = "00" + procinumber;
  }
 
  if (procinumber > 9 && procinumber < 100) {
    x = "0" + procinumber;
  }

  return x;

}

function addProcedureToForm(form)
{ 
 var numberOfHiddenFields = 4;
 var nameFields = ["doctn","itype","schdf","pquan"];
 var valueFields = ["doc","itype","weight","quantity"];

 var obj = document.getElementById("AddForm");
 var newElement = null;

 for(var i = 0;i<procedureArray.length;i++)
 {
  for(var j = 0;j<numberOfHiddenFields;j++)
  { 
     newElement = document.createElement("input");
     newElement.type = "hidden";
     newElement.name = nameFields[j]+""+procedureArray[i].id;
     newElement.value = procedureArray[i][valueFields[j]];
     obj.appendChild(newElement);
  }
 }
 
}

function assignNoCharge() {

  for (x=0; x<document.AddForm.conitmnm.length; x++) {
    if (document.AddForm.conitmnm[x].checked==true) {
      if (document.AddForm.conitmnm[x].value==" .00") {
          for (y=0; y<procedureArray.length; y++) {
            procedureArray[y].weight=" .00";
          }
        break;
      }
    }
  }
}

function Procedure()
{
 this.id = 0;
 this.weight =0.00;
 this.itype = null;
 this.doc = null;
}

function removeFromCollection(proc)
{

 var procId = proc.name.substring(5,8);
 procId = parseInt(procId,10);

  if(procId=='245') {
    proc.value="";
  }

 for(var i = 0;i< procedureArray.length;i++)
 {
  if(parseInt(procedureArray[i].id,10) == procId)
  {
     procedureArray.splice(i,1);
  }
 }

//alert("removeFromCollection")
//displayProcedureArray();

}

function addToCollection(proc,doc,weight,itype)
{
  var procedure = new Procedure();

  if(proc.checked)
  {
   procedure.id = proc.name.substring(5,8);
  if(procedure.id=='245') {
    proc.value="NCH";
  }
   procedure.weight = weight;
//alert("|"+procedure.weight+"|");
   procedure.itype = itype;
   procedure.doc = doc;
   procedure.quantity = 1;
   procedureArray.push(procedure);

//alert("addToCollection");
//displayProcedureArray();

  }
  else
  {
   removeFromCollection(proc);
  }
//alert(procedureArray.length);
//alert("addToCollection");
//displayProcedureArray();
}
function addRadioToCollection(proc,doc,weight,itype)
{
  var procedure = new Procedure();

  if(proc.checked)
  {
   procedure.id = proc.name.substring(5,8);
  if(procedure.id=='245') {
    proc.value="NCH";
  }
   procedure.weight = weight;
//alert("|"+procedure.weight+"|");
   procedure.itype = itype;
   procedure.doc = doc;
   procedure.quantity = 1;
   procedureArray.push(procedure);

//alert("addToCollection");
//displayProcedureArray();

  }
//alert(procedureArray.length);
//alert("addToCollection");
//displayProcedureArray();
}
function AssignAfterCare() {
  if (document.AddForm.nacbox.checked==true) {
    document.AddForm.emvis094.value="1";
  } else {
    document.AddForm.emvis094.value="0";
  }
}
function getConItemNum() {
  document.AddForm.coninvar.value=" .00"

  for (var x=0; x<document.AddForm.conitmnm.length; x++) {
    if (document.AddForm.conitmnm[x].checked==true) {
      document.AddForm.coninvar.value=document.AddForm.conitmnm[x].value;
//      alert(document.AddForm.coninvar.value);
    }
  }

}
function removeRadioFromCollection() {
    for (var x = 0; x < AddForm.proci002.length; x++) {
      removeFromCollection(document.AddForm.proci002[x]);
    }
}
function assignWeight(weight) {

  if (document.AddForm.conitmnm[8].checked==true) {
    document.AddForm.proci096.checked=true;  
  } else {
    document.AddForm.proci096.checked=false;
  }
  addToCollection(document.AddForm.proci096,ProcedureDoc,'1.10','M')

  if (document.AddForm.conitmnm[7].checked==true ||
      document.AddForm.conitmnm[8].checked==true) {
    document.getElementById('edcfdrgp').checked=false;
    document.getElementById('edcfdrgp').disabled=true;
  } else {
    if (document.AddForm.conitmnm[4].checked==false) {
      document.getElementById('edcfdrgp').disabled=false; 
    }
  }

  if (weight.value=="9.99") {
//     for (var x = 1; x < 21; x++) {
//      x = getProciNumber(x);
//      document.getElementById("proci"+x).disabled=true;
//      document.getElementById("proci"+x).checked=false;
//     }
     for (var x = 0; x < AddForm.proci002.length; x++) {
       document.AddForm.proci002[x].disabled=true;
       document.AddForm.proci002[x].checked=false;
     }
//     document.AddForm.proci001.disabled=true;
//     document.AddForm.proci001.checked=false;
     document.getElementById("proci245").checked=true;
     removeFromCollection(document.getElementById("proci245"));
     addToCollection(document.getElementById("proci245"),
                     ProcedureDoc,weight.value,'M');
   } else {
//alert(AddForm.proci002.length);
//     for (var x = 1; x < 21; x++) {
//       x = getProciNumber(x);
//       document.getElementById("proci"+x).disabled=false;
//     }
     for (var x = 0; x < AddForm.proci002.length; x++) {
       document.AddForm.proci002[x].disabled=false;
     }
//     document.AddForm.proci001.disabled=false;
     document.getElementById("proci245").checked=false;
     removeFromCollection(document.getElementById("proci245"));
  }

// 1 - 20
//  for (var x = 1; x < 21; x++) {
//    x = getProciNumber(x);
//    if (document.getElementById("proci"+x).checked==true) {
//      removeFromCollection(document.getElementById("proci"+x));
//      addToCollection(document.getElementById("proci"+x),
//                      ProcedureDoc,weight.value,'M');
//    }
//  }

    if (weight.value=="1.06") {

      for (var x = 0; x < AddForm.proci002.length; x++) {
        if (document.AddForm.proci002[x].value!="3"    &&
            document.AddForm.proci002[x].value!="5000" && 
            document.AddForm.proci002[x].value!="23"   &&
            document.AddForm.proci002[x].value!="5020" &&
            document.AddForm.proci002[x].value!="36"   &&
            document.AddForm.proci002[x].value!="5040" &&
            document.AddForm.proci002[x].value!="44"   &&
            document.AddForm.proci002[x].value!="5060") {
          document.AddForm.proci002[x].disabled=true;
          document.AddForm.proci002[x].checked=false;
        }
      }
//      document.AddForm.proci001.disabled=true;
//      document.AddForm.proci001.checked=false; 

      for (var x = 1; x < 32; x++) {
        tdobject = document.getElementById("vocreg"+x);

        if (tdobject.id!="vocreg9"  &&
            tdobject.id!="vocreg10" &&
            tdobject.id!="vocreg11" &&
            tdobject.id!="vocreg12" &&
            tdobject.id!="vocreg13" &&
            tdobject.id!="vocreg14" &&
            tdobject.id!="vocreg15" &&
            tdobject.id!="vocreg16") {
          tdobject.className="DisabledCell";
        }
      }

    } else {

      for (var x = 0; x < AddForm.proci002.length; x++) {
        document.AddForm.proci002[x].disabled=false;
      }
//      document.AddForm.proci001.disabled=false;

      for (var x = 1; x < 32; x++) {
        tdobject = document.getElementById("vocreg"+x);
        tdobject.className="";
      }

    }   

    for (var x = 0; x < AddForm.proci002.length; x++) {
      removeFromCollection(document.AddForm.proci002[x]);
    }

    for (var x = 0; x < AddForm.proci002.length; x++) {
      addRadioToCollection(document.AddForm.proci002[x],
                      ProcedureDoc,weight.value,'M');
    }
//    removeFromCollection(document.getElementById("proci001"));
//    addToCollection(document.getElementById("proci001"),
//                    ProcedureDoc,weight.value,'M');

//alert(procedureArray.length);

  if (document.AddForm.conitmnm[7].checked==true ||
      document.AddForm.conitmnm[8].checked==true) {
    document.getElementById('edcfdrgp').checked=false;
    document.getElementById('edcfdrgp').disabled=true;
  } else {
    if (document.AddForm.conitmnm[4].checked==false) {
      document.getElementById('edcfdrgp').disabled=false;
    }
  }
}


function ValdMiscItem(tickbox,ReturnCode,DateField,amountit,quantity) {

 if(tickbox.value=="1") {
  var serverURL = "../cgi-bin/patweb80.pbl?reportno=4" +
        "&valdcode=" + ReturnCode.replace(/ /g,"+") +
        "&returndt=" + DateField.value.replace(/ /g,"+") +
        "&valdadno=" + AddForm.admissno.value.replace(/ /g,"+") +
        "&valdtype=3"

  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
     ReturnValue=returnValue.return_value.split("|");
     document.AddForm.patportn.value=ReturnValue[12];
     document.AddForm.hfnportn.value=ReturnValue[13];
     AddTotal(amountit,document.AddForm.patportn,document.AddForm.hfnportn);
     quantity.value="1";
  } else {
     tickbox.value=" ";
     amountit.value=" ";
     quantity.value=" ";

//   for (var x=0; x<2; x++) {
//     if (document.AddForm.emrdepfe[x].value=="0") {
//       document.AddForm.emrdepfe[x].checked=true;
//     }
//   }
  }
 } else {
     amountit.value=" ";
     quantity.value=" ";
 }
//alert(document.AddForm.tkbox999.value);
//alert(document.AddForm.proci999.value);
//alert(document.AddForm.pamnt999.value);
//alert(document.AddForm.pquan999.value);

}

</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);" onunload="unLock();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB06.02.003";
PatientVIS="%EMRWEB06.02.081";
PatientNAM="%EMRWEB06.02.002";
PatientSTA="%EMRWEB06.02.086.078";
PatientALT="%EMRWEB06.02.084";
PatientSEX="%EMRWEB06.02.019";
PatientDOB="%EMRWEB06.02.020";
PatientAGE="%EMRWEB06.02.021";
PatientLOC="%EMRWEB06.02.083";
PatientPRI="%EMRWEB06.02.086.066.1";
PatientUNT="%EMRWEB06.02.066.0";
DoctorCOD="%EMRWEB06.02.082.003";
DoctorNAM="%EMRWEB06.02.082.002";
PatientAID="%EMRWEB06.02.086.090";
PatientIND="%EMRWEB06.02.086.091";
PatientCUR="%EMRWEB06.02.086.092";
PatientCLC="%EMRWEB06.02.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%EMRWEB06.02.086.094";
PatientCDM="%EMRWEB06.02.086.095";
PatientVDH="%EMRWEB06.02.086.099.015";
ProcedureDoc="%EMRWEB06.02.286.001";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<form name=AddForm id="AddForm" action=patweb75.pbl method=post>
<input type=hidden name=reportno value="11">
<input type=hidden name=nextpage value="7">
<input type=hidden name=clearall value="1">
<input type=hidden name=emuty001 value="EMRP">
<input type=hidden name=emvcd001 value="%EMRWEB06.02.246">
<input type=hidden name=emvcd002 value="004">
<input type=hidden name=emvcd004 value="4">
<input type=hidden name=emvcd031 value="1">
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.246">
<input type=hidden name=redirect value="%EMRWEB06.02.001.emrweb02.01.100">
<input type=hidden name=template>
<input type=hidden name=updatety value="A">
<input type=hidden name=emerdoct value="%EMRWEB06.02.286.001">
<input type=hidden name=emerstat value="%EMRWEB06.02.247">
<input type=hidden name=spanflg1>
<input type=hidden name=spanflg2>
<input type=hidden name=spanflg3>
<input type=hidden name=spanflg4>
<input type=hidden name=spanflg5>
<input type=hidden name=spanflg6>
<input type=hidden name=spanflg7>
<input type=hidden name=spanflg8>
<input type=hidden name=getclcod value="1">
<input type=hidden name=aftercre value="%EMRWEB06.02.354">
<input type=hidden name=emvis094>
<input type=hidden name=coninvar>
<input type=hidden name=proci245>
<input type=hidden name=cmpsindc value="%EMRWEB06.02.137">
<input type=hidden name=patportn value="0">
<input type=hidden name=hfnportn value="0">
<input type=hidden name=ebsmindc value="1">
<input type=hidden name=geteffin value="%EMRWEB06.02.139">
<tr>
    <td class=DataLabel>Procedure Date </td>
    <td class=DataLabel><input type="text" name=procdate size="12"
    onblur="checkDate(procdate,'Procedure Date');" class=Mandatory
    value="%STANDARD.01.015">
        <img src=../images/DateLookup.gif date=document.AddForm.procdate>
     
        Time
        <input type="text" name=proctime size="8"
               onblur="checkTime(this,'Procedure Time')" class=Mandatory
               value="%STANDARD.01.016">
         <img notab src="../images/DateTimeStamp.gif" class="Icon"
          alt="Current" date="AddForm.procdate" time="AddForm.proctime">
        <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
         onclick="TimeLookupFrame(proctime);"> 
    </td>
</tr>
<tr><td align=center colspan="4"></td></tr>
</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>

<!--<input type=hidden name=tkbox999 value="1">
<input type=hidden name=proci999 value="EFF">
<input type=hidden name=pamnt999 class=Number min=0 max=99999.99 value=" ">
<input type=hidden name=pquan999 class=Numbermin=1 max=999 value=" ">-->

<tr><td style="background-color:lightgrey" colspan=8>&nbsp;</td></tr>
<tr>
   <td width=25%><b>Consultation Fee Type</b></td>
   <td><input type=radio name=conitmnm value="1.01" checked
        onclick="assignWeight(this);"><b>Full Fee</b></td>
   <td><input type=radio name=conitmnm value="1.02"
        onclick="assignWeight(this);"><b>Concession</b></td>
   <td><input type=radio name=conitmnm value="1.04"
        onclick="assignWeight(this);"><b>Medicare</b></td>
   <td><input type=radio name=conitmnm value="1.05" &nbsp; &nbsp;
        onclick="assignWeight(this);"><b>Review</b></td>
   <td><input type=radio name=conitmnm value="1.06" &nbsp; &nbsp;
        onclick="assignWeight(this);"><b>Work Cover</b></td>
   <td><input type=radio name=conitmnm value=" .00" &nbsp; &nbsp;
        onclick="assignWeight(this);"><b>No Charge</b></td>
   <td><input type=radio name=conitmnm value="1.03"
        onclick="assignWeight(this);"><b>MDO</b></td>
</tr>
<tr>
   <td></td>
   <td><input type=radio name=conitmnm value="1.09"
        onclick="assignWeight(this);"><b>DVA Admitted</b></td>
   <td colspan=2><input type=radio name=conitmnm value="1.10"
        onclick="assignWeight(this);"><b>HX013 DVA Discharged FF</b>
      <input type="checkbox" name="proci096" value="HX013"
       style="display:none"/>
   </td>


</tr>
</table>

<table width=100% align=center border=1 cellpadding=0 cellspacing=0>
    <tr><td colspan="9" align="center" class="titleUnderline"><b>Medical Consultation Item Numbers</b></td></tr>

<tr>
   <td style="background-color:lightgrey" align=middle><b>Non-VR / MDO&nbsp;</b></td>
   <td style="background-color:lightgrey" align=middle><b>Voc Reg / MDO&nbsp;</b></td>
   <td style="background-color:lightgrey" align=middle><b>NPN / EP&nbsp;</b></td>
</tr>

<tr>
   <td valign=top>
     <table width=100% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td id="vocreg29">Normal</td><td id="vocreg30">After Hours</td>
        </tr>

        <tr>
            <td id="vocreg1">
                <input type=radio name="proci002" value="52"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 52 (< 5min)
            </td>
            <td id="vocreg2">
                <input type=radio name="proci002" value="5200"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5200 (< 5min)
            </td>
        </tr>

        <tr>
            <td id="vocreg3">
                <input type=radio name="proci002" value="53"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 53 (5 - 25min)
            </td>
            <td id="vocreg4">
                <input type=radio name="proci002" value="5203"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5203 (5 - 25min)
            </td>
        </tr>

        <tr>
            <td id="vocreg5">
                <input type=radio name="proci002" value="54"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 54 (25 - 45min)
            </td>
            <td id="vocreg6">
                <input type=radio name="proci002" value="5207"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5207 (25 - 45min)
            </td>
        </tr>

        <tr>
            <td id="vocreg7">
                <input type=radio name="proci002" value="57"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 57 (> 45min)
            </td>
            <td id="vocreg8">
                <input type=radio name="proci002" value="5208"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5208 (> 45min)
            </td>
        </tr>

     </table>
   </td>
   <td valign=top>
     <table width=100% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td>Normal</td><td>After Hours</td>
        </tr>

        <tr>
            <td id="vocreg9">
                <input type=radio name="proci002" value="3"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 3 &nbsp; VR Level A
            </td>
            <td id="vocreg10">
                <input type=radio name="proci002" value="5000"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5000 VR Level A
            </td>
        </tr>

        <tr>
            <td id="vocreg11">
                <input type=radio name="proci002" value="23"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 23 VR Level B
            </td>
            <td id="vocreg12">
                <input type=radio name="proci002" value="5020"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5020 VR Level B
            </td>
        </tr>

        <tr>
            <td id="vocreg13">
                <input type=radio name="proci002" value="36"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 36 VR Level C
            </td>
            <td id="vocreg14">
                <input type=radio name="proci002" value="5040"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5040 VR Level C
            </td>
        </tr>

        <tr>
            <td id="vocreg15">
                <input type=radio name="proci002" value="44"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 44 VR Level D
            </td>
            <td id="vocreg16">
                <input type=radio name="proci002" value="5060"
                 onclick="removeRadioFromCollection();getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 5060 VR Level D 
            </td>
        </tr>

     </table>
   </td>
   <td valign=top>
     <table width=100% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td colspan=3 align=center id="vocreg31">All Hours</td>
        </tr>

        <tr>
           <td id="vocreg17">
              <input type=radio name="proci002" id='edcfdrgp' value="EDCF"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               EDCF Dr's Gap
           </td>
           <td id="vocreg18">
              <input type=radio name="proci002" value="501"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               501 EP Level 1
           </td>
           <td id="vocreg19">
              <input type=radio name="proci002" value="511"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               511 EP Level 4
           </td>
        </tr>

        <tr>
           <td id="vocreg20">
              <input type=radio name="proci002" value="160"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               160 Saving Life (1-2 hrs) 
           </td>
           <td id="vocreg21">
              <input type=radio name="proci002" value="503"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               503 EP Level 2
           </td>
           <td id="vocreg22">
              <input type=radio name="proci002" value="515"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               515 EP Level 5
           </td>
        </tr>

        <tr>
           <td id="vocreg23">
<!--          <input type=radio name="proci002" value="HX013A"
                           onclick="removeRadioFromCollection();
                           addToCollection(this,ProcedureDoc,'9.99','M')";/>
               DVA Admitted
-->
             <input type=radio name="proci002" value=""
                       onclick="removeRadioFromCollection();
                       addToCollection(this,ProcedureDoc,'1.11','M')";/>
             No Item Number
           </td>
           <td id="vocreg24">
              <input type=radio name="proci002" value="507"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               507 EP Level 3
           </td>
           <td id="vocreg25">
              <input type=radio name="proci002" value="519"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               519 EP Resus (30-60 mins)
           </td>
        </tr>

        <tr>
           <td id="vocreg26">
<!--          <input type="checkbox" name="proci001" value="HX013"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               HX013 DVA Discharged FF
-->
           </td>
           <td id="vocreg27">
               &nbsp;
           </td>
           <td id="vocreg28">
              <input type=radio name="proci002" value="520"
                           onclick="removeRadioFromCollection();getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               520 EP Resus (1-2 hrs)
           </td>
        </tr>


     </table>

   </td>
</tr>

</table>

<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="9" align="center" class="titleUnderline"><b>Procedure Item Number - Charged</b></td></tr>

 <tr>
   <td valign="top">

   <table cellpadding=0 cellspacing=0 border="0">
    <tr><td colspan="8" class="subTitle"><b>General</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci026" value="11700" 
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >11700 ECG&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci027" value="11700" 
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >11700 Subsequent ECG&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci028" value="13839"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >13839 Blood Gas analysis&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci029" value="11506"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >11506 Spirometry&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci030" value="13706"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >13706 Administration of blood&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci031" value="13945"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >13945 Access Portacath&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci032" value="31587"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >31587 Gastric Band Access - to remove or add fluid&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci033" value="32072"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >32072 Rigid Sigmoidoscopy&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci034" value="36800"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >36800 Bladder Catheterization&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci035" value="38800"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >38800 Diagnostic Pleural Tap&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci036" value="39000"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >39000 Lumbar Puncture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci101" value="55064"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >55064 Urinary bladder, ultrasound scan of, by any or all approaches&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Surgical Procedures</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci037" value="30003"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30003 Dressing of Localized Burns (includes consult)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci038" value="30064"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30064 Subcutaneous FB incision and exploration&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci039" value="30071"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30071 Diagnostic Biopsy of skin / mucous membrane&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci040" value="30216"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30216 Haematoma Aspiration&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci041" value="30219"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30219 Incise and Drain Abscess / Haematoma&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci042" value="30483"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30483 Replace P.E.G. tube&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci043" value="32147"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >32147 Perianal Thrombosis - incision of&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci044" value="37011"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >37011 Suprapubic stab Cystotomy&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci045" value="38803"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >38803 Thoracic cavity - aspiration of&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci046" value="38806"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >38806 Intercostal Drain&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Pathology</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci047" value="73806"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >73806 Urinary Pregnancy Test - Inform Patient&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci048" value="73809"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >73809 FOB testing&nbsp;<td>
    </tr>


   </table>

  </td>
  <td valign="top" >

    <table cellpadding=0 cellspacing=0 border="0">
    <tr><td class="subTitle" colspan="8"><b>Fracture Treatment</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci049" value="47348"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47348 Fractured Carpus excluding Scaphoid&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci100" value="47354"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47354 Treatment fractured Scaphoid&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci050" value="47361"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47361 Cast treatment fractured distal radius or ulna&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci055" value="47378"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47378 Cast treatment fractured shaft radius or ulna&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci056" value="47387"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47387 Cast treatment fractured shaft radius and ulna&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci051" value="47396"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47396 Treatment fractured Olecranon&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci052" value="47405"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47405 Closed reduction fractured head of radius&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci057" value="47423"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47423 Proximal humerus fracture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci053" value="47453"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47453 Treatment humerus supracondylar fracture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci058" value="47462"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47462 Clavicle fracture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci059" value="47466"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47466 Sternal fracture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci060" value="47471"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47471 Rib fracture (1 or more each) each attendance&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci061" value="47561"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47561 Cast treatment fractured Tibia&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci062" value="47576"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47576 Fractured Fibula&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci063" value="47579"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47579 Fractured Patella&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci064" value="47594"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47594 Fractured Ankle - undisplaced&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci065" value="47597"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47597 Fractured Ankle - closed reduction&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci066" value="47633"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47633 Fractured Metatarsal - 1&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci054" value="47636"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47636 Fractured Metatarsal - 1(closed reduction)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci067" value="47642"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47642 Fractured Metatarsal - 2&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci097" value="47645"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47645 Fractured Metatarsal - 2(closed reduction)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci068" value="47651"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47651 Fractured Metatarsal - 3 or more&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci069" value="47735"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47735 Fractured Nasal Bones - treatment - no reduction&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Eyes</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci070" value="30061"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30061 Removal of superficial FB (incl. cornea)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci071" value="42644"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >42644 Removal of imbedded FB cornea&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Consumable Medical Items</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci072" value="EDUKI"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >EDUKI Universal Knee Immobiliser&nbsp;<td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    </table>

  </td>
  <td valign="top" align="middle">

   <table cellpadding=0 cellspacing=0 border="0">
    <tr><td colspan="8" class="subTitle"><b>Lacerations / Wounds - Suture / Repair</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci073" value="30026"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30026 < 7cm superficial - not on face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci074" value="30029"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30029 < 7cm deep - not on face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci075" value="30032"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30032 < 7cm superficial - face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci076" value="30035"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30035 < 7cm deep - face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci077" value="30038"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30038 > 7cm superficial - not on face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci078" value="30041"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30041 > 7cm deep - not on face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci079" value="30045"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30045 > 7cm superficial - face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci080" value="30048"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30048 > 7cm deep - face&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci081" value="30052"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30052 Full Thickness Laceration of &nbsp;<td>
    </tr>
    <tr><td>&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Ear, Eyelid, Nose or Lip, repaired in Layers.<td></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci098" value="30064"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30064 Removal of subcutaneous FB&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci099" value="30067"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >30067 Removal of FB in muscle or tendon&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Dislocation Treatment</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci082" value="47000"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47000 Mandible&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci083" value="47015"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47015 Shoulder&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci084" value="47018"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47018 Elbow&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci085" value="47036"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47036 Interphalangeal joint&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci086" value="47048"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47048 Hip&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci087" value="47057"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47057 Patellar&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci088" value="47063"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47063 Ankle&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci089" value="47069"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >47069 Toe&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr> 
    <tr><td colspan="8" class="subTitle"><b>ENT</b></td></tr>
    <tr></tr>
     
    <tr>
     <td>
      <input type="checkbox" name="proci090" value="41500"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41500 Removal FB ear (not syringing)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci091" value="41647"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41647 Ear Toilet&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci092" value="41656"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41656 Nasal haemmorhage - posterior pack&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci093" value="41659"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41659 Removal FB from nose&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci094" value="41677"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41677 Nasal haemmorhage - cauterize +/- pack&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci095" value="41807"
       onclick="addToCollection(this,ProcedureDoc,'1.00','M')"/>
     </td>
     <td class="DataLabel" >41807 Incision of Quinsy&nbsp;<td>
    </tr>


    </table>

  </td>
 </tr>
</table>

<!-- End procedure billing sheet -->
<table width=100% border=0>
<tr><td align=center colspan=4>
  <input type=button class="button" value="Update" 
   onclick="assignNoCharge();addProcedureToForm();SubmitHidden(AddForm);
            ">
<!--  <input type=button class="button" value="List" 
   onclick="location.href='%EMRWEB06.02.001.emrweb06.02.013';">-->
  <input type=button class="button" value="Cancel" 
   onclick="CancelPage();">
  </td></tr>
</table>
</form>
</div>
<form name=PatientLinks method=get action="emrweb02.pbl">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=100>
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.081">
<input type=hidden name=MenuType value="%EMRWEB06.02.088">
</form>
<script type="text/javascript">
//TB4 = new ProceduresList();    // Create New Thing Object
//EMRWEB06.02.134.TB4.004

//  if (document.AddForm.aftercre.value=="Yes") {
//    document.AddForm.nacbox.checked=true;
//  } else {
//    document.AddForm.nacbox.checked=false;
//  }

//ValdMiscItem(document.AddForm.tkbox999,
//             'EFF',
//             document.AddForm.procdate,
//             document.AddForm.pamnt999,
//             document.AddForm.pquan999);

//if (document.AddForm.geteffin.value=="1") {
//  document.getElementById('emrdepfeyes').checked = false;
//  document.getElementById('emrdepfeno').checked = true;
//  document.AddForm.tkbox999.value=' ';
//  ValdMiscItem(document.AddForm.tkbox999,'EFF',
//               document.AddForm.procdate,
//               document.AddForm.pamnt999,
//               document.AddForm.pquan999);
//}
//function ValidateEFF() {
//  if (document.AddForm.geteffin.value=="1") {
//    document.getElementById('emrdepfeyes').checked = false;
//    document.getElementById('emrdepfeno').checked = true;
//    document.AddForm.tkbox999.value=' ';
//    ValdMiscItem(document.AddForm.tkbox999,'EFF',
//                 document.AddForm.procdate,
//                 document.AddForm.pamnt999,
//                 document.AddForm.pquan999);
//    alert("EFF charge already exists.");
//  }
//}

function displayProcedureArray() {
  alert("Procedure Array Length: "+procedureArray.length);
  for (x=0;x<procedureArray.length;x++) {
    alert("Procedure Array Id: "+ procedureArray[x].id +" \n"+ 
          "Procedure Array Weight: "+ procedureArray[x].weight);

  }
}

</script>
