<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<script language="javascript" src="../js/allweb02.js"></script>
<script language="javascript" src="../js/allweb0202.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>
<!-- 01 : CTAS : add link to custom TAS javascript file for GetPatientGP function -->
<!-- 04 : DXC : GetPatientGP no longer called, replaced by SetRefSource  -->
<script type="text/javascript" src="../js/ctascustom.js"></script>
<!-- end of change -->
<script type="text/javascript">
function SetPrinter(Nolabel,SelectList) {
 if (SelectList.className=="Mandatory SelectBig") {
     SelectList.className="SelectBig" }
 else {
     SelectList.className="Mandatory SelectBig" }

 if(Nolabel!=undefined) {
   if (Nolabel.className=="Mandatory") {
       Nolabel.className="" }
   else {
       Nolabel.className="Mandatory" }
   }
}
//------------------------------------------------------------
// Set Link ACC Redirect and Return program after link ACC
//------------------------------------------------------------
// 14 : TAS : Merge Task 0887539
function SetLinkACC(CurForm,ReturnCd) {
//  ----- redirect removed - causes Primhd error "Diagnosis before Encounter"
//   CurForm.redirect.value="mehweb01.pbl?reportno=01&template=001"
//   + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
//   + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+");
     CurForm.redirect.value="allweb02.pbl?reportno=02&template=002"
     + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+") 
     + "&refrejct=" + CurForm.refrejct.value.replace(/ /g,"+");

  if ((CurForm.ptcnueoc.value==1)&&(CurForm.alref035.value.substr(5,1)=='A')) {
       CurForm.redirect.value="eocweb01.pbl?reportno=01&template=006"
             + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
             + "&returncd=" + ReturnCd
             + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+")}
  if (CurForm.alref035.value.substr(3,1)=='W') {
       CurForm.redirect.value="patweb89.pbl?reportno=01&template=005"
             + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
             + '&returncd=' + ReturnCd
             + "&refrejct=" + CurForm.refrejct.value.replace(/ /g,"+");
	     + "&systflag=9"		// 14 TAS ;line added		
             + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+")
  }
} //end SetLinkACC
function UpdReferral(theForm){

  //Checks if the referral is already rejected. If not, calls function
  //to check if will generate a rejection
  if ("%ALLWEB02.02.199.027" != "5") {
    checkReject(UpdateForm.d_depcod.value,UpdateForm.alref141,
                UpdateForm);
  }

  if (!ValCaseTeamMember()) {
    return;
  }
  if (!ValMHVisit()) {
    return;
  }

  if(!isWhitespace(UpdateForm.alref022.value) &&
     UpdateForm.rusualgp.checked==true) {
     UpdateForm.pmpmi059.value=UpdateForm.alref022.value;
     UpdateForm.pmpmi060.value=UpdateForm.alref023.value;
     UpdateForm.pmpmi061.value=UpdateForm.alref024.value;
  }

  //15 : TAS : Add eReferral flag to database -->
  updateEReferralValue();

  theForm.target = "PopUpFrame1";
  if (validateMandatory(theForm)) {
    SetLinkACC(theForm,"MH1");
    theForm.submit();
  }
}
function SetSite() {
  p=UpdateForm
  var SetSite
  if(isWhitespace(p.alref119.value)) {
    SetSite=p.wbsesite.value;
  } else {
    SetSite=p.alref119.value;
  }
 for (var i =0 ; i < document.UpdateForm.alref119.length; i++) {
  if (document.UpdateForm.alref119.options[i].value==SetSite.substr(0,6)) {
       document.UpdateForm.alref119.selectedIndex=i } };
  SetList();
  selectCatCodInd(p.catAO,p.alref141,p.d_alref141,p.alref027,'1','1');
}
function SetList() {
  p=UpdateForm
  p.alref106.options.length=1;
  DeptClinicType(p.deptcode,p.alref119,p.alref106,p.defctype)
  SetList2();
}
function SetList2() {
  p=UpdateForm
  p.alref120.options.length=1;
  SetTypeClinic(p.alref120,p.deftclid.value,p.alref119.value,p.alref106.value);
}
//this function is a onchange emulator when a search frame is
//used
function caseTeamOnChange(alref087,n_alref087,alref038,n_alref038,d_alref019)
{
 var oldValue = alref087.value;

 TeamSearchFrame(alref087,n_alref087,function()
 {
   if(alref087.value != oldValue)
   {
      setTimeout(function()
      {
         getHCPbyCaseTeam(alref087,alref038,n_alref038,d_alref019);
      },100);
   }
 });
}

function hcpOnChange(alref038,n_alref038,alref087,n_alref087,d_alref019)
{
  var oldValue = alref038.value;

  HCPSearchFrame(alref038,n_alref038,1,function()
  {
     if(alref038.value != oldValue)
     {
       setTimeout(function()
       {
         getCaseTeamByHCP(alref038,alref087,n_alref087,d_alref019);
       },100);
     }
  });
}

function CheckHCP() {
  if(!isWhitespace(document.all.d_alref085.value) ||
     !isWhitespace(document.all.d_alref086.value) ||
     !isWhitespace(document.all.d_alref166.value) ||
     !isWhitespace(document.all.d_alref167.value)) {
     document.UpdateForm.addithcp.checked=true;
     CheckAddHCP();
  }
}

function CheckAddHCP() {
   /*01 : CTAS : Use allweb0202003 template's of handling Addtl HCP
  if(document.UpdateForm.addithcp.checked==true) {
     AdditionalHCP.style.display="";
     AdditionalHCP.innerHTML=ShowAdditionalHCP.innerHTML;
  } else {
     AdditionalHCP.innerHTML=BlankAdditionalHCP.innerHTML;
     AdditionalHCP.style.display="none";
  }
  */
   if(document.UpdateForm.addithcp.checked==true) {
     AdditionalHCP1H.style.display="";
     AdditionalHCP1F.style.display="";
     AdditionalHCP2H.style.display="";
     AdditionalHCP2F.style.display="";
     AdditionalHCP3H.style.display="";
     AdditionalHCP3F.style.display="";
     AdditionalHCP4H.style.display="";
     AdditionalHCP4F.style.display="";
     AdditionalHCP1H.innerHTML=ShowAdditionalHCP1H.innerHTML;
     AdditionalHCP1F.innerHTML=ShowAdditionalHCP1F.innerHTML;
     AdditionalHCP2H.innerHTML=ShowAdditionalHCP2H.innerHTML;
     AdditionalHCP2F.innerHTML=ShowAdditionalHCP2F.innerHTML;
     AdditionalHCP3H.innerHTML=ShowAdditionalHCP3H.innerHTML;
     AdditionalHCP3F.innerHTML=ShowAdditionalHCP3F.innerHTML;
     AdditionalHCP4H.innerHTML=ShowAdditionalHCP4H.innerHTML;
     AdditionalHCP4F.innerHTML=ShowAdditionalHCP4F.innerHTML;
  } else {
     AdditionalHCP1H.style.display="none";
     AdditionalHCP1F.style.display="none";
     AdditionalHCP2H.style.display="none";
     AdditionalHCP2F.style.display="none";
     AdditionalHCP3H.style.display="none";
     AdditionalHCP3F.style.display="none";
     AdditionalHCP4H.style.display="none";
     AdditionalHCP4F.style.display="none";
     AdditionalHCP1H.innerHTML=Blank.innerHTML;
     AdditionalHCP1F.innerHTML=BlankAdditionalHCP1F.innerHTML;
     AdditionalHCP2H.innerHTML=Blank.innerHTML;
     AdditionalHCP2F.innerHTML=BlankAdditionalHCP2F.innerHTML;
     AdditionalHCP3H.innerHTML=Blank.innerHTML;
     AdditionalHCP3F.innerHTML=BlankAdditionalHCP3F.innerHTML;
     AdditionalHCP4H.innerHTML=Blank.innerHTML;
     AdditionalHCP4F.innerHTML=BlankAdditionalHCP4F.innerHTML;
  }
  // end of change
}

function ValCaseTeam(CaseTeamFld, CaseTeamDesc) {
  if (validateCode2(7,CaseTeamFld, CaseTeamDesc)) {
    var p = document.UpdateForm;
    getHCPbyCaseTeam(p.alref087,p.alref038,p.n_alref038,p.alref019);
    if (!ValCaseTeamMember()) {
      CaseTeamFld.value = "";
      CaseTeamDesc.value = "";
      CaseTeamFld.focus();
      return;
	 }
	if (!ValMHVisit()) {
      CaseTeamFld.value = "";
      CaseTeamDesc.value = "";
      CaseTeamFld.focus();
      return;
    }
  }
}

function ValCaseTeamMember() {
  if (!isWhitespace(document.UpdateForm.alref019.value)&&
      !isWhitespace(document.UpdateForm.alref038.value)&&
      !isWhitespace(document.UpdateForm.alref087.value)) {
    var serverURL = "../cgi-bin/allweb01.pbl?reportno=8"+
        "&functype=7"+
        "&valddate=" + document.UpdateForm.alref019.value.replace(/ /g,"+")+
        "&valdhcpc=" + document.UpdateForm.alref038.value.replace(/ /g,"+")+
        "&valdteam=" + document.UpdateForm.alref087.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
    if (returnValue.status != 0) {
      return false;
    }
  }
  return true;
}

//T0855163 - Validate if the case team can be updated
function ValMHVisit(){

 var serverURL="../cgi-bin/allweb02.pbl?reportno=17"+
     "&admissno="+ document.UpdateForm.admissno.value.replace(/ /g,"+")+
     "&valdteam="+ document.UpdateForm.alref087.value.replace(/ /g,"+")+
     "&remotsno=1";

 var returnValue=RSExecute(serverURL);
 if (returnValue.status !=0){           //fatal error
     return;}

 if (returnValue.return_value == 0) {   //can update case team
     return true;}                         

 if (returnValue.return_value == 1) {   //warning message
    var warnmsg = 'Warning: You are changing the Case Team on a referral ' + 
             'with Activity which may affect PRIMHD data.' +
             '\nClick OK to continue and change the case team';

    var r = confirm(warnmsg);
    if (r == true){
       return true;}     //override warning and update case team
    else { 
       return false;}    //do not update case team
 }
}

// 01 : CTAS : DR # 17,27,28,29
//		priority outcome never mandatory		
// 05 : CTAS PAS-581 update priority codes
// 10 : TAS : WP2-865 : Remove Responsible HCP from function
// 16 : TAS : Change mandatory field conditions
function ChkPriorityRef() {
        var optPri = document.UpdateForm.alref027.value.replace(/ /g,"");
        var userHosp = GetCookieData("IBAUserHosp");

        //if priority is Deselected, Waiting for Triage or Transfer Other Services
        if (!optPri || optPri.substr(0,3) == "WAI" || optPri.substr(0,3) == "TOS"){
                document.UpdateForm.alref027.className = ""; // Priority
                document.UpdateForm.alref084.className = ""; // Prioritising HCP
                document.UpdateForm.alref127.className = ""; // Date of Priority
                document.UpdateForm.alref141.className = ""; // Priority Outcome
                document.UpdateForm.alref038.className = ""; // Responsible HCP
        }else if(optPri.substr(0,3) == "NOT"){
                //if priority is Not Seen

                if(userHosp == "WRH" || userHosp == "PNH" == userHosp == "HOR"){
                        document.UpdateForm.alref027.className = "Mandatory"; // Priority
                }

                document.UpdateForm.alref084.className = ""; // Prioritising HCP
                document.UpdateForm.alref127.className = "Mandatory"; // Date of Priority
                document.UpdateForm.alref141.className = "Mandatory"; // Priority Outcome
                document.UpdateForm.alref038.className = ""; // Responsible HCP
        }else{
                //for any other priority
                if(userHosp == "WRH" || userHosp == "PNH" || userHosp == "HOR"){
                        document.UpdateForm.alref027.className = "Mandatory"; // Priority
                }

                document.UpdateForm.alref084.className = "Mandatory"; // Prioritising HCP
                document.UpdateForm.alref127.className = "Mandatory"; // Date of Priority
                document.UpdateForm.alref141.className = "Mandatory"; // Priority Outcome
                document.UpdateForm.alref038.className = "Mandatory"; // Responsible HCP 
        }
}
// end of change
// 01 : CTAS : To listen to contents of Referring HCP if UNK
// Ref Originator must be mandatory
/*function chkRefHCP() {
	setInterval(function() { 
		var code = document.getElementById("alref022").value.replace(/ /g,""); 
		// code for unknown is UNK
		if (!code) {
			document.UpdateForm.alref153.className="";
		} else {
			if (code.substr(0,3)=="UNK") {
				document.UpdateForm.alref153.className="Mandatory";
			} else {
				document.UpdateForm.alref153.className="";
			}
		}
	}, 100);
}*/

function chkRefHCP() {
  var refHCP = document.getElementById("alref022");
  if (!refHCP) return; // Ensure element exists

  // code for unknown is UNK
  var code = refHCP.value.replace(/ /g,"");
  if (code.substr(0,3)=="UNK") {
    document.getElementById("alref153").className="Mandatory";
  } else {
    document.getElementById("alref153").className="";
  }
}
// end of change

// 06 : DXC : Task 0850707
// * function to blank and hide transfer source if it is set and GP icon is clicked
// * call to SetRefSource  
function setRefDets(){

	SetRefSource(document.UpdateForm.alref034);
	document.getElementById("aldad001").value="";
	document.getElementById("trandesc").value="";
    TranSrc.innerHTML=transferblank.innerHTML;
    TranSrcHeading.innerHTML="";
	
}
//end of change

// 06 : DXC : Task 0850707
// * function to remove referring HCP details and HCP practice details if referral source != GP
/*
function remHCPDets(){

	if (document.getElementById("alref034").options.value.substr(9,1) != "G"){
		document.getElementById("alref022").value="";
		document.getElementById("n_alref022").value="";
		document.getElementById("alref023").value="";
		document.getElementById("n_alref023").value="";
		document.getElementById("alref024").value="";
	}
}
*/

function remHCPDets(){
    var HCP = document.getElementById("alref034").value.substr(0,3);
    if (HCP != "R08") {
      document.getElementById("alref022").value="";
      document.getElementById("n_alref022").value="";
      document.getElementById("alref023").value="";
      document.getElementById("n_alref023").value="";
      document.getElementById("alref024").value="";
    }
}

// 12 : TAS : WP2-1176 Add button to open appointment request template allweb0202002.html
//	* Linked to button to open appointment reeuest window
function addApptreq() {
		linkurl="outweb08.pbl?reportno=08&template=902"
		+ "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")
	    + "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")
		+ "&deptcode=" + document.UpdateForm.deptcode.value.replace(/ /g,"+");
	Left=(document.body.clientWidth-900)/2;
	DFrameLink(linkurl,0,Left,900,550);
}	
// 12 : TAS : WP2-1176 
//	* Make appointment request button go red if there is an appointment request against the referral
function AppRegInd() {
	LinkRIndicator=document.UpdateForm.reqindc.value;
	if (LinkRIndicator=="1") {
	document.all.linkbutt.className="RedButton";
        }
} 
//end of change
// 13 : TAS : Make Contract field mandatory for Midcentral-->
function chkContractMandatory(){
	var userHosp = GetCookieData("IBAUserHosp");
	
	if (userHosp == "PNH"){
		document.getElementById("alref142").className = "Mandatory SelectBig";
	}
}
// 15 : TAS : Add eReferral checkbox functions.
function updateEReferralValue(){
        if (document.UpdateForm.d_alref081.checked) {
                document.UpdateForm.alref081.value = "1";
        } else {
                document.UpdateForm.alref081.value = "0";
        }
}
function setEReferralValue() {
        if (document.UpdateForm.alref081.value) {
                var val = document.UpdateForm.alref081.value.replace(/ /g,"");
                if (val === "1" || val === "Yes")
                        document.UpdateForm.d_alref081.checked = true;
                else
                        document.UpdateForm.d_alref081.checked = false;
        }
}
//end of change
</script>
</head>
%START.OF.PAGE
<!-- 01: CTAS DR # 17,27,28,29
<body onload="PageLoad(event);SetSite();DisplayTrnSrc();CheckHCP();defaultDHB();">
-->
<!-- 15: Call setEReferralValue() on load -->
<body onload="PageLoad(event);SetSite();DisplayTrnSrc();
              CheckHCP();defaultDHB();ChkPriorityRef();
              chkRefHCP();chkContractMandatory();showACC(UpdateForm);FilterReferralSource(UpdateForm);
			  AppRegInd();setEReferralValue();">
<!-- end of change -->
<span class=DFrameTitleBar>
<img border=0 align=right src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB02.02.125.0  Referral  </span>
<div id=PageBodySection style="overflow: auto;">
<form name=UpdateForm onsubmit='return validateMandatory(this)' 
 action="allweb02.pbl" method=post>
<input type=hidden name=reportno value="2">
<input type=hidden name=updatety value="U">
<input type=hidden name=nextpage value="5">
<input type=hidden name=urnumber value="%ALLWEB02.02.003">
<input type=hidden name=admissno value="%ALLWEB02.02.081">
<input type=hidden name=deptcode value="%ALLWEB02.02.125.1">
<input type=hidden name=redirect value="allweb02.pbl?reportno=2&template=3">
<input type=hidden name=dummy>
<input type=hidden name=alref083 value="">
<input type=hidden name=ptcnueoc value="%ALLWEB02.02.503">
<input type=hidden name=wbsesite value="%STANDARD.01.023">
<input type=hidden name=hcpprovno value="%ALLWEB02.02.122.2">
<input type=hidden name=defctype value="%ALLWEB02.02.167.1">
<input type=hidden name=deftclid value="%ALLWEB02.02.188.1">
<input type=hidden name=override value="2">
<input type=hidden name=mehrflag value="1">
<input type=hidden name=pmpmi059 value="%ALLWEB02.02.684.001">
<input type=hidden name=pmpmi060 value="%ALLWEB02.02.685.001">
<input type=hidden name=pmpmi061 value="%ALLWEB02.02.661">
<input type=hidden name=catAO value="AO">
<input type=hidden name=d_alref141 value="%ALLWEB02.02.199.012.1">
<input type=hidden name=d_alref019 id=d_alref019 value="%ALLWEB02.02.119">
<input type=hidden name=alcncdhb id=alcncdhb 
       value="%STANDARD.01.025.121.103.0.1">
<input type=hidden name=nhdmdhb id=nhdmdhb value="%ALLWEB02.02.264">
<input type=hidden name=d_ostcatg id=d_ostcatg value="%ALLWEB02.02.529">
<input type=hidden name=d_depcod value="%ALLWEB02.02.125.3">
<input type=hidden name=refrejct value="0">
<!-- 12 : TAS : Appointment request indicator -->
<input type=hidden name=reqindc value="%ALLWEB02.02.239";>
<!-- 15 : TAS : eReferral flag -->
 <input type=hidden name=alref081 value="%ALLWEB02.02.142">
<table align=center cellspacing=0 cellpadding=0 border=0 width=95%>
  <!-- 01 : CTAS : change label for alref019 to Date Referral Received
<tr><td class=DataLabel>Date of Referral</td>
    <td class=DataLabel>
    <input type=text name=alref019 size=12 notab readonly
     onblur="checkDate(this,'Date')" value="ALLWEB02.02.119"
     class= "Readonly PastDate" title="Date of Referral">             class= "Mandatory PastDate" title="Date of Referral">
-->
 <tr><td class=DataLabel width=10%>Date Referral Received</td>
    <td class=DataLabel>
    <input type=text name=alref019 size=12 notab readonly
     onblur="checkDate(this,'Date')" value="%ALLWEB02.02.119"
     class= "Readonly PastDate" title="Date Referral Received">
<!-- end of change -->	
      <input type=text size=8 value="%ALLWEB02.02.199.008" title="Time Active"
       tabindex=1 class="Mandatory Time" name=alref137>
      <img src=../images/DateTimeStamp.gif class=Icon date=alref137
               onclick="SetCurrentDateTime(alref137,alref137);">
      <img src=../images/TimeLookup.gif class=Icon
               onclick="TimeLookupFrame(alref137);">
    </td>
	<td class=DataLabel width=10%>Department Code</td>
    <td class=DataField width=40%>
	<input name=allrf001 type=text value="%ALLWEB02.02.125.0" readonly
         class=Readonly notab></td>
    </tr>
<!-- 01 : CTAS : change label for alref039 to Date Entered
<tr><td class=DataLabel>Date Letter Received</td>
    <td><input type=text name=alref039 size=12 class="Mandatory PastDate"
         value="ALLWEB02.02.139" onblur="checkDate(this,'Date');"
         title="Date Letter Received" tabindex=2>
-->
<tr><td class=DataLabel>Date Entered</td>
     <td><input type=text name=alref039 size=12 class="Mandatory PastDate"
                value="%ALLWEB02.02.139" onblur="checkDate(this,'Date');"
                title="Date Entered" tabindex=2>
<!-- end of change -->
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref039 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref039>
    </td>
    <td class=DataLabel>Link to Visit</td>
    <td><input type=text size=10 maxlength=8 name=alref005 tabindex=20
         value="%ALLWEB02.02.105"
         onblur="justifyRight(this);
                ValidateVisit(UpdateForm.alref005,UpdateForm.urnumber,dummy);" >
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="VisitSearchFrame(UpdateForm.urnumber,UpdateForm.alref005);">
    </td>
    </tr>
<!-- 06 : DXC : Added call to remHCPDets() -->
<tr><td class=DataLabel>Referral Source</td>
    <td><select title="Referral Source" name=alref034 id=alref034 tabindex=3
         class="Mandatory SelectBig" onchange="DisplayTrnSrc();remHCPDets();">
        <option></option>
         %ALLWEB02.02.134.2
        </select></td>
    <td><div id=TranSrcHeading></div>
        <td><div id=TranSrc></div></td>
    </tr>
<tr><td class=DataLabel>Inform GP</td>
    <td><select name=pmsvx010 tabindex=4>
        <option value="0">No</option>
        <option value="1" selected>Yes</option>
        </select></td>
    <td class=DataLabel>Referral Originator</td>
    <td><input type=text size=32 maxlength=30 name=alref153 id=alref153 tabindex=21
         value="%ALLWEB02.02.199.028" title="Referral Originator"></td>
    </tr>

<tr><td class=DataLabel width=10%>Referring HCP</td>
   <td width=40%><input type=text name=alref022 id=alref022 size=10 maxlength=10 tabindex=5
       value="%ALLWEB02.02.122.1" class=Mandatory title="Referring HCP"
       onchange="UpCase(this);
                 if (checkAlphanumDesc(event,this) != false) {
                   ReadDoc(18,0,alref022,n_alref022,alref023,n_alref023,
                           alref024,hcpprovno);
                 chkRefHCP();
                 }">
       <input type=text name=n_alref022 id=n_alref022 size=30 readonly title="HCP Name"
        class=Readonly value="%ALLWEB02.02.122.0">
       <img src="../images/SearchIcon.gif" class=Icon
      onclick="GPHCPSearchFrame(alref022,n_alref022,hcpprovno,alref023,n_alref023,alref024,0);">
       <img src="../images/ClearIcon.gif" class=Icon
        onclick='clrFields(UpdateForm.alref022,UpdateForm.n_alref022,UpdateForm.hcpprovno);'>
<!-- 01 : CTAS : icon to populate referring HCP with patient's GP -->
<!-- 04 : DXC : Fixed icon to populate GP and practice correctly -->
<!-- 06 : DXC : changed to call setRefDets function -->
          <img src="../images/gp.jpg" class=Icon 
			 onclick="setRefDets();
					  getPMILocalGP(document.UpdateForm.urnumber,
									document.UpdateForm.alref022,
									document.UpdateForm.n_alref022,
									document.UpdateForm.alref023,
									document.UpdateForm.alref024,
									document.UpdateForm.n_alref023);">
<!-- end of change -->		
    </td>
    <td class=DataLabel>Retain as Usual GP?</td>
    <td><input type=checkbox value="0" name=rusualgp tabindex=22
        title="Retain as Usual GP" onclick="UpdateGP();"></td>
    </tr>

<tr><td class=DataLabel>HCP Practice</td>
    <td><input type=text size=10 class=readonly value="%ALLWEB02.02.123.0"
         title="HCP Practice" readonly notab name=alref023 id="alref023">
        <input type=text size=30 class=readonly value="%ALLWEB02.02.123.1"
         title="Practice Name" readonly notab name=n_alref023 id="n_alref023">
        <img src="../images/SearchIcon.gif" class=Icon
         onClick="GPHCGSearchFrame(alref022,n_alref022,hcpprovno,alref023,n_alref023,alref024)">
        <img src="../images/ClearIcon.gif" class=Icon onClick="clrFields(alref023,n_alref023,alref024,hcpprovno);">
		<input type=hidden name=alref024 id=alref024
         title="Practice Count" value="%ALLWEB02.02.124">
    </td>
	<!-- 01 : CTAS : Module-wide customisations, move Primary tickbox -->
        <!-- 15 : CTAS : Change comments field to accommodate eReferrals -->
    <td class=DataLabel id=lblComments>Comments</td>
                <td><input type=text size=42 maxlength=60 name=alref089 value="%ALLWEB02.02.150"
                 tabindex=23>
                <input type=checkbox style="display:none"
                id=chkEReferral value="%ALLWEB02.02.142" name=d_alref081>
                <label style="display:none" id=lblEReferral for="chkEReferral">Is eReferral?</label></td>
        <!-- end of change -->
</tr>
<!-- 01 : CTAS : remove
<tr><td class=DataLabel>%STANDARD.01.017.RI</td>
    <td><select name=alref124 title="STANDARD.01.017.RI" tabindex=6
         class=Mandatory>
        <option></option>
         ALLWEB02.02.186.2
        </select>
    </td>
    <td class=DataLabel>Reason for Referral</td>
    <td><input type=text size=42 maxlength=60 name=alref088
         value="ALLWEB02.02.149" tabindex=25></td>
    </tr>
end of change -->
<!-- 01 : CTAS : Add Referrer Priority -->
<tr>
	<td class=DataLabel>%ALLWEB02.02.140.36.8</td>
	<td class=DataField>
		<select class="SelectBig" tabindex=6
		 name=alref075 title="%ALLWEB02.02.140.36.8" >
				<option></option>
				%ALLWEB02.02.140.36.2
		</select>
	</td>
	<td colspan=2></td>
</tr>
<!-- end of change -->
<!-- 01 : CTAS : rename Problem 1 to Referral Reason 1-->
<!-- 08 : TAS : Make Referral reason non-mandatory -->
<tr><td class=DataLabel>Referral Reason 1</td>
	<td><select title="Referral Reason 1" name=alref028 tabindex=7
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.128.2
        </select></td>
<!-- end of change -->		
    <td class=DataLabel>Procedure 1</td>
    <td><input type=text name=alref171 title="Procedure 1" size=12 tabindex=31
          value="%ALLWEB02.02.199.050.1" maxlength=9
          onblur="validateAHProc(deptcode,alref171,d_alref171);">
         <input type=text name=d_alref171 title="Procedure 1" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.050.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref171,d_alref171);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref171,d_alref171);"></td>
    </tr>

<!-- 01 : CTAS : remove
<tr><td class=DataLabel>Problem 2</td>
    <td><select title="Problem 2" name=alref029 tabindex=8
         class="SelectBig">
        <option></option>
         ALLWEB02.02.129.2
        </select></td>
    <td class=DataLabel>Procedure 2</td>
    <td><input type=text name=alref172 title="Procedure 2" size=12 tabindex=32
          value="ALLWEB02.02.199.051.1" maxlength=9
          onblur="validateAHProc(deptcode,alref172,d_alref172);">
         <input type=text name=d_alref172 title="Procedure 2" size=20
          class=Readonly readonly notab value="ALLWEB02.02.199.051.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref172,d_alref172);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref172,d_alref172);"></td>
    </tr>

<tr><td class=DataLabel>Problem 3</td>
    <td><select title="Problem 3" name=alref030 tabindex=9
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.130.2
        </select></td>
     <td class=DataLabel>Procedure 3</td>
     <td><input type=text name=alref173 title="Procedure 3" size=12 tabindex=33
          value="ALLWEB02.02.199.052.1" maxlength=9
          onblur="validateAHProc(deptcode,alref173,d_alref173);">
         <input type=text name=d_alref173 title="Procedure 3" size=20
          class=Readonly readonly notab value="ALLWEB02.02.199.052.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref173,d_alref173);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref173,d_alref173);"></td>
    </tr>
end of change -->
<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select title="%STANDARD.01.017.CL" name=alref035 tabindex=10
         class="Mandatory SelectBig" onchange="showACC(UpdateForm);">
        <option></option>
         %ALLWEB02.02.135.2
        </select></td>
<!-- 01 : CTAS : Remove
     <td class=DataLabel>Procedure 4</td>
     <td><input type=text name=alref174 title="Procedure 4" size=12 tabindex=34
          value="ALLWEB02.02.199.053.1" maxlength=9
          onblur="validateAHProc(deptcode,alref174,d_alref174);">
         <input type=text name=d_alref174 title="Procedure 4" size=20
          class=Readonly readonly notab value="ALLWEB02.02.199.053.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref174,d_alref174);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref174,d_alref174);"></td>
end of change -->
    </tr>

<tr><td><div id=ACCHeading></div></td>
    <td><div id=ACCId></div></tr>

<tr><td class=DataLabel>%ALLWEB02.02.199.011.8  </td>
	<!-- 01 : CTAS : Module-wide Customisations, Health Purchaser Mandatory -->
	<td><select title="%ALLWEB02.02.199.011.8" name=alref140 tabindex=11
         class="SelectBig Mandatory">
	<!-- end of change -->
        <option></option>
         %ALLWEB02.02.199.011.2
        </select></td>
<!-- 01 : CTAS : Remove
     <td class=DataLabel>Procedure 5</td>
     <td><input type=text name=alref175 title="Procedure 5" size=12 tabindex=35
          value="ALLWEB02.02.199.054.1" maxlength=9
          onblur="validateAHProc(deptcode,alref175,d_alref175);">
         <input type=text name=d_alref175 title="Procedure 5" size=20
          class=Readonly readonly notab value="ALLWEB02.02.199.054.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref175,d_alref175);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref175,d_alref175);"></td>
end of change -->    
	</tr>
<!-- 01 : CTAS : Remove
<tr><td class=DataLabel>Score</td>
    <td><input type=text name=alref143 title="Score" size=5 maxlength=5
         value="ALLWEB02.02.199.014" tabindex=12></td>
    <td class=DataLabel></td>
    <td></td>
    </tr>
end of change --> 
<tr><td class=DataLabel>%ALLWEB02.02.199.013.8</td>
    <td><select title="%ALLWEB02.02.199.013.8" name=alref142 id=alref142 tabindex=13
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.526
        </select></td>
	<!-- 01 : CTAS : Add DHB of Origin Cat la -->
	<td class=DataLabel>%ALLWEB02.02.140.01.8</td>
    <td>
		<select title="%ALLWEB02.02.140.01.8" name=alref040 tabindex=32
         class="SelectBig">
        <option></option>
        %ALLWEB02.02.140.01.2
        </select>
	</td>
	<!-- end of change -->
    </tr>

<tr><td colspan=4><hr></td></tr>

<tr>
  <td class=DataLabel>Preferred Hospital</td>
  <td>
	<!-- 01 : CTAS : don't call OOA	-->
	 <select name=alref107 id=alref107 title="Preferred Hospital"
            class=Mandatory tabindex=49>
	<!-- end of change -->
    <option></option>
    %ALLWEB02.02.170.2
    </select>
  </td>
  <!-- 01 : CTAS : Move priority hereDR # 17,27,28,29
					make Priority mandatory
  -->
  <td class=DataLabel>Priority</td>
  <td><select title="Priority" name=alref027 class="SelectBig Mandatory" tabindex=70
       onchange="selectCatCodInd(catAO,alref141,d_alref141,alref027,'1','1');ChkPriorityRef();">
        <option></option>
        %ALLWEB02.02.127.2
        </select></td>
    </tr>
  <!-- end of change -->

<tr><td class=DataLabel>Preferred Site</td>
    <td class=DataField><select name=alref119 title="Preferred Site"
      tabindex=50 class="SelectBig" onchange="SetList();">
      <option></option>
      %ALLWEB02.02.182.2
    </select>
    </td>
	<!-- 01 : CTAS : Move priority up, move date of priority here -->
	<td>Date of Priority</td>
    <td><input type=text name=alref127 size=12 tabindex=71
         onblur="checkDate(this,'Date')" value="%ALLWEB02.02.194"
         title="Date of Priority"  class="PastDate">
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref127 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref127></td>
	<!-- end of change -->
    </tr>

<tr><td class=DataLabel>Clinic Type </td>
	<td><select name=alref106 maxlength=45 tabindex=51
         class="SelectBig Mandatory" title="Clinic Type" onchange="SetList2();">
        <option></option>
        </select></td> 
	<td>Must Be Seen By Date</td>
    <td><input type=text name=alref126 size=12 tabindex=72
         onblur="checkDate(this,'Date')" value="%ALLWEB02.02.189"
         title="Must Be Seen By Date">
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref126 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref126></td>
    </tr>
<!-- 02 : DXC : Clinic ID mandatory -->
<tr><td class=DataLabel>Clinic ID</td>
    <td><select name=alref120 title="Clinic ID" class="SelectBig Mandatory" tabindex=52>
        <option></option>
        </select></td>
<!-- end of change -->
<!-- 01 : CTAS : Rename Next Review Date -->
	<td>MDT Review Date</td>
	<td><input type=text name=alref037 size=12 tabindex=83
                 onblur="checkDate(this,'Date');" value="%ALLWEB02.02.137"
                 title="MDT Review Date">
            <img src="../images/DateTimeStamp.gif" class=Icon alt="Current"
                 date=UpdateForm.alref037 time=null>
             <img src="../images/DateLookup.gif" class=Icon alt="Show Calendar"
                 date=UpdateForm.alref037></td>
<!-- end of change -->
    </tr>
	
<tr><td class=DataLabel width=10%></td>
    <td></td>
    <td class=DataLabel>Prioritising HCP</td>
    <td nowrap><input type=text name=alref084 size=10 maxlength=10
         value="%ALLWEB02.02.145.1" tabindex=84 title="Prioritising HCP"
         onblur="UpCase(this);
                 if (checkAlphanumDesc(event,this) != false) {
                   ValidateHCP(18,14,alref084,n_alref084);
                 }">
        <input type=text name=n_alref084 size=30 readonly notab
         title="Prioritising HCP" class=Readonly value="%ALLWEB02.02.145.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(UpdateForm.alref084,UpdateForm.n_alref084,1);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref084,n_alref084);">
        </td>
    </tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type=text name=alref038 size=10 maxlength=10
         value="%ALLWEB02.02.138.1" class=Mandatory tabindex=54 
		 title="Responsible HCP" id=alref038
          onblur="UpCase(this);
                  if (checkAlphanumDesc(event,this) != false) {
                    ValidateHCP(18,14,alref038,n_alref038);
                  }"
          onchange="getCaseTeamByHCP(alref038,alref087,n_alref087,d_alref019);">
        <input type=text name=n_alref038 size=30 readonly title="HCP Name"
         value="%ALLWEB02.02.138.0" class=Readonly id=n_alref038>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="hcpOnChange(alref038,n_alref038,alref087,n_alref087,d_alref019);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref038,n_alref038);">
        </td>
    <td class=DataLabel>%ALLWEB02.02.199.012.8</td>
    <td><select title="%ALLWEB02.02.199.012.8" name=alref141 tabindex=85
         class="SelectBig">
        <option></option>
        </select></td>
    </tr>
<!-- 09 : TAS : Make case team mandatory -->
<!-- 11 Fix Case team search merging
      onchange="if (checkAlphanumDesc(event,this) != false) {
                    validateCaseTeam(alref087,n_alref087);
                  }" tabindex=55> -->
<tr><td class=DataLabel>Case Team</td>
    <td><input type=text name=alref087 size=10 maxlength=10 title="Case Team"
		value="%ALLWEB02.02.148.1" class=Mandatory
        onblur="validateCode2(7,alref087,n_alref087)"
        onchange="if (checkAlphanumDesc(event,this) != false) {
        getHCPbyCaseTeam(alref087,alref038,n_alref038,d_alref019);}" tabindex=55 id=alref087>
       <input type=text name=n_alref087 size=30 readonly
	   value="%ALLWEB02.02.148.0" id=n_alref087
        class=Readonly tabindex=-1 title="Team Description">
       <img src="../images/SearchIcon.gif" class=Icon
        onclick="caseTeamOnChange(alref087,n_alref087,alref038,n_alref038,alref019);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref087,n_alref087);">
       </td>
<!-- 01 : CTAS : Moved -->
	<td class=DataLabel>
    <script type="text/javascript">MRDescription()</script>
    </td>
    <td><input type=text name=d_alref083 size=3 readonly class=Readonly
         value="%ALLWEB02.02.144" tabindex=-1></td>
    </tr>
<!-- end of change -->
<tr>

<tr><td class=DataLabel width=15%>Additional HCP</td>
    <td><input type=checkbox name=addithcp value="1"
         onclick="CheckAddHCP();"></td>
	<!-- 01 : CTAS : move Activate Referral -->
	<td colspan=2>
    <div id=InsertActive style="display:none;">
    <table align=center cellspacing=0 cellpadding=0 border=0 width=100%>
    <td class=DataLabel width=25%>Activate Referral</td>
    <td><input type=checkbox name=activref tabindex=75
         title="Activate Referral" value="1">
      </td>
    </table>
    </div></td>
	<!-- end of change -->
	</tr>

 <tr><td class=DataLabel><div id=AdditionalHCP1H></div></td>
        <td><div id=AdditionalHCP1F></div></td>
        <td class=DataLabel><div id=AdditionalHCP2H></div></td>
        <td><div id=AdditionalHCP2F></div></td></tr>

  <tr><td class=DataLabel><div id=AdditionalHCP3H></div></td>
      <td><div id=AdditionalHCP3F></div></td>
      <td class=DataLabel><div id=AdditionalHCP4H></div></td>
      <td><div id=AdditionalHCP4F></div></td></tr>
  <tr>
      <td class=DataLabel width=15% id=DHBtitl><div id=DHBtitleDIV></div></td>
      <td class=DataField id=DHBcode><div id=DHBcodeDIV></div></td>
  </tr>
  <tr>
      <td class=DataLabel><div id=outofareatitleDIV></div></td>
      <td><div id=outofareacodeDIV></div></td>
  </tr>

<tr><td class=DataLabel colspan=2>Print Update Referral Letter to Patient &nbsp;&nbsp;
      <input type=checkbox name=prtupdpt
       title="Upd Referral to pat" value="1" tabindex=90>
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl03 tabindex=91>
      %STANDARD.01.001.ALLUPDPT.01
      </select></td></tr>
<tr><td class=DataLabel colspan=2>Print Update Referral Letter to Referrer
      <input type=checkbox name=prtupdrf tabindex=92
       title="Upd Referral to pat" value="1">
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl04 tabindex=93>
      %STANDARD.01.001.ALLUPDRF.01
      </select></td></tr>
<tr><td class=DataLabel colspan=2>Referral Labels
    <input type=checkbox value="1" name=prtreflb width=30% tabindex=94
        onclick="SetPrinter(UpdateForm.prtpno07,UpdateForm.prtpsl07);">
    Copies
    <select name=prtpno07 width=20% tabindex=95>
        %STANDARD.01.027.2.1
    </select></td>

  <td class=DataLabel>Printer</td>
    <td><select class="SelectBig" name=prtpsl07 title="Printer" width=15%
         tabindex=96>
        <option></option>
        %STANDARD.01.001.LABELALL.01
        </select></td></tr>
</table>

<table align=center cellspacing=0 cellpadding=0 border=0 width=95%>
<tr><td colspan=4 align=center><br>
<!-- 07: TAS : 23-01-2018 : Apply change for task 0849246 -->
<!--
    <input type=button name=formactn value="OK" class="button" tabindex=100
     onclick="tempDisable(this);UpdReferral(UpdateForm)";>
    <input type=button Value="Close" class="button" tabindex=101
     onClick="DFrameClose();">
-->
    <input type=button name=btnOk id=btnOk value="OK" class="button"
     tabindex=100 onclick="tempDisable(this);UpdReferral(UpdateForm)";>
<!-- 10 : TAS : add Appointment request button -->
	<input type=button value="Appt Request" class="button" tabindex=72
	name=linkbutt onClick="addApptreq();">
<!-- end of change -->
    <input type=button Value="Close" class="button" tabindex=101
     onclick="DFrameClose();">
    </td></tr>
</table>
</form>

<script type="text/javascript">
//
  var UF = document.UpdateForm;

  if ("%ALLWEB02.02.103" == "Waiting   ") {
  InsertActive.style.display='';
}
  else {
  InsertActive.style.display='none'; }
//
 BulkBill="%ALLWEB02.02.136";
 if ( BulkBill == "Yes") {
   document.UpdateForm.alref036.checked=1;
 }
//
 SACSRef="%ALLWEB02.02.144";
 if ( SACSRef == "Yes") {
   document.UpdateForm.alref083.value=1;
 }

  for(var i=0;i<document.UpdateForm.pmsvx010.length;i++){
      if(document.UpdateForm.pmsvx010.options[i].value=="%ALLWEB02.02.325.0"){
         document.UpdateForm.pmsvx010.selectedIndex=i;
      }
  }

  for(var i=0;i<UpdateForm.alref142.length;i++){
      if(UpdateForm.alref142.options[i].value=="%ALLWEB02.02.527"){
         UpdateForm.alref142.selectedIndex=i;
      }
  }
//<!-- 15 : CTAS : Set 'Comments' label to 'eReferral ID for WhDHB users. -->
var userHosp = GetCookieData("IBAUserHosp");
if (userHosp == "WHN" || userHosp == "MHW"){
                document.getElementById("lblComments").innerHTML = "eReferral ID";
                }
</script>

<span id=transferhd style="display:none">
<td class=DataLabel>Transfer Source</td>
</tr>
</span>

<span id=transfersrc style="display:none">
  <td>
    <input type="text" size=7 maxlength=5 name=aldad001 id="aldad001" class=Mandatory
     title="Transfer Source" tabindex=5 value="%ALLWEB02.02.510.0"
     onchange="validateTransferSource(9,aldad001,trandesc,alref034);">
    <input type=text size=27 name=trandesc id="trandesc" notab value="%ALLWEB02.02.510.1"
     class=Readonly readonly>
    <img src="../images/SearchIcon.gif" class=Icon
   onClick="TransferSourceFrameCategory(aldad001,trandesc,alref034,d_ostcatg);">
  </td>
</tr>
</span>

<span id=transferblank style="display:none">
   <input type=hidden name=aldad001>
</span>

<span id="Blank" style="display:none;"></span>
<span id="BlankAdditionalHCP1F" style="display:none;">
  <input type=hidden name=alref085 value="">
</span>

<span id="BlankAdditionalHCP2F" style="display:none;">
  <input type=hidden name=alref086 value="">
</span>

<span id="BlankAdditionalHCP3F" style="display:none;">
  <input type=hidden name=alref166 value="">
</span>

<span id="BlankAdditionalHCP4F" style="display:none;">
  <input type=hidden name=alref167 value="">
</span>

<span id="ShowAdditionalHCP1H" style="display:none;">Additional HCP 1</span>

<span id="ShowAdditionalHCP1F" style="display:none;">
  <input type=text name=alref085 size=10 maxlength=10
         title="Additional HCP 1" tabindex=58 value="%ALLWEB02.02.146.1"
         onblur="ValidateHCP(18,0,alref085,d_alref085);">
  <input type=text name=d_alref085 size=30 class=Readonly readonly
         title="Additional HCP 1" value="%ALLWEB02.02.146.0">
    <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(alref085,d_alref085,0);">
    <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref085,d_alref085);">
</span>

<span id="ShowAdditionalHCP2H" style="display:none;">Additional HCP 2</span>

<span id="ShowAdditionalHCP2F" style="display:none;">
  <input type=text name=alref086 size=10 maxlength=10
         title="Additional HCP 2" tabindex=88 value="%ALLWEB02.02.147.1"
         onblur="ValidateHCP(18,0,alref086,d_alref086);">
  <input type=text name=d_alref086 size=30 class=Readonly readonly
         title="Additional HCP 2" value="%ALLWEB02.02.147.0">
    <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(alref086,d_alref086,0);">
    <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref086,d_alref086);">
</span>

<span id="ShowAdditionalHCP3H" style="display:none;">Additional HCP 3</span>

<span id="ShowAdditionalHCP3F" style="display:none;">
  <input type=text name=alref166 size=10 maxlength=10
         title="Additional HCP 3" tabindex=59 value="%ALLWEB02.02.199.042.1"
         onblur="ValidateHCP(18,0,alref166,d_alref166);">
  <input type=text name=d_alref166 size=30 class=Readonly readonly
         title="Additional HCP 3" value="%ALLWEB02.02.199.042.0">
    <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alref166,d_alref166,0);">
    <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref166,d_alref166);">
</span>

<span id="ShowAdditionalHCP4H" style="display:none;">Additional HCP 4</span>

<span id="ShowAdditionalHCP4F" style="display:none;">
  <input type=text name=alref167 size=10 maxlength=10
         title="Additional HCP 4" tabindex=89 value="%ALLWEB02.02.199.043.1"
         onblur="ValidateHCP(18,0,alref167,d_alref167);">
  <input type=text name=d_alref167 size=30 class=Readonly readonly
         title="Additional HCP 4" value="%ALLWEB02.02.199.043.0">
    <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alref167,d_alref167,0);">
    <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref167,d_alref167);">
</span>
<span id=DHBtitleSPAN style="display:none">
Patient's DHB
</span>

<span id=DHBcodeSPAN style="display:none">
%ALLWEB02.02.070.024
</span>

<span id=outofareatitleSPAN style="display:none">
%STANDARD.01.017.ly
</span>

<span id=outofareacodeBLANK style="display:none">
  <input type=hidden name=alref064 value="">
</span>

<span id=outofareacodeSPAN style="display:none">
  <input type=hidden name=alref064 value="">
</span>

<span id=blanklabel style="display:none">
</span>
<span id=acchd style="display:none">
ACC Purchase Order Number
</span>

<span id=accorderid style="display:none">
  <input type=text name=accpordn id=accpordn title="ACC Purchase Order Number"
   tabindex=10 value="%ALLWEB02.02.274" maxlength=20 size=25>
</span>
<script type="text/javascript">
//15 : TAS : Display eReferral fields for WhDHB users.
var userHosp = GetCookieData("IBAUserHosp");
if (userHosp == "WHN" || userHosp == "MHW"){
                document.getElementById("lblComments").innerHTML = "eReferral ID";
                document.getElementById("lblEReferral").style.display = '';
                document.getElementById("chkEReferral").style.display = '';
} else{
                document.getElementById("chkEReferral").disabled = true;
}
</script>
