Content-Type: text/html
Cache-Control: no-cache

<!DOCTYPE html>
%START.OF.PAGE
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="ServerID" content="%STANDARD.01.004">
<meta name="ServerName" content="%STANDARD.01.005">
<meta name="ServerVersion" content="%STANDARD.01.006">
<meta name="ServerOption" content="%STANDARD.01.002">
<meta name="ServerTemplate" content="%STANDARD.01.003">
<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src=../js/ctas_HONOSGraph.js></script>
<script type="text/javascript" src=../js/ctas-graph.js></script>
<link rel="stylesheet" href="../html/standard.css" type="text/css">
<link rel="stylesheet" href="../html/custom.css" type="text/css">
<title>Assessment Graphs</title>
</head>

<body onload="MultipleGraphChild();SummaryMultipleGraph();">
<h3 style='text-align:center;width:100%'>Assessment Graphs : Child &amp; Youth</h3>

<form name=UpdateForm method=post action=allweb06.pbl>
<input type=hidden name=urnumber value="%ALLWEB06.04.003">
<input type=hidden name=admissno value="%ALLWEB06.04.081">
<input type=hidden name=mhhon001 value="%ALLWEB06.04.101">
<input type=hidden name=reportno value=4>
<input type=hidden name=template value="008">
<input type=hidden name=updttype value=" ">
<table border=0 width=100%>
  <tr><td class=DataField>%ALLWEB06.04.002</td>
      <td class=DataField>NHI: %ALLWEB06.04.003</td>
      <td class=DataField>Date of Birth: %ALLWEB06.04.020</td>

<tr><td class=DataLabel>Responsible HCP</td>
    <td class=DataField>%ALLWEB06.04.109.1</td></tr>
<tr><td class=DataLabel> Case Team </td>
    <td class=DataField>%ALLWEB06.04.110.1 </td><tr>
</table>
<div id=HONOSMultipleGraph>
	<div id=ChildGraph></div>
	<br/>
	<div id=SummaryGraph></div>
</div>
<table width=100%>
  <tr>
    <td colspan=4 align=center>
      <br/>
      <input type=button value=Print class="button" onclick="window.print()">
      <input type=button value=Close class="button" onclick="window.close()">
	  <br/>
	  <br/>
    </td>
  </tr>  
<input type=hidden name=d_dataset0 value="%ALLWEB06.04.187">
  <tr><td class=DataLabel>%STANDARD.01.017.ss</td>
    <td class=DataField>%ALLWEB06.04.107.0</td>
    <td class=DataLabel>%STANDARD.01.017.hf</td>
    <td class=DataField>%ALLWEB06.04.122.0</td>
    <tr><td class=DataLabel >Collection Date </td>
    <td class=DataField>%ALLWEB06.04.106 </td>
    <td class=DataLabel >Question 8A (if Applicable)</td>
    <td class=DataField>%ALLWEB06.04.139.0 </td></tr>
    <tr><td class=DataLabel>%STANDARD.01.017.hp</td>
    <td class=DataField>%ALLWEB06.04.108.0</td>
    <td class=DataLabel>Total Score</td>
    <td class=DataField>%ALLWEB06.04.191.2</td></tr>
   <tr align=left><td align=center colspan="4"><hr></td></tr>
</form>
<form name=GraphValues method=get>
   <input type=hidden name=dataset0 value="%ALLWEB06.04.187">
   <input type=hidden name=mhhon006 id=mhhon006 value="%ALLWEB06.04.106">
   <input type=hidden name=mhhon031 id=mhhon031 value="%ALLWEB06.04.131.0">
   <input type=hidden name=mhhon032 id=mhhon032 value="%ALLWEB06.04.132.0">
   <input type=hidden name=mhhon033 id=mhhon033 value="%ALLWEB06.04.133.0">
   <input type=hidden name=mhhon034 id=mhhon034 value="%ALLWEB06.04.134.0">
   <input type=hidden name=mhhon035 id=mhhon035 value="%ALLWEB06.04.135.0">
   <input type=hidden name=mhhon036 id=mhhon036 value="%ALLWEB06.04.136.0">
   <input type=hidden name=mhhon037 id=mhhon037 value="%ALLWEB06.04.137.0">
   <input type=hidden name=mhhon038 id=mhhon038 value="%ALLWEB06.04.138.0">
   <input type=hidden name=mhhon041 id=mhhon041 value="%ALLWEB06.04.141.0">
   <input type=hidden name=mhhon042 id=mhhon042 value="%ALLWEB06.04.142.0">
   <input type=hidden name=mhhon043 id=mhhon043 value="%ALLWEB06.04.143.0">
   <input type=hidden name=mhhon044 id=mhhon044 value="%ALLWEB06.04.144.0">

   <input type=hidden name=mhhon045 id=mhhon045 value="%ALLWEB06.04.145.0">
   <input type=hidden name=mhhon046 id=mhhon046 value="%ALLWEB06.04.146.0">
   <input type=hidden name=mhhon047 id=mhhon047 value="%ALLWEB06.04.147.0">
   <input type=hidden name=mhhon048 id=mhhon048 value="%ALLWEB06.04.148.0">
   <input type=hidden name=mhhon049 id=mhhon049 value="%ALLWEB06.04.149.0">
   <input type=hidden name=mhhon050 id=mhhon050 value="%ALLWEB06.04.150.0">
   <input type=hidden name=mhhon051 id=mhhon051 value="%ALLWEB06.04.151.0">
   <input type=hidden name=mhhon052 id=mhhon052 value="%ALLWEB06.04.152.0">
   <input type=hidden name=mhhon053 id=mhhon053 value="%ALLWEB06.04.153.0">
   <input type=hidden name=mhhon054 id=mhhon054 value="%ALLWEB06.04.154.0">
   <input type=hidden name=mhhon055 id=mhhon055 value="%ALLWEB06.04.155.0">
   <input type=hidden name=mhhon056 id=mhhon056 value="%ALLWEB06.04.156.0">
   <input type=hidden name=mhhon057 id=mhhon057 value="%ALLWEB06.04.157.0">
   <input type=hidden name=mhhon058 id=mhhon058 value="%ALLWEB06.04.158.0">
   <input type=hidden name=mhhon059 id=mhhon059 value="%ALLWEB06.04.159.0">

   <input type=hidden name=mhhon060 id=mhhon060 value="%ALLWEB06.04.160">
   <input type=hidden name=mhhon061 id=mhhon061 value="%ALLWEB06.04.161">
   <input type=hidden name=mhhon062 id=mhhon062 value="%ALLWEB06.04.162">
   <input type=hidden name=mhhon063 id=mhhon063 value="%ALLWEB06.04.163">
   <input type=hidden name=mhhon064 id=mhhon064 value="%ALLWEB06.04.164">
   <input type=hidden name=mhhon065 id=mhhon065 value="%ALLWEB06.04.165">
   <input type=hidden name=mhhon066 id=mhhon066 value="%ALLWEB06.04.166">
   <input type=hidden name=mhhon067 id=mhhon067 value="%ALLWEB06.04.167">
   <input type=hidden name=mhhon068 id=mhhon068 value="%ALLWEB06.04.168">
   <input type=hidden name=mhhon069 id=mhhon069 value="%ALLWEB06.04.169">
   <input type=hidden name=mhhon070 id=mhhon070 value="%ALLWEB06.04.170">
   <input type=hidden name=mhhon071 id=mhhon071 value="%ALLWEB06.04.171">
   <input type=hidden name=mhhon072 id=mhhon072 value="%ALLWEB06.04.172">
   <input type=hidden name=mhhon073 id=mhhon073 value="%ALLWEB06.04.173">
   <input type=hidden name=mhhon074 id=mhhon074 value="%ALLWEB06.04.174">
   <input type=hidden name=mhhon075 id=mhhon075 value="%ALLWEB06.04.175">
   <input type=hidden name=mhhon076 id=mhhon076 value="%ALLWEB06.04.176">
   <input type=hidden name=mhhon077 id=mhhon077 value="%ALLWEB06.04.177">

   <input type=hidden name=dataset1 value="%ALLWEB06.04.188">
  <tr><td class=DataLabel>%STANDARD.01.017.ss</td>
    <td class=DataField>%ALLWEB06.04.107.0</td>
    <td class=DataLabel>%STANDARD.01.017.hf</td>
    <td class=DataField>%ALLWEB06.04.122.0</td>
    <tr><td class=DataLabel >Collection Date </td>
    <td class=DataField>%ALLWEB06.04.106 </td>
    <td class=DataLabel >Question 8A (if Applicable)</td>
    <td class=DataField>%ALLWEB06.04.139.0 </td></tr>
    <tr><td class=DataLabel>%STANDARD.01.017.hp</td>
    <td class=DataField>%ALLWEB06.04.108.0</td>
    <td class=DataLabel>Total Score</td>
    <td class=DataField>%ALLWEB06.04.191.2</td></tr>
   <tr align=left><td align=center colspan="4"><hr></td></tr>
   <input type=hidden name=mhhon006b id =mhhon006b value="%ALLWEB06.04.106">
   <input type=hidden name=mhhon031b id=mhhon031b value="%ALLWEB06.04.131.0">
   <input type=hidden name=mhhon032b id=mhhon032b value="%ALLWEB06.04.132.0">
   <input type=hidden name=mhhon033b id=mhhon033b value="%ALLWEB06.04.133.0">
   <input type=hidden name=mhhon034b id=mhhon034b value="%ALLWEB06.04.134.0">
   <input type=hidden name=mhhon035b id=mhhon035b value="%ALLWEB06.04.135.0">
   <input type=hidden name=mhhon036b id=mhhon036b value="%ALLWEB06.04.136.0">
   <input type=hidden name=mhhon037b id=mhhon037b value="%ALLWEB06.04.137.0">
   <input type=hidden name=mhhon038b id=mhhon038b value="%ALLWEB06.04.138.0">
   <input type=hidden name=mhhon041b id=mhhon041b value="%ALLWEB06.04.141.0">
   <input type=hidden name=mhhon042b id=mhhon042b value="%ALLWEB06.04.142.0">
   <input type=hidden name=mhhon043b id=mhhon043b value="%ALLWEB06.04.143.0">
   <input type=hidden name=mhhon044b id=mhhon044b value="%ALLWEB06.04.144.0">

   <input type=hidden name=mhhon045b id=mhhon045b value="%ALLWEB06.04.145.0">
   <input type=hidden name=mhhon046b id=mhhon046b value="%ALLWEB06.04.146.0">
   <input type=hidden name=mhhon047b id=mhhon047b value="%ALLWEB06.04.147.0">
   <input type=hidden name=mhhon048b id=mhhon048b value="%ALLWEB06.04.148.0">
   <input type=hidden name=mhhon049b id=mhhon049b value="%ALLWEB06.04.149.0">
   <input type=hidden name=mhhon050b id=mhhon050b value="%ALLWEB06.04.150.0">
   <input type=hidden name=mhhon051b id=mhhon051b value="%ALLWEB06.04.151.0">
   <input type=hidden name=mhhon052b id=mhhon052b value="%ALLWEB06.04.152.0">
   <input type=hidden name=mhhon053b id=mhhon053b value="%ALLWEB06.04.153.0">
   <input type=hidden name=mhhon054b id=mhhon054b value="%ALLWEB06.04.154.0">
   <input type=hidden name=mhhon055b id=mhhon055b value="%ALLWEB06.04.155.0">
   <input type=hidden name=mhhon056b id=mhhon056b value="%ALLWEB06.04.156.0">
   <input type=hidden name=mhhon057b id=mhhon057b value="%ALLWEB06.04.157.0">
   <input type=hidden name=mhhon058b id=mhhon058b value="%ALLWEB06.04.158.0">
   <input type=hidden name=mhhon059b id=mhhon059b value="%ALLWEB06.04.159.0">

   <input type=hidden name=mhhon060b id=mhhon060b value="%ALLWEB06.04.160">
   <input type=hidden name=mhhon061b id=mhhon061b value="%ALLWEB06.04.161">
   <input type=hidden name=mhhon062b id=mhhon062b value="%ALLWEB06.04.162">
   <input type=hidden name=mhhon063b id=mhhon063b value="%ALLWEB06.04.163">
   <input type=hidden name=mhhon064b id=mhhon064b value="%ALLWEB06.04.164">
   <input type=hidden name=mhhon065b id=mhhon065b value="%ALLWEB06.04.165">
   <input type=hidden name=mhhon066b id=mhhon066b value="%ALLWEB06.04.166">
   <input type=hidden name=mhhon067b id=mhhon067b value="%ALLWEB06.04.167">
   <input type=hidden name=mhhon068b id=mhhon068b value="%ALLWEB06.04.168">
   <input type=hidden name=mhhon069b id=mhhon069b value="%ALLWEB06.04.169">
   <input type=hidden name=mhhon070b id=mhhon070b value="%ALLWEB06.04.170">
   <input type=hidden name=mhhon071b id=mhhon071b value="%ALLWEB06.04.171">
   <input type=hidden name=mhhon072b id=mhhon072b value="%ALLWEB06.04.172">
   <input type=hidden name=mhhon073b id=mhhon073b value="%ALLWEB06.04.173">
   <input type=hidden name=mhhon074b id=mhhon074b value="%ALLWEB06.04.174">
   <input type=hidden name=mhhon075b id=mhhon075b value="%ALLWEB06.04.175">
   <input type=hidden name=mhhon076b id=mhhon076b value="%ALLWEB06.04.176">
   <input type=hidden name=mhhon077b id=mhhon077b value="%ALLWEB06.04.177">

   <input type=hidden name=dataset2 value="%ALLWEB06.04.189">
  <tr><td class=DataLabel>%STANDARD.01.017.ss</td>
    <td class=DataField>%ALLWEB06.04.107.0</td>
    <td class=DataLabel>%STANDARD.01.017.hf</td>
    <td class=DataField>%ALLWEB06.04.122.0</td>
    <tr><td class=DataLabel >Collection Date </td>
    <td class=DataField>%ALLWEB06.04.106 </td>
    <td class=DataLabel >Question 8A (if Applicable)</td>
    <td class=DataField>%ALLWEB06.04.139.0 </td></tr>
    <tr><td class=DataLabel>%STANDARD.01.017.hp</td>
    <td class=DataField>%ALLWEB06.04.108.0</td>
    <td class=DataLabel>Total Score</td>
    <td class=DataField>%ALLWEB06.04.191.2</td></tr>
   <tr align=left><td align=center colspan="4"><hr></td></tr>
   <input type=hidden name=mhhon006c id=mhhon006c value="%ALLWEB06.04.106">
   <input type=hidden name=mhhon031c id=mhhon031c value="%ALLWEB06.04.131.0">
   <input type=hidden name=mhhon032c id=mhhon032c value="%ALLWEB06.04.132.0">
   <input type=hidden name=mhhon033c id=mhhon033c value="%ALLWEB06.04.133.0">
   <input type=hidden name=mhhon034c id=mhhon034c value="%ALLWEB06.04.134.0">
   <input type=hidden name=mhhon035c id=mhhon035c value="%ALLWEB06.04.135.0">
   <input type=hidden name=mhhon036c id=mhhon036c value="%ALLWEB06.04.136.0">
   <input type=hidden name=mhhon037c id=mhhon037c value="%ALLWEB06.04.137.0">
   <input type=hidden name=mhhon038c id=mhhon038c value="%ALLWEB06.04.138.0">
   <input type=hidden name=mhhon041c id=mhhon041c value="%ALLWEB06.04.141.0">
   <input type=hidden name=mhhon042c id=mhhon042c value="%ALLWEB06.04.142.0">
   <input type=hidden name=mhhon043c id=mhhon043c value="%ALLWEB06.04.143.0">
   <input type=hidden name=mhhon044c id=mhhon044c value="%ALLWEB06.04.144.0">

   <input type=hidden name=mhhon045c id=mhhon045c value="%ALLWEB06.04.145.0">
   <input type=hidden name=mhhon046c id=mhhon046c value="%ALLWEB06.04.146.0">
   <input type=hidden name=mhhon047c id=mhhon047c value="%ALLWEB06.04.147.0">
   <input type=hidden name=mhhon048c id=mhhon048c value="%ALLWEB06.04.148.0">
   <input type=hidden name=mhhon049c id=mhhon049c value="%ALLWEB06.04.149.0">
   <input type=hidden name=mhhon050c id=mhhon050c value="%ALLWEB06.04.150.0">
   <input type=hidden name=mhhon051c id=mhhon051c value="%ALLWEB06.04.151.0">
   <input type=hidden name=mhhon052c id=mhhon052c value="%ALLWEB06.04.152.0">
   <input type=hidden name=mhhon053c id=mhhon053c value="%ALLWEB06.04.153.0">
   <input type=hidden name=mhhon054c id=mhhon054c value="%ALLWEB06.04.154.0">
   <input type=hidden name=mhhon055c id=mhhon055c value="%ALLWEB06.04.155.0">
   <input type=hidden name=mhhon056c id=mhhon056c value="%ALLWEB06.04.156.0">
   <input type=hidden name=mhhon057c id=mhhon057c value="%ALLWEB06.04.157.0">
   <input type=hidden name=mhhon058c id=mhhon058c value="%ALLWEB06.04.158.0">
   <input type=hidden name=mhhon059c id=mhhon059c value="%ALLWEB06.04.159.0">

   <input type=hidden name=mhhon060c id=mhhon060c value="%ALLWEB06.04.160">
   <input type=hidden name=mhhon061c id=mhhon061c value="%ALLWEB06.04.161">
   <input type=hidden name=mhhon062c id=mhhon062c value="%ALLWEB06.04.162">
   <input type=hidden name=mhhon063c id=mhhon063c value="%ALLWEB06.04.163">
   <input type=hidden name=mhhon064c id=mhhon064c value="%ALLWEB06.04.164">
   <input type=hidden name=mhhon065c id=mhhon065c value="%ALLWEB06.04.165">
   <input type=hidden name=mhhon066c id=mhhon066c value="%ALLWEB06.04.166">
   <input type=hidden name=mhhon067c id=mhhon067c value="%ALLWEB06.04.167">
   <input type=hidden name=mhhon068c id=mhhon068c value="%ALLWEB06.04.168">
   <input type=hidden name=mhhon069c id=mhhon069c value="%ALLWEB06.04.169">
   <input type=hidden name=mhhon070c id=mhhon070c value="%ALLWEB06.04.170">
   <input type=hidden name=mhhon071c id=mhhon071c value="%ALLWEB06.04.171">
   <input type=hidden name=mhhon072c id=mhhon072c value="%ALLWEB06.04.172">
   <input type=hidden name=mhhon073c id=mhhon073c value="%ALLWEB06.04.173">
   <input type=hidden name=mhhon074c id=mhhon074c value="%ALLWEB06.04.174">
   <input type=hidden name=mhhon075c id=mhhon075c value="%ALLWEB06.04.175">
   <input type=hidden name=mhhon076c id=mhhon076c value="%ALLWEB06.04.176">
   <input type=hidden name=mhhon077c id=mhhon077c value="%ALLWEB06.04.177">

   <input type=hidden name=dataset3 value="%ALLWEB06.04.193">
  <tr><td class=DataLabel>%STANDARD.01.017.ss</td>
    <td class=DataField>%ALLWEB06.04.107.0</td>
    <td class=DataLabel>%STANDARD.01.017.hf</td>
    <td class=DataField>%ALLWEB06.04.122.0</td>
    <tr><td class=DataLabel >Collection Date </td>
    <td class=DataField>%ALLWEB06.04.106 </td>
    <td class=DataLabel >Question 8A (if Applicable)</td>
    <td class=DataField>%ALLWEB06.04.139.0 </td></tr>
    <tr><td class=DataLabel>%STANDARD.01.017.hp</td>
    <td class=DataField>%ALLWEB06.04.108.0</td>
    <td class=DataLabel>Total Score</td>
    <td class=DataField>%ALLWEB06.04.191.2</td></tr>

   <tr align=left><td align=center colspan="4"><hr></td></tr>
   <input type=hidden name=mhhon006d id=mhhon006d value="%ALLWEB06.04.106">
   <input type=hidden name=mhhon031d id=mhhon031d value="%ALLWEB06.04.131.0">
   <input type=hidden name=mhhon032d id=mhhon032d value="%ALLWEB06.04.132.0">
   <input type=hidden name=mhhon033d id=mhhon033d value="%ALLWEB06.04.133.0">
   <input type=hidden name=mhhon034d id=mhhon034d value="%ALLWEB06.04.134.0">
   <input type=hidden name=mhhon035d id=mhhon035d value="%ALLWEB06.04.135.0">
   <input type=hidden name=mhhon036d id=mhhon036d value="%ALLWEB06.04.136.0">
   <input type=hidden name=mhhon037d id=mhhon037d value="%ALLWEB06.04.137.0">
   <input type=hidden name=mhhon038d id=mhhon038d value="%ALLWEB06.04.138.0">
   <input type=hidden name=mhhon041d id=mhhon041d value="%ALLWEB06.04.141.0">
   <input type=hidden name=mhhon042d id=mhhon042d value="%ALLWEB06.04.142.0">
   <input type=hidden name=mhhon043d id=mhhon043d value="%ALLWEB06.04.143.0">
   <input type=hidden name=mhhon044d id=mhhon044d value="%ALLWEB06.04.144.0">

   <input type=hidden name=mhhon045d id=mhhon045d value="%ALLWEB06.04.145.0">
   <input type=hidden name=mhhon046d id=mhhon046d value="%ALLWEB06.04.146.0">
   <input type=hidden name=mhhon047d id=mhhon047d value="%ALLWEB06.04.147.0">
   <input type=hidden name=mhhon048d id=mhhon048d value="%ALLWEB06.04.148.0">
   <input type=hidden name=mhhon049d id=mhhon049d value="%ALLWEB06.04.149.0">
   <input type=hidden name=mhhon050d id=mhhon050d value="%ALLWEB06.04.150.0">
   <input type=hidden name=mhhon051d id=mhhon051d value="%ALLWEB06.04.151.0">
   <input type=hidden name=mhhon052d id=mhhon052d value="%ALLWEB06.04.152.0">
   <input type=hidden name=mhhon053d id=mhhon053d value="%ALLWEB06.04.153.0">
   <input type=hidden name=mhhon054d id=mhhon054d value="%ALLWEB06.04.154.0">
   <input type=hidden name=mhhon055d id=mhhon055d value="%ALLWEB06.04.155.0">
   <input type=hidden name=mhhon056d id=mhhon056d value="%ALLWEB06.04.156.0">
   <input type=hidden name=mhhon057d id=mhhon057d value="%ALLWEB06.04.157.0">
   <input type=hidden name=mhhon058d id=mhhon058d value="%ALLWEB06.04.158.0">
   <input type=hidden name=mhhon059d id=mhhon059d value="%ALLWEB06.04.159.0">

   <input type=hidden name=mhhon060d id=mhhon060d value="%ALLWEB06.04.160">
   <input type=hidden name=mhhon061d id=mhhon061d value="%ALLWEB06.04.161">
   <input type=hidden name=mhhon062d id=mhhon062d value="%ALLWEB06.04.162">
   <input type=hidden name=mhhon063d id=mhhon063d value="%ALLWEB06.04.163">
   <input type=hidden name=mhhon064d id=mhhon064d value="%ALLWEB06.04.164">
   <input type=hidden name=mhhon065d id=mhhon065d value="%ALLWEB06.04.165">
   <input type=hidden name=mhhon066d id=mhhon066d value="%ALLWEB06.04.166">
   <input type=hidden name=mhhon067d id=mhhon067d value="%ALLWEB06.04.167">
   <input type=hidden name=mhhon068d id=mhhon068d value="%ALLWEB06.04.168">
   <input type=hidden name=mhhon069d id=mhhon069d value="%ALLWEB06.04.169">
   <input type=hidden name=mhhon070d id=mhhon070d value="%ALLWEB06.04.170">
   <input type=hidden name=mhhon071d id=mhhon071d value="%ALLWEB06.04.171">
   <input type=hidden name=mhhon072d id=mhhon072d value="%ALLWEB06.04.172">
   <input type=hidden name=mhhon073d id=mhhon073d value="%ALLWEB06.04.173">
   <input type=hidden name=mhhon074d id=mhhon074d value="%ALLWEB06.04.174">
   <input type=hidden name=mhhon075d id=mhhon075d value="%ALLWEB06.04.175">
   <input type=hidden name=mhhon076d id=mhhon076d value="%ALLWEB06.04.176">
   <input type=hidden name=mhhon077d id=mhhon077d value="%ALLWEB06.04.177">

   <input type=hidden name=dataset4 value="%ALLWEB06.04.194">
  <tr><td class=DataLabel>%STANDARD.01.017.ss</td>
    <td class=DataField>%ALLWEB06.04.107.0</td>
    <td class=DataLabel>%STANDARD.01.017.hf</td>
    <td class=DataField>%ALLWEB06.04.122.0</td>
    <tr><td class=DataLabel >Collection Date </td>
    <td class=DataField>%ALLWEB06.04.106 </td>
    <td class=DataLabel >Question 8A (if Applicable)</td>
    <td class=DataField>%ALLWEB06.04.139.0 </td></tr>
    <tr><td class=DataLabel>%STANDARD.01.017.hp</td>
    <td class=DataField>%ALLWEB06.04.108.0</td>
    <td class=DataLabel>Total Score</td>
    <td class=DataField>%ALLWEB06.04.191.2</td></tr>
   <tr align=left><td align=center colspan="4"><hr></td></tr>

   <input type=hidden name=mhhon006e id=mhhon006e value="%ALLWEB06.04.106">
   <input type=hidden name=mhhon031e id=mhhon031e value="%ALLWEB06.04.131.0">
   <input type=hidden name=mhhon032e id=mhhon032e value="%ALLWEB06.04.132.0">
   <input type=hidden name=mhhon033e id=mhhon033e value="%ALLWEB06.04.133.0">
   <input type=hidden name=mhhon034e id=mhhon034e value="%ALLWEB06.04.134.0">
   <input type=hidden name=mhhon035e id=mhhon035e value="%ALLWEB06.04.135.0">
   <input type=hidden name=mhhon036e id=mhhon036e value="%ALLWEB06.04.136.0">
   <input type=hidden name=mhhon037e id=mhhon037e value="%ALLWEB06.04.137.0">
   <input type=hidden name=mhhon038e id=mhhon038e value="%ALLWEB06.04.138.0">
   <input type=hidden name=mhhon041e id=mhhon041e value="%ALLWEB06.04.141.0">
   <input type=hidden name=mhhon042e id=mhhon042e value="%ALLWEB06.04.142.0">
   <input type=hidden name=mhhon043e id=mhhon043e value="%ALLWEB06.04.143.0">
   <input type=hidden name=mhhon044e id=mhhon044e value="%ALLWEB06.04.144.0">

   <input type=hidden name=mhhon045e id=mhhon045e value="%ALLWEB06.04.145.0">
   <input type=hidden name=mhhon046e id=mhhon046e value="%ALLWEB06.04.146.0">
   <input type=hidden name=mhhon047e id=mhhon047e value="%ALLWEB06.04.147.0">
   <input type=hidden name=mhhon048e id=mhhon048e value="%ALLWEB06.04.148.0">
   <input type=hidden name=mhhon049e id=mhhon049e value="%ALLWEB06.04.149.0">
   <input type=hidden name=mhhon050e id=mhhon050e value="%ALLWEB06.04.150.0">
   <input type=hidden name=mhhon051e id=mhhon051e value="%ALLWEB06.04.151.0">
   <input type=hidden name=mhhon052e id=mhhon052e value="%ALLWEB06.04.152.0">
   <input type=hidden name=mhhon053e id=mhhon053e value="%ALLWEB06.04.153.0">
   <input type=hidden name=mhhon054e id=mhhon054e value="%ALLWEB06.04.154.0">
   <input type=hidden name=mhhon055e id=mhhon055e value="%ALLWEB06.04.155.0">
   <input type=hidden name=mhhon056e id=mhhon056e value="%ALLWEB06.04.156.0">
   <input type=hidden name=mhhon057e id=mhhon057e value="%ALLWEB06.04.157.0">
   <input type=hidden name=mhhon058e id=mhhon058e value="%ALLWEB06.04.158.0">
   <input type=hidden name=mhhon059e id=mhhon059e value="%ALLWEB06.04.159.0">

   <input type=hidden name=mhhon060e id=mhhon060e value="%ALLWEB06.04.160">
   <input type=hidden name=mhhon061e id=mhhon061e value="%ALLWEB06.04.161">
   <input type=hidden name=mhhon062e id=mhhon062e value="%ALLWEB06.04.162">
   <input type=hidden name=mhhon063e id=mhhon063e value="%ALLWEB06.04.163">
   <input type=hidden name=mhhon064e id=mhhon064e value="%ALLWEB06.04.164">
   <input type=hidden name=mhhon065e id=mhhon065e value="%ALLWEB06.04.165">
   <input type=hidden name=mhhon066e id=mhhon066e value="%ALLWEB06.04.166">
   <input type=hidden name=mhhon067e id=mhhon067e value="%ALLWEB06.04.167">
   <input type=hidden name=mhhon068e id=mhhon068e value="%ALLWEB06.04.168">
   <input type=hidden name=mhhon069e id=mhhon069e value="%ALLWEB06.04.169">
   <input type=hidden name=mhhon070e id=mhhon070e value="%ALLWEB06.04.170">
   <input type=hidden name=mhhon071e id=mhhon071e value="%ALLWEB06.04.171">
   <input type=hidden name=mhhon072e id=mhhon072e value="%ALLWEB06.04.172">
   <input type=hidden name=mhhon073e id=mhhon073e value="%ALLWEB06.04.173">
   <input type=hidden name=mhhon074e id=mhhon074e value="%ALLWEB06.04.174">
   <input type=hidden name=mhhon075e id=mhhon075e value="%ALLWEB06.04.175">
   <input type=hidden name=mhhon076e id=mhhon076e value="%ALLWEB06.04.176">
   <input type=hidden name=mhhon077e id=mhhon077e value="%ALLWEB06.04.177">
</table>
</form>


<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value="004">
<input type=hidden name=urnumber value="%ALLWEB06.04.003">
<input type=hidden name=admissno value="%ALLWEB06.04.081">
<input type=hidden name=MenuType value="%ALLWEB06.04.088">
<input type=hidden name=webuseid value="%STANDARD.01.008">
</form>
