<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<script language="javascript" src="../js/allweb02.js"></script>
<script language="javascript" src="../js/allweb0202.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript" src="../js/OutpatientTypeClinic.js"></script>

<!-- 01 : CTAS : add recovery plan functions -->
<script>
// check whether input string is a valid date
function IsDate(dt) {
	return (( new Date(dt) !== "Invalid Date" && !isNaN(new Date(dt)) ));
}

// check whether two dates are the same date (day/month/year)
function IsSameDate(dt1, dt2) {
	return ( (dt1.getFullYear() == dt2.getFullYear())
		&& (dt1.getMonth() == dt2.getMonth())
		&& (dt1.getDate() == dt2.getDate()));
}

// display plan update popup if user and referral meet criteria for update
function CheckPlanUpdate() {
	// no need to update plan if referral does not have waiting or active status
	var refstatus = parent.document.HiddenFields.stt.value.replace(/ /g,"");
	if ((refstatus != "Waiting") && (refstatus != "Active")) {
		return;
	}
	
	// no need to update plan if last update date is today
	var currDate = new Date();
	var lastUpdate = document.UpdateForm.updDate.value.replace(/ /g,"");
	var upd;
	if (IsDate(lastUpdate)) { 
		upd = new Date(lastUpdate); 
		if (IsSameDate(currDate, upd)) {
			return;
		}
	}
	
	// get current user's HCP code
	var currUser = document.UpdateForm.lnkdHCP.value.replace(/ /g,"");
	
	// get responsible HCP on primary referral
	//var respHCP = document.UpdateForm.alref038.value.replace(/ /g,"");
	var respHCP = document.getElementById("alref038").value.replace(/ /g,"");
	
	// if current user is responsible HCP ...
	if (currUser == respHCP) {
		// get dates
		var doneDate, dueDate, done, due;
		due = document.getElementById("alref096").value.replace(/ /g,"");
		done = document.getElementById("alref090").value.replace(/ /g,"");
		
		if (IsDate(due)) { dueDate = new Date(due); }
		if (IsDate(done)) { doneDate = new Date(done); }
		
		// if plan has never been done default due date to yesterday
		if ((!IsDate(due)) && (!IsDate(done))) {
			dueDate = new Date(currDate.getTime() - (24*60*60*1000));
		}
		
		// show plan update popup if recovery plan is overdue
		if (dueDate < currDate) {
			parent.ShowPlanUpdate();
		}
	}
}

</script>
<!-- end of change -->

<!-- 01 : CTAS : disable standard javascript 
<script type="text/javascript">
function SetPrinter(Nolabel,SelectList) {
 if (SelectList.className=="Mandatory SelectBig") {
     SelectList.className="SelectBig" }
 else {
     SelectList.className="Mandatory SelectBig" }

 if(Nolabel!=undefined) {
   if (Nolabel.className=="Mandatory") {
       Nolabel.className="" }
   else {
       Nolabel.className="Mandatory" }
   }
}
//------------------------------------------------------------
// Set Link ACC Redirect and Return program after link ACC
//------------------------------------------------------------
function SetLinkACC(CurForm,ReturnCd) {
//  ----- redirect removed - causes Primhd error "Diagnosis before Encounter"
//   CurForm.redirect.value="mehweb01.pbl?reportno=01&template=001"
//   + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
//   + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+");
     CurForm.redirect.value="allweb02.pbl?reportno=02&template=002"
     + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
     + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+");
  if ((CurForm.ptcnueoc.value==1)&&(CurForm.alref035.value.substr(5,1)=='A')) {
       CurForm.redirect.value="eocweb01.pbl?reportno=01&template=006"
             + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
             + "&returncd=" + ReturnCd
             + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+")}
  if (CurForm.alref035.value.substr(3,1)=='W') {
       CurForm.redirect.value="patweb89.pbl?reportno=01&template=005"
             + "&urnumber=" + CurForm.urnumber.value.replace(/ /g,"+")
             + '&returncd=' + ReturnCd
             + "&admissno=" + CurForm.admissno.value.replace(/ /g,"+")
  }
} //end SetLinkACC
function UpdReferral(theForm){

  if (!isWhitespace(document.UpdateForm.alref019.value)&&
      !isWhitespace(document.UpdateForm.alref038.value)&&
      !isWhitespace(document.UpdateForm.alref087.value)) {

    var serverURL = "../cgi-bin/allweb01.pbl?reportno=8"+
            "&functype=7"+
            "&valddate=" + document.UpdateForm.alref019.value.replace(/ /g,"+")+
            "&valdhcpc=" + document.UpdateForm.alref038.value.replace(/ /g,"+")+
            "&valdteam=" + document.UpdateForm.alref087.value.replace(/ /g,"+");
    var returnValue = RSExecute(serverURL);
             
    if (returnValue.status != 0) {
      return;
    }  
             
  }

  if(!isWhitespace(UpdateForm.alref022.value) &&
     UpdateForm.rusualgp.checked==true) {
     UpdateForm.pmpmi059.value=UpdateForm.alref022.value;
     UpdateForm.pmpmi060.value=UpdateForm.alref023.value;
     UpdateForm.pmpmi061.value=UpdateForm.alref024.value;
  }

  theForm.target = "PopUpFrame1";
  if (validateMandatory(theForm)) {
    SetLinkACC(theForm,"MH1");
    theForm.submit();
  }
}
function SetSite() {
  p=UpdateForm
  var SetSite
  if(isWhitespace(p.alref119.value)) {
    SetSite=p.wbsesite.value;
  } else {
    SetSite=p.alref119.value;
  }
 for (var i =0 ; i < document.UpdateForm.alref119.length; i++) {
  if (document.UpdateForm.alref119.options[i].value==SetSite.substr(0,6)) {
       document.UpdateForm.alref119.selectedIndex=i } };
  SetList();
  selectCatCodInd(p.catAO,p.alref141,p.d_alref141,p.alref027,'1','1');
}
function SetList() {
  p=UpdateForm
  p.alref106.options.length=1;
  DeptClinicType(p.deptcode,p.alref119,p.alref106,p.defctype)
  SetList2();
}
function SetList2() {
  p=UpdateForm
  p.alref120.options.length=1;
  SetTypeClinic(p.alref120,p.deftclid.value,p.alref119.value,p.alref106.value);
}
//this function is a onchange emulator when a search frame is
//used
function caseTeamOnChange(alref087,n_alref087,alref038,n_alref038,d_alref019)
{
 var oldValue = alref087.value;

 TeamSearchFrame(alref087,n_alref087,function()
 {
   if(alref087.value != oldValue)
   {
      setTimeout(function()
      {
         getHCPbyCaseTeam(alref087,alref038,n_alref038,d_alref019);
      },100);
   }
 });
}

function hcpOnChange(alref038,n_alref038,alref087,n_alref087,d_alref019)
{
  var oldValue = alref038.value;

  HCPSearchFrame(alref038,n_alref038,1,function()
  {
     if(alref038.value != oldValue)
     {
       setTimeout(function()
       {
         getCaseTeamByHCP(alref038,alref087,n_alref087,d_alref019);
       },100);
     }
  });
}

function CheckHCP() {
  if(!isWhitespace(document.all.d_alref085.value) ||
     !isWhitespace(document.all.d_alref086.value) ||
     !isWhitespace(document.all.d_alref166.value) ||
     !isWhitespace(document.all.d_alref167.value)) {
     document.UpdateForm.addithcp.checked=true;
     CheckAddHCP();
  }
}

function CheckAddHCP() {
  if(document.UpdateForm.addithcp.checked==true) {
     AdditionalHCP.style.display="";
     AdditionalHCP.innerHTML=ShowAdditionalHCP.innerHTML;
  } else {
     AdditionalHCP.innerHTML=BlankAdditionalHCP.innerHTML;
     AdditionalHCP.style.display="none";
  }
}
</script>
-->
</head>
%START.OF.PAGE
<!--
<body onload="PageLoad();SetSite();DisplayTrnSrc();CheckHCP();defaultDHB();
FilterReferralSource(AddForm);">
-->
<body onload="PageLoad();CheckPlanUpdate();FilterReferralSource(UpdateForm);">
<!-- end of change -->
<!-- 01 : CTAS : remove page title bar-->
<span class=DFrameTitleBar>
<img border=0 align=right src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB02.02.125.0  Referral  </span>
 <!-- end of change -->
<div id=PageBodySection style="overflow: auto;">
<!-- 01 : CTAS : form is read only - disable submit
<form name=UpdateForm onsubmit='return validateMandatory(this)' 
 action="allweb02.pbl" method=post>
 -->
 <form name=UpdateForm onsubmit='return false;' action="" method=post>
 <!-- end of change -->
<input type=hidden name=reportno value="2">
<input type=hidden name=updatety value="U">
<input type=hidden name=nextpage value="5">
<input type=hidden name=urnumber value="%ALLWEB02.02.003">
<input type=hidden name=admissno value="%ALLWEB02.02.081">
<input type=hidden name=deptcode value="%ALLWEB02.02.125.1">
<input type=hidden name=redirect value="allweb02.pbl?reportno=2&template=3">
<input type=hidden name=dummy>
<input type=hidden name=alref083 value="">
<input type=hidden name=ptcnueoc value="%ALLWEB02.02.503">
<input type=hidden name=wbsesite value="%STANDARD.01.023">
<input type=hidden name=hcpprovno value="%ALLWEB02.02.122.2">
<input type=hidden name=defctype value="%ALLWEB02.02.167.1">
<input type=hidden name=deftclid value="%ALLWEB02.02.188.1">
<input type=hidden name=override value="2">
<input type=hidden name=mehrflag value="1">
<input type=hidden name=pmpmi059 value="%ALLWEB02.02.684.001">
<input type=hidden name=pmpmi060 value="%ALLWEB02.02.685.001">
<input type=hidden name=pmpmi061 value="%ALLWEB02.02.661">
<input type=hidden name=catAO value="AO">
<input type=hidden name=d_alref141 value="%ALLWEB02.02.199.012.1">
<input type=hidden name=d_alref019 value="%ALLWEB02.02.119">
<input type=hidden name=alcncdhb id=alcncdhb value="%STANDARD.01.025.121.103.0.1">
<input type=hidden name=nhdmdhb id=nhdmdhb value="%ALLWEB02.02.264">
<input type=hidden name=d_ostcatg id=d_ostcatg value="%ALLWEB02.02.529">
<input type=hidden name=d_depcod value="%ALLWEB02.02.125.3">

<!-- 01 : CTAS : add recovery plan fields -->
<input type=hidden name=lnkdHCP value="%STANDARD.01.010">
<input type=hidden name=updDate value="%ALLWEB02.02.155">

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td align=center class=HeadingCell colspan=6>
Mental Health Recovery Plan
</td>
</tr>
<tr>
	<td class=DataLabel>Recovery Coordinator</td>
	<td><input type=text name=alref038 id=alref038 size=7 maxlength=8
        value="%ALLWEB02.02.138.1" class=Readonly notab readonly>
    	<input type=text name=n_alref038 size=30 readonly 
		title="Recovery Coordinator" value="%ALLWEB02.02.138.0" 
		class=Readonly notab></td>
	
	<td class=DataLabel>Recovery Plan Done</td>
	<td><input type=text name=alref090 id=alref090 size=12 readonly class=Readonly
		value="%ALLWEB02.02.151" title="Date Recovery Plan Done" notab></td>
	
	<td class=DataLabel>Recovery Plan Due</td>
	<td><input type=text readonly class="Readonly" name=alref096 id=alref096
		size=12 value="%ALLWEB02.02.157" 
        title="Date Recovery Plan Due" notab></td>	
</tr>
</table>
<!-- end of change -->

<!-- 01 : CTAS : hide standard fields
<table align=center cellspacing=0 cellpadding=0 border=0 width=95%>
-->
<table align=center style="display:none" 
	cellspacing=0 cellpadding=0 border=0 width=95%>
<!-- end of change -->
<tr><td class=DataLabel>Date of Referral</td>
    <td class=DataLabel>
    <input type=text name=alref019 size=12 notab readonly
     onblur="checkDate(this,'Date')" value="%ALLWEB02.02.119"
     class= "Readonly PastDate" title="Date of Referral">
      Time
      <input type=text size=8 value="%ALLWEB02.02.199.008" title="Time Active"
       tabindex=1 class="Mandatory Time" name=alref137>
      <img src=../images/DateTimeStamp.gif class=Icon date=alref137
               onclick="SetCurrentDateTime(alref137,alref137);">
      <img src=../images/TimeLookup.gif class=Icon
               onclick="TimeLookupFrame(alref137);">
    </td>
    <td class=DataLabel>Department Code</td>
    <td><input name=allrf001 type=text value="%ALLWEB02.02.125.0" readonly
         class=Readonly notab></td>
    </tr>

<tr><td class=DataLabel>Date Letter Received</td>
    <td><input type=text name=alref039 size=12 class="Mandatory PastDate"
         value="%ALLWEB02.02.139" onblur="checkDate(this,'Date')"
         title="Date Letter Received" tabindex=2>
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref039 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref039>
    </td>
    <td class=DataLabel>Link to Visit</td>
    <td><input type=text size=10 maxlength=8 name=alref005 tabindex=20
         value="%ALLWEB02.02.105"
         onblur="justifyRight(this);
                ValidateVisit(UpdateForm.alref005,UpdateForm.urnumber,dummy);" >
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="VisitSearchFrame(UpdateForm.urnumber,UpdateForm.alref005);">
    </td>
    </tr>

<tr><td class=DataLabel>Referral Source</td>
    <td><select title="Referral Source" name=alref034 tabindex=3
         class="Mandatory SelectBig" onchange="DisplayTrnSrc();">
        <option></option>
         %ALLWEB02.02.134.2
        </select></td>
    <td><div id=TranSrcHeading></div>
        <td><div id=TranSrc></div></td>
    </tr>
<tr><td class=DataLabel>Inform GP</td>
    <td><select name=pmsvx010 tabindex=4>
        <option value="0">No</option>
        <option value="1" selected>Yes</option>
        </select></td>
    <td class=DataLabel>Referral Originator</td>
    <td><input type=text size=32 maxlength=30 name=alref153 tabindex=21
         value="%ALLWEB02.02.199.028" title="Referral Originator"></td>
    </tr>

<tr><td class=DataLabel width=10%>Referring HCP</td>
   <td width=40%><input type=text name=alref022 size=10 maxlength=10 tabindex=4
       value="%ALLWEB02.02.122.1" class=Mandatory title="Referring HCP"
       onchange="UpCase(this);
                 if (checkAlphanumDesc(event,this) != false) {
                   ReadDoc(18,0,alref022,n_alref022,alref023,n_alref023,
                           alref024,hcpprovno);
                 }">
       <input type=text name=n_alref022 size=30 readonly title="HCP Name"
        class=Readonly value="%ALLWEB02.02.122.0">
       <img src="../images/SearchIcon.gif" class=Icon
      onclick="GPHCPSearchFrame(alref022,n_alref022,hcpprovno,alref023,n_alref023,alref024,0);">
       <img src="../images/ClearIcon.gif" class=Icon
        onclick='clrFields(UpdateForm.alref022,UpdateForm.n_alref022,UpdateForm.hcpprovno);'>
    </td>
    <td class=DataLabel>Retain as Usual GP?</td>
    <td><input type=checkbox value="0" name=rusualgp tabindex=22
        title="Retain as Usual GP" onclick="UpdateGP();"></td>
    </tr>

<tr><td class=DataLabel>HCP Practice</td>
    <td><input type=text size=10 class=readonly value="%ALLWEB02.02.123.0"
         title="HCP Practice" readonly notab name=alref023>
        <input type=text size=30 class=readonly value="%ALLWEB02.02.123.1"
         title="Practice Name" readonly notab name=n_alref023>
        <input type=hidden name=alref024
         title="Practice Count" value="%ALLWEB02.02.124">
        <img src="../images/SearchIcon.gif" class=Icon
         onClick="GPHCGSearchFrame(alref022,n_alref022,hcpprovno,alref023,n_alref023,alref024)">
        <img src="../images/erase.gif" class=Icon onClick="clrFields(alref023,n_alref023,alref024,hcpprovno);"></td>
    <td class=DataLabel>
    <script type="text/javascript">MRDescription()</script>
    </td>
    <td><input type=text name=d_alref083 size=3 readonly class=Readonly
         value="%ALLWEB02.02.144" tabindex=-1></td>
    </tr>

<tr><td class=DataLabel>%STANDARD.01.017.RI</td>
    <td><select name=alref124 title="%STANDARD.01.017.RI" tabindex=6
         class=Mandatory>
        <option></option>
         %ALLWEB02.02.186.2
        </select>
    </td>
    <td class=DataLabel>Reason for Referral</td>
    <td><input type=text size=42 maxlength=60 name=alref088
         value="%ALLWEB02.02.149" tabindex=25></td>
    </tr>

<tr><td class=DataLabel>Problem 1</td>
    <td><select title="Problem 1" name=alref028 tabindex=7
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.128.2
        </select></td>
    <td class=DataLabel>Procedure 1</td>
    <td><input type=text name=alref171 title="Procedure 1" size=12 tabindex=31
          value="%ALLWEB02.02.199.050.1" maxlength=9
          onblur="validateAHProc(deptcode,alref171,d_alref171);">
         <input type=text name=d_alref171 title="Procedure 1" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.050.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref171,d_alref171);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref171,d_alref171);"></td>
    </tr>

<tr><td class=DataLabel>Problem 2</td>
    <td><select title="Problem 2" name=alref029 tabindex=8
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.129.2
        </select></td>
    <td class=DataLabel>Procedure 2</td>
    <td><input type=text name=alref172 title="Procedure 2" size=12 tabindex=32
          value="%ALLWEB02.02.199.051.1" maxlength=9
          onblur="validateAHProc(deptcode,alref172,d_alref172);">
         <input type=text name=d_alref172 title="Procedure 2" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.051.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref172,d_alref172);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref172,d_alref172);"></td>
    </tr>

<tr><td class=DataLabel>Problem 3</td>
    <td><select title="Problem 3" name=alref030 tabindex=9
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.130.2
        </select></td>
     <td class=DataLabel>Procedure 3</td>
     <td><input type=text name=alref173 title="Procedure 3" size=12 tabindex=33
          value="%ALLWEB02.02.199.052.1" maxlength=9
          onblur="validateAHProc(deptcode,alref173,d_alref173);">
         <input type=text name=d_alref173 title="Procedure 3" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.052.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref173,d_alref173);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref173,d_alref173);"></td>
    </tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select title="%STANDARD.01.017.CL" name=alref035 tabindex=10
         class="Mandatory SelectBig">
        <option></option>
         %ALLWEB02.02.135.2
        </select></td>
     <td class=DataLabel>Procedure 4</td>
     <td><input type=text name=alref174 title="Procedure 4" size=12 tabindex=34
          value="%ALLWEB02.02.199.053.1" maxlength=9
          onblur="validateAHProc(deptcode,alref174,d_alref174);">
         <input type=text name=d_alref174 title="Procedure 4" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.053.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref174,d_alref174);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref174,d_alref174);"></td>
    </tr>

<tr><td class=DataLabel>%ALLWEB02.02.199.011.8  </td>
    <td><select title="%ALLWEB02.02.199.011.8" name=alref140 tabindex=11
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.199.011.2
        </select></td>
     <td class=DataLabel>Procedure 5</td>
     <td><input type=text name=alref175 title="Procedure 5" size=12 tabindex=35
          value="%ALLWEB02.02.199.054.1" maxlength=9
          onblur="validateAHProc(deptcode,alref175,d_alref175);">
         <input type=text name=d_alref175 title="Procedure 5" size=20
          class=Readonly readonly notab value="%ALLWEB02.02.199.054.0">
         <img src="../images/SearchIcon.gif" class=Icon
          onClick="AHProcSearchFrame(deptcode,alref175,d_alref175);">
         <img src="../images/ClearIcon.gif" class=Icon
          onClick="clrFields(alref175,d_alref175);"></td>
    </tr>

<tr><td class=DataLabel>Score</td>
    <td><input type=text name=alref143 title="Score" size=5 maxlength=5
         value="%ALLWEB02.02.199.014" tabindex=12></td>
    <td class=DataLabel></td>
    <td></td>
    </tr>

<tr><td class=DataLabel>%ALLWEB02.02.199.013.8</td>
    <td><select title="%ALLWEB02.02.199.013.8" name=alref142 tabindex=13
         class="SelectBig">
        <option></option>
         %ALLWEB02.02.526
        </select></td>
    </tr>

<tr><td colspan=4><hr></td></tr>

<tr>
  <td class=DataLabel>Preferred Hospital</td>
  <td>
    <select name=alref107 id=alref107 title="Preferred Hospital"
            class=Mandatory tabindex=49 onchange="ShowOutofArea();">
    <option></option>
    %ALLWEB02.02.170.2
    </select>
  </td>
  <td class=DataLabel>&nbsp;</td>
  <td class=DataField>&nbsp;</td>
</tr>

<tr><td class=DataLabel>Preferred Site</td>
    <td class=DataField><select name=alref119 title="Preferred Site"
      tabindex=50 class="SelectBig" onchange="SetList();">
      <option></option>
      %ALLWEB02.02.182.2
    </select>
    </td>
    <td class=DataLabel>Priority</td>
    <td><select title="Priority" name=alref027 class="SelectBig" tabindex=70
       onchange="selectCatCodInd(catAO,alref141,d_alref141,alref027,'1','1');">
        <option></option>
        %ALLWEB02.02.127.2
        </select></td>
    </tr>

<tr><td class=DataLabel>Clinic Type </td>
    <td><select class=SelectBig name=alref106 maxlength=45 tabindex=51
         class="SelectBig" title="Clinic Type" onchange="SetList2();">
        <option></option>
        </select></td>
    <td>Date of Priority</td>
    <td><input type=text name=alref127 size=12 tabindex=71
         onblur="checkDate(this,'Date')" value="%ALLWEB02.02.194"
         title="Date of Priority" class="PastDate">
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref127 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref127></td>
    </tr>

<tr><tr><td class=DataLabel>Clinic ID</td>
    <td><select name=alref120 title="Clinic ID" class="SelectBig" tabindex=52>
        <option></option>
        </select></td>
    <td>Must Be Seen By Date</td>
    <td><input type=text name=alref126 size=12 tabindex=72
         onblur="checkDate(this,'Date')" value="%ALLWEB02.02.189"
         title="Must Be Seen By Date">
        <img src=../images/DateTimeStamp.gif class=Icon alt="Current"
         date=UpdateForm.alref126 time=null>
        <img src=../images/DateLookup.gif class=Icon alt="Show Calendar"
         date=UpdateForm.alref126></td>
    </tr>

<tr><td class=DataLabel width=10%>Slot Type</td>
    <td><select name=alref117 class=SelectBig title="Slot Type" tabindex=53>
        <option></option>
         %ALLWEB02.02.180.2
        </select>
    </td>
    <td class=DataLabel>Prioritising HCP</td>
    <td><input type=text name=alref084 size=10 maxlength=10
          value="%ALLWEB02.02.145.1" tabindex=73 title="Prioritising HCP"
         onblur="UpCase(this);
                 if (checkAlphanumDesc(event,this) != false) {
                   ValidateHCP(18,14,alref084,n_alref084);
                 }">
        <input type=text name=n_alref084 size=30 readonly notab
         title="Prioritising HCP" class=Readonly value="%ALLWEB02.02.145.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(UpdateForm.alref084,UpdateForm.n_alref084,1);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref084,n_alref084);">
        </td>
    </tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type=text name=alref038 size=10 maxlength=10
         value="%ALLWEB02.02.138.1" class=Mandatory tabindex=54
         title="Responsible HCP"
          onblur="UpCase(this);
                  if (checkAlphanumDesc(event,this) != false) {
                    ValidateHCP(18,14,alref038,n_alref038);
                  }"
          onchange="getCaseTeamByHCP(alref038,alref087,n_alref087,d_alref019);">
        <input type=text name=n_alref038 size=30 readonly title="HCP Name"
         value="%ALLWEB02.02.138.0" class=Readonly>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="hcpOnChange(alref038,n_alref038,alref087,n_alref087,d_alref019);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref038,n_alref038);">
        </td>
    <td class=DataLabel>%ALLWEB02.02.199.012.8</td>
    <td><select title="%ALLWEB02.02.199.012.8" name=alref141 tabindex=74
         class="SelectBig">
        <option></option>
        </select></td>
    </tr>

<tr><td class=DataLabel>Case Team</td>
    <td><input type=text name=alref087 size=10 maxlength=10 title="Case Team"
         value="%ALLWEB02.02.148.1" tabindex=55
         onchange="if (checkAlphanumDesc(event,this) != false) {
                     ValCaseTeam(alref087,n_alref087);
                   }">
       <input type=text name=n_alref087 size=30 readonly 
        value="%ALLWEB02.02.148.0"
        class=Readonly tabindex=-1 title="Team Description">
       <img src="../images/SearchIcon.gif" class=Icon
        onclick="caseTeamOnChange(alref087,n_alref087,alref038,n_alref038,d_alref019);">
        <img src="../images/ClearIcon.gif" class=Icon
        onclick="clrFields(alref087,n_alref087);">
       </td>
    <td colspan=2>
    <div id=InsertActive style="display:none;">
    <table align=center cellspacing=0 cellpadding=0 border=0 width=100%>
    <td class=DataLabel width=25%>Activate Referral</td>
    <td><input type=checkbox name=activref tabindex=75
         title="Activate Referral" value="1">
      </td>
    </table>
    </div></td>
    </tr>

<tr><td class=DataLabel width=15%>Additional HCP</td>
    <td><input type=checkbox name=addithcp value="1"
         onclick="CheckAddHCP();"></td>
    </tr>
</table>

<div id=AdditionalHCP></div>

<!-- 01 : CTAS : hide standard fields
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
-->
<table align=center style="display:none;"
	cellspacing=0 cellpadding=1 border=0 width=95%>
<!-- end of change -->
  <tr>
      <td class=DataLabel width=15% id=DHBtitl><div id=DHBtitleDIV></div></td>
      <td class=DataField id=DHBcode><div id=DHBcodeDIV></div></td>
  </tr>
  <tr>
      <td class=DataLabel><div id=outofareatitleDIV></div></td>
      <td><div id=outofareacodeDIV></div></td>
  </tr>
</table>

<!-- 01 : CTAS : hide standard fields
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
-->
<table align=center style="display:none;"
	cellspacing=0 cellpadding=1 border=0 width=95%>
<!-- end of change -->
<tr><td class=DataLabel colspan=2>Print Update Referral Letter to Patient &nbsp;&nbsp;
      <input type=checkbox name=prtupdpt
       title="Upd Referral to pat" value="1" tabindex=90>
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl03 tabindex=91>
      %STANDARD.01.001.ALLUPDPT.01
      </select></td></tr>
<tr><td class=DataLabel colspan=2>Print Update Referral Letter to Referrer
      <input type=checkbox name=prtupdrf tabindex=92
       title="Upd Referral to pat" value="1">
      </td>
      <td class=DataLabel>Printer </td>
      <td><select name=prtpsl04 tabindex=93>
      %STANDARD.01.001.ALLUPDRF.01
      </select></td></tr>
<tr><td class=DataLabel colspan=2>Referral Labels
    <input type=checkbox value="1" name=prtreflb width=30% tabindex=94
        onclick="SetPrinter(UpdateForm.prtpno07,UpdateForm.prtpsl07);">
    Copies
    <select name=prtpno07 width=20% tabindex=95>
        %STANDARD.01.027.2.1
    </select></td>

  <td class=DataLabel>Printer</td>
    <td><select class="SelectBig" name=prtpsl07 title="Printer" width=15%
         tabindex=96>
        <option></option>
        %STANDARD.01.001.LABELALL.01
        </select></td></tr>
</table>

<!-- 01 : CTAS : hide standard fields
<table align=center cellspacing=0 cellpadding=0 border=0 width=95%>
-->
<table align=center style="display:none;"
	cellspacing=0 cellpadding=0 border=0 width=95%>
<!-- end of change -->
<tr><td colspan=4 align=center><br>
    <input type=button name=formactn value="OK" class="button" tabindex=100
     onclick="UpdReferral(UpdateForm)";>
    <input type=button Value="Close" class="button" tabindex=101
     onClick="DFrameClose();">
    </td></tr>
</table>
</form>

<script type="text/javascript">
//
  var UF = document.UpdateForm;

  if ("%ALLWEB02.02.103" == "Waiting   ") {
  InsertActive.style.display='';
}
  else {
  InsertActive.style.display='none'; }
//
 BulkBill="%ALLWEB02.02.136";
 if ( BulkBill == "Yes") {
   document.UpdateForm.alref036.checked=1;
 }
//
 SACSRef="%ALLWEB02.02.144";
 if ( SACSRef == "Yes") {
   document.UpdateForm.alref083.value=1;
 }

  for(var i=0;i<document.UpdateForm.pmsvx010.length;i++){
      if(document.UpdateForm.pmsvx010.options[i].value=="%ALLWEB02.02.325.0"){
         document.UpdateForm.pmsvx010.selectedIndex=i;
      }
  }

  for(var i=0;i<UpdateForm.alref142.length;i++){
      if(UpdateForm.alref142.options[i].value=="%ALLWEB02.02.527"){
         UpdateForm.alref142.selectedIndex=i;
      }
  }

</script>

<!-- 01 : CTAS : remove external fields
<span id=transferhd style="display:none">
<td class=DataLabel>Transfer Source</td>
</tr>
</span>

<span id=transfersrc style="display:none">
  <td>
    <input type="text" size=7 maxlength=5 name=aldad001 class=Mandatory
     title="Transfer Source" tabindex=5 value="ALLWEB02.02.510.0"
     onchange="validateCode(9,aldad001,trandesc);">
    <input type=text size=27 name=trandesc notab value="ALLWEB02.02.510.1"
     class=Readonly readonly>
    <img src="../images/SearchIcon.gif"
     onClick="TransferSourceFrame(aldad001,trandesc,alref034)">
  </td>
</tr>
</span>

<span id=transferblank style="display:none">
   <input type=hidden name=aldad001>
</span>

<span id="BlankAdditionalHCP" style="display:none;">
<input type=hidden name=alref085 value="">
<input type=hidden name=alref086 value="">
<input type=hidden name=alref166 value="">
<input type=hidden name=alref167 value="">
</span>

<span id="ShowAdditionalHCP" style="display:none;">
<table align=center cellspacing=0 cellpadding=0 border=0 width=95%>
  <tr><td class=DataLabel>Additional HCP 1</td>
    <td><input type=text name=alref085 size=10 maxlength=10
         title="Additional HCP 1" tabindex=80 value="ALLWEB02.02.146.1"
         onblur="ValidateHCP(18,0,alref085,d_alref085);">
        <input type=text name=d_alref085 size=30 class=Readonly readonly
         title="Additional HCP 1" value="ALLWEB02.02.146.0">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alref085,d_alref085,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref085,d_alref085);">
    </td>
    <td class=DataLabel>Additional HCP 2</td>
    <td><input type=text name=alref086 size=10 maxlength=10
         title="Additional HCP 2" tabindex=81 value="ALLWEB02.02.147.1"
         onblur="ValidateHCP(18,0,alref086,d_alref086);">
        <input type=text name=d_alref086 size=30 class=Readonly readonly
         title="Additional HCP 2" value="ALLWEB02.02.147.0">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alref086,d_alref086,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(alref086,d_alref086);">
    </td>
  </tr>
  <tr><td class=DataLabel>Additional HCP 3</td>
      <td><input type=text name=alref166 size=10 maxlength=10 tabindex=82
                 title="Additional HCP 3" value="ALLWEB02.02.199.042.1"
                 onblur="ValidateHCP(18,0,alref166,d_alref166);">
          <input type=text name=d_alref166 size=30 class=Readonly readonly
                 title="Additional HCP 3" value="ALLWEB02.02.199.042.0">
            <img src=../images/SearchIcon.gif class=Icon
                 onclick=HCPSearchFrame(alref166,d_alref166,0) >
            <img src="../images/ClearIcon.gif" class=Icon
                 onClick="clrFields(alref166,d_alref166);"></td>
      <td class=DataLabel>Additional HCP 4</td>
      <td><input type=text name=alref167 size=10 maxlength=10 tabindex=83
                 title="Additional HCP 4" value="ALLWEB02.02.199.043.1"
                 onblur="ValidateHCP(18,0,alref167,d_alref167);">
          <input type=text name=d_alref167 size=30 class=Readonly readonly
                 title="Additional HCP 4" value="ALLWEB02.02.199.043.0">
            <img src=../images/SearchIcon.gif class=Icon
                 onclick=HCPSearchFrame(alref167,d_alref167,0) >
            <img src="../images/ClearIcon.gif" class=Icon
                 onClick="clrFields(alref167,d_alref167);"></td></tr>
</table>
</span>

<span id=DHBtitleSPAN style="display:none">
Patient's DHB
</span>

<span id=DHBcodeSPAN style="display:none">
ALLWEB02.02.070.024
</span>

<span id=outofareatitleSPAN style="display:none">
STANDARD.01.017.ly
</span>

<span id=outofareacodeBLANK style="display:none">
  <input type=hidden name=alref064 value="">
</span>

<span id=outofareacodeSPAN style="display:none">
  <select name=alref064 title="STANDARD.01.017.ly" class="Mandatory SelectBig">
    <option></option>
    ALLWEB02.02.140.25.2
  </select>
</span>
-->
<!-- end of change -->
