<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src=../js/allweb03.js></script>
<script type="text/javascript">
function GetBookings() {
  if(!isWhitespace(AddForm.bulkenck.value)) {
    p=parent
    if(p.UpdateStatus==undefined) {
      p=parent.parent
    }
    Appointments.innerHTML+="<input type=hidden name=bulkekey" +
                            " value='" + AddForm.bulkenck.value + "'>"
    GetEncDefaults(AddForm.bulkenck.value.substr(0,8),AddForm.bulkenck.value.substr(8,8))
    if(!isWhitespace(p.UpdateStatus.xocadoct.value)) {
      document.AddForm.alenc004.value=trim(p.UpdateStatus.xocadoct.value);
    }
      ValidateHCP(18,0,document.AddForm.alenc004,
                  document.AddForm.SProvider);
    document.AddForm.AddButton.disabled=false;
    if(AddForm.shwupdat.value=="1" || AddForm.shwupdat.value=="2") {
      if(AddForm.shwupdat.value=="2") {
        document.AddForm.nextpage.value="4"
      } else {
        document.AddForm.nextpage.value="1"
      }
      document.AddForm.redirect.value="allweb03.pbl?reportno=1&template=009" +
      "&admissno=" + AddForm.bulkenck.value.substr(0,8).replace(/ /g,"+")+
      "&bulkenck=" + AddForm.bulkenck.value.replace(/ /g,"+");
    }
    ShowOutcome.style.display='';
    AddForm.outcflag.value="1";
    return;
  }
  Flag=0
  Appointments.innerHTML="";
  for (var i=0; i < parent.UpdateForm.elements.length; i++) {
    var el=parent.UpdateForm.elements[i] ;
    if(el.name.match(/referral/) && el.checked==true) {
    Appointments.innerHTML+="<input type=hidden name=bulkekey" +
                            " value='" + el.value + "'>"
    }
  }
  document.AddForm.alenc011.value=parent.UpdateForm.othedurn.value;
  document.AddForm.d_alenc011.value=parent.UpdateForm.othedurn.value;
  Edate=parent.SelectPeriod.sesskeys.options[parent.SelectPeriod.sesskeys.selectedIndex].text;
  document.AddForm.alenc005.value=Edate.substr(4,11)
  if(!isWhitespace(parent.SelectPeriod.xocadoct.value)) {
     document.AddForm.alenc004.value=trim(parent.SelectPeriod.xocadoct.value);
     ValidateHCP(18,0,document.AddForm.alenc004,
                 document.AddForm.SProvider);
  }
  if (parent.UpdateForm!=undefined &&
      parent.UpdateForm.locndflt!=undefined) {
     if (parent.UpdateForm.locndflt.value.substr(5,1)=="L") {
         for (var i=0 ; i < document.AddForm.alenc007.length; i++) {
             if (document.AddForm.alenc007.options[i].value.substr(0,3) ==
                          parent.UpdateForm.locndflt.value.substr(0,3)) {
                document.AddForm.alenc007.selectedIndex=i }
         }
     }
  }
  ShowOutcome.style.display='';
  AddForm.outbb035.selectedindex=0;
  document.AddForm.AddButton.disabled=false;
}
function setOutcomeRedirect() {
  f=document.AddForm;
//05 : Merge Task 0857147
//*T0857147-Start 
  var indc4 = f.outbb035.value.substr(6,1); //Outcome ind4
  if(indc4 == "R") {   // Redirect to 'Make Follow Up Appointment' screen
     f.redirect.value="outweb02.pbl?reportno=3&template=004" +
           "&urnumber=" + f.bulkurno.value.replace(/ /g,"+") +
           "&admissno=" + f.bulkenck.value.substr(8,8).replace(/ /g,"+");
     return;
  }
  //*T0857147-End
  var showUpdate = "1";
  var indicator9 = f.deptcinc.value.substr(11,1);
  if(indicator9=="X")
  {
    showUpdate = "3";
  }
  f.redirect.value += "&shwupdat=" + showUpdate;

  if(f.outcflag.value=="0" || 
    (f.outbb035.value.substr(0,3) == f.d_outbb035.value)) {
     return;
  }
  if(f.outbb035.value.substr(0,3)==f.d_otcnocrd.value) {   // Op appt
    f.redirect.value = "outweb02.pbl?reportno=3&template=004" + // Follow Up
            "&urnumber=" + f.bulkurno.value.replace(/ /g,"+") +
            "&admissno=" + f.bulkenck.value.substr(8,8).replace(/ /g,"+")
  }
  if(f.outbb035.value.substr(0,3)==f.d_otcnocdd.value) {         // Discharge
    f.redirect.value = "allweb02.pbl?reportno=2&template=002" +  // Close Ref
            "&urnumber=" + f.bulkurno.value.replace(/ /g,"+") +
            "&admissno=" + f.bulkenck.value.substr(0,8).replace(/ /g,"+") +
            "&deptcode=" + f.deptcode.value.substr(0,3).replace(/ /g,"+")
    closereferralstring = "allweb02.pbl?reportno=2&template=004" +
            "&urnumber=" + f.bulkurno.value.replace(/ /g,"+") +
            "&admissno=" + f.bulkenck.value.substr(0,8).replace(/ /g,"+") +
            "&deptcode=" + f.deptcode.value.substr(0,3).replace(/ /g,"+")
    document.AddForm.nextpage.value="6";
    SetCookie("CloseReferralCookie",closereferralstring);
  }
}
function CheckAddHCP() {
  if(document.AddForm.addithcp.checked==true) {
     AdditionalHCP.style.display="";
     AdditionalHCP.innerHTML=ShowAdditionalHCP.innerHTML;
  } else {
     AdditionalHCP.innerHTML="";
     AdditionalHCP.style.display="none";
  }
}
function ToggleCombo() {
  if (AddForm.checkbx2.checked==false) {
    AddForm.alref006.className=" ";
    CloseReason.style.display='none';
    AddForm.alref072.className=" ";
  } else {
    AddForm.alref006.className="Mandatory SelectBig";
    CloseReason.style.display='';
    AddForm.alref072.className="Mandatory SelectBig";
  }
}
function clickAddButton() {

  if(!validateMandatory(AddForm)){
     return;
  }
  if(!validateContactTime()){
     return; 
  }
  if(!checkFutureContactTime()){
     return;
  }
  if(!isWhitespace(AddForm.bulkenck.value) && AddForm.checkbx2.checked){
     if(!CheckFutureBookings(AddForm.bulkenck,AddForm.alenc005)){
        return;
     }
  }
  getCheckInTimeCookie();

  if(document.AddForm.todaydat.value != document.AddForm.alenc005.value){
     if(GetCookieData('TimeSeenOnlyCookie')!="unknown"){
        ExpireCookiePath("TimeSeenOnlyCookie");
     }
  }
  else{
     getTimeSeenCookie();
  }

  getDepartureTimeCookie();
  setOutcomeRedirect();

  if(document.getElementById("tsmockie").value=="1"){
     if(parent.RemoteTimeSeen != undefined){
        parent.RemoteTimeSeen();
     }
  }
  SubmitHidden(AddForm);
}

function Exit() {
  var indicator9 = document.AddForm.deptcinc.value.substr(11,1);
  if(indicator9 == "X") {
    DFrameExit();
  }
  else {
    DFrameExitRefresh();
  }
}

function Close() {
  var indicator9 = document.AddForm.deptcinc.value.substr(11,1);
  if(indicator9 == "X") {
    DFrameClose();
  }
  else {
    DFrameCloseRefresh();
  }
}
function GetTimeSeenOnlyCookieMO() {
  if (GetCookieData("TimeSeenOnlyCookieMO") != "unknown" ) {
    document.getElementById("tsmockie").value="1";
    ExpireCookiePath("TimeSeenOnlyCookieMO");
  }
}
function SearchAccNumbers(){
//alert(document.AddForm.bulkurno.value.replace(/ /g,"+"));
//alert(document.AddForm.bulkenck.value.substr(0,8).replace(/ /g,"+"));
linkurl="patweb98.pbl?reportno=1&template=059&urnumber=" + document.AddForm.bulkurno.value.replace(/ /g,"+") + 
        "&admissno=" + document.AddForm.bulkenck.value.substr(0,8).replace(/ /g,"+")
  DFrameLink(linkurl,0,75,650,350);

}
//T0868976-Start
function LastContact(status){
 if (status==2){
   document.getElementById('checkbx2').disabled=true
   document.getElementById('checkbx2').checked=false;
 }
 else {
   document.getElementById('checkbx2').disabled=false;
 }
 ToggleCombo();
}
//T0868976-Start
</script>
</head>

%START.OF.PAGE
<body onload="PageLoad(event);GetBookings();DisplayTrnSrc();
              GetTimeSeenOnlyCookieMO();
              ListOptionsCatLD(AddForm.deptlcod,AddForm.alenc007);
			  LastContact(%ALLWEB03.13.303);
              setUserDoc(AddForm.deptlcod,AddForm.d_websecdoc,AddForm.alenc004,
              AddForm.SProvider,AddForm.d_websechcp);">
<span class=DFrameTitleBar>
<img border=0 align=right src=../images/ExitIcon.gif 
 onclick="Exit();">
Add Contact for %ALLWEB03.13.017
</span>

<form name=AddForm action="allweb03.pbl" method=post>
<input type=hidden name=reportno value=13>
<input type=hidden name=deptcode value="%ALLWEB03.13.012">
<input type=hidden name=updatety value="A">
<input type=hidden name=flag value="%ALLWEB03.13.023">
<input type=hidden name=bulkenck value="%ALLWEB03.13.030">
<input type=hidden name=bulkurno value="%ALLWEB03.13.015">
<input type=hidden name=urnumber value="%ALLWEB03.13.015">
<input type=hidden name=billablef value='%ALLWEB03.13.031'>
<input type=hidden name=dummyret value="">
<input type=hidden name=dummysit value="">
<input type=hidden name=dummydat value="">
<input type=hidden name=dummy1 id=dummy1>
<input type=hidden name=mbs value="M">
<input type=hidden name=d_alenc011 value="">
<input type=hidden name=shwupdat value="%ALLWEB03.13.032">
<input type=hidden name=nextpage value="0">
<input type=hidden name=redirect value="">
<input type=hidden name=urnockie value="">
<input type=hidden name=admnckie value="">
<input type=hidden name=rwnockie value="">
<input type=hidden name=clnockie value="">
<input type=hidden name=caseckie value="">
<input type=hidden name=d_otcnocrd value="%STANDARD.01.025.031.239.0.3">
<input type=hidden name=d_otcnocdd value="%STANDARD.01.025.031.242.0.3">
<input type=hidden name=outcflag value="0">
<input type=hidden name=d_outbb035 value="%ALLWEB03.13.214.1">
<input type=hidden name=currdate value="">
<input type=hidden name=currtime value="">
<input type=hidden name=deptcinc value="%ALLWEB03.13.201.3">
<input type=hidden name=todaydat value="%STANDARD.01.015">
<input type=hidden name=admnsrce id=admnsrce value="">
<input type=hidden name=desttype id=desttype value="">
<input type=hidden name=tsmockie id=tsmockie value="">
<input type=hidden name=d_otbbcitm value="%ALLWEB03.13.038">
<input type=hidden name=deptlcod value="%ALLWEB03.13.201.3">
<input type=hidden name=autocprf id=autocprf value="2">
<input type=hidden name=d_websecdoc id=d_websecdoc value="%STANDARD.01.010">
<input type=hidden name=d_websechcp id=d_websechcp value="%STANDARD.01.046">


<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td>
<div id=Appointments></div>
</td></tr>

<tr><td class=DataLabel width=15%>Department</td>
    <td width=38%><input type=text readonly size=40 name=dept class=Readonly
         value="%ALLWEB03.13.017">
    </td>
    <td class=DataLabel width=15%>Entered By</td>
    <td><input type=text name=userid value="%STANDARD.01.009" class=Readonly
         readonly>
    </td>
</tr>

<tr><td class=DataLabel>Health Care Provider</td>
    <td class=DataLabel>
    <input type=text name=alenc004 size=10 maxlength=10 class=Mandatory
		title="Health Care Provider"
		onblur="UpCase(this);
			if(checkAlphanumDesc(event,this)!=false){
				ValidateHCP(18,0,alenc004,SProvider);
			}">
    <input type=text name=SProvider  size=25 class=Readonly readonly
      title="Health Care Provider">

    <img src=../images/SearchIcon.gif class=Icon
     onclick="HCPSearchFrame(alenc004,SProvider,0);">
    <img src="../images/ClearIcon.gif" class=Icon
     onclick="clrFields(alenc004,SProvider);">
    </td></tr>

<tr><td class=DataLabel>Date</td>
    <td class=DataLabel>
    <input type=text readonly name=alenc005 value="" 
     title="Contact Date" class=Readonly Size=12
     onblur="checkDate(this,'Date');">
     Time
    <input type=text size=8 title="Time" value="" class="Mandatory"
     Name=alenc006>

    <img notab src=../images/DateTimeStamp.gif border=0 hspace=4 
         align=absmiddle onclick="SetCurrentDateTime(null,alenc006);">
    <img src="../images/TimeLookup.gif" class=Icon 
     onclick="TimeLookupFrame(alenc006);">
   </td></tr>

<tr>
	<!-- 01 : CTAS : Rename field
	<td class=DataLabel>Occasion of Service</td>
    <td><select class="Mandatory" name=alenc010 title="Occasion of Service">
        <option></option>
        ALLWEB03.13.019.0
        </select></td>
	-->
	<td class=DataLabel>Activity</td>
    <td><select class="Mandatory" name=alenc010 title="Activity">
        <option></option>
        %ALLWEB03.13.019.0
        </select></td>
    <td class=DataLable>&nbsp;</td>
    <td class=DateField>&nbsp;</td>
    </td></tr>

  <tr>
	<!-- 01 : CTAS : Move type of Contact below,
	Move Service Setting and Direct Minutes here
	<td class=DataLabel width=15%>STANDARD.01.017.za</td>
      <input type=hidden name=alenc009 value="">
      <td class=DataField width=38%>
      <select class="SelectBig" name=alenc047
       title="STANDARD.01.017.za">
    <option></option>
    ALLWEB03.13.147. 1.2
    </select></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
	-->
<!-- 01 : CTAS : Mandatory -->
	<td class=DataLabel>%STANDARD.01.017.LD</td>
    <td><select class="Mandatory SelectBig"
         name=alenc007  title="%STANDARD.01.017.LD">
    <option></option>
    %STANDARD.01.007.LD
    </select></td>
<!-- end of change -->
	<td class=DataLabel width=15%>Direct Minutes</td>
    <td class=DataField width=38%>
    <input type=text size=12 maxsize=5 name=alenc011 title="Direct Minutes"
     min=0
    class=Mandatory onblur=checkInteger(this,this.title)></td>
	<!-- end of change -->
    </tr>

<tr>
	<!-- 01 : CTAS : Move Direct Minutes up,
	Move Type of Contact here
	<td class=DataLabel width=15%>Direct Minutes</td>
    <td class=DataField width=38%>
    <input type=text size=12 maxsize=5 name=alenc011 title="Direct Minutes"
     min=0
    class=Mandatory onblur=checkInteger(this,this.title)></td> 
	-->
	<td class=DataLabel width=15%>%STANDARD.01.017.za</td>
      <input type=hidden name=alenc009 value="">
      <td class=DataField width=38%>
      <select class="SelectBig" name=alenc047
       title="%STANDARD.01.017.za">
    <option></option>
    %ALLWEB03.13.147. 1.2
    </select></td>
	<!-- end of change -->
    <td class=DataLabel width=10%>Indirect Minutes</td>
    <td class=DataField>
    <input type=text size=12 maxsize=5 name=alenc013 title="Indirect Minutes"
     min=0 onblur=checkInteger(this,this.title)></td></tr>

<tr>
	<!-- 01 : CTAS : Move Travel Time below Mileage
	Move Claim Type here
	<td class=DataLabel>Travel Time</td>
    <td class=DataField>
    <input type=text size=12 maxsize=5 name=alenc097 title="Travel" min=0
    onblur=checkInteger(this,this.title)></td>
	-->
	<td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select class="Mandatory SelectBig"
         name=alenc115  title="%STANDARD.01.017.CL">
    <option></option>
    %ALLWEB03.13.176.2
    </select></td>
	<!-- end of change -->
    <td class=DataLabel>Mileage</td>
    <td class=DataField>
    <input type=text size=12 maxsize=5 name=alenc098 title="Mileage"
     min=0 onblur=checkInteger(this,this.title)></td></tr>

<tr>
	<!-- 01 : CTAS : Move Service Setting above Type of Contact
	Move Claim Type up, Move HP here
	<td class=DataLabel>STANDARD.01.017.CL</td>
    <td><select class="Mandatory SelectBig"
         name=alenc115  title="STANDARD.01.017.CL">
    <option></option>
    ALLWEB03.13.176.2
    </select></td>
    <td class=DataLabel>STANDARD.01.017.LD</td>
    <td><select class="SelectBig"
         name=alenc007  title="STANDARD.01.017.LD">
    <option></option>
    STANDARD.01.007.LD
    </select></td>
	-->
	<td class=DataLabel>%STANDARD.01.017.HP</td>
    <td><select class="SelectBig"
         name=alenc120  title="%STANDARD.01.017.HP">
    <option></option>
    %ALLWEB03.13.182.2
    </select></td>
	<td class=DataLabel>Travel Time</td>
    <td class=DataField>
    <input type=text size=12 maxsize=5 name=alenc097 title="Travel" min=0
    onblur=checkInteger(this,this.title)></td>
	<!-- end of change -->
    </tr>

<tr>
	<!-- 01 : CTAS : Move HP up
	<td class=DataLabel>STANDARD.01.017.HP</td>
    <td><select class="SelectBig"
         name=alenc120  title="STANDARD.01.017.HP">
    <option></option>
    ALLWEB03.13.182.2
    </select></td>
	end of change -->
    <td class=DataLabel>%STANDARD.01.017.gb</td>
    <td><select class="SelectBig"
         name=alenc121  title="%STANDARD.01.017.gb">
    <option></option>
    %ALLWEB03.13.329
    </select></td>
	<!-- 01 : CTAS : Add td -->
	<td colspan=2></td>
	<!-- end of change -->
    </tr>
</table>

<span id=ShowOutcome style="display:none">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Outcome</td>
    <td class=DataField width=38%>
      <select name=outbb035 id=outbb035 title="Outcome" class="SelectBig"
       onchange="OutcomeChange(this);">
        <option></option>
        %ALLWEB03.13.214.2
      </select>
    </td>
    <td width=15%><div id=divTransDestLbl></div></td>
    <td><div id=divTransDestFld></div></td>
</tr>
</table>
</span>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
 <tr><td class=DataLabel width=15%>Last Contact</td>
     <td class=DataField colspan=3  width=38%>
        <input type=checkbox name=checkbx2  id=checkbx2 value="1" onclick="ToggleCombo();">
     </td>
	 <td>&nbsp;</td>
     <td>&nbsp;</td>
<!-- 03 : Remove ACC field 	 
	 <td>ACC Number</td>
     <td><input type=text name=alenc128 value="">
     <img src=../images/SearchIcon.gif class=Icon onclick="lookUpWC(document.AddForm)">
     </td> -->
 </tr>
</table>

<span id=CloseReason style="display: none">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Reason for Closure </td>
    <td class=DataField colspan=3>
    <select name=alref006 title="Reason For Closure" class="">
    <option></option>
    %STANDARD.01.007.LL
    </select></td></tr>
	<tr><td class=DataLabel width=15%>Referral To</td>
    <td class=DataField colspan=3>
    <select name=alref072 title="Referral To" class="">
    <option></option>
    %STANDARD.01.007.lG
    </select></td></tr>
<tr><td class=DataLabel width=15%>Date of Next Review</td>
    <td class=DataField colspan=3>
      <input type=text name=alref037 title="Date of Next Review"
       Size=12 onblur="checkDate(this,'Date of Next Review')">
    <a href='javascript:SetCurrentDateTime(AddForm.alref037)'>
    <img src=../images/DateTimeStamp.gif  border=0 hspace=4 align=absmiddle></a>
      <img src=../images/DateLookup.gif border=0 hspace=4
       align=absmiddle onclick="DateLookupFrame(alref037);">
</td></tr>
</table>
</span>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Additional HCP</td>
    <td><input type=checkbox name=addithcp value="1"
         onclick="CheckAddHCP();"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>

<div id=AdditionalHCP></div>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td colspan=4 align=center><br>
    <input type=button value="Add" class=button 
     disabled name=AddButton onclick="clickAddButton(AddForm)">
    <input type=button Value="Cancel" class=button onclick="Close();">
    </td></tr>
</table>
</form>

<span id="ShowAdditionalHCP" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Additional HCP 1</td>
    <td><input type=text name=alenc025 size=10 maxlength=10
         title="Additional HCP 1"
         onblur="ValidateHCP(18,0,alenc025,d_alenc025);">
        <input type=text name=d_alenc025 size=20 class=Readonly readonly
         title="Additional HCP 1">
        <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alenc025,d_alenc025,0);">
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc025,d_alenc025);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 2</td>
    <td><input type=text name=alenc026 size=10 maxlength=10
         title="Additional HCP 2"
         onblur="ValidateHCP(18,0,alenc026,d_alenc026);">
        <input type=text name=d_alenc026 size=20 class=Readonly readonly
         title="Additional HCP 2">
        <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alenc026,d_alenc026,0);">
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc026,d_alenc026);">
    </td></tr>

<tr><td class=DataLabel width=15%>Additional HCP 3</td>
    <td><input type=text name=alenc027 size=10 maxlength=10
         title="Additional HCP 3"
         onblur="ValidateHCP(18,0,alenc027,d_alenc027);">
        <input type=text name=d_alenc027 size=20 class=Readonly readonly
         title="Additional HCP 3">
        <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alenc027,d_alenc027,0);">
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc027,d_alenc027);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 4</td>
    <td><input type=text name=alenc028 size=10 maxlength=10
         title="Additional HCP 4"
         onblur="ValidateHCP(18,0,alenc028,d_alenc028);">
        <input type=text name=d_alenc028 size=20 class=Readonly readonly
         title="Additional HCP 4">
        <img src=../images/SearchIcon.gif class=Icon
         onclick="HCPSearchFrame(alenc028,d_alenc028,0);">
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc028,d_alenc028);">
    </td></tr>
</table>
</span>

<span id=spTransDest style="display:none">
   <input type="text" size=7 maxlength=5 name=trnsfsrc id=trnsfsrc
    class=Mandatory title="Transfer Destination"
    onblur="validateTransSrc(trnsfsrc,dummy1,trandesc,desttype);">
   <input type=text size=27 name=trandesc id=trandesc notab
    class=Readonly readonly>
   <img src="../images/SearchIcon.gif" class=Icon
    onclick="TransferSourceFrameOutcome2(trnsfsrc,trandesc,admnsrce);">
</span>

<span id=transferblank style="display:none">
   <input type=hidden name=trnsfsrc id=trnsfsrc>
</span>
