<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<!-- 01 : CTAS : link to custom-js/cliweb02.js
<script type="text/javascript" src=../js/cliweb02.js></script>
-->
<script type="text/javascript" src=../custom-js/cliweb02.js></script>
<!-- end of change -->

<!-- 01 : CTAS : test -->
<script type="text/javascript">
function HideGraphLinks() {
	var anchors = document.getElementsByTagName("a");
	for (var i=0; i<anchors.length; i++) {
		if (anchors[i].getAttribute('href').indexOf('Graph') !== -1) {
			anchors[i].setAttribute('style', 'display:none');
			anchors[i].setAttribute('href','javascript:void(0);');
		}
	}
}
</script>
<!-- end of change -->

%START.OF.PAGE
<body onload="PageLoad(event);InitTable();HideGraphLinks();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%CLIWEB02.01.003";
PatientVIS="%CLIWEB02.01.081";
PatientNAM="%CLIWEB02.01.002";
PatientSTA="%CLIWEB02.01.086.078";
PatientALT="%CLIWEB02.01.084";
PatientSEX="%CLIWEB02.01.019";
PatientDOB="%CLIWEB02.01.020";
PatientAGE="%CLIWEB02.01.021";
PatientLOC="%CLIWEB02.01.083";
PatientPRI="%CLIWEB02.01.086.066.1";
PatientUNT="%CLIWEB02.01.066.0";
DoctorCOD="%CLIWEB02.01.082.003";
DoctorNAM="%CLIWEB02.01.082.002";
PatientAID="%CLIWEB02.01.086.090";
PatientIND="%CLIWEB02.01.086.091";
PatientCUR="%CLIWEB02.01.086.092";
PatientCLC="%CLIWEB02.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%CLIWEB02.01.086.094";
PatientCDM="%CLIWEB02.01.086.095";
PatientVDH="%CLIWEB02.01.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<form name=Observation method=get style="margin:0">
<table cellspacing=0 cellpadding=2 border=0 width=100% bgcolor=#cccccc>
<tr><td>
    Observation Type
    <select name=obsvtype onchange=Filter(this)>
    <option>All</option>
    %CLIWEB02.01.105
    </select></td>
    <td align=right>
    New Observation
    <select name=obstyp01 onchange="Insert(this);">
    <option></option>
    %CLIWEB02.01.106
    </select>
    </td></tr>
</table>
</form>

<div id=TableLocation></div>
<div id=GraphLocation style="display:none"></div>

<script type="text/javascript">
function AddTableRows() {
%CLIWEB02.01.101.cliweb02.02.001
}
</script>

</div>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%CLIWEB02.01.003">
<input type=hidden name=admissno value="%CLIWEB02.01.081">
<input type=hidden name=obsvtype value="">
</form>


<!-- 01 : CTAS : add function to reopen add basic obs if cookie set -->
<script type="text/javascript">
function checkAddAnother(){
  var submitObsAddAnother = GetCookieData("submitObsAddAnother");
  if ((submitObsAddAnother!="unknown") && 
    (submitObsAddAnother == "AddAnother")) {
    PatientLinks.action="cliweb02.pbl";
    PatientLinks.reportno.value="2";
    PatientLinks.template.value="101";
    DFrameSubmit(PatientLinks,25,25,1050,600);
  }      
}
setTimeout(checkAddAnother, 800);
</script>
<!-- end of change -->
