<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<link rel="stylesheet" href="../html/postcode.css" type="text/css">
<script type="text/javascript" src="../js/IBA_Category_C_.js"></script>
<script type="text/javascript" src="../js/EmrRegistration.js"></script>
<script type="text/javascript" src="../js/emrweb0202002.js"></script>
<script type="text/javascript" src="../js/emrweb0201102.js"></script>
<!-- 01 : CTAS : added link to CTAS custom javascript file -->
<script type="text/javascript" src="../js/ctascustom.js"></script>
<!-- end of change -->
<script type="text/javascript">
// 01 : CTAS : constant values section
var DHB_FUNDED = "35";	// DHB-funded option in purchaser list (HP)
var RESIDENT = "R";		// Resident indicator value in type of residency list (T)
var ISACC = "R02";		// Yes option in ACC? list (ep)
var ISACCIDENT = "R01";	// Accident option in claim type list (CL)
var NONACCIDENT = "R02";// Non-Accident option in claim type list (CL)
// end of change

function Validateprecom001(){
  var formatedtext=formateText(UpdateForm.prcom001,'50');
  if((formatedtext.split(/[\r\n]/).length>6)|| 
     (UpdateForm.prcom001.value.length > 300)){
      alert("Presenting Complaint comments - Max 6 lines."
          + "\nPlease remove extra lines to continue.");
      document.UpdateForm.prcom001.focus();
      return; 
  }
}
function init(){
  if(!CheckEmrVisit(UpdateForm.urnumber.value,UpdateForm.emvis001.value)){
     PatientLinkTo("patweb98.pbl",1,1,0,0,0);
  }
}
function updateNHI01() {
  if(document.getElementById('UVB').disabled==true) {
    return;
  }
  if (validateMandatory(UpdateForm)) {
    setACCEmerFlag();
    document.UpdateForm.redirect.value="nhiweb99.pbl?reportno=01&template=002" +
    "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"+")  +
    "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"+") +
    "&emerflag=" + document.UpdateForm.emerflag.value.replace(/ /g,"+") ;
    tempDisable(document.getElementById('UVB'),5);
    SetOptOutSMS();
    UpdateVisit();
  }
}
function UpdateThisVisit() {
  SetOptOutSMS();
  UpdateVisit();
}
function UpdateVisit() {
  if (validateMandatory(UpdateForm)) {
    validateDemographicsConfirmedDate
    if (document.UpdateForm.redirect.value.substr(0,12)!=="nhiweb99.pbl") {
      setRedirect();
    }
    document.UpdateForm.formactn.value="N3"
    document.UpdateForm.updttype.value="REGIS"
    UpdateWin=window.open("","HideUpdateWindow",
      "width=10,height=10,top=1024,directories=no,location=no" +
      ",scrollbars=no,status=no,toolbar=no,menubar=no,resizeable=no")
    document.UpdateForm.target="HideUpdateWindow";
    document.UpdateForm.submit()
  }
}
function validateDemographicsConfirmedDate() {
  f = document.UpdateForm;
  if (f.ptcnavcd.value == "1") {
    f.ptmas086.value = f.currdate.value;
    return;
  }
  else {
    if (f.ptcnavcd.value == "2") {
      if (!isWhitespace(f.ptmas086.value)) {
        if (f.ptmas086.value !=
            f.currdate.value ) {
          alert("Warning: Confirm Demographics date has not been updated");
          f.ptmas086.value = f.ptmas086.defaultValue;
        }
      }
      return;
    }
  }
}
function setACCEmerFlag() {
  ind1=document.UpdateForm.emvis008.value.substr(3,1)
  ind2=document.UpdateForm.emvis008.value.substr(4,1)
  ind3=document.UpdateForm.emvis008.value.substr(5,1)
  ind4=document.UpdateForm.emvis008.value.substr(6,1)
  ind5=document.UpdateForm.emvis008.value.substr(7,1)
  if((ind1=="W")||(ind2=="W")||(ind3=="W")||(ind4=="W")||(ind5=="W")) {
    document.UpdateForm.emerflag.value="4";       // flag for ACC
  } else {
    document.UpdateForm.emerflag.value="1";
  }
}
// 01 : CTAS : add custom javascript
function SearchDoctor() {
	if (UpdateForm.emcndoct.value==1) {
		DoctorEmrSearchFrame(UpdateForm.emvis020,UpdateForm.dummy3);
	} else {
		DoctorSearchFrame(UpdateForm.emvis020,UpdateForm.dummy3);
	}
}

function getPresentCom(SearchField,ReturnSelect,CatCode) {
  var serverURL   = "../cgi-bin/patweb80.pbl?reportno=32" +
                    "&valdcode=" + SearchField.value.replace(/ /g,"+") +
                    "&valdcatc=" + CatCode.value.replace(/ /g,"+")
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnSelect.options.length=0
    ReturnValue=returnValue.return_value.split("|");
    for (var j=0; j < ReturnValue.length; j++) {
       if (!isWhitespace(ReturnValue[j])) {
         SelectValue=ReturnValue[j].split(",");
         ReturnSelect.options[ReturnSelect.options.length]=
          new Option(SelectValue[1],SelectValue[0]); } } }
}

// clear purchaser if non-resident, otherwise default to DHB-funded
function setPurchaser() {
	isResident = getIndicatorValue(document.UpdateForm.ptmas020, 3);
	if (isResident != RESIDENT) {
		document.UpdateForm.emvis160.value = "";
	} else {
		var purchaserlist = document.UpdateForm.emvis160;
		if (purchaserlist.value.replace(/ /g,"") == "") {
			for (j=0; j<purchaserlist.length; j++) {
				if (purchaserlist.options[j].value.substr(0,3).replace(/ /g,"") == DHB_FUNDED) {
					purchaserlist.value = purchaserlist.options[j].value;
				}
			}
		}
	}
}

// default claim type based on acc status
function setClaimType() {
	var claimlist = document.UpdateForm.emvis008;
	if (claimlist.value.replace(/ /g,"") == "") {
		isacc = document.UpdateForm.accstatus.value.replace(/ /g,"");
		if (isacc == ISACC) {
			for (i=0; i<claimlist.length; i++) {
				if (claimlist.options[i].value.substr(0,3).replace(/ /g,"") == ISACCIDENT) {
					claimlist.value = claimlist.options[i].value;
				}
			}
		} else {
			for (i=0; i<claimlist.length; i++) {
				if (claimlist.options[i].value.substr(0,3).replace(/ /g,"") == NONACCIDENT) {
					claimlist.value = claimlist.options[i].value;
				}
			}		
		}
	}
}
// end of change
// 01 : CTAS : Overload checkReferred to use CAT S emvis011
// overloaded from EmrRegistration.js
function checkReferred() {
  i=document.UpdateForm.emvis011.selectedIndex;
  ind=document.UpdateForm.emvis011.options[i].value.substr(5,1)
  if(ind=="1") {
    TranSrcHeading.innerHTML=transferhd.innerHTML;
    TranSrc.innerHTML=transfersrc.innerHTML;
  } else {
    TranSrc.innerHTML=transferblank.innerHTML;
    TranSrcHeading.innerHTML="";
  }
  if(ind=="2") {
    if(document.UpdateForm.emvis019!=undefined){
      document.UpdateForm.emvis019.className="Mandatory";}
  }
}
function showMobilePhoneDet() {
  if(document.getElementById("ptcnsmsn").value == "1") {
    MobilePhone.innerHTML = showMobPhoneOptOut.innerHTML;
    if(document.getElementById('ptmsx050').value=="1") {
      document.getElementById('d_ptmsx050').checked=true;
    }
  }
  else {
    MobilePhone.innerHTML = showMobPhoneOnly.innerHTML;
  }
}
// end of change
// 07 : TAS : Overload of mobile field validation from Standard.js modified to accept 8-13 digits
//========================================================================
// Validate a Mobile Phone Number (basic edit) - Only contain numbers & spaces.
// Can (optionally) start with a + followed by country code (up to 3 digits).
// Number without country code can be up to 13 digits long.
// <input type=text name=xxxxxxx class=MobilePhone
//========================================================================
function checkMobilePhone(theField) {
  if (isWhitespace(theField.value))
    return true;

   //match=theField.value.match(/^\+?[0-9 ]*$/);

   var theNum = trim(theField.value);  // trim any trailing spaces

   //Regex for AU and NZ mobile phone numbers
   match=theNum.match(/^(?:\+[0-9]{1,3})?((?:[0-9]\s*){10,13}|(?:[0-9]\s*){8,13})$/);

  if (!match) {
    alert(theField.title + " is an invalid mobile phone number")

    var agentStr = window.navigator.userAgent;

    // For Chrome use Focus Delay to prevent looping
    if (agentStr.indexOf("Chrome") != -1) {
      FocusDelay(theField);
    }
    else {
      theField.focus();
    }
    return false;
  }

  return true;
}
</script>

%START.OF.PAGE
<!-- 01 : CTAS : add calls to default-setting functions
<body onLoad="PageLoad(event);checkReferred();DisplayResidency();
              showMobilePhoneDet();
              ChkIdentifyGenderPronounTitle(document.UpdateForm);">
-->
<body onLoad="PageLoad(event);checkReferred();DisplayResidency();;
	setPurchaser();setClaimType();showMobilePhoneDet();DispPrefGivenName();
	ChkIdentifyGenderPronounTitle(document.UpdateForm);">
<!-- end of change -->
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB02.02.003";
PatientVIS="%EMRWEB02.02.081";
PatientNAM="%EMRWEB02.02.002";
PatientSTA="%EMRWEB02.02.086.078";
PatientALT="%EMRWEB02.02.084";
PatientSEX="%EMRWEB02.02.019";
PatientDOB="%EMRWEB02.02.020";
PatientAGE="%EMRWEB02.02.021";
PatientLOC="%EMRWEB02.02.083";
PatientPRI="%EMRWEB02.02.086.066.1";
PatientUNT="%EMRWEB02.02.066.0";
GpCOD="%EMRWEB02.02.085.036.001";
GpNAM="%EMRWEB02.02.085.036.081";
GpPRAC="%EMRWEB02.02.086.085.001";
GpPRACCNT="%EMRWEB02.02.086.085.002";
GpPRACNAM="%EMRWEB02.02.086.085.005";
PatientARR="%EMRWEB02.02.101.0 %EMRWEB02.02.102";
PatientSEE="%EMRWEB02.02.130.0 %EMRWEB02.02.131";
PatientTRI="%EMRWEB02.02.103.3";
PatientECLC="%EMRWEB02.02.484.1";
PatientCLH="%STANDARD.01.017.CL";
PatientEHFT="%EMRWEB02.02.485";
PatientIND="%EMRWEB02.02.086.091";
InsertEmergencyHeader();
</script>


<form name=UpdateForm action="emrweb02.pbl" method=post style="margin:0">
<input type=hidden name=reportno value="02">
<input type=hidden name=updatety value="4">
<input type=hidden name=formactn>
<input type=hidden name=updttype>
<input type=hidden name=urnumber value="%EMRWEB02.02.003">
<input type=hidden name=admissno value="%EMRWEB02.02.081">
<input type=hidden name=updateky value="%EMRWEB02.02.700">
<input type=hidden name=chckname>
<input type=hidden name=redirflg value="1">
<input type=hidden name=nextpage value="3">
<input type=hidden name=emerflag value="1">
<input type=hidden name=ptcnueoc value="%EMRWEB02.02.454">
<input type=hidden name=redirect value="patweb89.pbl?reportno=01&template=013"> 
<input type=hidden name="ptcnrerd" value="%STANDARD.01.025.118.250.0.1">
<input type=hidden name=ptcnnmpr value="%STANDARD.01.025.128.226.1.1">
<input type=hidden name=ptcndfgn value="%STANDARD.01.025.120.182.0.1">
<input type=hidden name=nhmas002 value="%EMRWEB02.02.070.004">
<input type=hidden name=nhmas003 value="%EMRWEB02.02.070.005">
<input type=hidden name=nhmas004 value="%EMRWEB02.02.070.006">
<input type=hidden name=nhmas005 value="%EMRWEB02.02.070.007">
  <!-- 01 : CTAS : add custom hidden fields to UpdateForm -->
  <input type=hidden name=accstatus value="%EMRWEB02.01.224.1">
  <input type=hidden name=emcndoct value="%EMRWEB02.01.455">
  <input type=hidden name=ptcnsmsn id=ptcnsmsn
       value="%STANDARD.01.025.120.243.0.1">
<input type=hidden name=ptmsx050 id=ptmsx050
       value="%EMRWEB02.02.085.066.1">
<!-- end of change -->
<!-- 08 : TAS : Merge task  0893679 -->
<input type=hidden name=ptcnnewc id=ptcnnewc
       value="%STANDARD.01.025.118.138.0.1">
<input type=hidden name=pchgdte id=pchgdte value="%EMRWEB02.02.085.070">
<input type=hidden name=ptmautim id=ptmautim value="%EMRWEB02.02.085.071">
<input type=hidden name=ptmauuid id=ptmauuid value="%EMRWEB02.02.085.072.0">
<input type=hidden name=d_ptmauuid id=d_ptmauuid
 value="%EMRWEB02.02.085.072.1">
<input type=hidden name=sjogaudt value="1">
<input type=hidden name=sjogaudi value="1">
<input type=hidden name=currdate value="%STANDARD.01.015">
<input type=hidden name=ptcnavcd value="%STANDARD.01.025.125.183.0.1">

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell colspan=6 width=100% align=center>
     Patient Demographics</td></tr>
<tr>
  <td class=DataLabel width=11%>Title</td>
  <td width=20%><select class=Mandatory title="Patient Title" name=ptmas001 
     id=ptmas001 tabindex=-1 notab>
        <option></option>
        %STANDARD.01.029
        </select>
        </td>
    <td class=DataLabel width=11%>Address</td>
    <td width=20%>
       <input type=text size=25 maxlength=25  tabindex=6 notab
        name="ptmas008" title="Address Line 1" class=Mandatory
        value="%EMRWEB02.02.012" onClick="updateNHI01()"
        onKeyUp="if (IsEditKeyPress(event)) updateNHI01();"></td>
		
<!-- 01 : CTAS : added Phone class attribute to fields
    <td class=DataLabel>Private Phone</td>
    <td><input type=text size=23 maxlength=20 
        name=ptmas012 title="Private Phone No" tabindex=-1 notab
        value="EMRWEB02.02.017" ></td></tr>
-->
    <td class=DataLabel width=11%>Private Phone</td>
    <td width=27%><input type=text size=23 maxlength=20
        name=ptmas012 title="Private Phone No" tabindex=11 notab
        value="%EMRWEB02.02.017"  class="Phone"></td></tr>
<!-- end of change -->
<tr><td class=DataLabel>Surname</td>
    <td><input type=text size=40 name=ptmas005 
        title="Patient Surname" maxlength=40 class=Mandatory
        value="%EMRWEB02.02.009" tabindex=2 notab
        onClick="updateNHI01()"
        onKeyUp="if(IsEditKeyPress(event)) updateNHI01();"></td>
    <td class=DataLabel></td>
    <td><input type=text size=25 maxlength=25 
        name=ptmas009 title="Address Line 2" tabindex=7 notab
        value="%EMRWEB02.02.013" 
        onClick="updateNHI01()"
        onKeyUp="if(IsEditKeyPress(event)) updateNHI01();"></td>
<!-- 01 : CTAS : added Phone class attribute to fields
    <td class=DataLabel>Business Phone</td>
    <td><input type=text size=23 maxlength=20
        name=ptmas013 title="Business Phone No" tabindex=12 notab
        value="EMRWEB02.02.018" ></td></tr>
-->
    <td class=DataLabel>Business Phone</td>
    <td><input type=text size=23 maxlength=20 
        name=ptmas013 title="Business Phone No" tabindex=-1 notab
        value="%EMRWEB02.02.018" class="Phone"></td></tr>
<!-- end of change -->
<tr><td class=DataLabel>Given Names</td>
    <td><input type=text size=25 maxlength=25 
        title="Patient Given Names" class=Mandatory tabindex=3 notab
        name=ptmas006 value="%EMRWEB02.02.010" 
        onClick="updateNHI01()"
        onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
    </td>
    <td class=DataLabel></td>
    <td><input type=text size=25 maxlength=25 
       name=ptmas010 title="Address Line 3" tabindex=8 notab
       value="%EMRWEB02.02.014" readonly
       onclick="updateNHI01()"
       onKeyUp="if(IsEditKeyPress(event)) updateNHI01();"></td>
<!-- 01 : CTAS : added Phone class attribute to fields
    <td class=DataLabel>Mobile Phone</td>
    <td><input type=text size=23 maxlength=20 
        name=ptmsx042 title="Mobile Phone No" tabindex=-1 notab
        value="EMRWEB02.02.085.043" ></td></tr>
-->
    <td class=DataLabel>Mobile Phone</td>
<!--    <td><input type=text size=23 maxlength=20 
        name=ptmsx042 title="Mobile Phone No" tabindex=-1 notab
        value="EMRWEB02.02.085.043" class="Phone"></td> -->
		<td><div id=MobilePhone></div></td>
		</tr>
<!-- end of change -->

<tr id=PrefGivenName style="display:none">
    <td class=DataLabel>Preferred Given Name</td>
    <td><input type=text size=25 maxlength=25 name=pmpxi083
         title="Preferred Given Name" value="%EMRWEB02.02.698"
         tabindex=3 onchange="UpCase(this);checkPrefGivenName('%EMRWEB02.02.698');"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.G </td>
     <td><select name="ptmas014" tabindex=4 notab
           title="%STANDARD.01.017.G " class=Mandatory 
           onchange="ChkIdentifyGenderPronounTitle(document.UpdateForm);"
           onClick="updateNHI01()"
           onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
         <option></option>
            %EMRWEB02.02.086.099.061.9.1.19.3.H    
         </select></td>
    <td class=DataLabel></td>
    <td><input type=text size=25 maxlength=25 
         name=ptmas011 title="Address Line 4" tabindex=9 notab
         value="%EMRWEB02.02.015" 
         onClick="updateNHI01()"
         onKeyUp="if(IsEditKeyPress(event)) updateNHI01();"></td></tr>

<tr><td class=DataLabel>Date of Birth</td>
    <td><input type=text size=12 name=ptmas016 title="Date of Birth"
         value="%EMRWEB02.02.020" tabindex=5 notab class=Mandatory
         onClick="updateNHI01()"
         onKeyUp="if(IsEditKeyPress(event)) updateNHI01();"></td>
    <td class=DataLabel>Domicile</td>
    <td>
      <input type=text size=5 maxlength=4 
       name=ptmas011 title="Domicile" tabindex=10 notab
       onClick="updateNHI01()" value="%EMRWEB02.02.070.015" class=Mandatory
       onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
      <input readonly class="Readonly" value="%EMRWEB02.02.070.024">
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr id=GenderExtra>
  <td><div id=IdenGenLbl></div></td>
  <td><div id=IdenGenDetail></div></td>
  <td><div id=IdenProLbl></div></td>
  <td><div id=IdenProDetail></div></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
    <td width=31%>&nbsp;</td>
    <td width=24% id=lstuptdg></td>
    <td width=7%>&nbsp;</td>
    <td class=DataLabel width=11%
      id=DemogDateLbl>Demographics Confirmed Date</td>
    <td class=DataLabel width=11% id=DemogDateLblBlue>
      <font color=#1E90FF>Demographics Confirmed Date</td>
    <td width=20%>
      <input type="text" class="PastDate" name=ptmas086 id=ptmas086 
        title="Demographics Confirmed Date" tabindex=15 notab
        value="%EMRWEB02.02.085.059">
        <img class=Icon src="../images/DateTimeStamp.gif"
         align="absmiddle" onClick="SetCurrentDateTime(UpdateForm.ptmas086,null);" />
         <img class=Icon src="../images/DateLookup.gif"
          align="absmiddle" onclick="DateLookupFrame(UpdateForm.ptmas086);" />
    </td>
    <td width=7%>&nbsp;</td>
</tr>
</table>

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<!-- 01 : CTAS : add regional fields to PMI Details section
  <tr><td colspan=6 class=HeadingCell align=center >
      PMI Details </td></tr>
<tr><td>

<tr>
  <td class=DataLabel width=11%>Previous Name</td>
  <td width=20%><input type="text" name="ptmas007" title="Previous Name"
       value="EMRWEB02.02.011" tabindex=21 notab></td>
  <td class=DataLabel width=11%>Religion</td>
  <td width=20%><select name=ptmas019 tabindex=27 notab class=select120>
      <option></option>
      EMRWEB02.02.023.2
      </select></td>
    <td width=11%>&nbsp;</td>
    <td width=27%>&nbsp;</td>
</tr>
<tr>
  <td class=DataLabel>Ethnicity 1</td>
  <td><select name=ethncty1 tabindex=22 notab readonly onclick="updateNHI01()"
       onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
      <option></option>
      EMRWEB02.02.070.020.2
      </select>
  </td>
  <td class=DataLabel>Ethnicity 2</td>
  <td><select name=dummy tabindex=28 notab readonly onclick="updateNHI01()"
       onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
       <option></option>
      EMRWEB02.02.070.021.2
      </select>
  </td>
  <td class=DataLabel>Ethnicity 3</td>
  <td><select name=dummy tabindex=30 notab readonly onclick="updateNHI01()"
       onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
       <option></option>
      EMRWEB02.02.070.022.2
      </select>
  </td>
</tr>

<tr>
  <td class=DataLabel>Iwi 1</td>
  <td><select title="Iwi 1" name=pmpxi078 tabindex=23 notab>
       <option></option>
      EMRWEB02.02.686.2
      </select>
  </td>
  <td class=DataLabel>Iwi 2</td>
  <td><select title="Iwi 2" name=pmpxi079 tabindex=29 notab>
       <option></option>
      EMRWEB02.02.687.2
      </select>
  </td>
  <td class=DataLabel>Iwi 3</td>
  <td><select title="Iwi 3" name=pmpxi080 tabindex=31 notab>
       <option></option>
      EMRWEB02.02.688.2
      </select>
  </td>
</tr>

<tr>
  <td class=DataLabel>Local GP</td>
  <td><input type="text" size=10 maxlength=10 name=pmpxi059 tabindex=24 notab
       value="EMRWEB02.02.684.001"
       onchange="ReadDoc(18,4,pmpxi059,genpname,pmpxi060,
		  genpprac,pmpxi061,genpprov);">
      <input type=text size=25 readonly name=genpname
	  value="EMRWEB02.02.684.081" tabindex=-1 notab>
      <img class=Icon src="../images/SearchIcon.gif"
	 onclick="GPHCPSearchFrame(pmpxi059,genpname,genpprov,
		 pmpxi060,genpprac,pmpxi061,3)">
      <img class=Icon src="../images/erase.gif"
	 onclick="clrFields(pmpxi059,genpname);">
  </td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

<tr>
  <td class=DataLabel>Practice</td>
  <td><input type=hidden name=pmpxi060 value="EMRWEB02.02.685.001">
      <input type=text size=25 readonly name=genpprac
       value="EMRWEB02.02.685.005" tabindex=25 notab>
      <input type=hidden name=pmpxi061 value="EMRWEB02.02.661">
      <input type=hidden name=genpprov value="">
      <img class=Icon src="../images/SearchIcon.gif"
       onclick="GPHCGSearchFrame(pmpxi059,genpname,genpprov,
       pmpxi060,genpprac,pmpxi061)">
      <img class=Icon src="../images/erase.gif"
       onclick="clrFields(pmpxi060,genpprac,pmpxi061,genpprov);">
  </td>       
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

<tr>
  <td class=DataLabel>Inform GP</td>
  <td><select name=pmsvx010 tabindex=26 notab>
	<option> </option>
	<option value="0">NO</option>
	<option value="1" selected>YES</option>
	</select></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>
-->
  <tr><td colspan=6 class=HeadingCell align=center >
      PMI Details </td></tr>
  <tr><td>

<tr><td class=DataLabel>Previous Name</td>
    <td><input type="text" name="ptmas007" title="Previous Name"
         value="%EMRWEB02.02.011" tabindex=-1 notab></td>
	<!-- Occupation -->
	<td class=DataLabel>%STANDARD.01.017.P6</td>
    <td><select name=ptmas043 tabindex=15 class=select120>
        <option></option>
         %EMRWEB02.02.048.9.2
        </select></td>	
    <td class=DataLabel>Religion</td>
    <td><select name=ptmas019 tabindex=-1 notab class=select120>
        <option></option>
        %EMRWEB02.02.023.2
        </select></td></tr>

<tr><td class=DataLabel>Ethnicity 1</td>
    <td><select name=ethncty1 tabindex=-1 notab readonly onClick="updateNHI01()"
         onKeyUp="if (IsEditKeyPress(event)) updateNHI01();">
        <option></option>
        %EMRWEB02.02.070.020.2
        </select>
    </td>
    <td class=DataLabel>Ethnicity 2</td>
    <td><select name=dummy tabindex=-1 notab readonly onClick="updateNHI01()"
         onKeyUp="if (IsEditKeyPress(event)) updateNHI01();">
         <option></option>
        %EMRWEB02.02.070.021.2
        </select>
    </td>
    <td class=DataLabel>Ethnicity 3</td>
    <td><select name=dummy tabindex=-1 notab readonly onClick="updateNHI01()"
         onKeyUp="if (IsEditKeyPress(event)) updateNHI01();">
         <option></option>
        %EMRWEB02.02.070.022.2
        </select>
    </td></tr>

<tr><td class=DataLabel>Iwi 1</td>
    <td><select title="Iwi 1" name=pmpxi078 tabindex=-1 notab>
         <option></option>
        %EMRWEB02.02.686.2
        </select>
    </td>
    <td class=DataLabel>Iwi 2</td>
    <td><select title="Iwi 2" name=pmpxi079 tabindex=-1 notab>
         <option></option>
        %EMRWEB02.02.687.2
        </select>
    </td>
    <td class=DataLabel>Iwi 3</td>
    <td><select title="Iwi 3" name=pmpxi080 tabindex=-1 notab>
         <option></option>
        %EMRWEB02.02.688.2
        </select>
    </td></tr>

<!-- TAS : 05 : Make Field Mandatory -->
<tr><td class=DataLabel>Local GP</td>
    <td><input type="text" size=10 maxlength=10 name=pmpxi059 tabindex=-1 notab
         class=Mandatory title="Local GP" value="%EMRWEB02.02.684.001"
         onchange="ReadDoc(18,4,pmpxi059,genpname,pmpxi060,
                    genpprac,pmpxi061,genpprov);">
        <input type=text size=25 readonly name=genpname
            value="%EMRWEB02.02.684.081" tabindex=-1 notab>
        <img class=Icon src="../images/SearchIcon.gif"
           onClick="GPHCPSearchFrame(pmpxi059,genpname,genpprov,
                   pmpxi060,genpprac,pmpxi061,3)">
        <img class=Icon src="../images/erase.gif"
           onClick="clrFields(pmpxi059,genpname);">
      </td>
	  
	  <td class=DataLabel>Practice</td>
    <td><input type=hidden name=pmpxi060 value="%EMRWEB02.02.685.001">
        <input type=text size=25 readonly name=genpprac
         value="%EMRWEB02.02.685.005" tabindex=-1 notab>
        <input type=hidden name=pmpxi061 value="%EMRWEB02.02.661">
        <input type=hidden name=genpprov value="">
        <img class=Icon src="../images/SearchIcon.gif"
         onClick="GPHCGSearchFrame(pmpxi059,genpname,genpprov,
         pmpxi060,genpprac,pmpxi061)">
        <img class=Icon src="../images/erase.gif"
         onClick="clrFields(pmpxi060,genpprac,pmpxi061,genpprov);">
    </td>  

	<td class=DataLabel>GP Name if Not On System</td>
    <td><input type=text name=ptmas034 tabindex=22 size=30 maxlength=30 
		value="%EMRWEB02.02.039"></td>	
</tr>

<tr><td class=DataLabel>Inform GP</td>
    <td><select name=pmsvx010 tabindex=-1 notab>
          <option> </option>
          <option value="0">NO</option>
          <option value="1" selected>YES</option>
          </select></td>
	      <td class=DataLabel>Folder Selection</td>
      <td><select name=pmpxi077 tabindex=24 title="Folder Selection">
           <option></option>
            %EMRWEB02.02.679.2
          </select></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
</tr>

  <tr><td class=DataLabel>Interpreter Required</td>
      <td><select title="Interpreter Required" name=pmpxi001 tabindex=28>
           %EMRWEB02.02.601.2
          </select></td>
      <td class=DataLabel>Pref Language 1</td>
      <td><select name=pmpxi002 class="select120" tabindex=29
                  title="Preferred Language">
           <option></option>
            %EMRWEB02.02.602.2
          </select></td>
      <td class=DataLabel>Pref Language 2</td>
      <td><select name=pmpxi003 class=select120 tabindex=30
                 title="Preferred Language">
           <option></option>
            %EMRWEB02.02.603.2
          </select></td></tr>
</table>
<!-- end of change -->
<table border=0 width=100% cellspacing=0 cellpadding=0>
  <tr><td colspan=8 class=HeadingCell align=center>Residency Details</td></tr>

  <tr><td class=DataLabel width=11%>Country of Birth</td>
      <td width=20%>
          <select name="ptmas018" class="select120" tabindex=40
                 title="Country of Birth">
           <option></option>
          </select>
  <script type="text/javascript">
   SetCategoryC_(document.UpdateForm.ptmas018,"%EMRWEB02.02.022.1")
  </script>
      </td>
      <td class=DataLabel width=11%><div id=CountryHeading></div></td>
      <td width=20%><div id=CountryResidence></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>

  <tr><td class=DataLabel>Type of Residency</td>
    <td><select name=ptmas020 tabindex=42 class=Mandatory
         title="Type of Resident" onclick="updateNHI01();"
         onKeyUp="if(IsEditKeyPress(event)) updateNHI01();">
         <option></option>
         %EMRWEB02.02.024.5
        </select></td>

      <td class=DataLabel><div id=ExpiryHeading></div></td>
      <td><div id=ExpiryDate></div></td>

      <td class=DataLabel><div id=VisaHeading></div></td>
      <td><div id=Visa></div></td>

      <td class=DataLabel><div id=NZISHeading></div></td>
      <td><div id=NZIS></div></td></tr>
</table>

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
  <tr><td class=DataLabel width=11%>Residency Comments</td>
      <td  width=40%>
        <input type="text" name="pmres004" size=145 maxlength=127
          value="%EMRWEB02.02.481" tabindex=50></td>
      <td width=8%>&nbsp;</td>
      <td width=8%>&nbsp;</td>
      <td width=8%>&nbsp;</td>
      <td width=8%>&nbsp;</td>
      <td width=8%>&nbsp;</td>
      <td width=9%>&nbsp;</td>
  </tr>
</table>

 <!-- 01 : CTAS : add regional fields to Emergency Visit Details section
<table border=0 width=100% cellspacing=0 cellpadding=0>
  <tr><td class=HeadingCell colspan=6 align=center>
     Emergency Visit Details</td></tr>
  <tr>
    <td class=DataLabel width=11%>Arrival Date/Time</td>
    <td width=20%>
     <input type=text size=11 maxlength=11 name="emvis001" 
      title="Arrival Date" class="Mandatory PastDate" tabindex=51>
     <img class=Icon src="../images/DateLookup.gif" class="Icon"
      alt="Show Calendar" date="UpdateForm.emvis001">
     <input type=text size=8 maxlength=8 name=emvis002 tabindex=51
      title="Arrival Time" class=Mandatory>
     <img class=Icon src="../images/DateTimeStamp.gif" class="Icon"
      alt="Current" date="UpdateForm.emvis001" time="UpdateForm.emvis002">
     <img class=Icon src="../images/TimeLookup.gif" class="Icon"
      alt="Time Select" time="UpdateForm.emvis002">
    </td>
    <td class=DataLabel width=11%>Location</td>
    <td width=20%>
       <select name=emvis006 tabindex=56 title="Research" class="SelectBig">
        <option></option>
        EMRWEB02.02.106.3
       </select></td>
    <td class=DataLabel width=11%>Attendance Type</td>
    <td width=27%>
     <select class="Mandatory SelectMed" name=emvis053 tabindex=61
         title="Attendance Type">
     <option></option>
     EMRWEB02.02.213.2
     </select></td>
</tr>

<tr><td class=DataLabel>STANDARD.01.017.CL</td>
    <td><select class="SelectMed" name=emvis008 tabindex=52 
          title="STANDARD.01.017.CL">
     <option></option>
     EMRWEB02.02.108.2
     </select></td>
    <td class=DataLabel>Attendance Source</td>
    <td><select class="Mandatory SelectMed" name=emvis061 tabindex=57 
         title="Attendance Source" 
         onchange="checkReferred();">
         <option></option>
         EMRWEB02.02.221.2
         </select></td>
    <td><div id=TranSrcHeading></div></td>
    <td><div id=TranSrc></div></td>
</tr>

<tr><td class=DataLabel>Arrival Transport</td>
    <td><select name=emvis013 tabindex=53 class="Mandatory SelectMed" 
         title="Arrival Transport"
         onchange="document.UpdateForm.emvis034.disabled=0;CheckAmbType();">
     <option></option>
     EMRWEB02.02.113.2
     </select></td>
     <td class=DataLabel>Amb Case No</td>
     <td><input type=text size=10 maxlength=6 name=emvis034 tabindex=58
         onFocus="CheckAmbType();" value="EMRWEB02.02.134" title="Amb Case No"
         onblur="ValidateAmbCase();"></td>
     <td class=DataLabel>Clerical ID</td>
     <td><input type=text size=3 maxlength=3 name=emvis062 tabindex=62 
          class=Mandatory title="Clerical ID"
      value="EMRWEB02.02.222.1" onchange="CheckCode(emvis062,v062name)">
      <select name=v062name class="Mandatory SelectMed" 
       onchange="UpdateCode(emvis062,v062name)" tabindex=-1 notab>
      <option></option>
      EMRWEB02.02.222.2
      </select></td></tr>
<tr>
  <td>STANDARD.01.017.HP</td>
  <td>
    <select name=emvis160 tabindex=54>
      <option value=""></option>
      EMRWEB02.02.281.1.5
    </select>
  </td>-->
<!--
  <td>STANDARD.01.017.es</td>
  <td>
    <select name=emvis067 tabindex=58>
      <option value=""></option>
      EMRWEB02.02.227.2
    </select>
  </td>
-->
<!--
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr valign=top><td class=DataLabel>Presenting Complaint</td>
    <input type=hidden name=emrviscat value="el">
    <td><input type="text" size=10 tabindex=55
      onKeyUp='UpCase(this);getPresentCom(this,UpdateForm.emvis060,emrviscat);'>
    <select name=emvis060 class="SelectBig Mandatory" tabindex=55>
    </select></td>
    <td colspan=4>
    <textarea type="text" name=prcom001 wrap=hard cols=50 rows=2 tabindex=60 
     onblur="TextareaBlurHandler(this);Validateprecom001();"></textarea>
    </td></tr>
-->
<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
  <td class=HeadingCell colspan=6 align=center>
    Emergency Visit Details 
  </td>
</tr>
<tr>
  <td class=DataLabel>Arrival Date/Time</td>
  <td>
    <input type=text size=12 max=12 name="emvis001" 
     value="%EMRWEB02.02.101.0" class="Mandatory BackDate"
	 title="Arrival Date" onblur="checkDate(this, 'Date');CheckAdateHCPdate(UpdateForm.emvis165.value);"> 
	<img notab src=../images/DateLookup.gif border=0 hspace=4
	   align=absmiddle onclick="DateLookupFrame(emvis001);">
    <input type=text size=8 max=8 name="emvis002" 
     value="%EMRWEB02.02.102" class='Mandatory Time'
	 title="Arrival Time" onblur="checkTime(this,'Arrival Time');
 checkTATime(UpdateForm,UpdateForm.emvis165.value,UpdateForm.emvis166.value);">
	<img notab src=../images/DateTimeStamp.gif class=Icon
	   onClick="SetCurrentDateTime(emvis001,emvis002);">
	<img notab src=../images/TimeLookup.gif class=Icon
	   onclick="TimeLookupFrame(emvis002);">	 
  </td>
   	<td class=DataLabel><label for=emvis006>Location</label></td>
    <td><select name=emvis006 tabindex=33 title="Location" 
		id=emvis006 class="SelectBig">
        <option></option>
        %EMRWEB02.02.106.2
        </select>
	</td>	
</tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type="text" size=9 maxlength=10 name="emvis164" tabindex=13
              title="Responsible HCP" value=""
              onblur="UpCase(this);validateCode(3,emvis164,doctnam2)">
        <input type=text readonly size=25 notab name=doctnam2
               title="Responsible HCP" value="">
        <img notab src="../images/SearchIcon.gif" class="Icon"
             onclick="DoctorSearchFrame(UpdateForm.emvis164,
                      UpdateForm.doctnam2);">
        <img class=Icon src="../images/erase.gif"
           onClick="clrFields(emvis164,doctnam2);">
        <input type=text size=12 max=12 name="emvis165" class="NotFuturEdate"
               title="Date" onblur="checkDate(this, 'Date');CheckAdateHCPdate(this.value);">
        <img notab src=../images/DateLookup.gif border=0 hspace=4
             align=absmiddle onclick="DateLookupFrame(emvis165);">
        <input type=text size=8 max=8 name="emvis166" title="Time"
              onblur="checkTime(this,'Time');CheckFutureTime(UpdateForm,UpdateForm.emvis165.value,UpdateForm.emvis166);
checkTATime(UpdateForm,UpdateForm.emvis165.value,UpdateForm.emvis166.value);">
        <img notab src=../images/DateTimeStamp.gif class=Icon
           onClick="SetCurrentDateTime(emvis165,emvis166);">
        <img notab src=../images/TimeLookup.gif class=Icon
           onclick="TimeLookupFrame(emvis166);">
        <img notab src=../images/SwapIcon.gif class=Icon
           onclick="swapAdateRdate();">
    </td>
    <td class=DataLabel>Type of Visit</td>
    <td>
      <select class="Mandatory SelectMed" name=emvis053 tabindex=36
       title="Type of Visit">
      <option></option>
       %EMRWEB02.02.213.2
      </select>
    </td>
</tr>

    <tr>
      <td class=DataLabel>Department/Specialty</td>
      <td>
        <select class="Mandatory SelectMed" name=emvis009 tabindex=44
			         title="Dept/Specialty">
			    <option></option>
			    %EMRWEB02.02.109.2
			  </select>
      </td>

    <td class=DataLabel>Referring Doctor</td>
    <td><input type=text size=6 name=emvis020 id=emvis020
		title="Referring Doctor" tabindex=45 value="%EMRWEB02.02.120.001"
		onblur="UpCase(this);validateCode(3,emvis020,dummy3)" >
		<input type=text size=18 name=dummy3 title="Doctor Name"
		value="%EMRWEB02.02.120.081" readonly class=Readonly id=dummy3>
		<img src="../images/SearchIcon.gif" onclick="SearchDoctor();" tabindex=-1>
	</td>
<!-- end of change -->
	<!-- points to airway, need to allocate a cat code
	<td class=DataLabel>Expected Purchaser</td>                                  
    <td><select class="Mandatory" name=emvis059 tabindex=48 title="Expected Purchaser">
        <option></option>
        EMRWEB02.01.219.2
        </select>
	</td>
	-->
  <td><div id=TranSrcHeading></div></td>
  <td><div id=TranSrc></div></td>
  </tr>

<tr>
  <td class=DataLabel>%STANDARD.01.017.CL</td>
  <td>
    <select class="SelectMed Mandatory" name=emvis008 tabindex=34 
     title="%STANDARD.01.017.CL">
      <option></option>
      %EMRWEB02.02.108.2
    </select>
  </td>
<!-- 01 : CTAS : use Attendance Source (cat em) for Referral Source (cat S)
    <td class=DataLabel><label for=emvis011>Referral Source</label></td>
    <td><select name=emvis011 class="Mandatory" title="Referral Source" 
		id=emvis011 tabindex=32>
		<option></option>
		EMRWEB02.01.111.2
        </select>
	</td>
-->
<!-- 01 : CTAS : Change Referral Source to Cat S -->
<!-- 02 : DXC :	Comment out label -->
<!--
  <td class=DataLabel>STANDARD.01.017.em</td>
-->
<!-- 02 : DXC : Change field to hidden to prevent IE error -->
<!--  <td> --> 
    <select style="display:none" name=emvis061 tabindex=35 
     title="%STANDARD.01.017.em" onchange="checkReferred();">
      <option></option>
      %EMRWEB02.02.221.2
    </select>
<!-- </td>  --> 
<!-- end of change -->
  	<td class=DataLabel>%EMRWEB02.02.111.8</td>
    <td>
		<select class="Mandatory SelectMed" name=emvis011 tabindex=35 
		 title="%EMRWEB02.02.111.8" value="%EMRWEB02.02.111.1" onchange="checkReferred();">
		  <option></option>
		  %EMRWEB02.02.111.2
		</select>
	</td>
<!-- end of change -->
<!-- end of change -->
</tr>
<tr>
  <td class=DataLabel>Arrival Transport</td>
  <td>
    <select name=emvis013 class="Mandatory SelectMed" title="Arrival Transport"
     onchange="document.UpdateForm.emvis034.disabled=0;CheckAmbType();" tabindex=15>
      <option></option>
      %EMRWEB02.02.113.2
    </select>
  </td>
  <td class=DataLabel>Amb Case No</td>
  <td>
    <input type=text size=10 maxlength=15 name=emvis034 tabindex=38
     onFocus="CheckAmbType();" value="%EMRWEB02.02.134" title="Amb Case No"
     onblur="ValidateAmbCase();">
  </td>
  <td></td><td></td>
</tr>
<!-- 02 : DXC : Added title for mandatory error message -->
<tr>
  <td>%STANDARD.01.017.HP</td>
  <td>
    <select class=Mandatory name=emvis160 title="%STANDARD.01.017.HP">
      <option value=""></option>
      %EMRWEB02.02.281.2
    </select>
<!-- end of change -->
  </td>
 <!-- 01 : CTAS : add Accident Status field (cat code ep)
  <td>&nbsp;</td>
  <td>&nbsp;</td> -->
	<td class=DataLabel><label for=emvis064>%STANDARD.01.017.ep</label></td>
	<td><select name=emvis064 title="%STANDARD.01.017.ep" 
		id=emvis064 tabindex=44>
	<option></option>
	%EMRWEB02.02.224.2
	</select></td>
  <!-- end of change -->
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

<tr valign=top><td class=DataLabel>Presenting Complaint </td>
    <input type=hidden name=emrviscat value="el">
    <td><input type="text" size=10 tabindex=38
      onKeyUp='UpCase(this);getPresentCom(this,UpdateForm.emvis060,emrviscat);'>
    <select name=emvis060 class="SelectBig Mandatory" tabindex=39>
    </select></td>
    <td colspan=4></td>
</tr>
<!-- end of change -->
</table>

<table width=100% border=0>
<tr><td>&nbsp;</td></tr>
<tr><td colspan=4 align=center class=DataLabel>
<!-- 01 : CTAS : changed New Visit button onclick
    <input type=button value="New Visit"  tabindex=50
     class="button" onclick="UpdateVisit()">
-->
    <input type=button value="New Visit" tabindex=71 id="UVB"
     class="button" onclick="tempDisable(this,5);
     if (CheckPhoneFields()) {UpdateThisVisit();}">

<!-- if (CheckPhoneFields()) {UpdateVisit();}"> -->
<!-- end of change -->
    <input type=button value="Cancel" tabindex=72
     class="button" onclick="history.go(-1)">
    </td></tr>
</td></tr>
</table>
</form>


<tr><td>
<div id=SelectHeading></div>
<div id=SelectLocation></div>
</td></tr>
</table>

<script type="text/javascript">
f = document.UpdateForm;
for(var i=0; i<document.UpdateForm.ptmas001.length; i++) {
  if (document.UpdateForm.ptmas001.options[i].value=="%EMRWEB02.02.005.0"){
      document.UpdateForm.ptmas001.selectedIndex=i;
  }
}
if(document.UpdateForm.emvis061.value.substr(5,1)=="1") {
     document.UpdateForm.emvis032.className="Mandatory";
}
GPValue="%EMRWEB02.02.510";
if(GPValue=="No"){
  GPValue="0";
}
else if(GPValue=="Yes"){
  GPValue="1";
}
for(var i=0; i<document.UpdateForm.pmsvx010.length; i++) {
  if(document.UpdateForm.pmsvx010.options[i].value==GPValue.substr(0,1)) {
     document.UpdateForm.pmsvx010.selectedIndex=i; 
  } 
}

if (isWhitespace(f.pchgdte.value) || isWhitespace(f.ptmauuid.value)) {
  var lstupd = "Demographics Last updated by () on "
}
else {
  var lstupd = "Demographics Last updated by " + trim(f.ptmauuid.value) +
               " (" + trim(f.d_ptmauuid.value) + ") " +
               f.ptmautim.value.substr(0,5) + " on " + f.pchgdte.value;
}
document.getElementById('lstuptdg').innerText = lstupd;
document.getElementById('lstuptdg').className = "RedText";
document.getElementById('DemogDateLbl').style.display = "none";
document.getElementById('DemogDateLblBlue').style.display = "";

</script>
 
<span id=transferhd style="display:none">
<td class=DataLabel>Transfer Source</td>
</span>

<span id=transferblank style="display:none">
   <input type=hidden name=emvis032 value="" notab>
</span>

<span id=transfersrc style="display:none">
<td><input type="text" size=8 maxlength=6 name="emvis032" tabindex=22
     value="%EMRWEB02.02.132.1" class="Mandatory"
     onchange='validateCode(9,emvis032,trnsfsrc);'>
     <input type=text size=20 name=trnsfsrc notab readonly
      value="%EMRWEB02.02.132.0">
     <img class=Icon src="../images/SearchIcon.gif" 
      onClick=" TransferSourceFrame(emvis032,trnsfsrc)"></td>
</span>
<span id=showMobPhoneOnly style="display:none">
  <td>
    <input type=text size=23 maxlength=20
      name=ptmsx042 title="Mobile Phone No" tabindex=-1 notab
      value="%EMRWEB02.02.085.043">
  </td>
</span>
<span id=showMobPhoneOptOut style="display:none">
  <td>
    <input type=text size=23 maxlength=20
      name=ptmsx042 class=MobilePhone title="Mobile Phone No" tabindex=13 notab
      value="%EMRWEB02.02.085.043">
    Opt-Out SMS
    <input type=checkbox name="d_ptmsx050" id="d_ptmsx050" tabindex=14 value="">
  </td>
</span>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=002>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%EMRWEB02.02.003">
<input type=hidden name=admissno value="%EMRWEB02.02.081">
<input type=hidden name=MenuType value="%EMRWEB02.02.088">
<input type=hidden name=emrgflag value="Y">
<input type=hidden name=nextpage value="4">
</form>
<script type="text/javascript">
function DisplayResidency() {
  i=document.UpdateForm.ptmas020.selectedIndex;
  ind=document.UpdateForm.ptmas020.options[i].value.substring(5,6)
  if (ind=="T") {
    ExpiryHeading.innerHTML=expiryhd.innerHTML;
    ExpiryDate.innerHTML=expirydate.innerHTML;
    VisaHeading.innerHTML=visahd.innerHTML;
    Visa.innerHTML=visano.innerHTML;
    CountryResidence.innerHTML=countryblank.innerHTML;
    CountryHeading.innerHTML="";
    document.UpdateForm.pmres001.value="";
    NZISHeading.innerHTML="";
    NZIS.innerHTML=NZISblank.innerHTML;
    document.UpdateForm.pmres014.className="";
  } else if (ind=="N"){
    CountryResidence.innerHTML=countryresidence.innerHTML;
    CountryHeading.innerHTML=countryheading.innerHTML;
    ExpiryDate.innerHTML=expiryblank.innerHTML;
    ExpiryHeading.innerHTML="";
    Visa.innerHTML=visablank.innerHTML;
    VisaHeading.innerHTML="";
    document.UpdateForm.pmres005.value="";
    document.UpdateForm.pmres002.value="";
    SetCategoryC_(document.UpdateForm.pmres001,"%EMRWEB02.02.478.1")
    NZISHeading.innerHTML="";
    NZIS.innerHTML=NZISblank.innerHTML;
    document.UpdateForm.pmres014.className="";
  } else if (ind=="V"){
    ExpiryHeading.innerHTML=expiryhd.innerHTML;
    ExpiryDate.innerHTML=expirydate.innerHTML;
    VisaHeading.innerHTML=visahd.innerHTML;
    Visa.innerHTML=visano.innerHTML;
    CountryResidence.innerHTML=countryresidence.innerHTML;
    CountryHeading.innerHTML=countryheading.innerHTML;
    SetCategoryC_(document.UpdateForm.pmres001,"%EMRWEB02.02.478.1") 
    NZISHeading.innerHTML=NZIShd.innerHTML;
    NZIS.innerHTML=NZISno.innerHTML;
    document.UpdateForm.pmres014.className="Mandatory";
  } else {
    ExpiryDate.innerHTML=expiryblank.innerHTML;
    ExpiryHeading.innerHTML="";
    Visa.innerHTML=visablank.innerHTML;
    VisaHeading.innerHTML="";
    document.UpdateForm.pmres005.value="";
    document.UpdateForm.pmres002.value="";
    CountryResidence.innerHTML=countryblank.innerHTML;
    CountryHeading.innerHTML="";
    document.UpdateForm.pmres001.value="";
    NZISHeading.innerHTML="";
    NZIS.innerHTML=NZISblank.innerHTML;
    document.UpdateForm.pmres014.className="";
  }
  if(document.UpdateForm.ptcnrerd.value=="1"){
    document.UpdateForm.ptmas020.className="ReadOnly";
    document.UpdateForm.ptmas020.readOnly=true;
    document.UpdateForm.pmres001.className="ReadOnly select120";
    document.UpdateForm.pmres001.readOnly=true;
    document.UpdateForm.pmres002.className="ReadOnly Date";
    document.UpdateForm.pmres002.readOnly=true;
    document.UpdateForm.pmres004.className="ReadOnly";
    document.UpdateForm.pmres004.readOnly=true;
    document.UpdateForm.pmres005.className="ReadOnly";
    document.UpdateForm.pmres005.readOnly=true;
    document.UpdateForm.pmres014.className="ReadOnly";
    document.UpdateForm.pmres014.readOnly=true;
    document.UpdateForm.ptmas020.disabled=true;
  }
}
//
</script>
<span id=expiryhd style="display:none">
<td class=DataLabel>Expiry Date</td>
</span>
<span id=expirydate style="display:none">
    <td><input type=text size=12 name=pmres002 tabindex=42 notab 
         class="Mandatory Date" title="Expiry Date" 
        value="%EMRWEB02.02.479" onblur="checkDate(this,'Expiry Date');">
        <img class=Icon src="../images/DateLookup.gif"
         onClick="DateLookupFrame(pmres002);">
        <img class=Icon src="../images/DateTimeStamp.gif" 
         onClick="SetCurrentDateTime(pmres002,null);">
    </td></tr>
</span>
<span id=expiryblank style="display:none">
   <input type=hidden name=pmres002>
</span>
<span id=countryblank style="display:none">
   <input type=hidden name=pmres001>
</span>
<span id=countryheading style="display:none">
<td class=DataLabel>Country of Residence</td>
</span>
<span id=countryresidence style="display:none">
  <select name="pmres001" tabindex=40 notab class="select120 Mandatory"
   title="Country of Residence">
  <option></option>
  </select>
</span>
<span id=visablank style="display:none">
   <input type=hidden name=pmres005>
</span> 
<span id=visahd style="display:none">
<td class=DataLabel>Passport/Visa Number</td>
</span>
<span id=visano style="display:none">
  <td><input type=text size=12 name=pmres005 tabindex=42 notab
       class="Mandatory" title="Passport/Visa Number"
       value="%EMRWEB02.02.483">
  </td>
</span>
<span id=NZISblank style="display:none">
  <input type=hidden name=pmres014>
</span>
<span id=NZIShd style="display:none">NZIS Client Number</span>
<span id=NZISno style="display:none">
  <input type=text size=20 maxlength=20 name=pmres014 class=""
   title="NZIS Client Number" tabindex=42 value="%EMRWEB02.02.586"> 
</span>

<span id=idenGenLblShow style="display:none">
  <td class=DataLabel>%STANDARD.01.035.Gi</td>
</span>
<span id=idenGenDetailShow style="display:none">
  <td><select name=pmpxi125 id=pmpxi125 class=Mandatory tabindex=5
       title="%STANDARD.01.035.Gi"
       onchange="IdenGenderChange(document.UpdateForm);">
      <option></option>
       %EMRWEB02.02.086.099.063.9.2
      </select><br>
      <span id=IdenGenFreeTxt></span>
  </td>
</span>
<span id=idenGenDetailBlank style="display:none">
  <td><input type=hidden name=pmpxi125 id=pmpxi125 value=""></td>
  <td><input type=hidden name=pmpxi126 id=pmpxi126 value=""></td>
</span>
<span id=idenGenFreeTxtShow style="display:none">
  <input type=text name=pmpxi126 id=pmpxi126 size=80 maxlength=80
   class=Mandatory tabindex=5
   title="Identifying Gender Free Text"
   value="%EMRWEB02.02.086.099.065">
</span>
<span id=idenGenFreeTxtBlank style="display:none">
  <td><input type=hidden name=pmpxi126 id=pmpxi126 value=""></td>
</span>

<span id=idenProLblShow style="display:none">
  <td class=DataLabel>%STANDARD.01.035.Gp</td>
</span>
<span id=idenProDetailShow style="display:none">
  <td><select name=pmpxi127 id=pmpxi127 class=Mandatory tabindex=10
       title="%STANDARD.01.035.Gp"
       onchange="IdenPronounChange(document.UpdateForm);">
      <option></option>
       %EMRWEB02.02.086.099.064.9.2
      </select><br>
      <span id=IdenProFreeTxt></span>
  </td>
</span>
<span id=idenProDetailBlank style="display:none">
  <td><input type=hidden name=pmpxi127 id=pmpxi127 value=""></td>
  <td><input type=hidden name=pmpxi128 id=pmpxi128 value=""></td>
</span>
<span id=idenProFreeTxtShow style="display:none">
  <input type=text name=pmpxi128 id=pmpxi128 size=80 maxlength=80
   class=Mandatory tabindex=10
   title="Identifying Pronoun Free Text"
   value="%EMRWEB02.02.086.099.066">
</span>
<span id=idenProFreeTxtBlank style="display:none">
  <td><input type=hidden name=pmpxi128 id=pmpxi128 value=""></td>
</span>

<script type="text/javascript">
if(PatientALT.substr(6,1)=="1") {
  alert("Warning: Patient is Deceased");
  history.go(-1);
}
function swapAdateRdate()
{
  UpdateForm.emvis165.value=UpdateForm.emvis001.value;
  UpdateForm.emvis166.value=UpdateForm.emvis002.value;
}
function CheckAdateHCPdate(hcpDate){
  arrivalDate=UpdateForm.emvis001.value;
  if(arrivalDate==""){ return;}
  if(hcpDate==""){ return;}
  aDate = new Date(arrivalDate);
  hDate = new Date(hcpDate);

  if(hDate<aDate ){
      alert("Warning: Responsible HCP Date cannot be prior to arrival date");
      UpdateForm.emvis165.value="";
  }
}
function checkTATime(theForm,checkHdate,checkHtime)
{
 checkAdate=UpdateForm.emvis001.value;
 checkAdate=checkAdate.replace(/:/g,"");
 checkAtime=UpdateForm.emvis002.value;
 checkAtime=checkAtime.replace(/:/g,"");
 checkHtime=checkHtime.replace(/:/g,"");
 if(checkAdate==""){ return;}
 if(checkHdate==""){ return;}
 if(checkHtime==""){ return;}
 if(checkAtime==""){ return;}
 if (SetDateYYYYMMDD(checkAdate)>=SetDateYYYYMMDD(checkHdate)) {

   if(checkAtime>checkHtime){
     alert("Responsible HCP Time cannot be prior to arrival time");
     UpdateForm.emvis166.value="";
     return false;
   }
 }
 return true;
}
</script>

