<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<link rel="stylesheet" href="../html/validate.css" type="text/css">
<script language=javascript src="../js/emr_entry.js"> </script>
<script language=javascript src="../js/EmrMandatory.js"> </script>
<script language=javascript src="../js/emrweb02100.js"> </script>
<!-- 01 : CTAS : add reference to ctascustom files -->
<script type="text/javascript" src="../js/ctas_emrmandatory.js"></script>
<script type="text/javascript" src="../js/ctascustom.js"></script>
<!-- end of change -->
<!-- 08 Add the following javascript --> 
<script type="text/javascript" src="../js/emrweb0201113.js"> </script>
<script language=javascript>
function SavePresComplAddInfoBLANK1(ReturnCode) {
  onblurHandler(window.event)

  var formatedtext=formateTextBLANK(triage.vicmt023,'50')
  var serverURL="../cgi-bin/emrweb02.pbl?reportno=27" +
                "&admissno=" + triage.admissno.value.replace(/ /g,"+") +
                "&updateky=" + triage.updateky.value.replace(/ /g,"+") +
                "&webuseid=" + PatientLinks.webuseid.value.replace(/ /g,"+") +
                "&vicmt023=" + escape(formatedtext)

  if (IEBrowser) {
    var returnValue = RSExecute(serverURL);

    if (returnValue.status==0) {
       ReturnValue=returnValue.return_value.split("|")
       triage.updateky.value = ReturnValue[0]; }
    else {
       alert("The screen will now be refreshed.\n" +
             " Changes have not been retained.");
       location.reload();
       setTimeout('ReturnCode.select();',100);
       return;
    }
    if (top.menu==undefined) { return; }
    if (top.menu.document.all.EmergencyFrame==undefined) { return; }
    if (top.menu.document.all.EmergencyFrame.src=="") { return; }
    if (top.menu.EmergencyFrame.document.UpdateForm==undefined) { return; }
    if (top.menu.EmergencyFrame.document.UpdateForm.vicmt023==undefined) {
      return;
    }
    ClinicalPage="emrweb02.pbl?reportno=1&template=100"
    if (top.menu.document.all.EmergencyFrame.src.substr(0,36)==ClinicalPage) {
      top.menu.EmergencyFrame.document.UpdateForm.vicmt023.value=
          triage.vicmt023.value
    }
  }
  else {
    var returnValue = RSExecuteFetch(serverURL);

    returnValue.then (
      function (returnValue) {
        returnValue = ParseFetchData(returnValue);  // parse fetch() result

        if (returnValue.status==0) {
           ReturnValue=returnValue.return_value.split("|")
           triage.updateky.value = ReturnValue[0]; }
        else {
           alert("The screen will now be refreshed.\n" +
                 " Changes have not been retained.");
           location.reload();
           setTimeout('ReturnCode.select();',100);
           return;
        }
        if (top.menu==undefined){ return; }
        if (top.menu.document.all.EmergencyFrame==undefined){ return; }
        if (top.menu.document.all.EmergencyFrame.src==""){ return; }
        if (top.menu.EmergencyFrame.document.UpdateForm==undefined){return;}
        if (top.menu.EmergencyFrame.document.UpdateForm.vicmt023==undefined) {
          return;
        }
        ClinicalPage="emrweb02.pbl?reportno=1&template=100"
        if (top.menu.document.all.EmergencyFrame.src.substr(0,36)==ClinicalPage)
        {
          top.menu.EmergencyFrame.document.UpdateForm.vicmt023.value=
                        triage.vicmt023.value
        }
      }
    )
  }
}
function DisplayPresentComplaintAddInfo() {
  f = document.triage;
  if (f.emcprcmp.value == "1") {
    document.getElementById('PresentComplaintAddInfo').style.display = "";
  }
  else {
    document.getElementById('PresentComplaintAddInfo').style.display = "none";
  }
  f.vicmt023.value=trim(f.pcompadd.value)
}
function SplitComplaint()  {
words=triage.comptext.value.split(/\s+/);
triage.emvis004.value=""
triage.emvis005.value=""
firstflag=0
for (i=0 ; i<words.length ; i++) {
  if (triage.emvis004.value.length+words[i].length < 50 && firstflag==0 ) {
    triage.emvis004.value+=words[i] + " " }
  else {
    triage.emvis005.value+=words[i] + " "
    firstflag=1 }
  }
triage.comptext.value=triage.emvis004.value+triage.emvis005.value
}
function setFormactn() {
  var cont = workMandatory(triage);
  if(cont != true) {
     return;
     }
  else {
    document.triage.nextpage.value="2"
    document.triage.formactn.value="C1"
    document.triage.updttype.value="TRIAG"
    document.triage.submit()
    }
}
//
function workMandatory(theForm) {
  // 01 : CTAS : Add call to validateMandatory so that other fields are validated
  if(!validateMandatory(triage)){
	return false;
  }
  // end of change  
//
  if (isWhitespace(document.triage.emvis060.value)) {
    alert("Presenting Complaint Code is Mandatory");
    return(false);
  }
//
  if (isWhitespace(document.triage.prcom001.value)) {
    alert("Presenting Complaint Comment is Mandatory");
    return(false);
  }
//
   var hasBeenSet=0;  // Radio button has not been selected
   for (var i =0 ; i < document.triage.emvis003.length; i++) {
     if (document.triage.emvis003[i].checked==1) {
       hasBeenSet=1;
     }
   }
   if (!hasBeenSet) {
     alert("Triage Category is Mandatory");
     return false;        //Radio button has bot been selected return false
   }
//
  if (isWhitespace(document.triage.emvis127.value)) {
    alert("Triage Nurse is Mandatory");
    return(false);
  }
//
  if (isWhitespace(document.triage.emvis128.value)) {
    alert("Triage Date is Mandatory");
    return(false);
  }
//
  if (isWhitespace(document.triage.emvis129.value)) {
    alert("Triage Time is Mandatory");
    return(false);
  }
//
  Indicator=document.triage.v060name.value.substr(13,1);
  if (Indicator=="I") { // Injury data
    if (isWhitespace(triage.emvis021.value)) {
       alert("Place Where Injury Occurred is a required field");
       return false;}
    if (isWhitespace(triage.injur006.value)) {
       alert("Activity When Injured is a required field");
       return false;}
    if (isWhitespace(triage.injur004.value)) {
       alert("Injury Cause is a required field");
       return false;}
    if (isWhitespace(triage.injur005.value)) {
       alert("Human Intent is a required field");
       return false;}
    if (isWhitespace(triage.injur002.value)) {
       alert("Description of Injury Event is a required field");
       return false;}
  }

  return true;
}
function DisplayDiv() {
Indicator=document.triage.v060name.value.substr(13,1);
  if (Indicator=="I") {
     document.all.Injury.style.display="";
     document.all.Injury.innerHTML=document.all.EmergencyProc.innerHTML;
     }
  else {
     document.all.Injury.style.display="none";
     document.all.Injury.innerHTML="";}
}

function validateNurse() {
  validateCode('17',document.triage.emvis127,
                    document.triage.v127name,
                    document.triage.gnm,
                    SetNurseName);
}
function SetNurseName() {
triage.v127name.value=triage.gnm.value.replace(/\s*$/g,"")+
                              " " +
                            triage.v127name.value.replace(/\s*$/g,"")
}
function CancelGoBack(){
     window.location.href = document.triage.redirect.value;
}
// 05 : TAS : Merge task 0853847 to validate location
function validateLocation(SearchField) {
  if (isWhitespace(SearchField.value)) {
      return;;
  }
  var serverURL   = "../cgi-bin/emrweb08.pbl?reportno=2" +
                    "&valdcode=" + SearchField.value.replace(/ /g,"+")
  var returnValue = RSExecute(serverURL);
  if (returnValue.status==0) {
    ReturnValue=returnValue.return_value.split("|")
  }
  else {
     document.triage.emvis006.selectedIndex=0;
     document.triage.emvis006.focus();
  }
}

// 01 : CTAS : function to enable/disable allergy fields
function EnableAllergies() {
	var allergy1 = document.getElementById("emvis056");
// 03 : DXC	var allergy2 = document.getElementById("emvis043");
	var allergy3 = document.getElementById("emvis044");
	var allergy4 = document.getElementById("emvis046");
	var allergytext1 = document.getElementById("emvis036");
// 03 : DXC	var allergytext2 = document.getElementById("emvis037");
	var allergytext3 = document.getElementById("emvis038");
	var allergytext4 = document.getElementById("emvis039");
	
	if (allergy1.value.replace(/ /g,'') == '') {
// 03 : DXC		allergy2.disabled = true;
		allergy3.disabled = true;
		allergy4.disabled = true;
// 03 : DXC		allergytext2.disabled = true;
		allergytext3.disabled = true;
		allergytext4.disabled = true;
	} else {
		allergy3.disabled = false;
		allergytext3.disabled = false;		
	}
/* 03 : DXC
	if (allergy2.value.replace(/ /g,'') == '') {
		allergy3.disabled = true;
		allergy4.disabled = true;
		allergytext3.disabled = true;
		allergytext4.disabled = true;
	} else {
		allergy3.disabled = false;
		allergytext3.disabled = false;	
	}
*/
	if (allergy3.value.replace(/ /g,'') == '') {
		allergy4.disabled = true;
		allergytext4.disabled = true;
	} else {
		allergy4.disabled = false;
		allergytext4.disabled = false;
	}
}
/* 08 TAS Comment out the following function as it is not working.
       The date check is occurring somewhere else anyway.
// 06 : TAS : Add validation for Triage date
//function CheckTriageAfterArv() {
//   if(!ChkDateTime(triage.emvis001,triage.emvis002,
//                 UpdateForm.emvis128,UpdateForm.emvis129)) {
//	alert("Triage date/time must be equal to or greater than " +
//          "the Arrival date/time");
//	UpdateForm.emvis129.focus();
//    return;
//  }
//  }

// end of change
*/  
</script>
<style type=text/css>
select.[Select160] {
width: 160px;
}
</style>
%START.OF.PAGE
<body onload="PageLoad(event);sortSelect(document.getElementById('emvis055'));
              DisplayDiv();EnableAllergies();DisplayPresentComplaintAddInfo();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB02.01.003";
PatientVIS="%EMRWEB02.01.081";
PatientNAM="%EMRWEB02.01.002";
PatientSTA="%EMRWEB02.01.086.078";
PatientALT="%EMRWEB02.01.084";
PatientSEX="%EMRWEB02.01.019";
PatientDOB="%EMRWEB02.01.020";
PatientAGE="%EMRWEB02.01.021";
PatientLOC="%EMRWEB02.01.083";
PatientPRI="%EMRWEB02.01.086.066.1";
PatientUNT="%EMRWEB02.01.066.0";
PatientIND="%EMRWEB02.01.086.091";
GpCOD="%EMRWEB02.01.086.084.001";
GpNAM="%EMRWEB02.01.086.084.081";
GpPRAC="%EMRWEB02.01.086.085.001";
GpPRACCNT="%EMRWEB02.01.086.085.002";
GpPRACNAM="%EMRWEB02.01.086.085.005";
PatientARR="%EMRWEB02.01.101.0 %EMRWEB02.01.102";
PatientSEE="%EMRWEB02.01.130.0 %EMRWEB02.01.131";
PatientTRI="%EMRWEB02.01.103.3";
PatientECLC="%EMRWEB02.01.484.1";
PatientCLH="%STANDARD.01.017.CL";
PatientEHFT="%EMRWEB02.01.485";
InsertEmergencyHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<form name=SelectScreen action="emrweb02.pbl" method=post>
 <input type=hidden name=reportno value=1>
 <input type=hidden name=template value=1>
 <input type=hidden name=admissno value="%EMRWEB02.01.146">
 <input type=hidden name=urnumber value="%EMRWEB02.01.151">
</form>
<form name=dummy action="emrweb02.pbl" method="post">
  <input type=hidden name=reportno value="1">
  <input type=hidden name=urnumber>
  <input type=hidden name=admissno>
  <input type=hidden name=formactn>
  <input type=hidden name=updttype>
  <input type=hidden name=username>
  <input type=hidden name=password>
  <input type=hidden name=updateky value="%EMRWEB02.01.404">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="emrweb01.pbl?reportno=1&template=2">
</form>
<form name=triage action="emrweb02.pbl" method=post>
 <input type=hidden name=reportno value="01">
 <input type=hidden name=resavail value="%EMRWEB02.01.168">
 <input type=hidden name=template value="001">
 <input type=hidden name=admissno value="%EMRWEB02.01.146">
 <input type=hidden name=urnumber value="%EMRWEB02.01.151">
 <input type=hidden name=formactn>
 <input type=hidden name=redirect value="emrweb01.pbl?reportno=1&template=2">
 <input type=hidden name=updateky value="%EMRWEB02.01.404">
 <input type=hidden name=updttype>
 <input type=hidden name=nextpage>
 <input type="hidden" name="username">
 <input type="hidden" name="password">
 <input type=hidden name=emvis026 value="%EMRWEB02.01.126.3">
 <input type=hidden name=savelocn value="%EMRWEB02.01.106.1">
 <input type=hidden name=savelocd value="%EMRWEB02.01.106.0">
 <input type=hidden name=emcprcmp id=emcprcmp
 value="%STANDARD.01.025.122.051.1.1">
 <input type=hidden name=pcompadd value="%EMRWEB02.01.955.023.0">
<!-- 06 : TAS : Add triage date validation -->
 <input type=hidden name=emvis001 value="%EMRWEB02.01.101.0">
 <input type=hidden name=emvis002 value="%EMRWEB02.01.102">
<!-- TAS 07 : TAS : Add dirty update flag -->
 <input type=hidden name=dontchec value=1>
 <table width=100% border=0 cellspacing=0 cellpadding=1>
	<tr><td colspan=2></td>
	<td>
	<table width=100% border=0 cellspacing=0 cellpadding=1>
<tr><td><label for=emvis127>Triaged By</label></td>
    <td><input type="text" name=emvis127 tabindex=1 id=emvis127 size=6 class=Mandatory
     onblur="UpCase(this);validateNurse(emvis127,v127name);" title="Triage Nurse">
    <input type=hidden name=gnm>
    <input type="text" name=v127name size=20 class=Readonly readonly tabindex=-1
     notab>
    <img src=../images/SearchIcon.gif class=Icon
    onclick='NurseSearchFrame(emvis127,v127name);'></td>
</tr>

<tr><td class=DataLabel width=20%>
	<label for=emvis060>Presenting Complaint</label></td>
    <td><input type=text name=emvis060 max=3 size=3 value="%EMRWEB02.01.220.1"
		class="Mandatory" id=emvis060
         onChange="UpCase(this);CheckCode(emvis060,v060name)" tabindex=3>
    <select name=v060name onChange="UpdateCode(emvis060,v060name);DisplayDiv()"
		tabindex=4>
    <option></option>
    %EMRWEB02.01.220.2
    </select>
    </td></tr>

<tr>
	<td>%STANDARD.01.017.ek</td>
	<td><table border=0 cellspacing=0><tr>
	<td class="ed-radio-btn">
	<input type=radio name=emvis059 id=emvis059R01 value=R01 tabindex=5 class="Mandatory"
		title="%STANDARD.01.017.ek">
		<label for=emvis059R01>Patent</label></td>
	<td class="ed-radio-btn">
	<input type=radio name=emvis059 id=emvis059R02 value=R02 tabindex=6 class="Mandatory">
		<label for=emvis059R02>At Risk</label></td>
	<td class="ed-radio-btn">
	<input type=radio name=emvis059 id=emvis059R03 value=R03 tabindex=7 class="Mandatory">
		<label for=emvis059R03>Immediate</label></td>
	</tr></table>
	</td> 

</tr>

<tr>
<td>%STANDARD.01.017.A1</td>
   <td><table border=0 cellspacing=0><tr>
   <td class="ed-radio-btn">
	<input type=radio name=emvis041 id=emvis041R01 value=R01 class="Mandatory"
		tabindex=8 title="%STANDARD.01.017.A1">
		<label for=emvis041R01>Normal</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis041 id=emvis041R02 value=R02 tabindex=9 class="Mandatory">
		<label for=emvis041R02>Abnormal</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis041 id=emvis041R03 value=R03 tabindex=10 class="Mandatory">
		<label for=emvis041R03>Distressed</label></td>
   </tr></table></td>
   <td></td><td></td>
</tr>

<tr>
<td>%STANDARD.01.017.ei</td>
   <td><table border=0 cellspacing=0><tr>
   <td class="ed-radio-btn">
	<input type=radio name=emvis057 id=emvis057R01 value=R01 tabindex=11 class="Mandatory" 
		title="%STANDARD.01.017.ei">
		<label for=emvis057R01>Normal</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis057 id=emvis057R02 value=R02 tabindex=12 class="Mandatory">
		<label for=emvis057R02>Abnormal</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis057 id=emvis057R03 value=R03 tabindex=13 class="Mandatory">
	<label for=emvis057R03>Compromised</label></td>
   </tr></table></td>  
   <td></td><td></td>
</tr>
<!-- 04 : DXC : Fixed issue with field not recording code -->
<tr>
<td>%STANDARD.01.017.eq</td>
   <td><table border=0 cellspacing=0><tr>
   <td class="ed-radio-btn">
	<input type=radio name=emvis065 id=emvis065R01 value=R01 tabindex=14 class="Mandatory"
	title="%STANDARD.01.017.eq"/>
	<label for=emvis065R01>A</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis065 id=emvis065R02 value=R02 tabindex=15 class="Mandatory"/>
	<label for=emvis065R02>V</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis065 id=emvis065R03 value=R03 tabindex=16 class="Mandatory"/>
	<label for=emvis065R03>P</label></td>
   <td class="ed-radio-btn">
	<input type=radio name=emvis065 id=emvis065R04 value=R04 tabindex=17 class="Mandatory"/>
	<label for=emvis065R04>U</label></td>
   </tr></table></td>
   <td></td><td></td>
</tr>

<tr>
<!-- 08 : TAS : Save Triage Notes after leaving the field -->
	<td><label for=prcom001>Triage Note
	<br/><br/>&nbsp;&nbsp;
	<span id="charsUsed"></span></td>
    <td><textarea name=prcom001 id=prcom001 wrap=hard 
		cols=50 rows=6 maxlength=300 tabindex=18 
		title="Triage Note" class="Mandatory"
		onkeyup="NumCharsUsed(this, 300, document.getElementById('charsUsed'));"
        onblur="prcom001TopFrame();">
	</textarea>
<!-- 08 : End of change -->
    <input type=hidden name=emvis004 value="%EMRWEB02.01.104">
    <input type=hidden name=emvis005 value="%EMRWEB02.01.105">
    <input type=hidden name=nocodes>
    </td>
</tr>

<tr valign=top id=PresentComplaintAddInfo>
  <td></td>
  <td>
    <textarea type=text name=vicmt023 id=vicmt023 wrap=hard tabindex=18
     cols=50 rows=6 class=AsciiOnly
     title="Triage Note - Additional Information"
     onkeydown="CheckPresentCompAddInfoTextLimit(this);"
     onblur="TextareaBlurHandler(this);SavePresComplAddInfoBLANK1(this);">
    </textarea>
  </td>
</tr>

<tr>
	<td class=DataLabel><label for=emvis056>Allergies</label></td>
	<td>
		<select class="Select160 Mandatory" name=emvis056 id=emvis056 
		tabindex=19 onchange="EnableAllergies();">
		<option></option>
		%EMRWEB02.01.216.2
		</select>
		<input type=text name=emvis036 id=emvis036 size=44 maxlength=50
			tabindex=20 title="Allergies">	
	</td> 	
	<td></td><td></td>
</tr>
<!-- 03 : DXC : remove field
<tr>
   <td></td>
	<td><select class=Select160 name=emvis043 id=emvis043 tabindex=21
		onchange="EnableAllergies();">
		<option></option>
		EMRWEB02.01.203.2
		</select>
   <input type=text name=emvis037 id=emvis037 size=44 maxlength=50
			tabindex=22 title="Allergies">	</td>
	<td></td><td></td>	
</tr>
-->
<tr>
	<td></td>
	<td><select class=Select160 name=emvis044 id=emvis044 tabindex=23
		onchange="EnableAllergies();">
		<option></option>
		%EMRWEB02.01.204.2
		</select>	
	<input type=text name=emvis038 id=emvis038 size=44 maxlength=50
			tabindex=24 title="Allergies">	</td> 
	<td></td><td></td>
</tr>

<tr>
   <td></td>
   	<td><select class=Select160 name=emvis046 id=emvis046 tabindex=25
		onchange="EnableAllergies();">
		<option></option>
		%EMRWEB02.01.206.2
		</select>
   <input type=text name=emvis039 id=emvis039 size=44 maxlength=50
			tabindex=26 title="Allergies">	</td> 
</tr>

<tr>
	<td class=DataLabel><label for=emvis055>Pain Score</label></td>
	<td><select class="Select160 Mandatory" name=emvis055 id=emvis055 
		tabindex=27 title="Pain Score">
		<option></option>
		%EMRWEB02.01.215.2
		</select>
		0=no pain, 10=worst
	</td>
</tr>

<tr>
	<td class=DataLabel>%EMRWEB02.01.111.8</td>
    <td><select name=emvis011 class="Mandatory" title="%EMRWEB02.01.111.8" 
		id=emvis011 value="%EMRWEB02.01.111.1" tabindex=28>
		<option></option>
		%EMRWEB02.01.111.2
        </select>
	</td>
</tr>
<!-- 05 : TAS : 14-08-18 : Merge task 0853847 to Fix Location -->
<tr>
   	<td class=DataLabel><label for=emvis006>Location</label></td>
    <td><select name=emvis006 tabindex=29 title="Location" 
		id=emvis006 value="%EMRWEB02.01.106.1" 
		class="SelectBig Mandatory" onchange="validateLocation(emvis006)";>
        <option></option>
        %EMRWEB02.01.106.2
        </select>
	</td>
</tr>

<tr>
	<td width=15%>Triage Category</label></td>
	<td><table border=0 cellspacing=0>
	   <td bgcolor=#FF3333><label for=emvis003><i>1</i>
		<input type="radio" name="emvis003" value=1 
			id=emvis003r1 tabindex=30 title="Triage Category"></td>
	   <td bgcolor=#FF9900><label for=emvis003><i>2</i>
		<input type=radio name=emvis003 value=2 tabindex=31 id=emvis003r2></td>
	   <td bgcolor=#66FF99><label for=emvis003><i>3</i>
		<input type=radio name=emvis003 value=3 tabindex=32 id=emvis003r3></td>
	   <td bgcolor=#99CCFF><label for=emvis003><i>4</i>
		<input type=radio name=emvis003 value=4 tabindex=33 id=emvis003r4></td>
	   <td bgcolor=#FFFFFF><label for=emvis003><i>5</i>
		<input type=radio name=emvis003 value=5 tabindex=34 id=emvis003r5></td>
	   </tr></table>
   </td>  
</tr>

<!-- 01 : CTAS : Moved Surveillance, Arrival Transport (Cat EA), 
Type of Visit (cat ee), ACC (cat ep)
-->
<tr>
	<td class=DataLabel><label for=emvis069>%STANDARD.01.017.eu</label></td>
    <input type=hidden name=name_emvis069>
    <td><select name=emvis069 tabindex=37 title="%STANDARD.01.017.eu" 
		id=emvis069 value="%EMRWEB02.01.229.1" class="SelectBig Mandatory">
        <option></option>
        %EMRWEB02.01.229.2
        </select>
	</td>
</tr>
<tr>
	<td class=DataLabel><label for=emvis013>%STANDARD.01.017.EA</label>
	</td>
	<td><select name=emvis013 title="%STANDARD.01.017.EA" tabindex=38
		id=emvis013 value="%EMRWEB02.01.113.1">
		<option></option>
		%EMRWEB02.01.113.2
		</select>
	</td>
</tr>
<tr>
	<td class=DataLabel><label for=emvis053>%STANDARD.01.017.ee</label>
	</td>
	<td><select name=emvis053 title="%STANDARD.01.017.ee" 
		id=emvis053 value="%EMRWEB02.01.213.1" tabindex=39>
	<option></option>
	%EMRWEB02.01.213.2
	</select></td>
</tr>
<tr>
	<td class=DataLabel>
		<label for=emvis064>%STANDARD.01.017.ep</label></td>
	<td><select name=emvis064 title="%STANDARD.01.017.ep" 
		id=emvis064 tabindex=40>
	<option></option>
	%EMRWEB02.01.224.2
	</select></td>	
</tr>
<!-- end of change -->
<!-- 08 TAS. Dont Check the Triage date time as it is checked elsewhere and
             the check date routine is not working here
     06 : Add function CheckTriageAfterArv for checking that arrival time is
before triage time
-->
<tr>
   <td class=DataLabel><label for=emvis128>Triage Date</label></td>
   <td>
	   <input type="text" name=emvis128 size="12" tabindex=35
	   class="Mandatory BackDate" title="Triage Date" 
	   onblur="checkDate(this,'Date');" id=emvis128>
	   <img notab src=../images/DateLookup.gif border=0 hspace=4
	   align=absmiddle onclick="DateLookupFrame(emvis128);">
	   <input type="text" name=emvis129 size="8" tabindex=36
	   class='Mandatory Time' title="Triage Time" 
	   onblur="checkTime(this,'Triage Time');" id=emvis129>
	   <img notab src=../images/DateTimeStamp.gif class=Icon
	   onClick="SetCurrentDateTime(emvis128,emvis129);">
	   <img notab src=../images/TimeLookup.gif class=Icon
	   onclick="TimeLookupFrame(emvis129);">
   </td>  
</tr>
</table>
</td></tr>
</table>

<div id=Injury></div>

<table width=100% border=0 cellspacing=0 cellpadding=1>
    <tr><td align=center>
      <input type=button class="button" value="Update" 
		tabindex=41 onClick="setFormactn();">
      <input type=button class="button" value="Cancel"
		tabindex=42  onclick="CancelGoBack();">
    </td></tr>
    </table>
</form>
<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=webuseid value="%STANDARD.01.008">
<input type=hidden name=urnumber value="%EMRWEB02.01.003">
<input type=hidden name=admissno value="%EMRWEB02.01.081">
</form>
<form name=HiddenFields method=get>
<input type=hidden name=Pres01 value="%EMRWEB02.01.104">
<input type=hidden name=Pres02 value="%EMRWEB02.01.105">
<input type=hidden name=Pres03 value="%EMRWEB02.01.174">
<input type=hidden name=Pres04 value="%EMRWEB02.01.175">
<input type=hidden name=Pres05 value="%EMRWEB02.01.176">
<input type=hidden name=Pres06 value="%EMRWEB02.01.177">
<input type=hidden name=prcom001>
</form>
</div>
</body>

<span id=EmergencyProc style="display:none;">
<table align=center cellspacing=1 cellpadding=0 border=0 width=100%>
<tr><td class=DataLabel width=20%>Place Where Injury Occurred</td>
    <td><select name="emvis021" class="SelectBig Mandatory"
         title="Place Where Injury Occurred">
    <option></option>
    %EMRWEB02.01.121.2
     </select></td></tr>
<tr><td class=DataLabel>Activity When Injured</td>
    <td><select name="injur006" class="Mandatory SelectBig"
         title="Activity When Injured">
    <option></option>
      %EMRWEB02.01.183.2
       </select></td></tr>

<tr><td class=DataLabel> Injury Cause</td>
    <td><select name="injur004" class="Mandatory SelectBig"
         title="Injury Cause" >
     <option></option>
     %EMRWEB02.01.181.2
     </select>
     </td></tr>

<tr><td class=DataLabel> Human Intent</td>
    <td><select name="injur005" class="Mandatory SelectBig"
         title="Human Intent">
    <option></option>
     %EMRWEB02.01.182.2
      </select></td></tr>
<tr><td class=DataLabel>
    Desc. of Injury Event</td>
    <td><input type="text" name="injur002" maxlength="50" size="40"
         class=Mandatory
         title="Description of Injury Event" value="">
    <input type="text" name="injur003" maxlength="50" size="40" value="">
    </td></tr>
</table>
</span>

<script language=javascript>
if  ("%EMRWEB02.01.260.1" == "1")  {
  document.triage.emvis100.checked=1
}
//
 var RadioIndex=%EMRWEB02.01.103.1 - 1           // Starts at 0 so sub 1
 if(RadioIndex!=-1) {
 document.triage.emvis003[RadioIndex].checked=1  // Set Current Checked Value
 }
  var strg1= trim(HiddenFields.Pres01.value)
  var strg2= trim(HiddenFields.Pres02.value)
  var strg3= trim(HiddenFields.Pres03.value)
  var strg4= trim(HiddenFields.Pres04.value)
  var strg5= trim(HiddenFields.Pres05.value)
  var strg6= trim(HiddenFields.Pres06.value)
  triage.prcom001.value=strg1 + '\n' +
                            strg2 + '\n' +
                            strg3 + '\n' +
                            strg4 + '\n' +
                            strg5 + '\n' +
                            strg6
  document.HiddenFields.prcom001.value=triage.prcom001.value;
</script>
