<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/mehweb0101002.js"></script>
<script type="text/javascript">
//------------------------------------------------------------------------------
// Function : Delete MH Diagnosis Record
//------------------------------------------------------------------------------
 function diagDelete() {
  if (UpdateForm.mehdi002.value != UpdateForm.origdate.value) {
     alert("Action date may not be changed for a delete.");
     return;
     }
   UpdateForm.updttype.value="D";
   SubmitHidden(document.UpdateForm);
 }
</script>
%START.OF.PAGE
<body onload="PageLoad(event);chkDiagDateTypeMandatory();">
<div id="PatientHeading"></div>
<script type="text/javascript">
 PatientURN="%MEHWEB01.01.003";
 PatientVIS="%MEHWEB01.01.081";
 PatientNAM="%MEHWEB01.01.002";
 PatientSTA="%MEHWEB01.01.086.078";
 PatientALT="%MEHWEB01.01.084";
 PatientSEX="%MEHWEB01.01.019";
 PatientDOB="%MEHWEB01.01.020";
 PatientAGE="%MEHWEB01.01.021";
 PatientLOC="%MEHWEB01.01.083";
 PatientPRI="%MEHWEB01.01.086.066.1";
 PatientUNT="%MEHWEB01.01.066.0";
 DoctorCOD="%MEHWEB01.01.082.003";
 DoctorNAM="%MEHWEB01.01.082.002";
 PatientAID="%MEHWEB01.01.086.090";
 PatientIND="%MEHWEB01.01.086.091";
 PatientCUR="%MEHWEB01.01.086.092";
 PatientCLC="%MEHWEB01.01.086.093.1";
 PatientCLH="%STANDARD.01.017.CL";
 PatientHFT="%MEHWEB01.01.086.094";
 PatientCDM="%MEHWEB01.01.086.095";
 PatientVDH="%MEHWEB01.01.086.099.015";
 InsertPatientHeader()
</script>
<div id="PatientMenu"></div>
<div id="PageBodySection">
 <form name="UpdateForm" action="mehweb01.pbl" method="post">
  <input type="hidden" name="urnumber" value="%MEHWEB01.01.003" />
  <input type="hidden" name="admissno" value="%MEHWEB01.01.101" />
  <input type="hidden" name="updatety" value="1" />
  <input type="hidden" name="reportno" value="1" />
  <input type="hidden" name="updttype" value="U" />
  <input type="hidden" name="nextpage" value="4" />
  <input type="hidden" name="redirect" value="%MEHWEB01.01.001.mehweb01.01.003" />
  <input type="hidden" name="mehdi051" />
  <input type="hidden" name="mehdi052" />
  <input type="hidden" name="mehdi053" />
  <input type="hidden" name="mehdi054" />
  <input type="hidden" name="mehdi055" />
  <input type="hidden" name="mehdi056" />
  <input type="hidden" name="dummy" value="Here" />
  <input type="hidden" name="origdate" value="%MEHWEB01.01.303" />

  <table border="0" colspan="1" width="100%" cellspacing="1" cellpadding="1">
   <tr><td class="HeadingCell" align="center" colspan="4">
           Mental Health Diagnosis Supervisor</td></tr>
<!--
   <tr><td colspan="4"><div id="LastDiagDate"></div><td></tr>
-->
   <tr><td class="DataLabel" width="8%">Action Date</td>
       <td><input type="text" name="mehdi002" id="mehdi002" 
            title="Action Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.303" tabindex="1" 
                  class="Mandatory PastDate" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi002);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi002,null);" /></td>
       <td colspan="2">&nbsp;</td></tr>

   <tr><td class="DataLabel" width="8%">Diagnosis 1 </td>
       <td><input type="text" name="mehdi003" size="9" maxlength="9" tabindex="2"
                  value="%MEHWEB01.01.304"
                  onblur="validateCode(43,mehdi003,mehdi004);
                          chkDiagDateTypeMandatory();" />
           <input type="text" name="mehdi004" title="Diagnosis 1" size="60"
                  maxlength="100" value="%MEHWEB01.01.305" tabindex="3" />
           <img src="../images/SearchIcon.gif"class="con"
                 onclick="Icd10DisSearchFrame(mehdi003,mehdi004)" />
           &nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi059 id=mehdi059 title="Diagnosis 1 Type"
            value="%MEHWEB01.01.360" tabindex=4
            onchange="chkTypeRecorded(this);">
            <option value=" "> </option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td>
       <td class="DataLabel" width="8%">Diagnosis 4 </td>
       <td><input type="text" name="mehdi039" size="9" maxlength="9"
                  value="%MEHWEB01.01.340" tabindex="14"
                  onblur="chkDiagDateTypeMandatory();
                          validateCode(43,mehdi039,mehdi040);
                          chkPrevDiag();" />
           <input type="text" name="mehdi040" title="Diagnosis 4" size="60"
                  maxlength="100" value="%MEHWEB01.01.341" tabindex="15" />
           <img src="../images/SearchIcon.gif" class="Icon"
                 onclick="Icd10DisSearchFrame(mehdi039,mehdi040)" />
            &nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi062 id=mehdi062 title="Diagnosis 4 Type"
            value="%MEHWEB01.01.363" tabindex=16
            onchange="chkTypeRecorded(this);">
            <option value=" "></option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td></tr>

   <tr><td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi006" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.307" tabindex="5" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi006);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi006,null);" /></td>
       <td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi042" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.343" tabindex="17" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi042);" />
           <img src=../images/DateTimeStamp.gif class="Icon"
                onclick="SetCurrentDateTime(mehdi042,null);" /></td></tr>

   <tr><td class="DataLabel">Diagnosis 2</td>
       <td><input type="text" name="mehdi007" size="9" maxlength="9" tabindex="5"
                  value="%MEHWEB01.01.308"
                  onblur="chkDiagDateTypeMandatory();
                          validateCode(43,mehdi007,mehdi008);
                          chkPrevDiag();" />
           <input type="text" name="mehdi008" title="Diagnosis 2" size="60"
                  maxlength="100" value="%MEHWEB01.01.309" tabindex="6">
           <img src="../images/SearchIcon.gif" class="Icon"
                onclick="Icd10DisSearchFrame(mehdi007,mehdi008)" />
            &nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi060 id=mehdi060 title="Diagnosis 2 Type"
            value="%MEHWEB01.01.361"
            tabindex=7 onchange="chkTypeRecorded(this);">
            <option value=" "></option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td>
       <td class="DataLabel">Diagnosis 5</td>
       <td><input type="text" name="mehdi043" size="9" maxlength="9" tabindex="18"
                  value="%MEHWEB01.01.344"
                  onblur="chkDiagDateTypeMandatory();
                          validateCode(43,mehdi043,mehdi044);
                          chkPrevDiag();" />
           <input type="text" name="mehdi044" title="Diagnosis 5" size="60"
                  maxlength="100" value="%MEHWEB01.01.345" tabindex="19" />
           <img src="../images/SearchIcon.gif" class="Icon"
                onclick="Icd10DisSearchFrame(mehdi043,mehdi044)" />
            &nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi063 id=mehdi063 title="Diagnosis 5 Type"
            value="%MEHWEB01.01.364" tabindex=20
            onchange="chkTypeRecorded(this);">
            <option value=" "></option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td></tr>

   <tr><td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi010" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.311" tabindex="7" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi010);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi010,null);" /></td>
       <td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi046" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.347" tabindex="21" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi046);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi046,null);" /></td></tr>

   <tr><td class="DataLabel">Diagnosis 3 </td>
       <td><input type="text" name="mehdi035" size="9" maxlength="9" tabindex="10"
                  value="%MEHWEB01.01.336"
                  onblur="chkDiagDateTypeMandatory();
                          validateCode(43,mehdi035,mehdi036);
                          chkPrevDiag();" />
           <input type="text" name="mehdi036" title="Diagnosis 3" size="60"
                  maxlength="100" value="%MEHWEB01.01.337" tabindex="11" />
           <img src="../images/SearchIcon.gif" class="Icon"
                onclick="Icd10DisSearchFrame(mehdi035,mehdi036)" />
			&nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi061 id=mehdi061 title="Diagnosis 3 Type"
            value="%MEHWEB01.01.362" tabindex=12
            onchange="chkTypeRecorded(this);">
            <option value=" "></option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td>
       <td class="DataLabel">Diagnosis 6 </td>
       <td><input type="text" name="mehdi047" size="9" maxlength="9" tabindex="22"
                  value="%MEHWEB01.01.348"
                  onblur="chkDiagDateTypeMandatory();
                          validateCode(43,mehdi047,mehdi048);
                          chkPrevDiag();" />
           <input type="text" name="mehdi048" title="Diagnosis 6" size="60"
                  maxlength="100" value="%MEHWEB01.01.349" tabindex="23" />
         <img src="../images/SearchIcon.gif" class="Icon"
              onclick="Icd10DisSearchFrame(mehdi047,mehdi048)" />
            &nbsp;&nbsp;Type&nbsp;&nbsp;
           <select name=mehdi064 id=mehdi064 title="Diagnosis 6 Type"
            value="%MEHWEB01.01.365" tabindex=24
            onchange="chkTypeRecorded(this);">
            <option value=" "></option>
            <option value="A">Principal</option>
            <option value="B">Other Relevant</option>
            <option value="P">Provisional</option>
           </select></td></tr>

   <tr><td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi038" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.339" tabindex="13"  />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi038);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi038,null);" /></td>
       <td class="DataLabel">Diagnosis Date</td>
       <td><input type="text" name="mehdi050" title="Diagnosis Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.351" tabindex="25" />
           <img src="../images/DateLookup.gif" class="Icon"
                onclick="DateLookupFrame(mehdi050);" />
           <img src="../images/DateTimeStamp.gif" class="Icon"
                onclick="SetCurrentDateTime(mehdi050,null);" /></td></tr>

   <tr><td colspan="4" align="center" class="HeadingCell">DSMIVR Diagnosis</td></tr>

   <tr><td class="DataLabel">DSMIVR Date</td>
<!-- 01 : CTAS : make DSM diagnosis fields non-mandatory
       <td class="DataField">
           <input type="text" name="mehdi026" title="DSMIVR Date" size="12"
                  maxlength="12" value="MEHWEB01.01.327" tabindex="20"
                  class="Mandatory NotFuturEdate" />
            <img src="../images/DateLookup.gif" class="Icon"
                 onclick="DateLookupFrame(mehdi026);" />
             <img src="../images/DateTimeStamp.gif" class="Icon"
                  onclick="SetCurrentDateTime(mehdi026,null);" /></td>
-->
       <td class="DataField">
           <input type="text" name="mehdi026" title="DSMIVR Date" size="12"
                  maxlength="12" value="%MEHWEB01.01.327" tabindex="26"
                  class="NotFuturEdate" />
            <img src="../images/DateLookup.gif" class="Icon"
                 onclick="DateLookupFrame(mehdi026);" />
             <img src="../images/DateTimeStamp.gif" class="Icon"
                  onclick="SetCurrentDateTime(mehdi026,null);" /></td>
<!-- end of change -->				  
       <td class="DataField">Primary</td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel">Axis I Codes</td>
<!-- 01 : CTAS : make DSM diagnosis fields non-mandatory
       <td><input type="text" name="mehdi011" size="9" maxlength="9" tabindex="21"
                  title="Axis I Code 1"
                  value="MEHWEB01.01.312" class="Mandatory"
                  onblur="validateCode(38,mehdi011,mehdi014);" />
           <input type="text" name="mehdi014" title="Diagnosis 1" size="70"
                  maxlength="70" value="MEHWEB01.01.315" tabindex="21" />
          <img src="../images/SearchIcon.gif" align="absmiddle"
                  onClick="MehAxis1SearchFrame(mehdi011,mehdi014);" /></td>
-->
       <td><input type="text" name="mehdi011" size="9" maxlength="9" tabindex="27"
                  title="Axis I Code 1"
                  value="%MEHWEB01.01.312"
                  onblur="validateCode(38,mehdi011,mehdi014);" />
           <input type="text" name="mehdi014" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.315" tabindex="28" />
          <img src="../images/SearchIcon.gif" align="absmiddle"
                  onClick="MehAxis1SearchFrame(mehdi011,mehdi014);" /></td>
<!-- end of change -->	
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi051" value="0" tabindex="29" /></td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel"></td>
       <td><input type="text" name="mehdi012" size="9" maxlength="9" tabindex="30"
                  value="%MEHWEB01.01.313"
                  onblur="validateCode(38,mehdi012,mehdi015);" />
           <input type="text" name="mehdi015" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.316" tabindex="31" />
           <img src="../images/SearchIcon.gif" align=absmiddle
                onClick="MehAxis1SearchFrame(mehdi012,mehdi015);" /></td>
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi052" value="0" tabindex="32" /></td>
         <td>&nbsp;</td></tr>

   <tr><td class="DataLabel"></td>
       <td><input type="text" name="mehdi013" size="9" maxlength="9" tabindex="33"
                  value="%MEHWEB01.01.314"
                  onblur="validateCode(38,mehdi013,mehdi016);" />
           <input type="text" name="mehdi016" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.317" tabindex="34" />
           <img src="../images/SearchIcon.gif" align="absmiddle"
                onClick="MehAxis1SearchFrame(mehdi013,mehdi016);" /></td>
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi053" value="0" tabindex="35" /></td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel">Axis II Codes</td>
       <td><input type="text" name="mehdi017" size="9" maxlength="9" tabindex="36"
                  value="%MEHWEB01.01.318"
                  onblur="validateCode(39,mehdi017,mehdi020);" />
           <input type="text" name="mehdi020" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.321" tabindex="37" />
           <img src="../images/SearchIcon.gif" align="absmiddle"
                onClick="MehAxis2SearchFrame(mehdi017,mehdi020);" /></td>
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi054" value="0" tabindex="38" /></td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel"></td>
       <td><input type="text" name="mehdi018" size="9" maxlength="9" tabindex="39"
                  value="%MEHWEB01.01.319"
                  onblur="validateCode(39,mehdi018,mehdi021);" />
           <input type="text" name="mehdi021" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.322" tabindex="40" />
           <img src="../images/SearchIcon.gif" align="absmiddle"
                onClick="MehAxis2SearchFrame(mehdi018,mehdi021);" /></td>
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi055" value="0" tabindex="42" /></td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel"></td>
       <td><input type="text" name="mehdi019" size="9" maxlength="9" tabindex="42"
                  value="%MEHWEB01.01.320"
                  onblur="validateCode(39,mehdi019,mehdi022);" />
           <input type="text" name="mehdi022" title="Diagnosis 1" size="70"
                  maxlength="70" value="%MEHWEB01.01.323" tabindex="43" />
           <img src="../images/SearchIcon.gif" align="absmiddle"
                onClick="MehAxis2SearchFrame(mehdi019,mehdi022);" /></td>
       <td class="DataLabel">
           <input type="checkbox" name="d_mehdi056" value="0" tabindex="44" /></td>
       <td>&nbsp;</td></tr>

   <tr><td class="DataLabel">Axis III </td>
       <td><input type="text" name="mehdi023" title="Diagnosis 1" size="50"
                  maxlength="50" value="%MEHWEB01.01.324" tabindex="45" /></td>
       <td colspan="2">&nbsp;</td></tr>

   <tr><td class="DataLabel">Axis IV </td>
       <td><select name="mehdi024" title="Axis IV Code" tabindex="46">
            <option></option>
              %MEHWEB01.01.325.2
           </select></td>
       <td colspan="2">&nbsp;</td></tr>

   <tr><td class="DataLabel">Axis V </td>
       <td><select name="mehdi025" title="Axis IV Code" tabindex="48">
             <option></option>
              %MEHWEB01.01.326.2
           </select></td>
       <td colspan="2">&nbsp;</td></tr>
	   
   <tr><td colspan="4" align="center" class="HeadingCell">Responsible HCP</td></tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type="text" size=10 maxlength=10 name="mehdi057" tabindex=49
         class=Mandatory value="%MEHWEB01.01.358.1" title="Responsible HCP"
         onblur="UpCase(this);ValidateHCP(18,18,mehdi057,n_mehdi057);"
         onchange="getCaseTeamByHCP(mehdi057,mehdi058,n_mehdi058,mehdi002);">
       <input type="text" size=25 notab readonly name="n_mehdi057"
         value="%MEHWEB01.01.358.0">
       <img src="../images/SearchIcon.gif" class=Icon
        onclick="hcpOnChange(mehdi057,n_mehdi057,mehdi058,n_mehdi058,mehdi002);">
       <img src="../images/ClearIcon.gif" class=Icon
        onClick="clrFields(mehdi057,n_mehdi057);">
       <td></tr>

<tr><td class=DataLabel>Case Team</td>
    <td><input type=text name=mehdi058 size=11 maxlength=10 title="Case Team"
         value="%MEHWEB01.01.359.1"
         onblur="validateCode2(7,mehdi058,n_mehdi058)" tabindex=50
         onchange="getHCPbyCaseTeam(mehdi058,mehdi057,n_mehdi057,mehdi002);">
        <input type=text name=n_mehdi058 size=29 readonly
         value="%MEHWEB01.01.359.0"
         class=Readonly tabindex=-1 title="Team Description">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="caseTeamOnChange(mehdi058,n_mehdi058,mehdi057,n_mehdi057,mehdi002);">
        <img src="../images/ClearIcon.gif" class=Icon
         onClick="clrFields(mehdi058,n_mehdi058);">
    </td>
</tr>	   
	   
   <tr><td align="center" colspan="4"><br>
           <input type="button" value="Update" class="button" tabindex="51"
                  name="UpdateButton"
                  onClick="if(checkEarliestRefDate()) {
                             SubmitAdm()
                           ;}" />
           <input type="button" value="Delete" class="button" tabindex="52"
                  name="DeleteButton" onClick="diagDelete()" />
           <input type="button" value="Close" class="button" tabindex="53"
                  name="CloseButton" onClick="SetCancelRedirect();" /></td></tr>
  </table>
 </form>

 <form name="PatientLinks" method="get">
  <input type="hidden" name="reportno" value="1" />
  <input type="hidden" name="template" value="004" />
  <input type="hidden" name="urnumber" value="%MEHWEB01.01.003" />
  <input type="hidden" name="admissno" value="%MEHWEB01.01.101" />
  <input type="hidden" name="MenuType" value="%MEHWEB01.01.088" />
 </form>
</div>

<span id="InsertLastDiag">
 <table border="0" colspan="1" width="100%" cellspacing="1" cellpadding="1">
   <tr><td class="HeadingCell" align="center">
       ( Latest Diagnosis - %MEHWEB01.01.303) </tr>
 </table>
</span>

<script type="text/javascript">
//
  var status=trim("%MEHWEB01.01.104");
  var ahstatus=trim("%MEHWEB01.01.403");
  if(ahstatus=="7" || ahstatus=="8") {
    document.UpdateForm.redirect.value="%MEHWEB01.01.001.allweb02.02.002"
  }

function setChkBoxs() {
  if(document.UpdateForm.d_mehdi051.checked == true) {
     document.UpdateForm.mehdi051.value="1";
  } else {
     document.UpdateForm.mehdi051.value="0";
  }
  if(document.UpdateForm.d_mehdi052.checked == true) {
     document.UpdateForm.mehdi052.value="1";
  } else {
     document.UpdateForm.mehdi052.value="0";
  }
  if(document.UpdateForm.d_mehdi053.checked == true) {
     document.UpdateForm.mehdi053.value="1";
  } else {
     document.UpdateForm.mehdi053.value="0";
  }
  if(document.UpdateForm.d_mehdi054.checked == true) {
     document.UpdateForm.mehdi054.value="1";
  } else {
     document.UpdateForm.mehdi054.value="0";
  }
  if(document.UpdateForm.d_mehdi055.checked == true) {
     document.UpdateForm.mehdi055.value="1";
  } else {
     document.UpdateForm.mehdi055.value="0";
  }
  if(document.UpdateForm.d_mehdi056.checked == true) {
     document.UpdateForm.mehdi056.value="1";
  } else {
     document.UpdateForm.mehdi056.value="0";
  }
}
if ("%MEHWEB01.01.352"=="1") {
    document.UpdateForm.d_mehdi051.checked = true;
   } else {
    document.UpdateForm.d_mehdi051.checked = false;
}
if ("%MEHWEB01.01.353"=="1") {
    document.UpdateForm.d_mehdi052.checked = true;
   } else {
    document.UpdateForm.d_mehdi052.checked = false;
}
if ("%MEHWEB01.01.354"=="1") {
    document.UpdateForm.d_mehdi053.checked = true;
   } else {
    document.UpdateForm.d_mehdi053.checked = false;
}
if ("%MEHWEB01.01.355"=="1") {
    document.UpdateForm.d_mehdi054.checked = true;
   } else {
    document.UpdateForm.d_mehdi054.checked = false;
}
if ("%MEHWEB01.01.356"=="1") {
    document.UpdateForm.d_mehdi055.checked = true;
   } else {
    document.UpdateForm.d_mehdi055.checked = false;
}
if ("%MEHWEB01.01.357"=="1") {
    document.UpdateForm.d_mehdi056.checked = true;
   } else {
    document.UpdateForm.d_mehdi056.checked = false;
} /*
if (isWhitespace(document.UpdateForm.lastdiag.value) ) {
     LastDiagDate.innerHTML="";
   } else {
     LastDiagDate.innerHTML=InsertLastDiag.innerHTML;
} */

function SetCancelRedirect() {
  PatientLinkTo('mehweb01.pbl',1,3,0,0,0);
//  if(ahstatus=="7" || ahstatus=="8") {
//     PatientLinkTo('allweb02.pbl',2,2,0,0,0);
//    } else {
//     PatientLinkTo('mehweb01.pbl',9,1,0,0,0);
//  }
}

mentalHealthRefActDate="%MEHWEB01.01.603";
function checkEarliestRefDate() {
  // CTAS : test - disable prior activity check
  //if (!isWhitespace(mentalHealthRefActDate) && 
  //    !isWhitespace(document.getElementById('mehdi002').value)) {
  //  if (SetDateYYYYMMDD(mentalHealthRefActDate) > 
  //      SetDateYYYYMMDD(document.getElementById('mehdi002').value)) {
  //    alert("Error Message: Action Date cannot be prior to the first " + 
  //          "Activity against the referral.");
  //    return false;
  //  }
  //}
  // end of test
  return true;
}
DiagType1="%MEHWEB01.01.360";
for (var i=0;i<document.getElementById('mehdi059').options.length;i++){
   if (document.getElementById('mehdi059').options[i].value==DiagType1) {
     document.getElementById('mehdi059').selectedIndex=i;}
}
DiagType2="%MEHWEB01.01.361";
for (var i=0;i<document.getElementById('mehdi060').options.length;i++){
   if (document.getElementById('mehdi060').options[i].value==DiagType2) {
     document.getElementById('mehdi060').selectedIndex=i;}
}
DiagType3="%MEHWEB01.01.362";
for (var i=0;i<document.getElementById('mehdi061').options.length;i++){
   if (document.getElementById('mehdi061').options[i].value==DiagType3) {
     document.getElementById('mehdi061').selectedIndex=i;}
}
DiagType4="%MEHWEB01.01.363";
for (var i=0;i<document.getElementById('mehdi062').options.length;i++){
   if (document.getElementById('mehdi062').options[i].value==DiagType4) {
     document.getElementById('mehdi062').selectedIndex=i;}
}
DiagType5="%MEHWEB01.01.364";
for (var i=0;i<document.getElementById('mehdi063').options.length;i++){
   if (document.getElementById('mehdi063').options[i].value==DiagType5) {
     document.getElementById('mehdi063').selectedIndex=i;}
}
DiagType6="%MEHWEB01.01.365";
for (var i=0;i<document.getElementById('mehdi064').options.length;i++){
   if (document.getElementById('mehdi064').options[i].value==DiagType6) {
     document.getElementById('mehdi064').selectedIndex=i;}
}
</script>
