<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<script type="text/javascript" src="../js/mrtweb02.js"></script>
<script type="text/javascript" src="../js/mrtweb0203.js"></script>
<script type="text/javascript">
function init() {
  var ind7 = '';
  DisWeight();
  SetDestination();
  if (document.getElementById('ptcnoenc').value == "2" ) {
    WebInterface();
    if (EncInputFileExists()) {
      btnInitInstance();
    }
  }
  ind7 = document.getElementById('admntype').value.substr(9,1);
  if (ind7 == 'R') {
    alert('Warning:\n' + '\n'+
          'The Admission has a ' +
          document.getElementById('d_admtypdsc').value + ' of \n' +
          document.getElementById('d_pattypdsc').value + '\n' +
          'and may not require Coding.');
  }
}

function SubmitOK() {
  if(!validateClusters()){ return; }
  if (ValidateDiagAccDates()) {
     Compall();
  }
  return true;;
}
</script>
%START.OF.PAGE
<!-- 01 : CTAS : invoke meshCheck() upon loading-->
<body onLoad="PageLoad(event);meshCheck();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%MRTWEB02.03.003";
PatientVIS="%MRTWEB02.03.081";
PatientNAM="%MRTWEB02.03.002";
PatientSTA="%MRTWEB02.03.086.078";
PatientALT="%MRTWEB02.03.084";
PatientSEX="%MRTWEB02.03.019";
PatientDOB="%MRTWEB02.03.020";
PatientAGE="%MRTWEB02.03.021";
PatientLOC="%MRTWEB02.03.083";
PatientPRI="%MRTWEB02.03.086.066.1";
PatientUNT="%MRTWEB02.03.066.0";
DoctorCOD="%MRTWEB02.03.082.003";
DoctorNAM="%MRTWEB02.03.082.002";
PatientAID="%MRTWEB02.03.086.090";
PatientIND="%MRTWEB02.03.086.091";
PatientCUR="%MRTWEB02.03.086.092";
PatientCLC="%MRTWEB02.03.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%MRTWEB02.03.086.094";
PatientCDM="%MRTWEB02.03.086.095";
PatientVDH="%MRTWEB02.03.086.099.015";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>

<div id=PageBodySection>
<table cellspacing=0 cellpadding=0 border=1 width=100%>
<tr><td>

  <form name=UpdateForm method=post action=mrtweb02.pbl>
  <input type=hidden name=reportno value="3">
  <input type=hidden name=template value="001">
  <input type=hidden name=updttype value="">
  <input type=hidden name=urnumber value="%MRTWEB02.03.003">
  <input type=hidden name=admissno value="%MRTWEB02.03.081">
  <input type=hidden name=ptecd001 value="">
  <input type=hidden name=ptecd002 value="">
  <input type=hidden name=ptecd003 value="">
  <input type=hidden name=epsoindc value="%MRTWEB02.03.308">
  <input type=hidden name=wghtindc value="%MRTWEB02.03.310">
  <input type=hidden name=neonindc value="%MRTWEB02.03.319">
  <input type=hidden name=pripre value="%MRTWEB02.03.301">
  <input type=hidden name=seqpre value="%MRTWEB02.03.302">
  <input type=hidden name=compre value="%MRTWEB02.03.303">
  <input type=hidden name=asspre value="%MRTWEB02.03.304">
  <input type=hidden name=lofpre value="%MRTWEB02.03.305">
  <input type=hidden name=dispre value="%MRTWEB02.03.306">
  <input type=hidden name=oprpre value="%MRTWEB02.03.307">
  <input type=hidden name=morpre value="%MRTWEB02.03.320">
  <input type=hidden name=stateflg value="%MRTWEB02.03.322">
  <input type=hidden name=newseqnc>
  <input type=hidden name=nextpage value="0">
  <input type=hidden name=redirect value="">
  <input type=hidden name=encoderf>
  <input type=hidden name=moveswap>
  <input type=hidden name=setfunct>
  <input type=hidden name=hrsinmec value="%MRTWEB02.03.603">
  <input type=hidden name=admweght value="%MRTWEB02.03.312">
  <input type=hidden name=intubatn value="%MRTWEB02.03.326">
  <input type=hidden name=hspbirth value="%MRTWEB02.03.110.3">
  <input type=hidden name=groupert value="%MRTWEB02.03.327">
  <input type=hidden name=mechwarn value="%MRTWEB02.03.328">
  <input type=hidden name=diffhosp value="%MRTWEB02.03.315">
  <input type=hidden name=override value="">
  <input type=hidden name=cancerov value="">
  <input type=hidden name=usngcpap value="%MRTWEB02.03.330">
  <input type=hidden name=hrsinniv value="%MRTWEB02.03.613">
  <input type=hidden name=mrcngrup id=mrcngrup value="%STANDARD.01.025.097.145.1.1">
  <input type=hidden name=ptcnoenc id=ptcnoenc value="%STANDARD.01.025.079.092.1.1">
  <input type=hidden name=webcoder id=webcoder value="%MRTWEB02.03.365">
  <input type=hidden name=admntype id=admntype value="%MRTWEB02.03.112.3">
  <input type=hidden name=d_admtypdsc id=d_admtypdsc 
         value="%STANDARD.01.017.P ">
  <input type=hidden name=d_pattypdsc id=d_pattypdsc 
         value="%MRTWEB02.03.112.0">
  <input type=hidden name=mrcnwies value="%STANDARD.01.044.097.179.001">
  <input type=hidden name=mrcnicct id=mrcnicct
   value="%STANDARD.01.025.097.249.1.1">
  <input type=hidden name=ckviscmt value="%MRTWEB02.03.631">
  <input type=hidden name=ckvismdt value="%MRTWEB02.03.620">

<table cellspacing=0 cellpadding=1 border=0 width=100% bgcolor=#cccccc>
<tr><td class=DataLabel>Episode No. </td>
    <td><select name=epscd001 onchange='ChangeEps(this);'>
        %MRTWEB02.03.318
        </select></td>
    <td class=DataLabel>Coding Complete </td>
    <td><input type=checkbox name=medcd001 checked value="1"></td>

    <td class=DataLabel>%STANDARD.01.017.CP</td>
    <td><select name=ptecd008 class="SelectMed Mandatory" id="ptecd008"
         onchange="SetDestination();" title="%STANDARD.01.017.CP">
        <option></option>
        %MRTWEB02.03.606.2
        </select></td></tr>

<tr><td class=DataLabel>DRG </td>
    <td class=DataField>%MRTWEB02.03.522   </td>
    <td class=DataLabel>Reset/Resubmit</td>
    <td><select name=nmdsresb title="Reset/Resubmit">
          <option value=" "></option>
          <option value="0">Reset</option>
          <option value="2">Resubmit - Warning</option>
          <option value="3">Resubmit - General</option></td>
    <td class=DataLabel>Destination</td>
    <td><input type=hidden name=mrtme019 value="%MRTWEB02.03.325.0">
        <select name=mrtme003 class=SelectMed>
        <option></option>
        %MRTWEB02.03.325.1
        </select></td></tr>

    <tr><td>WIES  </td>
    <td class=DataField>%MRTWEB02.03.519</td>
    <td><div id=divScoreLbl></div></td>
    <td class=DataField><div id=divScoreVal></div></td>
    </tr>

</table>
<tr><td>
  <table align=center border=0 cellspacing=0 cellpadding=1 width=100%>       
  <tr><td class=DataLabel>Attendance</td>  
    <td class=DataLabel>Length of Stay Days </td>
    <td class=DataLabel>Ward</td>
    <td class=DataLabel>Unit</td>
    <td class=DataLabel>Planned Re-admission</td>
    <td class=DataLabel>Hrs ICU </td>
    <td class=DataLabel>Hrs CCU </td>
    <td class=DataLabel>Hrs MV </td>
    <td class=DataLabel>Hrs NIV </td>
    <td><div id=WeightLabel></div></td></tr> 
<tr><td class=DataField>* %MRTWEB02.03.102 - %MRTWEB02.03.201 </td>  
    <td class=DataField>* %MRTWEB02.03.225 Days </td>
    <td class=DataField>* %MRTWEB02.03.224 </td>
    <td class=DataField>* %MRTWEB02.03.124.0  </td>
    <td class=DataField>* %MRTWEB02.03.309  </td>
    <td class=DataField>* %MRTWEB02.03.601</td>
    <td class=DataField>* %MRTWEB02.03.602</td>
    <td class=DataField>* %MRTWEB02.03.603</td>
    <td class=DataField>* %MRTWEB02.03.613</td>
    <td class=DataField><div id=WeightField></div></td></tr> 
 </table>
</table>


<table cellspacing=0 cellpadding=0 border=1 width=100%>
<tr><td>
<!-- 01: CTAS : Assign table id to table responsible for diagnoses. -->
<table id="diagnosis_table" cellspacing=0 cellpadding=1 border=0 width=100%>
%MRTWEB02.03.401.mrtweb02.03.003
</table>
</td></tr>

<tr><td>
<!-- 01: CTAS : Assign table id to table responsible for procedures. -->
<table id="procedure_table" cellspacing=0 cellpadding=1 border=0 width=100%>
%MRTWEB02.03.402.mrtweb02.03.004.1
</table>

</div>

<tr><td align=center>   
  <table cellspacing=0 cellpadding=1 border=0 width=100%>
  <tr><td align=left> 
    <input type=button class="button" type=button name=btPrev value="Previous"
     onclick='location.href="%MRTWEB02.03.425"'></td>
    <td align=center>
    <span id=grupbutt>
    <input type=button class="button" type=button value="DRG Grouper"
     onclick='Grouper();'>
    </span>
    <span id=encbutts style="display: %MRTWEB02.03.336;">
    <input type=button class="button" type=button value="Export Encoder"
     onclick='Export();'>
    <input type=button class="button" type=button value="Load Encoder"
     onclick='Encoder();'>
    </span>
   <span id=tbobutts style="display: %MRTWEB02.03.369;">
   <input type=button class="button" type=button value="Export TG"
    id="exportturbo" onclick='tempDisable(this);TurboExport();'>
   <input type=button class="button" type=button value="Import TG"
    id="loadturbo" onclick='tempDisable(this);TurboLoad();'>
   </span>
    <input type=button class="button" type=button value=Add
     onClick='PatientLinkTo("mrtweb02.pbl","03","002",1,750,600);'>
    <span style="display: %MRTWEB02.03.324;">
    <input type=button class="button" name="codingdt" type=button value="Ok"
     id="codingdt" onclick='SubmitOK();'></span>
    <input type=button class="button" type=button value="Delete All"
     onclick='deleAll();'>

    <span id=spnCommButt>
      <input type=button class=button name=CommButton
        value="Comments" style="width:100px"
        onclick='commentButtonClicked();'>
    </span>

    </td>
    <td align=right>
    <input type=button class="button" type=button name=btNext value="Next"
     onclick='location.href="%MRTWEB02.03.426"'></td></tr>
  </table>  
</td></tr>
</table>

<table cellspacing=0 cellpadding=1 border=0 width=100%>
<tr><td class=HeadingCell align=center>
     Summary </td></tr>
</table>

<table cellspacing=0 cellpadding=1 border=1 width=95% align=center>
<script type="text/javascript">
if(document.UpdateForm.mrcnwies.value!="1"){
   document.write("<tr><td class=DataLabel width=20%>Admission Dates</td>"+
                  "<td class=DataField width=25%>%MRTWEB02.03.102 - %MRTWEB02.03.201  </td>"+
                  "<td class=DataLabel width=20%>Length of Stay</td>"+
                  "<td class=DataField>%MRTWEB02.03.225 Days</td></tr>"+
                  "<tr><td class=DataLabel>State LOS</td>"+
                  "<td class=DataField>%MRTWEB02.03.526.0 &nbsp;</td>"+
                  "<td class=DataLabel>Coding Date & Time</td>"+
                  "<td class=DataField id=CodingDateTime>%MRTWEB02.03.388.0 at %MRTWEB02.03.388.1  </td></tr>");
}
else{
   document.write("<tr><td class=DataLabel width=20%>Admission Dates</td>"+
                  "<td class=DataField width=25%>%MRTWEB02.03.102 - %MRTWEB02.03.201  </td>"+
                  "<td class=DataLabel width=20%>Coding Date & Time</td>"+
                  "<td class=DataField id=CodingDateTime>%MRTWEB02.03.388.0 at %MRTWEB02.03.388.1  </td></tr>");
}
</script>

  <tr>
    <td class=DataLabel width=20%>Ward</td>
    <td class=DataField>%MRTWEB02.03.428 &nbsp;</td>
    <td class=DataLabel width=20%>Audit Date</td>
    <td class=DataField>%MRTWEB02.03.338</td>
  </tr>

  <tr>
    <td class=DataLabel width=20%>Unit</td>
    <td class=DataField>%MRTWEB02.03.124.0 &nbsp;</td>
    <td class=DataLabel width=20%>Coder ID</td>
    <td class=DataField>%MRTWEB02.03.321.2 &nbsp;</td>
  </tr>

<script type="text/javascript">
if(document.UpdateForm.mrcnwies.value!="1"){
   document.write("<tr><td class=DataLabel width=20%>Trim Low</td>"+
                  "<td class=DataField>%MRTWEB02.03.526.1 &nbsp;</td>"+
                  "<td class=DataLabel width=20%>Trim High</td>"+
                  "<td class=DataField>%MRTWEB02.03.526.2 &nbsp;</td></tr>");
}
</script>

<tr id=CodingCommentsDetails><td colspan=6 class=HeadingCell align=center >
      Coding Comments </td></tr>
<tr>
  <td colspan=6 align=center id=ViscmtData>
    <textarea wrap=hard name=codcmmnt rows=4 cols=100 readonly>%MRTWEB02.03.340</textarea>
  </td>
  <td colspan=6 align=center id=VismdtData>
    <textarea wrap=hard name=codcmmnt rows=4 cols=100 readonly>%MRTWEB02.03.387</textarea>
  </td>
</tr>

</table>

  <table cellspacing="0" width="100%" align=center>
  <tr>
    <td><textarea name="3MInput" id="3MInput" cols="50" rows="25"
         style="display:none">
%MRTWEB02.03.364
        </textarea></td>
    <td><textarea name="3MOutput" id="3MOutput" cols="50" rows="25"
         style="display:none">
        </textarea></td>
  </tr>
  <tr>
    <td colspan="2"><input type="hidden" id="3MMessage" value="" size="137"
        readonly=""/></td>
  </tr>
        <input type="hidden" id="3MURL" value="%MRTWEB02.03.366">
        <input type="hidden" id="3MSession" value="%MRTWEB02.03.367">
        <input type="hidden" id="3MUser" value="%STANDARD.01.043">
  </table>

</form>

  <iframe name="wcFrame" id="wcFrame" height="0" width="0"
   frameborder="0" style="display: none;"></iframe>

<form name=PatientLinks method=get>
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%MRTWEB02.03.003">
<input type=hidden name=admissno value="%MRTWEB02.03.081">
<input type=hidden name=MenuType value="%MRTWEB02.03.088">
<input type=hidden name=epscd001 value="%MRTWEB02.03.313">
</form>

<span id=weightlabel style="display:none">Adm. Weight </span>
<span id=weightfield style="display:none">* %MRTWEB02.03.312 gm</span>

<span id="spPCCLLbl" style="display:none">PCCL</span>
<span id="spPCCLVal" style="display:none">%MRTWEB02.03.516</span>

<span id="spECCSLbl" style="display:none">ECCS</span>
<span id="spECCSVal" style="display:none">%MRTWEB02.03.544</span>

<span id=WaitBoxDisplay class=WaitBox style="display:none">
<img class=WaitImage src="../images/wait.gif">
<p>Please Wait ...</p>
</span>

<div id=PageLayer class=DimmedLayer style="display:none"></div>

<script type="text/javascript">
if ("%MRTWEB02.03.427"=="1") {
  document.UpdateForm.medcd001.checked=0;
}
CoddingDate="%MRTWEB02.03.196";
if (isWhitespace(CoddingDate)) {
   document.UpdateForm.codingdt.className="RedButton";
}

if (document.getElementById('mrcngrup').value == "2" ) {
  document.getElementById('grupbutt').style.display = "none";
  document.getElementById('encbutts').style.display = "none";
}

var DRGVer = "%MRTWEB02.03.540";
ShowScore(DRGVer);

var href="%MRTWEB02.03.425";
if (isWhitespace(href)) {
  UpdateForm.btPrev.disabled = true;
}
else {
  UpdateForm.btPrev.disabled = false;
}
href="%MRTWEB02.03.426";
if (isWhitespace(href)) {
  UpdateForm.btNext.disabled = true;
}
else {
  UpdateForm.btNext.disabled = false;
}

ShowCodingCommentButton();
ShowCodingCommentData1();

<!--01 : CTAS : Declare and initialise procedure array where mesh details are required. --> 
var meshDisplay = new Array();
meshDisplay[0]=new Array('30023-00','[1566] Debridement of soft tissue ');
meshDisplay[1]=new Array('30068-00','[1559] Removal of foreign body in soft tissue, not elsewhere classified ');
meshDisplay[2]=new Array('30238-00','[1574] Repair of fascia, not elsewhere classified ');
meshDisplay[3]=new Array('30385-00','[985] Postoperative reopening of laparotomy site ');
meshDisplay[4]=new Array('30396-00','[989] Debridement and lavage of peritoneal cavity ');
meshDisplay[5]=new Array('30397-00','[987] Laparostomy via previous surgical wound ');
meshDisplay[6]=new Array('30399-00','[1000] Closure of laparostomy ');
meshDisplay[7]=new Array('30403-00','[993] Repair of incisional hernia ');
meshDisplay[8]=new Array('30403-01','[996] Repair of other abdominal wall hernia ');
meshDisplay[9]=new Array('30403-03','[1000] Reclosure of postoperative disruption of abdominal wall ');
meshDisplay[10]=new Array('30403-04','[1000] Delayed closure of granulating abdominal wound ');
meshDisplay[11]=new Array('30403-05','[1000] Repair of abdominal wall following procurement of myocutaneous flap ');
meshDisplay[12]=new Array('30405-00','[993] Repair of incisional hernia with muscle transposition ');
meshDisplay[13]=new Array('30405-01','[993] Repair of incisional hernia with prosthesis ');
meshDisplay[14]=new Array('30405-02','[993] Repair of incisional hernia with resection of strangulated intestine ');
meshDisplay[15]=new Array('30405-03','[996] Repair of other abdominal wall hernia with muscle transposition ');
meshDisplay[16]=new Array('30405-04','[996] Repair of other abdominal wall hernia with prosthesis ');
meshDisplay[17]=new Array('30405-05','[996] Repair of other abdominal wall hernia with resection of strangulated intestine ');
meshDisplay[18]=new Array('30527-01','[886] Fundoplasty, laparoscopic approach, with closure of diaphragmatic hiatus ');
meshDisplay[19]=new Array('30563-02','[994] Repair of parastomal hernia ');
meshDisplay[20]=new Array('30563-03','[994] Repair of parastomal hernia with resiting of stoma ');
meshDisplay[21]=new Array('30596-01','[816] Splenorrhaphy ');
meshDisplay[22]=new Array('30601-00','[998] Repair of diaphragmatic hernia, abdominal approach ');
meshDisplay[23]=new Array('30609-00','[991] Laparoscopic repair of femoral hernia, unilateral ');
meshDisplay[24]=new Array('30609-01','[991] Laparoscopic repair of femoral hernia, bilateral ');
meshDisplay[25]=new Array('30609-02','[990] Laparoscopic repair of inguinal hernia, unilateral ');
meshDisplay[26]=new Array('30609-03','[990] Laparoscopic repair of inguinal hernia, bilateral ');
meshDisplay[27]=new Array('30614-00','[991] Repair of femoral hernia, unilateral ');
meshDisplay[28]=new Array('30614-01','[991] Repair of femoral hernia, bilateral ');
meshDisplay[29]=new Array('30614-02','[990] Repair of inguinal hernia, unilateral ');
meshDisplay[30]=new Array('30614-03','[990] Repair of inguinal hernia, bilateral ');
meshDisplay[31]=new Array('30615-00','[997] Repair of incarcerated, obstructed or strangulated hernia ');
meshDisplay[32]=new Array('30617-00','[992] Repair of umbilical hernia ');
meshDisplay[33]=new Array('30617-01','[992] Repair of epigastric hernia ');
meshDisplay[34]=new Array('30617-02','[992] Repair of linea alba hernia ');
meshDisplay[35]=new Array('30631-00','[1182] Excision of hydrocele ');
meshDisplay[36]=new Array('30644-11','[1187] Other repair of spermatic cord and epididymis ');
meshDisplay[37]=new Array('31350-00','[1566] Excision of lesion of soft tissue, not elsewhere classified ');
meshDisplay[38]=new Array('31466-00','[886] Revision fundoplasty ');
meshDisplay[39]=new Array('32009-01','[913] Laparoscopic total colectomy with ileostomy ');
meshDisplay[40]=new Array('32030-00','[934] Rectosigmoidectomy with formation of stoma ');
meshDisplay[41]=new Array('32030-01','[934] Laparoscopic rectosigmoidectomy with formation of stoma ');
meshDisplay[42]=new Array('32039-00','[934] Abdominoperineal proctectomy ');
meshDisplay[43]=new Array('32117-00','[940] Abdominal rectopexy ');
meshDisplay[44]=new Array('32120-00','[929] Insertion of anal suture for anorectal prolapse ');
meshDisplay[45]=new Array('32165-00','[940] Repair of anal fistula with rectal mucosa advancement flap ');
meshDisplay[46]=new Array('35557-00','[1282] Excision of lesion of vagina ');
meshDisplay[47]=new Array('35568-00','[1285] Sacrospinous colpopexy ');
meshDisplay[48]=new Array('35570-00','[1283] Repair of anterior vaginal compartment, vaginal approach ');
meshDisplay[49]=new Array('35571-00','[1283] Repair of posterior vaginal compartment, vaginal approach ');
meshDisplay[50]=new Array('35573-00','[1283] Repair of anterior and posterior vaginal compartment, vaginal approach ');
meshDisplay[51]=new Array('35577-00','[1283] Repair of pelvic floor prolapse ');
meshDisplay[52]=new Array('35595-00','[1285] Laparoscopic pelvic floor repair ');
meshDisplay[53]=new Array('35595-01','[1285] Abdominal pelvic floor repair ');
meshDisplay[54]=new Array('35596-00','[1284] Repair of rectovaginal fistula ');
meshDisplay[55]=new Array('35597-00','[1285] Laparoscopic sacral colpopexy ');
meshDisplay[56]=new Array('35597-01','[1285] Sacral colpopexy ');
meshDisplay[57]=new Array('35599-00','[1110] Sling procedure for stress incontinence, female ');
meshDisplay[58]=new Array('35599-01','[1110] Revision of sling procedure for stress incontinence, female ');
meshDisplay[59]=new Array('35637-10','[1299] Laparoscopic excision of lesion of pelvic cavity ');
meshDisplay[60]=new Array('35684-00','[1271] Other laparoscopic uterine suspension ');
meshDisplay[61]=new Array('35684-01','[1271] Uterine suspension ');
meshDisplay[62]=new Array('36600-02','[1129] Formation of incontinent intestinal urinary reservoir ');
meshDisplay[63]=new Array('37014-00','[1102] Total excision of bladder ');
meshDisplay[64]=new Array('37043-00','[1110] Transvaginal needle suspension for stress incontinence ');
meshDisplay[65]=new Array('37044-00','[1109] Retropubic procedure for stress incontinence, male ');
meshDisplay[66]=new Array('37044-01','[1110] Retropubic procedure for stress incontinence, female ');
meshDisplay[67]=new Array('37044-02','[1110] Revision of retropubic procedure for stress incontinence, female ');
meshDisplay[68]=new Array('37044-03','[1109] Revision of retropubic procedure for stress incontinence, male ');
meshDisplay[69]=new Array('37340-00','[1110] Division of urethral sling following previous stress incontinence procedure ');
meshDisplay[70]=new Array('38457-01','[564] Repair of pectus excavatum ');
meshDisplay[71]=new Array('38458-00','[564] Repair of pectus excavatum with implantation of subcutaneous prosthesis ');
meshDisplay[72]=new Array('42509-00','[161] Enucleation of eyeball with insertion of implant ');
meshDisplay[73]=
new Array('43837-02','[998] Repair of diaphragmatic hernia with use of body wall flap or insertion of prosthetic patch ');
meshDisplay[74]=new Array('45527-00','[1753] Augmentation mammoplasty following mastectomy, unilateral ');
meshDisplay[75]=new Array('45527-01','[1753] Augmentation mammoplasty following mastectomy, bilateral ');
meshDisplay[76]=new Array('45539-00','[1756] Reconstruction of breast with insertion of tissue expander ');
meshDisplay[77]=new Array('45548-00','[1758] Removal of breast prosthesis ');
meshDisplay[78]=new Array('45548-02','[1758] Adjustment of breast tissue expander ');
meshDisplay[79]=new Array('45552-00','[1758] Replacement of breast prosthesis ');
meshDisplay[80]=new Array('45570-00','[1000] Closure of abdomen with repair of musculoaponeurotic layer ');
meshDisplay[81]=new Array('90116-00','[328] Other procedures on mastoid or temporal bone ');
meshDisplay[82]=new Array('90176-00','[566] Repair of chest wall ');
meshDisplay[83]=new Array('90295-03','[929] Endoscopic insertion of rectal prosthesis ');
meshDisplay[84]=new Array('90307-00','[903] Other procedures on small intestine ');
meshDisplay[85]=new Array('90310-00','[925] Other procedures on large intestine ');
meshDisplay[86]=new Array('90314-00','[937] Other procedures on rectum ');
meshDisplay[87]=new Array('90329-00','[1000] Other repair of abdomen ');
meshDisplay[88]=new Array('90329-01','[1000] Other repair of peritoneum ');
meshDisplay[89]=new Array('90331-00','[1004] Other procedures on abdomen, peritoneum or omentum ');
meshDisplay[90]=new Array('90360-00','[1103] Other excision of lesion of bladder ');
meshDisplay[91]=new Array('90363-01','[1111] Other procedures on bladder ');
meshDisplay[92]=new Array('90365-00','[1125] Other procedures on urethra ');
meshDisplay[93]=new Array('90438-00','[1288] Other procedures on vagina ');
meshDisplay[94]=new Array('90447-00','[1284] Repair of fistula of vagina with biological sealant ');
meshDisplay[95]=new Array('90593-01','[1579] Other procedures on muscle, tendon, fascia or bursa,not elsewh ');
meshDisplay[96]=new Array('90686-01','[1628] Nonexcisional debridement of skin and subcutaneous tissue ');
meshDisplay[97]=new Array('90720-00','[1759] Other procedures on breast ');
meshDisplay[98]=new Array('90952-00','[987] Incision of abdominal wall ');
meshDisplay[99]=new Array('92116-00','[1900] Removal of other device from genital tract ');
meshDisplay[100]=new Array('92142-00','[1905] Removal of other device from trunk ');
meshDisplay[101]=new Array('96189-00','[989] Omentectomy ');
meshDisplay[102]=new Array('96211-00','[989] Peritonectomy '); 

<!-- 01 : CTAS : Functions to check if procedure requires mesh details upon exiting Codefinder. -->
function meshCheck() {
  var theTable = document.getElementById('procedure_table'); 
  for (var w = 0; w < theTable.rows.length; w++) {
    var theURL=theTable.rows[w].cells[0].innerHTML.substr(20,133);
    var theProcedure = theTable.rows[w].cells[0].innerText.substr(0,8);
    var theProcDesc  = theTable.rows[w].cells[1].innerText;
    for (var i = 0; i < meshDisplay.length; i++) {
      if (meshDisplay[i][0] == theProcedure) {
        if (meshDisplay[i][1] == theProcDesc) {
          alert("Please modify the 'Mesh' information for\r\r'" + trim(meshDisplay[i][1]) + "'");
          w=1000;
          eval(theURL);
        }
      }
    }
  }
  if (w!=1001) {
    externalCauseCheck();
  }
}

function externalCauseCheck() {
  var theTable = document.getElementById('diagnosis_table'); 
  var needDate = false;
  var needComm = false;
  var theComm = "ChangeDiagnosisDescription&amp;ptecd003";
  for (var w = 1; w < theTable.rows.length; w++) {
    var theURL=theTable.rows[w].cells[0].innerHTML.substr(20,133);
    var theCode=theTable.rows[w].cells[0].innerHTML.substr(87,9);

    needDate = false;
    if ((theTable.rows[w].cells[0].innerText.substr(0,1) == 'U' ||
         theTable.rows[w].cells[0].innerText.substr(0,1) == 'V' ||
         theTable.rows[w].cells[0].innerText.substr(0,1) == 'W' ||
         theTable.rows[w].cells[0].innerText.substr(0,1) == 'X' ||
         theTable.rows[w].cells[0].innerText.substr(0,1) == 'Y') &&
         theTable.rows[w].cells[0].innerText.substr(0,2) != 'U5' &&
         theTable.rows[w].cells[0].innerText.substr(0,2) != 'U6' &&
         theTable.rows[w].cells[0].innerText.substr(0,2) != 'U7' &&
         theTable.rows[w].cells[0].innerText.substr(0,2) != 'Y9' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U06' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U07' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U80' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U81' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U82' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U83' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U84' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U86' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U87' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U88' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U91' &&
         theTable.rows[w].cells[0].innerText.substr(0,3) != 'U92') {
      if (isWhitespace(theTable.rows[w].cells[2].innerText)) {
        needDate = true;
      }
    }
    if (needComm == true) {
      w=1000;
    } else {
      if (needDate == true) {
        w=1000;
      }
    }
  }
  if (needComm == true) {
    theURL = theURL.replace(/ptecd003/,theComm);
    eval(theURL);
  } else {
    if (needDate == true) {
      eval(theURL);
    }
  }
}
<!-- End Change 01-->
var DispCodingDateTime = "%MRTWEB02.03.388.0";
if (isWhitespace(DispCodingDateTime)) {
   document.getElementById('CodingDateTime').innerHTML="";
}
</script>
