<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/MrtLocations.js"></script>
<script type="text/javascript" src="../js/MrtMultiLocations.js"></script>
<!-- 01 : CTAS : added link to CTAS custom javascript file -->
<script type="text/javascript" src="../js/ctascustom.js"></script>
<!-- end of change -->
<script type="text/javascript">
function init() {
  if (AddForm.ibcnmhos.value==1) {
    AddForm.ptwrd018.className="Mandatory";
    p=AddForm;
    MrtMultiLocations(p.ptwrd023,p.dfltlocn.value,p.ptwrd018.value)
  } else {
    p=AddForm;
    MrtLocations(p.ptwrd023,p.dfltlocn.value)
  }
}
function setShortDesc() {
  if (isWhitespace(document.AddForm.ptwrd042.value)) {
    document.AddForm.ptwrd042.value =
      document.AddForm.ptwrd003.value.substr(0,10);
  }
}
function validateTypeOfBed() {
  if (document.AddForm.ptwrd013.value!="0") {
    if (isWhitespace(document.AddForm.ptwrd008.value)) {
      alert("E.F.R. Bed type must be entered for Ward Only!");
      return false;
    }
  }
  return true;
}
</script>
</head>
%START.OF.PAGE
</HEAD>
<body onload=PageLoad(event);document.AddForm.ptwrd001.focus();>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Ward/Bed Maintenance - Add New Ward
</span>
<div id=PageBodySection style="overflow: auto;">
<table align=center width=95% border=0 cellpadding=1>
<form name=AddForm method=post action=patweb95.pbl>
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden name=ibcnmhos value="%PATWEB95.04.111">
<input type=hidden name=dfltlocn value="">
<input type=hidden name=dummy value="">									   

<tr><td class=DataLabel>Ward</td>
    <td><input type=text name=ptwrd001 class=Mandatory title="Ward"
         size=4 maxlength=3 tabindex=1></td>
<!-- 01 : CTAS : added Phone class attribute
    <td class=DataLabel>Telephone</td>
    <td><input type=text name=ptwrd005 title="Telephone" 
         size=20 maxlength=20 tabindex=105></td></tr>
-->
    <td class=DataLabel>Telephone</td>
    <td><input type=text name=ptwrd005 title="Telephone" 
         size=15 maxlength=15 tabindex=105 class="Phone"></td></tr>
<!-- end of change -->

<tr><td class=DataLabel>Description</td>
    <td><input type=text name=ptwrd003 class=Mandatory title="Description"
         size=25 maxlength=20 tabindex=2 onblur="setShortDesc();"></td>
    <td class=DataLabel>Nursing Station No.</td>
    <td><select name=ptwrd025 title="Nursing Station No" tabindex=110>
        <option></option>
        %PATWEB95.04.030.2
        </select></td></tr>  

<tr><td class=DataLabel>Short Description</td>
    <td><input type=text name=ptwrd042 class=Mandatory title="Short Description"
         size=10 maxlength=10 tabindex=3></td>
    <td class=DataLabel>MRT Location</td>                                      
    <td><select name=ptwrd023 title="MRT Location" tabindex=115>
        <option></option>
        </select></td></tr>

<tr><td class=DataLabel>Hospital Indicator</td>
    <td><input type="hidden" name="ptwrd018" value="%STANDARD.01.032" />
        <select name="d_ptwrd018" title="Hospital Indicator" tabindex=3 disabled>
        <option></option>
        %PATWEB95.04.023.3
        </select></td>
    <td class=DataLabel>DOSA Ward</td>   
    <td><input type=checkbox name=ptwrd026 title="DOSA Ward" tabindex=120
         value=1></td></tr>                                   

<tr><td class=DataLabel>Ward Classification</td>
    <td><select name=ptwrd015 title="Ward Classification" tabindex=4>
        <option></option>
        %PATWEB95.04.017.9.1.06.2.O
        </select></td>
    <td class=DataLabel>Active</td>
    <td><input type=checkbox name=ptwrd017 title="Active" tabindex=125
         value=2 checked></td></tr>

<tr><td class=DataLabel>Type of Ward</td>
    <td><select name=ptwrd013 title="Type of Ward" class=Mandatory
         tabindex=5>
         <option value="0">Ward/Bed</option>
         <option value="1">Ward Only</option>
         <option value="2">Ward/Bed + Ward Only</option>
         </select></td>
    <td class=DataLabel>Effective Date </td>
    <td><input type=text size=12 name=efctdate title="Effective Date"
        class=Mandatory tabindex=130
        onblur="checkDate(this,'Efective Date');">
    <img src=../images/DateLookup.gif border=0 hspace=4
     align=absmiddle onclick="DateLookupFrame(efctdate);">
    <img src="../images/DateTimeStamp.gif" class=Icon
     onclick="SetCurrentDateTime(efctdate,null);"></td></tr>

<tr><td class=DataLabel>Type of Room</td>
    <td><select name=ptwrd007 title="Type of Room" tabindex=6>
        <option></option>
        %PATWEB95.04.009.2
        </select></td>
    <td class=DataLabel>No. of Beds for Statistics</td>
    <td><input type=text name=ptwrd014 title="No. of Beds for Statistics"
         size=3 maxlength=3 class=Integer tabindex=135
         onblur="checkInteger(this,this.value);"></td></tr>

<tr><td class=DataLabel>Type of Bed (For Charging)</td>
    <td><select name=ptwrd008 title="Type of Bed" tabindex=7>
        <option></option>
        %PATWEB95.04.010.2
        </select></td>
    <td class=DataLabel>Intended Sex of Patient</td>
    <td><select name=ptwrd022 title="Intended Sex of Patient" tabindex=140>
        <option value=" "></option>
        <option value="E">Either</option>
        <option value="F">Female</option>
        <option value="M">Male</option>
        </select></td>
    </tr>

<tr><td class=DataLabel>No. of Lines between Beds</td>
    <td><input type=text name=ptwrd006 title="No. of Lines between Beds"
         size=2 maxlength=2 class=Integer tabindex=8
         onblur="checkInteger(this,this.value);"></td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td></tr>

<tr><td class=DataLabel>5 Day Ward</td>
    <td><input type=checkbox name=ptwrd027 title="5 Day Ward" value=1
         tabindex=9></td>
    <td class=DataLabel>Default Phone Calls Allowed To</td>
    <td><select name=ptwrd040 title="Default Phone Calls Allowed To"
         tabindex=150>
        <option value="0">No</option>
        <option value="1">Yes</option>
        </select></td>
    </tr>
<tr><td class=DataLabel>Comments</td>
    <td><input type=text name=ptwrd038  title="Comments"
         size=32 maxlength=30 tabindex=10></td>
    <td class=DataLabel>Default Visitors Allowed To</td>
    <td><select name=ptwrd039 title="Default Visitors Allowed To"
         tabindex=155>
        <option value="0">No</option>
        <option value="1">Yes</option>
        </select></td>
    </tr>
	<tr><td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
    <td class=DataLabel>Unique HERO Location ID</td>
    <td><input type="text" name="heroloci" size=22 maxlength=20 tabindex=156
         title="Unique HERO Location ID" value="%PATWEB95.04.120"
    onchange="checkHeroId('1',AddForm.ptwrd001,AddForm.dummy,this);">
    </td></tr>							   
<tr><td colspan=4 align=center><br>
<!-- 01 : CTAS : changed Add button onclick
    <input type=button value="Add" class="button" tabindex=200
           onclick="if (validateTypeOfBed())
                    {
                      SubmitForm();
                    }">
-->
    <input type=button value="Add" class="button" tabindex=200
           onclick="if (CheckPhoneFields() && validateTypeOfBed())
                    {
                      SubmitForm();
                    }">
<!-- end of change -->
    <input type=button value=Close class="button" tabindex=205
           onclick="DFrameCloseRefresh()">
</td></tr>
</form>
</table>
</div>
