<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<!-- 07 : TAS : Merge Task 0887870 -->
<script type="text/javascript" src="../js/PatientHeader.js"></script>																	 
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/patweb98.js"></script>
</style>

<script type="text/javascript">
function UpdateMWS(MWSKey){
 document.PatientLinks.nhmwskey.value=MWSKey;
 PatientLinkTo("nhiweb99.pbl",4,3,1,600,260);
}
/* 07 : TAS : Merge Task 0887870
function initA(){
  if(document.PatientLinks.cauda1.value=="1"){ // Not using alert audits
     DeletedButton.style.display="none";
     DeletedButton.innerHTML="";
  }
  else{
     DeletedButton.style.display="";
     DeletedButton.innerHTML=DisplayDeleted.innerHTML;
  }
} */
function initA(){
  if (document.PatientLinks.cauda1.value == "1") { // Not using alert audits
										
    DeletedButton.innerHTML = "";
  }
  else {
    DeletedButton.innerHTML = DisplayDeleted.innerHTML;
  }

  if (medchartAvailable) {
    Allergies.innerHTML = MedchartAllergies.innerHTML;

    if (VariableNameExists('MedchartAllergiesButtonText')) {
      var btn = document.getElementById('btnLaunchMedchart');
      var btnText = window.MedchartAllergiesButtonText;

      btn.value = btnText;
      btn.style.width = (btnText.length * 5) + 20 + "px";
    }
  }
}
// 07 : End of Change
// 01 : CTAS : copied AddAlert01, ShowAlert01 from patweb98.js, changed screen size
function AddAlert01(SelectItem) {
  for (var i = 0; i < SelectItem.length; i++) {
    if (SelectItem.options[i].selected == true) {
        SelectOption=SelectItem.options[i].value }   }
  SelectItem.selectedIndex="0"
  document.PatientLinks.reportno.value="01"
  document.PatientLinks.template.value="002"
  document.PatientLinks.alert001.value=SelectOption
  document.PatientLinks.alert002.value="";
  document.PatientLinks.action="cliweb01.pbl"
  Left=(document.body.clientWidth-700)/2
  // mw PAS-587
  // DFrameSubmit(document.PatientLinks,50,50,700,600)
// 04 : TAS : WP2-992 : Increase width to accomodate change
//  DFrameSubmit(document.PatientLinks,50,50,700,700)
// 06 : TAS : WP2-3913 Patient Alert - Update/Next review date (screen size issue)
// DFrameSubmit(document.PatientLinks,50,50,750,700)
   DFrameSubmit(document.PatientLinks,50,50,750,750)
}

function ShowAlert01(alrtcat,alrtcod,alrtcntr) {
  document.PatientLinks.reportno.value="01"
  document.PatientLinks.template.value="003"
  document.PatientLinks.alert001.value=alrtcat
  document.PatientLinks.alert002.value=alrtcod
  document.PatientLinks.alert013.value=alrtcntr
  document.PatientLinks.action="cliweb01.pbl"
  Left=(document.body.clientWidth-500)/2
// 04 : TAS : WP2-992 : Increase width to accomodate change
//DFrameSubmit(document.PatientLinks,50,50,700,500)
// 06 : TAS : WP2-3913 Patient Alert - Update/Next review date (screen size issue)
 // DFrameSubmit(document.PatientLinks,50,50,750,500)
   DFrameSubmit(document.PatientLinks,50,50,750,550)
}
// end of change
// 07 : TAS : Merge Task 0887870
function setReceiver() {
  if (window.addEventListener){
    addEventListener("message", receiveMessage, false);
  } else {
    attachEvent("onmessage", receiveMessage);
  }
};

function receiveMessage(e) {
  if (window.removeEventListener) {
    removeEventListener("message", receiveMessage, false);
  } else {
    detachEvent("onmessage", receiveMessage);
  }
  location.reload();
}

function LaunchMedchart(fn) {
// Function Name         Launch to
// patient               Patient Summary screen for requested patient
// prescribe             Patient Medication screen for requested patient
// administration        Medication administration chart for the requested patient
// review                Pharmacy review chart for the requested patient
// desktop               MedChart Desktop
// user                  Update user details without display anything in MedChart
// wardsummary           Administration ward overview screen
// managepatient         Edit details for the requested patient
// pharmacyreviewmonitor Pharmacy review monitor
// clinicalreviewmonitor Clinical review monitor
  wurl="MedchartServices.php?reportno=10"+
       "&urnumber=" + document.PatientLinks.urnumber.value.replace(/ /g,"") +
       "&admissno=" + document.PatientLinks.admissno.value.replace(/ /g,"") +
       "&function=" + fn +
       "&httprand=" + Math.random();
  var xmlHttp = createHttpObject();
  xmlHttp.open("GET", wurl, false);
  xmlHttp.send();
  if (xmlHttp.responseText.substr(0,5)=="ERROR"&&xmlHttp.status == 200) {
    alert(xmlHttp.responseText);
  } else {
    var el=document.getElementById("PatientHeading");
    var w=el.offsetWidth-40
    var l=(document.body.clientWidth-w)/2;
    setReceiver();
    DFrameLink(xmlHttp.responseText,0,l,w,800)
  }
}
// end of change
</script>

%START.OF.PAGE
<!-- TAS : WU-841 : Merge task 0879911
<body onload="PageLoad(event);initA();"> -->
<!-- TAS : Merge Task 0887870
<body onload="PageLoad(event);initA();InitTable();"> -->
<body onload="GetAllergyStatus();PageLoad(event);initA();InitTable();">
<!-- End of change -->
<!--<div id=HeadingSection>-->
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%PATWEB98.01.003";
PatientVIS="%PATWEB98.01.081";
PatientNAM="%PATWEB98.01.002";
PatientSTA="%PATWEB98.01.086.078";
PatientALT="%PATWEB98.01.084";
PatientSEX="%PATWEB98.01.019";
PatientDOB="%PATWEB98.01.020";
PatientAGE="%PATWEB98.01.021";
PatientLOC="%PATWEB98.01.083";
PatientPRI="%PATWEB98.01.086.066.1";
PatientUNT="%PATWEB98.01.066.0";
DoctorCOD="%PATWEB98.01.082.003";
DoctorNAM="%PATWEB98.01.082.002";
PatientAID="%PATWEB98.01.086.090";
PatientIND="%PATWEB98.01.086.091";
PatientCUR="%PATWEB98.01.086.092";
PatientCLC="%PATWEB98.01.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%PATWEB98.01.086.094";
PatientCDM="%PATWEB98.01.086.095";
PatientVDH="%PATWEB98.01.086.099.015";
InsertPatientHeader();
</script>
<!-- 07 : TAS : Merge Task 0887870 -->
<div id=PatientMenu></div>
<form name=AddAlertForm style="margin:0">
<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td align=left class=HeadingCell>
      <input type=button value="Alert History" class="button"
       onclick='PatientLinkTo("patweb98.pbl",1,94,0,0);'>
    </td>
    <td class=HeadingCell nowrap>
      <table cellspacing=0 cellpadding=2 border=0 width=100%>
      <tr>
        <td><div id=DeletedButton></div></td>
        <td><div id=Allergies></div></td>
      </tr>
      </table>
    </td>
    <td width=50% align=right class=HeadingCell>Patient Alerts </td>
    <td align=right class=HeadingCell>Add Alert 
      <select class=PMenuSelectList name=alert001 onchange='AddAlert01(this)'>
        <option></option>
        %PATWEB98.01.306.2 
      </select>
    </td>
</tr>
</table>
        <input type=hidden name=ptcnhdps id=ptcnhdps
               value="%STANDARD.01.025.080.250.1.1">
</form>
<!-- 07 : End of Change -->	
<!-- 05 : TAS : WU-841 : Merge task 0879911 -->
<div id=TableLocation></div>

<script type="text/javascript">
function InitTable() {
// 07 : TAS : Merge Task 0887870
// document.title="%PATWEB98.01.002"
//
//--------------------------------------------------
// Columns : 0 - Link
//           1 - Alert Category Description (H1-H9)
//           2 - Alert Code Description
//           3 - Reaction Code Description
//           4 - Reaction Comments
//           5 - Name of web user
//           6 - Alert Date
//           7 - Security Level
//           8 - Review Date
//           9 - AlertIcon name
//--------------------------------------------------
//
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//
 t = new Table(1,0,1,"100%","center",35);
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
//
 t.addColumn("Type","ImageText",1,1,"left","AlertIcon","0",100,9);
 t.addColumn("Description","String",2,2,"left","","",100);
 t.addColumn("Alert Status","String",3,3,"left","","",100);
 t.addColumn("Reaction Comment/Lab no","String",4,4,"left style='word-wrap:break-word'","","",110);
if (document.getElementById('ptcnhdps').value=="6") {
 t.addColumn("Authorising Clinician","String",16,16,"left","","",80);
} else {
 t.addColumn("Requested By HCP","String",16,16,"left","","",80);
}
 t.addColumn("Created By","String",5,5,"left","","",80);
 t.addColumn("Updated By","String",15,15,"left","","",80);
 t.addColumn("Date Activated","Date",6,6,"center","","",75);
 t.addColumn("Inactive/End Date","String",14,14,"center","","",105);
 t.addColumn("Level","String",7,7,"center","","",30);
 t.addColumn("Document","String",10,10,"center","","",45);

//
// Add Rows to Table (Output from Web Server)
//
 %PATWEB98.01.306.1.cliweb01.01.003
// 07 : TAS : Merge Task 0887870
AddAllergies()			   
 if (t.rows.length != 0 ) {
   OrderColumn=8;
   AscDsc=1;
   lastOrderColumn=OrderColumn;
   TableOutput(OrderColumn,AscDsc);
//   HeadingDivision.style.overflowY = 'hidden'; TAS 07 merge Task 0887870
//   var BodyDivision    = document.getElementById('BodyDivision');
 //  BodyDivision.style.height="150px";
//   BodyDivision.style.overflow="scroll";
 }
}
function TableEnding() {
  TableString[TableString.length] = "</table></div>";

  // these are defined in the html
  var TableLocation = document.getElementById('TableLocation');
  var HeadingSection = document.getElementById('HeadingSection');
  // unload the array into continuous html render
  if (TableString.join) {             // if join method is available;
    TableLocation.innerHTML = TableString.join("");
  } else {
    var TableStringX="";
    for (i=0;i < TableString.length; i++) {
       TableStringX+=TableString[i];
      }
    TableLocation.innerHTML = TableStringX;
  }

  if (HeadingSection) {
     TableLocation.style.top = HeadingSection.clientHeight + 'px';
  } else {
     TableLocation.style.top = '0px';
  }

  var BodyDivision    = document.getElementById('BodyDivision');
  var table = BodyDivision.getElementsByTagName("TABLE");
  BodyDivision.style.height=table[0].clientHeight+2;
}
// 07 : TAS : Merge Task 0887870
function AddAllergies() {
 for (var Allergy in jsonAllergies) {
   var AllergyID=jsonAllergies[Allergy]['Id'];
   var Description=jsonAllergies[Allergy]['Description'];
   var StartDate=jsonAllergies[Allergy]['StartDate'];
   var DiagnosisDate=jsonAllergies[Allergy]['DiagnosisDate'];
   var CertaintyDescription=jsonAllergies[Allergy]['Certainty']['Description'];
   var StatusDescription=jsonAllergies[Allergy]['Status']['Description'];
   var StatusId=jsonAllergies[Allergy]['Status']['StatusId'];
   var TypeDescription=jsonAllergies[Allergy]['AllergyType']['Description'];
   var ModifiedBy=jsonAllergies[Allergy]['ModifiedByName']['DisplayName'];
   var StatusComment=jsonAllergies[Allergy]['Comment'];
   if (StatusComment==undefined) StatusComment="";
   StartDate=netDate(StartDate,"datetime");
   DiagnosisDate=netDate(DiagnosisDate,"datetime");
   if (StatusId==1) {
     t.addRow("javascript:LaunchMedchart('patient')",TypeDescription,Description,StatusDescription,
              StatusComment,ModifiedBy,DiagnosisDate,'','',"1",'','','','','');
   }
  }
}
// 07 : End of Change 
//
// Format .NET Date Return in JSON from MedChart
//
function netDate(el,format) {
  if (isWhitespace(el)) return "";
  var d = new Date(parseInt(el.replace(/\/+Date\(([\d+-]+)\)\/+/, '$1')));
  var ThisHrs=d.getHours();
  var ThisMin=d.getMinutes();
  var ThisDay=d.getDate();
  var ThisMth=parseInt(d.getMonth(),10) +1;
  var ThisYrs=d.getFullYear();
  if (ThisHrs < 10) ThisHrs="0" + ThisHrs
  if (ThisMin < 10) ThisMin="0" + ThisMin
  if (ThisDay < 10) ThisDay="0" + ThisDay
  if (ThisMth < 10) ThisMth="0" + ThisMth
  ThisHrs = ThisHrs.toString();
  ThisMin = ThisMin.toString();
  ThisMth = ThisMth.toString();
  ThisDay = ThisDay.toString();
  var monthname = new Array(12)
  monthname[0]="Jan"
  monthname[1]="Feb"
  monthname[2]="Mar"
  monthname[3]="Apr"
  monthname[4]="May"
  monthname[5]="Jun"
  monthname[6]="Jul"
  monthname[7]="Aug"
  monthname[8]="Sep"
  monthname[9]="Oct"
  monthname[10]="Nov"
  monthname[11]="Dec"
  var MonthName=monthname[d.getMonth()];
  if (format=="displaydate") return ThisDay+" "+MonthName+" "+ThisYrs
  if (format=="date") return ThisYrs+ThisMth+ThisDay
  if (format=="datetime") return ThisYrs+ThisMth+ThisDay+ThisHrs+ThisMin
}
</script>
<!-- End of change -->
<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell align=center>
    NHI/MWS Patient Medical Warnings</td>
    <!-- 01 : CTAS : Remove Add button
	<td width=5%>
    <input type=button class="button" value="Add"
     onClick='PatientLinkTo("nhiweb99.pbl",4,2,1,600,260);'>
    </td>
    end of change-->
</tr>
</table>
<tr><td colspan=2>
<table cellspacing=0 cellpadding=2 border=0 width=100%>

%PATWEB98.01.324

</table>
</td></tr>
</table>
</div>
</table>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td colspan=2 align=center bgcolor=#cccccc>
    <input type=button class="button" value="Basic"
     onClick='PatientLinkTo("nhiweb99.pbl",1,2,0,0,0);'>
<!-- 01 : CTAS : remove Contact/Donor button
    <input type=button class="button" value="Contact/Donor"
     onClick='PatientLinkTo("nhiweb99.pbl",2,1,0,0,0);'>
-->
<!-- end of change -->
    <input type=button class="button" value="Aliases"
     onClick='PatientLinkTo("nhiweb99.pbl",3,1,0,0,0);'>
</td></tr>
</table>
</table>

<form name=PatientLinks method=get action="cliweb01.pbl">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB98.01.003">
<input type=hidden name=admissno value="%PATWEB98.01.081">
<input type=hidden name=MenuType value="%PATWEB98.01.088">
<input type=hidden name=alert001 value="">
<input type=hidden name=alert002 value="">
<input type=hidden name=alert013 value="">
<input type=hidden name=emrgflag value="Y">
<input type=hidden name=nextpage value="4">
<input type=hidden name=nhmwskey value=" ">
<input type=hidden name=cauda1 value="%STANDARD.01.025.010.250.1.1">
<!-- 05 : TAS : WU-841 : Merge task 0879911 -->
<input type=hidden name=ptcnhdps id=ptcnhdps value="%STANDARD.01.025.080.250.1.1">
<!-- End of change -->
</form>
<!-- : 07 : TAS : Merge Task 0887870
<span id="DisplayDeleted" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td><input type=button value="Deleted Alerts" class="button"
         onClick='PatientLinkTo("patweb98.pbl",1,73,0,0);'>
    </td></tr>
</table>
</span> -->
<span id="DisplayDeleted" style="display:none">
  <input type=button value="Deleted Alerts" class="button"
   onclick='PatientLinkTo("patweb98.pbl",1,73,0,0);'>
</span>

<span id="MedchartAllergies" style="display:none">
  <input id=btnLaunchMedchart type=button class=button value="Allergies"
   onclick='LaunchMedchart("patient");'>
</span>
<!-- 07 : End of Change -->
