<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="crdhb">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<!--03 : Set new custom js script
<script language="JavaScript" src="../js/patweb8901054.js"></script>
-->
<script language="JavaScript" src="../custom-js/patweb8901054.js"></script>
<script language="javascript" src="../js/ACCAlerts.js"></script>
<!--WORK CAPACITY SCREEN-->
<script type="text/javascript">
function SetReturnDate() {
  if ((!isWhitespace(UpdateForm.ptclm076.value)) &&
     (!isWhitespace(UpdateForm.ptclm074.value))) {
    if (UpdateForm.ptclm075.value.substring(0,1) == "D") {
      UpdateForm.ptclm077.value=UpdateForm.ptclm076.value;
      AddSubtractDate(UpdateForm.ptclm077,UpdateForm.ptclm074.value,"A");
    }
  }
}
function AlertFIED() {
  alert("Full Incapacity End Date is the last day the patient is " +
        "Fully Unfit for Work. \n\nThis date is calculated from the " +
        "Start Date of Full Incapacity and the number of days the patient " +
        "is unfit for work, including the incapacity start date.");
}
function AlertAWED() {
  alert("The End Date for Alternative Work is the last day the patient is " +
        "restricted from performing their normal duties. " +
        "\n\nThis date is the day before the date the patient resumes normal " +
        "duties entered as the 'Return to Normal Work Date'.");
}
function SetFIED() {
  // Set 'Full Incapacity End Date'
  var isDays = (UpdateForm.ptclm075.value.substr(0,1) == "D")?true:false;
  var days = UpdateForm.ptclm074.value;

  if (isDays && !isWhitespace(days) &&
      !isWhitespace(UpdateForm.ptclm076.value)) {

    document.getElementById('spFIED').style.display="";

    if (UpdateForm.d_ptclm070.checked &&
        !isWhitespace(UpdateForm.ptclm072.value)) {
      UpdateForm.d_fulincenddte.value=UpdateForm.ptclm076.value;
      AddSubtractDate(UpdateForm.d_fulincenddte,(parseInt(days)-1)+"","A");
      return;
    }

    UpdateForm.d_fulincenddte.value=UpdateForm.ptclm077.value;
    AddSubtractDate(UpdateForm.d_fulincenddte,"1","S");
  }
  else if (isWhitespace(UpdateForm.ptclm076.value)) {
    HideFIED();
  }
}
function HideFIED() {
  document.getElementById('spFIED').style.display="none";
}
function SetAWED() {
  // Set 'End Date for Alternative Work'
  if (!isWhitespace(UpdateForm.ptclm072.value) &&
      !isWhitespace(UpdateForm.ptclm077.value)) {

    document.getElementById('spWCED').style.display="";

    UpdateForm.d_wrkcapenddte.value=UpdateForm.ptclm077.value;
    AddSubtractDate(UpdateForm.d_wrkcapenddte,"1","S");
  }
  else if (isWhitespace(UpdateForm.ptclm072.value) ||
           isWhitespace(UpdateForm.ptclm077.value)) {
    HideAWED();
  }
}
function HideAWED() {
  document.getElementById('spWCED').style.display="none";
}
function ChkAltWrkStrtDate() {
  if (isWhitespace(UpdateForm.ptclm072.value) ||
      isWhitespace(UpdateForm.ptclm077.value))
    return;

  // 'Start Date of Alternative Work' should be < 'Return to Normal Work Date'

  var AltWrkStrtDate = SetDateYYYYMMDD(UpdateForm.ptclm072.value);
  var RetNrmlWrkDate = SetDateYYYYMMDD(UpdateForm.ptclm077.value);

  if ((AltWrkStrtDate >= RetNrmlWrkDate)) {
    alert(UpdateForm.ptclm072.title + " should be < " + UpdateForm.ptclm077.title);
    UpdateForm.ptclm072.value="";
    UpdateForm.ptclm072.focus();

    return false;
  }

  return true;
}

var invalidFISD=false;
var invalidRTNWD=false;

function FullIncapacityStartDateBlur() {
  invalidFISD=false;
  if (invalidRTNWD) return false;

  if (CheckFutureDate()) {
    SetReturnDate();
    SetFIED();
  }
  else {
    HideFIED();
    invalidFISD=true;
  }
}
function ReturnToNormalWorkDateBlur() {
  invalidRTNWD=false;
  if (invalidFISD) return false;

  if (ChkRetNormDate()) {
    SetAWED();
    if (document.getElementById('spFIED').style.display=="none") {
      SetFIED();
    }
  }
  else {
    HideAWED();
    invalidRTNWD=true;
  }
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);ValidateChks();ContNormalHrs();
              SetUnfitForWorkVal();SetFIED();SetAWED();">
<div id=PageHeadingSection>
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="SetCancel();">
 Work Capacity Details                    
</span>
</div>
<div id=PageBodySection>
<form name=UpdateForm action="patweb89.pbl" method=post style=margin:0
 onsubmit='return validateMandatory(this);'>
  <input type=hidden name=reportno value="02">
  <input type=hidden name=template value="054">
  <input type=hidden name=accdflag value="K">
  <input type=hidden name=updatety value="10">
  <input type=hidden name=urnumber value="%PATWEB89.01.003">
  <input type=hidden name=admissno value="%PATWEB89.01.101">
  <input type=hidden name=ptcnhdps value="%PATWEB89.01.929">
  <input type=hidden name=chckname>
  <input type=hidden name=nextpage value="2">
  <input type=hidden name=redirect>
  <input type=hidden name=funddesc value="%PATWEB89.01.040.1">
  <input type=hidden name=mvmedrec value="%PATWEB89.01.902">
  <input type=hidden name=ageyears value="%PATWEB89.01.938">
  <input type=hidden name=systflag value="%PATWEB89.01.972">
  <input type=hidden name=casekeys value="%PATWEB89.01.907">
  <input type=hidden name=seriflag value="%PATWEB89.01.927">
  <input type=hidden name=workrel>
  <input type=hidden name=placeocc>
  <input type=hidden name=activity>
  <input type=hidden name=accepted>
  <input type=hidden name=cinjure>
  <input type=hidden name=injcode>
  <input type=hidden name=ptclm070>
  <input type=hidden name=returncd value="%PATWEB89.01.933">
  <input type=hidden name=ptclm008 value="%PATWEB89.01.307">
  <input type=hidden name=ptclm011 value="%PATWEB89.01.310">
  <input type=hidden name=refrejct value="%PATWEB89.01.999.123">						
  <input type=hidden name=dummy id=dummy>

<table align=center width=100% border=0 cellspacing=0 cellpadding=2>
<tr><td>Assistance Required Indicator Y/N</td>
<td><select name="ptclm067" tabindex=1 title="Assistance Required Indicator"
     class=Mandatory>
    <option></option>
     %PATWEB89.01.368.2
    </select>
    <img src="../images/HelpIcon.gif" class=Icon onclick="Alert15();">
</td></tr>

<tr><td>Need for ACC to call Health Provider Y/N</td>
<td><select name="ptclm068" tabindex=2 title="Need to call HP"
     class=Mandatory>
    <option></option>
     %PATWEB89.01.369.2
    </select></td></tr>

<tr><td class=DataLabel>Continue Normal Hours of Work Y/N<br>
    <input type=hidden name="ptclm069">
<td><input type=checkbox name="d_ptclm069" 
     onclick="ContNormalHrs();ValidateChks();SetFIED();SetAWED();"
     tabindex=3 title="Continue Normal Hours of Work">
    <img src="../images/HelpIcon.gif" class=Icon onclick="Alert16();">
</td></tr>

<tr><td class=DataLabel><div id="apprvhcphd" style="visibility:hidden">
     Approving HCP</div></td>
<td class=DataField><div id="apprvhcpvalue" style="visibility:hidden">    
     <input type="text" size=10 maxlength=10 name=ptclm087 title="Approving HCP"
            value="%PATWEB89.01.391.001" id=ptclm087 tabindex=4
            onchange="UpCase(this);ValidateHCP(18,0,ptclm087,genpname,dummy,
                              dummy,dummy,dummy);">
           <input type=text size=25 readonly name=genpname id=genpname
            value="%PATWEB89.01.391.081" tabindex="-1">
           <img src="../images/SearchIcon.gif" class=Icon
            onclick="GPHCPSearchFrame(ptclm087,genpname,dummy,
                                      dummy,dummy,dummy,0)">
           <img src="../images/erase.gif" class=Icon
            onclick="clrFields(ptclm087,genpname);">
</div></td></tr>

<tr><td class=DataLabel><div id="altwrkindhd" style="visibility:hidden">
     Alternative Work Indicator Y/N</div></td>
<td class=DataField><div id="altwrkindvalue" style="visibility:hidden">
<input type=checkbox name="d_ptclm070"  
 onclick="AltWorkInd();ValidateChks();" tabindex=5
 title="Alternative Work Indicator"></div></td>

<tr>
  <td class=DataLabel>
    <div id="UnfitWorkHd" style="visibility:hidden">
      Unfit for Work for
    </div>
  </td>
  <td><table>
      <tr><td><div id=UnfitWorkDay></div></td>
          <td><div id=UnfitWorkWeek></div></td>
      </tr>
      </table>
   </td>
</tr>

<tr><td class=DataLabel><div id="fincpstdtehd" style="visibility:hidden">
        Full Incapacity Start Date</div></td>
    <td class=DataLabel><div id="fincpstdtevalue" style="visibility:hidden">
        <input type="text" size="12" tabindex=7 name="ptclm076" id="ptclm076"
         value="%PATWEB89.01.377" title="Full Incapacity Start Date" 
         onblur="FullIncapacityStartDateBlur();">
        <img src="../images/DateLookup.gif" class=Icon
         onclick="DateLookupFrame(ptclm076,FullIncapacityStartDateBlur);">
        <span id=spFIED style="display:none">
          &nbsp;&nbsp;&nbsp;Full Incapacity End Date&nbsp;&nbsp;
          <input type="text" size="12" class="Readonly" readonly tabindex="-1"
           id="d_fulincenddte" value="" title="Full Incapacity End Date">
          <img src="../images/HelpIcon.gif" class=Icon onclick="AlertFIED();">
        </span>
    </div></td></tr>

<tr><td class=DataLabel><div id="rtnwrkdtehd" style="visibility:hidden">
        Return to Normal Work Date</div></td>
    <td class=DataField><div id="rtnwrkdtevalue" style="visibility:hidden">
        <input type="text" size="12" tabindex=8 name=ptclm077 id=ptclm077
         value="%PATWEB89.01.378" title="Return to Normal Work Date" 
         onblur="ReturnToNormalWorkDateBlur();">
        <img src="../images/DateLookup.gif" class=Icon
         onclick="DateLookupFrame(ptclm077,ReturnToNormalWorkDateBlur);">
    </div></td></tr>

<tr><td><div id="altwrktypehd" style="visibility:hidden">
     Type of Alternative Work</div></td>
<td><div id="altwrktypevalue" style="visibility:hidden">
    <select name="ptclm071" id="ptclm071" tabindex=9 title="Type of Alternative Work">
    <option></option>
     %PATWEB89.01.372.2
    </select>
    <img src="../images/HelpIcon.gif" class=Icon onclick="Alert17();">
</div></td></tr>

<tr><td class=DataLabel><div id="altwrkstdtehd" style="visibility:hidden">
     Start Date of Alternative Work</div></td>
    <td><div id="altwrkstdtevalue" style="visibility:hidden">
          <input type="text" size="12" tabindex=10 
           name=ptclm072 id=ptclm072 value="%PATWEB89.01.373" 
           title="Start Date of Alternative Work" 
           onblur="checkDate(this,'Start Date of Alternative Work');
           ChkWithAccDate();ChkAltWrkStrtDate();SetAWED();">
          <img src="../images/DateLookup.gif" class=Icon
           onclick="DateLookupFrame(ptclm072);">
          <span id=spWCED style="display:none">
            &nbsp;&nbsp;&nbsp;End Date for Alternative Work&nbsp;&nbsp;
            <input type="text" size="12" class="Readonly" readonly tabindex="-1"
             id="d_wrkcapenddte" value="" title="End Date for Alternative Work">
            <img src="../images/HelpIcon.gif" class=Icon onclick="AlertAWED();">
          </span>
        </div></td></tr>

<tr><td class=DataLabel><div id="hpdaltwrkhd" style="visibility:hidden">
     Hours per Day of Alternative Work</div></td>
    <td><div id="hpdaltwrkvalue" style="visibility:hidden">
    <input type="text" size="12" tabindex=11
     name=ptclm073 id=ptclm073 title="Hours per day of Alternative Work"
     value="%PATWEB89.01.374" onblur="ChkHrs(ptclm073);"></div>
    </td></tr>

<tr><td class=DataLabel><div id="altwrkrestrhd" style="visibility:hidden">
     Alternative Work Restrictions</div></td>
<td><div id="altwrkrestrvalue" style="visibility:hidden">
<textarea wrap=hard name="awrkcmnt" id="awrkcmnt" tabindex=12
 title="Alternative Work Restrictions" rows=2 cols=40>
%PATWEB89.01.970
</textarea>
</div></td></tr>

</table>
<table width=100% border=0>

<tr><td colspan=4 align=center>
    <input type=button value="Ok" tabindex=13 class="button" 
     id="pat89sub" onclick="tempDisable(this);SubmitPageOk();">
    <input type=button value="Cancel" tabindex=14 
onclick="SetCancel()" class="button">
</td></tr>
</table>
</form>
</div>
<span id=UnfitDayValue style="display:none">
      <select name="ptclm074" id="ptclm074" title="Unfit to Work Duration"
        onchange="SetReturnDate();SetFIED();" tabindex=6>
      <script type="text/javascript">
        document.write("<option value=' '></option>");
        for(i=1; i<15; i++){
          document.write("<option value='"+i+"'>"+i+"</option>");
        }
       </script>
       </select>
</span>
<span id=UnfitWeekValue style="display:none">
      <select name="ptclm075" id="ptclm075" tabindex=6 title="Unfit to Work Type">
       <option></option>
        %PATWEB89.01.376.4
      </select>
</span>

<span id=UnfitDayBlank style="display:none">
  <input type=hidden name=ptclm074 id="ptclm074_blank"></span>

<span id=UnfitWeekBlank style="display:none">
  <input type=hidden name=ptclm075 id="ptclm075"></span>

<script type="text/javascript">
	document.UpdateForm.refrejct.value = parent.UpdateForm.refrejct.value;
	
 continuenormal="%PATWEB89.01.370.0"
 if(continuenormal=="1"||continuenormal==" "){
      document.UpdateForm.d_ptclm069.checked=true;
      document.UpdateForm.ptclm069.value="1";
 } else {
      document.UpdateForm.d_ptclm069.checked=false;
      document.UpdateForm.ptclm069.value="0";
 }
 altwork="%PATWEB89.01.371.0"
 if(altwork=="1"){
      document.UpdateForm.d_ptclm070.checked=true;
      document.UpdateForm.d_ptclm070.value="1";
 } else {
      document.UpdateForm.d_ptclm070.checked=false;
      document.UpdateForm.d_ptclm070.value="0";
 }

function SetUnfitForWorkVal() {
 unfitValue = "%PATWEB89.01.375";
 unfitValue = unfitValue.replace(/ /g,"");
 ddl = document.getElementById('ptclm074');
 for (i=0; i < ddl.length; i++) {
   if (ddl.options[i].value == unfitValue) {
     ddl.selectedIndex = i;
   }
 }
 unfitWeek = "%PATWEB89.01.376.1";
 unfitWeek = unfitWeek.replace(/ /g,"");
 ddl = document.getElementById('ptclm075');
 for (i=0; i < ddl.length; i++) {
   if (ddl.options[i].value.substring(0,1) == unfitWeek) {
     ddl.selectedIndex = i;
   }
 }
}

//On click of Cancel
function SetCancel() {
ans=confirm("Warning: Work Capacity Details will not be Updated!\n Ok to Continue?") 
if (ans){
linkurl = "patweb89.pbl?reportno=01&template=005" +
      "&urnumber=" + document.UpdateForm.urnumber.value.replace(/ /g,"+")+
      "&admissno=" + document.UpdateForm.admissno.value.replace(/ /g,"+")+
      "&returncd=" + parent.UpdateForm.returncd.value+
      "&systflag=" + document.UpdateForm.systflag.value.replace(/ /g,"+")+
      "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+")+
      "&seriflag=" + document.UpdateForm.seriflag.value.replace(/ /g,"+")
	  "&refrejct=" + document.UpdateForm.refrejct.value.replace(/ /g,"+")																 

parent.location.href=linkurl;
} else {
    return;
  }
}
</script>
