/*-----------------------------------------------------------------------------
  cssVersion : V12.00.00

  V11.01.01  13/10/2021  Don Nguyen    TSK 0898088
             Added new classes for Clinical Results Request ('subheading',
             'searchBox', 'searchBoxDiv', 'searchInput', 'RightSearchIcon',
             'SavingData').
             04/06/2021  Tony Hui      TSK 0907017
             Updated the login page background image with a Dedalus branding.
  V11.00.04  12/01/2021  Don Nguyen    TSK 0894507
             Removed width setting in 'ResultValue' and also added word-spacing.
             Increased margins for 'resultList'.
  V11.00.03  09/12/2020  Don Nguyen    TSK 0898865
             Removed top margin from 'DocFrame'
  V11.00.02  09/09/2020  Don Nguyen    TSK 0894507
             Changed the width value of 'ResultValue' and reduced font sizes
  V11.00.01  27/08/2020  Don Nguyen    TSK 0894507
             Made result value text scrollable; added scrolling to 'ResultValue'
------------------------------------------------------------------------------*/
body {
 width:100%;
 border:0px;
 margin:0px;
 padding:0px;
 background-color: rgb(197,204,211);	 /* Set the page color to light blue */
 background-image: url(stripes.png);
 font-family: Helvetica, sans-serif;
 font-size:17px;
 -webkit-text-size-adjust: none; 
}
div.LoadPage {
  background-image:url(../../images/loading.gif);
  background-repeat:no-repeat;
  background-position:center center;
  background-color:black;
}
span.patientName {
 width:80%;
 white-space:nowrap;
 text-overflow:ellipsis;
 display:inline-block;
 padding:0px;
 margin:0px;
 margin-right:-320px;
 overflow:hidden;
}
span.AdmitIcon {
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.45, #0065ee), color-stop(1, #0024a2));
}
span.HomeIcon {
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.45, #0065ee), color-stop(1, #0024a2));
}
.ApplicationFrame {
 z-index:1;
 border:0;
 margin:0;
 padding:0;
}
.SearchFrame {
 z-index:100;
 border:0;
 margin:0;
 padding:0;
 height:100%; 
 min-height:100%; 
}
.PatientFrame {
 z-index:100;
 border:0;
 margin:0;
 padding:0;
 height:100%; 
 min-height:100%; 
}
.DocFrame {
 z-index:100;
 border:0;
 margin:0;
 padding:0;
 height:100%; 
 min-height:100%; 
}
.PatientImage {
 display:inline-block;
 margin:0px;
 padding:0px;
 width:50px;
 height:50px;
 border-color:rgb(217,217,217);
 border-width: 1px;		       /* Draw a rectangle around each list */
 border-style:solid ;
 -webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
 vertical-align:top;
}
.PatientImageDiv {
 display:inline-block;
 font-size:11px;
 color:darkblue;
 text-align:center;
 vertical-align:middle;
 width:50px;
 height:50px;
 margin:0px;
 padding:0px;
 border-width: 1px;		       /* Draw a rectangle around each list */
 border-style:solid ;
 -webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
 border-color:rgb(217,217,217);
 margin-right:10px;
 margin-left:10px;
}
.PatientImageHead {
 font-size:11px;
 color:darkblue;
 text-align:center;
 vertical-align:bottom;
 float:left; 
 left:0px;
 width:50px;
 height:50px;
 margin:0px;
 padding:0px;
 border-width: 1px;		       /* Draw a rectangle around each list */
 border-style:solid ;
 -webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
 border-color:rgb(217,217,217);
}
.PatientDetails {
 display:inline-block;
 vertical-align:top;
 margin:0;
 margin-left:5px;
 padding:0;
 width:80%;
 margin-right:-50px;
}
.listText {
 font-size:17px;
 display:block;
 margin:0;
 padding:0;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
}
.linkText {
 width:80%;
 margin-right:-320px;
 font-size:17px;
 display:block;
 margin:0;
 padding:0;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
}
.WardDetails {
 padding-left:10px;
 display:block;
 width:300px;
 clear:both;
 font-size:14px;
 vertical-align:top;
 overflow:hidden;
 white-space:nowrap;
}
.DocumentType {
/* float:left; */
 display:block;
 width:300px;
 clear:both;
 font-size:17px;
 vertical-align:top;
 overflow:hidden;
 white-space:nowrap;
}
ul.patient-list {
 margin:0px;
 padding:0px;
 border:0px;
 font-size:17px;
 list-style-type:none; 
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
}
li.patient-list-more {
 align:center;
 vertical-align:middle;
 text-align:center;
 margin:0;
 padding:0;
 font-size:17px;
 list-style-type: none; 
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden;
}
li.patient-item {
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden;
 list-style-type: none; 
 background-color: white;
 border:0px;
 margin:0px;
 border-bottom : rgb(217,217,217) 1px solid;
 padding-top:10px;
 padding-bottom:10px;
}
.secGreenSaved {
 background-color: rgb(0, 167, 0);
 background-image: url(../../images/iphone-section-green.gif);
 background-repeat: repeat-x;
}
.sec {
 colour: #dddddd;
 text-shadow:0px -1px 1px #050505;
 background:-webkit-gradient(linear, left top, left bottom, from(#7E7E7E), to(#424242), color-stop(.5,#5A5B5B));
 border-bottom-color: #818181;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 color: white;
 font-size: 16px;
 min-height: 16px;
 padding-bottom: 13px;
 padding-left: 10px;
 padding-right: 20px;
 padding-top: 15px;
 display:none;
}
.ind {
 background-color:white;
 border-bottom-color: rgb(226, 226, 226);
 border-bottom-style: solid;
 border-bottom-width: 1px;
 display: block;
 font-family: Helvetica, sans-serif;
 font-size: 14px;
 height: 30px;
 min-height: 30px;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 9px;
}
.LeftSubscript {   
 text-overflow: ellipsis;
/* float:left; */
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
}
.RightSubscript {   
 text-overflow: ellipsis;
/* float:right; */
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
}
.title {
 float: left;
 font-size: 16px;
 font-weight: bold;
}
.arrow {
 float: right;
 font-size: 14px;
}
.sectionForm {
 border:0;
 margin:0;
 padding:0;
}
.sectionDocument {
 -webkit-transition-duration: 0.5s, 0.5s;
 -webkit-transition-property: height, opacity;
 -webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1), cubic-bezier(0, 0, 0.58, 1);
 display:block;
 font-size: 14px;
 overflow-x: visible;
 overflow-y: scroll;
}
.section {
 -webkit-transition-duration: 0.5s, 0.5s;
 -webkit-transition-property: height, opacity;
 -webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1), cubic-bezier(0, 0, 0.58, 1);
 display:block;
 font-size: 14px;
}
li.ListMore {
 text-align:center;
 color:#ffffff;
 font-weight:bold;
 list-style-type: none;  
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 margin:0;
 padding-top: 20px;        
 padding-bottom: 20px;    /* Indent the cell content 14 pixels from the bottom edge of a cell */
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.48, #b4b4b4), color-stop(0.93, #c8c8c8))
}
input {
 font-size: 17px;
}
textarea {
 font-size: 17px;
}
select {
 font-size: 17px;
}
.Select270 {
 margin-left:2px;
 width:270px;
}
.Select120 {
 width:120px;
}
input.Date {
 width:100px;
}
input.Time {
 width:100px;
}
.iphone-button {
 width: 90px;			
 font-size: 17px;
}
.button	{	
 display: block;		    
 line-height:46px;	 
 width: 150px;			
 font-size: 18px;
 font-weight: bold;
 color: #fff;
 text-decoration: none;
 text-align: center;
}
.blackLeft {
 margin: 3px auto;
 color: #fff;
 text-shadow: #000 0px 1px 1px;	 
 border-width: 0px 5px 0px 12px;
 -webkit-border-image: url(leftButton.png) 0 5 0 12;		
}
.PageHeadingDiv {
 -webkit-box-sizing: border-box;
 border-bottom: 1px solid #2E3744;
 margin: 0px 0px 0px -10px;
 padding: 10px;
 min-height: 44px;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.3, #17959F), to(#014D51));
# background:-webkit-gradient(linear, left top, left bottom, color-stop(0.43, #91c3a5), color-stop(1, #508264))
}
h1.PageHeading {
 color: #fff;
 font: bold 20px/30px Helvetica;
 text-shadow: #003E43 0 -1px 0;
 text-align: center;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 width: 49%;
 padding: 5px 0;
 margin: 2px 0 0 -24%;
 position: absolute;
 top: 0;
 left: 50%;
}
.navExit {
 position: absolute;
 width:65px !important;
 height:31px !important;
 right:0;
 top:2px;
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.38, #b90000), color-stop(1, #710000));
}
.SearchPanel {
 background: -webkit-gradient(linear, right bottom, right top, color-stop(0, #a8abaa), color-stop(0.78, #464646));
 height:40px;
 width:100%;
 border:0;
 margin:0;
  padding:5px;
}
input.search-input {
  vertical-align:center;
  margin:auto;
  width:95%;
  font-size:14px;
  -webkit-border-radius: 12px;		 /* Round each corner of the created rectangle */
}
#XXpageBuckett {
 height:800px;
 left:0px;
 text-align:center;
 width:100%;
}
#XXfooter {
 position:absolute;
 top:360px;
 height:58px;
 width:100%;
}
.w-table {
 margin:0px;
 padding:0px;
/* padding-top:40px; */
 border:0px;
 width:100%;
/* height:370px; */
}
.DELETE-ME-nav-button	{	
 -webkit-background-clip: border-box;
 -webkit-background-origin: padding-box;
 -webkit-border-bottom-left-radius: 0px;
 -webkit-border-bottom-right-radius: 0px;
 -webkit-border-top-left-radius: 0px;
 -webkit-border-top-right-radius: 0px;
 background-attachment: scroll;
 background-color: transparent;
 background-image: none;
 background-repeat: repeat;
 border-bottom-width: 0px;
 border-left-width: 14px;
 border-right-width: 8px;
 border-top-width: 0px;
 color: white;
 cursor: auto;
 display: block;
 font-size: 12px;
 font-weight: bold;
 height: 28px;
 line-height: 28px;
 padding:0px;
 position: absolute;
 text-decoration: none;
 text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
 top: 6px;
}
.DELETE-ME-backPage {
 left:6px;
 -webkit-border-image: url(iPhoneBackButtonG.png) 0 8 0 14 stretch stretch;
}
.donePage {
 margin: 3px auto;
 color: #fff;
 border-width: 0px 5px 0px 5px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 5 0 5 stretch stretch;
 padding-left:10px;
 padding-right:10px;
 right:5px;
}
.searchPage {
 position:absolute;
 float:left;
 width:70px;
 right:5px;
 color: #fff;
 margin-right:5px;
 border-width: 0px 5px 0px 5px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 5 0 5  stretch stretch;	
 text-align:center;
}
.addPage {
 position:absolute;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 width:70px;
 right:5px;
 margin:0px;
 color:#fff;
 text-align:center;
 border-width: 0px 6px 0px 6px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 6 0 6 stretch stretch;
}
.menuPage {
 position:absolute;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 width:70px;
 right:5px;
 margin:0px;
 color:#fff;
 text-align:center;
 border-width: 0px 2px 0px 2px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 6 0 6 stretch stretch;
}
.exitPage {
 float:right;
 right:10px;
 padding-left:10px;
 padding-right:10px;
 color: #fff;
 border-width: 0px 5px 0px 5px;
 -webkit-border-image: url(iPhoneNavButtonR.png) 0 5 0 5  stretch stretch;	
}
.editPage {
 margin: 3px auto;
 color: #fff;
# text-shadow: #000 0px 1px 1px;	 
 border-width: 0px 5px 0px 5px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 5 0 5  stretch stretch;	
}
.blackRight	 {
 margin: 3px auto;
 border-width: 0px 12px 0px 5px;
 color: #fff;
 text-shadow: #000 0px 1px 1px;
 -webkit-border-image: url(rightButton.png) 0 12 0 5;
}
h1 {
 margin:0;
 padding-top:10px;		  
 padding-right:10px;		 
 padding-bottom:10px;	
 padding-left:10px;
 font-size:17px;
 font-weight:bold;
 color: rgb(76,86,108);	 /* Set each label color */		
}
.PHeadingSection {
 padding:5px;
 font-size:14px;
 font-weight:bold;
 background-color:white;
}
ul.menu {	   
 padding:0;	   
 margin-top:10px;
 margin-left:10px;
 margin-right:10px;  
 margin-bottom:10px;	
 font-size:14px;
 font-weight:bold;
 color:black;
 background-color: white;       
 border-width: 1px;		       
 border-style:solid ;
 border-color:rgb(217,217,217);
 -webkit-border-radius: 8px;		 
}
.menu-icon {	
 vertical-align:middle;
 padding:4px;
 border-width: 1px;		       
 margin-top:-2px;
 border-style:solid ;
 border-color:rgb(217,217,217);
 -webkit-border-radius: 4px;		 

}
.menuArrow {  
  margin-top:5px;		
  margin-right:0px;		
  background: url("AlertSprite.png") -20px -60px no-repeat;
  width:20px;
  height:20px;
 float:right;
}
.menuArrowAdd {  
 width:22px;
 height:22px;
 padding-right:20px;	   /* Distance between the arrow button and a text */
 background-image: url(Add.jpg); 
 background-repeat: no-repeat;
 background-position: right center;
 float:right;
}
li.ward-line {	
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
 list-style-type: none;	
 border-top-width:1px;	
 border-top-style:solid;
 border-top-color:rgb(217,217,217);
 padding-top:5px;		  
 padding-bottom:25px;	 
 padding-right:10px;		 
 padding-left:10px;	
 font-weight:bold;
 font-size:17px;
}
li.menu-line {	
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
 list-style-type: none;	
 border-top-width:1px;	
 border-top-style:solid;
 border-top-color:rgb(217,217,217);
 padding-top:10px;		  
 padding-bottom:14px;	 
 padding-right:10px;		 
 padding-left:10px;	
 font-weight:bold;
 font-size:17px;
}
li:first-child {
 border-top:0;
}
a.ListLink  {
 text-overflow:ellipsis;
 overflow:hidden;
 white-space:nowrap;
 text-decoration:none;
 color:black;
 font-weight:normal;
 display:block;
 padding-top: 8px;
 padding-right: 8px;
 padding-bottom: 20px;
 padding-left: 8px;
 margin-top: -8px;
 margin-right: -8px;
 margin-bottom: -20px;
 margin-left: -8px;	 
}
.showArrow {  
  margin-right:0px;		
  background: url("AlertSprite.png") -20px -60px no-repeat;
  width:20px;
  height:20px;
}
.secondary	{    /* Used for secondary text (text that is less important) */
 font-weight:normal;  /* Regular font is used for secondary text */
 float:right;	     /* Align secondary text to the right of its parent cell */
 margin-right:10px;	  
}
.secondaryWArrow {   /* Used for secondary content that contains a link and a button */
 display:block;	     /* Set the secondary content to be a block	 */
 font-weight:normal; 
 float:right;
 color: #324F85;	     /* sets the color of the link */
}
.secondaryWLink {    /* Used for secondary text that is a link */
 font-weight:normal;		
 float:right;		  
 margin-right:10px;	  
 color: #324F85;	     /* sets the color of the link */
}
.subscriptCenter {   
 width:90%;
 font-weight:normal;		
 font-size:12px;
 color:#324F85;
 padding:0px;
 margin:0px;
 margin-left:10px;
 margin-right:-320px;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 display: block;
}
.subscriptLeft {   
 margin-left:10px;
 text-overflow: ellipsis;
 white-space:nowrap;
 overflow: hidden;
 display:inline-block;
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
 width:45%;
}
.subscriptRight {   
 width:45%;
 text-overflow:ellipsis;
 display:inline-block;
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
 overflow:hidden;
 white-space:nowrap;
 margin-right:-5px;
 text-align:right;
}
.subscript {   
 text-overflow: ellipsis;
/* display:inline-block; */
 font-weight:normal;		
 font-size:12px;
 color:#324F85;
}
.optnlist {
/* float:right; */
 font-size:17px;
 color: #324F85;
}
span.Dose {
 display:block;
 padding-top:4px;
 padding-left:10px;
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
}
span.DoseLabel {
 display:inline;
}
span.DoseValue {
 display:inline;
 font-weight:bold;
}
span.DoseROA {
 display:inline;
}
span.DoseFreq {
 display:inline;
 font-weight:bold;
}
span.DoseSpec {
 display:inline;
 font-weight:bold;
}
span.DoseQual {
 display:inline;
 font-style:italic;
}
.tableCell {
 height:22px;
 padding:1px;
 border:1px solid lightgrey;
}
.ruledRow {
  padding:1px;
}
IMG.DocumentAdd {
 margin-top:2px;
 border:0;
 margin-left:0px;
 margin-right:3px;
 vertical-align:middle;
}
.WidgetContentTable TD {
 vertical-align:middle;
 padding:2px;
}
.x-panel-title {
  width:100%;
  padding-top:4px;
  padding-bottom:4px;
  line-height: 15px;
  background: transparent repeat-x 0 -1px;
  border:0 none;
  background:transparent;
  font-weight:bold; 
  font-size: 11px;
  color:#033738;
  border-color:#99bbe8;
  background-image: url(../../images/panel-top.gif);
  overflow:hidden;
}
.x-panel-title-min {
    background-image: url(../../images/panel-top-min.gif);
}
.b-label {
 padding-right:2px;
 font-size: 10pt;
}
.b-text {
 padding-left:4px;
 font-weight:bold;
 font-size: 10pt;
}
.b-alert-table { 
 width:100%;
 font-size: 10pt;
}
.b-alert-table td { 
 border:1px;
 font-size: 10pt;
}
.b-alert-icon {
 overflow:hidden;
 background:no-repeat;
/* float:left; */
 background-position: -1px -1px;
 padding:0px;
 margin:0px;
 width:18px;
 height:18px;
 background-image:url(../../images/BannerAlertIcon.gif);
}
.b-table {
 border:0;
 width:auto;
 padding:0;
 margin:0;
}
.p-banner-table {
 margin:2px;
 width:100%;
 font-size: 11px;
 color:#033738;
 text-align:left;
 white-space:nowrap;
 empty-cells:show;
}
.Icon {
 margin-left:5px;
 margin-bottom:-12px;
}
.x-tool {
 width:15px;
 height:15px;
 padding:0px;
 margin:0px;
 overflow:hidden;
 background:no-repeat;
 background-image:url(../../images/tool-sprites-g.gif);
/* float:right; */
 cursor:pointer;
}
.x-tool-loading {
  width:25px;
  height:25px;
  margin:0px;
/*  float:left; */
  background-image:url(../../images/loading.gif);
  background-repeat:no-repeat;
  background-position:center center;
  background-color:transparent;
}
.x-tool-close {
 background-position: 0px 0px;
}
.x-tool-close:hover  {
 background-position: -15px 0px;
}
.x-tool-min {
 background-position: 0px -15px;
}
.x-tool-min:hover {
 background-position: -15px -15px;
}
.x-tool-tile {
 background-position: 0px -45px;
}
.x-tool-tile:hover{
 background-position: -15px -45px;
}
.x-tool-maximise {
 background-position: -15px -45px;
}
.x-tool-maximise:hover{
 background-position: 0px -45px;
}
.x-tool-max {
 background-position: 0px -30px;
}
.x-tool-max:hover{
 background-position: -15px -30px;
}
.x-tool-expand {
 background-position: 0px -195px;
}
.x-tool-expand:hover{
 background-position: -15px -195px;
}
.x-tool-collapse {
 background-position: 0px -210px;
}
.x-tool-collapse:hover{
 background-position: -15px -210px;
}
.x-tool-help {
 background-position: 0px -300px;
}
.x-tool-help:hover {
 background-position: -15px -300px;
}
TD.HeaderCell {
 BACKGROUND-COLOR: #cccccc;
 CURSOR: pointer;
 FONT-WEIGHT: normal;
 TEXT-DECORATION: underline;
}
TD.HeadingCell A {
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:visited {
 FONT-WEIGHT: bold;
 TEXT-DECORATION: none;
}
TD.HeadingCell A:hover {
 FONT-WEIGHT: bold;
 COLOR: blue; 
 TEXT-DECORATION: none;
}
TD.HeadingCell {
 color:white;
 padding:2px 5px 4px 5px;
 margin-bottom:2px;
 background: transparent repeat-x 0 -1px;
 font-weight:bold; 
 font-size: 11px;
 line-height: 15px;
 background-image: url(../../images/heading-cell.gif);
}
SELECT.Mandatory {
	BACKGROUND-COLOR: #fff0c6;
}
INPUT.Mandatory {
	BACKGROUND-COLOR: #fff0c6;
}
TEXTAREA.Mandatory {
	BACKGROUND-COLOR: #fff0c6;
}
ul.sectionList {      
 padding: 0px;      
 margin-left: 10px;
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;          /* Set each list 17 pixels from the top of the button bar(or the top of the next list) */
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
}
ul.resultList {      
 padding: 2px;      
 /*margin: 2px;*/
 margin-left: 10px;
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 background-color: rgb(255,255,255);    /* Each list has a white background fill */
 color: rgb(0,0,0);
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
}
li.sectionItem {   
 font-weight:normal;
 list-style-type: none;  
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-top: 10px;        
 padding-right: 10px;         
 padding-bottom: 14px;    /* Indent the cell content 14 pixels from the bottom edge of a cell */
 padding-left: 10px; 
}
li.sectionItem:first-child {
 border-top: 0px;     /* Remove border above the first item of the list */
}
a.sectionLink  {
 display: block;   /* Sets the href to be a block rather than inline */
 padding-top: 8px;
 padding-right: 8px;
 padding-bottom: 12px;
 padding-left: 8px;
 margin-top: -8px;
 margin-right: -8px;
 margin-bottom: -12px;
 margin-left: -8px;  
 text-decoration: none;
 color: rgb(0,0,0);
}
.resultText {
 padding:3px;
 font-size:14px;
 font-weight:normal;
 color: rgb(50,79,133);     /* Override the font color */    
 word-wrap:break-word;
}
.Abnormal {
 font-weight:bold;
 color:darkred;
}
.commentText  {   
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
}
span.NoteHead {
 font-weight:bold;
 display:block;
 font-size: 14px;
 width:100%;
}
span.Note {
 display:block;
 font-size: 14px;
 width:100%;
}
textarea.emrReadonly {
 -webkit-appearance: none; 
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
 font-size: 14px;
 border:0px;
 margin:0px;
 padding:0px;
 margin-left:-2px;
}
.sectionText  {   
 padding-left:4px;
 text-align:left;
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
}
.resultText  {   
 padding-left:4px;
 text-align:left;
 font-weight: normal;        /* Regular font is used for secondary text */     
 color: rgb(50,79,133);     /* Override the font color */    
 word-break:normal;
}
.ObsDateTime {
 display:block;
 width:90%;
 padding-left:10px;
 padding-bottom:10px;
 font-size:17px;
 color: #324F85;
}
.list-img-right {
 width:15%;
 right:0px;
 font-size:14px;
 padding-bottom:3px;
 text-align:right;
 width:20px;
/* float:right; */
}
.patient-result {
 width:220px;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.result-text {
 width:260px;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.status-img-right {
 text-align:right;
 width:20px;
/* float:right; */
 right:0px;
 font-size:14px;
 margin:0px;
 padding:0px;
 padding-bottom:3px;
}
.ObsFluidIn {
 display:inline-block;
 white-space:nowrap;
 text-align:right;
 width:60px;
 min-width:60px;
 font-size:12px;
 font-weight:bold;
 color:darkblue;
}
.ObsFluidLabelIn {
 display:inline-block;
 white-space:nowrap;
 width:80px;
 min-width:80px;
 font-weight:normal;
 text-align:left;
 font-size:12px;
 color: #324F85;
}
.ObsFluidLabelOut {
 display:inline-block;
 white-space:nowrap;
 margin-left:20px;
 width:80px;
 min-width:80px;
 font-weight:normal;
 text-align:left;
 font-size:12px;
 color: #324F85;
}
.ObsFluidOut {
 display:inline-block;
 white-space:nowrap;
 text-align:right;
 width:60px;
 min-width:60px;
 font-size:12px;
 font-weight:bold;
 color:darkred;
}
.ObsValueBP {
 width:80px;
 display:inline-block;
 font-size:17px;
 text-align:right;
 font-weight:bold;
 color:darkblue;
 text-align:center;
}
.ObsValue {
 display:inline-block;
 font-size:17px;
 text-align:right;
 font-weight:bold;
 color:darkblue;
 width:45px;
 text-align:center;
}
.ObsLabel {
 text-align:center;
 font-weight:normal;		
 font-size:10px;
 color: #324F85;
}
.ResDateTime {
/* float:left; */
 text-align:center;
 color: #324F85;
 font-size:17px;
}
.ResultLine {
 display:block;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 text-align:left;
 font-size:16px;
 font-weight:normal;		
}
.ResultValue {
 display:inline-block;
 font-size:16px;
 font-weight:bold;
 color:darkblue;
 text-align:center;
 right:20px;
 position:absolute;
 overflow:auto;
 word-spacing:0.1em;
}
.ResultFlag {
 display:inline-block;
 font-weight:normal;		
 font-size:12px;
 color:#324F85;
 width:40%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.ResultText {
 font-size:16px;
 text-align:left;
 font-weight:bold;
 color:darkblue;
}
.ResultRefRan {
 display:inline-block;
 text-align:center;
 font-size:16px;
 color:darkblue;
 margin-left:auto;
 margin-right:auto;
 width:40%;
}
.ResultLabel {
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
 text-align:center;
}
.ObsInit {
/* float:right; */
 font-weight:normal;		
 font-size:12px;
 color: #324F85;
}
.ItemObs {
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;		  
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
}
.ItemFld {
 list-style-type: none;
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;		  
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
}
.ListResDet {
 background-color:white;
 padding:0;
 width:100%;
 margin:10px;
 border-width: 1px;             /* Draw a rectangle around each list */
 border-style: solid ;
 border-color: rgb(217,217,217);
 -webkit-border-radius: 8px;      /* Round each corner of the created rectangle */
}
.ListRes, .ListMed, .ListObs, .ListNote {
 background-color:white;
 margin:0;
 padding:0;
 width:100%;
 font-size:15px;
 margin:0px;
}
.note-datetime {
 display:block;
 width:300px;
 clear:both;
}
.ItemRes {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-bottom:10px;	 
 padding-top:10px;		  
}
.ItemMed {
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;		  
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
}
.ItemNote {
 list-style-type: none;
 border-top-width: 1px;    /* Create lines between cells. Each line is placed above each item */
 border-top-style: solid;
 border-top-color: rgb(217,217,217);
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;		  
 padding-bottom:10px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
}
.bed-item {
 padding-left:4px;
 padding-right:4px;
 padding-top:4px;		  
 padding-bottom:30px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
 font-size:14px;
}
page {
/* height: 100%; */
 width: 100%;
 opacity: 1;
 padding: 0;
 -webkit-transition-property: opacity, left;
 -webkit-transition-duration: 1s, 1.5s;
 transition-timing-function: ease-in;
}
.sheet {
  background: -webkit-gradient( linear, left top, left bottom, from(#717171), to(#252525), color-stop(.1, #4d4d4d), color-stop(0.25, #000) );
  border-top: 3px solid #ebebeb;
  margin: 0;
  opacity: .95;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
input[type=button], input[type=submit] {
 font-size: 17px;
 width: 95%;
 height: 35px;
 border: 1px solid #282726;
 margin: 5px 5px 5px 5px;
 -webkit-background-origin: padding-box;
 -webkit-background-clip: border-box;
 -webkit-border-radius: 8px;
}
input[type=button]:hover, input[type=button].cancel,
input[type=submit]:hover, input[type=submit]:active, 
input[type=button]:active, input[type=button].cancel:active {
  color: #fff;
  text-shadow: none;
}
input[type=submit]:hover, 
input[type=button]:hover, input[type=button].cancel:hover {
  background: -webkit-gradient( linear, left top, left bottom, from(#aaaee5), to(#10006d), color-stop(0.5, #1F3B97), color-stop(0.5, #081f6f) );
}
input[type=button].cancel {
  background: -webkit-gradient( linear, left top, left bottom, from(#5c5c5b), to(#1e1b16), color-stop(0.2, #1e1b16) );
  margin-top: 6px;
}
.black	{
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #000000));
}
.blue { 
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.45, #0065ee), color-stop(1, #0024a2));
}
.lightblue { 
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.49, #00c8d8), color-stop(0.95, #00a1b1));
}
.green { 
 color: #fff;
 background:-webkit-gradient(linear, 0% 14%, 0% 85%, from(#007474), to(#005152), color-stop(.5,#00696A),color-stop(.5,#006364));
 border-color: #183538
}
.oldgreen {
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.38, #00b200), color-stop(1, #006000));
}
.darkgreen { 
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #009e00), color-stop(0.61, #002d00))
}
.lightgreen { 
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.49, #009681), color-stop(0.95, #007a65));
}
.darkred { 
 color: #fff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.41, #aa0000), color-stop(0.95, #350000))
}
.red { 
 color: #fff;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.38, #b90000), color-stop(1, #710000));
}
.togButton {
  float:right; 
  display: block;
  width: 94px; 
  height: 27px; 
  margin:0px;
  margin-top:-3px;
}
.togButtonOff {
  background-image: url(off.png);
}
.togButtonOn  {
  background-image: url(on.png);
}
.noHighlight {
 -webkit-tap-highlight-color:rgba(0,0,0,0.0);
}
input.search-text {
-webkit-appearance: none; 
 border:0;
}
.AlertIcon {
 margin-top:-2px;
 padding-top:0;
 vertical-align:top;
}
.iphone-list-icon {
 float:right;
 vertical-align:middle;
 margin-right:6px;
 margin-top:6px;
}
.ListIcon {
 display:inline-block;
 vertical-align:middle;
 margin-bottom:0px;
 margin-left:10px;
 margin-right:5px;
 margin-bottom:5px;
 border:0;
 padding:0;
}
div.DivSearchResult {
 margin:0px;
 padding:0px;
 border:0px;
 overflow:auto;
 position:absolute;
 visibility:hidden;
 background-color: rgb(197,204,211);	 /* Set the page color to light blue */
 top:0px;
 right:0px;
 padding-left:11px;
}
.DivSearchResult table {
 border:0;
}
.DivSearchResult TD.HeadingCell {
  text-align:left;
  border-bottom:1px gray solid;
  border-right:1px gray solid;
  background-color:silver;
  color:black;
  font-weight:normal;
}
.DivSearchResult b {
  font-weight:normal;
}
.DivSearchResult A {
 padding-top: 0px;
 padding-right: 280px;
 padding-bottom: 10px;
 margin-right: -280px;
 margin-bottom: -10px;
 text-decoration:none;
 color:black;
 font-weight:normal;
}
.DivSearchResult TD {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ecedef), color-stop(0.69, #d5d5d4));
  height:50px;
  border:0;
  border-bottom:1px black;
  padding-right:2px;
  padding-left:2px;
}

a.CloseSearch {	
 -webkit-background-clip: border-box;
 -webkit-background-origin: padding-box;
 -webkit-border-bottom-left-radius: 0px;
 -webkit-border-bottom-right-radius: 0px;
 -webkit-border-top-left-radius: 0px;
 -webkit-border-top-right-radius: 0px;
 background-attachment: scroll;
 background-color: transparent;
 background-image: none;
 background-repeat: repeat;
 color: white;
 cursor: auto;
 display: block;
 font-size: 12px;
 font-weight: bold;
 height: 28px;
 line-height: 28px;
 padding:0px;
 text-decoration: none;
 text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
 border-width: 0px 5px 0px 5px;
 -webkit-border-image: url(iPhoneNavButtonG.png) 0 5 0 5 stretch stretch;
 padding-left:10px;
 padding-right:10px;
}
ul.searchOption {      
 padding: 0px;      
 margin: 0px;
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 color: rgb(0,0,0);
}
li.searchOption {   
 list-style-type: none;  
 border: 0px;    /* Create lines between cells. Each line is placed above each item */
 padding-top: 5px;        
 padding-right: 5px;         
 padding-bottom: 5px;    /* Indent the cell content 14 pixels from the bottom edge of a cell */
 padding-left: 5px; 
}
input[type='checkbox'] {
 vertical-align:middle;
 margin:0px;
 margin-right:5px;
 border:0px;
 padding:0px;
 height:30px;
 width:100px;
 -webkit-appearance: none; 
 background-image: url(off.png);
 background-repeat: no-repeat;
}
input[type='checkbox']:checked {
 vertical-align:middle;
 margin:0px;
 margin-right:5px;
 border:0px;
 padding:0px;
 height:30px;
 width:100px;
 -webkit-appearance: none; 
 background-image: url(on.png);
 background-repeat: no-repeat;
 background-color: #fff;
 text-shadow: none;
}
.checkBoxRight  {   
 padding:0px;
 margin:0px;
 margin-top:-3px;
 border:0px;
 float:right; 
 vertical-align:middle;
}
body.LoginPage {
 width:100%;
 border:0px;
 margin:0px;
 padding:0px;
 background-color: rgb(197,204,211);  /* Set the page color to light blue */
 background-image: url(stripes.png);
 font-family: Helvetica, sans-serif;
 font-size:17px;
 -webkit-text-size-adjust: none; 
}
body.LoginPage {
 background-color: #E2E3E6;
 background-image:url(touch_login_dedalus_v7.png);
 background-repeat: no-repeat;
 background-position: center top;
 color:#999;
 font-family: Helvetica, sans-serif;
 font-size:14px;
 min-height:100%; 
}
input.LoginName, input.LoginPass {
 margin: 8px 8px 8px 8px;
 font-size:17px;
 line-height:200%;
 width:85%;
}
.triage1 {
 -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
 -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
 box-shadow:inset 0px 1px 0px 0px #f29c93;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
 background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
 background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
 background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
 background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
 background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
 background-color:#fe1a00;
 border:1px solid #d83526;
 color:#ffffff;
 text-shadow:0px 1px 0px #b23e35;
}
.triage4 {
 -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
 -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
 box-shadow:inset 0px 1px 0px 0px #97c4fe;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
 background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
 background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
 background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
 background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
 background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
 background-color:#3d94f6;
 border:1px solid #337fed;
 color:#ffffff;
 text-shadow:0px 1px 0px #1570cd;
}
.triage3 {
 -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
 -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
 box-shadow:inset 0px 1px 0px 0px #a4e271;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
 background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
 background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
 background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
 background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
 background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
 background-color:#89c403;
 border:1px solid #74b807;
 color:#ffffff;
 text-shadow:0px 1px 0px #528009;
}
.triage2 {
 -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
 -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
 box-shadow:inset 0px 1px 0px 0px #fce2c1;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
 background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
 background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
 background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
 background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
 background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
 background-color:#ffc477;
 border:1px solid #eeb44f;
 color:#ffffff;
 text-decoration:none;
 text-shadow:0px 1px 0px #cc9f52;
}
.triage6, .triage0 {
 -moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
 -webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
 box-shadow:inset 0px 1px 0px 0px #efdcfb;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
 background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
 background:-webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
 background:-o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
 background:-ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
 background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
 background-color:#dfbdfa;
 border:1px solid #c584f3;
 color:#ffffff;
 text-shadow:0px 1px 0px #9752cc;
}
.triage5 {
 -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
 -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
 box-shadow:inset 0px 1px 0px 0px #ffffff;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
 background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
 background-color:#f9f9f9;
 border:1px solid #dcdcdc;
 color:#666666;
 text-shadow:0px 1px 0px #ffffff;
}
span.triage {
 -moz-border-radius:25px;
 -webkit-border-radius:25px;
 border-radius:25px;
 display:inline-block;
 font-family:arial;
 font-size:12px;
 font-weight:normal;
 padding:7px 11px;
 text-decoration:none;
}
.TriageDiv {
 display:inline-block;
 text-align:center;
 vertical-align:middle;
 width:45px;
 height:45px;
 margin:0px;
 padding:0px;
 border-width: 1px;		       /* Draw a rectangle around each list */
}
.ResultStatus0 {
  background: url("AlertSprite.png") -0px -140px no-repeat;
  width:20px;
  height:20px;
  float:right;
}
.ResultStatus1 {
  background: url("AlertSprite.png") -0px -1px no-repeat;
  width:1px;
  height:1px;
  float:right;
}
.ResultStatus2 {
  background: url("AlertSprite.png") -40px -140px no-repeat;
  width:20px;
  height:20px; 
  float:right;
}
.showResultIconCH {
  background: url("AlertSprite.png") -100px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconRX {
  background: url("AlertSprite.png") -80px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconRA {
  background: url("AlertSprite.png") -80px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconHM {
  background: url("AlertSprite.png") -140px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconIG {
  background: url("AlertSprite.png") -140px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconMB {
  background: url("AlertSprite.png") -0px -180px no-repeat;
  width:20px;
  height:20px;
}
.showResultIconSP {
  background: url("AlertSprite.png") -160px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconEC {
  background: url("AlertSprite.png") -120px -0px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconCP {
  background: url("AlertSprite.png") -20px -94px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconHB {
  background: url("AlertSprite.png") -60px -94px no-repeat;
  width:20px;
  height:20px;
}
.showResultIconOT {
  background: url("AlertSprite.png") -80px -80px no-repeat;
  width:20px;
  height:20px;
}
.showResultIconDD {
  background: url("AlertSprite.png") -60px -160px no-repeat;
  width:20px;
  height:20px;
}
.showResultIconLA {
  background: url("AlertSprite.png") -140px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconME {
  background: url("AlertSprite.png") -140px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconOS {
  background: url("AlertSprite.png") -125px -94px no-repeat;
  width:20px;
  height:20px;

}

.showResultIconSR {
  background: url("AlertSprite.png") -160px -160px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconBL {
  background: url("AlertSprite.png") -120px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultIconIM {
  background: url("AlertSprite.png") -120px -180px no-repeat;
  width:20px;
  height:20px;
}

.showResultReadStatus0 {
  background: url("AlertSprite.png") -0px -1px no-repeat;
  width:1px;
  height:1px;
  float:right;
}
.showResultReadStatus1 {
  background: url("AlertSprite.png") -180px -40px no-repeat;
  width:20px;
  height:20px;
  float:right;
}
.showResultReadStatus3 {
  background: url("AlertSprite.png") -0px -1px no-repeat;
  width:1px;
  height:1px;
  float:right;
}
.subheading {
 font-weight:bold;
 font-size:17px;
 margin: 0px;
 padding: 0px;
 text-align:center;
}
.searchBox {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #17959F), to(#014D51));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17959f', endColorstr='#014d51',GradientType=0 );
 -webkit-border-radius:8px;
 border-radius:8px;
}
.searchBoxDiv {
 margin-top:5px;
 padding-top:5px;
 padding-bottom:5px;
 border-width: 0px 14px;
 background-color: white;
 border-radius: 8px;
}
.searchInput {
 background: url("AlertSprite.png")  -180px -80px no-repeat;
 padding-left:20px;
 margin-top:1px;
 margin-left:-3px;
 color: #333;
 font-size: 15px;
 font-weight: 300;
 padding: 2px 0px 0px 20px;
 border:0px;
 -webkit-appearance: none;
}
.RightSearchIcon {
 background: url("AlertSprite.png")  -180px -80px no-repeat;
 width:20px;
 height:20px;
 display:inline-block;
 float:right;
 text-align:center;
}
.SavingData {
  position:absolute;
  top:200px;
  left:20%;
  right:20%;
  width:240px;
  height:160px;
  background: #347277; /* Old browsers */
  background: -moz-linear-gradient(top,  #347277 2.98%, #1bb0a2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.98%,#347277), color-stop(100%,#1bb0a2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #347277 2.98%,#1bb0a2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #347277 2.98%,#1bb0a2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #347277 2.98%,#1bb0a2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #347277 2.98%,#1bb0a2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347277', endColorstr='#1bb0a2',GradientType=0 ); /* IE6-9 */
  text-align:center;
  vertical-align:middle;
  color:white;
  -webkit-border-radius: 8px;  /* Round each corner of the created rectangle */
  border:0px !important;
  display:none;
}
.patientAction ,.goBack {
  margin-left:5px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width:35px;
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #124d77;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:normal;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
select.patientAction {
 width:65px;
}
.HeadRight {
 width:70px;
 text-align:right;
}
.HeadLeft {
 width:70px;
}
.HeadTitle {
 color:#fff;
 text-align:center;
 font-weight:bold;
}
.HeadingDiv {
  background: rgb(23,149,159); 
  background: -moz-linear-gradient(top,  rgba(23,149,159,1) 30%, rgba(1,77,81,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(23,149,159,1)), color-stop(100%,rgba(1,77,81,1)));
  background: -webkit-linear-gradient(top,  rgba(23,149,159,1) 30%,rgba(1,77,81,1) 100%);
  background: -o-linear-gradient(top,  rgba(23,149,159,1) 30%,rgba(1,77,81,1) 100%); 
  background: -ms-linear-gradient(top,  rgba(23,149,159,1) 30%,rgba(1,77,81,1) 100%); 
  background: linear-gradient(to bottom,  rgba(23,149,159,1) 30%,rgba(1,77,81,1) 100%);
}
.backPage {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:normal;
  padding:5px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
/*
  alertify-core Style Sheet  - START
*/
.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
	-webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
	position: fixed; z-index: 99999;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color:white;
	filter:alpha(opacity=0);
	opacity:0;
}
.alertify-cover-hidden {
		display: none;
}
.alertify {
	position: fixed; z-index: 99999;
	top: 100px; left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1;
}
.alertify-hidden {
		-webkit-transform: translate(0,-150px);
		   -moz-transform: translate(0,-150px);
		    -ms-transform: translate(0,-150px);
		     -o-transform: translate(0,-150px);
		        transform: translate(0,-150px);
		opacity: 0;
		display: none;
}
	/* overwrite display: none; for everything except IE6-8 */
:root *> .alertify-hidden {
		display: block;
		visibility: hidden;
}
.alertify-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
}
.alertify-logs-hidden {
	display: none;
}
.alertify-log {
		display: block;
		margin-top: 10px;
		position: relative;
		right: -300px;
		opacity: 0;
}
	.alertify-log-show {
		right: 0;
		opacity: 1;
}
	.alertify-log-hide {
		-webkit-transform: translate(300px, 0);
		   -moz-transform: translate(300px, 0);
		    -ms-transform: translate(300px, 0);
		     -o-transform: translate(300px, 0);
		        transform: translate(300px, 0);
		opacity: 0;
}
.alertify-dialog {
		padding: 25px;
}
.alertify-resetFocus {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
}
.alertify-inner {
			text-align: center;
}
.alertify-text {
			margin-bottom: 15px;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			font-size: 100%;
}
.alertify-buttons {
}
.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
				background: none;
				text-decoration: none;
				border: none;
				/* line-height and font-size for input button */
				line-height: 1.5;
				font-size: 100%;
				display: inline-block;
				cursor: pointer;
				margin-left: 5px;
}
.alertify-isHidden {
	display: none;
}
@media only screen and (max-width: 680px) {
	.alertify,
	.alertify-logs {
		width: 90%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.alertify {
		left: 5%;
		margin: 0;
	}
}
/*
  alertify-core Style Sheet  - END
*/
/*
  alertify-default Style Sheet  - START
*/
/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: Arial;
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 5px;
}
.alertify-button {
  min-width:90px;
  font-size:13px;
		border-radius: 5px;
		color: #FFF;
		font-weight: normal;
		padding: 6px 24px;
		text-decoration: none;
		text-shadow: 1px 1px 0 rgba(0,0,0,.5);
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.alertify-button:hover,
.alertify-button:focus {
  font-size:13px;
		outline: none;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.alertify-button:focus {
		box-shadow: 0 0 15px #2B72D5;
}
.alertify-button:active {
		position: relative;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.15), 0 0.5px 1px rgba(0,0,0,.05);
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
			background-color: #FE1A00;
			border: 1px solid #D83526;
}
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
			background-color: #0061a7;
			border: 1px solid #124d77;
}
.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
}
.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
}
/*
  alertify-default Style Sheet  - END
*/
