<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="kids">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language="javascript" src="../js/allweb03.js"></script>
</head>

<body onload="PageLoad(event);">
%START.OF.PAGE
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB03.01.125.0 Contact
</span>

<script name="text/javascript">
function userConfirm() {
  if(document.UpdateForm.alenrsta.checked==true) {
    if(!isWhitespace(document.UpdateForm.prvpclam.value)) {
      alert("Warning : Billing details exist");
    }
  }
    document.UpdateForm.submit();
}

function setCheckedValue() {
  if(UpdateForm.alenrsta.checked == true) {
    UpdateForm.alenrsta.value ="1" ;
  }
  else {
    UpdateForm.alenrsta.value = "0";
  }
}
</script>

<div id=PageBodySection>
<form action=allweb03.pbl method=post name=UpdateForm>
<input type=hidden name=reportno value="01">
<input type=hidden name=nextpage value="0">
<input type=hidden name=encoutky value="%ALLWEB03.01.304">
<input type=hidden name=updatety value="C">
<input type=hidden name=privbill value="%ALLWEB03.01.277">

<!--  TABLE LAYOUT IS:  | 20% | 25% | 20% | 25% |   -->
<table cellspacing=0 cellpadding=1 border=0 width=90% align=center>
<tr><td width=20%>Contact Date</td>
  <td width=15%>
  <input type=text size=11 readonly 
    value="%ALLWEB03.01.205" class=Readonly>
  </td>
  <td width=10%>Time</td>
  <td width=10%>
  <input type=text size=10 readonly 
    value="%ALLWEB03.01.206" class=Readonly>
  </td>
  <td width=10%>Entered By</td>
  <td width=25%>
  <input type=text size=20 readonly 
    value="%ALLWEB03.01.272" class=Readonly>
  </td>
</tr>
</table>

<table cellspacing=0 cellpadding=1 border=0 width=90% align=center>
<tr><td width=20%>Service Provider</td>
    <td width=25%>
    <input type=text size=30 readonly 
    value="%ALLWEB03.01.204.081" class=Readonly>
    </td>
    <td width=20%>&nbsp;</td>
    <td width=25%>&nbsp;</td>
    </tr>

<tr><td>Occasion of Service</td>
    <td>
    <input type=text size=20 readonly 
    value="%ALLWEB03.01.210.0" class=Readonly>
    </td>
    <td>Linked Visit Number</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.208" class=Readonly>
    </td></tr>

 
<tr><td>Clinic Type</td>
    <td>
    <input type = text size=20 readonly
    value="%ALLWEB03.01.203.0" class=Readonly>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
 
<tr><td>Patient Type</td>
    <td>
    <input type=text size=20  readonly
    value="%ALLWEB03.01.209.0" class=Readonly>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
 
<tr><td>%STANDARD.01.017.CL</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.276.0" class=Readonly>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>

<tr><td>Direct Units</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.211" class=Readonly>
    </td>
    <td>Indirect Units</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.213" class=Readonly>
    </td>
</tr>

<tr><td>Direct Billable Units</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.212" class=Readonly>
    </td>
    <td>Indirect Billable Units</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.214" class=Readonly>
    </td>
</tr>

<tr><td>Item Code 1</td>
    <td>
    <input type=text size=10 name=dummy readonly class=Readonly
     value="%ALLWEB03.01.278.0.01">
    <input type=text size=20 name=dummy1 readonly class=Readonly
     value="%ALLWEB03.01.278.1.01">
    </td>
    <td>Item Code 2</td>
    <td>
    <input type=text size=10 name=dummy2 readonly class=Readonly
     value="%ALLWEB03.01.278.0.02">
    <input type=text size=20 name=dummy3 readonly class=Readonly
     value="%ALLWEB03.01.278.1.02">
    </td></tr>

<tr><td>Item Code 3</td>
    <td>
    <input type=text size=10 name=dummy4 readonly class=Readonly
     value="%ALLWEB03.01.278.0.03">
    <input type=text size=20 name=dummy5 readonly class=Readonly
     value="%ALLWEB03.01.278.1.03">
    </td>
    <td>Item Code 4</td>
    <td>
    <input type=text size=10 name=dummy6 readonly class=Readonly
     value="%ALLWEB03.01.278.0.04">
    <input type=text size=20 name=dummy7 readonly class=Readonly
     value="%ALLWEB03.01.278.1.04">
    </td></tr>

<tr><td>Item Code 5</td>
    <td>
    <input type=text size=10 name=dummy8 readonly class=Readonly
     value="%ALLWEB03.01.278.0.05">
    <input type=text size=20 name=dummy9 readonly class=Readonly
     value="%ALLWEB03.01.278.1.05">
    </td>
    <td>Item Code 6</td>
    <td>
    <input type=text size=10 name=dummy10 readonly class=Readonly
     value="%ALLWEB03.01.278.0.06">
    <input type=text size=20 name=dummy11 readonly class=Readonly
     value="%ALLWEB03.01.278.1.06">
    </td></tr>

<tr><td>Private Practice Unique No.</td>
    <td>
    <input type=text size=20 name=prvpclam readonly  
    value="%ALLWEB03.01.277" class="ReadOnly ColorRed" >
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>

<tr><td>Bulk Billing Code</td>
    <td>
    <input type=text size=20 readonly
    value="%ALLWEB03.01.215.0" class=Readonly>
    </td>
    <td>Bulk Biling Claim No.</td>
    <td>
    <input type=text size=20 name=prvpclam readonly  
    value="%ALLWEB03.01.701" class="ReadOnly ColorRed" >
    </td></tr>

<tr><td>Cancel</td>
    <td>
    <input type=checkbox id=alenrsta name=alenrsta onclick="setCheckedValue();">
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>

<table align=center cellspacing=0 cellpadding=1 border=0 width=90%>
<tr><td class=DataLabel width=20%>Laser</td>
    <td class=DataField width=25%>
    <input type=checkbox name=alerc002 value="1"></td>
    <td class=DataLabel width=20%>Possum</td>
    <td class=DataField width=25%>
    <input type=checkbox name=alerc003 value="1"></td></tr>

<tr><td class=DataLabel>Child at Risk</td>
    <td class=DataField >
    <input type=checkbox name=alerc004 value="1"></td>
    <td class=DataLabel >Car After Hours</td>
    <td class=DataField>
    <input type=checkbox name=alerc005 value="1"></td></tr>

<tr><td class=DataLabel>Number of Views</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc006 title="Number of views"
     id=alerc006 min=0 onblur=checkInteger(this,this.title)
     value="%ALLWEB03.01.606"></td>

    <td class=DataLabel>Number of Transparencies</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc007
     id=alerc007 title="Number of Transparencies" min=0
    onblur=checkInteger(this,this.title)
    value="%ALLWEB03.01.607"></td></tr>

<tr><td class=DataLabel>Number of Negatives</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc008
     id=alerc008 title="Number of Negatives"
     min=0 onblur=checkInteger(this,this.title)
     value="%ALLWEB03.01.608"></td>

    <td class=DataLabel>Number of Black and White Prints</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc009
     id=alerc009 title="Number of Black and White Prints" min=0
    onblur=checkInteger(this,this.title)
    value="%ALLWEB03.01.609"></td></tr>

<tr><td class=DataLabel>Number of Colour Prints</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc010
     id=alerc010 title="Number of Colour Prints"
     min=0 onblur=checkInteger(this,this.title)
     value="%ALLWEB03.01.610"></td>

    <td class=DataLabel>Video Time</td>
    <td class=DataField>
    <input type=text size=5 maxlength=3 name=alerc011
     id=alerc011 title="Video Time" min=0
    onblur=checkInteger(this,this.title)
    value="%ALLWEB03.01.611"></td></tr>
</table>

<div id="HCPcheckbox">
<table align=center cellspacing=0 cellpadding=1 border=0 width=90%>
<tr>
  <td width=20%>Additional HCP</td>
  <td width=25%>
    <input type=checkbox id=addithcp name=addithcp value="1"
     onclick="CheckUpdHCP();"></td>
  <td width=20%>&nbsp;</td>
  <td width=25%>&nbsp;</td>
  </tr>
</table>
</div>

<div id=AdditionalHCP></div>

<table align=center cellspacing=0 cellpadding=1 border=0 width=90%>
<tr><td colspan=4 align=center>
    <input type=button class="button" value="Update" onclick="userConfirm();">
    <input type=button class="button" value="Cancel" onclick="DFrameClose();">
    </td></tr>
</table>
</form></div>

<span id="ShowAdditionalHCP" style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=90%>
<tr><td class=DataLabel width=15%>Additional HCP 1</td>
    <td><input type=text id=alenc025 name=alenc025 size=10 maxlength=10
         title="Additional HCP 1" value="%ALLWEB03.01.225.001"
         onblur="ValidateHCP(18,0,alenc025,d_alenc025);">
        <input type=text name=d_alenc025 size=20 class=Readonly readonly
         id=d_alenc025 title="Additional HCP 1" value="%ALLWEB03.01.225.081">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc025,d_alenc025,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc025,d_alenc025);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 2</td>
    <td><input type=text id=alenc026 name=alenc026 size=10 maxlength=10
         title="Additional HCP 2" value="%ALLWEB03.01.226.001"
         onblur="ValidateHCP(18,0,alenc026,d_alenc026);">
        <input type=text name=d_alenc026 size=20 class=Readonly readonly
         id=d_alenc026 title="Additional HCP 2" value="%ALLWEB03.01.226.081">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc026,d_alenc026,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc026,d_alenc026);">
    </td></tr>

<tr><td class=DataLabel width=15%>Additional HCP 3</td>
    <td><input type=text id=alenc027 name=alenc027 size=10 maxlength=10
         title="Additional HCP 3" value="%ALLWEB03.01.227.001"
         onblur="ValidateHCP(18,0,alenc027,d_alenc027);">
        <input type=text name=d_alenc027 size=20 class=Readonly readonly
         id=d_alenc027 title="Additional HCP 3" value="%ALLWEB03.01.227.081">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc027,d_alenc027,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc027,d_alenc027);">
    </td>
    <td class=DataLabel width=15%>Additional HCP 4</td>
    <td><input type=text id=alenc028 name=alenc028 size=10 maxlength=10
         title="Additional HCP 4" value="%ALLWEB03.01.228.001"
         onblur="ValidateHCP(18,0,alenc028,d_alenc028);">
        <input type=text name=d_alenc028 size=20 class=Readonly readonly
         id=d_alenc028 title="Additional HCP 4" value="%ALLWEB03.01.228.081">
        <img src=../images/SearchIcon.gif class=Icon
         onclick=HCPSearchFrame(alenc028,d_alenc028,0) >
        <img src="../images/ClearIcon.gif" class=Icon
         onclick="clrFields(alenc028,d_alenc028);">
    </td></tr>
</table>
</span>

<script type="text/javascript">
 Laser="%ALLWEB03.01.602";
 if ( Laser == "1") {
   document.UpdateForm.alerc002.checked=1;
 }
 Possum="%ALLWEB03.01.603";
 if ( Possum == "1") {
   document.UpdateForm.alerc003.checked=1;
 }
 Child="%ALLWEB03.01.604";
 if ( Child == "1") {
   document.UpdateForm.alerc004.checked=1;
 }
 Car="%ALLWEB03.01.605";
 if ( Car == "1") {
   document.UpdateForm.alerc005.checked=1;
 }
if(%ALLWEB03.01.915.12!=1){
  document.getElementById("HCPcheckbox").style.display="none";
}
 var str = alenc025.value+alenc026.value+alenc027.value+alenc028.value;
 str = str.replace(/^\s+|\s+$/g,'');

 if(str!=""){
  document.UpdateForm.addithcp.checked = true;
  CheckUpdHCP();
 }

</script>
