<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="kids">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script language="javascript" src="../js/allweb02.js"></script>
<script type="text/javascript">
function SetList() {
  p=UpdateForm
  var SetSite
  if(isWhitespace(p.alref119.value)) {
    SetSite=p.wbsesite.value;  
  } else {
    SetSite=p.alref119.value;
  }
 for (var i =0 ; i < document.UpdateForm.alref119.length; i++) {
  if (document.UpdateForm.alref119.options[i].value==SetSite.substr(0,6)) {
       document.UpdateForm.alref119.selectedIndex=i } };
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);SetList();">
<span class=DFrameTitleBar>
<img border=0 align=right src="../images/ExitIcon.gif" onclick="DFrameExit();">
 %ALLWEB02.02.125.0  Referral  </span>
<div id=PageBodySection style="overflow: auto;">
<form id=UpdateForm name=UpdateForm onsubmit='return validateMandatory(this)' 
            action="allweb02.pbl" method=post>
<input type=hidden name=reportno value="2">
<input type=hidden name=updatety value="U">
<input type=hidden id=urnumber name=urnumber value="%ALLWEB02.02.003">
<input type=hidden name=admissno value="%ALLWEB02.02.081">
<input type=hidden name=deptcode value="%ALLWEB02.02.125.1">
<input type=hidden name=redirect value="allweb02.pbl?reportno=2&template=3">
<input type=hidden id=dummy name=dummy >
<input type=hidden name=alref083 value="">
<input type=hidden name=wbsesite value="%STANDARD.01.023">

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Department Code</td>
    <td><input type=text value="%ALLWEB02.02.125.0"
          readonly class=Readonly></td>
    <td class=DataLabel>Entered by</td>
    <td><input type=text name=alref000 
         value="%ALLWEB02.02.163" readonly class=Readonly></td>
    </tr>

<tr><td class=DataLabel>Priority</td>
    <td><select class="Mandatory selectBig" name=alref027 Title="Priority"
         tabindex=1>
        <option></option>
        %ALLWEB02.02.127.2
        </select></td>
    <td class=DataLabel>Referral Date</td>
    <td><input type=text name=d_alref019 value="%ALLWEB02.02.119" 
         title="Referral Date" readonly class=Readonly size=12></td>
    </tr>

<tr><td class=DataLabel>Referral Source</td>
    <td><select Title="Referral Source" name=alref034 tabindex=2
         class="Mandatory selectBig">
         %ALLWEB02.02.134.2
        </select></td>
    <td class=DataLabel>Referred By</td>
    <td><input type=hidden id=alref022 name=alref022 
         value="%ALLWEB02.02.122.1">
        <input type=text name=n_alref022 readonly title="HCP Name"
         value="%ALLWEB02.02.122.0" id=n_alref022>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(UpdateForm.alref022,UpdateForm.n_alref022,7);">
        </td></tr>

<tr><td class=DataLabel>Responsible HCP</td>
    <td><input type=text name=alref038 size=10 maxlength=10 tabindex=3
         id=alref038 value="%ALLWEB02.02.138.1"
         onblur="ValidateHCP(18,13,alref038,n_alref038);" >
        <input type=text name=n_alref038 size=35 readonly title="HCP Name"
         id=n_alref038 value="%ALLWEB02.02.138.0" class=Readonly notab>
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(UpdateForm.alref038,UpdateForm.n_alref038,4);">
        </td>
    <td class=DataLabel>Link to Visit</td>
    <td><input type=text size=10 maxlength=8 class=DataField tabindex=16 
         Title="Link to Visit" name=alref005 value="%ALLWEB02.02.105"
          id=alref005 onblur="justifyRight(this);
                ValidateVisit(UpdateForm.alref005,UpdateForm.urnumber,dummy);">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="VisitSearchFrame(UpdateForm.urnumber,UpdateForm.alref005);" >
    </td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td><select title="%STANDARD.01.017.CL" name=alref035 tabindex=4
         class="Mandatory SelectBig">
        <option></option>
         %ALLWEB02.02.135.2
        </select></td>
    <td class=DataLabel>Outcome</td>
    <td><select title="Outcome" name=alref052
         class="SelectBig" tabindex=17>
        <option></option>
         %ALLWEB02.02.140.13.2
        </select></td>
       </tr>

<tr><td class=DataLabel>Reason for Referral</td>
   <td><select class="Mandatory selectBig" name=alref028 tabindex=4
        Title="Reason for Referral" maxlength=45>
       <option></option>
        %ALLWEB02.02.128.2
       </select></td>
    <td class=DataLabel>&nbsp;</td>
    <td>&nbsp;</td>
       </tr>

<tr><td class=DataLabel>Diagnosis 1</td>
    <td><select name=alref031 class=selectBig maxlength=45 tabindex=5
         title="Diagnosis 1">
        <option></option>
         %ALLWEB02.02.131.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Diagnosis 2</td>
    <td><select name=alref032 class=selectBig maxlength=45 tabindex=6
         title="Diagnosis 2">
        <option></option>
         %ALLWEB02.02.132.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Diagnosis 3</td>
    <td><select name=alref033 class=selectBig maxlength=45 tabindex=7
         title="Diagnosis 1">
        <option></option>
         %ALLWEB02.02.133.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Clinic Type</td>
    <td><select name=alref106 class=selectBig maxlength=45 tabindex=8>
        <option></option>
         %ALLWEB02.02.167.2
       </select></td>
       </tr>

<tr><td class=DataLabel>Bulk Billed</td>
      <td><input type=checkbox name=alref036 title="Bulk Billed" tabindex=9
      value=1>
      </td></tr>

<tr><td class=DataLabel>Status</td>
   <td><input type=text value="%ALLWEB02.02.103" notab
          readonly class=Readonly></td></tr>
</table>

<div id=InsertActive style="display:none;">
<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td class=DataLabel width=15%>Activate Referral</td>
      <td><input type=checkbox name=activref tabindex=10 
       title="Activate Referral" value="1">
      </td></tr>
</table>
</div>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>

<tr><td class=DataLabel width=15%>Comments 1</td>
    <td><input type=text size=65 maxlength=62 name=alref088 tabindex=11 
         value="%ALLWEB02.02.149">
    </td></tr>

<tr><td class=DataLabel width=15%>Comments 2</td>
    <td><input type=text size=65 maxlength=60 name=alref089 tabindex=12
         value="%ALLWEB02.02.150">
    </td></tr>

<tr><td class=DataLabel>Nature of Abuse</td>
    <td><select title="Nature of Abuse" name=alref053
         class="SelectBig" tabindex=20>
        <option></option>
         %ALLWEB02.02.140.14.2
        </select></td>
    <td class=DataLabel>Place of Abuse</td>
    <td><select title="Place of Abuse" name=alref054
         class="SelectBig" tabindex=33>
        <option></option>
         %ALLWEB02.02.140.15.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Relationship</td>
    <td><select title="Relationship" name=alref055
         class="SelectBig" tabindex=21>
        <option></option>
         %ALLWEB02.02.140.16.2
        </select></td>
    <td class=DataLabel>Offender Sex</td>
    <td><select title="Offender Sex" name=alref056
         class="SelectBig" tabindex=34>
        <option></option>
         %ALLWEB02.02.140.17.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Referred to P/Services</td>
    <td><input type=checkbox name=alref080 value="1"
         title="Referrred to P/Services" tabindex=22>
        </td>
    <td class=DataLabel>Known by P/Services</td>
    <td><input type=checkbox name=alref081 value="1"
         title="Known by P/Services" tabindex=35>
        </td>
        </tr>

<tr><td class=DataLabel>Provider of Examination</td>
    <td><input type=text name=alref084 size=10 maxlength=10 tabindex=23
         id=alref084 value="%ALLWEB02.02.145.1"
         onblur="ValidateHCP(18,13,alref084,n_alref084);">
        <input type=text name=n_alref084 size=38 readonly title="HCP Name"
         id=n_alref084 class=Readonly value="%ALLWEB02.02.145.0">
        <img src="../images/SearchIcon.gif" class=Icon
         onclick="HCPSearchFrame(UpdateForm.alref084,UpdateForm.n_alref084,4);">
        </td>
    <td class=DataLabel>Referred to Police</td>
    <td><input type=checkbox name=alref082 value="1"
         title="Referrred to Police" tabindex=36>
        </td>
        </tr>

<tr><td class=DataLabel>Requested Examination Date</td>
    <td class=DataLabel>
    <input type=text name=alref090 title="Requested Examination Date"
     class='PastDate' Size=9 onblur="checkDate(this,'Date')"  tabindex=24
     id=alref090 value="%ALLWEB02.02.151">
    <img src=../images/DateLookup.gif class=Icon date=date1
     align=absmiddle onclick="DateLookupFrame(alref090);">
    Time
    <input type=text size=8 title="Time" name=alref091 tabindex=25
     value="%ALLWEB02.02.152" id=alref091>
    <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(alref090,alref091);">
    <img src="../images/TimeLookup.gif" class=Icon time=time1
      onclick="TimeLookupFrame(alref091);">
    </td>
    <td class=DataLabel>Type of Examination</td>
    <td><select title="Type of Examination" name=alref057
         class="SelectBig" tabindex=37 id=alref057>
        <option></option>
         %ALLWEB02.02.140.18.2
        </select></td>
     </tr>

<tr><td class=DataLabel>Examination Commenced Date</td>
    <td class=DataLabel>
    <input type=text name=alref092 title="Examination Commenced Date"
     class='PastDate' Size=9 onblur="checkDate(this,'Date')" tabindex=26
     id=alref092 value="%ALLWEB02.02.153">
    <img src=../images/DateLookup.gif class=Icon date=date1
     align=absmiddle onclick="DateLookupFrame(alref092);">
    Time
    <input type=text size=8 title="Time" name=alref093 tabindex=27
     value="%ALLWEB02.02.154" id=alref093>
    <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(alref092,alref093);">
    <img src="../images/TimeLookup.gif" class=Icon time=time1
      onclick="TimeLookupFrame(alref093);">
    </td>
    <td class=DataLabel>Examination Concluded</td>
    <td class=DataField>
    <input type=text name=alref094 title="Examination Concluded" tabindex=38
     id=alref094 class='PastDate' Size=9 onblur="checkDate(this,'Date')"
     value="%ALLWEB02.02.155">
    <img src=../images/DateLookup.gif class=Icon date=date1
     align=absmiddle onclick="DateLookupFrame(alref094);">
    <img src="../images/DateTimeStamp.gif" class=Icon
      onclick="SetCurrentDateTime(alref094,null);">
    </td>
    </tr>

<tr><td class=DataLabel>Outcome of Examination</td>
    <td><select title="Outcome of Examination" name=alref058
         class="SelectBig" tabindex=28 >
        <option></option>
         %ALLWEB02.02.140.19.2
        </select></td>
    <td class=DataLabel>Urgency of Examination</td>
    <td><input type=text size=1 maxsize=1 name=alref098
         title="Urgency of Examination" min=1 maxlength=1 
         onblur=checkInteger(this,this.title) value="%ALLWEB02.02.159"
         tabindex=39></td>
        </tr>

<tr><td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref059
         class="SelectBig" tabindex=29>
        <option></option>
         %ALLWEB02.02.140.20.2
        </select></td>
    <td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref060
         class="SelectBig" tabindex=40>
        <option></option>
         %ALLWEB02.02.140.21.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref061
         class="SelectBig" tabindex=30>
        <option></option>
         %ALLWEB02.02.140.22.2
        </select></td>
    <td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref062
         class="SelectBig" tabindex=41>
        <option></option>
         %ALLWEB02.02.140.23.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref063
         class="SelectBig" tabindex=31>
        <option></option>
         %ALLWEB02.02.140.24.2
        </select></td>
    <td class=DataLabel>Interventions</td>
    <td><select title="Interventions" name=alref064
         class="SelectBig" tabindex=42>
        <option></option>
         %ALLWEB02.02.140.25.2
        </select></td>
        </tr>

<tr><td class=DataLabel>Preferred Site</td>
    <td class=DataField><select name=alref119 title="Preferred Site"
      tabindex=31>
      <option></option>
      %ALLWEB02.02.182.2
    </select>
    </td></tr>
</table>

<table align=center cellspacing=0 cellpadding=1 border=0 width=95%>
<tr><td colspan=4 align=center><br>
    <input type=submit name=formactn value="OK" class="button" tabindex=50>
    <input type=button Value="Close" class="button" tabindex=51 
     onclick="DFrameClose();">
    </td></tr>
</table>
</form>
</div>

<script type="text/javascript">
//
  if ("%ALLWEB02.02.103" == "Waiting   ") {
  InsertActive.style.display='';
}
  else {
  InsertActive.style.display='none'; }
//
  if ("%ALLWEB02.02.141" == "Yes") {
  document.UpdateForm.alref080.checked=1;;
  }
//
  if ("%ALLWEB02.02.142" == "Yes") {
  document.UpdateForm.alref081.checked=1;;
  }
//
  if ("%ALLWEB02.02.143" == "Yes") {
  document.UpdateForm.alref082.checked=1;;
  }
//
 BulkBill="%ALLWEB02.02.136";
 if ( BulkBill == "Yes") {
   document.UpdateForm.alref036.checked=1;
 }
//
 SACSRef="%ALLWEB02.02.144";
 if ( SACSRef == "Yes") {
   document.UpdateForm.alref083.value=1;
 }
</script>
