<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="kids">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/outweb05.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=LinkForm method=get action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="001">
<input type=hidden name=otcli001 value="%OUTWEB05.03.001">
<input type=hidden name=otcli006 value="%OUTWEB05.03.012.1">
</form> 
<form name=SelectCode method=post action=outweb05.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="001">
<input type=hidden name=otcli001 value="%OUTWEB05.03.001">
<input type=hidden name=otcli006 value="%OUTWEB05.03.012.1">
</form> 

<table border=1 width=100% cellspacing=0 cellpadding=0>
<tr><td>
<table width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor=#CCCCCC>
<tr><td align=center class=HeadingCell>
          Leave Dates for %OUTWEB05.03.107 for %OUTWEB05.03.013</td> 
    </tr>
</table>

<table cellspacing=0 border=1 width=100%>
    %OUTWEB05.03.104.outweb05.03.003
</table>

<table width=100% bgcolor=#CCCCCC><tr>
  <td align=center>
  <input type=button value="<< Previous Year" class="BigButton"
   onclick='location.href="%OUTWEB05.03.106.001"'>

  <input type=button value="Clinic List" class="button"
         onclick='location.href="outweb05.pbl?reportno=02&template=001"'>

  <input type=button value=Clinic class="button"
         onclick='ViewClinic03()'>

  <input type=button value=Add class="button"
         onclick='AddLeave031()'>

  <input type=button value="Next Year >>" class="BigButton"
   onclick='location.href="%OUTWEB05.03.105.001"'>
</td></tr>
</table>
</td></tr>
</table>
