<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="kids">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/outweb01.js"></script>
<script type="text/javascript" src="../js/OutpatientSelect.js"></script>
<script type="text/javascript">
//------------------------------------------------------------
// Function : Clinic Search 
//------------------------------------------------------------
function ClinicSearch(ReturnCode,ReturnName) {
  window.ReturnCode=ReturnCode ;
  window.ReturnName=ReturnName ;
  parent.SearchResults.location.href="../cgi-bin/outweb05.pbl?reportno=2&template=4"
}
//
function ClearSearchFrom() {
  if(!isWhitespace(document.SelectPeriod.srchdate.value)){
    document.SelectPeriod.srchperd.selectedIndex=0;
  }
}
function ClearSearchDate() {
  if(document.SelectPeriod.srchperd.selectedIndex !=0) {
    document.SelectPeriod.srchdate.value="";
  }
}
function SetLists() {
 SetClinicType(SelectPeriod.clinicty,SelectPeriod.defctype.value,SelectPeriod.usersite.value);

}
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);setTimeout('SetLists()',100);">
<span class=DFrameTitleBar>
<img border=0 align=right src=../images/ExitIcon.gif 
 onclick="SearchFrameExit()">
Appointment Search
</span>
<div id=PageBodySection style="background-color:#cccccc;height:100%;">
<form name=SelectPeriod action=outweb01.pbl method=get target=SearchResults
 style="margin:0">
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=3>
<input type=hidden name=srchflag value=1>
<input type=hidden name=defctype value="%OUTWEB01.02.012">
<input type=hidden name=usersite value="%STANDARD.01.023">
<input type=hidden name=srchrefn value="%OUTWEB01.02.014">

<table width="90%" align=center cellpadding=0 cellspacing=0 border=0>
<tr><td class=DataLabel>Clinic Type</td>
    <td><select name=clinicty >
        <option></option>
        </select></td>
    <td class=DataLabel>Search from</td>
    <td><select name=srchperd onblur="ClearSearchDate();">
        <option value="   "></option>
        <option value="   " selected>Today</option>
        <option value="01D">Tomorrow</option>
        <option value="02D">2 days</option>
        <option value="03D">3 days</option>
        <option value="04D">4 days</option>
        <option value="05D">5 days</option>
        <option value="06D">6 days</option>
        <option value="01W">1 week</option>
        <option value="02W">2 weeks</option>
        <option value="03W">3 weeks</option>
        <option value="04W">4 weeks</option>
        <option value="05W">5 weeks</option>
        <option value="06W">6 weeks</option>
        <option value="07W">7 weeks</option>
        <option value="08W">8 weeks</option>
        <option value="01M">1 month</option>
        <option value="02M">2 months</option>
        <option value="03M">3 months</option>
        <option value="04M">4 months</option>
        <option value="05M">5 months</option>
        <option value="06M">6 months</option>
        <option value="07M">7 months</option>
        <option value="08M">8 months</option>
        <option value="09M">9 months</option>
        <option value="10M">10 months</option>
        <option value="11M">11 months</option>
        <option value="12M">12 months</option>
        </select>
        </td></tr>

<tr><td class=DataLabel>Clinic ID</td>
    <td><input type=text maxlength=6 name=clinicid size=6 title="Clinic ID"
         value="%OUTWEB01.02.009.1"
         onblur="UpCase(this);validateCode(25,SelectPeriod.clinicid,
                SelectPeriod.clindesc);">
        <input type=text maxlength=25 name=clindesc size=25 
         value="%OUTWEB01.02.009.0"
         class=Readonly readonly>
    <img src="../images/SearchIcon.gif" class=Icon
    onClick="ClinicSearch(SelectPeriod.clinicid,SelectPeriod.clindesc);">
    <img src="../images/erase.gif" class=Icon
    onClick="clrFields(SelectPeriod.clinicid,SelectPeriod.clindesc);"></td>

    <td class=DataLabel>Search Date</td>
    <td><input type=text name=srchdate size=12 title="Search Date"
     onblur="checkDate(this,'Date');ClearSearchFrom();">
    <img src=../images/DateTimeStamp.gif class=Icon 
     date=SelectPeriod.srchdate alt="CurrentDate">
    </td></tr>

<tr><td class=DataLabel>Visit Type</td>
    <td><select name=visittyp>
        <option></option>
        %STANDARD.01.007.CV
        </select></td>
    <td></td>
    <td>
    <script type="text/javascript">
      if(%STANDARD.01.044.032.144.001){
         document.write("&nbsp;");
      }
      else{
         document.write("<input type=submit class='button' value='Search'>");
      }
    </script>
    </td></tr>
    <script type="text/javascript">
      if(%STANDARD.01.044.032.144.001){
         document.write("<tr style='visiiblity:visible'>");
      }
      else{
         document.write("<tr style='visibility:hidden'>");
      }
    </script>
    <td class=DataLabel>Location</td>
    <td>
      <select name=srchltyp onchange="SelectPeriod.submit();">
        <option value=""></option>
        %STANDARD.01.007.CT
      </select>
    </td>
    <td><input type=submit class="button" value="Search"></td>
  </tr>
</table>
</form>
</div>

<script type="text/javascript">
  if(%STANDARD.01.044.032.144.001){
     locationCode = "%OUTWEB02.01.026";
     ds = document.SelectPeriod;

     for(i=0; i<ds.srchltyp.length; i++) {
         if(ds.srchltyp.options[i].value.substr(0,3)==locationCode){
            ds.srchltyp.selectedIndex = i;
         }
     }
  }
</script>
