/*-----------------------------------------------------------
 cssVersion : V10.06.00

 V10.03.00  04/09/2012 Ebon Clements      CAR 270231
            Changed PatientStyle height to be 100px
-----------------------------------------------------------*/
.Triage0 { background-color: #FF66FF; }
.Triage1 { background-color: #FF3366; }
.Triage2 { background-color: #FFCC66; }
.Triage3 { background-color: #99CC99; }
.Triage4 { background-color: #99CCFF; }
.Triage5 { background-color: #FFFFFF; }
.Triage6 { background-color: #000000; color: white;}
.Triage9 { background-color: #FFFF00; }
.emviwaitInd0 { text-align:right;}
.emviwaitInd1 { text-align:right;}
.emviwaitInd2 { text-align:right;}
.emviwaitInd3 { text-align:right;background-color:green;color:white; }
.emviwaitInd4 { text-align:right;background-color:yellow; }
.emviwaitInd5 { text-align:right;background-color:orange; }
.emviwaitInd6 { text-align:right;background-color:red;color:white; }
.emviwaitInd7 { text-align:right;background-color:red;color:white; }
.emviwaitInd8 { text-align:right;background-color:red;color:white; }
.emviwaitInd9 { text-align:right;background-color:red;color:white; }
.emviclasInd0 { color:green;}
.emviclasInd1 { color:blue;}
.emviclasInd2 { color:red; }
.emviclasInd3 { color:white; }
.emviclasInd4 { color:yellow; }
.emviclasInd5 { color:orange; }
.emvisrce     { text-align:center;font-weight:bold; }
.OutOfDept    { background-color:#FAFAD2}
.expectedLocation { background-color:#eeeeee;color:red;}
.LocationStyle {
  font-size: 9pt;
  border:1px solid silver;
  background-color: transparent;
  position: absolute;
}
.OtherLocationStyle {
  font-size: 9pt;
  border:1px solid silver;
  background-color:black;
  position: absolute;
}
.PatientStyle {
  cursor: move;
  font-size: 9pt;
  clip: rect(0px 200px 100px 0px);
  position: absolute;
  padding-left:1px;padding-top:1px;
  height:100px;
  width:200px;
}
.PatientStyle td {
 border-bottom: 1px solid grey;
 border-left: 1px solid grey;
}
.cellPatientName {
 margin:0px;
 padding:0px;
 border:0px;
 width:73px;
 font-weight:bold;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
.cellPatientNameTr1 {
 margin:0px;
 padding:0px;
 border:0px;
 width:73px;
 font-weight:bold;
 background-color:white;
 color:red;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
}
#NextEmergency {
  position: absolute;
  top: 35px;left:1010px;width:265px;height:88px;
  background-color:#ffffff;
  overflow-x:hidden;
  text-overflow:ellipsis;
  border:1px solid silver;
}
#EmergencyCount {
  border:1px solid silver; 
  position: absolute;
  padding-top: 8px;
  top: 130px;left:1010px;width:265px;height:230px;
  background-color:transparent;
}
#BlackHole {
  position: absolute;
  top:80px;left:1007px;width:200px;height:45px;
  background-color:#000000;
  position: absolute;
}
#EMUCount {
  position: absolute;
  top:125px;left:1007px;width:200px;height:45px;
  background-color:#000000;
  position: absolute;
}
#EmergencyMenu {
  position:absolute;
  height:25px;
  background-color:#cccccc;
  top:0px;
  left:0px;
}
#OtherLocation {
  position: absolute;
  border-style: outset;
  background-color: #cccccc;
  top: 150px;
  left: 300px;
  width: 200px;
  height: 80px;
}
#ImageLocation {
  background-color: #ffffff;
  background-repeat: no-repeat;
}
#SystemComments {
    position: absolute;
    overflow: auto;
    top: 602;left:204;width:599;height:199;
    background-color:#cccccc;
}

.EMAlert {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -20px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert4 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -60px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert5 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -80px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert6 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -100px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert7 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert8 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlert9 {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertBlack {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -40px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertDelete {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -120px -20px no-repeat;
  width:20px;
  height:20px;
}
.EMAlertResult {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -180px no-repeat;
  width:20px;
  height:20px;
}
.EMSadFace {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -160px -40px no-repeat;
  width:20px;
  height:20px;
}
.EMSadFaceLos {
  display:inline-block;
  vertical-align:middle;
  margin-bottom:2px;
  background: url("../images/AlertSprite.png")  -140px -40px no-repeat;
  width:20px;
  height:20px;
}

