<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome"    content="bhs">
<meta name="CrossBrowser"    content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/emrweb0201101.js"></script>
<script type="text/javascript" src="../js/EmergencyPrimaryDiagSearch.js"></script>
<script type="text/javascript">
function PostDischargeBHS() {
  var diagCookieName = "diagnosisCookie-" + trim(UpdateForm.admissno.value);

  if(!isWhitespace(HiddenFields.HospitalAdmission.value)) {
    if(document.UpdateForm.emvis026.value.substr(4,1)!="2") {
      if(!confirm("Patient has a linked Pre-Admission/Admission." +
                  "Do you want to continue.\n" +
                  "Press Ok to continue, Cancel to Abort.")){
        return;
      }
    }
  }
  if(!validateVEMD_BHS()) { return; }

  validateEMRDiagnosis(validateEMRDiagnosisRetFuncTrue);
}
function validateEMRDiagnosisRetFuncTrue() {
  ExpireCookiePath("diagnosisCookie-" + trim(UpdateForm.admissno.value)); 
  IBA.HEA.Knox.dischargeMandatoryFields(false,'emvis051');
}
function validateEMRDiagnosis(RetFuncTrue) {
  var serverURL="../cgi-bin/emrweb08.pbl?reportno=23" +
                "&emvcd001="+UpdateForm.emvcd001.value.replace(/ /g,"+") +
                "&emvcd002="+UpdateForm.emvcd002.value.replace(/ /g,"+") +
                "&emvcd003="+UpdateForm.emvcd003.value.replace(/ /g,"+") +
       "&emvcd005="+UpdateForm.emvcd005.value.substring(0,10).replace(/ /g,"+");

  if (IEBrowser) {
    var returnValue = RSExecute(serverURL);

    if (returnValue.status==0) {
      if (returnValue.return_value==1) {
        alert("Error: Diagnosis Record already exists.");
        return false;
      }
    }

    if (typeof(RetFuncTrue) == 'function') { RetFuncTrue() }
  }
  else {
    var returnValue = RSExecuteFetch(serverURL);

    returnValue.then(
      function (returnValue) {
        returnValue = ParseFetchData(returnValue);  // parse fetch() result

        if (returnValue.status==0) {
          if (returnValue.return_value==1) {
            alert("Error: Diagnosis Record already exists.");
            return false;
          }
        }

        if (typeof(RetFuncTrue) == 'function') { RetFuncTrue() }
      }
    );
  }
}
function init()
{
  if (document.HiddenFields.DischargeComplete.value != 1) 
  {
    PageLocation="?reportno=1&template=109" +
                 "&urnumber=" + PatientURN.replace(/ /g,"+") +
                 "&admissno=" + PatientVIS.replace(/ /g,"+");

    location.href="emrweb02.pbl" + PageLocation;
    return;
  }

  // set presenting complaint comments
  var strg1 = trim(document.HiddenFields.Pres01.value);
  var strg2 = trim(document.HiddenFields.Pres02.value);
  var strg3 = trim(document.HiddenFields.Pres03.value);
  var strg4 = trim(document.HiddenFields.Pres04.value);
  var strg5 = trim(document.HiddenFields.Pres05.value);
  var strg6 = trim(document.HiddenFields.Pres06.value);
  document.UpdateForm.prcom001.value = strg1 + '\n' +
                          strg2 + '\n' +
                          strg3 + '\n' +
                          strg4 + '\n' +
                          strg5 + '\n' +
                          strg6;
  
  PageLocation="?reportno=1&template=4" +
               "&urnumber=" + PatientURN.replace(/ /g,"+") +
               "&admissno=" + PatientVIS.replace(/ /g,"+");

  if (top.content.location.href != this.location.href) {
    top.content.location.href="emrweb02.pbl" + PageLocation;
  }

  if (trim(UpdateForm.waittime.value) <= 240) {
    document.UpdateForm.emvis147.selectedIndex = 1;
  }
  else {
    document.UpdateForm.emvis147.selectedIndex=0 
  }

  document.getElementById("Diagnosis").style.display="";
  document.getElementById("Diagnosis").innerHTML=
  document.getElementById("DiagnosisSearch").innerHTML;

  if (!isWhitespace(document.HiddenFields.PrimaryDiagnosis.value)) {
    document.UpdateForm.diagnosisSearch.value =
      document.HiddenFields.PrimaryDiagnCode.value.substring(0,2);

    var diagCookieName = "diagnosisCookie-" + trim(UpdateForm.admissno.value);
    var diagCookieVal = GetCookieData(diagCookieName);

    getDiagnosis(UpdateForm.diagnosisSearch,
                 UpdateForm.emvcd005,
                 UpdateForm.emvcd033,
                 SelectDiagList);
  }

  if (trim(document.UpdateForm.attdtype.value.substr(14,4))=='10')
  { 
    for (var i=0; i<document.UpdateForm.emvis051.length; i++) 
    {
      ind=trim(document.UpdateForm.emvis051.options[i].value.substr(14,4));

      if (ind=='19') {
        document.UpdateForm.emvis051.selectedIndex=i; 
      }
    }
  }
  else 
  {
    if (isWhitespace(document.UpdateForm.chkdot.value)) {
      alert("WARNING : Attending Doctor Not Entered");
    }
  }

  if (document.HiddenFields.ShowOutstanding.value=="1") {
    var linkurl = "../cgi-bin/emrweb02.pbl?reportno=1&template=051" +
                  "&admissno=" + UpdateForm.admissno.value.replace(/ /g,"+")+
                  "&urnumber=" + UpdateForm.urnumber.value.replace(/ /g,"+")
    Left=(document.body.clientWidth-600)/2
    DFrameLink(linkurl,0,Left,600,300);
  }
  
  // this checks to see if it is being used outside the MAPVIEW
  if (top.location.pathname.match(/EmergencyMap/g)) {
    document.UpdateForm.mapvflag.value=1
  }

  IBA.HEA.Knox.checkTransferToSource();
  if (document.HiddenFields.HospitalAdmStatus.value=="2" ||
      document.HiddenFields.HospitalAdmStatus.value=="3") {
    UpdateForm.emvis024.value=HiddenFields.HospitalAdmDate.value;
    UpdateForm.emvis025.value=HiddenFields.HospitalAdmTime.value;
  }

  if (!isWhitespace(document.UpdateForm.diagnosisSearch.value)) {
    diagCookieName = "diagnosisCookie-" + trim(UpdateForm.admissno.value);
    SetCookie(diagCookieName,document.UpdateForm.diagnosisSearch.value);
  }
}
function SelectDiagList() {
  for (var i=0; i < document.UpdateForm.emvcd005.length; i++) {
    if (document.UpdateForm.emvcd005.options[i].value.substring(0,10)==
        document.HiddenFields.PrimaryDiagnCode.value) {
      document.UpdateForm.emvcd005.selectedIndex=i;
    }
  }

  document.UpdateForm.emvcd033.value =
    document.HiddenFields.PrimaryDiagnFtxt.value;
}
function checkTrans()
{
 IBA.HEA.Knox.checkTransferToSource();
 deceasedIndicator = document.UpdateForm.emvis026.value.substr(3,1);
 ValDeceasedEMR(deceasedIndicator);
}
function displayReferralFields() {
  if (document.UpdateForm.stfrefin.value != "1") {
    emvis174TitleDIV.innerHTML = "";
    emvis175TitleDIV.innerHTML = "";
    emvis176TitleDIV.innerHTML = "";
    emvis174FieldDIV.innerHTML = "";
    emvis175FieldDIV.innerHTML = "";
    emvis176FieldDIV.innerHTML = "";
    return;
  }
  displaycatRF();
}
function displaycatRF() {
    if (document.UpdateForm.emvis174.value.substr(3,1) == "N") {
      emvis175TitleDIV.innerHTML = emvis175TitleSPAN.innerHTML;
      emvis175FieldDIV.innerHTML = emvis175FieldSPAN.innerHTML;
    } else {
      emvis175TitleDIV.innerHTML = "";
      emvis175FieldDIV.innerHTML = "";
    }
}
</script>
<style type="text/css" >
input.checkbox{margin-left:-4px;}
</style>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);IBA.HEA.Knox.validateCheckBoxes();
              IBA.HEA.Knox.checkLMOName();displayReferralFields();
              displayReferralFields();VEMDDepartureStatus();
              VEMDHideForVirtCare();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB02.01.003";
PatientVIS="%EMRWEB02.01.081";
PatientNAM="%EMRWEB02.01.002";
PatientSTA="%EMRWEB02.01.086.078";
PatientALT="%EMRWEB02.01.084";
PatientSEX="%EMRWEB02.01.019";
PatientDOB="%EMRWEB02.01.020";
PatientAGE="%EMRWEB02.01.021";
PatientLOC="%EMRWEB02.01.083";
PatientPRI="%EMRWEB02.01.086.066.1";
PatientUNT="%EMRWEB02.01.066.0";
PatientIND="%EMRWEB02.01.086.091";
GpCOD="%EMRWEB02.01.086.084.001";
GpNAM="%EMRWEB02.01.086.084.081";
GpPRAC="%EMRWEB02.01.086.085.001";
GpPRACCNT="%EMRWEB02.01.086.085.002";
GpPRACNAM="%EMRWEB02.01.086.085.005";
PatientARR="%EMRWEB02.01.101.0 %EMRWEB02.01.102";
PatientSEE="%EMRWEB02.01.130.0 %EMRWEB02.01.131";
PatientTRI="%EMRWEB02.01.103.3";
PatientECLC="%EMRWEB02.01.484.1";
PatientCLH="%STANDARD.01.017.CL";
PatientEHFT="%EMRWEB02.01.485";
LMO_code="%EMRWEB02.01.659";
LMO_desc="%EMRWEB02.01.684.081";
InsertEmergencyHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<table width=100% border=0 cellspacing=0 cellpadding=1>
<tr><td class=HeadingCell align=center>
    Emergency Patient Discharge </td></tr>
</table>
<form name=UpdateForm action=emrweb02.pbl method=post style="margin:0">
 <input type=hidden name=reportno value="01">
 <input type=hidden name=template value="101">
 <input type=hidden name=formactn>
 <input type=hidden name=updttype>
 <input type=hidden name=emvis133>
 <input type=hidden name=admissno value="%EMRWEB02.01.081">
 <input type=hidden name=updateky value="%EMRWEB02.01.404">
 <input type=hidden name=urnumber value="%EMRWEB02.01.003">
 <input type=hidden name=emvis118 value="%EMRWEB02.01.003">
 <input type=hidden name=nextpage value="1">
 <input type=hidden name=redirect value="%EMRWEB02.01.001.emrweb01.01.001">
 <input type=hidden name=chkdot value="%EMRWEB02.01.107.001">
 <input type=hidden name=chknur value="%EMRWEB02.01.164.1">
 <input type=hidden name=dummy1
  value="%EMRWEB02.01.104%EMRWEB02.01.105%EMRWEB02.01.174">
 <input type=hidden name=dummy2
  value="%EMRWEB02.01.175%EMRWEB02.01.176%EMRWEB02.01.177">
 <input type="hidden" name=waittime value="%EMRWEB02.01.701">
 <input type="hidden" name=loadflag >
 <input type="hidden" name=reloadfg value="%EMRWEB02.01.446">
 <input type="hidden" name=efrbedty value="%EMRWEB02.01.506">
 <input type="hidden" name=efrdisch value="%EMRWEB02.01.509">
 <input type="hidden" name=efradmis value="%EMRWEB02.01.508">
 <input type="hidden" name=attdtype value="%EMRWEB02.01.213.3">
 <input type="hidden" name=depttime value="%EMRWEB02.01.125">
 <input type="hidden" name=deptdate value="%EMRWEB02.01.124.0">
 <input type="hidden" name=ptdocsee value="%EMRWEB02.01.130.0 %EMRWEB02.01.131">
 <input type="hidden" name=ptnursee value="%EMRWEB02.01.128.0 %EMRWEB02.01.129">
 <input type="hidden" name=pmpxi067 value="%EMRWEB02.01.667.0">
 <input type="hidden" name=webuseid value="%STANDARD.01.008">
 <input type="hidden" name=mapvflag value="0">
 <input type="hidden" name="ptcnhdps" id="ptcnhdps"
  value="%STANDARD.01.025.080.250.1.1">
 <input type="hidden" name="emvis116" value="">
 <input type="hidden" name="emvis134" value="%EMRWEB02.01.173.1">
 <input type="hidden" name="emvis147" value="">
 <input type="hidden" id="nolabelf" name="nolabelf" value=" ">
 <input type="hidden" id="emrcl006" name="emrcl006" value="%EMRWEB02.01.806" />
 <input type="hidden" id="emrcl008" name="emrcl008" value="%EMRWEB02.01.808" />
 <input type="hidden" id="emrcl007" name="emrcl007" value="%EMRWEB02.01.807" />
 <input type="hidden" id="d_emrcl033" name="d_emrcl033" value="%EMRWEB02.01.833" />
 <input type="hidden" id="d_emrcl053" name="d_emrcl053" value="%EMRWEB02.01.853" />
 <input type="hidden" name="discstat" value="%EMRWEB02.01.147" />
 <input type=hidden name=emcnrinv value="%STANDARD.01.025.089.223.0.1">
 <input type=hidden name=emvis091>
 <input type=hidden name=currtime value="">
 <input type=hidden name=currTime value="">
 <input type=hidden name=genericu value="%EMRWEB02.01.563">
 <input type=hidden name=pdexists value="%EMRWEB02.01.196">
 <input type=hidden name=bhsdisin id=bhsdisin>
<input type="hidden" name="stfrefin" id="stfrefin"
 value="%EMRWEB02.01.919">

<table width=95% align=center border=0 cellspacing=0 cellpadding=1>
<tr valign=top><td>

<table width=100% border=0 cellspacing=0 cellpadding=2>
<tr valign=top>
  <td class=DataLabel width="160">Presenting Complaint </td>
  <td width=350>
    <input type=text name=emvis060 max=3 size=3 value="%EMRWEB02.01.220.1"
     readonly class="Readonly">
    <input type=text name=v060name value="%EMRWEB02.01.220.0" readonly class="Readonly">
  </td>
  <td colspan=2><textarea name=prcom001 readonly cols=40 rows=3 class="Readonly"></textarea></td>
</tr>

<tr><td class=DataLabel>Departure Date </td>
    <td><input type=text size=12 name="emvis024" id="emvis024"
         class="PastDate"  title="Departure Date" 
         value="%STANDARD.01.015">
         <img notab src=../images/DateLookup.gif class="Icon"
          onclick="DateLookupFrame(UpdateForm.emvis024);">
        <input type=text name="emvis025" id="emvis025"
         size=6 value="%STANDARD.01.016" title="Time">
        <img notab src=../images/DateTimeStamp.gif class=Icon
         onclick="SetCurrentDateTime(UpdateForm.emvis024,UpdateForm.emvis025);">
        <img notab src=../images/TimeLookup.gif class=Icon
         onclick="TimeLookupFrame(UpdateForm.emvis025);">
    </td>
    <td class=DataLabel width="160">ED Ready to Discharge</td>
    <td>
      <input type="text"  title="ED Ready to Discharge Date" 
       size="12" id="emvis071" name="emvis071" value="%EMRWEB02.01.231.0"/>
      <img notab src=../images/DateLookup.gif class="Icon"
       onclick="DateLookupFrame(UpdateForm.emvis071);">
      <input type="text" title="ED Ready to Discharge Time"
       size="6" id="emvis081" name="emvis081" value="%EMRWEB02.01.241"/>
      <img notab src=../images/DateTimeStamp.gif class=Icon
       onclick="SetCurrentDateTime(UpdateForm.emvis071,UpdateForm.emvis081);">
      <img notab src=../images/TimeLookup.gif class=Icon
       onclick="TimeLookupFrame(UpdateForm.emvis081);">
    </td>
</tr>

<tr>
  <td class=DataLabel>Departure Status</td>
  <td>
    <select name="emvis026" id="emvis026" class="Mandatory" title="Departure Status" 
     onchange="checkTrans();">
      <option></option>
      %EMRWEB02.01.126.2
    </select>
  </td>
  <td class=DataLabel width="160">Referred to on Departure</td>
  <td>
    <select name="emvis051" id="emvis051" title="Referred to on Departure"
     class="Mandatory SelectBig" onchange="VEMDHideForVirtCare();">
      <option></option>
      %EMRWEB02.01.211.2
    </select>
  </td>
</tr>
</table>

<div id=Departure></div>

<table width=100% border=0 cellspacing=0 cellpadding=2>
<tr>
  <td class="DataLabel">Relative Contacted</td>
  <td width=350>
    <select name="emrcl035" id="emrcl035">
      <option></option>
      %EMRWEB02.01.850
    </select>&nbsp;Time&nbsp;
    <input type="text" name="emrcl037" id="emrcl037" 
     title="Relative Contact Time" size="6" value="%EMRWEB02.01.837"/>
    <img notab src=../images/DateTimeStamp.gif class=Icon
     onclick="SetCurrentDateTime(null,UpdateForm.emrcl037);">
  </td>
  <td class="DataLabel" width="160">Expected Unit</td> 
  <td>
    <input type="text" title="Expected Unit" readonly size=1 maxlength=3
     value="%EMRWEB02.01.173.1" />
    <input name=unitdesc size=24 class=Readonly readonly 
     value="%EMRWEB02.01.173.0" />
  </td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>
    <input type="text" name="emrcl036" id="emrcl036" size="40"  maxlength="50" 
     value="%EMRWEB02.01.836"/>
  </td>
  <td class="DataLabel">Unit Req. Date</td> 
  <td>
    <input type=text name=emvis073 title="Unit Request Date"
     value="%EMRWEB02.01.233.0" readonly class=Readonly size=8 />Time
    <input type="text" name=emvis083 size=8 value="%EMRWEB02.01.243"
     readonly class=Readonly />
  </td>
</tr>

<tr>
  <td class="DataLabel">Ring Patient</td>
  <td align="left">
    <input class="checkbox" type="checkbox" id="d_emrcl008" name="d_emrcl008"/>
  </td>
  <td class="DataLabel">Expected Ward</td>
  <td>%EMRWEB02.01.486</td>
</tr>

<tr>
  <td class="DataLabel">LMO Contacted</td>
  <td>
    <input class="checkbox" type="checkbox" id="d_emrcl006" name="d_emrcl006"/>
  </td>
</tr>

<tr>
  <td class="DataLabel">LMO Name</td>
  <td>
    <input type="text" name="emrcl033" id="emrcl033" size="8" readonly />
    <input type="text" name="name_emrcl033n" id="name_emrcl033n" size="20" readonly  />
    <img src="../images/erase.gif" class="Icon"
     onclick="UpdateForm.emrcl033.value='';
              UpdateForm.name_emrcl033n.value='';"/>
    <img src="../images/SearchIcon.gif" class="Icon" 
     onclick="DoctorSearchFrameAll(UpdateForm.emrcl033,
              UpdateForm.name_emrcl033n);"/>
  </td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>
    <input type="text" size="50" name="emrcl032" id="emrcl032" value="%EMRWEB02.01.832" />
  </td>
</tr>

<tr>
  <td class="DataLabel">LMO Contacted Via</td>
  <td><select name="emrcl034" id="emrcl034">
       <option></option>
        %EMRWEB02.01.851.2
       </select>
</td>
  <td class=DataLabel><div id=UserDesc></div></td>
  <td><div id=UserField></div></td>
</tr>

<tr>
  <td width="160" class="DataLabel">Spec/Other Hosp Contacted</td>
  <td>
    <input type="checkbox" class="checkbox" id="d_emrcl007" name="d_emrcl007" />&nbsp;
    <input type="text" name="emrcl038" id="emrcl038" value="%EMRWEB02.01.838" 
     size="50" />
  </td>
</tr>

<tr>
  <td width="160" class="DataLabel">Spec/Other Hosp Contacted Via</td>
  <td width="352">
    <select name="emrcl039" id="emrcl039">
      <option></option>
      %EMRWEB02.01.852.2
    </select>Time 
    <input type="text" name="emrcl040" id="emrcl040" 
     title="Spec/Other Hosp Contacted Time" size="6" value="%EMRWEB02.01.840"/>
    <img src="../images/DateTimeStamp.gif" class="Icon" 
     onclick="SetCurrentDateTime(null,UpdateForm.emrcl040)"/>
  </td>
</tr>

<tr>
     <td class=DataLabel>
       <div id="emvis174TitleDIV">
         %STANDARD.01.017.RF
       </div>
     </td>
     <td>
       <div id="emvis174FieldDIV">
       <select name="emvis174" tabindex=38 class="SelectMed"
        title="%STANDARD.01.017.RF" onchange="displaycatRF();">
         <option></option>
         %EMRWEB02.01.293.2
         </select>
       </div>
     </td>
     <td class=DataLabel>
       <div id="emvis176TitleDIV">
         Referral Date
       </div>
     </td>
     <td>
       <div id="emvis176FieldDIV">
         <input type=text size=12 name=emvis176 title="Referral Date"
          value="%EMRWEB02.01.295" tabindex=41
          onblur="checkDateSV(this,'Valid to');" >
         <img notab src="../images/DateLookup.gif" class="Icon"
           alt="Show Calendar" date="UpdateForm.emvis176">
       </div>
     </td>
     </tr>

<tr>
     <td class=DataLabel>
       <div id="emvis175TitleDIV">
         Referral Period (Months)
       </div>
     </td>
     <td>
       <div id="emvis175FieldDIV">
         <input type=text name=emvis175 title="Referral Period (Months)"
          class=Number size=15 maxlength=2 min=1 max=98
          value="%EMRWEB02.01.294">
       </div>
     </td>
     <td class=DataLabel></td>
     <td>

     </td>
     </tr>

</table>

<div id=Diagnosis></div>

<table width=100% border=0 cellspacing=0 cellpadding=2>

<tr><td colspan=4 align=center><br>
        <input type="button" value="Discharge" class="button"
     onclick="PostDischargeBHS();">
    <input type="button" value="Update" class="button" 
     onclick="validateEMRDiagnosis(function () {
       ExpireCookiePath('diagnosisCookie-' + trim(UpdateForm.admissno.value));
       IBA.HEA.Knox.updateDisc(); });">
    <input type=button value="Cancel" class="button"
     onclick='fnPatientLink("%EMRWEB02.01.003","%EMRWEB02.01.081");'>
</td>
</tr>
</table>
</td></tr>
</table>
</form>

<span id="ShowDeparture" name="ShowDeparture" style="display:none">
<table width=100% border=0 cellspacing=0 cellpadding="1" >
<tr>
 <td width="160" class="DataLabel">Transfer Destination </td>
 <td width="352" >

  <input type="text" size="6" name="emvis033" id="emvis033"
   title="Transfer Destination" value="%EMRWEB02.01.133.1" 
   onchange="validateCode(9,this,UpdateForm.name_emvis033n);" />&nbsp;

  <input type="text" size="20" name="name_emvis033n" id="name_emvis033n" readonly
   value="%EMRWEB02.01.133.0"/>&nbsp;

  <img src="../images/SearchIcon.gif" class="Icon"
   onclick="TransferSourceFrame(UpdateForm.emvis033,
            UpdateForm.name_emvis033n);"/>

 </td>
 <td width="138" class="DataLabel">Reason for Transfer</td>
 <td><select name="emvis052" id="emvis052" title="Reason for Transfer">
     <option></option>
        %EMRWEB02.01.212.2
     </select>
 </td>
</tr>
<tr>
 <td class="DataLabel">Escort Source</td>
 <td><select name="emvis050" id="emvis050" title="Escort Source">
        <option></option>
        %EMRWEB02.01.210.2
        </select>
 </td>
 <td class="DataLabel">Transport Mode</td>
 <td><select class="SelectBig" name="emvis049" id="emvis049"
      onchange="IBA.HEA.Knox.checkAmbBooking();">
        <option></option>
        %EMRWEB02.01.209.2
        </select>
 </td>
</tr>
<tr>
 <td class="DataLabel">&nbsp;</td>
 <td>&nbsp;</td>
 <td class="DataLabel">Ambulance Booking Time</td>
 <td><input type="text" name=emvis087 size="8" value="%EMRWEB02.01.247"
      title="Ambulance Booking Time" onblur="checkTime(this,this.title);">
        <img notab src=../images/DateTimeStamp.gif class=Icon
         onclick="SetCurrentDateTime(null,UpdateForm.emvis087);">
        <img notab src=../images/TimeLookup.gif class=Icon
         onclick="TimeLookupFrame(UpdateForm.emvis087);">
 </td>
</tr>
</table>
</span>

<span id="ShowDepartureBlank" name="ShowDeparture" style="display:none">
<input type="hidden" name="emvis033" value=" ">
<input type="hidden" name="emvis049" value=" ">
<input type="hidden" name="emvis050" value=" ">
<input type="hidden" name="emvis052" value=" ">
<input type="hidden" name="emvis087" value=" ">
</span>

<span id=ShowDiagnosis style="display:none;">
<table width=100% border=0 cellspacing=0 cellpadding=2>
<tr><td class=DataLabel width="160">Primary Diagnosis</td>
    <td><input type=text name=d_emvcd005 title="Primary Diagnosis"
         size=72 value="%EMRWEB02.01.187" class=ReadOnly readonly>
    </tr>
<tr><td class=DataLabel width="160">Primary Diagnosis Free Format Desc</td>
    <td><input type=text name=d_emvcd033 
         title="Primary Diagnosis Free Format Desc"
         size=72 value="%EMRWEB02.01.195" class=ReadOnly readonly>
    </tr>
</table>
</span>

<span id=DiagnosisSearch style="display:none;">
<table width=100% border=0 cellspacing=0 cellpadding=2>
<tr><td class=DataLabel width="160">Primary Diagnosis Search</td>
    <td><input type=hidden name=emvcd001 value="%EMRWEB02.01.081">
        <input type=hidden name=emvcd002 value="005">
        <input type=hidden name=emvcd003 value="%EMRWEB02.01.197">
        <input type=hidden name=emvcd004 value="5">
        <input type=hidden name=emvcd006 value="   ">
        <input type=hidden name=emvcd031 value="1">
        <input type=hidden name=heaindic value="1">
        <input type=text
         onKeyUp="getDiagnosis(this,UpdateForm.emvcd005,UpdateForm.emvcd033);"
         class=SelectBig name=diagnosisSearch>
    <select name=emvcd005 class=SelectXlrg
     onchange="document.UpdateForm.emvcd033.value=trim(this.value.substring(9,80))+' ';">
    </select>
    </td></tr>
<tr>
  <td class=DataLabel width="160">Primary Diagnosis Free Format Desc</td>
  <td><input type=text name=emvcd033 maxlength=100 size=100>
</tr>
</table>
</span>

<form name=HiddenFields method=get style="margin:0">
<input type=hidden name=DischargeComplete value="%EMRWEB02.01.147">
<input type=hidden name=HospitalAdmission value="%EMRWEB02.01.148">
<input type=hidden name=HospitalAdmStatus value="%EMRWEB02.01.561">
<input type=hidden name=HospitalAdmDate value="%EMRWEB02.01.559">
<input type=hidden name=HospitalAdmTime value="%EMRWEB02.01.560">
<input type=hidden name=ExpectedUnit value="%EMRWEB02.01.173.1">
<input type=hidden name=ShowOutstanding value="%EMRWEB02.01.474">
<input type=hidden name=PrimaryDiagnosis value="%EMRWEB02.01.187">
<input type=hidden name=PrimaryDiagnCode value="%EMRWEB02.01.196">
<input type=hidden name=PrimaryDiagnFtxt value="%EMRWEB02.01.195">
<input type=hidden name=PrimaryDiagnKeyw value="%EMRWEB02.01.490">
<input type=hidden name=Pres01 value="%EMRWEB02.01.104">
<input type=hidden name=Pres02 value="%EMRWEB02.01.105">
<input type=hidden name=Pres03 value="%EMRWEB02.01.174">
<input type=hidden name=Pres04 value="%EMRWEB02.01.175">
<input type=hidden name=Pres05 value="%EMRWEB02.01.176">
<input type=hidden name=Pres06 value="%EMRWEB02.01.177">
<input type=hidden name=emvis001 id=emvis001 value="%EMRWEB02.01.101.0">
<input type=hidden name=emvis177 id=emvis177 value="%EMRWEB02.01.296.3">
</form>
<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=004>
<input type=hidden name=regexstm value=102>
<input type=hidden name=newstand value=1>
<input type=hidden name=urnumber value="%EMRWEB02.01.003">
<input type=hidden name=admissno value="%EMRWEB02.01.081">
<input type=hidden name=emrgflag value="Y">
<input type=hidden name=nextpage value="4">
<input type=hidden name=MenuType value="11">
</form>
<script type="text/javascript">
if ( document.UpdateForm.deptdate.value == "") {
  document.UpdateForm.deptdate.value="%EMRWEB02.01.233.0";
  document.UpdateForm.depttime.value="%EMRWEB02.01.243";
}
if ("%EMRWEB02.01.251" == "Yes") {
   document.UpdateForm.emvis091.value="1";
} else {
   document.UpdateForm.emvis091.value="0";
}
</script>

<span id=userpassw style="display:none">
    <input type=text size=12 name=username class=Mandatory
         title="User ID">
    <input type=password size =12 name=password class=Mandatory
         title="Password" onblur=GenericPass();>
</span>

<span id=userblank style="display:none">
   <input type=hidden name=username>
   <input type=hidden name=password>
</span>

 <span id="emvis175TitleSPAN" style="display:none">
          Referral Period (Months)
 </span>
 <span id="emvis175FieldSPAN" style="display:none">
          <input type=text name=emvis175 title="Referral Period (Months)"
           class=Number size=15 maxlength=2 min=1 max=98
           value="%EMRWEB02.01.294">
 </span>
 <span id="emvis020TitleSPAN" style="display:none">
 Referring HCP
 </span>
