<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="bhs">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<link rel="stylesheet" href="../html/postcode.css" type="text/css">
<script type="text/javascript" src="../js/patweb99.js"> </script>
<script type="text/javascript" src=../js/AutoPostCode.js></script>
<script type="text/javascript">
function UpdatePractice() {
  if(document.UpdateForm.d_pmhcg026.checked==true) {
    document.UpdateForm.pmhcg026.value="A";
  } else {
    document.UpdateForm.pmhcg026.value="M";
  }
  if(document.UpdateForm.d_pmhcg027.checked==true) {
    document.UpdateForm.pmhcg027.value="2";
  } else {
    document.UpdateForm.pmhcg027.value="1";
  }
  setFormactn('U');
}
function CheckEnquiry() {
  f = document.UpdateForm;
  if(f.menuflag.value=="1") {
    DisableForm(document.UpdateForm);
    f.btnLinkHCP.disabled = false;
    f.btnCancel.disabled = false;
    document.getElementById('imgSeniorSearch').style.display = "none";
    document.getElementById('imgSeniorClear').style.display = "none";
    document.getElementById('imgPostcodeSearch').style.display = "none";
    document.getElementById('imgPostcodeClear').style.display = "none";
    document.getElementById('imgDatePracticeFormed').style.display = "none";
    document.getElementById('imgDateDissolved').style.display = "none";
  }
}
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);document.UpdateForm.pmhcg006.focus();
             SetFields05003();InitPostCodes();CheckEnquiry();">
<div id=PageBodySection>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

<form name=UpdateForm method=post action=patweb99.pbl>
   <input type=hidden name=reportno value="5">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="">
   <input type=hidden name=pmhcg026 value="">
   <input type=hidden name=pmhcg027 value="">
 
<input type=hidden name=menuflag value="%PATWEB99.05.115">

<table border=0 width=98% align=center cellspacing="0" cellpadding="1">
<tr valign=top><td>
<table cellspacing=1 cellpadding=0 border=0 width=100%>

<tr><td class=DataLabel>Practice Code </td>
    <td> <input type=text name=pmhcg001 class=Readonly title="Practice Code"
          size=12 maxlength=10 readonly value="%PATWEB99.05.001"> </td>
    <td> Count </td>
    <td> <input type=text name=pmhcg002 class=Readonly title="Count"
          size=3 maxlength=2 readonly value="%PATWEB99.05.002">
     </td></tr>

<tr><td class=DataLabel>Senior Partner</td>
    <td colspan=4><input type=text name=pmhcg004 class=Mandatory id=pmhcg004
                   title="Senior Partner" size=12 maxlength=10
                   value="%PATWEB99.05.004.1">
                  <input type=text name=name_pmhcg004 class=Mandatory
                   title="Senior Partner" size=60 maxlength=80 id=name_pmhcg004
                   value="%PATWEB99.05.004.0">
    <img src="../images/SearchIcon.gif" class=Icon 
     name=imgSeniorSearch id=imgSeniorSearch
    onClick="HCPSearchFrame(pmhcg004,name_pmhcg004);">
    <img src="../images/erase.gif" class=Icon onClick="clrDoc(pmhcg004,name_pmhcg004);" name=imgSeniorClear id=imgSeniorClear>
</td></tr>

<tr><td class=DataLabel>Surgery Name </td>
    <td colspan=3><input type=text name=pmhcg005 class=Mandatory 
                   title="Surgery Name" size=85 maxlength=80
                   value="%PATWEB99.05.005">
        </td></tr>

<tr valign=top><td class=DataLabel>Address </td>
    <td colspan=3> <input type=text name=pmhcg006 size=65 maxlength=60
                    class=Mandatory
                    value="%PATWEB99.05.006" title="Address"><br>
         <input type=text name=pmhcg007 size=65 maxlength=60
          value="%PATWEB99.05.007" title="Address"></td></tr>
    <tr valign=top><td class=DataLabel>Suburb</td>
    <td colspan=3>
         <input type=text name=pmhcg008 title="Suburb" size=65 maxlength=60
          class=Mandatory value="%PATWEB99.05.008"></td></tr>
    <tr valign=top><td class=DataLabel>State</td>
    <td colspan=3>
         <input type=text name=pmhcg009 id=pmhcg009 title="state" size=65 
                maxlength=60 class=Mandatory value="%PATWEB99.05.009">
         <span id="stDsp"><input type=text name=pmhcg013 id=pmhcg013 
               title="state"  size=4 readonly  class="ReadOnly" 
               value="%PATWEB99.05.013"></span>
    </td></tr>
    <tr valign=top><td class=DataLabel>Post Code</td>
    <td colspan=3>
         <input type=text name=pmhcg012 title="post code" size=10 maxlength=8
                class=Mandatory value="%PATWEB99.05.012"
                onblur="SetStateField(document.getElementById('pmhcg009'));">
    <img src="../images/SearchIcon.gif" class=Icon
            onClick="LookupPostCode(UpdateForm.pmhcg008.value);"
            name=imgPostcodeSearch id=imgPostcodeSearch>
    <img src="../images/erase.gif" class=Icon onClick="ClearFields();"
            name=imgPostcodeClear id=imgPostcodeClear>
    </td></tr>

<tr><td class=DataLabel>Telephone Number</td>
    <td colspan=3><input type=text name=pmhcg015 size=22 maxlength=20
                   class=Mandatory 
                    value="%PATWEB99.05.015" title="Telephone Number"></td></tr>

<tr><td class=DataLabel>Fax Number</td>
    <td colspan=3><input type=text name=pmhcg016 size=22 maxlength=20
                   class=Mandatory 
                    value="%PATWEB99.05.016" title="Fax Number"></td></tr>

<tr><td class=DataLabel>Email Address</td>
    <td colspan=3><input type=text name=pmhcg014 size=82 maxlength=80
                    value="%PATWEB99.05.014" title="Email Address"></td></tr>

<tr><td class=DataLabel>Provider Number</td>
    <td colspan=3><input type=text name=pmhcg019 size=12 maxlength=10
                    value="%PATWEB99.05.019" title="Provider Number"></td></tr>

<tr><td class=DataLabel>Date Practice Formed</td>
    <td><input type=text name=pmhcg020 title="Date Formed" size=11 maxlength=11
         value="%PATWEB99.05.020" id=pmhcg020 
              onblur="checkDate(this,'Date');">  
        <img src=../images/DateLookup.gif
           class=Icon onclick="DateLookupFrame(pmhcg020);"
           name=imgDatePracticeFormed id=imgDatePracticeFormed>        
    </td>
    <td class=DataLabel>Dissolved</td>
    <td><input type=text name=pmhcg021 title="Dissolved" size=11 maxlength=11
         value="%PATWEB99.05.021"  id=pmhcg021
              onblur="checkDate(this,'Date');">  
        <img src=../images/DateLookup.gif 
           class=Icon onclick="DateLookupFrame(pmhcg021);"
           name=imgDateDissolved id=imgDateDissolved>        
</td></tr>

<tr><td class=DataLabel>Automatic Update </td>
    <td><input type=checkbox name=d_pmhcg026 title="Automatic Update"
         value="A"></td>
    <td class=DataLabel>Active </td>
    <td><input type=checkbox name=d_pmhcg027 title="Active"
         value="2">
</td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel>Record Created By</td>
    <td><b>%PATWEB99.05.041</b></td>
</tr>
<tr><td class=DataLabel>Record Created Date/Time</td>
    <td><b>%PATWEB99.05.042</b></td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr><td class=DataLabel>Record Updated By</td>
    <td><b>%PATWEB99.05.043</b></td>
</tr>
<tr><td class=DataLabel>Record Last Update Date/Time</td>
    <td><b>%PATWEB99.05.044</b></td>
</tr>

<tr><td colspan=4 align=center><br>
    <input type=button value="Update" class="button" 
     onclick="UpdatePractice('U');">
    <input type=button value="Linked HCPs'" class="button" name=btnLinkHCP 
        onclick='parent.location.href="%PATWEB99.05.104.patweb99.07.001";
         DFrameExit()'> 
    <input type=button value="Delete" class="button" name=btnDelete
     onclick="setFormactn('D');"> 
    <input type=button value="Cancel" class="button" name=btnCancel
     onclick="DFrameCloseRefresh();"> 
</td></tr>

<tr><td>
  <div id=SelectHeading>
  </div>
  <div id=SelectLocation>
  </div>
</td></tr>

</table>
</td></tr>
</table>
</form>
</div>

<script type="text/javascript">
//if ("%PATWEB99.05.025" == "0")
// {  
//   document.UpdateForm.pmhcg025.checked=1
// }
if ("%PATWEB99.05.026" == "A") 
 {
   document.UpdateForm.d_pmhcg026.checked=1
 }
if ("%PATWEB99.05.027" == "0") 
 {
   document.UpdateForm.d_pmhcg027.checked=1
 }

checkCountryHideTab("%PATWEB99.05.114",
                     document.getElementById("stDsp").style);

</script>
