<meta name="TemplateVersion" content="V10.12.00">
<meta name="TemplateHome" content="hea-nsw">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript" src="../js/emrweb0602014.js"></script>
<style type="text/css">
.subtitle{text-align:center;}
.titleUnderLine{
 border-bottom:1px solid black;
}
</style>
<script type="text/javascript">
 
var procedureArray = new Array();

function addProcedureToForm(form)
{ 
 var numberOfHiddenFields = 4;
 var nameFields = ["doctn","itype","schdf","pquan"];
 var valueFields = ["doc","itype","weight","quantity"];

 var obj = document.getElementById("AddForm");
 var newElement = null;

 for(var i = 0;i<procedureArray.length;i++)
 {
  for(var j = 0;j<numberOfHiddenFields;j++)
  { 
     newElement = document.createElement("input");
     newElement.type = "hidden";
     newElement.name = nameFields[j]+""+procedureArray[i].id;
     newElement.value = procedureArray[i][valueFields[j]];
     obj.appendChild(newElement);
  }
 }
 
}

function Procedure()
{
 this.id = 0;
 this.weight =0.00;
 this.itype = null;
 this.doc = null;
}

function removeFromCollection(proc)
{
 var procId = proc.name.substring(5,8);
 procId = parseInt(procId,10);

  if(procId=='182') {
    proc.value="";
  }

 for(var i = 0;i< procedureArray.length;i++)
 {
  if(parseInt(procedureArray[i].id,10) == procId)
  {
     procedureArray.splice(i,1);
  }
 }
}

function addToCollection(proc,doc,weight,itype)
{
  var procedure = new Procedure();

  if(proc.checked)
  {
   procedure.id = proc.name.substring(5,8);
  if(procedure.id=='182') {
    proc.value="NCH";
  }
   procedure.weight = weight;
//alert("|"+procedure.weight+"|");
   procedure.itype = itype;
   procedure.doc = doc;
   procedure.quantity = 1;
   procedureArray.push(procedure);
  }
  else
  {
   removeFromCollection(proc);
  }
}
function AssignAfterCare() {
  if (document.AddForm.nacbox.checked==true) {
    document.AddForm.emvis094.value="1";
  } else {
    document.AddForm.emvis094.value="0";
  }
}
function getConItemNum() {
  document.AddForm.coninvar.value=" .00"

  for (var x=0; x<5; x++) {
    if (document.AddForm.conitmnm[x].checked==true) {
      document.AddForm.coninvar.value=document.AddForm.conitmnm[x].value;
//      alert(document.AddForm.coninvar.value);
    }
  }

}
function assignWeight(weight) {
  if (weight.value=="9.99") {
     for (var x = 151; x < 182; x++) {
      document.getElementById("proci"+x).disabled=true; 
      document.getElementById("proci"+x).checked=false;
     }
     x = 182;
       document.getElementById("proci"+x).checked=true;
       addToCollection(document.getElementById("proci"+x),
                     ProcedureDoc,weight.value,'M');
   } else {
     for (var x = 151; x < 182; x++) {
       document.getElementById("proci"+x).disabled=false; 
     }
     x = 182;
       document.getElementById("proci"+x).checked=false;
       removeFromCollection(document.getElementById("proci"+x));
  }

// 151 - 181 
  for (var x = 151; x < 182; x++) {
    if (document.getElementById("proci"+x).checked==true) {
      removeFromCollection(document.getElementById("proci"+x));
      addToCollection(document.getElementById("proci"+x),
                      ProcedureDoc,weight.value,'M');
    }
  }
}
function disableConsulRedButton() {
  if (document.AddForm.cmpsindc.value=="1"){
    for (x=0;x < 4;x++){
      if (document.AddForm.conitmnm[x].value=="9.98") {
        document.AddForm.conitmnm[x].disabled=true; 
      }
    }
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);disableConsulRedButton();" onunload="unLock();">
<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%EMRWEB06.02.003";
PatientVIS="%EMRWEB06.02.081";
PatientNAM="%EMRWEB06.02.002";
PatientSTA="%EMRWEB06.02.086.078";
PatientALT="%EMRWEB06.02.084";
PatientSEX="%EMRWEB06.02.019";
PatientDOB="%EMRWEB06.02.020";
PatientAGE="%EMRWEB06.02.021";
PatientLOC="%EMRWEB06.02.083";
PatientPRI="%EMRWEB06.02.086.066.1";
PatientUNT="%EMRWEB06.02.066.0";
DoctorCOD="%EMRWEB06.02.082.003";
DoctorNAM="%EMRWEB06.02.082.002";
PatientAID="%EMRWEB06.02.086.090";
PatientIND="%EMRWEB06.02.086.091";
PatientCUR="%EMRWEB06.02.086.092";
PatientCLC="%EMRWEB06.02.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%EMRWEB06.02.086.094";
PatientCDM="%EMRWEB06.02.086.095";
PatientVDH="%EMRWEB06.02.086.099.015";
ProcedureDoc="%EMRWEB06.02.286.001";
InsertPatientHeader()
</script>
<div id=PatientMenu></div>
<div id=PageBodySection>
<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<form name=AddForm id="AddForm" action=patweb75.pbl method=post>
<input type=hidden name=reportno value="11">
<input type=hidden name=nextpage value="7">
<input type=hidden name=clearall value="1">
<input type=hidden name=emuty001 value="EMRP">
<input type=hidden name=emvcd001 value="%EMRWEB06.02.246">
<input type=hidden name=emvcd002 value="004">
<input type=hidden name=emvcd004 value="4">
<input type=hidden name=emvcd031 value="1">
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.246">
<input type=hidden name=redirect value="%EMRWEB06.02.001.emrweb06.02.019">
<input type=hidden name=template>
<input type=hidden name=updatety value="A">
<input type=hidden name=emerdoct value="%EMRWEB06.02.286.001">
<input type=hidden name=emerstat value="%EMRWEB06.02.247">
<input type=hidden name=spanflg1>
<input type=hidden name=spanflg2>
<input type=hidden name=spanflg3>
<input type=hidden name=spanflg4>
<input type=hidden name=spanflg5>
<input type=hidden name=spanflg6>
<input type=hidden name=spanflg7>
<input type=hidden name=spanflg8>
<input type=hidden name=getclcod value=1>
<input type=hidden name=emblindc value=1>
<input type=hidden name=aftercre value="%EMRWEB06.02.354">
<input type=hidden name=emvis094>
<input type=hidden name=coninvar>
<input type=hidden name=proci182>
<input type=hidden name=cmpsindc value="%EMRWEB06.02.137">
<tr>
<!--  <td class=DataLabel>Username</td>
      <td class=DataLabel>
          <input size=12 type=text name=username class=Mandatory
           title="Username">
          Password
          <input size=12 type=password name=password onblur=checkPass();
           class=Mandatory title="Password" >
      </td>-->
    <td class=DataLabel>Procedure Date </td>
    <td class=DataLabel><input type="text" name=procdate size="12"
    onblur="checkDate(procdate,'Procedure Date');" class=Mandatory
    value="%STANDARD.01.015">
        <img src=../images/DateLookup.gif date=document.AddForm.procdate>
     
        Time
        <input type="text" name=proctime size="8"
               onblur="checkTime(this,'Procedure Time')" class=Mandatory
               value="%STANDARD.01.016">
         <img notab src="../images/DateTimeStamp.gif" class="Icon"
          alt="Current" date="AddForm.procdate" time="AddForm.proctime">
        <img src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
         onclick="TimeLookupFrame(proctime);"> 
    </td>
</tr>
<tr><td align=center colspan="4"></td></tr>
</table>

<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
 <tr><td class="titleUnderLine" colspan="3">&nbsp;</td></tr>
 <tr>
   <td valign="top">

   <table cellpadding=0 cellspacing=0 border="0">
    <tr><td colspan="8" class="subTitle"><b>Common ED Procedure</b></td></tr>
    <tr></tr>
    <tr>
      <td>Full&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci001" value="11700" 
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci002" value="11700" 
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >11700 ECG&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci003" value="11506" 
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci004" value="11506" 
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >11506 Spirometry&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci005" value="13839" 
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci006" value="13839" 
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13839 Arterial Puncture/Blood Gases&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci007" value="39000" 
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci008" value="39000" 
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >39000 Lumbar Puncture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci009" value="73806" 
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci010" value="73806" 
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >73806 Pregnancy Test&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci011" value="55085"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci012" value="55085"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >55085 Bladder Scan&nbsp;<td>
    </tr>

    <tr><td colspan="8" class="subTitle"><b>Cardio-Pulmonary</b></td></tr>
    <tr></tr>
    <tr>
    <tr>
      <td>Full&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci013" value="13842"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci014" value="13842"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13842 Art Line Insertion&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci015" value="13815"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci016" value="13815"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13815 CVC Insertion&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci017" value="13400"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci018" value="13400"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13400 Cardioversion by Elect Defib&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci019" value="38806"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci020" value="38806"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >38806 Intercostal Catheter&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci021" value="38800"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci022" value="38800"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >38800 Pleural Tap (Diagnostic)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci023" value="13857"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci024" value="13857"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13857 Mechanical Ventilation&nbsp;<td>
    </tr>

    <tr><td colspan="8" class="subTitle"><b>Dislocations</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci025" value="47069"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci026" value="47069"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47069 Toe - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci027" value="47015"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci028" value="47015"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47015 Shoulder - not req G/A&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci029" value="47052"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci030" value="47052"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47052 Finger (MCP Joint)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci031" value="47036"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci032" value="47036"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47036 Interphalangeal Joint - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci033" value="47057"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci034" value="47057"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47057 Patella - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci035" value="47048"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci036" value="47048"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47048 Hip - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci037" value="47063"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci038" value="47063"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47063 Ankle or Tarsus - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci039" value="47030"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci040" value="47030"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47030 Mandible&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci041" value="47000"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci042" value="47000"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47000 Mandible - Clsd Red&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci043" value="47018"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci044" value="47018"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47018 Elbow - Clsd Red&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>ENT Procedure</b></td></tr>
    <tr></tr>

    <tr>
     <td>
      <input type="checkbox" name="proci045" value="41677"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci046" value="41677"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >41677 Nasal Haem. Arrest of - Epistaxis&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci047" value="41846"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci048" value="41846"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >41846 Larynx, Exam of Glottic Region&nbsp;<td>
    </tr>

   </table>

  </td>
  <td valign="top" >

    <table cellpadding=0 cellspacing=0 border="0">
    <tr><td class="subTitle" colspan="8"><b>Foreign Bodies</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci049" value="30061"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci050" value="30061"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci051" value="30061"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30061 R/O Superfical F/B (from cornea, etc)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci052" value="42644"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci053" value="42644"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci054" value="42644"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >42644 Eye - Removal of FB (Corneal FB)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci055" value="41500"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci056" value="41500"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci057" value="41500"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >41500 R/O FB in Ear, not syringing&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci058" value="41659"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci059" value="41659"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci060" value="41659"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >41659 R/O FB in Nose&nbsp;<td>
    </tr>

    <tr> 
     <td>
      <input type="checkbox" name="proci061" value="30061"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci062" value="30061"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci063" value="30061"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30061 Skin (Superficial)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci064" value="30064"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci065" value="30064"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci066" value="30064"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30064 R/O Sub.F/B Requiring Incision & Suture&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci067" value="30067"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci068" value="30067"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci069" value="30067"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30067 R/O Deep F/B from muscle, etc&nbsp;<td>
    </tr>

    <tr><td colspan="8" class="subTitle"><b>Garstrointestinal/Perianal</b></td></tr>
    <tr></tr>
    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci070" value="32072"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci071" value="32072"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci072" value="32072"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >32072 Sigmoidoscopy&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci073" value="32147"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci074" value="32147"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci075" value="32147"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >32147 I & D Perian&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci076" value="30406"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci077" value="30406"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci078" value="30406"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30406 Ascitic Tap/Aspiration&nbsp;<td>
    </tr>

    <tr><td colspan="8" class="subTitle"><b>Nerve Blocks</b></td></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci079" value="18266"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci080" value="18266"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci081" value="18266"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >18266 Ulna, Radial or Median Nerve/Main Trunk&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci082" value="18270"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci083" value="18270"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci084" value="18270"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >18270 Femoral Nerve&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci085" value="18272"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci086" value="18272"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci087" value="18272"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >18272 Saphenous/Sural/Post Tib&nbsp;<td>
    </tr>

  </table>
  <td valign="top" >

    <table cellpadding=0 cellspacing=0 border="0">
    <tr><td class="subTitle" colspan="8"><b>Other Procedures</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci088" value="30219"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci089" value="30219"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci090" value="30219"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30219 I & D Small Abscess&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci091" value="30216"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci092" value="30216"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci093" value="30216"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30216 Aspiration of Haematoma&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci094" value="30029"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci095" value="30029"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci096" value="30029"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30029 Lac (Not Face or Neck),< 7cm, deep&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci097" value="10993"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci098" value="10993"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci099" value="10993"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >10993 Immunisation by nurse&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci100" value="10996"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci101" value="10996"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci102" value="10996"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >10996 Treatment of wound by nurse&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci103" value="30003"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci104" value="30003"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci105" value="30003"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30003 Dressing of Localised Burns&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci106" value="30006"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci107" value="30006"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci108" value="30006"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30006 Burns Dressing (Large)&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci109" value="47904"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci110" value="47904"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci111" value="47904"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >47904 Digital Nail Removal&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci112" value="13706"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci113" value="13706"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci114" value="13706"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >13706 Administration of Blood&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Sutures: Face/Neck</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci115" value="30032"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci116" value="30032"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci117" value="30032"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30032 Lac (Face or Neck),< 7cm,super&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci118" value="30045"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci119" value="30045"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci120" value="30045"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30045 Lac (Face or Neck),> 7cm,super&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci121" value="30035"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci122" value="30035"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci123" value="30035"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30035 Lac (Face or Neck),< 7cm,deep&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci124" value="30048"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci125" value="30048"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci126" value="30048"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30048 Lac (Face or Neck),> 7cm,deep&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci127" value="30052"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci128" value="30052"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci129" value="30052"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30052 Lac Full Thickness,Eyelid,Ear,Nose&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Sutures: Not Face/Neck</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci130" value="30026"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci131" value="30026"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci132" value="30026"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30026 Lac (Not Face or Neck),< 7cm,super&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci133" value="30038"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci134" value="30038"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci135" value="30038"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30038 Lac (Not Face or Neck),> 7cm,super&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci136" value="30029"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci137" value="30029"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci138" value="30029"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30029 Lac (Not Face or Neck),< 7cm,deep&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci139" value="30041"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci140" value="30041"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci141" value="30041"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >30041 Lac (Not Face or Neck),> 7cm,deep&nbsp;<td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="8" class="subTitle"><b>Urology</b></td></tr>
    <tr></tr>

    <tr>
      <td>Full&nbsp;</td>
      <td>50%&nbsp;</td>
      <td>Rebate&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
     <td>
      <input type="checkbox" name="proci142" value="36800"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci143" value="36800"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci144" value="36800"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >36800 Bladder Cathaterisation&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci145" value="37041"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci146" value="37041"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci147" value="37041"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >37041 Supra Pubic Bladder Aspiration&nbsp;<td>
    </tr>

    <tr>
     <td>
      <input type="checkbox" name="proci148" value="37011"
       onclick="addToCollection(this,ProcedureDoc,' .00','M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci149" value="37011"
       onclick="addToCollection(this,ProcedureDoc,9.50,'M')"/>
     </td>
     <td>
      <input type="checkbox" name="proci150" value="37011"
       onclick="addToCollection(this,ProcedureDoc,0.85,'M')"/>
     </td>
     <td class="DataLabel" >37011 Supra Pubic Stab Crystotomy&nbsp;<td>
    </tr>

    </table>

  </td>
 </tr>
</table>

<table width=100% align=center border=0 cellpadding=0 cellspacing=0>
<tr><td style="background-color:lightgrey" colspan=6>&nbsp;</td></tr>
<tr>
   <td><b>Consultation Item Numbers</b></td>
   <td><input type=radio name=conitmnm value=" .00" checked
        onclick="assignWeight(this);"><b>Full Fee</b></td>
   <td><input type=radio name=conitmnm value="0.85"
        onclick="assignWeight(this);"><b>Rebate</b></td>
   <td><input type=radio name=conitmnm value="9.98"
        onclick="assignWeight(this);"><b>Review</b></td>
   <td><input type=radio name=conitmnm value=" .75"
        onclick="assignWeight(this);"><b>Concession</b></td>
   <td><input type=radio name=conitmnm value="9.99"
        onclick="assignWeight(this);"><b>No Charge</b></td>
</tr>
</table>

<table width=100% align=center border=1 cellpadding=0 cellspacing=0>
<tr>
   <td style="background-color:lightgrey" align=middle><b>Non-VR&nbsp;</b></td>
   <td style="background-color:lightgrey" align=middle><b>Voc Reg&nbsp;</b></td>
   <td style="background-color:lightgrey" align=middle><b>FACEM&nbsp;</b></td>
   <td style="background-color:lightgrey" align=middle><b>Life Threatening&nbsp;</b></td>
</tr>

<tr>
   <td valign=top>
     <table width=80% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td>Normal</td><td>After Hours</td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci151" value="52"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;52&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci152" value="5200"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5200&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci153" value="53"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;53&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci154" value="5203"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5203&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci155" value="54"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;54&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci156" value="5207"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5207&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci157" value="57"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;57&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci158" value="5208"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5208&nbsp;
            </td>
        </tr>

     </table>
   </td>
   <td valign=top>
     <table width=80% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td>Normal</td><td>After Hours</td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci159" value="3"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;3&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci160" value="5000"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5000&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci161" value="23"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;23&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci162" value="5020"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5020&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci163" value="36"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;36&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci164" value="5040"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5040&nbsp;
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="proci165" value="44"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;44&nbsp;
            </td>
            <td>
                <input type="checkbox" name="proci166" value="5060"
                 onclick="getConItemNum();
                          addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
                 &nbsp;5060&nbsp;
            </td>
        </tr>

     </table>
   </td>
   <td valign=top>
     <table width=80% align=center border=0 cellpadding=0 cellspacing=0>
        <tr> 
           <td colspan=2 align=center>All Hours</td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci167" value="501"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;501&nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci168" value="519"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;519&nbsp;
           </td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci169" value="503"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;503&nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci170" value="520"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;520&nbsp;
           </td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci171" value="507"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;507&nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci172" value="530"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;530&nbsp;
           </td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci173" value="511"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;511&nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci174" value="532"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;532&nbsp;
           </td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci175" value="515"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;515&nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci176" value="534"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;534&nbsp;
           </td>
        </tr>

        <tr>
           <td>
               &nbsp;
           </td>
           <td>
              <input type="checkbox" name="proci177" value="536"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;536&nbsp;
           </td>
        </tr>

     </table>    

   </td>
   <td valign=top>
     <table width=80% align=center border=0 cellpadding=0 cellspacing=0>
        <tr>
           <td colspan=2 align=center>Resuscitation&nbsp;</td>
        </tr>

        <tr>
           <td>
              <input type="checkbox" name="proci178" value="160"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;160&nbsp;
           </td>
           <td>
               &nbsp;
           </td>
        </tr>
        <tr>
           <td>
              <input type="checkbox" name="proci179" value="161"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;161&nbsp;
           </td>
           <td>
               &nbsp;
           </td>
        </tr>
        <tr>
           <td>
              <input type="checkbox" name="proci180" value="162"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;162&nbsp;
           </td>
           <td>
               &nbsp;
           </td>
        </tr>
        <tr>
           <td>
              <input type="checkbox" name="proci181" value="163"
                           onclick="getConItemNum();
                           addToCollection(this,ProcedureDoc,coninvar.value,'M')";/>
               &nbsp;163&nbsp;
           </td>
           <td>
               &nbsp;
           </td>
        </tr>

     </table>
   </td>
</tr>

</table>

<!-- End procedure billing sheet -->
<table width=100% border=0>
<tr><td align=center colspan=4>
  <input type=button class="button" value="Update" 
   onclick="addProcedureToForm();SubmitHidden(AddForm);">
<!--  <input type=button class="button" value="List" 
   onclick="location.href='%EMRWEB06.02.001.emrweb06.02.013';">-->
  <input type=button class="button" value="Cancel" 
   onclick="CancelPage();">
  </td></tr>
</table>
</form>
</div>
<form name=PatientLinks method=get action="emrweb02.pbl">
<input type=hidden name=reportno value=1>
<input type=hidden name=template value=100>
<input type=hidden name=urnumber value="%EMRWEB06.02.003">
<input type=hidden name=admissno value="%EMRWEB06.02.081">
<input type=hidden name=MenuType value="%EMRWEB06.02.088">
</form>
<script type="text/javascript">
//TB4 = new ProceduresList();    // Create New Thing Object
//EMRWEB06.02.134.TB4.004

//  if (document.AddForm.aftercre.value=="Yes") {
//    document.AddForm.nacbox.checked=true;
//  } else {
//    document.AddForm.nacbox.checked=false;
//  }

</script>
