<meta name="TemplateVersion" content="V11.04.00">
<meta name="TemplateHome" content="cab">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script>
function setCheckedValue() {
  if(UpdateForm.d_ptcer007.checked == true) {
    UpdateForm.ptcer007.value ="1" ;
  }
  else {
    UpdateForm.ptcer007.value = "0";
  }
}
function SubmitUpdate() {
  if (UpdateForm.ptcer003.value!="")  {
    if (!CheckDateRange(UpdateForm.ptcer003,UpdateForm.ptcer004))  {
       return; }
  }
  validateComments();
  setFormactn('U');
}
function validateComments() {

  if (IEBrowser) {return;}

  document.UpdateForm.commtext.value =
  document.UpdateForm.commtext.value.replace(/[^a-zA-Z0-9 \-,.:;\/\r|\n]/g, "");

  document.UpdateForm.commtext.value =
  document.UpdateForm.commtext.value.replace(/  +/g, ' ');

  document.UpdateForm.commtext.value = trim(document.UpdateForm.commtext.value);

}
</script>
</head>

%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Change Certificates 
</span>

<script>
function init() {
  Certsent = "%HOSWEB01.04.107";
  if ( Certsent == "1" ) {
    document.UpdateForm.d_ptcer007.checked=1;
  }
  if (UpdateForm.ptcer002.value.substr(3,1) == 'U') {
   if (isWhitespace(UpdateForm.admissno.value))     {
      alert("A Visit has not been selected for this 3B Certificate") }
  }
}
</script>

<div id=PageBodySection>
<form name=UpdateForm method=post action=hosweb01.pbl>
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="003">
<input type=hidden name=urnumber value="%HOSWEB01.04.003">
<input type=hidden name=admissno value="%HOSWEB01.04.081">
<input type=hidden name=updttype value=" ">
<input type=hidden name=ptcer001 value="%HOSWEB01.04.003">
<input type=hidden name=ptcer002 value="%HOSWEB01.04.102.3">
<input type=hidden name=ptcer007 value="%HOSWEB01.04.107">

<table align=center width=100% border=0>
<tr><td class=DataLabel>Certificate Type</td>
    <td><input type=text name=d_ptcer002 class=ReadOnly
         title="Certificate Type" readonly value="%HOSWEB01.04.102.0">
    </td></tr>

<tr><td class=DataLabel>Date From</td>
    <td><input type=text name=ptcer003 size=12 maxlength=11
         class=ReadOnly title="Date From" readonly value="%HOSWEB01.04.103">
</td></tr>

<tr><td class=DataLabel>Date To</td>
    <td><input type=text name=ptcer004 size=12 maxlength=11
         class="Mandatory Date" title="Date To"
         value="%HOSWEB01.04.104">
         <img notab src="../images/DateLookup.gif" class="Icon"
          alt="Show Calendar" date="UpdateForm.ptcer004">
         <img src=../images/DateTimeStamp.gif class=Icon
          date=UpdateForm.ptcer004 time=null>
</td></tr>

<tr><td class=DataLabel>Issue Date</td>
    <td><input type=text name=ptcer005 size=12 maxlength=11
         class="Mandatory PastDate" title="Issue Date"
         value="%HOSWEB01.04.105">
         <img notab src="../images/DateLookup.gif" class="Icon"
          alt="Show Calendar" date="UpdateForm.ptcer005">
         <img src=../images/DateTimeStamp.gif class=Icon
          date=UpdateForm.ptcer005 time=null>
</td></tr>

<tr><td class=DataLabel>Doctor Code</td>
    <td>
      <input type=text name=ptcer006 id=ptcer006 class=Mandatory 
       title="Doctor Code" size=10 maxlength=12 value="%HOSWEB01.04.106.1"
       onblur="validateCode(18,UpdateForm.ptcer006,UpdateForm.docname);">
      <input type=text name=docname id=docname size=22 maxlength=15 readonly 
       class=Readonly value="%HOSWEB01.04.106.0">
      <img src="../images/SearchIcon.gif" class=Icon
       onclick="HCPSearchFrame(ptcer006,docname,1);" >
      <img src="../images/erase.gif" class=Icon 
       onclick="clrDoc(ptcer006,docname);">
</td></tr>

<tr><td class=DataLabel>Certificate Sent</td>
    <td><input type=checkbox name=d_ptcer007 title="Certificate Sent"
        onclick="setCheckedValue();"></td>

<tr><td class=DataLabel>%STANDARD.01.017.FG</td>
    <td><select name=ptcer008 title="%STANDARD.01.017.FG">
        <option></option>
          %HOSWEB01.04.109.2
        </select></td>
</tr>

<tr><td colspan=6 class=HeadingCell align=center >
      Comments </td></tr>

<tr><td colspan=6 align=center>
      <textarea wrap=hard name=commtext rows=6 title="Comments"
       id="commtext" cols=50>%HOSWEB01.04.108</textarea>
</td></tr>

<tr><td colspan=2 align=center><br>
   <input type=button name=updtbutt value="Update" class="button"
    onclick='SubmitUpdate();'>
   <input type=button name=deltbutt value="Delete" class="button"
    onclick='setFormactn("D");'>
   <input type=button value="Cancel" class="button"
    onclick='DFrameCloseRefresh();'>
</td></tr>
</table>
</form>
</div>
