<meta name="TemplateVersion" content="V11.04.00">
<meta name="TemplateHome" content="cab">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script>
function setCheckedValue() {
  if(AddForm.d_ptcer007.checked == true) {
    AddForm.ptcer007.value ="1" ;
  }
  else {
    AddForm.ptcer007.value = "0";
  }
}
function checkVisitNo() {
  if (AddForm.ptcer002.value.substr(3,1) == 'U') {
   if (isWhitespace(AddForm.admissno.value))     {
      alert("A Visit has not been selected for this 3B Certificate") }
  }
}
function SubmitAdd() {

  var certtype;
  var fromdate;
  var todate;

  if (validateMandatory(AddForm)) {
    if (AddForm.ptcer003.value!="")  {
      if (!CheckDateRange(AddForm.ptcer003,AddForm.ptcer004))  {
         return; }
    }

    certtype = document.AddForm.ptcer002.value.substr(0,3);
    fromdate = SetDateYYYYMMDD(document.AddForm.ptcer003.value);
    todate   = SetDateYYYYMMDD(document.AddForm.ptcer004.value);

    var serverURL   = "../cgi-bin/emrweb08.pbl?reportno=52" +
                      "&valdcode=" +
                      document.AddForm.ptcer001.value.replace(/ /g,"+") +
                      certtype.replace(/ /g,"+") +
                      fromdate.replace(/ /g,"+") +
                      todate.replace(/ /g,"+");

    var returnValue = RSExecute(serverURL);
    if (returnValue.status != 0) {
      return;
    }
    validateComments();
    SubmitHidden(AddForm);
  }
}
function validateComments() {

  if (IEBrowser) {return;}

  document.AddForm.commtext.value =
  document.AddForm.commtext.value.replace(/[^a-zA-Z0-9 \-,.:;\/\r|\n]/g, "");

  document.AddForm.commtext.value =
  document.AddForm.commtext.value.replace(/  +/g, ' ');

  document.AddForm.commtext.value = trim(document.AddForm.commtext.value);

}
</script>
</head>

%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Add Certificates 
</span>

<div id=PageBodySection>
<form name=AddForm method=post action=hosweb01.pbl>
<input type=hidden name=reportno value="4">
<input type=hidden name=template value="002">
<input type=hidden name=urnumber value="%HOSWEB01.04.003">
<input type=hidden name=admissno value="%HOSWEB01.04.081">
<input type=hidden name=updttype value="A">
<input type=hidden name=ptcer001 value="%HOSWEB01.04.003">
<input type=hidden name=ptcer007 value="0">

<table align=center width=100% border=0>
<tr><td class=DataLabel>Certificate Type</td>
    <td><select name=ptcer002 class=Mandatory title="Certificate Type"
         onchange="checkVisitNo();">
        <option></option>
          %HOSWEB01.04.102.2 
        </select></td>
</tr>

<tr><td class=DataLabel>Date From</td>
    <td><input type=text name=ptcer003 size=12 maxlength=11
         class="Mandatory Date" title="Date From" value="%STANDARD.01.015">
         <img notab src="../images/DateLookup.gif" class="Icon"
          alt="Show Calendar" date="AddForm.ptcer003">
         <img src=../images/DateTimeStamp.gif class=Icon
          date=AddForm.ptcer003 time=null>
</td></tr>

<tr><td class=DataLabel>Date To</td>
    <td><input type=text name=ptcer004 size=12 maxlength=11
         class="Mandatory Date" title="Date To">
         <img notab src="../images/DateLookup.gif" class="Icon"
          alt="Show Calendar" date="AddForm.ptcer004">
         <img src=../images/DateTimeStamp.gif class=Icon
          date=AddForm.ptcer004 time=null>
</td></tr>

<tr><td class=DataLabel>Issue Date</td>
    <td><input type=text name=ptcer005 size=12 maxlength=11
         class="Mandatory PastDate" title="Issue Date">
         <img notab src="../images/DateLookup.gif" class="Icon"
          alt="Show Calendar" date="AddForm.ptcer005">
         <img src=../images/DateTimeStamp.gif class=Icon
          date=AddForm.ptcer005 time=null>
</td></tr>

<tr><td class=DataLabel>Doctor Code</td>
    <td><input type=text name=ptcer006 id=ptcer006 class=Mandatory 
         title="Doctor Code" size=10 maxlength=12
         onblur="validateCode(18,AddForm.ptcer006,AddForm.docname);">
    <input type=text name=docname id=docname size=22 maxlength=15 readonly 
     class=Readonly>
    <img src="../images/SearchIcon.gif" class=Icon
     onclick="HCPSearchFrame(ptcer006,docname,1);" >
    <img src="../images/erase.gif" class=Icon onclick="clrDoc(ptcer006,docname);">
</td></tr>

<tr><td class=DataLabel>Certificate Sent</td>
    <td><input type=checkbox name=d_ptcer007 title="Certificate Sent"
        onclick="setCheckedValue();"></td>

<tr><td class=DataLabel>%STANDARD.01.017.FG</td>
    <td><select name=ptcer008 title="%STANDARD.01.017.FG">
        <option></option>
          %HOSWEB01.04.109.2 
        </select></td>
</tr>

<tr><td colspan=6 class=HeadingCell align=center >
      Comments </td></tr>

<tr><td colspan=6 align=center>
      <textarea wrap=hard name=commtext rows=6 title="Comments"
       id="commtext" cols=50>%HOSWEB01.04.108</textarea></td></tr>

<tr><td colspan=2 align=center><br>
   <input type=button name=updtbutt value="Add" class="button"
    onclick='SubmitAdd();'>
   <input type=button value="Cancel" class="button"
    onclick='DFrameCloseRefresh();'>

</td></tr>
</table>
</form>
</div>
