<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="stv">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb06.js"> </script>
<script type="text/javascript" src="../js/oprweb0603004.js"> </script>
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/TableSort1.js"></script>
<script type="text/javascript">
function TableSort(OrderColumn) {
 document.title="Existing Items"
 if ( lastOrderColumn == OrderColumn ) {
   if (AscDsc==1) {AscDsc=2;} else {AscDsc=1;} }
 else {
   AscDsc=1; }
 TableOutput(OrderColumn,AscDsc);
}
function initSP() {
     if(document.UpdateForm.showprov.value=="1") {
        PostMBSOption.innerHTML=PostMBS.innerHTML;
        }
     else {
        PostMBSOption.innerHTML=PostMBSBlank.innerHTML;
        }
     if(document.UpdateForm.opcnicom.value=="1") {
       InsertImplantButton.style.display="";
     }
}
function BillProvCMBS(){
   if(!validateMandatory(UpdateForm)) {
     return;
   }
   document.UpdateForm.showprov.value="1";
   document.UpdateForm.redirect.value="oprweb06.pbl?reportno=3&template=004&"+
           "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
           "&teamnumb=" + document.UpdateForm.teamnumb.value.replace(/ /g,"+") +
           "&showprov=" + document.UpdateForm.showprov.value;

    document.UpdateForm.updatety.value="B";
    document.UpdateForm.nextpage.value=1;
    document.UpdateForm.submit();
}
function UpdateLink(scasekey,teamnumb,uniqueky,admissno,rectype,trannumb) {
   if(!validateMandatory(UpdateForm)) {
     return;
   }
   document.DeleteForm.updatety.value="R";
   document.DeleteForm.redirect.value="oprweb06.pbl?reportno=3&template=004&"+
           "&casekeys=" + document.UpdateForm.casekeys.value.replace(/ /g,"+") +
           "&teamnumb=" + document.UpdateForm.teamnumb.value.replace(/ /g,"+")
      document.DeleteForm.casekeys.value=scasekey;
      document.DeleteForm.teamnumb.value=teamnumb;
      document.DeleteForm.uniqueky.value=uniqueky;
      document.DeleteForm.admissno.value=admissno;
      document.DeleteForm.irectype.value=rectype;
      document.DeleteForm.trannumb.value=trannumb;
      document.DeleteForm.submit();
  }    

//this will remove the row no needed to be displayed
function DeleteProv(obj) 
{
  var table = obj.parentNode.parentNode.parentNode;
  var tr = obj.parentNode.parentNode;

  //remove the row
  table.removeChild(tr);

  //CMBS button
  var postprovButton = document.getElementById("postprov");

  //check if there is any items 
  if(table.rows.length > 1)
    postprovButton.style.visibility = "visible"; //show CMBS button
  else
    postprovButton.style.visibility = "hidden";  //hide CMBS button
}

function postProv()
{  
  var form = document.getElementById("provMBSForm");
  var table = document.getElementById("editTable");
  var arrObject = new Array();

  for(var i = 1; i < table.rows.length; i++)
  {
     var uniqueId = new Object();
     var code = new Object();

     //cell 1 is uniqueId
     uniqueId.value = table.rows[i].cells[1].innerText;
     uniqueId.maxLength = 10;

     //cell 2 is code
     code.className = "Integer";
     code.value =  table.rows[i].cells[2].innerText;
     code.maxLength = 9

     justifyRight(uniqueId);
     justifyLeft(code);

     arrObject.push(uniqueId.value+""+code.value);
  }  

  var index = 1;

  for(var i = 0; i < arrObject.length; i++)
  {
     var item = document.createElement("input");
     item.type = "hidden";
     item.id = "provm00"+( index );
     item.name = "provm00"+ ( index );
     item.value = arrObject[i];
     form.appendChild(item);
     index++;
  }
    if(arrObject.length>0) 
      form.submit();
    else
      alert('Must be at least one CMBS code.');
}
function AddImplantButton() {
 if(!validateMandatory(UpdateForm)) {
   return;
 }
 showImplant();
}
function AddButton() {
 if(!validateMandatory(UpdateForm)) {
   return;
 }
 AddData();
}
function TableEnding()
{
  TableString[TableString.length] = "</table></div>";

  var TableLocation = document.getElementById('TableLocation');

  // Unload the array into continuous html render
  if (TableString.join) // if join method is available;
  {
    TableLocation.innerHTML = TableString.join("");
  }
  else
  {
    var TableStringX="";
    for (i=0;i < TableString.length; i++)
    {
       TableStringX+=TableString[i];
    }
    TableLocation.innerHTML = TableStringX;
  }

  // The following are defined in the code we just rendered
  document.getElementById('selectedCount').innerHTML=filteredRows;

  // We need to set the height of 'TableLocation' for other browsers
  if (!CompatibilityMode) {
    var height = 0;
    var listTables = TableLocation.getElementsByTagName("TABLE");

    for (var i=0; i < listTables.length; i++) {
      height += listTables[i].offsetHeight;
    }

    TableLocation.style.height = height + "px";
  }

  SetTableLocation1Pos();
}
function TableEnding1()
{
  TableString1[TableString1.length] = "</table></div>";

  var TableLocation1 = document.getElementById('TableLocation1');

  // Unload the array into continuous html render
  if (TableString1.join) // if join method is available;
  {
    TableLocation1.innerHTML = TableString1.join("");
  }
  else
  {
    var TableStringX1="";
    for (i=0;i < TableString1.length; i++)
    {
       TableStringX1+=TableString1[i];
    }
    TableLocation1.innerHTML = TableStringX1;
  }

  document.getElementById('selectedCount1').innerHTML=filteredRows1;

  SetTableLocation1Pos();
}
function SetTableLocation1Pos() {
  var TableLocation = document.getElementById('TableLocation');
  var TableLocation1 = document.getElementById('TableLocation1');

  TableLocation1.style.top = TableLocation.offsetTop + TableLocation.offsetHeight + "px";
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);setTimeout('initSP();',350);InitTable();
      InitTable1();">
<script type="text/javascript">
function InitTable() {
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
 document.title="Existing Items"
 t = new Table(1,0,2,"100%","center",30,30);
 t.addColumn("Session&nbsp;Date/Time","String",1,1,"left","DeleteIcon.gif","0",130)
 t.addColumn("Unique ID","String",2,2,"left","","",80)
 t.addColumn("Code","String",3,3,"left","","",80)
 t.addColumn("Description","String",4,4,"left","","",120)
 t.addColumn("Quantity","String",5,5,"left","EditIcon.gif","6",70)
 t.addColumn("Patient Portion","String",7,7,"right","","",80)
 t.addColumn("Rebate Portion","String",8,8,"right","","",80)
//
// Add Rows to Table (Output from Web Server)
//
//
%OPRWEB06.03.220
//
 OrderColumn=1;
 AscDsc=2
 lastOrderColumn=OrderColumn;
TableOutput(OrderColumn,AscDsc);
}

function InitTable1() {
//
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column,Align
//
 window.documentTitle2="Invoiced Items"
 t1 = new Table1(1,0,2,"100%","center",30,30);
 t1.addColumn("Session&nbsp;Date/Time","String",0,0,"left","","",110)
 t1.addColumn("Unique ID","String",1,1,"left","","",70)
 t1.addColumn("Code","String",2,2,"left","","",70)
 t1.addColumn("Description","String",3,3,"left","","",90)
 t1.addColumn("Quantity","String",4,4,"left","","",70)
 t1.addColumn("Invoice ##","String",5,5,"left","","",70)
 t1.addColumn("Patient Portion","String",6,6,"right","","",80)
 t1.addColumn("Rebate Portion","String",7,7,"right","","",80)
//
// Add Rows to Table (Output from Web Server)
//
//
%OPRWEB06.03.221
//
 OrderColumn=1;
 AscDsc=2
 lastOrderColumn=OrderColumn;
TableOutput1(OrderColumn,AscDsc);
}
</script>

<div id=PatientHeading></div>
<script type="text/javascript">
PatientURN="%OPRWEB06.03.003";
PatientVIS="%OPRWEB06.03.081";
PatientNAM="%OPRWEB06.03.002";
PatientSTA="%OPRWEB06.03.086.078";
PatientALT="%OPRWEB06.03.084";
PatientSEX="%OPRWEB06.03.019";
PatientDOB="%OPRWEB06.03.020";
PatientAGE="%OPRWEB06.03.021";
PatientLOC="%OPRWEB06.03.083";
PatientPRI="%OPRWEB06.03.086.066.1";
PatientUNT="%OPRWEB06.03.066.0";
DoctorCOD="%OPRWEB06.03.082.003";
DoctorNAM="%OPRWEB06.03.082.002";
PatientAID="%OPRWEB06.03.086.090";
PatientIND="%OPRWEB06.03.086.091";
PatientCUR="%OPRWEB06.03.086.092";
PatientCLC="%OPRWEB06.03.086.093.1";
PatientCLH="%STANDARD.01.017.CL";
PatientHFT="%OPRWEB06.03.086.094";
PatientCDM="%OPRWEB06.03.086.095";
PatientVDH="%OPRWEB06.03.086.099.015";
InsertPatientHeader()
</script>
<div id="PatientMenu"></div>

<div id="TheatreCaseHeading"></div>
<script type="text/javascript">
TheatreHeading="Theatre Items Details"
CombinedCMBS="%STANDARD.01.025.113.003.0.1"
InvoiceMessage="%OPRWEB06.03.217";
InsertTheatreCaseHead()
</script>

<form  name=UpdateForm method=get action=oprweb06.pbl style="margin:0">
<input type=hidden name=reportno value="3">
<input type=hidden name=template value="001">
<input type=hidden name=updatety value=" ">
<input type=hidden name=admissno value='%OPRWEB06.03.081'>
<input type=hidden name=casekeys value="%OPRWEB06.03.101">
<input type=hidden name=teamnumb value='%OPRWEB06.03.205'>
<input type=hidden name=oppmb002 value="%OPRWEB06.03.203">
<input type=hidden name=theacomp value="">
<input type=hidden name=redirect value="">
<input type=hidden name=nextpage value="">
<input type=hidden name=showprov value="%OPRWEB06.03.213">
<input type=hidden name=opcnicom value="%STANDARD.01.025.113.010.0.1">
<input type=hidden name=jmphflag value="%OPRWEB06.03.224">
<table align=center width=95% border=0>
<tr><td class=DataLabel align=right width=20%>
    Reason Theatre Incomplete
    <td class=DataField align=right>
    <select name=thercomp title="Reason Theatre Incomplete"
     onchange="TheatreInComp();">
    <option></option>
      %OPRWEB06.03.214.2
    </select></td>
    <td class=DataLabel align=right width=20%>
    Theatre Complete
    <td class=DataField align=right>
    <input type=checkbox name=d_theacomp onclick="TheatreComp();" value="0"> 
    </td>
    <td class=DataField align=right>
    <input type=button value="Default Booking CMBS" class=Largebutton
     name=d_showprov onclick="BillProvCMBS();">
    </td>
    <td align=right>
    <span id=InsertImplantButton style="display:none">
     <input class="button" type=button name="impbutton" value="Add Implant"
      onclick="AddImplantButton();">&nbsp;
    </span>
    <input type=button value="Add" class="button" id="opr06sub" 
     onclick="tempDisable(this);AddButton();">
    </td></tr>
</table>
</form>
<table id="editTable" align=center cellspacing=0 cellpadding=1 width=95% 
 border=1> 
<tr><td class=HeadingCell>Session Date/Time</td>
    <td class=HeadingCell>Unique Id</td>
    <td class=HeadingCell>Code </td>
    <td class=HeadingCell>Description</td>
    <td class=HeadingCell>Quantity
    </td></tr>
%OPRWEB06.03.207.1
</table>

<table align=center cellspacing=0 cellpadding=1 width=95% border=0> 
<tr><td align=center class=DataLabel><div id=PostMBSOption></div></td></tr>
</table>

<div id="TableLocation"></div>
<div id="TableLocation1" style="position:absolute"></div>

<form name=PatientLinks method=get style="margin:0">
<input type=hidden name=reportno value=3>
<input type=hidden name=template value=001>
<input type=hidden name=urnumber value='%OPRWEB06.03.003'>
<input type=hidden name=admissno value='%OPRWEB06.03.081'>
<input type=hidden name=MenuType value='%OPRWEB06.03.088'>
<input type=hidden name=casekeys value='%OPRWEB06.03.101'>
<input type=hidden name=sesskeys value='%OPRWEB06.03.102.oprweb01.03.003'>
<input type=hidden name=teamnumb value='%OPRWEB06.03.205'>
<input type=hidden name=uniqnumb value='%OPRWEB06.03.110'>
<input type=hidden name=jmphflag value="%OPRWEB06.03.224">
</form>

<form  name=UpdateItem method=post action=patweb71.pbl style="margin:0">
<input type=hidden name=reportno value="1">
<input type=hidden name=template value="001">
<input type=hidden name=updttype value="D">
<input type=hidden name=urnumber value='%OPRWEB06.03.003'>
<input type=hidden name=admissno value='%OPRWEB06.03.081'>
<input type=hidden name=transnum value='%OPRWEB06.03.209'>
<input type=hidden name=casekeys value="%OPRWEB06.03.101">
<input type=hidden name=jmphflag value="%OPRWEB06.03.224">
</form>

<span id=PostMBS style="display:none">
    <input type=button value="Accept MBS Codes" class=smallbutton name=postprov
     onclick="postProv();">
</span>

<span id=PostMBSBlank style="display:none">
   <input type=hidden name=postprov value="%OPRWEB06.03.213">
</span>

<script type="text/javascript">
if ("%OPRWEB06.03.212" == "1") {
  document.UpdateForm.d_theacomp.checked="1";
}

function SessCaseList() {
  location.href=PatientLinks.sesskeys.value
}
</script>

<form id="provMBSForm" method=get action=oprweb06.pbl style="margin:0">
  <input type=hidden name=reportno value="3">
  <input type=hidden name=template value="001">
  <input type=hidden name=updatety value="V">
  <input type=hidden name=admissno value='%OPRWEB06.03.081'>
  <input type=hidden name=casekeys value="%OPRWEB06.03.101">
  <input type=hidden name=teamnumb value='%OPRWEB06.03.205'>
  <input type=hidden name=oppmb002 value="%OPRWEB06.03.203">
  <input type=hidden name=theacomp value="">
  <input type=hidden name=redirect value="oprweb06.pbl?reportno=3&template=004">
  <input type=hidden name=nextpage value="1">
</form>

<form  name=DeleteForm method=post action=oprweb06.pbl>
<input type=hidden name=reportno value="3">
<input type=hidden name=updatety value=" ">
<input type=hidden name=casekeys value="%OPRWEB06.03.101">
<input type=hidden name=teamnumb value="%OPRWEB06.03.201">
<input type=hidden name=oppmb002 value="%OPRWEB06.03.203">
<input type=hidden name=oncology value="%OPRWEB06.03.206">
<input type=hidden name=admissno value="%OPRWEB06.03.081">
<input type=hidden name=irectype value="%OPRWEB06.03.208">
<input type=hidden name=trannumb value="%OPRWEB06.03.209">
<input type=hidden name=uniqueky value="%OPRWEB06.03.210">
<input type=hidden name=redirect value="">
</form>
