<meta name="TemplateVersion" content="V12.01.00">
<meta name="TemplateHome" content="stv">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/patweb7802.js"></script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);AddConsSTV();">
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
 Add Consultation Details                      
</span>
<form name=UpdateForm id=UpdateForm action=patweb78.pbl method=post
 style="margin:0">
<input type=hidden name=reportno id=reportno value=2>
<input type=hidden name=template id=template value=004>
<input type=hidden name=urnumber id=urnumber value="%PATWEB78.02.003">
<input type=hidden name=admissno id=admissno value="%PATWEB78.02.081">
<input type=hidden name=updttype id=updttype value="A">
<input type=hidden name=strtdate id=strtdate value="%PATWEB78.02.211">
<input type=hidden name=stopdate id=stopdate value="%PATWEB78.02.207">
<input type=hidden name=dispspec id=dispspec value="%PATWEB78.02.214">
 
<div id=PageHeadingSection>
<table width=90% border=0 cellpadding=1 cellspacing=0 align=center>
  <tr><td class=DataLabel>Referring Consultant
      <td class=DataField>
        <input type=text name=ptcrc001 id=ptcrc001 size=6 maxlength=6
         value="%PATWEB78.02.202.001" readonly class=Readonly>
        <input type=text name=name_ptcrc001 id=name_ptcrc001 size=22 maxlength=30
         value="%PATWEB78.02.202.081" readonly class=Readonly></td></tr>

  <tr><td class=DataLabel>Referred Consultant
      <td class=DataField>
        <input type=text name=ptcrc002 id=ptcrc002 size=6 maxlength=6
         value="%PATWEB78.02.203.001" readonly class=Readonly>
        <input type=text name=name_ptcrc002 id=name_ptcrc002 size=22 maxlength=30
         value="%PATWEB78.02.203.081" readonly class=Readonly></td></tr>

  <tr><td class=DataLabel><span id=SpecialityLbl></span></td>
      <td class=DataField><span id=SpecialityVal></span></td></tr>

  <tr><td class=DataLabel>Comments
      <td class=DataField>
        <input type=text name=ptcrc004 id=ptcrc004 size=40 maxlength=40
         value="%PATWEB78.02.218" readonly class=Readonly></td></tr>

</table>
</div>

<br>

<div id=PageBodySection>
<table width=95% border=1 cellpadding=0 cellspacing=0 align=center>
<tr><td class=HeadingCell colspan=3 align=center>New Consultations</td></tr>
<tr><td class=HeadingCell align=center width=30%>&nbsp;Date</td>       
    <td class=HeadingCell align=center width=20%>&nbsp;Time Spent</td>
    <td class=HeadingCell align=center width=50%>&nbsp;Service Code</td></tr> 
</table>

<div id=NewConsDetails></div>

<div id=ButtonSection>
<table width=90% border=0 align=center>
<tr><td><hr></td></tr>
<tr><td align=center>
    <input type=button value="Add" class="button" 
     onclick='UpdateDetails()'>
    <input type=button value="Cancel" class="button" 
     onclick='DFrameCloseRefresh()'>
</td></tr>
</table>
</div>

</div>
</form>

<span id="spSpecLbl" style="display:none">Speciality</span>
<span id="spSpecVal" style="display:none">
  <select name=ptcrc008 id=ptcrc008 title="Speciality" >
    <option> </option>
    %PATWEB78.02.215.2
  </select>
</span>

<script type="text/javascript">
  PageBodySection.style.height=document.body.clientHeight - 
                             PageHeadingSection.clientHeight; 

  var hDispSpec = document.getElementById('dispspec');
  if (hDispSpec.value == '1') {
    var spLbl = document.getElementById('spSpecLbl');
    var spVal = document.getElementById('spSpecVal');
    var SpecLbl = document.getElementById('SpecialityLbl');
    var SpecVal = document.getElementById('SpecialityVal');

    if (spLbl && spVal && SpecLbl && SpecVal) {
      SpecLbl.innerHTML = spLbl.innerHTML;
      SpecVal.innerHTML = spVal.innerHTML;
      spVal.innerHTML = "";
    }
  }
</script>

<form name=PatientLinks id=PatientLinks method=get>
<input type=hidden name=reportno value=2>
<input type=hidden name=template value=004>
<input type=hidden name=urnumber value="%PATWEB78.02.003">
<input type=hidden name=admissno value="%PATWEB78.02.081">
<input type=hidden name=MenuType value="%PATWEB78.02.088">
</form>
